[2022-10-25 06:42] #11515 closed, assigned to chenhaonan313

[2022-10-25 06:45] EricGao888 commented on #11492
I'm closing it at this moment because the format of SQL provided by `spotless` using `dbeaver` style seems not favored by some developers. Will reopen it when `spotless` supports a prettier SQL formatting.

[2022-10-25 06:45] #11492 closed, assigned to EricGao888

[2022-10-25 06:49] EricGao888 commented on #11465
@WangJPLeo May I ask whether we are going to add this patch in 3.0.2? If not, I will update the milestone to 3.0.3. Thanks

[2022-10-25 06:53] #12259 closed, assigned to nobody

[2022-10-25 06:54] EricGao888 commented on #6766
Seems that this issue has been one year. Need to verify whether this bug still exists. If not, I will close it. Thanks : )

[2022-10-25 06:55] EricGao888 commented on #8031
Closed due to inactivity.

[2022-10-25 06:55] #8031 closed, assigned to huahuacheng

[2022-10-25 06:57] EricGao888 commented on #11399
Closed due to inactivity.

[2022-10-25 06:57] #11399 closed, assigned to nobody

[2022-10-25 06:58] EricGao888 commented on #11399
Will reopen it if there are follow-ups / updates.

[2022-10-25 06:59] EricGao888 commented on #11381
Seems not related to ds.

[2022-10-25 06:59] #11381 closed, assigned to WholeWorld-Timothy

[2022-10-25 07:03] EricGao888 commented on #11243
@zhongjiajie May I ask whether we are going to do this in 3.0.2? What about putting it to 3.0.3?

[2022-10-25 07:04] EricGao888 commented on #11397
Closed due to comments above.

[2022-10-25 07:04] #11397 closed, assigned to Tianqi-Dotes

[2022-10-25 07:11] #12439 closed, assigned to Radeity

[2022-10-25 07:36] EricGao888 commented on #10291
@mrhaoqi May I ask whether there are any updates for this issue?

[2022-10-25 07:45] EricGao888 commented on #11196
@JinyLeeChina Hi, may I ask whether you are going to do this in 3.0.2? If not, I will put it into 3.0.3. Thanks : )

[2022-10-25 07:47] EricGao888 commented on #11111
Closed due to inactivity. Will reopen it if there are follow-ups.

[2022-10-25 07:47] #11111 closed, assigned to nobody

[2022-10-25 07:53] muggleChen opened #12522 "[Improvement][script] Add installPath verification for install.sh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When installing dolphinscheduler, execute script/install.sh
If the installPath in script/env/install_env.sh is the same as the directory where the current script executes script/install.sh, the files in the instal

[2022-10-25 07:56] EricGao888 commented on #11104
Closed due to inactivity. Will reopen it if there are updates. Thx : )

[2022-10-25 07:56] #11104 closed, assigned to nobody

[2022-10-25 08:00] EricGao888 commented on #10809
@caishunfeng May I ask whether we should cherry-pick #11350 for 3.0.2? Thx : )

[2022-10-25 08:01] EricGao888 commented on #10808
Solved by https://github.com/apache/dolphinscheduler/issues/10808#issuecomment-1198755028

[2022-10-25 08:01] #10808 closed, assigned to lizhongshuai

[2022-10-25 08:28] EcoleKeine opened #12524 "[Bug] [backend] "The current feature is disabled." when authorize resource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Error: "The current feature is disabled." when using Resource Authorize

### What you expected to happen

-

### How to reproduce

-

### Anything else

please check this code (1/4): https://github.com/apache/dolphinschedule

[2022-10-25 08:37] brave-lee commented on #11196
OK, let me check

[2022-10-25 08:46] lazybird23 opened #12525 "[BUG] not show anything when edit process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[ERROR] 2022-10-25 08:32:56.876 +0000 org.apache.dolphinscheduler.api.controller.ProcessDefinitionController:[737] - 批量导出工作流定义错误
java.lang.RuntimeException: Object json deserialization exception.
        at org.apache.dolphi

[2022-10-25 09:54] SbloodyS commented on #12524
This is not a bug. Please read the document carefully.
`https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/resource/configuration.html`

[2022-10-25 09:54] #12524 closed, assigned to nobody

[2022-10-25 10:29] songjianet commented on #11198
This task has been placed in the community for a while, and there are still no developers willing to contribute. For this reason, I will disassemble the requirements of this part and make a simplified version of the implementation. Please check https://github.com/apache/dolphinscheduler/issues/12526.

[2022-10-25 10:33] songjianet opened #12526 "DSIP-20: Basic version of the dynamic task component (only implements a required field in a Shell component)."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1. Create a new `DAG` canvas and develop it in a compatible way to ensure that the existing implementation can still run normally;
2. Added the switch of development mode (dynamic task component) in the system set

[2022-10-25 10:34] xfworld opened #12527 "[Bug] [service.expand] submit task error java.lang.NullPointerException: null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

`
[INFO] 2022-10-25 18:20:00.719 +0800 org.apache.dolphinscheduler.server.master.runner.WorkflowExecuteRunnable:[687] - [WorkflowInstance-66][TaskInstance-0] - workflowStatue changed to :INITIALIZE_DAG
[INFO] 2022-10-25 18:2

[2022-10-25 11:02] lordk911 opened #12528 "[Improvement] [logger-server] when config log base path out of dolphinscheduler install path, can't see task log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler 2.0.7

I install dolphinscheduler on path : /data/dolphinscheduler , and change the logback-*.xml's log.base as /data/dolphinscheduler-log.

then when I try to view the log detail , logger-server will throw

[2022-10-25 11:04] lordk911 commented on #12528
org/apache/dolphinscheduler/server/log/LoggerRequestProcessor.java line:150
[code]

which force log dir can only be under dolphinscheduler install path

[2022-10-25 11:05] EcoleKeine commented on #12524
@SbloodyS
Are you sure?
if not functionDisabled then FUNCTION_DISABLED Error?

and would you point out which configuration? thank.

[2022-10-25 14:21] DarkAssassinator commented on #12527
hi @xfworld ， this PR:https://github.com/apache/dolphinscheduler/pull/12419 may has fixed this case

[2022-10-26 00:34] DarkAssassinator commented on #12516
hi @luckyboy2226, may i know your zk version?

[2022-10-26 01:21] luckyboy2226 commented on #12516
3.4.6

[2022-10-26 01:33] luckyboy2226 commented on #12516
I tried to build a new zk cluster, and install the dolphinscheduler cluster with the configuration of zkRoot=${zkRoot:-"/dolphinschedulerV310"}, but when viewing the directory of the zk service, although the ds cluster can run normally, but viewing the zk directory , the displayed directory name is "dolphinscheduler" (as shown below)

<img width="572" alt="image" src="https://user-images.githubuse

[2022-10-26 03:39] #12518 closed, assigned to DarkAssassinator

[2022-10-26 03:52] #12469 closed, assigned to DarkAssassinator

[2022-10-26 04:47] Narcasserun opened #12535 "[Feature][datasource plugin] Add new datasource plugin for apache Kyuubi"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Kyuubi is a high-performance universal JDBC and SQL execution engine. The goal of Kyuubi is to facilitate users to handle big data like ordinary data.

It provides a standardized JDBC interface with easy-to-use da

[2022-10-26 04:50] Narcasserun commented on #12535
If possible, I am  willing submit  a pr

[2022-10-26 04:50] Narcasserun commented on #12535
If possible, I am  willing submit  a PR

[2022-10-26 05:50] jieguangzhou commented on #12535
Hi @Narcasserun  , I have assigned you and look forward to your code

[2022-10-26 05:53] #10495 closed, assigned to EricPyZhou

[2022-10-26 06:11] rickchengx opened #12536 "[Improvement][k8s] Support the command for the container in k8s task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support the command for the container in k8s task plugin

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](

[2022-10-26 06:37] beihai0xff opened #12539 "[Bug] [dolphinscheduler-standalone-server docker image] Could not open login page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler-standalone-server docker image 3.1.0
OS: apple M1, Ubuntu 22.04 x86-64
after docker run the image dolphinscheduler-standalone-server, I can not open the login page, it is a blank page like this:
![image](htt

[2022-10-26 07:02] SbloodyS commented on #12539
Can you provide more detail logs of `standalone-server` through `docker logs xxx`? @beihai0xff

[2022-10-26 07:40] xfworld commented on #12527
3Q~
wait to  publish new version....

[2022-10-26 07:40] #12527 closed, assigned to nobody

[2022-10-26 08:08] DarkAssassinator commented on #12516
Ok, i will check this case

[2022-10-26 08:11] #12429 closed, assigned to hstdream

[2022-10-26 08:19] beihai0xff commented on #12539
[code]

[2022-10-26 08:23] beihai0xff commented on #12539
[code]

[2022-10-26 09:31] Sky-Gu opened #12544 "[Bug] [Module Name] datax task nodes, custom parameters are required"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After upgrading from 3.0.0 to 3.1.0, the datax task node must be populated with user-defined parameters or an error will occur

### What you expected to happen

Custom parameters are not typed and do not force parsing

### H

[2022-10-26 10:09] LiJie20190102 commented on #12528
@SbloodyS
Excuse me, if you remove this code, will it have any impact?
![image](https://user-images.githubusercontent.com/53458004/197999401-637a3c2e-9d2c-4c1a-8373-d70cc990659a.png)

[2022-10-26 10:14] MarsXDM opened #12548 "[Improvement][ui] Scheduled task can be automatically online when saving workflow modification."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I want to modify the workflow, it will turn off the workflow manually and schedule tasks automatically.
After saving the workflow modification, It can check the online workflow but needs to perform the schedu

[2022-10-26 11:18] #12470 closed, assigned to DarkAssassinator

[2022-10-26 11:21] mengfeiMonica opened #12551 "[Feature][gitOps] Integration github for better CICD"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/15820530/198019391-7e901a90-b8cf-40e5-9f5f-119b6936c8fb.png">

#### precondition

* Separation of production and development environment

[2022-10-26 11:24] caishunfeng commented on #12528
Because it will cause a security problem, and users can read any file if no limit.

[2022-10-26 11:54] DarkAssassinator commented on #12516
hi @luckyboy2226, please check the following root causes.
**1. Why DS will throw this exception?**
A: Becuase you're using the wrong combination of `Zookpeeper` in combination with `Curator`. And ZooKeeper 3.4.x is now at EOL. And the latest versions of Curator have removed support for it. So i suggest that u should update your zk version or you should pin to version 4.2.x of Curator. Curator 4.2.

[2022-10-26 12:49] ruanwenjun commented on #12399
@yyccww123 We need to refactor the alert content I find we have two kinds of alert content: `ProcessAlertContent`, `ProcessAlertContent`, we can create a base AlertContent interface, and all alert content implement this interface, then we can only translate the alertContent in alert plugin, the alert plugin instance can build their own content.

[2022-10-26 12:58] DarkAssassinator commented on #12544
hi @Sky-Gu , it will throw a NPE?

[2022-10-27 01:36] #12277 closed, assigned to Tianqi-Dotes

[2022-10-27 02:03] liuzx8888 commented on #12544
`sbr.append(addCustomParameters(paramsMap));`  这个代码导致的，我也遇到了这个问题，如果不设置就会报NULL错误，他这个强制加上自定义参数的逻辑并没有对自定义参数是否为空做判断，也不是每个datax的job 都需要自定义参数。

[2022-10-27 02:07] lordk911 commented on #12528
if task logs can only under dolphin intall path ,  each time after upgrade dolphin , it's hard to reach the history task log.

[2022-10-27 02:09] Sky-Gu commented on #12544
@DarkAssassinator ,The situation is as described by @liuzx8888 , the task node throw a NPE

[2022-10-27 02:15] Tianqi-Dotes opened #12555 "[Doc][ALERT] Missing Slack alert doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Missing Slack alert doc

### Documentation Links

https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/guide/alert/enterprise-webexteams.html

### Are you willing to submit a PR?

- [X] Yes I am willing

[2022-10-27 02:29] lordk911 opened #12556 "[Bug] [dolphinscheduler-server] dependent task faild when the be depended on work flow have conditions task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphin version 2.0.7

work flow fA have condition task cA, it have two conditions when true run task c , when false run task d, and c、d all point to e, so fA should always success.
work flow fB depended on fA of all.
then w

[2022-10-27 02:29] pandong2011 commented on #12525
Hello, can you provide more details on reproducing bugs through pages or other application channels, thx

[2022-10-27 02:37] lordk911 commented on #12556
cc @JinyLeeChina

[2022-10-27 02:48] jieguangzhou commented on #12556
Hi, can you change the name of the task in the description? It looks a bit confusing

[2022-10-27 03:05] Sky-Gu opened #12557 "[Bug] [Module Name] Scheduled scheduling failure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If a workflow is upgraded from 3.0.0 to 3.1.0 and global parameters are set, the scheduled scheduling of the workflow fails。

### What you expected to happen

A scheduled task can be executed properly

### How to reproduce

[2022-10-27 03:32] lordk911 commented on #12556
if description looks confusin, just look the picture, I think it is clear enough, and easy to reproduce enough.

[2022-10-27 03:42] jieguangzhou opened #12559 "[Doc][BUG] Documentation bug lead to CI error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1561" alt="image" src="https://user-images.githubusercontent.com/31528124/198186086-0aedcfd6-78d2-41da-aa57-4f272398846e.png">

### Documentation Links

_No response_

### Are you willing to submit a P

[2022-10-27 03:55] lordk911 opened #12561 "[Bug] [dolphinscheduler-server] dependent task keep retry even there is runtime exception thow out"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

upgrade from 2.0.5 to dolphin 2.0.7

![image](https://user-images.githubusercontent.com/19989300/198186299-4fd65dd6-d8b7-4d5a-8bfa-d954d9219a3a.png)

the task submit 02:35 , and keep retry even there is runtime exception tho

[2022-10-27 04:15] zhuangchong commented on #12557
This issue has been resolved in pr #12419, I will close this issue, if you still have problems, you can open this issue again.

[2022-10-27 04:15] #12557 closed, assigned to Sky-Gu

[2022-10-27 04:19] zhuangchong commented on #12544
I think the problem you reported and the problem fixed by this pr #12388 are the same, please confirm.

[2022-10-27 04:41] #12559 closed, assigned to jieguangzhou

[2022-10-27 05:20] Sky-Gu commented on #12557
@zhuangchong Is there a way to temporarily handle the problem?  The current situation would result in abandoning version 3.1.0 and falling back to version 3.0.0

[2022-10-27 06:01] EricGao888 opened #12563 "[Improvement][Security] Enable authentication for metrics url"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, users could get the list of DS metrics without login by sending a get request to `http://ip:12345/dolphinscheduler/actuator/prometheus`, which may lead to potential security problems.

### Are you wil

[2022-10-27 06:12] brave-lee commented on #12556
In version 2.0.6 and 2.0.7, depending on the workflow, all tasks in the workflow are required to be completed by default rather than some tasks. If the workflow is only successful, other types are required, refer #11970

[2022-10-27 06:26] Sky-Gu commented on #12544
@zhuangchong    It's the same question

[2022-10-27 06:44] Sky-Gu opened #12565 "[Bug] [Module Name] Flink on yarn. When a flink task is cancelled, the yarn task cannot be cancelled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When a flink task is cancelled, the task process on linux is killed, but the task on yarn cannot be cancelled.

### What you expected to happen

yarn task synchronization is cancelled

### How to reproduce

1. create a flink

[2022-10-27 06:46] caishunfeng commented on #9550
Hi, @liqingwang is there any update of this feature?

[2022-10-27 06:53] qingwli commented on #9550
Hi @caishunfeng , Yes We have finished the feature and now we are upgrading our platform to 3.1.0 and front part rewrite, after that we will plan to open a pr.

[2022-10-27 06:58] lordk911 commented on #12556
broken of backward compatibility shoud not apply on a 2.0.x (thirdly part change) version .

[2022-10-27 06:59] #12482 closed, assigned to wcmolin

[2022-10-27 07:06] zhuangchong commented on #12544
I closed this issue first.

[2022-10-27 07:06] #12544 closed, assigned to Sky-Gu

[2022-10-27 07:08] zhuangchong commented on #12557
There are two ways:
1. cherry-pick this pr to the 3.1.0 branch for packaging;
2. directly use the 3.1.1-prepare branch to package;

[2022-10-27 07:13] #12314 closed, assigned to gwdgithubnom

[2022-10-27 07:29] Sky-Gu commented on #12557
Thanks for the support, temporarily rollback to version 3.0.0. Look forward to the next release.

[2022-10-27 07:47] zhuangchong commented on #12557
Version 3.1.1 will be officially released in early November.

[2022-10-27 08:15] Sky-Gu commented on #12565
HttpUtils.get() does not support the http status code: 307 redirection operation. As a result, it cannot be used properly in Aliyun EMR.

The EMR service performs secondary directional operations on the HA ip address

[2022-10-27 08:30] caishunfeng commented on #12308
Hi @hstdream is there any update of this issue?

[2022-10-27 08:34] #12490 closed, assigned to hstdream

[2022-10-27 09:28] hstdream commented on #12308
I used sparksql test here and found no problems.
<img width="436" alt="1666862683515" src="https://user-images.githubusercontent.com/33045461/198247388-9ed02411-56fe-47ca-b605-79605a645ecd.png">
<img width="438" alt="1666862694213" src="https://user-images.githubusercontent.com/33045461/198247406-4347f6eb-8caa-41e6-b0a7-af4f52665d78.png">
<img width="551" alt="1666862769019" src="https://user-imag

[2022-10-27 09:39] wcmolin opened #12568 "[Bug] [Master] The retry task was submitted in advance will block other task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version 2.0.7

The retry task was submitted in advance will block other task, because it was not removed from readyToSubmitTaskQueue

### What you expected to happen

should not block the submission of other tasks

### How t

[2022-10-27 09:41] wcmolin commented on #12568
Hi @JinyLeeChina, please take a look #12291

[2022-10-27 10:04] caishunfeng commented on #11827
+1, agree with @hstdream

[2022-10-27 10:11] brave-lee commented on #12568
OK, let me test it

[2022-10-27 10:16] lordk911 commented on #12561
- the root reason is **https://github.com/apache/dolphinscheduler/issues/8790#issuecomment-1098620438**

- the [https://dolphinscheduler.apache.org/zh-cn/docs/release/faq.html](url) about : `Q：Update process definition error: Duplicate key TaskDefinition`  **method can't resolve this scenario**

two way to resove this issue maybe :

1.  https://github.com/apache/dolphinscheduler/blob/873cbc75c6dc9

[2022-10-27 10:20] SbloodyS commented on #11827
+1

[2022-10-27 10:20] SbloodyS commented on #11827
Sure.

[2022-10-27 10:31] caishunfeng commented on #12308
Is this test in 3.0.1? I found the ui is defferent.
![image](https://user-images.githubusercontent.com/11962619/198261847-ce14a3a7-1387-4e40-a74a-b2d2aafbe44e.png)

[2022-10-27 11:04] SmallConchs opened #12569 "[BUG][Resource Center]shell script sava failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I create a workflow instance or create a shell resource, I occasionally fail to save some scripts
![image](https://user-images.githubusercontent.com/37462425/198266939-105a7216-cd96-4a62-84bc-7c1b0cb5c324.png)
Descripti

[2022-10-27 14:49] hstdream opened #12573 "[Bug][API]edit workflow query resources list error."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

edit workflow error.
![1666881993890](https://user-images.githubusercontent.com/33045461/198321625-69a95dd0-3e83-4044-8fad-3368547bf8fa.png)

log:
ERROR] 2022-10-27 22:26:50.449 +0800 org.apache.dolphinscheduler.api.exceptio

[2022-10-27 14:53] hstdream opened #12574 "[Bug] [UI] Chinese appeared in English environment."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Chinese appeared in English environment.

![1666882268128](https://user-images.githubusercontent.com/33045461/198322976-03edcd3c-8b90-4b79-8d96-32392f7cbdcb.png)

### What you expected to happen

English appeared in English

[2022-10-27 15:03] madaima opened #12575 "[Bug] [BUILD] Docker image construction failure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

An error occurs when I run the following command：
.`/mvnw -B clean package \
       -Dmaven.test.skip \
       -Dmaven.javadoc.skip \
       -Dmaven.checkstyle.skip \
       -Ddocker.tag=3.2.0 \
       -Pdocker,release`

![U

[2022-10-28 01:02] SmallConchs commented on #12569
dolphinscheduler 2.0.6 v

[2022-10-28 01:05] stalary commented on #12574
Please provide your version~

[2022-10-28 01:23] luckyboy2226 commented on #12516
I understand, thanks for your professional reply

[2022-10-28 01:27] jieguangzhou opened #12578 "[Feature][Resource Center] Slice and buffer write for large data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Slice and buffer for large data upload and download

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

[2022-10-28 01:28] jieguangzhou commented on #12578
_Originally posted by @Radeity in https://github.com/apache/dolphinscheduler/pull/12552#discussion_r1005758921_

[2022-10-28 01:36] prompt-bot opened #12579 "[Bug] [UI] Download resource return 401 page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

download this file will redirect to new page with 401 status code

### What you expected to happen

This is because the new page does not carry the sessionid header
I will fix it in a new pr

### How to reproduce

- upload a

[2022-10-28 01:43] hstdream commented on #12574
dev

[2022-10-28 01:47] songjianet commented on #12579
Does this problem exist in dev and 30x. @ntfs32

[2022-10-28 01:48] prompt-bot opened #12580 "[Improvement] [common] Configure the s3 access permission list buckets"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Configure the s3 access permission list buckets

### What you expected to happen

Configure the s3 access permission list buckets

### How to reproduce

Configure the s3 accessid，and secret without permission to list buckets

[2022-10-28 02:06] Radeity commented on #12578
If others think it meaningful, i'd like to take over it and give a design first in few days. Any suggestions are welcome!

[2022-10-28 02:15] ljl0303 opened #12581 "sql component garbled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

ds2.0.6 mysql5.7 使用sql组件,查询带有例如select "中文";结果乱码,更换mysql8不乱码

### What you expected to happen

乱码肯定是不对的

### How to reproduce

mysql5.7使用sql组件,select内直接使用中文常量

### Anything else

每次

### Version

2.0.x

### Are you willing to

[2022-10-28 02:26] fourSheep8X opened #12582 "[Bug] [Log] query task instance detail log anomaly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I view task instance logs，this modal dialog displays the exception information。
And then it kept repeating the same request：

![ds_3 1 0_bug](https://user-images.githubusercontent.com/10162605/198465640-ba36c568-f207-4d

[2022-10-28 02:27] Tianqi-Dotes opened #12583 "[Bug] [ALERT] Need to upgrade Slack alert plugin code due to Slack official changes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Slack changes its webhook call functions, changing from a customized integration slackbot webhook to APP webhook.
And it no longer supports the markdown table format, which means slack cannot properly display the markdown ta

[2022-10-28 02:35] qingwli commented on #9550
Hi @caishunfeng , I remember that last meeting we talk about the spark job on k8s, and our solution is using the operation to manage the spark k8s job, and some people have some opinions about this piece, we want to know what's their attitude.

[2022-10-28 03:00] hstdream commented on #12582
Please provide the steps to reproduce.

[2022-10-28 03:04] hstdream commented on #12308
I use 3.0.1 to test again.

[2022-10-28 03:52] #12579 closed, assigned to prompt-bot

[2022-10-28 03:54] songjianet commented on #12574
Does this problem exist in 30x and 310. @hstdream

[2022-10-28 05:45] hstdream commented on #12308
The problem reproduce in 3.0.2.     I will try to fix this problem.

[2022-10-28 05:46] hstdream commented on #12308
<img width="560" alt="1666935967489" src="https://user-images.githubusercontent.com/33045461/198512190-b48f7e37-d628-40f3-9dee-164750004873.png">

[2022-10-28 06:00] hstdream opened #12585 "[Bug][script] When starting the service, should determine whether the service exists."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="289" alt="0c5fe5b2e0413612feb7ea5ccd114eb" src="https://user-images.githubusercontent.com/33045461/198513901-e06875dc-b560-495d-91b3-37cf96585d27.png">

### What you expected to happen

sh dolphinscheduler-daemon

[2022-10-28 06:01] wcmolin opened #12586 "[Bug] [Master] Repeat running the complement process instance will generate redundant complement instances"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I perform a repeat running operation on a complement instance, redundant complement instances are generated.

### What you expected to happen

I selected the complement date from the 25th to the 28th, a total of 4 days,

[2022-10-28 06:01] wcmolin commented on #12586
cc @JinyLeeChina

[2022-10-28 06:05] hstdream commented on #12586
which version.

[2022-10-28 06:10] wcmolin commented on #12586
2.0.6

[2022-10-28 06:16] hstdream commented on #12586
Do you want to submit a PR?

[2022-10-28 06:21] flyysoul commented on #12582
I`m sorry I can`t reproduce that now .I will close it.

[2022-10-28 06:23] fourSheep8X commented on #12582
I'm sorry I can't reproduce it now. I will close it.

[2022-10-28 06:25] #12582 closed, assigned to nobody

[2022-10-28 06:31] fuchanghai opened #12589 "[Bug] [API] when i on-line process definition,the associated schedule is still offline."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

- when i off-line  process definition,the  associated schedule will be taken offline,but when i on-line  process definition,the  associated schedule is still offline.

### What you expected to happen

 when i on-line  proces

[2022-10-28 06:39] mobiuschh opened #12590 "[Bug] [data-quality] Data quality task can't run"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/116867001/198519740-fb5d05b8-220c-4db8-9f89-d33d4306a8b8.png)
![image](https://user-images.githubusercontent.com/116867001/198519762-8e61bf41-af52-4f34-a03b-de3d3862478f.png

[2022-10-28 06:58] lazybird23 commented on #12525
case:  process A only one taskNode is shell, another process B one task dependent A process all node and another one will run waiting process A.
operate: i online A B process, A error B waiting A. then see process B  DAG but page show nothing.

eg:
processDefinition data:
INSERT INTO dolphinscheduler_3.t_ds_process_definition(id, code, name, version, description, project_code, release_state, user_

[2022-10-28 07:00] lazybird23 commented on #12525
![image](https://user-images.githubusercontent.com/20657712/198523638-d3abab9d-43a6-4db2-86bc-beebe5f96fe2.png)
![image](https://user-images.githubusercontent.com/20657712/198523876-9d9e9010-2c99-42d6-9ce7-bafe6c90370f.png)
![image](https://user-images.githubusercontent.com/20657712/198524072-105a6c9a-bc29-46ff-a128-c44ecf904579.png)

[2022-10-28 07:00] wcmolin commented on #12586
I will try to fix it

[2022-10-28 07:24] lordk911 commented on #12528
if user config log path out of dolphin install path , a soft link point to the path automatically create under install path , will this ok?

[2022-10-28 07:52] pandong2011 commented on #12590
Can you send more log information?

[2022-10-28 08:13] mobiuschh commented on #12590
[LOG-PATH]: /opt/dolphinscheduler/logs/20221028/7359692479072_2-17893-46126.log, [HOST]:  Host{address='dolphinscheduler-worker-2.dolphinscheduler-worker-headless:1234', ip='dolphinscheduler-worker-2.dolphinscheduler-worker-headless', port=1234}
[INFO] 2022-10-28 11:37:37.070 +0800 [taskAppId=TASK-20221028-7359692479072_2-17893-46126] TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.dq.

[2022-10-28 09:13] hstdream commented on #12574
dev

[2022-10-28 09:32] hstdream commented on #12590
Need to configure spark env.
<img width="572" alt="1666949544622" src="https://user-images.githubusercontent.com/33045461/198555206-64e09d39-594e-45a2-8ea0-6b208d7afca7.png">

[2022-10-28 09:35] hstdream commented on #11827
I will try to submit pr.  @caishunfeng @SbloodyS

[2022-10-28 10:00] mobiuschh commented on #12590
it seems so,thank you!

[2022-10-28 10:00] caishunfeng commented on #11827
Hi @DarkAssassinator do you work for this issue? If no, I will change the assignee.

[2022-10-28 10:00] mobiuschh commented on #12590
it seems so,thank you!

[2022-10-28 11:18] DarkAssassinator commented on #11827
hi @caishunfeng, just @hstdream comment that he will submit PR, please assign to him, thx

[2022-10-28 11:20] DarkAssassinator commented on #12516
you are welcome

[2022-10-28 11:21] DarkAssassinator commented on #12516
@SbloodyS, i think that we can close this issue. thx

[2022-10-28 11:22] DarkAssassinator commented on #12585
hi @hstdream, this issue same as https://github.com/apache/dolphinscheduler/issues/12109

[2022-10-28 11:26] SbloodyS commented on #12516
Sure. Thanks.

[2022-10-28 11:26] #12516 closed, assigned to nobody

[2022-10-28 14:31] zhuangchong commented on #12267
I will close this issue first, if you have questions, you can open it again.

[2022-10-28 14:31] #12267 closed, assigned to EricGao888

[2022-10-28 21:35] myyangdongyang opened #12602 "[Bug] [datax task error] datax cannot run tasks on version 3.1.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="781" alt="image" src="https://user-images.githubusercontent.com/102777139/198735765-634d9b99-25e6-473e-9fcf-14532656d748.png">
<img width="788" alt="image" src="https://user-images.githubusercontent.com/102777139

[2022-10-29 01:16] pandong2011 commented on #12602
This issue was fixed in 3.1.1-prepare branch and dev branch, associated with pr #12407 and pr #12388

[2022-10-29 04:12] wcmolin opened #12603 "[Bug] Dependency conditions for the last 24 hours of the dependent task did not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

As shown in the figure, the dependent shell node has been successfully executed, and the workflow where this dependent task is located has been outputting the log that the corresponding instance was not found

<img width="92

[2022-10-29 05:54] zhuangchong commented on #11803
repaired pr: #12467

[2022-10-29 06:38] calvinjiang opened #12604 "[Improvement][UI] When viewing a workflow definition support to view its all variables."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently The page of a workflow instance support view its all variables on the toolbar of its DAG. But  the page of a workflow definition doesn't support view its variables. This is really inconvenient. So It's i

[2022-10-29 07:57] QJG666 commented on #11635
Hello, I had the same problem with dolphin3.0.1. How do I adjust the memory and timeout parameters configured in zookeeper

[2022-10-29 08:00] xujiaqiang opened #12605 "[Improvement]Flink task lacks common functions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the actual development process, our developers found that the Flink type tasks lacked some common functions.

For example, you can view the status of the Yarn task, kill the process of Yarn, cheachpoint, savepo

[2022-10-29 14:02] caishunfeng commented on #9550
@liqingwang can you add some design detail of this feature, and send a discussion email to `dev@dolphinscheduler.apache.org`?

[2022-10-30 01:14] myyangdongyang commented on #12602
I was in the dev branch to recompile the packaging for the latest package: dolphinscheduler-dev/dolphinscheduler-task-plugin/dolphinscheduler-task-datax/target/dolphinscheduler-task-datax-dev-SNAPSHOT.jar. I replaced the dolphinscheduler-task-datax-3.01.jar package from version 3.1.0 with another issue

<img width="811" alt="image" src="https://user-images.githubusercontent.com/102777139/198858222

[2022-10-30 03:34] pandong2011 commented on #12602
yes, you need to manually build 3.1.1-prepare branch or dev branch, in other words build the entire jar

[2022-10-30 12:31] #12604 closed, assigned to calvinjiang

[2022-10-30 12:51] myyangdongyang commented on #12602
dolphinscheduler-worker services were unable to start after all jar replacement. Could you please tell us which jar packages were fixed? I only replace the specified jar package

[2022-10-30 14:24] ruanwenjun commented on #12605
Good feature, I add discussion lable.

[2022-10-31 02:13] evilhy opened #12611 "Upgrade documentation for kubernetes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There is no upgrade step for kubernetes, and most functions of the ui interface when directly updating the mirror version report query errors

### Documentation Links

https://dolphinscheduler.apache.org/zh-cn/doc

[2022-10-31 02:19] littleziao opened #12612 "[Bug] [Dependent] The imported process has no import dependencies on version 2.0.7"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After migrating the server, the process of the original 2.0.6 version is exported through the export function and imported in the current 2.0.7 version. The dependency definition in the process with the dependency is lost.

[2022-10-31 02:25] SbloodyS commented on #12586
I think the workflow of rerunning the complement will trigger the next complement workflow is a feature. Not a bug. cc @caishunfeng @zhongjiajie @EricGao888 @ruanwenjun @JinyLeeChina

[2022-10-31 02:28] SbloodyS commented on #12575
The 3.2.0 has not been released yet.

[2022-10-31 02:36] SbloodyS commented on #12580
Hi @ntfs32 , The `S3Utils.java` in `dev` branch is https://github.com/apache/dolphinscheduler/blob/489e7fe4e2d980031c91eac2a4823b9f1713659a/dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/storage/impl/S3Utils.java#L409

I've assigned to you. Looking forward to your contribution. ^_^

BTW, I think it's a improvement. Not a bug.

[2022-10-31 02:42] SbloodyS commented on #12589
It's a new feature. Why this is a bug?

BTW, This also involves user interaction process in the UI. Please provide design documents.

[2022-10-31 02:44] #12590 closed, assigned to nobody

[2022-10-31 03:22] ztyoung86 opened #12615 "[Bug] [api-server] Ordinary users can only access the 'default' worker group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

An ordinary user can only choose the default worker group when he starts a workflow, even though there're several worker groups created in "Worker Group Manage" page.

this problem happened when I upgrade from 3.0.1 to 3.1.0

[2022-10-31 04:28] zhuangchong commented on #12615
This issue has been fixed in pr #12411 and the community is ready to release version 3.1.1 in early November.

I will close this issue first, if you still have questions, you can open this issue.

[2022-10-31 04:28] #12615 closed, assigned to nobody

[2022-10-31 04:34] zhuangchong commented on #12602
This issue has been fixed in pr #12388 and the community will release version 3.1.1 in early November. I will close this issue first, if you still have questions, you can open this issue again.

[2022-10-31 04:34] #12602 closed, assigned to nobody

[2022-10-31 04:35] zhuangchong commented on #12602
dolphinscheduler-task-datax-${version}.jar

[2022-10-31 05:51] Zokerman commented on #8820
@wujb315 求解，如何解决这个问题的

[2022-10-31 07:38] dpengpeng opened #12619 "[Feature][Flink/Spark Operator] Flink/Spark Operator on Kubernetes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now, Flink and Spark has native Kubernetes integration ability by Flink/Spark Operator. So, ds also can provide this Operator Mode to use Flink/Spark on Kubernetes.For more detail information ,you   can click this

[2022-10-31 08:44] tracehh opened #12621 "[Improvement] [ApiServer] Task defination list paging sorted by updateTime not effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

List task defination and sorted  by update time not effect

### What you expected to happen

List task defination and sorted by update time

### How to reproduce

List task defination and look

### Anything else

_No respons

[2022-10-31 08:52] #11262 closed, assigned to Radeity

[2022-10-31 09:07] SbloodyS commented on #12619
cc @kezhenxu94 @nobolity

[2022-10-31 09:08] SbloodyS commented on #12621
It's a improvement. Why this is a bug?

[2022-10-31 09:33] rickchengx opened #12623 "[Improvement][Permission] Remove the unused projectIds in operationPermissionCheck()"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Remove the unused projectIds in operationPermissionCheck()

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct

[2022-10-31 11:06] #12536 closed, assigned to rickchengx

[2022-11-01 00:30] #12122 closed, assigned to eyeryone

[2022-11-01 01:44] hkun0120 opened #12629 "ds3.0.0 ,why worker-server register zkserver using hostname,rather than ip？ [Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

ds3.0.0 ,why worker-server register zkserver using hostname,rather than ip？

### What you expected to happen

registry ip，not hostname

### How to reproduce

i don't exactly describe

### Anything else

_No response_

### Ve

[2022-11-01 01:49] #12555 closed, assigned to Tianqi-Dotes

[2022-11-01 02:42] zhongjiajie commented on #12427
Do you need any help @frouhi? Are you still WIP in this issue?

[2022-11-01 03:18] RuiFG commented on #10904
I'd like to join this discussion.

# init
1. write Dockerfile to workspace and add extra data
2. pull flink base image
3. build job image with current workspace
4. push job image to the docker registry
# handle
1. check kubernetes has the same app name
2. start flink application mode through `ShellCommandExecutor`
3. waiting for kubernetes deployment ready
4. listening kubernetes event and process

[2022-11-01 03:22] hkun0120 commented on #12629
<img width="1295" alt="WechatIMG12" src="https://user-images.githubusercontent.com/3326406/199151684-e957d74b-426f-47ec-97a5-f15754479722.png">
this is the configure

[2022-11-01 04:03] hkun0120 commented on #12629
zookeeper verison is 3.4.14

[2022-11-01 04:15] EricGao888 commented on #12359
@xdu-chenrj May I ask which PR closes this issue? Seems PR not linked.

[2022-11-01 04:54] ruanwenjun commented on #12629
Which environment you deployed? k8s or docker or physical machine?

[2022-11-01 05:10] hkun0120 commented on #12629
k8s

[2022-11-01 05:17] hkun0120 commented on #12629
k8s

[2022-11-01 05:22] hkun0120 commented on #12629
My devlelop enviroment is correct ,registed worker-server by ip .but when the code running on the product Env,it changes to hostname.

[2022-11-01 05:22] hkun0120 commented on #12629
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/3326406/199164666-b7db1a02-373b-434b-bbad-476b62319005.png">
like this

[2022-11-01 05:58] xdu-chenrj commented on #12359
Sorry, I didn't follow the process. I didn't create an issue and chatted privately with the administrator. The problem has been solved

[2022-11-01 06:03] EricGao888 commented on #12359
I'm preparing for the 3.0.2 release, and this issue is tagged with 3.0.2 milestone, which means I need to cherry-pick the related PR. Could u plz link the PR to this issue, or just simply give me the PR number?

[2022-11-01 06:10] Amazingzzl commented on #11404
I have the same problem, how can I solve it

[2022-11-01 06:17] lenian commented on #9467
s I am willing to submit a PR

[2022-11-01 06:22] woshiwuxiaofei commented on #10102
this bug was fixed by #10237 and #10243? @zhongjiajie

[2022-11-01 07:25] hkun0120 commented on #12629
不明白为什么K8S要做成hostname。已解决。

[2022-11-01 07:25] #12629 closed, assigned to nobody

[2022-11-01 08:24] fhygh commented on #11913
没报错，就是不生效，还是明文显示 @pandong2011

[2022-11-01 08:59] #12109 closed, assigned to rickchengx

[2022-11-01 09:24] lenian opened #12640 "[Bug] [HttpTask] HttpTask Nested Json Parse Error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Http Request case：
url:    http://localhost:9093/test/submit
method:  post
param:
{
    "param": "select * from demo",
    "yarnApplicationName": "flink-sql-test",
    "jobName": "sql-test-01",
    "flinkConfiguration": {

[2022-11-01 10:11] caishunfeng commented on #9467
OK, I assign to you now @lenian , looking forward to your pr.

[2022-11-01 11:27] pandong2011 opened #12642 "[Bug] [UI] The navigation layout is not dynamically adapted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The navigation layout is not dynamically adapted, If the screen is small, the navigation becomes two lines

![navbar](https://user-images.githubusercontent.com/100667564/199221973-7ddecf7f-669b-4c7b-9d34-20033f9dfa8a.jpg)

#

[2022-11-01 11:28] pandong2011 commented on #12642
@songjianet

[2022-11-01 11:34] shangeyao opened #12643 "[Bug] [UI]Abnormal Page Display"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1184" alt="image" src="https://user-images.githubusercontent.com/42203474/199223876-a0abd845-b7fe-45ae-a402-cff23aaa7e10.png">

### What you expected to happen

The page can display normally.

### How to reproduc

[2022-11-01 11:41] pandong2011 opened #12644 "[Bug] [UI] Related bug fixes for the resource center are not incorporated into the dev branch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Related bug fixes for the resource center are not incorporated into the dev branch,These bugs were fixed in the 3.1.1-prepare branch and the 3.1.0-release branch

![resource_center_bug_dev](https://user-images.githubusercont

[2022-11-01 13:01] EricGao888 commented on #11638
WIP, no stale

[2022-11-01 14:13] frouhi commented on #12427
Thanks for following up @zhongjiajie,

I'm still waiting for approval from my organization to commit to this repo (this is an IP related requirement in the company I work for).

Can you maybe give me another week, if it doesn't come through I'll reach out to you. When it comes through, I think I have a general idea for the Java code causing this issue, but I'll confirm the details with you.

Thank

[2022-11-01 14:26] #12642 closed, assigned to songjianet

[2022-11-01 14:26] #12643 closed, assigned to songjianet

[2022-11-02 00:27] #12114 closed, assigned to DarkAssassinator

[2022-11-02 01:07] ruanwenjun commented on #11827
In fact, if you want to do this check, you need to scan all version workflow definitions, we don't need to do this check when there are Concurrent operations, this check is not safe.

[2022-11-02 01:09] yyccww123 opened #12649 "[Feature][UI] suggest add workflow monitor page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

suggest add workflow monitor page.
The current workflow instance shows all logs, It is not easy to monitor daily performance.
Displays the latest workflow running status by workflow monitor page, Displays the numb

[2022-11-02 01:58] rickchengx opened #12650 "[Improvement][Permission] Improve the check of resourcePermissionCheck()"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the check of resourcePermissionCheck()

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://ww

[2022-11-02 01:58] ruanwenjun commented on #12414
@jamescheng16 You can change your strategy to stop to skip this, I will fix this.
[code]

[2022-11-02 02:05] jamescheng16 commented on #12414
you mean fix this at feature version?
I would like to get Master or Worker recover from waiting, but I found that once the worker or master is down, it can't be recovered at version 3.1.0

[2022-11-02 02:06] jamescheng16 commented on #12414
@ruanwenjun
you mean fix this at feature version?
I would like to get Master or Worker recover from waiting, but I found that once the worker or master is down, it can't be recovered at version 3.1.0

[2022-11-02 02:38] ruanwenjun commented on #12649
Good suggestion, I add discussion lable.

[2022-11-02 03:20] #12623 closed, assigned to rickchengx

[2022-11-02 03:47] yyccww123 opened #12657 "[Feature][ui] in user manage ui page , suggest add tenant, worker group, alarm group in authorize's operation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

in user manage ui page , suggest add tenant, worker group, alarm group in authorize's operation.
sometimes a user need multi tenant.

### Use case

in user manage ui page , suggest add tenant, worker group, alarm

[2022-11-02 03:53] rickchengx opened #12658 "[Improvement][Permission] Improve the readability of setPerm() in grantProjectbyCode()"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the readability of setPerm() in grantProjectbyCode()

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Condu

[2022-11-02 03:55] jscene opened #12659 "[BUG] [HTTP TASK] Http parameter with placeholder not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Save Process Definition
Add Http Task Node，and add Http parameter with placeholder
(添加Http任务节点，并且添加占位符参数)

![image](https://user-images.githubusercontent.com/13428489/199390518-a60370ba-67e8-4707-b8a1-997c8a4bf0f8.png)
![ima

[2022-11-02 04:13] rickchengx opened #12661 "[Improvement][Permission] Remove the unused permisssion check methods in ProjectServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Remove the unused permisssion check methods in ProjectServiceImpl

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of

[2022-11-02 04:24] #12568 closed, assigned to wcmolin

[2022-11-02 06:06] #12414 closed, assigned to nobody

[2022-11-02 08:33] qianli2022 opened #12665 "[Feature][Api] When use api to run a process we want get processInstanceId"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

If this ID is obtained, the user can track the states of the task by it. processId cannot be used because multiple jobs may be triggered.There are two solutions.

One is to generate a preprocessInstance. This reco

[2022-11-02 10:05] #6586 closed, assigned to nobody

[2022-11-02 11:46] calvinjiang opened #12667 "[Improvement][UI] The search condition inputs in many pages lack the clearable button."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The search condition inputs in many pages lack the clearable button. It's not convenient.  I expect that the DolphinScheduler can support to use the clearable button to clear the value of the input and search the

[2022-11-02 13:40] #12667 closed, assigned to nobody

[2022-11-02 15:11] dpengpeng commented on #9550
@liqingwang Hi, can your design about spark/flink on k8s support spark/flink Operator mode?

[2022-11-02 16:03] EricGao888 commented on #12372
Since K8S task plugin was released in 3.1.0 and no classes will use K8sUtils in 3.0.x, I think this PR might be better cherry-picked to 3.1.x or 3.2.0 instead of 3.0.2.

[2022-11-02 16:05] jackfanwan commented on #12659
@Amy0104 please assign to me

[2022-11-02 16:22] jackfanwan opened #12671 "[Bug] [dolphinscheduler-api] when delete workflow, should determine whether there are related tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 start
![image](https://user-images.githubusercontent.com/61672564/199543828-2cf86429-2fa5-4854-bd1a-fca173d0cf9e.png)

After deleting the workflow
![image](https://user-images.githubusercontent.com/61672564/199543980-a0b977

[2022-11-02 16:53] jackfanwan opened #12672 "[Bug] [dolphinscheduler-ui] where task define, workflow name not same"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

this is null
![image](https://user-images.githubusercontent.com/61672564/199550974-f1564e56-99eb-48f9-b87a-50378eadb989.png)

but i click edit
![image](https://user-images.githubusercontent.com/61672564/199551118-61314e54-0b

[2022-11-02 22:44] jackfanwan opened #12673 "[Bug] [dolphinscheduler-dao] deleted related workflow, but task's processDefinition related not null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

deleted related workflow, but task's processDefinition related not null
![image](https://user-images.githubusercontent.com/61672564/199616138-b8068a14-6115-4409-b8c6-33f0e05b450f.png)

### What you expected to happen

task's

[2022-11-02 23:32] jackfanwan opened #12675 "[Bug] [dolphinscheduler-api] edit workflow related task, workflow's task version not change"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

before
![image](https://user-images.githubusercontent.com/61672564/199620997-4ff2e592-02d2-4641-af9d-3ba229e9ab6d.png)

edit after
![image](https://user-images.githubusercontent.com/61672564/199621120-8dbf3b90-84ea-4c3f-afce

[2022-11-03 00:05] jackfanwan opened #12676 "[Bug] [dolphinscheduler-api] In the task definition, the task is not modified, but equals before and after the task is not true"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in the task definition, edit task, don't modify task, click sure, the task is modified

### What you expected to happen

the task don't modify

### How to reproduce

in the task definition, edit task, don't modify task, clic

[2022-11-03 00:25] #12102 closed, assigned to ErikXu

[2022-11-03 01:12] #12650 closed, assigned to rickchengx

[2022-11-03 01:24] caishunfeng commented on #12673
Does this issue exist in 3.0.x or 3.1.x?

[2022-11-03 01:29] #12658 closed, assigned to rickchengx

[2022-11-03 01:29] jackfanwan commented on #12673
i use’s dev branch

[2022-11-03 02:54] darrkz opened #12677 "[Feature][Shell task] Add task info"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I use shell task frequently
But I found I need to know some info of the task instance execute info, Such as

task project info
task follow info
task name info
task call type info,  scheduler or user execute

can a

[2022-11-03 06:20] hstdream commented on #12672
This problem is the same as #12481.

[2022-11-03 06:26] dpengpeng commented on #12619
Anyone can reply?

[2022-11-03 06:37] #12672 closed, assigned to nobody

[2022-11-03 07:23] Apotato98 opened #12683 "[Improvement] [Yarn Queue] Config of Queue Doesn't Work."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 I have set up queues (non-default queues) for both tenants and users according to similar settings, but whether the user runs tasks or other users run tasks, the final queue used on yarn is still default.
Besides, the versi

[2022-11-03 07:44] drriguz commented on #8027
I could not found example or documents for creating a Pigeon task,
by the way the link [DolphinScheduler Task Parameters Appendix](https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/task/appendix.md#default-task-parameters) inside https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/task/pigeon.html is no longer working.

[2022-11-03 08:33] #12479 closed, assigned to jieguangzhou

[2022-11-03 08:38] qingwli opened #12684 "[Bug] [K8s] Deploy failed when change api service type to NodePort"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Deployed ds on k8s cluster using office document, change api service type to `NodePort`, and set NodePort and failed.

### What you expected to happen

[code]
[code]

### How to reproduce

Due https://github.com/apache/dolph

[2022-11-03 09:05] qingwli commented on #9550
Hi @dpengpeng , we already designed and finished spark/flink on k8s using operator mode, and we have the plan to contribute to the community about spark on k8s, and we want to know the attitude of the community how about we contribute the flink on k8s to the community? @caishunfeng

[2022-11-03 09:47] #12684 closed, assigned to nobody

[2022-11-03 09:57] jackfanwan opened #12687 "[Bug] [dolphinscheduler-api] in the task define,click edit,timeoutStategy status consistent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

this is null, but not null
![image](https://user-images.githubusercontent.com/61672564/199691514-ecd81f64-93a2-4f00-ba23-511c5e66d909.png)

### What you expected to happen

same

### How to reproduce

1. create task
2. in th

[2022-11-03 10:46] yxwyoyoyo opened #12688 "[Bug] [dolphinscheduler-service] Workflow with any parameters failed to dispatch task for scheduling execution"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Workflow with any parameters failed to submit task when scheduling execution.

### What you expected to happen

Workflow with any parameters succeed to submit task when scheduling execution.

### How to reproduce

Version: 3

[2022-11-03 11:31] DarkAssassinator commented on #12688
as i know, this case has been fixed

[2022-11-03 11:57] ChewJ404 opened #12690 "[Bug] [dolphinscheduler-alert] when start alert service is stuck"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

i start alert serice
`bash ./bin/dolphinscheduler-daemon.sh start alert-server`
i find logs stuck
[code]

### What you expected to happen

i see  worker logs  is successful  ,bug  alert without results  not message

the work

[2022-11-03 12:12] yxwyoyoyo commented on #12688
In the upcoming version?

[2022-11-03 12:22] yxwyoyoyo commented on #12688
Looks like it was fixed by the code in 3.1.1-prepare branch. Thank you for replying.
https://github.com/apache/dolphinscheduler/blob/43650bf72113bc48d121bea2cb325c5264918f52/dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/process/ProcessServiceImpl.java#L411

[2022-11-03 13:36] ChewJ404 commented on #12557
[process.zip](https://github.com/apache/dolphinscheduler/files/9929624/process.zip)

replace  is right

[2022-11-03 13:50] #12673 closed, assigned to jackfanwan

[2022-11-04 00:26] #12149 closed, assigned to zhangxinjian123

[2022-11-04 00:26] #12145 closed, assigned to nobody

[2022-11-04 00:26] #12140 closed, assigned to nobody

[2022-11-04 00:26] #12134 closed, assigned to DarkAssassinator

[2022-11-04 02:43] hstdream commented on #12683
After testing: found that this problem exists in 3.1.x  too

[2022-11-04 02:47] jackfanwan opened #12694 "[Bug] [dolphinscheduler-api] This task has pre node, but they are not showing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

This task has pre node, but they are not showing
![image](https://user-images.githubusercontent.com/61672564/199873929-25c39845-0749-4a65-9716-1703d22413e5.png)

### What you expected to happen

show pre node

### How to rep

[2022-11-04 03:10] caishunfeng commented on #9550
related issue:
- #10904

[2022-11-04 03:23] dpengpeng commented on #10904
Hi, @RuiFG Flink and Spark can submit application by Flink/Spark Operator, and this way is so native k8s. In my opinion,I think we maybe clould use Operator mode,not ShellCommandExecutor.  In this way,we can submit an application  by a yaml file @caishunfeng

[2022-11-04 03:42] EricGao888 opened #12696 "[Doc][Contribute] Add examples about how to configure log level for a specific package in DS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* DS uses `logback` for default log configurations. For those developers who are not familiar with spring boot logging, it will save them trouble when debugging if we could provide an example in doc about how to c

[2022-11-04 06:07] rickchengx opened #12697 "[Improvement][UT] Improve the ProjectServiceTest"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the ProjectServiceTest

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/fou

[2022-11-04 06:34] rickchengx opened #12700 "[Improvement][Project] Improve the sql of listAuthorizedProjects"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Improve the sql of listAuthorizedProjects

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.ap

[2022-11-04 06:40] #12671 closed, assigned to jackfanwan

[2022-11-04 07:04] multiLJT opened #12703 "2.0.6 fix CVE-2022-26884"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in 2.0.6,CVE-2022-26884 I checked commit for this vulnerability. It seems that the code modified by this vulnerability limits the log directory to only the logs directory under the installation directory. If the log.base val

[2022-11-04 07:16] gj-zhang opened #12704 "[Bug] [Flink Application Mode] flink run-application -sae ... sae not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

the command exit.

### What you expected to happen

the client not exit.

### How to reproduce

use application mode submit flink task.

### Anything else

the shutdownOnAttachedExit option can used flink application mode?

[2022-11-04 07:31] hstdream commented on #12704
Please provide the specific error message.

[2022-11-04 07:35] gj-zhang commented on #12704
no any error message. the flink client exit after submit success.

[2022-11-04 07:43] gj-zhang commented on #12704
[code]
@hstdream  please take a look. the client will exit after submit success.

[2022-11-04 07:47] hstdream commented on #12704
Has the task been submitted successfully?

[2022-11-04 07:47] gj-zhang commented on #12704
yes, but -sae not work.

[2022-11-04 07:48] hstdream commented on #12704
flink on k8s?

[2022-11-04 07:48] gj-zhang commented on #12704
yes.

[2022-11-04 07:50] hstdream commented on #12704
You can see if there is any other prompt information, and there is no abnormality that cannot be checked.

[2022-11-04 07:51] gj-zhang commented on #12704
ok 3q

[2022-11-04 07:51] #12704 closed, assigned to nobody

[2022-11-04 08:27] SbloodyS commented on #12528
This can be achieved.

[2022-11-04 08:27] SbloodyS commented on #12703
Duplicated with #12528.

[2022-11-04 08:27] #12703 closed, assigned to nobody

[2022-11-04 08:31] SbloodyS commented on #12683
The queue does not take effect in the shell task node. It's not a bug.

However, I think we can provide the queue variable in the shell node for users to use.

[2022-11-04 08:40] ruanwenjun opened #12706 "[Bug] [Flink] Flink SQL cannot run due to missing main jar error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![Uploading image.png…]()

### What you expected to happen

Flink sql task can work well.

### How to reproduce

submit a flink sql task

### Anything else

_No response_

### Version

3.1.x

### Are you willing to submit PR

[2022-11-04 09:53] multiLJT commented on #12703
Can I modify this path? I'm not sure whether it will affect other modules

[2022-11-04 10:00] hstdream opened #12711 "[Bug] [Api] Queue too long queue create fail"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="720" alt="1667555904718" src="https://user-images.githubusercontent.com/33045461/199945524-de256951-0e4d-4c75-bacb-f1707ac1c899.png">

queue name too long cause create fail

### What you expected to happen

creat

[2022-11-04 10:02] multiLJT commented on #12703
I want to change the value of the log path in the class to the path specified by us, which can also limit access. Is this OK?

[2022-11-04 11:51] Radeity opened #12713 "[Improvement][dolphinscheduler-api] Check valid primitive type parameters when defining process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When users define `parameter context` or `global parameter` in process, sometimes parameters are invalid for the sake of wrong parameter name or even parameter undefined. In current version, these errors can only

[2022-11-04 12:24] #12688 closed, assigned to nobody

[2022-11-04 13:12] guoxu0514 opened #12715 "[Bug] [worker] In cluster mode, the worker cannot work and does not execute tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Production environment: 2 masters, 2 workers

In version 2.0.6, the worker failed to work after the production environment was running for a period of time. The problem persisted after upgrading to 2.0.7. It is normal to sto

[2022-11-04 14:58] DarkAssassinator commented on #12677
hi @darkz1984 , could you please describe the usage scenario in detail?

[2022-11-04 15:00] DarkAssassinator commented on #12715
hi @guoxu0514, could u please show more log details?

[2022-11-04 15:02] #12706 closed, assigned to ruanwenjun

[2022-11-04 16:21] jackfanwan opened #12716 "[Bug] [dolphinscheduler-dao] sql grammar error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

sql error
![image](https://user-images.githubusercontent.com/61672564/200024979-bf085976-e3f9-4c1b-b11e-4010dd0b45e9.png)

### What you expected to happen

sql syntax is normal

### How to reproduce

no

### Anything else

_

[2022-11-05 00:25] #12184 closed, assigned to yqzdy1207

[2022-11-05 00:25] #12119 closed, assigned to nobody

[2022-11-05 00:25] #12117 closed, assigned to hqzh

[2022-11-05 00:47] TheOldOne-SU opened #12718 "[Bug] [workflow] 3.0.0-alpha vesion After the task is retried, the task reports an error, and the workflow card owner"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/52726630/200093161-9061c892-79dc-4930-8f7d-a0b9be0dfc89.png)
`After the task is retried, the task reports an error, and the workflow card owner.  As shown below`
![image](ht

[2022-11-05 01:38] seedscoder opened #12719 "[Bug] [dolphinscheduler-tools] Failed to execute MySQL database upgrade script"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[code]

### What you expected to happen

**The upgrade process is normal**

### How to reproduce

- Create a new database

- Execute  method
[code]

### Anything else

<img width="425" alt="Snipaste_2022-11-05_09-41-31" src=

[2022-11-05 02:03] seedscoder opened #12720 "[Improvement][dolphinscheduler-tools] whether it is necessary to perform updates after initialization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When executing `org.apache.dolphinscheduler.tools.datasource.UpgradeDolphinScheduler#main` method , If it is a blank database， This method only performs initialization operations, not DS upgrade.
- Is this inconsi

[2022-11-05 02:14] SbloodyS commented on #12711
Personally, I don't think it's necessary since the queue name will not be so long in the production environment.

[2022-11-05 02:17] SbloodyS commented on #12715
Please use english to describe the issue. Thanks. @guoxu0514

[2022-11-05 02:20] SbloodyS commented on #12719
Hi @seedscoder ,Do you want to upgrade from 2.0.2 to dev?

[2022-11-05 02:24] SbloodyS commented on #12720
Currently, the latest table schema will be initialized during initialization. The update logic is used to upgrade from a lower version to a higher version. @seedscoder

[2022-11-05 02:31] SbloodyS commented on #12659
Done.

[2022-11-05 02:42] jackfanwan opened #12721 "[Bug] [dolphinscheduler-api] code logistic have conflict"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/61672564/200097553-95f7e83e-c366-4858-945e-c610107c5b84.png)

### What you expected to happen

resolve code conflict

### How to reproduce

no

### Anything else

_No respon

[2022-11-05 02:43] #12720 closed, assigned to nobody

[2022-11-05 02:44] seedscoder commented on #12719
YES @SbloodyS

[2022-11-05 02:50] SbloodyS commented on #12719
We do not support upgrade from stable version to dev version. Since the development version is only available for developers.

[2022-11-05 03:22] #12719 closed, assigned to nobody

[2022-11-05 05:42] Radeity opened #12723 "[Improvement][dolphinscheduler-api] Check valid file parameter when defining process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When users want to transfer files between tasks and define `file` parameters(support in https://github.com/apache/dolphinscheduler/pull/12552), sometimes parameters are invalid for the sake of wrong file parameter

[2022-11-05 05:43] Radeity commented on #12723
@SbloodyS Please assign me and label `3.2.0` which is as same as https://github.com/apache/dolphinscheduler/pull/12552

[2022-11-05 05:45] Radeity commented on #12713
@SbloodyS I'll close this issue and open a new one, i explain why in the new issue https://github.com/apache/dolphinscheduler/issues/12723.

[2022-11-05 06:43] calvinjiang opened #12725 "[Improvement][UI] Make nodes and edges in the DAG more obvious and beautiful."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently the nodes and edges in the DAG are a little bit less obvious. And the font size of the label in the nodes is too small to see it. The edges between two nodes overlap too much. So users can't be able to f

[2022-11-05 08:39] hstdream commented on #12683
I don't think so. Since there is a queue configuration, it can definitely be used, otherwise the queue is of little significance.

[2022-11-05 13:11] lugela opened #12727 "[Bug] [PROCEDURE] Cannot call SP with OUT parameter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When using 3.0.1, it is found that the SP task with OUT parameter cannot be realized because [pr9463](https://github.com/apache/dolphinscheduler/pull/9463) has been modified. The current out parameter cannot be used by the P

[2022-11-05 13:27] caishunfeng commented on #9550
Hi @liqingwang really good news if ds can support spark on k8s, looking forward to your pr.
And I found the issue of flink on k8s #10904, we can discuss in that issue.

[2022-11-05 13:31] caishunfeng commented on #10904
+1, the operator way is good, can you add some design detail for this way? @dpengpeng

cc @liqingwang

[2022-11-05 13:34] caishunfeng commented on #10904
I think the k8s task can support it, right? see https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/guide/task/kubernetes.html

[2022-11-05 13:44] #12716 closed, assigned to jackfanwan

[2022-11-06 00:24] #12084 closed, assigned to nobody

[2022-11-06 00:24] #12054 closed, assigned to izualzhy

[2022-11-06 00:24] #12047 closed, assigned to woshiwuxiaofei

[2022-11-06 12:04] #12725 closed, assigned to nobody

[2022-11-06 13:15] #12466 closed, assigned to WangJPLeo

[2022-11-06 13:18] zhuangchong commented on #11803
done.

[2022-11-06 13:18] #11803 closed, assigned to nobody

[2022-11-06 14:14] #12229 closed, assigned to nobody

[2022-11-07 00:23] #12193 closed, assigned to jianghanfen

[2022-11-07 00:23] #12185 closed, assigned to nobody

[2022-11-07 00:23] #12029 closed, assigned to nobody

[2022-11-07 00:23] #12028 closed, assigned to rickchengx

[2022-11-07 01:10] guoxu0514 commented on #12715
No any exception information in the log

[2022-11-07 01:11] guoxu0514 commented on #12715
No any exception information in the log

[2022-11-07 01:11] guoxu0514 commented on #12715
@DarkAssassinator No any exception information in the log

[2022-11-07 01:13] guoxu0514 commented on #12715
@SbloodyS already updated

[2022-11-07 02:30] #12696 closed, assigned to EricGao888

[2022-11-07 02:47] Radeity opened #12741 "[Bug] [dolphinscheduler-aop] aspectj-maven-plugin version undefined"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I found that during CI/CD, there's a warning because of plugin version undefined, which possibly cause error in the future.

<img width="1022" alt="image" src="https://user-images.githubusercontent.com/45198818/200212472-77c

[2022-11-07 02:56] jim6745 opened #12745 "[Bug] [v3.1.0] SP task cannot be triggered by normally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when I create a workflow , and want to let it run by schedule , but the first job (sp job) can not by triggered

### What you expected to happen

I expected the first job on the workflow can be triggered auto

### How to rep

[2022-11-07 03:06] qingwli commented on #10904
cc @litiliu

[2022-11-07 03:08] qingwli commented on #9550
Hi @caishunfeng , sure, my co-workers will discuss it in that issue.

[2022-11-07 03:10] luckes-yang opened #12746 "[Feature][Scheduling batch] Each batch judges whether the previous batch is successfully executed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

我的调度任务，依赖于上一个批次，需要判断上一批次是否执行成功。

### Use case

例如：
每小时执行的批次，11点的批次需要判断10点的批次是否执行成功，若未执行成功，则继续等待

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

###

[2022-11-07 03:32] Apotato98 commented on #12683
Thanks for the reply, will this feature be fixed in the near future?

[2022-11-07 03:36] rickchengx opened #12749 "[Improvement][Permission] Rename listAuthorizedResource to listAuthorizedResourceIds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since `listAuthorizedResource()` returns the resource ids rather than the resource, rename this method to remove ambiguity

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of

[2022-11-07 05:19] litiliu commented on #10904
hi, I'm the colleague of @liqingwang, We have implemented using flink-operator to submit flink-batch job in our production. I will write the detail about it in the following days.

[2022-11-07 05:46] calvinjiang opened #12758 "[Improvement][UI] Need to adjust the args of router to allow the edge to be connected with node at its different positions."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Need to adjust the args of router to allow the edge to be connected with node at its different positions.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I

[2022-11-07 06:26] #12758 closed, assigned to nobody

[2022-11-07 06:29] zhangheng3 opened #12760 "verify resource failed and the reason is null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version: 3.0.0

Error reported by using the resource center:

click create directory to display :
存储操作失败

log output:
[ERROR] 2022-11-04 17:41:57.266 +0800 org.apache.dolphinscheduler.api.service.impl.ResourcesServiceImpl:[8

[2022-11-07 07:01] SbloodyS commented on #12723
I've labeled it as `3.1.2`.

[2022-11-07 07:07] #12741 closed, assigned to Radeity

[2022-11-07 07:19] rickchengx opened #12763 "[Improvement][UT] Improve testListAuthorizedProjects() in ProjectMapperTest"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve testListAuthorizedProjects() in ProjectMapperTest

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct]

[2022-11-07 07:24] SbloodyS commented on #12746
Please use english to describe. Thanks. @luckes-yang

[2022-11-07 07:24] Tianqi-Dotes opened #12764 "[Doc][hive-sql] hive-sql and hive-cli doc not approperiate"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

problems:
hive in the sql task type, cannot execute multi-statements and use ';'.
hive-cli doc can execute multi-statements, need add execute multi-statements case snapshoot.

### Documentation Links

https://dolp

[2022-11-07 07:56] hstdream commented on #12760
Please post the specific error message.

[2022-11-07 08:08] Tianqi-Dotes opened #12774 "[Bug] [FE] some mistakes in the datasource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/36755957/200257561-3b77438f-79da-4f64-acd8-d08063dab7ac.png)
2 problems:
1. the datasource is Hive, but the 'DataSource' name shows 'MYSQL'.
2. the change button is Chinese

[2022-11-07 08:13] zhangheng3 commented on #12760
![image](https://user-images.githubusercontent.com/25759822/200258713-ed887ba0-c9d9-4896-a77d-6b790414c454.png)

Error log only:
[INFO] 2022-11-07 16:11:32.524 +0800 org.apache.dolphinscheduler.api.aspect.AccessLogAspect:[90] - REQUEST TRACE_ID:4604aee3-fc3f-4065-a051-ba7552460985, LOGIN_USER:xxx, URI:/dolphinscheduler/resources/directory, METHOD:POST, HANDLER:org.apache.dolphinscheduler.api.contr

[2022-11-07 08:25] hstdream commented on #12760
No more error logs?

[2022-11-07 08:26] hstdream commented on #12760
See if there is more log information on the worker node?

[2022-11-07 08:36] zhangheng3 commented on #12760
Only api-server is the log output , The worker node has no error output about this

[2022-11-07 08:40] hstdream commented on #12760
Provide more errors of api-server.

[2022-11-07 08:50] zhangheng3 commented on #12760
The api log appears after I restart the DS

[ERROR] 2022-11-07 16:48:55.954 +0800 org.apache.dolphinscheduler.common.utils.HadoopUtils:[161] - For input string: "30s"
java.lang.NumberFormatException: For input string: "30s"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Long.parseLong(Long.java:589)
	at java.lang.Long.parseLong(Long.java:631)
	at or

[2022-11-07 09:14] FE-wangjb opened #12778 "[Bug]An error is reported when running data_quality: extraneous input 'FROM' expecting<EOF>(line 1, pos 25)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I encountered the same problem as #12235  . I simply executed a [nullcheck] and could not pass in the src_ table.
The error is reported as follows:
2022-11-07 16:15:18 INFO  HiveClientImpl:54 - Warehouse location for Hive cl

[2022-11-07 09:39] #12764 closed, assigned to Tianqi-Dotes

[2022-11-07 09:42] #12749 closed, assigned to rickchengx

[2022-11-07 09:47] rickchengx opened #12782 "[Improvement][UT] Add UT for the 13 implementations of ResourceAcquisitionAndPermissionCheck"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add UT for the 13 implementations of ResourceAcquisitionAndPermissionCheck

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's

[2022-11-07 10:02] rickchengx opened #12787 "[Improvement][DAO] Remove the duplicate conditions in ResourceUserMapper"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Remove the duplicate conditions in ResourceUserMapper

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](htt

[2022-11-07 10:05] lenian commented on #9467
I have submitted  dm pr，[contain]  In this pr： [Bug] [HttpTask] HttpTask Nested Json Parse Error #12640 #12641

[2022-11-07 10:05] #12335 closed, assigned to rickchengx

[2022-11-07 10:06] hstdream commented on #12760
Check `core-site.xml` and  `hdfs-site.xml` file configured correctly

[2022-11-07 10:07] hstdream commented on #12760
<img width="662" alt="1667815614074" src="https://user-images.githubusercontent.com/33045461/200283413-afaef873-0da2-4d95-92b3-5c0af2542356.png">

Check where `30s` is used.

[2022-11-07 13:35] RuiFG commented on #10904
hi @caishunfeng, I don't think k8s task can support it. `K8sTaskExecutor` currently only supports batch job, for Flink k8s task, it is better to monitor `pod`(Flink TaskManager).

[2022-11-07 14:01] RuiFG commented on #10904
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator
https://github.com/apache/flink-kubernetes-operator
cool, DS build image, uses operator through `KubernetesClient`

[2022-11-07 14:41] gaoyan1998 commented on #10904
Hi @RuiFG I checked the official documentation of operator, but I feel that the key problem is still unsolved, that is how to get his status after the batch task ends, the operator only provides how to manage a running task, but for the batch task to get his information after the end is important.
Or did I miss some points in doc?

[2022-11-07 16:15] RuiFG commented on #10904
@ikiler Yeah, I didn't see it in doc, maybe have to implement `KubernetesWatcher` on DS.
For DS, open source operators maybe have more management troubles. gcp spark k8s operators and flink kubernetes operators API are still beta, and they both have to deploy in k8s to make the task run, what did you think? @dpengpeng

[2022-11-08 00:24] #12235 closed, assigned to qq774724635

[2022-11-08 00:24] #12232 closed, assigned to YangQian-99

[2022-11-08 00:24] #12161 closed, assigned to nobody

[2022-11-08 00:24] #11998 closed, assigned to nobody

[2022-11-08 01:46] gaoyan1998 commented on #10904
Well, by the way our implementation, we use flink native api to submit task ，and no need  deploy anything else in k8s ,maybe using the operator would be better to submit,

[2022-11-08 01:48] ikiler commented on #10904
Well, by the way our implementation, we use flink native api to submit task ，and no need  deploy anything else in k8s ,maybe using the operator would be better to submit,

[2022-11-08 02:09] Tianqi-Dotes commented on #12774
fixed

[2022-11-08 02:09] #12774 closed, assigned to labbomb

[2022-11-08 02:20] rickchengx opened #12804 "[Improvement][UT] Remove the unused method in DataAnalysisControllerTest"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Remove the unused method in DataAnalysisControllerTest

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](ht

[2022-11-08 03:35] litiliu commented on #10904
hi @caishunfeng @ikiler , this is the design of our implementation based on flink-kubernetes-operator.
# Background
We are using [Flink Kubernetes Operator](https://nightlies.apache.org/flink/flink-kubernetes-operator-docs-main/) to run Flink batch jar job on k8s cluster.
And all files in resource are stored on S3.

# Summary design
- In flink-task plugin's frontend, namespace & cluster & image &

[2022-11-08 04:33] Alxe1 opened #12809 "[Bug] [alert server] com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of java.util.ArrayList<java.util.LinkedHashMap<java.lang.Object,java.lang.Object>> out of START_OBJECT token"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I add email alert in dolphinscheduler, and it send me an empty email, and I found the log has an error:
[code]

### What you expected to happen

Get a not empty email.

### How to reproduce

Use the data quality plugin, and

[2022-11-08 05:23] hstdream commented on #12683
This needs to be reproduced, and then the problem can be solved in a targeted manner.

[2022-11-08 05:31] #12694 closed, assigned to jackfanwan

[2022-11-08 05:46] hstdream opened #12812 "[Bug] [Api] Added param description"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Added param description in function.

### What you expected to happen

 Param description in function lost.

### How to reproduce

ResourceServiceImpl upload.

### Anything else

_No response_

### Version

dev

### Are you

[2022-11-08 07:53] EricGao888 opened #12814 "[Improvement][API] Improve permission checks for alert plugin instance and alert group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, we do not have permission control for `alert plugin instance` and `alert group`.
* Logically, user A are not supposed to view or manipulate `alert plugin instances` or `alert groups` created by user B

[2022-11-08 08:01] ikiwixx commented on #12745
I also encountered this problem. I tried to remove the custom parameters in the task node, so that the task can run. This may provide some help.

[2022-11-08 09:04] luckes-yang commented on #12746
For batches executed every hour, the batch at 11 o'clock needs to judge whether the batch at 10 o'clock is successfully executed. If it is not executed successfully, continue to wait.

[2022-11-08 09:18] baihongbin commented on #8030
May I have a try? 😄

[2022-11-08 09:23] EricGao888 commented on #8030
@SmallConchs Sure, I've assigned this task to u, looking forward to your PR : )

[2022-11-08 10:17] zzzhiyu opened #12818 "[Bug] [Module Name] Workflow shows successful submission, unable to execute, delete, stop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

任务进行启动后，作业提交成功，但一直等待，查看日志发生如下错误： master一直报错，日志连续刷，写满磁盘
[ERROR] 2022-11-08 16:24:39.293 +0800 org.apache.dolphinscheduler.server.master.runner.WorkflowExecuteRunnable:[701] - [WorkflowInstance-127147][TaskInstance-0] - Start

[2022-11-08 11:45] Tianqi-Dotes opened #12820 "[Feature][task-plugins] azure azure-sql datasource plugins"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Create a new datasource type to deal with azure azure-sql .

### Use case

use this datasource to run scripts on azure azure-sql database.

### Related issues

_No response_

### Are you willing to submit a PR?

-

[2022-11-08 11:46] Radeity opened #12821 "[Improvement][Resource Center] Compress before uploading to object storage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In current version, DS support use `HDFS`, `OSS`, `S3` as storage layer of resource center. Nowadays, most of storage capacity is provided by cloud storage service which means OSS and S3 are in widely use. Neverth

[2022-11-08 11:48] Tianqi-Dotes opened #12822 "[Feature][task-plugins] azure cosmos-db task plugins"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Create a new task type to deal with azure cosmos-db .

### Use case

use this task to call azure cosmos-db functions.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing

[2022-11-08 11:50] Radeity commented on #12821
If make sure that client-side SDK also support effective compression algorithm mentioned before (like Zstandard), feel free to correct me!

[2022-11-08 13:17] #12812 closed, assigned to nobody

[2022-11-08 13:42] davidzollo commented on #12436
if you'd like to implement some features for DolphinScheduler, please feel free to leave a message.

[2022-11-08 13:51] davidzollo commented on #12711
+1
@hstdream I will close this issue, this is not a problem, can you help to answer some issues? there are many issues that need to response

[2022-11-08 13:51] #12711 closed, assigned to nobody

[2022-11-08 16:42] lugela commented on #12778
I'm also getting the same error

[2022-11-09 00:24] #12204 closed, assigned to huangchenguang123

[2022-11-09 03:25] muggleChen opened #12827 "[Feature] add icon in Intellijidea and toolbox"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

show icon  in Intellijidea and toolbox
like this
<img width="432" alt="image" src="https://user-images.githubusercontent.com/35358675/200730724-f5b7c31b-dec4-40ec-8ec6-4933a603bbe7.png">

<img width="1441" alt="im

[2022-11-09 03:28] rickchengx opened #12828 "[Bug] [api] User can query unauthorized datasource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

User can query unauthorized datasource

### What you expected to happen

User can not query unauthorized datasource

### How to reproduce

1. send GET request `.../dolphinscheduler/dasources/<id>`
2. and get the datasource w

[2022-11-09 03:48] #12687 closed, assigned to jackfanwan

[2022-11-09 03:50] #12522 closed, assigned to muggleChen

[2022-11-09 03:57] wtttt123456 opened #12831 "[Bug] [plugin.task.sql.SqlTask]sql task error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Error occurs when executing a task whose datasource is the POSTGRESQL  and the error log is as follows:
[INFO] 2022-11-07 16:31:10.243 +0800 [taskAppId=TASK-20221107-17078_1-396714-845861] TaskLogLogger-class org.apache.dolp

[2022-11-09 04:00] yyccww123 opened #12832 "[Bug] [api] cannot modify worker group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

cannot modify worker group in worker group manage page. alert worker group already exists.

### What you expected to happen

can modify worker group

### How to reproduce

modify worker group  in worker group manage page.

#

[2022-11-09 04:06] yyccww123 opened #12833 "[Bug] [api] cannot delete yarn queue"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 cannot delete yarn queue  in yarn queue manage page. have Not delete button.

### What you expected to happen

Want to delete yarn queue

### How to reproduce

 in yarn queue manage

### Anything else

_No response_

### Ve

[2022-11-09 04:32] yyccww123 opened #12834 "[Feature][ui] suggest put status and schedule publish status together in workflow definition list page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

suggest put  status and schedule publish status together in workflow definition list page.
It is difficult to use, because need drag the progress bar to see schedule publish status.

### Use case

_No response_

#

[2022-11-09 06:33] Radeity commented on #12821
@SbloodyS Hi, you forgot to set milestone.

[2022-11-09 06:59] SbloodyS commented on #12821
Since this is not urgent. Please take your time freely. Will set the milestone after you submit the PR. 👍

[2022-11-09 07:37] Radeity commented on #12821
Okay, i'll finish it as soon as i can.

[2022-11-09 08:22] lenian opened #12837 "[Bug] [SqlTask] sql parses global variables having single quotes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

global variable：current_time : ${system.datetime}
SqlTask definition：ALTER TABLE cdc_test.lab_report RENAME cdc_test.lab_report_archive_${current_time};
SqlTask parse result：ALTER TABLE cdc_test.lab_report RENAME cdc_test.la

[2022-11-09 08:23] rickchengx opened #12838 "[Improvement][UT] Improve the ut of datasource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the ut of datasource

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/found

[2022-11-09 12:09] zgxv commented on #12428
@songjianet 3.1.0 version has the same error, hope fix because this  is important use in work. thanks a lot
file LoggerServiceImpl.java
<img width="663" alt="image" src="https://user-images.githubusercontent.com/6904753/200826464-66733b76-e1c8-4f5f-bd99-159a7d9be000.png">
getHost() is NULL, host field in table t_ds_task_instance is NULL

[2022-11-09 12:52] lentitude2tk opened #12842 "[Bug] [Sub Process] sub Process call fail if subProcess has parameter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

if subProcess has global parameter,  subProcess not work，and all process stoped

![image](https://user-images.githubusercontent.com/108672767/200834744-f7b31b84-8a77-4466-9069-03e2fbbe8764.png)

![image](https://user-images.

[2022-11-09 12:55] lentitude2tk commented on #12842
if you click the "进入该子节点"，then

![image](https://user-images.githubusercontent.com/108672767/200835875-5eec3705-37fe-4171-99b2-0a0e04db4e55.png)

[2022-11-10 01:19] jim6745 commented on #12745
thanks ikiwixx ， yes ， after I removed the custom parameters ， the job can be triggered normally ， but I still need the custom parameters in project ， I also the issue also happen on sql task node

[2022-11-10 03:01] Radeity opened #12849 "[Improvement][Task] Support end-to-end transfer file between tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

DS supports file transfer between tasks in this PR:
- https://github.com/apache/dolphinscheduler/pull/12552

<br>

In current way, intermediate files will be uploaded  from `srcPath` in upstream task to `sourcePat

[2022-11-10 03:51] Radeity commented on #12849
PTAL. @jieguangzhou @zhongjiajie

[2022-11-10 04:06] rickchengx opened #12850 "[Improvement][UT] Improve the ut of DataSourceMapperTest"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the ut of DataSourceMapperTest

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache

[2022-11-10 04:21] multiLJT opened #12852 "Large logs cause frequent gc of worker nodes, which leads to the loss of connection between zk and worke"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Our production environment will generate a large number of logs, and the log files may reach hundreds of gigabytes. At this time, the worker service will be frequently fgc. fgc takes a long time and cannot be recy

[2022-11-10 04:26] multiLJT commented on #12852
Please help me. I want to know how you modified this vulnerability. I didn't understand your solution when I looked at the source code

[2022-11-10 06:24] rickchengx opened #12853 "[Improvement][UT] Improve the ut of ResourcePermissionCheckServiceTest"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the ut of ResourcePermissionCheckServiceTest

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](http

[2022-11-10 07:02] baihongbin commented on #8030
The code has been submitted.  https://github.com/apache/dolphinscheduler/pull/12855

[2022-11-10 07:12] huage1994 opened #12856 "[Improvement][UT] Refactor duplicated code fragment in `UdfFuncMapperTest`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the ut of UdfFuncMapperTest

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.or

[2022-11-10 08:23] zcfrank1st commented on #8841
dbt is fantastic， when to support？

[2022-11-10 08:25] FE-wangjb commented on #12778
The cause of the problem was found. It was caused by the wrong type of the expected value calculated by myself. Close the questionnaire!

[2022-11-10 08:25] #12778 closed, assigned to nobody

[2022-11-10 08:32] changebooks opened #12858 "[Improvement][Task] SqlTask ​​Change the order of regular replacement ${} and !{}"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

SqlBinds org.apache.dolphinscheduler.plugin.task.sql.SqlTask::getSqlAndSqlParamsMap(String sql)

简单描述修改内容：
将 replace !{} 的代码：sql = replaceOriginalValue(sql, rgexo, paramsMap);
移动到 replace ${} 的代码前面：setSqlParamsMap

[2022-11-10 10:02] JamesBonddu commented on #2388
+1

[2022-11-10 10:56] #12827 closed, assigned to muggleChen

[2022-11-11 00:42] wcmolin commented on #12586
Any discussion results?

[2022-11-11 01:37] #8256 closed, assigned to nobody

[2022-11-11 03:20] JinsYin commented on #7546
see #11272

[2022-11-11 03:21] #7546 closed, assigned to nobody

[2022-11-11 03:47] Alxe1 opened #12863 "[Bug] [spark sql] set user defined parameters in spark sql can not pass to sql script"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

set user defined parameters in spark sql can not pass to sql script,
i write a sql in script:

[code]

and set parameter in user defined parameters, and i set dt $[yyyyMMdd-30], it can not pass to the sql script

### What yo

[2022-11-11 06:45] Tianqi-Dotes opened #12865 "[Bug] [Alert] translate alert input field tips to chinese when using chinese"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

the alert input field tips is in English when the UI using Chinese as language.
![image](https://user-images.githubusercontent.com/36755957/201279618-25a33cee-a425-4a81-bb6e-acf2f12fb02b.png)

### What you expected to happen

[2022-11-11 07:30] qingwli opened #12866 "[Bug] [Alert] Ignore alert not write info to db"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Alert warning type does not match instance, will ignore this alert, but not write correct into the back to DB.

### What you expected to happen

When the alert warning type does not match the instance, write the correct info

[2022-11-11 07:42] Sakura-2019 opened #12868 "[Bug] [SQOOP Task] data target type is only HDFS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Windows11, Drag a SQOOP task, select SQL as the data source modeltype, the data target type contains HIVE and HDFS.
Then I switch the data source modeltype from SQL to Form, and then switch to SQL, the data target type is on

[2022-11-11 08:08] #12166 closed, assigned to jieguangzhou

[2022-11-11 08:24] wcmolin commented on #12603
please help me review  @SbloodyS

[2022-11-11 09:41] pandong2011 commented on #12760
see: https://issues.apache.org/jira/browse/HDFS-12920
the bug caused by this pr https://issues.apache.org/jira/secure/attachment/12827481/HDFS-10845.001.patch
solution: in hdfs-site.xml remove all time unit (https://github.com/apache/hadoop/pull/3227) or upgrade the hadoop version

此问题仅在Hadoop3环境中存在 ,解决方式：修改hdfs的 core-site.xml 添加 ‘dfs.client.datanode-restart.timeout’ 配置。
内容如下:

<property>
      <n

[2022-11-11 09:45] ChPi opened #12870 "[Bug] [server] task retry throws NullPointerException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened
[code]

 task retry throws NullPointerException。
the `taskInstanceId` type  of class `TaskStateEvent` is int, but set null when retry a task, should it be Integer？

### What you expected to happen

retry success

### How to r

[2022-11-11 09:52] pandong2011 commented on #12760
see: https://issues.apache.org/jira/browse/HDFS-12920
the bug caused by this pr https://issues.apache.org/jira/secure/attachment/12827481/HDFS-10845.001.patch
solution: in hdfs-site.xml remove all time unit (https://github.com/apache/hadoop/pull/3227) or upgrade the hadoop version

此问题仅在Hadoop3环境中存在 ,解决方式：修改hdfs的 core-site.xml 添加 ‘dfs.client.datanode-restart.timeout’ 配置。

内容如下:
<property>
      <n

[2022-11-11 09:54] zhongjiajie commented on #12238
will be fixed in https://github.com/apache/dolphinscheduler-sdk-python

[2022-11-11 10:04] pandong2011 commented on #12760
see: https://issues.apache.org/jira/browse/HDFS-12920
the bug caused by this pr https://issues.apache.org/jira/secure/attachment/12827481/HDFS-10845.001.patch
solution: in hdfs-site.xml remove all time unit (https://github.com/apache/hadoop/pull/3227) or upgrade the hadoop version

此问题仅在Hadoop3环境中存在 ,解决方式：修改hdfs的 core-site.xml 添加 ‘dfs.client.datanode-restart.timeout’ 配置
如下:

<img width="812" alt="

[2022-11-11 11:00] hstdream commented on #12870
Please provide detailed error log.

[2022-11-11 12:21] lsy1072915121 opened #12872 "[Bug] [VCS] If the workflow is saved without modification, the version information will still be recorded"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

工作流版本信息记录中，会把没有内容变化的工作流保存操作，也记录一条版本信息。在源码中发现，开发者已经有意把没有修改的保存操作过滤掉，但实际上并不起效果。

### What you expected to happen

正常来说，工作流在没有修改的情况下保存，应该是不需要记录版本信息的。

### How to reproduce

<img width="1219" alt="iShot2022-11-11 19 37 19" src="h

[2022-11-11 13:47] DarkAssassinator opened #12873 "[Refactor] Migrate environment and system resources limitations to task params"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

now `TaskInstance` and `TaskDefinition` contain `environment` and `cpuQuota` and `memoryMax`, but these shoud be just task params, not task fields. Because just shell related task plugin need these params. Not all

[2022-11-11 13:48] DarkAssassinator commented on #12873
cc @ruanwenjun, @caishunfeng @SbloodyS @EricGao888

[2022-11-12 00:25] #12243 closed, assigned to nobody

[2022-11-12 05:37] pandong2011 commented on #12872
Regarding workflow definition and workflow instance, task definition and task instance, the related api, especially the modified api, there are a lot of bugs, and the modification logic and code are also very confusing, which makes people find bugs and have no desire to submit pr

[2022-11-12 06:02] caishunfeng commented on #12427
Hi @frouhi  How's it going?

[2022-11-12 07:07] caishunfeng commented on #12873
LGTM, and now ds has many tasks will run by shell, like spark-cli, flink-cli and so on. They should change together.

BTW, when delete environment config, it may check whether some tasks use it, so if we remove this field, will it affect query performance?

[2022-11-12 14:46] fuchanghai opened #12875 "[Bug] [Maven] command line that ``` -Dmaven.test.skip=true``` have no effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

command line that ``` -Dmaven.test.skip=true```  have no effect

### What you expected to happen

command line that ``` -Dmaven.test.skip=true```  have no effect

### How to reproduce

command line that ``` -Dmaven.test.skip

[2022-11-12 15:15] DarkAssassinator commented on #12873
hi @caishunfeng, I understand your concern, but I think this part of the impact is limited for several reasons:
1. These configuration deletion actions are not a frequent operation.
2. We will simplify the deletion logic, check whether the task parameters of the unfinished task instance contain parameters when deleting
3. If query performance bad, we can conside to add index in `task_params` colum

[2022-11-12 15:21] DarkAssassinator commented on #12873
may can review PR:https://github.com/apache/dolphinscheduler/pull/12736, i add a `BashTaskEexectionContext`, we can migrate these configurations to this context, no need add it to TaskInstance and TaskDefinition. This ensures that the semantics of TaskInstance are clear

[2022-11-12 15:45] davidzollo commented on #12868
can you try to fix this?

[2022-11-12 15:53] davidzollo commented on #12858
good job
I am very impressed with your meticulous work, and please change the description into English, English is official language

[2022-11-12 15:57] #12850 closed, assigned to rickchengx

[2022-11-13 01:48] #12875 closed, assigned to nobody

[2022-11-13 03:14] SbloodyS commented on #12873
Currently, the json of our task params is huge, which already affects query performance. If we add more content to it, it is bound to aggravate the problem. I think we should split this json into different tables. @caishunfeng @DarkAssassinator

[2022-11-13 03:38] DarkAssassinator commented on #12873
+1 i think that this is a good idea, we can add a table named `t_ds_task_params`, then drop the `task_params` column in `t_ds_task_instance`, add `task_params_code` column? WDYT. cc @SbloodyS @caishunfeng

[2022-11-13 14:15] lugela commented on #12727
Sorry, there is [PR1191](https://github.com/apache/dolphinscheduler/pull/11919) found, there is a fix for it

[2022-11-13 14:34] davidzollo commented on #12833
can you implement this?

[2022-11-13 14:48] codergh opened #12882 "[Bug] datax cannot be used after deploying through docker compose in centos environment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

环境：centos
版本：3.1.1
部署工具：docker compose
部署脚本：
[code]

问题：
无法使用datax，
表现：
<img width="862" alt="image" src="https://user-images.githubusercontent.com/16535355/201528381-86c59eff-ae0e-4fe7-8926-f2a0d8e12be4.png">
`在执行command时,无

[2022-11-13 15:03] codergh commented on #12882
I updated the question

[2022-11-14 00:22] #12091 closed, assigned to nobody

[2022-11-14 01:29] ChPi commented on #12870
[code]

[2022-11-14 02:07] Alxe1 commented on #12308
and this version can only set varchar type, and can not select other types.

[2022-11-14 02:29] simsicon commented on #12882
It seems you are running 3.1.0, can you try it with 3.1.1? This issue should be fixed by this PR https://github.com/apache/dolphinscheduler/pull/12180 , and merged into 3.1.1

[2022-11-14 03:18] #12865 closed, assigned to Tianqi-Dotes

[2022-11-14 03:20] #12832 closed, assigned to nobody

[2022-11-14 03:30] #12838 closed, assigned to nobody

[2022-11-14 05:09] EricGao888 opened #12888 "[3.0.2-prepare] Test core functions manually before release"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- [x] Deployment in Cluster mode
- [x] Deployment in K8S mode - failed to create tenant, has been fixed by #12906, now ok.
- [x] Metadata create / upgrade, create - ok, upgrade - not tested yet
- [x] Docker image:

[2022-11-14 06:28] yang227 commented on #12831
When we use hive, we also encounter this problem. I don't know who the boss is. Please help us solve this problem. Version 3.1.1
[ERROR] 2022-11-14 05:54:08.989 +0000 org.apache.dolphinscheduler.plugin.datasource.hive.HiveDataSourceClient:[163] - [WorkflowInstance-2][TaskInstance-63] - get oneSessionDataSource Connection fail SQLException: HikariPool-2 - Connection is not available, request timed

[2022-11-14 07:06] Sakura-2019 commented on #12868
sure, my pleasure

[2022-11-14 07:11] Sakura-2019 commented on #12868
Sure, my pleasure. I have fixed it at local

[2022-11-14 08:09] Tianqi-Dotes opened #12890 "[Bug] [Alert] AlertInputTips lack of org.springframework.context.i18n.LocaleContextHolder"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

AlertInputTips lack of org.springframework.context.i18n.LocaleContextHolder.

### What you expected to happen

the alert server should work successfully.

### How to reproduce

start  alert code will show AlertInputTips lack

[2022-11-14 08:19] lugela commented on #12888
[12727](https://github.com/apache/dolphinscheduler/issues/12727) 3.0.x has bug , 2.0.x、3.1.x has no bugs.
Is it possible to cherry-pick [pr11919](https://github.com/apache/dolphinscheduler/pull/11919)

[2022-11-14 09:35] Tianqi-Dotes commented on #12890
https://github.com/apache/dolphinscheduler/pull/12892

[2022-11-14 09:35] #12890 closed, assigned to Tianqi-Dotes

[2022-11-14 09:44] #12603 closed, assigned to wcmolin

[2022-11-14 10:04] brave-lee commented on #12586
I like rerunning one day, and the instance after this day should not be executed. What do you think? cc @caishunfeng @zhongjiajie @EricGao888 @ruanwenjun

[2022-11-14 10:20] caishunfeng commented on #12586
Yes, agree with @SbloodyS , it is not a bug, we should not put this feature into 2.0.x, it will change the origin feature of complement data.

[2022-11-14 10:22] caishunfeng commented on #12586
+1, I think it should not auto rerun the next complement data, if user want to rerun, they can do it manually (rerun the 28th too or complement data again)

[2022-11-14 10:23] lenboo commented on #12586
This is a feature, not bug.
Rerun workflow instance would reproduce the instance using the parameters at that time:
type=complement &  mode=sequential & start = 27th & end = 28th

[2022-11-14 10:43] #8255 closed, assigned to nobody

[2022-11-14 11:30] wcmolin commented on #12586
So do you think that auto rerun the next complement data is now an existing feature on 2.x versions? not a bug @caishunfeng

[2022-11-14 11:33] lenboo opened #12896 "[Improvement][Datasource]It is unnecessary to check the validity when saving the data source"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

It is unnecessary to check the validity when saving the data source.

Eg:
The datasource is only open to the specified worker, but we cannot connect it from API-SERVER.

### Are you willing to submit a PR?

- [ ]

[2022-11-14 11:42] EricGao888 commented on #12586
My opinion is we give user a choice (or at least a notice) whether to complement the data after the specific date the user chooses to do data complement. But no matter what, I suggest we keep the original behavior on 2.0.x in case the change causes confusions. We could do the improvement on dev branch if it has not been implemented yet : ) So, basically I agree with this comment https://github.com

[2022-11-14 12:05] brave-lee commented on #12586
I think we should focus on the discussion point. This is a heavy rerunning behavior rather than a complement behavior

[2022-11-14 12:09] SbloodyS commented on #12882
The basic image does not contain third-party components. Please build it yourself. I'll close this issue. @codergh

[2022-11-14 12:09] #12882 closed, assigned to nobody

[2022-11-14 12:17] lentitude2tk commented on #12842
I found that sub calls are normal if the subtask has no configuration parameters, at which point main passes all parameters to sub

[2022-11-14 12:18] lentitude2tk commented on #12842
This logical process is completely black box to the user, and I haven't seen it used like this anywhere, and it's not user-friendly

[2022-11-15 00:56] zhongjiajie commented on #12427
Hi @frouhi, FYI in https://github.com/apache/dolphinscheduler/pull/12779 we just separate our Python API code in to an independent repo, named https://github.com/apache/dolphinscheduler-sdk-python, which mean we should both add a PR to https://github.com/apache/dolphinscheduler for java code, and to https://github.com/apache/dolphinscheduler-sdk-python for python one

And you can see more detail f

[2022-11-15 01:25] #12727 closed, assigned to lugela

[2022-11-15 01:26] zuzuviewer opened #12898 "[Bug] [Resource] Create resource by online-create API return null data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Create resource by online-create API return null data, expect return created Resource data

### What you expected to happen

return Resource data created by online-create api

### How to reproduce

request create resource by

[2022-11-15 01:55] hstdream commented on #12898
Please provide detailed reproduction steps and error log, thank you.

[2022-11-15 02:13] zuzuviewer commented on #12898
Request create resource by dolphinscheduler/resources/online-create API, and it response with null data, expect created resource data

[2022-11-15 02:13] zuzuviewer commented on #12898
Request create resource by dolphinscheduler/resources/online-create API, and it response with null data, expect created resource data, no error

[2022-11-15 02:26] Lynnhan95 commented on #12245
Can I take a look at this? @ChenpiDog @songjianet

[2022-11-15 03:03] DarkAssassinator commented on #12896
+1 i will improve it.

[2022-11-15 03:17] frouhi commented on #12427
Still pending :( I'll try to give an update here soon.

[2022-11-15 03:19] frouhi commented on #12427
Got it. Thanks for letting me know. Will do.

[2022-11-15 03:49] songjianet commented on #12245
We have implemented the grouping function of task components, you can check the specific changes here https://github.com/apache/dolphinscheduler/pull/11965. @ChenpiDog

[2022-11-15 03:49] #12245 closed, assigned to nobody

[2022-11-15 04:26] EricPyZhou opened #12901 "[Improvement][Resource Center] Return empty list instead of throwing errors when detecting no path existed for a tenant resource path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the current implementation, we throw a general error when a tenant resource path is not found in a file system. Based on suggestions from @SbloodyS , Returning empty lists for tenants that don't have resource p

[2022-11-15 04:45] ruanwenjun commented on #12870
If the task instance Id is null, means the task instance has not been submit, it shouldn't retry.

[2022-11-15 07:31] ChPi commented on #12870
retry task will `cloneRetryTaskInstance` that do not set id.
will retry task generate a new id and insert into table  `t_ds_task_instance` rather than updating the old record?

[2022-11-15 09:45] ruanwenjun commented on #12721
I will close this PR, you need to provide the detail if there exist a bug.

We don't plan to change the code in this class, this class should be refactored.

[2022-11-15 09:45] #12721 closed, assigned to jackfanwan

[2022-11-15 09:55] xiaomaiyun commented on #11632
it's a bug!

[2022-11-15 12:56] DarkAssassinator opened #12907 "[Improvement][Log] Adjust WorkerHeartBeatTask log level."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Please check the following screenshot, i think these heartbeat log should be `debug`, not `info`. Frequent normal heartbeat logs will interfere with user focus

![image](https://user-images.githubusercontent.com/2

[2022-11-15 13:07] EricGao888 commented on #12888
@lugela cherry-picked by https://github.com/apache/dolphinscheduler/pull/12894 , thanks for letting us know this.

[2022-11-15 13:09] ruanwenjun commented on #12870
Yes, it will insert a new task instance

[2022-11-15 13:20] zhuangchong opened #12908 "[Bug] [Worker] Execute shell task exception no dolphinscheduler_env.sh file execute permission"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Execute shell task exception no dolphinscheduler_env.sh file execute permission.

![iShot_2022-11-15_19 13 54](https://user-images.githubusercontent.com/37063904/201929201-1d9875bb-29cd-4bea-bf2e-a3a4e1b526db.png)

### What

[2022-11-15 14:48] caishunfeng commented on #12888
I test DateSource: MySQL and PGSQL,  Alert Plugin: Email,  FeiShu, Script,  they can work normally.

[2022-11-15 14:59] #12856 closed, assigned to huage1994

[2022-11-15 16:05] EricPyZhou commented on #12901
Based on opinions in the community, we actually have 2 options regarding this issue:
1. Do NOT throw an error. Instead, we return empty data lists.
2. Improve error messages for circumstances including:
    a. Resource Storage does not start up
    b. A tenant resource path is not found in Resource Storage.

Which option is more preferable? @SbloodyS @hstdream @calvinjiang @davidzollo

[2022-11-15 17:01] Radeity commented on #12837
@lenian Hi, the problem is in global parameter setting, the default type is `VARCHAR`, which causes the sql variable surrounded by single quotes. You can use local parameter in task node and set `LONG` type for the parameter.

If it helps, please close this issue. I'll open another issue to discuss about whether add type definition in global parameters.

[2022-11-15 17:09] Radeity opened #12910 "[Improvement][dolphinscheduler-api] Add type definition of global parameter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The default type of global parameter is `VARCHAR`, which may cause error when using it in SQL task (#12837).
DS should support to define the type of global parameters, like local parameter.

### Are you willing to

[2022-11-16 00:24] #12201 closed, assigned to nobody

[2022-11-16 00:24] #12001 closed, assigned to DarkAssassinator

[2022-11-16 04:18] Radeity commented on #12910
If there are other reasons for setting the fixed VARCHAR type, just comment and let me know!

[2022-11-16 05:39] chaclus opened #12914 "[Bug] [dolphinscheduler-tools] Mysql configurations not work for tools"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

- If we set database to mysql in dolphinscheduler_env.sh, when running upgrade-schema.sh in tools, will get errors like Caused by: java.sql.SQLException: Access denied for user 'root'@'127.0.0.1' (using password: YES)

when

[2022-11-16 05:40] hkun0120 opened #12915 "[Bug] [worker-server] report gtm connection failure to alarm checker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

postgresql: report gtm connection failure to alarm checker
My timezone is Asia/Shanghai
<img width="897" alt="image" src="https://user-images.githubusercontent.com/3326406/202092857-18fe9b36-ccaa-49a9-a291-6e02040b58dd.png">

[2022-11-16 06:14] rickchengx opened #12916 "[Bug] [Log] User can query or download other user's log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

User can query or download other user's log

### What you expected to happen

There's permission control in loggerService.

### How to reproduce

User (not admin) query the log of a task instance which is created by other us

[2022-11-16 06:48] chaclus commented on #12914
I am so sorry, it not a bug, just mysql password is wrong.  I apologize for the indiscreet report.

[2022-11-16 07:44] #12870 closed, assigned to ChPi

[2022-11-16 08:13] hkun0120 opened #12919 "[Bug] [datax] grammatical analysis sql column [*] failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="827" alt="image" src="https://user-images.githubusercontent.com/3326406/202122164-9141acab-900c-462e-87b6-c6e12f2bf04e.png">

### What you expected to happen

[Bug] [datax] grammatical analysis sql column [*] fai

[2022-11-16 09:17] DarkAssassinator commented on #12914
it's ok, and please close this issue. thx

[2022-11-16 09:40] Pdsmsf opened #12920 "[Bug] [resource] storage not startup"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Ver:3.1.1
Standalone
request: serverIP/dolphinscheduler/resources
response:{"code":60002,"msg":"storage not startup","data":null,"failed":true,"success":false}

### What you expected to happen

create success

### How to rep

[2022-11-16 10:00] fuchanghai commented on #12919
AFAIK,it just a warn log.which don't   affect the use

[2022-11-16 10:03] fuchanghai commented on #12919
maybe we just need print message ?

[2022-11-16 10:32] #11713 closed, assigned to Zzih

[2022-11-16 10:40] DarkAssassinator commented on #12920
hi @Pdsmsf , as i know, this is not a bug. Please check the `resource.storage.type` configuration. U should config it to HDFS, S3, OSS.

[2022-11-16 10:46] zhongjiajie commented on #12465
close due to https://github.com/apache/dolphinscheduler-sdk-python/pull/15

[2022-11-16 10:46] #12465 closed, assigned to tuchg

[2022-11-16 11:01] SbloodyS commented on #12901
I think simply just return an empty data list is ok since this is only the task definition, not the resource center.

[2022-11-16 11:06] #12914 closed, assigned to nobody

[2022-11-16 13:19] hkun0120 commented on #12919
this is because we lack the postgresqlreader and postrgresqlwriter.jar

[2022-11-16 13:20] hkun0120 commented on #12919
yes,this is not the problem, I will print the error message

[2022-11-16 15:02] zyy1161623489 commented on #12834
@SbloodyS Has anyone implemented this feature? I'd be willing to submit a pr to close this issue

[2022-11-16 15:03] hdygxsj commented on #12834
@SbloodyS  Has anyone implemented this feature? I'd be willing to submit a pr to close this issue

[2022-11-17 00:59] EricGao888 opened #12923 "[Improvement][Tools] Stop metadb schema upgrade when reaching soft_version"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* MetaDB schema upgrade is supposed to stop when reaching `soft version`.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [

[2022-11-17 02:01] Radeity commented on #12901
+1

[2022-11-17 02:08] EricPyZhou commented on #12901
so the plan for now is to return empty data list when fetching resource list in task definition (task modal). What about landing on the resource center? which one would you prefer @SbloodyS @Radeity?

I personally think behaviours for such cases should be same, in other words, empty list should be returned when landing on resource center without having a tenant resource path created.

[2022-11-17 02:14] #12456 closed, assigned to shangeyao

[2022-11-17 02:25] Radeity commented on #12713
Hi, @SbloodyS

In shell task, DS supports to use parameters like `echo ${val}`. However, we can't find out whether variable `val` is defined in upstream tasks or in worker's env variables, which means, use `DFS` or `TopSort` to find whether current parameters appear before may causes error because we don't know what env variables user defines.

- I suggest to add explicit statement when using upst

[2022-11-17 02:35] hkun0120 opened #12924 "[Bug] [dolphinscheduler-task-sql] sql task error！！！！"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/3326406/202340535-5e657ea2-4b94-460a-ae91-b45f3b6c8a06.png)

### What you expected to happen

try to  connect postgresql ,sometimes we got the error,what can i do ,the conne

[2022-11-17 02:51] tangbing2014 opened #12925 "Flink SQL org.apache.dolphinscheduler.plugin.task.flink/flink_stream The jar for the task is required"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when use Flink & Flink Stream sql type , the problem "The jar for the task is required" is disappear

### What you expected to happen

sql do not need jar

### How to reproduce

 use Flink & Flink Stream module  sql type

##

[2022-11-17 03:20] SbloodyS commented on #12901
I think we should return the message like https://github.com/apache/dolphinscheduler/pull/12664#discussion_r1022548800 when landing on resource center without having a tenant resource path created. @EricPyZhou

[2022-11-17 03:23] EricPyZhou commented on #12901
ah okay, so the behaviours are different.

[2022-11-17 03:30] SbloodyS commented on #12834
No. I've assigned to you. Looking forward to your contribution.

[2022-11-17 03:43] DarkAssassinator commented on #12924
hi @hkun0120 , may u should check your sql and params.

[2022-11-17 03:47] hkun0120 commented on #12924
yes ,after check.SQL is oK. and the null is from connection.not THE EXECUTE SQL.
<img width="863" alt="image" src="https://user-images.githubusercontent.com/3326406/202350131-d8b24bbb-6642-42e8-92b1-b461b4920099.png">
<img width="1066" alt="image" src="https://user-images.githubusercontent.com/3326406/202350179-c8e065cd-0044-4235-8c12-aae375d70957.png">

[2022-11-17 03:47] hkun0120 commented on #12924
connection is null ,why this happens

[2022-11-17 03:50] xiaofan2022 opened #12927 "[Bug] [Worker The parameter setting of the same out type is invalid multiple times."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The same name out type parameter setting is invalid multiple times( use first)

### What you expected to happen

The same type parameter setting uses the latest value multiple times

### How to reproduce

Use sql to modify v

[2022-11-17 04:06] DarkAssassinator commented on #12924
this is 3.0.x source code?

[2022-11-17 04:55] Radeity commented on #12863
Hi @Alxe1, I've tested your scene and found noting wrong. Please check whether you set the parameter in a wrong way.

**local parameter setting:**
<img width="545" alt="image" src="https://user-images.githubusercontent.com/45198818/202359240-de078144-43e5-43a7-a3cb-e1d0d76daf25.png">

**log**

<img width="1104" alt="image" src="https://user-images.githubusercontent.com/45198818/202359300-f5cadb7f-

[2022-11-17 04:57] pandong2011 commented on #12925
Hello, can you provide more details on bug reappearance? thx

[2022-11-17 05:22] tangbing2014 commented on #12925
` public void init() {
        logger.info("flink task params {}", taskExecutionContext.getTaskParams());

        flinkParameters = JSONUtils.parseObject(taskExecutionContext.getTaskParams(), FlinkParameters.class);

       if (flinkParameters == null || !flinkParameters.checkParameters()) {
            throw new RuntimeException("flink task params is not valid");
        }
        flinkParameter

[2022-11-17 05:31] yihao-tcf commented on #12409
The problem still exists after I upgrade DS to version 3.1x

[2022-11-17 05:56] hkun0120 commented on #12924
logger.info is I add later

[2022-11-17 06:12] #12919 closed, assigned to hkun0120

[2022-11-17 06:13] #12915 closed, assigned to hkun0120

[2022-11-17 06:14] #12866 closed, assigned to qingwli

[2022-11-17 06:23] #12896 closed, assigned to DarkAssassinator

[2022-11-17 06:25] caishunfeng commented on #12896
@DarkAssassinator I had merged the pr :smiling_face_with_tear:
@insist777 next time please leave the comment before submitting pr.

[2022-11-17 07:21] DarkAssassinator commented on #12896
@caishunfeng , sure, welcome anyone to help fix issues.
@insist777 thx bro

[2022-11-17 07:27] amaoisnb commented on #4375
I wanna have a try, can you please assign to me?

[2022-11-17 08:08] hkun0120 commented on #11142
me,too,. do you fixed it ?

[2022-11-17 08:49] Alxe1 commented on #12863
In below picture, the parameter type frame is gray, I can not select other parameters and it can not pass parameters in sql script. Is there anything miss configurations resulting to  this problem?

![image](https://user-images.githubusercontent.com/15032072/202398847-f8f2f75f-db34-41ce-9ed0-05f26f6a18e3.png)

[2022-11-17 09:14] Alxe1 commented on #12863
my procedure is: add spark node -> select sql type -> select spark2 version -> write sql script with parameters -> add user defined parameters (which can not select parameter type) -> end. dolphonescheduler version: 3.0.1

![image](https://user-images.githubusercontent.com/15032072/202410272-05cd26f7-8672-4ee9-be59-cd208cef84ff.png)

![image](https://user-images.githubusercontent.com/15032072/2024

[2022-11-17 09:27] hkun0120 commented on #12924
@ruanwenjun 大神帮忙，看看能不能给点思路

[2022-11-17 10:21] EricGao888 opened #12931 "[Improvement][Security] Add CSRF protection"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, we do not have CSRF protecting for form submission and we haven't enabled `CSRF` of Spring Security. We could enable it and improve the front end at the same time by adding `CSRF-token` to protect `DS

[2022-11-17 10:28] pandong2011 commented on #12925
<img width="867" alt="image" src="https://user-images.githubusercontent.com/100667564/202420994-2c1fc89e-8bf4-4a45-8804-128f332dd300.png">

You do not need to upload jars to use flink sql
<img width="808" alt="image" src="https://user-images.githubusercontent.com/100667564/202421823-ef1a4ac7-ef77-45f8-8176-ae0d42451e3c.png">

But you need to use yarn-per-job to submit your flink job
![image](https

[2022-11-17 10:32] pandong2011 commented on #12925
You do not need to upload jar to use flink sql

<img width="808" alt="image" src="https://user-images.githubusercontent.com/100667564/202422990-f325e812-a0ab-4656-8932-bc969ba9dcfe.png">

But you need to use yarn-per-job to submit your flink job

![image](https://user-images.githubusercontent.com/100667564/202423009-363b6b4d-60f6-4c3b-bf74-d563b043beb3.png)

[2022-11-17 10:40] 15810785091 commented on #12440
first mandatory success one Workflow
<img width="1404" alt="image" src="https://user-images.githubusercontent.com/53160760/202424428-90453dab-9816-479f-b0aa-e3be8b1eea10.png">
<img width="1326" alt="image" src="https://user-images.githubusercontent.com/53160760/202424555-aba31e1a-b639-4ffd-a3f9-43bc6895deaa.png">
select t1.task_code,t1.state,t2.state
from
  t_ds_task_instance t1
left join
  t_ds_p

[2022-11-17 11:29] EricGao888 commented on #12931
https://docs.spring.io/spring-security/site/docs/5.0.x/reference/html/csrf.html

[2022-11-17 12:45] hdygxsj commented on #11847
@SbloodyS  please assign to me if no one is implementing it, please assign to me if no one is implementing it

[2022-11-17 12:47] SbloodyS commented on #11847
Great! I've assigned to you. Looking forward to your contribution.

[2022-11-17 13:10] hdygxsj commented on #11850
I feel that it is difficult to calculate accurately. When there are too many scheduled tasks, estimating the number of concurrency per minute may take a long time. Users should not be willing to stay on the form for too long to wait for the system to calculate the number of concurrency per minute. Is it possible to take a rough estimate, or through the monitoring center to count the latest number

[2022-11-17 13:22] hdygxsj commented on #12457
I can't reproduce too ,@arstercz can you provide more infomation to help reproducing this issue ?

[2022-11-17 13:37] hdygxsj commented on #12834
It seems that this function has not been added yet, and I found that the download workflow picture button on the workflow definition page and the offline button on the workflow list page use the same icon, whether it needs to be adjusted,  I'd be willing to commit a pr to close this issue
![5d77c44715b253ec7ef26fa01b5b98b](https://user-images.githubusercontent.com/35210666/202460845-a22fead4-eeb2-

[2022-11-17 13:38] hdygxsj commented on #11844
@SbloodyS  It seems that this function has not been added yet, and I found that the download workflow picture button on the workflow definition page and the offline button on the workflow list page use the same icon, whether it needs to be adjusted,  I'd be willing to commit a pr to close this issue
![5d77c44715b253ec7ef26fa01b5b98b](https://user-images.githubusercontent.com/35210666/202460845-a22

[2022-11-17 13:43] #12908 closed, assigned to zhuangchong

[2022-11-17 15:51] Radeity commented on #12873
Hi, @caishunfeng @DarkAssassinator
BTW, i think current table structure of `t_ds_environment` is not elegant, as far as I know, environment just configure some environment variables which may be used in tasks. Why not record a variable in one row, rather use `config` field? Only query this table once during task execution, so query performance is not a big deal.

Also, i have an environment-relate

[2022-11-18 01:30] tangbing2014 commented on #12925
sry, I just saw the bug has been fixed in version 3.1.1 release .
thank you for your help.

[2022-11-18 01:30] #12925 closed, assigned to tangbing2014

[2022-11-18 01:56] Radeity commented on #12873
Oh, i just find that config is directly written into command file, if so, save it as String is more convenient.

[2022-11-18 02:55] hkun0120 commented on #12924
今天不报错了，估计是我们积压的task太多，导致占据了连接数

[2022-11-18 02:55] #12924 closed, assigned to hkun0120

[2022-11-18 06:02] fuchanghai opened #12932 "[Bug] [Master] when subprocess's processInstance is fail,not notify parent processInstance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when subprocess's process Instance 's state changed to  fail, match the task instance‘s state is still SUBMITTED_SUCCESS in the parent process instance

### What you expected to happen

notify master to change state in paren

[2022-11-18 07:55] xinxingi commented on #11449
@SbloodyS Hi,bro please start the issue fresh. Next I can continue to dock this issue as I encountered the same error

[2022-11-18 08:07] qiangzai201611 opened #12936 "[Improvement][Task] dolphinscheduler Whether crontab is supported for supplementary data entry ?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Select a time range and filter out the matching time using the crontab rule. Then supplement the data according to these times。

Because the current tasks are scheduled using the crontab

That's a good idea

例如：我的

[2022-11-18 08:11] qiangzai201611 commented on #12936
dolphinscheduler&nbsp; version&nbsp; 2.7.0

夜孤行
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年11月18日(星期五)

[2022-11-18 08:42] shangeyao commented on #12936
Good idea！It's a nice feature. Please assign to me.

[2022-11-18 09:12] ChPi opened #12938 "[Bug] [server] task can not be submitted when the worker is down"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version 3.1.0.

i run a flow on dolphinscheduler k8s cluster， then delete the worker which task running，the task cannot be resubmitted.
the task state is always `Need fault tolerance`.

when a worker is down, the master will

[2022-11-18 11:42] ChPi commented on #12938
will test it on latest version, so close it first

[2022-11-18 11:42] #12938 closed, assigned to nobody

[2022-11-18 15:03] #12834 closed, assigned to hdygxsj

[2022-11-19 03:30] lazybird23 opened #12939 "[Bug] [Module Name] workflow change other version error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

workflow has many versions, after update workflow name and description to save and generate new version, but other not to switch.

demo:
![image](https://user-images.githubusercontent.com/20657712/202832184-0b872317-9bd9-45f

[2022-11-19 05:23] pandong2011 commented on #12939
hi, could you provide more detail? According to your description above, my reproduce is successful

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/100667564/202835677-b781a4af-1ad0-456a-a6cf-fc39ffd74afe.png">

[2022-11-19 05:25] zhangxn8 opened #12941 "mvn package bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

use build command >mvn clean install -Prelease -Dmaven.test.skip=true -Dcheckstyle.skip=true

path dolphinscheduler\dolphinscheduler-dist\target bin package

![image](https://user-images.githubusercontent.com/22562144/202835

[2022-11-19 07:12] #12853 closed, assigned to rickchengx

[2022-11-19 09:05] lugela opened #12942 "[Feature][task-dataquality] The Data Quality Plugin supports the Resource Center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1.After Kerberos authentication is enabled for the cluster, need to use the keytab file to authenticate using Spark
2.Using Spark cluster verification requires the use of third-party jar
![image](https://user-imag

[2022-11-19 10:13] DarkAssassinator commented on #12941
hi @zhangxn8 , i do not think this is a DS bug, should be a PC maven env issue.

[2022-11-19 12:03] calvinjiang opened #12943 "[Improvement][UI] Suggest to add a feature that users can drag the column of workflow name to resize its width."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The workflow name on the page of workflow definition could be too long to see its name at times. Although providing the tooltip to see the whole name, it's still kind of less convenient. So I'd suggest to add a fe

[2022-11-19 12:53] ZhongJinHacker opened #12945 "[Improvement][dolphinscheduler-tools] find some sonarlint warning and name spell problem"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I find some sonarlint warning and name spell problem in module named dolphinscheduler-tools
for example:
DemoContants.java -> DemoConstants.java
and so on (other sonarlint warning)
please review my pull request to

[2022-11-19 13:16] hkun0120 commented on #12939
does this exists in 3.0.0 version
/?

[2022-11-19 13:56] lazybird23 commented on #12939
thanks for your reply, currently  other workflow not repeat this issue in prod environment, switchVersion api query result by processCode and version only one  result, i will keep on watching

[2022-11-19 14:00] lazybird23 commented on #12939
happen in 3.1.0 but only one workflow，suspect dirty data will keep watching

[2022-11-19 14:02] #12939 closed, assigned to nobody

[2022-11-20 03:38] davidzollo commented on #12943
a good improvement

[2022-11-20 05:18] lugela opened #12948 "[Improvement] [task-dataquality] any user can use all the data sources configured in the data source center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When using the data quality plugin, it is found that any user can use all the data sources configured in the data source center.

### What you expected to happen

The data source permission of the data source center should b

[2022-11-21 02:36] shangeyao commented on #12936
This function has been implemented in dev branch.

[2022-11-21 06:36] wtttt123456 opened #12950 "[Bug] [zookeeper] the node IP in the worker group connet be updated automatically"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the worker restarts, the IP changes, but the custom node IP in the worker group cannot be automatically updated along with the default node. Later, it was found that the custom node was not successfully created in zook

[2022-11-21 10:20] EricGao888 opened #12952 "[Doc][Release] Improve docs related to DS release"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Add more instructions on how to release DS, e.g. how to set up environments to build and publish DS docker images.

### Documentation Links

_No response_

### Are you willing to submit a PR?

- [X] Yes I am wil

[2022-11-21 11:50] DarkAssassinator commented on #12950
hi @wtttt123456, please describe this issue in English. And u mean that cannot update the worker IP in zk?

[2022-11-21 11:56] DarkAssassinator commented on #12907
i think that we should change these log to DEBUG, WDYT cc @ruanwenjun @caishunfeng

[2022-11-21 12:59] #12804 closed, assigned to rickchengx

[2022-11-21 13:38] weixiaonan1 opened #12953 "[Feature][alert-plugin & task-SQL] Send results to message queue (result of workflow executiton and SQL query task)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This issue consists of two parts：
1. add alert-plugin-MessageQueue(MQ) to send result of workflow execution to MQ which user specified
2. In query SQL task, add a choice to send query results to MQ(use alarm group

[2022-11-21 14:17] hkun0120 commented on #12950
yes, when I create new worker group, name "newG " for example,and restart the container in k8s cluster ,and the IP address is updated in default worker group,but the newG worker group's container ip is not updated at the same time,the ip is the old container's,which is not exists now.

[2022-11-21 14:42] DarkAssassinator commented on #12950
hi @hkun0120 , as i know, this is not a bug, this is a feature, now DS will not update the worker group by monitor other worker group in zk. So u should update it in the UI manually. Because DS 3.0.x+ just mantain Worker group in DB.

[2022-11-21 16:15] Radeity commented on #12863
It seems no problem with this procedure, however, it looks weird that you can not select parameter type. I don't have the environment of version 3.0.1, maybe you can ask someone else to help. @ruanwenjun @SbloodyS

[2022-11-22 01:22] zhongjiajie commented on #12427
Thanks for your pay attention to DolphinScheduler, hope we can update and action soon

[2022-11-22 01:42] zhuangchong opened #12954 "[Bug] [Schedule] When timing triggers execution, the configured workflow-level environment information does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When timing triggers execution, the configured workflow-level environment information does not take effect.

### What you expected to happen

When timing triggers execution,  the workflow configuration environment informatio

[2022-11-22 02:25] amaoisnb commented on #12833
I wanna have a try, can you please assign to me?

[2022-11-22 02:26] Radeity commented on #12953
Hi, @weixiaonan1
It's good to import MQ in your scenario which can decouple DS and your third-part systems. **However,** whether feedback it to DS have to discuss further. In my view, integrate such middleware support into DS is kind of weird. Instead, for change data capturing, you can independently use other middleware to monitor database change log (such as Canal, Debezium, Maxwell) which bring

[2022-11-22 06:14] zhangfane opened #12956 "[Bug] [deploy] java path is incorrect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I deployed dolphinscheduler version 3.1.1 based on kubernetes, unfortunately, it does not work properly and reports the following error.
`./bin/start.sh: line 30: /usr/local/openjdk-8/bin/java: No such file or directory`

##

[2022-11-22 06:30] weixiaonan1 commented on #12953
@Radeity Thanks for your feedback.

Currently, our alert group just aims to notify the user. It means the total end of a workflow execution. The same goes for sending SQL query results through emails.  So if we integrate MQ support into DS, sending these msgs to MQ in order to consume in other systems, it's really quite different from current mode and looks weird. However, from the persperctive of

[2022-11-22 06:34] jieguangzhou opened #12958 "[Bug] [Task Plugin] Python task can not pass the parameters to downstream task."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/31528124/203241406-b6625b78-a1d7-410a-9db2-38dbd7e977b2.png)

Can’t work

### What you expected to happen

empty

### How to reproduce

empty

### Anything else

_No respons

[2022-11-22 06:42] EricGao888 opened #12959 "[Improvement][Task Plugin] Make task plugin loading configurable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Many users does not need all of DS task plugins. It would be handy if they could configure what to pick through configurations.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-11-22 06:54] ShawshankLin opened #12960 "[Bug] [complement] Startup parameters cannot update global variables"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Startup parameters cannot update global variables

![1669099816815](https://user-images.githubusercontent.com/16248686/203244623-bc9b7355-370d-4354-bae2-b2b642de9617.png)

3. x Version is normal

### What you expected to hap

[2022-11-22 07:07] #12932 closed, assigned to fuchanghai

[2022-11-22 07:21] jieguangzhou opened #12962 "[Bug] [DOC] fix doc lead CI failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1898" alt="image" src="https://user-images.githubusercontent.com/31528124/203250179-44f18ebc-2fe3-4d1a-83ff-6ba028a3a898.png">

### What you expected to happen

empty

### How to reproduce

empty

### Anything el

[2022-11-22 07:22] zhuangchong opened #12963 "[Bug] [Master] Dependent task node null pointer exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1395" alt="image" src="https://user-images.githubusercontent.com/37063904/203247835-598e1825-93f8-4eab-832e-374b0b77014b.png">

### What you expected to happen

Dependent task node to check that the status of the

[2022-11-22 07:35] #12954 closed, assigned to zhuangchong

[2022-11-22 07:37] ShawshankLin opened #12966 "[Bug] Failed to export and then import the project."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Failed to export and then import the project. The id of the branch flow does not correspond

![image](https://user-images.githubusercontent.com/16248686/203253008-d8752ed7-6f2d-4d34-a655-a33a51b8e613.png)

### What you expec

[2022-11-22 07:37] #12962 closed, assigned to jieguangzhou

[2022-11-22 07:52] CRUDKanade opened #12967 "[Bug] startParams Not in effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/71861187/203256068-bbf06d93-61b0-4aa9-a28e-d43f6ba67164.png)

![image](https://user-images.githubusercontent.com/71861187/203256530-88f667a6-229a-4b96-9610-511242900278.png)

[2022-11-22 08:11] #12958 closed, assigned to jieguangzhou

[2022-11-22 08:49] jieguangzhou commented on #12959
Good idea, can we config that in the Web server?

[2022-11-22 09:05] hzyangkai opened #12968 "[Feature][Master] task running in external resource manager (e.g. yarn ) should keep running whenever master or worker crashes when doing failover"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, no matter what type of task, when worker or master crashes, a new task is killed and restarted, which is unreasonable for tasks running on yarn。
A reasonable form should be :
1. if task running in exte

[2022-11-22 09:56] EricGao888 commented on #12959
No, currently we can't. It is easy to choose what not to load from the backend part. But I have no idea how to make it work for the front-end part. May I ask whether you have any ideas? @songjianet @Amy0104 @devosend

[2022-11-22 12:38] Radeity commented on #12968
Can you give detailed design?

[2022-11-22 13:52] MonsterChenzhuo opened #12970 "[Feature][Module Name] dolphinscheduler2.x, 3.x support Apache Ambari deployment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, there are still a large number of companies in China using Apache Ambari for the deployment of big data services, and for the characteristics of dolphinscheduler services with many configuration parame

[2022-11-22 14:13] MonsterChenzhuo opened #12971 "[PROPOSAL] dolphinscheduler-warehouse"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

With dolphinscheduler landing on ziroom, we have experienced nearly a year of use and secondary development, summarizing many interesting experiences.
1. dolphinscheduler main use scenario: offline number warehous

[2022-11-22 16:06] Radeity commented on #12960
@ShawshankLin Actually, start parameters can override global parameters in version 3.x, do you mean that's a bug in 2.x version and have to be solved in next 2.x version?

[2022-11-23 03:01] EricGao888 commented on #12888
3.0.2 has been released on Nov. 22nd, 2022

[2022-11-23 03:01] #12888 closed, assigned to EricGao888

[2022-11-23 03:13] zhuangchong opened #12973 "[Improvement][API] The task instance list is sorted by submission time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The current task instance list is sorted according to the task start time, but some task start times are empty, and this batch of tasks will always be at the top of the task instance list. When there is a large am

[2022-11-23 03:59] mer2 commented on #12457
which milestone will it be fixed? it seems it's a UI bug, when UI dialog show, it should display the corrent env-name last edited. 3q

[2022-11-23 04:19] BryantKai opened #12975 "[Swagger] api-server swagger doc can't set Authorizition"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I use "http://{api](http://%7Bapi/) server ip}:12345/dolphinscheduler/swagger-ui/index.html?language=zh_CN&lang=cn" address but opend like it
![image](https://user-images.githubusercontent.com/52842923/203468017-21e3a028-a22

[2022-11-23 05:26] fuchanghai commented on #12959
can  we storage plugin name in  DB that user does not need?  ,when we start the application  filter that
<img width="939" alt="image" src="https://user-images.githubusercontent.com/33984497/203474398-524d7816-1f09-4450-859f-97022fa77ce2.png">

[2022-11-23 05:35] EricGao888 commented on #12959
I was planning to do it with configurations instead of adding more interactions with DB. For example, users could provide a list of plugins they want to use in `common.properties` or `application.yaml`, and `TaskPluginManager` will only load these types.

[2022-11-23 05:41] hkun0120 commented on #12950
@DarkAssassinator thank you very much. there is another question, the Default worker-group has all IP,and other workergroup has serveral ip, does this mean DS recommand us to use default worker-group?

[2022-11-23 06:33] zhongjiajie commented on #12970
Hi @MonsterChenzhuo support the latest version of dolphinscheduler deploy to Ambari, you can add PR to repo https://github.com/apache/dolphinscheduler-ambari

[2022-11-23 07:02] zhongjiajie commented on #12970
Hi @MonsterChenzhuo I migrate this into https://github.com/apache/dolphinscheduler-ambari/issues/2, close it

[2022-11-23 07:02] #12970 closed, assigned to nobody

[2022-11-23 11:07] jieguangzhou opened #12978 "[Feature][Master] Run single task in workflow instance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/31528124/205628027-3ff52cd8-96b3-49ad-82bf-4e0601a9858b.png">

## Brief change log

### UI
- In the `Workflow Instance` page, add three

[2022-11-23 11:51] Tianqi-Dotes opened #12979 "[Feature][BE] request none aws access screte storage in DS and short lived token maintenance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This feature illustrates a condition to replace AWS access secret config with token maintenance. The reason to remove access secret is to reduce the secret leak possibility, due to many companies having many AWS,

[2022-11-23 12:03] hzyangkai commented on #12968
Thank you for your reply. Please see the attachment for the detailed design.
[DolphinScheduler's detailed design of failover.pdf](https://github.com/apache/dolphinscheduler/files/10075229/DolphinScheduler.s.detailed.design.of.failover.pdf)

[2022-11-23 12:12] DarkAssassinator commented on #12950
hi @DarkAssassinator, DS does not recommend which Worker group to use, because the decision depends on the user's own real demands. The default Worker group just includes all worker nodes, but if you need to specify tasks to run on a specific server or list of servers, you need to specify a workgroup.

[2022-11-23 12:24] DarkAssassinator commented on #12873
hi @Radeity because many task may use the same environment, so DS add `t_ds_environment` to manage. So u mean that we should add a environment string column in task_instance? But I think the environemt field is only useful for some tasks that use bash, not all task types, so I think the environemt  field does not belong to the taskInstance, but should be a custom parameter of the task plugins. So

[2022-11-23 13:00] zhongjiajie commented on #12971
Is similar to https://github.com/apache/dolphinscheduler/issues/7156, we have discuss before

[2022-11-23 13:39] zhongjiajie commented on #12971
Hi @MonsterChenzhuo we should correct the issue describe to the right one, to let others understand our mean. Then we will send an email to discuss the feature, and we may probably create a new repository to keep its codebase

[2022-11-23 14:13] DarkAssassinator opened #12981 "[Bug] [Worker Group] Default Worker Group contain history and wrong records."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Default Worker group contain `default`、`XXXX:1234`、`worker`, all these 3 nodes were wrong.
+ `default` and `worker` not worker nodes.
+ `XXXX:1234` has stopped. Default worker group should not be contain this record.
![Image

[2022-11-23 15:45] Radeity commented on #12873
Hi, @DarkAssassinator. I just find out i misunderstand in the first comment, so correct myself in the second comment, which i mean is saving field `config` as String is reasonable in DS. Actually i have no doubts about the current implementation and agree with your idea, thanks for your reply!

[2022-11-23 16:02] Radeity commented on #12978
Hi, @jieguangzhou, i just find that in current implementation, DS doesn't have input parameter check when running single task in workflow definition. I think whether run single task in workflow definition or workflow instance, it should be taken into account. Whether or not we should create another PR to handle it?

[2022-11-24 00:23] #12387 closed, assigned to songjianet

[2022-11-24 02:11] #5925 closed, assigned to nobody

[2022-11-24 02:32] JueLance opened #12983 "[Bug] [dolphinscheduler-service] When serializing Date, it is not distinguished whether java.sql.Date or java.util.Date causes serialization failure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/json/DateJsonSerializer.java

在将Date转换成String时，入参是java.util.Date，然后内部会调用date.toInstant()方法转换成Loca

[2022-11-24 02:39] EricGao888 commented on #12936
Closed by https://github.com/apache/dolphinscheduler/issues/12936#issuecomment-1321372383

[2022-11-24 02:39] #12936 closed, assigned to nobody

[2022-11-24 02:56] Radeity commented on #12953
Hi, @weixiaonan1. You can send an email to [dev@dolphinscheduler.apache.org](https://lists.apache.org/list.html?dev@dolphinscheduler.apache.org) in which can get more feedback!

[2022-11-24 03:21] SbloodyS commented on #12968
Duplicated with #9664.

[2022-11-24 03:29] #12941 closed, assigned to nobody

[2022-11-24 05:45] EricGao888 opened #12986 "[Improvement][Alert] Remove default alert group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* https://github.com/apache/dolphinscheduler/blob/db615ba284de8ab2782ef41ab412286357d77cb6/dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_mysql.sql#L1013-L1015
* Currently DS binds alert plugin insta

[2022-11-24 06:09] Radeity commented on #12960
@SbloodyS You can assign me. Can i ask that if i should develop base on the latest branch of 2.x for maintaining 2.x version?

[2022-11-24 06:41] QJG666 commented on #11801
So, what version are you using that I can't change when I'm using version 3.0.0

[2022-11-24 06:48] hzyangkai commented on #12968
#9664 was a long time ago, There seems to be nothing to block this issue from 3.1.0. It seems to be an important feature.Can this issue be raised to a higher priority? I wish I could submit a pr.

[2022-11-24 06:49] SbloodyS commented on #12968
You are very welcome to submit pr.

[2022-11-24 07:38] woshiwuxiaofei opened #12988 "[Improvement][dolphinscheduler-alert]The variable name [this $xxx] does not conform to the naming style of lowerCamerCase"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/17974050/203722800-69e51f00-a574-4aae-9743-9b17090266e9.png)

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-11-24 07:39] woshiwuxiaofei commented on #12988
I can do it

[2022-11-24 08:09] SbloodyS commented on #12960
Yes.

[2022-11-24 10:30] Zzihh commented on #12898
Please provide request parameters and related logs.

[2022-11-24 10:59] #12973 closed, assigned to zhuangchong

[2022-11-24 11:00] #12963 closed, assigned to zhuangchong

[2022-11-24 13:25] davidzollo commented on #12409
@yyh2954360585 can you fix it?

[2022-11-24 14:05] Radeity commented on #12968
Hi @hzyangkai, thanks for your detailed design!

Firstly, i strongly agree with you that all types of tasks should run as type 3 which can make DS behave more like a scheduler and without regard to how task run.

Then, in my view, it's actually an ideal fault tolerance strategy and better than current way. However, i have a question that how can you exit submit process after fetching appId immedia

[2022-11-24 15:26] DarkAssassinator commented on #12981
we should remove `default` node in registry center, because now DS has removed WorkerGroup in registry, so i think that we do not need `woeker/default` node. WDYT. cc @ruanwenjun @caishunfeng @SbloodyS

[2022-11-25 01:09] #12956 closed, assigned to zhangfane

[2022-11-25 01:12] yyh2954360585 commented on #12409
I will try to solve this problem when I have time.

[2022-11-25 01:25] yyh2954360585 commented on #12409
will try to solve this problem when I have time.

[2022-11-25 01:25] yihao-tcf commented on #12409
I will try to solve this problem when I have time.

[2022-11-25 01:42] Radeity commented on #12966
@SbloodyS I'll check and fix it.

[2022-11-25 02:16] Sky-Gu opened #12989 "[Bug] [Flink Task] If the -t parameter is used in flink on yarn mode, some parameters become invalid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

flink task  command:
flink run -t yarn-per-job -ys 3 -ynm test-job -yjm 2G -ytm 4G -yqu default -p 3 -sae xxxx.jar

The -ynm parameter is invalid when using the -t boot mode.

Correct submit command:
flink run -t yarn-per-jo

[2022-11-25 03:34] zhangxinjian123 opened #12991 "dolphinscheduler 1.3.1 User permission problem"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, the DolphinScheduler is relatively simple in controlling permissions. It hopes to add operation permission control when authorizing projects and resource centers to separate read and write permissions.

[2022-11-25 03:54] hzyangkai commented on #12968
Hi @Radeity, thanks for your review.

How to separate submitApplication and monitorApplication is realized by the submit script of the computing engine. For the computing engine, such as flink or yarn, after submitting tasks to yarn, appid will be printed in the log immediately, and it will also provide parameters to control exiting the submitting process or blocking until the task is finished. Fo

[2022-11-25 05:53] EricGao888 commented on #12521
Closed due to low priority. If anyone interested in this issue and would like to give a try, plz feel free to comment and reopen this issue.  : )

[2022-11-25 05:53] #12521 closed, assigned to nobody

[2022-11-25 05:58] zhuangchong opened #12994 "[Bug] [Worker] kill process does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I execute a shell task, a workflow instance will be generated, click the stop button on the workflow instance, and check the status of the shell task instance on the page is KILL, but I found that the shell task is stil

[2022-11-25 07:07] yihao-tcf commented on #12690
I also encounter the same situation. The alert service is started successfully, but the log is stuck

[2022-11-25 07:11] Radeity commented on #12968
Hi, @hzyangkai

You have to figure out all types of yarn tasks and all modes can work. BTW, your classification of type 1 is kind of wrong, shell task can submit yarn job, either, simply by writing submit command in shell script and submit yarn job by shell task instead of spark task. I think there's no problem to kill and restart shell task, but you have to make a statement that only yarn job sub

[2022-11-25 07:12] yihao-tcf commented on #12690
I used versions 3.0.1 and 3.1. X, but the problem is still the same

[2022-11-25 07:36] wangsong8586 opened #12996 "no "source /usr/local/software/ds3.0.2/worker-server/conf/dolphinscheduler_env.sh""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1、I create a workflow called testemv , it  contains a shell task onlly.
2、I create a environment called testenv01, it defines some os environment vairables
3、 If I run the workflow with the testenv01 , then it will not execu

[2022-11-25 07:46] ShawshankLin commented on #12960
yes

[2022-11-25 08:01] EstherLee-Chinese commented on #8099
Hello boy problem solved brother how to solve it, can you share and share

[2022-11-25 08:31] hzyangkai commented on #12968
Hi, @Radeity

Thanks for your reminder , shell tasks can indeed be both type 1 and type 2.

As I mentioned in the current goal, when worker crashes, only tasks of type 3 (such as SparkTask in Cluster Mode) will keep running, while other types of tasks will keep their original logic, restarting after killing.

in other words, I will ensure that only for tasks of type 3（At present, I only plan to ad

[2022-11-25 08:38] Radeity commented on #12996
Hi, @wangsong8586

If you specify a self-defined environment, DS will not source default env file `dolphinscheduler_env.sh`, instead, add your env config(highlight in blue box) into command file.
<img width="900" alt="image" src="https://user-images.githubusercontent.com/45198818/203936691-bdc47b66-cbc3-4e1b-992f-eae148799e3b.png">

[2022-11-25 09:06] zhuangchong opened #12997 "[Bug] [API] The workflow instance clicks the rerun button, and the end time is the end time of the last instance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The workflow instance clicks the rerun button, and the end time is the end time of the last instance.

<img width="1181" alt="iShot_2022-11-25_17 00 46" src="https://user-images.githubusercontent.com/37063904/203942380-f4f70

[2022-11-25 09:29] wssjdi opened #12999 "[Bug] [api-server] update V2.0.X to V3.1.1 page query workflow instance list error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

当我将dolphinscheduler从V2.0.6版本升级到V2.0.7,再升级到V3.1.1的时候，api-server出现如下异常:

[ERROR] 2022-11-25 17:18:33.583 +0800 org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[53] - 分页查询工作流实例列表错误
org.springframework.jdbc.BadSql

[2022-11-25 09:37] #12907 closed, assigned to DarkAssassinator

[2022-11-25 09:38] wssjdi commented on #12999
还需要添加另外一个字段

ALTER TABLE `t_ds_process_instance`	ADD COLUMN `next_process_instance_id` INT(11) NOT NULL DEFAULT '0' COMMENT 'serial queue next processInstanceId';

[2022-11-25 09:45] lordk911 opened #13000 "[Doc][pseudo-cluster.html] Preparation of zookeeper should up to 3.5.0+"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

because of  dolphin use curator 5.x as zookeeper client library , [it is no longer support zk 3.4.x ](https://curator.apache.org/zk-compatibility-34.html).

### Documentation Links

_No response_

### Are you will

[2022-11-25 09:46] lordk911 commented on #12268
https://github.com/apache/dolphinscheduler/issues/13000#issue-1464279822

[2022-11-25 09:59] #12916 closed, assigned to rickchengx

[2022-11-25 10:49] DarkAssassinator opened #13001 "[Improvement][Migrate] Migrate org.apache.commons.collections -> org.apache.commons.collections4."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

+ The current DS uses both `commons-collections` and `commons-collections4`, we should migrate all `commons-collections` -> `commons-collections4`.
+ Should update `commons-collections4` to `4.3`, because `commons

[2022-11-25 11:01] DarkAssassinator commented on #12999
hi @wssjdi please describe ur question in English. And i think that this is a question, not a bug. And may u can check the `dolphinscheduler-dao/src/main/resources/sql/upgrade`

[2022-11-25 11:06] DarkAssassinator commented on #13000
hi @lordk911 , this case has been fixed, please check https://github.com/apache/dolphinscheduler/issues/12284

[2022-11-25 11:07] #13000 closed, assigned to nobody

[2022-11-25 12:41] hdygxsj commented on #12619
Can we do this by submitting yaml to the k8s api Server using kubeconfig @SbloodyS @kezhenxu94 @nobolity

[2022-11-25 12:43] kezhenxu94 commented on #12619
There is Kubernetes task already, https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/task/kubernetes.html

[2022-11-26 00:19] #12404 closed, assigned to Wang-Jun-Chao

[2022-11-26 13:47] zhuangchong opened #13008 "[Bug] [Master] When using the complement function, turn on the dependent mode to generate multiple unrelated workflow instances"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When using the complement function, turn on the dependent mode to generate multiple unrelated workflow instances.

I found that the definitionCodeOptions data is included in the parameters of the dependent task node in the d

[2022-11-26 14:38] zhuangchong opened #13010 "[Bug] [Task] The Flink SQL task page selects the pre-job deployment mode, but the task executed by the worker is the Flink local mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The Flink SQL task page selects the pre-job deployment mode, but the task executed by the worker is the Flink local mode.

### What you expected to happen

The Flink SQL task page selects the pre-job deployment mode, and the

[2022-11-27 00:23] #12444 closed, assigned to nobody

[2022-11-27 03:09] #12943 closed, assigned to nobody

[2022-11-27 03:14] #13008 closed, assigned to nobody

[2022-11-27 05:15] #12763 closed, assigned to rickchengx

[2022-11-27 05:20] davidzollo commented on #12967
English is needed

[2022-11-27 05:20] #12967 closed, assigned to nobody

[2022-11-27 05:23] #12920 closed, assigned to nobody

[2022-11-27 05:23] davidzollo commented on #12833
have assigned to you

[2022-11-27 05:26] #568 closed

[2022-11-27 05:26] #555 closed

[2022-11-27 05:26] #546 closed

[2022-11-27 05:26] #515 closed

[2022-11-27 05:28] #454 closed

[2022-11-27 05:29] #449 closed

[2022-11-27 05:31] #1222 closed

[2022-11-27 05:34] davidzollo commented on #1730
you can try the newest version. has support your scenario

[2022-11-27 05:34] #1730 closed

[2022-11-27 05:35] #2862 closed

[2022-11-27 05:35] davidzollo commented on #2862
you also can use dependent task type

[2022-11-27 05:36] #2510 closed

[2022-11-27 05:37] #3246 closed

[2022-11-27 05:37] #3660 closed

[2022-11-27 05:38] #3916 closed

[2022-11-27 05:38] davidzollo commented on #3916
English is needed

[2022-11-27 06:27] #12994 closed, assigned to zhuangchong

[2022-11-27 07:08] #12997 closed, assigned to nobody

[2022-11-28 00:55] wangsong8586 commented on #12996
OK, I understand. Thank you for your reply.

[2022-11-28 02:09] #13010 closed, assigned to zhuangchong

[2022-11-28 02:38] rwrwd7 commented on #10212
mark

[2022-11-28 02:49] jieguangzhou commented on #12978
It is good to do parameter checking to help the user use the parameters correctly. Can we handle checking for global parameters because some tasks refer to parameters in other fields rather than custom parameters?

WDYT @zhongjiajie @Radeity

[2022-11-28 02:53] #12996 closed, assigned to nobody

[2022-11-28 03:26] hkun0120 opened #13014 "[Bug] [worker]mysql server don't release memory when process finished!!"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/3326406/204185054-780ab52c-f2c6-4af7-a639-8be85cafade2.png)
when we execute the process instance ,the mysql server memory increase, when the task and process finished ,the m

[2022-11-28 04:06] lordk911 opened #13015 "[BUG][dolphinscheduler-common] OSUtils.getUserListFromLinux cannot work in freeipa managed cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

some scenario for example: freeipa managed cluster , user will not in /etc/passwd, but you can use cmd id {your username} to check if the user exist or not.

### Are you willing to submit a PR?

- [ ] Yes I am wil

[2022-11-28 04:22] ShawshankLin opened #13016 "[Bug] The workflow instance retried execution and an offline error occurred"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Try again after the workflow failed in the previous version, but the workflow has been modified and the workflow is not online. Even if you bring the previous version of workflow online, it will fail

工作流修改过再切回之前版本上线，但是还是无法对

[2022-11-28 05:07] rickchengx opened #13017 "[DSIP-18][Remote Logging] Add support for writing task logs to remote storage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

# Why remote logging?
* Avoid task log loss after worker is torn down
* Easier to obtain logs and troubleshoot after the task logs are uploaded to remote storage
* Enhanced cloud-native support for DS

# Feature D

[2022-11-28 06:21] EricGao888 opened #13018 "[Bug] [Style] `Wildcard imports check` fails to catch `import static xxx;\n`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* `Spotless wildcard imports check` fails to catch `import static xxx;\n`
* https://github.com/apache/dolphinscheduler/pull/12990#discussion_r1033161031

### What you expected to happen

* `import static xxx;\n` should be ca

[2022-11-28 06:37] wssjdi opened #13019 "[Bug] [dolphinscheduler-datasource-plugin] dolphinscheduler-datasource-presto-3.1.1 Use SSL connection Presto Server throw java.sql.SQLException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler's version: 3.1.1-release
presto-jdbc's version: 0.238.1
presto server's version: 350

when I Use dolphinscheduler-datasource-presto-3.1.1 connection Presto Server with  some other params eg. SSL|SSLTrustStor

[2022-11-28 06:45] wssjdi commented on #12999
sorry, it's not a bug, I guess someone lost a few DDL sql scripts in  sql\upgrade\3.0.0_schema\

ALTER TABLE t_ds_process_definition ADD COLUMN execution_type TINYINT(4) NOT NULL DEFAULT '0' COMMENT 'execution_type 0:parallel,1:serial wait,2:serial discard,3:serial priority';
ALTER TABLE t_ds_process_definition_log ADD COLUMN execution_type TINYINT(4) NOT NULL DEFAULT '0' COMMENT 'execution_type 0

[2022-11-28 07:12] zhengxiang5965 opened #13020 "[Bug] [dolphinscheduler-service] Python Task execute ERROR"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/31379313/204213900-39d56b61-f4d2-4a24-8059-768c1385d2c3.png)
When I used kubernates to deploy Dolphinscheduler and tried to run Python Task, an error occurred.

### What you

[2022-11-28 07:18] zhongjiajie commented on #11550
the picture already to the latest one, we only need to change process definition to workflow

[2022-11-28 07:18] #11550 closed, assigned to MonsterChenzhuo

[2022-11-28 07:29] zhongjiajie commented on #11927
duplicate to https://github.com/apache/dolphinscheduler/issues/11201

[2022-11-28 07:29] #11927 closed, assigned to hqzh

[2022-11-28 07:36] Radeity commented on #13017
Good idea! One humble suggestion that **different log level** contributes to failure diagnosis differently, level of `error`, `warn`(high level) may contribute more than `info`, `debug`, `trace`(low level). Intuitively, it should better **keep more higher level log** and clean lower level log first when reach the maximum capacity of remote storage. Maybe we can separate different level of logs whe

[2022-11-28 07:54] jackfanwan opened #13022 "[Improvement][dolphinscheduler-api] delete taskDefinitionServiceImpl useless code"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

delete taskDefinitionServiceImpl useless code

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www

[2022-11-28 08:07] sfss5362 opened #13024 "[Bug] [Athena Datasource] datasource other params illegal"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

error log
[code]

![00](https://user-images.githubusercontent.com/1808782/204225330-ec47556d-5dc3-46d5-9159-3312399f7b37.png)

### What you expected to happen

Add athena  datasource  normally

### How to reproduce

when  ad

[2022-11-28 08:44] lordk911 opened #13025 "[Bug] [data-quality] data-quality write error_data to hdfs faild"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

as https://github.com/apache/dolphinscheduler/issues/11449#issue-1336822412 , I got the same error.

after config master-server/conf/common.properties: resource.hdfs.fs.defaultFS  and restart , data-quality can use the right

[2022-11-28 08:45] lordk911 commented on #13025
@zixi0825 do you know about this?

[2022-11-28 08:46] lordk911 commented on #11449
@xinxingi I have open a new issue

[2022-11-28 08:50] rickchengx commented on #13017
Hi, @Radeity , thanks a lot for your comment and suggestion.

* This PR focus on writing task logs to remote storage after the task completes (E.g., it put the task log file to OSS). Also it reads the task log from the remote storage if the task log file does not exist on the local file system in worker.
* So I think we should **keep the content consistency** of local logs and remote logs (E.g., t

[2022-11-28 09:50] lordk911 opened #13026 "[Bug] wrong timezone used when logback write log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

the master-server or worker-server log didn't use the local time zone

<img width="623" alt="企业微信截图_0e8eafba-81c2-4fff-8e58-18cab543a74e" src="https://user-images.githubusercontent.com/19989300/204246896-d53ace12-92d4-46e9-9

[2022-11-28 10:04] lordk911 opened #13027 "[Bug] [worker-server] wrong permission setting of worker-server's config dir"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I have a linux user , when I use it as tenant to run task , he has no Permission to access {dolphin_home}/worker-server/conf/dolphinscheduler_env.sh

<img width="772" alt="企业微信截图_965ec947-d4e5-4886-9a04-7634e52b7107" src="ht

[2022-11-28 10:51] Radeity commented on #13017
Hi, @rickchengx, i agree with you that we should keep consistency of local logs and remote logs. My central idea is to keep more useful logs after cleaning up, which can make DS different from Airflow. However, logs are widely used in practice for various maintenance activities, such as testing, failure diagnosis, and program comprehension, thus, my above suggestion to keep higher level log maybe

[2022-11-28 14:15] hdygxsj commented on #12931
please assign to me if no one is implementing it @EricGao888

[2022-11-28 14:17] DarkAssassinator commented on #13027
hi @lordk911 , this issue has been fix in #12909

[2022-11-28 14:21] DarkAssassinator commented on #13026
hi @lordk911 , this is not a bug, because log use UTC time. Please check the doc: https://dolphinscheduler.apache.org/en-us/docs/3.0.0/user_doc/guide/howto/general-setting.html

[2022-11-28 14:27] DarkAssassinator commented on #13020
hi @zx472010602 , this case is not caused by wrong bash, just env issue. U should set a correct python home.

[2022-11-28 14:32] EricGao888 commented on #12931
@hdygxsj Great! Thanks for helping out : )

[2022-11-28 15:09] Jrebel-i commented on #13024
![image](https://user-images.githubusercontent.com/62320242/204310855-ecb4602d-ce4a-4e1d-ae0d-a03140a5127a.png)
The regex match for the 'Other' parameter is incomplete, missing the match symbol :

[2022-11-29 00:23] #12484 closed, assigned to mhsccd

[2022-11-29 00:23] #12473 closed, assigned to DarkAssassinator

[2022-11-29 00:39] lordk911 commented on #13027
will the PR merge to 3.0.x ?

[2022-11-29 00:52] lordk911 commented on #13026
thanks ，my mistake , I give the wrong timezone

[2022-11-29 00:52] #13026 closed, assigned to nobody

[2022-11-29 01:37] zhangfane opened #13033 "[Bug] [Resource Center] can not get resource list"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The refactoring of the Resource Center to use a third-party storage interface to manage resources was completed in this PR. But it seems that the refactoring is not all done?
I uploaded the Jar package in the resource center

[2022-11-29 01:59] zhangfane commented on #13033
@EricPyZhou

[2022-11-29 02:30] EricPyZhou commented on #13033
Thanks for pinging.  Let me check

[2022-11-29 02:45] ruanwenjun commented on #12981
Yes, the correct way is to announce this in doc, or we clear the data in startup.

But I don't think this is a bug, this will not affect the other worker.

[2022-11-29 02:58] xingliguang opened #13034 "Error in paging query workflow definition list Error in paging query workflow definition list"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler 版本：2.0.2
zookeeper 版本： apache-zookeeper-3.6.3
java:    jdk1.8.0
在 项目管理  我创建了6个项目,之前操作都正常，从11月28日开始，其中一个项目（编号6,创建了 46个工组流定义） 点进去，再点击 “工作流定义”，提示“查询无数据”，看不到任何工作流的定义，点击“工作流实例”和“任务实例”都正常，查看api 的报错日志，如下：
#cat dolp

[2022-11-29 03:01] xingliguang commented on #13034
<img width="1049" alt="image" src="https://user-images.githubusercontent.com/24713062/204428110-c1de9d94-7cf2-4966-90ac-fe17b836675f.png">
<img width="632" alt="image" src="https://user-images.githubusercontent.com/24713062/204428248-4c3e9509-a5e6-450d-9882-d753d763884c.png">
截图请查看。

[2022-11-29 03:06] lordk911 opened #13035 "[Bug] [data-quality & master-server] wrong logic when master-server check data-quality result"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I'm using 3.0.3-SNAPSHOT , I made a data-quality task for test , the wrong data have been write to hdfs , but at last the task was in success state.
I find that the master-server code : DataQualityResultOperator.java line 98

[2022-11-29 03:06] lordk911 commented on #13035
@zixi0825

[2022-11-29 03:22] lordk911 commented on #13025
need to config master-server/conf/common.properties is not mentioned in document.

[2022-11-29 03:36] jieguangzhou commented on #13035
Hey @lordk911 , can you help to fix

[2022-11-29 05:53] lordk911 opened #13038 "[Bug] [UI] task's worker group display is wrong"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I've changed the task's worker group to not use 'default' , the database record is right but the ui always show 'default'

<img width="595" alt="image" src="https://user-images.githubusercontent.com/19989300/204449317-428f95

[2022-11-29 06:01] Tianqi-Dotes opened #13039 "[Feature][DATASOURCE-REDSHIFT] Add accesskey and access secret method to access REDSHIFT"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, supports redshift datasource config, using host, port, database, user, password to access redshift.
need to add using AWS access key and access secret to access redshift.

### Use case

Using AWS access

[2022-11-29 06:07] lordk911 opened #13040 "[Bug] [api-server] application.yaml about ldap is wrong"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://github.com/apache/dolphinscheduler/blob/a28e206166a10010d36a5dc0d9e2fd54f799678b/dolphinscheduler-api/src/main/resources/application.yaml#L150

https://github.com/apache/dolphinscheduler/blob/a28e206166a10010d36a5dc0

[2022-11-29 06:23] zhangfane commented on #13033
Do we no longer need `t_ds_resources` when considering version compatibility? @EricPyZhou @SbloodyS

[2022-11-29 06:49] lordk911 opened #13041 "[Bug] [data-quality] data-quality document is wrong"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://github.com/apache/dolphinscheduler/blob/dev/docs/docs/en/guide/data-quality.md

<img width="1052" alt="企业微信截图_cf41b4b4-e64e-4fad-86ba-9ba76990cca8" src="https://user-images.githubusercontent.com/19989300/204458147-d3

[2022-11-29 06:56] zhengxiang5965 commented on #13020
The subshell itself does not load the environment variables of the parent SHELL. The project is also set through the source command, but the command itself does not recognize

[2022-11-29 08:48] Sky-Gu opened #13043 "[Bug] [task retry] Clone retry task Instance missing id field"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

In WorkflowExecuteRunnable. NewTaskInstance (), lack of the set id field.

task retry causes the NPE to occur.

NPE location: StateWheelExecuteThread. addTaskRetryEvent() set taskInstanceId

### What you expected to happen

[2022-11-29 09:56] BryantKai commented on #12975
But I found that there is no place to set a token in my document，
![image](https://user-images.githubusercontent.com/52842923/204497576-2b2b80d3-4c24-449e-ac79-4fb274df37ab.png)

[2022-11-29 12:32] fuchanghai opened #13045 "[Improvement][Master] add max submit times of workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

when submit workflow failure , will resubmit workflow . if have not maximum number of submissions，will cause print a lot  log which takes up a lot of resources

### Are you willing to submit a PR?

- [X] Yes I am