[2022-04-26 07:17] #9704 closed, assigned to nobody

[2022-04-26 07:17] XuXuClassMate opened #9781 "[Bug] [workflowtiming Module] Timing set time, online operation, when timed offline again into view, the timing interval will change"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Timing set time, online operation, when timed offline again into view, the timing interval will change

![image](https://user-images.githubusercontent.com/76080484/165243465-4a7da95c-6748-4f05-9442-52377acd7a81.png)

![image

[2022-04-26 07:22] wujb315 commented on #8820
@zhongjiajie 我已经确认创建了python3的环境，python是3.6的版本，但是还是一样的问题，请教一下，我现在该怎么解决，实在搞不明白

[2022-04-26 07:34] Hou-Shuaishuai commented on #9641
1. The update_time field in the T_DS_schedules table is updated when crontab goes online and when crontab goes offline
2. When judging the dependency status, if it is found to be self-dependent, it will judge whether the scheduling execution time is the first execution time after the scheduling update, and return the dependency successfully completed state if it is equal.

	Logic code：org.apache.d

[2022-04-26 07:42] wujb315 commented on #8820
@zhongjiajie 我已经解决了

[2022-04-26 07:47] #9776 closed, assigned to WangJPLeo

[2022-04-26 08:45] WangJPLeo opened #9783 "[BUG-BE][Resource/Task Group] There is no data with search params on task group queue page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There is no data with search params on task group queue page.

### What you expected to happen

Return the correct data.

### How to reproduce

Create a task group associated task flow definition and run it.

### Anything el

[2022-04-26 08:48] WangJPLeo commented on #9783
[FE] Passed through the returned data and query parameters, the parameter passing fields should need to be exchanged.

[2022-04-26 08:50] rockfang opened #9785 "[Bug] [Next-UI][DEV] scroll-y not dynamic changed when view log full screen"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

we can view log in  workflow instance. it display fine.
![normal](https://user-images.githubusercontent.com/16065427/165259128-958aa9b9-5750-4d4e-ab46-6cc703f753f1.png)
but when we enter full screen, the scrollable height on

[2022-04-26 09:20] Tianqi-Dotes opened #9786 "[Bug] [Alert] Http alert Get method not working"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

http aler GET method not working, forget to escape symbol characters, will throw URI cannot extract when running

### What you expected to happen

http alert GET method working

### How to reproduce

create a new http GET me

[2022-04-26 09:25] rockfang commented on #9785
I submited a PR to solve it [https://github.com/apache/dolphinscheduler/pull/9788](https://github.com/apache/dolphinscheduler/pull/9788)

[2022-04-26 09:55] #9786 closed, assigned to Tianqi-Dotes

[2022-04-26 10:03] #9783 closed, assigned to WangJPLeo

[2022-04-26 11:27] labbomb commented on #9780
i will fix it

[2022-04-26 11:56] Hou-Shuaishuai commented on #9641
Since the dependency has an option like the previous 7 days, the logic of the dependency executed in the previous 7 days should be different from the logic executed after 7 days.
eg：
	On day 1, the judgment dependency returns success
	On day 2, only the dependencies executed on the previous 1 day are judged
	On day 3, only the dependencies executed in the previous 2 days are judged
	...
	On day 7,

[2022-04-26 12:41] #9780 closed, assigned to labbomb

[2022-04-26 13:10] SbloodyS opened #9793 "[Bug] [Script] dolphinscheduler-daemon.sh overwrite_server_env may causing standalone server start failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If the user modifies the ```dolphinscheduler_env.sh``` and then start standalone server by ```dolphinscheduler-daemon.sh
 start standalone-server```. Then ```overwrite_server_env``` may causing standalone server start failed

[2022-04-26 13:43] yelusion2 commented on #9505
@calvinjiang you can defineded a jobId request param, then translate jobId to Command Object, you asynchronously worker
 then use Commond Object jobId write to t_ds_task_instance, so api user can query this task instance by jobId.
 api user guaranteed to be unique.

[2022-04-26 14:02] #9793 closed, assigned to SbloodyS

[2022-04-26 15:44] WangJPLeo opened #9796 "[BUG-BE][Resource/Task Group Queue] The start the task seems not working on the task group queue page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The start the task seems not working on the task group queue page. It means that I did not get any feedback.

### What you expected to happen

It should be working.

### How to reproduce

https://user-images.githubuserconten

[2022-04-26 17:03] EricGao888 opened #9798 "[Feature][Task Plugin] Enable note-level task scheduling for zeppelin task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently `Zeppelin` task plugin only supports paragraph-level task scheduling because there is no `cancelNote` method in `Zeppelin Client Api` as mentioned here: https://github.com/apache/dolphinscheduler/pull/

[2022-04-26 17:43] SnowMoon-Dev opened #9799 "[Bug] [DataSource] the password echo is empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. the password echo is empty
2. search prompt information is not clear
3. the password input box should be required, according to security considerations

### What you expected to happen

1. the content of the password inpu

[2022-04-27 00:23] #9028 closed, assigned to songjianet

[2022-04-27 00:23] #5041 closed, assigned to qmengss

[2022-04-27 01:51] #9566 closed, assigned to SbloodyS

[2022-04-27 02:17] zhongjiajie commented on #9764
close by https://github.com/apache/dolphinscheduler/pull/9765

[2022-04-27 02:17] #9764 closed, assigned to Tianqi-Dotes

[2022-04-27 02:35] zwZjut opened #9801 "[Bug] [dolphinscheduler-api] delete job of quartz not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [dolphinscheduler-api] delete job of quartz not  work

### What you expected to happen

delete job of quartz  works when it does

### How to reproduce

1.create a schedule  and online;
2.offline a processdefinition
3.q

[2022-04-27 03:59] #9785 closed, assigned to rockfang

[2022-04-27 04:04] #9290 closed, assigned to leiwingqueen

[2022-04-27 04:11] #9538 closed, assigned to nobody

[2022-04-27 04:17] zhongjiajie commented on #9449
Hi @kezhenxu94 do you have time to take a look? does check-style support `static` import sort?

[2022-04-27 04:41] kezhenxu94 commented on #9449
I can see the configuration takes effect after importing the checkStyle.xml

<img width="944" alt="image" src="https://user-images.githubusercontent.com/15965696/165442137-5dece4b1-6ec4-4695-9db3-13712211d23b.png">

[2022-04-27 05:26] Amy0104 opened #9804 "[Bug][Next-UI][V1.0.0-Beta] The placeholders are error on the task group queue page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/97265214/165446847-d61bd3cc-45d9-4724-82ba-7ac600369d78.png)

### What you expected to happen

One should be workflow instance and another should be task instance.

### How

[2022-04-27 05:30] labbomb commented on #9430
@zengqiyan Will you still submit pr

[2022-04-27 05:44] #9675 closed, assigned to EricGao888

[2022-04-27 05:51] devosend commented on #9781
I will fix it

[2022-04-27 05:56] devosend commented on #9781
I will fix it

[2022-04-27 06:19] XuXuClassMate opened #9806 "[Bug][Next-UI][V1.0.0-Beta] Logo disappeared when format dag."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Logo disappeared when format dag

<img width="1881" alt="image" src="https://user-images.githubusercontent.com/76080484/165453602-ac0da123-b565-46de-b82f-45023fb506c8.png">

<img width="1645" alt="image" src="https://user-im

[2022-04-27 06:53] kurobanekid opened #9807 "[Bug] [3.0.0-alpha Doc] path to docker does not exist and the 3.0.0-alpha image is not exist in docker hub"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. ![image](https://user-images.githubusercontent.com/15232298/165457148-a41f1e1d-4b23-41b4-a8db-f3d9e1ef89b9.png)
The Chinese version has the same problem
2. Cannot pull 3.0.0-alpha image
<img width="978" alt="image" src="h

[2022-04-27 07:37] SbloodyS commented on #9807
Currently the ```3.0.0-alpha``` documentation is incomplete. We are fixing it ASAP. Thank you for your feedback. @kurobanekid

[2022-04-27 07:52] kurobanekid commented on #9807
When will the 3.0.0-alpha image be pushed? Or Are there any guidelines for building the 3.0.0-alpha environment locally?

[2022-04-27 07:54] devosend commented on #9806
I will fix it

[2022-04-27 08:44] XuXuClassMate opened #9809 "[Bug] [Next-UI][V1.0.0-Beta] Field Required Checks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Project Name，Wrokflow Name，Task Name，Cycle Time，is a required field, otherwise the logic does not work

![image](https://user-images.githubusercontent.com/76080484/165478903-644bf267-4982-4a6c-9efb-fb47f5298a19.png)

### Wha

[2022-04-27 08:56] #9352 closed, assigned to zhuxt2015

[2022-04-27 09:03] #9804 closed, assigned to Amy0104

[2022-04-27 09:05] #9770 closed, assigned to Amy0104

[2022-04-27 09:23] #9796 closed, assigned to WangJPLeo

[2022-04-27 09:44] #9772 closed, assigned to sq-q

[2022-04-27 09:55] latte-z opened #9811 "[Bug] [ProcessInstance] Replace default global params value failed at "COMPLEMENT_DATA" mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="822" alt="process_definition" src="https://user-images.githubusercontent.com/7680235/165489435-14b3f989-9c93-4ac6-be39-bc3561fc6622.png">

The process have several global params default blank. When I run the proc

[2022-04-27 10:19] davidzollo opened #9813 "[Feature][all] Remove unused dependencies"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

now, the modules of 3.0-alpha have many unused dependencies, and the total install package size has up to 800M,  this operation will reduce the total size, I think this is very useful

### Use case

_No response_

[2022-04-27 11:43] EricGao888 opened #9814 "[Feature][Task Plugin] Dolphin zeppelin task plugin improvement plan"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

By Integrating Apache Dolphin Scheduler with Apache Zeppelin through `zeppelin task plugin`, we aim to provide Dolphin users, especially those big data engineers, with so-called `Big Data Studio` experience, which

[2022-04-27 11:43] EricGao888 commented on #9814
Any ideas or suggestions to these features are appreciated!

[2022-04-27 12:21] caishunfeng commented on #9814
Look good to me,  but I I have the following questions:

Is it means that it needs database storage or resource manage?

What's the difference from ds？

[2022-04-27 12:37] EricGao888 commented on #9814
@caishunfeng My bad. I think I didn't make it clear. When developing big data tasks in zeppelin, users write zeppelin `note`, which is consist of one or multiple `paragraphs`. You can run the whole note or just a specific paragraph. Currently ds zeppelin task plugin only supports trigger zeppelin paragraphs. Enabling note-level zeppelin task means ds will be able to trigger a whole zeppelin note.

[2022-04-27 12:49] #9781 closed, assigned to devosend

[2022-04-27 13:01] EricGao888 commented on #9814
About `custom variables`, yes, I mean exact that of ds. Just want to combine it with [zeppelin dynamic form](https://zeppelin.apache.org/docs/0.8.0/usage/dynamic_form/intro.html).

[2022-04-27 13:45] EricGao888 opened #9816 "[Feature][Task Plugin] Add jupyter notebook task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Similar as `zeppelin task plugin`, we can integrate `Dolphin Scheduler` with [Jupyter Notebook](https://jupyter.org/) through `jupyter task plugin`, providing AI scientists and engineers with some `MLOPS` featur

[2022-04-27 14:02] #9759 closed, assigned to hiSandog

[2022-04-28 02:21] WangJPLeo opened #9819 "[Bug-BD] The serial wait time instance is empty when the serial wait final state is queried."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The serial wait time instance is empty when the serial wait final state is queried.

### What you expected to happen

successfully queried

### How to reproduce

Select Serial Waiting for Execution Policy

### Anything else

[2022-04-28 03:00] #9819 closed, assigned to nobody

[2022-04-28 03:39] zwZjut commented on #9816
jupyter notebook or jupyter hub is very easy to use

[2022-04-28 03:40] EricGao888 opened #9822 "[Feature] [Log] Add timezone information in log output"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* There is no timezone information in task log output. If users switch timezone, they may get confused when they check the previous logs.

![image](https://user-images.githubusercontent.com/34905992/165671330-d08a3830-3306-4

[2022-04-28 03:43] momomobinx opened #9823 "If the task fails after manual execution, restore the failed task, $[yyyyMMddHHmmss] will be the new time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If the task fails after manual execution, restore the failed task, $[yyyyMMddHHmmss] will be the new time，but what I need is the time of the first execution。
Note that it is executed manually, not scheduled

### What you exp

[2022-04-28 03:54] EricGao888 commented on #9816
Exactly, that's why we need this feature : )

[2022-04-28 03:59] SbloodyS commented on #9823
Hi @momomobinx , I think what you need is to specify complement's date when starting manually. When the process instance starting manually without complement's date it will use the current date to execute.

[2022-04-28 04:07] momomobinx commented on #9823
If it is not a scheduled task ？

[2022-04-28 04:16] momomobinx commented on #9823
It‘s work, but it is not very convenient. It may not be a scheduling task. The default is from the current time to the current time.

[2022-04-28 04:16] #9823 closed, assigned to nobody

[2022-04-28 07:04] Amy0104 opened #9824 "[Bug][UI-Next][V1.0.0-Beta] The workflow name spelling error."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="596" alt="image" src="https://user-images.githubusercontent.com/97265214/165695878-d9c17b65-06db-4f19-b2da-9684678818b3.png">

### What you expected to happen

Should be workflow not wrokflow.

### How to reprodu

[2022-04-28 07:05] songjianet commented on #9824
I will fix it.

[2022-04-28 07:42] SnowMoon-Dev opened #9827 "[Bug] [DataSource] json object serialization error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 json object serialization error

### What you expected to happen

1.  json object serialization is good

### How to reproduce

1. create datasource
2. edit datasource

### Anything else

<img width="2132" alt="image" src="h

[2022-04-28 07:44] caishunfeng opened #9829 "[Bug] [Api] scheduler time error when change timezone"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/11962619/165702758-b44163a8-54a7-4a8f-882f-b7e792554d0a.png)

![91dc25ef846f67666862b5f229d881c](https://user-images.githubusercontent.com/11962619/165702440-2c62d705-fb37-4

[2022-04-28 07:53] #9750 closed, assigned to devosend

[2022-04-28 08:05] WangJPLeo opened #9831 "[Bug-GroupQueue] Task queue status not updated after forcing."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Task queue status not updated after forcing.

### What you expected to happen

normal

### How to reproduce

Create task groups and execute workflows.

### Anything else

No Response

### Version

dev

### Are you willing to

[2022-04-28 08:06] #9597 closed, assigned to EricGao888

[2022-04-28 08:32] caishunfeng commented on #9822
https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/howto/general-setting.html

Now the server log time depends on the timezone of service.
Any good ideas?

[2022-04-28 08:41] #9831 closed, assigned to WangJPLeo

[2022-04-28 08:52] #9824 closed, assigned to songjianet

[2022-04-28 09:27] DingPengfei opened #9836 "[Bug] [dolphinscheduler-ui-next] parameter check of subprocess is invalid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Creating a process which has subprocess node in will get parameter invalid.

I found that the json sent by fontend has the key "processDefinitionId", but backend is using "processDenifitionCode"

[https://github.com/apache/d

[2022-04-28 09:34] Dannila opened #9837 "[Feature][plugin/ui] support FlinkSql Task"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We want FlinkTask to have an editor to fill out flink sql.

### Use case

Users can implement flink sql tasks or flink sql cdc tasks through the sql editor, which is convenient for users to perform data processing

[2022-04-28 09:50] EricGao888 opened #9838 "[Feature][Doc] Add docs for zeppelin task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We need to add docs for `zeppelin task plugin`.
* Besides traditional docs like screenshots or descriptions to instruct users how to use `zeppelin task plugin`, we could also add an example `docker-compose` file

[2022-04-28 09:57] EricGao888 commented on #9814
BTW, since Dolphin also supports `workflow as code`, we could add a `dolphin-scheduler-workflow-interpreter` on Zeppelin side. With this feature, users will be able to write dolphin workflow python script in notebook interactively. I will open a related issue in Apache Zeppelin community later. Just write this idea down in case I forget it : ) @dailidong @zhongjiajie

[2022-04-28 09:59] Tianqi-Dotes commented on #9811
![image](https://user-images.githubusercontent.com/36755957/165727920-5f27e2bb-6ff8-47bb-852e-ec0927a74865.png)
![image](https://user-images.githubusercontent.com/36755957/165728002-d67d984d-e0bb-45e9-9570-2184e5dabc9d.png)
sorry, but i try reproduce this in version 205 and dev, i cannot reproduce.
If in this situation, I suggest to upgrade the version

[2022-04-28 10:11] #9827 closed, assigned to SnowMoon-Dev

[2022-04-28 10:11] latte-z commented on #9811
@Tianqi-Dotes I reproduce in "COMPLEMENT_DATA" mode

1. I have already upgrade to 2.0.5 ( upgrade road: 1.3.6 -> 1.3.9 -> 2.0.1 -> 2.0.3 -> 2.0.5)
![1](https://user-images.githubusercontent.com/7680235/165729576-4e07e312-3937-48bb-88c6-195e9d04566a.jpg)

2. Process default configuration
![2](https://user-images.githubusercontent.com/7680235/165729822-a314841f-8f0b-4d5d-88b6-bba2b9c542a7.jpg)

3. R

[2022-04-28 10:15] latte-z commented on #9811
Yeah, I know command_param is always right, but the global_params can only be replaced correctly in "START_PROCESS" mode, "COMPLEMENT_DATA" mode is broken.

[2022-04-28 10:23] SbloodyS commented on #9836
Hi @DingPengfei , can you describe the steps to reproduce this problem?

[2022-04-28 10:23] labbomb commented on #9836
@DingPengfei  Can you provide screenshots

[2022-04-29 01:13] DingPengfei commented on #9836
![Screen Shot 2022-04-29 at 09 07 49](https://user-images.githubusercontent.com/9244946/165870998-15a3143c-2c90-4033-955a-158073cbf3c8.png)
@SbloodyS @labbomb here it is
1. Creating a process named A
2. Creating a process B contains a subprocess node within process a
3. When you save process B, this issue occurs

[2022-04-29 01:28] kindragos commented on #9587
hello？

[2022-04-29 01:38] labbomb commented on #9836
@DingPengfei  I cannot reproduce this problem according to the steps you provided

[2022-04-29 01:38] Amy0104 commented on #9836
<img width="779" alt="image" src="https://user-images.githubusercontent.com/97265214/165872812-b5a9c604-3bbf-4d89-a830-7b6b6bcf9b8b.png">
The front-end input field is  "processDenifitionCode"  not "processDefinitionId". Please check again.

[2022-04-29 02:17] #9829 closed, assigned to caishunfeng

[2022-04-29 02:31] zhongjiajie commented on #9449
@czeming could you make a double-check about this issue?

[2022-04-29 02:33] DingPengfei commented on #9836
I made a mistake, sorry for taking up your time.

[2022-04-29 02:33] #9836 closed, assigned to nobody

[2022-04-29 02:36] zhongjiajie commented on #9814
Sound good! thank for you bring this up !

[2022-04-29 02:40] zhongjiajie opened #9841 "[Feature][standalone] Add UI to our standalone server docker images when release to docker hub"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

currently, we released a standalone server to docker hub without including UI components, and users could not log in UI when using standalone, some of them maybe think that is a bug when they use it

### Use case

[2022-04-29 02:52] SbloodyS opened #9842 "[Feature][dependencies] Bump spring-core from 5.3.12 to 5.3.19"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

#9676

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code

[2022-04-29 03:40] zhongjiajie opened #9843 "[Feature][pkg] Slim binary distribute package"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After version 3.0.0-alpha, we release the dist package in a separate server, but our dependencies do not isolate well and cause our binary package to be very large. We should find some way to slim our binary distr

[2022-04-29 03:40] zhongjiajie commented on #9843
related PR https://github.com/apache/dolphinscheduler/pull/9435

[2022-04-29 03:41] zhongjiajie commented on #9843
related PR https://github.com/apache/dolphinscheduler/pull/9372

[2022-04-29 03:42] zhongjiajie commented on #9843
related PR #9019

[2022-04-29 04:39] Amy0104 commented on #9809
I will fix it.

[2022-04-29 06:59] WangJPLeo opened #9846 "[Bug] Serial wait for subsequent execution error."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Serial wait for subsequent execution error

### What you expected to happen

success

### How to reproduce

Create a task flow with an execution policy of Serial Wait and execute it.

### Anything else

No Response

### Vers

[2022-04-29 07:44] #9846 closed, assigned to WangJPLeo

[2022-04-29 08:00] #9809 closed, assigned to nobody

[2022-04-29 08:49] ganlangjie opened #9849 "[Bug] [worker] fix CommandType TASK_EXECUTE_RUNNING_ACK don't consumed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

@Service
public class TaskCallbackService {

    private final Logger logger = LoggerFactory.getLogger(TaskCallbackService.class);
    private static final int[] RETRY_BACKOFF = {1, 2, 3, 5, 10, 20, 40, 100, 100, 100, 100, 2

[2022-04-29 10:02] SnowMoon-Dev opened #9852 "[Bug] [Token Manage] Token management cannot be entered manually, but the input box prompts to enter the token"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Token management cannot be entered manually, but the input box prompts to enter the token

### What you expected to happen

1. remove the input box prompts to enter
2. Show please enter user

### How to reproduce

1. click t

[2022-04-29 10:03] czeming commented on #9449
**This reply is summarized into the issue description**

It's the current configuration.
[code]

You can see this code.
`https://github.com/jshiell/checkstyle-idea/blob/ac7a6b16c065848d0de9d1985e0f97fda38634c8/src/main/java/org/infernus/idea/checkstyle/importer/modules/ImportOrderImporter.java`
[code]

The question is`IntelliJ` only imports `static all other import`.

I've been a little busy recen

[2022-04-29 14:07] AirToSupply opened #9854 "[Bug] [api] Query access token for specified user failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

We try to pull the dev branch to try to deploy the cluster. When storing metadata through the **PostgreSQL** database, an exception occurred when calling the following interface to **query access token for specified user**.

[2022-04-29 19:17] Superskyyy commented on #9725
Hi, we are planning to initiate our exploration of AIOps at [Apache SkyWalking community](https://github.com/apache/skywalking/discussions). Very interesting to see the discussions here.

Now I'm also looking at Dolphinscheduler to handle our workflow orchestration, and for now, we may as well go in the same direction as yours. I feel like integration with MLFlow package functionalities will be a

[2022-04-30 00:22] #9125 closed, assigned to nobody

[2022-04-30 00:22] #9059 closed, assigned to nobody

[2022-04-30 00:23] #8597 closed, assigned to nobody

[2022-04-30 00:23] #8573 closed, assigned to nobody

[2022-04-30 00:23] #8562 closed, assigned to nobody

[2022-04-30 03:11] SbloodyS commented on #9854
close due to #9855

[2022-04-30 03:11] #9854 closed, assigned to AirToSupply

[2022-04-30 09:40] litiliu opened #9856 "[Bug] [Api] Failed to upload the file because the full name was too long, but get misleading message"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the resource's fullname is longer than the max length of the field named "full_name" in t_ds_resources, the insert option will fail.  But the misleading message "resource already exists, can't recreate" will be returned

[2022-04-30 14:13] songjianet commented on #9856
Thank you for your feedback

[2022-05-01 00:25] #9152 closed, assigned to nobody

[2022-05-01 00:55] chaozwn opened #9857 "[Bug] [master worker] [slave worker] master and workd client session timed out caused by heart. why not try restart."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The way I use is the pseudo stand-alone cluster version of dolphin, but sometimes the master and worker nodes will hang up by themselves, and will not recover by themselves after that, unless the service is stopped and resta

[2022-05-01 01:41] SbloodyS commented on #9857
The default ```master.heartbeat.interval``` and ```worker.heartbeat.interval``` is 10s. I think it's a very long time that there is no response in 10 seconds in the production environment. Need to find out why it can't respond.

BTW, the default ```master.heartbeat.interval``` and ```worker.heartbeat.interval``` can be changed in ```master.properties``` and ```worker.properties```

[2022-05-01 05:19] #9852 closed, assigned to SnowMoon-Dev

[2022-05-01 18:43] rockfang opened #9860 "[Bug] [DEV][DataSource] can't create mysql datasource. connect failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

create MySQL datasource failed:
![createMysqlfailed](https://user-images.githubusercontent.com/16065427/166159700-8670e4da-2720-46fe-899a-e8bb3364b536.png)

### What you expected to happen

I want to create mysql datasource

[2022-05-01 18:49] rockfang commented on #9860
I change my DS from standalone mode(just start StandaloneServer ) to normal mode(api + master + worker). it still not work.

the error meesage is :
`"Failed to load driver class com.mysql.cj.jdbc.Driver in either of HikariConfig class loader or Thread context classloader"`

[2022-05-01 18:55] rockfang commented on #9860
The exception thrown by this line [https://github.com/apache/dolphinscheduler/blob/f9f91000fd69caa8f70a9ea12993f7c432d6d30b/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-api/src/main/java/org/apache/dolphinscheduler/plugin/datasource/api/provider/JDBCDataSourceProvider.java#L96](https://github.com/apache/dolphinscheduler/blob/f9f91000fd69caa8f70a9ea12993f7c432d6d30b/dolphinschedul

[2022-05-01 19:18] rockfang commented on #9860
I changed the `mysql-connector-java` dependency scope front 'test' to 'compile', it workd.
[https://github.com/apache/dolphinscheduler/blob/f9f91000fd69caa8f70a9ea12993f7c432d6d30b/pom.xml#L557](https://github.com/apache/dolphinscheduler/blob/f9f91000fd69caa8f70a9ea12993f7c432d6d30b/pom.xml#L557)

The doc suggests us to use 'compile' only when we use mysql as DS metabase, but the DataSource Module

[2022-05-02 00:19] #8972 closed, assigned to nobody

[2022-05-02 02:54] SbloodyS commented on #9860
Please refer to the mysql section of the faq document.
https://dolphinscheduler.apache.org/en-us/docs/release/faq.html

I'' close this issue for now. You can reopen it if you have further questions.

[2022-05-02 02:54] #9860 closed, assigned to nobody

[2022-05-02 03:23] rockfang commented on #9860
got it. It's all about the license.

[2022-05-02 04:05] rockfang commented on #9860
@SbloodyS Hi,
still connect MySQL datasource failed cause by msssing serverTimezone field.
![connectfailed](https://user-images.githubusercontent.com/16065427/166181268-12166a64-2876-44cd-9f65-26997683d3f2.png)

**Reproduce:**
1. start DS with DEV branch use normal mode (api + master + worker)
2. create a MySQL datasource

**Anthing Else**
The exception is from this line [CommonDataSourceClient.ja

[2022-05-02 04:56] SbloodyS commented on #9860
cc @caishunfeng

[2022-05-02 12:56] zhongjiajie opened #9863 "[Feature][docker] Add UI to standalone server docker images"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, standalone servers does not have UI components and users could not log in via UI after starting it. As an easy way to run dolphinscheduler, we should add full functionality to it and we should add UI to

[2022-05-03 05:44] binbin0325 commented on #4754
当Master挂掉以后，其他在线的Master都会收到remover时间，那么生成容错Command,并且写入数据库的command表中的流程是由一个还是多个maser节点完成的？
Master挂掉 他持有的锁是如何释放的？

[2022-05-03 06:18] caishunfeng commented on #9860
Hi @rockfang please check the timezone config in spring application.yaml, or env/dolphinscheduler_env.sh if you start in sh command.

[2022-05-03 06:28] #9849 closed, assigned to ganlangjie

[2022-05-03 06:51] caishunfeng commented on #9297
remove stale

[2022-05-03 07:43] rockfang commented on #9860
@caishunfeng Thx for reply.
timezone config in application.yaml is  on, and I did't changed it.
![time-zone](https://user-images.githubusercontent.com/16065427/166418774-834ccfb0-ad39-4d75-8649-141c45913f30.png)
actually I think the connect error is from MySQL connect, I don't know whether it will read from the spring time-zone config.

I just retry a standalone server. it occurs again

[2022-05-03 07:44] WangJPLeo opened #9868 "[Bug-BE] Task flow definition cannot execute serial task flow while parallel serial alternate running."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Task flow definition cannot execute serial task flow while parallel serial alternate running.

### What you expected to happen

the task is running normally

### How to reproduce

1. create two shell node workflow
2. run fou

[2022-05-03 12:58] caishunfeng commented on #9860
![image](https://user-images.githubusercontent.com/11962619/166457085-a4d98a02-73eb-499a-9776-43d747823e18.png)

Which version of JDBC are you using? I try to start standalone server by IDEA and the MySQL datasource connection is OK. `mysql.connector.version` is 8.0.16.

[2022-05-03 14:52] #9868 closed, assigned to WangJPLeo

[2022-05-04 03:41] rockfang commented on #9860
My JDBC driver is 8.0.16.
I cloned the latest Dev and retryed it just now.  the error occures again.
did you configured the `default-time-zone` in your mysql config file ?
I add `default-time-zone` config in my target mysql config file `my.ini`, it works. but it may not a good way to solve it

[2022-05-04 04:38] chens616 opened #9871 "[Bug] [doc] 3.00-alpha Data quality doc link error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

we click  data quality  menu in the 3.00-alpha doc ,there is a Not Found page.

### What you expected to happen

when we click  data quality  menu，we can sea a correct about data quality.

### How to reproduce

when you clic

[2022-05-04 10:01] brave-lee opened #9873 "[Bug] [Server] Fault tolerance of dependent nodes leads to stuck"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[INFO] 2022-05-04 06:37:50.756 org.apache.dolphinscheduler.server.master.runner.WorkflowExecuteThread:[380] - work flow 1129 task 9904 state:NEED_FAULT_TOLERANCE
[INFO] 2022-05-04 06:37:50.757 org.apache.dolphinscheduler.ser

[2022-05-04 13:20] #9856 closed, assigned to litiliu

[2022-05-05 02:08] zhongjiajie commented on #5689
remove stale

[2022-05-05 02:13] #9806 closed, assigned to devosend

[2022-05-05 02:16] zhongjiajie commented on #9871
already add by commit https://github.com/apache/dolphinscheduler/pull/9865

[2022-05-05 02:16] #9871 closed, assigned to chens616

[2022-05-05 02:24] zhongjiajie commented on #9807
@kurobanekid  in 3.0.0-alpha, we separate DolphinScheduler to multiple server, so we change the image name from `apache/dolphinscheduler` to `apache/dolphinscheduler-[standalone-server|api-server|worker-server|master-server|alert-server]` and we already update the doc in #9865

[2022-05-05 02:24] #9807 closed, assigned to zhongjiajie

[2022-05-05 02:30] Amy0104 opened #9874 "[Bug][UI-Next][V1.0.0-Beta] The Branch Flow of the Switch task is abnormal."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the connection between the Switch task and its child nodes is removed, the Switch task parameters still display the information of the child nodes. The predecessor tasks of the child nodes are displayed as empty.

### W

[2022-05-05 02:43] Amy0104 opened #9876 "[Bug][UI-Next][V1.0.0-Beta] Some errors on the datasource page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. The description should has the default value.
2. Pager is missing page selector.
<img width="1324" alt="image" src="https://user-images.githubusercontent.com/97265214/165912017-0fe9f761-958a-499e-ad7d-a16de0441c9c.png">

[2022-05-05 02:53] Amy0104 opened #9878 "[Bug][UI Next][V1.0.0-Beta] The page was wrong when deleting from page 2 to page 1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

we have two pages of the token, I delete the item from page two when all items on page two were deleted. After all item in page two were deleted, we will go to page one. Return not data when I delete the latest item in page

[2022-05-05 03:10] CCCYounger opened #9880 "[Bug] When k8S is deployed, only one POD can be stored in the log volume"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

我采用的是k8s部署（华为云cce），多个pod挂载同一个日志卷，发现存的文件没有区分是哪一个pod保存的，只能区分master、worker、api、alert，不能具体到哪一个worker，进一步检查后，发现每一小时的日志文件都是某一个pod的日志。
这样会导致pod重启后无法查询日志，挂载日志卷就没有意义了。

I used K8S deployment (Huawei cloud CCE), and multiple pods moun

[2022-05-05 03:15] Amy0104 opened #9882 "[Feature][UI-Next] Add hints when passwords are not same on the password change page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="982" alt="image" src="https://user-images.githubusercontent.com/97265214/166858384-ec6d3056-5683-4d45-8c9b-171bc079a344.png">
Add hints when passwords are not same on the password change page.

### Use

[2022-05-05 03:44] #9878 closed, assigned to Amy0104

[2022-05-05 03:45] #9876 closed, assigned to Amy0104

[2022-05-05 03:48] #9874 closed, assigned to Amy0104

[2022-05-05 03:54] devosend opened #9884 "[Bug] [Next UI] When the connection parameter format is wrong, the submission does not respond"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the `jdbc connect parameters` format is wrong, the submission does not respond

### What you expected to happen

Prompt jdbc connect parameters error

### How to reproduce

- Edit DataSource
- Enter jdbc connect paramet

[2022-05-05 04:02] 1205823696 opened #9885 "[Bug] [datax -hdfsreader] java.lang.IndexOutOfBoundsException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

   Hello!
   Datax daily scheduling hdfsreader a null value occurs, causing a task exception. The job that is configured to continue scheduling does not take effect. Procedure

The exception information is as follows:
![imag

[2022-05-05 05:07] chens616 opened #9886 "[Bug] [doc] The error of navigation link about data quality of dolphinscheduler 3.0.0-alpha zh docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

there is a 404 page when we click data quality link in the navigation of dolphinscheduler 3.0.0-alpha zh docs

### What you expected to happen

The website go to a correct page when we click data quality link about the dolph

[2022-05-05 05:10] #9886 closed, assigned to nobody

[2022-05-05 05:27] Amy0104 opened #9889 "[Bug][UI Next][V1.0.0-Beta] The task group queue page display error in dark mode."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/97265214/166867589-0e9a9c73-49b9-42cd-933a-aaeedd782bec.png)

### What you expected to happen

The page should display correct.

### How to reproduce

Open the task group qu

[2022-05-05 05:35] SbloodyS commented on #9885
Hi @1205823696 , 1.3.8 is no longer in the maintenance list. Could you check if this exists in the latest version?

[2022-05-05 05:52] 1205823696 commented on #9885
I'm not using the latest version, the one I used before. I am not sure whether this exception will exist in the new version, according to the logic of my task configuration to continue to execute the task should continue to execute the task but it did not

[2022-05-05 06:30] rootyu commented on #9082
如果不能复制，那么复制功能就没有用。

[2022-05-05 06:39] #9889 closed, assigned to Amy0104

[2022-05-05 06:40] #9882 closed, assigned to Amy0104

[2022-05-05 07:31] SbloodyS commented on #9885
It is recommended to upgrade to the latest release version. @1205823696

[2022-05-05 07:32] AnchorOscarWoo opened #9892 "error throwed out when clicking the parent directory In 【Resource-File Manage】"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

In Resource-File Manage ,the page will throw out an error massage when clicking the parent directory in the breadcrumb.
![image](https://user-images.githubusercontent.com/21033697/166880794-b914fd98-db8b-4754-9f60-b2d82b77b7

[2022-05-05 07:38] SbloodyS commented on #9892
Related issue: #9374

[2022-05-05 07:41] Tianqi-Dotes commented on #9745
Dear ruancheng77,
 hi , I have tested this in version 205 and dev branch, it exactly have this issue in 2.x version but dev is fine and param can be passed to sub tasks.

[2022-05-05 07:42] AnchorOscarWoo commented on #9892
1

[2022-05-05 07:52] devosend commented on #9892
Hi @AnchorOscarWoo, Please complete the title of this question.

[2022-05-05 07:58] AnchorOscarWoo opened #9894 "(only 1 instance)the end time of a process Instance is earlier than start time."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

the end time of a process Instance is earlier than start time.

<img width="1084" alt="1651737301(1)" src="https://user-images.githubusercontent.com/21033697/166882702-dccc0117-563d-4dc2-bdb9-00ab5d0165f7.png">

### What you

[2022-05-05 08:00] Toms1999 commented on #9813
seesee

[2022-05-05 08:01] devosend commented on #9799
It is not a bug that the password input box is empty. You can create another issue about search input

[2022-05-05 08:02] #9799 closed, assigned to SnowMoon-Dev

[2022-05-05 08:12] songjianet opened #9896 "[Feature][UI] Remove old `UI` ."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Remove the old `UI` code in the `dev` branch.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X

[2022-05-05 08:19] zhongjiajie opened #9897 "[Feature][doc] Update readme screenshot and description"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/dolphinscheduler/blob/dev/README.md
https://github.com/apache/dolphinscheduler/blob/dev/README_zh_CN.md

### Use case

_No response_

### Related issues

_No response_

### Are you willin

[2022-05-05 08:20] #9892 closed, assigned to nobody

[2022-05-05 08:20] #9884 closed, assigned to devosend

[2022-05-05 08:29] zhongjiajie opened #9898 "[Feature][doc] Upgrade screenshot to latest version in dev document"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I find out still some old UI screenshots in our document, such as https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/project/workflow-definition.html .  We should change them to the latest version s

[2022-05-05 08:29] devosend opened #9899 "[Improvement][Next UI] Import Workflow placeholder"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Disable file name

<img width="1102" alt="image" src="https://user-images.githubusercontent.com/8847400/166887683-335481a8-a334-4440-a55f-e2890329e1cf.png">

### Use case

_No response_

### Related issues

_No re

[2022-05-05 08:30] a092cc commented on #4283
Exception in thread "main" org.apache.spark.sql.AnalysisException: Table or view not found:
执行hive或者mysql语句时，表明明是存在的，报这个错误是什么情况？@zixi0825

[2022-05-05 08:36] labbomb commented on #9899
i will fix it

[2022-05-05 08:38] #9899 closed, assigned to labbomb

[2022-05-05 09:10] SbloodyS commented on #9894
Hi @AnchorOscarWoo , can you provide the steps of reproduction?

[2022-05-05 09:18] zhongjiajie commented on #9896
should remove `UI` module and rename `UI-next` to `UI`

[2022-05-05 09:19] songjianet commented on #9896
yes

[2022-05-05 09:20] zhongjiajie commented on #9896
Also need to change build `pom.xml` too.

[2022-05-05 09:24] songjianet commented on #9896
yes, I will deal with it, I will find someone to review it later.

[2022-05-05 09:57] zhongjiajie opened #9901 "[Bug][codeowner] Config file CODEOWNER do not work currently"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

We have the code owner config file in
https://github.com/apache/dolphinscheduler/blob/dev/.github/CODEOWNERS , but it does not work when we submit new PR.

### What you expected to happen

ATT

### How to reproduce

ATT

###

[2022-05-05 10:02] AnchorOscarWoo commented on #9894
Hi @SbloodyS

I just click “start” in page “Process definition” , then in page "Process Instance" I can see a instance its END TIME is earlier than START TIME.

It's really hard to reproduce , it's not a 100% probability problem . if this problem shows again , i will record how i operate in a document and put it into this issue.

[2022-05-05 14:06] zhongjiajie opened #9903 "[Feature][doc] Migrate python docs into "Documentation" sidebar"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

currently, we have pydolphinscheduler doc as sub title in website "Doc" tab. It makes pydolphinscheduler doc without version and in uncoordinated path, we should move it as a sidebar in sidebar instead of sub titl

[2022-05-05 14:34] qingxing7 opened #9905 "[Bug] [Quartz] cron did not work as expected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Environment: Single-node deployment version 2.0.5, mysql RDS 5.7, ZK 3.5.x Linux Centos7 32C64G

Procedure: After the deployment is complete, tenants and projects are created and a periodic shell task is configured to be exe

[2022-05-05 15:07] songangweb commented on #9841
Is there a scheduled completion date for this?

[2022-05-05 18:03] WangJPLeo opened #9906 "[BUG-BE][Workflow] The wait time instance does not wake up after the serial wait task is manually stopped."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When running a serial task, stop the running task, the waiting task will never be pulled up and executed at this time

### What you expected to happen

When running a serial task, stop the running task, the waiting task will

[2022-05-06 00:20] #9226 closed, assigned to nobody

[2022-05-06 01:40] chuxiangfeng opened #9908 "[Feature] [Parameters] Take the process ID as the global parameter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, there are too few global parameters. There are only three time parameters. I hope to use the process ID as the global parameter when starting the process

### Use case

As a scheduling tool, a complete

[2022-05-06 01:44] brave-lee commented on #9905
@caishunfeng Please take a look

[2022-05-06 02:48] qingxing7 commented on #9905
this is dolphinscheduler-master.log

Step 1: Offline timing, and then online timing

Step 2: Observe that the task is not performed at the specified time

Step 3: If manually triggered, the operation is normal
![Uploading 799FD2E7-398B-49AA-9099-AC5EC06B31E7.jpeg…]()

[2022-05-06 02:49] qingxing7 commented on #9905
![87655CEE-4BFA-4559-A06A-4860220E8159](https://user-images.githubusercontent.com/63483033/167058821-ec8a0784-84b3-4bec-9ecb-fb3c828ea145.jpeg)
![5FEFA16D-D007-44E8-A589-F204877D5D04](https://user-images.githubusercontent.com/63483033/167058824-b8cb620f-0d0c-4fb1-a73f-b5c808cf55d3.jpeg)
![0D596C0C-D22B-45B4-8F13-F12EAA443766](https://user-images.githubusercontent.com/63483033/167058827-16d6cdaa-a2

[2022-05-06 02:49] qingxing7 commented on #9905
![Uploading 6BF0CB8B-7BA8-4B59-9267-9F109A18AE27.jpeg…]()

[2022-05-06 02:50] qingxing7 commented on #9905
thanks

[2022-05-06 03:40] wxd5146 opened #9910 "[BUG][Task Group Option]Task Group Do Not Work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I define a task group and make the 'Resource pool size' = 5 ,when i run 7 task ,the before 5 task run complete,but the last 2 is not work

![image](https://user-images.githubusercontent.com/39934213/167062955-3dd6fa82-115e-4

[2022-05-06 03:43] jieguangzhou commented on #9725
Hi, good to see you join the discussion. I just read about your discussion (https://github.com/apache/skywalking/discussions/8883). It should be a great project.

I think DolphinScheduler will be able to schedule the AIops scenario in the near future. I am enriching its scheduling features in the field of artificial intelligence, and the MVP product is being implemented.

We can keep talking about

[2022-05-06 04:10] zhongjiajie commented on #9725
Looking great! I am very optimistic about the prospects of this. And as I said in the mail thread, I think machine learning is also another kind of orchestration, and most of the machine learning source data or training samples are from data warehouses or data lakes, which we already supported in the current version. If we DolphinScheduler could support machine learning tasks then users could fini

[2022-05-06 04:17] paul8263 commented on #9822
Hi @caishunfeng ,
There is a way to append the zone-offset.

Is anyone currently working on this issue? If not I would like to take it.

[2022-05-06 05:03] Superskyyy commented on #9725
Yeah the dataset repository broke since ？2days ago，if you need I can find a way to send to you. I have a local copy.

[2022-05-06 05:41] labbomb opened #9911 "[Bug] [Project/Workflow Instance] http address compatibility is not handled well, if not with http:// will cause the URL address not to be recognized, error: Target host is not specified"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

create http's instance with no 'http://'
![image](https://user-images.githubusercontent.com/15062456/167073746-b89860cb-ae4c-49ea-9953-9ab1dafb72c8.png)

run this http's instance
![image](https://user-images.githubuserconten

[2022-05-06 05:44] Superskyyy commented on #9725
I'll be happy to follow this and provide help. Also happy to integrate and test the outcomes in the new SkyWalking ecosystem AIOps project.

[2022-05-06 05:53] QuakeWang commented on #8028
I will do this task.

[2022-05-06 06:04] #9896 closed, assigned to songjianet

[2022-05-06 06:27] berg-xu commented on #8820
@wujb315  你这边是用的哪个版本？ 如何解决这个问题的?

[2022-05-06 06:49] zhongjiajie commented on #8820
@berg-xu see https://github.com/apache/dolphinscheduler/issues/8820#issuecomment-1064952664 to solve it

[2022-05-06 07:01] #9906 closed, assigned to WangJPLeo

[2022-05-06 07:04] #9838 closed, assigned to EricGao888

[2022-05-06 07:08] zhongjiajie commented on #8028
Looking forward your contribution

[2022-05-06 07:08] #9911 closed, assigned to labbomb

[2022-05-06 07:43] zhongjiajie commented on #9885
Did we support task failed but continue workflow now?

[2022-05-06 07:46] SbloodyS commented on #9885
Yes. We have the failure strategy.

[2022-05-06 07:46] MiracleTanC commented on #3769
有解决方案了吗

[2022-05-06 08:54] ShayvChan opened #9916 "[Bug] [Master] Dependent Node Did Not Retry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 The dependent node did not retry after fail sometimes running after retry.
And the lastest task instance execute duration is null
![图片](https://user-images.githubusercontent.com/25319167/167099254-139aa110-f39e-4eb5-b80f-76

[2022-05-06 08:58] ShayvChan commented on #9916
![图片](https://user-images.githubusercontent.com/25319167/167100350-47dabeb3-ef0d-42d2-b068-6d7c06aef869.png)
If i try to restart the master, it will trigger a retry immediately. After this retry fail,  still not trigger next retry

[2022-05-06 09:10] EricGao888 commented on #9550
Hello @liqingwang, this feature is pretty cool and I'm quite looking forward to it. May I ask is there any update on this issue? Thx~

[2022-05-06 09:26] SbloodyS commented on #9916
Hi @ShayvChan , Is there any error log in ```dolphinscheduler-master.log```?

[2022-05-06 09:31] #9822 closed, assigned to paul8263

[2022-05-06 09:32] #8310 closed, assigned to nobody

[2022-05-06 09:32] caishunfeng commented on #7450
This issue had been solved.

[2022-05-06 09:32] #7450 closed, assigned to nobody

[2022-05-06 09:42] ShayvChan commented on #9916
@SbloodyS We can't found any error in master log

[2022-05-06 09:56] ShayvChan commented on #9916
there have some retry logs of the first two times, but  have not next trigger log
[code]

[2022-05-06 11:19] wangchao732 opened #9918 "[Bug] api-server log download failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

api-server ui download task log failed, content is blank.

### What you expected to happen

[INFO] 2022-05-06 19:12:14.698 org.apache.dolphinscheduler.service.log.LogClientService:[72] - roll view log, host : 172.16.1.82, po

[2022-05-06 11:29] ShayvChan commented on #9916
Update: when the dependent process definition not schedule, all process definition which depend it will trigger retry normally. But when dependent process definition scheduler up(every 5 min), some process definition(every 10 min) which depend it cannot trigger retry normally

[2022-05-06 12:56] kezhenxu94 opened #9920 "Fix packaging method in data quality module"
That's not the only reason not to use jar with dependencies, why should this module use this package style? My question is this kind of package will duplicate the dependencies in the dist tar

_Originally posted by @kezhenxu94 in https://github.com/apache/dolphinscheduler/pull/6718#discussion_r866798911_

[2022-05-06 12:56] kezhenxu94 commented on #9920
@zixi0825 please address this problem

[2022-05-06 13:27] brave-lee opened #9921 "[Bug] [Server] Worker workerWaitingTaskCount has always been zero"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[zk: localhost:2181(CONNECTED) 25] get /dolphinscheduler/nodes/worker/default/host:1234
0.02,0.39,0.38,19.06,16.0,0.3,1651832787990,1651833001883,0,30984,100,2,0

![image](https://user-images.githubusercontent.com/42576980/1

[2022-05-06 18:31] SnowMoon-Dev opened #9923 "[Bug] [Alarm Instance Manage] The alarm instance management interface is always in the loding state"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the alter component is not started, the alarm instance management interface is always in the loding state

### What you expected to happen

1. loading state can be turned off

### How to reproduce

1. first start api an

[2022-05-07 00:18] #5040 closed, assigned to nobody

[2022-05-07 01:13] rockfang opened #9925 "[Bug] [UI] Ellipsis in Table Column not work well"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

ellipsis in table column with `ButtonLink` not work well.

![project-name](https://user-images.githubusercontent.com/16065427/167232131-91daa7a4-4154-458b-ba72-0ff81859e9d9.png)

![TaskInstance](https://user-images.githubuse

[2022-05-07 01:35] SbloodyS commented on #9916
Could you take a screenshot of this dependent task's config?

[2022-05-07 01:40] Tianqi-Dotes commented on #9745
hi,
please refer to this pr changes:
https://github.com/apache/dolphinscheduler/pull/9442/files#diff-ce66488b6575537b256a7d85364c1d660aafcd4ce601e3a60a656732f18263ac
to modify the problem in 2.x version. I have tried to fix this problem refer to this pr and works.

[2022-05-07 02:00] qingwli commented on #9550
Hi @EricGao888, We have finished the design and the code. But we are doing secondary development locally, version 2.0.5, with `dolphinscheduler-ui`. Also the `dolphinscheduler-ui` [will not be maintained soon](#9896 ). We will adapt and upgrade local to version 3.0.0-alpha this month, so you can see the pr of this feature next month.

[2022-05-07 02:12] chinaboyll commented on #6973
I have the same problem,  t_ds_task_instance table is no data。beacuse program parses process_definition_json to t_ds_task_instance is error。

[2022-05-07 02:13] XuXuClassMate opened #9926 "[Bug] [Monitor/Statistics] The number of tasks to be run and the number of tasks to be killed The two modules are hidden"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The number of tasks to be run and the number of tasks to be killed The two modules are hidden

<img width="1646" alt="image" src="https://user-images.githubusercontent.com/76080484/167233787-81dab07f-7284-42f0-ba87-c32e6371e

[2022-05-07 02:14] songjianet commented on #9926
I will fix it.

[2022-05-07 02:16] zhongjiajie opened #9927 "[Feature][doc] Migrate development docs into "Documentation" sidebar"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

we think should migrate development into "doc" sidebar, because we need the development doc to have a version too. same as #9903

### Use case

_No response_

### Related issues

_No response_

### Are you willing

[2022-05-07 02:22] zhongjiajie opened #9928 "[Feature][doc] Rewrite doc "quick start" and move deployment into the tail of sidebar"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We should add standalone server into quick star, and start dolphinscheduler before we create users or tenants, and then add  process definition and run it.

BTW, we should move the deployment section to the tail o

[2022-05-07 04:18] caishunfeng commented on #9905
@qingxing7 it seems some img upload failed, please upload again, thanks.

[2022-05-07 05:15] Amy0104 opened #9929 "[Bug][UI Next][V1.0.0-Beta] Data Quality data is not displayed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![1](https://user-images.githubusercontent.com/97265214/167239559-bbdc0758-3141-41fc-9e8a-412edcc7caac.gif)

### What you expected to happen

The data should display correct.

### How to reproduce

1. Open the workflow defin

[2022-05-07 05:16] qingxing7 commented on #9905
![Uploading FC91445B-CFF2-4A72-8801-27C38F823FE9.jpeg…]()

[2022-05-07 05:21] qingxing7 commented on #9905
Maybe there is something wrong with my phone, I will upload it later; Today, when I tried to deploy again, I changed RDS to self-built mysql, timing is normal, is it the problem of using RDS？

[2022-05-07 05:29] Amy0104 opened #9931 "[Bug][UI Next][V1.0.0-Beta] Consoled an error after I deleted a node from the context menu."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Consoled an error after I deleted a node from the context menu.

### What you expected to happen

There is no error.

### How to reproduce

1. Create a task, and then delete it by the context menu.

### Anything else

_No re

[2022-05-07 05:50] #9929 closed, assigned to Amy0104

[2022-05-07 06:12] #9734 closed, assigned to SnowMoon-Dev

[2022-05-07 06:18] #9931 closed, assigned to Amy0104

[2022-05-07 06:24] #9430 closed, assigned to zengqiyan

[2022-05-07 06:41] rockfang commented on #9925
I submited [PR-9936](https://github.com/apache/dolphinscheduler/pull/9936) to solve it.
Project  list page:
![project-list](https://user-images.githubusercontent.com/16065427/167242171-2cd53103-3a9a-4067-b766-483dfbd6cc7a.png)
Project workflow instance page:
![project-workflow-instance](https://user-images.githubusercontent.com/16065427/167242196-68b828bc-ecf6-4e66-9762-a9c059c5e866.png)
Project t

[2022-05-07 07:47] Tianqi-Dotes commented on #9811
Hi @latte-z,
Sorry for the late reply, hope you have a nice vacation. I have reproduced this both in 2.0.5 and dev, will try to solve it. Thanks for the patience.
Yours

[2022-05-07 08:33] caishunfeng commented on #6586
I think we should add some demo to the real usage scenarios of users  as close as possible, such as `Shell` task, we can write a demo to delete historical logs and historical instances.

[2022-05-07 08:53] ruancheng77 commented on #9745
I think you seem to have misunderstood the root cause of the problem.
The problem I tested is that multithreading causes the shell script to use setValue syntax to set the variable value to pass out. Due to the influence of multithreading, the thread parsing setValue syntax may not parse in time, resulting in the lack of varpool.
![image](https://user-images.githubusercontent.com/23415499/16724696

[2022-05-07 08:57] winskin opened #9937 "[Bug] [DAO] Workflow execution time increases gradually"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

说明：耗时随着数据增加而增加，测试耗时从4s增加到20s，只有一个调度任务在跑。
Note: The time-consuming increases as the data increases, the test time increases from 4s to 20s, and only one scheduling task is running.

排查：发现是工作流执行时会查询t_ds_task_instance表，主要的耗时集中在

[2022-05-07 09:07] #9926 closed, assigned to songjianet

[2022-05-07 09:17] caishunfeng commented on #9905
I don't think it's a RDS problem, but you can check it again.

[2022-05-07 09:35] someorz opened #9938 "[Bug] [server master] need fault tolerance task environment_config is null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

need fault tolerance task  environment_config is null task execute failed
![image](https://user-images.githubusercontent.com/5456361/167248391-cca537f8-b68c-4ab7-8e9c-f0befb5b9e77.png)

### What you expected to happen

![ima

[2022-05-07 10:05] zhongjiajie opened #9940 "[Feature][doc] Add how img_utils.py work and how to auto remove unused images"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project

[2022-05-07 10:07] #8301 closed, assigned to QuakeWang

[2022-05-07 10:32] zhongjiajie commented on #9841
will add this before we release 3.0.0-bate @songangweb

[2022-05-07 10:32] SbloodyS commented on #9938
Hi @someorz , would you like to fix it with a new PR?

[2022-05-07 10:36] SbloodyS commented on #9937
Hi @winskin , please use english to describe it. Feel free to reopen this issue while you change it to english.

[2022-05-07 10:36] #9937 closed, assigned to nobody

[2022-05-07 10:55] syncwt opened #9941 "[Bug] [Upgrade module] upgrade 1.3.5 to 3.0.0 alpha execute SQL failed"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When do `sh tools/bin/upgrade-schema.sh` some error happened at list :
[code]

### What you expected to happen

no  error ,work well.

### How to reproduce

rerun upgrade shell

### Anything else

_No response_

### Version

[2022-05-07 11:36] EricGao888 opened #9942 "[Feature][Task Plugin] Abstract python related tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we cannot alter python virtual environment for python task plugin once ds starts. However, in practice, sometimes we need different python tasks to run in different virtual env.
* We might add a field

[2022-05-07 12:38] davidzollo commented on #8841
@ChenShuai1981 are you interested in designing and implementing this feature?

[2022-05-07 13:42] zhongjiajie opened #9943 "[Bug] [docker] docker compose can not start services"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

according to  https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/start/docker.html, when we deploy using  docker compose, will face two issue

* could not find docker images in `HUB=ghcr.io/apache/dolphinsc

[2022-05-07 13:51] zhongjiajie commented on #9941
you tarball is dwonload from https://dolphinscheduler.apache.org/en-us/download/download.html or build by yourself?

[2022-05-07 15:42] ShayvChan commented on #9916
<img width="1201" alt="截屏2022-05-07 下午11 39 38" src="https://user-images.githubusercontent.com/25319167/167261552-a2e5fb88-88f5-4362-882b-b819d98b320f.png">
<img width="1238" alt="截屏2022-05-07 下午11 40 51" src="https://user-images.githubusercontent.com/25319167/167261558-1e45d529-6beb-453d-b6c7-fcbacd71f49f.png">
<img width="845" alt="截屏2022-05-07 下午11 42 03" src="https://user-images.githubusercont

[2022-05-08 00:19] #9271 closed, assigned to nobody

[2022-05-08 00:19] #5035 closed, assigned to nobody

[2022-05-08 04:19] AuroraV commented on #7874
i deploy 2.0.3, docker also met this problem, only docker recurrent; share：

1. found hang on `Sheet sheet = wb.createSheet();`may miss font, fix:
`sudo apt-get update`
`sudo apt-get install fontconfig`
link:`https://stackoverflow.com/questions/48989348/sxssf-workbook-createsheet-fails-on-linux-environments`

2. hang on `wb.write(fos);`, have no plan to fix, maybe related to docker images

now i u

[2022-05-08 07:04] #9177 closed, assigned to zhuangchong

[2022-05-08 10:30] syncwt commented on #9941
download from ‘https://dolphinscheduler.apache.org/zh-cn/download/download.html’ .3.0.0-alpha with Total Binary Distribution format,And download site is 'https://www.apache.org/dyn/closer.lua/dolphinscheduler/3.0.0-alpha/apache-dolphinscheduler-3.0.0-alpha-bin.tar.gz'

[2022-05-08 13:17] SbloodyS commented on #9916
@ShayvChan From your screenshot, the dependent node is not configured with the number of retries. And I have test a dependent node with 5 retry times and 1 min retry interval in 2.0.5-release standalone mode. It works fine. Is there a way to reproduce accurately?

![](https://vip2.loli.io/2022/05/08/ZlqVhW9OCRfwX2n.png)

[2022-05-09 00:19] #7501 closed, assigned to nobody

[2022-05-09 01:36] QuakeWang commented on #9601
This task has already been done. [UDF Manage](https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/resource/udf-manage.html)

[2022-05-09 01:38] winskin commented on #9937
Bot has helped translate it into English, here

[2022-05-09 03:14] #9925 closed, assigned to rockfang

[2022-05-09 04:08] sdhzwc opened #9947 "[Optimization] [Project Management-Workflow-Workflow Definition] Added running status"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/46134044/167338954-eea51ff9-0c73-4cea-b725-47d300a50514.png)

增加运行状态标识，目前启动工作流也无法直接看出是否在运行

### What you expected to happen

上图

### How to reproduce

上图

### Anything else

[2022-05-09 05:43] zixi0825 commented on #9920
ok

[2022-05-09 05:45] #9628 closed, assigned to EricGao888

[2022-05-09 05:55] kezhenxu94 commented on #9920
@zixi0825 see my PR https://github.com/apache/dolphinscheduler/pull/9944#discussion_r867579565

[2022-05-09 06:38] zhongjiajie commented on #9601
Thanks and i will close it.

[2022-05-09 06:39] zhongjiajie commented on #9601
close by #9658

[2022-05-09 06:39] #9601 closed, assigned to QuakeWang

[2022-05-09 06:43] zhongjiajie commented on #8858
@SbloodyS Does it all done and could we close this issue now?

[2022-05-09 06:44] SbloodyS commented on #8858
Yes. I will close it.

[2022-05-09 06:44] #8858 closed, assigned to nobody

[2022-05-09 06:53] SbloodyS opened #9949 "[Bug] [Doc] Missing right click to start single task instance job's guide in workflow definition detail page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Missing right click to start single task instance job's guide in workflow definition detail page

### What you expected to happen

aboved.

### How to reproduce

aboved.

### Anything else

_No response_

### Version

dev

#

[2022-05-09 06:54] zhongjiajie commented on #7874
Will tell the code differences between 'em.

Got it, I will add the milestone to 2.0.6

[2022-05-09 07:02] SbloodyS commented on #9937
@winskin You can copy it to your issue's description.

[2022-05-09 07:04] zhongjiajie commented on #7664
we already have a commit from #9586 should test it work or not

[2022-05-09 07:09] zhongjiajie commented on #9745
does it related to this issue? https://github.com/apache/dolphinscheduler/issues/9576

[2022-05-09 07:25] ruancheng77 commented on #9745
No.
Parse setValue syntax in another thread. when workflow start multiple work at the same time, some work will finished before parse setValue thread is done.

My temp plan is waiting getLogoutputService is done then goto next.

[2022-05-09 07:59] vagetablechicken opened #9950 "[Feature][Task-plugin] Add OpenMLDB task-plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I want to add the OpenMLDB task-plugin to support run cmds on OpenMLDB.
There're some ways to impl it.
1. If we impl it like zeppelin, we'll add openmldb jdbc dependency. openmldb jdbc will use openmldb-native jar

[2022-05-09 08:04] chinaboyll opened #9951 "[Bug] [update error] upgrade 1.3.3 to 2.0.5 json split error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I've tried everything on issues but it doesn't work。
When I upgraded from 1.3.3 to 2.0.5, running upgrade-Dolphinscheduler. sh failed。
DolphinScheduler metadata version was upgraded from 1.3.7 to phase 2.0.0
`json split erro

[2022-05-09 08:22] zhongjiajie commented on #9950
Hi @vagetablechicken , it is welcome to add any task to DolphinScheduler, but this case it is a little different because the java SDK for OpenMLDB is a little big IMO. After we release version 3.0.0-alpha, we find out some of our users complain about the size of our tarball. and we have created some issues and do some effort to slim our binary package which you can see in #9813 and #9843.

So If t

[2022-05-09 08:25] SbloodyS commented on #9950
Agreed.

[2022-05-09 09:36] Tianqi-Dotes commented on #9811
@latte-z
hi, have fixed this issue by this PR please check it.
The problem is the code use workflow definition to construct workflow instance and forget to use cmdParam(启动参数) to replace global param.

[2022-05-09 10:51] #9837 closed, assigned to Dannila

[2022-05-09 12:19] #9901 closed, assigned to zhongjiajie

[2022-05-09 13:55] ltcaxx commented on #8183
Now, I am also experiencing this problem. Has version 3.0 been solved?

[2022-05-09 15:49] zhongjiajie opened #9960 "[Feature][script] Bash in tools/bin is not executable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="700" alt="image" src="https://user-images.githubusercontent.com/15820530/167447990-4a86b954-ffe4-40f6-9a92-1cbeefa066c8.png">

### Use case

_No response_

### Related issues

_No response_

### Are yo

[2022-05-10 00:21] #9300 closed, assigned to nobody

[2022-05-10 00:21] #9282 closed, assigned to nobody

[2022-05-10 00:21] #9277 closed, assigned to nobody

[2022-05-10 02:54] syncwt commented on #9941
It works well when I upgrade '1.3.5' to '2.0.5-release'. Please check the DDL of upgrading's script and create more test case.
Otherwise , the current document of upgrading was replaced by new version, maybe the  older version should be saved.

[2022-05-10 03:04] 244607753 commented on #9156
你好，请问怎么能实现我的调度策略呢？A任务每隔N天循环执行。不希望跨月对它有任何影响。可以按年为单位

[2022-05-10 03:07] Amy0104 opened #9961 "[Bug-FE][V1.0.0-Beta.1] Packing failure."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Package failure after I updated the packages to latest.

### What you expected to happen

Packing success.

### How to reproduce

1. Command line execution `pnpm up --latest`
2. Command line execution `pnpm run build:prod`

[2022-05-10 03:16] zwZjut opened #9963 "[Bug] [deploy on k8s by helm] db-init-job failed when use pg as metadata"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [deploy on k8s by helm] db-init-job failed when use pg as metadata

### What you expected to happen

helm install

kubectl logs xxx-db-init-job-xxx

org.postgresql.util.PSQLException: ERROR: cannot drop table t_ds_proc

[2022-05-10 03:16] XuXuClassMate opened #9964 "[Bug-BE] [Workflow Instance] Input is not recognized"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1913" alt="image" src="https://user-images.githubusercontent.com/76080484/167534314-0c205386-e7cf-47a8-838d-52e8fcbcc0c9.png">

<img width="1919" alt="image" src="https://user-images.githubusercontent.com/7608048

[2022-05-10 03:29] SbloodyS commented on #9964
I think it can be solved by change the system ```locale``` to ```utf-8```

[2022-05-10 03:37] shuiliuwusheng opened #9965 "[Bug-FE][V2.0.1] Complement Data with error date."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 Complement Data with error date. executed according to the scheduling date, but the parameter time passed to the program is one hour longer than the scheduling time, therefore, progrem can't  launch with the correct date pa

[2022-05-10 03:52] SbloodyS commented on #9965
Complement date +1 is the feature of ```2.0.1-release```. Not bug. It has been removed in ```2.0.4-release```.

[2022-05-10 03:52] #9961 closed, assigned to Amy0104

[2022-05-10 05:35] ITBOX-ITBOY commented on #2841
This problem still exists in version 2.0.5

[2022-05-10 07:19] QuakeWang commented on #8018
I will do this task.

[2022-05-10 09:32] zixi0825 opened #9969 "[Bug] [UI] The data quality tab page cannot switch with other pages normally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![SwitchToDataQuality](https://user-images.githubusercontent.com/10829956/167595110-c824603a-151b-4404-89c0-3a9907f7f891.png)

![SwitchToResource](https://user-images.githubusercontent.com/10829956/167595424-970016e1-02b6-4d

[2022-05-10 14:33] zixi0825 opened #9973 "[Bug] [DataQuality] Can not generate command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When execute data quality task，can not generate the execute command

### What you expected to happen

Data Quality task execute success.

### How to reproduce

execute data quality task

### Anything else

_No response_

###

[2022-05-10 18:52] WangJPLeo opened #9975 "[Bug-BE] The selected task instance was recreated when the Master service failed over"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The selected task instance was recreated when the Master service failed over

### What you expected to happen

No new instances should be created.

### How to reproduce

Stop the Master service during workflow execution, and

[2022-05-11 00:20] #9326 closed, assigned to nobody

[2022-05-11 01:56] EricGao888 opened #9977 "[Feature][Task Plugin] Add support for dynamic form for zeppelin task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Add support for Apache Zeppelin `dynamic form` in zeppelin task plugin. Click [here](https://zeppelin.apache.org/docs/0.10.1/usage/dynamic_form/intro.html#text-input-form-1) for details about `dynamic form`.
* B

[2022-05-11 01:57] someguyLi opened #9978 "[Feature] I can't select task node to start rerun"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I select any task node to run in the workflow instance, it will start the entire workflow
我在工作流实例中右键选择任意任务节点运行，将会启动整个工作流 @ke4qqq @gmcdonald @jbampton @simsicon

### What you expected to happen

select any task node to run in

[2022-05-11 02:02] #9493 closed, assigned to nobody

[2022-05-11 02:04] #9489 closed, assigned to labbomb, songjianet

[2022-05-11 02:21] andy-gezl opened #9979 "[Bug] [dolphinscheduler-tools] column does not exist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

docker-compose install dolphinscheduler env, service "dolphinscheduler-schema-initializer" didn't completed successfully.
o.a.d.dao.upgrade.ProcessDefinitionDao   : ERROR: column "process_definition_json" does not exist

###

[2022-05-11 03:25] SbloodyS commented on #9979
This problem has been fixed in #9628 . I'll close this issue. Thanks for your feedback.

[2022-05-11 03:25] #9979 closed, assigned to nobody

[2022-05-11 03:43] #8028 closed, assigned to QuakeWang

[2022-05-11 03:49] berg-xu commented on #9628
@EricGao888
DS 3.0.0
problem  :  java.sql.SQLSyntaxErrorException: Duplicate key name 'idx_code_version'
How to solve this problem ?

[2022-05-11 05:11] QuakeWang opened #9982 "[Bug] Failed to create tenant"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When creating a tenant, if the name starts with a capital letter, an error will be reported. Lowercase letters are fine.

### What you expected to happen

Tenants can be created normally.

### How to reproduce

![tenant](htt

[2022-05-11 05:35] zhongjiajie commented on #9604
website update schedule

[2022-05-11 05:35] zhongjiajie commented on #9604
how to chang latest docs, how to change specific doc

[2022-05-11 05:47] caishunfeng commented on #9975
When failover, it will create a new task instance to rerun.
So I think this issue maybe is not a bug.

[2022-05-11 06:35] qingwli opened #9984 "[Bug] [deploy on k8s by helm] Some docker image is not exist and doc has some issues"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Some docker image does not exist and the doc has some issues.

### What you expected to happen

deploy succeeded.

### How to reproduce

# 1. Some Docker Images do not exist.

[code]
The 3.0.0-alpha image registry is [dolphi

[2022-05-11 07:12] duspring opened #9986 "[Bug] [UI] The task results under the data quality menu can only display the latest 10 records, and the paging and jump functions are not available. F12 debugs to view the query results of the task results, and there are 31 returned results."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/35389283/167789045-d747f0ed-f0b4-477e-ac67-20b0bbc23b2c.png)
![image](https://user-images.githubusercontent.com/35389283/167789066-5bc297d0-132f-45bd-84b3-0e9580f23f59.png)

[2022-05-11 07:54] duspring opened #9988 "[Bug] [UI] When the data quality multi-table accuracy verification is performed, after the ON statement and other necessary configuration parameters are maintained on the front-end interface, the task execution fails. It is found that the data quality task params lacks the key value of mapping_columns, resulting in the backend reporting Json deserialization exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/35389283/167794638-7255b58a-dac0-437c-a41d-47f03bc246b6.png)
![image](https://user-images.githubusercontent.com/35389283/167794648-95f9b278-62b5-4eea-9266-1283c911b903.png)

[2022-05-11 08:46] QuakeWang opened #9989 "[Feature][Document] Refactored parameter documentation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Because the documentation on the parameter introduction on the website is not very detailed, and the version is too old. Therefore, I decided to rewrite this part of the document and add corresponding test cases f

[2022-05-11 09:11] huangchenguang123 opened #9990 "[Bug] [Doc] development-environment-setup.md has some outdate description"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 development-environment-setup.md has some outdate description.
for example:
1.no specific jdk version and node version indicated
2.pom.xml already has mysql-connector-java
3.zookeeper properties already in the config
4.mysq

[2022-05-11 09:35] XuXuClassMate opened #9991 "[Bug-BE] [sql component] sql component failed to run"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

sql component failed to run

<img width="1917" alt="image" src="https://user-images.githubusercontent.com/76080484/167818413-a43c4a22-7758-43de-97bd-50d013ed5bc9.png">

### What you expected to happen

sql component runs suc

[2022-05-11 09:48] GodWon opened #9992 "[Bug] [task plugin] Execute multiple HIVE SQL errors in a single session"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

所有common.properties文件内 都配置了support.hive.oneSession=true， 但是实际情况多个hivesql任务无法执行。

### What you expected to happen

希望在同一个会话中执行多个 HIVE SQL， 结果报错。 所依更无法设置任务名称 set mapred.job.name

### How to reproduce

![image](https://user-ima

[2022-05-11 09:54] XuXuClassMate opened #9993 "[Bug-FE] [Workflow Instance-Gantt] The task name is too long and the display is incomplete"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The task name is too long and the display is incomplete

<img width="1918" alt="image" src="https://user-images.githubusercontent.com/76080484/167821659-22367f4b-9eaa-4ecb-9d06-323a4c0059b0.png">

### What you expected to ha

[2022-05-11 09:59] devosend commented on #9993
I will fix it

[2022-05-11 10:37] #9811 closed, assigned to Tianqi-Dotes

[2022-05-11 12:06] welsh-wen opened #9996 "[Bug-FE] [Resource] Under Resource Management, multiple attachments are uploaded, one attachment is expected to be displayed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. uploaded multiple attachment
![image](https://user-images.githubusercontent.com/59044203/167844947-51eac7e2-cc9d-4178-b559-5e7b108f7079.png)

### What you expected to happen

one attachment is expected to be displayed.

#

[2022-05-11 13:38] wuchunfu opened #9999 "[Feature][CI] Add Dead Link Checker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add Dead Link Checker

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this

[2022-05-12 00:21] #9298 closed, assigned to nobody

[2022-05-12 02:07] rockfang opened #10002 "[Bug] [UI] Bug in datasource list"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. when  a datasource contains `jdbc connect parameters`. click to view datasource params in datasource list not work well.
![popbug](https://user-images.githubusercontent.com/16065427/167976952-966845b0-ae59-49d7-b5d4-def69

[2022-05-12 02:10] Amy0104 opened #10003 "[Bug] [UI] The validator of task name is error in the dependent task."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="621" alt="image" src="https://user-images.githubusercontent.com/97265214/167976996-1f3ea0e4-e51e-4643-97b0-4b6f1fa8adad.png">

### What you expected to happen

It should be savable when the task is ALL.

### How

[2022-05-12 02:51] Amy0104 commented on #9996
It seems better to support only one file upload.

[2022-05-12 03:05] huangchenguang123 commented on #9991
我在用mysql测试的时候遇到的相同的问题，查询任务无法运行，非查询可以，请问你是查询任务出现的场景吗

[2022-05-12 03:51] zhongjiajie commented on #9999
@wuchunfu does it related to #10004?

[2022-05-12 05:48] huangchenguang123 commented on #9991
the reasion is statement is closed before resultSet.getMetaData(), see org.apache.dolphinscheduler.plugin.task.sql.SqlTask#executeQuery, executeQuery use AutoClose

can i try to fix this issus? @devosend

[2022-05-12 05:51] SbloodyS commented on #9992
This has been implement in #9177 . I'll close this issue.

[2022-05-12 05:51] #9992 closed, assigned to GodWon

[2022-05-12 05:54] SbloodyS commented on #9991
You are welcome to fix this issue. I'll assign to you. Looking forward to your contribution.

[2022-05-12 05:56] zhongjiajie opened #10006 "[Feature][doc] Add a guide to nominate new committer"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

we could learning from https://seatunnel.apache.org/community/contribution_guide/committer#project-management-committee

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submi

[2022-05-12 05:58] zhongjiajie commented on #10006
But should add after nominate should change doc in https://dolphinscheduler.apache.org/en-us/community/team.html and send nominate mail to `dev@dolphinscheduler.org`

[2022-05-12 06:11] #10002 closed, assigned to rockfang

[2022-05-12 06:20] rockfang commented on #9969
that's a frontend bug, i want to fix it. @caishunfeng @labbomb

[2022-05-12 06:32] welsh-wen opened #10009 "[Bug-BE] [Workflow-define] The workflow saves a python task with special characters, and the save failure condition occurs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1、Create a special name for python task, such as "python-💥打印 "
![image](https://user-images.githubusercontent.com/59044203/168006060-c2602cfb-515f-4477-9a9e-cc3aecd8b57d.png)

### What you expected to happen

2 kinds of sugg

[2022-05-12 06:34] Amy0104 commented on #10009
<img width="1018" alt="image" src="https://user-images.githubusercontent.com/97265214/168006756-072a7a69-ca3f-4e84-b532-2f4d56ed1a88.png">
This seems to be a backend bug.

[2022-05-12 06:36] welsh-wen opened #10010 "[Bug-BE] [log] After the Flink task fails, the corresponding log cannot be found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the Flink task fails, the corresponding log cannot be found
![image](https://user-images.githubusercontent.com/59044203/168006732-507db5ef-9580-4004-b01e-76ce07b0dad7.png)

### What you expected to happen

The logs sho

[2022-05-12 06:45] welsh-wen opened #10012 "[Bug] [Master] After the task is paused, it cannot be started again"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the task is paused, it cannot be started again
![image](https://user-images.githubusercontent.com/59044203/168007585-dc69e38b-34de-427b-aa0e-206b5965f60c.png)

### What you expected to happen

Can start tasks

### How

[2022-05-12 06:53] paul8263 commented on #9982
Hi @QuakeWang ,
I cannot reproduce this issue with latest dev branch.
Could you please verify the create tenant POST request payload by paying attention to tenantCode field? The backend seems not to be the root cause.

[2022-05-12 07:20] SbloodyS commented on #10010
It seems like your worker's log pattern was not the default setting of ```dev``` branch. Did you customize it? @welsh-wen

[2022-05-12 07:27] #10003 closed, assigned to Amy0104

[2022-05-12 07:36] QuakeWang commented on #9982
I have re-test it. The version is 3.0.0-beta, and it worked finely.

[2022-05-12 08:31] #9975 closed, assigned to WangJPLeo

[2022-05-12 08:54] #9996 closed, assigned to Amy0104

[2022-05-12 10:23] #8018 closed, assigned to nobody

[2022-05-12 10:38] SbloodyS commented on #10009
The default charset is ```utf8```. emoji is not allowed in ```utf8```. And I think the emoji should not be allowed in ```workflow name``` and ```task name```.

[2022-05-12 10:44] SbloodyS commented on #10012
@welsh-wen Could you check if the error log exists?

[2022-05-12 11:55] #9816 closed, assigned to EricGao888

[2022-05-12 12:27] welsh-wen commented on #10010
How to set dev mode, please tell me.

[2022-05-12 13:40] hwfbest opened #10018 "[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![error](https://user-images.githubusercontent.com/16427578/168085758-9ed0a6f2-d078-4d33-91df-7b262681275c.jpg)
任务执行出现错误，这个错误原因不清楚，操作中发现任务一直在运行中，结束任务，再次运行还是这个情况；通过把任务导出，修改文件中任务的id，再导入进来，生成另一个任务，可以正常运行，但是后台日志一直不断输出错误日志

### W

[2022-05-12 14:55] selectbook commented on #9908
WeOpen Star

[2022-05-13 00:24] #9342 closed, assigned to nobody

[2022-05-13 01:19] SmallConchs commented on #8030
Hi. submit PR task type SQOOP  to  apache/dolphinscheduler-website  OR  apache/dolphinscheduler/docs/

[2022-05-13 01:36] fusu-qa opened #10019 "[Bug]execute task report null pointer"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[INFO] 2022-05-13 01:17:54.787 TaskLogLogger-class org.apache.dolphinscheduler.server.master.runner.task.CommonTaskProcessor:[113] - task ready to submit: TaskInstance{id=1, name='dataqa', taskType='DATA_QUALITY', processIns

[2022-05-13 02:16] #9969 closed, assigned to zixi0825

[2022-05-13 02:43] devosend commented on #10018
You should modify the title.

[2022-05-13 02:47] neillee1991 opened #10020 "[Bug] [docker image] dolphinscheduler-standalone-server render empty html"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

i'm using dolphinscheduler-standalone-server:3.0 image, it render an empty login page with console error below:

vendor.b9a93d45.js:1
       Failed to load module script: Expected a JavaScript module script but the server re

[2022-05-13 02:59] SbloodyS commented on #10020
Related issue: #9863
I will close this issue.

[2022-05-13 02:59] #10020 closed, assigned to nobody

[2022-05-13 03:18] wuchunfu commented on #9999
@zhongjiajie It's related, but #10004 doesn't seem to check out all the dead links

[2022-05-13 03:30] duspring opened #10021 "[Bug] [Master] data quality task command: null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/35389283/168205502-12e40c97-551e-4ce3-94ab-6cf4bfea9ae5.png)
![image](https://user-images.githubusercontent.com/35389283/168205502-12e40c97-551e-4ce3-94ab-6cf4bfea9ae5.png)

[2022-05-13 05:34] ruancheng77 opened #10022 "[Bug] [master] workflowthread NPE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/23415499/168217390-2b5eca28-ed3c-439a-9d37-7fdf863e62b9.png)

This problem is not always happened.

### What you expected to happen

No NPE.

### How to reproduce

I don't k

[2022-05-13 05:48] SbloodyS commented on #10021
This issue will be fixed in #9974

[2022-05-13 05:49] SbloodyS commented on #10019
Related pr: #10021

[2022-05-13 07:09] zhongjiajie opened #10024 "[Feature][doc] Add docs about run dev latest container in our source and how it work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/dolphinscheduler/blob/dev/deploy/docker/.env#L18-L19 is the latest commit image from github container registry, and the user could test the latest function by starting docker compose
when

[2022-05-13 07:44] SbloodyS opened #10025 "[Feature][Doc] Add how to add daemon process of each service to ensure the stability of production environment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add how to add daemon process of each service to ensure the stability of production environment.

### Use case

Ensure the stability of production environment.

### Related issues

_No response_

### Are you willi

[2022-05-13 09:30] zhongjiajie commented on #9999
Is there any other dead link we miss? @wuchunfu

[2022-05-13 09:47] caishunfeng opened #10027 "[Bug] [docker-compose] docker-compose start fail due to db init error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Now when start by docker-compose, it will run `dolphinscheduler-schema-initializer` every time and fail due to init sql error.

### What you expected to happen

Detach init sql from docker-compose, and docker-compose up succ

[2022-05-13 10:21] qingwli opened #10028 "[Bug] [Docker] Docker Build Not Support Multi Architecture"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I exec docker build at M1 Mac, it'll get docker image with ```"Architecture": "arm64"```, can't run at Linux amd64.

### What you expected to happen

When running docker build, it can get multi-architecture images with

[2022-05-13 10:56] 391518331 opened #10029 "Could not find or load main class org.apache.zookeeper.ZooKeeperMain"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

3.0.0   sh ./bin/install.sh

3.stop server
17.0.237.209:default
17.0.133.220:default
17.0.133.220:default
17.0.206.7 master server is stopping
Begin stop master-server......
no master-server to stop
End stop master-server.
1

[2022-05-13 11:22] 391518331 commented on #10029
zookepeer3.8.0

[2022-05-13 14:27] jj551 commented on #9897
Hi,brother Zhong @zhongjiajie ,has been resolved？

[2022-05-13 15:33] zhongjiajie commented on #9897
Hi, @Kodalien , screenshot was already updated by #9970 . But description still do not updated

[2022-05-13 15:48] zhongjiajie commented on #8030
Hi @SmallConchs, you should submit and change apache/dolphinscheduler/docs/ instead of apache/dolphinscheduler-website. apache/dolphinscheduler-website only keep some blog and history document currently

[2022-05-13 15:48] zhongjiajie commented on #8030
Do you interesting about this issue?

[2022-05-13 15:52] zhongjiajie commented on #7870
remove stale

[2022-05-13 15:54] zhongjiajie commented on #9941
@syncwt version 3.0.0 DDL have some bug, and we will fix it in 300-beta. BTW, you could see the history doc in https://dolphinscheduler.apache.org/en-us/docs/release/history-versions.html

[2022-05-13 16:03] zhongjiajie commented on #10020
FYI @SbloodyS , better to add duplicate label if you find som duplicate isue

[2022-05-13 16:05] zhongjiajie commented on #9863
I both test in branch `dev` and `3.0.0-beta-prepare` and it work, maybe we have some issue when we build the 3.0.0-alpha docker image. ref:
https://github.com/apache/dolphinscheduler/blob/ee2c516813a6cd16c181d2101878983494d0b2bc/dolphinscheduler-standalone-server/src/main/assembly/dolphinscheduler-standalone-server.xml#L89-L92

[2022-05-13 16:08] #9863 closed, assigned to zhongjiajie

[2022-05-14 00:20] SbloodyS commented on #10020
Thanks.

[2022-05-14 00:42] songjianet commented on #10029
Thank you for your feedback.

[2022-05-14 00:53] SmallConchs commented on #8030
@zhongjiaji  thank you for response , I was very interested but it was my first time participating in an open source project ，I might need some time to study the rules.

[2022-05-14 00:54] SmallConchs commented on #8030
@[zhongjiajie](https://github.com/zhongjiajie) thank you for response , I was very interested but it was my first time participating in an open source project ，I might need some time to study the rules.

[2022-05-14 03:28] jj551 commented on #9897
@zhongjiajie  Q:( description ? give a hint

[2022-05-14 03:50] SbloodyS commented on #10029
This issue has been fixed in ```dev``` branch. You can try it or wait ```3.0.0-beta-1``` release.

[2022-05-14 04:30] #9474 closed, assigned to SbloodyS

[2022-05-14 07:13] wuchunfu commented on #9999
@zhongjiajie You can take a look at this PR #10000

[2022-05-14 10:23] fws20060501 opened #10031 "[Bug] [DataX] data maybe happen error , create temp file ._ in /opt/soft"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![184F25C8-3044-46de-96EF-B988597F0CAC](https://user-images.githubusercontent.com/51530023/168421747-160db02b-5f36-4ac3-adc8-7a6436717b87.png)
![0927111F-DC81-4f2c-889B-720C1BE7BF67](https://user-images.githubusercontent.com

[2022-05-14 14:48] SbloodyS opened #10033 "[Feature][E2E] Fix flakey e2e test"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/dolphinscheduler/runs/6432527655?check_suite_focus=true

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am willing to sub

[2022-05-14 14:51] SbloodyS opened #10034 "[Feature][CI] Add postgres cluster test in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, there are only MySQL Cluster tests in our CI. We should also add postgres in it.

### Use case

_No response_

### Related issues

#9474

### Are you willing to submit a PR?

- [X] Yes I am willing to s

[2022-05-14 16:42] Wilson-BT commented on #7874
Its caused by common-compress-1.4.1 and common-compress-1.19 version conflict, and the project maven package just has common-compress-1.4.1.

[2022-05-15 00:27] #9368 closed, assigned to nobody

[2022-05-15 02:24] #9991 closed, assigned to huangchenguang123

[2022-05-15 05:04] #10034 closed, assigned to SbloodyS

[2022-05-16 00:22] #9374 closed, assigned to songjianet

[2022-05-16 00:22] #9362 closed, assigned to devosend

[2022-05-16 00:22] #9358 closed, assigned to nobody

[2022-05-16 01:51] syncwt opened #10037 "[Bug] [Upgrade] Upgrade 1.3.5 to 2.0.5 failed to query process defined list"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I have upgraded 1.3.5 to 2.0.5 successfully.When I login to the console,I found the process defined list and task instance list are empty.And the HTTP API response some error as list.
[code]
I got error from dolphinscheduler

[2022-05-16 01:53] #9990 closed, assigned to huangchenguang123

[2022-05-16 01:59] zhongjiajie commented on #9473
remote stale

[2022-05-16 02:00] SbloodyS commented on #10037
Which database you are using? mysql or postgres?

[2022-05-16 02:02] zhongjiajie commented on #9897
our description is a bit verbose, maybe we should reduce them to some keywords.
<img width="888" alt="image" src="https://user-images.githubusercontent.com/15820530/168507679-df77233c-ab9f-4118-ac5d-567ca1ee15a5.png">

[2022-05-16 02:03] syncwt commented on #10037
Mysql 5.7.30

[2022-05-16 02:06] zhongjiajie commented on #8030
@SmallConchs Ofcause, feel free to ping me if you have any question

[2022-05-16 02:20] SbloodyS commented on #10037
@syncwt Could you describe the steps of your upgrade?

[2022-05-16 02:27] syncwt commented on #10037
I upgraded as official doc. The simple step as:
1. download bin tar package(Total Binary Distribution) from https://dolphinscheduler.apache.org/zh-cn/download/download.html
2. edit param about db and path
3. sh script/upgrade-dolphinscheduler.sh
4. upgrade log say successfully

[2022-05-16 03:19] Dannila opened #10039 "[Bug][plugin] Flink run command error when submitting Python job"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the program type of the Flink run program is Python, the Flink run command is wrong and cannot be successful

### Steps to reproduce the problem

Flink run command missing "-py" when program type is Python.

The flink t

[2022-05-16 06:13] Dannila commented on #10039
this is my PR：https://github.com/apache/dolphinscheduler/pull/10042

[2022-05-16 06:39] SbloodyS commented on #10037
I also upgraded from 1.3.5 to 2.0.1 six months ago. And then from 2.0.1 to 2.0.5. Everything works fine.

Is there any error logs when executing ```script/upgrade-dolphinscheduler.sh```?

[2022-05-16 06:48] syncwt commented on #10037
Thanks for your tips.I found some error log from upgraded log.
Only 1.3.7 to 2.0.0 print some error infos.
[code]
... some normal logs are omitted
[code]

[2022-05-16 06:54] SbloodyS commented on #10037
It should not upgrading from 1.3.7 to 2.0.0. It should be 1.3.9. There may be some incompatible with the old versions.

You can try to upgrade to 1.3.7 from 1.3.5 firstly. And then upgrade from 1.3.7 to 1.3.9. And then upgrade from 1.3.9 to 2.0.5. I think these upgrade steps should work.

[2022-05-16 06:58] syncwt commented on #10037
I will have a  try. But... is't not elegant. Thanks a lot.

[2022-05-16 07:02] syncwt commented on #10037
There is missing about version 1.3.7. Is the  1.3.8 right for upgrade from 1.3.5.
https://dolphinscheduler.apache.org/zh-cn/download/download.html
@SbloodyS

[2022-05-16 07:04] SbloodyS commented on #10037
You can give it a try. Or you can try upgrading directly to 1.3.9.

[2022-05-16 07:06] #10039 closed, assigned to Dannila

[2022-05-16 07:41] #10027 closed, assigned to caishunfeng

[2022-05-16 08:07] huangchenguang123 opened #10043 "[Bug] [Api] After the task instance is forced to succeed, the downstream task instance is not triggered to execute."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I force success a task instance that need fault tolerance, the downstream task instance is not triggered to execute.
Because org.apache.dolphinscheduler.api.controller.TaskInstanceController#forceTaskSuccess only modify

[2022-05-16 08:21] ITBOX-ITBOY opened #10044 "[Feature] [Http Task] HTTP parameter passing problem"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

How are the results returned by HTTP task types given as parameters to the next node

### Use case

How are the results returned by HTTP task types given as parameters to the next node

### Related issues

How are

[2022-05-16 08:48] SbloodyS commented on #10044
This is not currently supported. You can write your own script to support it.

[2022-05-16 08:50] SbloodyS commented on #10043
You can manually restart the workflow instance using ```restart from failed node``` after force successed the task instance.

[2022-05-16 09:01] huangchenguang123 commented on #10043
I want to skip this node, and execute the next node.if i restart the workflow, the node is always fail.
For example, if i depend 3 table, but one table is fail today(may be have data skew or have not enough resource to execute), so i have to skip the depend, i think this is a common quastion in daliy scheduler. Is this as expected in current version?

[2022-05-16 09:04] huangchenguang123 commented on #10043
I want to skip this node, and execute the next node.if i restart the workflow, the node is always fail.
For example, if i depend 3 table, but one table is fail today(may be have data skew or have not enough resource to execute), so i have to skip the depend, i think this is a common quastion in daliy scheduler. Is this as expected in current version?

[2022-05-16 09:08] SbloodyS commented on #10043
![](https://vip2.loli.io/2022/05/16/HfK8nskXqoijLJA.png)

There is a function named ```Recovery Failed``` in workflow instance page which could skip the force suceess  task node and restart from the next task node.

[2022-05-16 09:13] syncwt commented on #10037
I have tried to upgrade 1.3.5 to 1.3.9 ,and then 2.0.5. successful from 1.3.5 to 1.3.9, but the same error from 1.3.9 to 2.0.5.
[code]

[code]
Maybe some wrong data in my database in old version?

[2022-05-16 09:20] huangchenguang123 commented on #10043
<img width="1150" alt="image" src="https://user-images.githubusercontent.com/37766284/168560685-f5b3e17d-930c-43aa-8df8-9271684fa303.png">
The version is dev? I can't find the Recovery Failed?

[2022-05-16 09:29] SbloodyS commented on #10037
@JinyLeeChina Could you take a look at this issue?

[2022-05-16 09:47] zheng-zy opened #10046 "[Bug] [dolphinscheduler-python] Command execution failed. Process exited with an error: 1 (Exit value: 1)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

ds-2.0.5下载源码包尝试本地编译打包过程中，出现如下错误：

### What you expected to happen

[ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:3.0.0:exec (python-api-prepare) on project dolphinscheduler-python: Command execution fail

[2022-05-16 09:50] zheng-zy commented on #10046
@zhongjiajie help

[2022-05-16 10:23] SbloodyS commented on #10043
![](https://vip1.loli.io/2022/05/16/5M9PoR7efIcSJzp.png)

[2022-05-16 10:25] SbloodyS opened #10047 "[Feature][UI] The Failed to retry description should change to Recovery Failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![](https://vip2.loli.io/2022/05/16/AT8NkL7d9bBrpHc.png)

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Co

[2022-05-16 10:44] huangchenguang123 commented on #10043
In my picture,  the second workflow Instanceis is unusual, the workflow Instanceis always running, because executeStatus is RUNNING_EXECUTION and never finished, but Task Instance is forced success, and no active task is running. when the workflow Instance is running, i can't use Recovery Failed.This is reproducible.

[2022-05-16 10:53] zhongjiajie commented on #10046
@zheng-zy you should ru-run the command and with `-X` flag and see the output

[2022-05-16 10:54] zhongjiajie commented on #10046
there must have the detail error log

[2022-05-16 13:30] brave-lee commented on #10037
Hi, @syncwt .From the log, it is because the dependent node is illegal. Can you provide the JSON of the dependent node

[2022-05-16 16:25] hwfbest commented on #10018
![image](https://user-images.githubusercontent.com/16427578/168639155-dfd1bd52-afb7-4735-a2e4-db43565df88e.png)
发现这个表中数据产生了重复，导致上面的bug问题，希望这个能帮助社区定位问题

[2022-05-17 01:12] syncwt commented on #10037
Thanks! But how to find the illegal dependent node ? I saw the code , it's foreach the process defined to split dependent node but not print the error node .

[2022-05-17 01:17] fusonghe commented on #9312
add spark on k8s   Receive less than log

[2022-05-17 01:47] zheng-zy commented on #10046
detail error log:
[INFO] dolphinscheduler-server ............................ SUCCESS [ 26.444 s]
[INFO] dolphinscheduler-api ............................... SUCCESS [ 33.557 s]
[INFO] dolphinscheduler-python ............................ FAILURE [ 31.529 s]
[INFO] dolphinscheduler-standalone-server ................. SKIPPED
[INFO] dolphinscheduler-dist .............................. SKIPPED
[INFO]

[2022-05-17 01:58] labbomb commented on #10047
i will fix it

[2022-05-17 02:00] zhongjiajie commented on #10046
@zheng-zy could you show me the detail log before

[code]

There have some detail error log

[2022-05-17 02:02] songjianet commented on #10047
Cherry-pick to 300b1 when done @labbomb

[2022-05-17 02:02] zhongjiajie commented on #10046
And maybe you could try to comment the profiles in https://github.com/apache/dolphinscheduler/blob/2.0.5-release/dolphinscheduler-python/pom.xml#L61-L122 and then try again

[2022-05-17 02:07] zwZjut opened #10048 "[Bug] [deploy on k8s] check liveness failed alert and worker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [deploy on k8s] check liveness failed  worker

1235--> 12345
dolphinscheduler/deploy/kubernetes/dolphinscheduler/templates/statefulset-dolphinscheduler-worker.yaml

### What you expected to happen

[Bug] [deploy on k8s

[2022-05-17 02:08] #10048 closed, assigned to nobody

[2022-05-17 02:10] Dannila opened #10049 "[BUG] [Plugin] Conditions Task branch flow failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Condition is a condition node that decides which downstream task should run based on the condition of the upstream task. When the upstream task runs successfully, run the success branch. When the upstream task fails to run,

[2022-05-17 02:11] songjianet opened #10050 "[BUG-FE][Tenant Manage] In the Chinese state, there is a problem with the multi-language support of the form."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/19239641/168714005-b4a2afb4-5713-4c8b-817a-93b20dfc6873.png)

### What you expected to happen

In the Chinese state, there is a problem with the multi-language support of th

[2022-05-17 02:31] zwZjut opened #10051 "[Bug] [deploy on k8s ] worker server and alert server always crash"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [deploy on k8s ]  worker server and alert server always crash

curl not found in worker

  Warning  Unhealthy  33m (x641 over 14h)     kubelet  Readiness probe failed: OCI runtime exec failed: exec failed: container_li

[2022-05-17 02:40] zwZjut opened #10053 "[Bug] [deploy on k8s] http://127.0.0.1:12345/dolphinscheduler -> http://127.0.0.1:12345/dolphinscheduler will redict to http://127.0.0.1:12345/dolphinscheduler/ui/ and 404 not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [deploy on k8s]  http://127.0.0.1:12345/dolphinscheduler -> http://127.0.0.1:12345/dolphinscheduler will  redict to   http://127.0.0.1:12345/dolphinscheduler/ui/   and 404 not found

no log in api-server

### What you

[2022-05-17 02:51] tracehh opened #10055 "[Improvement] [dolphinscheduler-api]Task instances listpaging maybe ordered by submitTime"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when start-process-instance, task-instances list not show current task in page one  when the task state is delay execution.

### What you expected to happen

current task  show in page one

### How to reproduce

click start-

[2022-05-17 03:00] HeChuanXUPT opened #10057 "[Bug] [API] process-instances API parameter processDefiniteCode not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

API: queryProcessInstanceListPaging
/dolphinscheduler/projects/{projectCode}/process-instances

set processDefiniteCode=5545511993472, but result still contain processDefiniteCode=5025214719744 data.

![1652756148(1)](https:

[2022-05-17 03:11] #10047 closed, assigned to labbomb

[2022-05-17 03:32] #10050 closed, assigned to songjianet

[2022-05-17 03:41] zheng-zy commented on #10046
detail log before:
![image](https://user-images.githubusercontent.com/13825054/168723877-a26cda7a-d80c-4ba5-b634-50cf24c7df26.png)

[2022-05-17 05:49] zheng-zy commented on #10046
this pom.xml is the same as before，i try it has the same problem.

[2022-05-17 05:52] HeChuanXUPT commented on #10057
I have find the problem. The correct param name is processDefineCode, not processDefiniteCode, a missspelling.
[code]

[2022-05-17 05:53] QuakeWang opened #10061 "[Bug] [Document] Task group management document link error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Task group management document link error.

### What you expected to happen

Modify the error link, can normally access the document.

### How to reproduce

At this link: https://dolphinscheduler.apache.org/zh-cn/docs/dev/us

[2022-05-17 06:21] caishunfeng opened #10067 "[Bug] [Master] master taskInstance will failover when run long time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I found that the taskInstance which runs on master will failover when run long time, and the task instance will change to `need fault tolerance` state.

### What you expected to happen

taskInstance on master can run normall

[2022-05-17 06:44] devosend opened #10069 "[BUG-FE][File Manage] Resource userName is Empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1201" alt="image" src="https://user-images.githubusercontent.com/8847400/168745996-6a6e723b-dbd1-4de0-bd5d-773dcfd7cf36.png">

### What you expected to happen

above

### How to reproduce

above

### Anything els

[2022-05-17 06:51] #10033 closed, assigned to SbloodyS

[2022-05-17 07:04] SbloodyS opened #10071 "[Feature][Doc] United the general settings of standalone/pseudo/cluster to general-setting.html"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/howto/general-setting.html

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am

[2022-05-17 07:17] #10069 closed, assigned to devosend

[2022-05-17 08:07] syncwt commented on #10037
[code]
look at the exception code.  `processCodeTaskNameCodeEntry` shouldn't be null. And when `processCodeTaskNameCodeEntry.getValue()` is null ,it should be return `0L`. I can't figure how to happened. My branch‘s version is 2.0.5-release and I have checked the code is same with above from the compiled jar  . Could you have a look at here, please. @JinyLeeChina

[2022-05-17 08:36] #10067 closed, assigned to caishunfeng

[2022-05-17 09:30] qingwli commented on #10051
Hi @zwZjut , which version did you deploy on k8s? It was dev?

[2022-05-17 09:32] QuakeWang opened #10075 "[Bug] [Document] There is an error in the open-api documentation request"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When using the request parameter `projects/query-project-list` of the open-api documentation, I got an error.

[code]

### What you expected to happen

Modify the wrong parameters to allow users to use it normally.

### How

[2022-05-17 09:42] zwZjut commented on #10051
DEV

[2022-05-17 09:46] qingwli commented on #9963
Fixed by #9997

[2022-05-17 09:59] qingwli commented on #10051
Can you post more information about alert && worker pods? I have tried deploying on k8s and encountered the same problem.

The error log is below for me.

- Alert server
Logs in the pod are standard, but Kuboard shows an error
[code]

- Worker server
There are three pods that will be created by default, and one pod will not be ready with the error log:
[code]

And this pod will restart by Kuboard

[2022-05-17 11:13] caishunfeng opened #10076 "[Bug] [Api] token expire when different timezone between server and database"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Token expire when different timezone between server and database, and I found the sql use database timestamp.
[code]
It's better to use server timestamp.

### What you expected to happen

The token is normal when the expirat

[2022-05-17 11:25] SbloodyS commented on #10049
I will fix it.

[2022-05-17 11:36] seedscoder commented on #10076
Has anyone begun to deal with it? I want to try

[2022-05-17 11:38] huangchenguang123 commented on #10049
Conditions should use previousNodes result, and now only use dependency result? I find add Custom Parameters can make it trigger fail Node....May be #10077 should use previousNodes and/or Custom Parameters? This is my doubt, don't mind if I'm wrong.

[2022-05-17 13:16] hstdream opened #10079 "[Bug] [API] Create process definition with task group and task group priority cannot be save into db"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Create process definition with task group and task group priority cannot be save into db

### What you expected to happen

Create process definition with task group and task group priority cannot be save into db

### How to

[2022-05-17 13:35] hstdream opened #10080 "[Bug] [API]When the created tenant name is too long, an error message will be prompted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the created tenant name is too long, an error message will be prompted

### What you expected to happen

When the created tenant name is too long, an error message will be prompted

### How to reproduce

created tenant

[2022-05-17 13:39] caishunfeng commented on #10076
@seedscoder OK, I had assigned to you.

[2022-05-17 14:14] hstdream opened #10082 "[Bug] [API] Resource username is null and udf function manager add a username"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

File manage module username is null and udf function is not username

### What you expected to happen

You can look up resource's username

### How to reproduce

![企业微信截图_16527967249352](https://user-images.githubusercontent

[2022-05-17 14:59] SbloodyS commented on #10049
Yes. In this PR, I change the detection logic to use previousNodes to check condition instead of use dependency result.

However, I don't think the success or failure of task nodes should be related to user-defined parameters.

[2022-05-17 15:02] SbloodyS commented on #10082
This issue has been fixed in #10073. I'll close this issue.

[2022-05-17 15:02] #10082 closed, assigned to nobody

[2022-05-17 17:15] huangchenguang123 commented on #10049
The Condition's Custom Parameters is different from other task, it's has and/or relation with pre node in ui(it's also only has success  and failure), and when i run the task, these Custom Parameters will be used in dependencyList, this is why i think they should be calculate together.
<img width="579" alt="image" src="https://user-images.githubusercontent.com/37766284/168872602-cb2232b5-84a7-4c05

[2022-05-18 00:19] #5015 closed, assigned to nobody

[2022-05-18 01:28] SbloodyS commented on #10049
@huangchenguang123 This is the dependent task node. Not condition task node.

[2022-05-18 01:32] huangchenguang123 commented on #10049
This is condition task node. May be you can try?

[2022-05-18 01:41] #10079 closed, assigned to hstdream

[2022-05-18 01:42] caishunfeng commented on #10079
TGQ is the new feature in 3.0.0, so it's not the issue in 2.0.5.

[2022-05-18 01:43] SbloodyS commented on #10049
I take a deep look into UI. There are indeed some misleading description of UI. I'll fix it too. Thanks.

[2022-05-18 02:07] zheng-zy commented on #10046
@zhongjiajie this look like python proprem，dolphinschduler notsupport win10？

[2022-05-18 02:20] #10028 closed, assigned to qingwli

[2022-05-18 02:28] qingwli opened #10083 "[Bug] [Docker] Docker Doc Error && Alert Plugin WebexTeams Chinese Translation Error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

- Due #10026 , changed the tools docker sh file position. Look [this](https://github.com/apache/dolphinscheduler/pull/10026/files#diff-0387d45c2bcdee3461774d4db10eab3cb580238d04dbd3511dfd19775a64d082R31)

And the Docker Doc

[2022-05-18 02:43] devosend opened #10085 "[Feature][UDF Manage] Add own user row"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add `own user` row in resource table and function table
<img width="1344" alt="image" src="https://user-images.githubusercontent.com/8847400/168946248-1a6a655e-7b06-437d-86ee-f24e01534965.png">

### Use case

_No

[2022-05-18 02:43] huangchenguang123 commented on #10049
The ui that confuses me is one of the problems. Another problems is Custom Parameters' effect. If you only use previousNodes result, where does the custom parameter take effect? I think they will be skip in #10077 because of they be remove from runTask.And If custom parameter will effect, how does it relate to the previousNodes result?This is how task nodes differ from other nodes, because task no

[2022-05-18 03:00] SbloodyS commented on #10049
You can retry the condition task node after #10077 is merged.

[2022-05-18 03:35] littleziao opened #10087 "[Bug] [UI] Unable to edit timing management"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When editing the cron manage of the workflow, when selecting a specific number of hours (equivalent to seconds, minutes, etc.), the drop-down menu of the selection box cannot be selected and disappears quickly.

![image](htt

[2022-05-18 03:40] #10049 closed, assigned to SbloodyS

[2022-05-18 04:00] #10085 closed, assigned to devosend

[2022-05-18 04:21] #10061 closed, assigned to QuakeWang

[2022-05-18 05:51] SnowMoon-Dev opened #10088 "[Improvement] [UI] The bar width of the process definition statistics is too wide"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The bar width of the process definition statistics is too wide,I think the width of the bar should be **reduced**

<img width="1572" alt="image" src="https://user-images.githubusercontent.com/42627702/168965669-12

[2022-05-18 05:53] #10083 closed, assigned to qingwli

[2022-05-18 06:24] SnowMoon-Dev opened #10090 "[Bug] [workflow] Task queue loading exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Task queue loding exception

### What you expected to happen

Displays empty data without queue information

### How to reproduce

1. init env
2. click Task queue menu

### Anything else

<img width="1976" alt="image" src="h

[2022-05-18 06:36] caishunfeng commented on #9960
Maybe this feature is no longer needed.  What do you think?
relative pr: #9733

[2022-05-18 06:39] caishunfeng commented on #9963
same issue #9943

[2022-05-18 06:44] caishunfeng commented on #9982
Thanks, I will close this issue.

[2022-05-18 06:44] #9982 closed, assigned to nobody

[2022-05-18 06:44] zwZjut commented on #10051
https://unix.stackexchange.com/questions/590699/should-i-use-apt-or-apt-get-in-shell-scripting  i will try apt-get

[2022-05-18 06:52] caishunfeng commented on #9973
Hi @zixi0825 How is this issue going? Can it be done this week? Otherwise we will move it to the next version milestone.

[2022-05-18 06:54] caishunfeng commented on #10019
Hi @zhenglibao168 can you submit a pr to fix this issue?

[2022-05-18 06:55] #10021 closed, assigned to nobody

[2022-05-18 06:56] SbloodyS commented on #10019
This issue has been fixed in #9974. I will close this.

[2022-05-18 06:56] #10019 closed, assigned to nobody

[2022-05-18 07:08] lenboo opened #10092 "[Bug] [TaskGroup] Task group does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Detailed scenario: the task group configures three resources and creates a workflow. Six tasks in the workflow (all of which are executed for 30s) use this task group. The priority in the group is 1 to 6, which corresponds t

[2022-05-18 07:41] rockfang opened #10095 "[Bug] [UI] missing some fields in DataQuality task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in `DataQuality` module. different `Rule` has different form fields. some fields are missed to commit. so it can't reload when edit.

![92f2b6f4d42d5d23bdf56bbd4a6ee79](https://user-images.githubusercontent.com/16065427/1689

[2022-05-18 07:44] rockfang commented on #10095
I'd like to fix it

[2022-05-18 07:51] huangwenjun30000 opened #10097 "[install]Install dolphinscheduler-2.0.5 and execute sh script/create-dolphinscheduler.sh. an error: application run failed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I use cluster deployment.Install dolphinscheduler-2.0.5 and execute script/create-dolphinscheduler.sh. an error is reported after execution: application run failed.

2022-05-18 15:20:56.541  INFO 187064 --- [           main]

[2022-05-18 07:59] xizhou-Rain commented on #10029
I also encounter the same problem. Besides waiting for repair, is there any solution?

[2022-05-18 08:11] nikshe commented on #3649
exactly

[2022-05-18 08:12] caishunfeng commented on #9312
Please create a issue and add some issue description. This DSIP just use to record k8s related features.

[2022-05-18 08:14] zwZjut commented on #10051
alert-server is sitll crash by   Warning  Unhealthy  14s (x6 over 3m44s)    kubelet            Liveness probe failed:  Warning  Unhealthy  0s (x8 over 4m)        kubelet            Readiness probe failed
worker-server is good now

[2022-05-18 08:15] zwZjut commented on #10051
/opt/dolphinscheduler# curl  http://localhost:50053/actuator/health/readiness
curl: (7) Failed to connect to localhost port 50053: Connection refused

[2022-05-18 08:15] zixi0825 commented on #9973
Has submitted PR and merged

[2022-05-18 08:22] zwZjut commented on #10053
http://127.0.0.1:12345/dolphinscheduler/ui/view/login/index.html

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
<title>Error 404 Not Found</title>
</head>
<body><h2>HTTP ERROR 404 Not Found</h2>
<table>
<tr><th>URI:</th><td>/dolphinscheduler/ui/view/login/index.html</td></tr>
<tr><th>STATUS:</th><td>404</td></tr>
<tr><th>MESSAGE:</th><td>Not Found</td></tr>

[2022-05-18 08:23] #9963 closed, assigned to nobody

[2022-05-18 08:48] songjianet commented on #10080
Is this a 205 problem or a dev problem. @hstdream

[2022-05-18 08:49] caishunfeng commented on #9973
OK, I will close this issue.  BTW, it's better to link the PR here.

[2022-05-18 08:49] #9973 closed, assigned to zixi0825

[2022-05-18 09:00] zwZjut commented on #10051
new SpringApplicationBuilder(AlertServer.class).web(WebApplicationType.NONE).run(args); ->  new SpringApplicationBuilder(AlertServer.class).run(args);

alert-server is good now

[2022-05-18 09:06] wangshubing1 commented on #3916
![image](https://user-images.githubusercontent.com/35355246/169001694-b2f39e73-2273-439d-8138-23887391956c.png)
我想的是这些参数，是不是可以统一的去配置中心读取，这样加假如数据库连接发生变化，我们只需要更改配置中心的数据连接配置；而不是手动的进入每一个任务流里去改相关的数据库连接参数

[2022-05-18 09:15] qingwli commented on #10051
Cool, I have tried locally and it works, And I saw this changed at [this](https://github.com/apache/dolphinscheduler/pull/9246/files#diff-7adb191254ea76bfd552e731c91844250fcd4c11dd0d76f821a92d2941cd743aR64)

Are you willing to submit PR to fix this?

[2022-05-18 09:23] littleziao commented on #10087
Do you have a release date for beta? We want to use 3.0.0 in production.

[2022-05-18 09:23] #9310 closed, assigned to nobody

[2022-05-18 09:52] qingwli opened #10102 "[Bug] [Api] Task Group Queue Query Error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Run DS dev and login and click task-group-queue module, and the query fails.

<img width="2378" alt="WeChat4005f5436461c4fabc2f4df9315d0817" src="https://user-images.githubusercontent.com/20885366/169011924-3b652d1d-21e5-431

[2022-05-18 10:28] #10095 closed, assigned to rockfang

[2022-05-18 10:40] #10092 closed, assigned to lenboo

[2022-05-18 10:45] zwZjut opened #10103 "[Bug] [deploy on k8s] SPRING_DATASOURCE_DRIVER_CLASS_NAME need add in templates/_helpers.tpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [deploy on k8s]   SPRING_DATASOURCE_DRIVER_CLASS_NAME need add in  templates/_helpers.tpl

### What you expected to happen

[Bug] [deploy on k8s]   SPRING_DATASOURCE_DRIVER_CLASS_NAME need add in  templates/_helpers.tp

[2022-05-18 10:47] zwZjut commented on #10103
add in values.yaml;
postgresql:
  driver: org.postgresql.Driver

add  in templates/_helpers.tpl ;

- name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
  {{- if .Values.postgresql.enabled }}
  value: {{ .Values.postgresql.driver }}
  {{- else }}
  value: {{ .Values.externalDatabase.driver }}
  {{- end }}

[2022-05-18 10:47] songjianet opened #10104 "[Build][UI] `vite` config throws `terser` warning."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/19239641/169021648-a0e4ced2-16a5-413a-a182-4fb7d9456fa7.png)

### Use case

`esbuild` is incompatible with `terser` warning after upgrading `vite` version.

### R

[2022-05-18 10:56] zhongjiajie commented on #9960
currently, our shell script in `bin` could be executed when we extract files from the tarball, but not for `tools` directory. and users have to `sh tools/bin/create-schema.sh` instead of `./tools/bin/create-schema.sh` I think if we could support the second command will be more user friendly, WDYT?

[2022-05-18 11:04] zhongjiajie commented on #10046
dolphinscheduler could start in win, and could use APIserver  to CRUD object, but if you want to run workflow you have to make some change. and I do not know what change it is.

[2022-05-18 11:05] zhongjiajie commented on #10046
I mean, you should totally delete the those line code, and then try again

[2022-05-18 13:25] seedscoder commented on #10076
Are others interested? I may not have time to do it recently @caishunfeng

[2022-05-18 13:31] welsh-wen opened #10106 "[Bug] [Workflow Definition] Start multiple workflow tasks: A walkthrough wait occurs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169050147-e82af240-1b2d-4672-bfec-1b5da509f697.png)
<img width="1000" alt="image" src="https://user-images.githubusercontent.com/59044203/169050359-13aa0ac2-3455-48

[2022-05-18 14:12] #10104 closed, assigned to songjianet

[2022-05-19 00:23] #7297 closed, assigned to nobody

[2022-05-19 01:40] #9725 closed, assigned to jieguangzhou

[2022-05-19 02:22] zhaochenfeng commented on #9564
请问dolphin在部署的时候，我的部署用户没有sudo权限，同时无法申请root权限怎么处理？

[2022-05-19 02:39] zhongjiajie commented on #9564
@zhaochenfeng  maybe you should ask your team to give you a user who has permission

[2022-05-19 02:39] #9564 closed, assigned to nobody

[2022-05-19 02:40] zhongjiajie commented on #9564
close due to this

[2022-05-19 02:40] fizzstrong commented on #9564
dolphin执行任务时 会使用  sudo -u执行，所以必须要有sudo权限。可以申请一个有sudo权限的用户，修改sudoer文件添加权限

[2022-05-19 02:42] fizzstrong commented on #9564
ok thanks，This problem has been solved。The reason is that the computer has been hardened by protective software

[2022-05-19 02:51] #10051 closed, assigned to nobody

[2022-05-19 03:23] mrhaoqi opened #10115 "After the workflow scheduling goes online, the scheduling date of the complement operation is inconsistent with the parameter $[yyyy-MM-dd]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1、配置一个工作流调度上线
2、执行补数操作，设定补数周期内只会被调度一次，调度时间是：2022-05-01 00:10:00
3、任务传参$[yyyy-MM-dd]，打印参数输出为：2022-05-02
![1](https://user-images.githubusercontent.com/18070116/169197067-92e2e00a-378a-4274-8c50-4f1b99804c8c.png)
![4](https://

[2022-05-19 03:28] #10075 closed, assigned to QuakeWang

[2022-05-19 03:33] mrhaoqi opened #10116 "After the workflow scheduling goes online, the scheduling date of the complement operation is inconsistent with the parameter $[yyyy-MM-dd]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1、配置一个工作流调度上线
2、执行补数操作，设定补数周期内只会被调度一次，调度时间是：2022-05-01 00:10:00
3、任务传参$[yyyy-MM-dd]，打印参数输出为：2022-05-02
![1](https://user-images.githubusercontent.com/18070116/169197067-92e2e00a-378a-4274-8c50-4f1b99804c8c.png)
![4](https://

[2022-05-19 03:42] SbloodyS commented on #10115
closed due to duplicate #10116

[2022-05-19 03:42] #10115 closed, assigned to nobody

[2022-05-19 04:06] lenboo opened #10117 "[Feature][UI] Workflow definition support running from specified tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1. Process definition support running from specified tasks, and the running parameters:
 Node execution: Backward execution / Forward execution / execute only the current node

<img width="478" alt="image" src="ht

[2022-05-19 05:07] kezhenxu94 commented on #9449
Please do so, let's close this issue for now and if you have any further progress, let us know, thanks!

[2022-05-19 05:07] #9449 closed, assigned to czeming

[2022-05-19 05:32] caishunfeng commented on #10018
Please use the right title and describe in English, which can make more developers understand.
BTW, you should use screenshot or paste the error log stack, which can show your issue more clearly. Thanks.

[2022-05-19 05:32] #10018 closed, assigned to hwfbest

[2022-05-19 05:49] qingwli commented on #10103
Hi @zwZjut, I don't think we need to ```SPRING_DATASOURCE_DRIVER_CLASS_NAME```.

Here is the reason.

You can see [this](https://github.com/apache/dolphinscheduler/blob/3.0.0-alpha-release/deploy/kubernetes/dolphinscheduler/templates/_helpers.tpl#L123) define the ```DATABASE```

And when you build the Docker image, will run the ```./bin/start.sh``` on Api || Matset || Worker || Alert-Server.

The

[2022-05-19 06:14] qingwli commented on #10102
- I don't konw what's this, but not show normal
<img width="3420" alt="WeChat2d222a8009fc84a62f86a7ff78e92099" src="https://user-images.githubusercontent.com/20885366/169222722-ac32c99b-be27-4ed5-90e2-cbedf0309ba1.png">

- dolphinscheduler/task-group/query-list-by-group-id?pageSize=10&pageNo=1&taskInstanceName=&processInstanceName=
Request Method: GET

Miss ```group id ``` params

<img width="2200

[2022-05-19 07:03] zhongjiajie opened #10120 "[Bug] [db] Raise database object duplicate when build and create-ds.sh in branch dev"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When i build binary tarball from branch dev, then change database connection type to pg or mysql. It will raise duplicate object, such as duplicate index or column, it because we do not change the version in table `t_ds_vers

[2022-05-19 07:29] zhongjiajie commented on #10120
It is seem that is already be solve in #9997 , will verify it later

[2022-05-19 07:36] hstdream opened #10123 "[Bug] [API] The worker failover instance state is inconsistent with the task instance state"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The worker failover instance state is inconsistent with the task instance state

### What you expected to happen

The worker failover instance state is inconsistent with the task instance state

### How to reproduce

Pre: [A

[2022-05-19 08:29] huangchenguang123 opened #10126 "[Bug] [doc] conditions.md'image cannot be previewed by markdown"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [doc] conditions.md'image cannot be previewed by markdown

### What you expected to happen

fix it

### How to reproduce

none

### Anything else

none

### Version

dev

### Are you willing to submit PR?

- [X] Yes I

[2022-05-19 08:30] huangchenguang123 commented on #8029
@zhongjiajie i want to fix this issues

[2022-05-19 08:52] zhongjiajie commented on #10126
duplicateh to #9426

[2022-05-19 08:55] yxsgao commented on #4283
请问你的这个问题解决了吗？我现在也遇到了一样的问题。

[2022-05-19 08:57] qingwli commented on #10103
I have checked the yaml about Api || Matset || Worker || Alert-Server || tools, and they are two bugs.

- tools module changes the [this](https://github.com/apache/dolphinscheduler/commit/baf654cb47d60a753dd6372698ebb9230fca4859#diff-eed87c5c23a714652182ddde16029973958176002fea3b59fb8ec4d359a33893R28) but not changed the yaml.

When you change the data source to ```Mysql``` but will still use data

[2022-05-19 09:06] yxsgao commented on #4283
请问你这个问题解决了吗？我也遇到了一样的问题。改了hive spark下面的hive-site.xml，但是还是报这个错误。

[2022-05-19 09:14] zhongjiajie commented on #10106
will be solve in 300-beta-2, it is not enough time to fix this in 300-beta-1

[2022-05-19 09:18] zhongjiajie commented on #9903
close by #10124

[2022-05-19 09:20] zhongjiajie commented on #9943
close by https://github.com/apache/dolphinscheduler/issues/9997, and it seems we sql file in 300-alpha has buggy

[2022-05-19 09:20] #9943 closed, assigned to zhongjiajie

[2022-05-19 09:22] #9903 closed, assigned to zhongjiajie

[2022-05-19 09:24] qingwli commented on #10103
And I have another question about running the Docker image.

[code]

Do we need to config ```-e SPRING_DATASOURCE_DRIVER_CLASS_NAME="org.postgresql.Driver" \``` ?

The reason please look commented above

WDYT @SbloodyS @caishunfeng

[2022-05-19 09:32] SbloodyS commented on #10103
Yes. It's needed.

[2022-05-19 09:33] redamancydec opened #10131 "[Bug] [dolphinscheduler-master] When the process execution type is serial wait, the program will report an error and cannot run"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the process execution type is serial wait, the program will report an error and cannot run

### What you expected to happen

![串行等待](https://user-images.githubusercontent.com/87895252/169261240-3bee11d4-ef05-42e9-981a-d

[2022-05-19 09:38] redamancydec commented on #10131
This is caused by missing pass parameters

[2022-05-19 09:55] hstdream opened #10133 "[Bug] [API] The worker failover instance state is inconsistent with the task instance state"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The worker failover instance state is inconsistent with the task instance state

### What you expected to happen

The worker failover instance state is inconsistent with the task instance state

### How to reproduce

Pre: [A

[2022-05-19 12:27] #9121 closed, assigned to zhongjiajie

[2022-05-19 14:03] welsh-wen opened #10136 "[Improve] [Workflow Definition] Oracle, hive sql execution does not support the At ; end, expected: should be supported"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169312083-a600b9ba-2918-4383-bd54-e108d09a0bc5.png)
![image](https://user-images.githubusercontent.com/59044203/169312128-a5f3f363-20d9-45f5-b6e4-55e68d101749.png)

[2022-05-19 14:11] hstdream commented on #10133
1. In the case of kill, it is recommended that the workflow instance is still in pending status after kill
2. This will not happen in case of kill - 9

[2022-05-19 14:11] #10133 closed, assigned to hstdream

[2022-05-19 14:18] welsh-wen opened #10137 "[Bug] [Workflow Definition] The execution of the UDF function corresponding to hive failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1.create hive worker flow task
2.run hive task
![image](https://user-images.githubusercontent.com/59044203/169315101-b807e9b1-9372-4edf-aeb0-f11a82ef9347.png)

### What you expected to happen

hive task ran successfully.

##

[2022-05-19 14:21] welsh-wen opened #10138 "[Bug] [workflows] Data_quality workflows in Chinese mode are not translated into Chinese"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169317270-20184f0d-44c4-4275-b7b7-268a9df9b574.png)

### What you expected to happen

In Chinese mode, it should be displayed as a Chinese

### How to reproduce

No

[2022-05-19 14:28] welsh-wen opened #10139 "[Bug] [Workflow Definition] In workflow scheduling management, edit: Saturday, Sunday there will be a front-end error: Nan"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169318145-5d47a2e1-3d69-4a9b-b490-6fb2cad8bfe4.png)

### What you expected to happen

Front-end error: Nan does not appear

### How to reproduce

1.Go to cron mange

[2022-05-19 14:31] welsh-wen opened #10140 "[Bug] [Translation] Translation issue: The failure policy under timing management is not translated into Chinese"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169320690-05b35898-bb14-4c4f-abf0-512d4852b9bd.png)

### What you expected to happen

None.

### How to reproduce

None.

### Anything else

_No response_

### Vers

[2022-05-19 14:32] welsh-wen opened #10141 "[Bug] [Translation] Translation issue: Workflow definition, host filter item is not translated into Chinese"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169321134-f564ff05-a9b1-4171-8fb6-13248f0e5b68.png)

### What you expected to happen

None.

### How to reproduce

None.

### Anything else

_No response_

### Vers

[2022-05-19 14:35] welsh-wen opened #10142 "[Improvement] [Project] Enviroment and waring gorup should be change when saving workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169321684-84f544d6-7ed9-4e34-bb36-63b56ae91de8.png)
![image](https://user-images.githubusercontent.com/59044203/169321814-b03b879c-3e8b-4bf8-97b3-b0c03463a6b5.png)

[2022-05-19 14:37] welsh-wen opened #10143 "[Bug] [Workflow Definition] There is a problem with the workflow tree structure function, and the actual tree view is inconsistent with the preview diagram"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169322423-f09cb2fc-e3bd-41fb-9324-7d529cc76360.png)
![image](https://user-images.githubusercontent.com/59044203/169322515-154a36c1-e8e3-42cb-b17f-e781bcddba94.png)

[2022-05-19 14:41] welsh-wen opened #10144 "[Bug] [Workflow Definition] The network layout of the workflow is unusable, and the front end reports an error: h is not function, and the checked is: Full workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169323045-3178a969-dcef-422b-b44f-5b0a98af0ddc.png)

### What you expected to happen

The network layout works normally

### How to reproduce

1.Go to the workflow

[2022-05-19 14:43] welsh-wen opened #10145 "[Bug] [Workflow Instance] There is a problem with the host filter condition on the workflow instance page, for example, the condition fails when you enter 1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169323696-8d4f4131-fa43-41c4-8c1c-0cab6eeb6ee6.png)
![image](https://user-images.githubusercontent.com/59044203/169323790-1f994332-e080-4b63-85fb-ae02d5e859b5.png)

[2022-05-19 14:45] welsh-wen opened #10146 "[Bug] [Module Name] The Host filter in the workflow instance cannot be ambiguously matched, for example, 192.168.0.1 and 192.168.0.101 are hosts that do not pass"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169324285-3407e807-ce4b-4c7d-9a13-5c17af634a7b.png)

### What you expected to happen

The Host filter in the workflow instance cannot be ambiguously matched

### Ho

[2022-05-19 14:47] welsh-wen opened #10147 "[Bug] [Module Name] Some folder naming methods under resource management will have a front-end exception uncaught(in promise) Error, for example: f1/f2/f3"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169324542-a4833a79-b90c-4247-be46-fb83f59ad13c.png)

### What you expected to happen

The front end does not report errors

### How to reproduce

1. Create a specia

[2022-05-19 14:49] welsh-wen opened #10148 "[Bug] [Task group option] On the task group configuration page, specific prompts should be given if the capacity input is not numeric"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169325046-bf3de142-2ca6-4f8a-af0a-2f0d207f1d22.png)

### What you expected to happen

specific prompts should be given if the capacity input is not numeric

### How

[2022-05-19 15:03] jieguangzhou opened #10149 "[Feature][MLops] Support MLflow Models to deploy model service"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support MLflow models to deploy model service
MLflow Models
- [x] MLFLOW: Use `MLflow models serve` to deploy a model service
- [x] Docker: Run the container after packaging the docker image
- [x] Docker Compose:

[2022-05-20 01:22] songjianet commented on #10140
I will fix it

[2022-05-20 01:23] songjianet commented on #10141
I will fix it.

[2022-05-20 01:29] songjianet commented on #10148
I will fix it

[2022-05-20 01:30] songjianet commented on #10138
I will fix it

[2022-05-20 01:31] songjianet commented on #10144
I will fix it

[2022-05-20 01:59] caishunfeng commented on #10144
Hi @welsh-wen Please add module name for title, thanks.

[2022-05-20 02:38] a092cc commented on #4283
需要把hive-site.xml 加载到conf中，我  是这么加的

[code]

[2022-05-20 02:41] zhongjiajie commented on #9841
duplicate to #9863 and close it

[2022-05-20 02:41] #9841 closed, assigned to zhongjiajie

[2022-05-20 02:47] zhongjiajie commented on #8226
I change  it milestone from 3.0.0-beta-1 to 206 due to its version is 2.0.3

[2022-05-20 02:48] zhongjiajie commented on #10147
already fix in #10094

[2022-05-20 02:48] #10147 closed, assigned to nobody

[2022-05-20 02:53] zhongjiajie commented on #8828
It is a optimization not a bug here, I think is should be in version 3.0.1 or at least in 3.0.0

[2022-05-20 02:54] zheng-zy commented on #10046
这个意思是把<profile>标签的内容注释掉吗？
![image](https://user-images.githubusercontent.com/13825054/169440194-5ee7818f-fc87-4fb8-b8cc-7ae937988582.png)

[2022-05-20 02:55] zhongjiajie commented on #8828
WDYT @caishunfeng

[2022-05-20 03:00] zhongjiajie commented on #9984
@liqingwang I find out you submit and PR #9994 , does it fix this issue?

[2022-05-20 03:02] qingwli commented on #9984
@zhongjiajie
3. QuickStart in Kubernetes Doc Error  - 2. Use MySQL && Support MySQL && Support Oracle && Support Python 2 pip && Support Python 3 in FAQ Part

 This part not fix.

[2022-05-20 03:11] zwZjut commented on #10053
[INFO] 2022-05-20 10:52:00.567 +0800 org.apache.dolphinscheduler.api.ApiApplicationServer:[55] - Starting ApiApplicationServer vdev-SNAPSHOT using Java 1.8.0_322 on dolphin-3-dev-15-api-674564775c-875dd with PID 7 (/opt/dolphinscheduler/libs/dolphinscheduler-api-dev-SNAPSHOT.jar started by root in /opt/dolphinscheduler)
[INFO] 2022-05-20 10:52:00.570 +0800 org.apache.dolphinscheduler.api.ApiApplic

[2022-05-20 03:18] zhongjiajie commented on #10137
I think it is because your host starting server can not connect to your HDFS resource center

[2022-05-20 03:18] zwZjut commented on #10053
"main-SendThread(dolphin-3-dev-15-zookeeper:2181)" #38 daemon prio=5 os_prio=0 tid=0x00007faec4dcd800 nid=0x34 runnable [0x00007fae3e9de000]
   java.lang.Thread.State: RUNNABLE
	at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
	at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
	at sun.nio.ch.EPollSelectorImpl.doSelect(EPollSelectorImpl.java:93)
	at sun.nio.ch.SelectorImpl.lo

[2022-05-20 03:26] zhongjiajie commented on #10145
I find out it works correctly, it will use fuzzy matching when you enter any text in `host`

[2022-05-20 03:28] zhongjiajie commented on #10146
duplicate to #10145

[2022-05-20 03:28] #10146 closed, assigned to zhongjiajie

[2022-05-20 03:31] hanfengcan opened #10156 "[Bug] [Module Name] does not support copied task type [SWITCH]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

如图
![7678361188267d20c0ff2cadb45b06e](https://user-images.githubusercontent.com/4559753/169444840-71e8eb9d-ccd4-48f0-a1ee-db9155a73e7b.png)

### What you expected to happen

可以复制工作流

### How to reproduce

增加一个 switch 到工作流。另外

[2022-05-20 03:53] zhongjiajie commented on #10131
@iamliangdi Hi, we will release 300-beta-1 in the next week, and we still have lots of work to do to release 300b1, so we plan to fix it it 300-beta-2

[2022-05-20 04:00] zhongjiajie commented on #10046
@zheng-zy Please also remove the tag `<profiles>` and then try to re-run it

[2022-05-20 04:00] zhongjiajie commented on #10046
and then it will skip the `python` build

[2022-05-20 04:01] zhongjiajie commented on #8029
Looking good, and I will assigned it to you

[2022-05-20 04:01] #10053 closed, assigned to nobody

[2022-05-20 04:05] zhongjiajie commented on #9570
Seem we just totally remove the old `dolphinscheduler-ui` and rename `dolphinscheduler-ui-next` to  `dolphinscheduler-ui` in #9909, I think this issue could be close, cc @songjianet

[2022-05-20 04:05] #9570 closed, assigned to songjianet

[2022-05-20 04:27] zwZjut opened #10157 "[Feature][HealthCheck] Modules like api,master,worker,alert etc , need add customer defined health check logic instead of default check"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[Feature][health check] modules like api,master,worker,alert etc , need add customer defined health check logic instead of default check

for example :

now api-server use curl -s http://localhost:12345/dolphinsch

[2022-05-20 04:29] zwZjut commented on #10157
issue like this: https://github.com/apache/dolphinscheduler/issues/10053   deploy api on k8s and quickly login , 404 found forever

[2022-05-20 06:30] devosend commented on #10139
I will fix it

[2022-05-20 07:07] rockfang opened #10159 "[Bug] [UI] Pagination not works well in DataQuality page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

missing assignment of `totalPage` result in pagination not works well in DataQuality page.

![997a4fa210ed11f2298b36ffccf95b3](https://user-images.githubusercontent.com/16065427/169469263-6bf91904-4283-476b-abdc-90364db05b21

[2022-05-20 07:09] zhongjiajie commented on #10148
It seems that the backend code already have `groupSize` verify. cc @songjianet

[2022-05-20 07:12] rockfang commented on #10159
I'll fix it later

[2022-05-20 07:19] #10148 closed, assigned to songjianet

[2022-05-20 07:34] redamancydec commented on #10131
Yes, that's right, but I've seen on the dev branch that the bug has been repaired by others. I don't need to submit PR again.
Or should I not request merging branches to dev?

[2022-05-20 07:42] SnowMoon-Dev opened #10160 "[Bug] [doc] Inconsistent links between Chinese and English documents on the website"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. Inconsistent links between Chinese and English documents on the website
2. The most recent release is V2.0.5 not V1.3.9

### What you expected to happen

1. Chinese and English document links are consistent
2. Update the

[2022-05-20 07:52] songjianet commented on #10143
I will fix it

[2022-05-20 07:54] songjianet commented on #10142
I will fix it.

[2022-05-20 08:20] bobofueeeee opened #10164 "Uncaught ReferenceError: globalThis is not defined"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![Uploading befaf8c77821eb4dcc3721db6ece3b0.jpg…]()

### What you expected to happen

![Uploading befaf8c77821eb4dcc3721db6ece3b0.jpg…]()

### How to reproduce

![Uploading befaf8c77821eb4dcc3721db6ece3b0.jpg…]()

### Anythi

[2022-05-20 08:20] bobofueeeee commented on #10164
q

[2022-05-20 08:23] songjianet commented on #10164
Please add pictures again. @bobofueeeee

[2022-05-20 08:47] #10160 closed, assigned to SnowMoon-Dev

[2022-05-20 08:53] labbomb opened #10167 "[BUG][UI] HTTP task verification request address error Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When using the HTTP task to fill in the request address. Only requests starting with www can be verified, and an exception will be thrown for other requests.

### What you expected to happen

Allow verification of all reason

[2022-05-20 08:57] zhaohehuhu opened #10168 "[Improvement][task sql] Improve creating function query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

enhance creating temp function query

### Use case

Current creating function query fail to handle all cases. For example,  Kyuubi was taken as a datasource  in DS,  it's more likely to get a problem when setting

[2022-05-20 09:12] kezhenxu94 commented on #10103
`SPRING_DATASOURCE_DRIVER_CLASS_NAME` shouldn't be specified, `DATABASE` is aimed at configuring the database related info, when users set `DATABASE=postgresql` the driver should be set automatically

[2022-05-20 09:13] kezhenxu94 commented on #10103
@liqingwang please add a profile `postgresql` here and set correct driver in the yaml https://github.com/apache/dolphinscheduler/blob/e2fac213991c30f0a7460e3576fa3bbb5e6e6d42/dolphinscheduler-tools/src/main/resources/application.yaml#L39-L46

[code]

[2022-05-20 09:19] rockfang opened #10171 "[Bug] [UI] DataQuality icon in workflow is the same as SeaTunnel icon"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/16065427/169496374-3ff937fd-5c92-429c-87c1-c7f42affe4cb.png)

### What you expected to happen

Data_Quality icon is same to SeaTunnel icon. hope to replace `data_quality.png

[2022-05-20 09:19] qingwli commented on #10103
I agree.

If we don't need to specify the ```SPRING_DATASOURCE_DRIVER_CLASS_NAME```, then we don't need this field when you start at Docker mode or K8s mode?

So this [code](https://github.com/apache/dolphinscheduler/pull/10128/commits/38db6c9939cef62373326146feff149f4448d6c8#diff-380f881407a9a838ea3a04c76326ef0899eb023bd612ca52a2762beafb2bd2d9R129-R134) doesn't need?  @kezhenxu94

[2022-05-20 09:21] songjianet commented on #10171
I will fix it.

[2022-05-20 09:21] kezhenxu94 commented on #10103
Yes, we'd better keep the configurations minimal whenever they can be specified automatically, so users won't be overwhelming by so many configurations.

[2022-05-20 09:23] qingwli commented on #10103
And we can't delete ``` source "$DOLPHINSCHEDULER_HOME/conf/dolphinscheduler_env.sh"``` in docker mode, this sh will export SPRING field, am I correct?

[2022-05-20 09:23] songjianet commented on #10168
Is this optimized based on version 3.x or optimized based on version 2.x. @luoyedeyi

[2022-05-20 09:27] qingwli commented on #10103
Is my understanding of the driver set automatically correct? https://github.com/apache/dolphinscheduler/issues/10103#issuecomment-1131238019

[2022-05-20 09:28] kezhenxu94 commented on #10103
This is right

[2022-05-20 09:32] kezhenxu94 commented on #10103
Hi @liqingwang , you don't need to delete `source "$DOLPHINSCHEDULER_HOME/conf/dolphinscheduler_env.sh"`, if you set any env var in Kubernetes, it will override `dolphinscheduler_env.sh`, did you find anything different?

[2022-05-20 09:35] qingwli commented on #10103
Yes, but only one difference, we don't define SPRING_DATASOURCE_DRIVER_CLASS_NAME in Kubernetes config file, but I define the database.

And ```source "$DOLPHINSCHEDULER_HOME/conf/dolphinscheduler_env.sh``` will ```export SPRING_PROFILES_ACTIVE=${DATABASE}``` , this will change the database driver, so we need this sh

[2022-05-20 09:36] kezhenxu94 commented on #10103
right

[2022-05-20 09:37] qingwli commented on #10103
I will follow the previous design pattern to change the code.

So here is another question. Pls see this https://github.com/apache/dolphinscheduler/pull/10128#issuecomment-1131474052 , the active profile is to choose the database config, when we define the active profiles, and tools module can't change driver automatically. This is a bug. @SbloodyS

[2022-05-20 09:39] SbloodyS commented on #10103
Yes.

[2022-05-20 09:40] kezhenxu94 commented on #10103
As I said here https://github.com/apache/dolphinscheduler/issues/10103#issuecomment-1132669903, can you update this in #10128 and see whether that satisfy your requirement?

[2022-05-20 09:44] qingwli commented on #10103
I'll have a try, thx @kezhenxu94

[2022-05-20 09:50] qingwli commented on #10103
I am not sure If I use ```java -Dspring.profiles.active=upgrade``` to define the profile java used, and then ```export SPRING_PROFILES_ACTIVE=mysql```, Spring will use both of them, or MySQL will overwritten upgrade

[2022-05-20 10:05] #10167 closed, assigned to labbomb

[2022-05-20 10:53] kezhenxu94 commented on #10103
It will be overridden

[2022-05-20 11:55] jieguangzhou opened #10174 "[Feature][MLops] Support MLflow Projects to train machine learning model"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support MLflow Projects to train machine learning model
MLflow Projects
- [x] BasicAlgorithm: contains LogisticRegression, svm, lightgbm, xgboost
- [x] AutoML: AutoML tool，contains autosklean, flaml
- [ ] Custom p

[2022-05-20 13:54] songjianet commented on #10174
Please submit the document when submitting the new function. @jieguangzhou

[2022-05-21 00:20] #9089 closed, assigned to nobody

[2022-05-21 02:41] #9999 closed, assigned to wuchunfu

[2022-05-21 02:46] longtb976 commented on #10076
I want to try

[2022-05-21 03:37] SbloodyS commented on #10076
I've assigned it to you.

[2022-05-21 04:25] #10057 closed, assigned to HeChuanXUPT

[2022-05-21 06:36] #10171 closed, assigned to songjianet

[2022-05-21 07:10] MrTangHua opened #10179 "subprocess running cannot trigger subjob tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[INFO] 2022-05-21 14:59:42.162 org.apache.dolphinscheduler.server.master.runner.EventExecuteService:[130] - already exists handler process size:0
[INFO] 2022-05-21 14:59:42.163 org.apache.dolphinscheduler.server.master.runne

[2022-05-21 07:38] bluerocly commented on #3009
I meet the same error with 2.0.5, any idea? thx.

[2022-05-21 10:23] headhard opened #10180 "[Feature][API] Call the api to execute the workflow and return the workflow instance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

**start-process-instance api only returns success without returning an instance ID，Unable to monitor task status**
**执行工作流只能返回成功运行而没有返回工作流实例ID无法监控运行状态**

### Use case

**Hope to call the api to execute the workflo

[2022-05-22 00:20] #9470 closed, assigned to nobody

[2022-05-22 00:20] #9469 closed, assigned to nobody

[2022-05-22 00:47] ITBOX-ITBOY commented on #10044
Now that I've developed this feature, how do I submit it

[2022-05-22 02:26] SbloodyS commented on #10044
Develop your feature based on ```dev``` branch. And then open a pull request target to ```dev``` branch and link your issue to this
 PR.

[2022-05-22 02:45] lugela opened #10181 "tenantCode: XXX does not exist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I used freeipa to create a user, but it does not exist in the /etc/passwd file, user information in LDAP and cached through SSSD. However, the source code will only check whether the tenantcode exists in the /etc/passwd file

[2022-05-22 03:35] lugela opened #10182 "[Feature][Task] datax access kerberos authenticated bigdata cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Because Kerberos authentication is added to the big data cluster, when using DATAX to write data to HDFS, you need to use the tenant's KeyTab file to introduce it into json file. Can this file reference use the co

[2022-05-22 06:02] #10139 closed, assigned to devosend

[2022-05-22 09:27] songjianet commented on #10164
Thank you for your feedback. I'll close this question with an unclear description, and you can resubmit a detailed description later. @bobofueeeee

[2022-05-22 09:27] #10164 closed, assigned to nobody

[2022-05-23 00:22] #9500 closed, assigned to nobody

[2022-05-23 00:48] jieguangzhou commented on #10174
I have modified the document for PR.
docs/docs/en/guide/task/mlflow.md
docs/docs/zh/guide/task/mlflow.md

[2022-05-23 01:50] caishunfeng commented on #8828
Yes, I think so. And the pr related to the main process, so it need more people to review.

[2022-05-23 01:54] #10076 closed, assigned to longtb976

[2022-05-23 02:58] zwZjut commented on #9595
this problem exists in 2.0.x

[2022-05-23 03:11] #9670 closed, assigned to EricGao888

[2022-05-23 03:13] zhongjiajie commented on #9029
remove stale

[2022-05-23 05:03] retime123 opened #10190 "[Bug] [E2E] The front-end page changes failed the E2E test"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

relevance   https://github.com/apache/dolphinscheduler/pull/10186

https://github.com/apache/dolphinscheduler/runs/6548541522?check_suite_focus=true
![image](https://user-images.githubusercontent.com/29012717/169746696-a632c

[2022-05-23 05:14] retime123 opened #10191 "[Feature][TaskLog] Log viewing is inconvenient"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

查看日志不方便：希望是点开日志直接显示最新的并且滑柱是在下面，鼠标向下滑动在继续拉取最新的，向上滑动到没有数据在拉取之前的部分日志
（View the log is not convenient: I want to open the log directly to display the latest and the slider is below, slide the mouse down to continue to

[2022-05-23 05:17] retime123 commented on #10191
It is expected to be updated in 2.0.6

[2022-05-23 05:18] retime123 commented on #10191
hope update in version 2.0.6

[2022-05-23 05:53] songjianet commented on #10191
There will be no functional changes for the 2.x version. I'm tentatively slated to release it as version 3.1.0-alpha.

[2022-05-23 05:57] songjianet commented on #10191
This problem needs to be confirmed whether it is a front-end implementation or a back-end implementation. The back-end implementation may need to check back, and the front-end implementation may cause the problem that the data requested for multiple times is not displayed, resulting in a waste of resources. @caishunfeng @zhongjiajie

[2022-05-23 06:05] songjianet commented on #10144
I have not reproduced this problem locally. @welsh-wen

[2022-05-23 06:07] retime123 commented on #10191
@songjianet   the 2.x version  new features are not added? or Only bug fixes?

[2022-05-23 06:45] SbloodyS commented on #10191
Only bug fixed will be added in 2.0.X version.

[2022-05-23 07:13] SnowMoon-Dev opened #10196 "[Bug] [Resource/TaskGroup] When creating a task group, the description information is not required, but I not can click confirm before entering the description information."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When creating a task group, the description information is not required, but I not can click confirm  before entering the description information.

### What you expected to happen

I can click confirm  before entering the de

[2022-05-23 07:48] chincloud commented on #8031
I will do this task.

[2022-05-23 08:19] zhongjiajie commented on #10137
close it because

[2022-05-23 08:19] #10137 closed, assigned to zhongjiajie

[2022-05-23 08:35] SnowMoon-Dev opened #10199 "[Bug] [Workflow/Workflow Definition] After deleting messages in batches, the error message is repeated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After deleting messages in batches, the error message is repeated

### What you expected to happen

remove duplicate prompts

### How to reproduce

1. Multiple users share the same project
2. Create one workflow per user
3.

[2022-05-23 08:57] zhongjiajie commented on #9916
I will close this issue if there is no response in the next 14 days

[2022-05-23 09:03] Amy0104 commented on #10199
It seems that the error tips was from backend.

[2022-05-23 09:08] zhongjiajie commented on #9898
## about

* https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/about/glossary.html

## task

* https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/task/stored-procedure.html
* https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/task/datax.html
* https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/task/pigeon.html
* https://dolphinscheduler.apache.

[2022-05-23 09:15] SnowMoon-Dev commented on #10199
yes，it is backend bug

[2022-05-23 09:25] zhongjiajie commented on #10087
@littleziao  I have tested it in my env with 3.0.0-beta branch and it work fine

[2022-05-23 10:17] #10138 closed, assigned to songjianet

[2022-05-23 10:24] zhongjiajie commented on #10145
close it because of this

[2022-05-23 10:24] #10145 closed, assigned to nobody

[2022-05-23 10:28] zhongjiajie commented on #10080
I think both of them have this issue

[2022-05-23 10:43] XuXuClassMate opened #10204 "[Bug] [Worker server] I started two worker-server，but The page shows one"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I started two worker-server，but The page shows one

<img width="1735" alt="image" src="https://user-images.githubusercontent.com/76080484/169802044-f06c7477-95f7-41e2-b127-de68cbdbe54d.png">

<img width="1893" alt="image" sr

[2022-05-23 10:57] XuXuClassMate opened #10205 "[Bug] [Workflow Instance] A normally started worker service should not show fault tolerance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

A normally started worker service should not show fault tolerance

<img width="1903" alt="image" src="https://user-images.githubusercontent.com/76080484/169803134-bcdcc722-1e01-4134-a8a9-362a57fa496b.png">

<img width="1909"

[2022-05-23 11:24] #10140 closed, assigned to songjianet

[2022-05-23 11:26] #10190 closed, assigned to retime123

[2022-05-23 12:59] #10199 closed, assigned to SnowMoon-Dev

[2022-05-23 13:04] welsh-wen opened #10207 "[Bug] [Create Alarm Instance] When you enter the alarm instance management, the "Alarm Instance Component is Empty" error appears on the front end, and clicking "Create Alarm Instance" is always loading"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/169825352-5acae9f0-00cc-4381-8874-bf7af5ab6bb3.png)
![image](https://user-images.githubusercontent.com/59044203/169825438-67e2587f-d4bc-4e7b-b973-ac022815438a.png)

[2022-05-23 13:28] EricGao888 opened #10208 "[Bug] [Deploy] Worker group configuration not working"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* When deploying DS in `cluster-mode`, worker group configuration does not work.
* From the code below, since script `scp-hosts`  and directory `worker-server` are not in the same dir, `sed` worker group in application.yaml

[2022-05-23 13:39] EricGao888 opened #10210 "[Feature][CI] Add CI checks for metadata upgrade"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We should add metadata upgrade checks in our CI to make sure users will not get errors when running script `upgrade-schema.sh` to upgrade metadata from lower to latest version.

### Use case

* Already described

[2022-05-23 13:41] redamancydec opened #10211 "[Feature][Alert] Alarm availability improvement"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Today, I found a problem in production. If the alarm stops service, who will tell me?
Obviously, this is an unavoidable problem, and there is no perfect solution after all, but it should be decided by the user, ev

[2022-05-23 13:48] EricGao888 commented on #10211
Hi iamliangdi, thx for opening this issue. It is a good point that ds should have some alert mechanism in case `alert-server` fails itself. May I ask how do u want to improve the availability of `alert-server`? Are u planning to enable users to deploy multiple alert-servers?

[2022-05-23 13:54] redamancydec commented on #10211
hi, Because I just started looking at the code, limited to ability, my idea is

1. Give the power to deploy multiple alert-servers to users, and we are only responsible for ensuring that they will not send duplicate information;

2. Send email to users in the fatal errors we catch as much as possible;

Because in the process of using it, I found that it stopped serving, but didn't tell me it was l

[2022-05-23 13:59] EricGao888 commented on #10211
@iamliangdi @zhongjiajie @SbloodyS I saw there are tables related to alerting in ds metaDB. Just for double-check, if alert-server fails for some reason and restarted later, during the failure, will alerts still get stored in db and sent as soon as alert-server restarts?

[2022-05-23 14:06] redamancydec commented on #10211
If the alert status is normal, it will be sent again, because in a cycle, it will keep getting the unsent alert , but if the alert server stops serving, I will not be able to know the health of any service. Obviously, I need to ensure that the alert server is normal as much as possible, or tell me when it is unhealthy

[2022-05-23 14:06] SbloodyS commented on #10211
Yes. The alert service consumes very few resources. So i recommand the following two ways to ensure production stability:
1. Deploying alert server in a single instance.
2. Using systemd or supervisor to manage the process of ```alert-server```. @iamliangdi

[2022-05-23 14:11] EricGao888 commented on #10211
Also, I think we could include alert-server heartbeats in `DS metrics` so that it can be monitored by external system.

[2022-05-23 14:29] SbloodyS commented on #10211
That's a good idea.

[2022-05-23 14:49] stalary opened #10212 "[Feature][Registry] Support registry nacos"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support registry nacos as a new registry plugin.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-05-23 17:11] SnowMoon-Dev commented on #10207
@songjianet https://github.com/apache/dolphinscheduler/pull/9924 This PR can solve this bug，This bug is caused by the fact that the alert component is not started, the plugin is not registered, and the front-end does not handle the interface exception.

[2022-05-23 19:06] SnowMoon-Dev opened #10214 "[Bug] [WorkFlow] Delete online workflows in batches, prompt information is inaccurate"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Delete online workflows in batches, prompt information is inaccurate

### What you expected to happen

Delete online workflows in batches, prompt information is accurate

### How to reproduce

![del](https://user-images.gith

[2022-05-24 00:23] #9495 closed, assigned to labbomb

[2022-05-24 01:42] #10174 closed, assigned to jieguangzhou

[2022-05-24 01:53] #10208 closed, assigned to EricGao888

[2022-05-24 02:16] zhongjiajie commented on #10080
3.0.0-beta-1 is already fixed with #10081, so I add milestone to 2.0.6

[2022-05-24 02:18] #10214 closed, assigned to SnowMoon-Dev

[2022-05-24 02:24] caishunfeng commented on #10205
@XuXuClassMate can you provide your dag context into `How to reproduce`?

[2022-05-24 02:25] #9779 closed, assigned to zhongjiajie

[2022-05-24 02:30] zhongjiajie commented on #9898
@QuakeWang

[2022-05-24 02:38] redamancydec opened #10216 "[Bug] [worker-server] Obviously, when I wait in series, I will wait all the time, and I can't stop waiting"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![1653359838(1)](https://user-images.githubusercontent.com/87895252/169937272-0dcc8d3f-cbe2-4d4b-8549-9c3cec8298e3.png)

Obviously, when I wait in series, I will wait all the time, and I can't stop waiting

### What you expe

[2022-05-24 02:39] QuakeWang commented on #9898
OK, I get it. This week I will refactor the document about parameters. The [local-parameter](https://github.com/apache/dolphinscheduler/pull/10119) have submitted. BTW the task of [datax](https://github.com/apache/dolphinscheduler-website/pull/723/files) I have refactored but in the website still as the old version.

[2022-05-24 02:48] #10159 closed, assigned to rockfang

[2022-05-24 02:53] EricGao888 commented on #9441
WIP. To be accurate, they are statistics instead of metrics.

[2022-05-24 03:36] zhongjiajie commented on #9898
I find out your change is to repository dolphinscheduler-website  branch master, maybe we miss something when we migrate to repository dolphinscheduler

[2022-05-24 03:44] zhongjiajie commented on #9898
I will find a way to recover it

[2022-05-24 04:01] zhongjiajie commented on #9898
recover by https://github.com/apache/dolphinscheduler/pull/10218

[2022-05-24 04:11] zhongjiajie commented on #9604
related to #9927

[2022-05-24 04:44] redamancydec commented on #10216
hi，I checked the latest dev branch and the problem I've been waiting for has been solved, but enumerating classes is risky.

[2022-05-24 05:20] guodongym opened #10219 "[Feature][EMR] EMR supports use <add-Steps> to add steps to an existing cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

EMR currently only supports creating clusters and adding steps, but in real use scenarios there are resident clusters waiting to receive new tasks, so you need to support adding steps to existing clusters

### Use

[2022-05-24 05:29] qingwli commented on #10103
I used ```-Dspring.profiles.active=upgrade,${DATABASE}``` to use two profiles and the driver will be set automatically

[2022-05-24 05:59] #10103 closed, assigned to nobody

[2022-05-24 06:50] zhongjiajie commented on #10087
@songjianet I find out it still exists in 3.0.0-beta-1
![bug-scheduler-workflow](https://user-images.githubusercontent.com/15820530/169966717-8d25e93c-6e4a-4928-a6e1-439083864eb1.gif)

[2022-05-24 06:50] zhongjiajie commented on #10087
But maybe we could fix it in 3.0.0-beta-2, WDYT

[2022-05-24 06:53] songjianet commented on #10087
![image](https://user-images.githubusercontent.com/19239641/169967365-c4d73379-e7bd-4784-bd74-d23825f0395a.png)
I thought my brother was going to fix it.

[2022-05-24 06:54] littleziao commented on #10087
This problem did not occur when I ran the front-end project locally, only on the server. I also tried to replace the UI package on the server, but it did not work

[2022-05-24 06:55] songjianet commented on #10087
That may require the help of the back-end friends to look at it.

[2022-05-24 06:57] devosend commented on #10087
This is not a bug. Beause you not select `Specific hour(multiple)` when you edit hour

[2022-05-24 06:59] zhongjiajie commented on #10144
@songjianet  It is seem it still exists in 3.0.0-beta-prepare branch
![bug-workflow-format](https://user-images.githubusercontent.com/15820530/169968249-53f5dfc0-3038-400d-98a5-ce57f8043ac5.gif)

[2022-05-24 07:00] songjianet commented on #10144
I can't reproduce it here, the dev branch.

[2022-05-24 07:05] zhongjiajie commented on #10087
I change the milestone to `3.0.0-beta-2` maybe we should auto-select the bottom `specifich hour` when users change the detail value about scheduler time, WDYT

[2022-05-24 07:06] littleziao commented on #10087
![LAPTOP-NEPPVNGC-2022-05-24-15-00-29_Trim](https://user-images.githubusercontent.com/56712269/169969528-e19751c5-e633-4396-ab78-93d45490d7b9.gif)
I tried, but it was still there

[2022-05-24 07:06] zhongjiajie commented on #10144
Will check in dev branch later when in finish the `3.0.0-beta-1` check today

[2022-05-24 07:07] devosend commented on #10087
Can you try chrome?

[2022-05-24 07:08] littleziao commented on #10087
ok，i will try

[2022-05-24 07:09] littleziao commented on #10087
In Chrome, it still exists

[2022-05-24 07:17] zhongjiajie commented on #10143
It is a bug here, seem our tree view have the max depth
![bug-workflow-treeview](https://user-images.githubusercontent.com/15820530/169971681-a48b2a22-ea63-4fa7-91a2-8d454ce14447.gif)

[2022-05-24 07:25] zhongjiajie opened #10222 "[Feature][doc] Add how to use resource in shell task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/task/shell.html we just tell the user how to use variable in shell task, we should also add some examples about how to use resource file in shell t

[2022-05-24 07:36] qingwli opened #10225 "[Improvement][Mysql] Change Mysql Driver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[code]

We need to change to `com.mysql.cj.jdbc.Driver`.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Co

[2022-05-24 07:44] qingwli opened #10226 "[Doc][Docker] Update Docker Doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Due [this](https://github.com/apache/dolphinscheduler/issues/10103#issuecomment-1132668573)

We don't need to config -e `SPRING_DATASOURCE_DRIVER_CLASS_NAME="org.postgresql.Driver" \` when we run Docker Image

I w

[2022-05-24 08:14] #10141 closed, assigned to songjianet

[2022-05-24 09:00] #9984 closed, assigned to nobody

[2022-05-24 09:13] zhongjiajie commented on #10123
This is expected behavior, I will close this issue now. cc @hstdream

[2022-05-24 09:13] #10123 closed, assigned to zhongjiajie, hstdream

[2022-05-24 09:47] zhongjiajie commented on #10102
it is indeed has a bug here

[2022-05-24 10:09] ITBOX-ITBOY commented on #10044
# http任务类型向下传递参数功能介绍

第一步：拖一个http类型的任务，在自定义参数中KEY的位置填写body ,在IN/OUT的部分选择OUT,在输出数据类型部分选择VARCHAR，一定要选择VARCHAR，不要选择别的哈。

![1-1](https://user-images.githubusercontent.com/15922437/170007418-e374be8d-9a86-4267-b09e-4fa9859462aa.png)

第二步：在添加一个http任务类型的节点，接收上游传递来的参数。这一次只需要在【请求参数】部分进行添加就可以了，

参数名可以任务的，可以body也可以是别的，类型选择parameter,value部分一定要写成${body}

![1-2](https://user-images.githubusercontent.com/1592243

[2022-05-24 10:15] hcwang512 opened #10230 "dolphinescheduler-api duplicate taskDefinition in taskDefinitionList in queryTaskDefinitionByCode api response"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

i created a workflow with 3 tasks, and get task definition by api queryTaskDefinitionByCode, and found duplicate tasks in taskDefinitionList in api response. the image below shows the worflow dag, and api response in code bl

[2022-05-24 10:29] hstdream opened #10231 "[Feature][API] Modify the permissions of project management, security center, data source center and data quality module."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Control the permission of the project, including adding, deleting, modifying and checking the authorization

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [

[2022-05-24 10:33] #10143 closed, assigned to songjianet

[2022-05-24 12:59] 106umao opened #10232 "[Bug] [dolphinscheduler-datasource-hive] The java package:sun.security.krb5 is not exsist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I started the back-end application in Standalone mode according to the steps of the official website document, Out of line this problem. It was originally a problem on my Linux. Combined with the content of the jdk pack

[2022-05-24 13:52] zhongjiajie opened #10233 "[Feature][doc] Add an example about how to use pre_sql post_sql in SQL task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/task/sql.html

we should add an example about how to use presql and postsql in sql task, some users will use some select sql in pre/post sql and ca

[2022-05-24 14:35] songjianet commented on #10142
This problem requires the assistance of the back-end partners. @zhongjiajie @caishunfeng
![image](https://user-images.githubusercontent.com/19239641/170061334-3a5b59b7-1b93-40b7-816d-fafcdbbee9bf.png)
![image](https://user-images.githubusercontent.com/19239641/170061633-84d8e0ef-4f1f-4f13-818f-ab55cb5dd4c3.png)

[2022-05-25 00:24] #9535 closed, assigned to nobody

[2022-05-25 01:17] QuakeWang commented on #10222
I think this issue should be about the use of the resource center. And there are already cases of using resource files in shell tasks at [file-manage](https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/guide/resource/file-manage.html).

[2022-05-25 01:54] StephenLau007 commented on #3985
I use dolphinscheduler1.3.9,but I don't have this datax memory config web.So I have some datax error
![image](https://user-images.githubusercontent.com/13819014/170162579-356952ec-ba26-46a5-8b40-f744c86f239f.png)

[2022-05-25 02:01] zhongjiajie commented on #10142
will take a look today

[2022-05-25 03:45] #10226 closed, assigned to qingwli

[2022-05-25 04:00] zhongjiajie commented on #10087
It is not exists in my env

[2022-05-25 06:09] #10225 closed, assigned to qingwli

[2022-05-25 06:11] #7354 closed, assigned to zhongjiajie

[2022-05-25 06:12] littleziao commented on #10087
So I don't know if it was a front end problem or a back end problem or something in my env when I was deploying, but I don't think it was a deployment problem that caused this odd phenomenon,WDYT

[2022-05-25 06:15] zhaohehuhu commented on #10168
Both

[2022-05-25 06:26] syncwt commented on #10037
I found the reason! Firstly, the NPE cause by `long` can't be null. Maybe  it should replaced by `Long`.
When the task A was depended by a sub process 's task B, task A rename to A1, or be deleted. And the task B 's depend item list wouldn't update, then cause the result that can't find the `depTasks`.
It would be ok with fix the dependent task by manual.

[2022-05-25 06:42] zhongjiajie commented on #10142
It is expected behavior, just like temporarily overwriting the parameter with use in. But we should and `env` and `wariming group` when we save our workflow, so I change it from bug into improve here

[2022-05-25 06:44] yxydde commented on #9150
什么时候能好？

[2022-05-25 06:45] zhongjiajie commented on #10142
![f-workflow-env-warm](https://user-images.githubusercontent.com/15820530/170197657-5dcda0b8-f2a4-423a-bc4f-4f14d5bff303.gif)

[2022-05-25 07:00] #10037 closed, assigned to nobody

[2022-05-25 08:22] SbloodyS opened #10240 "[Feature][SHELL] Add the built-in variables of the data source center in the shell task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add the built-in variables of the data source center in the shell task. So that users can use it through such as ${dataSourceID.jdbcUrl} in shell task.

### Use case

_No response_

### Related issues

_No respons

[2022-05-25 08:34] zhongjiajie commented on #10102
It seems @devosend have frontend change for this issue, so I reopen it