[2022-09-22 11:07] jieguangzhou opened #12111 "[Bug] [Pytorch Task Plugin] Python home conflict when create conda env"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If we set PYTHON_HOME, and then Pytorch task plugin create conda env can not set python home correctly

### What you expected to happen

empty

### How to reproduce

empty

### Anything else

empty

### Version

dev

### Are

[2022-09-22 12:43] #12082 closed, assigned to Amy0104

[2022-09-22 13:15] DarkAssassinator commented on #11652
@EricGao888 sure, it will be my pleasure. and may I know what time and way it is?

[2022-09-22 13:36] welsh-wen commented on #11788
@caishunfeng Can you help to solve the same type of prompt problem in the commercial version before?

https://github.com/WhaleOps/dolphinscheduler/pull/99

[2022-09-22 13:38] EricGao888 commented on #11652
@DarkAssassinator https://docs.qq.com/doc/DQ3BGVHZ1bXp5R2FZ

[2022-09-22 14:35] Tianqi-Dotes opened #12113 "[Bug] [HDFS] enable HDFS cannot find class htrace-core"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

enable HDFS will throw ClassNotFoundException: htrace-core
version 3.1.0
<img width="2550" alt="c9b353dd8657fd9940fe30127cac1bf" src="https://user-images.githubusercontent.com/36755957/191775614-eed584af-5cc4-4710-9a07-ca83d

[2022-09-22 15:42] DarkAssassinator opened #12114 "[Bug] [API] If task definition configure Worker Group, user still can delete the worker group record."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When use delete the Worker Group record from UI, the api just validator the processInstance, but did not check the task.
![image](https://user-images.githubusercontent.com/20518339/191791619-63fd3d30-1984-4e7e-9d72-95ea1fb6a

[2022-09-22 15:58] DarkAssassinator commented on #11652
@EricGao888 done
![image](https://user-images.githubusercontent.com/20518339/191795326-cfd64d05-7350-4bd8-b031-857850a2e314.png)

[2022-09-23 00:29] #11507 closed, assigned to 106umao

[2022-09-23 00:29] #11505 closed, assigned to rickchengx

[2022-09-23 01:13] ErikXu commented on #12102
Is it possile to provide an api to do a force deletion that did not verify the user?

[2022-09-23 01:58] #12111 closed, assigned to jieguangzhou

[2022-09-23 02:17] Amy0104 commented on #12110
<img width="975" alt="image" src="https://user-images.githubusercontent.com/97265214/191880942-b10d6a7b-4557-4227-be55-d04f22ba9261.png">
It is ok for me. Could you check it again? @Gagepmd

[2022-09-23 03:19] hqzh opened #12117 "[Bug] [UI] table tooltip overflow page view"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![1663902840376](https://user-images.githubusercontent.com/26128706/191885759-d689ef4b-981b-44a7-b9d7-8c99da67135c.jpg)

### What you expected to happen

keep in page view and word-wrap

### How to reproduce

if table column

[2022-09-23 03:40] fengjian1129 commented on #11608
@EricGao888 This issue is about to expire. Does the PR I submitted have any impact ?

[2022-09-23 03:42] EricGao888 commented on #11608
I've removed the `Stale` label. It will not expire.

[2022-09-23 03:47] fengjian1129 commented on #11608
By the way, see if the PR I submitted meets expectations

[2022-09-23 04:22] zcw5116 opened #12119 "[Bug] [ui] build with error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version: dev
build with error，the following：

Downloading **https://nodejs.org/dist/v16.13.1/node-v16.13.1-linux-x86.tar.gz** to /home/imooc/.m2/repository/com/github/eirslett/node/16.13.1/node-16.13.1-linux-x86.tar.gz
[INFO

[2022-09-23 05:01] pandong2011 commented on #12119
From the log information is this version node. Js not downloaded, and https://nodejs.org/dist/v16.13.1/node-v16.13.1-linux-x86.tar.gz repository node does not, so need yourself to download from other sources, Or replace it with another version and skip the check at build time

[2022-09-23 05:21] zcw5116 commented on #12119
Still don't know how to solve this problem?

Can you describe it in more detail?

Still don't know how to solve this problem?

Can you describe it in more detail?

[2022-09-23 05:31] pandong2011 commented on #12119
Dolphinscheduler-ui 3.0.1 is based on VUE3 and therefore requires Node support. During project installation, the frontend-Maven-plugin downloads node from the repository, but there are no node in the repository  https://nodejs.org/dist/v16.13.1/node-v16.13.1-linux-x86.tar.gz

[2022-09-23 05:34] zcw5116 commented on #12119
Thanks， I know this, but how to solve it， could you give me some tips， thank you very much

Thanks， I know this, but how to solve it， could you give me some tips， thank you very much

[2022-09-23 06:09] EricGao888 commented on #11145
This issue has been fixed on dev branch.

[2022-09-23 06:09] #11145 closed, assigned to nobody

[2022-09-23 06:11] EricGao888 commented on #10250
This issue has been fixed.

[2022-09-23 06:11] #10250 closed, assigned to EricGao888

[2022-09-23 06:13] EricGao888 commented on #10585
There is no `step functions` for Alibaba Cloud EMR platform at this moment. Therefore, I'm going to close this issue. If `step functions` is supported in the future, I will reopen this issue.

[2022-09-23 06:13] #10585 closed, assigned to EricGao888

[2022-09-23 06:18] EricGao888 commented on #10295
Hello @WangJPLeo , may I ask whether there is any progress on this issue? Thanks

[2022-09-23 06:35] rickchengx commented on #11262
Hi, @Radeity @ruanwenjun

I agree that the current way of getting the yarn application id from the log is not elegant.
Just for discussion, there is another way to get `yarn application id` as below:

1. We can put some **unique tags** on tasks submitted from DS to yarn. E.g., for spark tasks, we can add the configuration `--conf spark.yarn.tags some_unique_tag`.
2. After the task is submitted, DS

[2022-09-23 06:49] eyeryone opened #12122 "Time out of sync"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version ：DolphinScheduler -3.0.0-beta-2  release
When I update the project name, the time is not synchronized, and the UI and database are inconsistent with the local time！
时间错乱，更新时间为14:15，ui界面显示为06:15，数据库显示为01:15！
并且 日志时间也是

[2022-09-23 07:23] Radeity commented on #11262
Hi, Rick

First, thanks for your idea!

However, i think this way have two problems as follow:
1. Users may create ShellTask and submit not only one yarn job via command
lines which is hard to add configuration.
2. Aop way will simply fetch applicationId and write it into appInfo.log
file. I think it's maybe more efficiency than query it through unique tag.
In fact, I don't get how your idea work?

[2022-09-23 07:27] Radeity commented on #11262
Hi, @rickchengx

First, thanks for your idea! 

However, i think this way have two problems as follow:
1. Users may create ShellTask and submit not only one yarn job via command lines which is hard to add configuration.
2. Aop way will simply fetch applicationId and write it into appInfo.log file. I think it's maybe more efficiency than query it through unique tag. In fact, I don't get how your id

[2022-09-23 07:54] sodamnsure opened #12123 "[Bug] [SQL] Custom parallelism"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Custom parallelism 3, 3 less execution; Parallelism 4, 4 fewer executions, parallelism 5, 5 fewer executions; Parallelism 6, less 4 times; Parallelism 7, less than 3 times；

自定义并行度3，就少3次执行；并行度4，就少4次执行，并行度5，就少5次执行；并行度6，少4次；并行

[2022-09-23 08:01] #12123 closed, assigned to nobody

[2022-09-23 08:17] pandong2011 commented on #12119
Since your Linux is a 32 system and the repository only has packages for 64-bit systems, you can download packages for 32-bit systems from other sources or change your build environment to Windows, which is available for both 32-bit and 64-bit systems
![Uploading node32位.jpg…]()

[2022-09-23 08:18] pandong2011 commented on #12119
Since your Linux is a 32 system and the repository only has packages for 64-bit systems, you can download packages for 32-bit systems from other sources or change your build environment to Windows, which is available for both 32-bit and 64-bit systems
![node32位](https://user-images.githubusercontent.com/100667564/191919357-52fc94c0-38e4-4818-b962-16f3da00b47a.jpg)

Since your Linux is a 32 system

[2022-09-23 08:33] pandong2011 commented on #12119
Since your Linux is a 32 system and the repository only has packages for 64-bit systems, you can download packages for 32-bit systems from other sources or change your build environment to Windows, which is available for both 32-bit and 64-bit systems

![node32位](https://user-images.githubusercontent.com/100667564/191921868-2fd92e02-282b-4c1f-8594-113967ec4814.jpg)

[2022-09-23 08:56] Tianqi-Dotes commented on #12113
both 310 and dev have this issue

[2022-09-23 09:10] EricGao888 opened #12124 "[Improvement][Test] Remove `Powermock` in `dolphinscheduler-master`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Remove `Powermock` in `dolphinscheduler-master`
- This is a sub-task of #11405

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this proj

[2022-09-23 09:26] EricGao888 commented on #11405
I will try to finish all the sub-tasks in Sept. and Oct. However, anyone interested and willing to help are very welcome to pick those sub-tasks. To help with this issue, just create a new issue for the sub-task you want to pick and comment with the issue link below.

[2022-09-23 09:47] fengjian1129 commented on #12004
First, I think u should create a default tenant.
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/35831367/191934329-846ebc2d-af2b-4423-9294-4805e62c2e07.png">
Secondly, u should create users in Linux or Mac systems, for example: user add xxxx

[2022-09-23 10:07] rickchengx commented on #11262
@Radeity , thanks for the reply.

Here is more info about the way by tagging:
1. DS can add some unique tags while building the command of yarn tasks (spark, flink, sqoop, mapreduce, etc.) But `ShellTask` is not included because DS is not responsible for building commands in shell task. **The tag is automatically added by DS, and the user is unaware of it.**
2. After the task is submitted, DS can

[2022-09-23 11:04] thj999 commented on #11404
use 3.0.1, I had the same problem

[2022-09-23 13:52] caishunfeng commented on #12110
same issue #11787

[2022-09-23 13:52] #12110 closed, assigned to Amy0104

[2022-09-23 15:45] pandong2011 commented on #12004
This is because the back-end program has relevant checks. When the workflow is created and executed, the back-end program will be executed as shown in Figure 1, Figure 2, Figure 3 and Figure 4. In Figure 4, when the admin user is used and the default tenant is selected, the check cannot pass

![0](https://user-images.githubusercontent.com/100667564/192000447-217c7b28-338c-4ec0-a231-c48afdf329fb.jp

[2022-09-23 15:47] Radeity commented on #11262
@rickchengx

Thanks for your detailed explanation.

Compared with the tag way, aop can handle shell task, in addition, not invade into DS task definition code. Also, an additional jar package is required, you're right, however, this temporary appInfo log file is just for fetching applicationId in time, when the task is done, appId will be written into TaskExecutionContext as same as original way.

[2022-09-23 15:53] pandong2011 commented on #12004
Rerouting workflow instances will also have relevant checks, The final solution is that if the current user is admin, there is no default option for the front-end save workflow when selecting a tenant, and if the user is a normal user, there is a default option

![4](https://user-images.githubusercontent.com/100667564/192001905-9c89889a-e947-4108-9ee3-11195ec2bb6c.jpg)
![5](https://user-images.git

[2022-09-24 00:29] #11525 closed, assigned to nobody

[2022-09-24 00:29] #11516 closed, assigned to nobody

[2022-09-24 00:29] #11499 closed, assigned to rusonding, Amy0104

[2022-09-24 01:59] #11814 closed, assigned to EricGao888

[2022-09-24 06:38] Tianqi-Dotes opened #12128 "[Bug] [FE] cannot insert space in environment config"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when i create a environment config, i cannot insert space inside the form.

### What you expected to happen

i can  insert space in environment  config

### How to reproduce

type space in the environment  config

### Anythi

[2022-09-24 06:39] Tianqi-Dotes commented on #12128
check the video that i'm typing space to the form
https://user-images.githubusercontent.com/36755957/192083795-892de97a-2e97-42c8-aa7e-475e41b476b7.mp4

[2022-09-24 06:50] Tianqi-Dotes commented on #12089
this pr fixed this problem, please pull the latest code, I have tested the lastest dev is fine.
https://github.com/apache/dolphinscheduler/pull/12064

[2022-09-24 07:10] justindongnz commented on #11404
I had the same issue and tried to compare with v2.
And figured out that the behavior of startup process is different between these two versions.
V2.0.6 uses tpl to generate configuration files under path /opt/dolphinscheduler/conf/ but not in V3

To solve the problem, I used the work around to get it through by using a configmap inject file /opt/dolphinscheduler/conf/common.properties
Change the l

[2022-09-24 08:54] hqzh commented on #12117
it's  seems is the [naive-ui](https://github.com/tusen-ai/naive-ui)  [bug](https://github.com/tusen-ai/naive-ui/issues/3766)，if want quickly to fixed,  in the global style `assets/styles/default.scss` set  Ellipsis components style max-width. @Amy0104 Do you agree with this idea？

[2022-09-24 10:57] #12000 closed, assigned to DarkAssassinator

[2022-09-25 00:25] #11491 closed, assigned to nobody

[2022-09-25 00:25] #11486 closed, assigned to nobody

[2022-09-25 03:11] guowei-su opened #12131 "[Improvement][Master] Optimize the log printing of the master module according to the log specification."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The log printing in the current master module has been optimized in #10516, and there are still some other non-standard parts.
According to the log specification in pr https://github.com/apache/dolphinscheduler/pu

[2022-09-25 04:04] songangweb opened #12132 "[Doc][Module Name] upload v3.0.1 Download the DolphinScheduler releases"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://dolphinscheduler.apache.org/zh-cn/download/download.html

### Documentation Links

https://dolphinscheduler.apache.org/zh-cn/download/download.html

### Are you willing to submit a PR?

- [ ] Yes I am will

[2022-09-25 08:42] pandong2011 commented on #12132
The code for v3.0.1 is not that different from the code for v3.0.0, you can pull the code for release3.0.1 and build it yourself if you want

[2022-09-25 08:55] DarkAssassinator opened #12133 "[Bug] [Dao] Some classes overrides equals(Object), but does not override hashCode()"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

`SpotBugs` found that some classes overrides `equals(Object)`, but does not override `hashCode()`, and inherits the implementation of hashCode() from java.lang.Object (which returns the identity hash code, an arbitrary value

[2022-09-25 09:05] DarkAssassinator opened #12134 "[Improvement][TaskPlugin] Some classes defines a field with the same name as a visible instance field in a superclass"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Some classes defines a field with the same name as a visible instance field in a superclass. This is confusing, and may indicate an error if methods update or access one of the fields when they wanted the other.
1

[2022-09-25 10:51] ROTBOR commented on #11279
assign to me

[2022-09-25 10:54] songangweb commented on #12132
我在使用 3.0.0的时候发现,   想使用资源中心, 按照文档中的配置后   还是一直显示 存储未开启.    因为我不是java栈, 想通过升级最新版本   看能否解决这个问题

[2022-09-25 10:55] ROTBOR commented on #11867
Is it correct way to replace keywords table fields used

[2022-09-26 01:10] #11758 closed, assigned to DarkAssassinator

[2022-09-26 01:29] hqzh commented on #12117
[answer](https://github.com/tusen-ai/naive-ui/issues/3766)  likes great， how much width is standard？

[2022-09-26 01:39] LiuBodong commented on #12128
This may be the same as #11884

[2022-09-26 01:55] brave-lee commented on #3009
Since this is a historical issue and there is no specific details, I close this issue. If there is more detailed information, you can reopen it or create new one.

[2022-09-26 01:55] #3009 closed

[2022-09-26 02:03] brave-lee commented on #6715
The dev version already has this feature, but we will not add new feature in 2.0.7, please note that

[2022-09-26 02:03] #6715 closed, assigned to nobody

[2022-09-26 02:06] JinyLeeChina commented on #7874
@Tianqi-Dotes Can you check pick your pr to 2.0.7 ?

[2022-09-26 02:11] brave-lee commented on #8226
I think this is because there was no image at that time, but it should be normal now

[2022-09-26 02:11] #8226 closed, assigned to nobody

[2022-09-26 02:19] brave-lee commented on #8862
I agree with you, so I close this issue. If someone has other suggest, we can discuss again.

[2022-09-26 02:19] #8862 closed, assigned to zhongjiajie, Hou-Shuaishuai

[2022-09-26 02:29] brave-lee commented on #9320
I think this is parameter replacement, not dynamic SQL. Please note that parameter substitution will enclose quotation marks for parameters. I don't think it's a bug. I close the issue.

[2022-09-26 02:29] #9320 closed, assigned to vankizou

[2022-09-26 02:42] fuchanghai opened #12138 "[Feature][Alert] enable users to customize email content"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- when start  a process Instance。we can only send the default mail format.
- we can use some placeholders to allow users to customize the email format. This feature does not involve the use of rich text
- I can on

[2022-09-26 02:44] brave-lee commented on #9745
#10694

[2022-09-26 02:44] #9745 closed, assigned to nobody

[2022-09-26 02:47] brave-lee commented on #10080
@zhongjiajie Can you cherry pick this pr to 2.0.7 ?

[2022-09-26 02:58] brave-lee commented on #11964
I think this is a feature, not bug, threre are not added new feature in 2.0.7. Please pay attention #12000 in dev version

[2022-09-26 02:58] #11964 closed, assigned to nobody

[2022-09-26 03:04] brave-lee commented on #11999
@lctlover Has PR been submitted for this issue ?

[2022-09-26 03:06] #10802 closed, assigned to labbomb

[2022-09-26 03:08] #10870 closed, assigned to zhuxt2015

[2022-09-26 03:12] #410 closed

[2022-09-26 03:13] #197 closed

[2022-09-26 03:14] davidzollo commented on #190
has Implemented in version 2.x

[2022-09-26 03:14] #190 closed

[2022-09-26 03:14] #167 closed

[2022-09-26 03:15] davidzollo commented on #165
has implemented

[2022-09-26 03:15] #165 closed

[2022-09-26 03:16] #199 closed

[2022-09-26 03:17] #404 closed

[2022-09-26 03:20] #384 closed

[2022-09-26 03:22] #421 closed

[2022-09-26 03:23] #412 closed

[2022-09-26 03:25] #870 closed

[2022-09-26 03:25] #1053 closed

[2022-09-26 03:27] davidzollo commented on #601
is there anybody who would like to implement this feature?

[2022-09-26 03:28] #433 closed

[2022-09-26 03:30] #815 closed

[2022-09-26 03:31] davidzollo commented on #725
has

[2022-09-26 03:31] #725 closed

[2022-09-26 03:31] songjianet commented on #8097
It would take too much work to fix this issue, and it doesn't have much impact right now, so I'll close this issue.

[2022-09-26 03:31] #8097 closed, assigned to nobody

[2022-09-26 03:32] zhuxt2015 commented on #601
Please assign to me.

[2022-09-26 03:44] lctlover commented on #11999
I have solved this problem. There are three tables missing

 three tables from 2.0.6 dolphinscheduler_mysql.sql, and not drop sql,it will fix this problem.
.

CREATE TABLE `QRTZ_BLOB_TRIGGERS` (
  `SCHED_NAME` varchar(120) NOT NULL,
  `TRIGGER_NAME` varchar(200) NOT NULL,
  `TRIGGER_GROUP` varchar(200) NOT NULL,
  `BLOB_DATA` blob,
  PRIMARY KEY (`SCHED_NAME`,`TRIGGER_NAME`,`TRIGGER_GROUP`),
  KEY

[2022-09-26 03:44] #11999 closed, assigned to lctlover

[2022-09-26 03:58] zhongjiajie commented on #10080
close by fb68147c25480d8ae75c1ea8de4edfd24ef79e6f

[2022-09-26 03:58] #10080 closed, assigned to hstdream

[2022-09-26 05:37] dongweizhao opened #12140 "[Bug] [send email] The Chinese name of the email attachment is garbled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

**When using DS to send email, if the attachment name is in Chinese and too long, it will be garbled.
The following results can be reproduced in Outlook mailbox, and QQ mailbox is OK**

<img width="827" alt="image" src="http

[2022-09-26 05:46] caishunfeng commented on #12101
close by same issue #12113

[2022-09-26 05:46] #12101 closed, assigned to nobody

[2022-09-26 05:49] #12113 closed, assigned to Tianqi-Dotes

[2022-09-26 06:10] #12132 closed, assigned to nobody

[2022-09-26 07:01] devosend commented on #12128
Hi, guy, Do you want to fix this problem now? If not, I'll fix it, because it's in a hurry, and it's going to be published soon. @LiuBodong

[2022-09-26 07:28] EricGao888 opened #12144 "[Improvement][Test] Remove Powermock in dolphinscheduler-api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Remove `Powermock` in `dolphinscheduler-api`
- This is a sub-task of #11405

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project

[2022-09-26 07:30] EricGao888 commented on #12144
See #12143 and #11588 for examples.

[2022-09-26 07:31] rickchengx commented on #12144
i am interested

[2022-09-26 07:34] EricGao888 commented on #12144
@rickchengx Thanks for helping out : )

[2022-09-26 07:46] lordk911 opened #12145 "[Bug] [server] NPE when depend node is forbidden"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![企业微信截图_16641728064715](https://user-images.githubusercontent.com/19989300/192219945-3d9a9b64-4875-49cc-835d-4decc415c90e.png)

the process instance keep in runing state. and from the master node I can see the error log :
[

[2022-09-26 08:01] #11608 closed, assigned to fengjian1129

[2022-09-26 08:04] TyrantLucifer commented on #10006
How's the progress of this pr? Can I do this work?

[2022-09-26 08:16] zhongjiajie commented on #10006
Looking forward your contribution

[2022-09-26 08:43] LiuBodong commented on #12128
I have fixed this issue and created the pr, but they don't think it's a bug...

[2022-09-26 08:45] zhangxinjian123 opened #12149 "add read only user"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I want to create a user who has only read permission and cannot operate the scheduling function. How to do it?

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [

[2022-09-26 08:47] stalary commented on #10573
I can get involved in the junit upgrade~ @EricGao888

[2022-09-26 08:53] EricGao888 commented on #10573
@stalary Currently we are working on removing `powermock` because it does not support jUnit 5 and blocks the upgrade. Would u like to participate in #11405 ? Thanks~

[2022-09-26 08:54] stalary commented on #10573
Okay, I can be a part of that.

[2022-09-26 08:56] EricGao888 opened #12150 "[Improvement][Test] Remove Powermock in dolphinscheduler-task-plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Remove `Powermock` in `dolphinscheduler-task-plugin`
- This is a sub-task of #11405

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this

[2022-09-26 08:57] EricGao888 commented on #12150
See #12143 and #11588 for examples.

[2022-09-26 08:58] EricGao888 commented on #10573
@stalary Great! We have #12150 open to contributors. Would u like to pick it up? Thanks

[2022-09-26 09:02] #12124 closed, assigned to EricGao888

[2022-09-26 09:17] stalary commented on #10573
Please assign to me, thanks~

[2022-09-26 09:19] EricGao888 commented on #12150
@stalary

[2022-09-26 09:21] EricGao888 commented on #12150
@stalary Could u plz comment here? It seems GitHub `Assignees` could not find u if u haven't commented in this issue. : )
![image](https://user-images.githubusercontent.com/34905992/192240500-a412f076-a98f-46ef-9d43-0b78ae5b90d8.png)

[2022-09-26 09:27] stalary commented on #12150
I'm here~

[2022-09-26 09:29] EricGao888 commented on #12150
Thanks for helping out : )

[2022-09-26 09:51] zhangxinjian123 commented on #12149
what do you mean? Do you mean this operation is done on the backend?

[2022-09-26 10:21] fuchanghai commented on #11405
Are you fixing the dolphinscheduler-common module @EricGao888

[2022-09-26 11:03] EricGao888 commented on #11405
Yes, I will take care of the rest ones.

[2022-09-26 11:06] #12128 closed, assigned to devosend

[2022-09-26 12:20] WangJPLeo commented on #10295
Sorry for replying so late. Currently, all types of API operation records can be supported, and the operation details have been saved to the database, including all available information such as requests and responses. Data as follows：

display:
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/103574007/192273300-135fa592-27fb-4b7c-b9e0-6ef1a85c9f5a.png">
detail in db:

[2022-09-26 12:25] EricGao888 commented on #10295
@WangJPLeo That's pretty cool! Thanks for the detailed reply : )

[2022-09-26 18:24] guowei-su opened #12154 "[Improvement][worker] Optimize the log printing of the worker module according to the log specification."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The log printing in the worker module has been optimized in [#10516](https://github.com/apache/dolphinscheduler/pull/10516)  by using MDC, and there are still some other non-standard parts.
According to the log sp

[2022-09-27 00:18] EricGao888 opened #12155 "[Improvement][Test] Remove Powermock in dolphinscheduler-service and dolphinscheduler-server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Remove `Powermock` in `dolphinscheduler-service` and `dolphinscheduler-server`
- This is a sub-task of #11405

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-27 00:29] #11573 closed, assigned to nobody

[2022-09-27 01:13] #12055 closed, assigned to nobody

[2022-09-27 01:44] zuzuviewer opened #12156 "[Bug] [Resources] storage not startup"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Resources File Manage module to create directory or file is failure, the error is 'storage not startup'

### What you expected to happen

create directory and file success

### How to reproduce

deploy by docker image with 3

[2022-09-27 01:57] Amy0104 commented on #12156
Have you started up the storage? If not, maybe [this doc](https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/resource/configuration.html) is helpful for you. @zuzuviewer

[2022-09-27 02:05] JunChaoCheng commented on #12156
I am interested in implementing this task ,can you assign me

[2022-09-27 02:23] zuzuviewer commented on #12156
Ok,thanks your reply,and I did with doc ,but here had another error,request reply is '存储操作失败', and the log is

my api-server and worker common.properties config is :
`resource.storage.type=HDFS
resource.hdfs.fs.defaultFS=file:///
resource.storage.upload.base.path=/dolphinscheduler
`

[2022-09-27 02:43] ruanwenjun opened #12157 "[Improvement][Master] Delete the workerGroup in registry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, when we start a worker, the worker will register in registry, registry path is workerGroup/ip:port. It's better to remove the workerGroup in registry.

The problem is that we have maintain the mapping o

[2022-09-27 03:00] caishunfeng commented on #12089
I will close this issue.

[2022-09-27 03:00] #12089 closed, assigned to nobody

[2022-09-27 03:18] caishunfeng commented on #6599
I will close this issue due to longtime no update. Feel free to reopen it.

[2022-09-27 03:18] #6599 closed, assigned to nobody

[2022-09-27 03:48] caishunfeng commented on #11717
related issue: #6586

[2022-09-27 03:49] caishunfeng commented on #11699
Is this issue should be closed? @jieguangzhou @EricGao888

[2022-09-27 04:12] caishunfeng commented on #10332
I will close this issue due to longtime no update, feel free to reopen it.

[2022-09-27 04:12] #10332 closed, assigned to kangyuanjia

[2022-09-27 04:15] caishunfeng commented on #10288
I don't think we should support cross version execute strategy, it will make users misunderstand earsily.

[2022-09-27 04:22] lordk911 commented on #10369
![image](https://user-images.githubusercontent.com/19989300/192431050-e9593a56-3d15-4289-b94b-c5b6a5b9fe8c.png)

I use admin create a file directory on resource manager , but I can't  grant the created file directory permission to the normal user , the checkbox can't be select.

[2022-09-27 05:39] ruanwenjun opened #12161 "[Improvement][Task] Rename MR to Hadoop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We have MR task type.
<img width="1411" alt="image" src="https://user-images.githubusercontent.com/22415594/192441194-9ae2d336-2f70-4f5b-925b-b937bd1127a0.png">

Sometimes, this will make confuse, MR is MapReduce,

[2022-09-27 06:02] brave-lee commented on #10608
@guoshupei Can 2.0.6 version be reproduced ？

[2022-09-27 06:04] brave-lee commented on #10369
Yes, authorized folders are not supported

[2022-09-27 06:10] codyyang0 commented on #10369
I have not receive submits from PR @JinyLeeChina

[2022-09-27 06:19] brave-lee commented on #11227
The log taskInstance id 672 does not end

[2022-09-27 06:32] Amy0104 commented on #12161
It seems to need modification on both the front end and the back end.

[2022-09-27 06:47] brave-lee commented on #10369
Can you submit  PR ？

[2022-09-27 06:52] codyyang0 commented on #10369
I have not submitted PR.  I will try to solve the bug and submit the PR.

[2022-09-27 07:36] guoshupei commented on #10608
I don't use the 2.0.6 version, but I think it still exists

[2022-09-27 07:36] WangJPLeo commented on #10288
I agree wit @caishunfeng, i think the real role of a workflow definition is to provide a portal to create workflow instances, each version may be slightly different or the core content may be different, and each version is a separate entity. So using a certain version of the strategy to affect other versions, it does not seem appropriate.

[2022-09-27 07:40] DarkAssassinator commented on #12161
i can do this easy case

[2022-09-27 07:43] DarkAssassinator commented on #12161
It will be a great experience to expect the front-end and back-end to be completely decoupled so that users can choose the components they need without installing all task plug-ins.

[2022-09-27 07:50] guoshupei commented on #10608
@JinyLeeChina Here's how we do it

![image](https://user-images.githubusercontent.com/29919212/192465855-e8110d00-41e6-4e02-80da-ec6015ed120c.png)
![image](https://user-images.githubusercontent.com/29919212/192466087-d0a17ea7-fbbf-4735-8663-c0830fab214d.png)

[2022-09-27 09:22] jieguangzhou opened #12166 "[Feature][Task Plugin] Add Kubeflow task plugin for MLOps scenario"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The Kubeflow project is dedicated to making deployments of machine learning (ML) workflows on Kubernetes simple, portable and scalable. Our goal is not to recreate other services, but to provide a straightforward

[2022-09-27 09:23] jieguangzhou commented on #12166
Has anyone used DolphinScheduler to schedule Kubeflow tasks？

[2022-09-27 09:40] wcmolin opened #12167 "[Bug] [MasterServer] The retry task was submitted in advance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Nodes A and B run in parallel, node B sets the number of retries to 1, and the interval is 1 minute. Node A succeeds after 10 seconds of running, node B fails immediately, node B will be submitted to standByList, and node A

[2022-09-27 10:31] JunChaoCheng commented on #12156
Is there a more detailed error message.
Have you tried to test locally and it was successful

[2022-09-27 10:49] zuzuviewer commented on #12156
No any other error log.
I don't test locally,just docker

[2022-09-27 12:20] brave-lee commented on #12167
Thanks for your feedback. According to your description, it can be reproduced. I'll try to fix.

[2022-09-27 13:28] #10949 closed, assigned to nobody

[2022-09-27 13:54] DarkAssassinator opened #12170 "[Bug] [Worker] Different clocks will result in delayed execution of tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If the worker's clock early than master's clock, it will cause task delay.
For example:
Master: 12:00
Worker: 11:58
Then all task will delay `≈2min`.
Why?
Because `usedTime` will be a negative number. So `remainTime` > 0
![i

[2022-09-27 14:35] jieguangzhou opened #12171 "[Bug] [UI] UI miss machine learning task group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="205" alt="image" src="https://user-images.githubusercontent.com/31528124/192555751-f6a5cf23-49a4-4778-89c8-f6a8ca029952.png">

<img width="239" alt="image" src="https://user-images.githubusercontent.com/31528124/

[2022-09-28 00:33] #11572 closed, assigned to caojiebing

[2022-09-28 02:06] lordk911 commented on #10369
if authorized folders are not supported, how can this issue happen?  I'm puzzled.

[2022-09-28 03:40] EricGao888 opened #12179 "[Improvement][Test] Remove powermock in datasource-plugin module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Remove `Powermock` in `dolphinscheduler-datasource-plugin`
- This is a sub-task of #11405

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follo

[2022-09-28 04:14] simsicon commented on #11236
`source` is not available in `/bin/sh`, it's replacement in `/bin/sh` is `.`, I think you can either use `/bin/bash` instead of `/bin/sh` or use `.`

[2022-09-28 04:15] simsicon commented on #11236
I just tested it with `3.0.1`, this is still a issue.

[2022-09-28 06:13] #12150 closed, assigned to stalary

[2022-09-28 06:23] #10006 closed, assigned to TyrantLucifer

[2022-09-28 06:37] fuchanghai commented on #12097
@RUIzg when you run a process instance ,will the information that ``` master does not exist  ```  or ``` 无可用master 节点``` alert on the page?

[2022-09-28 06:40] jieguangzhou commented on #12077
This issue is part of #12150

[2022-09-28 06:40] #12077 closed, assigned to nobody

[2022-09-28 07:44] darrkz commented on #11964
I think this is a system design but , tables relationship should use a key of row in different table but not name.

It's  a basic database desgin rule

[2022-09-28 07:46] darrkz commented on #11964
The group was renamed.
and you delete the group , and re-add it back, the worker relationship in group will be wrong...

[2022-09-28 07:55] yqzdy1207 opened #12184 "[Bug] [Dolphin 3.0 spark sql does not support dynamic parameter transfer] Dynamic parameter transfer failure is empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 [Bug] [海豚3.0 spark sql不支持动态传参] 动态传参失败为空

### What you expected to happen

[海豚3.0 spark sql 支持动态传参]

### How to reproduce

[海豚3.0 spark sql 支持动态传参]

### Anything else

_No response_

### Version

3.0.x

### Are you willing t

[2022-09-28 08:12] wangzijian121 commented on #10513
Great, I also encountered this problem today, the version is 3.0.1, I just want to submit an issue, it seems that I just need to modify the document: first copy the jar to tools/libs, and then install~

[2022-09-28 08:28] Leijingwen opened #12185 "[Bug] Passing parameters from upstream to downstream of shell node does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

A节点任务
![image](https://user-images.githubusercontent.com/88963951/192727826-963e6dd7-a010-4ba7-9278-1e7655e52e50.png)
B节点任务
![image](https://user-images.githubusercontent.com/88963951/192727918-862751fc-eb8d-4a8d-8913-215994

[2022-09-28 09:19] edward-yang opened #12189 "[Bug] [API] Circular dependencies are not checked in save process task relation interface ProcessTaskRelationController#createProcessTaskRelation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When saving process task relation through this interface, if there is a circular dependency, it will also be saved successfully.

### What you expected to happen

When save process task relations, If there is a circular depe

[2022-09-28 09:46] EricGao888 opened #12190 "[Improvement][SPI] Remove duplicate PropertyUtils"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we have two `PropertyUtils` in both `common` and `spi` modules.
* It is hard to maintain duplicate util classes.
* Furthermore, `PropertyUtils` in `spi` module gives some kind of initialization error w

[2022-09-28 10:23] Amy0104 commented on #12184
It's better to report an issue with english.

[2022-09-28 10:30] #12171 closed, assigned to jieguangzhou

[2022-09-28 11:07] Chris-playground opened #12191 "[Bug] [Log] Java Doesn't Print Log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I use shell to execute a jar file and there is no log shown on the page, only print start and end.
![image](https://user-images.githubusercontent.com/48941586/192764102-8da877df-b35e-476b-908e-4b97b070a78a.png)

### What you

[2022-09-28 11:09] yqzdy1207 commented on #12184
![image](https://user-images.githubusercontent.com/33902141/192764084-564d041e-6b8a-4436-bf40-d7a6f4c33ae7.png)
![image](https://user-images.githubusercontent.com/33902141/192764267-64a2fb2e-8ced-47a5-9296-1a07637b8f53.png)

show null

[2022-09-28 11:09] yqzdy1207 commented on #12184
show null ,look

[2022-09-28 11:49] forest455 commented on #11093
I found same problem.  I found no workflow running, but why worker keep printing hive connecting logs.
![Uploading IMG_20220928_194714_edit_273430840399422.jpg…]()

[2022-09-28 12:07] jianghanfen opened #12193 "In k8s, the master actually accesses the worker through the pod name: 1234, and the master should access the worker through the service name: 1234"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![0f24e6fed4336b428e3083e6eb58fb3](https://user-images.githubusercontent.com/39332638/192774568-1fdd7c5e-9954-4779-b2a4-a57c19c95a66.jpg)
![ff3aeed2321109990d56610b8dc06c5](https://user-images.githubusercontent.com/39332638/

[2022-09-28 12:15] DarkAssassinator opened #12195 "[Bug] [Worker] DS do not support across time zones."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Current DS do not support across time zones. Many companies currently have scenarios in different time zones. So i think this is important.
For example:
+ Case one:
**Master**:  `Asia/Shanghai (UTC+08:00)`
**Worker**: `Pacif

[2022-09-28 12:18] DarkAssassinator commented on #12191
this jar will print any log or not?

[2022-09-28 12:21] HomminLee opened #12196 "[Question] [Worker] Start too many tasks that consume memory will cause the Worker to crash"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If too many tasks are started at once, and any one of task consume too much memory,  Worker will crash.

Worker will report maxCpuloadAvg and reservedMemory to Master though heartbeat. Master will check Worker status when di

[2022-09-28 12:31] Chris-playground commented on #12191
yes, I put a lot of business log in the code, I can see the log when I run the code in IDEA

[2022-09-28 12:35] DarkAssassinator commented on #12191
may jar just print log to logs, but did not system out to session, so DS cannot get these logs. May u can run `java -jar your.jar`  to check if it will system out logs. thx

[2022-09-28 12:39] Chris-Arith commented on #12191
pls check the snapshot below.
![image](https://user-images.githubusercontent.com/48941586/192780515-c859a9b9-de4b-4d40-8881-1160cb5027a7.png)

[2022-09-28 12:41] Chris-playground commented on #12191
pls check the snapshot below, tks.
![image](https://user-images.githubusercontent.com/48941586/192780916-dd4c4263-f311-42fa-866f-b8b2a90db452.png)

[2022-09-28 12:49] DarkAssassinator commented on #12191
ok, let me check more...

[2022-09-28 12:53] Chris-playground commented on #12191
thanks a lot!
While I tried to use `nohup java -jar xx.jar  >./tmp.log 2>&1 &` to run the jar and use `tail -f ./tmp.log`  to tail the log.
DS will seperate this command into 2 task instances.
Goods news is that I can see the log and bad news is that the `nohup task` wouldn't stop...

[2022-09-28 12:55] EricGao888 commented on #12190
Looks like we will have a cyclic reference if adding `common` dependency into `task-plugin` module:

[code]

![image](https://user-images.githubusercontent.com/34905992/192783331-d0c9dbdf-40c3-4547-a6c3-473ce65262ff.png)

@kezhenxu94 @ruanwenjun @caishunfeng @SbloodyS May I ask whether there are any graceful solutions to this? Thanks

[2022-09-28 13:11] Chris-playground commented on #12191
Ok, thanks a lot. Hereby is the request infomation.
**version**: 3.0.0
**original demand**: We want to run process among different projects, so we made a jar to run processes by using http apis
**descsription**: the logs shown in IDEA but not in DS, we run the jar like this in `SHELL TYPE`
![image](https://user-images.githubusercontent.com/48941586/192786628-c9c50f1c-101e-4fe5-b8fa-666b767395af.pn

[2022-09-28 13:16] DarkAssassinator opened #12198 "[Feature][Task] Delay should support second level."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

now delay just support min level, should we support second level?

### Use case

DS can support delay xx seconds.

### Related issues

Question: https://github.com/apache/dolphinscheduler/discussions/12188

### Ar

[2022-09-28 13:55] DarkAssassinator opened #12199 "[Doc][Cluster] Should add chmod -R 755 after unzip ds tar.gz"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After i unzip the ds 3.0.1 tar.gz, the permission is 700, so other tenent do not have permission
![image](https://user-images.githubusercontent.com/20518339/192797489-8f214aca-6e4f-416b-8575-ef3cb67c2651.png)
![im

[2022-09-28 14:02] DarkAssassinator commented on #12191
Hi @Chris-Arith, it is working fine for me, please check the following screenshots, could u share me more worker logs?
![image](https://user-images.githubusercontent.com/20518339/192798800-defb1774-0a83-4b2f-9445-400865d2ad6f.png)

![image](https://user-images.githubusercontent.com/20518339/192799026-ee15621f-be24-4619-9b62-5923c574f9e5.png)

![image](https://user-images.githubusercontent.com/2051

[2022-09-28 14:52] Chris-playground commented on #12191
I am terribly sorry that I may check the wrong task, it works now...
I made myself misunderstanding that these two task have similar names, what a stupid mistake... Sorry for wasting your valuable time.
However, maybe allowing a high authoried role to manipulate processes between different projects is a good idea as we may need to run these processes together and we don't want to defined it again.

[2022-09-28 14:58] Chris-playground commented on #10513
that's correct, and remember each module's lib is independent, add according libs to each module when you need.

[2022-09-28 15:21] DarkAssassinator commented on #12191
hahaha, it's ok

Just copy to other project? Because my understanding of the project is a kind of work that has been demarcated, if a person with high authority can call the task's transformation from multiple projects, it will break this project definition. WDYT

[2022-09-28 15:53] Chris-playground commented on #12191
We create projects according to business purpose. For example,  firstly, we ingest data from marketing department then resulting to an ads_xxx table after transform. After that ads_xxx will be loaded into doris, and then finance department can see the report based on doris.
These two steps belongs to different projects, sometimes finance department need the latest data, so we need to run these two

[2022-09-29 00:16] #12155 closed, assigned to EricGao888

[2022-09-29 00:33] #11566 closed, assigned to zhuyt1090

[2022-09-29 00:58] hstdream commented on #12002
I think that when deleting the workgroup, it is necessary to verify whether the use.

[2022-09-29 01:45] SbloodyS commented on #10513
You are right. Would you like to submit a pr to fix the docs? :)

[2022-09-29 01:49] Amy0104 commented on #12191
It does not seem to be a bug, so I removed the bug tag.

[2022-09-29 01:58] SbloodyS commented on #12196
This problem can be solved by limiting the maximum execution resources of a single task. And it have been implemented in #10373. Will be release in the 3.1.0-release.

[2022-09-29 02:08] wangzijian121 commented on #10513
I am willing to submit pr, but it seems that this submission has been [773e79,](https://github.com/apache/dolphinscheduler/commit/773ebc9e523d1190dcc31ce63878071d3d2847c1) which is exactly what I want to modify. Ha ha, I will continue to pay attention to the dolphinscheduler issue, thank you~

[2022-09-29 02:15] stalary opened #12201 "[Improvement][UI] Show master/worker-server version in ui"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Show master/worker-server version in ui, This will help us determine if the upgrade is correct at upgrade time.

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-29 03:11] fuchanghai commented on #12161
If the user can customize the page, should we discuss how to design the initial page and prompt the user to add task components

[2022-09-29 03:22] #11771 closed, assigned to fuchanghai

[2022-09-29 03:52] Amy0104 opened #12202 "[Improvement][UI] The `required` should be reactive in the task modal."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The `required` can be reactive in the task modal.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https:/

[2022-09-29 03:54] huangchenguang123 commented on #12185
For node1, setValue is not valid for itself. For node2, there is no need to set parameters. If you are the latest dev branch, please refer to my example. It may have some hidden logic to bother you.
please see https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/parameter/context.html
node1:
<img width="575" alt="image" src="https://user-images.githubusercontent.com/37766284/192934

[2022-09-29 04:00] #12144 closed, assigned to rickchengx

[2022-09-29 06:21] huangchenguang123 commented on #12156
I can use HDFS locally, you can refer to my changes.

update:
resource.storage.type=HDFS
resource.hdfs.root.user=huangchenguang
resource.hdfs.fs.defaultFS=hdfs://localhost:9000

add:
fs.defaultFS=hdfs://localhost:9000

[2022-09-29 06:32] zuzuviewer commented on #12156
wow,thank you very much, I add 'fs.defaultFS=file:///' property and it's effective

[2022-09-29 06:54] huangchenguang123 commented on #12156
You can update the code to the latest version, the problem should have been fixed.And never use 'fs.defaultFS'

see #11823

[2022-09-29 06:55] JunChaoCheng commented on #12156
I think the specific exception information and reason should be printed out, so that it is easier to find the problem and solve it

[2022-09-29 07:34] #11753 closed, assigned to fuchanghai

[2022-09-29 07:51] zuzuviewer commented on #12156
All I could find is written above

[2022-09-29 08:01] #12154 closed, assigned to guowei-su

[2022-09-29 08:13] huangchenguang123 opened #12204 "[Bug] [UI] Some plugins use same name in dag-sidebar.tsx"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

It causes some plugins to unfold together.

![image](https://user-images.githubusercontent.com/37766284/192977101-50831bf5-d519-410e-ab54-162d93b8de65.png)
![image](https://user-images.githubusercontent.com/37766284/19297713

[2022-09-29 08:18] JunChaoCheng commented on #12156
I mean for ds to improve

[2022-09-29 09:38] EricGao888 opened #12208 "[Improvement][Test] Remove powermock in common, alert, worker, etc. modules"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Remove `Powermock` in `dolphinscheduler-common`, `dolphinscheduler-alert`, `dolphinscheduler-log-server`, `dolphinscheduler-spi`, `dolphinscheduler-worker` modules.
- This is a sub-task of #11405

### Are you wi

[2022-09-29 10:44] DarkAssassinator commented on #12198
@Amy0104 could u please add a `Discussion` label?
we need discuss do we need to support this level. cc @caishunfeng @ruanwenjun @SbloodyS

[2022-09-29 11:08] #11678 closed, assigned to HomminLee

[2022-09-29 11:11] ruanwenjun commented on #12195
We need to change the Date to timestamp in request/response between master and worker.

[2022-09-29 11:11] xinxingi opened #12212 "Fix the problem that the script name corresponds to the configuration file and does not match the 3.0.1 upgrade document"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.
![image](https://user-images.githubusercontent.com/49302071/193016929-2b1194e0-3bf6-409d-84e9-76ec6b5af00a.png)

![image](https://user-images.githubusercontent.com/49302071/193017062-043cc1b7-4115-4282-8e4e-5ff80e1d4902.png)

### D

[2022-09-29 12:06] Chris-playground opened #12214 "[Bug] [Data Quality] Oracle Can't Connect Database Different With Username"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I add an oracle datasource to DS, it will report an error when I choose to connnect a database that are different with the username.
It has no problem in MySQL because we can assign a database through the jdbcurl.
But f

[2022-09-29 12:46] DarkAssassinator commented on #11236
i agree with `source`, but may this is not root cause for this case. I faced this case many times, the root casue is some file is not exists, for example: cannot find /bin/datax.py, if we can fix this file, `source: not found` also will be fixed.
Please check https://github.com/apache/dolphinscheduler/discussions/11290

[2022-09-29 13:30] Chris-playground commented on #12191
tks

[2022-09-29 14:27] simsicon commented on #11236
I have already submit this pr https://github.com/apache/dolphinscheduler/pull/12180 to solve the issue, for your reference

[2022-09-29 15:11] DarkAssassinator opened #12221 "[Feature][UI] Add crontab management page in Project level."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now if we want to check and manage cron task, we need to click the workflow defintion one by one.
But if there are huge workflow in one project, and user want to know how many cron task will be will difficult.
![i

[2022-09-30 00:39] #11597 closed, assigned to nobody

[2022-09-30 00:39] #11482 closed, assigned to SbloodyS

[2022-09-30 01:36] simon824 commented on #11533
I had set the config `spring.datasource.minIdle=1` in `common.properties`, but after running for a few weeks I found that the problem still exists, the number of connections is still increasing.

[2022-09-30 01:45] ruanwenjun commented on #12161
This issue is not discuss about decoupling the task plugin.

[2022-09-30 01:56] #11880 closed, assigned to rickchengx

[2022-09-30 02:04] Amy0104 commented on #12221
Add a cron manage page in the security center?

[2022-09-30 02:13] ruanwenjun commented on #11533
You use 3.0.0-release or 3.0.0 beta?

[2022-09-30 02:15] simon824 commented on #11533
3.0.0-release

[2022-09-30 02:16] #11672 closed, assigned to jieguangzhou

[2022-09-30 02:19] ruanwenjun commented on #11669
+1.

[2022-09-30 02:54] DarkAssassinator commented on #12221
I suggest add it in the Project Management, just below Workflow Definition

[2022-09-30 02:57] ruanwenjun commented on #11533
@simon824 @stalary Thanks for report this bug, I have submitted #12226 to fix this.

[2022-09-30 02:58] zhongjiajie commented on #11236
Great! thanks simsicon

[2022-09-30 04:36] Amy0104 commented on #12221
How about add a  `configuration` menu  under the first level menu?

[2022-09-30 05:52] DarkAssassinator commented on #12221
That's great. But I think this is another improvement. Because i think `Cluster, Worker Group, Environment` should not belong to Security. These should belong to `Configuration Center`.
But cron tasks should same as task and workflow, same belong to a special project. WDYT

[2022-09-30 05:58] #12157 closed, assigned to ruanwenjun

[2022-09-30 06:13] hstdream commented on #12091
There are many cases of this kind of error, here you can provide the following detailed reproduction steps.

[2022-09-30 06:15] #12202 closed, assigned to Amy0104

[2022-09-30 06:18] siriume opened #12229 "[Bug] [Worker] SQL query Error when executequery in doris after every interval, what ever jdbc version."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

doris (1.0, 1,1.x, 1.2-dev), execute sql query job failed.
[code]

### What you expected to happen

execute SQL query job succeed every time.

### How to reproduce

doris insert odbc table to doris inner table, every 2 hour

[2022-09-30 06:19] zuzuviewer commented on #12091
just run data quality task, use MySql Source check NULL

[2022-09-30 06:20] hstdream commented on #11657
How to reproduce this issue?

[2022-09-30 06:39] jieguangzhou opened #12230 "[Feature][MLOps Task Plugin] Support more MLOps Task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the new dev branch, we have added a task group name `Machine Learning`.

<img width="332" alt="image" src="https://user-images.githubusercontent.com/31528124/193203730-f28c9467-3af6-4555-a733-e21874f41835.png">

[2022-09-30 07:20] wangfann opened #12231 "[Bug] [service] Some scheduled tasks are not triggered on time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

        数仓同学凌晨报告昨日新增任务未按时触发，问题非常严重，严重影响生产，经排查quartz插件默认参数及cronTrigger对象初始化参数在调度平台同一时刻触发大量任务时会导致调度任务超过触发等待阈值从而导致任务未触发。首先默认参数为org.quartz.threadPool.threadCount = 25、org.quartz.jobStore.misfireThreshold = 60000，cronTrigger错失触发处

[2022-09-30 08:20] YangQian-99 opened #12232 "Some people encounter that the number of work nodes increases, causing the work nodes to drag and get stuck. It is caused by the increase in the number of pre tasks and post tasks of a work node."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Some people encounter that the number of work nodes increases, causing the work nodes to drag and get stuck.

It is caused by the increase in the number of pre tasks and post tasks of a work node.

### Are you wil

[2022-09-30 08:32] yuanyunchu opened #12234 "[Bug] dolphinscheduler/resources createResource method xxx.jar No suitable resolver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler/resources上线服务端createResourcejar包报错
[code]
![image](https://user-images.githubusercontent.com/33806778/193227206-b01aea89-540b-4388-8d6a-5082c58eebaa.png)

本地服务上传jar是成功的
![image](https://user-images.githubuse

[2022-09-30 08:56] qq774724635 opened #12235 "[Bug] When I perform a quality check, the sql executed by the system always has a missing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

### Deployment model：standalone

### Environment：
[code]

### common.properties：
`
data.basedir.path=/tmp/dolphinscheduler
resource.storage.type=HDFS
resource.upload.path=/dolphinscheduler
hdfs.root.user=hdfs
fs.defaultFS=fi

[2022-09-30 09:38] #12179 closed, assigned to EricGao888

[2022-09-30 09:52] zhongjiajie opened #12238 "[Bug] [python] Distribute tarball and wheel error with direct dependency"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

During the distribution tarball release process, I run `python3 -m twine upload --repository testpypi dist/*` to upload but get error with

[code]

we should not raise error during the release process

### What you expected

[2022-09-30 10:08] kezhenxu94 commented on #12190
No, it's a really bad idea to work around this even if there is a solution. There is no reason the common module should depend on the task module, anything inside common module that uses task module should be moved to task-api module.

[2022-09-30 10:13] fuchanghai commented on #11879
@SbloodyS  @Amy0104  I'm interested this issue

[2022-10-01 00:36] #11623 closed, assigned to nobody

[2022-10-01 00:36] #11594 closed, assigned to Zephyrcf

[2022-10-01 02:26] edwardhuanghz opened #12240 "[Bug] [k8s] pod/dolphinscheduler-alert-xx pod deploy error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

kubectl get po,sts,svc,cm,deploy,secret,pvc,pv   -n jufund
# output
NAME                                         READY   STATUS      RESTARTS   AGE    IP               NODE     NOMINATED NODE   READINESS GATES
pod/dolphinsch

[2022-10-01 04:50] #12195 closed, assigned to DarkAssassinator

[2022-10-01 04:57] ruanwenjun commented on #12086
This need to discuss, the tenant is better belong to project rather than user.

[2022-10-02 00:33] #11587 closed, assigned to luojinhao

[2022-10-02 00:33] #11475 closed, assigned to nobody

[2022-10-02 04:00] ChenpiDog opened #12243 "[Question] [Kubernetes] After deploying DolphinScheduler with kubernetes, some problems are encountered in the use process."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Problem 1: Problem 1: I ran a very simple Python task and reported a permission error. Even if I set the tenant as root, the problem still cannot be solved. The official website documentation is too simple, and I did not fin

[2022-10-02 04:04] ChenpiDog commented on #12243
I found the same problem here #11544 , but the problem seemed to be closed without being solved.

[2022-10-02 06:52] ChenpiDog opened #12245 "[Feature][UI] Enables users to customize the task display list."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Dolphinscheduler supports more and more task types. Some task types may never be used by some users. Users can group task types (such as "machine learning") and hide or display task types at will.

### Use case

T

[2022-10-02 06:53] ChenpiDog commented on #12245
This interface
![02baed43fd5d9917b8899a172f5b57d](https://user-images.githubusercontent.com/55483982/193441926-d55d9a09-dcff-41cf-b8b2-85f02e015dd0.jpg)

[2022-10-02 12:58] ChenpiDog opened #12246 "[Feature][Datasource] Data assets"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The datasource can add a **Data Asset** function:
1) Read the meta information of each connected database and generate a **Data Map**;
2) Users can group tables to achieve the **Data Directory** function.
In addit

[2022-10-02 13:43] ChenpiDog commented on #249
+1，海豚3.X版本似乎还没有实现数据血缘功能，这个功能对数据仓库来讲很重要。

[2022-10-02 14:23] laodao commented on #5386
这么久了，这个bug依然存在。已测试docker-compose安装部署的3.0.0,3.1.0都有这个问题。

[2022-10-02 15:10] ChenpiDog commented on #12240
![7d26764688ae5a3db6e8eacd8fc378a](https://user-images.githubusercontent.com/55483982/193461344-be990146-ba3c-437e-af48-8f3d2a114066.jpg)
I also have this problem here. The Pod always has problems.

[2022-10-02 15:29] ChenpiDog commented on #10904
Apache StreamPark (StreamX) and Dinky (DLink) seem to realize the management of Flink on Kubernetes, and their methods can be referred to.

[2022-10-03 00:28] #11664 closed, assigned to WangJPLeo

[2022-10-03 00:28] #11656 closed, assigned to nobody

[2022-10-03 00:28] #11448 closed, assigned to nobody

[2022-10-03 03:30] aspexdaniel opened #12247 "[Improvement][Backend] Build Image for Pushing Tag Events"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently the GitHub Actions workflow publish-docker only builds and pushes images on dev branch. There's no automation for release image building & pushing. We need to update the publish-docker workflow to be tri

[2022-10-03 03:31] #12247 closed, assigned to nobody

[2022-10-03 03:32] danielfree opened #12248 "[Improvement][Backend] Build Image for Pushing Tag Events"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently the GitHub Actions workflow publish-docker only builds and pushes images on dev branch. There's no automation for release image building & pushing. We need to update the publish-docker workflow to be tri

[2022-10-04 00:33] #11554 closed, assigned to HomminLee

[2022-10-04 00:33] #11433 closed, assigned to nobody

[2022-10-04 00:33] #11425 closed, assigned to devosend

[2022-10-04 07:22] pandong2011 commented on #12243
This is a bug has been fixed, you can refer to my modification, modify your local source code, and then redeploy
#11959

[2022-10-04 07:39] pandong2011 commented on #12243
This is a bug has been fixed, you can refer to my modification, modify your local source code, and then redeploy
#11959

[2022-10-04 14:28] drummerglen commented on #12240
I encountered this problem too. Here is the screen shot
<img width="1909" alt="image" src="https://user-images.githubusercontent.com/42017338/193845954-06fe4001-2692-4a11-95aa-8e02a033a744.png">

other logs:
[code]

[2022-10-05 00:32] #11552 closed, assigned to Zephyrcf

[2022-10-05 00:32] #11411 closed, assigned to ltcaxx

[2022-10-05 00:32] #11392 closed, assigned to Zephyrcf

[2022-10-05 06:59] ghost opened #12252 "[Bug] [Task] dependent task can not predicate the status of the corresponding task correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/92249031/193997729-5be1abf4-7f77-44c3-b767-7753f866a2d2.png)
![image](https://user-images.githubusercontent.com/92249031/193997922-6e7b1e22-0c92-4688-a05e-350b8b646684.png)

[2022-10-06 01:11] Zephyrcf commented on #12252
@710700  Hi, I'll fix it.

[2022-10-06 04:52] black-06 commented on #10938
Unlucky, Version 3.1.0 does not include a fix for this bug.

Also, when rolling back to 3.0.1, I found [that pr 11625](https://github.com/apache/dolphinscheduler/pull/11625) may not solve this problem, [What does the line "#!/bin/sh" mean in a UNIX shell script?](https://stackoverflow.com/questions/7366775/what-does-the-line-bin-sh-mean-in-a-unix-shell-script) may be helpful.

Please try this: `ec

[2022-10-07 04:24] lyn916 commented on #11218
![1665116426060](https://user-images.githubusercontent.com/39552917/194467229-d12efc22-81ad-4fea-960c-2f19e5a901fd.jpg)
你修改了logback日志配置
不要让我写英文，初中英语水平，不会

[2022-10-07 05:00] lyn916 commented on #11218
org.apache.dolphinscheduler.server.log.LoggerRequestProcessor#checkPathSecurity

private boolean checkPathSecurity(String path) {
        String dsHome = System.getProperty("DOLPHINSCHEDULER_WORKER_HOME");
        if (StringUtils.isBlank(dsHome)) {
            dsHome = System.getProperty("user.dir");
        }
        if (StringUtils.isBlank(path)) {
            logger.warn("path is null");

[2022-10-07 05:07] #12199 closed, assigned to DarkAssassinator

[2022-10-07 14:48] aiwenmo opened #12254 "[Bug] [Registry] Field named data length is too short in the table named t_ds_mysql_registry_data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The  value of the field named data is a json string that is longer than varchar(200).
Here is an example.
`{"startupTime":1665140265483,"reportTime":1665143024545,"cpuUsage":0.02,"memoryUsage":0.47,"loadAverage":-1.0,"availa

[2022-10-07 16:02] zcw5116 opened #12257 "[Bug] [Data Quality] No main class set in JAR"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. DS Version: 3.1.0
2. Data Quality , datasource clickhouse check null
3. Spark Submit Missing main class

the following logs:

[LOG-PATH]: /opt/dolphinscheduler/worker-server/logs/20221007/7133023937376_2-25-29.log, [HOST]

[2022-10-08 01:47] #12254 closed, assigned to nobody

[2022-10-08 02:23] #12191 closed, assigned to nobody

[2022-10-08 02:25] #11349 closed, assigned to nobody

[2022-10-08 07:23] penguy-up commented on #11632
I have the same problem, how can I solve it？

[2022-10-08 08:35] #10723 closed, assigned to lynn-illumio

[2022-10-08 09:55] #12066 closed, assigned to nobody

[2022-10-08 10:17] liqiquan opened #12259 "[Bug] [Alert, Master] java.lang.NoClassDefFoundError: com/amazonaws/services/s3/model/AmazonS3Exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Use the code of branch  3.1.0, compile the Docker image, deploy it on the k8s, and configure RESOURCE_ STORAGE_ TYPE=S3。 After startup, the following errors are found in the alter and master pod:

java.lang.NoClassDefFoundEr

[2022-10-08 10:24] liqiquan opened #12260 "[Improvement][UI] the process name or task name is not displayed completely"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

On the task definition page, the task name is not displayed completely. If the name is very short, it will not even be displayed.

A string of the same length should be displayed.

The font box should be larger, l

[2022-10-08 11:07] HomminLee commented on #12196
@SbloodyS  It's nothing to do with the memory of a single task. My question is Master can't get Worker status in real time, and dispatch countless tasks to Worker.

The following picture is the master log:

<img width="1412" alt="image" src="https://user-images.githubusercontent.com/25881185/194704265-83a1dbe0-1c68-4b1c-9fde-3b14ee156e0c.png">

At time 1, worker has not enough memory, and Master f

[2022-10-08 12:53] xiaomaiyun commented on #11632
I can't fix that either, I think it's a bug

[2022-10-08 12:57] xiaomaiyun commented on #11632
I can't fix that either, I think it's a bug

[2022-10-08 13:43] fuchanghai commented on #12260
<img width="603" alt="image" src="https://user-images.githubusercontent.com/33984497/194710547-c05061d8-9911-4406-9ca6-2a908c29a297.png">
it's seem good on my computer

[2022-10-08 13:45] fuchanghai commented on #12259
you had fixed it? so can you pull a request to fix it?@liqiquan

[2022-10-08 13:51] fuchanghai commented on #12234
<img width="1494" alt="image" src="https://user-images.githubusercontent.com/33984497/194710773-c2ad68d2-975c-4147-8996-799b5e702551.png">
may be under current directory ```(/text0908)``` had existed same name file which named ``` testsss.jar```

[2022-10-08 13:52] fuchanghai commented on #12234
<img width="1494" alt="image" src="https://user-images.githubusercontent.com/33984497/194710773-c2ad68d2-975c-4147-8996-799b5e702551.png">
may be under current directory ```(/text0908)``` had existed same name file which named ``` dolphinscheduler-api-3.0.0.jar```

[2022-10-08 14:06] fuchanghai commented on #12201
@stalary @Amy0104 maybe we just need show the ```dolphinscheduler-api``` version?and show the on the page of login?

[2022-10-08 14:07] stalary commented on #12229
@siriume doris use proxy to connect?

[2022-10-08 14:42] fuchanghai commented on #12252
@SbloodyS  @insist777  want to fix it

[2022-10-09 00:27] #11714 closed, assigned to MFeng1027

[2022-10-09 00:28] #11686 closed, assigned to nobody

[2022-10-09 01:50] fuchanghai opened #12266 "[Improvement][Doc] some descriptions are unclear in glossary.md"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/33984497/194733783-342b9545-9678-4de8-843c-dbdeec13b99c.png)

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-10-09 01:50] EricGao888 commented on #11856
closed by: #12017

[2022-10-09 01:50] #11856 closed, assigned to huahuacheng

[2022-10-09 01:56] ruanwenjun commented on #12190
How about make `task-api` rely on the common module?

[2022-10-09 02:10] Zephyrcf commented on #12252
😆, It seems that everyone is busy.

[2022-10-09 02:14] Zephyrcf commented on #12260
Browser problem, just change to Google Browser.

[2022-10-09 02:18] EricGao888 commented on #12190
FYI, here are the files of `task-api` which `common` depends on:

[code]

I need more time to look into them to see whether to move those constant and utility stuff into `common` module or move the code depend on them into `task-api` module.

[2022-10-09 02:23] lgcareer commented on #12240
@caishunfeng @ruanwenjun @chengshiwen  Hi,  Could you please check this issue?thx.

[2022-10-09 02:28] wangsong8586 opened #12267 "[Bug] Resouce center can not create file and directories"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1)On the resouce center page, create directory failed

### What you expected to happen

1)On the resouce center page, we should create directory successfully

### How to reproduce

1) login to the web
2)click "Resouces" tab

[2022-10-09 02:29] wangsong8586 commented on #12267
The user has full privileges on hdfs root

[2022-10-09 02:38] RUIzg commented on #12097
@fuchanghai   not any error infomation ,  alert a  success  tip on the page

[2022-10-09 02:47] #11663 closed, assigned to Tianqi-Dotes

[2022-10-09 03:12] liusy-bd commented on #12267
3.1.0  我也是这个问题 换到3.0.0 可以了

[2022-10-09 03:14] Flutemr opened #12268 "[Bug]2.0.6 Upgrade 3.1.0 failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Our cluster is CDH, and the zk version is 3.4.5. We plan to upgrade the DS2.0.6 version to version 3.1.0, but it shows that the registration cannot be done. It may be that the zk version does not match. What is the zk versio

[2022-10-09 03:25] caishunfeng commented on #12240
I think the reason is alert-server init `StoreConfiguration`, which it doesn't need to do.

You can try to remove the common properties in `templates/deployment-dolphinscheduler-alert.yaml`.

[2022-10-09 03:37] liusy-bd opened #12269 "Why delete the Resource Center repeat file upload function in version 3.0.1 ?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Why delete the Resource Center repeat file upload function in version 3.0.1 ?

The task flow that causes the jar package to go online needs to go offline before it can be uploaded. If a jar package has dozens of t

[2022-10-09 03:39] liusy-bd commented on #12269
![8c2769d2ef21a63ee8ec6ea912e4923](https://user-images.githubusercontent.com/69708156/194736773-918918c1-8b1e-42a5-9d13-1cd0d933962d.jpg)

[2022-10-09 04:55] EricGao888 commented on #12269
If u update the resource using by multiple online workflow definition, how could u know which version of the resource will be used by those workflow instances? This may cause inconsistency and unexpected issue.

[2022-10-09 04:55] EricGao888 commented on #12269
If u update the resource using by multiple online workflow definition, how could u know which version of the resource will be used by those workflow instances? This may cause inconsistency and unexpected issue.

[2022-10-09 05:20] wangsong8586 commented on #12267
Yes, I change back to 3.0 and everything runs normal

[2022-10-09 05:47] EricGao888 commented on #12267
@wangsong8586 Could u plz post your `common.properties`?

[2022-10-09 05:56] #12131 closed, assigned to guowei-su

[2022-10-09 06:05] liusy-bd commented on #12269
There should also be a button to unify the JAR tasks. Otherwise, if I have eight tasks and a new task is added and the eight tasks are not changed, do I need to repeat the online operation to upload the JAR

[2022-10-09 06:06] liusy-bd commented on #12269
There should also be a button to unify the JAR tasks. Otherwise, if I have eight tasks and a new task is added and the eight tasks are not changed, do I need to repeat the online operation to upload the JAR

[2022-10-09 06:08] SbloodyS commented on #12268
Hi @Flutemr , you can try versions above 3.8.0.

[2022-10-09 06:08] wangsong8586 commented on #12267
[common.properties.txt](https://github.com/apache/dolphinscheduler/files/9740858/common.properties.txt)

[2022-10-09 06:14] wangsong8586 commented on #12267
HDFS super user is dolphinscheduler(os user) , and  the hdfs processes are started by dolphinscheduler

HDFS super user is dolphinscheduler(os user) , and  the hdfs processes are started by dolphinscheduler

[2022-10-09 06:16] EricGao888 commented on #12269
Well, I think this is reasonable. Would you like to submit a PR for this?

[2022-10-09 06:23] jamescheng16 opened #12274 "[Bug] [Workflow Definition] copy workflow error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

press copy workflow button get an error. here's log
![Screen Shot 2022-10-09 at 14 18 46](https://user-images.githubusercontent.com/4263914/194741387-8e829736-54a7-4b40-af3b-5d4fd6a6c5f2.png)
`[ERROR] 2022-10-09 06:18:41.012

[2022-10-09 07:39] EricGao888 commented on #12267
I just checked the dev branch, things worked fine. I will double-check the 3.1.0 branch later.

[2022-10-09 08:12] wangsong8586 commented on #12267
I tried both upgrading from 3.0 to 3.1.0 and newly installed 3.1.0,  the same problem occurs

[2022-10-09 09:37] Tianqi-Dotes opened #12277 "[Improvement][DAO] the name of task_name of table t_ds_fav_task need to change"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

change task_name  to task_type

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/fou

[2022-10-09 09:58] calvinjiang opened #12279 "[Bug] [API] When creating a user and throwing an exception the user can be created successfully."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Currently when creating a user in DolphinScheduler the API will create the resource directory at the same time. Sometimes the settings of storage is not correct, so the process of creating the resource file will throw an exc

[2022-10-09 10:30] siriume commented on #12229
proxy or not, it always errors.

[2022-10-09 10:48] jackfanwan commented on #12274
@SbloodyS Hi, can you assign it to me?

[2022-10-10 00:31] #11739 closed, assigned to nobody

[2022-10-10 00:31] #11729 closed, assigned to nobody

[2022-10-10 00:56] EricGao888 commented on #11781
WIP, no stale

[2022-10-10 01:34] #12279 closed, assigned to nobody

[2022-10-10 01:37] #12266 closed, assigned to fuchanghai

[2022-10-10 01:39] jianghanfen opened #12283 "[BUG] Python task Permission denied"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![30edf482014451849b4e38cfaf92509](https://user-images.githubusercontent.com/39332638/194789101-a300dc58-f1e2-4ecc-8ee4-12c80242bead.jpg)
![8543fc64d0befc7a2d2e8172249ed15](https://user-images.githubusercontent.com/39332638/

[2022-10-10 02:01] #7745 closed, assigned to nobody

[2022-10-10 02:06] SbloodyS opened #12284 "[Doc][Installation] Wrong version of zookeeper"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Should be 3.8.0 at least.

### Documentation Links

https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/installation/pseudo-cluster.html

### Are you willing to submit a PR?

- [ ] Yes I am willin

[2022-10-10 02:43] #12208 closed, assigned to EricGao888

[2022-10-10 03:09] xbyang18 commented on #5822
everyone,is this feature enable for this v3.0.0 now? I find it was not used by latest 3.1.0,and there was not invoke addAudit method from source code

[2022-10-10 03:14] duhanmin opened #12287 "[Feature][DATAX] DATAX may run out of system resources"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Just fixed a bug with datax-web that was draining the operating system resources. Could dolphinscheduler also have this issue,If there is a problem, I am willing to contribute to submit PR

https://github.com/WeiY

[2022-10-10 03:44] xbyang18 commented on #10295
yes,org.apache.dolphinscheduler.api.service.AuditService#addAudit is not used anywhere.
I use latest v3.1.0
I dont understand why has the feature with UI, we release every version must examine ,so it is apache product

[2022-10-10 03:44] EricGao888 commented on #10573
Usage of `Powermock` has been fully removed from the whole project : )

[2022-10-10 05:37] tuchg commented on #12284
@EricGao888 @SbloodyS hi, i want to try

[2022-10-10 05:39] SbloodyS commented on #12284
Great. I've assigned to you. Looking forward to your contribution.

[2022-10-10 06:01] #12231 closed, assigned to wangfann

[2022-10-10 06:16] rickchengx opened #12289 "[Improvement][k8s] update the common.properties in values.yaml"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

update the common.properties in values.yaml

such as `resource.alibaba.cloud.access.key.id`

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follo

[2022-10-10 06:20] apache-kun commented on #12240
test no use

[2022-10-10 06:24] tuchg commented on #12284
thx. it's done

[2022-10-10 06:44] SbloodyS commented on #12287
Please use the issue format. I'll close this issue.

[2022-10-10 06:44] #12287 closed, assigned to nobody

[2022-10-10 06:49] liqiquan commented on #12260
We used the 3.1.0 version of the UI to test. Because the name is too short, the problem of displaying completion no longer exists.However, when the name is greater than 22 characters, the end of the name will not be displayed completely.

Compared with version 2. x, at least 32 characters are displayed. 1. x version, displaying at least 60 characters. In addition, 1. x and 2. x will display more c

[2022-10-10 06:57] brave-lee commented on #10369
Hi @codyyang0 ,I think not support authorized folders is not bug, and you can submit a improvement pr to dev

[2022-10-10 07:08] #12284 closed, assigned to tuchg

[2022-10-10 07:37] rickchengx opened #12293 "[Improvement] Update the common.properties in api-test-case and e2e-case"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Update the common.properties in api-test-case and e2e-case

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct

[2022-10-10 08:10] wushanru commented on #5689
@davidzollo Is there any unfinished problem suitable for beginners? I can do it

[2022-10-10 08:10] brave-lee commented on #11227
Judging from the log, it is found that the readyToSubmitTaskQueue will not be removed after the task succeeds, which is impossible in the 206 code. Please redeploy the code to try.

[2022-10-10 08:16] #12167 closed, assigned to JinyLeeChina

[2022-10-10 08:53] EricGao888 opened #12296 "[Improvement][Test] Close static mock"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* In some UT cases, static mocks are not closed after used. This may cause unexpected UT failure. The best practice is to handle it with `try-with-resource`, see the code below for an example:

https://github.com/

[2022-10-10 08:54] rickchengx commented on #12296
interested

[2022-10-10 08:57] EricGao888 commented on #12296
Great, thx for help.

[2022-10-10 09:00] #12189 closed, assigned to edward-yang

[2022-10-10 10:20] XuJianYang opened #12298 "[Bug] [Module Name] Resume execution global parameters disappear"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

运行shell任务，暂停再恢复后，配的全局参数会消失
![Untitled](https://user-images.githubusercontent.com/59298390/194843030-738b75f9-0044-4b90-a424-81f27b3ac345.png)

### What you expected to happen

希望任务暂停后，点击恢复任务，原先设置的全局参数不会消失

### How to reprodu

[2022-10-10 12:48] EricGao888 opened #12301 "[Migration][Test] jUnit4 -> jUnit5 UT cases migration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* This is part of DSIP-10 #10573

* By this moment, we have added jUnit 5 dependencies #11332 and removed all `Powermock` related code #11405. It is high time that we migrate all the UT cases from jUnit 4 to jUnit

[2022-10-10 13:24] DarkAssassinator commented on #12301
hi @EricGao888 may i can help to `jUnit4 -> jUnit5 UT cases migration`. any module is ok

[2022-10-10 13:29] EricGao888 commented on #12301
Great! Thanks for the help. Currently I'm estimating the workload. I will divide this issue into sub-tasks by Wednesday. And you are free to choose any sub-task you like to help with this issue at that time : )

[2022-10-11 00:26] wangsong8586 commented on #12267
Hello, any progress?

[2022-10-11 01:52] fuchanghai commented on #11825
this issue had been fixed

[2022-10-11 01:52] #11825 closed, assigned to fuchanghai

[2022-10-11 01:59] ruanwenjun commented on #12138
Good idea, we can provide some placeholder e.g. {projectName}, {WorkflowInstanceName}, {TaskInstanceName}...

[2022-10-11 02:13] jieguangzhou opened #12302 "[Improvement][Pydolphinscheduler] print workflow url or workflow instance url after pyds submit or run a workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After submitting the task using pyds, If we can show a message about the link to the UI of dolphinscheduler, that will improve the pydolphinscheduler experience.

### Are you willing to submit a PR?

- [x] Yes I a

[2022-10-11 02:20] #11590 closed, assigned to wangfann

[2022-10-11 02:56] jieguangzhou commented on #12302
After we execute the command
[code]

we can get message like this:
[code]

[2022-10-11 02:58] EricGao888 commented on #11637
BTW, we need to move these two dependencies from each module to root pom.
https://github.com/apache/dolphinscheduler/blob/18ef0a66cb91d9dfe6406f8ade6cfb2cff36492e/dolphinscheduler-common/pom.xml#L63-L74

[2022-10-11 03:08] fuchanghai commented on #12138
- This is what we did in our secondary development。
- However, I believe that each module does not have the same variable access, so we should provide the variables that the module can provide in each place where the content of the email is defined
- To prevent spelling errors, you should do a select variable and then add operation in the front end

[2022-10-11 03:09] zhoujingmin commented on #12257
Exception in thread "main" org.apache.spark.SparkException: Cannot load main class from JAR file

[2022-10-11 03:23] #12274 closed, assigned to jackfanwan

[2022-10-11 03:26] XuJianYang opened #12303 "[Bug] [UI] Task instance running UI disappears"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

流程实例进去没有启动按钮

![Untitled](https://user-images.githubusercontent.com/59298390/194990050-3b84baac-f55c-4ab2-9970-db2815b59e68.jpeg)

### What you expected to happen

希望跟之前版本一样，会有运行按钮
![Untitled](https://user-images.githubuserc

[2022-10-11 03:45] jieguangzhou opened #12304 "[Bug] [UI] The task status in safari is displayed incorrectly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1584" alt="image" src="https://user-images.githubusercontent.com/31528124/194992347-946014ee-597d-4250-a7a3-539d111afaa4.png">

It looks like all the ICONS are converging in the upper left corner

<img width="92"

[2022-10-11 06:35] xinge-1 commented on #10436
Is this a commercial version? Why can't I see the principal configuration on the UI interface when I open source version 3.0.0

[2022-10-11 06:42] liqiquan opened #12305 "[Improvement][UI] The global variable of process cannot be null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In version 3.1.0, the global variable of process cannot be null. Is there any design consideration?

For some processes, the value of the global variable is not fixed, so we do not set the default value of the glo

[2022-10-11 06:47] ghostbody commented on #11557
+1.

And I am curious what advantages does dolphinescheduler have comprare to Apache Airflow? Performance?

[2022-10-11 06:58] xushoubao commented on #10282
你好，来件已收到，我会及时回复！

[2022-10-11 07:00] HuntFalcon commented on #8786
邮件已收到，我会尽快给您回复！

[2022-10-11 07:25] fhygh commented on #11913
@pandong2011 我本地修改你提的那个pr的四个文件，打包后部署上，密码还是明文的，请问下大概是什么原因呢？

[2022-10-11 08:06] zixi0825 commented on #4283
In cdh，adding hive-site.xml
into /opt/cloudera/parcels/SPARK2/lib/spark2/conf can solve the problem

On Fri, May 20, 2022 at 10:39 AM a092cc ***@***.***> wrote:

[2022-10-11 08:13] #12296 closed, assigned to rickchengx

[2022-10-11 08:24] DarkAssassinator commented on #12301
I can do `master` `worker` `remote` `common` `service` `spi`, and i can take this opportunity to familiarize myself with the source code again

[2022-10-11 08:27] LeanLeeOne opened #12306 "[Bug] [UI]The password item always is disabled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/29997678/195035243-312e8e7c-f25c-4280-a0eb-d81a645c9e6a.png)
As shown in the figure above，the password item always is disabled.

### What you expected to happen

As shown in

[2022-10-11 08:27] EricGao888 commented on #12301
@DarkAssassinator Sure, feel free! Could u please create two issues and post the links in the comment? I will link them to the `sub-tasks` section. Thx.

[2022-10-11 08:51] zengqiyan commented on #9430
已收到，谢谢

[2022-10-11 08:56] ruanwenjun commented on #12107
closed by #12108

[2022-10-11 08:56] #12107 closed, assigned to boy-xiaozhang

[2022-10-11 09:01] duhanmin opened #12307 "[Feature][DATAX] DATAX may run out of system resources"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Just fixed a bug with datax-web that was draining the operating system resources. Could dolphinscheduler also have this issue,If there is a problem, I am willing to contribute to submit PR

https://github.com/WeiY

[2022-10-11 09:05] haorengoodman opened #12308 "Variables in spark-sql script in 3.0.1 cannot be replaced"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

spark-sql 脚本中的变量无法替换

### What you expected to happen

[code]
脚本中的dt无法使用自定义的时间参数（$[yyyy-MM-dd]）替换

### How to reproduce

[code]
脚本中的dt无法使用自定义的时间参数（$[yyyy-MM-dd]）替换

### Anything else

_No response_

### Version

3.0.x

### A

[2022-10-11 09:17] lizhongshuai commented on #10808
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月6日(星期三) 下午5:39
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [apach

[2022-10-11 09:52] EricGao888 commented on #12267
@rickchengx Could u plz help take a look? Thx

[2022-10-11 09:53] rickchengx commented on #12267
Sure.

[2022-10-11 09:58] pandong2011 commented on #11913
你修改完了文件后，先在本地跑起来，然后再去部署到生产，本地到生产部署中间有很长的链路，你具体问题出现在哪个环节我也不清楚，当然，如果遇到问题你可以把详细日志信息发出来，看我能不能帮助到你

[2022-10-11 10:11] seagle-yuan opened #12312 "[Improvement][api-server] add unixtime parameter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

add unixtime parameter
such as  $[unixtime(yyyyMMddHHmmss)],$[unixtime(yyyyMMddHHmmss-1)],$[milli_unixtime(yyyyMMddHHmmss-1)]

get unixtime or million unixtime

### Are you willing to submit a PR?

- [X] Yes I am

[2022-10-11 11:51] EricGao888 opened #12313 "[Migration][Test] Migrate all UT cases from jUnit 4 to jUnit 5 in alert and api module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Migrate all UT cases from jUnit 4 to jUnit 5 in alert and api module.
* This issue is a sub-task of #12301

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X]

[2022-10-11 12:08] gwdgithubnom opened #12314 "[Bug] [dolphinscheduler-dao] Upgrade to 3.1.0 release version: t_ds_worker_group do not contain field 'description'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when save a new work group, it always alert an error.
![1](https://user-images.githubusercontent.com/13328198/195082279-f87f1486-b6cf-47a2-b9d8-5ecfb068ab69.png)

happend in the error log：
![2](https://user-images.githubuser

[2022-10-11 12:15] tjudadc commented on #12257
you should add param like this:

--conf spark.yarn.maxAppAttempts=1  --class org.apache.dolphinscheduler.data.quality.DataQualityApplication

[2022-10-11 12:17] rickchengx commented on #12267
@EricGao888 @wangsong8586 It seems that user can not create file and directories in 3.1.0. My test results are the same.
<img width="1358" alt="image" src="https://user-images.githubusercontent.com/38122586/195086597-f8e34cf4-3f55-4512-a9d9-979d843e19cc.png">

[2022-10-11 12:41] EricGao888 commented on #12267
Got it, thx

[2022-10-11 13:11] fuchanghai commented on #12301
hi @EricGao888 may i can help to  ``` jUnit4 -> jUnit5 UT cases migration ```

[2022-10-11 13:14] DarkAssassinator opened #12316 "[Migration][Test] Migrate all UT cases from jUnit 4 to jUnit 5 in master, worker and remote module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description
+ Migrate all UT cases from jUnit 4 to jUnit 5 in master, worker and remote module.
+ This is a part of: https://github.com/apache/dolphinscheduler/issues/12301

### Are you willing to submit a PR?

- [X] Yes I am

[2022-10-11 13:15] DarkAssassinator opened #12317 "[Migrate ][Test] Migrate all UT cases from jUnit 4 to jUnit 5 in common, service and spi module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description
+ Migrate all UT cases from jUnit 4 to jUnit 5 in common, service and api module.
+ This is a part of https://github.com/apache/dolphinscheduler/issues/12301

### Are you willing to submit a PR?

- [X] Yes I am wil

[2022-10-11 13:15] EricGao888 commented on #12301
@fuchanghai Sure, would u like to pick the `dao` module?

[2022-10-11 13:17] fuchanghai commented on #12301
yes

[2022-10-11 13:18] DarkAssassinator commented on #12301
@EricGao888 Sure, please check the following issues:
+ [x] Migrate all UT cases from jUnit 4 to jUnit 5 in master, worker and remote module : #12316
+ [x] Migrate all UT cases from jUnit 4 to jUnit 5 in common, service and spi module:  #12317

[2022-10-11 13:29] EricGao888 commented on #12301
Thanks, I've linked them in the sub-tasks above.

[2022-10-11 13:39] DarkAssassinator opened #12318 "[Bug] [Doc] Code Style is a Dead link"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when i click the `Code Style`, found it is a dead link.
![image](https://user-images.githubusercontent.com/20518339/195106426-5bb61b77-07d2-4f9d-873a-b3a88889d301.png)

![image](https://user-images.githubusercontent.com/2051

[2022-10-11 13:39] fuchanghai opened #12319 "Migrate all UT cases from jUnit 4 to jUnit 5 in dao module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Migrate all UT cases from jUnit 4 to jUnit 5 in ```dao ```module.
- This is a part of #12301

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to fo

[2022-10-11 13:42] fuchanghai commented on #12301
@EricGao888 plz check the issue #12319

[2022-10-11 13:44] kezhenxu94 commented on #12190
I'm working on this to move classes in common module to more suitable modules, and remove the duplicated PropertyUtils

[2022-10-11 13:44] DarkAssassinator commented on #12318
but in zh doc, it's working fine. but Official Website is not

[2022-10-11 13:44] EricGao888 commented on #12301
@fuchanghai done, thx

[2022-10-11 13:48] EricGao888 commented on #12190
@kezhenxu94 Cool! Thanks.

[2022-10-11 14:12] EricGao888 commented on #12318
Not only the link for `code style`, actually all the hyper links created with `.md#xxx` in docs fail, such as https://github.com/apache/dolphinscheduler/blob/04e1b88c1c423ca9216af34539cdedf1ac405e82/docs/docs/en/guide/task/chunjun.md?plain=1#L14

Need to find out why.

[2022-10-11 14:43] EricGao888 commented on #12318
@DarkAssassinator One hotfix is to global search `.md#` in the `docs` folder and remove all `#xxxx`.

[2022-10-11 15:05] DarkAssassinator commented on #12318
ohh right, but i don't know the reason, as i know,  this link should working fine.

[2022-10-11 15:25] EricGao888 opened #12322 "[Migrate][Test] Migrate all UT cases from jUnit 4 to jUnit 5 in data-quality, datasource-plugin and registry module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Migrate all UT cases from jUnit 4 to jUnit 5 in data-quality, datasource-plugin and registry module.
* This issue is a sub-task of #12301

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a

[2022-10-11 16:15] zcw5116 commented on #12257
It's not ok, There are still some serious problems，
such as hdfs namenode addresss, the default value is mycluser:8020, and cannot modified。
Another problem， the jars dependencies， are not packaged in the data quality jar

[2022-10-11 16:23] zcw5116 commented on #12257
There are still some serious problems，
such as hdfs namenode addresss, the default value is mycluser:8020, and cannot modified。
Another problem， the jars dependencies， are not packaged in the data quality jar

[2022-10-11 16:24] zcw5116 commented on #12257
There are still some serious problems，
such as hdfs namenode addresss, the default value is mycluser:8020, and cannot modified。
Another problem， the jars dependencies， are not packaged in the data quality jar

[2022-10-12 00:29] tjudadc commented on #12257
you should modify the hdfs namenode addresss.  my  dolphhinscheduler home is /home/dolphincheduler/dolphin,which is the installed path,not the download path.

[2022-10-12 00:35] tjudadc commented on #12257
the jars you should modify the config , refer  https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/guide/data-quality.html.
<server-name>/conf/common.properties
data-quality.jar.name=dolphinscheduler-data-quality-dev-SNAPSHOT.jar
![D5CC422E-0766-40f9-BC74-3D1B769B1FF2](https://user-images.githubusercontent.com/42208489/195222787-c64725e7-c87e-4f51-a16d-3e63db4b2bef.png)

make sure your

[2022-10-12 00:36] #11706 closed, assigned to nobody

[2022-10-12 00:36] #11388 closed, assigned to nobody

[2022-10-12 00:45] haorengoodman commented on #12308
![image](https://user-images.githubusercontent.com/6840026/195223310-5dd4d7ec-4500-458f-a7de-db58e9f09e12.png)

![image](https://user-images.githubusercontent.com/6840026/195223354-67b5457d-a033-4f87-88b1-092e7a35d66a.png)

[LOG-PATH]: /opt/dolphin/install/worker-server/logs/20221012/7172773527040_35-121-137.log, [HOST]:  Host{address='10.20.20.12:1234', ip='10.20.20.12', port=1234}
[INFO] 2022-10

[2022-10-12 00:52] jamescheng16 opened #12323 "update task definition error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. change the content of a task definition, and press save button,then get the error
2.
![Screen Shot 2022-10-12 at 08 50 25](https://user-images.githubusercontent.com/4263914/195224141-a4ff4a6e-8e24-437e-985b-4f3f98d0956f.p

[2022-10-12 01:01] #11289 closed, assigned to zhongjiajie

[2022-10-12 01:25] zj619 opened #12325 "[Bug] workflow state is FAILURE when last task node is forbidden"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/40164590/195226631-9ec2b01a-79ad-4fb2-b67b-d40cf64bd2cc.png)
![image](https://user-images.githubusercontent.com/40164590/195226676-f7d1eca6-8555-4160-a696-0f11324fae1e.png)

[2022-10-12 01:26] zcw5116 commented on #12257
But this jar is not a fat jar, such as clickhouse and mysql driver are not contained

[2022-10-12 02:00] tjudadc commented on #12257
why not you copy mysql driver to your spark_home

[2022-10-12 02:02] zcw5116 commented on #12257
mysql is ok, but clickhouse depends on more jar packages

[2022-10-12 02:03] DarkAssassinator commented on #12323
May u can check this error in FAQ

[2022-10-12 02:08] jamescheng16 opened #12327 "master can't start workflow process correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

master can't start workflow process correctly
here's log
`[INFO] 2022-10-12 02:06:11.154 +0000 org.apache.dolphinscheduler.server.master.runner.WorkflowEventLooper:[78] - [WorkflowInstance-4888][TaskInstance-0] - Workflow ev

[2022-10-12 02:20] jamescheng16 commented on #12323
could this bug be fixed at future version?

[2022-10-12 04:17] ruanwenjun opened #12331 "[Improvement][API] Use springdoc-openapi to replace springfox"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since springfox will not update.

related doc: https://springdoc.org

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code

[2022-10-12 06:31] fuchanghai commented on #12331
@ruanwenjun like following?
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/33984497/195266707-bc1e064a-88eb-43ff-8bc3-6b104cb960bb.png">
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/33984497/195266914-575d1a0c-f91d-497e-891c-4f87b194f59b.png">

[2022-10-12 07:24] rickchengx opened #12333 "[Migration][Test] Migrate all UT cases from jUnit 4 to jUnit 5 in microbench and e2e module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Migrate all UT cases from jUnit 4 to jUnit 5 in microbench and e2e module.
* This issue is a sub-task of #12301

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

[2022-10-12 07:25] rickchengx commented on #12301
Hi, @EricGao888 I want to try microbench and e2e.
* Here is the issue #12333

[2022-10-12 07:42] pandong2011 commented on #12327
This involves a task definition update issue, which has been fixed
#12064

[2022-10-12 07:46] jtao3212 commented on #9231
expect

[2022-10-12 07:49] EricGao888 commented on #12301
Sure, thx.

[2022-10-12 07:55] #12289 closed, assigned to rickchengx

[2022-10-12 08:05] rickchengx opened #12335 "[Improvement][ui] Make the resources to be reactive in hivecli task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Make the resources to be reactive.
* related: #12225 and #11882

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Co

[2022-10-12 08:32] jieguangzhou commented on #12166
- For a normal scenario, we can use the command like `kubectl -f  train.yaml` or java sdk to apply a job to kubeflow
- For the kubeflow pipeline, we can use a python script like the python task plugin.

We need to configure the k8s cluster information and synchronize the pods status
<img width="1530" alt="image" src="https://user-images.githubusercontent.com/31528124/195292350-ffddbd47-2c19-4e50-8

[2022-10-12 09:37] jamescheng16 commented on #12327
version :  apache-dolphinscheduler-3.1.0-bin, this bug still exists

[2022-10-12 11:55] taizilongxu opened #12338 "[Improvement][Data Quality] Set the engine to run task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The data quality is a good idea to monitor our data, but the default spark engine will be slow to run some hive or impala sql(like partition count, table count ), can we set hive or other jdbc engine to run rather

[2022-10-12 13:47] zuzuviewer opened #12339 "[Bug] [dolphinscheduler-api] Optional query parameter is primitive type without default value"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

'PUT /projects/{projectCode}/schedules/{id}' and 'PUT /projects/{projectCode}/schedules/update/{code}' have optinal int query parameter 'warningGroupId' without default value, so request these without query parameter 'warnin

[2022-10-12 14:49] tgaliotto commented on #11322
up

[2022-10-12 16:11] pandong2011 commented on #12327
u may need to clean your database of dirty data

[2022-10-13 00:31] #11766 closed, assigned to nobody

[2022-10-13 01:50] #11669 closed, assigned to nobody

[2022-10-13 01:58] ruanwenjun commented on #12331
Yes

[2022-10-13 02:17] fuchanghai commented on #12331
@ruanwenjun plz assign to me, i'll improvement it

[2022-10-13 02:23] #12190 closed, assigned to kezhenxu94, EricGao888

[2022-10-13 02:33] fuchanghai commented on #11824
yes. if alertGroupId is null，this pr #11774 while pledge  that alert information don't need insert
<img width="1101" alt="image" src="https://user-images.githubusercontent.com/33984497/195485482-29092741-44a2-4cac-aa78-ff0f0acfdac3.png">

[2022-10-13 02:39] dik111 opened #12343 "[Feature]Task continues to run when serial task fails to run without relying on the Conditions node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Hi teams:
 I looked up the documentation and tested locally, and found that the current failure strategy only supports failure continuation for parallel tasks. If I need serial failure continuation without relying

[2022-10-13 03:05] jieguangzhou opened #12344 "[Feature][Task Plugin] Add TensorFlow task plugin for MLOps scenario"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[TensorFlow](https://www.tensorflow.org) is a popular open-source deep learning framework.

Add TensorFlow task plugin can help Data Scientist build machine learning pipeline more easily, if they train deep learni

[2022-10-13 03:24] EricGao888 opened #12345 "[Doc][Roadmap] Add a new section in official docs for community roadmap"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* As discussed in community bi-weekly conference, we could add a new section for roadmap in official docs to inform users / developers of what new features / improvements they will see in the future.

* https://do

[2022-10-13 04:05] which520 opened #12347 "[Bug] [dolphinscheduler-alert] ClassNotFoundException: org.apache.hadoop.fs.FSDataInputStream"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Exception in thread "Alert-Server" org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'storageOperate' defined in class path resource [org/apache/dolphinscheduler/common/config/StoreConfig

[2022-10-13 04:56] jamescheng16 commented on #12327
how to clean? I install 3.1.0 with a whole new database,

[2022-10-13 05:58] lugela opened #12349 "[Bug] [sql task pulgin] After the oracle user password is changed, the oracle user will be locked after the synchronization change in the data source center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the oracle password of the database data source is updated and the data source center is changed at the same time, it is found that the used connection pool has cached the old password, which causes the database user t

[2022-10-13 06:40] #12313 closed, assigned to EricGao888

[2022-10-13 06:53] ruanwenjun commented on #12349
Good catch, when we update the password, we need to notify the worker to expire their old datasource.

[2022-10-13 07:02] xleoken opened #12350 "[Bug] [worker] Source not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

We run worker in k8s, will meet `source not found` error when submit tasks.

![image](https://user-images.githubusercontent.com/95013770/195524917-ef54a7b3-b38e-4c1a-95c5-04b32010084e.png)

And, I found someone meet the same

[2022-10-13 07:26] #12319 closed, assigned to fuchanghai

[2022-10-13 07:31] liqiquan commented on #12260
@fuchanghai @insist777
We used the 3.1.0 version of the UI to test. The problem of incomplete display due to short names no longer exists. However, when the name is greater than 22 characters, the following characters will not be displayed.
Whether it is possible to optimize the display of at least 40 characters, and it is better to display more characters as the page zoomss

我们使用3.1.0版本的ui测试，由于名称

[2022-10-13 07:44] fuchanghai opened #12355 "[Feature][TASK-DATAX] add ```presto``` option under drop down box"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

i'll add ```presto``` option ,so people can choose ```presto```.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-10-13 08:06] rickchengx opened #12356 "[Bug] [k8s] null exception when submitting k8s task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* Null exception in master's log
[code]

### What you expected to happen

submit k8s task plugin without null exception

### How to reproduce

* create cluster
<img width="1456" alt="截屏2022-10-13 16 03 56" src="https://user-

[2022-10-13 08:13] rickchengx commented on #12356
It seems that `ProcessServiceImpl.findConfigYamlByName` wants to query the table `t_ds_k8s`, but actually this table is empty.

https://github.com/apache/dolphinscheduler/blob/22103f975ebe3d3697c9173013356cab8548a1c6/dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/process/ProcessServiceImpl.java#L3168-L3176

After my check, `t_ds_cluster` is inserted when creating cluste

[2022-10-13 08:17] liqiquan commented on #12240
@caishunfeng

If RESOURCE_STORAGE_TYPE=HDFS is set, the master fails to operate init storageOperate:
java.lang.NoClassDefFoundError: com/amazonaws/services/s3/model/AmazonS3Exception

1. In the common module, there is init StoreConfiguration.

2. If RESOURCE_STORAGE_TYPE=HDFS, hadoop-related packages are required: hadoop-common&hadoop-client; RESOURCE_STORAGE_TYPE=S3, the jar of aws-java-sdk-s3 is

[2022-10-13 08:21] liqiquan commented on #12259
@fuchanghai

----

请问针此问题，后面会采用那种方式解决：
1.master和alter等模块单独添加，hadoop-common&hadoop-client和aws-java-sdk-s3的jar。
2.common模块的pom中，scope去掉provided
3.master和alter等模块中不再init StoreConfiguration

[2022-10-13 09:47] rickchengx commented on #8543
Hi, @EricGao888 , I am interested in this issue.

[2022-10-13 09:50] EricGao888 commented on #8543
Sure, looking forward to your design : )

[2022-10-13 10:38] pandong2011 commented on #12327
just clean unnecessary data for t_ds_process_task_relation_log and t_ds_task_definition_log

[2022-10-13 10:50] hstdream commented on #12268
ds version 2.0.6 need zookeeper  3.4.x, but  3.0.1 need zookeeper 3.8.0.

[2022-10-13 11:20] xdu-chenrj opened #12359 "[Bug] [Python] Task python class description error in Python API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Error in description of task python class in Python API

### What you expected to happen

just class description error

### How to reproduce

just class description error

### Anything else

_No response_

### Version

dev

[2022-10-13 11:22] zhongjiajie commented on #12359
Looking forward your contribution 👍

[2022-10-13 11:41] wcmolin opened #12361 "[Bug] [master] When I complement data by serial execution, after a failed process instance, subsequent process instances are not generated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I complement data by serial execution, after a failed process instance, subsequent process instances are not generated.

For example, if I choose to complement data for 3 days, it fails on the second day, and the proces

[2022-10-13 12:10] hstdream commented on #8543
Hi, @EricGao888 , I am interested in this issue.

[2022-10-13 12:15] hstdream commented on #8543
my thoughts:
1. Workflow completes aggregation log
2. Worker completes log aggregation
3. Local and remote check and store time by setting time interval through configuration

[2022-10-13 15:19] pandong2011 opened #12364 "[Bug] [UI] When creating a workflow, click Data Quality or Machine Learning to expand both"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When creating a workflow, click Data Quality or Machine Learning in the sidebar to expand both

<img width="1158" alt="dqandml" src="https://user-images.githubusercontent.com/100667564/195637121-bc6d2b3d-4aad-4931-8d14-4ef5d

[2022-10-13 21:03] Arturo-Penas-Rial opened #12367 "Nice to have: a "Worker" node configured with PENTAHO PDI ( CARTE )."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I am testing version 3.1 of DS, and the changes introduced are impressive. I would like to make a POC with DS to introduce it in my organization, but I need your help.  I have tried to create an image from apache/

[2022-10-13 22:14] kezhenxu94 commented on #12367
Just write your own Dockerfile and base from the apache/dolphinscheduler-worker, build and push to you registry and use it. This is a rather common sense to extend a Docker image just like how we build apache/dolphinscheduler-worker from openjdk base image.

[2022-10-14 00:08] #12322 closed, assigned to EricGao888

[2022-10-14 01:02] hyliu777 opened #12368 "[Bug] [Task plugin] datax task error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[LOG-PATH]: /opt/dolphinscheduler/worker-server/logs/20221014/7195111179040_2-15-22.log, [HOST]:  Host{address='172.16.10.15:1234', ip='172.16.10.15', port=1234}
[INFO] 2022-10-14 08:44:09.886 +0800 - Begin to pulling task
[

[2022-10-14 01:41] SbloodyS commented on #9231
Sure. I've assigned to you. Looking forward to your contribution. :)

[2022-10-14 02:23] zhongjiajie commented on #12367
and we have related docs about it, you can see https://dolphinscheduler.apache.org/en-us/docs/3.0.1/user_doc/contribute/development-environment-setup.html section "Docker image build", we have "create custom Docker images" about how to create custom images base on official release images

And BTW, I check the airflow document, it seem they do not support both NIFI and PENTAHO

[2022-10-14 02:54] KINGGUOKUN opened #12370 "Schedulered process with custom params fails"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When task craeted with custom params, and set process with timescheduler, the process instance fail;
manully trigger it, and success.
Schedulered process without custom params als success.

Master exception log as follows：

[2022-10-14 02:57] #12318 closed, assigned to DarkAssassinator, EricGao888

[2022-10-14 03:06] #12317 closed, assigned to DarkAssassinator

[2022-10-14 03:16] rickchengx opened #12372 "[Improvement][k8s] Update the deprecated k8s api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Update the deprecated k8s api

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foun

[2022-10-14 03:17] davidzollo commented on #12370
English is needed, please add the title and update content

[2022-10-14 03:41] KINGGUOKUN commented on #12370
Thanks for your reply. I have update the content, please review again.

[2022-10-14 03:46] Gagepmd opened #12375 "[Bug] [Failed to start dolphinscheduler service] Failed to start master server, worker server, api server."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When you start api server, master server, and worker server, you will be prompted that the registration failed. The log screenshot is as follows:
![779830ee1f8bcab6a7af0f568ae6ccb](https://user-images.githubusercontent.com/1

[2022-10-14 04:06] #11637 closed, assigned to EricGao888

[2022-10-14 04:06] #11405 closed, assigned to EricGao888

[2022-10-14 04:08] Gagepmd commented on #12375
There is a problem with the version of zookeeper. Upgrading the version of zk can solve this problem

[2022-10-14 04:08] #12375 closed, assigned to nobody

[2022-10-14 05:20] ChewJ404 opened #12377 "[Bug] [api-service] Tenant user run Workflow WorkerGroups can't find admin add other Worker Group list"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version :3.1.0

 admin  add new  Workflow

![image](https://user-images.githubusercontent.com/10162958/195767028-077eacf9-6f67-468e-9d18-7fa77b2edf1f.png)

tenant user  hadoop   run  Workflow

![image](https://user-images.gi

[2022-10-14 05:27] highb33kay opened #12378 "[Doc] [python] Not Found Error at https://dolphinscheduler.apache.org/python/tasks/shell.html#example"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The Url Linked to this issue Is not responding. #8955

### Documentation Links

https://dolphinscheduler.apache.org/python/tasks/shell.html#example

### Are you willing to submit a PR?

- [x] Yes I am willing to s

[2022-10-14 06:11] #12350 closed, assigned to nobody

[2022-10-14 06:36] ruanwenjun commented on #11894
Great, could you please provide a design first, this will affect the core code in master.

[2022-10-14 07:33] hstdream commented on #12377
Only the administrator has the corresponding information here.

[2022-10-14 07:42] ChewJ404 commented on #12377
How can I add  newly WorkerGroups   for    tenant user ?????

i can try  add ZOOKEEPER  node information
![image](https://user-images.githubusercontent.com/10162958/195790455-07646723-bfee-4e63-b5b7-18d1db10eb7f.png)

 Tenant user  had find  new  WorkerGroups
![image](https://user-images.githubusercontent.com/10162958/195790679-cd665dc7-c9a2-45c5-93bf-ea7388364b8d.png)

[2022-10-14 07:44] ChewJ404 commented on #12377
举个例子  比如说我指定一个租户 只能跑在 指定的 WorkerGroups  ,在后台添加  WorkerGroups  ,租户看不到指定WorkerGroups
那不是 相当于 WorkerGroups   功能只能 管理员用了吗

[2022-10-14 08:18] #12372 closed, assigned to rickchengx

[2022-10-14 08:20] #12088 closed, assigned to BruceMaa

[2022-10-14 08:44] hstdream commented on #12370
<img width="446" alt="1665736953404" src="https://user-images.githubusercontent.com/33045461/195803289-60c11410-a34d-4124-8bdd-76b7f6565056.png">
<img width="572" alt="1665737023343" src="https://user-images.githubusercontent.com/33045461/195803558-cc067c19-4a7d-4861-b83a-6458b2fcd3e1.png">

I didn't find any problems here. It is recommended to provide the following specific operation steps. thank

[2022-10-14 08:50] lihjChina opened #12380 "[Bug] [dolphinscheduler-worker] Worker registry client start up error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

use the mysql registry.found error like this

### What you expected to happen

[WARN] 2022-10-14 16:31:15.088 +0800 org.springframework.boot.web.servlet.context.AnnotationConfigServletWebServerApplicationContext:[591] - [Wor

[2022-10-14 08:56] 9527zk commented on #12368
I have the same problem, which I have not solved yet

[2022-10-14 08:58] yuanyunchu commented on #12234
这个是上传成功的。

[2022-10-14 08:59] yuanyunchu commented on #12234
上传失败是这个
![image](https://user-images.githubusercontent.com/33806778/195806946-acbc2d03-c1d7-4df5-be0a-00b841a970b4.png)

失败信息
exceptionHandler(Exception, HandlerMethod)
java.lang.IllegalStateException: Could not resolve parameter [1] in public org.apache.dolphinscheduler.api.utils.Result org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler.exceptionHandler(java.lang.Exception,org.springf

[2022-10-14 09:52] lihjChina commented on #12380
version is 3.1.0
this is the all error messages
[
[1.txt](https://github.com/apache/dolphinscheduler/files/9784717/1.txt)
](url)
thanks

[2022-10-14 13:43] pandong2011 commented on #12380
because your registry is mysql, the worker will register with the registry when it starts, but the registration fails and an error is reported in writing, probably because you have not configured zk, and then ds will choose the current registry to register

[2022-10-14 13:46] pandong2011 commented on #12380
because your registry is mysql, and the worker registers with the registry when it starts, but the registration fails and an error is reported. It is recommended that you configure the center to select zk

[2022-10-14 14:02] DarkAssassinator commented on #12368
@hyliu777 could u share me the worker log? just determine if there is `prepareParamsMap`, this will has a NPE issue.

[2022-10-14 14:02] DarkAssassinator commented on #12368
and i will fix it

[2022-10-15 00:30] #11826 closed, assigned to nobody

[2022-10-15 00:31] #11820 closed, assigned to nobody

[2022-10-15 00:31] #11799 closed, assigned to nobody

[2022-10-15 00:31] #11647 closed, assigned to chenhaonan313

[2022-10-15 00:31] #11315 closed, assigned to nobody

[2022-10-15 01:52] hstdream opened #12383 "[Bug] [Service] Condition 'globalParamsMap != null' is always 'true'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Condition 'globalParamsMap != null' is always 'true'

### What you expected to happen

Condition judge correctly

### How to reproduce

![1665798619968](https://user-images.githubusercontent.com/33045461/195963630-ee26282b-7

[2022-10-15 02:17] lihjChina commented on #12380
yes，the mysql registry is already release,so i want use the mysql registry.my cdh use the zk version is 3.4.15,but ds3.1.0 use the zk version is 3.8.so i want change my registry zk to mysql

[2022-10-15 08:54] limaiwang opened #12385 "[Doc][Introduction to Functions For Task] Wrong optional parameters of Spark"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Should be --jars

### Documentation Links

https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/guide/task/spark.html

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-10-15 10:32] lyn916 commented on #12306
Waiting for reply

[2022-10-15 13:58] #12316 closed, assigned to DarkAssassinator

[2022-10-16 00:33] #11789 closed, assigned to nobody

[2022-10-16 00:33] #11308 closed, assigned to xujian04

[2022-10-16 04:04] jackfanwan opened #12387 "[Improvement][ui] The processor usage and memory usage of the monitoring center do not vary with the font of the browser"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/61672564/196017316-ca346d5a-9222-44ff-8079-9c95b6027c60.png)
When the browser changes the font size, the page can also change

### Are you willing to submit a PR?

[2022-10-16 04:40] #12385 closed, assigned to nobody

[2022-10-16 07:30] DarkAssassinator commented on #12133
close issue

[2022-10-16 07:30] #12133 closed, assigned to DarkAssassinator

[2022-10-16 08:56] sketchmind commented on #11631
keep-alive

[2022-10-16 09:19] #12355 closed, assigned to nobody

[2022-10-16 09:24] #12359 closed, assigned to xdu-chenrj

[2022-10-16 09:27] xdu-chenrj commented on #12349
Does anyone want to repair this bug? If not, I want to repair this bug

[2022-10-16 13:42] zhuangchong opened #12391 "[Improvement][API] Workflow definitions that contain logical task nodes support the copy function"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, the system does not support the replication function of workflow definition including `CONDITIONS`, `SWITCH`, `SUB_PROCESS`, `DEPENDENT` four task nodes.

<img width="1472" alt="image" src="https://user

[2022-10-16 14:03] DarkAssassinator commented on #12325
yes, i can repreduce, i will check it and try to fix it.

[2022-10-16 14:42] DarkAssassinator commented on #12347
did u found hadoop-common-xx.jar package in alert lib path?

[2022-10-16 14:57] DarkAssassinator opened #12393 "[Feature][Task Plugin] Add Table Name paramter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In answering community questions and during community discussions, I found that many people need to use `table names` as variables. But now ds do not support it. Because we cannot pass tables as bind variable usin

[2022-10-17 00:33] #11863 closed, assigned to fengjian1129

[2022-10-17 00:33] #11842 closed, assigned to nobody

[2022-10-17 00:48] KINGGUOKUN commented on #12370
![image](https://user-images.githubusercontent.com/12315104/196067466-ac185ec6-ca1b-4424-b11e-13a22402902b.png)

And do add cron based scheduler to the process.
![image](https://user-images.githubusercontent.com/12315104/196067552-6dad54d4-e201-49cc-badc-3fcb69c53553.png)

Then the result like this:
![image](https://user-images.githubusercontent.com/12315104/196067688-e9425eaa-ec8a-4212-8b24-aed83

[2022-10-17 01:05] lugela commented on #12349
I don't have a good idea at the moment

[2022-10-17 01:31] hyliu777 commented on #12368
@DarkAssassinator the following is worker log while running datax

[INFO] 2022-10-17 09:27:15.533 +0800 org.apache.dolphinscheduler.server.log.LoggerRequestProcessor:[79] - [WorkflowInstance-0][TaskInstance-0] - received command : Command [type=ROLL_VIEW_LOG_REQUEST, opaque=171, bodyLen=118]
[INFO] 2022-10-17 09:27:19.613 +0800 org.apache.dolphinscheduler.server.worker.task.WorkerHeartBeatTask:[88

[2022-10-17 02:08] jieguangzhou opened #12394 "[Improvement][Jupyter Task Plugin] Execute Jupyter notebook on Jupyter Lab with Idap authentication"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Use papermill to execute notebook remotely on jupyter Lab， such as jupyer lab launched on kubeflow, and use ldap authentication

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Cod

[2022-10-17 02:09] zhongjiajie commented on #12349
@xdu-chenrj Hi, I assign to you now

[2022-10-17 02:28] #12391 closed, assigned to zhuangchong

[2022-10-17 02:36] jamescheng16 commented on #12327
this script?
`DELETE FROM t_ds_process_task_relation_log WHERE id IN
(
 SELECT
     x.id
 FROM
     (
         SELECT
             aa.id
         FROM
             t_ds_process_task_relation_log aa
                 JOIN
             (
                 SELECT
                     a.process_definition_code
                      ,MAX(a.id) as min_id
                      ,a.pre_task_code

[2022-10-17 02:42] #12170 closed, assigned to DarkAssassinator

[2022-10-17 04:03] EricGao888 commented on #12394
May I ask whether you want to implement this feature by yourself or have other volunteers do this? If latter, I will add a `help wanted` label to this issue.

[2022-10-17 04:09] EricGao888 opened #12395 "[Migrate][Test] Block explicit import of jUnit 4 library"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* As we have migrated all unit tests from jUnit 4 -> jUnit5 and removed related jUnit 4 library imports, we need to add a `Spotless` step to check and block such imports like `org.junit.xxx` in the future. Contrib

[2022-10-17 04:24] zhuangchong opened #12396 "[Bug] [Schedule] Upgraded from version 3.0.x to version 3.1.0, the workflow definition that has been scheduled online is not executed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Upgraded from version 3.0.x to version 3.1.0, the workflow definition that has been scheduled online is not executed

### What you expected to happen

Upgraded from version 3.0.x to version 3.1.0

### How to reproduce

Upgra

[2022-10-17 05:50] yyccww123 opened #12399 "[Feature][Alert] AlertContent add system.biz.date"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

AlertContent add system.biz.date

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to

[2022-10-17 05:52] yyccww123 commented on #12399
or add scheduling time

[2022-10-17 06:52] #12383 closed, assigned to nobody

[2022-10-17 06:53] hstdream commented on #12323
<img width="605" alt="1665989527849" src="https://user-images.githubusercontent.com/33045461/196108409-50028fd9-702d-4877-88a3-a7d90faa8713.png">
Duplicate keys, it is recommended to clean up t_ds_task_definition.

[2022-10-17 06:59] which520 commented on #12347
I did not find the Hadoop-related jar package in alert-server/lib. After manually rebuilding the image and importing hadoop-common.jar, it returned to normal.

[2022-10-17 07:27] john8628 commented on #12378
can you assign me? I wiil try it ;

[2022-10-17 07:46] #12323 closed, assigned to nobody

[2022-10-17 08:26] highb33kay commented on #12378
Correct Url is https://dolphinscheduler.apache.org/python/dev/tasks/shell.html#example . I dont think there is any need to make a Pr. #8955

[2022-10-17 08:26] #12378 closed, assigned to nobody

[2022-10-17 09:37] EricGao888 opened #12401 "[Bug][Style] Spotless sometimes fails to detect and block wildcard imports"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

*  Spotless sometimes fails to detect and block wildcard imports, see: https://github.com/apache/dolphinscheduler/pull/12076#discussion_r996636015

### What you expected to happen

* Spotless should be able to detect and blo

[2022-10-17 09:57] ZeonHuang opened #12402 "[Bug] Show wrong message when click the edge button on datasource web page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Version: 3.0
Database information have been recorded. If I click the "Edit" button again, the port which is displayed on the "EditDataSource" panel will be initialized to default port number.

### What you expected to happen

[2022-10-17 11:45] #12396 closed, assigned to nobody

[2022-10-17 11:49] xdu-chenrj commented on #12349
Maybe we can do it together

[2022-10-17 12:07] EricGao888 commented on #12401
When #11412 is done, this issue will get fixed.

[2022-10-17 12:18] DarkAssassinator opened #12403 "[Improvement][Service] Refactor ProcessServiceImpl in service module."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

**Why need refactor `ProcessServiceImpl`?**
The number of lines of code in `ProcessServiceImpl` exceed 3K+ lines,
+ This will bring great challenges to post-maintenance work.
+ Also it's a very bad experience for

[2022-10-17 12:54] songjianet commented on #12402
Please provide some pictures and verify if this issue exists in dev and 310 as well.

[2022-10-17 12:56] DarkAssassinator commented on #12368
@hyliu777 correct, this issue cased by prepareParamsMap NPE. and this PR will fix it.
+ https://github.com/apache/dolphinscheduler/pull/12388

[2022-10-17 12:57] songjianet commented on #12387
I will fix it.

[2022-10-17 12:58] songjianet commented on #12380
Please confirm if this issue exists in 30x and dev.

[2022-10-17 12:59] songjianet commented on #12377
Please confirm if this issue exists in 30x and dev.

[2022-10-17 12:59] songjianet commented on #12377
Please use english.

[2022-10-17 13:00] songjianet commented on #12368
Please confirm if this issue exists in 30x and dev.

[2022-10-17 13:02] songjianet commented on #12364
Please confirm if this issue exists in 30x and 31x.

[2022-10-17 13:04] songjianet commented on #12356
Please confirm if this issue exists in 30x.

[2022-10-17 13:04] songjianet commented on #12347
Please confirm if this issue exists in 30x and dev.

[2022-10-17 13:05] songjianet commented on #12339
Please confirm if this issue exists in 30x and dev.

[2022-10-17 13:07] songjianet commented on #12327
Please confirm if this issue exists in 30x and dev.

[2022-10-17 13:07] songjianet commented on #12325
Please confirm if this issue exists in 30x and dev.

[2022-10-17 13:08] songjianet commented on #12325
Thanks.

[2022-10-17 13:09] songjianet commented on #12314
Please confirm if this issue exists in 30x and dev.

[2022-10-17 13:10] songjianet commented on #12308
Please confirm if this issue exists in 31x and dev.

[2022-10-17 13:14] DarkAssassinator commented on #12368
has confirmed that this issue exists in dev and 31x, not in 30x. this issue relate : https://github.com/apache/dolphinscheduler/pull/10950

[2022-10-17 13:15] songjianet commented on #12306
please check this https://github.com/apache/dolphinscheduler/pull/11029. When developing this function, the return of this field is not null, please provide the parameters returned by the following interface. @LeanLeeOne

[2022-10-17 13:17] songjianet commented on #12305
Please confirm if this issue exists in 30x and dev.

[2022-10-17 13:43] Wang-Jun-Chao opened #12404 "[Bug] [Master Worker] when i use open api to submit a task, the worker sometimes can not execute rightly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when i use open api to submit a task, the worker sometimes can not execute rightly

use open api to sumbit a task
![image](https://user-images.githubusercontent.com/13402670/196191378-6bda79c3-c2d8-48f1-920c-c08cdb40a352.png

[2022-10-17 13:50] jieguangzhou commented on #12394
I'll add the tag first, and if no one takes it, I'll implement it

[2022-10-17 13:59] jieguangzhou commented on #12378
Sorry, the issue is closed, If you want to do some quick code contributions, you can pick the issue you like in this link.

https://github.com/apache/dolphinscheduler/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2022-10-17 14:02] #12395 closed, assigned to EricGao888

[2022-10-17 14:08] EricGao888 commented on #12401
After reconsideration, instead of tangling with `ratchetFrom`, I believe a better way is to fix all the legacy style errors once for all. We have been using `Spotless` for several months and most style errors have been fixed. Now it's a good time to fix the rest and it will also help maintainer review PR more easily without bothered by those style fix. I will submit a PR later this week to do this

[2022-10-17 14:35] john8628 commented on #12378
Ok ,thanks

[2022-10-17 15:03] pandong2011 commented on #12364
3.0.x and 3.1.x do not have this problem, because the previous workflow creation did not classify the tasks in the sidebar
![Uploading v3.1.1.jpg…]()

[2022-10-17 15:04] pandong2011 commented on #12364
3.0.x and 3.1.x do not have this problem, because the previous workflow creation did not classify the tasks in the sidebar
![v3 1 1](https://user-images.githubusercontent.com/100667564/196212929-c8fcfa83-cbb7-4aa9-94ad-3303b3b70e91.jpg)

[2022-10-18 00:33] #11584 closed, assigned to nobody

[2022-10-18 01:03] #12368 closed, assigned to DarkAssassinator

[2022-10-18 01:26] fuchanghai commented on #12403
@DarkAssassinator can you relation #11228

[2022-10-18 02:17] yqzdy1207 opened #12408 "[Bug] [Failed to schedule schedule with parameters] Schedule schedule"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

带有$[yyyyMMdd]的定时参数失败

### What you expected to happen

能执行带参shell

### How to reproduce

![52ffcc0de56e73f20f7a229fcf6fc49](https://user-images.githubusercontent.com/33902141/196319793-a2afe995-e320-467e-a415-4739fbe6b89b.jp

[2022-10-18 02:18] fuchanghai commented on #12349
maybe you can refer to the interface ```/projects/{projectCode}/executors/execute```

[2022-10-18 02:46] jieguangzhou commented on #12394
This issue said if we want to run a .ipynb script via papermill on a remote server, we have to implement CustomEngine.
https://github.com/nteract/papermill/issues/361

In DolphinScheduler, can we exec in pod directly?
Such as we start a JupyterLab with custom image in kubelow which have dolphinscheduler worker? Or other connect method?

[2022-10-18 02:56] jamescheng16 commented on #12327
I used 3.1.0

[2022-10-18 03:10] #11960 closed, assigned to nobody

[2022-10-18 03:17] yihao-tcf opened #12409 "[Bug][Worker Server ] When the DS uses the data source to connect to the Spark Thrift server, the connection channel remains connected and will not be closed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I found that after the server netstat spark port The worker server does not disconnect from the Sparkhrift after the connection is established I think the SQL (spark data source) task node in each workflow will remain connec

[2022-10-18 03:23] fuchanghai commented on #11279
@SbloodyS @EricGao888

[2022-10-18 03:25] SbloodyS commented on #11279
Sure. Looking forward to your contribution.

[2022-10-18 03:33] zhuangchong commented on #12408
I got the same exception, can you make a quick fix today and submit a PR?

[2022-10-18 04:17] zhuangchong opened #12410 "[Bug] [API] In the workflow definition, the result of the worker list is only default"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

In the workflow definition, the result of the worker list is only default

### What you expected to happen

In the workflow definition, the result of the worker list is only default

### How to reproduce

In the workflow def

[2022-10-18 05:27] jamescheng16 opened #12414 "[Bug] [Master and Work] Master and worker crash"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

first, receive worker crash alert, and master crash.
[crash.log](https://github.com/apache/dolphinscheduler/files/9806747/crash.log)
[worker_crash_log.log](https://github.com/apache/dolphinscheduler/files/9807099/worker_cras

[2022-10-18 05:37] zhuangchong commented on #12347
I guess you should use `HDFS` for resource configuration, you only need to configure `resource.storage.type=HDFS` in common.properties under the api-server and worker-server folders, alerter-server does not need to configure resource information, just use the default values `resource.storage.type=NONE`

[2022-10-18 05:38] zhuangchong commented on #12347
I will close this issue, if you still have problems, you can open this issue again.

[2022-10-18 05:38] #12347 closed, assigned to nobody

[2022-10-18 05:44] EricGao888 commented on #12394
@jieguangzhou Two ways to do so:
1. If there is `Yarn` in remote cluster, you could make papermill run in yarn containers.
2. If the remote cluster is a K8S cluster, you could build papermill, jupyter and related libs into an image and run it in K8S pod.

[2022-10-18 05:51] caishunfeng commented on #12356
No, the k8s task plugin does not exist in 30x.

[2022-10-18 07:01] LeanLeeOne commented on #12306
@songjianet Here is the parameters：
1. the interface `/dolphinscheduler/login`
![image](https://user-images.githubusercontent.com/29997678/196359880-a5fb2b00-c6d2-40f7-8f66-dd8f2d91b45f.png)
![image](https://user-images.githubusercontent.com/29997678/196361782-38719086-3d60-4d44-a759-0a5693a00745.png)
2. the interface `/dolphinscheduler/users/get-user-info`
![image](https://user-images.githubuserc

[2022-10-18 07:12] fuchanghai opened #12415 "[Improvement][master] taskInstance's host should not be set with master's host"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="720" alt="image" src="https://user-images.githubusercontent.com/33984497/196361049-ba66420e-215e-40b6-92aa-f6a2e075afa2.png">

- i think taskInstance's host  is the worker's ip who run the taskInstance

[2022-10-18 07:26] #12415 closed, assigned to nobody

[2022-10-18 08:09] fuchanghai opened #12416 "[Improvement][All] for avoid NPE , improvement some codes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- use ```CollectionUtils.isNotEmpty``` to instead of ```list.size=0``` and ``` list.isEmpty```
- use ```MapUtils.isNotEmpty``` to instead of ```map.size=0``` and ``` map.isEmpty```

### Are you willing to submit a

[2022-10-18 08:23] ruanwenjun commented on #12267
@wangsong8586 @rickchengx Hi, I checked the code, find the config key has changed in 3.1.x, could you please try to follow this PR to fix this?

https://github.com/apache/dolphinscheduler/pull/11823/files

[2022-10-18 08:25] jamescheng16 opened #12417 "[Bug] [Script] bin script didn't stop java process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I use ./start-all and ./stop-all and ./install.sh, I found these script didn't kill java process correctly.
![Uploading Screen Shot 2022-10-18 at 16.23.55.png…]()

### What you expected to happen

when use ./install.sh or ./

[2022-10-18 08:47] ZeonHuang commented on #12402
Pls refer to the pic.

![image](https://user-images.githubusercontent.com/110578575/196382565-a0b0ef17-d25e-41a5-95f0-853a8cc69232.png)

[2022-10-18 08:49] zhongjiajie commented on #12367
Hi @Arturo-Penas-Rial are you still there?

[2022-10-18 09:45] zhuangchong commented on #12408
I'm so sorry, I had the same problem and needed an urgent fix and go live, so I fixed it first.

[2022-10-18 11:58] #10116 closed, assigned to mrhaoqi

[2022-10-18 12:12] brave-lee opened #12422 "[Bug][MasterServer] The task needing fault tolerance cannot be submitted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The task needing fault tolerance cannot be submitted

### What you expected to happen

The task needing fault tolerance should be submitted normally

### How to reproduce

1. The task is running in worker1
2. Stop worker1
3.

[2022-10-18 13:56] songjianet commented on #12409
Please confirm if the issue exists in 31x and dev.

[2022-10-18 13:57] songjianet commented on #12414
Please confirm if the issue exists in 30x and dev.

[2022-10-18 13:59] songjianet commented on #12417
Please confirm if the issue exists in 30x and dev, and re-upload the attached image.

[2022-10-18 14:06] Arturo-Penas-Rial commented on #12367
Hi @zhongjiajie

Yes :-) still tying. Thanks for your response and availability. Now the news ...

- I reach to modify and activate a worker image including PENTAHO PDI (docker pull arturopenas/dolphinscheduler-pdi-worker:latest),

+ but I cannot access from outside the container. Can I reuse the default port 1235, to expose internal HTTP services?

+ I would like to check if the image customized

[2022-10-18 14:06] yihao-tcf commented on #12409
OK, I'll try it tomorrow. thank

[2022-10-18 14:09] DarkAssassinator opened #12425 "[Bug] [API] If Storge exception, ds can create tenant, but show cannot."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When we create a new tenant, but storge has some exception such as connect refuse. The UI alert will show create tenant failed, but it will be created in DB and can show in UI. And then use cannot delete this wrong tenant, b

[2022-10-18 14:23] Arturo-Penas-Rial commented on #12367
One more :-) @zhongjiajie ...

When I try to execute a DAG the following error log occurs. I believe there is a miss configuration, can you guide me?

[LOG-PATH]: /opt/dolphinscheduler/logs/20221018/7222558634432_2-6-9.log, [HOST]:  Host{address='[172.20.0.5:1234](http://172.20.0.5:1234/)', ip='172.20.0.5', port=1234}
[INFO] 2022-10-18 14:12:40.511 +0000 - Begin to pulling task
[INFO] 2022-10-18 1

[2022-10-18 14:24] Arturo-Penas-Rial commented on #12367
The name of a workflow definition can change (modified)?

[2022-10-18 15:52] frouhi opened #12427 "Enable or disable a task using a global param condition, without a default branch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, the only way we can enable/disable a specific task via a condition on global params is using a switch. However, a switch requires a default branch. My current workaround is having a dummy task as a defa

[2022-10-18 15:58] DarkAssassinator commented on #12427
+1 i think this is a good feature

[2022-10-19 01:12] jamescheng16 commented on #12417
version 3.1.0
![Screen Shot 2022-10-18 at 16 23 55](https://user-images.githubusercontent.com/4263914/196573994-d427df25-fd26-475f-a480-06ee65d08bb5.png)

[2022-10-19 01:12] jamescheng16 commented on #12414
version 3.1.0

[2022-10-19 01:29] caishunfeng commented on #12325
I found it exist in 3.0.1 too, see https://github.com/apache/dolphinscheduler/blob/0317c70496055b66e637b588ca7d0cdb674e7138/dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/runner/WorkflowExecuteRunnable.java#L376-L388

[2022-10-19 01:36] simsicon commented on #11652
I second that, no need to create table, a simple ssh task type will do this feature.

[2022-10-19 01:36] #12325 closed, assigned to DarkAssassinator

[2022-10-19 01:37] simsicon commented on #11652
I second that, no need to create table, a simple ssh task type will do this feature.

[2022-10-19 01:43] #12408 closed, assigned to yqzdy1207

[2022-10-19 01:49] #12356 closed, assigned to rickchengx

[2022-10-19 01:58] paul-yangmy opened #12428 "[Bug] [Module Name] Cron manage: no instance host"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I have set a timing scheduler for a task. However, dolphinscheduler cannot dispatch this task within the set time. The status of the task is running but the log shows an error: no instance host. The magic is that I can execu

[2022-10-19 02:03] hstdream opened #12429 "[Bug] [API] The workflow definition and the tenant in the workflow instance are inconsistent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="680" alt="1666837161777" src="https://user-images.githubusercontent.com/33045461/198175765-4089aa91-437b-4314-8e27-7dad5fc59a3d.png">
<img width="711" alt="1666837141669" src="https://user-images.githubuserconten

[2022-10-19 02:41] #12422 closed, assigned to JinyLeeChina

[2022-10-19 02:47] #12252 closed, assigned to Zephyrcf

[2022-10-19 02:52] Amy0104 commented on #12429
<img width="440" alt="image" src="https://user-images.githubusercontent.com/97265214/196585988-b32944e4-68ed-44fa-981d-7335ee5ac7a6.png">
It seems to be a bug for the back end side. @hstdream

[2022-10-19 02:55] EricGao888 opened #12430 "[Feature][Task Plugin] Support submit big data task in detach mode."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Task plugin could support submitting jobs in detach mode, in that case for a long running task submitting to a remote cluster, the failure of worker will not cause the task to fail.

### Use case

* Already desc

[2022-10-19 03:08] #12401 closed, assigned to EricGao888

[2022-10-19 03:08] #11412 closed, assigned to caishunfeng, EricGao888

[2022-10-19 03:23] EricGao888 commented on #8537
@BabySid This is a good suggestion. May I ask whether u have any follow-ups on this issue? Thanks.

[2022-10-19 03:59] EricGao888 opened #12436 "[RoadMap][Year 2022 Q4] Community RoadMap"
### Description

* Notes of the community roadmap discussions from the Oct. 12th, 2022 bi-weekly community conference.
* For some topics which need further discussions, we temporarily note the owner as `Community`.

###  RoadMap

| Type | Description | Link | Priority | Owner |
| --- | --- | --- | --- | --- |
| Feature | Add jRaft registry plugin | #11144 | High | @zhuxt2015 |
| Feature | K8S Exec

[2022-10-19 04:59] lihjChina commented on #12380
The dev branch is normal, and this error is not found

[2022-10-19 05:04] zhuangchong commented on #12370
I understand your question is the same issue as this issue #12408, which has been fixed.

[2022-10-19 05:12] zhuangchong commented on #12259
The master and alerter services do not use resources. The default value of `resource.storage.type=NONE` in their respective common.properties can be used. api-server and worker-server need to configure `resource.storage.type=xxx`.

[2022-10-19 05:48] #12196 closed, assigned to nobody

[2022-10-19 05:51] Chris-playground commented on #12375
I also met up with this problem, it was quite a confusing problem for people who only checked the updating manual.
It would be better to mention it in updating part.

[2022-10-19 06:01] KINGGUOKUN commented on #12370
Yes, exactly. So, I'll close it.

[2022-10-19 06:01] #12370 closed, assigned to nobody

[2022-10-19 06:08] zhongjiajie commented on #12367
It supports, you can change the workflow name when you saving the workflow definition, for more detail see gif

![how-to-rename2](https://user-images.githubusercontent.com/15820530/196610289-d0c0712f-c02b-48c3-bd9a-cfdfb496a8a7.gif)

[2022-10-19 06:19] zhongjiajie commented on #12367
can you share what is your Dockerfile for this PENTAHO PDI worker docker images?

You can not, 1235 is for workers to communicate with other servers, it is being used and will throw an error because is be used.

you can check in tab "monitor" to see whether the worker is up, and then run a simple task to find our it work or not

![check-worker](https://user-images.githubusercontent.com/15820530/19

[2022-10-19 06:25] zhongjiajie commented on #12367
And I wonder whether PENTAHO PDI has a client or CLI interface that we can submit our job and execute them? Actually, we only need to submit the job in DolphinScheduler worker, it can run this job in PENTAHO PDI itself
running an application with a web UI interface in DolphinScheduler worker maybe not be the best practice

[2022-10-19 06:51] caishunfeng commented on #12367
The `Need fault tolerance` is the state means that these task instances will rerun again by tolerance (the old one was finished and create a new one for same workflow instance).
This fault tolerance mechanism is triggered when the worker server down (task instances tolerance) or master server down(workflow instances tolerance).

see https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/ar

[2022-10-19 07:01] caishunfeng commented on #12367
![image](https://user-images.githubusercontent.com/11962619/196618092-8c817f94-81c2-40d6-beb1-bc15379cbb6a.png)

Hi @Arturo-Penas-Rial I try at local and it can create a new tenant by default config. I think you can try to execute cmd ` sudo useradd -g user-group new-user` in the worker node.
Generally, it is recommended to use the created tenant in ds after the system has created the tenant.

[2022-10-19 07:05] xpflying commented on #12259
Our dolphinscheduler is deployed inside kubernetes, and all services of dolphinscheduler share a set of configuration files. The yaml under the code path deploy/kubernetes/dolphinscheduler also mounts the same configuration file, now we see that the alert service code in the dev branch has been removed from the resources related code, please remove the resources code from the master service as wel

[2022-10-19 07:30] nielifeng commented on #12367
Can you provide me with your e-mail or other contact information?

[2022-10-19 08:58] #12333 closed, assigned to rickchengx

[2022-10-19 09:04] zhuangchong commented on #12428
can you post some more detailed logs?

[2022-10-19 09:27] caishunfeng opened #12439 "[Bug] [Alert] Send script alert NPE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[code]
![image](https://user-images.githubusercontent.com/11962619/196652722-448814d5-6eb1-45b2-a201-f2e43e44c7ac.png)

### What you expected to happen

can run script alert success.

### How to reproduce

add a script alert

[2022-10-19 09:40] ChewJ404 opened #12440 "[Bug] [dolphinscheduler master] Infinite loop process_instance when status is prepare to stop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/10162958/196633790-2ed739fb-268b-4edb-9f85-4efe6bf9f73a.png)

[code]

### What you expected to happen

 more and more log filling up my journal It will never stop

### How t

[2022-10-19 09:41] paul-yangmy commented on #12428
![b3fc0bec728a16187757ed23702a94e](https://user-images.githubusercontent.com/44519600/196653144-24894dad-c410-407b-b925-4490ae710cda.jpg)
Thanks！I found that I could recreate the scheduled task to avoid this problem so I deleted the repeated error logs of dolphinscheduler master.  This task is set to be executed on zk1, and the reported error "current task needs worker group inf2 "inf2 is normal.

[2022-10-19 10:14] liqiquan opened #12443 "[Improvement][ALL][Docker deployment] The startup command adds EXEC to standardize containerized deployment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the Docker container, the PID1 process is the init process, which is also responsible for the internal process management of the container. So in the dolphin scheduler's container, the PID1 process should be a

[2022-10-19 10:46] ChewJ404 opened #12444 "[Bug] [dolphinscheduler woker] datax use mysql to hive not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

datax use mysql to hive not work
![image](https://user-images.githubusercontent.com/10162958/196666358-2908f762-1e8d-40fe-8f58-1b41772297f8.png)

### What you expected to happen

i found  this will be  Translated into
![imag

[2022-10-19 11:38] DarkAssassinator commented on #12417
because current ds just use a pid file to save the process id, then kill it, so just will kill only one
![image](https://user-images.githubusercontent.com/20518339/196680149-c9ea6342-72ae-4c7d-a5f1-c61880f277ba.png)
so i want to refactor the ds cli
+ https://github.com/apache/dolphinscheduler/issues/12016

will use `ps -ef | grep "java" | grep "$DOLPHINSCHEDULER_HOME" | grep "$CLASS" | grep -v "gr

[2022-10-19 11:53] Arturo-Penas-Rial commented on #12367
Many thanks for your quick response!, I will follow your guidelines. My email is arturo.penas@gmail.com.

[2022-10-19 12:46] DarkAssassinator opened #12446 "[Improvment] [Style] API Test spotless check failed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

found
![image](https://user-images.githubusercontent.com/20518339/196694481-cc4c3168-e5d6-4207-9407-89b14ecada54.png)
![1666183144052](https://user-images.githubusercontent.com/20518339/196694552-2cd33359-c273-41f6-b360-eb1f

[2022-10-19 12:54] EricGao888 commented on #12446
This is not a bug. It is expected behavior. BTW, if those so-called 'blocked' PRs not rebased on latest dev branch, it still get blocked.

[2022-10-19 13:00] DarkAssassinator commented on #12446
get it. thx

[2022-10-19 13:27] songjianet commented on #12425
Please make sure this issue exists in 30x and 31x.

[2022-10-19 13:28] songjianet commented on #12428
Please make sure this issue exists in dev and 31x.

[2022-10-19 13:29] songjianet commented on #12440
Please make sure this issue exists in 30x and dev.

[2022-10-19 13:30] songjianet commented on #12444
Please make sure this issue exists in 30x and dev.

[2022-10-19 13:40] DarkAssassinator commented on #12425
sure, has double checked, this issue exists in 30x and 31x

[2022-10-19 15:28] rickchengx opened #12451 "[Bug] [k8s] Read the incorrect kubeconfig"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Read the incorrect kubeconfig from `cluster.getConfig()`
And if the kubeconfig content is wrong, `DefaultKubernetesClient(config)` will automatically reade the kubeconfig from `~/.kube/config` instead.

### What you expected

[2022-10-19 15:47] Radeity commented on #12439
If no one is in charge, i'd like to try it!

[2022-10-19 15:48] pandong2011 opened #12453 "[Bug] [API] Updating workflow instance shows success, but does not actually take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Click to update the workflow instance, and it will appear that the modification was successful, but it is not actually updated.

Edit an workflow instance
![process_instance_edit_1](https://user-images.githubusercontent.com/

[2022-10-19 15:56] zhongjiajie commented on #12427
@frouhi looking good, I see you want to do by yourself. As far as I know, the limited of switch task should have default branch is  in switch task parameter valid function, and it is in Java codebase, so it is mean this is not only the python code change for this PR. If you need any help, please ping me in GitHub. thanks

[2022-10-19 16:04] ruanwenjun commented on #12427
Good feature, we can make the `Default` as optional.

[code]

cc @caishunfeng

[2022-10-19 23:52] Zephyrcf opened #12455 "[Improvement][Resource] Support batch upload of files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support batch upload of files

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foun

[2022-10-20 01:27] caishunfeng commented on #12427
Looks good to me, if the default branch is empty  and not other branchs match, the switch task will be an end task of this edge.

[2022-10-20 01:53] paul-yangmy commented on #12428
My version is 30x. But someone said it also appears in 31x.

[2022-10-20 02:31] #12446 closed, assigned to nobody

[2022-10-20 02:34] WaterAndBread commented on #2988
赞，确实通过数据查询后得知 数据存的hostname 非IP ，在容器里面因为无法解析，在/etc/hosts 里面加入解析就可以了

[2022-10-20 02:35] simon824 commented on #11673
Hi, how is the progress of `dolphinscheduler-studio`, is there a release plan, can't wait to use it

[2022-10-20 03:02] zhongjiajie opened #12456 "[Feature][task plugin] Add new task plugin for apache linkis"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Linkis builds a computation middleware layer to decouple the upper applications and the underlying data engines, provides standardized interfaces (REST, JDBC, WebSocket etc.) to easily connect to various underlyin

[2022-10-20 03:10] arstercz opened #12457 "[Bug] [Task Definition] cannot change Environment Name when create or edit task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

It's not work when I create or change the task `Environment Name`, and `Environment Name` always use the first Environment of the Worker Group.

### What you expected to happen

`Environment Name` should be changed so that I

[2022-10-20 03:40] gongxiaohai opened #12458 "[Bug] [TimeZone] "next five execution times" and "trigger time" are inconsistent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Background: my dolphin scheduler time zone is US/Eastern.

When I create a workflow and set timing, I enter the page for "set parameters before timing" and set timing "0 0 6,20 * * ? *" and set timezone is CET.  I click butt

[2022-10-20 04:12] #12301 closed, assigned to EricGao888

[2022-10-20 04:31] #12293 closed, assigned to rickchengx

[2022-10-20 06:21] shangeyao commented on #12456
Let me try it.

[2022-10-20 06:26] #12416 closed, assigned to fuchanghai

[2022-10-20 06:28] zhongjiajie commented on #12456
thanks for your help, I had assigned to you, looking forward your contributing

[2022-10-20 06:52] William-GuoWei commented on #12367
Hi, I think here are some solutions for you:
1. DS worker is not like Airflow, it can support install Kettle Client on Worker, but not a docker of Kettle with DS client. So you need to have a kettle docker besides the worker server (DS Worker can run on the same server on DS Master).
2. You can easily use Http Task in DS to trigger Kettle job with http request.
3. I am thinking about add a Kettle

[2022-10-20 06:55] zhongjiajie commented on #10573
Great new

[2022-10-20 06:59] zhongjiajie commented on #5689
Hi @wushanru , all task in https://github.com/apache/dolphinscheduler/issues/5689#issue-928812038 are unsolved issue, and you can pick one of them to have a try

[2022-10-20 07:10] zhongjiajie commented on #10436
@xinge-1  all issue in this repo in open source version, and all features is in dolphinshceduler, if you do not find the form like issue screenshots, please make sure you use the related version, in this cases, issue target to version 3.0.0-beta-1

[2022-10-20 07:15] hstdream commented on #12457
According to your reproduction steps, this problem is not reproduced.
before:
<img width="225" alt="1666250046178" src="https://user-images.githubusercontent.com/33045461/196881162-4ed42a70-7eb5-4dfe-9f8d-367d9195f5ac.png">
after:
<img width="220" alt="1666250118306" src="https://user-images.githubusercontent.com/33045461/196881346-e19e285d-537d-4aba-b7c1-888630a03b2d.png">

[2022-10-20 07:56] jay-col commented on #1477
我的也是

[2022-10-20 08:46] #12364 closed, assigned to pandong2011

[2022-10-20 09:00] caishunfeng commented on #12439
OK, had assigned to you.

[2022-10-20 09:07] woshiwuxiaofei opened #12463 "[Bug] [DataX] the data source instance is empty when edit the DataX component"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Every time you open and edit the DataX component, the data source instance is empty, and you need to re-select the data source type. When selecting the data source instance, it is a headache for a large number of node editor

[2022-10-20 09:19] tuchg opened #12465 "[Feature][PyDolphinScheduler] Support Kubernetes task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of  https://github.com/apache/dolphinscheduler/issues/11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-10-20 09:24] tuchg commented on #12465
@jieguangzhou hi,guys i want to try it

[2022-10-20 09:25] caishunfeng commented on #12458
Hi @gongxiaohai Seems the user timezone and schedule timezone are defferent. In this case, what you expected to happen?

[2022-10-20 09:40] gongxiaohai commented on #12458
I expected to "Next five execution times" can be displayed correctly.

I think it is wrong now. When you click button for "Execution time", "Next five execution times" is CET time zone and crontab is US/Eastern time zone. But task is triggered and running by crontab in CET time zone, not in "Next five execution times".

[2022-10-20 10:07] arstercz commented on #12457
We use the standalone mode(v3.1.0).  and found `t_ds_task_definition ` update correctly, but display in the web always wrong.

<img width="1013" alt="image" src="https://user-images.githubusercontent.com/1954680/196921066-c0748f05-bb3a-452e-bb98-7c3bdb1656eb.png">

![image](https://user-images.githubusercontent.com/1954680/196921696-4be0b737-3ab5-4377-bc7e-9478b3ca7e7e.png)

[2022-10-20 10:37] jieguangzhou commented on #12465
Thanks for the help!

[2022-10-20 10:47] WangJPLeo opened #12466 "[Bug] [Resource] Resource authorization is disabled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Resource authorization is disabled

### What you expected to happen

Normal

### How to reproduce

Resource authorization

### Anything else

No

### Version

dev

### Are you willing to submit PR?

- [X] Yes I am willing to

[2022-10-20 13:03] DarkAssassinator opened #12468 "[Refactor] Migrate all command-related interface functions from ProcessServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

+ This is a part of #12403

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundat

[2022-10-20 13:06] DarkAssassinator opened #12469 "[Refactor] Migrate all taskInstance-related interface functions from ProcessServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

+ This is a part of #12403

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundat

[2022-10-20 13:08] DarkAssassinator opened #12470 "[Refactor] Migrate all workergroup-related interface functions from ProcessServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

+ This is a part of #12403

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundat

[2022-10-20 13:10] DarkAssassinator opened #12471 "[Refactor] Migrate all dqrule-related interface functions from ProcessServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

+ This is a part of #12403

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundat

[2022-10-20 13:11] DarkAssassinator opened #12472 "[Refactor] Migrate all user-related and tenant-related interface functions from ProcessServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

+ This is a part of #12403

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundat

[2022-10-20 13:15] DarkAssassinator opened #12473 "[Refactor]Migrate all other other interface functions not related to Workflow from ProcessServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

+ This is a part of #12403

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundat

[2022-10-20 13:23] DarkAssassinator commented on #12403
because the scope of this part of the refactoring is relatively large, so I split it into multiple sub-tasks, in order to control the scope of influence and facilitate review and merge. cc @EricGao888 @songjianet

[2022-10-20 13:26] jiangtaoNuc commented on #12453
please assign to me,thx

[2022-10-20 13:40] DarkAssassinator commented on #12436
hi @EricGao888, could we add https://github.com/apache/dolphinscheduler/issues/11652 in 2022 Q4 RoadMap?

[2022-10-20 13:46] EricGao888 commented on #12436
done

[2022-10-20 13:54] EricGao888 commented on #12403
@DarkAssassinator I'm +1 to the refactoring of `ProcessServiceImpl `.  But `ProcessServiceImpl` is in one of the core modules, I think we should add related unit tests during the refactoring instead of after the refactoring.

BTW, may I ask whether you want to do all of these by yourself or need some more hands?

[2022-10-20 13:55] DarkAssassinator commented on #11652
do u mean add a SSH task plugin? Actually it was originally conceived this way, but we also need to manage the remote host and can't make sure that only the SSH task needs it, may any other tasks may need it in the future.

[2022-10-20 14:16] DarkAssassinator commented on #12403
Sure, one of the purposes of refactoring it is that the current test rate coverage is not enough.
need some more hands? -> Sure, @fuchanghai will help me to refactor it, and welcome more hands to join in. And I plan to focus on refactoring this part for a while. If it is delayed for too long, it may cost more work later.

[2022-10-20 14:18] ruanwenjun commented on #12403
+1, In fact, most of our logic is validate -> transform -> insert/update, we can use different sub class to to sub work.
Please start with a small service e.g. WorkerGroupService.

[2022-10-20 14:21] DarkAssassinator commented on #12403
big +1 I just found that there are too many services included in this class, we will migrate these other services to other small services.

[2022-10-20 14:32] fuchanghai commented on #12403
i'm happy to do it

[2022-10-20 14:59] Arturo-Penas-Rial commented on #12367
Hi @William-GuoWei ... Let me check if I understood  :-)

In Airflow, the worker node can contain both PENTAHO PDI and CARTE, I managed to do it and it works. However, I would like to use DS, but I still can't get a worker node with PENTAHO PDI and CARTE.

What I am trying to do is to extend the DS worker image, to incorporate PENTAHO. Is it possible? I do not want to have a docker of Kettle with

[2022-10-20 17:34] Arturo-Penas-Rial commented on #12367
![image](https://user-images.githubusercontent.com/73435621/197018870-d8227e46-8270-4d94-8549-9a0c20d3571d.png)
Well I reach to extend the worker node image, also PENTAHO Carte is running on this node, but DS find as unhealty state ...:-(  The worker node log does not show errors! Can you give me some guidance?

[2022-10-21 01:07] fuchanghai commented on #12471
@jieguangzhou @DarkAssassinator i want to refactor it

[2022-10-21 01:08] fuchanghai commented on #12472
@DarkAssassinator @jieguangzhou i want to refactor it

[2022-10-21 01:27] #12306 closed, assigned to zhuangchong

[2022-10-21 01:47] William-GuoWei opened #12475 "[Feature][IDE] Add IDE in DS DAG to Support Python/SQL"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now DS has a code interface like this, I think it is not very comfortable for developers to write sql or python in text box.
![image](https://user-images.githubusercontent.com/25520639/197091165-2541b996-1859-422f

[2022-10-21 02:15] BabySid commented on #8537
sure. thanks for remembering this issue for so long.
I also inquired about this issue on the slack channel, and the answers I got were all solved by increasing maintenance costs and degrading services. So later we re-implemented the scheduler ourselves.

[2022-10-21 02:55] EricGao888 commented on #8537
@BabySid Sounds pretty cool that you re-implemented the scheduler. May I ask whether you are interested in participating in open-source activity and get more involved with the Apache DolphinScheduler community? We have WeChat groups for local users.

[2022-10-21 03:09] #10738 closed, assigned to nobody

[2022-10-21 03:16] liusy-bd opened #12477 "[Bug] [Log] Task logs that were run a few days ago are not visible"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/69708156/197102160-eeca5b2a-0c09-4aa4-b06e-a260fed31a5e.png)

Task logs that were run a few days ago are not visible  ,The corresponding path has log files

【dolphinschedule

[2022-10-21 03:22] hstdream commented on #12463
I will fix this bug. @caishunfeng

[2022-10-21 03:26] jieguangzhou opened #12479 "[Feature][Task] Transfer files between tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add another param type `FILE` to transfer files between tasks.

Intermediate data will be saved in the `_DATA_TRANSFER`(TBD) folder in the resource center

**task1:** create `data/text.txt`, transfer folder `data/

[2022-10-21 03:51] EricGao888 commented on #11242
WIP, 2 providers of OAuth 2.0:
1. Google
2. GitHub

[2022-10-21 04:02] BabySid commented on #8537
Course but what a pity.  At present, I'm using Golang. :( I would be happy to join the open-source team If I have the opportunity to go deep into Java in the future,  :)

[2022-10-21 04:18] EricGao888 commented on #12475
@William-GuoWei Sounds cool to me. It will be pretty handy for users to debug / develop big data tasks and will help DS march from a `scheduling platform` to a `development + scheduling studio`. Just curious, will we have both this and #11673 ? Looks like there are some kind of overlaps.
* #11673

[2022-10-21 05:54] #12410 closed, assigned to zhuangchong

[2022-10-21 05:54] #12377 closed, assigned to zhuangchong

[2022-10-21 06:02] hstdream commented on #12457
I use the standalone mode(v3.1.0) too.

[2022-10-21 06:11] hstdream opened #12481 "[Bug] [API] After the workflow definition is deleted, the task definition cannot be edited"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the workflow definition is deleted, the task definition cannot be edited.
save fail
<img width="712" alt="1667349205685" src="https://user-images.githubusercontent.com/33045461/199367189-3d6e703e-b279-43dd-950d-c2c443a

[2022-10-21 06:17] caishunfeng commented on #12477
Does the worker log file `/tmp/dolphinscheduler/worker-server/logs/20221009/7152321580704_5-23-27.log ` exist? Please check it.
DS will not delete the task file logs.

[2022-10-21 06:34] liusy-bd commented on #12477
Existing, note that all task logs are not viewable, not individual tasks

【The sample】
![image](https://user-images.githubusercontent.com/69708156/197129008-7c3059ff-0f9e-4fef-aa87-9ba963695873.png)
![image](https://user-images.githubusercontent.com/69708156/197129098-1e3452dd-dcd2-43cc-bf16-e396e1df95b6.png)

【dolphinscheduler-api.log】

[INFO] 2022-10-21 14:35:28.802 +0800 org.apache.dolphinsched

[2022-10-21 06:47] woshiwuxiaofei commented on #12463
@hstdream how to connect with you? Are you in the WeChat contributor group? You can add me to facilitate communication

[2022-10-21 07:47] liqiquan commented on #12305
I tested the dev branch (the last submission time was Oct 20 10:31:16) and still had this problem
![image](https://user-images.githubusercontent.com/22407119/197141419-090ce76c-6892-4317-854b-699647575f43.png)

[2022-10-21 07:51] wcmolin opened #12482 "[Bug] [Master] check for dependency task instance need failover is error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There is a dependent task instance running. At this time, fault-tolerant execution is performed. At this time, there is a function `MasterRegistryClient.checkTaskAfterWorkerStart` that needs to determine whether the task ins

[2022-10-21 08:28] mhsccd opened #12484 "the process definition cache map bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When a process is started and executed in any way，one of the master will start a process instance . how to start the process instance ,master should to create it,  and where can master to find process instance info? master f

[2022-10-21 09:13] Amy0104 commented on #12463
This has been fixed by #11222

[2022-10-21 09:21] hyliu777 opened #12485 "[Bug] [UI] delete stream task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Delete workflow definition, while stream task still exist in task definition list.
![image](https://user-images.githubusercontent.com/17961082/197160699-34adb440-65af-46ba-8c22-7014c2cbd656.png)

### What you expected to hap

[2022-10-21 13:23] William-GuoWei commented on #12475
yeah~~ very similar.
but this one is combined in DS DAG not an individual IDE

[2022-10-21 13:38] songjianet commented on #12466
Please confirm if this issue exists in 31x and 30x.

[2022-10-21 13:39] songjianet commented on #12481
Please confirm if this issue exists in 31x and 30x.

[2022-10-21 13:43] songjianet commented on #12485
Please confirm if this issue exists in dev and 30x.

[2022-10-21 15:46] jiangtaoNuc commented on #12453
I will submit a pr ！thx @caishunfeng

[2022-10-22 00:32] #11901 closed, assigned to nobody

[2022-10-22 00:32] #11833 closed, assigned to nobody

[2022-10-22 00:51] hstdream commented on #12481
in 31x

[2022-10-22 00:59] hstdream commented on #12440
Please provide the reproduction steps, I will fix this problem.

[2022-10-22 01:10] hstdream commented on #12308
I will try to reproduce and fix this.

[2022-10-22 01:16] hstdream commented on #11805
[Bug] [API]After we delete the worker group, but this task group still keep in the task setting. #12207

[2022-10-22 01:32] hstdream opened #12490 "[Bug] [API] Before deleting a worker group, check whether there is environment that reference the worker group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 Before deleting a worker group, check whether there is environment that reference the worker group.

### What you expected to happen

When a worker group is referenced by the environment, the worker group cannot be deleted。

[2022-10-22 03:24] DarkAssassinator commented on #12490
hi @hstdream, is same as https://github.com/apache/dolphinscheduler/pull/12129?

[2022-10-22 03:33] #12425 closed, assigned to DarkAssassinator

[2022-10-22 04:39] #12468 closed, assigned to DarkAssassinator

[2022-10-22 05:26] davidzollo commented on #12482
hi @wcmolin , can you fix this issue?

[2022-10-22 05:31] wcmolin commented on #12482
I can try it, can I just fix the 2.0.x version? Which branch should I submit the PR to?

[2022-10-22 05:32] wcmolin commented on #12482
I can try it, can I just fix the 2.0.x version? Which branch should I submit the PR to? @davidzollo @jieguangzhou

[2022-10-22 07:12] hstdream commented on #12490
no same.

[2022-10-22 07:28] pandong2011 commented on #12257
Copying is not the solution because the jar is run with internal build commands and should be a fat jar

[2022-10-22 07:30] #458 closed

[2022-10-22 07:31] pandong2011 commented on #12257
You can make it a fat jar by modifying the configuration of source pom.xml

[2022-10-22 07:31] davidzollo commented on #200
English is needed

[2022-10-22 07:31] #200 closed

[2022-10-22 07:34] davidzollo commented on #492
has implemented

[2022-10-22 07:34] #492 closed

[2022-10-22 15:04] hstdream commented on #11827
I think that when deleting the file resource, it should be judged whether the file is referenced or not

[2022-10-23 00:33] #11952 closed, assigned to jinyanhui2008

[2022-10-23 00:33] #11884 closed, assigned to LiuBodong

[2022-10-23 04:13] hiSandog opened #12504 "[Bug] [api] The same code and version in table t_ds_process_definition_log causes an error in the list interface"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After I edit the workflow, I save it.
The interface response speed is too slow.
Let me think I didn't save it，So I saved it again.
The result saved successfully both times.
But in the t_ds_process_definition_log table, the v

[2022-10-23 12:19] yakami129 commented on #11867
I'm at your service.

[2022-10-23 15:17] #12331 closed, assigned to fuchanghai

[2022-10-24 02:42] jieguangzhou commented on #12482
Please check to see if the dev has this problem, and if not, mention 2.0.8-prepare.
Thanks

[2022-10-24 02:55] qiangliliu commented on #12156
Please confirm your profile

[2022-10-24 03:00] wcmolin commented on #12482
The code structure of the dev version and the 2.x version is inconsistent. If I fix the dev version, will the 2.x version be fixed by someone else performing cherry-pick? @jieguangzhou

[2022-10-24 03:06] jieguangzhou commented on #12482
Maybe the dev has fixed it, so please help check if the dev has this problem.

If the same problem is in dev, you can fix it, and someone will cherry-pick to 2.x

[2022-10-24 03:17] ChewJ404 commented on #12440
first stop one  Workflow
second  the Workflow   status  is  4 ,It's always in a stopping state ，
third   Restart the dolphinscheduler service

[2022-10-24 06:05] gwdgithubnom commented on #12314
This is caused in 30x and dev has no upgrade code.

[2022-10-24 06:21] liqiquan commented on #12259
Now, after resource.storage. type=S3 is configured, if the master service is not configured separately, the master service cannot be started.

Since it may take time for the master service to remove the relevant code, can we first add the jar of aws-java-sdk-s3 in the master module, just like configuring resource.storage.type =HDFS?

[2022-10-24 06:22] ChewJ404 opened #12511 "[Bug] [worker] dolphinscheduler hive Default Execution Engine is mr"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler hive  Default  Execution Engine  is mr

### What you expected to happen

i used   hive  shell to  show    `set hive.execution.engine`
result  return
`hive.execution.engine=tez`
next i used dolphinscheduler

[2022-10-24 07:19] jkhhuse commented on #11321
because of check can not paased, i will recommit again to make check passed.

[2022-10-24 07:27] peacewong commented on #12456
Hello, I'm PPMC PeaceWong from linkis, we can communicate if you have any questions

[2022-10-24 07:31] hstdream commented on #12511
I'll verify this.

[2022-10-24 07:39] fqhaier commented on #2032
@zhaxiaodong9860 请问现在DS支持kettle吗？

[2022-10-24 08:17] hstdream commented on #12511
ds:
<img width="517" alt="1666599328556" src="https://user-images.githubusercontent.com/33045461/197479718-a7e5d7fa-d060-4824-8651-4f928b1b09f9.png">
os:
<img width="573" alt="1666599312693" src="https://user-images.githubusercontent.com/33045461/197479738-79aa1c7f-f578-49dd-a336-5fd5317f9b49.png">
It has been verified that this is no problem. It is recommended to check your hive environment and w

[2022-10-24 08:25] chenxippt opened #12514 "[Feature] [UI] sql workflow send email without attachment option"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler version 3.1.0 sql workflow send email without attachment option

### What you expected to happen

sql workflow send email with options（table 、attachment 、 table and attachment）

### Anything else

_No respon

[2022-10-24 08:28] ChewJ404 commented on #12511
i  test again

### hive shell
![image](https://user-images.githubusercontent.com/10162958/197480647-73f99525-5629-42eb-8778-ce5a475c796b.png)

###  dolphinscheduler sql task
![image](https://user-images.githubusercontent.com/10162958/197481203-40636c58-f722-4476-a0e2-100216f5cb0e.png)

### dolphinscheduler  shell hive task
![image](https://user-images.githubusercontent.com/10162958/197481821-7ea55

[2022-10-24 08:55] ChewJ404 commented on #12511
The environment variable  all settig  is right  ,i  used  aliyun emr ，hive shell  is show  right  ,but on dolphinscheduler  is wrong Could you give me an idea of where to find the problem

[code]

[2022-10-24 08:58] zhonghang1993 opened #12515 "3.0.1 version swagger document path error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There is a problem with the 3.0.1 version of the swagger document. The official website gave it to http://{{host}}: 12345/dolphinscheduler/swagger ui/index Html. After accessing, the system forcibly jumps to http://{{host}}:

[2022-10-24 09:04] SbloodyS commented on #12515
Please use english to describe it. Feel free to reopen it when you correct it.

[2022-10-24 09:04] #12515 closed, assigned to nobody

[2022-10-24 09:22] ChewJ404 commented on #12511
sorry is mine problem ,worked node  is not Unified configuration

[2022-10-24 09:22] #12511 closed, assigned to nobody

[2022-10-24 10:04] fqhaier commented on #2032
@davidzollo 请问现在DS支持kettle吗？

[2022-10-24 10:42] luckyboy2226 opened #12516 "[Bug] [Config] The rootPath for modifying the registration of zookeeper by dolphinescheduler is invalid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the root directory "/dolphinscheduler" of zookeeper is occupied by the old ds cluster, try to modify the zkRoot parameter in the bin/env/install_env.sh file in the configuration file as: zkRoot=${zkRoot:-"/dolphinsched

[2022-10-24 15:30] DarkAssassinator opened #12518 "[Bug] [Swagger] Many Swagger API tags are not specified"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Many Swagger did not specified `TAG`, did not config i18 properties.
Such as `CLUSTER_TAG`,`K8S_NAMESPACE_TAG`
![image](https://user-images.githubusercontent.com/20518339/197564096-cbd1b50a-757e-4956-97ef-5c2dab7f5412.png)

[2022-10-25 03:25] #12451 closed, assigned to rickchengx

[2022-10-25 03:52] EricGao888 opened #12521 "[Improvement][Permission] Improve DS permission control in a more decoupled way"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently in ds project, code related to permission control are strongly coupled and widely scattered. It increases the risk of introducing bugs when refactoring / changing code.
* We could improve the permissio

[2022-10-25 05:45] EricGao888 commented on #12463
fixed by #11222

[2022-10-25 05:45] #12463 closed, assigned to nobody

[2022-10-25 05:47] EricGao888 commented on #12238
May I ask whether we are going to add this patch to 3.0.2? If not, I will put it to 3.0.3.

[2022-10-25 06:20] #12504 closed, assigned to hiSandog

[2022-10-25 06:36] EricGao888 commented on #11627
@8431 Hi, may I ask whether you are still working on it? Thanks

[2022-10-25 06:37] DarkAssassinator commented on #12521
Big +1 May annotation should be better, such as `@AuthAction`

[2022-10-25 06:37] EricGao888 commented on #11550
Hi @MonsterChenzhuo May I ask whether you are still working on it?

[2022-10-25 06:42] EricGao888 commented on #11515
@chenhaonan313 `The file in the resource center is not available, you can view the contents of the file using the cat command, but using the file shows that it cannot be found` If you could `cat` the file, probably the file is there. Maybe caused by some kind of file permission error. We've implemented `hive cli task plugin` based on shell executor and it has been released in 3.1.0, maybe u could