[2022-05-25 08:41] devosend commented on #10102
I will fix it.

[2022-05-25 09:20] XuXuClassMate commented on #10205
I first started two worker service ports on 1234 and 1254, and forcibly stopped the worker service on port 1254. The component assigned to port 1234 showed fault tolerance.

[2022-05-25 10:13] #9923 closed, assigned to SnowMoon-Dev

[2022-05-25 10:13] #10207 closed, assigned to SnowMoon-Dev

[2022-05-25 10:36] #10090 closed, assigned to SnowMoon-Dev

[2022-05-25 10:37] #10088 closed, assigned to SnowMoon-Dev

[2022-05-25 10:37] #10196 closed, assigned to nobody

[2022-05-25 11:22] #10102 closed, assigned to zhongjiajie, qingwli

[2022-05-25 16:55] EricGao888 opened #10250 "[Feature][Doc] Instructions on LDAP authentication setup needed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* It seems DS has supported `LDAP` authentication for a long time, but there are no instructions on how to set up LDAP authentication for DS.
* related: #3743

### Use case

* Already described above.

### Related

[2022-05-25 17:03] EricGao888 commented on #2864
May I ask is there any update on this issue? https://github.com/apache/dolphinscheduler/pull/3424#issuecomment-683747588 Looks like PR #3424 was blocked because of hadoop version conflicts. I'd like to give another try if currently there is nobody working on this.

[2022-05-26 00:43] stalary commented on #10157
If no one is working on it right now, I'm happy to give it a try.

[2022-05-26 00:45] stalary commented on #10233
If no one is working on it right now, I'm happy to give it a try.

[2022-05-26 00:59] stalary commented on #10230
Is there a stable reoccurrence step? I did not reoccur in 2.0.5.

[2022-05-26 03:42] QuakeWang commented on #8027
Please assign it to me, I will do this task.

[2022-05-26 06:19] lordk911 opened #10251 "[Bug] [api] delete process_definition cause Lock wait timeout exceeded Exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when want to delete a process which have run many many times, the delete operation is too expensive ，the transaction do too mush operation , finally casue MySQLTransactionRollbackException . also during the transaction , oth

[2022-05-26 06:25] SbloodyS commented on #10251
Hi @lordk911 , please check the performance of MySQL database. I tried to delete the table of 10 million workflow instances without similar problems.

[2022-05-26 06:58] #10181 closed, assigned to lugela

[2022-05-26 07:33] MrTangHua commented on #10179
什么情况

[2022-05-26 07:59] huangwenjun30000 opened #10252 "[Bug] hive datasource other params illegal"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Using 2.0.5, when I connect to hive data source, I fill in the principal of JDBC connection parameters.The error is datasource other params illegal.The '@' problem in JDBC still exists.

### What you expected to happen

I wa

[2022-05-26 08:44] retime123 opened #10254 "[Feature][Discard old instances] can set to delete unwanted instances and logs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description
![image](https://user-images.githubusercontent.com/29012717/170464458-9000827f-9a43-43fc-8eba-dc02b9d9909b.png)

![image](https://user-images.githubusercontent.com/29012717/170449852-cfc7a949-4ecd-4b9f-a6ce-e2f9027

[2022-05-26 08:52] SbloodyS commented on #10254
We do not recommand delete user's data. It's a dangerous operation. For more information you can see the discussion in #8408.

[2022-05-26 08:54] retime123 commented on #10254
或者代码层面应该在哪个模块添加此功能？
Or which module should you add this functionality to at the code level?

[2022-05-26 08:59] retime123 commented on #10254
For my own use, If so, under which module should it be changed?

[2022-05-26 09:06] SbloodyS commented on #10254
It depends on what you want to achieve.

[2022-05-26 09:13] retime123 commented on #10254
工作流实例：实例运行的时候，判断有没有相应的参数来删除不需要的实例以及日志
Workflow instance: When the instance is running, determine whether there are parameters to remove unwanted instances and logs

[2022-05-26 09:16] retime123 commented on #10254
工作流实例：实例运行的时候，判断有没有相应的参数来删除不需要的实例以及日志

[2022-05-26 09:17] retime123 commented on #10254
工作流实例：实例运行的时候，判断有没有相应的参数来删除不需要的实例以及日志

[2022-05-26 09:17] retime123 commented on #10254
工作流实例：实例运行的时候，判断有没有相应的参数来删除不需要的实例以及日志
Workflow instance: When the instance is running, determine whether there are parameters to remove unwanted instances and logs

[2022-05-26 09:18] SbloodyS commented on #10254
How to judge unnecessary instances and logs?

[2022-05-26 09:21] retime123 commented on #10254
比如：比较旧的运行成功的实例，我就可以认为不需要。
总得保留最新的几个实例，作为其他使用。
For example, older successful instances can be considered unnecessary.
Always keep the latest few instances for other use.

[2022-05-26 09:24] retime123 commented on #10254
你们认为是a dangerous operation，那我自己改自己使用吧
然后就是想知道在哪个模块哪个文件下可以操作此功能？
You think it is a dangerous operation, then I will use it myself
Then you want to know which module and which file can operate this function?

[2022-05-26 09:36] retime123 commented on #10254
对了，还有一点，我觉得删不删除，是通过用户决定的，这个不是必填项
By the way, there is another point, I think whether to delete or not is decided by the user, this is not mandatory

[2022-05-26 09:38] SbloodyS commented on #10254
Please describe in English, which can make more developers understand.

[2022-05-26 09:41] retime123 commented on #10254
好，我用中英文对照
Ok, I'll use both Chinese and English

[2022-05-26 09:51] SbloodyS commented on #10254
Here is an example that may be useful to you:

1. Query the unnecessary workflow instances id from the database.
2. Call ```deleteProcessInstanceById``` api by yourself.

[2022-05-26 10:37] retime123 commented on #10254
那我要在哪个地方触发这个api？
So where do I trigger this API?

[2022-05-26 10:49] songjianet opened #10255 "[Perf][Locales] Split multilingual modules."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project

[2022-05-26 10:55] SbloodyS commented on #10254
Through the code you developed.

[2022-05-26 11:20] retime123 commented on #10254
我的意思是源码里面，每个实例的启动都走哪个方法？
是这个吗？版本2.0.5
I mean in the source code, which method is used to start each instance?
Is that it?  Version at 2.0.5
![image](https://user-images.githubusercontent.com/29012717/170477950-f966ec36-e21d-44db-9b19-80266e99faa8.png)

[2022-05-26 11:22] #10255 closed, assigned to songjianet

[2022-05-26 13:44] SbloodyS opened #10257 "[DSIP-7] [API] Suggest refactor the backend api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Purpose:
A user-friendly and high-performance restful API is our goal.

Refactor reason:
- Use restful style to unify API specifications
- Solve the current incomplete API document and reduce the threshold of API

[2022-05-26 17:24] 106umao opened #10259 "[Bug] [DolphinScheduler-UI] When defining tasks, some task types will have a bug that the "timeout alarm" button is invalid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

As shown in the figure below, when you select some task types, such as "PROCEDURE", and then turn on "Timeout Alarm", a bug will appear. The error message is shown on the right side of the figure, and I will also post the er

[2022-05-26 23:59] lordk911 commented on #10251
yes, maybe it's not a performance problem,
after dolphinscheduler restarted I try again to delete the process_definition which cause the problem , it's finish quickly.

maybe cause by dead lock,
almost the same time other opertion like insert into or update process_instance table also got MySQLTransactionRollbackException

'MySQLTransactionRollbackException: Lock wait timeout exceeded' error keep

[2022-05-27 02:42] zhongjiajie commented on #10257
Thanks @SbloodyS and @songjianet to bring this up, and it is worth the label `DSIP`. It looks good overall, I think maybe we could also add some check/tests and out API style itself to make sure we are restful and make sure out API docs same as our code. I am not sure whether exists this tools or not

[2022-05-27 02:43] xushoubao commented on #10257
你好，来件已收到，我会及时回复！

[2022-05-27 04:44] 106umao commented on #9385
i will solve it @zhongjiajie

[2022-05-27 05:34] SbloodyS commented on #9385
I have assigned to you. Looking forward to your contribution.

[2022-05-27 06:04] SbloodyS opened #10263 "[API] Refactor org.apache.dolphinscheduler.api.controller.ProcessInstanceController#queryProcessInstanceList api"
### Description
#### Suggested optimization
- ```Content-Type``` change to ```application/json```
- Add more example to api doc
- Improve the accuracy of error reporting

[2022-05-27 06:36] momomobinx commented on #9150
我感觉是前端的问题，点击保存工作流的时候双击了这类的保存了两次，或者数据库设定唯一值约束才行

[2022-05-27 06:53] SbloodyS commented on #10257
1. Do you guys have any goods suggestions for the new api' path? For example using ```/v2``` to distinguish it from the old api.

2. Currently we use ```{code: 0, msg: "成功", data: {}, failed: false, success: true}``` as our api's response structure. I suggest remove meaningless ```failed``` and ```success``` and use ```code``` to judge success or failed. That is ```{code: 0, msg: "成功", data: {}}``

[2022-05-27 07:43] songjianet opened #10266 "[Bug-FE] [Home] Status statistics card height is inconsistent."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![e6824497941039db5ccaaf88ddee155](https://user-images.githubusercontent.com/19239641/170653867-703c4ba4-066d-427e-a3e6-2a89fcede143.png)

### What you expected to happen

Status statistics card height is inconsistent.

###

[2022-05-27 07:47] wxd5146 opened #10267 "[Bug] [Quartz] the crontab is wrong"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

i want the process execute at 1:00 ,but the task executr at 9:00

the version is 3.0.0-beta-1,I am not find the version below

![image](https://user-images.githubusercontent.com/39934213/170653743-6bd5e4d4-26b5-44d4-a3f6-ad9

[2022-05-27 07:56] caishunfeng commented on #10257
Argee with you. we would better to use `/v2` api.
And I found the doc of resful api standard: https://dolphinscheduler.apache.org/zh-cn/development/api-standard.html

[2022-05-27 08:27] #10266 closed, assigned to songjianet

[2022-05-27 08:39] #10259 closed, assigned to 106umao

[2022-05-27 08:46] songjianet commented on #10257
This lacks the patch request method.

[2022-05-27 09:12] SbloodyS commented on #10037
Glad to hear that.

[2022-05-27 09:22] caoes opened #10270 "[Bug] [dolphinscheduler-api] datasource update input error password , still update success."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

First, enter the correct data source account password for connection test, wait for the message that the link is successful, save the data source. Then edit the data source, enter the wrong password for editing, editing succ

[2022-05-27 09:25] SbloodyS commented on #10267
![](https://vip1.loli.io/2022/05/27/Ey2AWads3Tz8gXj.png)

This issue has been fixed in ```dev``` branch. It will be released in the next version. I'll close this issue. Feel free to reopen it when you have further questions.

[2022-05-27 09:25] #10267 closed, assigned to nobody

[2022-05-27 09:27] SbloodyS commented on #10270
Hi @caoes , could you please check if this exists in ```dev``` branch?

[2022-05-27 09:32] zhongjiajie commented on #10144
we change milestone to `3.0.0-bate-2`

[2022-05-27 09:34] zhongjiajie commented on #10204
I think you just simply copy from the original one, in you start the same server in one single host, you should change the server port and delete the pid that exists

[2022-05-27 09:34] #10204 closed, assigned to nobody

[2022-05-27 10:13] SbloodyS commented on #10257
I found that our restful api standard doc shows that the api include path ```/api/dolphinscheduler/```. But in ```dev``` branch the path ```/api/``` did not exists. Should we change the doc or use ```/api/v2``` path? @caishunfeng @zhongjiajie

[2022-05-27 10:28] harkowl opened #10271 "cannot find name for group ID"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After executing the workflow, the status of the task instance is failed
How to solve ?
Thanks

[INFO] 2022-05-27 17:38:37.688 org.apache.dolphinscheduler.server.worker.plugin.TaskPluginManager:[73] - Registering task plugin:

[2022-05-27 10:58] SbloodyS commented on #10271
It seems group ID 1337 did not exists in your worker's machine. @harkowl

[2022-05-27 11:33] QuakeWang commented on #9426
I found that using relative paths in documents such as `... /... /... /... /img/tasks/demo/`. Instead of absolute paths, e.g. `/img/tasks/demo`. The image will be displayed normally. So do we need to change the path to the image?

@zhongjiajie

[2022-05-28 05:04] sfss5362 opened #10273 "[Feature][Datasource] Add dataSource for AWS Athena"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add dataSource for AWS Athena

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to fol

[2022-05-28 18:12] EricGao888 opened #10274 "[Bug] [LDAP] DS LDAP authenticator needs improvements"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* Currently, DS LDAP authenticator is not very easy to use. In some situations, it may not work.

### What you expected to happen

* First, current DS LDAP authenticator needs LDAP `administrator credentials`, and then searc

[2022-05-29 02:32] EricGao888 commented on #9441
@songjianet @zhongjiajie Could you please help remove the `stale` label? THX

[2022-05-29 08:54] 106umao opened #10277 "[Bug] [DolphinScheduler-alert-email] Running unit test testGetMessageFromTemplate() fails"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I can pass this test case on linux, but there is a problem on windows. Through debug, it is found that there is a problem with the newline character of the string generated by the `generateMockTableTypeResultByHand()` method

[2022-05-29 10:44] #10277 closed, assigned to 106umao

[2022-05-29 10:46] SbloodyS opened #10279 "[Improvement][Dependent] Dependent node log output optimization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Dependent node log output optimization

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agr

[2022-05-29 10:56] 106umao opened #10280 "[Bug&Feature] [DolphinScheduler-common] Calling OSUtils.loadAverage() in OSUtilsTest.oadAverage() test case always returns -1 causing the assertion to fail"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Calling OSUtils.loadAverage() in OSUtilsTest.oadAverage() test case always returns -1 causing the assertion to fail and this problem does not occur on my linux system

### What you expected to happen

Assertion succeeded, re

[2022-05-29 11:46] EricGao888 commented on #10274
Here is an example for two kinds of LDAP configurations which `Apache Airflow` is using:
![image](https://user-images.githubusercontent.com/34905992/170866316-998fa4b5-4a5f-4f59-b978-a6c2e6cd202b.png)
Click [here](https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-ldap) for more information.

[2022-05-29 13:02] zhongjiajie commented on #10257
I think we should correct the document, and FYI, I think one of this resource it is because our documentation are in too many places, and developer documen without version, I create an issue https://github.com/apache/dolphinscheduler/issues/9927.

[2022-05-29 14:01] 106umao opened #10282 "[Bug] [dolphinscheduler-common] JSONUtils tool class time zone problem reporting error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

report error  in mvn test，but not occur error when use Junit to run JSONUtilsTets.java file。
[code]
The dateToString and stringToDate methods get the following errors when running `mvn test`
[code]

### What you expected to

[2022-05-29 16:03] EricGao888 opened #10283 "[DSIP-19][Feature] Add connection center feature for DS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Add `Connection Center` feature for Dolphin Scheduler so that plugins will be able to achieve connection information such as host, endpoint, credentials to external system and switch them easily without restarti

[2022-05-29 16:04] EricGao888 commented on #10283
Could anyone please help add the `discussion` label to this issue? I think we need some discussions for the design of this feature : )

[2022-05-30 00:24] #9660 closed, assigned to nobody

[2022-05-30 02:14] harkowl commented on #10271
Is it necessary to authorize the directory
I don't know ...

[2022-05-30 02:18] zhongjiajie commented on #9426
It could, but it will break the link on our website https://dolphinscheduler.apache.org/. So we also need to add some script in our website to avoid it being broken, and already have one in https://github.com/apache/dolphinscheduler-website/pull/789 by @huangchenguang123 . But it is related PR #10127 only correct conditions task type

[2022-05-30 03:05] zhongjiajie commented on #9898
Could we close this issue since #10242 merged? @QuakeWang

[2022-05-30 03:09] syncwt opened #10285 "[Bug] [Task instance log] Can't show instance log detail when upgrade version 1.3.5 to 2.0.5"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I  run task on  version 1.3.5. The  instance's log is  full  detail.
![image](https://user-images.githubusercontent.com/24603463/170909896-4c9153db-d394-4018-9bbd-b13f47f45cde.png)
But now  I   upgraded to v2.0.5. The

[2022-05-30 03:43] cadl opened #10288 "[Feature] Make SERIAL_WAIT/SERIAL_DISCARD/SERIAL_PRIORITY work across multiple process instance versions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now SERIAL_WAIT/SERIAL_DISCARD/SERIAL_PRIORITY only work on the same version process instances(query
via `queryByProcessDefineCodeAndProcessDefinitionVersionAndStatusAndNextId` at [ProcessServiceImpl.java](https:/

[2022-05-30 03:44] #9989 closed, assigned to QuakeWang

[2022-05-30 03:45] Amy0104 commented on #9986
This issue is not reproduced.Could you check this again? @duspring

[2022-05-30 05:54] #9988 closed, assigned to Amy0104

[2022-05-30 06:08] SbloodyS opened #10290 "[API] Refactor org.apache.dolphinscheduler.api.controller.AccessTokenController#createToken api"
### Description
#### Suggested optimization
- ```Content-Type``` change to ```application/json```
- Add more example to api doc
- Improve the accuracy of error reporting
- The input and output parameters of API should use entity

[2022-05-30 06:28] QuakeWang commented on #9898
OK, It can be closed. The rest of the documentation is about tasks. We can discuss this in the relevant sub-issue.

[2022-05-30 06:51] #9898 closed, assigned to nobody

[2022-05-30 07:07] zhongjiajie commented on #9441
done

[2022-05-30 07:14] mrhaoqi opened #10291 "[Bug] [Workflow Relationships] Dependencies between workflows are not displayed properly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![8edeb97956780fcdcef382782cc0250](https://user-images.githubusercontent.com/18070116/170937355-00c82cc3-309d-4fa8-86df-896d0f88945a.png)

### What you expected to happen

-

### How to reproduce

-

### Anything else

_No r

[2022-05-30 07:18] zhongjiajie commented on #10211
Sound great, but single alert-server is enough for most cases. I find you want to submit PR to it, do you have any plan?

[2022-05-30 07:20] zhongjiajie commented on #10087
could you upgrade your google chrome to the latest version and try again? @littleziao

[2022-05-30 07:23] zhongjiajie commented on #10233
Sound great, I assigned to you and looking forward your contribution

[2022-05-30 07:23] zhongjiajie commented on #8027
I assigned to you now

[2022-05-30 07:28] zhongjiajie commented on #10131
yeah, if this bug already fix by others, you should not submit PR for any remote branch

[2022-05-30 07:30] zhongjiajie commented on #10222
In this case, I think we should add some hyperlink from shell task to resource center to tell users how to use resource in shell task, WDYT?

[2022-05-30 07:31] QuakeWang commented on #10222
Great! I will do this task. Please assign it to me : )

[2022-05-30 07:41] EricGao888 opened #10293 "[Bug] [Api-Server] Improve exception handling when admin user uploads file in resource center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* If user logs in with admin role and does not set tenant, there will be `null pointer exception` when he / she tries to upload files in `resource center`.

![image](https://user-images.githubusercontent.com/34905992/1709419

[2022-05-30 07:41] zhongjiajie commented on #10222
Looking forward your contribution

[2022-05-30 10:17] EricGao888 opened #10295 "[Bug] [Monitor] Audit Log not working"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* Dolphin Scheduler `Audit Log` in `Monitor` section does not work.
* There is no record in `t_ds_audit_log`.

![image](https://user-images.githubusercontent.com/34905992/170971390-286646f9-0d6d-450b-9b67-dc83266be9a9.png)

[2022-05-30 10:31] zhongjiajie commented on #10295
Thank @EricGao888 to bring this up, I add milestone `3.0.0-beta-2` and label `help wanted` to find someone interested of this issue

[2022-05-30 11:01] songjianet opened #10297 "[Bug-FE][DB] When the DB page has no data, you need to increase the result page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![178450a6662ce9c0cc922949e3a53d4](https://user-images.githubusercontent.com/19239641/170978869-352dff4c-b3e9-4491-b49c-9d8d4195b2ef.png)

### What you expected to happen

When the DB page has no data, you need to increase t

[2022-05-30 11:28] #10297 closed, assigned to songjianet

[2022-05-30 11:55] 106umao opened #10300 "[Bug] [dolphinscheduler] http client test frequent request timeout"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Frequent request timeouts when testing `org.apache.dolphinscheduler.common.utils.HttpUtilsTest` then the entire mvn test progress failed, resulting in the need to restart

### What you expected to happen

Passed the test

##

[2022-05-30 13:48] EricGao888 opened #10302 "[Feature][Task Plugin] Enable users to switch and install conda env in jupyter task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently users need to manually create conda env and install all libs on workers when using `jupyter task plugin`, which is not convenient with multiple workers. If workers do not have public ips, it will be mo

[2022-05-30 15:32] #10231 closed, assigned to hstdream

[2022-05-30 16:22] guodongym opened #10305 "[Bug] [Task] Constant definitions are repeated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The constants of the following configuration items have repeated definitions

[code]

Respectively in

org.apache.dolphinscheduler.plugin.task.api.TaskConstants
org.apache.dolphinscheduler.common.Constants

### What you expe

[2022-05-30 16:29] WangJPLeo opened #10306 "[Feature][Permission] Modify the permissions of project management, security center, data source center, data quality, Resource Center and Monitor Center module."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Modify the permissions of project management, security center, data source center, data quality, Resource Center and Monitor Center module.

### Use case

Unified management of resource permissions and function pe

[2022-05-31 00:14] #10306 closed, assigned to nobody

[2022-05-31 02:43] zhongjiajie commented on #10293
It should be noticed when user execute workflow without assigned tenant too

[2022-05-31 03:00] #9950 closed, assigned to vagetablechicken

[2022-05-31 03:14] ruanwenjun commented on #10305
@guodongym I suggest that we can remove these three constant in `org.apache.dolphinscheduler.common.Constants ` and keep in `org.apache.dolphinscheduler.plugin.task.api.TaskConstants `.

[2022-05-31 03:19] #9977 closed, assigned to EricGao888

[2022-05-31 03:49] #8828 closed, assigned to JinyLeeChina

[2022-05-31 03:54] cadl commented on #10288
After some research, I found the behavior of serial execution was changed at #9869.

In the first version #6185, serial execution works on all process instances.

After the #9869, SERIAL_WAIT/SERIAL_DISCARD/SERIAL_PRIORITY only works on the same version process instances.

To fix this issue, I have 2 ideas:

1. Recover the serial execution logic back to #6185. But also need to fix #9868, such as a

[2022-05-31 03:58] guodongym commented on #10305
@ruanwenjun   I think the opposite, Can keep in `org.apache.dolphinscheduler.common.Constants` , remove that from `org.apache.dolphinscheduler.plugin.task.api.TaskConstants` , Because these parameters should be global as more AWS components are supported
-----------
我认为恰恰相反，因为随着后续支持更多的AWS组件，这三个参数应该是全局通用的，不应该保持在task的常量里面

[2022-05-31 04:31] guodongym commented on #10305
@ruanwenjun  I guess you're right. I see that Common references the DolphinScheduler-task-API module, but the tasks plugin doesn't reference common so it should be keep in `org.apache.dolphinscheduler.plugin.task.api.TaskConstants`

[2022-05-31 04:31] ruanwenjun commented on #10305
In my knowledge, AWS is just a choosable plugin, it should not be a necessary dependency. Put the module-specific
 parameters into specific modules will be more cohesive.

BTW, `dolphinscheduler-common` rely on `task-api`.

[2022-05-31 05:54] Amy0104 commented on #9986
I checked the code. This issue has been solved by @rockfang

[2022-05-31 05:54] #9986 closed, assigned to Amy0104

[2022-05-31 06:01] #10290 closed, assigned to SbloodyS

[2022-05-31 06:54] ruanwenjun commented on #5255
closed, since we already have a dolphinscheduler-meter module to do this.

[2022-05-31 06:54] #5255 closed, assigned to nobody

[2022-05-31 07:02] zhongjiajie commented on #9426
after https://github.com/apache/dolphinscheduler-website/pull/789 merged, we could change all our img path from `/img` to related path

[2022-05-31 07:03] zhongjiajie commented on #9426
And I will find some easy way to batch operator them

[2022-05-31 07:05] #10126 closed, assigned to huangchenguang123

[2022-05-31 07:06] #10043 closed, assigned to nobody

[2022-05-31 07:22] #9813 closed, assigned to kezhenxu94

[2022-05-31 07:48] huangchenguang123 commented on #10295
org.apache.dolphinscheduler.api.service.AuditService#addAudit is not used anywhere.

[2022-05-31 08:27] ruanwenjun opened #10309 "[Improvement][Master] Remove the schedule thread in LowerWeightHostManager"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When we use LOWER_WEIGHT strategy to dispatch the task, the master will use a schedule thread to sync the worker's info from ServerNodeManager, see code in LowerWeightHostManager.

It's better to use notification

[2022-05-31 08:36] ruanwenjun commented on #10295
Yes, this feature is bring at SOC2021, the audit data ingest has not been implementation, are you interested to finish this? @EricGao888

[2022-05-31 08:42] EricGao888 commented on #10295
Thx for the information. Recently I have several other DS issues WIP, therefore, I will be appreciated if someone else could help with this issue. IMHO, this issue is kind of urgent because users can access `audit` in `monitor` section and if they find it not working, they probably get confused.

[2022-05-31 10:07] ruanwenjun commented on #9324
@EricGao888 Hi, I close #5255, since there is already a module dolphinscheduler-meter can expose the metrics, and I will take part in this work to provide some common method.

[2022-05-31 10:15] WangJPLeo opened #10312 "[Permission] Resource permission module query page error."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Resource permission module query page error.

### What you expected to happen

normal

### How to reproduce

query resource.

### Anything else

No response

### Version

3.0.0-beta-1

### Are you willing to submit PR?

- [X

[2022-05-31 10:42] guodongym opened #10315 "[Bug] [TestCase] TelegramSenderTest Network timeout retry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

run test case  `org.apache.dolphinscheduler.plugin.alert.telegram.TelegramSenderTest`  There is an error

[code]

### What you expected to happen

run test case success

### How to reproduce

run test case  `org.apache.dolph

[2022-05-31 10:46] SbloodyS commented on #10315
Hi @guodongym , please check if your network can login to the telegram normally.

[2022-05-31 10:56] guodongym commented on #10315
can access it only when the network proxy is enabled

[2022-05-31 10:58] SbloodyS commented on #10315
So that ```TelegramSenderTest``` can be executed normally when the network proxy is enabled.

[2022-05-31 11:03] guodongym commented on #10315
Thank you. I'll try again

[2022-05-31 12:39] #10315 closed, assigned to nobody

[2022-05-31 12:51] retime123 opened #10316 "[Bug] [LOG] An instance is retried multiple times and then deleted, removing only one log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/29012717/171174961-afe452dc-f5c5-4762-9396-b3bd75f86bc2.png)
![image](https://user-images.githubusercontent.com/29012717/171175067-eb945d23-c111-4199-82fb-06cb13452d63.png)

[2022-05-31 15:31] EricGao888 commented on #10302
May I ask is there any best practice about how to download resources from `resource center` in `task plugin`?

[2022-05-31 15:45] aiwenmo opened #10317 "[Bug] [ui] The tips of startTimeout in the jupyter form is error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The tips of startTimeout in the jupyter form is error.
![image](https://user-images.githubusercontent.com/32723967/171213543-d73f8b36-fea3-42b1-8f81-e13459b44d27.png)

### What you expected to happen

Probably due to forget

[2022-05-31 15:54] guodongym opened #10318 "[Bug] [UI] EMR Task UI custom parameters Is not correct"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

EMR Task UI custom parameters Is not correct

This task type does not support parameter passing, so there should be no `in` `out` option

![image](https://user-images.githubusercontent.com/20675095/171216015-1f8490cc-cb49-4f

[2022-05-31 16:06] guodongym commented on #10219
## ui
Add task type selection button, switch RunJobFlow/AddJobFlowSteps
When selecting RunJobFlow, keep the original interface
When selecting AddJobFlowSteps, add a text box to enter the cluster name, and enter the parameter Json of Steps. This API AWS natively requires JobFlowId. The reason why the cluster name is required is that the cluster may be terminated and rebuilt during use. At this time

[2022-05-31 16:09] 106umao opened #10320 "[Bug] [dolphinscheduler-datasource-api] There are two jmod issues in this module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Running `org.apache.dolphinscheduler.plugin.datasource.api.utils.CommonUtilsTest#testLoadKerberosConf` method in jdk11 has some jmod issues.

`PowerMockito.mockStatic(UserGroupInformation.class) `method leads to the followin

[2022-06-01 01:39] SbloodyS commented on #10320
Currently only support jdk8 in dolphinscheduler. There are many places to adapt, not just unit test. I think we should open a discussion if you want to support another version of jdk.

[2022-06-01 02:11] aiwenmo commented on #10317
close [#10319](https://github.com/apache/dolphinscheduler/pull/10319)

[2022-06-01 02:19] #10317 closed, assigned to aiwenmo

[2022-06-01 02:55] 106umao commented on #10320
I saw the official developer interface prompting support for jdk1.8+ when I raised the issue a few days ago, and then encountered some jmod problems in the process of using 11, and mentioned a pr by the way. This issue is also about jmod, so I want to relate it to the pr I mentioned before. Since the CI of that pr is a bit of a problem, I'd like to temporarily update the official documentation to

[2022-06-01 02:59] SbloodyS commented on #10320
You can submit a pr to change the incorrect description of ```jdk1.8+``` to ```jdk1.8```. But we did not support jdk9 right now.

[2022-06-01 03:14] 106umao commented on #10320
I saw it last week and now it has been changed. But I pr have done a lot of work on jmod.

[2022-06-01 03:17] SbloodyS commented on #10320
You can continue your PR in #10239. There is no conflict between two of them.

[2022-06-01 03:50] 106umao opened #10324 "[Feature][Doc] Provide users with clear guidance on jdk versions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The official [product usage documentation](https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/about/introduction.html) and [developer documentation](https://dolphinscheduler.apache.org/zh-cn/developmen

[2022-06-01 05:31] QuakeWang commented on #9426
Do you mean we can use `... /... /... /... /img/tasks/demo/` to replace `/img/tasks/demo` at now ?

[2022-06-01 07:01] zhongjiajie commented on #9426
Yeah, after https://github.com/apache/dolphinscheduler-website/pull/789 we can do that

[2022-06-01 07:06] QuakeWang commented on #9426
Ok, I will do this task.

[2022-06-01 09:22] #10293 closed, assigned to EricGao888

[2022-06-01 09:28] #10222 closed, assigned to QuakeWang

[2022-06-01 09:47] songjianet opened #10327 "[Bug-FE][Overview] Project overview page status statistics are highly inconsistent."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![1654076802](https://user-images.githubusercontent.com/19239641/171376612-5b2e1e28-bccf-4cdb-82ef-36e0e048e5fa.jpg)

### What you expected to happen

Project overview page status statistics are highly inconsistent.

### How

[2022-06-01 12:29] #10312 closed, assigned to WangJPLeo

[2022-06-01 12:41] WangJPLeo opened #10330 "[Feature][e2e] Should not add refresh logic in the e2e case."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Should not add refresh logic in the e2e case

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X]

[2022-06-01 13:04] complone commented on #10212
t looks very interesting. I am the tutor of this spring-cloud-alibaba ASoc. I have a certain understanding of nacos and want to try to develop this plugin.

[2022-06-01 13:21] EricGao888 commented on #10302
I was planning to enable users to download packed conda environment from `resource center` at the beginning of jupyter task. However, packed conda env could be large, like 200MB. If downloading every time before executing jupyter task, it may cause network issue, especially when resources are stored in remote object storage like `s3`.
I'm not sure whether there is something like cache we could use

[2022-06-01 13:33] EricGao888 commented on #10302
If we choose the `python-virtual-env task` approach, we could establish some interaction between this new task and other python related task. For example, after running `python-virtual-env task`, DS will append the path of the new env into a file called `virtual_env_paths.txt`.  `Python` or `Jupyter` task will automatically read this file, and users will be able to choose the env they want from `U

[2022-06-01 13:41] kangyuanjia opened #10332 "[Improvement][dolphinscheduler-api] Add a switch for Swagger"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description
#10332
Swagger has unauthorized access, exposing too much sensitive information

### Use case

Add a switch for Swagger
Swagger has unauthorized access, exposing too much sensitive information

### Related issues

[2022-06-01 13:50] #10327 closed, assigned to songjianet

[2022-06-01 13:58] EricGao888 commented on #10302
Of course, we could take both of them and users could choose the one they like...

[2022-06-01 15:48] ruanwenjun commented on #10332
Adding switch for swagger is reasonable for me, but I don't agree swagger will expose sensitive information.

[2022-06-01 16:29] kangyuanjia commented on #10332
@ruanwenjun Colleagues in information security suggest authorizing access or closing pages using swagger information.
![1654100395481_92DD33F5-09D7-4f9b-83DA-387B0B2CB324](https://user-images.githubusercontent.com/19955209/171454124-447ba6c2-6d54-4766-8bcd-990976a61a9e.png)

[2022-06-02 00:24] #9749 closed, assigned to Wilson-BT

[2022-06-02 00:25] #9721 closed, assigned to EricJoy2048

[2022-06-02 00:25] #9712 closed, assigned to nobody

[2022-06-02 00:25] #9705 closed, assigned to nobody

[2022-06-02 00:25] #9703 closed, assigned to nobody

[2022-06-02 00:25] #9699 closed, assigned to nobody

[2022-06-02 01:25] GodWon opened #10335 "[Feature][dolphinscheduler-api] When a UDF function is added or modified, the function name cannot be repeated, which does not consider the type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

已经存在hive类型的函数名任务，添加spark任务时候抛出异常。
![image](https://user-images.githubusercontent.com/17845085/171527523-fd0e6e49-cd4b-4eba-816a-d4fe31a16f6a.png)

### Use case

希望保存的时候 重复的判断方法内加入类型

### Related issues

_No respon

[2022-06-02 01:48] #10330 closed, assigned to WangJPLeo

[2022-06-02 02:02] ruanwenjun commented on #10332
This is just an API-docs :).

[2022-06-02 02:53] #10254 closed, assigned to nobody

[2022-06-02 05:56] #10305 closed, assigned to guodongym

[2022-06-02 06:15] WangJPLeo opened #10338 "[Bug] [Permission] Tenants and users do not need to do post-creation association operations."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Failed to create tenant, tenants and users do not need to do post-creation association operations

### What you expected to happen

Normal

### How to reproduce

Create a tenant.

### Anything else

No Response

### Version

[2022-06-02 07:01] EricGao888 commented on #10302
FYI, there is a `PythonVirtualenvOperator` in `Apache Airflow` designed in another way. It will automatically created and destroyed virtual env according to the `requirement.txt` provided by users. However, this method seems to require workers to bind public ips.

https://github.com/apache/airflow/blob/main/airflow/operators/python.py

https://registry.astronomer.io/providers/apache-airflow/module

[2022-06-02 07:16] github-keep opened #10340 "[Bug] [dolphinscheduler-api] HDFS failed to upload large file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

在配置HDFS之后使用资源中心上传过大的文件（90MB）失败，小文件可以。猜想：不能上传超过HDFS数据块大小（64MB）的文件，查看日志错误信息：没有合适的分解器。
![image](https://user-images.githubusercontent.com/34233672/171570072-3bb4a43f-0ab3-4474-bb07-bf63fe8bcf40.png)

### What you expected to ha

[2022-06-02 07:41] ruanwenjun opened #10341 "[Bug] [Worker] Worker will not exit when fail to start"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the worker start failure due to database connect error or some other initializes error. The worker will hang, since there are some no-damon thread is still running.

### What you expected to happen

When worker start fa

[2022-06-02 07:48] SbloodyS opened #10343 "[Bug] [Docs] Function description error of complement module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Function description error of complement module

### What you expected to happen

above.

### How to reproduce

above.

### Anything else

_No response_

### Version

dev

### Are you willing to submit PR?

- [X] Yes I am wi

[2022-06-02 08:13] #10343 closed, assigned to SbloodyS

[2022-06-02 08:19] ruanwenjun commented on #10324
@106umao Hi, please clarify which problem you meet with jdk11. I also use jdk11, and it can compile/run successfully.

[2022-06-02 10:03] ruanwenjun opened #10348 "[Feature][Worker] Remove quartz at worker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I find we will create quartz at WorkerServer.
[code]

In my knowledge, we don't need to initialize quartz at worker, we can remove this at worker.

A long term plan is that we can move the quartz from `dolphinsche

[2022-06-02 10:29] ruanwenjun opened #10349 "[Bug] [API] Task parameter check error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I start the `dolphinscheduler-api`, `dolphinscheduler-master`, `dolphinscheduler-worker`. And create a task, I get an error.
<img width="1404" alt="image" src="https://user-images.githubusercontent.com/22415594/17161040

[2022-06-02 10:34] ruanwenjun commented on #10349
Maybe we need to change the dependency
https://github.com/apache/dolphinscheduler/blob/6134e0a628edc9890adc6f7677a5d122dd5c1a93/dolphinscheduler-api/pom.xml#L54-L57
to
[code]
This will increase the size of api module. cc @kezhenxu94

[2022-06-02 10:35] kezhenxu94 commented on #10349
Thanks for the information. I can help to verify when you open a pull request.

[2022-06-02 10:51] #10318 closed, assigned to guodongym

[2022-06-02 14:12] #10349 closed, assigned to ruanwenjun

[2022-06-02 15:15] ruanwenjun opened #10352 "[Improvement][datasource] Move the datasource params into target datasource module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, the datasource -api module contains specific datasource param, this is strange, it's needed to move these params to datasource plugin module.

### Use case

_No response_

### Related issues

_No respon

[2022-06-02 15:28] #9426 closed, assigned to zhongjiajie, QuakeWang

[2022-06-03 00:17] #9686 closed, assigned to nobody

[2022-06-03 00:17] #9685 closed, assigned to nobody

[2022-06-03 00:17] #9679 closed, assigned to songjianet

[2022-06-03 00:17] #9584 closed, assigned to JinyLeeChina

[2022-06-03 00:25] pjfanning opened #10354 "[Bug] update commons-io due to cve"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://mvnrepository.com/artifact/commons-io/commons-io shows the CVEs

### What you expected to happen

n/a

### How to reproduce

n/a

### Anything else

_No response_

### Version

dev

### Are you willing to submit PR?

[2022-06-03 00:30] pjfanning opened #10356 "[Bug] upgrade logback due to cve"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://mvnrepository.com/artifact/ch.qos.logback/logback-core shows the CVEs

### What you expected to happen

n/a

### How to reproduce

n/a

### Anything else

_No response_

### Version

dev

### Are you willing to submi

[2022-06-03 04:15] #10352 closed, assigned to ruanwenjun

[2022-06-03 09:17] #10354 closed, assigned to pjfanning

[2022-06-03 11:21] #10356 closed, assigned to pjfanning

[2022-06-03 16:18] #10348 closed, assigned to ruanwenjun

[2022-06-04 00:21] #9767 closed, assigned to Tianqi-Dotes

[2022-06-04 00:21] #9661 closed, assigned to nobody

[2022-06-04 00:21] #9447 closed, assigned to nobody

[2022-06-04 00:21] #9407 closed, assigned to nobody

[2022-06-04 00:21] zengqiyan commented on #9394
已收到，谢谢

[2022-06-04 13:01] #9920 closed, assigned to caishunfeng, kezhenxu94

[2022-06-04 15:36] guodongym opened #10363 "[Feature][server] resource.storage.type=S3，Bucket configuration should be supported"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

resource.storage.type=S3，Bucket configuration should be supported，Constants are currently immutable

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2022-06-04 15:59] SbloodyS commented on #10363
It's configurable in ```fs.defaultFS``` of ```common.properties```

[2022-06-04 16:05] guodongym commented on #10363
This configuration will not commence for S3utils, S3utils references is  `org.apache.dolphinscheduler.common.Constants#BUCKET_NAME`
The value is also used when creating a tenant

[2022-06-05 03:34] SbloodyS commented on #10219
That's great. Looking forward to your contribution. @guodongym

[2022-06-05 14:34] #10338 closed, assigned to WangJPLeo

[2022-06-06 00:19] #9180 closed, assigned to nobody

[2022-06-06 01:39] zhongjiajie commented on #8862
remove stale

[2022-06-06 02:26] littleziao commented on #10087
my chrome is constantly updated, and it was the latest version when I tested it.
sry, last week i didn't reply in time cause had something with myself.

[2022-06-06 02:33] #10168 closed, assigned to zhaohehuhu

[2022-06-06 02:38] zhongjiajie commented on #10087
In this case, maybe there is a bug in version 3.0.0-alpha, but we tests both 3.0.0-beta-1 and dev, it is ok

[2022-06-06 02:41] littleziao commented on #10087
I used 2.0.5 for production and i will upgrade 3.0.0-beta if the time is right

[2022-06-06 02:42] littleziao commented on #10087
thinks

[2022-06-06 02:46] zhongjiajie commented on #10087
Got it, so I prefer to close this issue in this case, you could reopen it if you find it still exists in 3.0.0-beta-1 or other latest release

[2022-06-06 02:46] #10087 closed, assigned to littleziao

[2022-06-06 02:49] #10341 closed, assigned to ruanwenjun

[2022-06-06 03:59] XuXuClassMate opened #10366 "[BUG-FE][Page Turning Component] Quick Click Pages Not Responding"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Quick Click Pages Not Responding

<img width="1899" alt="image" src="https://user-images.githubusercontent.com/76080484/172092163-94a06335-469d-4330-82bb-f1aff1086166.png">

### What you expected to happen

Display the conte

[2022-06-06 04:17] 106umao commented on #10324
Did you forget to use` mvn clean`, or did you skip the compilation of some modules?

[2022-06-06 07:00] SbloodyS commented on #6758
I also need this feature. I'll implement it in a few days. Assigned myself.

[2022-06-06 08:06] gglinux commented on #9315
We have the same problem, the version is 2.0.5.

Dependent nodes are actually successful

<img width="277" alt="image" src="https://user-images.githubusercontent.com/7273957/172120689-aa23c9dc-6948-4787-a97b-5dacaa8887f1.png">

[2022-06-06 12:53] WangJPLeo opened #10367 "[Bug] [Permission] Permission check related keys need to be adjusted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Permission check related keys need to be adjusted

### What you expected to happen

Normal

### How to reproduce

Permission check.

### Anything else

No

### Version

dev

### Are you willing to submit PR?

- [X] Yes I am

[2022-06-07 01:57] codyyang0 opened #10369 "[Bug] [File Manage] Can't upload a file to a granted file directory"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Admin granted a file directory to a normal user. Granted user can't upload a file to that file directory, the reported error is "The current user does not have permission to operate".

### What you expected to happen

Normal

[2022-06-07 02:44] hstdream opened #10370 "[Improvement] [Api & Master] Complement function transformation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The function of replenishment is changed to that the user enters the data date of the amount to be replenished. The system generates a batch of task instances in batch based on the date entered by the user

### What you expe

[2022-06-07 02:45] hstdream commented on #10370
@lenboo @caishunfeng

[2022-06-07 08:02] zhongjiajie commented on #6758
Great!

[2022-06-07 10:03] jieguangzhou opened #10372 "[Feature][Task Plugin] Add DVC task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 In the MLOps scenario, data versioning is an important module that can help data scientists perform data versioning so that machine learning experiments and team data sharing and management can be carried out mor

[2022-06-07 10:17] #9918 closed, assigned to nobody

[2022-06-08 00:09] jieguangzhou commented on #10302
Workers that run jupyter tasks maybe always can bing public IPs.
In the future maybe we can create a new environment by passing `requirements.txt` and `python version` in

[2022-06-08 00:20] #9587 closed, assigned to nobody

[2022-06-08 02:09] EricGao888 commented on #10302
I plan to add the feature of enabling users to pass requirements.txt to python related task. No matter users choose to bind public ips to their workers or not, what we could do is to provide users with one more choice to manage python environment. `DS` should have the same or even better user experience when it come to python related task environment management.

[2022-06-08 02:39] qingwli commented on #10257
Count me in

[2022-06-08 03:01] SbloodyS commented on #10257
I will make a list of all the backend api of ds for everyone to choose in a few days.

[2022-06-08 03:37] SbloodyS commented on #10302
I agreed. It is good to give users a more convenient option.

[2022-06-08 06:17] #8029 closed, assigned to huangchenguang123

[2022-06-08 06:24] zhongjiajie commented on #8855
remove stale

[2022-06-08 06:28] zhongjiajie commented on #9885
I think is should work, I will close this issue template, you could reopen it if you have further issue

[2022-06-08 06:28] #9885 closed, assigned to 1205823696

[2022-06-08 06:45] zhongjiajie commented on #10302
Maybe we should not imagine what users' environment is, it will increase our cost. If users machine without public IP, how could they install python package? maybe they have whl package in their local, they could install by `pip install --no-index -f ./pkg_path pkg name`. maybe the have python package index in they network locally. maye the others balabala thing they could do. But I think the most

[2022-06-08 06:48] SbloodyS commented on #10302
Yes. So I suggest giving a switch to the user to choose it.

[2022-06-08 06:55] zhongjiajie commented on #10302
Sorry, I do not finish my comment above 😄

[2022-06-08 07:32] zhaohehuhu commented on #9905
I came cross a same problem.

[2022-06-08 08:28] effective996 opened #10374 "[Feature][quzrtz.properties] In version 2.0.4, some tasks are not triggered when there are too many concurrent workflows"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We set up 400 workflows to start scheduling at the same time, and found that some tasks did not trigger scheduling every day, and the parts that were not scheduled were random.

By looking at the log file, it is f

[2022-06-08 11:42] #6758 closed, assigned to SbloodyS

[2022-06-09 00:21] #9857 closed, assigned to nobody

[2022-06-09 02:13] EricGao888 commented on #10340
I encountered this error, too. May I ask is there any update or potential solutions to this issue?

[2022-06-09 02:29] zhongjiajie opened #10377 "[Bug] [db] Database upgrade from version 2.0.5 to 3.0.0b1 error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

upgrade dolphinschelduler version from 2.0.5 to 3.0.0-beta-1 will cause error, according to the upgrade doc https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/upgrade.html

### What you expected to happen

[2022-06-09 03:26] zhaohehuhu commented on #10374
I got a same problem, which is some workflows failed to be triggered as expected.

[2022-06-09 04:42] wq557520 opened #10378 "[Bug] The problem when the task flow is set to execute at 0:00 every day"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

任务流设置定时每天0点执行时，补数开始时间如果为1号0点，那会1号的不执行，执行从2号开始补数

### What you expected to happen

1号0点的任务也可以正常补数

### How to reproduce

定时时间设置为每天0点，补数的时候选择1号0点到，5号0点

### Anything else

_No response_

### Version

2.0.5

### Are you willing

[2022-06-09 05:39] zhaohehuhu commented on #10374
I believe batchTriggerAcquisitionMaxCount is required to set to > 1, if many triggers need to be fired all at once.

[2022-06-09 06:04] SbloodyS commented on #10378
Hi @wq557520 , I can not reproduce your issue in 2.0.5-release. Are you sure you are using 2.0.5-release?

[2022-06-09 06:08] zhaohehuhu commented on #10374
Besides, I can't see the param(batchTriggerAcquisitionMaxCount) in current dev branch. Did developers comment this out ?

[2022-06-09 06:41] caishunfeng commented on #10374
Hi, @luoyedeyi can you submit a pr to fix it?

[2022-06-09 07:18] baoyingcong opened #10381 "In version 2.0.5, creating a new task and clicking to save t_ds_process_definition_log multiple times will generate multiple identical tasks, resulting in abnormal workflow definition"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

2.0.5版本，新建任务，多次点击保存t_ds_process_definition_log会生成多条一样的任务，导致工作流定义异常。
因为保存的任务并没有把tast的code返回前端，更新前端的json，多次提交的json，task会被识别成一个新的任务保存到mysql里面去，这样就存了多条数据

### What you expected to happen

期望新建任务，多次点击保存，t_ds_process_definition_lo

[2022-06-09 07:21] baoyingcong opened #10382 "In version 2.0.5, when the front-end defines the workflow, connects a line, and then deletes the line and reconnects, the generated json may have duplicate downstream tasks."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

2.0.5版本，前端当定义工作流，连上了一条线，再删掉这条线重新连的时候，生成的json可能会出现下游任务重复

### What you expected to happen

前端生成的任务，json里面的task是不应该重复出现的，不然保存到后台就会报错

### How to reproduce

前端处理去重

### Anything else

_No response_

### Version

2.0.5

### Are

[2022-06-09 07:40] SbloodyS commented on #10381
This issue has been fixed in #8989. I'll close this issue.

[2022-06-09 07:40] #10381 closed, assigned to nobody

[2022-06-09 07:40] SbloodyS commented on #10382
This issue has been fixed in #8989. I'll close this issue.

[2022-06-09 07:40] #10382 closed, assigned to nobody

[2022-06-09 08:05] liubo1990 opened #10384 "[Bug] [Doc] The faq.md file is not updated in time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I browsed the faq.md file, I found that the alert.properties mentioned in it does not exist in the dolphinscheduler-alter module.

### What you expected to happen

I want to try to configure the alert mailbox.

### How

[2022-06-09 08:30] ruanwenjun commented on #10374
The config `batchTriggerAcquisitionMaxCount ` is related to `threadCount`, when quartz batch query the trigger from database, the batch size is min(threadCount, batchTriggerAcquisitionMaxCount).

When the concurrency of scheduler job is big, then we may need to increase these two config or change the `org.quartz.scheduler.batchTriggerAcquisitionFireAheadTimeWindow`.

[2022-06-09 08:33] SbloodyS commented on #10384
Hi @liubo1990 , would you like to submit a pr to fix this?

[2022-06-09 09:32] wangw111 opened #10386 "[Bug] [dolphinscheduler-api] When connecting to ldap, ldap users cannot log in"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

当配置 conf/application-api.properties 为ldap认证时

[code]

![image](https://user-images.githubusercontent.com/28641261/172813992-8dda359b-798c-40ad-8da5-909b98a692f4.png)

### What you expected to happen

报错是用户停用，查询数据库发现
[code]

[2022-06-09 10:28] SbloodyS commented on #10386
Related issue #10274

[2022-06-09 11:10] #10367 closed, assigned to WangJPLeo

[2022-06-09 11:36] lenboo commented on #10377
This task need a lot of work, I think it can be provided in the official version of 3.0.

[2022-06-09 11:43] Hwting commented on #7745
#10379

[2022-06-09 11:46] fhygh commented on #10049
@SbloodyS  i tried in 3.0.0 beta version, which merged the code of [https://github.com/apache/dolphinscheduler/pull/10077](url), but condition task plugin is still not work fine.

[2022-06-09 12:01] fhygh commented on #10340
i upload 200+M file is ok, 3.0.0 beta-1 version
![image](https://user-images.githubusercontent.com/25889738/172842068-4da61396-9849-44fa-a6d4-95f6bd6fe013.png)

[2022-06-09 12:48] SbloodyS commented on #10049
![](https://vip2.loli.io/2022/06/09/twRA1BJKPoqkYSZ.png)

I've tried condition tasks in the latest dev branch. It works fine. @fhygh

[2022-06-09 13:50] kaori-seasons opened #10387 "[Feature][dolphinscheduler-common] Support workflow review"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The current resource center supports hdfs/s3/local storage due to the way of uploading and reading files, only need to add git file storage

When a user uploads a file to the resource center to access ```Resources

[2022-06-09 13:56] kaori-seasons commented on #10387
Welcome more friends to supplement the scene, discuss here.
@SbloodyS @xtr1993 Could you please discuss it together?

[2022-06-09 15:56] yang227 opened #10389 "[Bug] [3.0bata version installation error]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the 3.0bata version is installed according to the official website installation tutorial, if the MySQL metadata is configured, a driver error will be reported, and the MySQL driver jar package needs to be placed in all

[2022-06-09 16:12] EricGao888 opened #10390 "[Bug] [Tools] DB configurations not work for tools"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* If we set database to `mysql` in `dolphinscheduler_env.sh`, when running `upgrade-schema.sh` in `tools`, will get errors like `Caused by: java.lang.RuntimeException: Driver com.mysql.cj.jdbc.Driver claims to not accept jdb

[2022-06-10 01:01] GodWon commented on #10029
3.0.0-beta-1 还是存在同样的问题

[2022-06-10 01:15] fhygh commented on #10049
@SbloodyS  oh, i see, need add pre task, thank you.

[2022-06-10 01:22] fhygh opened #10392 "[Bug] [SQL] SQL Task Node Custom Parameters run failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when i using Custom Parameters of SQL Task Node with OUT type, sql query result is more than one row, in downstream sql using the parameters failed, if upstream sql result is one row, it work fine.
failed work flow:
![image]

[2022-06-10 01:27] fhygh commented on #10392
here is the log:

[LOG-PATH]: /data/apache-dolphinscheduler-3.0.0-beta-1-bin/worker-server/logs/20220610/5803827748480_10-155-217.log, [HOST]:  Host{address='xxxx:1234', ip='xxxx', port=1234}
[INFO] 2022-06-10 08:46:55.800 +0800 [taskAppId=TASK-20220610-5803827748480_10-155-217] TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.sql.SqlTask:[120] - Full sql parameters: SqlParameters{type=

[2022-06-10 01:49] wangchuang07 opened #10393 "[Bug] [workflow definition] the request of http is time out"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

工作流定义中，调用http任务节点时，运行1分钟后，如下错误：
connection failed：java.net.SocketTimeoutException: Read timed out
java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketI

[2022-06-10 01:54] SbloodyS commented on #10389
You can find the reason in https://dolphinscheduler.apache.org/en-us/docs/release/faq.html. I'll close this issue. Feel free to open it if you have any further questions.

[2022-06-10 01:54] #10389 closed, assigned to nobody

[2022-06-10 01:58] SbloodyS commented on #10393
Currently version 1.3.8 was not in the maitaining list. You can try upgrade to the latest stable version to see if this problem still exists.

[2022-06-10 02:03] XuXuClassMate opened #10394 "[Bug-Backend] [Update Possword] Change password shows error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Change password shows error

<img width="1915" alt="image" src="https://user-images.githubusercontent.com/76080484/172974838-9886e306-66ad-43d3-bbf6-7be742e4ce91.png">

<img width="1522" alt="image" src="https://user-images.

[2022-06-10 02:20] #10149 closed, assigned to jieguangzhou

[2022-06-10 02:34] xtr1993 commented on #10387
I have implemented the function of using git to manage code in my project，Here is my business flowchart, hope it helps you：
![632e0dd7f1daf6d0329b084537a3e16](https://user-images.githubusercontent.com/38655011/172978837-7b9f9830-5a44-430f-b911-9b8b46ac2f87.png)

[2022-06-10 03:11] EricGao888 opened #10395 "[Feature][Metrics] Enable prometheus to collect metrics in standalone mode demo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently metrics in standalone mode are not collected by prometheus, we could add some configurations so that developers / users could experience ds metrics feature more conveniently.
* https://github.com/apach

[2022-06-10 03:12] qingwli commented on #10386
I'll fix this

[2022-06-10 05:07] kaori-seasons commented on #10387
@xtr1993 Thank you very much, will do some research in the near future

[2022-06-10 05:08] #10395 closed, assigned to EricGao888

[2022-06-10 06:12] liubo1990 commented on #10384
Hi @SbloodyS，of course I can, but I haven't submitted pr yet, I need to be familiar with how to submit a pr and use dolphinscheduler

[2022-06-10 06:23] SbloodyS commented on #10384
1. Fork dolphinscheduler's repository.
2. Checkout a new branch according to the latest ```dev``` branch of dolphinscheduler.
3. Add your change to this new branch and push it to your fork's dolphinscheduler's repository.
4. Open a pull request to dolphinscheduler's repository's ```dev``` branch from github web ui.

[2022-06-10 06:30] ChenpiDog opened #10400 "Deploy kubernetes according to the official website document, failed!"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

In the official documents of 2.0.5 and 3.0.0-beta-1, there are problems in the deployment of kubernetes. The deployment cannot succeed according to the instructions in the documents.

Encountered the following problems:

1)

[2022-06-10 06:57] syyangs799 commented on #10394
Hello, I looked at the back-end source code and found that the password length is limited to 20 , but the length of ‘dolphinscheduler123456’ has exceeded the limit, so it cannot be modified. You can limit the length of the front end or modify the back end. If the back end needs to be modified, I can submit  @davidzollo

![uTools_1654843538892](https://user-images.githubusercontent.com/55483518/173

[2022-06-10 07:18] boy-xiaozhang commented on #7156
![image](https://user-images.githubusercontent.com/60912722/173011467-851e3c16-6891-4445-a346-94167cdd75cf.png)

Hi I also want to discuss about automated dag. I hope to name it automated dag parsing and parsing dag to help users automatically recommend and evaluate the value of tasks.

[2022-06-10 07:31] liubo1990 commented on #10384
Hi @SbloodyS ，I have submitted  a pr to fix this #10401

[2022-06-10 08:09] syyangs799 opened #10402 "[Bug] [ui-seatunneltask] The UI of setunnel has not been adapted, and an error is reported when saving the task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Now I want to finish it [https://github.com/apache/dolphinscheduler/issues/8031#issue-1102724937](url)
However, I found that the seatunnel task of the dev branch could not be created successfully,
![uTools_1654846774840](htt

[2022-06-10 08:27] SbloodyS commented on #10402
@songjianet @caishunfeng There has two diametrically opposed designs in seatunnel task node.I'm not familiar about the original design idea. Can you guys take a look?

[2022-06-10 09:16] HomminLee commented on #10394
Maybe should print the not valid reason to error msg, like tenantCode:

[code]

[2022-06-10 10:38] HomminLee opened #10403 "[Bug] [dolphinscheduler-spi] JSONUtils parse LocalDateTime error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I try to set Custom Parameters of SQL Task Node with OUT type, I get such error msg:

[code]

In msg, `create_time` had wrong value `{}`. Thought debug, I found sql task Convert datatime to LocalDateTime. And then, JSON

[2022-06-10 10:41] yxydde commented on #10230
when release 2.0.6 ?

[2022-06-10 14:14] songjianet commented on #10402
I'm not very clear about this either.

[2022-06-11 00:22] #9873 closed, assigned to JinyLeeChina

[2022-06-11 00:56] ruanwenjun opened #10408 "[Feature][Registry] Add MySQL as registry plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, we only support Zookeeper as a registry plugin, this may cause problem for some users who want to deploy DS but don't have a Zookeeper cluster. For example, if I don't have an exist Zookeeper cluster, a

[2022-06-11 03:19] mgsky1 commented on #10408
I have a suggestion. After the development completed, would you mind making a report about performance on DB, master server and worker? I would like to know how much this affects performance.

[2022-06-11 06:39] ruanwenjun commented on #10408
Ok, I will provide a report about database performance, in each server there will be three schedule thread to scan mysql at  a given interval.

[2022-06-11 08:30] WangJPLeo opened #10409 "[Bug] [Permission] No permission to modify the allocated resource data."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

No permission to modify the allocated resource data.

### What you expected to happen

Update success.

### How to reproduce

Allocate resource data and then modify it.

### Anything else

No Response.

### Version

dev

###

[2022-06-11 09:50] welsh-wen opened #10411 "[DSIP-14][Improvement] Add api tests and integration tests for Apache DolphinScheduler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Reason:
1. Make sure that every time you submit new code, the business API interface logic dependencies are fine.
2. Supplement the lack of unit testing, the connectivity between interfaces and interfaces.

Proces

[2022-06-12 01:52] SbloodyS opened #10412 "[Bug] [Standalone] Failed to start standalone server according to the official document"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

```https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/installation/standalone.html```

### What you expected to happen

start successfully.

### How to reproduce

above.

### Anything else

_No response_

#

[2022-06-12 01:56] guodongym opened #10413 "[Bug] [Master] If an exception occurs during startup, the log will be flushed in an infinite loop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If an exception occurs during startup, the log will be flushed in an infinite loop, Hundreds of megabytes of logs are generated instantly

![image](https://user-images.githubusercontent.com/20675095/173209845-c64c9255-3dbd-4

[2022-06-12 04:12] zhongjiajie opened #10415 "[Bug] [checkstyle] some checkstyle not work correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Some checkstyle not work correctly, such as

* `import *` can be pass the checksytle
* multiple identify statement can without `,`, eg `int intVar,String strVar` should be `int intVar,String strVar`

### What you expected to

[2022-06-12 04:23] zhongjiajie opened #10416 "[Bug] [e2e] Flake tests CI FileManager"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Seems our E2E `FileManager`failed random https://github.com/apache/dolphinscheduler/pull/10376#issuecomment-1153066992

### What you expected to happen

ATT

### How to reproduce

submit new PR to dolphinscheduler

### Anyth

[2022-06-12 04:29] zhongjiajie commented on #9745
remove stale

[2022-06-12 04:35] #10370 closed, assigned to hstdream

[2022-06-12 05:13] gaoyan1998 commented on #9550
Hello @liqingwang do you have any plans to support flink on k8s? Our project is migrating k8s recently, but dolphin has no way to detect k8s programs, thanks

[2022-06-12 08:16] #10412 closed, assigned to SbloodyS

[2022-06-12 09:34] ITBOX-ITBOY opened #10417 "[Bug] [API] Remove workflow bugs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Deleting a workflow does not delete its associated task information data

### What you expected to happen

When deleting a workflow instance, delete its associated task instance information data

### How to reproduce

Create

[2022-06-12 10:27] #10409 closed, assigned to WangJPLeo

[2022-06-12 12:34] shangeyao opened #10418 "[Bug] [Master & Worker] task can submit successfully but cannot execute"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/42203474/173232796-87105370-a1c3-4f0f-88a6-d0de1e1ec51a.png)

### What you expected to happen

Task can run completely.

### How to reproduce

Run multiple tasks at the same

[2022-06-12 12:55] guodongym commented on #10257
Count me in   @SbloodyS

[2022-06-12 12:56] SbloodyS commented on #10257
Sure.

[2022-06-12 13:09] davidzollo commented on #9337
hi, any progress?

[2022-06-12 15:37] SnowMoon-Dev opened #10419 "[Bug] [K8S] helm update dependency error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

helm update dependency error

### What you expected to happen

helm update dependencies successfully

### How to reproduce

1. cd dolphinscheduler/deploy/kubernetes/dolphinscheduler
2. helm helm repo add bitnami https://char

[2022-06-13 00:23] #9910 closed, assigned to nobody

[2022-06-13 00:23] #9880 closed, assigned to nobody

[2022-06-13 00:23] #9747 closed, assigned to nobody

[2022-06-13 02:14] qingwli commented on #9550
Hi @ikiler, we already support the Fink job on ds at the local version but have not yet pushed the code to the community. And my colleague from our team pushed the k8s task and k8s namespace to the community, you can see this pr. #8252, #9425, #9303. And at ds 3.0.0-beta1, you can see these two feature.

[2022-06-13 02:27] #10419 closed, assigned to SnowMoon-Dev

[2022-06-13 02:50] qingwli commented on #10386
I tried it locally and it does have this problem. Both 2.0.5 & 3.0.0-beta1. I will fix this at the dev branch. And do we need to fix this on the 2.0.6 version? I think this is a serious bug. WDYT? @SbloodyS @zhongjiajie

[2022-06-13 03:18] zhuangchong opened #10422 "[Feature][Task] Added Apache SeaTunnel 2.x task node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Added Apache SeaTunnel 2.x task node

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree

[2022-06-13 03:24] #10408 closed, assigned to ruanwenjun

[2022-06-13 03:32] zhuangchong commented on #10402
This will be fixed in #10422

[2022-06-13 05:51] qingwli opened #10425 "[Improvement][LDAP] LDAP bug fix && Improvements"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Recently, We have tried to enable LDAP on DS and found some questions.
- 1. ~~version 2.0.5 User disabled and can't log in, and `dev` has the same bug, see #10386~~ Fixed by #10508
- 2. ~~Due to the above question

[2022-06-13 05:57] zhongjiajie commented on #10386
we should fix in version 2.0.6, but mostly committer or PMC will cherry-pick to 2.0.6 from dev (if code diff not so huge). and if the code different between 2.0.5 and dev you change is huge, it is better for you to submit a PR to fix it @liqingwang

[2022-06-13 05:59] zhongjiajie commented on #10425
It seem that @EricGao888 is also working on some LDAP feature

[2022-06-13 06:00] qingwli commented on #10386
Ok, I have seen the code and this part is not changing between 2.0.5 and dev. So I will open a pr to dev and you can cherry-pick to 2.0.6 version. @zhongjiajie

[2022-06-13 06:02] qingwli commented on #10425
Yes, I already talk to @EricGao888 and we make a deal and I'll handle with LDAP part.

[2022-06-13 06:05] EricGao888 commented on #10425
@liqingwang Looks cool to me. Just a kindly reminder, there could be some differences between `Microsoft AD` and `a typical OpenLDAP`. Both of them are supposed to be taken into consideration, as described here: https://github.com/apache/dolphinscheduler/issues/10274#issuecomment-1140431540

[2022-06-13 06:10] qingwli commented on #10425
@EricGao888  Sure, Thanks for your reminder.

[2022-06-13 06:32] zhongjiajie opened #10427 "[Bug] [deps] Upgrade package version to avoid exists CVE issue"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After #10058 merged, we have CI to check our dependencies CVE issue to avoid adding some packages that have CVE issues. But we have many existing problem packages we have to upgrade. This issue points them up and track them

[2022-06-13 06:34] zhongjiajie commented on #10427
Currently package need to be upgrade is below

[code]

[2022-06-13 07:44] Flutemr commented on #9150
兄弟，删除数据库中哪个表数据，我现在就是遇到这个问题

[2022-06-13 09:35] hiSandog opened #10431 "[Bug] [Python] Python-gate can't support setting the same task name in the same project for different process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I set tasks with the same name in different process of the same project through python-gate.
The system treats these two tasks as one.
Instead of inserting a new piece of data to table t_ds_task_definition, the system a

[2022-06-13 09:38] EricGao888 commented on #10390
Cannot reproduce on the latest code.

[2022-06-13 09:38] #10390 closed, assigned to EricGao888

[2022-06-13 11:03] EricGao888 opened #10432 "[Improvement][Metrics] Apply micrometer naming convention to metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Inconsistent naming will cause portability and compatibility issues, as well as, make users confused when the number of metrics gets large. Therefore, we need to:

* Establish the naming convention for DS metrics.

[2022-06-13 13:39] EricGao888 commented on #10257
Super coooool! Count me in plz @SbloodyS

[2022-06-14 00:56] shangeyao opened #10435 "[Bug] [Master & Worker] The task killed itself abnormally resulting in failure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I start about hundreds process, I get 2 alert info.
[code]

[code]
Then I observed the master and worker logs.
**Master Log**
[code]

### What you expected to happen

Task can run successfully.

### How to reproduce

Ru

[2022-06-14 01:21] fhygh opened #10436 "[Bug] [DataSource] edit an exist hive datasource connection, don't show principal and keytab"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when create hive datasource connection, have principal and keytab input item,but if we edit the hive datasource connection, it can't show pirncipal and keytab. One more thing, if we click create hive datasource first, then c

[2022-06-14 01:52] caishunfeng commented on #10435
It seems the master sent the 2293 task twice and cause this task to fail

[2022-06-14 02:33] zhongjiajie commented on #10431
good catch

[2022-06-14 03:42] lizhongshuai opened #10439 "[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

按照官方文档部署并不能成功部署dolpinscheduler

### What you expected to happen

按照官方文档可以成功部署dolpinscheduler并使用

### How to reproduce

改正官方文档

### Anything else

无

### Version

3.0.0-beta-1

### Are you willing to submit PR?

- [X] Yes I a

[2022-06-14 05:10] lizhongshuai commented on #10439
没有图片和详细信息&nbsp;就是官方文档过于草率&nbsp; 按照官方文档并不能成功部署软件并且使用

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年6月14日(星期二) 中午11:43
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/dolphinscheduler] [Bug] [Module Name] Bug title  (Issue #10439)

感谢您的反馈，我们已经收到您的问题，请耐心等待回复。

为了让我们尽快了解您的要求，请提供详细信息、版本或图片。

如果长时间没有收到回复，可以加入我们的行列并将您的问题发送到频道#troublesho

[2022-06-14 05:53] #10431 closed, assigned to hiSandog

[2022-06-14 09:22] 274574162 opened #10441 "[Bug] [ui] 3.0.0-beta version ui-data source editing-test connection"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

创建数据源为表单参数测试连接
修改数据源测试连接应该传数据源id测试,后端已提供接口,但并未使用

### What you expected to happen

修改数据源-连接不上

### How to reproduce

编辑数据源-测试连接

### Anything else

_No response_

### Version

3.0.0-beta-1

### Are you willing to submit PR?

[2022-06-14 10:32] SbloodyS commented on #10439
Please describe in english. I'll close this issue. Feel free to reopen it when correct it to english.

[2022-06-14 10:32] #10439 closed, assigned to nobody

[2022-06-14 10:33] SbloodyS commented on #10441
Please describe in english. I'll close this issue. Feel free to reopen it when correct it to english.

[2022-06-14 10:33] #10441 closed, assigned to nobody

[2022-06-14 11:40] gglinux opened #10443 "[Bug] [dependent node] Dependent nodes are always blocked"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Occasionally dependent nodes are blocked all the time. In fact, the upstream node has been completed.

I haven't found an accurate recurrence rule yet. Most of them will appear after I edit the node

<img width="545" alt="im

[2022-06-14 12:19] zhongjiajie commented on #10386
great, and thank you

[2022-06-14 13:16] zhongjiajie commented on #7156
I wonder whether we parse all task types or only some of the types. we can only support few of them if it is difficlut to support all types

[2022-06-14 13:29] zhongjiajie commented on #9941
remove stale

[2022-06-14 13:36] zhongjiajie commented on #10377
I do not think so, if our upgrade script can not upgrade from 2.0.5 to 3.0.0-bate-2, we will lose some of the users who interesting in version 3.0 but still use 2.0.5. what do you think @devosend , our 300b2 release manager

[2022-06-14 13:57] guodongym commented on #10417
I am not sure if this is the original feature design or if it is a bug, if it is a bug I can fix it, the dev branch still has this problem

[2022-06-14 16:16] EricGao888 commented on #9814
To make zeppelin task plugin more user-friendly, we could add some UI interaction features. For example, once a user fills in the noteId, there could be a button linking to the page of the zeppelin note  with same noteId. In that case, the user could open and edit the connected note conveniently.

[2022-06-15 01:30] boy-xiaozhang commented on #7156
hi @zhongjiajie I have a new idea now, but I need to discuss it in the meeting, and I will set aside an interface to expand all tasks that support source->target,if source->target is not supported, users can fill in it by themselves.,I will give default support sql task,sqoop task,seatunnel task,datax task

[2022-06-15 02:11] momomobinx commented on #9150
task_definxxx_log  还是啥的 ，然后你 group by code version 然后看一下数量大于 1 的就是重复的

[2022-06-15 02:18] aiwenmo opened #10444 "[Feature][Task] Add Dinky task to better support the development and execution of FlinkSQL"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Dinky is an out of the box one-stop real-time computing platform dedicated to the construction and practice of Unified Batch & Streaming and Unified Data Lake & Data Warehouse. Based on Apache Flink, Dinky provide

[2022-06-15 02:19] #10386 closed, assigned to qingwli

[2022-06-15 03:36] wanghaizhou opened #10446 "[Bug] [Master] The subtask has actually been completed,but the parent workflow still wait for the subtask to complete all the time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Occasionally, the workflow is stuck by subtasks all the time.
The subtask has actually been completed,but the parent workflow still wait for the subtask to complete all the time as you see in the image below.
In fact,the sub

[2022-06-15 03:41] bukeliyu opened #10447 "[Bug] [Master] When I complement data , startup parameters don't take effect"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler  版本2.0.5 集群模式部署，工作流配置了全局参数，手动点击执行并选择补数时，启动参数不生效。
这个问题在本地测试时没有复现。

### What you expected to happen

查看master日志发现，master可以拿到启动参数的值，但是没有传递给worker
![image](https://user-images.githubusercontent.com/23436224/1737

[2022-06-15 03:53] Flutemr commented on #9150
好的，谢谢。。看到其他帖子知道在哪个表重复了。

[2022-06-15 03:57] zhongjiajie commented on #10436
please take a look at this issue @devosend thanks

[2022-06-15 03:59] guodongym commented on #10273
I can contribute that feature

[2022-06-15 04:05] bukeliyu opened #10449 "[Bug] [dao] Scheduling a large number of tasks . Metadata database resource consumption is high"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

使用dolphinscheduler每天调度10万级工作流，上百万任务量时，使用mysql作为元数据库，mysql压力过大
如下图，开始mysql配置为2核4g，cpu占用非常多峰刺。
然后升级mysql为8核16g，很快cpu使用率就达到100%
![image](https://user-images.githubusercontent.com/23436224/173733315-ddd21919-afb9-4d9e-b36c-41447

[2022-06-15 05:39] #9462 closed, assigned to nobody

[2022-06-15 05:39] gaoyan1998 commented on #9550
I am using ds 3.0.0-beta1, but not found any card with k8s or like , only mesos in sea tunnel and k8s namespace  manager in Security center， Maybe I did something wrong? or next beta?

[2022-06-15 05:43] caishunfeng commented on #9544
close due to the same issue #9462

[2022-06-15 05:43] #9544 closed, assigned to qianli2022

[2022-06-15 06:38] qingwli commented on #9550
The K8s task is in the `Task Definition` tab.

[2022-06-15 07:04] WangJPLeo opened #10452 "[Feature] Serial wait for policy recovery."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Serial wait for policy recovery.

### Use case

Serial wait for policy recovery.

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I a

[2022-06-15 07:30] ChenpiDog commented on #10400
I hope the official can update the deployment document on the official website as soon as possible.

[2022-06-15 07:45] yandong001 opened #10455 "3.0.0-beta-1 version data quality missing warning content"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

测试数据质量相关，邮件告警没有内容
![微信图片_20220615154259](https://user-images.githubusercontent.com/37573052/173771371-da22b840-4d91-4568-932d-ddf8e488bada.png)
![微信图片_20220615154307](https://user-images.githubusercontent.com/37573052/173771

[2022-06-15 08:00] gaoyan1998 commented on #9550
its the same with workflow, all of this, i am so sorry , i cant find
![ds1.png](https://s2.loli.net/2022/06/15/YeEJlgNCM1ZB5KO.png)
![ds2.png](https://s2.loli.net/2022/06/15/CZX7tqPulBMIYgx.png)
![ds3.png](https://s2.loli.net/2022/06/15/QdY5tuzD2UROjoG.png)

[2022-06-15 08:06] EricGao888 commented on #9550
Looks like k8s task plugin was not included in 3.0.0-beta-1-release? https://github.com/apache/dolphinscheduler/tree/3.0.0-beta-1-release/dolphinscheduler-task-plugin

[2022-06-15 08:17] qingwli commented on #9550
Oh, I'm so sorry for that. I have checked the code and 3.0.0-beta-1 doesn't contain the K8s commit. If you want to try this feature, you can run the dev branch. And I don't know when to release this feature, maybe version 3.0.1?

[2022-06-15 09:24] SbloodyS commented on #10257
Some apis to be reconstructed have been added to this issue. Please reply the controller name and its function name you want to participate in and the issue you created. I will link it to this issue and assign it to you. Please feel free to take it. @liqingwang @guodongym @EricGao888

[2022-06-15 09:28] EricGao888 opened #10458 "[Improvement][API] Refactor monitor page API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Refactor monitor page API

### Use case

_No response_

### Related issues

related: #10257

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to fol

[2022-06-15 09:29] EricGao888 commented on #10257
@SbloodyS May I pick the monitor page? Thx #10458

[2022-06-15 09:32] SbloodyS commented on #10257
Sure. I've assigned it to you. Looking forward to your contribution.

[2022-06-15 09:33] qingwli commented on #10257
May I pick the Security center && login part? @SbloodyS

[2022-06-15 09:35] SbloodyS commented on #10257
What you want is the whole security center or just the ```AccessTokenController```? ```Accesstokencontroller``` is only a part of the security center.

[2022-06-15 09:39] qingwli commented on #10257
Just `AccessTokenController ` && `LoginController` first.

[2022-06-15 09:41] SbloodyS commented on #10257
Sure. Please let me know after your issue is created.

[2022-06-15 09:47] qingwli opened #10459 "[Improvement][API] Refactor AccessTokenController && LoginController API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Refactor AccessTokenController && LoginController API

### Use case

_No response_

### Related issues

related: https://github.com/apache/dolphinscheduler/issues/10257

### Are you willing to submit a PR?

- [X

[2022-06-15 09:48] qingwli commented on #10257
#10459  Thx

[2022-06-15 09:49] gaoyan1998 commented on #9550
ok, thanks for the answer

[2022-06-15 09:55] czeming commented on #10257
Count me in @SbloodyS

[2022-06-15 09:57] guodongym opened #10460 "[Improvement][API] Refactor Datasource center API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[Improvement][API] Refactor Datasource center API

### Use case

_No response_

### Related issues

related: #10257

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

[2022-06-15 09:59] SbloodyS commented on #10257
Sure. Which do you want to take?

[2022-06-15 10:00] guodongym commented on #10257
@SbloodyS   May I pick the Datasource center?    Thx  #10460

[2022-06-15 10:00] SbloodyS commented on #10257
Sure. I've assigned to you.

[2022-06-15 10:44] #10394 closed, assigned to syyangs799

[2022-06-15 11:00] hiSandog opened #10463 "[Bug] [Python] When SQL type tasks are uploaded through Python Gate, the web page displays an error."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When SQL type tasks are uploaded through Python Gate, the web page displays an error.

![image](https://user-images.githubusercontent.com/24449799/173811729-de6ca2bd-3925-427e-9beb-80879805f334.png)

### What you expected to

[2022-06-15 12:30] zhongjiajie commented on #7156
Hi @caishunfeng @SbloodyS , it seems @boy-xiaozhang has some idea about adding a dependence hook to the task plugin and want to call in api server when users save task. do you have any great idea to do that?

[2022-06-15 12:45] EricGao888 opened #10465 "[Improvement][UI] Rearrange the columns in workflow definition page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* `Schedule Publish Status` is a very import attribute for a workflow. However, users need to scroll to the rightest to see this column. Maybe we could put it right next to `Status` column.

![image](https://user-

[2022-06-15 23:30] hstdream opened #10466 "[Improvement][Api] Interface and entity optimization to improve code scalability"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Interface and entity optimization to improve code scalability

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code

[2022-06-15 23:56] seedscoder opened #10467 "[Improvement][API] Refactor TenantController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- createTenant
- queryTenantlistPaging
- queryTenantlist
- updateTenant
- deleteTenantById
- verifyTenantCode

### Use case

_No response_

### Related issues

#10257

### Are you willing to submit a PR?

- [X] Ye

[2022-06-16 01:39] #10463 closed, assigned to hiSandog

[2022-06-16 02:44] hstdream commented on #10466
1. purpose: to make the interface and entity easier to expand and improve the extensibility

2. interface: there are new interface parameters behind. You can use `otherparamsjson` in the code

3. entity: extend entity

[2022-06-16 03:27] devosend opened #10469 "[Bug] [UI] Rename form init bug in file manage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

- Rename form not init after edit description
<img width="1176" alt="image" src="https://user-images.githubusercontent.com/8847400/173984259-97c2d07d-debd-4617-9fdd-4a1fc9b830e3.png">

### What you expected to happen

Form n

[2022-06-16 03:29] ruanwenjun opened #10470 "[Bug] [Master] ProcessInstance status may incorrect in high pressure."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I test on my laptop, I find the process instance will still in running status,
<img width="1365" alt="image" src="https://user-images.githubusercontent.com/22415594/173984720-f27ec05d-47dc-4bec-90a1-315f6b737b03.png">

[2022-06-16 03:50] ruanwenjun opened #10472 "[Feature][Master] WorkflowInstance status trace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Can we have any way to trace the workflow instance status change? This is useful when I need to do some troubleshot. Right now, we can only get the latest status of a workflow instance. If I want to find out the c

[2022-06-16 03:54] ruanwenjun commented on #10465
It would be better if we make this be configurable.

[2022-06-16 03:56] boy-xiaozhang commented on #7156
Dear brothers, do you have any good ideas? My idea is to make the dolphinscheduler task parser into plugin and couple them into the task plugin. In this way, users can make their own extensions for those with task source and  task target. However, if they do so, the analysis of this work may have to be handed over to the worker, so they have to request the worker when the task is saved and when de

[2022-06-16 03:57] EricGao888 commented on #10465
Sounds pretty cool.

[2022-06-16 04:13] ruanwenjun opened #10473 "[Discuss][Master] Refractor the WorkflowExecuteRunnable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, we use `WorkflowExecuteRunnable` to handle the workflow event and task event, this make this class be huge if we need to add a new event, we need to modify this class, it will be hard to add new event.

[2022-06-16 05:51] #10469 closed, assigned to devosend

[2022-06-16 06:11] rayxo commented on #10029
@SbloodyS  meet same error in 3.0.0-beta-1

[2022-06-16 07:21] SbloodyS commented on #10029
Could you describe the steps to reproduce this problem? @rayxo @GodWon

[2022-06-16 07:24] #10449 closed, assigned to bukeliyu

[2022-06-16 07:57] rayxo commented on #10029
![image](https://user-images.githubusercontent.com/8943370/174021464-e185236e-0681-495c-8d0d-2f2ac7d0941c.png)

[2022-06-16 07:59] bukeliyu commented on #10447
It has been fixed in version 3.0.0-beta-1-release

[2022-06-16 07:59] #10447 closed, assigned to bukeliyu

[2022-06-16 08:13] wanghaizhou opened #10474 "When pre-tasks are completed, the downstream task instance is not triggered to execute, and master throw a NullPointException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When pre-tasks are completed, the downstream task instance is not triggered to execute, and master throw a NullPointException.
This is an accidental phenomenon，when I restart the failed pre-task.
![image](https://user-images

[2022-06-16 09:01] huangchenguang123 opened #10476 "[Bug] [Master] workflow instance never stop because conditional task has no downstream task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If condition have no downstream task, master will npe during workflow run.And workflow never stop.
<img width="926" alt="image" src="https://user-images.githubusercontent.com/37766284/174033206-bc173d76-3e3d-4dfd-af4f-7864bc

[2022-06-16 09:04] SbloodyS commented on #10474
Hi @wanghaizhou , could you describe the steps to create the workflow's task? I can't reproduce this problem.

[2022-06-16 09:53] ruanwenjun commented on #10470
This is caused by the CommonTaskProcessor is not thread safe, when we execute multiple task in different thread, we will o verwrite the taskinstance in CommonTaskProcessor.

[2022-06-16 10:07] SbloodyS commented on #10467
Hi @seedscoder ,Do you want to participate in API refactoring?

[2022-06-16 10:22] #10466 closed, assigned to hstdream

[2022-06-16 13:46] #10470 closed, assigned to nobody

[2022-06-16 14:00] ruanwenjun commented on #10467
@SbloodyS Do we need to add this issue to the subtask of #10257?

[2022-06-16 14:05] ruanwenjun commented on #10435
@shangeyao Please check again, this should be fixed by #10479 at dev. And I will close this issue, if there are still has problem, we can open this issue.

[2022-06-16 14:06] #10435 closed, assigned to nobody

[2022-06-16 14:41] feixiameiruhua commented on #4283
赞👍🏻，不过我就改了上面的那句就可以了，然后打包替换成对应的这个jar（dolphinscheduler-data-quality-xxx.jar）.
sparkSession = SparkSession.builder().config(createSparkConf())
                **.enableHiveSupport()**
                .getOrCreate();

[2022-06-16 16:10] EricPyZhou opened #10481 "[Improvement][API] Refactor Resource center API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This improvement is a subtask of 10257 that will be applied to the resource center API and is also part of the OSPP event. At the end of the event, the resource center API will mostly depend on the third-party API

[2022-06-16 23:46] seedscoder commented on #10467
@SbloodyS Yes

[2022-06-17 00:18] #9951 closed, assigned to nobody

[2022-06-17 00:18] #9947 closed, assigned to sdhzwc

[2022-06-17 01:26] ghost opened #10482 "[Feature][alert] Get notification of task/job/workflow changes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Report job/ Task/Workflow changes to DingTalk and Teams in time. The key point：change time、change content、updated user、project/workflow/job name  And other key information。

### Use case

Monitoring alarm ，Notific

[2022-06-17 01:28] #10481 closed, assigned to nobody

[2022-06-17 02:44] zhongjiajie commented on #9473
remove stale

[2022-06-17 02:53] SbloodyS commented on #10467
Sure. I'll add it.

[2022-06-17 02:54] SbloodyS commented on #10467
@seedscoder I've assingned to you. Looking forward to your contribution.

[2022-06-17 03:08] Achilles1996 opened #10485 "Flink component version selection problem"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![搜狗截图20220617110352](https://user-images.githubusercontent.com/51429792/174216590-2682e20b-dafa-4965-90c6-d616add07ef4.png)

Repeat back to version <1.10 when reopening  When going online or offline

### What you expected t

[2022-06-17 03:08] #10282 closed, assigned to 106umao

[2022-06-17 03:23] SbloodyS commented on #7156
I do not have any good suggestions. Do any others have any good suggestions?

[2022-06-17 03:33] EricGao888 commented on #7156
May I ask whether this feature will be applied to all types of tasks or only sql related tasks?

[2022-06-17 03:41] SbloodyS commented on #10485
@Amy0104 @songjianet Could you please take a look at this issue?

[2022-06-17 03:47] Amy0104 commented on #10485
I will fix it.

[2022-06-17 03:48] wanghaizhou commented on #10474
I found the trigger condition!The subtask has two Pre task, one for forbidden task and one for failed task. when we restart the failed task, the subtask do not run after the failed task complete, and the workflow stuck.
We can resolve the problem by remove the forbidden task from the subtask's Pre tasks.
![image](https://user-images.githubusercontent.com/8066695/174220041-7c6f55a8-4de1-44c3-a385-4

[2022-06-17 03:51] wanghaizhou commented on #10474
This is workflow's json file,you can reproduce this problem by  Importing this workflow‘s json file :

[{"processDefinition":{"id":178,"code":5859724125824,"name":"补数中途失败任务","version":13,"releaseState":"ONLINE","projectCode":4886418501504,"description":"","globalParams":"[]","globalParamList":[],"globalParamMap":{},"createTime":"2022-06-14 12:24:54","updateTime":"2022-06-17 02:41:37","flag":"YES",

[2022-06-17 03:54] SbloodyS commented on #10474
I'll take a look at this today or tomorrow. Thanks. @wanghaizhou

[2022-06-17 05:23] hiSandog opened #10486 "[Feature][Python] Python-gate should support the use of full-name definitions for resources."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now when I define a Python task that requires importing resources.
I need to check the id of the resource in the database first.
And then I write code that looks something like this.
[code]
resource_list should be

[2022-06-17 05:40] #10476 closed, assigned to huangchenguang123

[2022-06-17 06:28] Amy0104 commented on #10485
It is not reproduced on branch 3.0.0-beta-1-release. Could you provide more details on the operation? @Achilles1996

[2022-06-17 06:32] zhongjiajie opened #10488 "[Bug] [python] integrate test run strategy change"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://github.com/apache/dolphinscheduler/pull/10468#discussion_r899801771 some service or mapper change will failed python  api and it will not trigger the python integrate test, we have to change the strategy  CI of pytho

[2022-06-17 07:07] tracehh commented on #10257
Count me in plz. Just ProjectController first. @SbloodyS

[2022-06-17 07:12] tracehh opened #10489 "[API] Refactor org.apache.dolphinscheduler.api.controller.ProjectController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Refactor org.apache.dolphinscheduler.api.controller.ProjectController
accroding to  [DSIP-7] [API] Suggest refactor the backend api #10257

### Use case

_No response_

### Related issues

[DSIP-7] [API] Suggest

[2022-06-17 07:13] SbloodyS commented on #10257
Sure. Looking forward to your contribution.

[2022-06-17 07:23] tracehh opened #10490 "[Bug] [dolphinscheduler-ui]Current node settings number of failed retries may not be negative"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When creating workflow, Current node settings
number of failed retries, failed retry interval, delay execution time  may not be negative

### What you expected to happen

When creating workflow, Current node settings
number

[2022-06-17 08:25] SbloodyS commented on #10474
This have been fixed in dev branch. Could you try to find out if the dev branch still has this problem? @wanghaizhou

![](https://vip2.loli.io/2022/06/17/dFDL8pAV14zytoY.png)

[2022-06-17 10:05] dawn2004cn commented on #10029
hd.n1 master server is stopping
Begin stop master-server......
no master-server to stop
End stop master-server.
hd.n2 master server is stopping
Begin stop master-server......
no master-server to stop
End stop master-server.
hd.m1 worker server is stopping
Begin stop worker-server......
no worker-server to stop
End stop worker-server.
hd.m2 worker server is stopping
Begin stop worker-server......
n

[2022-06-17 10:07] SbloodyS commented on #10029
@EricGao888 @liqingwang Do you guys have time to take a look at this issue?

[2022-06-17 10:13] EricGao888 commented on #10029
I will take a look this weekend.

[2022-06-17 13:16] #10384 closed, assigned to liubo1990

[2022-06-17 17:06] EricPyZhou opened #10495 "[Improvement] [API] Resource center API Optimization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This optimization will be applied to the resource center API and is also part of the [OSPP event](https://summer-ospp.ac.cn/#/org/prodetail/222290456). At the end of the event, the resource center API will mostly

[2022-06-18 00:22] #9965 closed, assigned to nobody

[2022-06-18 00:22] #9437 closed, assigned to fankun895361652

[2022-06-18 02:20] #10363 closed, assigned to guodongym

[2022-06-18 05:01] zhongjiajie commented on #7156
@boy-xiaozhang want to add some hook or interface in base task class, which can beimplement tasks if they can be auto dependence. but currently will only work on SQL like task

[2022-06-18 05:15] ruanwenjun commented on #10413
@guodongym Could you please provide more detail? Which version? And what exception, right now in dev branch, if the master cannot connect to zookeeper or database in startup, it will stop.

But if the database connect failed in running, this does happen, do you have any good idea, I think we can sleep here if we check the exception generated is too faster in the loop.

We need to add specific exce

[2022-06-18 05:25] ruanwenjun opened #10496 "[Discuss][Master] Add workflow status change log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I do troubleshooting in master, I read the master's log, I find it is diffiicult to find out the whole log related to a specific workflowInstance or taskInstance.

This is due to the process to execute a work

[2022-06-18 05:30] zhongjiajie commented on #9814
yes, of cause, we have similar function in sub_process task, but just jump to dolphinscheduler resource instead of zeppelin's

[2022-06-18 05:34] #9798 closed, assigned to EricGao888

[2022-06-18 07:52] faith1112 opened #10497 "UI error occurs during deployment and access"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

DolphinScheduler deployment document: "index.2b31b589.js:1 Uncaught TypeError: S. replaceAll is not a function" error, page blank

![image](https://user-images.githubusercontent.com/38829476/174428449-65d38b19-aae5-48f1-9d11

[2022-06-18 09:43] EricGao888 commented on #10029
Will check this issue later today. BTW, one interesting thing in `Release Notes - ZooKeeper - Version 3.8.0` is that `ZooKeeperMain` was refactored.

![image](https://user-images.githubusercontent.com/34905992/174432161-3df96623-f732-44b7-95e8-c19e5e65dc65.png)

https://issues.apache.org/jira/browse/ZOOKEEPER-3581

https://github.com/apache/zookeeper/pull/1255/files#diff-ac2f8dda96fddcdaf049aefa76

[2022-06-18 11:53] SbloodyS commented on #10029
https://github.com/apache/dolphinscheduler/blob/4be3b877c3c143e2b5c58c017b641fd927c0dff5/.github/workflows/cluster-test/mysql/docker-compose-base.yaml#L36-L44

The 3.8.0 version of zookeeper is used in our Ci. And it can run normally. In the cluster test of CI. ```install.sh``` is not used for installation, but the configuration file is modified after decompression. It seems the problem is in the

[2022-06-18 11:57] SbloodyS commented on #10496
I'm in favor of the first plan.

[2022-06-18 12:51] davidzollo commented on #10283
good idea

[2022-06-18 12:59] EricGao888 commented on #10283
This feature would be something like extended `datasource` feature which we already have. The difference is that all task plugins besides SQL related ones could gain access to it.

[2022-06-18 13:31] EricGao888 commented on #10283
BTW, as discussed, we need some kind of `data masking` mechanism to hide sensitive data. Should we open another issue for `data masking`?

[2022-06-18 13:35] EricGao888 opened #10498 "[Feature][Security] Add data masking feature"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we don't have `data masking` mechanism in `DS` to hide sensitive data, such as AK for users.

### Use case

* Add `data masking` for sensitive data / parameters in `task plugin` or `datasource`.
* User

[2022-06-18 13:35] EricGao888 commented on #10283
Added here: #10498

[2022-06-18 13:48] davidzollo commented on #9337
in this picture,  I want to know that how to handle the worker when the task finished in the K8s scene?

[2022-06-18 14:48] guodongym commented on #10413
The problem I found was that the constructor threw an exception during the initialization phase of the bean, so that the data source connection would not be initialized, so that the real exception would not be seen. I was wondering if I could catch some unrecoverable exceptions to break the loop

我发现的问题现象是启动初始化bean的阶段，构造方法抛出异常，导致数据源连接还没初始化，就会一直刷报错日志，导致真正的异常也被刷掉看不到了，我在想是不是可以捕捉某些不可恢复的异常让循环中断

![WX20

[2022-06-18 14:55] davidzollo commented on #5918
good suggestion

[2022-06-18 15:07] davidzollo commented on #10498
good suggestion

[2022-06-18 15:27] ruanwenjun commented on #10413
@guodongym OK, in my knowledge, if the bean initialize failed, the spring server will close, unless there is an undeamon thread is alive, cloud you please find out if there is any undeamon block the server?

And I think if we find we need to stop the server, we can directly use Stopper.stop() method or trigger `MasterServer.close()` in some way rather than throw exception, if we hope to check by e

[2022-06-18 15:47] guodongym commented on #10413
@ruanwenjun   I have tried to do this, but  @SbloodyS  don't think it is a good way to deal with it. We can discuss together what is better,   There are some problems with this approach, which can only solve problems that are known to need to be thrown, but cannot be handled if an unknown exception occurs during startup

我曾经尝试这样做，但是 SbloodyS 认为这样不是一个好的处理方式，我们可以一起再讨论一下怎么处理才更好；这种处理方式也确实存在一些问题，只能解决一些

[2022-06-18 16:16] ruanwenjun commented on #10413
@guodongym
Yes, it just an example.

You need to find out if there is an undeamon thread is alive, the server hang when startup failure is due to the undeamon thread.

[2022-06-19 08:21] yxsgao commented on #2819
Did you solved this problem?
I am facing the same issue here .
I can create folder ,but I cant create file.
It says '
[ERROR] 2022-06-19 07:44:55.797 +0000 org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[47] - create resource file online
error
org.apache.dolphinscheduler.api.exceptions.ServiceException: resource not exist'

[2022-06-19 14:45] ruanwenjun commented on #10413
I submit #10500 to solve this.

[2022-06-20 00:20] #10009 closed, assigned to nobody

[2022-06-20 01:24] GodWon commented on #10340
我300M也没报错 传900M的报错了

[2022-06-20 02:42] WangJPLeo opened #10503 "[Feature][Permission] Add data permissions: tenant/queue/task group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add data permissions: tenant/queue/task group

### Use case

Like other data permission moduler.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

###

[2022-06-20 02:53] zhaohehuhu commented on #10116
I came across the same problem

[2022-06-20 04:25] caishunfeng commented on #9337
It seems no progress update. @davidzollo you can try if you are interested.

[2022-06-20 04:29] caishunfeng commented on #9337
I think there're two mode: worker per pod, task per pod, the issue description should be the second one.

[2022-06-20 04:30] guoshupei opened #10506 "[Improvement][Server] Refactor HeartBeatTask and HeartBeat"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Add parameter of  `workerWaitingTaskCount` to constractor of `HeartBeat`

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a P

[2022-06-20 05:23] ruanwenjun commented on #10506
I hope we can split the `HeartBeatTask` into `MasterHeartBeatTask` and `WorkerHeartBeatTask`, we may have more heart beat info will be added into HeartBeat.

[2022-06-20 05:29] qingwli opened #10507 "[Improvement][LDAP] Hide Change Pwd Page When Login With LDAP"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Hi, guys. Recently, We have tried to enable LDAP on DS and found some questions that can improve.

When you log in with LDAP. And there are still change password pages. But LDAP users have no password config. I th

[2022-06-20 05:57] guoshupei commented on #10506
Okay, then I won't change it for now and not submit PR.

[2022-06-20 06:03] guoshupei commented on #10506
@ruanwenjun  the dev branch, `workerWaitingTaskCount` of `HeartBeatTask` cannot be changed, it is a bug
![image](https://user-images.githubusercontent.com/29919212/174535244-23fcdf0c-32e6-4153-925e-d7fa1d56efdd.png)

[2022-06-20 06:47] #10302 closed, assigned to EricGao888

[2022-06-20 06:57] ruanwenjun commented on #10506
You can submit PR to fix this, I just hope you can split the HeartBeatTask together.

[2022-06-20 07:01] guoshupei commented on #10506
got it

[2022-06-20 07:35] yandong001 opened #10509 "[Bug] [Module Name] error when uploading large files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/37573052/174548516-420ac4d7-83b3-419c-8df5-eced1210aca8.png)

### What you expected to happen

[WARN] 2022-06-20 07:18:45.848 +0000 org.springframework.web.servlet.mvc.metho

[2022-06-20 07:58] Kyofin opened #10510 "[Bug] [DOC] kubernetes deploy error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/18548053/174552628-f90ca782-ceb1-4cc2-a83a-93b2320fd5b1.png)
when i deploy ds according to above , the zookeeper and postgresql dependence  version cannot found in  bitnami

[2022-06-20 08:29] Chris-playground opened #10511 "[Bug] [pseudo-cluster installation] Create redundant Home Directory(~) in DS binary directory"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I followed the instruction strictly to install the pseudo-cluster，but I found that if I config the installPath like `~/dolphinscheduler` then it will create an home directory in the binary directory(/opt/soft/apache-dolphins

[2022-06-20 08:31] welsh-wen opened #10512 "[Feature][Test Case] Shell type test cases"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

#### English template
| Level 1 module | Level 2 module | Test the scenario | Data / Steps | expected | level | automation|
| --- | --- | --- | --- |--- |--- |--- |
| Task-related | Main process | Successfully cre

[2022-06-20 08:45] Chris-playground opened #10513 "[Bug] [pseudo-cluster installation] Cannot load driver class: com.mysql.cj.jdbc.Driver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I followed the instruction strictly to perform a pseudo-cluster installation, and I added a `mysql-connector-java-8.0.16.jar` into the `tools/libs` directory and change the owner also.
However, I found that the installation

[2022-06-20 08:58] wanghaizhou opened #10514 "[Bug] [Master] The master frequently print the same info or error logs, leads to insufficient disk space"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1.The master frequently print the error logs,when the postgres  hangs up. The master generate 100G log per hour.
![企业微信截图_16557074302122](https://user-images.githubusercontent.com/8066695/174559771-7df17915-debf-46df-8950-ad

[2022-06-20 09:12] devosend commented on #10497
This is because your browser version does not support it. You can use the last version of chrome.

[2022-06-20 09:21] devosend commented on #10436
I will fix it

[2022-06-20 09:42] guoshupei commented on #10506
Hi @ruanwenjun ,I think add `MasterHeartBeat` and `WorkerHeartBeat` to extends `HeartBeat` is better, the `HeartBeatTask` is only responsible for executing different `HeartBeat`.  what do you think?

[2022-06-20 10:27] ruanwenjun commented on #10513
It seems the tools dir is only used for `dolphinscheduler-tools` module? And we don't add the tools/lib into classpath when we start master/worker/api/xx. @SbloodyS

[2022-06-20 10:50] SbloodyS commented on #10511
I'm not quite sure if we should support relevant path in the ```install_env.sh```. WDYT @kezhenxu94 @zhongjiajie @caishunfeng @ruanwenjun

[2022-06-20 10:53] SbloodyS commented on #10513
Yes. Each module's lib is independent. We should optimize the document to tell users this. I'll fix it.

[2022-06-20 10:54] SbloodyS commented on #10514
I'll fix it.

[2022-06-20 10:58] ruanwenjun commented on #10506
Yes, LGTM.

[2022-06-20 10:59] kezhenxu94 commented on #10511
Hi @Chris-Arith , please remove the quotes in your path, `installPath=~/dolphinscheduler`, not `installPath="~/dolphinscheduler"`, or use `installPath="$HOME/dolphinscheduler"`, `~` won't be expanded when in double quote.

[2022-06-20 10:59] #10511 closed, assigned to nobody

[2022-06-20 12:48] Desperado2 commented on #10029
一下处理方式，请测有效
1）新增registryServers=$REGISTRY_ZOOKEEPER_CONNECT_STRING
2）修改export DOLPHINSCHEDULER_LIB_JARS=$DOLPHINSCHEDULER_HOME/libs/*为export DOLPHINSCHEDULER_LIB_JARS=$DOLPHINSCHEDULER_HOME/api-server/libs/*

[2022-06-20 12:54] brave-lee opened #10517 "[Bug] [2.0.5] Some important bugs in version 2.0.5"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. Mac M1 starting master/worker is not supported
2. Deleting upstream dependency of task results in duplicate data in workflow task relation table
3. When there are multiple workers, the master distribution task will cause

[2022-06-20 13:27] SbloodyS commented on #10029
Well done. Would you like to submit a PR to fix this?

BTW, please use English in order to make everyone understand.

[2022-06-20 14:35] #10413 closed, assigned to nobody

[2022-06-20 14:52] davidzollo commented on #10417
it's a bug

[2022-06-20 15:02] davidzollo commented on #10517
good job, and please one PR solves one issue, it will be easy for cherrying pick the PR

[2022-06-21 00:20] #10010 closed, assigned to nobody

[2022-06-21 00:20] #9156 closed, assigned to nobody

[2022-06-21 00:20] #8725 closed, assigned to bigdatazhao

[2022-06-21 02:56] ruanwenjun commented on #10509
@yandong001 Hi, how much is the file size?

[2022-06-21 03:01] SbloodyS commented on #10283
It seems that this is more like a configuration center in ds. WDYT? @EricGao888

[2022-06-21 03:02] EricGao888 commented on #10283
@SbloodyS Exactly.

[2022-06-21 03:16] yandong001 commented on #10509
292mb

[2022-06-21 03:19] hstdream opened #10520 "[Improvement] [docs] Complement add docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Complement add docs

### What you expected to happen

Complement docs is need update

### How to reproduce

Update  complement docs

### Anything else

_No response_

### Version

dev

### Are you willing to submit PR?

- [X

[2022-06-21 03:20] ruanwenjun commented on #10509
Please confirm you have set below config:
[code]

[2022-06-21 03:23] yandong001 commented on #10509
您是指 api-server/conf/application.yaml 中的吗？是1024mb
![image](https://user-images.githubusercontent.com/37573052/174709693-7851635d-7652-440a-82d0-545f6e90a830.png)

[2022-06-21 03:32] EricGao888 commented on #10283
Seems there would be two kinds of configurations if we implement this feature on the basis of current `data center`.

1. Connection related configurations for datasource, task plugins, etc.
2. Some common configurations which are in `common.properties` at present.

BTW, we may still keep less-frequently-changed and high-risky configurations in `common.properties`.

[2022-06-21 03:32] EricGao888 commented on #10283
Could you please help add a `discussion` label for this issue? Thx @SbloodyS

[2022-06-21 03:33] SbloodyS commented on #10283
Sure.

[2022-06-21 03:34] SbloodyS commented on #10283
Yes. I think the data source center should be part of the configuration center.

[2022-06-21 03:38] wangw111 commented on #7039
@SbloodyS  which commit id for this issue

[2022-06-21 03:47] EricGao888 commented on #10283
Some ideas about user experience:

* We will have each task plugin bound with default connection, which corresponds to task types.
* We set default values in default connections so that new users to Dolphin Scheduler will not need to spend time figuring out what this `configuration center` does if they just try some basic stuff.
* Users will be able to see default example values in connection rela

[2022-06-21 03:48] EricGao888 commented on #10283
Rules for configuration update should be established at the very beginning to avoid confusion.

[2022-06-21 04:50] zhuangchong opened #10522 "[Bug] [API] Get executable time null pointer exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Get executable time null pointer exception
cron: `0 0 4 7 7 ? 2022`

[code]

### What you expected to happen

fix NullPointerException

### How to reproduce

Set timing `0 0 4 7 7 ? 2022`, get execution time

![image](https:

[2022-06-21 05:30] #10309 closed, assigned to ruanwenjun

[2022-06-21 05:34] EricGao888 opened #10525 "[Feature][Metrics] Increase granularity of metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* At present, Dolphin Scheduler only provides metrics with constant names and tags, which means we could not monitor the behavior of a specific workflow or task.
* We shall also provide metrics with constant names

[2022-06-21 05:40] EricGao888 opened #10527 "[Feature][Metrics] Add user-configurable metrics filters"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Once we increase the granularity of metrics, we may face metrics explosions if scheduling a great number of workflows and tasks. DS will generate tons of metrics and some of them we might not need. related: #105

[2022-06-21 06:02] JVincerW opened #10528 "[Feature][Module Name] Feature titleThe amount of historical data is too large, including running logs, database data, historical task data, etc. Hope to support data cleaning or archiving before the time node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project

[2022-06-21 06:05] zhuangchong commented on #10528
good idea!

[2022-06-21 06:15] EricGao888 commented on #10528
@JVincerW Sounds cool. BTW, you could use [logrotate](https://www.baeldung.com/linux/rotating-logs-logrotate#:~:text=logrotate%20is%20a%20log%20managing,manage%20the%20matching%20log%20files.) to rotate logs in `Linux`.

[2022-06-21 06:27] #10432 closed, assigned to EricGao888

[2022-06-21 07:24] Chris-playground commented on #10511
OK，thanks for your kind reply, I will try it later. By the way, It will be very nice that you could update the instruction in the pseudo-cluster installation.
![image](https://user-images.githubusercontent.com/48941586/174740691-3256195b-8ed1-4017-9ec0-5b7e61a9e404.png)

[2022-06-21 07:34] EricGao888 commented on #10274
For the approach which does not need `administrator` password and username, you could try this command to test the authentication `ldapsearch -v -h ip:port -D uid=xxx,ou=xxxx,o=xxx -w login_user_passoword -x -b ou=xxx,o=xxx` @liqingwang

[2022-06-21 07:49] Desperado2 commented on #10029
A PR has been submitted to fix this
thans

[2022-06-21 08:20] stalary opened #10533 "[Bug] [Python] Use Python report permission error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[INFO] 2022-06-21 16:15:17.133 +0800 [taskAppId=TASK-20220621-5935139969120_4-21-24] TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.python.PythonTask:[63] -  -> /tmp/dolphinscheduler/exec/process/5934261425632/5

[2022-06-21 08:32] stalary commented on #10533
I use pseudo-cluster.

[2022-06-21 09:02] qingwli commented on #10425
- #10274 Will be fixed by @EricGao888 Thx

[2022-06-21 09:13] EricGao888 commented on #10425
Sure, I will finish the remaining work. Thx @liqingwang for the contributions!

[2022-06-21 09:26] #10029 closed, assigned to Desperado2

[2022-06-21 09:33] SbloodyS commented on #9324
I think this issue is worth `DSIP` label. WDYT? @zhongjiajie

[2022-06-21 09:48] stalary commented on #10533
I have located the problem. I have customized the environment, which causes the global environment of DS to fail and Python Home can not be found.

[2022-06-21 10:10] SbloodyS commented on #10533
Hi @stalary , would you like to submit a PR to fix this?

[2022-06-21 10:21] stalary commented on #10533
I can fix it, but first we need to talk about whether ideally it should be the highest priority task usage environment, the second priority DS environment, and merge at the same time.

[2022-06-21 10:25] SbloodyS commented on #10533
Sorry. I took a closer look at this issue. It seems the user you started ds did not have the `sudo` permission of execute the shell script. Not bug.

[2022-06-21 10:31] stalary commented on #10533
I think this is an environment related issue, the error is that the Python environment variable was not found, and this variable was configured in the startup DS configuration

[2022-06-21 10:35] SbloodyS commented on #10533
Yes. And the `PYTHON_HOME` variable can be customized in `https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/security.html Environmental Management`. You can try this.

[2022-06-21 10:43] stalary commented on #10533
Yes, I solved the problem with this, but why didn't the parameters I configured at startup take effect.
export PYTHON_HOME=/opt/anaconda3/bin/python3.9
I think normal logic would have worked.

[2022-06-21 10:46] SbloodyS commented on #10533
Did you define `PYTHON_HOME` in `bin/env/dolphinscheduler_env.sh` and start the service by `bin/dolphinscheduler-daemon.sh start xxx-server`? @stalary

[2022-06-21 10:47] stalary commented on #10533
I define it and use bin/start-all.sh.

[2022-06-21 10:50] SbloodyS commented on #10533
Could you provide more detailed information since i can not reproduce this problem in my local environment? @stalary

[2022-06-21 11:14] stalary commented on #10533
first create a environment file，write other export command，not python_home.
second，use it execute task，the startup python_home will be lose.

[2022-06-21 12:00] EricGao888 commented on #9324
@devosend Hello, may I ask whether it is possible to include the three PRs of stage I in `beta-2`? In this way, we could get feedback from users in advance and resolve more potential issues before `3.0.0-stable`. WDYT

[2022-06-21 13:08] SbloodyS commented on #10533
If you want to perform Python tasks, then `python_home` is required.

[2022-06-21 13:45] stalary commented on #10533
I think PYTHON_HOME configured at startup should be merge into the task environment.

[2022-06-22 00:58] #10522 closed, assigned to zhuangchong

[2022-06-22 01:48] zhongjiajie commented on #9324
Agrees with that, we should add DSIP for this

[2022-06-22 01:50] zhongjiajie commented on #9324
@EricGao888  Could you follow the https://dolphinscheduler.apache.org/en-us/community/DSIP.html guide to make it like DSIP?

[2022-06-22 01:54] zhongjiajie commented on #9324
Oh, I remenber you already discuss with an e-mail about the monitoring in https://lists.apache.org/thread/6sogjh6k7f2hv954mhn24c94l2mzwgsz, maybe you should append some words and tell users we want to covert it to DSIP now

[2022-06-22 02:03] zhongjiajie opened #10538 "[Feature][improve] Process definition should not be allow delete if using in dependent or sub process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, process definition can be delete although is can be use in task dependent and sub process. we should hint user if they using in those task

### Use case

_No response_

### Related issues

_No response_

[2022-06-22 02:10] devosend commented on #9324
It's a good idea. But `beta-2` is mainly to fix bugs and email has been sent. So I think we can release it in `beta-3`.

[2022-06-22 02:18] simsicon commented on #2597
How can this be a feature? Please do not abuse "this is a feature not a bug" statement.
It would be a feature if the docs explicitly state it does not accept `application/json` as content-type.

[2022-06-22 02:22] EricGao888 commented on #9324
@zhongjiajie Sure, I will walk through the guide and add some follow-ups in the previous email thread : )

[2022-06-22 02:23] EricGao888 commented on #9324
@devosend Make sense to me. In that case, I'd better finish Stage II before `beta-3` release. Thx for the information~

[2022-06-22 02:39] zht52976327 opened #10539 "Copy task a to B, change the user-defined parameters of Task B, and change the parameters of task a"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

现有节点A:
![image](https://user-images.githubusercontent.com/30793238/174930992-a1661f73-23fa-4253-9cd9-e3dbad5026e9.png)
复制节点B：
![image](https://user-images.githubusercontent.com/30793238/174931100-2f088c59-47be-41c8-9bbf-efe0

[2022-06-22 02:55] 777yu opened #10540 "[Bug] [Task] SQL task prepareStatementAndBind error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

hive sql 执行添加了参数，任务本身没有问题，在日志中发现报这个错误。重试次数调高之后，在多次重试之后有时可以执行成功。
<img width="493" alt="error" src="https://user-images.githubusercontent.com/61315579/174933401-45770685-b809-4dd6-9a4f-a9c2286292e0.png">

### What you expected

[2022-06-22 03:15] qingwli commented on #10400
I have checked version 300b1 and they do have this bug.

- Question one has been fixed by  #10419. It looks like `bitnami repo` has updated `postgresql` and `zookeeper` versions. And they don't contains the low version.

I think is a huge problem. When DS release a new version, the `postgresql` and `zookeeper` version will be specified and not changed anymore. And the people who want to deploy on

[2022-06-22 03:22] SbloodyS commented on #10533
But you did not export `PYTHON_HOME`.

[2022-06-22 03:22] EricGao888 commented on #9324
@SbloodyS Sorry, I mistakenly clicked the `unassign` button. Could u plz reassign it to me? Thx! 🤣

[2022-06-22 03:23] SbloodyS commented on #9324
Done.

[2022-06-22 03:26] wjf222 commented on #5918
I am interested in implementing this task.

[2022-06-22 03:39] SbloodyS commented on #10540
Hi @777yu , could you try if this problem exists in 2.0.5-release?

[2022-06-22 06:03] qingwli commented on #10400
- Due `postgresql` upgrade and  postgresql-password has been changed. See  https://github.com/bitnami/charts/commit/50946fdff3d90522d0b87012f8b9bb73c4b6f12c#diff-00f2e1e3c249371477aae086aa0c058d3e8e34d7045398f5d558d34840cef2e1R16-R22

I'll open a PR to fix question 2.

[2022-06-22 06:07] xiaolannuoyi opened #10543 "[Bug] [ui] bytesToSize"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

bytesToSize(1) //  1 B
bytesToSize(1000) // 1 B   ???

### What you expected to happen

bytesToSize(1000)
1000 B

### How to reproduce

bytesToSize(1000)

### Anything else

_No response_

### Version

dev

### Are you willi

[2022-06-22 06:23] chaozwn opened #10544 "[Feature][Api] Create user and system logins using insecure algorithms."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Network Security Level Protection ("MLPS")
Hello, the reason for this is this. Since the company's datahub system has been launched recently, the entire system needs to be certified by MLPS. In the process of dolp

[2022-06-22 06:28] #10452 closed, assigned to WangJPLeo

[2022-06-22 06:33] qingwli commented on #10400
- #10419 && #10545 need to cherry-pick to verison 2.0.6 and 300b2 @zhongjiajie

[2022-06-22 06:51] davidzollo commented on #10544
good job

[2022-06-22 06:59] SbloodyS commented on #10544
Feel free to fix it. Thanks. @chaozwn

[2022-06-22 07:53] #10503 closed, assigned to WangJPLeo

[2022-06-22 08:06] stalary opened #10546 "[Feature] Show sub-process task info in workflow definition page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I have defined several sub-workflows in Workflow, but their tasks are not displayed, so they have to jump to see them. Can we support direct expansion, so that we can see the situation of workflow intuitively. I c

[2022-06-22 08:43] qinglanmei commented on #8866
Please assign this to me.

[2022-06-22 09:04] feixiameiruhua opened #10547 "[Bug] [data-quality] Table or view not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I use the data quality module to check the hive table data(hive table:`test`.`t_view_log`), an error is reported when running the task. The error content is:
org.apache.spark.sql.AnalysisException: Table or view not fou

[2022-06-22 09:20] stalary opened #10548 "[Feature] Dependent logic need optimize"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When a dependent task is used, the downstream can be automatically executed when the dependent task is rerouted or executed.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to

[2022-06-22 10:22] #10490 closed, assigned to tracehh

[2022-06-22 10:38] SbloodyS commented on #10548
Hi @stalary , what do you mean `when the dependent task is rerouted`?

[2022-06-22 10:49] stalary commented on #10548
depent task rerun, downstream also run.

[2022-06-22 10:52] SbloodyS commented on #10548
This has been implement in #8497.

[2022-06-22 10:55] stalary commented on #10548
Great, in which version will this feature be implemented? I didn't see it in 3.0.0-beat-1.

[2022-06-22 10:56] SbloodyS commented on #10548
It has been implemented in 3.0.0-beta-1.

[2022-06-22 10:59] SbloodyS commented on #10548
![](https://vip2.loli.io/2022/06/22/gi6JckT9GhMl2Uy.png)

[2022-06-22 10:59] stalary commented on #10548
Ok, I found him. I think the document could be improved.

[2022-06-22 11:03] SbloodyS commented on #10548
Yes. I'll add it to the docs. Thanks.

[2022-06-22 11:21] SbloodyS commented on #10546
I've assigned to you. Looking forward to your contribution. @stalary

[2022-06-22 11:22] SbloodyS commented on #10543
Hi @xiaolannuoyi , could you describe it more clearly?

[2022-06-22 11:49] xiaolannuoyi commented on #10543
@SbloodyS
 file in https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-ui/src/common/common.ts
<img width="1067" alt="截屏2022-06-22 19 44 48" src="https://user-images.githubusercontent.com/21079721/175021449-5e17789a-245c-4091-96f4-fee2b69289e0.png">

<img width="903" alt="截屏2022-06-22 19 47 39" src="https://user-images.githubusercontent.com/21079721/175021952-efc6e83e-47e8-4a9c-b4

[2022-06-22 12:59] Amy0104 commented on #10543
Since the calculated data is rounded down, entering 1 or 1000 will give the same value.

[2022-06-22 13:15] SbloodyS commented on #10543
Would you like to submit a pr to fix this? @xiaolannuoyi

[2022-06-22 14:07] stalary commented on #10546
I need a little help, How do I get the id of the sub-process from the parent project~

[2022-06-22 14:07] stalary commented on #10546
I need a little help, How do I get the id of the sub-process from the parent project.

[2022-06-22 14:11] SbloodyS commented on #10546
I think you just want to display the sub-workflow's task in the workflow definition page. Is that correct?

[2022-06-22 14:13] stalary commented on #10546
parent-test
![截屏2022-06-22 下午10 12 23](https://user-images.githubusercontent.com/24592373/175051035-a96712a3-ae39-41a0-897c-cca7c0b13848.png)

child-test
![截屏2022-06-22 下午10 12 29](https://user-images.githubusercontent.com/24592373/175051020-25332179-468e-4c4b-a781-7c30317d8677.png)

I want to show test1, test2 in parent-test.

[2022-06-22 14:14] stalary commented on #10546
yes.

[2022-06-22 14:17] stalary commented on #10546
I find sub-process processDefinitionCode in taskParams, I can use it?

[2022-06-22 14:21] SbloodyS commented on #10546
I think you just need to modify the front end.

1. You can get the `processDefinitionCode` of the sub workflow when you create the sub-process task.
2. Querying the sub workflow's detail throught `projects/{projectCode}/process-definition/{processDefinitionCode}`. Which is the api to open the workflow definition page.

[2022-06-22 14:25] stalary commented on #10546
I found that currently DAG information is obtained through `projects/{projectCode}/process-definition/{processDefinitionCode}`. Do you mean that I need to traverse the task in the front end, judge the type and then call the backend interface in turn to obtain the sub-process information?

[2022-06-22 14:27] stalary commented on #10546
I see. Do you want the frontend to click and expand to show the details of the subtask?

[2022-06-22 14:30] SbloodyS commented on #10546
What I think is to display the details of the sub workflows when configuring it. And it will disappear after configuration.

If a DAG contains many sub process task and needs to show its details, this page will not hold all the contents.

If you have a better idea, you are welcome to put it forward.

[2022-06-22 14:33] stalary commented on #10546
Oh, my starting point is a little different from yours. For example, I currently have a base task with a number of sub-process tasks mounted downstream, and I want to see all the details of the downstream tasks clearly in the base task. The dolphinscheduler currently lacks a overall DAG of dependent tasks.

So it looks like this.
base task -> sub-task1 -> sub-task1-info1
                 -> sub-ta

[2022-06-22 14:35] stalary commented on #10546
At present, we need to click `enter this child node` to see the details of subtasks, but sometimes we need to see the information of multiple subtasks DAG intuitively.

[2022-06-22 14:37] SbloodyS commented on #10546
Maybe what you need is just the sub process task containing in the workflow relationship page?(Currently only dependent nodes are included)
![](https://vip2.loli.io/2022/06/22/apTqInzG6KiD4rF.png)

[2022-06-22 14:44] stalary commented on #10546
![截屏2022-06-22 下午10 43 18](https://user-images.githubusercontent.com/24592373/175058123-4a426ab0-1181-4c0f-8841-d33f09fa9ced.png)
I want to do this, test1 and test2 actually belong to child-test.

[2022-06-22 14:45] stalary commented on #10482
I can support this pr, but this is my first time to dolphinscheduler and it would be nice to have some guidance.

[2022-06-22 14:47] stalary commented on #10392
I can try to solve the problem.

[2022-06-22 14:48] SbloodyS commented on #10546
I got your point. This seems very good, but it needs a special logo to distinguish it from ordinary downstream tasks. And we need to provide an option for the user to configure whether to display in this way when there are many subtasks, the DAG will be very large, resulting in slow page response.

[2022-06-22 14:51] stalary commented on #10546
Yes, I think I could show that with an option whether or not to expand sub-process tasks, but I'm just focusing on the backend, and the frontend might need a little help. I can determine whether to return the subtask data based on the parameters.

[2022-06-22 14:54] SbloodyS commented on #10546
Sure. After you finish the back-end part, you can ask the front-end partners of the community to assist in the front-end part.

[2022-06-22 14:56] stalary commented on #10546
Ok, I'll finish it as soon as possible.

[2022-06-22 17:01] kangyuanjia opened #10555 "[Bug] [pom.xml] Fastjson has a deserialization vulnerability"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Fastjson deserialization vulnerability
https://github.com/alibaba/fastjson/wiki/security_update_20220523

### What you expected to happen

Upgrade Fastjson version to 1.2.83

### How to reproduce

https://github.com/alibaba/

[2022-06-22 22:39] WangJPLeo opened #10556 "[Feature][TaskGroup] TaskGroup should remove query func permission check."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

TaskGroup should remove query func permission check.

### Use case

TaskGroup

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agre

[2022-06-23 00:36] Flutemr commented on #10540
2.0.5 存在这个问题，我昨天出现了，今天又出现了。昨天重跑就执行成功了。
还有就是我的工作流实例外面看一直在运行，实际上里面是失败了，我点停止后，它一直在停止，卡死了，这是bug吗？

[2022-06-23 00:49] ITBOX-ITBOY opened #10558 "[Bug] [dolphinscheduler-server]The master starts scanning packets incorrectly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the master started, THE API module was scanned. I used the OpenFeign function in the API module, so the master could not start. The error message was that the Interface of OpenFeign did not have beans

### What you expe

[2022-06-23 00:55] Flutemr commented on #1477
我的2.0.5版本也有这个问题，工作流实例一直不停止，实际已经报错了。

[2022-06-23 01:23] Flutemr opened #10559 "[Question] workflow instance is running all the time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The workflow instance is running all the time, but the task instance has stopped after reporting an error. Then I click stop workflow instance, which is always stopping.
![1655946440(1)](https://user-images.githubusercontent

[2022-06-23 01:28] ghost commented on #10482
Thanks, if need something in  Ideas  ,u can connect me 。not good at  coding in DS。

[2022-06-23 01:32] stalary opened #10560 "[Feature][UI] Displays the scheduling times for all workflows under the project"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, I have a lot of tasks configured with scheduling time, some of which are dependent on each other, but I can't see their time relationship clearly.

### Use case

Display all workflows in a timeline.

#

[2022-06-23 01:35] SbloodyS commented on #10558
Could you describe why did you want to introduce `openfeign` module?

[2022-06-23 01:37] SbloodyS commented on #10559
@Flutemr Is there any error logs?

[2022-06-23 01:41] SbloodyS commented on #10540
Is there any error logs?

BTW, Please describe it in English so that others can understand it.

[2022-06-23 01:47] ITBOX-ITBOY commented on #10558
In one case, I don't want to use our scheduled user information. I have my own user information interface. I want to call it through openfeign

[2022-06-23 01:50] SbloodyS commented on #10558
It sounds like custom development, not general development. We suggest providing users with more general solutions.

[2022-06-23 01:59] ITBOX-ITBOY commented on #10558
Should the master service itself not scan API modules

[2022-06-23 02:00] Flutemr commented on #10559
![1655949541](https://user-images.githubusercontent.com/30035663/175191153-f653f181-f5e8-4b42-9771-2bf3e9eca8e5.jpg)

[2022-06-23 02:00] #10556 closed, assigned to WangJPLeo

[2022-06-23 02:01] #10372 closed, assigned to jieguangzhou

[2022-06-23 02:03] SbloodyS commented on #10559
This is the Duplicate key error. You can find the soluctioin in the faq.
`https://dolphinscheduler.apache.org/en-us/docs/release/faq.html`

[2022-06-23 02:11] zhongjiajie opened #10561 "[feat][ci] Add CI to avoid add new doc but without adding to sidebar"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We find out add some docs without adding to it to sidebar. we should add CI to avoid regression

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am

[2022-06-23 02:17] Flutemr commented on #10559
ok,think you! and there have other error:
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.TooManyResultsException: Expected one result (or null) to be returned by selectOne(), but found: 2

[2022-06-23 02:21] SbloodyS commented on #10559
This is the same problem.

[2022-06-23 02:26] Flutemr commented on #10540
2.0.5-release
error log

[LOG-PATH]: /opt/dolphinscheduler/logs/5858213194912_5/1315/2510.log, [HOST]:  10.60.0.49
[INFO] 2022-06-23 06:00:31.251 TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.sql.SqlTask:[118] - Full sql parameters: SqlParameters{type='HIVE', datasource=3, sql='INSERT overwrite table  yyt_dwd.dwd_gy_ykt_xsyktzpxx partition(dt='${bizdate1}')
select distinct
ecode
,UPP

[2022-06-23 02:30] ITBOX-ITBOY commented on #10417
@Goodongym, you can fix it, but who should I ask to confirm this problem

[2022-06-23 02:41] CFlyGoo opened #10562 "[Improvement][dolphinscheduler-task-api] Support for multi-level environment variables"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I am trying to set some basic environment variables through **dolphinscheduler_env.sh**, and at the same time set some project-specific and volatile environment variables through the **Environment manage** feature

[2022-06-23 02:46] #10300 closed, assigned to 106umao

[2022-06-23 02:58] qingwli commented on #10400
PTAL this issue @kezhenxu94 , the `bitnami repo` question has a high impact

[2022-06-23 03:05] SbloodyS commented on #10562
The variables in `dolphinscheduler_env.sh` is a global parameter. And the variables in the `Environment manage` is a local variable and will only take effect in the tasks used.

It seems to have met your requirements.

[2022-06-23 03:30] CFlyGoo commented on #10562
Then this seems to be a bug. I tried it on our project. When there is a value in my `Environment manage`, the settings in `dolphinscheduler_env.sh` did not take effect.

![image](https://user-images.githubusercontent.com/40393883/175202901-d5e40cba-893c-485a-8147-57d1201a6454.png)

I found the following code in `org.apache.dolphinscheduler.plugin.task.api.ShellCommandExecutor#createCommandFileIfNo

[2022-06-23 03:34] SbloodyS commented on #10562
I can't reproduce your problems in my environment. Which version you are using?  Can you provide steps for accurate reproduction?

[2022-06-23 03:37] stalary commented on #10562
Same thing I said yesterday about python_home

[2022-06-23 03:45] #10496 closed, assigned to nobody

[2022-06-23 03:45] mrhaoqi commented on #3811
@yangyichao-mango Is this feature complete? the tag feature

[2022-06-23 03:49] SbloodyS commented on #10562
I have replied in #10533 yesterday. @stalary

[2022-06-23 04:02] zhongjiajie commented on #10520
close #https://github.com/apache/dolphinscheduler/pull/10521

[2022-06-23 04:03] #10520 closed, assigned to hstdream

[2022-06-23 04:15] zhongjiajie commented on #10120
remove stale

[2022-06-23 04:27] stalary commented on #10562
This issue and me facing the same problem, need global environment merge environment manager.

[2022-06-23 04:44] stalary commented on #10562
I think we can have a detailed communication on wechat, my wechat is 17853149599.

[2022-06-23 05:39] qingwli commented on #10400
Upgrade `postgresql` and `zookeeper` `bitnami ` versions will occur other problems. It needs check and tested.

And I found the root cause is [here](https://github.com/bitnami/charts/issues/10539), so we just need to update the repo URL and not do anything else.

I'll open a PR to fix this problem, including recovering the versions and the PostgreSQL key name.

Maybe later to upgrade the versions.

[2022-06-23 05:44] #10513 closed, assigned to SbloodyS

[2022-06-23 05:45] SbloodyS opened #10566 "[Feature][Doc] unified data source switching of the docs during installation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

unified data source switching of the docs during installation

### Use case

above.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Cond

[2022-06-23 05:51] zhaohehuhu commented on #10116
I already verified and checked the code. This issue was resolved in dev branch. @caishunfeng

[2022-06-23 05:52] CFlyGoo commented on #10562
The version I am using is 2.0.5

Perhaps, you can reproduce with the following steps:
1. Set the environment variable `PYTHONPATH` in `/opt/dolphinscheduler/conf/env/dolphinscheduler_env.sh`. Such as `export PYTHONPATH=/opt/env_test`
2. In the `/opt/env_test` directory, create a new file, such as `env_test.py`
3. Set up some values in` Environment manage` to create an environment `test`, such as `

[2022-06-23 06:07] zhongjiajie opened #10570 "[improve] [python] variable and packge can not pass to python task type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I write a code as below and pass funtion largest_size to `Python` arg definition, is should work because my code is correctly. But it failed because of python task can not get variable and libariy we already decalere.
[

[2022-06-23 06:11] zhongjiajie commented on #10400
sounds good to me, WDYT @kezhenxu94

[2022-06-23 06:16] EricGao888 opened #10571 "[Bug] [Doc] Configuration doc is quite outdated and needs update"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* Configuration doc is quite outdated and needs update.
* https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/architecture/configuration.html

### What you expected to happen

* Already described above.

### How t

[2022-06-23 06:17] #10547 closed, assigned to feixiameiruhua

[2022-06-23 06:22] SbloodyS commented on #10562
I'm not quite familar about `PYTHONPATH`. PTAL @zhongjiajie

[2022-06-23 06:24] zhaohehuhu opened #10572 "[Bug] [Process Definition] Duplicate records in TaskDefinitionLog"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There are some duplicate records for a process with same the value of code and version  in the table(t_ds_process_definition_log). This problem causes tons of error logs (org.mybatis.spring.MyBatisSystemException: nested exc

[2022-06-23 06:27] EricGao888 opened #10573 "[DSIP-10][Unit Tests] Improve DolphinScheduler unit tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Unit Tests of high quality could not only improve the stability of Dolphin Scheduler, but also increase the readability of Dolphin Scheduler Code.

* Currently we only have around 40% UT coverage. Although DS alr

[2022-06-23 06:28] CFlyGoo commented on #10562
`PYTHONPATH` is similar to java's `CLASSPATH`, both specify dependencies search paths.

[2022-06-23 06:42] SbloodyS commented on #10572
Dupliated issue #8790. I'll close this.

[2022-06-23 06:42] #10572 closed, assigned to nobody

[2022-06-23 06:44] SbloodyS commented on #10573
That's great!

[2022-06-23 06:47] EricGao888 commented on #10573
@SbloodyS Thx. Hope this will help and attract more new developers to submit PRs for DS and offer them an approach to get familiar with the code smoothly.

[2022-06-23 06:47] 95liu opened #10574 "Resource upload function"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I upload files, I can only upload one file at a time. I hope to add the function of uploading multiple files at a time or uploading one folder (including files) at a time。

### Use case

_No response_

### Re

[2022-06-23 06:52] EricGao888 commented on #3700
May I ask is there any update on this issue? Thx

[2022-06-23 06:57] kezhenxu94 commented on #10400
We can add the notes to docs of previous releases if that is practical

[2022-06-23 06:59] SbloodyS opened #10575 "[Feature][Healthcheck] Add datasource health check to the healthcheck endpoint"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add datasource health check to the healthcheck endpoint

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Con

[2022-06-23 07:43] 95liu commented on #10574
tag：3.0.0-alpha

[2022-06-23 07:45] SbloodyS opened #10576 "[Bug] [Standalone] start standalone error using ./bin/dolphinscheduler-daemon.sh start standalone-server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

start standalone error using ./bin/dolphinscheduler-daemon.sh start standalone-server

### What you expected to happen

start successfully.

### How to reproduce

above.

### Anything else

_No response_

### Version

dev

#

[2022-06-23 07:54] davidzollo commented on #10573
great

[2022-06-23 08:08] EricGao888 commented on #10573
IMHO, we need some priorities, we could apply high priority to those modules where UT might play a more significant role regarding to code quality and application stability.

[2022-06-23 08:09] EricGao888 commented on #10573
@SbloodyS Could you please help add a `discussion` label to this issue? Much appreciated~

[2022-06-23 08:11] SbloodyS commented on #10573
We can make a list and mark it with priority.

[2022-06-23 08:15] #10514 closed, assigned to SbloodyS

[2022-06-23 08:35] yandong001 opened #10578 "[Bug] [Module Name] Data quality - custom sql execution failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/37573052/175254720-807629f1-a43f-4b84-8ccc-fe188243782b.png)
表不存在，明明没问题啊

### What you expected to happen

数据质量模块

### How to reproduce

能不能来个数据质量的教学，咋使啊这个

### Anything els

[2022-06-23 08:35] #10576 closed, assigned to SbloodyS

[2022-06-23 08:59] SbloodyS commented on #10578
This has been fixed in #10549.

[2022-06-23 08:59] #10578 closed, assigned to nobody

[2022-06-23 09:30] qinxiang01 commented on #10446
It also appeared in version 2.0.5. Some tasks of the subprocess are submitted at the same time and fail almost at the same time.
![image](https://user-images.githubusercontent.com/23122196/175266654-2f3e7101-a9c9-46c6-b4ec-efad89c73b9a.png)

[2022-06-23 10:04] SbloodyS commented on #9324
I think we can make a grafana dashboard template in `https://grafana.com/grafana/dashboards/` for users to use directly. So that we can reduce user use cost and learning cost, and users can also transform based on template.

[2022-06-23 10:27] stalary opened #10579 "[Bug] [Dependent] Use dependent not rerun when upstream rerun"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 Dependent not rerun when upstream rerun.

### What you expected to happen

downstream workflow can rerun.

### How to reproduce

create dependent and rerun upstream task.

### Anything else

_No response_

### Version

3.0.

[2022-06-23 10:59] EricGao888 commented on #9324
I will update the docs so that users could find metrics-related docs easily.

[2022-06-23 11:39] EricGao888 opened #10582 "[Feature][Docs] Give users easier access to metrics demo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* As mentioned in https://github.com/apache/dolphinscheduler/issues/9324#issuecomment-1164219892, we need to provide users with easier access to metrics demo.

### Use case

 - [x] Seems there are no links in http

[2022-06-23 11:40] EricGao888 commented on #9324
@SbloodyS I just opened an issue for the comment above. https://github.com/apache/dolphinscheduler/issues/10582

[2022-06-23 11:44] EricGao888 commented on #10582
May I ask whether there is some kind of storage we could use to store the demo package and provide a link on the official website?

[2022-06-23 12:44] SbloodyS commented on #10582
It seems not.

[2022-06-23 12:49] #10579 closed, assigned to SbloodyS

[2022-06-23 13:25] EricGao888 commented on #10582
@SbloodyS What about finding a way to include the demo in the build target tar? Users will see the demo folder once they  uncompress the release package.

[2022-06-23 13:35] EricGao888 commented on #10582
With the demo folder we could not only put grafana-demo into it but also other demos in the future.

[2022-06-23 15:00] #10486 closed, assigned to hiSandog

[2022-06-23 23:54] EricGao888 opened #10584 "[Feature][Task Plugin] Zeppelin Task will run a duplicate note instead of the original one"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* At present, zeppelin task plugin runs the zeppelin notes / paragraphs directly. If users modify the notes / paragraphs during scheduling, it may lead to inconsistent result.
* Zeppelin task plugin should duplica

[2022-06-24 01:06] zhuxt2015 commented on #57
Organization: YILI
Location: BeiJing China
Contact: [zhuxt20152015@163.com](mailto:zhuxt20152015@163.com)
Scenario: ETL scheduling platform

组织：伊利集团
地点：中国北京
联系方式：[zhuxt20152015@163.com](mailto:zhuxt20152015@163.com)
场景：ETL调度管理平台

[2022-06-24 01:06] EricGao888 opened #10585 "[Feature][Task Plugin] Add Alibaba Cloud EMR cluster template plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Alibaba Cloud EMR is an all-in-one enterprise-ready big data platform that provides cluster, job, and data management services based on open-source ecosystems, such as Hadoop, Spark, Kafka, Flink, and Storm.
- W

[2022-06-24 02:47] caishunfeng commented on #10116
@luoyedeyi Thanks for your check. Can you cherry-pick the fix pr to 2.0.6-prepare branch? And I will add it inito 2.0.6 milestone.

[2022-06-24 03:47] SbloodyS opened #10589 "[Feature][Doc] Add doc about how to use healthcheck endpoints"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add doc about how to use healthcheck endpoints

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [

[2022-06-24 05:29] #10575 closed, assigned to SbloodyS

[2022-06-24 05:57] #10517 closed, assigned to JinyLeeChina

[2022-06-24 06:12] SunHeng98 commented on #10509
你好我也遇到这个问题了，好像是文件上传超过15秒就会上传失败。。请问这个问题你解决了吗？

[2022-06-24 06:13] SunHeng98 commented on #10509
我是上传文件179mb，上传超过15秒后就自动取消了

[2022-06-24 06:23] weeway commented on #10443
@gglinux I have the same problem and I have not idea to reproduce it. The process is scheduled to execute every day, but the problem occurs several times a week or does not occur. it is really annoying.

[2022-06-24 06:40] SunHeng98 commented on #10340
你好，请问解决了吗？我也遇到这个问题了，好像是上传时间超过15秒就会自动取消。

[2022-06-24 06:42] xiaolannuoyi commented on #10543
@SbloodyS
look at this
https://stackoverflow.com/questions/15900485/correct-way-to-convert-size-in-bytes-to-kb-mb-gb-in-javascript/18650828#18650828

[2022-06-24 07:29] #10400 closed, assigned to qingwli

[2022-06-24 08:17] yandong001 commented on #10509
没有，大佬说可能是前端的bug

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月24日(星期五) 下午2:12
***@***.***&gt;;
抄送:&nbsp;"笗 *^_^* ***@***.***

[2022-06-24 08:33] #10548 closed, assigned to SbloodyS

[2022-06-24 08:48] #10279 closed, assigned to SbloodyS

[2022-06-24 08:56] shangeyao opened #10594 "[Feature] [UI] Data Quality Result Display Optimize"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Such as State, Alert Type and so on.

### What you expected to happen

UI optimize

### How to reproduce

None

### Anything else

_No response_

### Version

3.0.0-beta-1

### Are you willing to submit PR?

- [X] Yes I am w

[2022-06-24 08:56] #10589 closed, assigned to SbloodyS

[2022-06-24 08:59] #9949 closed, assigned to nobody

[2022-06-24 08:59] shangeyao opened #10595 "[Bug] [Api] Dependent Node Only View Projects Created By Self"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Only display project code.

### What you expected to happen

correct it.

### How to reproduce

None

### Anything else

_No response_

### Version

3.0.0-beta-1

### Are you willing to submit PR?

- [X] Yes I am willing to

[2022-06-24 09:05] zhongjiajie commented on #9960
remove stale

[2022-06-24 09:41] liudi1184 opened #10596 "[Bug] [Api] Workflow relationship cannot be displayed normally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1.Workflow add a dependency node without setting dependency and save
2.View project workflow relationships
3.Unable to present workflow relationship

### What you expected to happen

{"code":10161,"msg":"查询血缘失败","data":null,

[2022-06-24 09:50] zhongjiajie commented on #10080
remove stale

[2022-06-24 10:43] yandong001 opened #10599 "[Bug] [Module Name] Failed to create tenant"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/37573052/175518706-f12735c9-6d6a-40b7-a89c-72c34aabd45d.png)
[INFO] 2022-06-24 10:39:47.643 +0000 org.apache.dolphinscheduler.api.aspect.AccessLogAspect:[90] - REQUEST TRACE

[2022-06-24 12:52] SbloodyS commented on #10599
Hi @yandong001 , could you provide your deployment method and system? I can not reproduce this issue in my local environment.

[2022-06-24 13:24] XuXuClassMate opened #10602 "[BUG-BE][Statistics Module] The number of failed commands is incorrectly counted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The number of failed commands is incorrectly counted

### What you expected to happen

The number of failed commands is counted correctly

### How to reproduce

<img width="342" alt="image" src="https://user-images.githubuse

[2022-06-24 13:35] XuXuClassMate opened #10603 "[BUG-BE][Statistics Module] The number of commands to be executed shows an error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The number of commands to be executed shows an error

### What you expected to happen

The number of commands to be executed is displayed correctly

### How to reproduce

update t_ds_command set process_definition_code='0'

[2022-06-24 13:57] zhuxt2015 opened #10604 "[Feature][Api] Task name in the copied workflow without copy suffix"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In most cases, the task name does not need to be changed in copied workflow ,  task name do not need add copy suffix

### Use case

copied task name without copy suffix
<img width="549" alt="image" src="https://us

[2022-06-24 14:09] zhuxt2015 opened #10605 "[Bug] [Api] The copied workflow create time and update time is still copied from the original workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The copied workflow's create time and update time same to the original workflow
<img width="711" alt="image" src="https://user-images.githubusercontent.com/13765310/175552826-35a319df-b261-40b2-8eea-5fe59d4f7019.png">

### W

[2022-06-24 16:59] guoshupei opened #10608 "[Bug] [Worker] TaskInstance state update error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

find version: 2.0.1

When TaskExecuteThread  is running, if an exception is threw, it is caught and the kill method is executed,  but if kill methond also throw error instead of an exception, the `TaskExecuteResponseCommand`

[2022-06-24 17:09] zhuxt2015 opened #10609 "[Bug] [Worker] If the log file is large but has small number of rows, it will causes the View Log page to hang"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

My task has Produced a lager log file, size is 4.3MB, but number of file is 235.
When view the task log, the View Log page is hang。
<img width="864" alt="image" src="https://user-images.githubusercontent.com/13765310/1756086

[2022-06-25 02:57] ruanwenjun commented on #10608
I see the code in 2.0.5, the `kill` method will never throw exception. So this should already be fixed, I will close this issue.

[2022-06-25 03:11] 777yu commented on #10540
你的解决了吗？

[2022-06-25 03:23] guoshupei commented on #10608
@ruanwenjun not exception, but error. the user can custom task plugins, so override can be throw error , this happened with our custom Linkis plugin

[2022-06-25 03:25] guoshupei commented on #10608
@ruanwenjun And if you look at my screenshot, although it's exception, it's actually reversed.

[2022-06-25 03:36] zhongjiajie commented on #10142
remove stale

[2022-06-25 05:26] kaori-seasons commented on #10212
After preliminary research,, I found that JGit, as a Git client, has a heavy logic and it is not very friendly to manually build a repository locally based on Git commands, so I found another way to upload and download files based on  [REST-API](https:// github.com/GerritCodeReview/gerrit)

doc: https://gerrit-review.googlesource.com/Documentation/rest-api-projects.html

[2022-06-25 05:29] kaori-seasons commented on #10387
After preliminary research,, I found that JGit, as a Git client, has a heavy logic and it is not very friendly to manually build a repository locally based on Git commands,
so I found some way to upload and download files based on  REST-API

refer to [Rest Interface for git](https://stackoverflow.com/questions/9442788/are-there-any-restful-interfaces-to-git)

- gerrit: https://github.com/GerritCod

[2022-06-25 06:08] ruanwenjun commented on #10608
@guoshupei Ok, so it's better to move the setting part to finally. Could you please submit a PR to fix this?

[2022-06-25 07:26] guoshupei commented on #10608
yes ,  as you said, I need to know the task execution to set different states, failure or success.
but I have another plan:
- First, put `kill()` after setting part,
- Second, replace `Exception` with `Throwable` of `catch` block in `kill` method

WDYT?

[2022-06-25 07:28] ruanwenjun commented on #10608
The first plan looks good to me.

[2022-06-25 07:47] guoshupei commented on #10608
okay，I will use first plan to fix it.

[2022-06-25 10:03] guodongym commented on #10417
I'm not sure what you need to confirm, can you make it clear

[2022-06-25 14:03] yang227 opened #10615 "[Bug] 3.0 beta quality module cannot be used normally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The configured data quality spark environment can run normally. The MySQL 8.0.16 driver exists in all five services, but the driver problem is reported

org.apache.dolphinscheduler.plugin.task.dq.DataQualityTask:[63] -  -> 2

[2022-06-25 16:16] ruanwenjun opened #10617 "[Improvement][Master] Remove the extra check of slot"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We have a many places to check the slot of master.

This is not needed, since this will not gurantee the command to be executed by only one master.
We already have the database transaction to deal with this case.

[2022-06-25 17:45] pinkhello opened #10619 "[Improvement] [Master] MDC Logging causing OutOfMemory with TaskRecallProcessor [TaskRecallProcessor#process(Channel channel, Command command)]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the process method of the TaskRecallProcessor, add WorkflowInstanceId 、TaskInstanceId to MDC Context, but only remove WorkflowInstanceId

`
         try {
            LoggerUtils.setWorkflowAndTaskInstanceIDMDC

[2022-06-26 00:26] #10106 closed, assigned to nobody

[2022-06-26 00:26] #10097 closed, assigned to huangwenjun30000

[2022-06-26 02:00] SbloodyS commented on #10619
Duplicated with #9860.

[2022-06-26 02:00] SbloodyS commented on #10615
Duplicated with #9860.

[2022-06-26 02:00] #10615 closed, assigned to nobody

[2022-06-26 02:07] #10619 closed, assigned to pinkhello

[2022-06-26 08:14] yang227 commented on #10615
The problem is not that the creation of the data source failed, but that all the data sources can be connected normally. The problem is that I still report an error when I use the quality inspection

[2022-06-26 12:58] stalary commented on #10595
Does this mean that dependent node can only select tasks under the current project? But cross-project dependent are a common scenario. For example, there are some common projects.

[2022-06-26 14:13] EricGao888 commented on #9814
https://github.com/apache/dolphinscheduler/blob/719a9d4532733c0d7b4a54ed52b15dca7982ca8d/dolphinscheduler-common/src/main/resources/common.properties#L103-L106

I think it was not a good idea to put zeppelin endpoint in `common.properties`. I will submit a PR to remove it from `common.properties` and put it into task parameters. For default endpoint, maybe we could add it in `configuration center`

[2022-06-26 14:13] zhuxt2015 opened #10622 "[Bug] [Api] The name of the workflow or task exceeds the length limit after the workflow is copied multiple times"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The name of the workflow or task exceeds the length limit after the workflow is copied multiple times
<img width="1134" alt="image" src="https://user-images.githubusercontent.com/13765310/175562154-e99c751e-cfd6-4351-879f-34

[2022-06-26 17:03] WangJPLeo opened #10623 "[Feature][Common] Time function analysis extension."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Time function analysis extension.

### Use case

External extensions for time function parsing.

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Con

[2022-06-27 00:23] #10046 closed, assigned to nobody

[2022-06-27 02:17] FangyangJz commented on #2644
+1 on 2.0.5. On 3.0.0 beta, there is no problem, but api-server, master-server, worker-server cannot connect zookeeper lead to sprintboot start fail. I don't know if it related with openjdk and oracle jdk. Deployment is really a hard obstacle

[2022-06-27 02:19] #10403 closed, assigned to HomminLee

[2022-06-27 02:25] yandong001 commented on #10599
伪集群部署

[2022-06-27 02:37] caishunfeng commented on #10617
Hi @ruanwenjun I have a different point, although  we already have the database transaction to gurantee the command just be consumed once, but it's not a lightweight operations and will increase the database pressure, so I think the slot check, as the pre-check,  is still necessary. WDYT?

[2022-06-27 02:49] ruanwenjun commented on #10617
We will check the slot when query from the database, so in most of the time, there will no database rollback. My concern is that if we use the `slotCheck` here, some user may think this method can guarantee the command be consumed safe by one master. So if we really don't want to remove these, we still need to add a comment to tell this method is not safe.

[2022-06-27 02:53] #10539 closed, assigned to nobody

[2022-06-27 03:03] wjf222 opened #10626 "[Improvment][Registry] getSessionTime() that has not been used in the project in the Registry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There is a function getSessionTime() that has not been used in the project in the Registry interface . And now，there are two class(MySqlRegistry and ZookeeperRegistry) that implement this interface.  In the Zookee

[2022-06-27 03:17] Amy0104 commented on #10543
Thx, I will fix it.

[2022-06-27 03:51] syyangs799 commented on #10602
#10603 #10602
This display module calls two back-end interfaces, one is /dolphin scheduler/projects/analysis/queue-count, and the other is /dolphin scheduler/projects/analysis/command-state-count.
![uTools_1656301694278](https://user-images.githubusercontent.com/55483518/175856416-63799440-5fbc-4dba-ad10-aee673b1d114.png)
![uTools_1656301797764](https://user-images.githubusercontent.com/55483518/1

[2022-06-27 04:00] syyangs799 commented on #10602
soryy，I changed the data of the interface  /dolphin scheduler/projects/analysis/queue-count, and I found that it may use the interface displayed later  /dolphin scheduler/projects/analysis/command-state-count

[2022-06-27 05:55] #10543 closed, assigned to Amy0104

[2022-06-27 05:57] EricGao888 commented on #10387
IMHO, we could separate this issue into two parts:

1. Add source control ability for resource center.
2.  Enable users to review workflow changes.

For the first one, since resource center are based on HDFS / S3 / ..., we could add a log file and make it invisible for users in remote storage to store operation log / commit hash code, etc. and combine commit hash code with object name or tag. Use

[2022-06-27 06:44] #10599 closed, assigned to nobody

[2022-06-27 06:46] EricGao888 commented on #10525
It seems `micrometer` will not automatically manage those dynamically-generated metrics for us.

First of all, we may use constant name and dynamic tags, e.g. workflow_id to generate metrics dynamically.

Secondly, I plan to use a class `DynamicMetricsManager` to provide a method to instantiate metrics during runtime. `DynamicMetricsManager` uses `ConcurrentHashMap` to store those dynamic metrics.

[2022-06-27 06:52] qianli2022 opened #10629 "[Feature][Improvement] Support multi cluster environments - namespace use cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

namespace bind to cluster, when namespace operator get config from cluster config

### Use case

_No response_

### Related issues

#9462

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR

[2022-06-27 06:56] EricGao888 commented on #10525
@kezhenxu94 Any suggestions will be very appreciated. : )

[2022-06-27 08:00] EricGao888 commented on #10387
To clarify, those generated python DAGs mentioned above are only for review purposes, we do not really need to run those DAGs. Therefore, there's no need to change current code logic and we may just add an assistant feature.

[2022-06-27 08:09] ruanwenjun opened #10630 "[Bug] [Master] Worker failover will cause task cannot be failover"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I test the dev branch, and find when the worker failover, the running task which should be failover will not failover.

The problem is that when we do worker failover, we didn't update the taskInstance in the cache, so the T

[2022-06-27 08:13] jkhhuse opened #10632 "[Bug] [ui] The workflow name witch underline cannot be displayed correctly in the list of workflow definitions page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

In Project-Workflow-Workflow definitions page, workflow name with underline cannot be displayed correctly. For example: test_1 will show as test 1.

![image](https://user-images.githubusercontent.com/3146890/175899183-ea2ed3

[2022-06-27 09:26] #10596 closed, assigned to liudi1184

[2022-06-27 09:35] ruancheng77 opened #10635 "[Bug] [Master] some tims task instance state=0 is never to exec"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Exec process and some times has one task' state is always 0 and never go next state.
I find t_ds_relation_process_instance.process_instance_id=0;

### What you expected to happen

Task should run.

### How to reproduce

crea

[2022-06-27 09:46] yandong001 commented on #10578
您好
&nbsp; &nbsp; &nbsp; 好像并没有解决，我直接在3.0版本上照着#10549的git修改记录改完之后打包部署，运行3.0的时候还是报相同的错误，是不是改动的地方不止一处呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;

[2022-06-27 12:26] yandong001 commented on #10578
好像并没有解决，我直接在3.0版本上照着#10549的git修改记录改完之后打包部署，运行3.0的时候还是报相同的错误，是不是改动的地方不止一处呢

[2022-06-27 16:04] 106umao opened #10641 "[Bug] [common] throw NullPointerException in HadoopUtils.java casue hdfs local mode is invalid."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/50058173/175981777-05c0af57-e737-4892-8b6a-e7f19f6ed591.png)
this exception will cause the hdfs local mode is invalid.
![image](https://user-images.githubusercontent.com/500

[2022-06-27 23:22] zhongjiajie commented on #10144
remove stale

[2022-06-28 00:24] #10031 closed, assigned to fws20060501

[2022-06-28 00:24] #10022 closed, assigned to nobody

[2022-06-28 00:24] #10012 closed, assigned to nobody

[2022-06-28 01:49] waywtdcc opened #10643 "[Question] [config] During deployment, I want to modify the default port 12345 of API server. Where can I modify it"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

During deployment, I want to modify the default port 12345 of API server. Where can I modify it? It seems that the configuration of version 3.0 has changed a lot

### What you expected to happen

During deployment, I want to

[2022-06-28 01:52] EricGao888 commented on #9324
I will submit a PR to add some more metrics related to task resource and alert server sometime this week.

[2022-06-28 02:04] ruanwenjun commented on #10643
You can modify the server port defined at `api-server/conf/application.yaml`, and if you change the backend port, you may also need to change the port at front-end.

[2022-06-28 02:16] EricGao888 commented on #10582
@zhongjiajie @SbloodyS @caishunfeng WDYT for the second point in `Use case`? I haven't figured out a good way for users to access these demo dashboards easily. Any ideas will be appreciated : )

[2022-06-28 02:17] waywtdcc commented on #10643
Is this change made before installing?

[2022-06-28 02:20] ruanwenjun commented on #10643
Yes, when you change this, you need to restart your api service.

[2022-06-28 03:04] #10632 closed, assigned to jkhhuse

[2022-06-28 03:09] EricGao888 opened #10648 "[Feature][Task Plugin] Enable users to create python env from requirements.txt"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We have already provided users with ability to create / switch python envs by names or packed conda envs. The last approach we could offer is to create envs from `requirements.txt` as discussed in comment: https

[2022-06-28 03:24] #10623 closed, assigned to WangJPLeo

[2022-06-28 05:41] #9595 closed, assigned to Tianqi-Dotes

[2022-06-28 06:37] kezhenxu94 commented on #10525
Hi @EricGao888 , what kind of dynamic metrics do we have? You know, to fully use these metrics we need to display them and configure in Grafana, if we don't know these metrics in advance, how to configure these and use these metrics? Can you give some examples that we need dynamic metrics?

[2022-06-28 07:00] EricGao888 commented on #10525
@kezhenxu94 Thanks for the reply!

Considering the following scenario: some user A works for a big financial company, and A chooses to use DS to schedule ETL tasks. Some of these tasks are not that important, but some are crucial, which may strongly relate to their financial business. Therefore, A wants some metrics to monitor these specific VIP tasks to avoid breaching SLAs for their customers. F

[2022-06-28 07:06] kezhenxu94 commented on #10525
Hi, task id can be added as tags and the users can filter by tags when configuring Grafana. Also, is task ID constant and won't change between different executions? If they change it's impractical to configure these constantly changing IDs.

[2022-06-28 07:21] EricGao888 commented on #10525
Thanks for bringing up this point. In several other scheduling systems, task instance id will change but task id remains constant. But I need to double check how it works in DS and whether it is possible to track task instances of a specific task.

[2022-06-28 08:03] wq557520 opened #10651 "[Bug] [ProcessService] ProcessService.findTaskDefinition(code,version) retun TooManyResultException：selectOne(), but found :2"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 执行任务的时候，有任务流实例，但是任务实例一直不运行，查看后台日志发现错误：
![image](https://user-images.githubusercontent.com/34291309/176126416-9f0faf05-6f4a-4119-9a39-78d83b9dac2d.png)

### What you expected to happen

希望可以正常调度

### How to reproduce

偶发

##

[2022-06-28 08:08] #10630 closed, assigned to ruanwenjun

[2022-06-28 08:10] SbloodyS commented on #10651
Dupliated with #9058.

[2022-06-28 08:10] #10651 closed, assigned to nobody

[2022-06-28 08:11] #10643 closed, assigned to nobody

[2022-06-28 08:16] lgcareer commented on #9324
Great Job.

[2022-06-28 09:11] EricGao888 commented on #10525
Typo here, shouldn't use <task_id>s in metrics names but put them in tags as described in `Description` section and comment https://github.com/apache/dolphinscheduler/issues/10525#issuecomment-1168318015

[2022-06-28 09:17] ly1ex opened #10652 "[Bug] [api] docker compose does not expose port 25333"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

docker compose does not expose port 25333 so that the python api cannot be called

### What you expected to happen

python api be called

### How to reproduce

use docker compose

### Anything else

_No response_

### Versio

[2022-06-28 09:19] kezhenxu94 commented on #10525
Putting id as tag doesn't require dynamic metrics, no?

[2022-06-28 09:34] EricGao888 commented on #10525
Things seem a little different in `Micrometer` to me. If it is possible to add tags during runtime, it would be much easier. However, I haven't figured out a way to add dynamic tags to metric instance during runtime. Please correct me if I miss something. Thanks! https://github.com/micrometer-metrics/micrometer/blob/main/micrometer-core/src/main/java/io/micrometer/core/instrument/Counter.java

[2022-06-28 09:37] EricGao888 commented on #10525
![image](https://user-images.githubusercontent.com/34905992/176146627-f53677b5-6696-425c-b680-5a94bcc09078.png)

https://github.com/micrometer-metrics/micrometer/blob/4de0d5f70dbd05dc1d66b48012399e90b22a6005/micrometer-core/src/main/java/io/micrometer/core/instrument/Counter.java#L122-L132

Not sure if there is a way to do the trick more gracefully.

[2022-06-28 09:41] EricGao888 commented on #10525
BTW, the term `dynamic metrics` I'm using here refers to metrics instantiated during runtime with pre-defined name and generated tag (e.g. task_id, workflow_id). Hope it doesn't cause confusion here.

[2022-06-28 10:05] yandong001 opened #10654 "[Bug] [Data Quality] Data Quality-Rule-Multi-Table Accuracy could not be loaded"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/37573052/176152420-a3070b2e-25c4-423a-b367-585a22e95da4.png)

### What you expected to happen

加载模板

### How to reproduce

创建工作流，选取数据质量，选择规则

### Anything else

_No response

[2022-06-28 10:23] mextb1860 commented on #10559
Are you ready to fix the problem? I also have frequent errors selectone()

[2022-06-28 10:59] Amy0104 commented on #10654
![1](https://user-images.githubusercontent.com/97265214/176162831-7d7c5cf4-8c7f-4af6-a7ab-1f1472e91d94.gif)
It did not been reproduced. Could you check the http response?

[2022-06-28 11:04] JunjianS commented on #10037
how to fix the dependent task by manual? @s

how to fix the dependent task by manual?

[2022-06-28 11:35] yandong001 commented on #10654
没响应，其他规则没问题，只有这个存在问题，然这个卡住后其他也不行了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月28日(星期二) 晚上6:59
***@***.***&gt;;
抄送:&nbsp;"笗

[2022-06-28 13:14] zhuxt2015 opened #10655 "[Bug] [Task] SQL task and Datax Task no exception stack trace in task log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when SQL task or Datax task execution failed, only print exception message, no stack trace, which is not convenient to troubleshoot the cause of the problem

<img width="774" alt="image" src="https://user-images.githubuserco

[2022-06-28 13:33] #10605 closed, assigned to zhuxt2015

[2022-06-28 14:51] #10641 closed, assigned to 106umao