[2022-07-25 09:45] fuchanghai commented on #10760
@SbloodyS There is some checkstyle warning in the involved subclasses, can I handle it?

![image](https://user-images.githubusercontent.com/33984497/180748290-ca98d8f4-3f4c-4bd7-a667-8a2ef03debd1.png)

[2022-07-25 10:04] fforever14 commented on #11071
![image](https://user-images.githubusercontent.com/4794313/180751800-0d9328a8-fee4-4107-a8a5-fd8e6a7b3926.png)
I use just this param, you can write any SQL in editor. It will run in exception before submit the task.
![image](https://user-images.githubusercontent.com/4794313/180752103-c50d7b94-e960-40a4-87f9-91345c9cfce6.png)

[2022-07-25 11:47] WangJPLeo opened #11140 "[Feature][Permission] Added resource parameters for function verification."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Added resource parameters for function verification.

### Use case

Added resource parameters for function verification.

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to subm

[2022-07-25 12:30] yangjf2019 commented on #11132
Hi @taoshengyijiua, Please  close this issue, since duplicated with [10340](https://github.com/apache/dolphinscheduler/issues/10340)

[2022-07-25 12:31] Guanpx opened #11142 "[Bug] [Log server] roll view log error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[INFO] 2022-07-25 20:25:33.983 org.apache.dolphinscheduler.api.service.impl.LoggerServiceImpl:[219] - log host : 172.18.2.21 , logPath : null , logServer port : 50051
[INFO] 2022-07-25 20:25:33.984 org.apache.dolphinschedule

[2022-07-25 14:50] liyangyang-12138 opened #11143 "[Improvement][worker server] add JAVA task type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Java tasks are often used in the process of using DS,but now DS can only configure Java tasks in shell mode, which is neither intuitive nor convenient, So I want to add a task configuration of Java type

### Are y

[2022-07-25 15:21] #11072 closed, assigned to liyangyang-12138

[2022-07-26 01:28] EricGao888 opened #11145 "[Improvement][Task] Split ExecutionStatus for workflow and task respectively"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* As discussed in https://github.com/apache/dolphinscheduler/pull/11128#discussion_r928928590, currently `ExecutionStatus` is both for `workflow` and `task`.
* We need to split it for `workflow` and `task` respect

[2022-07-26 01:48] caishunfeng commented on #10976
Great! It seems use Junit5+ can achieve the same with less change.

[2022-07-26 02:11] SbloodyS commented on #11143
I think it duplicated with #10689.

[2022-07-26 02:14] #10609 closed, assigned to zhuxt2015

[2022-07-26 02:39] Guanpx commented on #11142
just repair install_config.sh same as common.properties

[2022-07-26 02:39] #11142 closed, assigned to nobody

[2022-07-26 03:25] #11091 closed, assigned to devosend

[2022-07-26 05:44] #10867 closed, assigned to EricGao888

[2022-07-26 06:51] #11103 closed, assigned to ruanwenjun

[2022-07-26 07:21] #10604 closed, assigned to zhuxt2015

[2022-07-26 07:24] #10489 closed, assigned to tracehh

[2022-07-26 07:37] ruanwenjun opened #11149 "[Feature][Task] Enrich the `dry run` mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We support dry-run mode to mock the execution of the workflow.

When we select dry-run, the task will not be executed really, the task parameter even will not be initialized.

So the `dry-run` is meaning less, I h

[2022-07-26 07:42] davidzollo commented on #11126
yes, I can't see the picture, please describe the question more clearly

[2022-07-26 07:44] davidzollo commented on #11125
Did you try to change the log level of the master server? you can try to change to warn, I think

[2022-07-26 07:47] davidzollo commented on #193
long time no update, close for temporarily

[2022-07-26 07:47] #193 closed

[2022-07-26 07:48] SbloodyS commented on #11149
That's good!

[2022-07-26 07:52] FY7 opened #11150 "[Question] The feature of dependence relationship for flows can be add"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When we are working on a large project, there are often hundreds or thousands of scripts, which are usually divided into multiple workflows for the convenience of management, and the dependencies between streams a

[2022-07-26 07:53] davidzollo commented on #116
3.0 has support the result of prior task to the next task as input param

[2022-07-26 07:53] #116 closed

[2022-07-26 07:55] davidzollo commented on #191
long time no update

[2022-07-26 07:55] #191 closed

[2022-07-26 07:57] SbloodyS commented on #11150
You can take a look at the dependent task.
`https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/task/dependent.html`

[2022-07-26 08:09] zhuxt2015 commented on #605
great advice！

[2022-07-26 08:11] zhuxt2015 commented on #607
great advice！

[2022-07-26 08:12] zhuxt2015 commented on #601
great advice！

[2022-07-26 08:16] zhuxt2015 commented on #573
You should be referring to workflow dependencies. Please look up https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/task/dependent.html

[2022-07-26 08:21] CriysHot opened #11151 "[Bug] [resource center] There is not reupload button in resource page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There is not reupload button in resource page.

### What you expected to happen

I want to reupload my file.

### How to reproduce

As the title.

### Anything else

_No response_

### Version

3.0.0-beta-2

### Are you will

[2022-07-26 08:26] #11150 closed, assigned to nobody

[2022-07-26 08:27] ruanwenjun commented on #11151
Please update the issue title and give a detail description about `reupload` otherwise I will close this issue, and why this is a BUG?

[2022-07-26 08:30] EricGao888 commented on #11074
We might need some discussions here. Currently there are two potential methods to avoid `sonar` failing for UT coverage decrease caused by `@Data`:

1. Use the method described in this issue.
2. Keep `@Data` and fix `sonar` instead to exclude code generated by `lombok`

See: https://github.com/apache/dolphinscheduler/pull/11133#issuecomment-1195168073

related: #11133

[2022-07-26 09:41] #10837 closed, assigned to shangeyao

[2022-07-26 09:54] EricGao888 commented on #11074
I don't have strong opinions here about which method to take, as long as we stick to one of them to keep consistency. If we agree on taking the second one, we need to fix `sonar` in this issue instead of adding docs and changing CI. WDYT @SbloodyS @kezhenxu94 @rickchengx

[2022-07-26 09:56] SbloodyS commented on #11074
I think the second option is more friendly for contributors. So it's better to me.

[2022-07-26 10:04] kezhenxu94 commented on #11074
Excluding generated codes in coverage should be possible and that's what we should do, i prefer the 2nd way

[2022-07-26 10:06] EricGao888 commented on #11074
Sure, seems we have reached a consensus here, then we will take the second one @rickchengx

[2022-07-26 10:08] #11083 closed, assigned to tracehh

[2022-07-26 10:25] zhongjiajie commented on #10144
It is seem is a certain bug here @songjianet

[2022-07-26 10:37] tracehh opened #11152 "[Feature][Api] Refactor org.apache.dolphinscheduler.api.controller.QueueController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Refactor org.apache.dolphinscheduler.api.controller.QueueController

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

##

[2022-07-26 10:46] SbloodyS commented on #11152
Duplicated with #11067

[2022-07-26 10:46] #11152 closed, assigned to tracehh

[2022-07-26 11:20] zhongjiajie commented on #10995
Hi @jieguangzhou I add `DSIP` to this issue, because it add new mechanism to Python API, please follow the https://dolphinscheduler.apache.org/en-us/community/DSIP.html  to create a new DSIP

[2022-07-26 11:21] zhongjiajie commented on #10995
BTW, I think it is a good adding for python api

[2022-07-26 11:32] zhongjiajie commented on #11046
In this case, we just throw the potential error to users, of cause we can show some hint when user try to change those resource with cache. But as I know @SbloodyS 's soc topic is to remove `t_da_resource` table and fetch resource list directly from storage system. After we remove the table, we can not add addition for resource file.
I personally do not think it is a good idea to cache some resour

[2022-07-26 11:46] zhongjiajie commented on #10956
It suppport only if your machine running  worker server have python3 in env and you config it to dolphinscheudler `PYTHON_HOME`

[2022-07-26 11:47] EricGao888 commented on #11046
Ok, this makes sense to me.

[2022-07-26 11:47] #11046 closed, assigned to nobody

[2022-07-26 12:45] fuchanghai commented on #11111
@XuXuClassMate If you don't select the database you can't save it, how did you do it? can you tell me？

[2022-07-26 13:37] heyzeng commented on #9231
I have implemented this feature and used it in a production environment，can i pr this feature？

[2022-07-26 13:55] caishunfeng opened #11155 "[Bug] [k8s] master and worker start error in k8s deploy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[code]

### What you expected to happen

k8s deploy success.

### How to reproduce

1. build image
2. deploy in k8s, see https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/installation/kubernetes.html

### Any

[2022-07-27 00:26] #7870 closed, assigned to nobody

[2022-07-27 01:23] #11155 closed, assigned to caishunfeng

[2022-07-27 01:27] stalary opened #11158 "[Bug] [Task] When a workflow is deleted or a task is deleted in a workflow, the task is not deleted."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When a workflow is deleted or a task is deleted in a workflow, the task is not deleted. You can still see it in the task definition.

### What you expected to happen

Delete task success.

### How to reproduce

Create workfl

[2022-07-27 01:37] SbloodyS commented on #11158
Duplicated with #9029.

[2022-07-27 01:42] ocean-zhc opened #11160 "ds on k8s Front-end page not accessible"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I searched in related issues and no related issues,

The microservice starts as shown in the figure below:
ds version：3.0.0-beat-2

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/4618

[2022-07-27 01:46] SbloodyS commented on #11160
Please update the issue title. And this is not an improvement.

[2022-07-27 01:46] #11151 closed, assigned to nobody

[2022-07-27 01:52] ruanwenjun commented on #9029
When we delete a workflow instance, it's needed to delete the related task instances.

But for task definition, I remember as the original design(split json), the task definition is designed can be used by multiple workflow, but it seems this is unfinished..... cc @caishunfeng @SbloodyS @zhongjiajie

[2022-07-27 01:56] SbloodyS commented on #9029
I'm not familiar with the original design...

[2022-07-27 01:57] ruanwenjun commented on #9029
+1

[2022-07-27 01:58] #11158 closed, assigned to nobody

[2022-07-27 01:59] caishunfeng commented on #9029
Should we consider this? Because in the current design, the task can only be in one workflow.

[2022-07-27 02:29] ruanwenjun commented on #9029
I agree with we can just delete the related task definition.

[2022-07-27 02:56] #11143 closed, assigned to nobody

[2022-07-27 03:30] caishunfeng commented on #11160
@ocean-zhc you can try the url like http://localhost:12345/dolphinscheduler/ui/login

[2022-07-27 03:36] caishunfeng commented on #11149
Hi @ruanwenjun  do you mean put the dry run mode into task, and then workflow can dry run some tasks but not all tasks?

[2022-07-27 03:58] EricGao888 opened #11161 "[Doc][Community] Add guidelines on English doc writing in DolphinScheduler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, there are no guidelines on English doc writing in DolphinScheduler for contributors to refer to. During PR review, we could see tons of minor errors in doc writing such as inconsistency in using lette

[2022-07-27 04:20] lordk911 commented on #10899
Is there any new progress?

[2022-07-27 05:25] ocean-zhc commented on #11160
@caishunfeng I tried it, unfortunately it didn't work
<img width="795" alt="image" src="https://user-images.githubusercontent.com/46189785/181167887-adc31739-c663-4009-a882-f3e6f1e80d07.png">

[2022-07-27 05:33] ruanwenjun commented on #11149
Yes, but this may make the task complex, each task need to provide a dry-run method. Now I hope we can deserialize the task params and execute init method, just mock the handle method. This is a discussion, I don't have a solution.

[2022-07-27 05:45] #10671 closed, assigned to zhuxt2015

[2022-07-27 05:49] caishunfeng commented on #11071
I will submit a pr to fix this issue.

[2022-07-27 07:02] fuchanghai opened #11165 "[Question] [dolphinscheduler-task-plugin] NoSuchFieldException pid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened
When I run an instance of a process on windows that contains a node of type DATAX

![image](https://user-images.githubusercontent.com/33984497/181179468-c24f1e0f-58dd-46fa-9389-2714ff36f03e.png)
![image](https://user-images.g

[2022-07-27 07:08] fuchanghai commented on #11165
run on windows 10.  JDK is 1.8.0_333

[2022-07-27 07:26] SbloodyS commented on #11165
DS does not support windows currently. You can find the supporting system in `https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/about/hardware.html`.

[2022-07-27 07:29] caishunfeng commented on #11071
I found it's just error in 3.0.0 branch and dev is ok. So I will fix in 3.0.0 branch.

[2022-07-27 07:41] caishunfeng commented on #11101
I will fix it.

[2022-07-27 07:54] fuchanghai commented on #11165
@SbloodyS But I have seen a lot of code that adapts to windows, so the function of adapting to windows is being developed, right? If I want to do some secondary development, can I only debug on linxu? Doesn't it work on mac too?，thanks for you reply
![image](https://user-images.githubusercontent.com/33984497/181191493-50d1ab1c-6c59-4aa7-be55-c7bd8df06dee.png)

[2022-07-27 07:58] SbloodyS commented on #11165
You can debug it on the Liunx and MacOS system. But if you want to use windows, you will encounter many unforeseen errors. @fuchanghai

[2022-07-27 08:54] weipengffk opened #11171 "[Doc][script] how to set zookeeper namespace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I have  two ds  in same ecs,how to set zookeeper namespace

---- 中文
环境：apache-dolphinscheduler-3.0.0-beta-2-bin.tar.gz
描述：
    请问一下？海豚三如何设置zookeeper的namespace，我两套海豚共用zookeeper,可能冲突了。
    我们公司pro环境使用的是海豚dolphinsced

[2022-07-27 09:01] fuchanghai commented on #11171
@weipengffk
![image](https://user-images.githubusercontent.com/33984497/181207343-9fcdc5fe-1405-4b9e-98c5-08be6ba9551e.png)
不是这个么？

[2022-07-27 09:05] weipengffk commented on #11171
是这个，但是根据  https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/guide/installation/pseudo-cluster.html 这个配置，没有看到对应的信息。
dolphinscheduler_env.sh  只配置了两个zookeeper属性
export REGISTRY_TYPE=${REGISTRY_TYPE:-zookeeper}
export REGISTRY_ZOOKEEPER_CONNECT_STRING=${REGISTRY_ZOOKEEPER_CONNECT_STRING:-localhost:2181}

其它属性是不是参照你图片的模式配置？ 文档应该补充详细一点

[2022-07-27 09:19] Tianqi-Dotes opened #11174 "[Bug] [Doc] no Feishu doc and email doc is not shown"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

there is no Feishu and Email guidance under the alert category of the website doc.

### What you expected to happen

there should be Feishu and Email doc

### How to reproduce

check the official website

### Anything else

[2022-07-27 09:19] fuchanghai commented on #11171
The document will only write the deployment of a single cluster. Yours is the deployment of multiple clusters. I think the modification of the namespace is in application.yml. You need to modify the zookeeper namesapce of dolophinscheduler-master, dolophinscheduler-worker, and dolophinscheduler-api respectively。These are just my personal thoughts

[2022-07-27 09:22] fuchanghai commented on #11171
@SbloodyS Do we need to put the zookeeper's namespace in the dolphinscheduler_env.sh file so that multiple clusters can be associated with a zookeeper's different namespace?

[2022-07-27 09:24] SbloodyS commented on #11171
I think so. Would you like to submit a pr to fix it?

[2022-07-27 10:06] caishunfeng opened #11175 "[Bug] [Worker] send kill response command error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[code]

### What you expected to happen

send kill response command without error

### How to reproduce

1. create a long time executing workflow with a sql task
2. run workflow
3. stop the workflow instance

### Anything el

[2022-07-27 10:07] TangTangGrit opened #11176 "[Bug] [script] dolphinscheduler-daemon.sh Status error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/77315486/181219900-0acb1fb1-4c65-4588-8eb1-f2a0e7d28dd3.png)
Query health status is always running.The task process has been queried and is not actually running

### What yo

[2022-07-27 10:14] weipengffk commented on #11171
i have test,it is work.
dolphinscheduler_env.sh  add
export export REGISTRY_ZOOKEEPER_NAMESPACE="dolphinscheduler_3_wp"

-- 中文
我在dolphinscheduler_env.sh 新增如下属性
export export REGISTRY_ZOOKEEPER_NAMESPACE="dolphinscheduler_3_wp"
重新安装后，启动运行正常。 查看 zookeeper的命名空间，存在。

[2022-07-27 10:15] #11171 closed, assigned to nobody

[2022-07-27 10:18] SbloodyS commented on #11176
Could you describe your problems more specifically? I'm not quite understand it.

[2022-07-27 10:20] fuchanghai commented on #11171
@weipengffk if it's ok ,please submit a pr to fix it.i'm not good at k8s and docker

[2022-07-27 10:29] weipengffk commented on #11171
me two,so ··
---- 中文
我也对 docker 和 k8s 不太熟悉，还是等其它人来处理。
等我觉得掌握的差不多了，再来贡献社区

[2022-07-27 11:21] #11101 closed, assigned to caishunfeng

[2022-07-27 11:35] ShawshankLin commented on #11126
The problem is triggered when the current Woker group no longer exists. The task has been reconfigured and resolved

[2022-07-27 11:37] ShawshankLin commented on #11125
The problem is triggered when the current Woker group no longer exists. The task has been reconfigured and resolved

[2022-07-27 12:19] TangTangGrit commented on #11176
./bin/status-all.sh   have been in the state of running all the time. However, I have not started, and I have tried to execute ./stop-all.sh ，or so

[2022-07-27 13:25] #10665 closed, assigned to sketchmind

[2022-07-27 13:49] fuchanghai opened #11181 "[BUG] [Document] text check"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/33984497/181263326-dabfb66b-3b9b-4617-84d9-6b0fb1ea3231.png)
缺一个点字。应该为子流程节点

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code

[2022-07-28 01:52] caishunfeng commented on #11071
The dev also has this issue, so keep this issue open until dev fix.

[2022-07-28 01:57] #11118 closed, assigned to fuchanghai

[2022-07-28 02:42] sketchmind commented on #9978
In order to facilitate the search of similar problems, I will add some descriptions：

As shown below，compared to other versions,1.x,2.x, ds3 lacks optionsNode running is missing option for node dependency type.
* ds3
![image](https://user-images.githubusercontent.com/39169452/181408294-7e6f83c8-5a31-4dba-861f-91a56228b9b8.png)
* ds1.3.8
![image](https://user-images.githubusercontent.com/39169452/1

[2022-07-28 03:20] caishunfeng opened #11186 "[Improvement][UI] Unified local parameters UI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now ds has defferent local params UI for defferent task type.
Such as shell、sql、procedure, the local params UI has direct and type, because they support params pass:
![image](https://user-images.githubusercontent.

[2022-07-28 03:30] EricGao888 opened #11187 "[Improvement][Registry] Add support for Zookeeper ACL"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Zookeeper has `Access Control List` feature for security purpose, protecting the security of data in `znodes`.
* We could add support for `DS` users to register ZK which enables ACL.

### Are you willing to subm

[2022-07-28 03:49] zhongjiajie commented on #8866
Currently, we only support pg in docker-compose.yaml, so it is no need this freature, cc @qinglanmei

[2022-07-28 03:49] #8866 closed, assigned to qinglanmei

[2022-07-28 03:51] zhongjiajie commented on #9441
Because is a feature, so I change it to 310 milestone

[2022-07-28 03:57] zhongjiajie commented on #11160
@ocean-zhc  Please add server port `:12345` after `dev.com` and try again

[2022-07-28 04:01] zhongjiajie commented on #11123
Is it k8s image reuse the docker image we build? @caishunfeng

[2022-07-28 04:01] SbloodyS commented on #11160
Could you try to access through `api-server's ip address:12345/dolphinscheduler/ui` to check whether it is the proxy's problem?

[2022-07-28 04:07] zhongjiajie commented on #11114
@TangTangGrit do you still want to take this issue, I find out Amy give some suggestion in your PR?

[2022-07-28 04:19] zhongjiajie commented on #11085
Hi @github-keep do you still work on this issue, we currently want to release version 3.0.0, if you finish before 3th Aug, maybe we can release including the bug fix

[2022-07-28 05:33] hezean commented on #11186
Hi, may I work on it?

[2022-07-28 05:45] caishunfeng commented on #11186
@HeZean Of course. I assign to you.

[2022-07-28 05:46] caishunfeng commented on #11186
related issue: #11071

[2022-07-28 06:10] ocean-zhc commented on #11160
Thank you for your reply, I deployed it in knative mode, the default port number is 8080
<img width="2071" alt="image" src="https://user-images.githubusercontent.com/46189785/181433159-7d79e380-1789-46e3-82b2-ac5814989dec.png">

[2022-07-28 06:13] ocean-zhc commented on #11160
Thank you for your reply,The ip inside the container cannot be accessed from outside.

[2022-07-28 06:56] zhongjiajie commented on #11160
@ocean-zhc  So I think it work for port 12345, and I will close this issue, if you have further question, we can left a new message and we will reopen it

[2022-07-28 06:56] #11160 closed, assigned to nobody

[2022-07-28 07:03] #11102 closed, assigned to devosend

[2022-07-28 07:07] #11071 closed, assigned to caishunfeng

[2022-07-28 08:51] zhongjiajie commented on #10971
it is improvement so I move to 3.1.0

[2022-07-28 08:53] SbloodyS commented on #10971
Sure.

[2022-07-28 09:19] zhongjiajie commented on #10392
Are you still work on this issue? @stalary

[2022-07-28 09:21] davidzollo commented on #3829
can you give more info? please provide the conf/common.properties, usually it is caused by the wrong configuration

[2022-07-28 09:21] #11174 closed, assigned to Tianqi-Dotes

[2022-07-28 09:24] zhongjiajie commented on #11132
close due to this

[2022-07-28 09:24] #11132 closed, assigned to nobody

[2022-07-28 09:25] zhongjiajie commented on #10340
Do you still want to submit pull request to fix this? @yangjf2019

[2022-07-28 09:37] zhongjiajie commented on #9941
duplicate to #10377 , will try to fix in that issue

[2022-07-28 09:37] #9941 closed, assigned to nobody

[2022-07-28 09:40] zhongjiajie commented on #10205
do you have time to check this issue @caishunfeng ?

[2022-07-28 10:26] zhongjiajie commented on #10131
@caishunfeng

[2022-07-28 11:18] zhongjiajie commented on #8517
we have a GSoC project to enhance our CLI #10905, when #10905 is close we can close this DSIP

[2022-07-28 11:25] #10724 closed, assigned to tracehh

[2022-07-28 11:59] EricGao888 commented on #11187
I've tested it. DS has already supported connecting to ZK with ACL enabled. All we need is to modify corresponding `digest` configurations in `application.yaml`. However, we do not have related docs and we need to add docs for this.

[2022-07-28 12:00] EricGao888 commented on #11187
We also need to add docs to instruct users on how to config ZK `namespace`.

[2022-07-28 12:02] abzymeinsjtu commented on #11187
interested in this issue

[2022-07-28 12:02] EricGao888 commented on #11187
Sure, thx for help.

[2022-07-28 12:23] EricGao888 commented on #11068
Currently it seems there is no proper reason for us to implement this feature, therefore, I'm closing it. Thanks.

[2022-07-28 12:23] #11068 closed, assigned to nobody

[2022-07-28 13:29] EricGao888 opened #11192 "[Improvement][Metrics] Upgrade plugin versions in grafana demo dashboards"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently in grafana-demo dashboards,  the plugin versions are `8.2.3` and `8.5.3`, a little far from the latest `9.0.5` version. We could upgrade it to make it fancier.

### Are you willing to submit a PR?

- [

[2022-07-28 14:16] hstdream commented on #10809
Hello, is your yarn cluster ha? @yyunlei

[2022-07-28 23:04] #11192 closed, assigned to EricGao888

[2022-07-29 00:22] #10510 closed, assigned to nobody

[2022-07-29 00:35] hstdream commented on #10808
There are two ways to solve this problem:

1. add export HADOOP_CLASSPATH=`hadoop classpath`

2. In flink/lib add flink-shaded-hadoop-2-uber.jar

[2022-07-29 01:04] hstdream commented on #11043
Is the yarn cluster ha?

[2022-07-29 01:19] hstdream commented on #11110
Here, you need to put 'ojdbc6-11.2.0.1.0.jar' under spark/jars.

[2022-07-29 01:19] hstdream commented on #11110
Here, you need to put 'ojdbc8-19.7.0.0' under spark/jars.

[2022-07-29 02:00] stalary commented on #10392
I'm still doing it. You can do it first if you're in a hurry.

[2022-07-29 02:29] sketchmind opened #11195 "[Feature][UI] Add re-upload feature for resource files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There is no re-upload like in ds1.x in the file operation of the resource page of ds3.x，but it's a useful feature that allows us to hot-update tasks without changing the workflow definition by replacing the resour

[2022-07-29 02:38] liu-lewis commented on #10392
It looks like that SqlTask missed of processing parameters with type DataType.LIST
could we resolve this issue together？@stalary @zhongjiajie

[2022-07-29 03:18] brave-lee opened #11196 "[Bug] [Server] Worker rejected bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Because the machine load of the worker node is high, the ACK is slower than the bug caused by rejection again

### What you expected to happen

It can be executed normally

### How to reproduce

the machine load of the worke

[2022-07-29 03:32] ShawshankLin commented on #10446
![企业微信截图_16590616367504](https://user-images.githubusercontent.com/16248686/181676892-ad864c56-2185-4b35-9bc5-fe512dd191ce.png)
When executing python-c scripts，The node status displayed here is successful, but the time is inconsistent with the log, and the time is even earlier

@SbloodyS @davidzollo

[2022-07-29 03:51] brave-lee opened #11197 "[Bug] [Master] Dependency detection bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. pA workflow, has ta and tb task
2. pB workflow, has tc task, tc depends on ta
3. pC workflow, has td task, td depends on pA

run pA, pA end, run tb, pA end again. Run pB, pB happened to wait.
clear workflow, run ta, pA en

[2022-07-29 03:51] #7252 closed, assigned to nobody

[2022-07-29 03:52] caishunfeng commented on #11123
I try at local and it seems the common config in values.yaml does not work.

[2022-07-29 04:12] caishunfeng commented on #10961
Hi @abluson can you add the description of the content and the alert type?

[2022-07-29 04:22] Amy0104 opened #11198 "[DSIP-15][UI][Task] Render task components by JSON."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

## Purpose
Task components can be rendered by a JSON  returned from back end so that adding, deleting and changing task components without redeployment.

## How

This is a preliminary implementation. If you have i

[2022-07-29 04:23] Tianqi-Dotes commented on #10961
hi, when you send an email alert, I think it is necessary to fill in the username & password.
select `Auth` yes
STARTTLS yes
SSL yes
if necessary.
and will check out why this error happens.

[2022-07-29 06:34] Dannila commented on #11043
I just ran a test on flink sql realtime. When I stop the Flink SQL task, the yanr job also stops and my SQL statement executes without problems.

![image](https://user-images.githubusercontent.com/94423827/181697634-a544a634-135a-48fc-91d4-7d92a8ee0327.png)

![image](https://user-images.githubusercontent.com/94423827/181697712-a6fd6d48-d29f-4589-9d76-b13bba1c5f07.png)

[2022-07-29 07:03] ruanwenjun commented on #4025
@caishunfeng

[2022-07-29 07:05] ocean-zhc commented on #11160
@zhongjiajie

[2022-07-29 07:18] SbloodyS opened #11201 "[Bug] [UI] The saved target instance name will disappear in datax task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![](https://vip2.loli.io/2022/07/29/7B4PX9WUORcw5gn.png)

### What you expected to happen

Successful configuration

### How to reproduce

above.

### Anything else

_No response_

### Version

3.0.0-beta-2

### Are you will

[2022-07-29 07:48] MichaelDeSteven opened #11202 "[Feature][Registry] Support consul as registry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Consul as one of the most popular registry center. We can support it maybe.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a

[2022-07-29 08:46] SbloodyS commented on #11202
It's a big feature. PTAL @EricGao888 @caishunfeng @zhongjiajie @ruanwenjun

[2022-07-29 08:48] beeflyme commented on #11187
**add some comment for using zookeeper with kerberos or not:**

**refer to:**
    https://issues.apache.org/jira/browse/ZOOKEEPER-2139
    Support multiple ZooKeeper client, with different configurations, in a single JVM
**the zk problem detail:**
    I have two ZK client in one JVM, one is secure client and second is normal client (For non secure cluster).
**zk solution:**：add a new var ClientCon

[2022-07-29 08:59] shangeyao opened #11205 "[Bug] [UI]Workflow instance cannot display log normally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Workflow instance cannot display log normally
![image](https://user-images.githubusercontent.com/42203474/181723796-9fbf2851-7993-4fa6-8e21-25ad677a00fc.png)
<img width="1761" alt="image" src="https://user-images.githubuserc

[2022-07-29 09:01] EricGao888 commented on #11187
Hi @beeflyme , thx for the comment. However, this looks a little bit out of the scope of this issue. Would u plz open a new issue for it? Thanks!

[2022-07-29 09:35] bajiaolong commented on #11093
It seems that configuring this parameter 'support.hive.oneSession=ture' is effective. If the worker is a cluster, each worker will create a container for hive operations. Of course, if it has been created and it is easy to not expire, it can continue to run in the current container, no new containers will be created
`sed -i 's/support.hive.oneSession=false/support.hive.oneSession=true/g' $DS_HOME/

[2022-07-29 09:39] #10144 closed, assigned to songjianet

[2022-07-29 09:49] #11186 closed, assigned to hezean

[2022-07-29 10:17] fuchanghai opened #11208 "[Improvement][swagger] Now the interface document returns only the generic template"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1440" alt="截屏2022-07-29 18 10 33" src="https://user-images.githubusercontent.com/33984497/181737439-1ce4ce2a-a1d1-4265-8d3c-f821b7caf84c.png">
If the developer is a front end, he wants to see the data

[2022-07-29 15:49] #11181 closed, assigned to fuchanghai

[2022-07-30 08:29] ChrisYuan opened #11210 "Case Unification Problem for Word "DataSource""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

This is a case sensitive problem, or code-style problem, I am not clear this is an issue. There are "DataSource" and "Datasource" code-styles, could we uniform them to "DataSource" ?

Actually, "Datasource" is only appeared

[2022-07-30 09:42] MichaelDeSteven opened #11211 "[Improvement][all] Improvement checksyle"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

IMO, DS is not good enough in `checksytle` part.

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/51652084/181905075-e1c5ba9e-4ae9-407d-a86f-f33aff59158c.png">

When I want to compile

[2022-07-30 10:38] SbloodyS commented on #11211
The current checkstyle detection is incremental detection, and full detection is not required to avoid many PR code conflicts caused by large-scale modifications.

[2022-07-30 10:41] SbloodyS commented on #11208
This is one of the reasons why we refactor the API in #10257. Currently, you can debug by opening F12 in the page to view the format of specific parameters.

[2022-07-30 11:16] MichaelDeSteven commented on #11211
Or we can just simply appending a note that `To start server when you execute mvn command, you may need to append - Dcheckstyle.skip` in `developer guide docs`?

[2022-07-30 12:52] rickchengx commented on #11074
Hi, @kezhenxu94 @SbloodyS @EricGao888
So we need to exclude the `Lombok` generated code during the coverage tests and make the code coverage results of `Sonar` more meaningful.
One possible solution is to create a `lombok.config` file in the root of the project and add the config below:
[code]
which makes Lombok to add @lombok.Generated annotation to all generated methods so that Jacoco will autom

[2022-07-30 13:40] EricGao888 commented on #11074
This method sounds good to me.

[2022-07-30 13:44] kezhenxu94 commented on #11074
This is what I expected. Refer to this file and the related changes if needed https://github.com/apache/skywalking/blob/master/lombok.config

[2022-07-30 13:52] fuchanghai commented on #11211
@MichaelDeSteven  @SbloodyS  I suggest that when we modify a class, we do a code format check by the way。do we need to make a list like #10257 ?

[2022-07-30 15:28] #11007 closed, assigned to JinyLeeChina

[2022-07-31 03:29] microeastcowboy opened #11214 "[Improvement][Worker] Avoid worker oom when you find appid from task logs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We deploy app on yarn by spark or flink , if you need to check app status on yarn , you must know appid. In dolphin, the appid is  from worker's task logs. when task logs's size is very large, worker's memory will

[2022-07-31 03:41] caishunfeng commented on #11202
@MichaelDeSteven It's a good idea, looking forward to your pr.

[2022-07-31 05:32] ChrisYuan opened #11215 "[Doc][standalone] typo for preparation part"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There is a typo on standalone.md.

<img width="901" alt="image" src="https://user-images.githubusercontent.com/2404284/182011785-2cf10e3e-397c-43b1-80eb-89ef7499c52a.png">

Should be "并配置 JAVA_HOME 环境变量，并将其追加到 PAT

[2022-07-31 05:40] ChrisYuan opened #11216 "[Doc][pseudo-cluster.md] Typo in preparation part."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There is a typo in preparation part for doc pseudo-cluster.md.

<img width="877" alt="image" src="https://user-images.githubusercontent.com/2404284/182011947-1a2d4f6d-92ab-4eec-aba8-ce0f727add42.png">

Should be "

[2022-07-31 07:00] ChrisYuan opened #11217 "[Doc][pseudo-cluster.md] typo and lack postgresql-initialization for install-guide"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There is a typo and could be fix with issue #11216 together.

<img width="944" alt="image" src="https://user-images.githubusercontent.com/2404284/182014081-24cfc415-d5c5-4079-91f2-48dfbf8f97fa.png">

There is no i

[2022-07-31 10:36] kiwi-field opened #11218 "[Question] [log module] Why is the host of the log module 192.168.18.1 and the port 1234, and where can I modify this configuration item."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I want to output the log of the workflow instance to my mysql database through the interface, so I use the f12 of the page to see where the log data comes from. Through the code, I see that NettyRemotingClient is

[2022-07-31 14:33] fuchanghai opened #11219 "[Improvement][master] WorkflowRunnableStatus"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="954" alt="image" src="https://user-images.githubusercontent.com/33984497/182031159-a6bd8948-f1a5-4fa4-b4ee-b92c640609d7.png">

after buildFlowDag give status of INITIALIZE_DAG, after initTaskQueue give

[2022-08-01 00:26] #10558 closed, assigned to nobody

[2022-08-01 01:24] #10760 closed, assigned to fuchanghai

[2022-08-01 01:29] SbloodyS commented on #11219
cc @caishunfeng @ruanwenjun

[2022-08-01 01:38] ITBOX-ITBOY commented on #10417
Determine what the original design is and whether the current situation is a bug

[2022-08-01 01:54] SbloodyS commented on #11211
That sounds good to me. cc @EricGao888 @zhongjiajie

[2022-08-01 01:54] SbloodyS commented on #11211
Currently, our CI detection is incremental.

[2022-08-01 02:03] #11215 closed, assigned to ChrisYuan

[2022-08-01 02:03] #11216 closed, assigned to ChrisYuan

[2022-08-01 02:07] rickchengx commented on #11074
Thanks a lot.

[2022-08-01 02:08] fuchanghai commented on #11218
@kiwi-field
maybe host from taskInstance, and taskINstance‘s host from masterConfig
<img width="767" alt="image" src="https://user-images.githubusercontent.com/33984497/182058789-495fbde1-d63f-4aad-9195-6daf0a1954cb.png">

<img width="677" alt="image" src="https://user-images.githubusercontent.com/33984497/182058753-ebf03806-1568-4765-8fdf-6447f94501e5.png">

[2022-08-01 02:39] EricGao888 commented on #11211
+1, before we fix all the style errors as planned in https://github.com/apache/dolphinscheduler/issues/10573 , I think instructing developers to use `-Dcheckstyle.skip` is a good idea. Thx.

[2022-08-01 03:05] caishunfeng opened #11223 "[Feature][Stream] Support stream task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This feature issue is about supporting stream task:

- stream task definition
![image](https://user-images.githubusercontent.com/11962619/182062108-118ddbe8-bcdb-4cc8-964d-e39c7dae4f32.png)

- stream task instance

[2022-08-01 03:12] SteNicholas commented on #11223
@caishunfeng, IMO, the streaming task support needs to introduce event based scheduling mechanism in scheduler. Current scheduling mechanism depends on the status of the task, but streaming task is long running.
cc @davidzollo ,@EricGao888

[2022-08-01 03:20] Tianqi-Dotes commented on #10961
hi,i cannot reproduce this, I got no username warnings. and the configuration is
![image](https://user-images.githubusercontent.com/36755957/182065451-1ed13d9c-d0a6-4ded-bfea-5edceb59ed44.png)
![image](https://user-images.githubusercontent.com/36755957/182065501-664b921a-d2a1-4ad5-81b5-5bca08958e0d.png)
I suggest to fill the configs
I think it is necessary to fill in the username & password.
selec

[2022-08-01 03:21] EricGao888 commented on #11223
@SteNicholas Sounds pretty cool to me. Since this is a big feature, would you like to bring it up in the bi-weekly community conference for further discussion and send a proposal to the community dev mail list? Thx~ cc @davidzollo @caishunfeng

[2022-08-01 03:59] ruanwenjun opened #11225 "[Feature][Alert] Add close alert method"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, we can set the alert when workflow executes failure.

In some cases, if the alert plugin is a third party service like [pagerduty](https://www.pagerduty.com), when we send an alert we will call the serv

[2022-08-01 05:04] #11225 closed, assigned to nobody

[2022-08-01 05:52] #4464 closed

[2022-08-01 05:53] caishunfeng commented on #11223
@SteNicholas  Thanks your reply, I'm agree with you, and I think it's a big feature too. In this feature,  stream task will do nothing when workflow running, so maybe they don't conflict, we can follow up to  introduce event based scheduling, WDYT?

[2022-08-01 06:08] MarsByteso0 opened #11227 "[Bug] [Module Name]Process Instance is in RUNNING status for a long time."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Process Instance is in RUNNING status for a long time.

### What you expected to happen

Process Instance  should be SUCCESS

### How to reproduce

I create a process use python .    python code is "print(1)" .

### Anything

[2022-08-01 06:25] fuchanghai opened #11228 "[Improvement][dolphinscheduler-service] ProcessService"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1064" alt="image" src="https://user-images.githubusercontent.com/33984497/182085051-3ac56d3c-9b8f-4ba2-ae9e-21124f32580b.png">
Some methods such as querying datasource or UdfFunc based on id should not

[2022-08-01 06:42] ocean-zhc commented on #11160
I solved it

[2022-08-01 06:56] #11201 closed, assigned to Amy0104

[2022-08-01 07:00] ocean-zhc opened #11229 "[Doc][QuickStart in Kubernetes] Documentation bug or improvement"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

How to change only dolphinscheduler-worker service mirror？
ds-version: 3.0.0-beat2
<img width="1319" alt="image" src="https://user-images.githubusercontent.com/46189785/182090789-69097eb2-5c36-4fec-a04a-8f050e0946

[2022-08-01 07:01] fuchanghai commented on #11208
@SbloodyS Although after your modification, I can only see the unified return structure。
[code]
 i mean as a ui,even if some default values ​​of f12 are null, the front end cannot judge the type of the parameter, nor does it know the meaning of each attribute of the object in 'data'.so why i open this issue

[2022-08-01 07:05] SbloodyS commented on #11208
You can find the data structure through swagger ui after refactor to v2 api. For more detail you can take a look at #10301.

[2022-08-01 07:06] MarsByteso0 commented on #11227
![image](https://user-images.githubusercontent.com/109576142/182091908-f42c8bf3-8106-48ac-8023-adf802218a28.png)
![image](https://user-images.githubusercontent.com/109576142/182091929-4475442c-c033-4727-9d66-1b118d1ab5e6.png)

[2022-08-01 07:20] fuchanghai commented on #11208
@SbloodyS  you are so smart,thx

[2022-08-01 07:20] #11208 closed, assigned to nobody

[2022-08-01 07:21] fuchanghai commented on #11165
@SbloodyS Thx

[2022-08-01 07:21] #11165 closed, assigned to nobody

[2022-08-01 07:28] #11214 closed, assigned to microeastcowboy

[2022-08-01 07:34] SbloodyS commented on #11228
Good suggestion. What do you want to do?

[2022-08-01 07:35] SbloodyS commented on #11227
Could you provide the steps to reproduce this issue?

[2022-08-01 07:43] #11229 closed, assigned to nobody

[2022-08-01 07:52] SteNicholas commented on #11223
@EricGao888 @caishunfeng, I would like to make a proposal to the community dev mail list. Go ahead to discuss this scheduling feature on the weekly meeting.

[2022-08-01 07:53] jkhhuse opened #11233 "[Improvement][UI] custom template switch button in chunjun component module is no need any more"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In this PR ：[dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-chunjun.ts](https://github.com/apache/dolphinscheduler/pull/10937/files/f99b85a518c7389183e0328808976bccc40827ff#diff-a511c17bea1

[2022-08-01 08:35] ShawshankLin commented on #10446
![image](https://user-images.githubusercontent.com/16248686/182107729-3675087a-f887-4a22-9111-634390f28a0f.png)
![image](https://user-images.githubusercontent.com/16248686/182107754-0ff7f171-238f-43e7-8dd4-109cdbb86f7d.png)
![image](https://user-images.githubusercontent.com/16248686/182107780-a4cbb287-304d-48e2-a567-416d1c0aca97.png)
cd '${file_path}'
 python -c "import test1;test1.get_task_instan

[2022-08-01 09:55] ocean-zhc opened #11236 "[Bug] [DataX] DataX Variable configuration problem"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

k8s deployment：
ds-version:3.0.0-beat2

<img width="1828" alt="image" src="https://user-images.githubusercontent.com/46189785/182122211-6ddc4250-cd41-4196-9a1c-abe8844e8bba.png">

<img width="2579" alt="image" src="https://u

[2022-08-01 10:37] bukeliyu commented on #11142
hello ,I meet this question now . But my install_config.sh  is same as common.properties . Can you give me some advice ?

[2022-08-01 11:06] hyjunhyj opened #11237 "[Bug] [api&datasource-plugin] When creating a Presto data source, the catalog/database (schema) format is not supported. Tables with the same name under different databases will be displayed on the Create Data Quality Task page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. When creating Presto data source, catalog/database (schema) format is not supported in the "Database Name" input box
2. When filling in the real database name in the "Database Name" input box, and then on the Create Data

[2022-08-01 11:45] ruanwenjun commented on #5743
@daizc1 Please use English and provide more detailed information, otherwise, I will close this issue.

[2022-08-01 11:48] ruanwenjun opened #11238 "[Bug] [Master] Cannot recover from failed tasks when force success task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I find when the task failed, if  I force success the failed task, and then recovery the workflow instance, the master will go into dead loop. This is caused it cannot find the failed tasks.

### What you expected to happen

[2022-08-01 12:01] ruanwenjun commented on #11219
Is there any advantage to using the status `in progress` rather than `done before`? I don't think it goes against some principle.

[2022-08-01 12:22] fuchanghai commented on #11219
@ruanwenjun Maybe a personal opinion. Because the states I used before represent the current situation, such as the state of the Thread class。imagine such a situation, if the current code reports an error. I'm going to print the error reported at that stage. When the code runs to the initTaskQueue method, I will print INITIALIZE_DAG, this seems a bit strange. The above is just my personal opinion

[2022-08-01 12:22] fuchanghai commented on #11219
@ruanwenjun Maybe a personal opinion. Because the states I used before represent the current situation, such as the state of the Thread class。imagine such a situation, if the current code reports an error. I'm going to print the error reported at that stage. When the code runs to the initTaskQueue method, I will print INITIALIZE_DAG, this seems a bit strange. The above is just my personal opinion

[2022-08-01 15:19] ruanwenjun commented on #11219
Ok, this is an advantage, but I don't think this change is needed now, since this class may be refactored later.

[2022-08-02 00:27] #10555 closed, assigned to kangyuanjia

[2022-08-02 01:30] #11238 closed, assigned to ruanwenjun

[2022-08-02 02:17] CainGao commented on #11227
I don't know how to reproduce this...
It appears occasionally...

[2022-08-02 02:36] EricGao888 opened #11242 "[Feature][Authenticator] Support OAuth as an authenticator"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* `OAuth` is widely used for WEB authentication without explicit password.
* We could support `OAuth` as an authenticator in Dolphin Scheduler.
* More about `OAuth`, see: https://en.wikipedia.org/wiki/OAuth

### U

[2022-08-02 02:48] zhongjiajie opened #11243 "[Feature][database] Test database metadata equal in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Find some way to compare database ddl/dml from lastst to upgrade and auto run in CI

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to s

[2022-08-02 03:17] ruanwenjun opened #11244 "[Bug] [UI] TaskGroup cannot save unless write desc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I create a new TaskGroup, I cannot confirm, unless I write the `Task group desc `, but this parameter is just a choosable parameter?
<img width="1254" alt="image" src="https://user-images.githubusercontent.com/22415594/

[2022-08-02 03:23] ruanwenjun opened #11245 "[Bug] [UI] The Grid format cannot work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I create a workflow with 6 tasks, and use the grid format. It doesn't work.
<img width="1398" alt="image" src="https://user-images.githubusercontent.com/22415594/182284776-ccf91422-9203-4b72-9169-5a3078644efe.png">

I c

[2022-08-02 03:51] ruanwenjun opened #11246 "[Bug] [API] Cannot view task log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I execute a task, and want to view the task log. I find the log can not display well and the front-end is always sending request to back-end.
<img width="1714" alt="image" src="https://user-images.githubusercontent.com/

[2022-08-02 03:53] EricGao888 commented on #11074
closed by: #11212

[2022-08-02 03:53] #11074 closed, assigned to rickchengx

[2022-08-02 03:55] EricGao888 commented on #11074
Hi @rickchengx , next time you submit a pull request, you could add `This PR closes: #xxxxx` so that the related issue will close automatically when PR merged.

[2022-08-02 03:59] caishunfeng commented on #11246
I had cherry-pick https://github.com/apache/dolphinscheduler/commit/1b0f8c04d3e419320e30254393a8592ed52065a4 to 3.0.0-prepare, PTAL @zhongjiajie

[2022-08-02 05:16] lishiyucn opened #11247 "[Improvement][Deploy kubernetes] values.yaml config worker. persistentVolumeClaim"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improvement deploy kubernetes worker template ,
in config value.yaml
<img width="508" alt="image" src="https://user-images.githubusercontent.com/5198932/182299734-0fe2858d-1472-4b14-837c-d3201a15ad33.png">

if ".V

[2022-08-02 05:52] EricGao888 opened #11249 "[Bug] [Alert] Users cannot select alarm groups when triggering / scheduling workflows"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* After creating an ordinary user and alert groups with admin, I log out and re-login with the new user. Then when triggering / scheduling the workflows, there are no alert groups to select from.

![image](https://user-image

[2022-08-02 06:24] fuchanghai opened #11250 "[Bug] [Datax] plugin.json path error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="831" alt="企业微信截图_98cef5b6-c822-4b5c-bbc9-4c96510c6cd8" src="https://user-images.githubusercontent.com/33984497/182305870-4aafd4e6-3121-404b-a9ac-4492ea692677.png">

<img width="852" alt="image" src="https://user-

[2022-08-02 06:56] devosend commented on #11244
I will fix it

[2022-08-02 07:03] #11250 closed, assigned to nobody

[2022-08-02 07:03] fuchanghai commented on #11250
my error
<img width="880" alt="image" src="https://user-images.githubusercontent.com/33984497/182312679-f213683a-304d-46ea-8489-67fbdeb20168.png">

[2022-08-02 07:40] shangeyao opened #11252 "[Bug] [Task Plugin] Seatunnel task run error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/42203474/182319067-cb003428-18cd-4893-bd11-b50dce37c693.png)
![image](https://user-images.githubusercontent.com/42203474/182319134-3994be43-7088-4a40-994f-c6f052fe3e24.png)

[2022-08-02 07:47] SbloodyS commented on #11252
This has been fixed in #10422.

[2022-08-02 07:47] #11252 closed, assigned to nobody

[2022-08-02 08:02] ruanwenjun opened #11253 "[Bug] [Master] TaskGroup cannot work and will cause master handle event dead loop."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I find when we create a workflow with TaskGroup, the workflow may go into dead loop, and status will still in running.

### What you expected to happen

work well

### How to reproduce

1. Create a TaskGroup with 3 capaticy.

[2022-08-02 08:17] #11236 closed, assigned to nobody

[2022-08-02 09:38] #11244 closed, assigned to devosend

[2022-08-02 10:23] EricGao888 opened #11261 "[Feature][Task Plugin] Support hive cli task type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently DS only supports running hive sql through jdbc. We could add hive cli task plugin to enable users to run hive sql in client mode for stability in prod environment.
* In some companies, pure `shell` tas

[2022-08-02 10:44] SbloodyS commented on #11261
Is it better to support both hive cli and beeline cli?

[2022-08-02 11:02] Radeity opened #11262 "[Improvement][Task] Improved way to collect yarn job's appIds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Current way to collect appIds is scan log files and parse them, it's inefficient and will cause OOM if log file is large, which has been mentioned in [issue#11214](https://github.com/apache/dolphinscheduler/issues

[2022-08-02 11:11] zhongjiajie commented on #10377
close by https://github.com/apache/dolphinscheduler/commit/dd34a1da67f8fbbb89bedde655f6257a3b523050 and https://github.com/apache/dolphinscheduler/commit/3915c4f40a1e533645483dbf51e9ffbb0c460d46

[2022-08-02 11:11] #10377 closed, assigned to zhongjiajie

[2022-08-02 11:14] zhongjiajie commented on #10120
It is dev branch error, so not related to milestone `3.0.0-release`

[2022-08-02 11:24] EricGao888 commented on #11261
@SbloodyS Of course, that's a good suggestion. Thx for the comment!

[2022-08-02 11:42] WangJPLeo opened #11263 "[Feature][ApiServer] Add Api service optional whether to register ZK."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add Api service optional whether to register ZK.

### Use case

Use the registry on the Api service.

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code o

[2022-08-02 12:30] EricGao888 commented on #11249
Seems we have the same situation with `Environment`:
![image](https://user-images.githubusercontent.com/34905992/182375015-f2627e84-ac57-4151-9d16-5a6362b47621.png)

[2022-08-02 12:30] zhongjiajie commented on #11249
Hi @EricGao888 I can select the exists alert group in branch 3.0.0-prepare
<img width="2997" alt="image" src="https://user-images.githubusercontent.com/15820530/182375158-fc6ec378-c190-411b-b785-46607b79b1cc.png">

[2022-08-02 12:32] EricGao888 commented on #11249
Looks like a bug on dev. If there's no such thing on 3.0.0-prepare, we may change the milestone to 3.1.0 or something else. WDYT @zhongjiajie @SbloodyS

[2022-08-02 12:37] zhongjiajie commented on #11249
Oh, I find out it exists in workflow definition page instead of runing workflow dialog
<img width="3008" alt="image" src="https://user-images.githubusercontent.com/15820530/182376366-b39f89ec-36da-447d-ad89-c545cbce4300.png">

[2022-08-02 12:41] zhongjiajie commented on #11249
@songjianet @Amy0104 @devosend I find out backend return the right entry, could you please take a look the frontend code?

[2022-08-02 12:54] zhongjiajie commented on #11249
I re-test it, and find there are two error places
1. workflow definition -> Edit task -> select environment name
<img width="3008" alt="image" src="https://user-images.githubusercontent.com/15820530/182379393-bd511270-9071-40c1-a45f-2375e88f2288.png">

2. workflow definition -> mark workflow online -> trigger -> select environment name
<img width="3005" alt="image" src="https://user-images.githubu

[2022-08-02 13:00] zhongjiajie commented on #11123
@caishunfeng  So should we close it or should we fix it?

[2022-08-02 13:04] zhongjiajie commented on #10392
You can do with @stalary if he do not mind

[2022-08-02 13:05] zhongjiajie commented on #10392
If you still doing with this, please go ahead, we may consider releases in version 3.0.1, WDTY @caishunfeng

[2022-08-02 13:17] caishunfeng commented on #11123
Yes, I think we should fix it in the next version.

[2022-08-02 13:19] wq557520 opened #11265 "[Bug] [Module Name] Using sqoop to export from hive to mysql reports an error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[LOG-PATH]: /opt/apache-dolphinscheduler-2.0.6-SNAPSHOT-bin/logs/6401667646944_3/49374/135527.log, [HOST]:  172.16.20.84
[
[INFO] 2022-08-02 20:39:51.658 [TaskLogInfo- - [taskAppId=TASK-6401667646944_3-49374-135527]]  - tena

[2022-08-02 13:20] #10205 closed, assigned to caishunfeng

[2022-08-03 01:31] SbloodyS commented on #11265
Hi @wq557520 , please check the sqoop config. It's not ds's issue. I'll close this pr. Feel free to reopen it when you have any other problems.

[2022-08-03 01:31] #11265 closed, assigned to nobody

[2022-08-03 01:43] devosend commented on #11246
I will fix it

[2022-08-03 01:45] devosend commented on #11245
It has been fixed. ref #11200

[2022-08-03 01:50] ruanwenjun commented on #11245
OK, I will check again.

[2022-08-03 01:56] ruanwenjun commented on #11245
After reinstall the node_modules it can work well.

[2022-08-03 01:56] #11245 closed, assigned to nobody

[2022-08-03 03:22] ruanwenjun opened #11269 "[Improvement][Master] Cancel remote task when do worker failover"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, due to some problems(master/worker failover at the same time), we cannot continue the failover task, we just kill the need failover task and run again.

The problem is that we just kill the local task a

[2022-08-03 03:40] Amy0104 opened #11270 "[Improvement][UI] Improve monaco-editor component."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/

[2022-08-03 05:23] Mile-Z opened #11273 "2.0.5 Scheduling flink task cannot find path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Scheduling flink task cannot find path，The environment variables have been configured, and the execution can be successful once ten times. Submit it with the shell command.
![image](https://user-images.githubusercontent.com/

[2022-08-03 05:43] Amy0104 commented on #11249
Have you selected a worker group for the environment? If not, the worker group of the environment list from the back end should be set to default not empty.
<img width="447" alt="image" src="https://user-images.githubusercontent.com/97265214/182533679-cb72ee60-091b-4092-b58c-7e0b48804332.png">
@zhongjiajie pls cc.

[2022-08-03 05:47] EricGao888 commented on #10963
Some updates, see: https://github.com/apache/dolphinscheduler/pull/11272#issuecomment-1203511210

[2022-08-03 05:52] fuchanghai commented on #11219
@ruanwenjun ok i'll close this

[2022-08-03 05:52] #11219 closed, assigned to fuchanghai

[2022-08-03 05:54] #11246 closed, assigned to devosend

[2022-08-03 06:06] zhongjiajie commented on #11249
Yesh, you are right I forget to connect the environment to workgroup, when I connect them then it work correctly, thanks for your clarification 👍

[2022-08-03 06:06] zhongjiajie commented on #11249
cc @EricGao888

[2022-08-03 06:09] luoxiqiang commented on #10446
This situation will occur when multiple master nodes are deployed, but will not occur when a single Master node is deployed

[2022-08-03 06:12] EricGao888 commented on #11249
@Amy0104 @zhongjiajie Thanks for the clarification. `Environments` works for me after associating it with `worker group`. My bad and I think I need to reread the docs : ). BTW, I still have the issue with `alarm groups`, do I miss anything here?

[2022-08-03 06:21] zhongjiajie commented on #11249
alarm groups work in my laptop, can you run `mvn clean` and then restart the server? @EricGao888

[2022-08-03 06:25] ly1ex opened #11277 "[Feature][API] Add params check in createUser Function"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add params check in createUser Function

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I ag

[2022-08-03 06:39] EricGao888 commented on #11249
@zhongjiajie Sure, I'm going to double check this. BTW, are u testing the dev branch for alarm group or 3.0.0-prepare?

[2022-08-03 06:43] zhongjiajie commented on #11249
I only test in branch `3.0.0-prepare`

[2022-08-03 06:47] EricGao888 commented on #11249
@zhongjiajie It does exist on dev branch.

[2022-08-03 06:48] stalary commented on #10392
Do you have any ideas now that I'm still in debug

[2022-08-03 06:59] stalary commented on #10392
Sql Params are replaced sql , parameters:["x1","x2"](LIST), I think we should replace [] to ()

[2022-08-03 07:00] stalary commented on #10392
I will modify ParameterUtils.setInParameter.

[2022-08-03 07:05] EricGao888 commented on #11249
Just pulled the latest code of `dev` branch and retested it, the alarm group issue still exists. cc @zhongjiajie @SbloodyS @Amy0104

[2022-08-03 07:08] ruanwenjun commented on #11262
Do you have any good idea? AFAIK, we can use xx task SDK to submit task, and can get the appId from SDK, then we don't need to parse from log. Or we can optimize the currently `parse` method to avoid OOM.

[2022-08-03 07:13] ly1ex opened #11278 "[Improvement][API] Change the way exceptions are handled in the API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now we put the exception into the Result class and parse it.
This is not an elegant approach, so we would like to change the original
[code]
to
[code]

### Are you willing to submit a PR?

- [ ] Yes I am willing t

[2022-08-03 07:17] #11270 closed, assigned to Amy0104

[2022-08-03 07:20] Amy0104 commented on #11249
I tested it on branch dev. It is working for me if I set a worker group to the environment. Could you provide the response of the environment list request when creating a task. @EricGao888

[2022-08-03 07:23] EricGao888 commented on #11249
I mean `Alarm Group`. `Environments` works on dev branch for me, as I've mentioned above: https://github.com/apache/dolphinscheduler/issues/11249#issuecomment-1203526359

[2022-08-03 07:25] EricGao888 commented on #11249
`{
    "code": 0,
    "msg": "success",
    "data": {
        "processDefinition": {
            "id": 1,
            "code": 6410218857792,
            "name": "sda",
            "version": 1,
            "releaseState": "ONLINE",
            "projectCode": 6410216556480,
            "description": "",
            "globalParams": "[]",
            "globalParamList": [],
            "globalParamMa

[2022-08-03 07:31] hrtyf opened #11279 "[Improvement] [Clickhouse] You cannot use empty passwords for ClickHouse data source additions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

You cannot use empty passwords for ClickHouse data source additions,If no value is transmitted when you enter the password, the password is changed to 123456 by default.
Version 2.0.6

### What you expected to happen

It mig

[2022-08-03 07:32] SbloodyS commented on #11278
I think `putMsg` and `Exception` are two different behaviors. We use `putMsg` to return valid error messages through API, while exceptions will not be returned through API.

[2022-08-03 07:37] hrtyf opened #11280 "[Bug] [Module Name] Bug title You cannot use empty passwords for ClickHouse data source additions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

You cannot use empty passwords for ClickHouse data source additions,If no value is transmitted when you enter the password, the password is changed to 123456 by default.
Version 2.0.6

### What you expected to happen

It mig

[2022-08-03 07:39] ly1ex commented on #11278
@zhongjiajie Hi Jiajie, What's your opinion about this issue?

[2022-08-03 07:41] SbloodyS commented on #11280
Duplicated with #11279.

[2022-08-03 07:41] #11280 closed, assigned to nobody

[2022-08-03 07:42] #11131 closed, assigned to EricGao888

[2022-08-03 07:45] SbloodyS commented on #11273
Hi @Mile-Z , please check whether this directory exists and whether the corresponding user has permission.

[2022-08-03 08:17] SbloodyS opened #11281 "[Doc][S3] Add docs about how to use minio s3 as storage type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add docs about how to use minio s3 as storage type

### Documentation Links

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow

[2022-08-03 08:24] zhongjiajie commented on #11278
I have discuss with @caishunfeng , we think `putMsg` it is redundant and we should throw exception directly in serviceImpl, So we add a new `ExceptionHandler` in https://github.com/apache/dolphinscheduler/blob/ae6aa53f963d2ea02ab435db1e5548da23e3f882/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/exceptions/ApiExceptionHandler.java#L39-L43 from api side, which will covert the `

[2022-08-03 08:32] SbloodyS commented on #11278
That make sense to me. And it's a big project to modify it. I suggest mark it as a `DSIP` and make a todo list just as we do in #10257. WDYT? @zhongjiajie

[2022-08-03 08:44] #11233 closed, assigned to jkhhuse

[2022-08-03 08:45] EricGao888 commented on #10573
I will update this issue with a more detailed refactoring plan as well as priorities later this week.

[2022-08-03 09:04] Radeity commented on #11262
Yeh, maybe a practicable solution, we can simply talk about it.

Before submitting a yarn job, the client apply the application context from `RM` first, and get appId which will be then written into `NM`'s environment variable. We can use java agent to read it before executing yarn job's JAR file, also, can take `taskInstanceId` as input of agent program. However, where to store this mapping relat

[2022-08-03 09:04] Radeity commented on #11262
@ruanwenjun Yeh, maybe a practicable solution, we can simply talk about it.

Before submitting a yarn job, the client apply the application context from RM first, and get appId which will be then written into NM's environment variable. We can use java agent to read it before executing yarn job's JAR file, also, can take taskInstanceId as input of agent program. However, where to store this mapping

[2022-08-03 09:10] CalvinKirs commented on #11278
+1， make sense to me, `Result` is usually only used as a standard data format for external system interaction.

[2022-08-03 09:11] EricGao888 commented on #9992
@SbloodyS Looks like #9177 enables users to write multiple lines of mysql but still not support users to write multiple lines of hive sql. Maybe we could reopen this issue?

[2022-08-03 09:29] ruanwenjun commented on #11262
In fact, there is already a issue(#4025) talk about use agent to collect the appId, but I think it isn't a good way 😢 , we need to maintain a agent and we may need to maintain different version agant.

[2022-08-03 09:42] Amy0104 commented on #11249
I got u, but the alarm group works for me on dev branch. Can you reproduce this? @zhongjiajie

[2022-08-03 09:52] EricGao888 commented on #11249
Hi @Amy0104 , may I ask which user you used for testing? If u choose admin, it works. But if u choose some ordinary user, it happens. Probably something related to user / permission.

[2022-08-03 10:00] Amy0104 commented on #11249
I created a alarm group with admin account, and then changed to a ordinary user.

[2022-08-03 10:06] zhongjiajie commented on #10291
remove stale

[2022-08-03 10:08] ahahaooo opened #11284 "[Improvement] [api-server] locations be cleaned"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

- when i update the basic-info via call /dolphinscheduler/projects/{projectCode}/process-definition/{code}/basic-info,the locations is be resetted,and all task picture is locate to same place,when search the api param ,donno

[2022-08-03 11:55] zhongjiajie opened #11286 "[Feature][database] Find better way to upgrade database instead of bare sql script"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

currently we using bare sql script to init or upgrade our databases which we can see in https://github.com/apache/dolphinscheduler/tree/dev/dolphinscheduler-dao/src/main/resources/sql/upgrade

and it is face some

[2022-08-03 12:05] ruanwenjun commented on #11249
I cannot see the alerm group with ordinary user :)

[2022-08-03 12:05] ruanwenjun commented on #11249
+1
I cannot see the alerm group with ordinary user :)

[2022-08-03 12:17] zhongjiajie commented on #10963
@ruanwenjun have other oppoin

[2022-08-04 00:01] dik111 commented on #3009
I meet the same error with 2.0.2

[2022-08-04 00:24] #10635 closed, assigned to ruancheng77

[2022-08-04 00:24] #10622 closed, assigned to zhuxt2015

[2022-08-04 01:41] ruanwenjun commented on #10918
You are welcome.

[2022-08-04 02:27] stalary commented on #10212
I will start working on this, and I will refer to zooKeeper-plugin for implementation.

[2022-08-04 02:49] stalary commented on #10482
I can't find how the alter server is invoked, can you give me an example？

[2022-08-04 03:21] ryze124 commented on #3009
Me too. In 1.3.6

[2022-08-04 03:22] zhongjiajie commented on #10495
does we will totally remove table `t_ds_resource` in the end?

[2022-08-04 03:24] ryze124 commented on #3009
BTW,   zookeeper log:
2022-08-03 22:09:49,833 WARN org.apache.zookeeper.server.NIOServerCnxn: caught end of stream exception
EndOfStreamException: Unable to read additional data from client sessionid 0x0, likely client has closed socket
        at org.apache.zookeeper.server.NIOServerCnxn.doIO(NIOServerCnxn.java:231)
        at org.apache.zookeeper.server.NIOServerCnxnFactory.run(NIOServerCnxnFact

[2022-08-04 03:28] EricPyZhou commented on #10495
In the end, yes. But for now, we will keep it for backward compatibility. A new table `t_ds_relation_resources_task` is dedicated to storing resources used by tasks in online workflows.

[2022-08-04 03:53] ruanwenjun commented on #11249
I find this is caused by the back-end has a authority logic when query AlertGroup.

[2022-08-04 03:55] #10571 closed, assigned to rickchengx

[2022-08-04 04:44] zhongjiajie opened #11289 "[Feature][release] New tool find out not cherry-pick pr with specific milestone"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

when we release minor version of dolphinscheudler, we will add milestone to issue or PR, and cherry-pick them when PR merged, currently we have to find not cherry-pick PR by manual, maybe we should add a tool to m

[2022-08-04 04:48] zhongjiajie commented on #11289
I do some research to https://cli.github.com , it work well in PR by

[code]

but when we try to find out some issue with milestone and the linked PR without milestone, it is do not work expect, only can filter issue

[code]

[2022-08-04 04:48] zhongjiajie commented on #11289
I will add some bash or python script to do that

[2022-08-04 06:07] rickchengx opened #11291 "[Improvement][sql] Improvement the log output while executing multiple sql statements"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, the log does not output the currently executing sql statement while executing multiple sql statements.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

[2022-08-04 06:43] #11253 closed, assigned to ruanwenjun

[2022-08-04 06:55] fuchanghai opened #11293 "[Improvement][dolphinscheduler] Some variables in subclasses of AbstractAuthenticator are redundant"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="888" alt="image" src="https://user-images.githubusercontent.com/33984497/182782451-48a9b9bb-5336-4696-910d-810b449cc859.png">

<img width="869" alt="image" src="https://user-images.githubusercontent.co

[2022-08-04 07:41] fuchanghai opened #11295 "[Improvement][common,task-api] have duplicate classes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="874" alt="image" src="https://user-images.githubusercontent.com/33984497/182791206-4e6e5132-9810-4a61-ad4d-875c200a1222.png">
PlaceholderUtils  PropertyPlaceholderHelper  TimePlaceholderUtils BusinessT

[2022-08-04 08:07] caoes opened #11296 "[Improvement][Master] master select host，zookeeper get node info get node status ABNORMAL_NODE_STATUS， clear workerNodeInfo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When the master assigns a worker，Obtain node heartbeat information through ZK to obtain node unhealthy status. select host return null，ds unable to run workflow ；

`Host host = hostManager.select(context);`
`publi

[2022-08-04 08:17] fuchanghai opened #11297 "[Bug] [Datax] execute error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when target table is not exist . and i set create table  that not exist in prestatement. datax first verifies the target table information instead of executing preStatements first

<img width="592" alt="image" src="https://u

[2022-08-04 08:21] SbloodyS commented on #11296
Hi @caoes , which version you are using?

[2022-08-04 08:34] lordk911 commented on #10899
@JinyLeeChina please take a look at this issue

[2022-08-04 08:39] WangJPLeo commented on #11249
Yes, when a non-Admin user queries an AlertGroup, the condition is whether it is created by the current user. I will check the data query logic of other resources and submit a PR. A reasonable form should be able to authorize all data resources in the system, and Now the unified management of permissions has been extracted in the system.

[2022-08-04 08:54] DriftF commented on #10615
I think your spark environment does not contain MySQL 8.0.16 driver.
Both spark driver and executor need mysql driver on class path so specify
spark.driver.extraClassPath = <path>/mysql-connector-java-8.0.16.jar
spark.executor.extraClassPath = <path>/mysql-connector-java-8.0.16.jar

[2022-08-04 09:19] #11297 closed, assigned to fuchanghai

[2022-08-04 09:30] MichaelDeSteven opened #11298 "[API] Refactor org.apache.dolphinscheduler.api.controller.AlertPluginInstanceController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

accroding to [DSIP-7] [API] Suggest refactor the backend api https://github.com/apache/dolphinscheduler/issues/10257

**Suggested optimization**
* Content-Type change to `application/json`
* Add more example to ap

[2022-08-04 09:56] dashuai2020 opened #11299 "[Improvement] [Task] flink sql mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Under the current workflow definition module, when the flick component is selected and the program type is SQL, the SQL script parameter is the cluster yarn per job mode to submit the task. When the processing is

[2022-08-04 09:57] dashuai2020 opened #11300 "flink sql mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Under the current workflow definition module, when the flick component is selected and the program type is SQL, the SQL script parameter is the cluster yarn per job mode to submit the task. When the processing is

[2022-08-04 10:59] ShawshankLin commented on #10446
But this is a single machine, deployment mode is pseudo cluster

[2022-08-04 11:33] Quan-HS opened #11302 "[Bug] [Master] Lots of wrong tasks「 failedDispatchTasks 」put 「taskPriorityQueue」，cause normal tasks cannot be distributed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in this file 「TaskPriorityQueueConsumer」，there are lots of wrong tasks when task dispatch failed,if  let those task「 failedDispatchTasks 」put「taskPriorityQueue」，cause normal tasks cannot be distributed.

### What you expecte

[2022-08-04 11:53] luoxiqiang commented on #10446
**Description Error logs in the master server**
![image](https://user-images.githubusercontent.com/32994527/182838405-6f138ab7-538d-4652-949c-22c9197987a6.png)
**Sometimes the subprocess stays in execution and sometimes it stays in a successful commit state**
![image](https://user-images.githubusercontent.com/32994527/182839201-255387aa-5296-47b9-94f5-daf8a0bd9617.png)
**However, the tasks of each

[2022-08-04 12:24] gcnyin opened #11304 "[Bug] [Spakr-SQL] Can not run Spark-SQL task in k8s mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I'v already created the dolphin-scheduler in k8s using helm, and have added the spark in `/opt/soft/spark1` and `/opt/soft/spark2`.

Spark version: 3.2.2.

K8s version: 1.23.

I submitted a spark-sql task and started, it thr

[2022-08-04 13:22] Radeity commented on #11262
I think there's no need to maintain different version agent, for example, we can parse the appId from some environment variables such as `APPLICATION_WEB_PROXY_BASE`. All yarn jobs' `AM` maintain this environment variable, i've already verified it in Flink, Spark, Hive, MR, Spark-SQL. The only difference is how to set java options which can be defined in each  type of task.

So, it seems like yarn

[2022-08-04 14:54] guodongym commented on #11089
@xyzhh  Is it convenient to send the configuration of your common.properties file? I can try to duplicate it

[2022-08-04 15:07] ruanwenjun commented on #11249
This should be fixed by #11301

[2022-08-04 15:07] #11249 closed, assigned to zhongjiajie, WangJPLeo

[2022-08-05 00:26] #10602 closed, assigned to nobody

[2022-08-05 01:23] SbloodyS commented on #11300
Duplicated with #11299.

[2022-08-05 01:23] #11300 closed, assigned to nobody

[2022-08-05 01:24] SbloodyS commented on #11302
cc @caishunfeng @ruanwenjun

[2022-08-05 01:26] xujian04 opened #11306 "[Bug] [data-quality] field length check rule"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

数据质量中字段长度校验规则选择<、>等逻辑操作符时点击确定后会变成=
![1](https://user-images.githubusercontent.com/68844117/182981930-c75eb27d-62a6-41e0-b5e1-cb47e2383398.png)

### What you expected to happen

数据质量中字段长度校验规则选择<、>等逻辑操作符可以正常使用

### How to repr

[2022-08-05 01:33] xujian04 opened #11307 "[Bug] [Data Quality] Data Quality - Task Results"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

3.0-beta-1数据质量页面任务结果中任务名称取到了返回接口中用户名称的值
![image](https://user-images.githubusercontent.com/68844117/182982423-e2aeab80-9395-4fab-aa40-1a255efc1b2a.png)
![image](https://user-images.githubusercontent.com/68844117/182982520-05

[2022-08-05 01:39] xujian04 opened #11308 "[Improvement][Data Quality] Data Quality Table Choice"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

数据质量节点选择表名时无法自己输入进行模糊匹配，必须一个个去找表
![image](https://user-images.githubusercontent.com/68844117/182983276-1a1fe081-38c4-4da6-afaf-160fdf0ea97a.png)

### Are you willing to submit a PR?

- [X] Yes I am willing to subm

[2022-08-05 02:06] #10777 closed, assigned to nobody

[2022-08-05 02:12] xyzhh commented on #11089
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of t

[2022-08-05 02:14] xyzhh commented on #11089
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of t

[2022-08-05 02:16] xyzhh commented on #11089
data.basedir.path=/tmp/dolphinscheduler
resource.storage.type=S3
resource.upload.path=/dolphinscheduler
hadoop.security.authentication.startup.state=false
java.security.krb5.conf.path=/opt/krb5.conf
login.user.keytab.username=hdfs-mycluster@ESZ.COM
login.user.keytab.path=/opt/hdfs.headless.keytab
kerberos.expire.time=2
hdfs.root.user=hdfs
fs.defaultFS=s3a://dolphinscheduler
aws.access.key.id=minio

[2022-08-05 02:20] xyzhh commented on #11089
"#" is formated ,see the next comment without "#",thank you.

[2022-08-05 02:50] caoes commented on #11296
2.0.5

[2022-08-05 03:55] dashuai2020 opened #11310 "[Improvement][Flink] flink sql mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When creating a flinksql task, when the task is submitted to yarn, the task is regarded as successful, rather than waiting for the task execution on yarn to complete, which will affect the offline task scheduling

[2022-08-05 03:55] #10899 closed, assigned to nobody

[2022-08-05 03:56] brave-lee commented on #10899
#10952

[2022-08-05 05:54] SbloodyS commented on #11310
Please use a clear description in the title.

[2022-08-05 06:02] dashuai2020 commented on #11310
When creating a Flink SQL task and executing a Flink SQL task, the current program running logic is that the dolphin scheduler submits the task to YARN and starts the next task, instead of waiting for the task to execute successfully in YARN, returning it to the dolphin scheduler, and then changing the task status to success

[2022-08-05 06:11] #11293 closed, assigned to fuchanghai

[2022-08-05 06:19] hezean commented on #11070
Wish I could help, but I have trouble reproducing this in either 3.0.0-beta2 or master. Can you please verify again?

[2022-08-05 07:23] hiSandog commented on #10988
I'm going to try to do this optimization

[2022-08-05 07:40] SbloodyS opened #11314 "[Doc][pseudo cluster] Missing guide of add mysql jars to tools libs path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Missing guide of add mysql jars to tools libs path

### Documentation Links

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow

[2022-08-05 07:54] 777yu commented on #10540
增加 hiveserver2 线程数 可以解决吗

[2022-08-05 07:54] 777yu commented on #10540
没，没定位到哪里的问题

[2022-08-05 07:55] 777yu commented on #10540
你们是怎么解决的

[2022-08-05 08:09] return-stay opened #11315 "When creating a workflow, add a child node, and the route jumps error when entering the child node. [Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

通过画布创建工作流时，选择 sub process 类型，之后点击进入该子节点时，页面路由跳转错误

### What you expected to happen

正常显示该子节点，可以正常编辑。

### How to reproduce

创建工作流；选择 sub process 节点类型；点击进入该节点

### Anything else

_No response_

### Version

2.0.5

### Are you

[2022-08-05 08:14] zerosyn commented on #10732
We have a similar problem to this one in 3.0.0-beta-1.

Workflow A have multiple tasks irrelevant, Process execute type: parallel（并行）.
Complement data on this workflow is running perfect.

Workflow B have multiple tasks depend sequentially, Process execute type: Serial wait（串行等待）.
Complement data on this workflow will continually generate new workflow instance after previous finished, can't stop u

[2022-08-05 08:38] DubsLiu opened #11316 "[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

创建流程后，对流程进行修改保存时报错 net::ERR_CONNECTION_RESET

index.d4eb824.js?2c795c7549663bb4f947:2          PUT http://192.168.1.117:12345/dolphinscheduler/projects/6432843259712/process-definition/6432848548288 net::ERR_CONNECTION_RESET

[2022-08-05 08:57] #11310 closed, assigned to nobody

[2022-08-05 08:58] dashuai2020 commented on #11310
I have resovled   SET table.dml-sync = true;

[2022-08-05 09:37] dashuai2020 commented on #11299
i have resolved set dml-sync=true

[2022-08-05 09:37] #11299 closed, assigned to nobody

[2022-08-05 09:40] devosend opened #11319 "[Bug] [UI] The workflow instance action column shows exception."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The workflow instance action column shows exception.
<img width="1221" alt="image" src="https://user-images.githubusercontent.com/8847400/183050237-43b60e0f-d6c7-4512-96da-5257fda05452.png">

### What you expected to happen

[2022-08-05 09:45] #11114 closed, assigned to TangTangGrit

[2022-08-05 09:58] #9927 closed, assigned to zhongjiajie

[2022-08-05 10:10] wxing89 commented on #11233
Some problem occured after this PR, configuration `customConfig`  changed to '0' while it should be defalut value '1'. The value 0 which will lead to create chunjun node failed.

Following is taskDefinitionJson example, the customConfig is '0'

taskDefinitionJson: [{"code":6433449457952,"delayTime":"0","description":"","environmentCode":-1,"failRetryInterval":"1","failRetryTimes":"0","flag":"YES",

[2022-08-05 10:18] wxing89 opened #11321 "[Bug] [UI] create workflow contains chunjun node failed"
Some problem occured after this PR, configuration `customConfig`  changed to '0' while it should be defalut value '1'. The value 0 will lead to create chunjun node failed.

Following is taskDefinitionJson example, the customConfig is default as '0'

taskDefinitionJson: [{"code":6433449457952,"delayTime":"0","description":"","environmentCode":-1,"failRetryInterval":"1","failRetryTimes":"0","flag":"

[2022-08-05 10:20] tgaliotto opened #11322 "[Bug][UI][Data Quality][SQL Server] SrcTable comes from dbo schema only"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I am not able to use DATA_QUALITY task with SQL Server because listed tables come from dbo schema only.

### What you expected to happen

Listed tables come from all the database, from all the available schemas.

### How to

[2022-08-05 10:43] fuchanghai opened #11323 "[Bug] [DataX] JSON file is incorrect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="570" alt="image" src="https://user-images.githubusercontent.com/33984497/183059143-f2294aff-7a9c-40c2-a6a6-3d032d062fb9.png">
<img width="1398" alt="image" src="https://user-images.githubusercontent.com/33984497/

[2022-08-05 11:36] zhongjiajie commented on #10988
It is a Far-reaching influence change, and maybe we should discussion it first. I have two way out of my mind

1. we are already have https://github.com/apache/dolphinscheduler/blob/bf5f7a88c5a7ef1c7772c6b9c5830fd72dc599ec/dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/java_gateway.py#L30-L47, I think we should covert file into module(or keep file), and migrate all `gateway.entr

[2022-08-05 12:09] huage1994 opened #11324 "[Improvement] [LDAP] Bug fix: Config value return "null" instead of real null currently."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[code]
If not set any config item of LDAP, would return the default String  value "null"  instead of  null. It would cause something unexcepted.

### What you expected to happen

If not set any config item of LDAP, it should

[2022-08-06 00:22] #10668 closed, assigned to nobody

[2022-08-06 00:22] #10603 closed, assigned to nobody

[2022-08-06 02:12] fuchanghai commented on #11323
@SbloodyS @ruanwenjun  i'm sorry. it's not bug.beacuse of i repackage datax-core  and in main class args are stable

[2022-08-06 02:12] #11323 closed, assigned to nobody

[2022-08-06 02:52] fuchanghai opened #11327 "[Bug] [UI] dbType error in datax task definition"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dsType is Mysql. dtType is clickhouse.  edit after saved ,can't show clickhouse instance name , i think because of take error dtType,because of  got two requests for MySQL type
@EricGao888 maybe hit a tag of good for first t

[2022-08-06 02:59] fuchanghai opened #11328 "[Improvement][UI] Mouse sliding optimization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="601" alt="image" src="https://user-images.githubusercontent.com/33984497/183230708-c5e59048-5602-4296-b21a-5ae9ffc2b4d7.png">
When I hover over "SQL语句" the mouse scroll down doesn't work. Maybe the mou

[2022-08-06 03:39] hiSandog commented on #10988
I think the first plan is better.
In the first plan, the code for API calls is more concentrated.
API calls may have multiple methods that are not easily grouped into a single module, so the second plan may not be well implemented.

[2022-08-06 03:54] EricGao888 commented on #10976
I'm working on this, will submit a PR tomorrow or next week.

[2022-08-06 08:33] Flutemr commented on #10540
去看后台日志，找到这个任务运行时的日志，我的是hive 客户端连接超时，后面优化了hive客户端，问题解决了

[2022-08-06 09:21] ShawshankLin commented on #10446
Is this a bug？

[2022-08-06 09:36] ShawshankLin commented on #10446
![企业微信截图_16597785811144](https://user-images.githubusercontent.com/16248686/183243501-cc9d7554-87c9-487a-b07f-4a015051bc92.png)

[2022-08-06 11:29] #10963 closed, assigned to EricGao888

[2022-08-06 14:36] guodongym commented on #11089
@xyzhh  This error is due to the ERROR_OUTPUT_PATH writing error, I found that the current implementation of data quality only supports output to HDFS, S3 authentication configuration is not handled when prefixed with 's3a', so modify the configuration item 'fs.defaultFS=s3a://dolphinscheduler' to HDFS to solve the problem. I'm not sure if I need to work on this one because I don't know the origin

[2022-08-06 14:41] gcnyin commented on #11304
<img width="1202" alt="Screen Shot 2022-08-06 at 22 40 11" src="https://user-images.githubusercontent.com/53973962/183253616-6ccc0180-2359-48a3-9d5e-df09287745ca.png">

I think I may find the reason.

The script I highlighted is the key point.

I manually ran it in Dolphin-Scheduler Worker shell, and found the `$SPARK_HOME1` env variable is empty.

[2022-08-06 14:49] #11304 closed, assigned to nobody

[2022-08-07 00:26] #10679 closed, assigned to nobody

[2022-08-07 00:27] #10559 closed, assigned to nobody

[2022-08-07 08:43] hezean commented on #11328
I'm working on it.

[2022-08-07 15:07] EricGao888 commented on #10976
In DolphinScheduler, we sometimes use `Powermock` for UTs. However, it seems `Powermock` does not and will not support jUnit 5. https://github.com/powermock/powermock/issues/929

[2022-08-07 19:12] WangJPLeo opened #11337 "[Feature][Common] Add ZK distributed lock."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add ZK distributed lock.

### Use case

Businesses that need to use distributed locks

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X

[2022-08-08 01:29] Chris-playground commented on #11110
It works, thanks!

[2022-08-08 01:32] fuchanghai commented on #11228
For example, for the connection related to dataSouce, I have changed it to use dataSourceService to query, and delete the corresponding interface in processService。do you have any other suggestions？

[2022-08-08 01:53] #11328 closed, assigned to hezean

[2022-08-08 01:53] #11319 closed, assigned to devosend

[2022-08-08 02:10] ruanwenjun opened #11339 "[Improvement][Master] Split ExecutionState into WorkflowExecutionState and TaskExecutionState"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, we use ExecutionState to represent workflow instance status and task instance status, this make it's hard to maintain the status, since we cannot distinguish the status is belong to workflow instance or

[2022-08-08 02:25] ruanwenjun commented on #10976
Can we use Mokito to replace powermock?

[2022-08-08 07:12] EricGao888 opened #11347 "[Feature][Development] Add doc checks in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

#### Docs Checks in CI
* We need some checks for docs in CI, including spelling checks, punctuation checks and formatting checks.

#### Pre-commit Hook
* Currently we need developers to copy example `pre-commit ho

[2022-08-08 07:16] EricGao888 commented on #11347
IMHO, by performing some easy checks in `pre-commit hook`, we could reduce the stress of remote CI a bit.

[2022-08-08 07:16] SbloodyS commented on #11281
I found that we've already enable `withPathStyleAccessEnabled` in https://github.com/apache/dolphinscheduler/blob/efd68f480548839fe6c21dcdf3836afa42bc9029/dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/utils/S3Utils.java#L90-L95

Then this problem will no longer exist.

[2022-08-08 07:16] #11281 closed, assigned to SbloodyS

[2022-08-08 07:44] EricGao888 commented on #10976
Seems `powermock` helps mock the `static`, `private` and `final` methods more easily. Anyway I will look into it and see whether there is a way to use `mockito` to replace `powermock`.

[2022-08-08 08:00] zhongjiajie commented on #11347
Maybe you can see the pre-commit project https://pre-commit.com. But I have had some bad experiences with it, such as:
* Slow: Obviously, because we have to check locally
* Update: when `pre-commit-config` file change, development have to update the pre-commit hook, otherwise they will failed in the github action. Also developer have to update both github action and `pre-commit-config` when then c

[2022-08-08 08:01] zhongjiajie commented on #11347
you can see it here https://github.com/apache/airflow/blob/a562cc396212e4d21484088ac5f363ade9ac2b8d/.pre-commit-config.yaml#L300-L308 about how to run local script into pre-commit

[2022-08-08 08:03] EricGao888 commented on #11347
Thanks for the information. I agree that we should not have too many checks in `pre-commit hook` to avoid it getting too slow. Currently our `pre-commit hook` takes about 1 minute in total to run `mvn spotless:apply` and I think it's fine.

[2022-08-08 08:10] zhongjiajie commented on #11347
And in module `dolphinscheudler-python` we also have https://github.com/apache/dolphinscheduler/blob/cfb5918e7492b209db118d528878663ff808ca8e/dolphinscheduler-python/pydolphinscheduler/.pre-commit-config.yaml#L25-L35 but in barely use it. One reason is that I have tox for better choices https://github.com/apache/dolphinscheduler/blob/cfb5918e7492b209db118d528878663ff808ca8e/dolphinscheduler-python

[2022-08-08 08:22] #11110 closed, assigned to nobody

[2022-08-08 08:54] Chris-playground opened #11349 "[Bug] [Data Quality] `Error Output Path` doesn't created on HDFS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When we check the task result after we successfully executed the data quality task, we found that the `Error Output Path` has a value and this path can't be found in the HDFS.
So, how can I find the output path in HDFS?

![i

[2022-08-08 10:05] fangyinc opened #11351 "[Doc][Development] Contributing Guides page not accessible(Not Found error)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[Contributing Guides](https://dolphinscheduler.apache.org/en-us/community/development/contribute.html) is not found

![image](https://user-images.githubusercontent.com/22972572/183392667-a290683f-9ea2-4c00-aa04-44

[2022-08-08 10:09] caishunfeng opened #11352 "[DSIP-16][Task] Support stream task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Purpose

At present, DS is the scheduling of offline tasks, but as the business requires more and more timely addition of task results, there are more and more scenarios of stream-batch integration, so it is necessary to suppo

[2022-08-08 10:34] zhongjiajie commented on #11351
Hi @staneyffer thanks for the feedback, we were migrated all development doc to https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/contribute/join/security.html, you can see the latest docs in that link, related PR is #11313 .

And BTW, after we release the version 3.0.0, we will and those docs to `Docs` tabs

[2022-08-08 12:25] fangyinc commented on #11351
@zhongjiajie ,  Thank you for your reply, i got it~

[2022-08-08 12:54] liu-lewis commented on #10392
1. Transform parameter of type LIST to VARCHAR；
2. Format sql statement with condition IN.

[2022-08-08 12:57] stalary commented on #10392
I have submitted the code, you can help review it~
https://github.com/apache/dolphinscheduler/pull/11285

[2022-08-08 13:53] #11314 closed, assigned to SbloodyS

[2022-08-08 13:54] #11351 closed, assigned to nobody

[2022-08-08 14:42] davidzollo commented on #11237
good job，please paste pictures in English environment next time, thx

[2022-08-08 15:23] liu-lewis opened #11358 "[Bug] [Official website] Get an error with code 404 when access contribute guide"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Get an error when access site: https://dolphinscheduler.apache.org/en-us/community/development/contribute.html
Error message on page:
Not Found
The requested URL was not found on this server.

### What you expected to happen

[2022-08-09 00:25] #10726 closed, assigned to hstdream

[2022-08-09 01:39] SbloodyS commented on #11358
Duplicated with #11351.

[2022-08-09 01:39] #11358 closed, assigned to nobody

[2022-08-09 01:56] zhongjiajie commented on #10988
close by #11330

[2022-08-09 01:56] #10988 closed, assigned to hiSandog

[2022-08-09 03:08] hiSandog commented on #10974
I'm going to try to do this optimization

[2022-08-09 03:50] EricGao888 commented on #10283
I will give a design later this month. For the first stage, we will focus on task plugin connections part.

[2022-08-09 03:54] EricGao888 opened #11364 "[Feature][Style] Format docs automatically"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, `Spotless` in DS only formats `java` code automatically.
* `Spotless` does support formatting `markdown`, `json`... We could use it to format DS docs automatically.

![image](https://user-images.githu

[2022-08-09 05:45] lenboo commented on #9978
Workflow instance cannot support right-click running because it will change the parameters of the initial operation of the workflow.

[2022-08-09 05:48] yang227 commented on #10615
Thank you. I'll have an interview later

[2022-08-09 05:50] lenboo commented on #9978
refer to #10117

[2022-08-09 06:03] #9978 closed, assigned to nobody

[2022-08-09 06:37] sketchmind commented on #9978
I think so too, are you willing to create another issue to describe this, I would like to try to solve this problem

[2022-08-09 06:49] fuchanghai opened #11365 "[Feature][worker] User can configure whether command files need to be deleted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The executed command files will be deleted regardless of the success or failure of the result（finally will execute method of 'clearTaskExecPath'）
-  i want to view file content after fail .
- I  want to manually e

[2022-08-09 06:58] sketchmind opened #11366 "[Fix][UI] Workflow instance should not support right-click running"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description
Workflow instance cannot support right-click running because it will change the parameters of the initial operation of the workflow.

_Originally posted by @lenboo in https://github.com/apache/dolphinscheduler/issu

[2022-08-09 07:00] #11365 closed, assigned to nobody

[2022-08-09 08:42] YuanHang-1020 commented on #10599
这个问题解决了吗

[2022-08-09 08:50] ocean-zhc opened #11370 "[Bug] [S3] minio Related bugs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

minio：
It can be uploaded and created, but the simplest task of the shell cannot read the prompt the file isn`t exists.
<img width="2462" alt="image" src="https://user-images.githubusercontent.com/46189785/183606334-6b83de83

[2022-08-09 09:53] Amy0104 commented on #11327
This bug has been fixed by #11222

[2022-08-09 09:53] #11327 closed, assigned to Amy0104

[2022-08-09 10:27] sketchmind commented on #11370
Looks like isn't 3.0.0 release version, may be fixed by #10675

[2022-08-09 10:30] Zephyrcf opened #11373 "[Bug] [Api] Content Center - File Management creates folders, uses extra-long descriptions, and reports an error message that the resource already exists, which does not match the actual problem"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Submission errors will be returned.
![183333684-d476a688-67be-47c4-a200-be3c663ee379](https://user-images.githubusercontent.com/84278047/183627027-907b6b2f-7ed5-4c4a-aa3b-3ea76c253cfa.png)

### What you expected to happen

D

[2022-08-09 10:31] hyjunhyj commented on #11237
ok, thanks for reminding

[2022-08-09 10:40] Zephyrcf opened #11374 "[Improvement][Module Name] Improvement title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The length of some description fields is inconsistent. For example, the length of the description field in table "t_ds_project" and table "t-ds_worker_group" is 200, but the length of the description field in othe

[2022-08-09 11:00] Amy0104 commented on #11366
The start action is not supported in workflow instance detail page but it is better to remove it not disable it.

[2022-08-09 12:08] shangeyao opened #11376 "[Bug] [Task Plugin] Seatunnel Task cannot save successfully when select spark engine"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="600" alt="image" src="https://user-images.githubusercontent.com/42203474/183642799-2e1539a3-30d4-498d-b4d3-68529b3704e4.png">
<img width="606" alt="image" src="https://user-images.githubusercontent.com/42203474/1

[2022-08-09 13:47] sketchmind commented on #11366
Well, I think what you said makes sense, I have made relevant changes

[2022-08-10 01:38] fuchanghai opened #11378 "[Improvement] [API] API-Server release response message typo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/33984497/183789976-5377d079-f5a4-4dc1-843d-135f20c13df0.png)

### What you expected to happen

- response right message

### How to reproduce

- when an error occurs ，respon

[2022-08-10 02:20] #11295 closed, assigned to fuchanghai

[2022-08-10 02:25] rickchengx opened #11380 "[Improvement][scp-host.sh] Set StrictHostKeyChecking=no option to ssh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Even if the password-free account is configured, when the user uses the `scp-host.sh` script to log in to the machine for the first time, an error (Host key verification failed.) may occur.

### Are you willing to

[2022-08-10 02:25] WholeWorld-Timothy opened #11381 "[Bug] [kubernetes] helm dependency update: read: operation timed out"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

run helm dependency update .
get:...Unable to get an update from the "https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami" chart repository:
        Get "https://raw.githubusercontent.com/bitnami/char

[2022-08-10 02:27] hyjunhyj commented on #11349
Please provide the following task execution log, thanks

[2022-08-10 02:37] Chris-playground commented on #11349
task execution log as below
[code]

[2022-08-10 02:55] ocean-zhc commented on #11370
tks！I have resolved.

[2022-08-10 03:00] #11339 closed, assigned to ruanwenjun

[2022-08-10 03:05] hyjunhyj commented on #11349
You are running in yarn-cluster mode, you need to go to the spark task tracking URL to see the log, or you can change to yarn-client mode to run

[2022-08-10 03:34] #11067 closed, assigned to tracehh

[2022-08-10 03:38] EricGao888 opened #11385 "[Improvement][Doc] Fix typos, tense, formatting, letter case, etc. errors in docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently our English doc quality is not so good:

- We have tons of tense, formatting, punctuation, etc. errors and inconsistency of letter case usage in docs.
- Some sentences are ambiguous, misleading or hard t

[2022-08-10 03:45] #11366 closed, assigned to sketchmind

[2022-08-10 03:48] EricGao888 commented on #6535
We need to consistently improve the quality of our docs, especially English docs, see: https://github.com/apache/dolphinscheduler/issues/11385

[2022-08-10 03:53] Amy0104 opened #11386 "[Improvement][UI] Concise the logic available for task action buttons on workflow definition detail page."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

It's better to remove the unavailable task action buttons.

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct

[2022-08-10 03:55] Amy0104 commented on #11386
@sketchmind Would you like to improve this?

[2022-08-10 04:06] zhongjiajie commented on #11385
I think we better find some way to auto-fix those issues,

I am not sure how spotless auto-fix this, but I am sure there are some of the docs can not be auto fix, like we have HTML style IMG format, beside the auto-fix tool, maybe we also need a checker for our markdown doc and other CI which I already mention in #6535

[2022-08-10 04:09] EricGao888 commented on #11385
@zhongjiajie Thanks for the information, I will take a look at the `doc checker` you mentioned above : )

[2022-08-10 04:09] sketchmind commented on #11386
I’d like to do

[2022-08-10 04:11] EricGao888 commented on #11385
BTW, `spotless` fixes `markdown` using `Flexmark`.

![image](https://user-images.githubusercontent.com/34905992/183812883-1e896a11-895b-4445-b3fa-5c4f9fc94f17.png)

[2022-08-10 04:14] zhongjiajie commented on #11385
I like this feature, like the auto-fix behavior, but I think we should find out all bad case formats too. I think the second is even more important

[2022-08-10 04:19] EricGao888 commented on #11385
Agree, it would be better if those embedded stuff in markdown such as `html` code fragments could be fixed or at least get checked.

[2022-08-10 04:23] sketchmind commented on #11386
@Amy0104 But I think this needs to be discussed,for example, the start button of the workflow definition details page, gray can give the user a hint that the action is there, and it can only be used after going online.Also, if there is only one button, it will be a little harder to find the button position

[2022-08-10 04:54] #11376 closed, assigned to shangeyao

[2022-08-10 05:17] EricGao888 commented on #11385
@zhongjiajie Just for clarification, for `tense, formatting, punctuation, etc. errors and inconsistency of letter case usage`, I will fix them manually, there is no way for fixing those stuff automatically. Only use `spotless` for markdown formatting.

[2022-08-10 05:41] Amy0104 commented on #11386
This is a context menu different from the list page, and similar to the system. A context menu offers a limited set of choices that are available in the current state. You can check out the explanation from wiki.

[2022-08-10 06:09] Chris-playground commented on #11349
Relating to yarn-client mode, do you mean change the settings here?
![image](https://user-images.githubusercontent.com/48941586/183826893-42c45d64-3519-400e-92bd-167c95234402.png)
I tried the client and local mode, it doesn't create the error output file in HDFS too.
Please check logs below.
[code]
### Task Result snapshot
![image](https://user-images.githubusercontent.com/48941586/183827715-3cfef

[2022-08-10 06:11] sketchmind commented on #11386
Haha ok, let me have a look

[2022-08-10 06:16] luoxiqiang opened #11388 "[Improvement][Master] Events to improve"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

**I think we should check to see if there are identical events that are unique in the queue before adding events. In some cases, repeating a completed event may raise an exception**
**WorkflowExecuteRunnable.java*

[2022-08-10 06:26] luoxiqiang commented on #10446
Your problem may be caused by an event handling exception that causes the event queue to block and the subprocess status check event to go unprocessed, which is what happened in mine, so far I've solved and suggested optimization to the community
https://github.com/apache/dolphinscheduler/issues/11388#issue-1334131095

[2022-08-10 07:31] Zephyrcf opened #11392 "[BUG-BE][Shell component] Environment variable data error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Environment variable data error

### What you expected to happen

The environment configured by local /etc/profile should be output

### How to reproduce

What should we do to reproduce the problem?

### Anything else

_No r

[2022-08-10 07:41] shangeyao opened #11394 "[Improvement][Task Plugin] Remove Passed Parameter --queue in Seatunnel Task Plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Remove --queue parameter because it passed.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.a

[2022-08-10 09:33] wanghaizhou opened #11397 "[Bug] [master] When I Complement Data by Parallel execution, some schedule date task do not excute."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/8066695/183866484-04684d74-b34c-494f-91b4-881fe95a0004.png)
![企业微信截图_16601218705397(1)](https://user-images.githubusercontent.com/8066695/183866606-6580ec2f-67f7-4974-ada3-3

[2022-08-10 09:48] wanghaizhou commented on #11397
The task is a simple shell
![image](https://user-images.githubusercontent.com/8066695/183871349-f7549edc-3a0d-4bef-82dc-522bb470634d.png)

[2022-08-10 10:26] wanghaizhou opened #11399 "[Bug] [master] when task is configed by task group,the workflow Instance may be stuck frequently."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The task node's status is Success, but workflow Instance's status is still RUNNING,and the workflow Instance is stuck.
When task is configed by task group, the error may occur frequently.
![image](https://user-images.githubu

[2022-08-10 11:10] wxing89 opened #11401 "[Bug] [Task Plugin] can not create chunjun task in workflow definition"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Error occured when create a workflow with chunjun task
![lQLPJxaNogG53KzNA6TNAsmwrCVAL5w_sssC6R4XYsCJAA_713_932](https://user-images.githubusercontent.com/6268881/183886544-97d5249e-b65d-4da4-86cc-7205e1066bb3.png)

![lQLPJx

[2022-08-10 11:31] hyjunhyj commented on #11349
![dsdq2](https://user-images.githubusercontent.com/110226627/183889870-2068d318-621d-4f34-a0a6-d23513af593b.jpg)

It seems that it is designed like this, "table_count_check" doesn't output error data, compared with "null_check" and found that it is because the value of "errorOutputSql" is different.
The value of the "errorOutputSql" variable is "false" when the "table_count_check" rule is used.
Th

[2022-08-10 12:17] #11394 closed, assigned to shangeyao

[2022-08-10 13:44] #11223 closed, assigned to caishunfeng

[2022-08-10 14:05] lhcg opened #11403 "[Bug] Resource not enabled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I set values.xml
  sharedStoragePersistence:
    enabled: true
    mountPath: "/opt/soft"
    accessModes:
    - "ReadWriteMany"
    ## storageClassName must support the access mode: ReadWriteMany
    storageClassName: "ds-s

[2022-08-10 14:16] lhcg opened #11404 "[Bug] [UI] Storage not enabled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

What happened
I set values.xml
[code]
[code]

`DATA_BASEDIR_PATH: "/tmp/dolphinscheduler"
RESOURCE_STORAGE_TYPE: "HDFS"
RESOURCE_UPLOAD_PATH: "/dolphinscheduler"
FS_DEFAULT_FS: "file:///"`

### What you expected to happen

I

[2022-08-10 14:17] #11403 closed, assigned to nobody

[2022-08-10 17:28] EricGao888 opened #11405 "[Improvement][Test] Remove dependency of powermock"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* As stated in https://github.com/apache/dolphinscheduler/issues/10976#issuecomment-1207427898, `Powermock` does not and will not support `jUnit 5`. We need to remove the dependency on `Powermock`.
* One possible

[2022-08-11 01:21] #11378 closed, assigned to fuchanghai

[2022-08-11 01:24] #10392 closed, assigned to stalary

[2022-08-11 01:28] #11051 closed, assigned to zhuangchong

[2022-08-11 01:36] #10974 closed, assigned to nobody

[2022-08-11 01:36] zhongjiajie commented on #10974
close due to https://github.com/apache/dolphinscheduler/pull/11362

[2022-08-11 02:01] KyleZhang0536 commented on #11404
Does it mean I have to modify common.properties in 3.0.0 ?

[2022-08-11 02:39] fuchanghai opened #11408 "[Feature][DataX] add hive option under drop down box"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/33984497/184055766-dc13fba5-3270-455e-8c41-a075ea23815d.png)

### Use case

i'll add hive option ,so people can choose hive.
I will complete the back-end parsing

[2022-08-11 02:49] #11380 closed, assigned to rickchengx

[2022-08-11 02:58] ltcaxx opened #11411 "Cannot find the task instance:{6332554634:user}"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/67447610/184057171-f42efc3e-9e7b-42bd-bec8-bd978761a035.png)
上游的工作流中有一个任务被禁用，导致我在下游依赖此工作流中，选择all整个工作流作为依赖时，上游任务已经调度成功，但是下游依赖显示Cannot find the task instance

### What you exp

[2022-08-11 03:02] EricGao888 opened #11412 "[Improvement][Style] Change spotless ratchetFrom"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We use `fork-pull model` during open-source contributions, which means we have `upstream/main` in local and `origin/main` in remote. Therefore, I set `ratchetFrom` as `HEAD`.
* However, it is a better practice t

[2022-08-11 03:13] Chris-playground commented on #11349
Thanks, it works.
I think maybe it would be more friendly to leave the `Error Output Path` blank if there is no output file.

[2022-08-11 04:02] #8227 closed, assigned to zhongjiajie

[2022-08-11 04:06] ruanwenjun opened #11413 "[Bug] [Master] Cannot set task status to kill if the task is not in running."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If the task is not running in worker, we cannot set the status to kill.

### What you expected to happen

Can stop the workflow instance.

### How to reproduce

xx

### Anything else

_No response_

### Version

dev

### Are

[2022-08-11 05:26] #11373 closed, assigned to Zephyrcf

[2022-08-11 05:26] #11374 closed, assigned to Zephyrcf

[2022-08-11 05:38] #11413 closed, assigned to ruanwenjun

[2022-08-11 05:42] EricGao888 commented on #11405
FYI here is a list of UT files which uses `Powermock`:

[code]

[2022-08-11 06:12] zhongjiajie opened #11417 "[Feature][python] Enforce type hint in python api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Some of our code in https://github.com/apache/dolphinscheduler/tree/dev/dolphinscheduler-python/pydolphinscheduler do not have the type hint, we should force the type hint for all of our code

I know we can use my

[2022-08-11 06:17] zhongjiajie opened #11418 "[Feature][python] Enforce all class and function param into doctoring"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

some of our class and function with parameter but do not desc the parameter means, such as https://github.com/apache/dolphinscheduler/blob/16134014f83ac5196ded78885f1405b2e694ef5b/dolphinscheduler-python/pydolphin

[2022-08-11 06:50] zhongjiajie opened #11421 "[Feature][python] Add parameter environment to task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

we do not have environment https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/security.html in task definition, we should add it

### Use case

_No response_

### Related issues

_No response_

###

[2022-08-11 07:38] fuchanghai opened #11423 "[Bug] [DataX] If the reader is oracle, there is a problem with the ***columns*** field of the generated dataxjson"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The ***columns***  fields are all uppercase, causing some databases to fail to import

<img width="911" alt="企业微信截图_321836cd-3e37-43b4-addb-c7397ff39137" src="https://user-images.githubusercontent.com/33984497/184086044-d12a

[2022-08-11 09:08] yangliang1111 opened #11425 "[Bug] Pre-tasks cannot be obtained from the task definition page of ds3.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

任务定义页面中创建任务选择工作流之后最下面的前置任务不展示任何数据，在工作流定义中一切正常， 如下图：
![image](https://user-images.githubusercontent.com/20570824/184100592-933611e6-8b37-4a33-8cdc-6911e8a2082e.png)

![image](https://user-images.githubusercontent.com/20570824

[2022-08-11 09:16] zhongjiajie commented on #10878
remove stale

[2022-08-11 09:36] yeyhuan opened #11426 "[Bug] [crontab] The maximum value of hour selection is 59"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

在官方发布的3.0版本中，设置定时参数时出现问题，在时、天、月选择最大值都到了59，未与秒、分选择区分
![image](https://user-images.githubusercontent.com/56808442/184103074-8e0d565f-57f2-4d46-a490-4ff09cc8f22c.png)
这样会导致解析crontab表达式失败
![image](https://user-images.githubuserc

[2022-08-11 09:54] EricGao888 opened #11427 "[Doc][Resources] Instruct users to use local storage if they have remote storage mounted to local"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Local storage configuration of `resource center` is more than `for a single machine`. If users have their remote storage mounted to local, they could use 'local storage' configuration to operate stuff in their r

[2022-08-11 10:04] devosend commented on #11426
I will fix it

[2022-08-11 10:20] XuXuClassMate opened #11428 "[Bug-FE] [workflow instance] The alarm group in the workflow instance is empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The alarm group in the workflow instance is empty

<img width="995" alt="image" src="https://user-images.githubusercontent.com/76080484/184112833-525437a1-b8ae-4f5b-836b-bc288a5b26f6.png">

### What you expected to happen

N

[2022-08-11 10:21] devosend commented on #11428
I will fix it

[2022-08-11 10:26] Radeity commented on #11262
@ruanwenjun
Hi, i wanna ask some maybe dumb question. When worker failover, in the function of `killYarnJob`, the logic is send a view log request to worker and then parse it. However, worker is just the client to submit yarn job, the worker failover will not auto-kill submitted yarn jobs, so in the situation that worker is failover and how can it response the log info?

Feel sorry that i don't ha

[2022-08-11 11:13] 106umao opened #11430 "[Bug] [Python] change python doc link in readme.md"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

ci failed

### What you expected to happen

ci pass

### How to reproduce

run github action

### Anything else

_No response_

### Version

dev

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

###

[2022-08-11 11:31] ruanwenjun commented on #11262
This is a history issue, in the before, there exist a LogServer deploy at the worker's machine.

[2022-08-11 11:35] ruanwenjun commented on #11262
You need to make sure the agent can work for all yarn client.

[2022-08-11 12:15] fangyinc opened #11432 "[Test][Http Task] Add unit tests to HttpTask"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Hi, i want add some unit tests to http task.

Mainly to test whether the HttpTask can execute the task normally, and whether the task status is correct under different HTTP check conditions.

### Are you willing t

[2022-08-11 12:16] songxiaohu123 opened #11433 "3.0.0-release stable version, data quality issues"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

3.0.0-release版本 数据质量，检测类型为空值过滤，得到的shell脚本中 sql中包含变量${comparison_name} AS comparison_value,这个导致sql无法正常运行，是bug还是我操作的问题？

### What you expected to happen

可以得到解决

### How to reproduce

1

### Anything else

_No response_

### V

[2022-08-11 12:17] songxiaohu123 commented on #11433
完整的内容如下
/opt/module/spark-3.0.0/bin/spark-submit --master yarn --deploy-mode cluster --driver-cores 1 --driver-memory 512M --num-executors 2 --executor-cores 2 --executor-memory 2G --queue default --conf spark.yarn.maxAppAttempts=1 /home/jar/dolphinscheduler-data-quality-3.0.1-alpha-SNAPSHOT.jar "{\"name\":\"$t(null_check)\",\"env\":{\"type\":\"batch\",\"config\":null},\"readers\":[{\"type\":\"JDB

[2022-08-11 12:17] songxiaohu123 commented on #11433
who  can help me?

[2022-08-11 12:17] rickchengx opened #11434 "[Doc][k8s] externalZookeeper.zookeeperRoot cannot specify the root directory of zookeeper"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When deploying DS in a k8s cluster using Helm, the root directory of zookeeper (built-in or external) cannot be specified through `zookeeper.zookeeperRoot` or `externalZookeeper.zookeeperRoot` described in `kubern

[2022-08-11 12:40] Radeity commented on #11262
@ruanwenjun  I think most of yarn clients can share the same agent, cuz in these clients, AOP will intercept func `submitApplication`, except for submitting yarn job with JDBC connection, like `beeline`(hive server2, as mentioned in issue(https://github.com/apache/dolphinscheduler/issues/4025)), however, beeline may create an external JDBC connection, we can not kill an external yarn job, right? S

[2022-08-11 12:45] sweepingmonk123 commented on #7443
how this issue be solved？with Docusaurus or others？

[2022-08-11 12:58] #11428 closed, assigned to devosend

[2022-08-11 13:03] itzhang89 commented on #11404
I deploy the 3.0.0-release by helm and take place the same issue when I try to upload the file to File Manager.

[code]

I check the source code. and find the`RESOURCE_STORAGE_TYPE` value seem not take effect on the api module. The value is alway is None and not parse from the environment.

[2022-08-11 16:18] #11427 closed, assigned to EricGao888

[2022-08-11 16:32] Arturo-Penas-Rial opened #11436 "[Question] Is it possible to use a stand-alone installation that does not participate in the cluster as a WORKER node?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Is it possible to use a stand-alone installation that does not participate in the cluster as a WORKER node?

### Use case

That is to say, independent computers that can execute the tasks from DolphinScheduler. If

[2022-08-12 00:21] #10766 closed, assigned to nobody

[2022-08-12 00:25] pinkhello opened #11437 "[Bug] [Task] ParameterUtils#convertParameterPlaceholders replace JSON In SQL error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

My python script contains SQL:
`select JSON_EXTRACT(json_value, CONCAT('$[', id - 1, '].input1') from test`
The python script SQL generated when ds is replaced
:
`select JSON_EXTRACT(json_val, CONCAT(', id - 1, .input1') fro

[2022-08-12 01:53] shangeyao opened #11440 "[Feature][Flink Stream] Use flink SDK replace the shell cli"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I want to participate in it.
relate to #11352

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X

[2022-08-12 01:55] SbloodyS commented on #11436
1. Standalone is a separate cluster and cannot be used as a worker node.
2. Running in windows is not supported currently.

[2022-08-12 01:57] #10961 closed, assigned to nobody

[2022-08-12 02:12] ruanwenjun commented on #11440
Could you please provide a detailed design?

[2022-08-12 02:52] rickchengx commented on #11434
One possible way to specify the root directory of Zookeeper while deploying in k8s cluster is to rebuild the docker image and  set the `registry.zookeeper.namespace` in `/opt/dolphinscheduler/conf/application.yaml` in the image of api/master/worker.

But this approach is not elegant.

[2022-08-12 03:07] EricGao888 opened #11442 "[Doc][DSIP] DSIP Chinese and English docs are in the wrong place"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We have the Chinese DSIP doc in English docs path and the English doc in Chinese doc path.

### Documentation Links

* https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/about/introduction.html
* htt

[2022-08-12 03:20] #11442 closed, assigned to EricGao888

[2022-08-12 03:37] devosend commented on #11425
I will fix it

[2022-08-12 04:47] dmzzzzhlj90 commented on #11404
I had the same problem

[2022-08-12 06:44] debrachena opened #11448 "[Doc][Official website errors] Official website documentation bug report&fix or improvement"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We are participating the WeOpen-Star project, and this is one of task waiting for help, everyone can gain 10 scores for per error report&fix or improvement.

1. Text/grammar errors: 10 points for 10 errors found a

[2022-08-12 06:50] xiaohei88 opened #11449 "[Bug] [data-quality] Data quality process failed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

跑数据质量流程后，任务快结束的时候报错
[code]

### What you expected to happen

[INFO] 2022-08-12 05:58:36.927 +0000 [taskAppId=TASK-20220812-6487978935456_7-26-30] TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.dq.DataQualityTask

[2022-08-12 07:05] SbloodyS commented on #11449
Hi @xiaohei88 , please describe in english next time.

[2022-08-12 07:17] bdxmq opened #11450 "[Bug] [3.0.0] process-definition has to be started a second time every time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The process is invalid the first time it is started, and it has to be started a second time every time.
The first startup shows success, but the instance is not running, the second startup is fine.

### What you expected to

[2022-08-12 07:32] SbloodyS commented on #11450
Could you describe it more specifically? @bdxmq

[2022-08-12 07:52] aspexdaniel commented on #11404
same problem with configuration with s3

[2022-08-12 08:03] bdxmq opened #11452 "[Bug] [Logger Server] Incorrect password regular expression"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

SensitiveDataConverter passwordHandler
/**
     * dataSource sensitive param
     */
    public static final String DATASOURCE_PASSWORD_REGEX = "(?<=((?i)password((\\\\\":\\\\\")|(=')))).*?(?=((\\\\\")|(')))";

The log passw

[2022-08-12 08:12] bdxmq commented on #11450
--process-definition--
The first time I click run, it shows success, but there are no workflows and tasks running in the view instance. The second time I click run, the workflow and tasks can run normally

[2022-08-12 08:12] #11386 closed, assigned to sketchmind

[2022-08-12 08:34] SbloodyS commented on #11450
Could you check if there is any valid information in the logs?

[2022-08-12 09:03] litiliu opened #11455 "[Feature][UI] hidden unnecessary mail.smtp.auth fileds, when user choose disable mail.smtp.auth"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

as the comment [https://github.com/apache/dolphinscheduler/pull/10721#issuecomment-1197870428](url) said,
it's more friendly for user to hidden the field for mail.smtp.auth(fields in the red rectangle), when user

[2022-08-12 09:19] xiaojiu504 commented on #57
组织：好好住
地点：中国北京
联系方式：sunxu01731@163.com
场景：数据任务调度

[2022-08-12 09:40] bdxmq commented on #11452
version:3.0.0
shell task
![image](https://user-images.githubusercontent.com/21127891/184328255-9ae6ae85-7f4e-4be6-91a9-811d98c9547d.png)

[2022-08-12 09:42] bdxmq commented on #11452
version:3.0.0
shell task
echo "password":"abcdefg"
![image](https://user-images.githubusercontent.com/21127891/184328643-b1d24547-39e1-4610-88f2-2b1eaa234e88.png)

[2022-08-12 10:01] ruanwenjun commented on #11452
Could you please with the latest regex in dev `(?<=((?i)password((\\\\\":\\\\\")|(=')))).*?(?=((\\\\\")|(')))`

[2022-08-12 10:18] bdxmq commented on #11452
dev is the same as the parttern of 3.0.0

[2022-08-12 10:19] hyjunhyj commented on #11349
You're welcome. I agree with you, maybe you can create a new issue to discuss this.

[2022-08-12 10:21] bdxmq commented on #11450
Now it's ok. I found that my colleagues installed the old version according to the installation method, and did not change the configuration of the service, including application.yaml and common.properties. The old version does not need to be changed after it is configured in install. Now that the configuration is changed, there is no problem. Sorry, our problem.

[2022-08-12 10:25] SbloodyS commented on #11450
Glad to here that. I'll close this issue.

[2022-08-12 10:25] #11450 closed, assigned to nobody

[2022-08-12 11:12] xiaohei88 commented on #11449
Why am I successful in modifying the common.properties of the master node

[2022-08-12 11:50] itzhang89 commented on #10938
I have the same issue when use the 3.0.0-release version.  The log as brew.

[code]

**The default script compiler is sh, not the bash**. and the #!/bin/sh not have the source command default. If you want to make the environment take effect. you can overwrite the environment on the workflow.

[2022-08-12 12:29] xiaohei88 opened #11456 "[Bug] [data-quality] The expected type is not selected, and the data quality process fails"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

### The expected type is not selected, and the data quality process fails
### error
[code]
### result

### What you expected to happen

"Expected type" is required？？？？

### How to reproduce

Create a data quality node withou

[2022-08-12 14:04] EricGao888 opened #11457 "[Feature][Style] Enable spotless to manage imports"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently `spotless` in DS will not manage `imports` automatically, we need to enable it to fix imports:

1. Remove unused imports.
2. Sort imports in better order (instead of simply sorting import alphabeticall

[2022-08-13 01:47] fuchanghai commented on #11423
@SbloodyS i had test again ，the cause of things is not oracle field capitalization.
My target database is CLICKHOUSE , it is case sensitive, and in this example its column names are lowercase fields。so it leads to the problem of not being able to import.

We need to add a parameter to indicate whether the fields in the datax json should be converted to lowercase or uppercase?
which can solve some

[2022-08-13 01:48] fuchanghai commented on #11423
cc @ruanwenjun  plz take a look

[2022-08-13 01:52] #7024 closed, assigned to shangeyao

[2022-08-13 02:05] #11457 closed, assigned to EricGao888

[2022-08-13 03:11] guanboo commented on #5689
还有未分派的任务吗？

[2022-08-13 03:42] 106umao opened #11460 "[FEATURE-RD][Workflows] Workflows need to support sorting"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The priority of the current sorting is by timing status first and then by update time, which does not follow the logic of sorting

### Use case

_No response_

### Related issues

_No response_

### Are you willin

[2022-08-13 05:28] #11460 closed, assigned to nobody

[2022-08-13 07:03] guanboo commented on #11448
i would like to help

[2022-08-13 07:17] WangJPLeo opened #11463 "[Feature][Master] Master dispatch increases the failed retry queue."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Master dispatch increases the failed retry queue.

1. Increase the retry interval after retries multiple times
2. Avoid high-priority failed tasks that continue to occupy resources

### Use case

No

### Related i

[2022-08-13 10:16] WangJPLeo opened #11465 "[Bug][Master] Serial first blocking"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Serial first blocking

### What you expected to happen

Normal

### How to reproduce

Execute multiple instances under the serial-first execution strategy

### Anything else

No

### Version

dev

### Are you willing to subm

[2022-08-13 14:52] Zephyrcf opened #11468 "[Improvement][api] Support re running historical version workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support re running historical version workflow

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://ww

[2022-08-14 16:10] EricGao888 opened #11472 "[Feature][Metrics] Add metrics for api server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently DS has embedded metrics in `master`, `worker` and `alert` server, we need to add some metrics for `api` server as well.

### Use case

* Already described above.

### Related issues

related: #9324

##

[2022-08-14 19:16] Zephyrcf opened #11473 "[Feature][Task] Support test tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

It is difficult to verify whether the workflow configuration is correct for the newly added / modified workflows that support test tasks before they go online. They can only be verified by executing in the online

[2022-08-15 01:06] ruancheng77 opened #11475 "[Bug] [worker] shell task exec error: Text file busy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[INFO] 2022-08-14 15:25:09.918 TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.shell.ShellTask:[66] -  -> welcome to use bigdata scheduling system…
/usr/local/ga/scheduler/tmp/exec/process/4409973858560/572603719

[2022-08-15 01:23] Chris-playground commented on #11349
@SbloodyS Should we keep the `Error Output Path` empty if the task is `table_count_check` and etc. to eliminate the misunderstanding?

[2022-08-15 01:26] aspexdaniel commented on #11404
@yutianaiqingtian  so actually I found out the difference between v2.0.6 and v3.0.0 - in v2.0.6 when starting the container there's a `startup-init-conf.sh` and it will replace all conf properties with env variables, thus common.configmap variables will be loaded into properties, see https://github.com/apache/dolphinscheduler/blob/419f18f8b8f28cea89210a6135ed48d723cb0941/docker/build/startup-init-

[2022-08-15 01:28] yyunlei commented on #10809
是Flink  on  yarn 集群模式

[2022-08-15 01:49] shangeyao commented on #11440
1.Use flink-client to submit tasks instead of the current shell cli
2.Distinguish submission methods and parameters in three environments（Standalone Yarn K8S）
3.Use the job ID to cancel and save point

For details, please refer to the following doc:
https://nightlies.apache.org/flink/flink-docs-release-1.15/api/java/org/apache/flink/client/program/ClusterClient.html

[2022-08-15 02:05] stalary opened #11476 "[Bug] [Workflow] Failed to submit the workflow instance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Master-server down, Failed to submit the workflow instance, will resend the workflow start event

[ERROR] 2022-08-15 10:04:08.181 +0800 org.apache.dolphinscheduler.server.master.event.WorkflowStartEventHandler:[74] - [Workfl

[2022-08-15 02:07] shangeyao commented on #11440
Expected flink SDK version：1.15.1

[2022-08-15 02:29] ruanwenjun commented on #11476
This is caused by a NPE, could you please check if the data is right in `DagHelper.parsePostNodes`?

[2022-08-15 02:39] stalary commented on #11476
Like the dependent node problem, the deleted task depends on the upstream task, and when deleted, the upstream completes the complement operation.

[2022-08-15 02:41] stalary commented on #11476
A bit like the dependency node problem, the deleted task depends on the upstream task, and when deleted, the upstream completes the complement operation.

[2022-08-15 03:28] stalary commented on #9029
Let me solve this problem.

[2022-08-15 03:40] SbloodyS commented on #9029
It seems this issue have been fixed in #10873. Could you please check if it still exists in `dev` branch? @stalary

This pr was not merged into 3.0.0-release. Can we marked it to 3.0.1-release? cc @zhongjiajie

[2022-08-15 04:28] stalary commented on #9029
All right, let me check.

[2022-08-15 06:18] stalary commented on #9029
This PR seems to be different from the problem I met. When I deleted process, the task still existed.

[2022-08-15 06:35] EricGao888 opened #11479 "[Doc][Security] Worker Grouping related instructions outdated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We no more have `conf/worker.properties`, therefore, we need to update this doc.
![image](https://user-images.githubusercontent.com/34905992/184587692-4862c2bb-9738-4a81-b0bf-b2ea3da018e6.png)

### Documentation

[2022-08-15 06:46] #11211 closed, assigned to nobody

[2022-08-15 06:46] #11130 closed, assigned to MichaelDeSteven

[2022-08-15 07:08] zhongjiajie commented on #10976
If we can find the alternative or the method to do it, we can get rid of it

[2022-08-15 07:43] #11205 closed, assigned to shangeyao

[2022-08-15 07:47] guowei-su opened #11481 "[Doc][Log specification] Add log specification document to contribution guidelines."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In order to better regulate the quality of log printing in the code contributed by developers, I will submit a log specification in English and Chinese to the contribution guidelines.

### Documentation Links

_No

[2022-08-15 07:51] guowei-su commented on #11481
Related specifications are discussed in [Specification of Logs #10970](https://github.com/apache/dolphinscheduler/discussions/10970)

[2022-08-15 07:53] SbloodyS commented on #11397
This issue only occurs in 3.0.0-release. And there is no problem in dev.

[2022-08-15 08:07] SbloodyS commented on #9029
I've tested this PR. It is prohibited to delete the dependent task. However, it does not implement the delete of the workflow's task definition. please go ahead with your PR. Thanks @stalary

[2022-08-15 08:08] SbloodyS opened #11482 "[Improvement][CI] PR with milestone can be merged"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

PR with milestone can be merged

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/fo

[2022-08-15 09:44] #11479 closed, assigned to EricGao888

[2022-08-15 09:51] BradyYue opened #11486 "[Feature][S3 bucket config] Feature title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

s3 存储支持功能：
配置中FS_S3A_ENDPOINT 的设置ip 方式在aws 会动态变化.

![image](https://user-images.githubusercontent.com/21214368/184614256-d27b2649-ae76-4362-8927-b20a123510a4.png)

### Use case

是否可以采用域名的方式，去访问aws s3 bucket

### R

[2022-08-15 10:12] SbloodyS commented on #11486
Hi @BradyYue , please change to the correct title.

[2022-08-15 10:25] xpf-demo commented on #10340
我改了那四个js文件，，为啥还是不行啊，有大佬有相同的情况吗

[2022-08-15 10:25] #11401 closed, assigned to wxing89

[2022-08-15 10:31] duhanmin opened #11488 "[Feature][datax] Hopefully Datax can submit to YARN"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I made the Data on Yarn plugin. Dolphinscheduler can be added to this function?

[code]

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing

[2022-08-15 10:54] BradyYue commented on #11486
正确的标题应该是？我理解这个是功能里 s3存储配置的一项， 如果需要修改，可以提供下需要改为的title ，谢谢

[2022-08-15 14:41] guodongym commented on #11433
@songxiaohu123   Please provide a screenshot of the interface configuration so that I can reproduce the problem

[2022-08-16 01:00] ooeeerrtt opened #11491 "[Bug] [TreeView] process treeview is emtry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in v2.0.6
when a process was build by sub process,the process's treeview is emtry
（如果一个工作流是由子工作流组成的，这个工作流的树形图为空）

### What you expected to happen

 in dolphinscheduler-api.log

java.lang.NumberFormatException: For input stri

[2022-08-16 01:35] aspexdaniel commented on #11404
I believe a broader range of config issues will be tracked by @kezhenxu94 at https://github.com/apache/dolphinscheduler/tree/k8s/config

[2022-08-16 01:40] SbloodyS commented on #11488
Is there anything we can check in advance to see if it is allowed? Such as licenses. PTAL @kezhenxu94 @zhongjiajie

[2022-08-16 02:47] EricGao888 opened #11492 "[Feature][Style] Configure Spotless to format SQL code in DS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We have quite some sql scripts under `dolphinscheduler-dao/src/main/resources` for db initialization / upgrade. We could configure `Spotless` to format these scripts.

### Use case

* Already described above.

#

[2022-08-16 04:04] jieguangzhou opened #11497 "[Feature][Task Plugin] Add Pytorch task plugin to make running machine learning projects easier"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[Pytorch](https://pytorch.org) is a mainstream Python machine learning library.

In order to enable users to **run Pytorch project in DolphinScheduler more convenient,** Pytorch task plugin is implemented. It prov

[2022-08-16 04:14] rusonding opened #11499 "[Bug] [Task Definition] 3.0 can not select pre tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. can not select pre tasks

![image](https://user-images.githubusercontent.com/21210508/184796043-5e243ab0-6a90-44c2-a347-4429a2def33b.png)

2.  dag save error

![image](https://user-images.githubusercontent.com/21210508/18

[2022-08-16 05:41] Amy0104 commented on #11499
For the second:
The front end has inputed the workflow code when saving a task, but the workflow code turned to 0 with the simple list interface.

[2022-08-16 05:52] #10844 closed, assigned to songjianet

[2022-08-16 06:01] jieguangzhou commented on #11497
Python environment manager Similar to this https://github.com/apache/dolphinscheduler/issues/9942

[2022-08-16 06:13] jieguangzhou commented on #9942
https://github.com/apache/dolphinscheduler/blob/63dfa45474752bfd514f1c8d4503e038b3b14e7c/dolphinscheduler-task-plugin/dolphinscheduler-task-pytorch/src/main/java/org/apache/dolphinscheduler/plugin/task/pytorch/PythonEnvManager.java#L1-L82

I write a PythonEnvManager in #11498, include the method below

- getBuildEnvCommand: build a python environment
- getSourceEnvCommand: after we build a environ

[2022-08-16 06:19] fuchanghai commented on #9942
- If on a WORKER node I want to run two python nodes at the same time, and the two nodes require different python versions. So the source is not enough, is it necessary to write the absolute path to meet this requirement?
- Whether to alias the environment variable and configure it in the corresponding profile, because the same environment variable of each WORKER node may be in different paths. Fo

[2022-08-16 06:30] EricGao888 commented on #9942
1. In `Jupyter Task Plugin`, we will source `conda.sh`, which is configurable, each time before running a task. Therefore, you could use different python virtual environments for different python task nodes even on the same worker, they will not affect one another.
2. After sourcing `conda.sh`, we use `conda activate xxx` to activate the specific environment and execute python script with the pyth

[2022-08-16 06:31] Amy0104 commented on #11499
For the first:
The front end has inputed the upstream task code when saving a task, but got an error.

[2022-08-16 06:54] duhanmin commented on #11488
If I could, I'd start writing code

[2022-08-16 07:30] stalary opened #11502 "[Improvement][UI] Denpendent task node denpend workflow name add hover"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Denpendent task node denpend workflow name add hover, name that are too long display problems
![截屏2022-08-16 15 25 36](https://user-images.githubusercontent.com/24592373/184822815-45afc0df-2499-4db3-a7da-ec56c2f80

[2022-08-16 07:43] #11502 closed, assigned to nobody

[2022-08-16 07:49] WangJPLeo opened #11503 "[Improvement][User] Query all users filter un enabled."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Query all users filter un enabled.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org

[2022-08-16 08:11] kezhenxu94 commented on #11488
@duhanmin how do you plan to use https://github.com/duhanmin/datax-on-yarn ? Importing by maven module or import the codes from that repository?

[2022-08-16 08:59] duhanmin commented on #11488
@kezhenxu94 Jar is configured in environment variables,With the shell startup,Pom import Hadoop dependencies are easily conflicted

[code]

[2022-08-16 09:14] A2Data commented on #8425
我是 3.0.0 版本 使用同一个用户，创建了两个项目，但是在工作流中依赖项 查询不到 该项目

[2022-08-16 09:14] A2Data commented on #8425
![image](https://user-images.githubusercontent.com/39373008/184843642-dc62725f-afc3-45a7-a088-2f37732a0bf1.png)

[2022-08-16 09:15] A2Data commented on #8425
![image](https://user-images.githubusercontent.com/39373008/184843758-5b9bdbc7-4686-4c2f-932b-3ccf495c5599.png)

[2022-08-16 09:18] rickchengx opened #11505 "[Improvement][k8s] Use configmap to mount the configuration files of each server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Use `configmap` to mount the configuration files of each server so that user can easily modify the configuration of each server when deploying Dolphinscheduler in the k8s cluster through `Helm`.

Ref:
https://kube

[2022-08-16 09:20] A2Data opened #11506 "Using a pseudo-cluster to build, when adding dependencies to the workflow, the project cannot be searched"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

3.0.0 版本，创建项目之后，使用工作流依赖项，并不能搜索到项目。
正常来说 我都创建项目了，还能进去 测试。 在依赖项却不能找到 很奇怪

![image](https://user-images.githubusercontent.com/39373008/184844254-1fbd003f-d72c-4489-a787-6621af3d1dfc.png)

![image](https://user-images.githubuser

[2022-08-16 09:22] SbloodyS commented on #11506
Please use english to describe.

[2022-08-16 09:22] #11506 closed, assigned to nobody

[2022-08-16 09:22] HomminLee commented on #11491
I can take this issue.

[2022-08-16 09:40] 106umao opened #11507 "[Improvement][Workflow] support sort for workfow definition list"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

change api: /dolphinscheduler/projects/{projectCode}/process-definition
add enum:
the rules are as follow：
when sortEnum == CreateTimeDesc generate order by create_time desc
when sortEnum == CreateTimeAsc generate

[2022-08-16 09:43] HomminLee commented on #11491
This is a duplicate issue. #9754
Maybe #9755 should be merge to 2.0.7

[2022-08-17 00:13] ooeeerrtt commented on #11491
thank you

[2022-08-17 02:01] #10182 closed, assigned to lugela

[2022-08-17 02:16] chenhaonan313 opened #11515 "[Bug][Resource] Error using sql conf type file in resource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

aa.sql flumea.conf In the Resource Center
Shell Command：sudo -u hdfs hive -f aa.sql
error: aa.sql(No such file or directory)

Shell  Command：sudo -u hdfs /usr/hdp/flume/bin/flume-ng agent --name a1 --conf conf --conf-file fl

[2022-08-17 02:21] zhumengdetianshi commented on #57
Organization: mirrorego
Location: Shenzhen China
Contact: [734736109@qq.com](mailto:734736109@qq.com)
Scenario: Task scheduling platform,for bigdata offline tasks and AI tasks

组织：镜象科技
地点：中国深圳
联系方式：[734736109@qq.com](mailto:734736109@qq.com)
场景：任务调度平台，主要用于大数据离线任务和AI相关任务

[2022-08-17 02:33] chenhaonan313 commented on #11515
The file in the resource center is not available, I can view the contents of the file using the cat command, but using the file shows that it cannot be found

[2022-08-17 02:49] ChenpiDog opened #11516 "[Doc][Kubernetes] Kubernetes deployment related"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1）The helm provided by the government is slow to be deployed.
![image](https://user-images.githubusercontent.com/55483982/185023409-18e1ddd9-452b-41ff-9a75-3f45aba2b6a6.png)
2）It is expected to provide offline dep

[2022-08-17 03:23] rusonding opened #11517 "[Bug] [Workflow Definition] ordinary users can not create depend task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/21210508/185027674-05ad891b-a16d-4258-9ca5-a339eac29d41.png)

### What you expected to happen

create project, but can not select  it

### How to reproduce

ordinary users

[2022-08-17 03:48] Zephyrcf opened #11521 "[Improvement] File deletion logic optimization disadvantages"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

All items in the folder will be deleted at one time

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https

[2022-08-17 06:34] longtb976 opened #11523 "[Improvement][TaskInstance] reduce database queries"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

reduce database queries

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation

[2022-08-17 06:53] fuchanghai opened #11524 "[Improvement][dolpscheduler-ui] some datasourceType which backend can't support ,but show in frontend"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/33984497/185054369-e9c9a9aa-76fb-4a7f-9fb3-1db30590aceb.png)

![image](https://user-images.githubusercontent.com/33984497/185054013-9d33f0c6-120d-4c55-8b95-458f22

[2022-08-17 07:23] k9flame opened #11525 "[Bug] [DDS3.0]postgresql Build error predicate sentence"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Postgresql under table statement error，metadata unable to create the database

### What you expected to happen

To create metadata table properly

### How to reproduce

![image](https://user-images.githubusercontent.com/6579

[2022-08-17 07:30] fuchanghai commented on #10482
@yahuili1128  什么时候触发告警呢？workflow 有17个状态呢。每个状态变更都需要吗？

[2022-08-17 07:31] fuchanghai commented on #10482
@yahuili1128 When will the alert be triggered? The workflow has 17 states. Is every state change required?

[2022-08-17 08:24] l838224553 opened #11526 "[Question]"
It is my problem, this issue can be deleted

[2022-08-17 08:50] github-keep commented on #10340
The larger the file, the longer the upload time. It is recommended to set the time value larger

[2022-08-17 09:00] Amy0104 commented on #11524
Is this only for the datax task? @fuchanghai

[2022-08-17 14:02] #11432 closed, assigned to fangyinc

[2022-08-17 22:50] kaori-seasons commented on #11526
I would like to try to track down the relevant details

[2022-08-18 01:38] #11521 closed, assigned to Zephyrcf

[2022-08-18 01:46] #11468 closed, assigned to Zephyrcf

[2022-08-18 01:54] ruanwenjun opened #11529 "[Feature][Master] Do we need to save each workflow instance log to a single file like task instance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now if I want to query the log of one workflow instance, I need to go to the workflow instance's master host, and grep the log by workflow instance id, is there possible to provide us store the log in a sing

[2022-08-18 02:00] ruanwenjun opened #11530 "[Feature][Master] Display the workflowInstance/taskInstance failed reason"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

If a workflow instance/ task instance is failed, we need to query the log and find out why it failed.

Can we save the failed reason to db as metadata, and display on the ui?

### Use case

_No response_

### Rela

[2022-08-18 02:20] #11497 closed, assigned to jieguangzhou

[2022-08-18 02:28] fuchanghai commented on #11530
I may not feel good if it just saves the error message. Because many times the error message has to be seen against the context of the program. If the context is also stored together, the larger context will cause oom，personal opinion only

[2022-08-18 02:37] caishunfeng opened #11531 "[Bug] [Task] Dependent task null point exception when check workflow instances"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[code]

### What you expected to happen

Dependent task keep running and check until success.

### How to reproduce

1. Create a workflow A with task a, a is a long running task.
2. Execute A manually.
3. Set a pre-min sched

[2022-08-18 02:49] l838224553 commented on #11526
I configured the email alarm instance, and the send email is turned on, but I didn't get the email.
I have tried the 2.0.6 version and can receive the email.
But I can receive email alarms. Example: start process failed or fault tolerance warning.

[2022-08-18 02:52] l838224553 commented on #11526
I described it in What Happen

[2022-08-18 03:00] ryze124 commented on #4520
can i control the parallelism of a workflow?
i have many clickhouse sql tasks in one workflow and i do not want to line them. but  the resource for clickhouse server is limited.
so , how to set the parallelism for a workflow ?

[2022-08-18 03:01] simon824 opened #11533 "[Bug] [worker] Connections is not released after completing the SQL task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

SQL type task and the data source is hive jdbc, the connection seems is not released after completing the SQL task, cause the number of connections always increasing.

The ds-worker at this point has no SQL tasks in progress

[2022-08-18 03:12] kaori-seasons commented on #11526
https://dolphinscheduler.apache.org/zh-cn/docs/1.3.9/user_doc/system-manual.html

Are recipients set up correctly as described in the documentation?

![work-1](https://user-images.githubusercontent.com/20021404/185284864-6b62c471-92bd-401c-a00a-25b51ace36a7.png)

[2022-08-18 03:17] ruanwenjun commented on #11530
The `error message` is not exception stack, it is defined in master/worker, e.g `dispatch failed`, `server error`, `workflow definition doesn't exist` ...

[2022-08-18 03:19] qingwli commented on #10427
Hi @zhongjiajie , I have working on this thing this time, I maybe can give some help

[2022-08-18 03:26] aikuyun commented on #10934
+1

[2022-08-18 03:30] fuchanghai commented on #11530
@ruanwenjun Can I understand it this way, our previous logs are just the output produced by the task execution. But before execution, he may also report an error, but the user cannot view it on the front end, and can only find this error in the log file afterwards. so we should do this

[2022-08-18 03:41] labbomb opened #11534 "[Feature][UI] Support formatting the layout when locations does not exist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project

[2022-08-18 04:34] #11524 closed, assigned to Amy0104

[2022-08-18 05:46] zhongjiajie opened #11537 "[Feature] Show version and build SHA in web ui"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

As I know, in currently user can only get version information in database table `t_ds_version` or from `soft_version` file, we should better provide more easier way for users to find the version and build commit S

[2022-08-18 05:51] ruanwenjun opened #11538 "[Bug] [API] The task priority and process instance priority might be null and cause NPE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When we execute a workflow might get a NPE, caused by priority is null.

We need to set the default value to be medium.

### What you expected to happen

xx

### How to reproduce

Update a scheduler, and set the priority to

[2022-08-18 06:42] l838224553 commented on #11526
Yours is version 1.3.9, I wrote version 3.0.0 in the title, The interface is what I took a screenshot of, I just need to select the alarm group, and I can receive the alert email, but I can't receive the sql query result email
![image](https://user-images.githubusercontent.com/36987867/185314454-339f0cd6-fc90-4cca-abd6-fd41250cbc5e.png)

[2022-08-18 07:30] xpf-demo commented on #10340
问题已经解决了，我怀疑是前端浏览器缓存的问题，，后面我把服务重启之后，然后清除了下缓存就可以了

[2022-08-18 07:35] xpf-demo commented on #10340
谢谢，我的问题已经解决了。我后面修改了js文件之后，清空了下浏览器的缓存之后，就能正常上传了，后台也没有报错了

[2022-08-18 08:04] stalary commented on #11533
I meet the same problem of maintaining a connection to the database even when there was no task scheduled.

[2022-08-18 08:12] l838224553 commented on #11526
I tried the single-machine deployment and can receive the SQL query result email, but the cluster deployment cannot.
I configured it according to the official documentation, I don't know what went wrong

[2022-08-18 08:18] l838224553 commented on #11526
I tried the single-machine deployment and can receive the SQL query result email, but the cluster deployment cannot.
I configured it according to the official documentation, I don't know what went wrong

[2022-08-18 08:21] #11538 closed, assigned to ruanwenjun

[2022-08-18 08:48] #11364 closed, assigned to EricGao888

[2022-08-18 08:53] itzhang89 commented on #11404
@

@aspexdaniel  Great. waiting for you fix it and build new image. It seem the dockerfile that not  included in the dev branch currently.

[2022-08-18 09:36] ryuunami opened #11544 "[Question] [python] run python task,Permission denied"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler run with docker-compose。
python task： print("This is a demo of python task")

error with:

[LOG-PATH]: /opt/dolphinscheduler/logs/20220818/6577088940288_6-23-32.log, [HOST]:  Host{address='172.18.0.8:1234',

[2022-08-18 09:38] Zephyrcf opened #11546 "[Improvement][Module Name] The default worker grouping supports editing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The default worker group cannot be edited, and all worker groups have no description field

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow

[2022-08-18 09:43] 106umao opened #11547 "[Improvement][Workflow] Add a stop function when you are ready to pause"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When a workflow is running or blocking for a long time, the user may do pause opteration, and the pause operation may be blocked while waiting for the task to  execute, so I think there should be an option to stop

[2022-08-18 10:41] SbloodyS commented on #11544
Please check the permissions of the executing user.

BTW, it's not a bug.But a question.

[2022-08-18 11:46] #11544 closed, assigned to nobody

[2022-08-18 11:47] ryuunami commented on #11544
I think is my mistake with docker-compose version

[2022-08-18 12:53] #11526 closed, assigned to nobody

[2022-08-18 13:32] #11547 closed, assigned to 106umao

[2022-08-18 13:43] MonsterChenzhuo opened #11550 "[Improvement] [Doc] Document content update"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1569" alt="图片" src="https://user-images.githubusercontent.com/60029759/185409888-d25569f0-9281-4d6c-8fd2-17c7d7aecc77.png">
Change process to workflow, change old image to new image

### Documentation

[2022-08-18 13:47] MonsterChenzhuo commented on #9680
@songjianet  Is it okay to leave this task to me to continue?

[2022-08-18 13:54] zhuangchong commented on #9680
@fengjian1129 Are you still solving this problem?

[2022-08-18 14:01] fengjian1129 commented on #9680
@zhuangchong I have implemented it locally, but because the test class code detection has not been submitted, I hope you can help me solve it. If it still cannot be submitted, I can work with others to complete it

[2022-08-18 14:03] fengjian1129 commented on #9680
@zhuangchong I want to pass the first submission, and then there are several codes to be submitted

[2022-08-18 14:10] davidzollo commented on #10387
@zhongjiajie do you have any ideas?

[2022-08-18 15:45] Zephyrcf opened #11552 "[Improvement][Task] Dependent tasks support dependent policies"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Dependent tasks support dependent policies

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.ap

[2022-08-19 01:11] zhuangchong commented on #9680
@fengjian1129 You can submit a PR first and let us find out what the problem is before we can help you solve it. I see that the PRs associated with the above are closed

[2022-08-19 01:28] ruanwenjun commented on #11533
Is this happen in 3.0.0-release or just beta?

There is a same issue https://github.com/apache/dolphinscheduler/pull/11120, but has already been fixed at 3.0.0-release.

[2022-08-19 01:37] stalary commented on #11533
3.0.0-release

[2022-08-19 01:43] ruanwenjun commented on #11533
3.0.0release use DataSource in sql task, it will hold connection at default, you can reduce the [`minimumIdle`](https://github.com/brettwooldridge/HikariCP) to make the connection to be expire.

[2022-08-19 01:51] ruanwenjun commented on #11530
Yes, and the workflow may execute failed due to some other reason, we didn't display workflow log on the ui.

[2022-08-19 01:54] stalary opened #11553 "[Bug] [UI] Edit datasource port show error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Edit datasource port show error
![截屏2022-08-19 09 49 58](https://user-images.githubusercontent.com/24592373/185525346-ab35d2c4-755a-45af-a7c9-3158146703ff.png)

### What you expected to happen

show correct, as backend retur

[2022-08-19 02:01] fuchanghai commented on #11530
I suggest not just logging error messages, we should log the execution flow。eg:(start_process(success)->buildDAG (success)-> put into task queue (success)->handleCommon(failed)). this allows users to more clearly understand what went wrong in the execution.

[2022-08-19 02:04] ruanwenjun commented on #11530
The problem is that we still need to login the master machine and query the log...

[2022-08-19 02:04] stalary commented on #11533
I locally standalone changed minimumIdle to 1 for all modules, but the total link is still 5.

[2022-08-19 02:08] ruanwenjun commented on #11530
The `error message ` will be user friendly.

[2022-08-19 02:11] ruanwenjun commented on #11533
Could you please try to set the config `spring.datasource.minIdle=1` in `common.properties`.

[2022-08-19 02:20] ruanwenjun opened #11554 "[Improvement][API] Improvement the error message when delete a online workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I delete an online workflow, it failed, and I get the below error message.
This is not friendly.
- We should display the workflow name rather then code
- We should display the reason why it delete failed
<img

[2022-08-19 02:36] #11324 closed, assigned to huage1994

[2022-08-19 02:39] fengjian1129 commented on #9680
@zhuangchong In the afternoon, I submit the code and check it for me

[2022-08-19 03:01] simon824 commented on #11533
@ruanwenjun What is the default value of `spring.datasource.minIdle`, I feel that there is no limit to the number of connections, and the jdbc connection on the worker side can easily grow to more than 100

[2022-08-19 05:36] MonsterChenzhuo commented on #9680
@fengjian1129 No problem

[2022-08-19 05:53] MonsterChenzhuo opened #11556 "[Feature][plugin] Further enhancements to support flink jobs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1.Add k8s-application deployment mode
a.Use pod-template for commit
b.add storage system to store connectors and flinksql logical jar packages

2.add flink-sql syntax validation

3. achieve business closed-loop fl

[2022-08-19 05:56] MonsterChenzhuo opened #11557 "[Feature]airflow task migration to dolphinscheduler migration script"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

airflow task migration to dolphinscheduler migration script

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of

[2022-08-19 05:58] MonsterChenzhuo opened #11558 "[Feature]dolphinscheduler3 supports Ambari plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

dolphinscheduler3 supports Ambari plugin

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I a

[2022-08-19 06:01] MonsterChenzhuo opened #11559 "[Feature][Task] flinksql syntax validation support"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

flinksql syntax validation support

### Use case

<img width="471" alt="图片" src="https://user-images.githubusercontent.com/60029759/185553285-92f3d6c1-7b56-4239-bb6a-c4c300c98258.png">

### Related issues

_No res

[2022-08-19 06:04] fengjian1129 commented on #9680
@zhuangchong @MonsterChenzhuo I have submitted the code, and hope to check it for me

[2022-08-19 06:06] #11404 closed, assigned to lhcg

[2022-08-19 06:09] huanzui commented on #10814
流程确实麻烦，我自己在1.3.8的版本改了 ，直接在列表打开定时设置

[2022-08-19 06:30] HomminLee commented on #11554
I can take this issue.

[2022-08-19 08:09] zhuyt1090 opened #11566 "[Improvement] [sql task] Dynamic table name causes SQL parsing error. Because Postgres does not support single quotation marks for table names"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Define SQL tasks as follows:

![image](https://user-images.githubusercontent.com/108874436/185571825-a1305f55-dfbc-4f0c-9f1e-6389ecf2d787.png)

Execute the SQL task, and the error is as follows:

![image](https://user-images

[2022-08-19 10:45] dyyTT commented on #11544
I also encountered the same problem. Have you solved this problem？

[2022-08-19 10:56] caojiebing opened #11572 "[Bug] [dolphinscheduler-alert-http] HttpSender Get Method Just Only sent By 80 Port"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I Configed a alert By Http Plugin,But  Http get alert sent just only by 80 port,the
issue is file:  org.apache.dolphinscheduler.plugin.alert.http.HttpSender
method is: createHttpRequest
line: 115
content: URI uri = new URI(u

[2022-08-19 12:50] simsicon commented on #10885
you can try to save the task, then reopen it, the data source will be empty.

[2022-08-19 12:53] simsicon commented on #10885
And it's seems a bug respect to datax tasks, I can not reproduce it in sql task.

[2022-08-20 00:25] #11408 closed, assigned to fuchanghai

[2022-08-20 02:03] yyccww123 opened #11573 "[workflow and task name Displays the width][UI] Suggest Increase display width of workflow and task name"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Suggest  Increase display width of workflow and task name.

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct

[2022-08-20 06:18] QuakeWang opened #11575 "[Doc][Metrics] Metrics of Chinese page link errors"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The Chinese page for metrics on the official website is incorrectly linked and cannot be accessed properly.

### Documentation Links

https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/guide/metrics/me

[2022-08-21 07:16] DarkAssassinator opened #11579 "[Bug] [Script] Cannot check the applications status."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When we check the application status by using ./bin/status-all.sh, it cannot show the correct status.

For example:
If just only one Alert Application running, this script will show that all application running.

Because the

[2022-08-21 07:27] DarkAssassinator commented on #11579
Please check the following screenshot：
![Image](https://user-images.githubusercontent.com/20518339/185780459-12f4a135-a692-40ae-9d21-d69a3758854d.png)

[2022-08-21 07:42] DarkAssassinator opened #11581 "[Feature] [DataSource] Could we add MQ and memory db datasource?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now just contain jdbc drived database, not any mq such as kafka cluser.
Do we have any plan to add MQ、Redis and ES datasource, or named other module.

### Use case

We can configure some MQ, redis and ES cluster s

[2022-08-21 08:27] ruanwenjun commented on #11579
duplicated with #11176

[2022-08-21 08:27] #11579 closed, assigned to nobody

[2022-08-21 15:56] MichaelDeSteven opened #11582 "[Feature][Task Instance] Searching task node type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1197" alt="image" src="https://user-images.githubusercontent.com/51652084/185799615-d04899be-e55b-46a9-93bb-3baae70e2dc6.png">
Maybe we can support a tiny feature that searching task node type?
User ca

[2022-08-22 00:24] #10996 closed, assigned to zhuxt2015

[2022-08-22 00:24] #10967 closed, assigned to nobody

[2022-08-22 00:24] #10959 closed, assigned to nobody

[2022-08-22 02:24] luoxiqiang opened #11583 "[Bug] [UI] Gantt chart does not show"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

**task.status** is expected to get a status string value such as ' SUCCESS ' but the backend returns an object like ' TaskExecutionStatus{code=7, desc=' success'} ' where a mapping is required
![image](https://user-images.gi

[2022-08-22 03:17] MkkOF opened #11584 "[Question] [UI] Can not start dolphinscheduler-ui locally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. npm/pnpm install
2. npm/pnpm run dev
errorr:
node_modules/.pnpm/vite@2.9.13_sass@1.53.0/node_modules/vite/dist/node/chunks/dep-80fe9c6b.js:38572:7: ERROR: [plugin: vite:dep-scan] Missing "./es/_mixins" export in "naive-ui

[2022-08-22 03:40] fuchanghai opened #11585 "[Feature][DataX] add all jdbc types to DataX dropdown"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

all jdbc types can use rdbmsreader as name in reader and rdbmswriter in writer

### Use case

- after add a type ,update methods which includes( getReaderPluginName ,getWriterPluginName,getSqlStatementParser) in c

[2022-08-22 05:25] EricGao888 commented on #11079
@lynn-illumio Hello, may I ask whether there are any follow-ups for this issue? If you think the scope of this issue is big and not so easy to complete all the tasks in one PR, you could separate this issue into sub-issues and complete them one by one. Thanks.

[2022-08-22 05:28] lynn-builds commented on #11079
@EricGao888 Hi, thanks for following up. I have a PR out last week, and I got some feedback from @songjianet. I will address them ASAP this week.

[2022-08-22 05:33] EricGao888 commented on #11079
Great! I saw it here: #11226. BTW, you could add `This PR closes: #<your-issue-id>` or `related: #<your-issue-id>` in the `Purpose of the pull request` section to link your PR to the related issue. If you use `This PR closes: #<your-issue-id>`, the related issue will close automatically once your PR gets merged.

[2022-08-22 05:40] luojinhao opened #11587 "The workflow defines that both data sources are mysql"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

datax plugin, The workflow defines that both data sources are mysql

### What you expected to happen

Displays the data type I specified

### How to reproduce

The workflow defines that both data sources are mysql

### Anyth

[2022-08-22 05:41] lynn-builds commented on #11079
@EricGao888 Gotcha. Thanks for this tip! I added the issue id to the PR as you suggested: ).
<img width="826" alt="Screen Shot 2022-08-21 at 10 41 04 PM" src="https://user-images.githubusercontent.com/101166369/185847252-c30bbd36-764c-4d8e-b5b6-b57bc1fc01b2.png">

[2022-08-22 07:29] wangfann opened #11590 "[Bug] [UPGRADE] when i upgrade ds from v1.3.9 to v3.0.0 , a lot of errors are encountered"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I upgrade ds from v1.3.9 to v3.0.0 , a lot of errors are encountered.
The meta database I'm using is mysql.
Errors such as file cannot be found and column not found etc.
I have solved the problem and can submit the code

[2022-08-22 07:52] simon824 commented on #11533
Hi @stalary , how is this problem going, have you found the cause?

[2022-08-22 07:57] stalary commented on #11533
I haven't found the problem yet. I'll take a look at it when I'm free

[2022-08-22 08:08] rickchengx opened #11592 "[Bug] [sqoop] worker image needs jdk to run sqoop task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

To run `sqoop` task, the `dolphinscheduler-worker` needs jdk.

See log below:
[code]

### What you expected to happen

The Dockerfile of `worker` needs to include jdk

### How to reproduce

Run DS in a k8s cluster through `H

[2022-08-22 08:22] #11592 closed, assigned to nobody

[2022-08-22 08:23] Zephyrcf opened #11594 "[Improvement][API] Improvement workflow online process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

hope to Improvement workflow online process

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.a

[2022-08-22 10:16] xiaohei88 opened #11597 "[Bug] [SparkSQL] the task can not be stopped."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

the task command type is RECOVER_TOLERANCE_FAULT_PROCESS. the runTimes is 28.
I want to stop the task, but it's fail.

### What you expected to happen

I want to stop the task

### How to reproduce

I don't know.

### Anythi

[2022-08-22 10:37] simsicon commented on #11236
@ocean-zhc could you please share the solution you end up with?

[2022-08-22 10:53] bwin90 commented on #10934
+1

[2022-08-22 11:03] simsicon commented on #11236
I am experiencing the same issue with 3.0.0, it seems this line is not able to read the env properly, I have tested it has nothing to do with the env settings.
`https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-task-plugin/dolphinscheduler-task-datax/src/main/java/org/apache/dolphinscheduler/plugin/task/datax/DataxTask.java#L96`

By the way, 3.0.0 docker image does not contain p

[2022-08-22 12:37] #11481 closed, assigned to guowei-su

[2022-08-22 13:25] DarkAssassinator commented on #11566
i suggest that should add a TEXTPLAIN param type.

[2022-08-22 13:51] 8431 opened #11601 "[Bug] [Resources center] bucket name error in s3 while create tenant folder"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

`private void
    createFolder( String folderName) {
        if (!s3Client.doesObjectExist(BUCKET_NAME, folderName + FOLDER_SEPARATOR)) {
            ObjectMetadata metadata = new ObjectMetadata();
            metadata.setCo

[2022-08-22 14:02] DarkAssassinator commented on #11584
I faced the same issue, whether to consider providing some front-end develop and extend documents, the current version of the documents on the front-end has expired, and it is still difficult for back-end development. thx

[2022-08-23 00:28] #10953 closed, assigned to nobody