[2021-02-05 11:38] CalvinKirs commented on #4003
I think this is not a problem. We may need more information to help users troubleshoot.

[2021-02-05 13:49] dailidong commented on #4698
please describe title and desc in English, thx

[2021-02-06 01:54] CalvinKirs commented on #4695
hi, @break60  please make sure if this is a problem?

[2021-02-06 01:55] CalvinKirs commented on #2561
close by #4372

[2021-02-06 01:55] #2561 closed

[2021-02-06 02:00] CalvinKirs commented on #4696
Do you mean, input in the form of JOSN string, and then we automatically parse it into the form of K-V?

[2021-02-06 02:04] CalvinKirs commented on #4674
Thx, if anyone is interested in completing it, you can leave a message below.

[2021-02-06 02:05] break60 commented on #4695
Which version？

[2021-02-06 02:08] CalvinKirs commented on #4698
hi, is there any flaw in the current encryption method?

[2021-02-06 02:42] JackIliffe commented on #4695
version 1.3.4

[2021-02-06 02:46] break60 commented on #4695
Can you take a screenshot? This feature is only available in the dev branch. There should be no version information for 1.3.4

[2021-02-06 02:55] JackIliffe commented on #4695
I see.I'm using the dev branch
I was wrong haha
![9fe8050913aaf07ebadf58441793890](https://user-images.githubusercontent.com/43059333/107107039-a7bd7c00-6869-11eb-9003-9d9ff303b090.png)

[2021-02-06 02:57] #4695 closed

[2021-02-06 04:35] chengshiwen opened #4705 "[Bug][API] KeeperException$NoNodeException"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Start an initial DB and ZK, run `CreateDolphinScheduler` to import

[2021-02-06 07:08] #3298 closed

[2021-02-06 07:10] #3237 closed

[2021-02-06 07:44] AlleriaWindrunner commented on #4674
i want to solve this issue,  please assign it to me! @CalvinKirs

[2021-02-06 07:47] CalvinKirs commented on #4674
Looking forward to your PR submission

[2021-02-06 08:30] Anilople opened #4706 "[Feature] deployment support without root or sudo user"
**Describe the feature**

Let user can deploy dolphinscheduler without root or sudo user.

**Is your feature request related to a problem? Please describe.**

In some companies, like bank, root and sudo user is very troublesome to obtain.

So users are hard to deploy dolphinscheduler by themself.

**Describe the solution you'd like**

Support an option(maybe from config file) that user can deploy

[2021-02-06 08:58] #4450 closed

[2021-02-06 09:01] chengshiwen commented on #4419
@zhaorongsheng Hi, let you wait for a long time.
In the next 1.3.5-release, we adjust k8s deployment (this deployment is not the official **Controller** `**Deployment**`: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/):
- Remove `frontend`
- Support resource storage for `file:///`
- Fix task log disappear after recreating or upgrading helm release from #3298
  - Fixing this

[2021-02-06 13:35] davidzollo commented on #4515
excellect, I just add this feature in milestone 1.4.0 , I hope you can finish it soon

[2021-02-06 13:40] chengshiwen opened #4710 "[Bug][SQL] SQL task do not execute and sending mail failed RuntimeException occurs"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Start docker by `docker-compose up -d`
2. Execute PostgreSQL SQL T

[2021-02-06 14:20] #4128 closed

[2021-02-07 02:47] banboosgithub opened #4712 "[Question] How to cancel a task which was submitted to yarn"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.

If a task was submitted to yarn, such as spark, how to cancel the app when cancel the task by UI ?

org.apache.dolphinsche

[2021-02-07 06:33] lishiyucn opened #4714 "[Bug] dolphinscheduler1.3.1 submit spark task with spark-cluster model，yarn log success，but dolphinscheduler task status show failure"
dolphinscheduler task log
[INFO] 2021-02-07 14:25:39.960  - [taskAppId=TASK-248-19735-19904]:[121] -  -> 21/02/07 14:25:39 INFO Client:
		 client token: N/A
		 diagnostics: N/A
		 ApplicationMaster host: 10.10.10.50
		 ApplicationMaster RPC port: 0
		 queue: default
		 start time: 1612679109489
		 final status: SUCCEEDED
		 tracking URL: http://cosmos.bigdata:8088/proxy/application_1612492960012_1

[2021-02-07 06:33] lishiyucn commented on #4714
https://github.com/apache/incubator-dolphinscheduler/issues/3806

[2021-02-07 06:39] lishiyucn commented on #4714
http://ip:12345/dolphinscheduler/projects/sqlplatform/task-instance/list-paging?pageSize=10&pageNo=1&searchVal=&processInstanceId=&host=&stateType=&startDate=&endDate=&executorName=&_t=0.40734226702409115

{"code":0,"msg":"成功","data":{"totalList":{"taskComplete":true,"flag":"YES","processInstance":null,"pid":19849,"duration":36,"processDefine":null,"appLink":"**application_1612492960012_1525**","t

[2021-02-07 06:44] lishiyucn commented on #4714
@15177592207

[2021-02-07 06:55] lishiyucn commented on #4714
@xingchun-chen

@Eights-Li

[2021-02-07 07:27] vimacro opened #4716 "[Bug][Master,Worker] The task execution path should be calculated by the worker, not the master（任务执行路径应该交给worker去计算，而不是master）"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
If the basedir(common.properties/data.basedir.path) positions of the two nodes are not the same, the execution path calculated by the Master is inconsistent with the actual running path

[2021-02-07 07:33] #4714 closed, assigned to nobody

[2021-02-07 08:02] xingchun-chen opened #4719 "[Bug][UI] On the task instance page, when the host is empty, an error will be reported in the access list"
![image](https://user-images.githubusercontent.com/55787491/107140556-bf762c80-695d-11eb-8863-412709e7d596.png)

**Which version of Dolphin Scheduler:**
 -[1.3.5-prepare]

[2021-02-07 09:47] chengshiwen commented on #4710
@chenxingchun This pr can be closed

[2021-02-07 09:47] chengshiwen commented on #4719
@chenxingchun This pr can be closed

[2021-02-07 09:50] chengshiwen commented on #4621
@Yanwenjingcn this pr is duplicated with #4710. 1.3.5-release has fixed this issue, and the dev branch I will submit the new pr in the next few days.

[2021-02-07 09:52] chengshiwen commented on #4621
@chenxingchun So this pr can be closed

[2021-02-07 09:52] chengshiwen commented on #4651
@chenxingchun This pr can be closed

[2021-02-07 09:54] zhuangchong opened #4721 "[Bug][worker] The shell background starts the YARN task scenario, and the kill function is abnormal"
**Describe the bug**
The shell background starts the YARN task scenario, and the kill function is abnormal

**To Reproduce**
1.Create a new shell task to start the yarn task in the background
2.While the yarn task is running, the page clicks on this task kill function

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screensh

[2021-02-07 10:08] chengshiwen commented on #4657
@peizhuang-ws @CalvinKirs @dailidong The dev and new 1.3.5-release has fixed the `NoSuchFileException`. See #4271 #4272 #4599
As for why the log is lost, please check the log directory and check whether it is put in `/tmp`, whether to delete regularly by `cron` @peizhuang-ws

[2021-02-07 10:49] twoyang0917 commented on #291
Actually, what I need is define depedenice of jobs in workflow as file, then I can manage them via version control tool like git. which is very important when multi developers collaboration on production environment.

[2021-02-08 01:26] WilliamChen-luckbob commented on #4696
@CalvinKirs
Nope, sorry that English is not my first language and that may lead to some misuderstanding.

To input in the form of JOSN string, and then DolphinScheduler automatically parse it into the form of K-V is only a convenient way for us to set start parameters.

I can also generate the K-V pairs before I call the StartNewProcessInstance api.

The primary point is:

I think that in some cas

[2021-02-08 02:19] coding-now opened #4725 "[Feature][server] preSql support sql of Query type"
*For better global communication, please give priority to using English description, thx! *
*Please review https://dolphinscheduler.apache.org/en-us/docs/development/issue.html when describe an issue.*

**Describe the feature**
preSql support query type

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
if preSql start with select/SELECT, t

[2021-02-08 02:22] WilliamChen-luckbob opened #4726 "[Bug]Start parameter will return to default while redo the Failed ProcessInstance and nowhere to set"
Using feature dev.

I have set start parameters for new ProcessInstance but when this instance was failed, I tried to rerun, the start parameter will roll back to the default global parameter which I set in the definition step.

see pictures below:

step 1. setting the Process definition.
![image](https://user-images.githubusercontent.com/58684828/107168592-b84f2d00-69f6-11eb-814c-d7c4f0313dbd.png

[2021-02-08 02:55] AlleriaWindrunner commented on #4137
I can solve this problem, assign it to me!

[2021-02-08 03:02] felix-thinkingdata opened #4727 "[Improvement][worker] worker.properties ，The sample has an error"
![image](https://user-images.githubusercontent.com/59079269/107171156-0ebf6a00-69fd-11eb-98ff-a74b65b14d39.png)
 worker.properties ，The sample has an error

[2021-02-08 03:10] zapjone commented on #4727
I want try fix it.

[2021-02-08 03:16] zapjone commented on #4124
I want to resolve the bug #4727

[2021-02-08 04:49] #4727 closed, assigned to zapjone

[2021-02-08 06:57] yakcy commented on #4650
try to porcess and fix

[2021-02-08 07:02] yakcy commented on #4650
@chengshiwen Which version about PG

[2021-02-08 07:07] chengshiwen commented on #4674
@CalvinKirs This issue related with pr #4728 can be closed

[2021-02-08 07:09] chengshiwen commented on #4710
@CalvinKirs This pr can be closed

[2021-02-08 07:09] chengshiwen commented on #4621
@CalvinKirs This pr can be closed

[2021-02-08 07:10] CalvinKirs commented on #4674
duplicate(#4723) close by #4728

[2021-02-08 07:10] #4674 closed

[2021-02-08 07:12] chengshiwen commented on #4650
@yakcy PostgreSQL 11.10

[2021-02-08 07:13] chengshiwen commented on #4650
@yakcy I have not tested other versions of PostgreSQL, please check it more, thks

[2021-02-08 07:18] chengshiwen commented on #4667
@caodaoxi Please give more deails, such as DevTools Console opened by `F12` or `Option+Command+I`, DolphinScheduler version

[2021-02-08 07:23] CalvinKirs commented on #4710
Fixed in 1.3.5

[2021-02-08 07:23] #4710 closed, assigned to nobody

[2021-02-08 07:23] #4621 closed

[2021-02-08 07:28] CalvinKirs commented on #4419
close by #4529

[2021-02-08 07:28] #4419 closed

[2021-02-08 08:09] wistwill opened #4732 "[Question] How to solve the problem of using source mode docker to build project and create Oracle data source failure"
**Describe the question：**
use source mode docker to build project and create Oracle data source failure.

**Which version of DolphinScheduler:**
-[apache-dolphinscheduler-incubating-1.3.4]

**Additional context**
Using official documents https://dolphinscheduler.apache.org/zh-cn/docs/1.3.4/user_ doc/docker- deployment.html After the build project is started (recommended) in docker compose mode, t

[2021-02-08 08:35] chengshiwen opened #4734 "[Bug][UI] File update dialog not reset after re-open the dialog"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Click `Upload files` in `Resoures`
2. Upload a file
3. Re-click `U

[2021-02-08 08:49] chengshiwen commented on #4732
@wistwill Because of the commercial license, we cannot directly use the driver and client of MySQL and Oracle. If you want to use Oracle, you can build a new image based on our `apache/dolphinscheduler` image.

by the way , please update/add title and description in English

[2021-02-08 08:59] chengshiwen commented on #4732
As for MySQL, you need to download [mysql-connector-java-5.1.49.jar](https://repo1.maven.org/maven2/mysql/mysql-connector-java/5.1.49/mysql-connector-java-5.1.49.jar)

1. Create your `Dockerfile`
[code]
2. Build the image

[2021-02-08 09:06] chengshiwen commented on #4732
As for Oracle in Datasource, you only need to download the Oracle driver and put it in the `/opt/dolphinscheduler/lib` directory

[2021-02-08 11:06] chengshiwen opened #4738 "[Bug][Mail] Send mail failed instead of execute sql error"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create SQL task in a process
2. Run the process
3. View the task l

[2021-02-08 13:03] chengshiwen opened #4740 "[Improvement][UI] Set the default Tenant as default or the first exist tenant in save process"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/docs/development/issue.html when describe an issue.*

**Describe the question**
Steps to reproduce the behavior, for example:
0. Create a bare dolphinscheduler
1. Go to 'Create process'
2. Create a task
3. Save process
4. See default Tenant is `0`
![

[2021-02-08 13:07] chengshiwen opened #4741 "[Bug][UI] Task instance log not change"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. View task instance log of any two tasks
2. See error that the log

[2021-02-08 13:08] davidzollo commented on #4357
is there anybody else also need this feature? please leave message

[2021-02-08 13:19] davidzollo commented on #4712
stop the workflow instance will kill the running yarn task
![image](https://user-images.githubusercontent.com/15833811/107225095-5670e080-6a53-11eb-9c17-0c9c67283a70.png)

[2021-02-09 03:29] WilliamChen-luckbob commented on #4696
I have figured it out by creating my own runId and then using this runId as key to put the complex JSON string parameters in redis. And then pass this runId as request header. Each task will then consider to get parameters from redis instead of pass parameters through DolphinScheduler.
Still, I think, to support passing complex JSON string at the beginning of the ProcessInstance is a good consider

[2021-02-09 04:36] WilliamChen-luckbob commented on #4394
Problem solved: just follow the official doc.
DO NOT compile in Windows, that may leads to error, Linux is all correct.
DO NOT install other version of node or something, that may leads to error.

[2021-02-09 06:52] caesarcheng opened #4750 "[Feature][Flink SQL UDF] support of flink sql and its udf will be a good feature for DS"
DS's support for flink sql and flink-sql udf can improve its availability、capability. it will be attract lots of users!

[2021-02-09 07:12] zhuangchong opened #4751 "[Improvement][API] Improvement the duration field modify the display to a time-based minute-second format (e.g. 1d 10h 20m 1s)"
**Describe the question**
The duration field of workflow instance and task instance page shows how many seconds to run, which is not intuitive enough. Modify the display to a time-based minute-second format (e.g. 1d 10h 20m 1s).

**Which version of DolphinScheduler:**
 -[dev]

![image](https://user-images.githubusercontent.com/37063904/107327705-828a7100-6ae8-11eb-966e-aaa3a3619304.png)

[2021-02-09 10:26] wjsshide opened #4754 "What is the fault tolerance process of master? (Master怎么进行容错)"
Branch: dev
problem:
The worker sends ack and response to the master through rpc. When the master hangs up, the worker will find a master to send again. The master receives the information and writes it to the eventQueue on the one hand, and puts it in the taskCache on the other hand, but the taskCache just gets the task in a loop It’s only used when it’s status. For the new master, the task infor

[2021-02-09 13:13] vimacro commented on #4754
When the Master hangs up, other online Masters will receive the ZK Master node remove event to perform fault tolerance. First, they will query all the process instances that need fault tolerance on the dead Master, and then generate fault tolerance Commands and write them into the command table of the database.
Then after the normal running Master obtains the lock, it gets the fault-tolerant Comma

[2021-02-09 13:44] whw02 opened #4757 "[Bug][server] failoverWorker 容错"
分支：dev
测试中发现dolphinscheduler-server模块中关于ZKMasterClient中failoverWorker方法中查询需要容错的任务实例时，入参workerHost并不是ip地址加端口号
![image](https://user-images.githubusercontent.com/57203550/107371380-31e23a80-6b1f-11eb-87a8-c2974eafc447.png)

根据打印的日志显示如下:
![image](https://user-images.githubusercontent.com/57203550/107371489-4c1c1880-6b1f-11eb-96cd-70f78415b3a5.png)

从而导致查询不到数据库中的需要容错任务实例，不能完成容错机制。同理failoverMaster也存在这样

[2021-02-10 01:11] #4726 closed, assigned to nobody

[2021-02-10 01:18] yakcy opened #4760 "[Bug][Api] init dolphinscheduler-postgre.sql error"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
run dolphinscheduler-postgre.sql error about next sql:
INSERT INTO t_ds_alertgroup(id,alert_instance_ids, create_user_id, group_name, description, create_time, update_time)
VALUES (1, '

[2021-02-10 01:19] yakcy commented on #4760
I will fix it

[2021-02-10 01:40] zhuangchong opened #4761 "[Improvement][UI] Implement workflow definition page button unelectable state to add button prompt"
**Describe the question**
The buttons on the workflow definition page are not prompted when the state is not selected

**Which version of DolphinScheduler:**
 -[dev]

[2021-02-10 04:34] zhuangchong opened #4764 "[Bug][UI] create warning instance and click Submit , without validate the required parameters"
**Describe the bug**
Create an warning instance page and click Submit , without validate the required parameters

**To Reproduce**
1. Create an warning instance
2. The page does not enter required parameters
3. Click Submit
4. The warning instance can be created successfully

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-02-10 07:53] chengshiwen commented on #3369
@CalvinKirs I have resolved all the related PRs by yangyichao-mango.

[2021-02-10 08:51] chengshiwen commented on #2584
@lookhua @liwenhe1993 Because of the commercial license, we cannot directly use the driver and client of MySQL. If you want to use MySQL, you can build a new image based on our `apache/dolphinscheduler` image.

As for MySQL, you need to download [mysql-connector-java-5.1.49.jar](https://repo1.maven.org/maven2/mysql/mysql-connector-java/5.1.49/mysql-connector-java-5.1.49.jar)

1. Create your `Docke

[2021-02-10 12:41] CalvinKirs commented on #3369
I noticed that there are some code smells in the pr you submitted, it is best to solve them. (Some may not be a real bad code smell)

[2021-02-11 01:54] #4738 closed, assigned to nobody

[2021-02-11 02:02] yakcy commented on #4650
test ok in my dev env(ds 1.3.4 /pg 11.10)，this Exception about  insert t_ds_process_definition id is null , **may not  create "t_ds_process_definition_id_sequence" successful in your PG**

[2021-02-11 02:33] chengshiwen commented on #4650
@yakcy This issue occurs on the dev branch.

[2021-02-11 02:39] chengshiwen commented on #3369
@CalvinKirs Those code smells already exist in the previous code, and are not introduced by me. I have tried to fix some bugs, vulnerabilities, security hotspots and code smells.

Such as the previous pr #3440, you can see **2 vulnerabilities, 1 security hotspot and 34 code smells**, while in the new pr #4759, there are only **27 code smells**.

[2021-02-11 05:45] chengshiwen commented on #3369
Compared to pr #3417 with **20 code smells** half year ago, there are **22 code smells** in the new pr #4758.

Compared to pr #3440 with **2 vulnerabilities, 1 security hotspot and 34 code smells** half year ago, there are only **27 code smells** in new pr #4759.

Compared to pr #3443 with **2 vulnerabilities, 15 code smells and 1.4% duplication** half year ago, there are only **17 code smells** i

[2021-02-11 11:44] Segun-Ogundipe commented on #3799
Hi, @dailidong, @CalvinKirs, I have a few clarification questions on this feature.

I tested this by executing three statements and the three statements were executed
![image](https://user-images.githubusercontent.com/41447999/107632307-9bb92c00-6c66-11eb-8c90-372257dbbd76.png)

![image](https://user-images.githubusercontent.com/41447999/107632351-ad9acf00-6c66-11eb-8def-43b970f92719.png)

Is this

[2021-02-11 12:46] Segun-Ogundipe commented on #3799
I think I understand it now. The SqlParameters and SqlBind data class gets the SQL statements in a single string instance no matter how many statements there is and then execute that. So this issue is to use JDBC batch processing to execute the statements for fast performance right?

Please let me know if my assumption is right.

[2021-02-11 13:52] davidzollo commented on #3799
yes, you are right

[2021-02-11 21:37] Segun-Ogundipe commented on #3799
Thank you

[2021-02-12 02:52] yakcy commented on #4650
dev branch test is ok ,as follows：
【create】
`2021-02-12 10:39:37.255  INFO 1180 --- [qtp830083467-38] o.a.d.a.c.ProcessDefinitionController    : login user yankexi, **create**  process definition, project name: dev, process definition name: dag_2h131j6fd, process_definition_json: {"globalParams":[],"tasks":[{"type":"SHELL","id":"tasks-24289","name":"shell-task-1","params":{"resourceList":[],"local

[2021-02-12 02:52] yakcy commented on #4650
dev branch test is ok ,as follows：
【create】
`2021-02-12 10:39:37.255  INFO 1180 --- [qtp830083467-38] o.a.d.a.c.ProcessDefinitionController    : login user yankexi, **create**  process definition, project name: dev, process definition name: dag_2h131j6fd, process_definition_json: {"globalParams":[],"tasks":[{"type":"SHELL","id":"tasks-24289","name":"shell-task-1","params":{"resourceList":[],"local

[2021-02-12 02:54] yakcy commented on #4650
dev branch test is ok ,as follows：
【create】
`2021-02-12 10:39:37.255  INFO 1180 --- [qtp830083467-38] o.a.d.a.c.ProcessDefinitionController    : login user yankexi, **create**  process definition, project name: dev, process definition name: dag_2h131j6fd, process_definition_json: {"globalParams":[],"tasks":[{"type":"SHELL","id":"tasks-24289","name":"shell-task-1","params":{"resourceList":[],"local

[2021-02-12 10:14] davidzollo commented on #4754
good question and answer

[2021-02-12 10:14] #4754 closed, assigned to nobody

[2021-02-12 10:18] davidzollo commented on #4757
as a global project, please update/add title and description in English, thx

[2021-02-12 10:40] #4760 closed, assigned to nobody

[2021-02-12 10:50] #4716 closed, assigned to nobody

[2021-02-12 10:54] dailidong commented on #4732
+1
please update/add title and description in English, thx

[2021-02-12 10:54] davidzollo commented on #4732
+1
please update/add title and description in English, thx

[2021-02-14 09:42] #4651 closed

[2021-02-14 09:45] davidzollo commented on #4137
good, happy new year,  I have assigned this issue to you, looking forward to your PR

[2021-02-14 13:28] #4740 closed, assigned to nobody

[2021-02-14 13:31] #4741 closed, assigned to nobody

[2021-02-15 12:36] chengshiwen commented on #4650
@yakcy In the dev branch, init a bare postgresql, and refresh the dao module, run the main method of `org.apache.dolphinscheduler.dao.upgrade.shell.CreateDolphinScheduler` to automatically insert the tables and data required by the project. After the initialization and try to reproduce this isuue

[2021-02-15 14:32] zhuangchong opened #4776 "[Bug][Alert] Alert instance edit page partial parameter values are not displayed"
**Describe the bug**
Alert instance edit page partial parameter values are not displayed

![image](https://user-images.githubusercontent.com/37063904/107958152-90eef600-6fdc-11eb-9e95-bab265999605.png)

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to 'Alert instance management'
2. Click on 'Edit button for an alert instance'
3. See error

**Which version of Dolphin Schedule

[2021-02-15 14:57] zhuangchong commented on #4757
Worker failover does have problems, while Master failover is normal,I will fix the problem.

![image](https://user-images.githubusercontent.com/37063904/107961634-22606700-6fe1-11eb-986a-b2255938a317.png)

[2021-02-15 15:31] chengshiwen commented on #4757
@dailidong @zhuangchong @CalvinKirs
This issue is caused by calculating the warm-up time of load balancing, see
- [code 1](https://github.com/apache/incubator-dolphinscheduler/blob/5f40fce1f5544baffe34356e4244aaf0b364fd83/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/worker/registry/WorkerRegistry.java#L162)
- [code 2](https://github.com/zt-1997/incubator-dolphinschedule

[2021-02-15 15:45] CalvinKirs commented on #4757
Maybe host + timestamp is used in business use (it may be used in too many scenarios, we don't need to distinguish it), but in the final interaction with the database, do a layer of conversion, (remove the timestamp) what do you think.

[2021-02-16 02:21] zhuangchong commented on #4757
I think it's OK to do that

[2021-02-16 07:33] WilliamChen-luckbob commented on #4776
@CalvinKirs
There may be some bugs in vue code in the module of ui.

There are the same problems in email alert instance edit page too.

At the same time, while updating the alert instance, some necessary colums were missing so after updated alert instance, some columns were missing and that lead to some runtime exceptions.

e.g. while using email plugin, show type will missing after updating the

[2021-02-16 10:15] zhuangchong commented on #4776
I think what you said is the same as what I reported above

[2021-02-17 01:59] WilliamChen-luckbob opened #4785 "[Bug]while repeat running, the global parameters will not set to the user specified start parameters."
@CalvinKirs

when I start the workflow, I set the start parameters (startParams), but When running this process instance repeatedly, its global parameters are not the parameters I set.

**To Reproduce**
Steps to reproduce the behavior, for example:

Set breakpoint at class TaskExecuteProcessor line 168 to see global parameters

1. Start a new process instance at the first time with my start parame

[2021-02-17 02:07] WilliamChen-luckbob commented on #4785
#4779

[2021-02-17 04:58] wistwill opened #4787 "[Question] How to solve the problem of calling Oracle stored procedure task instance failure"
**Describe the question**
I have defined an instance of Oracle storage procedure task, but there is an error during execution：
[INFO] 2021-02-10 00:08:58.816  - [taskAppId=TASK-4-5-26]:[115] - create dir success /tmp/dolphinscheduler/exec/process/2/4/5/26
[INFO] 2021-02-10 00:08:58.915  - [taskAppId=TASK-4-5-26]:[75] - procedure task params {"method":"PKG_SPIS_STAT_TMPCMAINEXTRAS.GET_TMPCMAINEXTRA

[2021-02-17 07:48] AlleriaWindrunner commented on #4624
i want to resolve this issue, assignt it to me.

[2021-02-17 12:55] davidzollo commented on #4624
good job,  looking forward to your PR

[2021-02-17 14:23] zhuangchong commented on #4787
The IN_BUSINESSNO variable is undefined

[2021-02-18 02:08] #4751 closed, assigned to nobody

[2021-02-18 02:55] BoYiZhang opened #4789 "[Feature][SQL] SQL task enhanced verification"
In the current version, when writing SQL statements, the SQL task type cannot contain semicolon ";". Otherwise, an error will be reported when executing

It is recommended to enhance the verification in the front end. If there is a semicolon ';' in the SQL, you will be prompted

Note: just give prompt, don't fail verification. For example, the comment contains semicolon, which makes it impossible

[2021-02-18 03:23] lexiLiu opened #4791 "[Question] Is spark datasource the same as hive datasource?"
Analysis of source code，In the dolphin scheduler, spark datasource and hive datasource are ultimately connected to hive datasource. Why should we distinguish them?

![image](https://user-images.githubusercontent.com/9802421/108300654-af6f1000-71db-11eb-9dcc-6576944615fe.png)
![image](https://user-images.githubusercontent.com/9802421/108300573-8b133380-71db-11eb-890b-4676f888043b.png)

[2021-02-18 03:51] #4734 closed, assigned to nobody

[2021-02-18 03:52] #4761 closed, assigned to nobody

[2021-02-18 03:53] wistwill commented on #4787
**> The IN_BUSINESSNO variable is undefined**
I test defined IN_BUSINESSNO but  got an error:
[INFO] 2021-02-17 23:16:26.966  - [taskAppId=TASK-4-9-53]:[115] - create dir success /tmp/dolphinscheduler/exec/process/2/4/9/53
[INFO] 2021-02-17 23:16:27.048  - [taskAppId=TASK-4-9-53]:[75] - procedure task params {"method":"PKG_SPIS_STAT_TMPCMAINEXTRAS.GET_TMPCMAINEXTRAS_PKG(IN_STARTDATE,IN_ENDDATE,IN_

[2021-02-18 04:16] #4764 closed, assigned to nobody

[2021-02-18 07:05] #3369 closed

[2021-02-18 09:26] wisdom555 opened #4792 "[Question] When will the TODO plan in the "DolphinScheduler Work Plan" be released?"
When is the plan about zhe TODOs in "DolphinScheduler Work Plan" to be released? We really need these features.

关于在work plan里面的两个todo （任务调试和数据血缘功能）计划什么时候发布？目前我们还是比较需要这两个功能的。

[2021-02-18 12:32] yakcy commented on #4650
@chengshiwen  my dev env has not reproduced. Can you describe your operation process in detail? tkx

[2021-02-18 13:04] chengshiwen opened #4796 "[Bug][UI] Child file upload failure and file id mixed problem"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to 'Resources'
2. Click on 'Create folder'
3. Upload a file in new folder
4. See error about `child file upload failure`
5. Go to 'Resource manage'
6. Click on 'Create folder'
6. Upload a udf file in new folder
7. See `TypeError: Cannot read properties 'name' of undefined` caused by `$('#file')` which referenced to the the anothe

[2021-02-18 13:31] chengshiwen commented on #4650
@yakcy This is the recorded video I reproduced, I hope it can help you

https://user-images.githubusercontent.com/4902714/108364063-98a6d880-7230-11eb-9513-48a1dea3337c.mp4

[2021-02-18 14:24] yakcy commented on #4650
There may be multiple bugs. First, you need to confirm whether t_ds_process_definition_id_sequence is executed successfully and execute next:
select * from t_ds_process_definition_id_sequence；

[2021-02-18 15:14] chengshiwen commented on #4650
After executing `CreateDolphinScheduler `, the log about `t_ds_process_definition_id_sequence` is as follows:
![image](https://user-images.githubusercontent.com/4902714/108376255-c47c8b00-723d-11eb-93b6-aa5b23729449.png)
And there is no table named `t_ds_process_definition_id_sequence`
![image](https://user-images.githubusercontent.com/4902714/108376511-09082680-723e-11eb-82fb-4eecd9009dcf.png)
Af

[2021-02-19 01:50] #4776 closed, assigned to nobody

[2021-02-19 02:01] SuperHeroBigData opened #4800 "[Bug][Module Name] the same workflow in the ui"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2021-02-19 02:03] SuperHeroBigData opened #4801 "[Bug][Workflow] The same workflow problem in ui after importing workflow using excelTools"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
I import workflow using excelTools,but the ui view the bug.The same workflow on the ui.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to '...'
2. Click on '....'

[2021-02-19 02:05] SuperHeroBigData commented on #4801
![image](https://user-images.githubusercontent.com/73939396/108446904-e7d52380-7299-11eb-96f9-19401b85c57d.png)
like this . But  click the offline ,the same one was disapeared.

[2021-02-19 02:46] felix-thinkingdata opened #4803 "[Bug][API] The reason is that the end time is currently empty when calculating the process duration."
The reason is that the end time is currently empty when calculating the process duration.

当查询工作流实例时，一个流程实例正在运行，查询将会失败

[2021-02-19 05:22] mannharleen opened #4804 "[BUG][DOCKER] docker compose doesn't work"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**

Out of the box - docker compose doesn't work

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Follow the instruction at https://dolphinscheduler.apache.org/en-us/docs

[2021-02-19 06:36] chengshiwen commented on #4804
@mannharleen The docker image 1.3.4 of dolphinscheduler has problems and has not been updated for a long time. In 1.3.5 there many updates about docker and k8s, please visit the [1.3.5 Release Notes](https://github.com/apache/incubator-dolphinscheduler/releases/tag/1.3.5) and the latest readme [English](https://github.com/apache/incubator-dolphinscheduler/blob/1.3.5/docker/build/README.md) or [Chi

[2021-02-19 06:48] keepmeup commented on #4588
thanks.
i mean a common problem with self-incrementing IDs. how it works in ds? @felix-thinkingdata

[2021-02-19 07:00] chengshiwen opened #4805 "[Improvement][SQL] Place the upgraded schema to the correct version directory and check schema errors"
**Describe the question**

The differences between **1.3.5-release** and **dev** branch are as follows:
![image](https://user-images.githubusercontent.com/4902714/108468558-e1f33880-72c1-11eb-9c8c-8ff6d91f82be.png)

There are some problems such as:
- The upgraded sql in `1.3.0_schema` and `1.3.3_schema` should be in `1.4.0_schema`
- The **1.3.5-release** branch has `1.3.4_schema` upgraded director

[2021-02-19 07:27] chengshiwen commented on #4801
@SuperHeroBigData Please rename the **title** and update the **version of Dolphin Scheduler**.

[2021-02-19 08:33] felix-thinkingdata opened #4807 "[Improvement][Api] add @Override on the Override method"
Add the Override tag, on the Override method, to make the code a little more formal

For example,
![image](https://user-images.githubusercontent.com/59079269/108479033-2e457500-72d0-11eb-8ea3-0feb76c01518.png)

Who is willing to finish

[2021-02-19 08:35] mannharleen commented on #4804
Ah I see. I will try with 1.3.5 and close this issue if the same issues don’t crop up again.

Thanks!

[2021-02-19 08:53] chengshiwen commented on #4807
Please check all implements in `dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl`

[2021-02-19 09:02] dddyszy commented on #4807
hello, i fixed it

[2021-02-19 09:06] chengshiwen commented on #4804
@mannharleen The docker image 1.3.5 of dolphinscheduler has been pushed to docker hub named `apache/dolphinscheduler:latest` and `apache/dolphinscheduler:1.3.5`. You can download the [docker-compose.yml](https://github.com/apache/incubator-dolphinscheduler/blob/1.3.5/docker/docker-swarm/docker-compose.yml) 1.3.5 and execute `docker pull apache/dolphinscheduler:latest` (Note that the image id is `a

[2021-02-19 09:08] felix-thinkingdata commented on #4807
👍

[2021-02-19 09:17] davidzollo commented on #4804
@mannharleen , hi , we created Slack workspace of Apache DolphinScheduler Community some days ago,
welcome to join through invitation url: https://join.slack.com/t/asf-dolphinscheduler/shared_invite/zt-l8k90ceu-wwUfobaDkJxjzMfZp4y1Ag

[2021-02-19 09:27] daipeng1104 opened #4809 "[Bug][dolphinscheduler-common] when Kerberos authentication is enabled and hadoop.http.authentication.type is set to kerberos and ResourceManager HA is enabled，you cannot get application status"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
when Kerberos authentication is enabled and hadoop.http.authentication.type is set to kerberos and ResourceManager HA is enabled，you cannot get application status

**To Reproduce**
Step

[2021-02-19 09:31] #4663 closed

[2021-02-19 10:13] chengshiwen commented on #57
Organization: BizSeer Technology
Location: Beijing, China
Contact: chengshiwen@bizseer.com
Scenario: Big data task scheduling

组织：必示科技
地点：中国北京
联系方式： chengshiwen@bizseer.com
场景：大数据任务调度

[2021-02-19 10:15] #4807 closed, assigned to dddyszy

[2021-02-19 10:34] mannharleen commented on #4804
@chengshiwen  Still facing an error:
[code]

Using the latest image now:
![image](https://user-images.githubusercontent.com/22973248/108493173-21d61200-72fa-11eb-9dba-c07aaaa85a00.png)

[2021-02-19 10:39] chengshiwen commented on #4804
@mannharleen Re-try:
1. `docker-compose down -v`
2. check version of `docker-compose.yml` is `1.3.5`, it's better to download it from [docker-compose.yml](https://github.com/apache/incubator-dolphinscheduler/blob/1.3.5/docker/docker-swarm/docker-compose.yml)
3. `docker-compose up -d`
4. `watch -n 1 docker ps` until `healthy` if `watch` command exists
5. `docker logs -f dolphinscheduler-api` until

[2021-02-19 11:19] chengshiwen commented on #4804
I notice that you are using Windows. If the problem still exists, please try to run it on Linux/Mac. And tell us your environment, I will try to reproduce the problem, thx

[2021-02-19 12:13] zhuangchong commented on #4809
What are the following two property configurations in the common.properties file

[code]

[2021-02-19 12:47] zhuangchong opened #4813 "[Feature][API] Division of entity classes (VO, DO)"
**Describe the feature**
Division of entity classes (VO, DO)

VO corresponds to the data that needs to be displayed on the page (forms), and DO corresponds to the data stored in the database (tables)

Problems Solved:
1. Unneeded fields will also be passed to the front-end page, which not only increases the amount of data transmission, but also may have security problems.
2. Some fields need to be

[2021-02-19 15:18] #4803 closed, assigned to nobody

[2021-02-19 16:33] zhuangchong opened #4816 "[Bug][API] The API calls the workflow instance query interface and queries all the data when the time parameter is wrong"
**Describe the bug**
The API calls the workflow instance query interface and queries all the data when the time parameter is wrong

**To Reproduce**
1. API calls the workflow instance list-paging method directly
2. Set parameter startTime='20200101',endTime='20200102'
3. Query return result is all workflow instance data

**Which version of Dolphin Scheduler:**
 -[1.3.4-release,dev]

[2021-02-20 00:43] #4796 closed, assigned to nobody

[2021-02-20 01:03] daipeng1104 commented on #4809
yarn.resourcemanager.ha.rm.ids=192.168.1.55,192.168.1.56
yarn.application.status.address=http://yarnIp1:8088/ws/v1/cluster/apps/%s

[2021-02-20 01:20] xyzhh opened #4819 "[Question] There is only mysql in "type menu" and "datasource menu" of sqoop node?"
I draw a sqoop node in the DAG,These is only one mysql option in the drop menu of source or target section;I copied ojdbc to sqoop lib dir and dolphinscheduler lib dir,I can import list-tables in oracle with sqoop; I can create  oracle datasource in dolphinscheduler and import data with the  oracle datasource  in datax node; But still I can not see a "oracle" or "postgresql"
options to select in s

[2021-02-20 02:11] CalvinKirs commented on #3556
close by #3563

[2021-02-20 02:11] #3556 closed

[2021-02-20 02:12] CalvinKirs commented on #3557
close by #3605

[2021-02-20 02:12] #3557 closed

[2021-02-20 04:20] brucemen711 opened #4820 "[Feature][Server] Add support version control (git support)"
**Describe the feature**
Currently dolphinscheduler doesn't have the way to choose which version of workflow to work with. I think we should support this feature to make users safer.

**Describe the solution you'd like**
I saw process instance seems have this function but it not visible to users.

**Describe alternatives you've considered**
Alternatives, i think if integrated with git would be gre

[2021-02-20 05:03] zhuangchong opened #4821 "[Improvement][API] Improvement Swagger API parameter optimization"
**Describe the question**
Improvement Swagger API parameter optimization

Have a problem:
*  Incorrect name of Swagger API parameter
* The swagger API parameter is required
*  Missing API interface parameters
, etc.

**Which version of DolphinScheduler:**
 -[1.3.4-release,dev]

**Task**

- [ ] AccessTokenController AlertGroupController AlertPluginInstanceController
- [ ] DataAnalysisController Dat

[2021-02-20 06:25] babogd commented on #4628
when add this feature? @CalvinKirs

[2021-02-20 06:38] CalvinKirs commented on #4628
if you urgently need this function，You can complete it first and then contribute to the community

[2021-02-20 07:50] CalvinKirs opened #4822 "[Improvement][readme] fix readme.md broken link"
Subscribe to the mail list: https://dolphinscheduler.apache.org/en-us/docs/development/subscribe.html,

It should be modified to Subscribe to the mail list: https://dolphinscheduler.apache.org/en-us/community/development/subscribe.html

Add slack channel link: https://join.slack.com/t/asf-dolphinscheduler/

Add Twitter link:https://twitter.com/dolphinschedule

[2021-02-20 07:55] ptyp commented on #4821
Hi, in case not to misunderstand your meaning, I want to check do you mean this task is to perfect the API docs including but not limited to exampling the parameter and fix some paramaters? If I understand it correctly, I can handle these tasks. Please assign to me.

[2021-02-20 08:06] davidzollo commented on #4804
@mannharleen  hi, does zookeeper problem solved ?  can I help you ?

[2021-02-20 08:17] ptyp commented on #4822
Assign to me PLEAZZZZZ.

[2021-02-20 08:45] dddyszy opened #4823 "[Improvement][Api] Support zookeeper 3.6.x"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/docs/development/issue.html when describe an issue.*

**Describe the question**
The current version is not friendly to zookeeper 3.6+

**What are the current deficiencies and the benefits of improvement**
- zookeeper 3.6.2

![image](https://user-imag

[2021-02-20 09:47] wengieeee opened #4824 "what is the difference between stop and pause？"
when a parocess instance is running ,

I click the stop button,

then the current running task  will be kill or it will wait for the end of the task being executed?

version:1.3.4

-------------------
请问process运行中的停止和暂停有什么区别？
一个正在运行的process，按了停止，是会直接kill掉在运行的task还是说会等待运行中的task执行完毕

我自己的测试是会等待执行中的task执行完毕？是这样么？

[2021-02-20 09:50] wAlec1102 commented on #2652
It's better to put the part of "custom parameters" into the document or something else

[2021-02-20 11:03] zhuangchong commented on #4821
ok，this task is to perfect the API swagger docs

[2021-02-20 11:36] mannharleen commented on #4804
Am really impressed by the fact that you guys (@dailidong and @chengshiwen) are actually following up!!

I didn’t get the chance yet, but will give it all a try again soon.

[2021-02-20 12:12] ntupapaya opened #4826 "[Bug][Module Name] Process using the dependence component cannot migrate between test and prod environment"
**Describe the bug**
Process using the dependence component cannot migrate between test and prod environment.
Because in exported json it uses definitionId to refer to the dpendent target, which will be different between test and prod env.
With this problem, I would say the dependence component is not ready for prodtion use. Strongly suggest to fix it.

----
包含依赖组件的流程不能在测试和生产环境间迁移。
因为在导出的json中用了de

[2021-02-20 15:08] xyzhh commented on #4157
I think it is not just a "question”,why sqoop do not support postgresql or oracle?There is no options on UI,even I have already add oracle drive.

[2021-02-20 16:34] #4757 closed, assigned to nobody

[2021-02-21 03:52] #3693 closed

[2021-02-21 03:52] #3651 closed

[2021-02-21 04:27] xyzhh opened #4827 "[Feature]Sqoop task should support more database,especially oracle."
In big data project ,as data source ,oracle is usually used, not mysql.I need a way to import data from oracle to hive or hdfs,Why oracle is not supported by sqoop?Or could I  do it by datax without editing custom json?

需要一个方便的办法从oracle向hive采数据啊，hbase应该也有需求吧

[2021-02-21 05:25] xuhonghui commented on #4078
dolphinscheduler123

[2021-02-21 08:48] zixi0825 opened #4829 "[Feature][Data Quality] DataQualityApplication Design"
- Function
DataQualityApplication uses spark as execution engine and parse the input parameter to generate Connector、Executor and Writer .Read data from different data source through different Connector and use the sql in executor to operate data. Finally write the result into storage engine through the Writer
- Architecture
    - Parameter design
Parse input parameter to generate ConnectorParamte

[2021-02-21 10:29] davidzollo opened #4831 "[Feature][Document] How to use open api of Apache DolphinScheduler ?"
How to use open api of Apache DolphinScheduler ?

official website github url: https://github.com/apache/incubator-dolphinscheduler-website/tree/master/docs/en-us/1.3.5/user_doc

and the position of api doc is here:
![image](https://user-images.githubusercontent.com/15833811/108622292-bfece800-7472-11eb-866f-08eade20cd9e.png)

---

文档需求：怎样使用 DolphinScheduler 的 open api , 可以参考：https://blog.csdn.net

[2021-02-21 11:24] davidzollo commented on #4831
if anybody who is interesting in this task, please leave a message

[2021-02-21 11:27] davidzollo commented on #4827
anybody else who also need this feature , please leave a message

[2021-02-21 11:29] davidzollo commented on #4824
yes, you are right.
stop will kill the running tasks, while pause not stop the runnting task , it will wait the finish of the running tasks

[2021-02-21 11:29] #4824 closed, assigned to nobody

[2021-02-21 14:23] woshiwuxiaofei commented on #4137
I can try it, assign it to me!

[2021-02-21 14:25] davidzollo commented on #4137
done

[2021-02-21 14:32] davidzollo commented on #4826
good suggestion
for now ,  the Community is doing workflow definition DAG json splitting, when json splitting done, welcome to join

[2021-02-22 01:45] zhuangchong commented on #4791
@lexiLiu
Dolphin's Spark Datasoure is connected to the Spark Thrift Server; Spark Thrift Server is essentially the same as HiveServer2 and Spark Thrift Server is encapsulated on HiveServer2 and can use Hive JDBC connections. The Spark DataSource and Hive DataSoure backend source code is the same, This part of the code duplication in this section, welcome to submit PR optimization.

[2021-02-22 01:53] xingchun-chen opened #4833 "[Bug][worker-config] Worker group is not correct in conf/ worker.properties"
1. to configure workers="ark0:cxc1,ark0:worker1" in conf/config/install_config.conf
2. Execute command sh install.sh
3. Worker group is not correct in conf/ worker.properties, display as worker.groups=cxc1worker1 , should be displayed as worker.groups=cxc1,Worker1, zookeeper register two worker nodes 'cxc1' and ’Worker1‘

![image](https://user-images.githubusercontent.com/55787491/108647140-dcc900

[2021-02-22 01:59] woshiwuxiaofei commented on #4833
I will try it, please assign it to me.

[2021-02-22 02:02] xingchun-chen commented on #4833
The issue has been repaired and I will turn it off. Thank you for your feedback @woshiwuxiaofei

[2021-02-22 02:02] #4833 closed, assigned to nobody

[2021-02-22 02:05] xingchun-chen commented on #4820
The dev branch supports version switching

[2021-02-22 02:14] xingchun-chen commented on #4819
Currently, sqoop only supports mysql

[2021-02-22 02:16] vimacro commented on #4823
i'll do this part @zhanguohao

[2021-02-22 02:17] #4819 closed, assigned to nobody

[2021-02-22 02:30] wengieeee commented on #4824
but ,when i click stop button ,my running task still running?why?

[2021-02-22 02:35] xingchun-chen commented on #4426
the issue is the same as #4450 , so I will close this issue

[2021-02-22 02:35] #4426 closed

[2021-02-22 02:58] chengshiwen commented on #4800
@SuperHeroBigData This issue is duplicated with #4801, please close this issue and rename the **title** and update the **version of Dolphin Scheduler** in #4801.

[2021-02-22 02:58] chengshiwen commented on #4823
@dddyszy @zhanguohao Maybe this issue and the solved issue #4757 are related. The fixed pr #4799 has been merged into the dev, so could you please check whether this problem does still exist in the latest dev branch? Thanks sincerely!

[2021-02-22 02:59] xxh2000 commented on #4827
你这个需求应该去跟spoop社区提吧。

[2021-02-22 03:07] vimacro commented on #4823
![image](https://user-images.githubusercontent.com/11975398/108651776-78f80480-74fd-11eb-974d-7e95dc31295f.png)
![image](https://user-images.githubusercontent.com/11975398/108651807-890fe400-74fd-11eb-83f6-12c545b86541.png)
It is not a compatibility issue, it has been fixed in the dev branch @xingchun-chen @dddyszy

[2021-02-22 03:09] wengieeee opened #4834 "process instance can not be stopped"
when a parocess instance is running ,

I click the stop button,

It will wait for the end of my running task

https://github.com/apache/incubator-dolphinscheduler/issues/4824#issue-812566857

停止正在运行的process instance 不成功，会等待正在运行的task结束才kill，这与文档不符合？

版本：1.3.4

[2021-02-22 03:13] dddyszy commented on #4823
@zhanguohao @chengshiwen  ok i'll try it, and another question is whether monitor - Zookeeper Manage show right values?

[2021-02-22 03:59] Leaf-star commented on #57
Organization: NewTV
Location: Tianjin, China
Contact: liu.wang@chinaott.net
Scenario: Big data task scheduling

组织：未来电视
地点：中国天津
联系方式： liu.wang@chinaott.net
场景：大数据任务调度

[2021-02-22 04:01] xiashao1980 opened #4835 "Instances can not execute in parallel mode under ds1.3.4"
Hi guys,

I have installed ds1.3.4. There are two workers (A and B) in my system.  And I set work.exec.threads to 1, then I called ds API 'startProcessInstance' to start a few instances.  But all tasks were executed under work A.  And if I start some instances later, they will be executed under work B.

I call ds API with follow Python code:
form_data = {
        "processDefinitionId": flowid,

[2021-02-22 04:19] ruancheng77 opened #4836 "[Question] Process definition response data is missing"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
/dolphinscheduler/projects/default/process/save interface response msg is missing org.apache.dolphinscheduler.api.service.ProcessDefinitionService#PROCESSDEFINITIONID

**Which vers

[2021-02-22 04:19] xyzhh commented on #4827
sqoop支持Oracle啊，不知道为啥DS里没有界面入口。

[2021-02-22 05:04] vimacro commented on #4823
mod the zookeeper config

`4lw.commands.whitelist=*`
of just `srvr,ruok,wchs,cons`

[2021-02-22 07:30] chengshiwen opened #4837 "Docker & K8s Improvement Plan"
### 1.3.5-release

Docker Improvement Plan

- [x] Reduce image size
- [x] Remove frontend/nginx
- [x] Remove stdout log in properties
- [x] improve compose/swarm deployment
- [x] Fix random PSQLException
- [x] Sync docker conf templates to the latest conf properties
- [x] Update outdated readme

K8s Improvement Plan

- [x] Remove frontend/nginx
- [x] Remove redundant configs
- [x] Support resource

[2021-02-22 07:37] chengshiwen commented on #4837
@dailidong @chenxingchun

[2021-02-22 07:41] xingchun-chen commented on #4837
good job

[2021-02-22 07:42] dddyszy commented on #4823
ok it works

[2021-02-22 07:58] dailidong commented on #4609
some mail suffix like qq.com、163.com can't join slack directly, please leave your mail address, I will invite you manually

[2021-02-22 08:52] dddyszy commented on #4834
i meet the same situation,and i found that i need to install 'pstree'
![image](https://user-images.githubusercontent.com/20266837/108684730-3995dc00-752e-11eb-860e-a77977b90815.png)
check is these any error in dolphinscheduler-worker.log

[2021-02-22 09:41] gaoyu2016 opened #4838 "[Bug]worker has been in the running state"
The master has been in a state of being ready to stop，and worker has been in the running state。
worker log:
[INFO] 2021-02-21 07:50:15.328  - [taskAppId=TASK-37-970238-989024]:[375] - appId:application_1613842645240_14172, final state:RUNNING_EXEUTION
[INFO] 2021-02-21 07:50:16.333  - [taskAppId=TASK-37-970238-989024]:[375] - appId:application_1613842645240_14172, final state:RUNNING_EXEUTION
[INF

[2021-02-22 10:32] zhuangchong commented on #4838
Is there a worker log

[2021-02-22 11:17] dddyszy opened #4839 "[Bug][Server] Process cannot stop when killed with retry"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
Process cannot stop when killed with retry.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. create a process,and a task with retry
![image](https://user-images.github

[2021-02-22 11:59] zhuangchong commented on #4834
@Yanwenjingcn
Comment the following four lines in the logback-worker.xml file, run the task again, and then check to see if the worker.log prints any exceptions

![image](https://user-images.githubusercontent.com/37063904/108705597-7ff83480-7548-11eb-9a77-8bbf1af1a86c.png)

[2021-02-23 01:59] vimacro opened #4840 "[Bug][Master] Master cannot fault tolerant when multiple Masters start at the same time"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
If multiple Masters are started at the same time, it will cause global fault tolerance logic errors. Multiple Masters that are online at the same time are recognized, fault tolerant wil

[2021-02-23 01:59] vimacro commented on #4840
I'll fix it

[2021-02-23 02:35] vrsashly commented on #2819
but how can i  associate tenant to admin when i can't create the first tenant?

[2021-02-23 02:44] #4822 closed, assigned to ptyp

[2021-02-23 03:03] chengshiwen commented on #3735
@CalvinKirs This issue can be closed.

[2021-02-23 03:15] drowecho opened #4842 "Can`t edit worker group"
![image](https://user-images.githubusercontent.com/56685203/108798136-fdaf5500-75c7-11eb-90c5-09b0af294bba.png)

it works perfect!
but after start the dolphinscheduler server, i can`t edit or change worker group message

it`s my contains in dolphinscheduler-1.3.5/conf/config/install_config.conf file :

  `# postgresql or mysql
  dbtype="mysql"

  # db config
  # db address and port
  dbhost="mcpqa

[2021-02-23 03:23] #4791 closed, assigned to nobody

[2021-02-23 04:47] wangdazhong001 opened #4843 "[Bug][Docker] 1.3.5 release compose file config error WORKER_GROUP"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
The configuration item of compose startup file worker service is wrong, WORKER_GROUP here should be WORKER_GROUPS

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Lā q

[2021-02-23 05:09] chengshiwen commented on #4843
@wangdazhong001 Good suggestion! This has been added into [Docker & K8s Improvement Plan](https://github.com/apache/incubator-dolphinscheduler/issues/4837)

[2021-02-23 06:11] CalvinKirs commented on #3735
close by #4812

[2021-02-23 06:11] #3735 closed

[2021-02-23 06:43] jepsonzhang commented on #4838
这个是和目前海豚的停止机制有关，当Api-server接受到外部的命令的时候，会像数据库插入一条command用于停止，master抢到锁之后，从数据库拿到这个command，会将任务流的状态改成准备停止，然后找到任务流对应的运行的任务列表，下发命令给对应的worker，由worker去关闭对应的task的进程，关闭完了再通知master，master再去修改对应的taskInstance的状态，然后master会不停的查看所有运行中的task的状态变成结束的状态，是的话，最终才会把任务流的状态改成停止状态，海豚里面用了大量的异步+状态机来处理这些状态的变迁问题。

[2021-02-23 07:21] ptyp opened #4846 "[Bug][feature] cannot Save/Update the process including more than one node in Ubuntu"
**  Describe the bug
The process with two or more nodes can not be saved or updated. The problem does not only occur in the website, but also occur when using API.

** To Reproduce
I am now using Ubuntu 20.04 and Chrome 88. It does not work under FireFox as well.

** Bug information
There is no error showing in the server side. It only presents a timeout warning.
![2021-02-03 17-54-43屏幕截图](https:/

[2021-02-23 07:24] CalvinKirs commented on #4846
Can you provide detailed server logs?

[2021-02-23 09:19] gaoyu2016 opened #4847 "[Bug] Call hadoop job list in php function，process has exited,exitStatusCode:0,but hadoop job list Been running"
Call hadoop job list in php function，process has exited,exitStatusCode:0,but hadoop job list Been running, worker Been running。
也就是：
php主方法run，调用了get_job_list（hadoop job -list）。
[taskAppId=TASK-37-989222-1008351]:[202] - process has exited, execute path:/home/shared/opt/soft/ds/tmp/dolphinscheduler/exec/process/12/37/989222/1008351, processId:30574 ,exitStatusCode:0 正常退出，
但是：后面还在执行php中的方法中的命令：$cmd

[2021-02-23 09:28] zhuangchong commented on #4847
Which version? Because the Hadoop task is still running in YARN, all the task pages show that it is running.

[2021-02-23 09:31] gaoyu2016 commented on #4847
1.3.1。
![image](https://user-images.githubusercontent.com/29685418/108824639-eb9bd980-75fc-11eb-8c4c-68f4d8326b77.png)
hadoop job -list 是php主方法调用的函数里面的命令。

[2021-02-23 09:40] execdf opened #4848 "[Feature][dolphinscheduler-server] ds worker wild occupies many jdbc connection"
I install  multiple ds worker on cluster,and then i find  each worker will  occupy a part of  db connection.
 When i try to login at fore-end ,but fail,and then i  fould a exception throws a back-end about jdbc connect fail .
 May be you  should seek  a plan to  replace it 。
![image](https://user-images.githubusercontent.com/42157825/108825082-8a283a80-75fd-11eb-8920-d08a82d1b803.png)

[2021-02-23 10:35] SuperHeroBigData opened #4849 "The maximum number of task nodes that can be placed in a workflow definition"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.
Create a process with a POST request. After 500 nodes, it will not be able to create a process.
**Which version of DolphinS

[2021-02-23 11:06] #3805 closed

[2021-02-23 11:18] zhuangchong commented on #4847
Look at the 'find app id: application_1613943087944_61791' in your log,It should be your task that starts a yarn task and then starts the PHP monitoring script. The current task display is actually running because the previous yarn task is running

---
看你的日志上记录‘ find app id: application_1613943087944_61791’ ，应该是你这个任务启动了一个yarn任务，之后启动了php 的监控脚本。目前任务显示真正运行就是因为前面的yarn任务是正在运行状态

[2021-02-23 11:20] gaoyu2016 commented on #4847
hadoop job -list

[2021-02-23 12:08] zhuangchong opened #4850 "[Bug][Alert] The port number indicates a ServerPort is not number when the mail alert plug-in is edited"
**Describe the bug**
The port number indicates a ServerPort is not number when the mail alert plug-in is edited

![image](https://user-images.githubusercontent.com/37063904/108841519-da5dc780-7612-11eb-970b-fee5426eb560.png)

**Which version of Dolphin Scheduler:**
 -[dev]

I will fix it

[2021-02-23 12:48] Narenderadonis commented on #4831
Yes, I am interested. I want to work on this.

[2021-02-23 13:20] davidzollo commented on #4831
glad to see you want to do this task, I assigned this issue to you just now.
if you meet any problem, please leave message.

BTW, we also create slack workspace some days ago, welcome to join the workspace URL: http://asf-dolphinscheduler.slack.com/

you can join through invitation url: https://join.slack.com/t/asf-dolphinscheduler/shared_invite/zt-l8k90ceu-wwUfobaDkJxjzMfZp4y1Ag

[2021-02-23 14:53] davidzollo commented on #4847
you'd better not to use this command.

this command will list all the running yarn tasks to the task instance log, these yarn tasks will generate many application ids, DolphinScheduler will monitor all these yarn task until to finish, this operation will cost too  much time

[2021-02-24 02:04] jenna25 opened #4854 "[Feature] Support for setting global parameters before running a workflow"
当测试运行工作流时，一些全局参数可能需要替换为具体的值（如某些时间参数）；现在只能在保存工作流时去设置，使用起来较为不便。希望在运行工作流时，可以动态修改这些全局参数的值。
![image](https://user-images.githubusercontent.com/20807588/108933975-07e45880-7687-11eb-9491-f41789852132.png)

[2021-02-24 02:09] #4847 closed, assigned to nobody

[2021-02-24 02:10] gaoyu2016 commented on #4847
完美解决！

[2021-02-24 02:14] CalvinKirs opened #4855 "[Improvement][API] Status code should one category one interval"
A category code should be in an interval, we set according to the number of bits
For example, 1-2 digits are a large category range, 3-4 digits are a small category range, and 5-8 digits are specific business codes. Don't keep adding from the 10000, which is not convenient for maintenance.

[2021-02-24 02:33] wangxj3 opened #4857 "[Bug][UI] excess dolphinscheduler-ui.zip file"
There is a excess file dolphinscheduler-ui.zip in the root  directory

[2021-02-24 02:44] yaofengchn opened #4858 "use s3 resource got error"
When using S3, i can't create tenants or files, use hdfs is ok
The configuration is as follows. How to modify it

![图片](https://user-images.githubusercontent.com/31480221/108939483-bdfe7100-768c-11eb-8669-59d5c329306a.png)
api-server.log
![图片](https://user-images.githubusercontent.com/31480221/108939498-c3f45200-768c-11eb-8189-239554ceee7d.png)

当使用s3的时候，创建租户和创建文件都不行，换成hdfs就可以了

[2021-02-24 03:19] #4840 closed, assigned to nobody

[2021-02-24 03:37] CalvinKirs commented on #4857
close by #4859

[2021-02-24 03:37] #4857 closed, assigned to nobody

[2021-02-24 04:07] #4823 closed, assigned to nobody

[2021-02-24 04:22] chengshiwen commented on #4858
In 1.3.x version, the configuration in practice is like as follows:
[code]
As for your configuration, `defautFS` should be updated to `s3a://dolphinscheduler`, and make sure the directory `/dolphinscheduler` in s3 has been created

[2021-02-24 06:25] #4850 closed, assigned to nobody

[2021-02-24 06:57] dddyszy opened #4862 "[Bug][Server] Kill yarn application command won't be execute when kill error"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
There are two places used 'yarn application -kill',and both of them are in try catch.So if these is some exception in OSUtils.exeCmd(cmd), kill yarn application command won't be execute

[2021-02-24 07:03] zhuangchong commented on #4862
If no contributor claims it, I'll fix it.

[2021-02-24 07:13] dddyszy commented on #4862
just move it out of try catch.And i think we can do something to prevent kill error,improve pstree or other methods

[2021-02-24 07:26] iwongta commented on #4691
docker 最新镜像好像还是有这个问题

[2021-02-24 07:44] ZJ577624359 opened #4863 "Dolphinscheduler Complete the installation Unable to initialize login"
初始用户：admin
初始密码：dolphinscheduler123
![image](https://user-images.githubusercontent.com/79566794/108964924-18142c00-76b7-11eb-98d6-9cefb11b5eb1.png)

[2021-02-24 08:01] #4137 closed

[2021-02-24 08:20] zacheung commented on #4180
Thanks. I already know how to use it.

[2021-02-24 08:20] #4180 closed

[2021-02-24 08:33] #4617 closed

[2021-02-24 08:34] davidzollo commented on #4816
good job

[2021-02-24 08:54] xingchun-chen commented on #4863
please update the title in English

[2021-02-24 08:54] xingchun-chen commented on #4863
please check the api log

[2021-02-24 10:03] chengshiwen commented on #4804
We have tried to reproduce the issue on Windows with **Docker Toolbox**, but there is no such problem and it runs normally😂
If possible, please provide more environment information to help us troubleshoot the problem, thank you very much!🙏

[2021-02-24 10:47] gaoyu2016 opened #4865 "[Bug]Delete resource error in version 1.3.4"
[ERROR] 2021-02-24 18:41:18.263 org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[45] - 删除资源错误
org.apache.hadoop.security.AccessControlException: Permission denied: user=hdfs, access=WRITE, inode="/dolphinscheduler/maintain/resources/reindex.py":maintain:supergroup:drwxr-xr-x
	at org.apache.hadoop.hdfs.server.namenode.FSPermissionChecker.check(FSPermissionChecker.java:319)
	at org.ap

[2021-02-24 11:02] gaoyu2016 commented on #4865
but -rwxrwxrwx   3 maintain supergroup      16567 2021-02-22 19:39 /dolphinscheduler/maintain/resources/reindex.py

[2021-02-24 11:16] yaofengchn commented on #4858
must be  s3a://dolphinscheduler ？
fs.defaultFS = s3a://dolphinscheduler

can not use  s3a://dolphinscheduler2 even if i had create the bucket s3a://dolphinscheduler2?

必须是s3a://dolphinscheduler这个桶吗？
我现在是创建了s3a://dolphinscheduler2 桶，然后使用这个，报了上面的错

[2021-02-24 11:46] chengshiwen commented on #4858
@yaofengchn Sorry, I made a mistake. You are right, `dolphinscheduler` in `s3a://dolphinscheduler` stands for bucket. So make sure the bucket `dolphinscheduler2` and the directory `/dolphinscheduler` in s3 has been created, and the tenant associated with the current user has permission to read/write the the bucket `dolphinscheduler2` and the directory `/dolphinscheduler`.
- Check whether the curre

[2021-02-24 14:54] keepmeup commented on #4588
are u still there ,brother

[2021-02-24 15:38] vimacro opened #4866 "[Bug][Common] Not loaded `hdfs-site.xml` causes the client to fail to access the datanode"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

When the configuration is initialized when accessing hdfs, the Configuraion class is used. This class will only load core-site.xml,

[2021-02-24 15:48] #4785 closed, assigned to nobody

[2021-02-25 01:16] #4816 closed, assigned to nobody

[2021-02-25 01:26] zhuangchong commented on #4865
check the HDFS user permissions

[code]

[2021-02-25 01:32] xiangffsuper opened #4868 "[Bug][s3a] There is a problem when the OSS certificate is updated"
`[ERROR] 2021-02-25 02:01:39.651 org.apache.dolphinscheduler.common.utils.HadoopUtils:[172] - Unable to execute HTTP request: Certificate for <jqops.s3.cn-north-1.jdcloud-oss.com> doesn't match any of the subject alternative names: [*.jdcloud.com, *.cn-east-1.jcloudcs.com, *.cn-east-2.jcloudcs.com, *.cn-north-1.jcloudcs.com, *.cn-south-1.jcloudcs.com, *.jcloud.com, *.jcloudcache.com, *.jcloudcs.co

[2021-02-25 01:58] #4866 closed, assigned to nobody

[2021-02-25 02:04] zhuangchong commented on #4809
@daipeng1104
Check that YARN IP (192.168.1.55,192.168.1.56) is valid

Application by accessing http://192.168.1.55:8088/ws/v1/cluster/info and http://192.168.1.56:8088/ws/v1/cluster/info to detect the state determine the survival of the ResourceManager
Look through you provide log, 192.168.1.55, 192.168.1.56 invalid IP, to active the ResourceManager

[2021-02-25 02:07] xingchun-chen commented on #4849
Is there any error message in API log？

[2021-02-25 02:34] daipeng1104 commented on #4809
I found the reason in the source code. In Ha mode,  YarnHAAdminUtils.getAcitveRMName  called to detect the active RM  .     but  when kerberos http authentication enabled  (core-site.xml),  the method will always return null . The reason is because the HttpUtils.get(url) can not get result when kerberos http authentication enabled .

in the dev branch, the KerberosHttpClient can solve the problem.

[2021-02-25 02:35] #4650 closed

[2021-02-25 02:35] #4805 closed, assigned to nobody

[2021-02-25 03:04] gaoyu2016 commented on #4865
改为-rwxrwxrwx了，为什么还不行？

[2021-02-25 03:08] xingchun-chen commented on #4842
the issue is the same as #3730, will close it

[2021-02-25 03:08] #4842 closed, assigned to nobody

[2021-02-25 03:10] HanWu2 commented on #4698
No problem, the DS is using MD5 encryption, hope to be able to to configure the encryption type, I can use for example SM3

[2021-02-25 03:19] xingchun-chen commented on #2819
You can view the API log and check whether the HDFS configuration is accurate

[2021-02-25 03:22] xingchun-chen commented on #4394
@yuhao6118 Has your problem been solved? If so, please close the issue

[2021-02-25 03:26] #4719 closed, assigned to nobody

[2021-02-25 05:41] xingchun-chen commented on #4865
![image](https://user-images.githubusercontent.com/55787491/109108722-05f5c480-776f-11eb-824c-1d3a30eeea5e.png)
Does user=hdfs have permission to this directory

[2021-02-25 05:59] JIANCHUJUN opened #4871 "[Question] Unable to Connect to MySQL datasource"
**Describe the question**
Hi, I am using docker-compose to deploy Dolphinscheduler (1.3.5, official release), but I can't connect to MySQL datasource. I tried to use "docker cp" and copy "mysql-connector-java-5.1.34.jar" into /opt/dolphinscheduler/lib, but the connection still failed. Do I need to change configuration file elsewhere?

**Which version of DolphinScheduler:**
 -[1.3.5, Docker-Compose

[2021-02-25 06:10] Zzm0809 opened #4872 "[Bug][AIP] Create DIR ALREADY EXIST ERROR"
Resources uploaded on HDFS
I just used frame file management - >Create a folder and then delete the HDFS just created directory
and go back to file management - >;Enter the same folder name to report that the resource directory already exists.

config is

`
resource.storage.type=HDFS

resource.upload.path=/dolphinscheduler/upload

`

See API Log

`
[INFO] 2021-02-25 13:46:45.148 org.apache.dolphin

[2021-02-25 06:21] SuperHeroBigData commented on #4849
columns connects 、jsonlocations
![image](https://user-images.githubusercontent.com/73939396/109111836-997dc400-7774-11eb-9186-3481b1a26cc7.png)，i modify the metadata，it works

[2021-02-25 06:24] chengshiwen commented on #4871
@JIANCHUJUN Please see #4732
If you just want to connect to a mysql datasource, not only you need to execute `docker cp mysql-connector-java-5.1.49.jar /opt/dolphinscheduler/lib` into `api` and `worker` container, you also need to restart all containers by `docker-compose restart`.
**Attention**: The driver `mysql-connector-java-5.1.49.jar` must be required with `>=5.1.47`
[code]

[2021-02-25 06:53] masterable opened #4873 "[sqoop workflow] sqoop workflow usage problem"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
How do I make sqoop workflow import and export data from two tables with different databases and the same table name in hive? I need to make the data location and partitioning rule

[2021-02-25 07:01] zhuangchong commented on #4809
@daipeng1104

You are welcome to submit a PR to fix this.

[2021-02-25 07:05] gaoyu2016 commented on #4865
OK! 我对目录设置了一下，可以了。谢谢！

[2021-02-25 07:17] gaoyu2016 opened #4874 "[Bug]1.3.4 version,Cause: com.mysql.jdbc.MysqlDataTruncation: Data truncation: Data too long for column 'history_cmd' at row 1"
org.springframework.dao.DataIntegrityViolationException: ### Error updating database. Cause: com.mysql.jdbc.MysqlDataTruncation: Data truncation: Data too long for column 'history_cmd' at row 1 ### The error may exist in org/apache/dolphinscheduler/dao/mapper/ProcessInstanceMapper.java (best guess) ### The error may involve org.apache.dolphinscheduler.dao.mapper.ProcessInstanceMapper.updateById-In

[2021-02-25 07:17] gaoyu2016 commented on #4874
`history_cmd` text COMMENT 'history commands of process instance operation'
已经是text了，为什么？

[2021-02-25 08:10] JIANCHUJUN commented on #4871
Thanks for your Help! It solves the issue.

[2021-02-25 08:10] #4871 closed, assigned to nobody

[2021-02-25 10:24] zhuangchong commented on #4874
Change the field type to longtext

[2021-02-25 10:25] yaofengchn commented on #4858
@chengshiwen
thank you

[2021-02-25 10:26] #4858 closed, assigned to nobody

[2021-02-25 11:04] lijufeng2016 opened #4876 "[Bug][alert plugin] http alert plugin does not set bodyParams in post request"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. add a warn instance for http plugin especially notice **bodyParams

[2021-02-25 11:12] lijufeng2016 commented on #4876
[FIX-4876]Http alert plugin fix https://github.com/apache/incubator-dolphinscheduler/pull/4877

[2021-02-25 14:33] CalvinKirs opened #4878 "[Feature][SPI] Task"
1: Loading of plug-ins

Worker needs to load all plug-ins when it starts, complete plug-in loading, update (plugin_define table) and other operations (refer to the relevant plug-in loading when AlertSerrver starts. Different services load plug-ins should be different, this needs to specify loading plug-ins Type, including the following registration center or other SPI)

The dependency in the worke

[2021-02-25 14:41] CalvinKirs commented on #4878
I will submit some design details again after perfecting, including specific tasks.

[2021-02-25 14:44] #4843 closed, assigned to nobody

[2021-02-26 01:44] zhuangchong commented on #4878
+1

[2021-02-26 03:06] data-yangmengfei commented on #57
- Organization: Tezign
- Location: ShangHai, China
- Contact: yangmengfei@tezign.com
- Scenario: used for cloud computing platform, process scheduling and scheduling of tasks

组织：特赞
地点：中国上海
联系方式：yangmengfei@tezign.com
场景：用于云计算平台，进行任务的流程编排和调度

[2021-02-26 03:07] data-yangmengfei commented on #57
- Organization: Tezign
- Location: ShangHai, China
- Contact: 827311945@qq.com
- Scenario: used for cloud computing platform, process scheduling and scheduling of tasks

- 组织：特赞
- 地点：中国上海
- 联系方式：827311945@qq.com
- 场景：用于云计算平台，进行任务的流程编排和调度

[2021-02-26 03:20] chengshiwen commented on #4868
@xiangffsuper Is it normal today?

[2021-02-26 03:28] xiangffsuper commented on #4868
@chengshiwen  Because there are some production tasks, I'm already using a local disk to replace OSS.
from the error log, It looks like there's SSL cache

[2021-02-26 03:33] alphabet5 opened #4881 "[Improvement][Docker] Add default login username and password in readme"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
Documentation for the docker-compose instructions is missing the default login credentials. (https://github.com/apache/incubator-dolphinscheduler/tree/dev/docker/build)

**To Reproduce*

[2021-02-26 03:40] chengshiwen commented on #4881
@alphabet5 Thanks for your feedback!
By the way, please rename the title to `[Improvement][Docker] Add default login username and password in readme`

[2021-02-26 04:31] zhuangchong opened #4884 "[Improvement][Common] a concatenation URL problem occurred when the address of the ACITVE ResourceManager in YARN HA mode failed to be obtained"
**Describe the question**
Acitve ReSourceManager IP = null when obtaining Acitve ReSourceManager address in YARN HA mode fails,
the program will return splicing application url = http://null:8088/ws/v1/cluster/apps/%s

**What are the current deficiencies and the benefits of improvement**
The yarn application URL generation failed exception should be thrown here

**Which version of DolphinScheduler

[2021-02-26 06:21] CalvinKirs commented on #4881
close by #4882

[2021-02-26 06:21] #4881 closed, assigned to nobody

[2021-02-26 07:03] EricJoy2048 commented on #4878
+1

[2021-02-26 07:08] EricJoy2048 commented on #4878
How is the multi-tenancy of the task designed? Whether the tenant switching is in the upper layer or in the implementation of the plug-in？

[2021-02-26 07:23] CalvinKirs commented on #4878
I think it’s better for the tenants to be managed by the upper management, the task only needs to know which tenant is the specific implementation.

[2021-02-26 12:27] chengshiwen opened #4886 "[Bug][Docker] Cannot create container for service dolphinscheduler-worker: invalid volume specification in Windows"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Run `docker-compose` on Windows
2. See error: `Cannot create conta

[2021-02-27 00:34] davidzollo commented on #4837
good job

[2021-02-27 01:01] davidzollo opened #4891 "[Improvement][Readme] update DolphinScheduler slack invitation url"
the slack invitation url has been expired, please update the url address in README.md and README_zh_CN.md
[code]

please use this new slack invitation url: https://join.slack.com/t/asf-dolphinscheduler/shared_invite/zt-omtdhuio-_JISsxYhiVsltmC5h38yfw

this invitation url never expires

[2021-02-27 01:36] davidzollo opened #4893 "[Improvement][READM.md] update the latest url for `QuickStart in Docker`"
please update the following url
[code]
with new 1.3.5 version :
https://dolphinscheduler.apache.org/en-us/docs/1.3.5/user_doc/docker-deployment.html

[2021-02-27 01:45] #4886 closed, assigned to nobody

[2021-02-27 05:14] chengshiwen opened #4897 "[Bug][Docker] `docker logs -f` command cannot keep outputting logs all the time"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Run a dolphinscheduler by `docker-compose up -d`
2. Run `docker lo

[2021-02-27 05:18] zhuangchong opened #4898 "[Improvement][API] the paging query interface validates page params"
**Describe the question**
 the paging query interface validates page params

 ProcessDefinitionController
 ProcessInstanceController
 ProjectController
 SchedulerController
 TaskInstanceController
 WorkerGroupController

**Which version of DolphinScheduler:**
 -[dev]

[2021-02-27 06:46] #4893 closed, assigned to nobody

[2021-02-27 07:14] yakcy commented on #4855
Assigned to me

[2021-02-27 14:44] #2584 closed

[2021-02-27 14:44] #4732 closed, assigned to nobody

[2021-02-28 04:33] brucemen711 commented on #249
+1 I think we should not embedded with dolphin system. We could intro new module/plugin, so we could gen and put standard data lineage to other systems like apache atlas, marquez(Wework), ...
@dailidong @boandai

[2021-03-01 01:30] leeseven1211 commented on #4388
When can this function be realized

[2021-03-01 07:50] zhenkunlin commented on #4827
我也有需求

[2021-03-01 07:52] 1220985305 commented on #4827
I have the same problem, please

[2021-03-01 07:54] XufengXufengXufeng commented on #4827
Oracle is a widely used database, it should be supported. Please add this feature to DolphineSchedular.

[2021-03-01 08:28] chengshiwen opened #4905 "[Bug][K8s] Incorrect host problem in minikube"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Deploy K8s on minikube by `helm`
2. Access `Worker groups manage`

[2021-03-01 08:53] ZhaoXin-JIN commented on #4430
I have the same problem. Excuse me, have you solved it? How to solve the problem

[2021-03-01 09:14] shiliquan commented on #4430
好像解决了！

[2021-03-01 09:17] shiliquan commented on #4430
你把common.properties里的kerberos.expire.time这个参数改一下试试。
![image](https://user-images.githubusercontent.com/42087586/109476446-e71a6980-7ab1-11eb-8e2f-2c99e760b0c4.png)

[2021-03-01 09:20] BryantYYDS opened #4907 "spark-submit error: __spark_conf__.zip does not exist"
Exception in thread "main" org.apache.spark.SparkException: Application application_1614585492052_0012 failed 2 times due to AM Container for appattempt_1614585492052_0012_000002 exited with  exitCode: -1000
	Failing this attempt.Diagnostics: [2021-03-01 17:12:34.877]File file:/home/dolphinscheduler/.sparkStaging/application_1614585492052_0012/__spark_conf__.zip does not exist
	java.io.FileNotFoun

[2021-03-01 09:22] ZhaoXin-JIN commented on #4430
好，我等今晚过期后修改一下，然后重启worker。目前配置的是24

[2021-03-01 09:23] zongqiren commented on #4430
emmm,我测试过，没有用
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-dolphinscheduler"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年3月1日(星期一) 下午5:22
收件人:&nbsp;"apache/incubato

[2021-03-01 09:25] ZhaoXin-JIN commented on #4430
你现在情况怎么样。解决了么？

[2021-03-01 09:25] shiliquan commented on #4430
那不知道啊，反正我是可以了！

[2021-03-01 09:27] ZhaoXin-JIN commented on #4430
魔幻的问题啊啊啊啊

[2021-03-01 09:30] chengshiwen commented on #4907
@MrZhangZetao How do you submit the Spark job? Could you give us more details? The path prefix of `spark_conf.zip` on YARN should be `hdfs://` instead of `file:/home/dolphinscheduler`.

[2021-03-01 09:33] shiliquan commented on #4430
一、我用的是1.3.4版本
二、我的krb5认证文件如下：（这个文件建议把本机认证的krb5文件统一，所有work都要改）
![image](https://user-images.githubusercontent.com/42087586/109478066-be936f00-7ab3-11eb-9407-775d0f7de79c.png)
三、修改了kerberos.expire.time=1（如果不行，这个参数建议你可以修改小一点，可以用0.2、0.5.....试一下）
然后install重装了一下。
其他的我也没改啥了。
希望可以帮到你。

[2021-03-01 13:31] chengshiwen opened #4908 "[Bug][UI] Dependent task item cannot delete and select"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to 'Process definition create'
2. Create 'Dependent' task
3. Cl

[2021-03-01 13:58] #4908 closed, assigned to nobody

[2021-03-02 01:15] BryantYYDS commented on #4907
就在DS的调度上 , 正常调用spark jar 包 , 建一个spark任务 , 用相同的租户在物理机上执行是可以的 ,下面是完整的日志 .
[INFO] 2021-03-01 17:12:27.754  - [taskAppId=TASK-4-39-41]:[115] - create dir success /tmp/dolphinscheduler/exec/process/4/4/39/41
[INFO] 2021-03-01 17:12:27.869  - [taskAppId=TASK-4-39-41]:[85] - shell task params {"rawScript":"$SPARK_HOME/bin/spark-submit  --master yarn-client --num-executors 2 --executor-cores 2 --executor-

[2021-03-02 01:16] BryantYYDS commented on #4907
@chengshiwen chengshiwen

[2021-03-02 01:37] HanWu2 opened #4913 "Session is not invalid"
After the front-end login, it did not operate for a long time and did not log out

[2021-03-02 02:57] gaozhenfeng1 commented on #4838
我碰到的问题一模一样，请问后来怎么解决的呢

[2021-03-02 04:05] lijufeng2016 opened #4921 "[Bug][log] download log get return 404"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to task instance page
2. Click on view log btn
3. Click downloa

[2021-03-02 04:08] lijufeng2016 commented on #4921
fix download log 404 #4922

[2021-03-02 05:20] CalvinKirs commented on #2619
What puzzles me is, why do you need to return all the project information?

[2021-03-02 05:28] zhuangchong commented on #2619
I think just return the project ID.

[2021-03-02 05:30] CalvinKirs commented on #2619
I think so too

[2021-03-02 05:44] xyzhh commented on #4874
It's a error message of mysql，nothing about DS.

[2021-03-02 05:45] xingchun-chen commented on #4921
good job！

[2021-03-02 06:05] #4624 closed

[2021-03-02 06:12] syb853553110 opened #4924 "[Improvement][Flink] Flink tasks do not support Generic CLI mode"
**Describe the question**
(1)Flink deployment modes currently not supported：yarn-per-job

(2) Some parameters cannot be selected

**What are the current deficiencies and the benefits of improvement**

It is more convenient to submit Flink tasks

**Which version of DolphinScheduler:**
 -[1.3.5-release]

**Describe alternatives you've considered**
（1）Add Options for Generic CLI mode:
-t,--target <ar

[2021-03-02 07:08] chengshiwen commented on #4924
@syb853553110 `yarn-per-job` mode is supported in Flink task, since it's just equivalent to `yarn-cluster` mode

(1) `Generic CLI` mode you said does not support, because the mode is just supported from flink 1.10.
`Attention`: `yarn-per-job` in `Generic CLI` mode is is just equivalent to `yarn-cluster` mode.
We will consider to support `Generic CLI` mode in future.

(2) You can specific the follo

[2021-03-02 07:17] davidzollo opened #4925 "[Improvement][server] need to remove unused comments in ZKMasterClient.java"
the comments  which marked in red block should be deleted, as follows:

![image](https://user-images.githubusercontent.com/15833811/109612128-358b3f00-7b6a-11eb-87d9-087e70710b17.png)

**Which version of DolphinScheduler:**
 -[dev]

[2021-03-02 08:00] chengshiwen commented on #4921
@CalvinKirs This issue should be closed

[2021-03-02 08:04] #4921 closed, assigned to nobody

[2021-03-02 08:05] gabry-lab commented on #2619
I think we'd better don't return all the infos of the created project,however, ID is the only field we need.

[2021-03-02 09:00] ATLgo commented on #4283
+1

[2021-03-02 09:57] lijufeng2016 opened #4929 "[Bug][dao] when run a hive-sql with udf throw ClassCastException"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. create an hive udf
2. run a hive-sql with udf
3. check task log

*

[2021-03-02 10:00] lijufeng2016 commented on #4929
[Fix-4929][dao]fix ClassCastException when run hive sql with udf #4930

[2021-03-02 10:26] #4929 closed, assigned to nobody

[2021-03-02 10:44] davidzollo commented on #4913
show the picture?

did you see the API server runtime log?
By the way, you also can open debug mode in the google brower, if you do these operations, you will find front to api server is connecting sucessful or not

[2021-03-02 11:00] davidzollo commented on #4872
if you directly delete the file on the HDFS, you can upload a file with same name to HDFS

usually, it is not recommend to directly operate on the hdfs

[2021-03-02 11:02] davidzollo commented on #4848
which verison?

[2021-03-02 11:04] davidzollo commented on #4854
good idea,  are you interesting in implementing it ?

BTW, please add/update the description in English, thx

[2021-03-02 13:41] ruanwenjun commented on #4925
assign to me

[2021-03-02 14:56] #4925 closed, assigned to ruanwenjun

[2021-03-03 02:32] lijufeng2016 opened #4934 "[Bug][UI] Index page statics info not show todays but show all history statics task info"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to index page
2. See task info statics and time range,it shows

[2021-03-03 03:52] chengshiwen commented on #4924
@syb853553110 Could you please rename the title to `[Improvement][Flink] Flink tasks do not support Generic CLI mode`? Thx so much!
`

[2021-03-03 07:19] CalvinKirs opened #4939 "[Improvement][worker] Optimize KillYarnJob"
When KillYarnJob, determine whether the target host is the local machine, if it is, rpc communication is not required

org.apache.dolphinscheduler.server.worker.processor.TaskKillProcessor#killYarnJob

[2021-03-03 07:35] lijufeng2016 opened #4940 "[Bug][UI] when upload a file to a directory in resource page,then call resources/list-paging error"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to Resources Center
2. Create a directory,then click into this

[2021-03-03 07:41] CalvinKirs commented on #4854
There are startup parameters on the dev code, which can be set when the workflow is running. Only for this workflow, you can see if it meets your needs.

[2021-03-03 09:10] shiliquan commented on #4430
@JinLin6564 问题解决了么？

[2021-03-03 12:36] #4934 closed, assigned to nobody

[2021-03-03 12:37] #4940 closed, assigned to nobody

[2021-03-03 13:04] ruanwenjun commented on #4939
Assign to me

[2021-03-04 01:40] #4837 closed, assigned to chengshiwen

[2021-03-04 01:40] pptfz opened #4944 "The problem with configuring the NGINX reverse proxy"
I've been using docker installed dolphinscheduler, access method is ` http://1.2.3.4:12345/dolphinscheduler` now

I want to use nginx to configure it to directly access the domain name, but I can't configure it. Could you please help me? Thank you

Now my nginx configuration is as follows, access is `https://ds.abc.com/dolphinscheduler`, I want to use direct access to the `https://ds.abc.com` now,

[2021-03-04 02:05] #4905 closed, assigned to nobody

[2021-03-04 02:08] #2687 closed

[2021-03-04 02:08] #4897 closed, assigned to nobody

[2021-03-04 03:58] xingchun-chen opened #4946 "[Feature][Api] When online the workflow, if there is a timing, add an option: whether to launch a timing, and display the timing expression"
**Describe the feature**
1. When the workflow is offline, timing will be offline at the same time

2. When the workflow is online again, it is easy to forget the online timing
![image](https://user-images.githubusercontent.com/55787491/114370436-0c6ebd00-9bb2-11eb-89cb-0c6e79270c2b.png)

**Describe the solution you'd like**

When online the workflow, if there is a timing, add an option: whether to

[2021-03-04 04:42] chengshiwen commented on #4944
@pptfz You can try to configure nginx like:
[code]

[2021-03-04 06:13] zongqiren opened #4948 "A user is slow to open a defined workflow"
We encountered a rather confusing problem. The workflow of a user accessing DS on the interface is super slow, and it may take ten minutes. Part of the workflow tasks of a user is very fast, not that the workflow execution is slow. It is because the speed of opening a certain workflow interface of this user is very slow, and it cannot be opened for more than ten minutes. What is the reason? How to

[2021-03-04 06:38] davidzollo commented on #4946
good idea, if there are anybody who want to do this Feature, please leave a message

[2021-03-04 07:18] HeChuanXUPT opened #4950 "[Question] create folder or upload file failed?"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
Standalone deployment
resource->file nameger->create folder or upload file get error: hdfs not startup

I have configed:
- conf/env/dolphinscheduler_env.sh:
  - HADOOP_HOME
  - HAD

[2021-03-04 07:29] pptfz commented on #4944
Thanks for your reply, I wrote it myself, it seems that your method is better, thanks
[code]

[2021-03-04 07:43] ATLgo commented on #4283
@zixi0825 大佬，想请教一下怎么才能将您完成的功能跑起来？

[2021-03-04 07:45] chengshiwen commented on #4950
@HeChuanXUPT Have you set `resource.storage.type=HDFS`?

[2021-03-04 07:47] zixi0825 commented on #4283
It is not completed yet

[2021-03-04 08:03] lijufeng2016 opened #4951 "[Bug][Master] When kill process instance bug it always in READ_STOP state"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a process definition,create a shell node and named BBB,edit

[2021-03-04 08:22] lijufeng2016 opened #4953 "[Bug][API] When edit process definition get process node has cycle error"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a process definition,create a shell node and dependt on a d

[2021-03-04 08:53] HeChuanXUPT commented on #4950
thanks, upload success after set resourceStorageType="HDFS

[2021-03-04 08:53] #4950 closed, assigned to nobody

[2021-03-04 09:19] xingchun-chen commented on #4944
if your problem was resolved, please close it, thanks

[2021-03-04 09:22] #4944 closed, assigned to nobody

[2021-03-04 10:14] xingchun-chen commented on #4948
Which version?

Open the browser console to see which interface is slow and what is the JSON value of the workflow

[2021-03-04 10:15] chengshiwen opened #4955 "[Bug][Worker] Worker cannot start and alertClientService NullPointerException"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Start worker server
2. See error

This issue is introduce by #4626

[2021-03-04 13:10] #4839 closed, assigned to nobody

[2021-03-04 17:04] chengshiwen opened #4960 "[Feature][Spark] Support spark name"
**Describe the feature**
Support spark name, which is common option

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I will implement this feature

[2021-03-05 01:50] #4955 closed, assigned to nobody

[2021-03-05 01:56] dddyszy commented on #4951
see #4839 if these is the same log in dolphinscheduler-master.log

[2021-03-05 07:44] zongqiren commented on #4948
version 1.3.2&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-dolphinscheduler"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年3月4日(星期四) 晚上6:15
收件人:&nbsp;"apache/i

[2021-03-05 07:46] ZhaoXin-JIN commented on #4430
没有。哎。。

[2021-03-05 10:02] zhuangchong opened #4963 "[Bug][Dao] Mybtis Mapper used foreach syntax to traverse collections and the collection was empty"
**Describe the bug**
Mybtis Mapper used foreach syntax to traverse collections and the collection was empty

**Screenshots**
![image](https://user-images.githubusercontent.com/37063904/110100105-003a5780-7ddd-11eb-8a37-71fcd7713108.png)

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-03-05 13:34] #4705 closed, assigned to nobody

[2021-03-05 13:58] CalvinKirs opened #4971 "[Improvement][common] Remove redundant PropertyUtils.class"
We are flooded with too many PropertyUtils.class, in my opinion, there is no need, therefore, it is best to keep only the common-model.

[2021-03-05 14:09] vimacro opened #4972 "[Improvement][Worker] yarn kill job after kinit (kerberos)"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
After yarn kerberos authentication is enabled, kerberos TGT needs to be initialized when yarn kill is executed

yarn 开启kerberos认证之后，执行yarn kill 的时候需要初始化kerberos TGT

[2021-03-06 01:41] Ts686 commented on #4971
pls assigne to me

[2021-03-06 03:04] Tsd-217 opened #4979 "[Bug][Sqoop ] Sqoop Query"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
When I use sqoop query to write SQL statements with single quotation marks, sqoop cannot recognize it

**To Reproduce**
Steps to reproduce the behavior, for example:
step1：
Configure th

[2021-03-06 05:54] BryantYYDS opened #4981 "The spark submitted task runs successfully, but the UI interface icon shows failure, ds version 1.3.4"
The spark submitted task runs successfully, but the UI interface icon shows failure, ds version 1.3.4

[2021-03-06 06:00] zhuangchong commented on #4981
Check if there are any exception logs in the worker log file

[2021-03-06 06:28] chengshiwen commented on #4981
@MrZhangZetao Could you give us more details for the spark task? such as spark-submit command, exception.

[2021-03-06 12:25] chengshiwen opened #4984 "[Improvement][Worker] Worker Load Balance Improvement"
**Describe the question**

The worker load balance solution in the dev branch is a good feature, and it's based on the `weight` and `start time` of the worker.

- `weight` is configured by `worker.weight`
- `start time` is set when the worker is registered to zookeeper

The zookeeper registration path of the worker is `/dolphinscheduler/nodes/worker/default/<ip>:<port>:<weight>:<startTime>`, for e

[2021-03-06 12:39] zhaolun7 opened #4985 "Do not replace the contents of variables when executing shell script tasks"
最好改为在父shell中export foo=bar，而不是直接将脚本的内容进行替换
[code]
![image](https://user-images.githubusercontent.com/16096787/110206956-e58ae000-7ebb-11eb-8392-36f493788764.png)

![image](https://user-images.githubusercontent.com/16096787/110206973-f8051980-7ebb-11eb-8b18-0c47b276cf4f.png)

[2021-03-06 13:18] zhuangchong opened #4986 "[Improvement][Master] Remove master delete task execution script file operations and ProcessInstance processDefinition null pointer."
**Describe the question**
1.Remove master delete task execution script file operations
2.ProcessInstance processDefinition null pointer.

**Which version of DolphinScheduler:**
 -[dev]

![iShot2021-03-03 13 01 32](https://user-images.githubusercontent.com/37063904/110207986-744e2b80-7ec1-11eb-88d6-514f1ad3e5c7.png)

[2021-03-06 13:39] yakcy commented on #4855
@CalvinKirs category code design as :  First category(2 digits)-Secondary category(2 digits)-Three-level category(3 digits)
like PROJECT_NOT_FOUNT(0100004, "project {0} not found ", "项目[{0}]不存在")
![image](https://user-images.githubusercontent.com/10624010/110208831-5a621800-7ec4-11eb-9193-0761302ca068.png)

[2021-03-06 13:41] chengshiwen commented on #4986
@zhuangchong  This is not a problem. Please set `-Dlogging.config=classpath:logback-master.xml`.

[2021-03-06 14:45] CalvinKirs commented on #4855
looks good to me.

[2021-03-06 15:04] chenshuai1995 opened #4988 "[Improvement][docs] For unified style, uppercase the first letter"
**Describe the question**
For unified style, uppercase the first letter of the state of Process Instance.
![image](https://user-images.githubusercontent.com/26338429/110210956-47a11080-7ecf-11eb-9b6c-73d478455e6a.png)

**What are the current deficiencies and the benefits of improvement**
- Unified style, improvement user experience
- Doesn't make people feel weird

**Which version of DolphinSchedu

[2021-03-06 15:06] chenshuai1995 commented on #4988
It is my first issue and pr. Please assigen me. Thanks!

[2021-03-06 15:10] chenshuai1995 commented on #4988
I will fix it soon!

[2021-03-07 12:20] xingchun-chen opened #4994 "[Bug][Api] Edit user error"
![image](https://user-images.githubusercontent.com/55787491/110239536-61e7f680-7f82-11eb-99cc-96669babf034.png)
![image](https://user-images.githubusercontent.com/55787491/110239553-85ab3c80-7f82-11eb-91fe-a52d5d46d509.png)

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-03-07 12:25] xingchun-chen opened #4995 "[Bug][api] select an existing tenant, the workflow fails to run, indicating that the tenant does not exist"
![image](https://user-images.githubusercontent.com/55787491/110239702-40d3d580-7f83-11eb-8cb9-14f0110ac478.png)
![image](https://user-images.githubusercontent.com/55787491/110239708-47fae380-7f83-11eb-8c43-5435143e5c7b.png)

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-03-07 16:01] chengshiwen opened #4997 "[Improvement][Worker] Rename worker.weight to worker.host.weight"
**Describe the question**

The semantics of the configuration `worker.weight` in worker is not clear, it is recommended to rename the item to `worker.host.weight`

**What are the current deficiencies and the benefits of improvement**

- Cleaner and more understandable semantics

**Which version of DolphinScheduler:**
 -[dev]

**Describe alternatives you've considered**

Alternatives:

- `worker.ex

[2021-03-08 00:54] #4809 closed, assigned to nobody

[2021-03-08 02:59] jepsonzhang opened #4999 "[Bug][MasterServer] MasterServer Process stuck"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1、集群由3个节点组成，正常运行的情况下

2、执行了一个失败的任务流实例故障恢复
3、重复点击了两次

**Expected behav

[2021-03-08 03:01] jepsonzhang commented on #4999
日志截图我重新上传上来
![13](https://user-images.githubusercontent.com/18161585/110268963-964cc880-7ffd-11eb-9617-6bf91e222f7b.png)
![14](https://user-images.githubusercontent.com/18161585/110268968-98168c00-7ffd-11eb-91db-09c0dfeec96f.png)
![15](https://user-images.githubusercontent.com/18161585/110268972-9baa1300-7ffd-11eb-80c4-b5a7ffd3f860.png)

[2021-03-08 03:26] wanghong1314 commented on #4789
please assign me,  i'll try

[2021-03-08 08:18] HeChuanXUPT opened #5003 "[Question] java.io.FileNotFoundException: Properties file does not exist when start flink task"
**Describe the question**
I want to do test for flink node. I have uploaded the jar file and a configuration file "sql.config" successfully, and I have set the flink node settings, include Main Package and Resources.
But get exception when start a task.

**Which version of DolphinScheduler:**
 -[1.3.5-dolphinscheduler-bin]

**Additional context**
task log:
[code]

check files, /tmp/dolphinschedule

[2021-03-08 08:32] ZJ577624359 opened #5004 "Unable to execute shell"
![image](https://user-images.githubusercontent.com/79566794/110295296-e9d60b00-802b-11eb-8c34-1a9ad155c64a.png)

[2021-03-08 08:35] ZJ577624359 commented on #5004
环境变量没问题，在命令行是可以执行的。

[2021-03-08 09:41] xingchun-chen commented on #4948
Check whether the interface /projects/${projects}/process/list-paging returns the processdefinitionjson value

![image](https://user-images.githubusercontent.com/55787491/110303309-340fba00-8035-11eb-9d23-d328dd091f9d.png)

[2021-03-08 10:23] xingchun-chen commented on #4994
Caused by historical data

[2021-03-08 10:23] #4994 closed, assigned to nobody

[2021-03-08 10:27] chengshiwen commented on #5003
@HeChuanXUPT Maybe you should use `flink run -m 172.16.7.59:30081 -c com.data.finkttest.DdlJob test1/TestJob-1.0-SNAPSHOT-jar-with-dependencies.jar -config hdfs://xxxx/path/to/sql.config`

In other words, you should set `main args` to `-config hdfs://xxxx/path/to/sql.config` and the hdfs is supported

[2021-03-08 10:41] chengshiwen commented on #5004
@ZJ577624359 Could you give us more details about the shell task? What is the shell command?

[2021-03-08 12:17] #4972 closed, assigned to nobody

[2021-03-08 12:31] ruanwenjun commented on #4997
I understand your idea, and I can submit a pull request if you are sure to make this change.

[2021-03-08 12:36] chengshiwen commented on #4997
Not sure yet

[2021-03-08 12:38] CalvinKirs commented on #4997
worker.host.weight? how do you think?

[2021-03-08 12:44] chengshiwen commented on #4997
It's better than the alternatives!

[2021-03-08 14:07] CalvinKirs commented on #4995
This is not a bug, you can refer to the email discussion: https://lists.apache.org/thread.html/ra44b2e69759fcc980e4ed04c1811037bf0e743e47827fc2dcd1049d6%40%3Cdev.dolphinscheduler.apache.org%3E

[2021-03-08 14:35] chengshiwen commented on #4997
@ruanwenjun Are you considering solving this issue? thx a lot~

[2021-03-08 14:51] ruanwenjun commented on #4997
OK，I will finish it as soon as possible

[2021-03-08 14:58] chengshiwen commented on #4997
@ruanwenjun
Pay attention to search and replace globally:
-`worker.weight`
-`WORKER_WEIGHT`
-`worker weight`
-`private int weight;`

[2021-03-08 15:28] chengshiwen opened #5006 "[Feature][Worker] Add a configuration item to set whether the tenant is automatically created on Worker"
**Describe the feature**

In the dev branch, the tenant executing a task will not be automatically created in worker. This will cause issue [#4995](https://github.com/apache/incubator-dolphinscheduler/issues/4995)

In the following two scenarios, it will cause inconvenience to users

- Product or operation people want to automatically create users instead of manually creating tenants
- In the dock

[2021-03-09 01:36] ZJ577624359 commented on #5004
@chengshiwen
#!/bin/sh
#日期参数
CURRENT_DATE=`date +%Y%m%d`
echo '当前日期参数:CURRENT_DATE'
最基础的打印日期
想问下dolphinscheduler 登录linux是用什么用户。

[2021-03-09 01:37] HeChuanXUPT commented on #5003
@chengshiwen  I want to manage "sql.config" in Resources. So, the Resources config of flink node, what is it used for ? And how it works?

[2021-03-09 01:44] #4963 closed, assigned to nobody

[2021-03-09 03:10] chengshiwen commented on #5003
@HeChuanXUPT If you want to keep the command `flink run -m 172.16.7.59:30081 -c com.data.finkttest.DdlJob test1/TestJob-1.0-SNAPSHOT-jar-with-dependencies.jar -config sql.config`, it's better to place the `sql.config` in Resources. And then, you need to choose the resource `sql.config` in flink task panel and DolphinScheduler will download the resource `sql.config` into flink execution directory,

[2021-03-09 03:17] ZJ577624359 commented on #5004
问题已解决，非常感谢，主要问题是dolphinscheduler_env.sh环境变量，官网文档配置写的不太清晰，导致没有加入自己主机老的$PATH

[2021-03-09 03:27] chengshiwen commented on #5004
@ZJ577624359 Welcome to submit pr to participate in the DolphinScheduler open source community

[2021-03-09 03:46] chengshiwen opened #5011 "[Improvement][Script] Remove the duplicated $PATH in script/env/dolphinscheduler_env.sh"
**Describe the question**

Remove the duplicated`$PATH` in `script/env/dolphinscheduler_env.sh` and `docker/build/conf/dolphinscheduler/env/dolphinscheduler_env.sh.tpl`

**Which version of DolphinScheduler:**
 -[1.3.x]
 -[dev]

[2021-03-09 04:51] #4960 closed, assigned to nobody

[2021-03-09 05:49] HeChuanXUPT commented on #5003
@chengshiwen Thanks, I have solved the problem.  The `sql.config`  has been upload already, but it is under test1/CONF directory and I must have to config the full path in flink node instead of only filename.

to

[2021-03-09 09:15] dickson-bit commented on #4578
host1 can't directly visit the   http://{host2}:8088/ ?,   host1  can login to  host2  by ssh method,
so I can't  modify  the file  common.properties.

[2021-03-09 09:26] dickson-bit commented on #4578
the  sh script file content : for example
sh "ssh -tt xxx@10.xx.xx.xx -p 10022 -i  ./conf/private.key   < vip_video_meta_info_base.sh"
I can  login any host in  script file,  which is isolated by the  ssh gateway,   DS can  get the child  process,
but the  restful api url can't visit on  ds  system

[2021-03-09 09:57] dickson-bit commented on #4578
![image](https://user-images.githubusercontent.com/2010095/110453236-ebbdce00-8100-11eb-84a2-5462c8510d9f.png)

[2021-03-09 14:35] ruanwenjun opened #5015 "[Improvement][API] Make the return value clearer"
**Describe the question**
The return value of some interfaces is not clear, such as you see in xxController.

**What are the current deficiencies and the benefits of improvement**
Clarifying the type of the method's return value can make the code read better.

**Which version of DolphinScheduler:**
 -[1.3.x]
 -[dev]

[2021-03-09 15:40] #5011 closed, assigned to nobody

[2021-03-09 15:47] chengshiwen opened #5018 "[Improvement][Datax] Re-assign DATAX_HOME to /opt/soft/datax instead of /opt/soft/datax/bin/datax.py"
**Describe the question**

`DATAX_HOME=/opt/soft/datax/bin/datax.py` in `script/env/dolphinscheduler_env.sh` is not reasonable

Including the quick start page on the [official website](https://github.com/alibaba/DataX/blob/master/userGuid.md), `DATAX_HOME` represents the root directory of Datax. So `/opt/soft/datax` is more reasonable.

**What are the current benefits of improvement**
- Avoid misu

[2021-03-10 00:55] CalvinKirs commented on #4997
close by #5014

[2021-03-10 00:55] #4997 closed, assigned to nobody

[2021-03-10 01:21] #4862 closed, assigned to nobody

[2021-03-10 02:12] wa-ooo opened #5024 "[Improvement][Worker] Python Command"
In general, the home is the directory where the software is installed，but the commandInterpreter method use the Python home directory in PythonCommandExecutor.java, which is in the environment variable configuration file needs to be configured PYTHON_HOME to PYTHON_HOME/bin/Python. Obviously, this is unreasonable and misleading

**Describe alternatives you've considered**

[code]

[dev]

[2021-03-10 06:06] JacobZheng0927 commented on #4381
I can do this.

[2021-03-10 09:39] didiaode18 opened #5026 "[Improvement][common]When I run a spark task, the webui observation in yarn is successful, but the response result in dolphinscheduler fails."
1. Describe the question

    When I run a spark task, the webui observation in yarn is successful, but the response result in dolphinscheduler fails.

2. What are the current deficiencies and the benefits of improvement

Our default attribute value  yarn.application.status.address=http://ds1:8088/ws/v1/cluster/apps/%s  in common.properties   is not reasonable   and   our  default common.propertie

[2021-03-10 14:13] chengshiwen opened #5028 "[Feature][MR] Support mapreduce name"
**Describe the feature**

Support mapreduce name, which is common option

**Is your feature request related to a problem? Please describe.**

No

[2021-03-10 15:53] chengshiwen commented on #5024
@wa-ooo Hi, would you like to submit a pr to fix this issue?

[2021-03-11 01:23] #4951 closed, assigned to nobody

[2021-03-11 01:23] #4953 closed, assigned to nobody

[2021-03-11 03:13] lijufeng2016 opened #5032 "[Improvement][Alert] Support send emial attachment"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
When send a email attachment,I got this exception as following:
javax.mail.MessagingException: IOException while sending message
	at com.sun.mail.smtp.SMTPTransport.

[2021-03-11 03:35] #5032 closed, assigned to nobody

[2021-03-11 04:35] #5028 closed, assigned to nobody

[2021-03-11 05:36] chengshiwen commented on #5004
@ZJ577624359 Hi, since this issue has been solved, so could you close it? thx~

[2021-03-11 05:36] chengshiwen commented on #5003
@HeChuanXUPT Hi, since this issue has been solved, so could you close it? thx~

[2021-03-11 05:38] ZJ577624359 commented on #5004
@chengshiwen OK

[2021-03-11 05:39] #5004 closed, assigned to nobody

[2021-03-11 05:40] ZJ577624359 commented on #4863
问题已解决

[2021-03-11 05:40] #4863 closed, assigned to nobody

[2021-03-11 05:45] #5003 closed, assigned to nobody

[2021-03-11 06:37] chengshiwen opened #5035 "[Improvement] The management and specification of the HOME environment variables of multiple executors"
**Describe the question**

The `HOME` environment variables of multiple executors are as follows:

[code]

But the value of some `HOME` variables is not reasonable, like `PYTHON_HOME` and `DATAX_HOME`. Both of them are the file path, so `$PYTHON_HOME` and `$DATAX_HOME` in `PATH` will not take effect. This will make people feel confused.

**Python/Datax related issues**: #113 #708 #2548 #2620 #2868

[2021-03-11 07:13] cmhello88 commented on #2620
+1

[2021-03-11 14:13] #4939 closed, assigned to ruanwenjun

[2021-03-11 14:14] #4884 closed, assigned to nobody

[2021-03-11 17:32] chengshiwen opened #5037 "[Bug][Server] Both the master and the worker is hanging after restarting and stopping"
**Describe the bug**

Both the master and the worker is hanging after restarting and stopping. **It may affect the actual restart and stop operations**

**To Reproduce**

On **dev branch**:

The normal video on commit 54fc458:

https://user-images.githubusercontent.com/4902714/110827337-ec0cc380-82d0-11eb-8edb-f1bf0d87e389.mp4

The hanging video on commit 43ba29a, which is introduced by #4626:

ht

[2021-03-12 01:20] chengshiwen commented on #5037
The reason of this issue is that:

1. `System.exit()` will trigger JVM `ShutdownHook`, and wait for all `ShutdownHook` to end
2. `ShutdownHook` call `close` method which call `System.exit()`
3. Dead lock occurs

[2021-03-12 01:33] #5037 closed, assigned to nobody

[2021-03-12 01:45] itonway opened #5040 "Idle timeout expired: 30001/30000 ms"
process/save    java.io.IOException: java.util.concurrent.TimeoutException: Idle timeout expired: 30001/30000 ms

[2021-03-12 03:03] chengshiwen commented on #5040
@itonway Hi, could you give us more details? such as **the steps to reproduce**, **the DolphinScheduler version** and **the detailed exception stack log**? Thx a lot!

[2021-03-12 03:27] ptyp commented on #4846
The log in the first screenshoot is the only log I got.

[2021-03-12 04:31] qmengss opened #5041 "[Improvement][API] remove the "sql join" for data list interfaces"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*
The returned data contains detailed information, some of interfaces get the detailed information by join Sql, that made adverse effect  on performance, resulting in slow response speed.

**Des

[2021-03-12 04:35] qmengss commented on #5041
this issue is connected to #4466 ,the following two interfaces can be optimized first:

1. instance/list-paging
2. task-instance/list-paging

[2021-03-12 07:24] CalvinKirs opened #5042 "[Feature][Alert-Plugin] [WeChat]Group chat bots alert"
Our current default enterprise WeChat alert plug-in: only supports message sending from custom applications

(https://work.weixin.qq.com/api/doc/90001/90143/90371), which is usually complicated to configure and even requires

Sufficient permissions, therefore, we need to provide another kind of support, that is, group chat robot sending support, it

usually only needs a simple http request + token

[2021-03-12 08:11] Eights-Li commented on #4979
ds-1.3.4 fixed this bug

[2021-03-12 08:13] Eights-Li commented on #4981
check the yarn conf for ds
path: /conf/config/install_config.conf
config: yarnHaIps or singleYarnIp

[2021-03-12 08:48] #4988 closed, assigned to chenshuai1995

[2021-03-12 15:02] vimacro opened #5044 "[Bug][Master] Fix First master fault tolerance when startup"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
Filtering an empty Host results in failure to perform Master startup fault tolerance
过滤空Host导致未执行Master启动容错

![image](https://user-images.githubusercontent.com/11975398/110957734-df4aa7

[2021-03-12 16:01] #5044 closed, assigned to nobody

[2021-03-12 16:13] CalvinKirs commented on #5041
I think this is a very necessary job. Can you complete it?

[2021-03-12 16:15] CalvinKirs commented on #5040
hi, please provide detailed stack information and version,I can't confirm where the heartbeat detection is.thx

[2021-03-12 16:24] CalvinKirs commented on #5015
It is usually recommended that the service return a specific object and be packaged by the controller. This is more intuitive, at least through the controller calling service, we can intuitively see what his specific data return object is. The return interface of service Map<String,Object> is difficult to intuitively understand what it returns.

[2021-03-12 16:33] CalvinKirs commented on #4995
As I said, this is not a bug. If you need to implement this feature, you can discuss it at #5006. I will close it.

[2021-03-12 16:33] #4995 closed, assigned to nobody

[2021-03-13 09:27] qmengss commented on #5041
ok, I will complete it.

[2021-03-13 14:00] xingchun-chen opened #5048 "[Bug][Api] Delete the stopped workflow without deleting the corresponding sub process, the workflow instance name is not displayed in the sub process"
1.stop workflow，Workflow contains sub_process
2.delete the workflow, No sub_process were deleted, the workflow instance name is not displayed in the sub process

![image](https://user-images.githubusercontent.com/55787491/111032444-40d24a80-8447-11eb-9bc9-963c9914a06a.png)
**Expected results**
delete the workflow,  need to delete all tasks under the workflow, including sub_process

**Which version

[2021-03-14 13:04] yakcy commented on #4855
update :

![image](https://user-images.githubusercontent.com/10624010/111069590-bfdb8780-8508-11eb-8095-434ae6458128.png)

[2021-03-14 13:07] yakcy commented on #4855
update:
![image](https://user-images.githubusercontent.com/10624010/111069699-38dadf00-8509-11eb-958d-71d8af418de0.png)

[2021-03-15 02:22] #5024 closed, assigned to nobody

[2021-03-15 03:16] jonny-gg commented on #116
+1

[2021-03-15 03:17] EricJoy2048 commented on #5042
I want to work for this issue.

[2021-03-15 03:22] onebewill opened #5052 "[Permission Control][Authorize a project] Add the option of "read only" permission when authorizing the project"
*For better security control, please give priority to adding the option of "read only" permission when authorizing the project, thx! *

**Describe the feature**
Add the option of "read only" permission when authorizing the project

**Is your feature request related to a problem? Please describe.**
Another people changed and resaved the flow when I authorized my one of projects to him,because his p

[2021-03-15 03:28] CalvinKirs commented on #5042
This may be achieved with http-alert, I will confirm later, if possible, we can write a tutorial.

[2021-03-15 03:35] #4876 closed, assigned to nobody

[2021-03-15 03:38] EricJoy2048 commented on #2869
Hi, hermeshephaestus
We have completed the plug-in of the alert module . You can get the information from this issue : [Feature] Alert Plugin Design #3049 .
Register center plugin-in and task plugin-in is doing , You can see it at this issue :
https://github.com/apache/incubator-dolphinscheduler/issues/3961.
https://github.com/apache/incubator-dolphinscheduler/issues/4878.

[2021-03-15 03:41] EricJoy2048 commented on #5042
Ok.

[2021-03-15 05:00] #2869 closed

[2021-03-15 05:57] #4979 closed, assigned to nobody

[2021-03-15 06:43] xingchun-chen opened #5053 "[Bug][master] After failure retry, the task status of successful operation after Condition node is not cleared"
1. The workflow failed to run

2. workflow instance page, click failed to retry

3. View workflow instance DAG and task instance, shell_ 4 task is always in the successful state. failed to retry again, the shell_ 4 not implemented
![image](https://user-images.githubusercontent.com/55787491/111113436-bf8ccc00-859c-11eb-9832-d2086fe4db5b.png)
![image](https://user-images.githubusercontent.com/557874

[2021-03-15 10:09] lijufeng2016 opened #5055 "[Bug][UI] Can not upload file to correct dir"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create 2 file resources dir on UI,named dirA and dirB
2. upload a

[2021-03-15 11:02] cyx-code opened #5057 "start process,FailureStrategy.CONTINUE is not work"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.

Start the process define, select the failure strategy to continue, but it does not take effect. When the execution of my t

[2021-03-15 12:24] zhuangchong opened #5058 "[Improvement][Master] The master-server creates the DB data source twice"
**Describe the question**
The master-server creates the DB data source twice

1. Load the data source through Spring

2.AlertManager builds the data source with the ConnectionFactory factory class

**Which version of DolphinScheduler:**
 -[dev]

![image](https://user-images.githubusercontent.com/37063904/112297565-03847d00-8cd1-11eb-878b-75e12060172a.png)

[2021-03-15 12:35] zhuangchong opened #5059 "[Improvement][API] Verify that the new workflow definition version is the current version before removing it"
**Describe the question**
Verify that the new workflow definition version is the current version before removing it

1.A new method to the Delete API verifies that the workflow definition version is in use
2.UI additions prohibit deleting the current version

**Which version of DolphinScheduler:**
 -[dev]

[2021-03-15 14:18] CalvinKirs opened #5061 "[Improvement][SQL]SQL optimization"
We should write SQL more granularly, eg, some queries only need to return true or false, but for general purpose, the actual sql statement we write is like this,
[code]

A lot of unnecessary fields were queried, and at the same time, there was no paging.

This is a real business application，As you can see, he only needs one piece of data, but he queried the entire list.
[code]

He only needs to kn

[2021-03-15 14:22] CalvinKirs commented on #5061
I just give you an example, you can check our code to optimize for such use. Everyone is welcome to submit PR

[2021-03-15 14:27] ruanwenjun commented on #5061
I can try this task.

[2021-03-15 14:32] CalvinKirs commented on #5061
This is a big feature, You can create sub-issues

[2021-03-16 01:22] CalvinKirs commented on #714
If the import and export cannot meet the current needs, when we need to develop again, please pay attention to keeping the environment equivalent.

[2021-03-16 01:23] #3005 closed

[2021-03-16 01:24] #3387 closed

[2021-03-16 01:24] #3416 closed

[2021-03-16 01:24] #3676 closed

[2021-03-16 01:25] #3820 closed

[2021-03-16 01:27] #3937 closed

[2021-03-16 06:22] chengshiwen opened #5062 "[Feature][*] Create/Edit/Delete Worker Group in Web UI"
**Describe the feature**

*Create/Edit/Delete Worker Group in Web UI, as shown in the picture below*

![image](https://user-images.githubusercontent.com/4902714/111264725-05ac6300-8663-11eb-8b29-7272c0cdd7de.png)

**Is your feature request related to a problem? Please describe.**

At present, it's very inconvenient to `create/edit/delete` worker groups. I need to modify `worker.properties` and res

[2021-03-16 06:38] chengshiwen commented on #5006
@CalvinKirs The latest discussion result refers to https://lists.apache.org/thread.html/r084b4cf96198005999bb594b54d4ff04cfdf41dd161073e952603a03%40%3Cdev.dolphinscheduler.apache.org%3E

There are 10 replies:
+1: 7 replies
+0: 1 reply
-1: 2 replies, and there is no clear and reasonable reason for docker/k8s

**Conclusion: Most people would prefer to add a configuration item to set whether the tena

[2021-03-16 08:05] #4873 closed, assigned to nobody

[2021-03-16 08:21] masterable opened #5064 "[Spark] resource list use problem"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.
When I select a resource in the resource list,then run the spark task
It will prompt me that the resource does not exist,bu

[2021-03-16 09:05] chengshiwen commented on #5064
@masterable Could you show the content of the file `45_45_48.command`? And is there a leading space in the `spark-work` directory in the resource center?

[2021-03-16 09:22] masterable commented on #5064
None of this is a problem, the problem lies in the parameter settings

![image](https://user-images.githubusercontent.com/41288492/111285433-1ae1bb80-867c-11eb-9bbe-5477c0d30198.png)

[2021-03-16 09:22] #5064 closed, assigned to nobody

[2021-03-16 10:08] haydenzhourepo opened #5065 "[Bug][runtime] useradd: invalid user name '10000' when run flink job on k8s"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
I have deployed dolphinscheduler on k8s with helm, and I run a flink job , but got the message[ useradd: invalid user name '10000' ]

below is the full log:
[code]

**To Reproduce**
1.

[2021-03-16 10:44] CalvinKirs commented on #5048
This problem only occurs for users who use postgresql.

The reason is that the t_ds_task_instance table does not add a foreign key delete constraint.

[2021-03-16 11:13] chengshiwen commented on #5065
@haydenzhourepo On linux, you cannot create user named `10000`. Please change it to a valid username.

By the way, please tell us the version of Dolphin Scheduler Helm Chart and the image id of `apache/dolphinscheduler:latest`

[2021-03-16 11:22] haydenzhourepo commented on #5065
@chengshiwen
![image](https://user-images.githubusercontent.com/21101605/111301118-cabf2500-868c-11eb-9085-69bc30153a9d.png)

where and how to change it, is there a document? thanks

[2021-03-16 11:29] chengshiwen commented on #5065
@haydenzhourepo In Tenant Manage (租户管理), you should create a tenant like `ds`, and then, you need to associate this tenant to a user.

For more information, please refer to the official document https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/kubernetes-deployment.html

[2021-03-16 11:33] chengshiwen commented on #5065
By the way, the flink binary release is not packaged into the image of dolphinscheduler. If you want to run flink task, you need to mount the flink binary release into the container.

For a quick test, you can run a shell or python task.

[2021-03-16 11:37] haydenzhourepo commented on #5065
Thanks , i want use DS as a deploy tool for production , i will try to flnd the way to package flink binary to the container.

[2021-03-16 11:45] haydenzhourepo commented on #5065
@chengshiwen      ds use the tenant code as username to create user,  I changed the tenant to a valid Linux name then the program can create user normally.  so I think this is a bug.  we should validate the tenant code that user inputs. I will give a pr to fix this problem.

[2021-03-16 11:46] #5065 closed, assigned to nobody

[2021-03-16 11:48] chengshiwen commented on #5065
@haydenzhourepo This problem does exist, welcome to submit pr.

In the 1.3.6 document, I will give a task support matrix on docker and k8s, and this work will show what additional steps some tasks like hadoop and flink may require to be executed successfully.

[2021-03-16 11:55] haydenzhourepo commented on #5065
hope to see 1.3.6 docs soon.  Flink support many resource managers like yarn , k8s and so on.  and support many job submit mode, does DS let user choose those options? . I think flink on native k8s is the easiest way to create a flink cluster. if there is a default options.  I want it is the native k8s. 😄

[2021-03-16 11:56] chengshiwen opened #5068 "[Improvement][Docker/K8s] Task support matrix and solution on docker/k8s"
**Describe the question**

**Task support matrix and solution on docker/k8s**

In initial docker/kubernetes deployment, some tasks cannot be directly supported like flink in issue #5065.

So we should give a task support matrix and solution on docker/k8s, such as hadoop (hdfs/yarn), spark, flink, hive ant etc.

**What are the current deficiencies and the benefits of improvement**

- A clear task s

[2021-03-16 12:03] haydenzhourepo commented on #5068
can you leave a brief introduction of those steps, I want to have a try as soon as possible. thanks. 😄

[2021-03-16 12:06] chengshiwen commented on #5068
@haydenzhourepo You can offer some necessary tasks, I will reply you as soon as possible

[2021-03-16 12:11] haydenzhourepo commented on #5068
1.  create a custom DS image with flink libs
2. configure flink cluster
3. submit a flink stream job with native k8s and application mode.
4. submit a flink batch job with native k8s and application mode per hour.
5. checkout the status and metrics of those jobs

[2021-03-16 12:20] chengshiwen commented on #5068
At present, Flink tasks do not support `Generic CLI` mode. This means that application mode (including kubernetes-application) is not supported. This feature will be implemented in the next version (not `1.3.6`).

[2021-03-16 12:54] ruanwenjun opened #5069 "[Improvement][Dao] SQL optimization - check exist"
**Describe the question**
As report by #5061, we need to optimize the sql.

**What are the current deficiencies and the benefits of improvement**
Improve the performance about check some exist with cleaner method

**Which version of DolphinScheduler:**
 -[dev]
 -[1.3.6]

[2021-03-16 13:45] haydenzhourepo commented on #5068
what resource manager and submit mode DS support currently

[2021-03-16 13:51] mrproliu opened #5071 "[Bug][Server] When setting value on shell script, it not working on the next task node."
**When setting value on shell script, it not working on the next task node.**
If using `${setValue(key, value)}` function in the shell task, it needs to share the `key` to the process instance. but now, it's not working.

**Which version of Dolphin Scheduler:**
 - [current dev branch]

[2021-03-16 13:56] #5071 closed, assigned to nobody

[2021-03-16 14:50] wushuang3625 commented on #4824
I have the same question,  can anyone  answer it?

[2021-03-17 03:12] chengshiwen commented on #5068
Local cluster, standalone cluster and YARN per job (yarn-cluster mode)

[2021-03-17 04:26] CalvinKirs commented on #4924
close by #4937

[2021-03-17 04:26] #4924 closed, assigned to nobody

[2021-03-17 05:22] CalvinKirs commented on #4803
version-dev

[2021-03-17 06:38] #5018 closed, assigned to nobody

[2021-03-17 07:06] pifuguoshi opened #5075 "[Bug][Module server worker] reboot zk dead node won't delete?"
**Which version of Dolphin Scheduler:**
 -[1.3.6-dev]

**Additional context**
![image](https://user-images.githubusercontent.com/10048440/111428001-e4ff0e80-8731-11eb-8cb0-3d272c05ffe9.png)

**Requirement or improvement**
- Please describe about your requirements or improvement suggestions.
get zkpath not append timestamp
![image](https://user-images.githubusercontent.com/10048440/111428308-47580f

[2021-03-17 07:28] #4971 closed, assigned to Ts686

[2021-03-17 07:30] chengshiwen commented on #5075
@pifuguoshi This issue is fixed by pr #4996, please see the related issue #4984

[2021-03-17 09:29] xingchun-chen commented on #5057
At present, the failure strategy is only valid for parallel tasks

[2021-03-17 09:35] cyx-code commented on #5057
ok,thanks for your answer

[2021-03-17 09:35] #5057 closed, assigned to nobody

[2021-03-17 10:38] wgwtransfer opened #5079 "本地运行Python脚本报错"
修改dolphinscheduler_env.sh中“export PYTHON_HOME=/opt/soft/python”为本机python目录，执行中报“sudo: /opt/soft/python: command not found”错误，求助问题在哪呢？

[2021-03-17 10:38] wgwtransfer opened #5080 "本地运行Python脚本报错"
修改dolphinscheduler_env.sh中“export PYTHON_HOME=/opt/soft/python”为本机python目录，执行中报“sudo: /opt/soft/python: command not found”错误，求助问题在哪呢？

[2021-03-17 11:26] daxiongll opened #5081 "spark task is success, but dolphinschedule show fail"
the spark demo
![image](https://user-images.githubusercontent.com/29703785/111460123-8dbf6500-8756-11eb-9563-6b626506e380.png)

dolphin show
![image](https://user-images.githubusercontent.com/29703785/111460189-a3cd2580-8756-11eb-9ddc-45d0da34d04d.png)

yarn history show

![image](https://user-images.githubusercontent.com/29703785/111460238-b182ab00-8756-11eb-880c-a13b3117eae7.png)

[2021-03-17 11:46] JoshuaZhuCN opened #5082 "[Question] What new features will be released in version 1.3.6?"
有哪些新功能会在1.3.6版本中发布？个人比较关注开发分支中的参数传递和流程实例串行这两项功能。它是否会在1.3.6中发布？

What new features will be released in version 1.3.6? I am concerned with the development branch of parameter passing and process instance serialization. Will it be released in 1.3.6？

[2021-03-17 12:11] davidzollo commented on #5079
Duplicate of #5080

[2021-03-17 12:11] #5079 closed, assigned to nobody

[2021-03-17 12:12] davidzollo commented on #5080
Please update/add title and description in English, thx

[2021-03-17 12:32] ruanwenjun opened #5083 "[Improvement][API] Refactored data source creation"
**Describe the question**
If we add a new datasource type in the future, we need to make a lot of changes to the code.
For example in `DataSourceController.createDataSource()`.
We may need to add parameters like `javaSecurityKrb5Conf` and add `required = false`, because other datasource doesn't need the parameter.(This make the method need to receive a large number of parameters and reduce readabi

[2021-03-17 12:35] chengshiwen commented on #5080
@wgwtransfer You can refer to the similar issue #2548 #2620 #2868 #3853.
By the way, we will improve the `HOME` environment variables with #5035

You need to set `PYTHON_HOME` to a correct path of python like `/usr/bin/python` in file `conf/env/dolphinscheduler_env.sh`

[2021-03-17 12:38] chengshiwen commented on #5081
@daxiongll Could you show us the content of `common.properties`?

[2021-03-17 12:38] chengshiwen commented on #5026
@didiaode18 Could you show us the content of `common.properties`?

[2021-03-17 12:39] chengshiwen commented on #5081
This issue seems to be similar to #5026

[2021-03-17 12:40] chengshiwen commented on #5026
This issue seems to be similar to #5081

[2021-03-17 12:40] 597365581 commented on #5081
config  yarn address

[2021-03-17 14:19] davidzollo commented on #5081
yes.   usually user should check the following the parameters config in the conf/common.properties:
[code]
you should notice the comments on these two parameters

besides, you also should check the worker server runtime log to find the detail exception

[2021-03-17 14:28] davidzollo commented on #4985
English is needed

[2021-03-17 14:28] #4985 closed, assigned to nobody

[2021-03-17 14:28] #5080 closed, assigned to nobody

[2021-03-17 15:18] 597365581 opened #5084 "[Bug][Server-Depedent] If a workflow depends on the previous workflow, but for some reasons, the previous workflow has not arrived and started to run, then the current workflow will directly consider the dependency failed when judging."
If a workflow depends on the previous workflow, but for some reasons, the previous workflow has not arrived and started to run, then the current workflow will directly consider the dependency failed when judging.
如果一个工作流依赖于上一个工作流，但是因为一些原因，上一个工作流还没来的及开始运行，那么在判断的时候，当前工作流直接就认为依赖失败了。version  .is  1.3.2

[2021-03-18 01:23] CalvinKirs commented on #5053
When the recovery fails, because the shell4 node has already succeeded, it will not be executed again.

[2021-03-18 01:23] #5053 closed, assigned to nobody

[2021-03-18 01:37] #5059 closed, assigned to nobody

[2021-03-18 01:44] wgwtransfer commented on #5080
Yes，I sovled this matters.    I set **PYTHON_HOME**=/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8, and added PYTHON_HOME to /etc/profile.   ps. It is deployed in MacOS.

[2021-03-18 02:03] #4984 closed, assigned to nobody

[2021-03-18 02:03] #5075 closed, assigned to nobody

[2021-03-18 02:56] wangxj3 opened #5085 "[Bug][server-master]if global Param of out is a number, throw format exception"
sql or shell task node has out param,if the format of param is number,throw format exception.

[2021-03-18 03:32] Join1339822899 opened #5086 "[Feature][data sources] Add Sap data source"
I want to use sqoop to extract data in Hana, but I cannot create this type of data source. Is there any way to create it, or will I provide a custom data source function in subsequent functions?

[2021-03-18 03:51] CalvinKirs commented on #5085
close by #5077

[2021-03-18 03:51] #5085 closed, assigned to nobody

[2021-03-18 03:51] CalvinKirs commented on #3805
this close #5077

[2021-03-18 05:17] chengshiwen opened #5087 "[Feature][SqlTask] Add a switch to send mail and print head logs in SqlTask"
**Describe the feature**

**Add the switch to send mail and print head logs in SqlTask**

[2021-03-18 05:55] chengshiwen opened #5089 "[Bug][UI] Code mirror cannot be displayed normally in sqoop task"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to 'Create process' in 'Process definition'
2. Create a sqoop task
3. Switch 'Custom Job' and 'ModelType'
4. See error

**Expected behavior**
Bug fixed

**Screenshots**

Picture 1:
![image](https://user-images.githubusercontent.com/4902714/111579750-86996500-87f1-11eb-8ceb-fa00645a6ad9.png)

Picture 2:
![image](https://user-image

[2021-03-18 06:04] davidzollo commented on #5086
Please update/add title and description in English, thx

[2021-03-18 07:34] chengshiwen opened #5094 "[Improvement][UI] Add a main switch for refresh_in_switched_tab"
**Describe the question**

Add a main switch for `refresh_in_switched_tab`

**What are the current deficiencies and the benefits of improvement**

- If a user does not want to automatically refresh the page in switched tab, he can set a main switch to `false`

**Which version of DolphinScheduler:**
 -[dev]

@lijufeng2016 once mentioned this user requirement.

[2021-03-18 08:20] clp007 opened #5096 "[Question] how to config exchange email"
i can't config alert email with exchange email ,how to config it?

[2021-03-18 08:47] haydenzhourepo opened #5098 "[Improvement][API] Deduplicate logs in controllers"
**Describe the question**
there are so many logs in controllers, those logs just want log who request which method with what params and headers,

![image](https://user-images.githubusercontent.com/21101605/111597240-f1a26600-8808-11eb-9388-6e343116c4a6.png)

**What are the current deficiencies and the benefits of improvement**
so many repetitive visit logs! we can handle those logs by aop， so do n

[2021-03-18 09:13] haydenzhourepo opened #5099 "[Question] resource manage don't support local filesystem?"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.
resource managment doesn't support the local filesystem?
![image](https://user-images.githubusercontent.com/21101605/111601

[2021-03-18 09:50] chengshiwen commented on #5099
@haydenzhourepo You can set `resource.storage.type=HDFS` and `fs.defaultFS=file:///`, because `HDFS` is a superset of the local file system

[2021-03-18 09:56] chengshiwen commented on #5098
@haydenzhourepo Would you like to submit the pr to improve this issue? Welcome to participate in the DolphinScheduler opensource community.

[2021-03-18 10:13] haydenzhourepo commented on #5099
ok, thanks for your response.

[2021-03-18 10:13] #5099 closed, assigned to nobody

[2021-03-18 10:34] #5006 closed, assigned to nobody

[2021-03-18 10:47] CalvinKirs commented on #5096
you need change alert.properties

[2021-03-18 10:50] CalvinKirs commented on #5084
please provide you version

[2021-03-18 10:52] CalvinKirs commented on #5086
Maybe we should consider the SPI for datasource as soon as possible

[2021-03-18 10:57] CalvinKirs commented on #5082
please refer https://github.com/apache/incubator-dolphinscheduler/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.3.6-release.

This version is temporarily not supported  parameter passing and process instance serialization

btw, 1.3.6 We have suppoort to skywalking monitor , and at the same time, we have made better optimizations for K8s.

[2021-03-18 10:59] CalvinKirs commented on #5083
SGTM, can you do this job

[2021-03-18 11:02] ruanwenjun commented on #5083
Sure, I will finish it as soon as possible.

[2021-03-18 11:04] 597365581 commented on #5084
version:1.3.2

[2021-03-18 11:13] CalvinKirs commented on #4948
There are many reasons for it. At present, we have released some interface optimization work. Are you willing to complete it?

[2021-03-18 13:38] chengshiwen commented on #5068
**DolphinScheduler  Support Matrix on Docker/Kubernetes**

| Type                                                         | Support      | Notes                                 |
| ------------------------------------------------------------ | ------------ | ------------------------------------- |
| Shell                                                        | Yes          |

[2021-03-18 13:54] ruanwenjun commented on #5098
I think we can add a general audit function in the aspect. It is better to record the request params and response body, it can help us to troubleshoot.

[2021-03-18 14:49] #5069 closed, assigned to nobody

[2021-03-18 14:50] CalvinKirs commented on #5069
Looking forward to your next contribution, btw, is there any remaining to be revised?

[2021-03-18 15:17] chengshiwen opened #5100 "[Feature][K8s] Support task scalability on K8s such as Spark, Flink and DataX"
**Describe the feature**

*[Feature][K8s] Support task scalability on K8s such as Spark, Flink and DataX*

**Is your feature request related to a problem? Please describe.**

If I want to run Spark, Flink or DataX tasks on the DolphinScheduler on K8s, it is currently not directly supported. Because there is no extended configuration item to help mount the binary packages into DolphinScheduler pods

[2021-03-18 16:20] chengshiwen opened #5103 "[Bug][Resource] The file name of File and UDF resource not changed and cannot re-upload after renaming name"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to 'File Manage'
2. Upload a file
3. Rename the file
4. See error (picture 1)
5. The same error also occurs in 'UDF Resources' (picture 2)
6. In 1.3.x version, if the renamed file is re-uploaded, 'resource already exists' error occurs (picture 3)

**Expected behavior**
Bug fixed.

**Screenshots**

In **File Manage**: (picture 1)

[2021-03-19 01:22] haydenzhourepo commented on #5098
@chengshiwen I will submit a pr for this. there are three solutions:
1. use a filter to log the request and response
2. use interceptor to log the request and response
3. use aspect to log the request and response

filter is based on servlet container, and others are based on reflection.
so I think filter is the best choice for our case, What do you think of this.

[2021-03-19 02:15] vimacro commented on #5103
I'll fix.

[2021-03-19 03:57] #5089 closed, assigned to nobody

[2021-03-19 03:58] #5094 closed, assigned to nobody

[2021-03-19 04:26] 597365581 opened #5105 "[Bug][Common] when yarn state is FINISHED，bug FinalStatus is UNDEFINED，will cause task can not stop ,will still in running"
when yarn state is  FINISHED，but FinalStatus is UNDEFINED，will cause task can not stop ,will still in running ，
当yarn的state 为FINISHED，FinalStatus 为UNDEFINED时，会导致任务一直无法结束。version is  1.3.2

[2021-03-19 04:26] 597365581 commented on #5105
![image](https://user-images.githubusercontent.com/62982788/111731373-4e0b9100-88ae-11eb-8658-3c52343f28d6.png)

[2021-03-19 04:28] 597365581 commented on #5105
I will fix this bug

[2021-03-19 05:04] clp007 commented on #5096
can you show me alter.properties paramters,like:protocol ,port, enable of TSL,SSL ,etc.  i can't config it successful anyway

[2021-03-19 06:41] chengshiwen opened #5108 "[Improvement][*] Rename RUNNING_EXEUTION to RUNNING_EXECUTION"
**Describe the question**

*Rename `RUNNING_EXEUTION` to `RUNNING_EXECUTION`*

**What are the current deficiencies and the benefits of improvement**

- Fix `RUNNING_EXEUTION` spell error
- More friendly and readable code

**Which version of DolphinScheduler:**
 -[1.3.5]

[2021-03-19 06:51] #5103 closed, assigned to nobody

[2021-03-19 07:00] 597365581 commented on #5084
I will fix it

[2021-03-19 07:07] #5087 closed, assigned to nobody

[2021-03-19 07:26] CalvinKirs commented on #5108
close by #5109

[2021-03-19 07:26] #5108 closed, assigned to nobody

[2021-03-19 09:14] zhangb0120 commented on #5082
很期待 流程实例串行 这个功能

[2021-03-19 10:49] daxiongll commented on #5081
The reason:Depends on the tasks executed by yarn. As a result, it is necessary to determine the success information in the script and the yarn ui at the same time. If the yarn ip is not configured, tasks such as spark will be executed successfully, but dolphinscheduler shows this task failed.

[2021-03-19 10:49] #5081 closed, assigned to nobody

[2021-03-20 02:49] kalencaya commented on #5098
a little warn about filter.
I had developed same request log functions within dubbo and springmvc, which dubbo for aspect and springmvc for filter.
Filter worked well for springmvc after I solved response stream can't be readed many times by ContentCachingRequestWrapper and ContentCachingResponseWrapper.
But when I tried to add async http api, new question encountered. springmvc framework supports

[2021-03-20 02:51] #4235 closed

[2021-03-20 03:59] chengshiwen opened #5115 "[Bug][Server] The registered address of a server is the loopback address 127.0.0.1"
**Bug description**

The registered address of a server is the loopback address 127.0.0.1

**Expected behavior**
Bug fixed.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4902714/111858391-8c1eb880-8973-11eb-9e67-953fb6a4bd76.png)
![image](https://user-images.githubusercontent.com/4902714/111858401-9b9e0180-8973-11eb

[2021-03-20 06:59] keepmeup opened #5118 "[Bug][document] Some descriptions in the Configuration Description section are incorrect."
worker can work when the cpu  is greater than the config value of worker.max.cpuload.avg

![截图](https://user-images.githubusercontent.com/41229600/111861909-b892fe80-898c-11eb-8909-7d656588f375.PNG)

[2021-03-20 13:23] cha1Yi opened #5120 "[Question] In Dev branch，When run ApiApplicationServer#main，the Application will be blocking。Can you help me to solve it?"
I was run in my PC，The IDEA console print：
[code]

Just print this logo.
Help me， thank you！

[2021-03-20 14:29] cha1Yi commented on #5120
Sorry, it is not blocking,That's the problem with `logback-api.xml`,Someone commented `<appender-ref ref="STDOUT"/>` in 58 lines。can you change it？

[2021-03-20 15:19] ruanwenjun commented on #5120
You can find the log content in logs/dolphinscheduler-api.log, this is the default behavior.
If you want to print the log on the console, you can replace the `appender-ref` in the `logback-api.xml` like below
[code]

[2021-03-20 17:06] cha1Yi commented on #5120
Thank you for your reply，I have started and enjoy it.

[2021-03-20 17:06] #5120 closed, assigned to nobody

[2021-03-21 06:44] CalvinKirs commented on #5115
close by #5117. release 1.3.6

[2021-03-21 06:44] #5115 closed, assigned to nobody

[2021-03-21 12:30] liqiquan opened #5121 "[Question] When encountering tasks with long execution time, the tasks have unlimited delay。遇到执行时间长的task，任务无限delay"
Dolphin Scheduler, some Task execution time is too long, which will cause Task assigned to the same work, and you can do it after you need it. And in one work, there have been hundreds of hundreds of waiting to be executed in line (other Work because they only want to be fast, Maser will still allocate Task to this Work. What is the optimization method? Or have it possible to change the allocation

[2021-03-22 02:48] chengshiwen commented on #5100
closed by #5101

[2021-03-22 02:48] #5100 closed, assigned to nobody

[2021-03-22 07:14] vimacro opened #5124 "[Bug][API] do not set file name when reupload"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. upload  file with name "ojdbc3.jar"
2. reupload file with name "ojdbc3.jar" and real file name is "ojdbc6jar"

!

[2021-03-22 07:14] vimacro commented on #5124
i'll fix

[2021-03-22 08:56] didiaode18 commented on #5026
@chengshiwen
This is my  common.properties,spark task is success, And  dolphinschedule can show success.
# if resourcemanager HA enable, please type the HA ips ; if resourcemanager is single, make this value empty
yarn.resourcemanager.ha.rm.ids=10.172.xx.x,10.172.3xx.x

# if resourcemanager HA enable or not use resourcemanager, please keep the default value; If resourcemanager is single, you only

[2021-03-22 09:22] didiaode18 commented on #5026
In class  HadoopUtils

<img width="685" alt="微信图片_20210322172147" src="https://user-images.githubusercontent.com/22792154/111967586-2ed16580-8b33-11eb-85f8-a2c7ec7664b5.png">
<img width="485" alt="微信图片_20210322172203" src="https://user-images.githubusercontent.com/22792154/111967611-35f87380-8b33-11eb-9842-876a2531edfc.png">

[2021-03-22 09:33] chengshiwen commented on #5026
@didiaode18 Would you like to contribute the pr and join the open source community?

[2021-03-22 09:39] didiaode18 commented on #5026
@chengshiwen  ok，how to join

[2021-03-22 09:43] chengshiwen commented on #5026
After submiting a pr and merging the pr, you will be invited to our opensource community. Please refer to https://dolphinscheduler.apache.org/en-us/community/development/submit-code.html

[2021-03-22 09:59] hhj970815 opened #5127 "[Bug][installing ds] I have configured the ssh without passwd and ssh localhost and ssh hostname is ok but when i exec"sh install.sh" appear "Connection refused""
**Describe the bug**
 I have configured the ssh without passwd and ssh localhost and ssh hostname is ok but when i exec"sh install.sh" appear "Connection refused".

**Screenshots**
i exec "ssh localhost" and ssh ip and ssh hostname is ok
![image](https://user-images.githubusercontent.com/41581357/111972295-465f1d00-8b38-11eb-8982-cdd3f5fee60f.png)

the question:
![image](https://user-images.github

[2021-03-22 10:07] vimacro commented on #5127
do not use sudo command
![image](https://user-images.githubusercontent.com/11975398/111973437-72c76900-8b39-11eb-9812-316dff75aefa.png)

[2021-03-22 10:10] hhj970815 commented on #5127
i tried, but it still doesnt work

[2021-03-22 10:11] hhj970815 commented on #5127
![image](https://user-images.githubusercontent.com/41581357/111974002-08fb8f00-8b3a-11eb-933c-3159e8146568.png)

[2021-03-22 10:22] vimacro commented on #5127
Does the user  have sudo privileges? （sudo with no password）

[2021-03-22 10:31] hhj970815 commented on #5127
Do u mean this:
![image](https://user-images.githubusercontent.com/41581357/111976659-d30bda00-8b3c-11eb-98b3-e74dd7cc5536.png)

[2021-03-22 11:15] vimacro commented on #5127
remote user  ,  host1 with user ds1, host2 with ds2 ,ds1 and ds2 need sudo with no password

[2021-03-23 00:54] hhj970815 commented on #5127
the model is standalone, seems like i dont need to configure the remote, brain broken..

[2021-03-23 01:24] hhj970815 commented on #5127
thanks bro! the reason is that the server ssh 's default port had changed, i changed the ds's configuration and it works.

[2021-03-23 01:24] #5127 closed, assigned to nobody

[2021-03-23 03:26] #5048 closed, assigned to nobody

[2021-03-23 04:00] vimacro opened #5128 "[Feature][Worker] Support turning off sudo permissions"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**

The current version of multi-tenant implementation requires sudo permission. Most of the time the deployment execution user does not have sudo permission and does no

[2021-03-23 04:45] chengshiwen commented on #5128
The related issues: #4515 #4706

[2021-03-23 06:33] JacobZheng0927 commented on #4512
@CalvinKirs Is this problem solved? If not, I can fix it.

[2021-03-23 08:40] getixin opened #5131 "failureStrategy: CONTINUE is not effective"
![image](https://user-images.githubusercontent.com/20057322/112117187-0a8a8d00-8bf6-11eb-880b-4a8184acd515.png)

the task 2 is not execute
dolphinscheduler v1.3.5

[2021-03-23 10:23] xxjingcd opened #5132 "[Bug][server] when an exception occurs in the taskExecuteThread, task cannot stop immediately"
**Describe the bug**

When an exception occurs in the taskExecuteThread, task will  be called the  `cancelApplication()` method to stop the task immediately。Howerver，the task whose` cancelApplication()` method  base on the `AbstractCommandExecutor.cancelApplication()` cannot be killed immediately,because `AbstractCommandExecutor.cancelApplication()` would not call `hardKill()` method when soft kil

[2021-03-23 11:13] xxjingcd commented on #5132
the PR： https://github.com/apache/incubator-dolphinscheduler/pull/5133

[2021-03-23 11:52] ruanwenjun opened #5134 "[Improvement][Api] Optimize query processInstanceList"
**Describe the question**
Use batch query user rather than several query

**What are the current deficiencies and the benefits of improvement**
reduce query num

**Which version of DolphinScheduler:**
 -[1.3.6]
 -[dev]

[2021-03-23 13:05] Rishav-Saw commented on #4789
where do I have to fix the error ?
I have just created an account on GitHub and just know basic details of it but i have knowledge of Java!

[2021-03-23 15:47] #5062 closed, assigned to nobody

[2021-03-24 12:00] chinaboyll opened #5140 "[Bug][Complement Data] Complement Data dates are out of order"
my dolphinscheduler version:1.3.3
current date is 2021-03-24
when Custom Parameters is $[yyyy-MM-dd]。
run scheduling date is 2021-03-24 。
but Complement Data is 2021-03-24。 date is 2021-03-25。
If I have a more complicated schedule $[yyyy-MM-dd-7]   The date of the data to be complemented is 2021-03-16
So what should my complement date be? The answer is 2021-03-22。
Personally, this design is not so

[2021-03-24 12:49] #5134 closed, assigned to nobody

[2021-03-24 15:07] ruanwenjun opened #5141 "[Bug][Master] Typo in MasterConfig"
**Describe the bug**
Can't use `MasterConfig` to parse `masterDispatchTaskNumber` from `master.properties`, cause of typo.

**To Reproduce**
Steps to reproduce the behavior, for example:

Edit `master.dispatch.task.num` in `master.properties` and Start master by debug mode and see `masterConfig`.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Which version of Dolp

[2021-03-24 15:16] #5042 closed, assigned to nobody

[2021-03-25 02:05] Woodyzhang123 opened #5143 "How to import scripts into dolphin schedule through OpenAPI"
Hello,

At present, I am gradually migrating historical scripts to dophin, but because there are too many scripts, about thousands of them, I hope to synchronize the scripts on oozie to dophin through OpenAPI or other methods. I hope it will be solved.

thanks

[2021-03-25 03:35] lenboo commented on #4318
i am afraid that cannot find the tenant's information directly.

good idea!

[2021-03-25 03:49] BoYiZhang commented on #4318
hi:

I think so

But the amount of code changes may be a little more ...
On 03/25/2021 11:35，bao ***@***.***> wrote：

Can we display the tenant name only? @BoYiZhang@***@***.***

i am afraid that cannot find the tenant's information directly.

And we can give some tip, like The actual user to execute task

good idea!

—
You are receiving this because you were mentioned.
Reply to this email directl

[2021-03-25 03:59] BoYiZhang commented on #4318
hi:

There is already a pr, and merged

https://github.com/apache/incubator-dolphinscheduler/pull/3949
On 03/25/2021 11:35，bao ***@***.***> wrote：

Can we display the tenant name only? @BoYiZhang@***@***.***

i am afraid that cannot find the tenant's information directly.

And we can give some tip, like The actual user to execute task

good idea!

—
You are receiving this because you were mentione

[2021-03-25 03:59] davidzollo commented on #5143
English is needed

[2021-03-25 04:05] xxjingcd commented on #5131
You got it wrong. FailureStrategy refers to whether the process instance continues to run in event of a task failure.The default is to continue. If the current task fails, the post-task cannot be executed.

---

你搞错了，FailureStrategy 是指在出现失败任务时，工作流实例是否继续运行。默认是继续的。如果当前任务失败，其后置任务是无法运行的。

[2021-03-25 06:13] zhuangchong opened #5144 "[Improvement][UI] error v-show directives cannot be put on template tags"
**Describe the question**
error  'v-show' directives cannot be put on <template> tags  vue/valid-v-show

**Which version of DolphinScheduler:**
 -[dev]

[2021-03-25 07:29] lyyprean opened #5147 "[Improvement][Master] this expression which always evaluates "true""
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
this expression which always evaluates "true"

**What are the current deficiencies and the benefits of improvement**
this expression which always evaluates "true" ，r

[2021-03-25 08:42] ZJ577624359 commented on #5096
# mail server configuration
mail.protocol=SMTP
mail.server.host=smtp.exmail.qq.com
mail.server.port=465
mail.sender=邮箱地址
mail.user=邮箱地址
mail.passwd=邮箱密码
# TLS
mail.smtp.starttls.enable=false
# SSL
mail.smtp.ssl.enable=true
mail.smtp.ssl.trust=smtp.exmail.qq.com
这是QQ企业邮箱的配置

[2021-03-25 08:46] ZJ577624359 opened #5148 "Log permission error"
执行任务出现
[INFO] 2021-03-25 16:27:00.619  - [taskAppId=TASK-4-531-2571]:[127] -  -> log4j:ERROR setFile(null,true) call failed.
	java.io.FileNotFoundException: logs/pdi.log (权限不够)
在linux服务器上，安装路径的权限已完全打开，用户的分组也是root
不知为何还是报权限不够

[2021-03-25 09:55] zhuangchong commented on #5147
I'm sorry that I didn't understand what you wanted to express. Could you please explain it in detail?

[2021-03-25 10:00] lyyprean commented on #5147
if (logClient != null) {
                logClient.close();
            }
This judgment always comes back true, it is unnecessary

[2021-03-25 11:34] zhuangchong commented on #5147
@lyyprean
I suggest to change it like this

[code]

[2021-03-25 11:34] zhuangchong commented on #5147
@lyyprean Welcome to submit a PR for code optimization.

[2021-03-25 12:02] ruanwenjun opened #5149 "[Improvement][Server] Reasonable config check"
**Describe the question**
Is it necessary to check the config before application start?
Now there are more and more configurations in dolphinscheduler, and most of them store in the properties file. Some configs are important, it can be modified by users, but if a user sets an unreasonable value, we need to stop the server start otherwise the problem will only appear after the program running for

[2021-03-25 16:26] ruanwenjun opened #5150 "[Bug][Server] DB transaction failure"
**Describe the bug**
When` MasterSchedulerService` handle command by `ProcessService.handleCommand`, I find the `@Transaction` annotation in the ProcessService doesn't work. Sometimes this may cause serious problem.

**To Reproduce**
Maybe it is hard to reproduce, but you can make an error in `ProcessService.moveToErrorCommand`, then you will find the issue.

**Which version of Dolphin Scheduler:*

[2021-03-25 16:26] ruanwenjun opened #5151 "[Bug][Server] DB transaction failure"
**Describe the bug**
When` MasterSchedulerService` handle command by `ProcessService.handleCommand`, I find the `@Transaction` annotation in the ProcessService doesn't work. Sometimes this may cause serious problem.

**To Reproduce**
Maybe it is hard to reproduce, but you can make an error in `ProcessService.moveToErrorCommand`, then you will find the issue.

**Which version of Dolphin Scheduler:*

[2021-03-26 01:39] xingchun-chen commented on #5148
Which user is used to deploy DS？
The user permissions of the log path should be the same as the DS deployment user

[2021-03-26 01:42] xingchun-chen commented on #5151
The issue is the same as #5150, will be closed

[2021-03-26 01:42] #5151 closed, assigned to nobody

[2021-03-26 01:47] CalvinKirs commented on #5141
close by #5142

[2021-03-26 01:47] #5141 closed, assigned to nobody

[2021-03-26 01:50] xingchun-chen commented on #5140
This is the design, When the number is supplemented, the running time of the scheduling will be + 1

![image](https://user-images.githubusercontent.com/55787491/112565629-5c126200-8e18-11eb-8154-e0c72d0b9a61.png)

[2021-03-26 01:53] ZJ577624359 commented on #5148
@xingchun-chen 使用dolphinscheduler用户部署
![image](https://user-images.githubusercontent.com/79566794/112565899-f5417880-8e18-11eb-81c5-9279291e6889.png)
![image](https://user-images.githubusercontent.com/79566794/112565939-07231b80-8e19-11eb-9e26-305114f3e7c1.png)
部署路径权限是全部打开的。

[2021-03-26 01:57] xingchun-chen commented on #5148
You need to check whether the permissions of logs directory are dolphinscheduler

[2021-03-26 02:11] ZJ577624359 commented on #5148
@xingchun-chen
![image](https://user-images.githubusercontent.com/79566794/112567260-7f8adc00-8e1b-11eb-97c7-5985aa3c5fe6.png)
![image](https://user-images.githubusercontent.com/79566794/112567282-87e31700-8e1b-11eb-8d16-5c194a877d53.png)
确认是dolphinscheduler用户

[2021-03-26 02:51] babogd opened #5154 "[Improvement][api] the restful api: "copyProcessDefinition->/dolphinscheduler/projects/{projectName}/process/copy" reponse data not contains the id of copyed process"
the restful api:
 "copyProcessDefinition->/dolphinscheduler/projects/{projectName}/process/copy" reponse data not contains the id of copyed rocess

When using this interface in a self-built system, there is no way to know which processDefinition copyed

I changed the code in my computer, but I receive  "remote: Permission to "  when push to github

[2021-03-26 05:55] jaydenjd opened #5155 "A Linux distribution for docker-compose"
As I know，the image of  apache/dolphinscheduler was base on the Alpine image。But when I install Python dependencies，It takes a lot of time，at least an hour。What's more，It will need more any other  dependencies，for example

`apk update && apk add --no-cache gcc g++ python3-dev libffi-dev librdkafka librdkafka-dev mariadb-connector-c-dev musl-dev libxml2-utils libxslt  libxslt-dev py3-numpy py3-pand

[2021-03-26 06:44] chengshiwen commented on #5155
@Joder5 This is not a problem. As for a any bare linux,  none of the libraries you mentioned will exist.

In order to improve the update speed, you can set the mirror source of alpine as follows:
[code]

As for `pip`, you can also use the mirror source like `https://pypi.tuna.tsinghua.edu.cn/simple`

[code]

As for `slim`, we will consider it later.

[2021-03-26 07:25] lyyprean commented on #5147
I have submitted it, thank you

[2021-03-26 08:42] #5144 closed, assigned to nobody

[2021-03-26 10:42] davidzollo opened #5157 "[Bug][website] update the archtiecture picture"
**Describe the bug**
the architecture picture in the officail website is wrong, please correct it

website github address: https://github.com/apache/incubator-dolphinscheduler-website

in addition, please also update the English version

the right picture are as follows:
[architecture picture.pptx](https://github.com/apache/incubator-dolphinscheduler/files/6211152/architecture.picture.pptx)

**Whi

[2021-03-26 10:48] heyzeng commented on #5157
can i fix it？

[2021-03-26 13:45] chengshiwen commented on #5155
I give you a version of Dockerfile based on `debian:slim`, which will be added to the warehouse after optimization in the future.

[code]

[2021-03-27 02:56] ruanwenjun opened #5161 "[Improvement][LogServer] Thread pool parameter adjustment"
**Describe the question**
code in LoggerRequestProcessor.java
When the corePoolSize equals maximumPoolSize in the threadpool then the keepAliveTime is invalided.
[code]

So it is suggested to use Executors.newFixedThreadPool() to create the threadpool there to avoid confusion.
By the way, this processor mainly handles some io operations, maybe it is better to set number of threads to twice the num

[2021-03-27 12:43] ruanwenjun commented on #5083
By the way, except for the oracle data source, other data sources do not have the connectType parameter. The back-end does not need to store connectType for all datasource, and the front-end does not need to display null, which will cause confusing.

![image](https://user-images.githubusercontent.com/22415594/112720617-6593eb00-8f3a-11eb-9c50-859c8edbe163.png)

In this pr, we will not store the co

[2021-03-27 14:59] davidzollo commented on #5157
has assigned to you, looking forward to your PR

[2021-03-28 14:38] CalvinKirs opened #5164 "[Feature][Common] Configuration coverage"
Configuration coverage

At present, our parameter configuration is mainly based on configuration files: you can refer to PropertiesUtils,

But usually important parameters will be injected through the form of Java runtime virtual machine parameters, so we need to support this way of parameter injection. At the same time, because different ways of parameter injection have different priorities, we n

[2021-03-29 02:30] CalvinKirs commented on #5150
close by #5152

[2021-03-29 02:30] #5150 closed, assigned to nobody

[2021-03-29 02:38] ZJ577624359 commented on #5148
问题已解决，实际错误是由调用其它的软件反馈至日志，非海豚的错误。

[2021-03-29 02:38] #5148 closed, assigned to nobody

[2021-03-29 02:44] CalvinKirs commented on #5132
close by #5133

[2021-03-29 02:44] #5132 closed, assigned to nobody

[2021-03-29 03:07] #5128 closed, assigned to nobody

[2021-03-29 03:10] CalvinKirs commented on #4515
close by #4217 #5129

[2021-03-29 03:10] #4515 closed

[2021-03-29 03:11] CalvinKirs commented on #4706
close by #5129

[2021-03-29 03:11] #4706 closed, assigned to nobody

[2021-03-29 03:25] zhaorongsheng commented on #4419
tks, we will try it later.

[2021-03-29 04:05] KonsonChow commented on #4891
I will fix it.

[2021-03-29 05:07] #4986 closed, assigned to nobody

[2021-03-29 05:54] pengge00 opened #5166 "[Bug][Module Name] Effective environment variable"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
when  i write the shell, test function of ds. when  i  add  Two effective environment variable statements
1、source /etc/profile
2、source ~/.bash_profile
after the service and my colony

[2021-03-29 09:37] zhuangchong opened #5169 "[Improvement][API] Improvement query all project list (easy to implement)"
**Describe the question**

The premise of query all project list is have one or more process definitions, I think it should be changed to query all project list.

**What are the current deficiencies and the benefits of improvement**
an interface to query all project list

**Which version of DolphinScheduler:**
 -[1.3.4-release]

* easy to implement

[2021-03-29 09:49] zhuangchong opened #5170 "[Improvement][API] the QueryAuthorizedProject interface adds permission judgment (easy to implement)"
**Describe the question**

The QueryAuthorizedProject interface has query authority only for administrators,the project scenario where a user queries the user's own authorization cannot be satisfied.

**What are the current deficiencies and the benefits of improvement**

The QueryAuthorizedProject interface adds permission judgment ,the user itself can query the user's own authorized project

**Wh

[2021-03-29 11:20] wanghong1314 opened #5172 "[Improvement][process] add timing online/offline marking color"
*For better global communication, please give priority to using English description, thx! *

make user better different process whether online,In order to prevent the user forget it
online ：color is green
offline：color is yellow

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
A clear and concise descript

[2021-03-29 11:26] wanghong1314 commented on #5172
please assign me,I will do it

[2021-03-29 12:01] ruanwenjun opened #5173 "[Improvement][Service] Missing Transaction"
**Describe the question**
There are some operations that modify multiple data on database, but there are no transaction to ensure the operation is atomic. E.g `ProcessDefinitionServiceImpl.createProcessDefinition`. It may cause data inconsistency.

**What are the current deficiencies and the benefits of improvement**
Add transaction

**Which version of DolphinScheduler:**
 -[1.3.6]
 -[dev]

[2021-03-29 14:39] ruanwenjun commented on #5170
Maybe I can solve this issue.
But the way, this interface just used for OpenAPI ?

[2021-03-29 14:56] ruanwenjun commented on #5166
@pengge00
I can't reproduce this problem by following the steps below.
1. Create a new project
2. Create a shell task
3. input source ~/.bash_profile
4. Save the dag
5. Run the workflow

This work find on my computer, there maybe another reason, you need to provide more information. :grinning:

[2021-03-29 15:47] #4891 closed, assigned to KonsonChow

[2021-03-30 01:16] zhuangchong commented on #5170
yes

[2021-03-30 02:25] chengshiwen opened #5175 "[Improvement][Server] Optimize and reduce worker group queries of database and zookeeper"
**Describe the question**

`HostManager.select()` will call `workerGroupMapper.queryAllWorkerGroup()` or `workerGroupMapper.queryWorkerGroupByName(workerGroupName)` from database, and call `registryCenter.getRegisterOperator().get(workerGroupPath + "/" + node)` from zookeeper.

They will cause more queries, even if these queries rarely change.

**What are the current deficiencies and the benefits

[2021-03-30 03:51] chengshiwen opened #5176 "[Bug][Server] Wrong excludeFilters cause the worker server to start the master's beans and threads like LowerWeightHostManager and RefreshResourceTask"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Add one line `logger.info("RefreshResourceTask: {}", workerHostWeights);` in `RefreshResourceTask#run` (Picture 1)
2. Re-run `MasterServer` and `WorkerServer`
3. See log of `MasterServer` and `WorkerServer`
4. The `LowerWeightHostManager` and `RefreshResourceTask` logs of master appear in the`WorkerServer` log (Picture 2)
5. **Other

[2021-03-30 03:58] chengshiwen commented on #5176
@CalvinKirs Please pay attention to this issue, it can be put into `1.3.6-release`. I have fixed this issue in #5122.

[2021-03-30 07:54] JIANCHUJUN opened #5180 "[Improvement][Module Name] DataX Node doesn't Support Clickhouse as the datasource"
**Describe the question**
When I create a DataX node, I can't use a Clickhouse Datasource as the source or the target in a DataX task. Currently, I can only select from Mysql, Postgresql，Oracle ans Sqlserver.

![image](https://user-images.githubusercontent.com/23460917/112953652-3d8dcd00-9170-11eb-87e2-029ab4d56939.png)

**Describe alternatives you've considered**
I hope I can't use Clickhouse as

[2021-03-30 08:01] riverlee2014 opened #5181 "[Improvement][Module Name] Integrated spring boot actuator"
Can it's java application provide Prometheus endpoint by integrated spring boot actuator?
It's all spring boot projects should be easy to integrate actuator to  expose as prometheus format?

[2021-03-30 08:54] davidzollo commented on #5181
could you show a demo, not familiar with actuator

[2021-03-30 08:55] xingchun-chen commented on #5180
Who is willing to contribute the feature?

[2021-03-30 08:59] CalvinKirs commented on #5181
Spring boot actuator can only provide some simple indicators, which are usually of little significance. We support SkyWalking for link monitoring in the upcoming version 1.3.6. I don't know if it can meet your needs. Of course, if you want to contribute to the integration of Prometheus and DS, it is very welcome.

[2021-03-30 10:00] tercel53 commented on #5082
是工作流串行吗？期待

[2021-03-30 10:14] ruanwenjun commented on #5170
Ok, please assign to me

[2021-03-30 10:18] ruanwenjun commented on #5180
Maybe I can try

[2021-03-30 11:25] chengshiwen opened #5183 "[Bug][WorkerGroup] The worker group before starting doesn't seem to override the worker group in the task node"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a task with a worker group named `worker0`
2. Run the process definition with another worker group named `worker2`
3. Go to task instance list
4. See the task instance is executed on the worker group named `worker0`

![image](https://user-images.githubusercontent.com/4902714/112980902-0f6ab600-918d-11eb-98f0-88f45620c194.png)

[2021-03-30 14:33] #4721 closed, assigned to nobody

[2021-03-31 01:03] riverlee2014 commented on #5181
Thanks, Our requirements is to simply monitor the health and JVM indicators of the master cluster services.
Instead, We can use the blackbox_exporter or jmx_exporter to solve the problem. Supporting skywalking is also a good way.

[2021-03-31 06:03] zhangsaisai1995 opened #5186 "[Bug][MASTER] DS kill all yarn apps"
**Describe the bug**
When we restart the DS server, DS kills all the yarn apps.It happens when the task contains commands
**To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.
1. Create a DS shell task with the command: yarn application -list
2. Restart the DS server after starting the task
3. Then you will see all the yarn apps will be killed by D

[2021-03-31 06:08] zhangsaisai1995 commented on #5186
@zhuangchong

[2021-03-31 06:36] leeseven1211 commented on #4422
I ran into the same problem @ke4qqq @gmcdonald @jbampton @Humbedooh

[2021-03-31 06:56] Cocytus316 commented on #4827
I have the same problem, please

[2021-03-31 08:58] zhuangchong commented on #5186
@zhangsaisai1995
This is a real problem, and the community is talking about a good solution.

[2021-03-31 10:54] lyyprean opened #5189 "[Feature][WORKER] Spark task support the Spark3 version"
**Describe the feature**
I want to develop a feature that Spark tasks support for the Spark3 version

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I am using Hudi, which requires Spark3.0

[2021-03-31 11:51] chengshiwen commented on #5189
@lyyprean In fact, the way to submit applications with `spark-submit` is the same, regardless of Spark 1, Spark 2 or Spark 3.
In other words, you can set `SPARK_HOME2=/path/to/spark-3.1.1-bin-hadoop2.7` in `env/dolphinscheduler_env.sh`

Note: `SPARK_HOME2` instead of `SPARK2_HOME`

[2021-03-31 12:50] #5172 closed, assigned to wanghong1314

[2021-03-31 13:50] ruanwenjun commented on #5169
I can do it

[2021-03-31 14:23] davidzollo commented on #5118
good job
could you submit a PR to solve this issue?

website github repository: https://github.com/apache/incubator-dolphinscheduler-website

[2021-03-31 14:52] chengshiwen commented on #5118
@keepmeup
This description is inaccurate. In fact, when the CPU load is lower than `worker.max.cpuload.avg` on a worker, a task dispatched to the worker can be executed.

The following description is accurate:

Could you submit a PR to solve this issue and join the DolphinScheduler open source community? Thanks sincerely

I have reviewed the configurations of master and server, and you can revise

[2021-03-31 15:00] ruanwenjun commented on #5121
The default dispatch strategy considers the worker's cpu, memory, loadAverage, it can work well with task priority on most time. And it is suggested to use special work groups for the task which needing long time.
Additional we can consider to adding work's waiting task to the dispatch strategy, this feature needs ds supports.

[2021-04-01 06:47] zjw-zjw opened #5194 "[Question] Stop the workflow, But can‘t Stop yarn application"
I run a shell command waht is run sqoop to load data into hive. And it is running with mapreduce, when I stop the workflow，I think this MR application will be kill， but was not. The Mr applicaiton is still RUNNING. And I dont know why.

**Which version of DolphinScheduler:**
 -[1.3.5]

**This is the log**
![image](https://user-images.githubusercontent.com/48348786/113254137-c9cafc00-92f8-11eb-851b

[2021-04-01 11:44] ruanwenjun commented on #5183
Yeah, this does happen.
But I think this is reasonable, the task's workgroup can override the workflow's workgroup setting.
If a user has 10 tasks in his workflow, and he wants most of the task run at workgroup1 and only taskB run at workgroup2, then he only needs to set taskB works on workgroup2 and the workflow works on workgroup1.

The detail code you can see at MasterExecThread.java line 514.

[2021-04-01 12:35] CalvinKirs commented on #5169
close by #5192

[2021-04-01 12:35] #5169 closed, assigned to nobody

[2021-04-01 12:44] #5124 closed, assigned to nobody

[2021-04-01 12:51] CalvinKirs commented on #4383
close by #5093

[2021-04-01 12:51] #4383 closed

[2021-04-01 13:13] ruanwenjun opened #5196 "[Improvement][Worker] Task load"
**Describe the question**
Now we can get the cpu、memory usage of works and masters, but sometimes we also want to get the waiting task number of each worker.

**What are the current deficiencies and the benefits of improvement**
Help us monitor the load of the cluster.

**Which version of DolphinScheduler:**
 -[1.3.6]
 -[dev]

**Describe alternatives you've considered**
Store the taskSize on zk by

[2021-04-01 15:09] ChenCarlos opened #5197 "[Question] SyntaxError: Non-ASCII character '\xe4' in file xxxx"
在资源中心->文件管理中，上传一个python文件（例如，文件名叫include.py），且文件里包含中文。
那么用Python组件运行Python代码，代码里import include

运行流程会报以下错误：
SyntaxError: Non-ASCII character '\xe4' in file xxxx

如果把include.py里的中文改为英文，就不会报错。

请问如何让include.py支持中文？

[2021-04-02 04:10] chengshiwen opened #5198 "[Bug][Docker/K8s] Incorrect runtime metrics of cpu and memory in Docker/K8s"
**Bug description**
There are several metric methods: `loadAverage`, `cpuUsage`, `memoryUsage`, `totalMemorySize`, and `availablePhysicalMemorySize` in the file [OSUtils.java](https://github.com/apache/incubator-dolphinscheduler/blob/dev/dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/utils/OSUtils.java), and
[Runtime.getRuntime().availableProcessors()](https://github.com/

[2021-04-02 07:53] chengshiwen commented on #5197
@ChenCarlos You should add the following lines at the beginning of the file `include.py`:
[code]

By the way, please update the title in English, thx

[2021-04-02 09:04] xingchun-chen opened #5199 "[Bug][api] When sleep is included in a shell task, cannot kill the task"
![image](https://user-images.githubusercontent.com/55787491/113400980-429f8600-93d5-11eb-8002-7684d36d6ed1.png)
![image](https://user-images.githubusercontent.com/55787491/113401140-81cdd700-93d5-11eb-89dd-a259284e5dae.png)

**Which version of Dolphin Scheduler:**
 -[1.3.6-prepare]

[2021-04-02 09:15] xingchun-chen commented on #5194
It is the same as #4862

[2021-04-02 09:26] JVincerW opened #5201 "[Improvement][Resources] Cannot upload entire folder to Resources"
Hope to support batch upload of files and recursive upload folder functions to resources

[2021-04-02 09:27] xingchun-chen commented on #5180
@ruanwenjun Look forward to your contribution

[2021-04-02 09:59] tercel53 opened #5202 "[Feature][Service] execute one workflow on time when some workflows are finished without sub workflow"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
 I want to execute one workflow on time when some workflows are finished，one way is that add a sub workflow task in the upstream workflow，but it need modify the upstr

[2021-04-02 10:43] chengshiwen commented on #5155
close by #5158

[2021-04-02 10:43] #5155 closed, assigned to nobody

[2021-04-02 10:43] chengshiwen commented on #5068
close by #5158

[2021-04-02 10:43] #5068 closed, assigned to nobody

[2021-04-02 10:48] chengshiwen commented on #4804
Close this issue, since no updats for a long time and unable to reproduce

[2021-04-02 10:48] #4804 closed, assigned to nobody

[2021-04-02 10:52] chengshiwen commented on #5055
close by #5056

[2021-04-02 10:52] #5055 closed, assigned to nobody

[2021-04-02 11:26] chengshiwen commented on #4580
@wssmao You can try the 1.3.5-release or the next 1.3.6-release

![image](https://user-images.githubusercontent.com/4902714/113411798-450bdb00-93e9-11eb-9533-0b783dd5aa7c.png)

[2021-04-02 11:29] chengshiwen commented on #4868
Close since no updates for long time

[2021-04-02 11:29] #4868 closed, assigned to nobody

[2021-04-02 11:30] chengshiwen commented on #4865
Close since this issue has been solved

[2021-04-02 11:30] #4865 closed, assigned to nobody

[2021-04-02 11:40] chengshiwen commented on #4907
@MrZhangZetao Please check the following logs, the `__spark_conf__.zip` uploaded error.

[code]

By the way, Please check if `SparkPi` can run normally (Pay attention to replace `spark-examples_2.11-2.4.7.jar` with the actual jar file):
[code]

[2021-04-02 15:21] ruanwenjun commented on #5201
Efficient feature

[2021-04-03 05:23] ruanwenjun commented on #5199
I can kill the task, after install the `pstree` on my environment.
And the task can be killed successfully.
![image](https://user-images.githubusercontent.com/22415594/113478959-9fc33680-94be-11eb-82cc-11294d960ebf.png)

But there is still an error, that I don't have permission to kill the parent process, but I can kill the subprocess, so the task is still be killed.
[code]
[code]

[2021-04-03 13:26] irhawks commented on #249
+1

[2021-04-03 18:22] lisirrx opened #5207 "[Question] Does DS support task resource islation, like using docker to execute task"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**

**Which version of DolphinScheduler:**
 -[1.3.5]

**Additional context**

**Requirement or improvement**

[2021-04-04 08:16] ruanwenjun opened #5208 "[Improvement][Server] Remove the unnecessary dependency"
**Describe the question**

Master and Worker use spring to inject the dependency, this is convenient. But this also  brings unnecessary class.
For example, in the worker, it will inject the `ExecutorDispatcher.class`, and this is unnecessary,  it will scan the work nodes from zookeeper schedulerly, maybe we should avoid this happens.

**What are the current deficiencies and the benefits of improve

[2021-04-04 08:50] #5208 closed, assigned to nobody

[2021-04-04 14:23] ruanwenjun opened #5210 "[Improvement][Server] Must restart master if Zk reconnect"
**Describe the question**
If zookeeper is disconnect, the master server stop work, and when the zookeeper reconnect, we need to restart the master server, the master server can't automatic recovery.
Because when the zookeeper reconnect, treeCache will produce NODE_REMOVED event, `ZKMasterClient` receive this event and add the server to deadNode. When the `HeartBeatTask` check the master is on dead

[2021-04-05 03:29] CalvinKirs commented on #5194
fix by #4936

[2021-04-05 03:29] #5194 closed, assigned to nobody

[2021-04-05 03:30] CalvinKirs commented on #5207
Please describe your problem in English, Thx

[2021-04-05 03:31] CalvinKirs commented on #5210
+1,sonuds good to me.

[2021-04-05 03:36] CalvinKirs commented on #5197
Python's default encoding file is ASCII code, you should try it according to the @chengshiwen  method. btw, please use English. Thx

[2021-04-05 03:41] CalvinKirs commented on #5196
Everyone is welcome to discuss.

[2021-04-05 03:46] CalvinKirs commented on #5186
We need to change the storage method of appid, it is best to store it in DB, If at the time of kill (usually when fault tolerance is needed), first call the API to determine the final execution result of the yarn task, whether it will be better.

[2021-04-05 11:46] ruanwenjun commented on #5186
Maybe it is better to use YarnClient or SparkLauncher to run the task install of using shell command, then we can easily get the applicationId.

[2021-04-06 02:47] #5199 closed, assigned to nobody

[2021-04-06 03:14] glxfeng opened #5213 "[Bug][Worker] error:Text file busy"
**Describe the bug**
When using shell, you will occasionally encounter “Text file busy” error.
This problem is hard to recur. Our DS cluster executes 50000 + jobs every day, but only three times in two weeks.
Is it caused by different jobs generating the same sh temporary file, because I don't know the naming rules of SH file, this is just my guess.

---
使用shell组件时候，偶尔会遇到“Text file busy”错误。
这个问题很难

[2021-04-06 03:47] roamerop opened #5215 "[Question] Prevent duplicate instance running"
**Describe the question**
I define a process and attach `schedule management` which run every ten minutes.  But sometimes the prcess takes more than ten minutes to finish and I don't want the process to start "stacking up" over each other.

**Which version of DolphinScheduler:**
 -[1.3.2]

[2021-04-06 07:42] chengshiwen commented on #5207
@lisirrx Tasks do not support resource isolation. Similar to it, worker groups can be used to isolate tasks. Currently DS does not support starting tasks through docker, but you can deploy DS through docker or k8s

[2021-04-06 09:09] sincere2018 opened #5218 "[Bug][Master] The task instance priority is incorrectly set."
Describe the question：
  When I set the priority of the task instance, it does not take effect. So I found the source code.Line 221 of MasterBaseTaskExecThread in the server module，The code is as follows:
  /**
     *  taskPriority
     */
    TaskPriority taskPriority = buildTaskPriority(processInstance.getProcessInstancePriority().getCode(),
            processInstance.getId(),
            taskI

[2021-04-06 13:59] #5157 closed, assigned to heyzeng

[2021-04-06 14:32] davidzollo commented on #4831
this feature has been opened for a long time, I will find new contributor to finish it

[2021-04-06 15:15] davidzollo commented on #5213
It is the first time I saw this error,

I found some information about `text file busy` from Stack Overflow： https://stackoverflow.com/questions/16764946/what-generates-the-text-file-busy-message-in-unix
the mainly cause may be: The Text file busy error in specific is about trying to modify an executable while it is executing.

please add my wechat : 510570367, we can communicate this error , when

[2021-04-07 01:23] sincere2018 commented on #5218
So I think it should be rewritten this way.
/*
* taskPriority
*/
TaskPriority taskPriority = buildTaskPriority(processInstance.getProcessInstancePriority().getCode(),
processInstance.getId(),
taskInstance.getTaskInstancePriority().getCode(), // modify here
taskInstance.getId(),
org.apache.dolphinscheduler.common.Constants.DEFAULT_WORKER_GROUP);

[2021-04-07 02:04] OliverBai opened #5221 "[Question] How to make the new queue and tenant work well？"
**Describe the question**
steps:
1.Set a new queue and tenant on hadoop and DS, named 'query'.
2.Change an user's property of queue from 'default' to 'query'
3.Start the task of the user, but it's still running in the 'default' queue. It's excepted running in the new 'query' queue.
Q: How to make the new 'query' queue working ?

**Which version of DolphinScheduler:**
1.3.2

**Additional context**

[2021-04-07 03:32] chengshiwen commented on #5221
@OliverBai Could you give us more details about he task?

[2021-04-07 03:58] OliverBai commented on #5221
here are some details:
![image](https://user-images.githubusercontent.com/14051824/113808283-485fe780-9798-11eb-998b-acb1e3f1966e.png)
![image](https://user-images.githubusercontent.com/14051824/113808342-662d4c80-9798-11eb-8107-d13ba3fcceea.png)
![image](https://user-images.githubusercontent.com/14051824/113808353-6a596a00-9798-11eb-8840-345d9da5a918.png)
![image](https://user-images.githubuserco

[2021-04-07 04:13] chengshiwen commented on #5221
@OliverBai Could you show us the command about the task in worker log like follow?

![image](https://user-images.githubusercontent.com/4902714/113809433-aab9e780-979a-11eb-830d-6c44c7bb1956.png)

[2021-04-07 06:19] OliverBai commented on #5221
sorry，i don't know how to get the log like what you show。。。。
but in another way i make the task working on 'bi' queue with setting sql parameters:  **mapreduce.job.queuename=bi**

![image](https://user-images.githubusercontent.com/14051824/113819369-ca0d4080-97ab-11eb-9aaa-91edceb6ff38.png)
![image](https://user-images.githubusercontent.com/14051824/113819569-12c4f980-97ac-11eb-9c6d-3075748676b0.p

[2021-04-07 06:40] lisirrx commented on #5207
sry, I will edit the issue title

[2021-04-07 06:42] lisirrx commented on #5207
thanks for your reply!
is there any planning to support task level resource isolation, or integrate with k8s/yarn?

[2021-04-07 07:07] OliverBai commented on #5221
Find a better way to make it right.
just modify the data resource and add the parameters.
![image](https://user-images.githubusercontent.com/14051824/113824944-f4163100-97b2-11eb-9bac-9d65dbb0f52b.png)
 it works too

[2021-04-07 07:26] zhuangchong commented on #5221
@OliverBai

Because you are using Hive SQL, the SQL task currently does not support the use of tenant queues.

[2021-04-07 07:53] CriysHot opened #5225 "[Question]how to use alert plugin?"
how to use alert plugin?
i want to send message to myself  when the alarm goes off

[2021-04-07 08:39] zhuangchong opened #5227 "[Feature][Common] Support for multiple YARN clusters"
**Describe the feature**
Support for multiple YARN clusters

[2021-04-07 09:22] Macolm6 opened #5229 "[Feature][server port] server port custom config"
**Describe the feature**
all application can custom config server port

[2021-04-07 09:46] BoYiZhang commented on #5229
For example, port 50051

![image](https://user-images.githubusercontent.com/39816903/113846522-2599f700-97c9-11eb-9183-cc9f9ae17325.png)

[2021-04-07 11:58] wynn45de commented on #4134
encountered the same issue, how to fix

version: 1.3.4

[ERROR] 2021-04-07 00:01:14.406 org.apache.dolphinscheduler.remote.handler.NettyClientHandler:[184] - exceptionCaught : {}
io.netty.handler.codec.DecoderException: java.lang.IllegalArgumentException: illegal packet [magic]72
	at io.netty.handler.codec.ReplayingDecoder.callDecode(ReplayingDecoder.java:421)
	at io.netty.handler.codec.ByteToMess

[2021-04-07 13:58] ruanwenjun commented on #5225
You need to start up AlertServer

[2021-04-07 14:08] CalvinKirs commented on #5225
What version are you talking about?

[2021-04-08 00:52] wynn45de opened #5230 "[Question][Critical] java.lang.IllegalArgumentException: illegal packet [magic]72"
encountered the same issue, how to fix

version: 1.3.4

[code]

_Originally posted by @wynn45de in https://github.com/apache/incubator-dolphinscheduler/issues/4134

[2021-04-08 02:49] fyydnz53 opened #5231 "[Bug][dolphin_scheduler-dev.tar.gz]some .sh have \r"
![image](https://user-images.githubusercontent.com/51303106/113960857-aef80a80-9857-11eb-9aba-5c68fd403285.png)
in the script/ and bin/ ,some file have \r ;
20210408

[2021-04-08 02:54] chengshiwen commented on #5231
@fyydnz53 Could you give us more details about the ds dev commit info and your os info?

[2021-04-08 03:30] fyydnz53 commented on #5231
myos is ubuntu16.04;
I fix it by use sed -i 's/\r//g' ./*

[2021-04-08 06:07] ycfn97 opened #5232 "dolp调度sqoop执行没问题，但是任务一直显示执行中，不往下走，任务已经执行成功，但是一直显示正在执行，导致后面任务链无法继续"
[1617844414113.log](https://github.com/apache/incubator-dolphinscheduler/files/6276417/1617844414113.log)
![image](https://user-images.githubusercontent.com/44201208/113976394-aad9e600-9873-11eb-8715-bd060d7a4672.png)

[2021-04-08 06:47] chengshiwen commented on #5221
Close the issue since it has been solved

[2021-04-08 06:47] #5221 closed, assigned to nobody

[2021-04-08 06:59] chengshiwen commented on #5231
@fyydnz53 The shell scrips don't contain `\r` in dev branch, so could you check if the shell scripts have been edited on Windows?

[2021-04-08 08:40] wangxj3 opened #5233 "[Bug]If commandMap doesn't contains StartParams,REPEAT RUNNING processInstance will throw exceprion"
[Bug]if commandMap doesn't contains CMD_PARAM_START_PARAMS,REPEAT RUNNING processInstance will throw exceprion.
The commandMap  contains key ,except the key of StartParams ,when REPEAT RUNNING processInstance will throw exceprion .

[2021-04-08 10:58] #5233 closed, assigned to nobody

[2021-04-08 13:44] ruanwenjun opened #5235 "[Improvement][ApiServer] Traffic limit"
**Describe the question**
After support OpenAPI, it is necessary to control the traffic, otherwise the service may be  breakdown.

**What are the current deficiencies and the benefits of improvement**
- Maybe we can add global request rate limit. And in the future, we can consider to support tenant-level rate control

**Which version of DolphinScheduler:**
 -[1.3.6-preview]

[2021-04-08 15:39] #5197 closed, assigned to nobody

[2021-04-08 15:43] #4831 closed, assigned to nobody

[2021-04-08 16:06] gaoyu2016 opened #5237 "[Bug][API] org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[45]"
org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[45] - 创建用户错误
java.lang.NullPointerException: null
	at org.apache.dolphinscheduler.common.utils.HadoopUtils.exists(HadoopUtils.java:358)
	at org.apache.dolphinscheduler.api.service.UsersService.createUser(UsersService.java:128)
	at org.apache.dolphinscheduler.api.service.UsersService$$FastClassBySpringCGLIB$$e4fd56f5.invoke(<generated>

[2021-04-08 16:07] gaoyu2016 commented on #5237
1.3.4 version

[2021-04-08 16:25] ruanwenjun commented on #5237
It seems that the file system has not initialized successfully, you need to provide more effective error log information about `HadoopUtils`. It is also suggested you to upgrade to the latest version.

[2021-04-08 23:19] gaoyu2016 commented on #5237
日志就这些，没有别的了。
org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[45] - 创建用户错误
java.lang.NullPointerException: null
	at org.apache.dolphinscheduler.common.utils.HadoopUtils.exists(HadoopUtils.java:358)
	at org.apache.dolphinscheduler.api.service.UsersService.createUser(UsersService.java:128)
	at org.apache.dolphinscheduler.api.service.UsersService$$FastClassBySpringCGLIB$$e4fd56f5.invok

[2021-04-09 05:04] chengshiwen commented on #5237
@gaoyu2016 Did you configure `resource.storage.type` to `HDFS` or `S3` in `conf/common.properties`?

[2021-04-09 05:06] liangziqiang opened #5240 "task alert"
Task alarm supports Dingding  OR SMS

[2021-04-09 05:57] CalvinKirs commented on #5240
The relevant code has been developed and merged into the dev branch. We plan to release it in version 1.4.0.you can refer this issue #5238 3049

[2021-04-09 05:57] #5240 closed, assigned to nobody

[2021-04-09 06:00] CalvinKirs commented on #5235
Can you state your specific design plan.

[2021-04-09 06:00] CalvinKirs commented on #5232
please use english.thx

[2021-04-09 06:11] CalvinKirs commented on #5230
Thanks for your feedback, I need some time to test. btw, please submit the standardized ISSUE according to the ISSUE template

[2021-04-09 07:24] shuimuziyang opened #5241 "Bug: create dataX job json error"
[https://github.com/apache/incubator-dolphinscheduler/blob/dev/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/worker/task/datax/DataxTask.java](url)
line:313-314
Reader and Writer in datax job json file is json string. DataX parse job json file failed.

[2021-04-09 07:51] gaoyu2016 commented on #5237
resource.storage.type=HDFS
配置过了。这个1.3.1没出现过这个问题，升级到1.3.4就出现过了。

[2021-04-09 09:00] glxfeng opened #5242 "[Bug][master] High load on workgroup A can cause workgroup B can‘t run task（work组A的机器负载高会影响work组B上作业的执行）"
1.Our DS cluster has 3 masters, 3 workgroups, each workgroup has several worker nodes, and each task specifies one of the workgroup.
2.When masterA distributes the tasks of workgroup1, if all nodes of workgroup1 are full load.
![image](https://user-images.githubusercontent.com/57620584/114156557-4bec9d80-9955-11eb-8a96-677179cbc951.png)
At this time, the tasks of workgroup1 will not be distributed

[2021-04-09 09:21] ruanwenjun commented on #5235
Setting request limit is mainly to protect the system.
The simple way is to set the global request limit, this can prevent users from sending numerous requests by mistake. When the system receives the maximum number of request, it fast returns 429 for new requests.
But this also affect other tenant, so we need to set alone request limit for each tenant. The specific implementation is to create `Ra