[2022-08-23 00:28] #10943 closed, assigned to Jekong-hao

[2022-08-23 00:45] labbomb commented on #11584
Are you referencing es /_mixins directly in some of the source code? If so, it should be introduced from the unified entrance as much as possible

[2022-08-23 01:15] fuchanghai commented on #11601
Maybe hit the ```improvements``` tag instead of the ```bug``` tag，The title may be modified to 'Allow manual configuration of S3's BUCKET_NAME'

[2022-08-23 01:27] SbloodyS commented on #11601
I'll fix it.

BTW, it's better to use english to describe it.

[2022-08-23 01:59] SbloodyS commented on #11601
This issue has been fixed in #10433. Will be release in the next version.

[2022-08-23 01:59] #11601 closed, assigned to SbloodyS

[2022-08-23 02:02] SbloodyS commented on #11597
Could you provide more detail infomation about this issue? @xiaohei88

[2022-08-23 02:07] woshiwuxiaofei opened #11604 "[Improvement][dolphinscheduler-python] Does not support the callback function when the task is executed like airflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, most of pydolphinscheduler uses python to call JAVA to create certain objects. Only a few methods can obtain JAVA objects. Tasks or workflow running states are missing on the Python side, so callback f

[2022-08-23 02:13] jieguangzhou opened #11605 "[BUG] [Python Switch Task] The default branch will report an error if it is not defined last"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="687" alt="image" src="https://user-images.githubusercontent.com/31528124/186053396-a646d3cf-30a4-4d6b-9d23-0ca2ffce9162.png">

[code]

### What you expected to happen

Should be successful

### How to reproduce

[2022-08-23 02:29] yu-ang-zhang opened #11607 "[Bug] [Workflow - Resource] Workflow failure due to inclusion of secondary directory files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I tried to run the shell script file in the folder, I selected the corresponding footer in the resource bar, when I tried to call the script using sh the workflow failed to run and only a log of the log address showed up in

[2022-08-23 02:31] dijiekstra commented on #11604
Perhaps you can customize an alarm plugin such as Rabbit MQ to listen to the success or failure status of a task

[2022-08-23 02:33] SbloodyS commented on #11607
What resource type did you use? HDFS or S3? @yu-ang-zhang

[2022-08-23 02:40] EricGao888 commented on #10340
Hello @yangjf2019, may I ask whether you are still working on this issue? We have received feedback from many users that they get blocked by this issue. IMHO we could have a hot-fix for it at the first step, simply increasing the threshold. Then we could move it further and make it configurable for users. Thanks.

[2022-08-23 02:40] EricGao888 commented on #11117
No stale

[2022-08-23 02:45] yu-ang-zhang commented on #11607
Is HDFS, thx

[2022-08-23 02:46] yu-ang-zhang commented on #11607
![WeChat Screenshot_20220823103514](https://user-images.githubusercontent.com/88067782/186058013-16073030-b1ef-4023-8fca-6703329d9751.png)
![WeChat Screenshot_20220823103637](https://user-images.githubusercontent.com/88067782/186058019-f8dfe4ae-05d1-4a2f-96b5-eaebe6935c18.png)
![WeChat Screenshot_20220823103831](https://user-images.githubusercontent.com/88067782/186058032-1307b940-0085-4ca0-9387-9

[2022-08-23 02:51] SbloodyS commented on #11607
It seems there are another error in your `api-server` since your task log cannot be displayed normally. Please check the error log and paste it here. @yu-ang-zhang

[2022-08-23 02:54] #11546 closed, assigned to Zephyrcf

[2022-08-23 03:04] fengjian1129 opened #11608 "[Improvement][task-plugin] New time variables are added to facilitate business development"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the process of data development, the original time variable provided by the dolphin scheduler needs to do many secondary calculations to obtain the available business time. I want to provide more convenient tim

[2022-08-23 03:11] yu-ang-zhang commented on #11607
I did try to look at the logs at this address, but I didn't find it under this path

[2022-08-23 03:23] yu-ang-zhang commented on #11607
I did try to look at the logs at this address, but I didn't find it under this path. I just tried again and couldn't find log, but found the following log file in the address two levels above the address

![WeChat Screenshot_20220823112226](https://user-images.githubusercontent.com/88067782/186062533-ace133b5-9924-41bd-8b14-2c8c027c7462.png)
![WeChat Screenshot_20220823112146](https://user-images.

[2022-08-23 03:28] SbloodyS commented on #11607
The log shows that you are using S3 instead of HDFS. The s3 download issue has been fixed in #10433. And will be release in the next version.

[2022-08-23 03:29] hqzh opened #11609 "[Question] [UI] router base dev env Refresh fail"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

i want in dev env append a router pre
![image](https://user-images.githubusercontent.com/26128706/186063212-636459ef-a3c3-49ba-a1cd-302f7e7f73b0.png)
![image](https://user-images.githubusercontent.com/26128706/186063244-616a

[2022-08-23 03:35] yu-ang-zhang commented on #11607
Thank you very much, I didn't realize we had changed to using S3. Very next release, thanks again!

[2022-08-23 03:36] SbloodyS commented on #11607
You're welcome. I'll close this issue.

[2022-08-23 03:36] #11607 closed, assigned to nobody

[2022-08-23 06:16] hqzh commented on #11609
![image](https://user-images.githubusercontent.com/26128706/186084118-563e2baf-0d1f-4f9f-be7c-3303e08930c5.png)
**为什么加了前缀跑到2.x的界面了**
@SbloodyS

[2022-08-23 06:27] #11523 closed, assigned to longtb976

[2022-08-23 06:31] MkkOF commented on #11584
errors happened in the source code of dolphinsheduler-ui，custom-parameters.ts and some other .ts files
![image](https://user-images.githubusercontent.com/18656889/186086727-f9f3a674-7112-4ff5-9680-154eb3c3f24e.png)

[2022-08-23 07:05] hqzh commented on #11609
**version 3.0.0 prod  `yarn build:prod`  is render 2.x version UI **  @SbloodyS
![image](https://user-images.githubusercontent.com/26128706/186092824-b21b9759-b210-4efe-af44-122d6a4d07b7.png)

[2022-08-23 07:09] SbloodyS commented on #11609
Please use english to describe it. @hqzh

[2022-08-23 07:16] hqzh commented on #11609
@SbloodyS  Isn't this bug?

[2022-08-23 07:18] SbloodyS commented on #11609
Please operate according to the environmental requirements and steps of the document.
`https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/contribute/development-environment-setup.html`

[2022-08-23 07:29] zhongjiajie commented on #11575
fix in https://github.com/apache/dolphinscheduler/commit/9badb2d2fbc6b79efca96247dbc49a39ca6868f7,the link https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/guide/metrics/metrics.html work correctly. thank for your feedback @QuakeWang

[2022-08-23 07:29] #11575 closed, assigned to QuakeWang

[2022-08-23 07:30] zhongjiajie commented on #11575
for release manager, I directly add a new commit to branch 3.0.0-release, so we can checkout new branch from 3.0.0-release and not cherry pick this commit

[2022-08-23 07:49] hqzh commented on #11609
I follow the document steps ,but not expected results

[2022-08-23 07:53] SbloodyS commented on #11609
Can you describe the steps you operate? @hqzh

[2022-08-23 07:59] hqzh commented on #11609
1. git branch checkout 3.0.0-realease
2. yarn run dev --mode production
@SbloodyS
**render result is  2.x UI，I expected  3.x UI**
![image](https://user-images.githubusercontent.com/26128706/186104410-73a17192-ae02-43e5-b32c-46e3d0aec78f.png)

<br /><br /><br />

**normal view，this is docker build.**
![image](https://user-images.githubusercontent.com/26128706/186104636-9434cb12-f0c6-49cd-87cf-6233e

[2022-08-23 08:04] SbloodyS commented on #11609
Please read the document carefully. We don't support yarn right now. And pull the latest 3.0.0-release branch after checkout.

[2022-08-23 08:33] hqzh commented on #11609
let me try pnpm, i will feedback

[2022-08-23 09:12] #10942 closed, assigned to shangeyao

[2022-08-23 09:38] l838224553 opened #11612 "[Improvement] [Node Execution] 3.0.0 version cannot execute only the current node task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

In version 3.0.0,  I cannot execute only the current node task. This is because node execution selection is not performed on the operable interface. But version 2.0.6 does.
As shown below, the first picture is the node task

[2022-08-23 09:46] hqzh commented on #11609
pnpm it's works . thanks man.

[2022-08-23 09:47] hqzh commented on #11609
**This problem still exists**

[2022-08-23 10:17] ruanwenjun opened #11613 "[Improvement][SPI] Add priority strategy to customize overload the plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When we import the ds lib in our project, we hope to override the plugin, but don't change the ds code.

So this issue is want to import the plugin priority interface, we can set different strategies to handle the

[2022-08-23 10:40] MonsterChenzhuo opened #11615 "[Feature][New Module] using DQL to generate a DAG containing some SQL tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The current dolphinscheduler is still too complicated to configure, and often requires pointing and clicking, which is a pain in the ass.
I was wondering if we could just parse a sql into a DAG for scheduling. Thi

[2022-08-23 10:50] WangJPLeo opened #11616 "[Bug] Modify workflow definition name validation error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Modify workflow definition name validation error

### What you expected to happen

Normal

### How to reproduce

Change the existed workflow name.

### Anything else

No

### Version

dev

### Are you willing to submit PR?

[2022-08-23 12:22] DarkAssassinator opened #11620 "[DOC] should notice that need setting the full path when call the resource file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

serveral colleagues reported that when calling the resource file in shell task, they thought is was the file name by default, but actually the file was stored in different suddirectorie at various levels, then the failed tas

[2022-08-23 12:32] hqzh commented on #11609
it like's not support  ```-```，why  design it like this？

[2022-08-23 14:23] wen-hemin opened #11623 "[Improvement][Master Server] When complement data, execution strategy of downstream tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When the upstream task executes the complement data, the downstream task has two trigger mechanisms.
1.After the upstream task is successfully executed, the downstream task is automatically triggered to continue t

[2022-08-24 00:24] #11012 closed, assigned to nobody

[2022-08-24 00:24] #11006 closed, assigned to ZYJBigData

[2022-08-24 00:24] #10936 closed, assigned to nobody

[2022-08-24 00:24] #10924 closed, assigned to nobody

[2022-08-24 02:18] zhongjiajie commented on #7618
we add integration test in https://github.com/apache/dolphinscheduler/pull/8966, we currently test no external environment(like flink, sprark) example code

[2022-08-24 02:19] zhongjiajie commented on #7618
duplicate #8035

[2022-08-24 02:19] #7618 closed, assigned to nobody

[2022-08-24 02:20] zhongjiajie commented on #8253
Should be a part of #8517

[2022-08-24 02:45] ruanwenjun commented on #11175
It seems caused by the appIds in TaskExecutionContext is null.

[2022-08-24 03:05] zhongjiajie commented on #8254
related: #11534

[2022-08-24 03:08] songjianet commented on #11553
I will fix it.

[2022-08-24 03:34] #11553 closed, assigned to songjianet

[2022-08-24 03:55] ruanwenjun commented on #11503
closed by #11504

[2022-08-24 03:55] #11503 closed, assigned to WangJPLeo

[2022-08-24 04:07] songjianet commented on #11584
Naive has been upgraded, pnpm7+ may be required, and I will update the corresponding README in the future.

[2022-08-24 07:42] 8431 opened #11627 "[Bug] [dolphinscheduler-common] When an application is deployed on the EC2 machine on AWS and S3 is operated, it will be rejected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When you deploy an application on the EC2 machine of AWS to operate S3, it will be rejected

AWS EC2 machine will not use key access because of security policy
![Screenshot2022_08_24_154117](https://user-images.githubusercon

[2022-08-24 07:47] devosend commented on #11583
Can you provide the data returned by the backend?
Normal, the back-end data should be similar to the following
<img width="783" alt="image" src="https://user-images.githubusercontent.com/8847400/186361169-ae3b426e-aea1-470d-8090-24585564bd5e.png">

[2022-08-24 08:13] sketchmind commented on #11612
relate #10117

[2022-08-24 09:04] MonsterChenzhuo opened #11628 "[Feature][Module Name] To identify whether the probe-dependent task is successful or not"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Today there is a task that depends on 30 tables, and then the node that detects the dependency can not pass, and does not show that the dependency did not succeed, at that moment I was in a state of collapse. I ha

[2022-08-24 09:59] fuchanghai opened #11630 "[Feature][worker] select ip based on network displayName"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="669" alt="image" src="https://user-images.githubusercontent.com/33984497/186388948-18d468e4-715b-489d-9208-99ef53f9782f.png">

this machine have two inner ip address.i want to use the second.but ds sel

[2022-08-24 10:10] SbloodyS commented on #11630
We have already supported this in
https://github.com/apache/dolphinscheduler/blob/878989579150aebe34a8f19e5af7589d74cfebaa/dolphinscheduler-common/src/main/resources/common.properties#L89-L93

However, I found that there is no introduction to this in the document. Would you like to fix it?

[2022-08-24 10:40] fuchanghai commented on #11630
OK , There used to be a feature in front of me, but now it's gone

[2022-08-24 10:59] #11534 closed, assigned to labbomb

[2022-08-24 11:42] ruanwenjun commented on #11615
So this issue is about using DQL to generate a DAG containing some SQL tasks? Please change the issue title.

[2022-08-24 11:51] #11613 closed, assigned to ruanwenjun

[2022-08-24 11:56] ruanwenjun commented on #10938
Can we use `#!/bin/bash` to replace `#!/bin/sh`? @SbloodyS @caishunfeng

[2022-08-24 11:59] #11616 closed, assigned to WangJPLeo

[2022-08-24 12:48] zhongjiajie commented on #11615
I think we prefer add this feature to our ecosystem(although is not exists currently)

[2022-08-24 14:00] DarkAssassinator commented on #11581
can i do this case? i am interest in this, i want to add kafka cluster first.
or we can dicuss it.

[2022-08-24 14:08] SbloodyS commented on #11388
Can you provide the steps to reproduce this issue? @luoxiqiang

[2022-08-24 15:26] sketchmind opened #11631 "[Improvement][Task] Dependent task nodes support setting dependencies based on offsets"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The current dependence task node can support very limited scenarios, if it is changed to offset, it will be more flexible to support more scenarios.

Volcengine has a very good implementation, like the following,

[2022-08-24 16:54] xiaomaiyun opened #11632 "[Bug] [sql] Unable to use global parameter in sql"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I reference the global variable dt in sql(hive), but I can't get the parameters correctly. My configuration is as follows:
task type: SQL
Datasource types:Hive
SQL Type: Non Query
Global Variables:key=dt,value=$[yyyy-MM-dd-1

[2022-08-25 00:25] #11024 closed, assigned to nobody

[2022-08-25 00:25] #11023 closed, assigned to nobody

[2022-08-25 00:25] #10920 closed, assigned to nobody

[2022-08-25 00:53] seedscoder opened #11633 "[Bug] [dolphinscheduler-dao] PostgreSQL database initialization script SQL syntax error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[code]
The reason for the error is:
[code]

### What you expected to happen

The initialization operation can be completed normally on the PostgreSQL database

### How to reproduce

- Start database container

[code]

- By o

[2022-08-25 01:37] ruanwenjun commented on #11587
Could you please provide more detail?

[2022-08-25 01:38] #11476 closed, assigned to nobody

[2022-08-25 01:41] ruanwenjun commented on #11388
Could you please provide the exception and event detail?

[2022-08-25 02:03] stalary opened #11635 "[Bug] [Master-server] Master-server often disconnect with zookeeper due to server down"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Master-server often disconnect with zookeeper due to server down
log
[code]

### What you expected to happen

run normal.

### How to reproduce

start master-server register with zookeeper, wait some time.

### Anything else

[2022-08-25 02:51] fuchanghai opened #11636 "[Feature][Worker] Get ip by specifying"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

## One network card has two ips
displayName of eth1:
[code]

### Use case

- i want to specify ip
- update codes in method of getLocalAddress0

[code]

### Related issues

_No response_

### Are you willing to sub

[2022-08-25 02:55] EricGao888 opened #11637 "[Improvement][Test] Block the usage of `Powermock`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We could block the usage of `Powermock` by `Spotless`.
* Change the pre-commit hook from `mvn spotless:apply` to `mvn spotless:check` to avoid confusing.

related: #11405

### Are you willing to submit a PR?

-

[2022-08-25 05:13] luoxiqiang commented on #11583
![image](https://user-images.githubusercontent.com/32994527/186580317-c79189e7-0031-417e-a101-ed8289908b13.png)

[2022-08-25 06:13] Hxssssss commented on #11631
I want to participate in the development of this piece of content.

[2022-08-25 06:56] stalary commented on #11635
Another phenomenon is that `worker-server` and `Kafka` using the same ZK have no problems, only `master-server` has problems

[2022-08-25 07:04] MonsterChenzhuo commented on #11615
@zhongjiajie  Can you open a new project for me under dolphinscheduler and give me permission to write or I can contribute the project directly to dolphinscheduler after writing it.

[2022-08-25 07:06] MonsterChenzhuo commented on #11615
@ruanwenjun Yes, use the sql statement to generate the DAG scheduling task for dolphinscheduler

[2022-08-25 07:30] EricGao888 commented on #11261
WIP. I will submit a PR later today.

[2022-08-25 07:51] zhoufanglu commented on #11584
now how to resolve this question?

[2022-08-25 08:19] hezean commented on #11583
@luoxiqiang thanks for finding this bug, may I submit a pr if you're not going to fix it?

[2022-08-25 08:32] EricGao888 opened #11638 "[Improvement][Task Plugin] Refactor ResourceInfo class"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Fields `res` and `resourceName` in class `ResourceInfo` are quite confusing. We should use a clearer name and remove those comments. BTW, the position of the comment for `res` is wrong.

https://github.com/apach

[2022-08-25 08:33] MFeng1027 opened #11639 "3.00 version of the scheduled task is invalid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

   The scheduled task of task flow in version 3.00 cannot select the time below the hour level. When selecting the time, the drop-down box is invalid, and the scheduled task is invalid, and there is no scheduling on the arri

[2022-08-25 09:05] luoxiqiang commented on #11583
ok, thank you for your contribution

[2022-08-25 09:57] chenhaonan313 opened #11647 "[Bug] [Workflow] workflow in serial waiting state can not be stopped"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/79635793/186633899-6c6ff690-11ef-47a1-8cd1-644c329becde.png)

The nodes in the workflow are forbidden execution and serial waiting.
How can this status be suspended? Neither

[2022-08-25 11:40] fengjian1129 opened #11650 "[Bug] [worker] In SQL type, hive SQL and spark SQL cannot stop the task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="795" alt="image" src="https://user-images.githubusercontent.com/35831367/186653701-7c718e76-c64b-40d8-b4c2-d0e62cabcd76.png">

### What you expected to happen

<img width="795" alt="image" src="https://user-image

[2022-08-25 15:06] DarkAssassinator opened #11652 "[Feature] DS can support task running on remote host, not just worker server."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently DS tasks can only run on worker servers, but in actual business scenarios, we often need to send tasks to remote server for execution, such as Shell Task.
So i suggest that could DS add a Host manage mod

[2022-08-25 15:10] DarkAssassinator commented on #11584
it's fix after i update pnpm to 7.9.5.

[2022-08-25 15:11] DarkAssassinator commented on #11584
it's fix after i update pnpm to 7.9.5.

[2022-08-26 00:24] #10906 closed, assigned to nobody

[2022-08-26 00:24] #10903 closed, assigned to didiaode18

[2022-08-26 01:08] SbloodyS commented on #11652
That's great! Can you provide the details of the design architecture? @DarkAssassinator

[2022-08-26 01:45] irisah9 opened #11654 "[3.0.0][datasource] can't create a redshift datasource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

3.0.0 version, standalone deployment, metadata database is mysql
I downloaded _redshift-jdbc42-2.1.0.9.jar_ and moved it into directory _standalone-server/libs/standalone-server_, _api-server/libs_ and _worker-ser

[2022-08-26 02:50] #11630 closed, assigned to fuchanghai

[2022-08-26 02:58] #11620 closed, assigned to DarkAssassinator

[2022-08-26 03:32] wen-hemin opened #11656 "[Improvement][Dev Mailbox] It is recommended to filter non-discussion emails"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Hi, community members!

At present, many people subscribe to the community mailbox, and there are many emails every day, including discussion emails and github emails. Many github emails do not need to be synchron

[2022-08-26 03:49] davidzollo commented on #11656
good suggestion

[2022-08-26 04:32] #8586 closed, assigned to nobody

[2022-08-26 05:00] ITBOX-ITBOY opened #11657 "[Bug] [dolphinscheduler-api] Task type spark, delay time execution, start time in task instance table is empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Version 2.0.5, task type spark, delay time execution, start time in task instance table is empty

### What you expected to happen

Task type spark, delay time execution, start time in task instance table is not empty

### Ho

[2022-08-26 05:09] hezean commented on #4499
[WeOpen Star] I'd like to work on it

[2022-08-26 05:42] EricGao888 opened #11658 "[Feature][UI] Enable highlight and auto-complete for SQL scripts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we have not enabled `hightlight` and `auto-complete` for SQL scripts, but it is easy to do it in the front-end.

![image](https://user-images.githubusercontent.com/34905992/186830491-cf88fc56-5347-470d

[2022-08-26 05:55] luoxiqiang commented on #11388
The StateWheelExecuteThread::checkTask4State method pushes events through the event queue and continues to push events when the same event has not been processed.   For example, TaskStateEvent, The following exception is thrown if the task has completed but multiple identical TaskStateEvent events have not yet been handled
![image](https://user-images.githubusercontent.com/32994527/186830269-86a80

[2022-08-26 06:12] EricGao888 commented on #11650
Good catch! Looking forward to a fix.

[2022-08-26 08:15] MichaelDeSteven opened #11662 "[Improvement][dolphinscheduler dao] fix foreach null items in mapper.xml"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="661" alt="image" src="https://user-images.githubusercontent.com/51652084/186855584-9e58fde9-df9d-48eb-8860-6dd075e5a349.png">

suggesting use `<if ids != null and ids.size() > 0>` to surround foreach.

[2022-08-26 09:09] Tianqi-Dotes opened #11663 "[Feature][TASK-PLUGIN] AWS DataSync Operator"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Create a new task type to deal with AWS AWS DataSync Operator, the capability of this task is to call AWS SDK APIs to do data (files/objects) sync.
Maybe support
1. from on-premises storage and AWS
2. AWS storage

[2022-08-26 09:39] WangJPLeo opened #11664 "[Improvement] Complement check reconstruction, Satisfy check extension and prompt extension."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1. Complement parameters are checked uniformly；
2. Override the checkComplementDataWithSchedule method in other scenes;

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Con

[2022-08-26 11:03] #11658 closed, assigned to EricGao888

[2022-08-26 12:02] DarkAssassinator commented on #11652
Sure, i will  provide a related design later for the community to review.

[2022-08-26 13:10] DarkAssassinator opened #11669 "[Bug] [WorkflowInstance] the value of duration in Workflow Instance table is wrong"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the workflow instance is in the process of executing, the result should be empty, regardless of whether the workflow instance
 was run for the first time or re-run.
But when we re-run the workflow instance , the status

[2022-08-26 15:04] #11426 closed, assigned to devosend

[2022-08-27 00:21] #11052 closed, assigned to songjianet

[2022-08-27 00:21] #11035 closed, assigned to Weipleasure

[2022-08-27 01:33] daodol opened #11671 "[Feature][datasource-plugin]datasource jdbc common configuration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

所有支持jdbc连接的数据源支持通用配置功能，url和driver手动填写，不需要ds后台去处理，这样可以支持更多的数据库，driver能上传那就更好了

### Use case

想支持更多可以基于JDBC去连接的数据库

### Related issues

无

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-08-27 02:13] jieguangzhou opened #11672 "[Feature][TASK-PLUGIN] AWS Database Migration Service (DMS)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

AWS Database Migration Service (AWS DMS) helps you migrate databases to AWS quickly and securely.

https://aws.amazon.com/dms

Create a new task type to deal with AWS Database Migration Service Operator.
Maybe sup

[2022-08-27 02:31] jieguangzhou commented on #11672
If anyone is interested, we can discuss how to integrate under this issue

[2022-08-27 02:54] Amy0104 opened #11673 "[DSIP-17][Studio] Dolphinscheduler Studio, a debug platform."
## Purpose

In order to debug the scripts in dolphinscheduler.

## How

We're going to support this by a studio project which will be completed step by step. For the first step is to support three types of scripts, shell, sql and python. And we will support more types in the future.

### For the project

There are three modules in this project, and these three modules are File, Editor and Log. We

[2022-08-27 02:54] caishunfeng commented on #11671
Hi @daodol Please use English description, which can make more developer understand, thanks.

[2022-08-27 02:55] caishunfeng commented on #11671
Can you add the detail design or demo?

[2022-08-27 03:03] caishunfeng commented on #11669
Hi @DarkAssassinator Now in ds, if a workflow instance re-run or failover, it will use the original workflow instance but not create a new one, so we keep the first start time as startTime and just update the endTime.

[2022-08-27 10:48] #11605 closed, assigned to jieguangzhou

[2022-08-27 10:58] xtr1993 commented on #10387
I have implemented this function and have demo code, we can discuss this function together；
https://github.com/xtr1993/datacenter-git-client-demo.git

[2022-08-27 11:04] kaori-seasons commented on #10387
Thank you very much for the Git operation encapsulation logic you provide, will try to design logic compatible with dolphinscheduler

[2022-08-27 11:14] HomminLee opened #11678 "[Improvement][API] Improvement the error message when batch delete workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I  batch delete workflows, any workflow fails, I get not friendly error message.

- We should display the workflow name rather then code
- We should display the reason why it delete failed

link #11554

### A

[2022-08-27 11:38] HomminLee opened #11680 "[Improvement][UI] Improvement ui when batch delete workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When batch delete workflow definition or workflow instance,  there are unfriendly questions:

1. Case of batch delete, there may a long error message here. To be more friendly, long error message returned by backe

[2022-08-27 11:56] DarkAssassinator commented on #11669
Hi @caishunfeng thank u for ur reply, I'm also talking about the original record on workflow instance page. I agree with your design, but it's not actually implemented that way. There are two problems that are completely different from this design. Please check the following screenshot:
_org.apache.dolphinscheduler.service.process.ProcessServiceImpl.constructProcessInstance_
![image](https://user-

[2022-08-27 12:02] DarkAssassinator commented on #11669
In addition, based on this question, I think a judgment should be added, the start time must be guaranteed to be earlier than the end time, otherwise the Duration value should be set to null. But I don't know if it's because of what design needs to use Math.abs(start time, end time).
![image](https://user-images.githubusercontent.com/20518339/187029243-63047050-6808-4c1d-8aaf-666f45b31f52.png)

[2022-08-27 14:41] ruanwenjun commented on #10387
As far as I see, this issue is only talked about adding a new resource center implementation by git.

I didn't see any detailed design about how to manage the resource version, we need to store the resource version in our database?

And this issue doesn't talk about the detail of how to store the workflow in git(resource center), if we don't store the workflow in git, how can we review it? cc @dav

[2022-08-27 15:23] davidzollo commented on #10387
yes, as @EricGao888 said, https://github.com/apache/dolphinscheduler/issues/10387#issuecomment-1166904625 , I think splitting two issues will be better

[2022-08-27 15:38] #8254 closed, assigned to zhongjiajie

[2022-08-28 00:26] #11066 closed, assigned to nobody

[2022-08-28 00:26] #10978 closed, assigned to nobody

[2022-08-28 02:48] caishunfeng commented on #11669
@DarkAssassinator Thanks for your reply. I think `re-run` is different from `recovery failure` or `recovery pause`, it's better to create a new workflow instance with the name such as `workflowName-2`, and then it can keep the old one.
What do you think? cc @lenboo @ruanwenjun

[2022-08-28 05:28] zhongjiajie commented on #10211
Yeah, agree with the  k8s scenario, but in another deployment, we also need some health checks or metrics to tell us

[2022-08-28 05:32] EricGao888 commented on #11161
No stale, I'm working on it.

[2022-08-28 05:35] zhongjiajie commented on #11385
Yeah, Of cause , but other things like a blank line, HTML syntax img, max cols in each line should be auto-fix if it can

[2022-08-28 05:36] zhongjiajie commented on #10427
Thanks for doing this, it is a good new for community

[2022-08-28 05:47] zhongjiajie commented on #9029
If so, maybe we should change our metadata in some day, we should bind `process_code`, and `task_code` in table task definition, Am I right?

[2022-08-28 05:51] zhongjiajie commented on #11488
So you call `datax-on-yarn` by shell? if in this case, we can ignore the license issue because we never add this dependent in our source code base. User should download/build the dist jar by themself and put it into worker server

[2022-08-28 05:56] DarkAssassinator commented on #11669
Hi @caishunfeng but i think `re-run` should keep only one workflow instance, because semantically speaking, re-run is indeed the same task. I think we just need to determine the assignment logic of the two field values of startTime and Duration.
We need to decide if the start time should be the first start time or the last start time, and the duation should be the last duration or the sum of each

[2022-08-28 07:43] EricGao888 commented on #10911
@xdu-chenrj I could help with the `AliCloud OSS Resource Plugin` if you don't mind : )

[2022-08-28 07:52] EricGao888 opened #11683 "[Feature][Resource Center] Add support for Alibaba Cloud OSS as storage for resource center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* In DS 3.0.0-xxx, we have `StorageOperate` interface and we could integrate with remote object storage through API . Currently we have already supported `AWS S3`, we could support `Alibaba Cloud OSS` in the same

[2022-08-28 10:28] DarkAssassinator opened #11684 "[Feature][DataSource] Add GuassDB Datasource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The current DS does not support the GuassDB database, could we add GuassDB plugin?

### Use case

Add GuassDB datasource plugin.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2022-08-28 10:30] DarkAssassinator commented on #11652
Dear @SbloodyS i has shared the architecture by email, please help to review. thx

[2022-08-28 12:58] #11662 closed, assigned to MichaelDeSteven

[2022-08-28 13:13] ruanwenjun commented on #11683
That will be great if we can support with `Alibaba Cloud OSS`. BTW, we need to refactor the current naming of StorageOperate implementation, the XXUtils is bad.

[2022-08-28 13:20] ruanwenjun commented on #11684
Do you have any investigation?

[2022-08-28 13:44] DarkAssassinator commented on #11684
It's just that many of our current businesses use this database. I will add this database on my products first, and if more guys need it later, I can submit it to DS.

[2022-08-29 01:24] caishunfeng commented on #11530
Good idea.
I found that ds workflow instance loss some message, such as stop reason, maybe it's stopped by workflow execute strategy or others, but we have to spend time searching and locating the cause from logs.
So we need this failed reason to help users locate problems.

[2022-08-29 02:35] duhanmin commented on #11488
@zhongjiajie yes

[2022-08-29 03:31] EricGao888 commented on #11673
Hi @Amy0104, this design looks cool to me. May I ask how users could install this studio? If they have been using the DS 3.0.0, is there a way to plugin it into their existing DS deployment? Thanks!

[2022-08-29 03:32] EricGao888 commented on #11673
BTW, will we have some features like `highlight`, `auto-complete` and `auto-formatting`? I think those are important especially for long SQL scripts.

[2022-08-29 03:35] EricGao888 commented on #11673
In the future, we might have it combined with git features for task code review. related: #10387 cc @complone @xtr1993

[2022-08-29 03:37] daodol commented on #11671
@caishunfeng hi,The data source connected by connection pool and JDBC can be designed to be fully dynamic The required parameters, such as URL, driver, username, password, connection pool size, timeout, time zone, etc., can be filled in instead of the fixed data source options that you provide to the user in the form of a data source plug-in

[2022-08-29 03:56] wangchao732 opened #11686 "update 2.0 to 3.0 class path resource [sql/upgrade/2.0.0_schema/mysql/dolphinscheduler_dml.sql] cannot be opened because it does not exist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

2022-08-29 03:42:37.313 ERROR 20090 --- [           main] o.a.d.tools.datasource.dao.UpgradeDao    : class path resource [sql/upgrade/2.0.0_schema/mysql/dolphinscheduler_dml.sql] cannot be opened because it does not exist

j

[2022-08-29 04:18] EricGao888 opened #11687 "[Doc][Task Plugin] Put default task parameters in a new file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we have the description for default task parameters in every task plugin, which is hard to maintain and could result in inconsistency. We may put it in one file for better maintainability.
* Besides, w

[2022-08-29 05:32] EricGao888 commented on #11187
WIP, no stale

[2022-08-29 06:26] EricGao888 commented on #11683
@ruanwenjun Since the interface is called `StorageOperate`, what about renaming `XXUtils` to `XXOperator`? `S3Operator`, `OssOperator`, etc.

[2022-08-29 08:16] fuchanghai opened #11689 "[Bug] [DataX] change replaceAll to replace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="788" alt="image" src="https://user-images.githubusercontent.com/33984497/187155685-68f82729-7c35-4902-ba59-44b99d0140b6.png">
if use replaceAll which parses a regular expression .so create_time be changed to crea

[2022-08-29 08:33] #11633 closed, assigned to seedscoder

[2022-08-29 08:34] huahuacheng commented on #8031
I'm interested. May I take this one? QAQ

[2022-08-29 08:35] EricGao888 commented on #8031
@huahuacheng Great! Looking forward to your PR!

[2022-08-29 08:41] EricGao888 commented on #8031
@huahuacheng Looks like we have already had the docs but forgot to close this issue. However, you still could polish this doc if you like to. Thanks. https://github.com/apache/dolphinscheduler/blob/dev/docs/docs/en/guide/task/seatunnel.md

[2022-08-29 09:20] fuchanghai opened #11691 "[Bug] [dolphinscheduler-datasource-clickhouse] lack of dependencies"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when i use a DataX Node and dsType is ClickHouse .then:

<img width="976" alt="image" src="https://user-images.githubusercontent.com/33984497/187168016-003395a3-b621-4c02-9903-0aa3b0dbd4a9.png">

When I add the following dep

[2022-08-29 10:11] fuchanghai commented on #5689
Issues that are not merged can be received

[2022-08-29 11:40] kezhenxu94 commented on #11488
@duhanmin if so, it can be added without license concerns

[2022-08-29 14:54] ruanwenjun commented on #11683
It's Ok to me, if we can rename to `xxStorageOperate`.

[2022-08-29 15:12] zhongjiajie commented on #5689
@guanboo for more detail about good first issue you can see in https://github.com/apache/dolphinscheduler/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2022-08-29 16:24] EricGao888 commented on #10340
Hot fix #11694

[2022-08-30 02:22] #11654 closed, assigned to irisah9

[2022-08-30 02:45] #11261 closed, assigned to EricGao888

[2022-08-30 04:06] ruanwenjun opened #11698 "[Bug] [Worker] Optimize the getAppId method to avoid worker OOM when kill task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When we kill the task, we will try to get the app id from task instance log, when the log is large, it may cause worker oom, since we read all log lines in memory.

### What you expected to happen

Optimize the getAppId meth

[2022-08-30 06:33] jieguangzhou opened #11699 "[Feature][Style] Configure Spotless to format YAML file in DS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Configure Spotless to format YAML file code in DS.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https:

[2022-08-30 06:40] EricGao888 commented on #11699
@jieguangzhou Just for confirmation. Would you like to take this issue? Or you want me to do it? Thanks.

[2022-08-30 06:47] jieguangzhou commented on #11699
I just saw this message, I have submitted a PR #11700 , If possible, please help review

[2022-08-30 11:25] cadl opened #11704 "[Bug] [TaskPlugin] Shell task timeout can't terminate process when `sudo.enable: true`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When my shell task got a timeout, the workflow instance status will fail, but the shell process is still running.

https://github.com/apache/dolphinscheduler/pull/5212 fixed TaskKillProcessor. But the shell task timeout oper

[2022-08-30 11:30] lushaorong commented on #11286
Maybe Liquibase is a good way？

[2022-08-30 13:07] #11187 closed, assigned to abzymeinsjtu

[2022-08-30 14:47] DarkAssassinator opened #11705 "[Improvement][Dao] reduce code specification warnings"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when add some fields in some entity, found that there are many code warninng in `org.apache.dolphinscheduler.dao.entity.*`, becauase these long code can replaceabled by `Objects.equals()` expression
![image](https://user-ima

[2022-08-31 01:57] devosend commented on #11609
You need to change vite.config.ts ```server: {
    proxy: {
      '/dolphinscheduler': {
        target: loadEnv('development', './').VITE_APP_DEV_WEB_URL,
        changeOrigin: true
      }
    }
  }``` to ```server: {
    proxy: {
      '/dolphinscheduler/': {
        target: loadEnv('development', './').VITE_APP_DEV_WEB_URL,
        changeOrigin: true
      }
    }
  }```. add `/` after `/dolph

[2022-08-31 01:59] DarkAssassinator commented on #11704
because kill command will failed, such as Operation not permitted. If u install ds as root user, then u run this shelltask as foo user, such as 'sudo -u foo sh xxx', the user of this process still is root, not foo. So cannot use 'sudo -u foo kill xxx'. Because foo cannot kill root process. I think this is root cause.

[2022-08-31 02:02] zhuangchong commented on #11704
@cadl

The reason for the exception:

The shell process execution timed out,

[code]

Variable `status=false`, execute process.exitValue(), because the process does not end, this method will throw IllegalThreadStateException,

[code]

This issue has been fixed in this PR #11099, currently in the dev branch, not released to the 3.0.0 branch.

After repair:
Variable `status=false`, execute ProcessUt

[2022-08-31 02:07] mongooooo commented on #11533
+1 , I met the same problem, it is very destructive.

[2022-08-31 02:22] cadl commented on #11704
@zhuangchong

Got it. Thank you very much for your patient explanation. 👍
At first glance, I thought it was just about the log changes in #11099 😅

Closing this issue

[2022-08-31 02:22] #11704 closed, assigned to nobody

[2022-08-31 02:41] gaoyan1998 opened #11706 "[Improvement][web] Is it possible to cancel the import suffix added when importing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We have two sets of environments, dev and pro. Every time we export to pro after dev is debugged, its always add an importxxx suffix to the task, each of which has to be changed manually, especially if it is resto

[2022-08-31 02:49] Amy0104 commented on #11673
We will support those features like `highlight`,`auto-complete` and `auto-formatting` by monaco-editor. Later we'll provide an example to tell users how to use it.

[2022-08-31 02:51] Amy0104 commented on #11673
The repository of this issue is [here](https://github.com/apache/dolphinscheduler-studio) .

[2022-08-31 03:04] #7581 closed, assigned to nobody

[2022-08-31 03:51] EricGao888 commented on #10911
related: #11683

[2022-08-31 03:52] EricGao888 commented on #10911
related: #11683

[2022-08-31 07:15] stalary opened #11709 "[Bug] [Dependent] Dependent triger error version downstream"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The historical version of the workflow is triggered downstream when dependency mode complement is enabled upstream

### What you expected to happen

Use the version of the day of the run.

### How to reproduce

![截屏2022-08-3

[2022-08-31 07:22] stalary opened #11710 "[Bug] [Dependent] Dependent not triggered normal"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The downstream of the dependent node is not triggered normal.

### What you expected to happen

trigger normal

### How to reproduce
I do not pass paramerter in start workflow use dependence mode.
![截屏2022-08-31 15 19 24](ht

[2022-08-31 07:24] Tianqi-Dotes opened #11711 "[Feature][API] add task type config API and enable user to add task type to wishlist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

change task types fixed by the frontend, but could be changeable by backend API
and enable users to add frequently used task types to their wishlist, which will be on the top

### Use case

_No response_

### Rela

[2022-08-31 07:24] Tianqi-Dotes commented on #11711
i will do the pr

[2022-08-31 07:25] #11698 closed, assigned to ruanwenjun

[2022-08-31 07:26] Zzih commented on #10983
I see that there are many functions inside the taskinstancecontroller,If I participate in the TaskInstanceController task, do I only need to modify the queryTaskListPaging forceTaskSuccess functions in TaskInstanceV2Controller?

[2022-08-31 07:27] Zzihh commented on #10257
I see that there are many functions inside the taskinstancecontroller，If I participate in the TaskInstanceController task, do I only need to modify the queryTaskListPaging forceTaskSuccess functions in TaskInstanceV2Controller?

[2022-08-31 07:27] xushoubao commented on #10257
你好，来件已收到，我会及时回复！

[2022-08-31 07:29] EricGao888 commented on #10458
WIP

[2022-08-31 08:05] Zzihh commented on #10257
Plz assgin me Task Instance task.

[2022-08-31 08:23] Zzihh opened #11713 "[Feature][Api] Refactor org.apache.dolphinscheduler.api.controller.TaskInstanceController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/dolphinscheduler/issues/10257 Suggest refactor the backend api
Refactor org.apache.dolphinscheduler.api.controller.TaskInstanceController

#### Suggested optimization

- Content-Type chan

[2022-08-31 08:24] MFeng1027 opened #11714 "[Bug] [task] v3.0.0 CANNOT STOP"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There is no way to stop the task flow in version 3.0. Once stopped, it will get stuck

### What you expected to happen

Task stop

### How to reproduce

After the shell task is created online, the task is stopped and cannot

[2022-08-31 09:38] wangfann commented on #11686
You can look at this PR,https://github.com/apache/dolphinscheduler/pull/11619

[2022-08-31 09:58] ruanwenjun opened #11717 "[Improvement][Standalone] Initialize a demo project in standalone"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I start DS in standalone mode, I hope there exists a demo project with some demo workflow, and I can directly run the demo workflow.

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR

[2022-08-31 10:45] SbloodyS commented on #10257
Yes. You are right.

[2022-08-31 10:45] SbloodyS commented on #10257
I've assigned to you. Looking forward to your contribution.

[2022-08-31 11:00] 106umao opened #11718 "[Improvement][Process Insatnce] optimize the process instance query, change the date time range"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

users can only use left-open, right-closed rule queries when querying the list of workflow instances through a time range. I think left-closed, right-closed rule queries are more appropriate

### Are you willing t

[2022-08-31 11:27] limaiwang opened #11720 "[Bug] [spark-sql] In spark-sql, select both SPARK1 and SPARK2 versions and execute ${SPARK_HOME2}/bin/spark-sql"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 In spark-sql, select both SPARK1 and SPARK2 versions and execute ${SPARK_HOME2}/bin/spark-sql

### What you expected to happen

In spark-sql, selecting SPARK1 should execute ${SPARK_HOME1}/bin/spark-sql and selecting SPARK2

[2022-08-31 11:53] #11718 closed, assigned to 106umao

[2022-08-31 12:14] DarkAssassinator commented on #11704
@cadl @zhuangchong
Sorry, but i think this problem still exists, because the log show that has run the kill command(soft kill), and ProcessUtils.kill use the hard kill. But i think ProcessUtils.kill still cannot kill the process.
Becuase `sudo -u xxx kill -9 PID` cannot kill `sudo -u xxx sh ...command` process. Please check the following screenshots.
![image](https://user-images.githubusercontent.

[2022-08-31 12:25] DarkAssassinator commented on #11705
Hi @SbloodyS  do u know if there is any special consideration for such these conditions, because I didn't find it in the source code. it will return false when Objects.equals(environmentCode, command.environmentCode)

[2022-09-01 02:06] user-GitHub-user opened #11724 "[Improvement][email] email support i18n"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

now email just support English

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/fou

[2022-09-01 02:07] reele opened #11725 "[Bug][Dependent][2.0.6-2.0.7] Dependent node logical conflict with task's startTime and scheduleTime"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://github.com/apache/dolphinscheduler/blob/2746f6851d90cbdda04b6dc099847454ede09550/dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/TaskInstanceMapper.xml#L174-L198

Now v2.0.6 and v2.0.7

[2022-09-01 02:09] DarkAssassinator commented on #11704
ohh u are correct. It will kill all subprocess. Just will throw a ExitCodeException, but process can exit.

[2022-09-01 03:17] EricGao888 commented on #11687
@zhongjiajie WDYT?

[2022-09-01 03:55] izualzhy opened #11726 "[Bug] [dolphinscheduler-api] create presto datasource failed with extra "jdbc connect parameters""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When try to create PRESTO datasource type, if jdbc connect parameters assigned.
TestConnect will be failed with  tips "JDBC connect failed".

For example, use `{"SSL":"true"}` as connect params:
![image](https://user-images.

[2022-09-01 05:50] SbloodyS commented on #11687
Tha's great. But I think there are several issues that need to be discussed.

For example, not all task types use resource centers and have memory (CPU) limitations. What should we deal with it?

[2022-09-01 05:55] EricGao888 commented on #11687
We could write it in the following way:

Here is a cheatsheet for default parameters of task plugins, each task plugin may have all or only ***SOME*** of those default parameters: blah blah blah blah

Then we put a link in each task plugin instruction doc to it.

[2022-09-01 06:12] SbloodyS commented on #11687
+1 👍

[2022-09-01 07:19] xuchunlai opened #11729 "[Improvement] [Master] task instance becomes in a state 【Need fault tolerance】"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There are two master nodes and two worker nodes.
Stop the worker node while the task is executing，task instance becomes in a state [Need fault tolerance] ,The task is resumed only after the Master node is restarted.

### Wha

[2022-09-01 07:54] stalary opened #11732 "[Bug] [Dependent] Dependent downstream trigger error when schedule cycle not day."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Dependent downstream trigger error when schedule cycle not day.

### What you expected to happen

Can normal schedule downstream when upstream rerun use denpendency mode.
[code]
this.getProcessDefinitionCode() should use ups

[2022-09-01 08:02] ruanbinbin opened #11733 "ds-1.3.6 duplicate tasks submit to worker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/7637924/187859338-41195d37-f7bb-40f9-80d8-3d33be83e52b.png)

### What you expected to happen

ds的master节点向worker提交两次任务

### How to reproduce

2个master和两个worker
1、master.exec

[2022-09-01 09:48] stalary opened #11736 "[Feature][Dependent] Dependent support schedule all downstream recursively"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Dependent support schedule all downstream recursively.

a -> b -> c -> d
Currently only rerun b when I rerun a, I want to support rerun b,c,d

### Use case

_No response_

### Related issues

_No response_

### Ar

[2022-09-01 09:51] caishunfeng commented on #11530
Here is my design of state history:

- Add a new column of status description to the workflow instance list, the format is as follows:

RUNNING → READY_PAUSE → PAUSE → RUNNING → STOP

- Hover or click to display the specific historical status description, as follows:

![image](https://user-images.githubusercontent.com/11962619/187885913-14614d2a-8bcc-4cd1-913f-026831e799d1.png)

[2022-09-01 10:06] caishunfeng commented on #11736
Hi @stalary May I ask in this case, a b c d in ds are workflows or tasks?

[2022-09-01 10:07] stalary commented on #11736
As workflows, Each of these contains multi tasks.

[2022-09-01 10:08] caishunfeng commented on #11736
Related issue: #8373

[2022-09-01 10:11] caishunfeng commented on #11736
Look good to me if we can provide an optional option for the user to choose.

[2022-09-01 10:13] stalary commented on #11736
At present, we need to go to task_params to find the dependent task, which cannot be queried in batches. Do i need to optimize the performance of this piece？Such as separate dependent task relation infomation into other table.

[2022-09-01 10:36] fuchanghai commented on #11530
Can you list all the states you can think of，This might give me an idea of ​​where you'd add the logic to add these states

[2022-09-01 12:29] XW512 opened #11738 "Can you provide configuration documents for the integration of Hadoop and Flink tasks by the dolphin scheduler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I'm a novice. At present, I want to schedule Flink tasks through the dolphin scheduler. After querying the data, I can't integrate the scheduling of Hadoop, Flink and other tasks. Can you provide a complete instal

[2022-09-01 14:56] ruanwenjun opened #11739 "[Improvement][Worker] Delete the task instance log file when delete taskInstance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When we delete task instance, it's needed to delete the task instance log file.

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this proje

[2022-09-02 00:22] #11139 closed, assigned to nobody

[2022-09-02 01:53] limaiwang opened #11742 "[Bug] [Dependent] For accounts other than admin, add dependent cannot discover the projects it created."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

For accounts other than admin, add dependent cannot discover the projects it created.

### What you expected to happen

For accounts other than administrators, add dependent should discover the items it created.

### How to

[2022-09-02 02:30] davidzollo commented on #11687
+1

[2022-09-02 02:44] EricGao888 commented on #11738
We have detailed instructions on how to connect resource center to HDFS and how to use flink task plugin.
https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/resource/configuration.html
https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/task/flink.html
What docs do you need exactly?

[2022-09-02 02:47] EricGao888 commented on #11733
Just a kindly reminder, version 1.3.6 is very old and no more under the maintenance of the community. We strongly suggest u upgrade it to v 3.0.0-stable

[2022-09-02 02:50] EricGao888 commented on #11724
We have no plan to support translating emails to Chinese. If you want to communicate in Chinese, you could do it in `WeChat` group or `Slack` `users-china` channel. Thanks!

[2022-09-02 02:50] #11724 closed, assigned to nobody

[2022-09-02 02:52] EricGao888 commented on #10931
Could you please add a more detailed description about this feature? Thanks!

[2022-09-02 02:56] EricGao888 commented on #8465
This is a good idea.
We have already had some discussions here: https://github.com/apache/dolphinscheduler/issues/10387#issuecomment-1166904625
BTW, would you like to give a shot and give a design for resource version control? Thanks!

[2022-09-02 02:56] huanhuande opened #11744 "[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the job flow is configured with timing management, there are many scheduling jobs that are configured to trigger, and some scheduling jobs are not triggered

### What you expected to happen

After the job flow is confi

[2022-09-02 03:16] Jeffrey12333 opened #11745 "[Bug] [alert] The get method in the alarm plug-in HTTP does not have a port"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When sending a get request using the HTTP plug-in, it cannot be sent to the specified port

### What you expected to happen

When the code splices the URL, it does not bring the configured port, resulting in all requests rea

[2022-09-02 04:04] Zzihh opened #11746 "[Doc] The last RP caused swagger-bootstrap-ui(doc.html) not available"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/dolphinscheduler/pull/11574/commits/4ebe050197b6a94b948cd952399c344747cdb54f#diff-d32ffeac4549e66ddf021898ab4d00481f3c8a4bb666d7816f4277573daeb17b
The last RP deleted swagger-bootstrap-ui

[2022-09-02 07:10] XW512 commented on #11738
thank you very much,I will try it

[2022-09-02 07:12] EricGao888 commented on #11738
@XW512 I'm going to close this issue at this moment, if you have more questions when you try the instructions docs I posted above. Please feel free to reopen this issue. Thanks!

[2022-09-02 07:12] #11738 closed, assigned to nobody

[2022-09-02 07:51] EricGao888 opened #11751 "[Improvement][Task Plugin] Redesign task parameter passing across tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently DS uses `varpool` to pass parameters across tasks and finds those parameters by parsing the task logs, which may not be a good practice. We could redesign this part.

https://github.com/apache/dolphins

[2022-09-02 07:53] wqxs opened #11752 "[Feature][API] task reuse"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

First define the task, then use the defined task in the workflow, and a task can be used by multiple workflows

### Use case

I will create a SQL task that other workflows need to perform, but at present I can onl

[2022-09-02 08:14] Zzihh commented on #10257
Plz assgin me Workflow Monitor task and help me review  [RP11747](https://github.com/apache/dolphinscheduler/pull/11747)

[2022-09-02 08:19] RUIzg opened #11753 "[Bug] [Alert Server] send alert error alert data id"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when I want to test Email send when a task finish  , I get a error :

[INFO] 2022-09-02 08:00:11.268 +0000 org.apache.dolphinscheduler.alert.AlertRequestProcessor:[52] - Received command : AlertSendRequestCommand{groupId=0,

[2022-09-02 08:26] Zzihh opened #11754 "[Feature][Api] Refactor org.apache.dolphinscheduler.api.controller.DataAnalysisController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/dolphinscheduler/issues/10257 Suggest refactor the backend api
Refactor org.apache.dolphinscheduler.api.controller.TaskInstanceController

Suggested optimization

- Content-Type change to

[2022-09-02 09:25] EricGao888 commented on #2864
`OSSFS` is no more under maintenance. To support `Alibaba Cloud OSS` as the storage of `resource center`, there are two methods:

1. Use `OSS SDK`, see: https://github.com/apache/dolphinscheduler/pull/11708
2. Use `jindofs` to mount `OSS` bucket to local machines. I've already added the related instructions in `resource center` docs, see: https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc

[2022-09-02 09:25] #2864 closed

[2022-09-02 09:28] Zzihh commented on #11746
I consulted @kezhenxu94 this question，I think i can make changes to the open-api.md and submit an RP

[2022-09-02 09:28] #11746 closed, assigned to nobody

[2022-09-02 09:51] DarkAssassinator commented on #11753
may can check `t_ds_alert_plugin_instance` table

[2022-09-02 10:11] caishunfeng commented on #11530
The state of `WorkflowExecutionStatus` enum when use. I just add the state history and state desc for it.

[2022-09-02 10:45] DarkAssassinator opened #11758 "[Bug] [Common] IPv4 Pattern is wrong."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

IPv4 Pattern is not correct.
![image](https://user-images.githubusercontent.com/20518339/188122677-cbc78481-320f-40cd-a2be-1587b80b8953.png)
![image](https://user-images.githubusercontent.com/20518339/188122924-2fdc9aae-8f36

[2022-09-02 14:21] DarkAssassinator commented on #11652
**What is the purpose of this feature？**
DS can support the task instance running on the remote servers (task server), not just worker nodes.
Users can manage these task servers on the page, such as create, edit, delete and test connect.
Each task node in DAG can specify the task server that needs to be executed.
The task server property belongs only to task instances, not workflow instances.
**MO

[2022-09-03 01:29] caishunfeng commented on #11736
I think it would better to make an another issue to discuss, because it is an incompatible change, involving a lot of places, such as lineage relationship, import and export, etc.

[2022-09-03 02:19] Amy0104 opened #11760 "[Bug] [Project] The task instances page should be filtered by the task name."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The task instances page did not be filtered by the task name when I clicked the view history button of the task modal in the workflow instance detail page.

### What you expected to happen

The task instances page should be

[2022-09-03 03:57] #11760 closed, assigned to Amy0104

[2022-09-03 08:05] fuchanghai commented on #11753
may can check ```t_ds_alertgroup``` , can you see the record which id equals 0?

[2022-09-03 08:30] fuchanghai commented on #11753
@Amy
first , in class of ProcessDefinition . the type of warningGroupId is int .so when search ProcessDefinition ，The default value of warningGroupId is returned as 0.
<img width="633" alt="image" src="https://user-images.githubusercontent.com/33984497/188262619-d9f2fdc1-3eeb-4477-b947-24119986a72f.png">

second , If you call the interface that starts the process instance，The default value of warn

[2022-09-03 08:31] fuchanghai commented on #11753
@Amy0104  i will fix it ,can you assignees me?

[2022-09-03 14:29] jieguangzhou commented on #11421
I submitted some code to support it #11763

[2022-09-04 04:26] #11733 closed, assigned to nobody

[2022-09-04 04:31] davidzollo commented on #11733
if you're using 1.3.x, you can try to find out if the 1.3.8 and 1.3.9 versions solve the problem, https://github.com/apache/dolphinscheduler/releases/tag/1.3.8

as @EricGao888 said, 1.3.x is not maintained by the community, 2.0.6 or 3.0.0 will be better choice

[2022-09-04 04:32] davidzollo commented on #11744
please add detail info for title, thx      ` [Bug] [Module Name] Bug title ` is not clear

[2022-09-04 06:56] zixiao144 opened #11764 "java.lang.RuntimeException: Could not find a free permitted port on the machine."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

org.apache.flink.client.program.ProgramInvocationException: The main method caused an error: java.lang.RuntimeException: Could not find a free permitted port on the machine.
		at org.apache.flink.client.program.PackagedProgr

[2022-09-04 09:49] nicholasxu opened #11766 "[Bug] [UI] In starting page, there is no downstream dependency button"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When  I want run a task without downstream dependencies, I find there is no downstream dependency button to use. while the earlier version DS does has the button, but in Ds 3.0 does not has the button

### What you expected

[2022-09-04 10:38] caishunfeng commented on #11652
Good idea.
What about expanding the `Cluster` ? see `t_ds_cluster`.
Another question is how remote shell task failover when worker down?

[2022-09-05 00:00] stalary commented on #11635
I solved this problem by adjusting the zk memory size and the timeout configuration。

[2022-09-05 00:00] #11635 closed, assigned to nobody

[2022-09-05 01:07] ruanwenjun opened #11768 "[Improvement][Monitor] Support monitor h2 database in monitor page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, we only support monitor mysql/pgsql in monitor page, when we start at standalone mode, we cannot get the db health in monitor page, it's better to support h2.

### Are you willing to submit a PR?

- [ ]

[2022-09-05 01:15] #11691 closed, assigned to fuchanghai

[2022-09-05 01:54] #11689 closed, assigned to fuchanghai

[2022-09-05 02:38] fuchanghai opened #11771 "[Improvement][UI] Whether the Notification Strategy and the Alarm Group are directly related to each other?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/33984497/188349379-1601e775-f44e-4f0c-85e2-cbe5d5dafe29.png)
 if  i specify  Notification Strategy,and not specify   Alarm Group. what should we do? don't send or

[2022-09-05 02:40] fuchanghai commented on #11771
if guys think that  above should be fix ,i will fix the code of backend

[2022-09-05 02:44] DarkAssassinator commented on #11768
I'm interested in this part, can i assign this case?

[2022-09-05 02:54] #11217 closed, assigned to ChrisYuan

[2022-09-05 03:58] gaoxianzhu opened #11772 "[Feature] [Alert] Alarm instance capture workflow name"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Because there is no network in the production environment, I can only customize the shell script to send nail alarms. When I create a script type alarm instance, I want to get the name of the workflow in the shell

[2022-09-05 04:01] guowei-su opened #11773 "[Improvement][api] Optimize the log printing of the api module according to the log specification."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The log printing in the current api module is not very standardized.
According to the log specification in pr [#11484](https://github.com/apache/dolphinscheduler/pull/11484), I will improve the log printing of the

[2022-09-05 04:35] rookieuncle commented on #10418
Hello, I have the same problem. Can you tell me how to solve it?

[2022-09-05 06:13] tgaliotto commented on #11322
up

[2022-09-05 06:20] #11583 closed, assigned to hezean

[2022-09-05 09:11] hushubudu commented on #9892
in 2.0.6 version , the same problem occurs

[2022-09-05 09:13] hushubudu commented on #9892
can anyone give a solution? it is very inconvenient when browse the directory structure in resouce center

[2022-09-05 11:08] SbloodyS commented on #11764
It's a flink issue. Please submit the issue to the flink community.

[2022-09-05 11:08] #11764 closed, assigned to nobody

[2022-09-05 11:15] rookieuncle commented on #10418
I think I got it，if the workgroup port is not the default, it needs to be configured in accordance with the one specified when running the task

[2022-09-05 13:59] DarkAssassinator commented on #11768
Dear @ruanwenjun there is a small question, H2 memory database does not have indicators such as the maximum number of connections, just session numbers. do we need check the JDBC connection pool?

[2022-09-05 14:22] DarkAssassinator commented on #11652
As i checked, `t_ds_cluster` was originally designed for K8s, will we combine the two parts to cause misunderstanding and confusion?
And failover, we can get the task executePath, then we can ssh to the remote server to kill this process, such as `ps -ef | grep "sh xxxxxxx | awk '{print $2}' | xargs kill -9"`

[2022-09-05 14:57] EricGao888 opened #11781 "[Bug] [Workflow] Workflow failure strategy does not work as expected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* Failure strategy `continue` does not work for serial tasks. Although the doc doesn't say it could work for serial tasks, it should work for it instead of only for parallel tasks.
* In many scenarios, we need a `clean-up` t

[2022-09-05 15:22] ruanwenjun commented on #11768
Yes, we can query the session number to represent the connection number.
[code]

[2022-09-05 15:41] DarkAssassinator commented on #11768
yes, but cannot determine the MAX_CONNECTION, becasue H2 do not have this setting. so we just can check the cur active connection number.

[2022-09-06 01:26] #11421 closed, assigned to jieguangzhou

[2022-09-06 01:28] #10995 closed, assigned to jieguangzhou

[2022-09-06 02:07] 8431 commented on #11627
`private S3Utils() {
        if (PropertyUtils.getString(RESOURCE_STORAGE_TYPE).equals(STORAGE_S3)) {
            AWSCredentialsProvider provider = new AWSCredentialsProviderChain(
                    new EC2ContainerCredentialsProviderWrapper(),
                    new AWSStaticCredentialsProvider(new BasicAWSCredentials(ACCESS_KEY_ID, SECRET_KEY_ID)));
            if (!StringUtils.isEmpty(Proper

[2022-09-06 02:09] 8431 commented on #11627
Can I submit code? assign to me

[2022-09-06 02:27] welsh-wen opened #11784 "[Bug] [Mysql_init Script] The mysql init script is not available"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. Refer to the official documentation
2. sh /opt/release/0906_ds/tools/bin/upgrade-schema.sh
3. An error occurred

![image](https://user-images.githubusercontent.com/59044203/188533688-562240a5-07e6-446d-a7ff-9ccf7a42a70b.p

[2022-09-06 02:50] 8431 commented on #11627
please assigned me again .thanks

[2022-09-06 03:00] 8431 opened #11785 "[Improvement] [dolphinscheduler-ui] The axios timeout time of 15s is too short, and uploading large files will trigger nginx 400"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The axios timeout time of 15s is too short, and uploading large files will trigger nginx 400
![Screenshot2022_09_06_105936](https://user-images.githubusercontent.com/22486827/188537900-fbfae5ff-97b9-48f1-9518-dcc0f9544a5e.jp

[2022-09-06 03:11] SbloodyS commented on #11785
I think we should make this configurable and provide it to the user for configuration instead of unlimited increase. cc @songjianet @devosend

[2022-09-06 03:33] welsh-wen opened #11786 "[Bug] [Workflow Relationship] The workflow relationship is not color-marked correctly for the upline status"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188541293-88bf2301-93dc-4791-b87c-7a5d64adb60e.png)

### What you expected to happen

The go-live is marked in blue

### How to reproduce

1. Enter the workflow rel

[2022-09-06 03:36] welsh-wen opened #11787 "[Bug] [UI] Workflow definition page text overlaps"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188541654-39c6f98b-a7ad-447a-89f4-aa8ec8d265cc.png)

### What you expected to happen

The copy shows normal

### How to reproduce

Go to the workflow definition

##

[2022-09-06 03:42] welsh-wen opened #11788 "[Bug] [ApiServer] Workflow definition page batch deletion of "online" status workflow, prompt suggestions for optimization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/191763800-8dd835b2-e2c8-4d22-8d97-a3c0ca7a6d84.png)
![image](https://user-images.githubusercontent.com/59044203/191763243-d5366cc6-5473-4659-b342-1868b62f8d9b.png)

[2022-09-06 03:47] welsh-wen opened #11789 "[Bug] [Workflow definition] Edit the copy workflow and the excess configuration items appear"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188542944-dcee706e-4852-42af-8859-fa65d6db1e09.png)

### What you expected to happen

The batch copy workflow is complete, and the edit page items are configured no

[2022-09-06 03:47] fuchanghai commented on #11784
@SbloodyS  i will fix it

[2022-09-06 03:54] SbloodyS commented on #11784
I've assigned to you.

[2022-09-06 04:06] welsh-wen opened #11790 "[Bug] [Log] The log time should be synchronized with the natural day time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188544646-4bb91fce-8384-4713-b5e7-4e5179c19594.png)

### What you expected to happen

The log time should be synchronized with the natural day time

### How to repr

[2022-09-06 04:29] welsh-wen opened #11791 "[Bug] [Workflow] After the workflow is deleted, the corresponding task should also be deleted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188546799-fd27934f-209f-4d37-9496-b64bf753b3a0.png)
![image](https://user-images.githubusercontent.com/59044203/188546980-cafa43f4-2b3f-47e2-ad49-f91d5e39a3e9.png)

[2022-09-06 06:03] #11711 closed, assigned to Tianqi-Dotes

[2022-09-06 06:04] fuchanghai commented on #11788
@SbloodyS  i wil fix it

[2022-09-06 06:29] chunhui5566 commented on #11533
I meet the same problem in 3.0.0-release also, i had to restart it when the jdbc connection increased to more than 100 now.

[2022-09-06 06:39] welsh-wen opened #11796 "[Bug] [WorkFlow] The failed retry configuration does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188563534-714005b6-9731-45de-b74f-eca4851a9f8d.png)
![image](https://user-images.githubusercontent.com/59044203/188564206-061f1245-d701-4640-a519-6ecd8f9c8c1e.png)

[2022-09-06 06:40] welsh-wen opened #11797 "[Bug] [WorkFlow] The failed retry configuration does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188563534-714005b6-9731-45de-b74f-eca4851a9f8d.png)
![image](https://user-images.githubusercontent.com/59044203/188564206-061f1245-d701-4640-a519-6ecd8f9c8c1e.png)

[2022-09-06 06:40] DarkAssassinator commented on #11790
because default time zone is UTC. u can change it by refer to doc FAQ General Setting

[2022-09-06 06:56] SbloodyS commented on #11788
Great! Already assigned to you.

[2022-09-06 07:02] stalary commented on #11533
ok, let me check the problem.

[2022-09-06 07:08] SbloodyS commented on #11791
Dupliated with #9029

[2022-09-06 07:08] #11791 closed, assigned to nobody

[2022-09-06 07:10] SbloodyS commented on #11797
Duplicated with #11790

[2022-09-06 07:10] #11797 closed, assigned to nobody

[2022-09-06 07:27] stalary commented on #11533
You are right, the connection decrease when I config common.properties. @ruanwenjun  @chunhui5566 @mongooooo @simon824  But I think we should decrease default minIdle in code.

[2022-09-06 07:37] welsh-wen opened #11799 "[Bug] [Alert] The Alarm Failure policy does not trigger sending an alarm"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188573969-55245821-cf9b-485a-b6cc-853d32e5aded.png)
![image](https://user-images.githubusercontent.com/59044203/188574288-7cb20a2a-53c9-4c2e-aee0-711f9ac103f8.png)

[2022-09-06 07:44] DarkAssassinator commented on #11796
i face a somewhat similar case, i will check itand try fix it. @SbloodyS

[2022-09-06 07:45] SbloodyS commented on #11796
Great. I've assigned to you.

[2022-09-06 07:50] HomminLee commented on #11680
Change the way, if any workflow fails to delete, stop and rollback. So, those problem not exists.

[2022-09-06 08:04] welsh-wen opened #11800 "[Bug] [Audit] The audit log feature is not available"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188580440-77f9105b-48a7-427c-bc71-b083c4ee7652.png)

### What you expected to happen

Audit Logging page for all operations

### How to reproduce

Go to the Log Aud

[2022-09-06 08:06] chunhui5566 commented on #11533
Thank you for you recheck and reply , i think the current problem is the connection not release, one day sooner or later it will still increased to more than 100 .  Befor V3.0.0-beta1  the datasource be put in map and there is no such problem.  now it in Guava Cache .  Could it be the problem?

[2022-09-06 08:16] welsh-wen opened #11801 "[Bug] [UserManager] After you create a user, you can't modify the password again"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened
![image](https://user-images.githubusercontent.com/59044203/188583831-30aa01db-0a61-473d-83e1-037ff8955d41.png)

![image](https://user-images.githubusercontent.com/59044203/188583999-b34e0348-c74c-489f-9a64-8179306016ff.png)

[2022-09-06 08:22] SbloodyS opened #11802 "[Doc][Fille-Manage] Re upload file function does not exists in the version 3.0.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Re upload file function does not exists in the version 3.0.0

### Documentation Links

https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/resource/file-manage.html

### Are you willing to submit

[2022-09-06 08:25] welsh-wen opened #11803 "[Bug] [Permission] Resource permissions cannot be authorized"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188585191-7d7ccd3b-e8bc-4cad-bcc3-a86849615446.png)

### What you expected to happen

Resource permissions are available

### How to reproduce

1. Enter the user ma

[2022-09-06 08:27] stalary commented on #11533
Yes, in 3.0-release it no problem~

[2022-09-06 08:41] welsh-wen opened #11805 "[Bug] [Worker] Before deleting a worker group, check whether there are other resources that reference the worker group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/59044203/188588906-50f7f868-c28f-4744-9e21-187978c5eb9d.png)
![image](https://user-images.githubusercontent.com/59044203/188589665-c548d629-1741-493b-a65c-996dcbca7cf2.png)

[2022-09-06 10:46] ruanwenjun commented on #11533
Yes, in 3.0.0 release, we have fixed this bug.

[2022-09-06 10:57] caishunfeng commented on #11720
Hi @limaiwang What about using the env management?

[2022-09-06 11:37] caishunfeng commented on #11316
I will close this issue due to the wrong title.
BTW, please use English description, which can make more developers understand, thanks.

[2022-09-06 11:38] #11175 closed, assigned to zhongjiajie

[2022-09-06 11:39] #11316 closed, assigned to DubsLiu

[2022-09-06 12:14] caishunfeng commented on #8117
close by #8889

[2022-09-06 12:14] #8117 closed, assigned to nobody

[2022-09-06 12:26] caishunfeng commented on #7810
It's a feature, not a bug.  see https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/parameter/context.html

[2022-09-06 12:49] fuchanghai commented on #11799
@SbloodyS @welsh-wen  first , Have you configured an alert group? second , is duplicate with  #11751  ?

[2022-09-06 13:24] DarkAssassinator commented on #11796
@welsh-wen did u configure the timeout setting? because the timeout setting will hang the retry process.

[2022-09-06 13:32] davidzollo commented on #11236
<img width="1042" alt="image" src="https://user-images.githubusercontent.com/15833811/188648449-628caaeb-a3ff-4ba1-862b-4a0e06cb63dd.png">

the root cause is `source: not found`, if `source` command can't execute normally, the env file will not work

[2022-09-06 13:33] fuchanghai commented on #11788
@welsh-wen Although I have added a judgment on the online status, I don't think the above issue can be fixed, because it is necessary to judge whether it exists before it can judge whether the status is online. My initial suspicion is that he deletes the process definition after someone else has already deleted it。can you give me more informations?

[2022-09-06 13:34] fuchanghai commented on #11788
@SbloodyS If the process definition is online, can it still be selected and deleted in the front end?

[2022-09-06 14:17] ruanwenjun commented on #11533
Since this has already been fixed at 3.0.0 release, I will close this issue.

[2022-09-06 14:17] #11533 closed, assigned to nobody

[2022-09-06 14:18] EricGao888 commented on #11799
Not actually. #11751 targets the implementation of parameter passing across tasks. See `Pass Parameter From Upstream Task to Downstream` section: https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/parameter/context.html

[2022-09-06 14:20] EricGao888 commented on #11799
@welsh-wen Could you please provide a screenshot of how your set the alert for your workflow? As well as the log of your alert server. Thanks : )

[2022-09-06 14:25] #8975 closed, assigned to wjf222

[2022-09-06 15:14] #11784 closed, assigned to fuchanghai

[2022-09-06 17:20] EricGao888 opened #11814 "[Doc][Workflow] Add docs for workflow execution type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we have no docs to explain what these four workflow execution types mean. It is necessary that we have some brief explanations for them in docs.

https://github.com/apache/dolphinscheduler/blob/7c0c1f4

[2022-09-06 17:53] #11680 closed, assigned to nobody

[2022-09-07 00:25] #11210 closed, assigned to ChrisYuan

[2022-09-07 01:45] #11802 closed, assigned to SbloodyS

[2022-09-07 02:19] zhaoyu810373097 commented on #11647
我也遇见了

[2022-09-07 02:33] fuchanghai opened #11815 "[Bug] [Datax] error when ck is dtType and column names contain special characters"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/33984497/188775144-256ee91d-1a17-41be-b9c2-460454bf40e8.png">
<img width="1358" alt="image" src="https://user-images.githubusercontent.com/33984497

[2022-09-07 02:37] jieguangzhou opened #11816 "[Doc][Python] yaml_define examples link error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="840" alt="image" src="https://user-images.githubusercontent.com/31528124/188775938-58d2a691-f7d9-425f-a215-be188b46e902.png">

[examples/yaml_define](https://github.com/apache/dolphinscheduler/tree/py-

[2022-09-07 03:33] #11612 closed, assigned to l838224553

[2022-09-07 04:06] SunFenging opened #11820 "ui, cannot select the workload scheduling time Front end, timing cannot be selected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened
When using Pseudo-Cluster mode of version 3.0,cannot select the workload scheduling time Front end, timing cannot be selected ,but this problem does not occur in Standalone mode of version 3.0.
This is the screen recording in

[2022-09-07 04:07] SbloodyS opened #11821 "[Bug] [Resource Center] HDFS can only use local mode, not cluster mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

HDFS can only use local mode, not cluster mode

### What you expected to happen

running cluster mode successfully.

### How to reproduce

aboved.

### Anything else

_No response_

### Version

dev

### Are you willing to s

[2022-09-07 05:50] fuchanghai opened #11822 "[Improvement][api] Return more friendly return information in class of ProcessDefinitionServiceImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/33984497/188798527-dd0258f5-b50e-49a5-a2a0-bfb2e981bb7f.png)

Only the coder knows what code means and should return the name to the user instead of the code

###

[2022-09-07 06:02] fuchanghai opened #11824 "[Bug] [service] save warningGroupId which not exist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/33984497/188799349-aae3e3b0-6922-45b9-8f68-e52d4894c170.png)
- when i  init database ,not find init a alertGroup which id equal 1
- According to codes logic if warningGroup

[2022-09-07 06:02] fuchanghai commented on #11824
@ruanwenjun i want you help,If you are sure that there is a problem with the above code, I will modify it

[2022-09-07 06:17] fuchanghai opened #11825 "[Bug] [api] problem with Transactional"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/33984497/188802075-8b259180-a0ef-4d4d-928e-2da4768a0220.png)
![image](https://user-images.githubusercontent.com/33984497/188802515-e0dfa24c-e84e-4103-b0ea-b620ffa56e84.png)

[2022-09-07 06:22] SbloodyS opened #11826 "[Bug] [Open-API] open-api doc display exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![](https://vip2.loli.io/2022/09/07/UayZli7cEd8HxYv.png)
![](https://vip2.loli.io/2022/09/07/im1sYx6dE9CakOq.png)

### What you expected to happen

aboved.

### How to reproduce

aboved.

### Anything else

_No response_

##

[2022-09-07 06:23] SbloodyS commented on #11820
Please use english to describe for others to understand.

[2022-09-07 06:26] SunFenging commented on #11820
ok,thank u

孙峰然
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月7日(星期三) 下午2:23
***@***.***&gt;;
***@***.**

[2022-09-07 07:27] hushubudu opened #11827 "task definition reference deleted resource files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1、Create a process  definiiton（flow001)  and add a shell task. The shell task references two rosource files (file1.sql and file2.sql）
2、Make flow001 offline
3、From resource center, delete file1.sql
4、 Make flow001 online aga

[2022-09-07 07:31] lordk911 opened #11828 "[Feature][worker]Worker fault tolerance process could be config to disable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I'm using dolphin 2.0.6,  when one worker node was down, the task running on it will be fault tolerance to other worker node，some scenario this is not good , for example, the task is spark-submit on yarn cluster m

[2022-09-07 07:36] hushubudu commented on #11827
After delete file01.sql， from the process definition page, the referenced file01.sql disappear
![image](https://user-images.githubusercontent.com/112859809/188817370-6a1e42af-860d-4f34-b1d0-1c3f79c4c256.png)

However, in table t_ds_task_definition, the referenced file id still remain
![image](https://user-images.githubusercontent.com/112859809/188817710-29d18ae3-7028-476e-9597-968e9c0cd9a4.png)

[2022-09-07 07:44] cp7719 opened #11829 "[Bug] [api] Workflow is lost"
### Search before asking

- [ ] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[ERROR] 2022-09-07 15:28:21.363 org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[46] - 分页查询工作流定义列表错误
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.TooManyResultsEx

[2022-09-07 08:14] DarkAssassinator commented on #11828
+1, i think this is a good idea

[2022-09-07 08:35] fuchanghai opened #11830 "[Doc][subProcess] Documentation bug or improvement about subProcess"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

child node is not task ,but workflow
![image](https://user-images.githubusercontent.com/33984497/188831243-1393b1cb-f096-451b-93ef-50c91c1e7d0f.png)

### Documentation Links

_No response_

### Are you willing to

[2022-09-07 08:40] #11821 closed, assigned to SbloodyS

[2022-09-07 08:43] SbloodyS commented on #11829
Duplicated with #8790.

[2022-09-07 08:43] #11829 closed, assigned to nobody

[2022-09-07 08:51] DarkAssassinator commented on #11828
but there is a controversial point. If task failed, but did not start any process, still no need failover？

[2022-09-07 09:32] liangkiller opened #11833 "[Bug] [Module Name] cannot be deleted Restore fault tolerant workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

任务已下线，任务定义 那删除掉了。在 工作流实例 页面，有一个 工作流 状态为 “准备停止”，运行类型为“恢复被容错的工作流 ”，却无法删除。运行次数为一直增加。

后来通过修改mysql中的 工作流实例 的 state和recovery 的值才能删除。

### What you expected to happen

恢复被容错的工作流 要有个超时时间

### How to reproduce

在任务运行时， 重启dolphinsche

[2022-09-07 09:40] qqamao commented on #11544
Did you solve it?

[2022-09-07 09:47] danielfree opened #11834 "[Improvement] Upgrade Docker Base Image to support Python3.9"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The default dockerfile for dolphinscheduler-worker uses openjdk:8-jre-slim-buster, python3 version is still on 3.7

3.7 is a bit outdated, we should at least use 3.9, which is available as python3 in debian bullse

[2022-09-07 10:14] devosend commented on #11787
I will fix it

[2022-09-07 11:25] hushubudu commented on #11827
The version is 3.0.0
Pictures are already uploaded.
Thanks

[2022-09-07 13:36] DarkAssassinator commented on #11796
if use configre the timeout and retry, it will cause a dead loop.
because `TASK_STATE_CHANGE` state event will remove the taskProcessor
![image](https://user-images.githubusercontent.com/20518339/188891176-a09baf3c-6c48-4d9f-b311-8f64a872695a.png)
but later `TIME_OUT` state event will use this taskProcessor, it will throw a NPE:
![image](https://user-images.githubusercontent.com/20518339/188891628

[2022-09-07 13:54] fuchanghai commented on #11822
code can not change to name ,because of workflow is not exist .when workflow is online should return name

[2022-09-07 13:57] DarkAssassinator opened #11838 "[Bug] [Master] WorkflowExecuteRunnable will face a infinite loop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when we confige the `Timeout period` and `Failed retry interval` at the same time in Shell task. When shell task failed, it will submit a `TASK_STATE_CHANGE` TaskEvent, and then `TaskStateEventHandler` will call `WorkflowExe

[2022-09-07 13:59] fuchanghai commented on #11822
code can not change to name ,because of workflow is not exist .when workflow is online should return name

[2022-09-07 14:06] DarkAssassinator commented on #11652
and i think the `failover` is a common issue, becuase if process is running, just worker service break down, now DS just will clone a new TaskInstance and dispatch to a new Worker to running again.

[2022-09-08 00:30] limaiwang commented on #11720
Hi @caishunfeng  Are you trying to say that the spark-sql or spark-submit directories use the env mananget?

[2022-09-08 01:54] hushubudu opened #11841 "dolphinscheduler-daemon.sh does not take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1) start worker-server on a node
2) on the same node ,run "sh dolphinscheduler-daemon.sh status api-server ", get the wrong result
![image](https://user-images.githubusercontent.com/112859809/189015561-02f98de5-65bd-4d6f-969

[2022-09-08 02:41] EricGao888 commented on #10870
no stale

[2022-09-08 02:42] Flutemr opened #11842 "[Bug]HikariPool-2 - Connection is not available, request timed out after 30002ms"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Here is a question. Is it because of hive or DS。
The following is the error message:
[INFO] 2022-09-08 04:25:44.024 org.apache.hive.jdbc.Utils:[318] - Supplied authorities: 100.16100.201:10001
[INFO] 2022-09-08 04:25:44.024

[2022-09-08 02:49] jinfengyan commented on #11584
When I shipped this problem, I said that the version of pnpm was updated to the latest version, and the bug was still not solved, but after I updated vite to the latest version, the problem was solved.

For example: pnpm install vite@3.1.0

[2022-09-08 03:21] caffreyZ commented on #10540
how optimize the hive client?

[2022-09-08 03:21] caffreyZ commented on #10540
how optimize the hive client?

[2022-09-08 03:22] caffreyZ commented on #10540
how to optimize the hive client?

[2022-09-08 03:25] Flutemr commented on #10540
you can search hive HA

[2022-09-08 03:27] EricGao888 commented on #10540
@caffreyZ Actually, it is not a good practice to use hiveserver2 for scheduled hive tasks in production. Hiveserver2 is a better choice for ad-hoc query. For scheduling purpose, you may try hive CLI. You could do it with shell task if you are using an old version of DS. If you are planning to upgrade DS, there will be a new `Hive CLI` task in the future. see: https://github.com/apache/dolphinsched

[2022-09-08 03:34] EricGao888 commented on #10540
According to the comments from #10889, the problem seems not to be on the DS side. Therefore, I'm going to close it at this moment. If you believe it is a DS bug, please feel free to ping me or reopen the issue. Thanks : )

[2022-09-08 03:34] #10540 closed, assigned to nobody

[2022-09-08 03:57] lordk911 commented on #11828
can master node know the task runned on the crashed worker node start any process or not?

[2022-09-08 04:30] jiangtaoNuc opened #11843 "[Feature][User Experience] Reduce the operation steps of timing management"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We use version 2.0.2，timing management requires two steps to complete，we recommend integration, and complete timing creation and timing online and offline operations at the same time within timing management。Howev

[2022-09-08 04:41] jiangtaoNuc opened #11844 "[Feature][User Experience] Workflows go online and offline quickly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We use version 2.0.2，When I open an online workflow, I need to make some adjustments. I need to close the workflow canvas, click offline, and then I can edit it, which is very inconvenient。
当我打开一个已经上线的工作流，我需要做一些调整

[2022-09-08 04:48] jiangtaoNuc opened #11845 "[Feature][User Experience] Tips for using custom parameters"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When users configure custom parameters, they are confused about the built-in time parameters（用户配置自定义参数的时候，对内置时间参数比较疑惑）

### Use case

We want to give users some hints in the right place（我们希望在合适的位置给用户一些提示）
![image]

[2022-09-08 04:51] jiangtaoNuc opened #11846 "[Feature][User Experience] Logs cannot be searched by keyword"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Logs cannot be searched by keyword

### Use case

This is a pure front-end optimization
![image](https://user-images.githubusercontent.com/31644893/189036965-965ea9a8-90a6-4c24-abaa-ce6febe0524f.png)

### Related

[2022-09-08 04:55] jiangtaoNuc opened #11847 "[Feature][User Experience] Workflow definitions and workflow instances, as well as task instances can be quickly associated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After the workflow definition is scheduled, a workflow instance will be generated, but currently on the page, the association between them cannot be quickly located（工作流定义被调度后，会生成工作流实例，但是目前在页面上，不能很快的定位到他们之间的关联）

##

[2022-09-08 05:06] jiangtaoNuc opened #11848 "[Feature][User Experience] List of workflow definitions, too many action buttons"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

List of workflow definitions, too many action buttons（工作流定义列表，操作按钮过多）

### Use case

Put the frequently used buttons outside, and hide the less frequently used buttons（把常用的按钮放外边，不常用的按钮隐藏掉）
![image](https://user-im

[2022-09-08 05:13] jiangtaoNuc opened #11849 "[Feature] [UI] About the redesign of the homepage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The indicators on the home page should be instructive in the operation and maintenance operation.(首页的指标要在运维操作中有一定的指导性)

### Use case

This part needs in-depth discussion and redesign. Different roles care about di

[2022-09-08 05:21] jiangtaoNuc opened #11850 "[Feature][User Experience] Timing configuration provides reference time period"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When the user configures the timing, there is a risk that the number of parallel scheduling tasks is too large.（用户配置定时，存在潜在的调度任务并行数太大的风险）

### Use case

Analyze the current scheduling table, count the number of ex

[2022-09-08 05:25] jiangtaoNuc commented on #11849
![image](https://user-images.githubusercontent.com/31644893/189041162-90373116-fdeb-4f79-abdb-e6ca599f711f.png)

[2022-09-08 05:26] jiangtaoNuc commented on #11849
![image](https://user-images.githubusercontent.com/31644893/189041235-3aeb8ea4-f7c8-4c24-8422-58b5b9de9795.png)

[2022-09-08 06:03] simon824 commented on #11533
hi @stalary , set `export SPRING_DATASOURCE_MIN_IDLE=1`  in  `$DS_HOME/bin/env/dolphinscheduler_env.sh` ?

[2022-09-08 06:47] SbloodyS commented on #11841
This has been fixed in #11580. Will be released in the 3.0.1-release.

[2022-09-08 06:47] #11841 closed, assigned to nobody

[2022-09-08 06:57] SbloodyS commented on #11785
Duplicated with #11694.

[2022-09-08 06:57] #11785 closed, assigned to nobody

[2022-09-08 06:58] DarkAssassinator commented on #11838
I think that the timeout should keep just one time,not total

[2022-09-08 07:06] SbloodyS commented on #11842
What did you expected to happen?

[2022-09-08 07:08] #11709 closed, assigned to stalary

[2022-09-08 07:08] #11732 closed, assigned to stalary

[2022-09-08 07:09] #11815 closed, assigned to fuchanghai

[2022-09-08 07:11] ouyangyewei429 opened #11854 "[Bug] [dolphinscheduler-api] Data Analysis Service API responds with jackson deserialization exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Remote call DataAnalysisService API:
1. `/dolphinscheduler/projects/analysis/task-state-count`
2. `/dolphinscheduler/projects/analysis/process-state-count`

after then, deserialize to `org.apache.dolphinscheduler.api.dto.Tas

[2022-09-08 07:15] SbloodyS opened #11856 "[Improvement][Unit Test] Fix flaky unit test in org.apache.dolphinscheduler.plugin.alert.http.HttpSenderTest"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/dolphinscheduler/runs/8226755468?check_suite_focus=true

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this pro

[2022-09-08 07:30] EricGao888 commented on #11856
We need to decouple the external system in UT, e.g. connection to ''www.baidu.com'' here:
https://github.com/apache/dolphinscheduler/blob/e101a5cb2c1a273eb4f2b29230c769f69f698148/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-http/src/test/java/org/apache/dolphinscheduler/plugin/alert/http/HttpSenderTest.java#L30-L41

[2022-09-08 07:31] SbloodyS commented on #11856
That's right.

[2022-09-08 07:32] rickchengx opened #11857 "[Improvement][Spark] Remove the spark version of spark task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, the spark version is misleading.
<img width="577" alt="截屏2022-09-08 15 24 34" src="https://user-images.githubusercontent.com/38122586/189061020-9198f272-9239-4f32-a671-530c5b66a05e.png">

This is not th

[2022-09-08 07:48] huahuacheng commented on #11856
I'm interested. May I take this one? QAQ

[2022-09-08 07:50] SbloodyS commented on #11856
Sure. I've assigned to you. Looking forward to your contribution.

[2022-09-08 07:50] EricGao888 commented on #11856
`+ 1`

[2022-09-08 08:08] pony712 commented on #10809
请问这个问题解决了吗，或者有没有可用的补丁呢？

[2022-09-08 08:15] gzusgw commented on #11321
![image](https://user-images.githubusercontent.com/37568108/189070330-dea5559d-af58-4c0a-b428-7607f5f036f3.png)
customConfig=0走入在plugin.task.chunjun.ChunJunParameterscheckParameters()方法if的逻辑，返回为false

[2022-09-08 09:15] SbloodyS opened #11861 "[Feature][Workflow] Introduce catchup mechanism for workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Introduce catchup mechanism for workflow. Just like the way airflow do in
`https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#catchup`

### Use case

aboved.

### Related issues

_No response_

###

[2022-09-08 09:34] caishunfeng commented on #11849
Looks cool!

[2022-09-08 09:49] liukunyuan commented on #11861
Give me this Feature

[2022-09-08 09:50] SbloodyS commented on #11861
Looking forward to your contribution. :)

[2022-09-08 11:46] fengjian1129 opened #11863 "[Improvement][task-sql] add logic to stop SQL type tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/

[2022-09-08 14:05] DarkAssassinator commented on #11827
so just need remove the resource from the task_param and resource_ids?

[2022-09-08 14:13] DarkAssassinator commented on #11828
May need to add a `TaskExecutionStatus.Process_Running` status in `TaskInstance` entity.

[2022-09-08 22:22] nitesh-chowdhary commented on #5689
With due respect, I would like to have permission for a beginner project to work on. This is my first open source project. I know java as a programming language and can learn things quickly and vividly. So, can I get a chance to be a part of this project.

[2022-09-09 00:52] zhuangchong opened #11866 "[Bug] [API] When a user accesses an interface without project permission, the returned information is not formatted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When a user accesses an interface without project permission, the returned information is not formatted

Interface return information:
[code]

### What you expected to happen

Interface return information:
[code]

### How to

[2022-09-09 01:26] zhuangchong opened #11867 "[Improvement][Dao] Optimize table fields using SQL keywords"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The database table fields of DolphinScheduler contain many SQL keywords. Normally, the field name is forbidden to use keywords. This is also clearly specified on the official website of the database.
https://www.p

[2022-09-09 01:43] #11768 closed, assigned to DarkAssassinator

[2022-09-09 01:51] Flutemr commented on #11842
I want to ask whether it is due to insufficient cluster resources or the hikaripool parameter setting of DS scheduler

[2022-09-09 02:01] danielfree commented on #11227
@SbloodyS  I've seen similar issues in 2.0.6,  from the log it will show PROCESS_TIMEOUT. I suspect it might be related with un-necessary failover info appeared in the log.

instance id 153:

[INFO] 2022-09-08 23:30:00.543 org.apache.dolphinscheduler.server.master.runner.MasterSchedulerService:[208] - find one command: id: 154, type: SCHEDULER
[INFO] 2022-09-08 23:30:00.546 org.apache.dolphinsched

[2022-09-09 02:25] LiuBodong opened #11869 "[Bug] [Monitor] MemoryUsage and DiskAvailable not show on monitor page (Both Worker and Master)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Disk available and Memory usage not corret
![图片](https://user-images.githubusercontent.com/23203149/189258810-581afc47-c7c5-49b2-b3a8-91be5be28fa7.png)

### What you expected to happen

Disk available and Memory can show the

[2022-09-09 02:33] #11816 closed, assigned to jieguangzhou

[2022-09-09 02:35] #11787 closed, assigned to devosend

[2022-09-09 02:37] #10683 closed, assigned to 106umao

[2022-09-09 02:58] danielfree commented on #11227
@SbloodyS correct me if I'm wrong, from https://github.com/apache/dolphinscheduler/blob/2.0.6-release/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/master/runner/FailoverExecuteThread.java#L95
seems the master server will always failover itself ? why is that?

[2022-09-09 03:37] hushubudu commented on #11827
yes, if a file is deleted all the task definitions should remove the resource from the task_param and resource_ids automatically

[2022-09-09 04:55] wendongdi opened #11875 "[Bug] [dolphinscheduler-tools] [mysql] bugs are thrown when init&upgrade meta-schema"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

exceptions is thrown while running UpgradeDolphinScheduler with profle 'upgrade':
- Duplicate key exceptions are thrown when upgrading mysql-meta-data by executing ver. 2.0.3~ver. 2.0.4 dolphinscheduler_ddl.sql
,like this:
!

[2022-09-09 05:06] wendongdi opened #11876 "[Improvement] [dolphinscheduler-tools] upgrade process can be made directly after init process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

i think the runner function can be optimized:
upgrade process can be made directly after init process:
[code]

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X

[2022-09-09 06:33] rickchengx opened #11877 "[Bug] [UI] Environment cannot be removed on the ui of some task plugins"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The Environment cannot be removed on the ui of some task plugins.

### What you expected to happen

The Environment on the ui can be removed by the user.

### How to reproduce

1. Create an environment called `test`.
2. Crea

[2022-09-09 07:14] Chris-playground opened #11879 "[Improvement][All Modules] Keyword Search Improvement"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

For DolphinScheduler V3.0.0, all the search actions can only  be triggered by pressing the search button in project list page, process list page and etc.
Mostly, users will press `Enter` after they finish typing t

[2022-09-09 07:27] caishunfeng commented on #11781
@EricGao888 so this issue should update as improvement?

[2022-09-09 07:49] EricGao888 commented on #11781
I think so. I will give a design and send it to mail list later.

[2022-09-09 07:53] rickchengx opened #11880 "[Improvement][Hivecli] Improve the UI of HiveCli"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Improve the UI of HiveCli

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundati

[2022-09-09 08:07] ruanwenjun commented on #11399
@wanghaizhou How to reproduce?

[2022-09-09 08:36] Yougetadad opened #11883 "[Feature][ALL Modules] The feeling after use dolphin scheduler3.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1、建议“工作流定义”页面调整创建时间、更新时间、创建&修改用户等列的宽度，给任务名等留足空间
2、建议操作按钮出可以调整一下色系，目前看着清朗却不清晰
3、在界面进行上线或定时上线调整等功能后不要直接返回初始页面
4、环境名称在手动调度的时候可以默认,避免每次都要点选
5、保存界面中：串行抛弃和串行优先不能顺利执行
6、手动调度的时候单独执行本节点的功能建议回归
7、时区调整并不是全局的，参数没有跟着调整

### Us

[2022-09-09 08:45] LiuBodong opened #11884 "[Bug] [UI] allow-input check on some input element are unnecessary"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

User could not type `WHITESPACE` into `environment config` and password.

## Why this happends
`allow-input` attribute was added to NInput tag element in this issue #10845. and was merged by #10984 and #10975.
This causes so

[2022-09-09 08:48] caishunfeng commented on #11875
Yes, agree with you.

[2022-09-09 10:16] SbloodyS commented on #11876
Can you give an example?

[2022-09-09 10:17] SbloodyS commented on #11883
Please use english to describe for others to understand.

[2022-09-10 02:53] zhuangchong commented on #11026
It has been merged into the 3.1.0 branch.

[2022-09-10 02:54] zhuangchong commented on #11394
It has been merged into the 3.1.0 branch.

[2022-09-10 08:26] wendongdi commented on #11876
In current UpgradeDolphinScheduler code：
[code]
it has been judged whether the schema has been initialized. If not, it will be initialized, but it will not upgrade after that. I don't think this is reasonable.
The initDolphinScheduler function only update the schema to version 3.0.0（not the latest version），so i have to run this function again to upgrade the schema.

I don't understand why not init

[2022-09-10 09:28] #11423 closed, assigned to fuchanghai

[2022-09-10 15:31] zixiao144 opened #11892 "how to define flink command line"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I want to use *.zip or *.pyz  in flink task,it can not do.
select  flink >1.10,and  again edit ,it become  flink<1.10.
flink run \
      --pyModule table.word_count \
      --pyFiles examples/python/table
flink run-applicati

[2022-09-11 02:32] ruanwenjun commented on #11892
It may need to refactor the Flink task plugin to support this or you can use shell task plugin.

[2022-09-11 02:35] ruanwenjun opened #11894 "[Improvement][Master] Add parentTaskInstanceId/sourceTaskInstanceId for task instance."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The task instance may be created by a taskInstance e.g. failover/rerun, it's better to store this information, this can help to find the context of the origin context.

### Are you willing to submit a PR?

- [ ] Y

[2022-09-11 06:52] seedscoder commented on #11805
I am interested in this issue. I see that t_ ds_ task_ definition. worker_ group stores the name of the worker group. If the worker group modifies the name, The relevant information in definition will not change. Is it better to use ID? This involves the change of front-end input parameters

[2022-09-11 07:14] seedscoder opened #11895 "[Improvement][dolphinscheduler-api] When deleting a workflow definition, the task definition information should be deleted?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- When deleting a workflow definition (t_ds_process_definition), whether the task definition information should be deleted (physical deletion or logical deletion) (t_ds_task_definition)

[code]

#

### Are you wil

[2022-09-11 09:04] DarkAssassinator commented on #11894
+1 i think this is a good idea, it is best to be able to display on the page which task instance the task instance is assigned from, such as re-run from xxxx task instance, failover for xxx task instance?

[2022-09-11 09:28] DarkAssassinator commented on #11827
i think that we can delete all related resource when the user delete the resources.
@SbloodyS could i get this case?

[2022-09-11 11:11] #11869 closed, assigned to LiuBodong

[2022-09-11 11:12] #11854 closed, assigned to ouyangyewei429

[2022-09-11 11:17] kezhenxu94 commented on #10427
Currently nearly all dependencies with CVEs are upgraded to latest, some of the reported dependencies don't yet have released new version that fixes the CVE, so we have no way to deal with those dependencies for now. Now this should be a routine work and let's close this issue

[2022-09-11 11:17] #10427 closed, assigned to zhongjiajie

[2022-09-11 11:17] kezhenxu94 commented on #4505
Updated in dev branch

[2022-09-11 11:17] #4505 closed

[2022-09-11 11:18] kezhenxu94 commented on #4501
Updated

[2022-09-11 11:18] #4501 closed

[2022-09-11 11:19] kezhenxu94 commented on #9639
Done in dev branch

[2022-09-11 11:19] #9639 closed, assigned to nobody

[2022-09-11 11:21] kezhenxu94 commented on #9843
~570MB, there is no known optimization for now

[2022-09-11 11:21] #9843 closed, assigned to nobody

[2022-09-11 11:36] pjfanning opened #11897 "[Bug] upgrade to spring 5.3.20+ due to CVE-2022-22970 and CVE-2022-22971"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dependabot found 2 security issues

* https://github.com/advisories/GHSA-hh26-6xwr-ggv7
* https://github.com/advisories/GHSA-rqph-vqwm-22vc

### What you expected to happen

secure libs used

### How to reproduce

dependabot

[2022-09-11 11:37] pjfanning commented on #9541
I raised https://github.com/apache/dolphinscheduler/issues/11897

[2022-09-11 11:48] pjfanning opened #11898 "[Bug] Bump aws-java-sdk-s3 from 1.12.160 to 1.12.261 due to cve"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

https://github.com/advisories/GHSA-c28r-hw5m-5gv3

### What you expected to happen

secure libs

### How to reproduce

n/a

### Anything else

_No response_

### Version

dev

### Are you willing to submit PR?

- [X] Yes I a

[2022-09-11 12:21] DarkAssassinator commented on #11803
![image](https://user-images.githubusercontent.com/20518339/189527225-5afe147a-431d-464b-9bac-60b2e8bf5799.png)
![image](https://user-images.githubusercontent.com/20518339/189527258-fe32cea0-fb57-4841-9e99-d5fb4f645154.png)

[2022-09-11 12:46] #11247 closed, assigned to lishiyucn

[2022-09-11 12:50] #11897 closed, assigned to nobody

[2022-09-11 12:50] #11898 closed, assigned to nobody

[2022-09-11 15:20] hiSandog opened #11900 "[Bug] [task-plugin] run python task, source: not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/24449799/189535015-d528080d-6a33-4437-b369-8def3197c5e2.png)

When a Python task is run, "sudo -u qilin_ci sh" is first executed.
At line 123 of [AbstractCommandExecutor](ht

[2022-09-11 15:42] SbloodyS commented on #11900
Duplicated with #10938.

[2022-09-11 15:42] #11900 closed, assigned to nobody

[2022-09-12 02:35] #11720 closed, assigned to limaiwang

[2022-09-12 03:04] zhongjiajie commented on #10911
maybe we should better follow the [DSIP](https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/DSIP.html) process and introduce this feature to our community

[2022-09-13 01:20] hushubudu commented on #11827
Still, I think the reupload resource file is a very import function .Will you consider adding back this function?

[2022-09-13 01:27] caishunfeng commented on #11744
Hi @huanhuande I will close this issue due to the unclear title and description.

Please use the correct title and add more details on description next time.
see https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/contribute/join/issue.html

[2022-09-13 01:28] #11744 closed, assigned to huanhuande

[2022-09-13 02:01] stalary commented on #11895
https://github.com/apache/dolphinscheduler/pull/11490

[2022-09-13 02:06] #11830 closed, assigned to fuchanghai

[2022-09-13 02:12] stalary commented on #11894
I can do it~

[2022-09-13 02:33] zhoufanglu opened #11901 "[Improvement] [Vite] hot update is very slow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

vite hot update is very slow , It's about 3s

### What you expected to happen

vite hot update is fast!!

### How to reproduce
vite.ts
[code]

### Anything else

_No response_

### Version

3.0.0

### Are you willing to subm

[2022-09-13 02:36] caishunfeng commented on #11884
I don't think it's a bug and we should not make the input element allow whitespace at the end of content.

PTAL @Amy0104 @songjianet

[2022-09-13 02:38] stalary commented on #11801
You can modify it in password instead of account.

[2022-09-13 02:39] stalary commented on #11800
I had the same problem.

[2022-09-13 03:16] caishunfeng commented on #11742
related issue: #11517

[2022-09-13 03:56] SbloodyS opened #11902 "[Improvement][Dependent] The project list in dependent node's permissions should not be restricted."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The project list in dependent node's permissions should not be restricted. Suggesting create a new API without project permission restrictions and provide it to dependent nodes in UI.

### Are you willing to submi

[2022-09-13 04:11] caishunfeng commented on #11639
Hi @MFeng1027 how is this going?

[2022-09-13 04:17] caishunfeng commented on #11639
I found that it's OK in dev.

[2022-09-13 05:41] caishunfeng commented on #11627
Hi @8431 I had assigned you. Looking forward to your pr.

[2022-09-13 05:44] Amy0104 commented on #11901
It's not slow for me. Could you provide a log picture like this? @zhoufanglu This looks like a local environment problem.
<img width="532" alt="image" src="https://user-images.githubusercontent.com/97265214/189818695-225cf168-1a25-4144-a158-322887c94606.png">

[2022-09-13 05:48] zhoufanglu commented on #11901
![image](https://user-images.githubusercontent.com/24451091/189819427-2dab6f3d-59d9-4231-a30a-49e1d3b21e99.png)

Hot update very slow every time to 5 seconds or so, the impact of development

[2022-09-13 05:49] caishunfeng commented on #11515
@chenhaonan313 can you check the table `t_ds_resources`?

[2022-09-13 05:50] Amy0104 commented on #11884
I think so. This's not a bug. Removing whitespace from both ends of a string is to prevent user misuse.

[2022-09-13 05:54] songjianet commented on #11901
Can you provide the hardware configuration and system environment of the computer?

[2022-09-13 05:54] #11877 closed, assigned to rickchengx

[2022-09-13 06:01] #11895 closed, assigned to seedscoder

[2022-09-13 06:01] songjianet commented on #9238
I thought about this function for a while. At this stage, we have a code editor component in the pop-up window. It is allowed to use the `enter` button in the code editor, which will cause a certain conflict with the confirmation button of the pop-up window, so this function cannot be used for the time being.

[2022-09-13 06:01] #9238 closed, assigned to songjianet

[2022-09-13 06:15] zhoufanglu commented on #11901
![image](https://user-images.githubusercontent.com/24451091/189821091-3c86b24d-ec30-4286-b571-1e0df10ac578.png)
win10
`
wait  demo
![KKkp0lWQdK](https://user-images.githubusercontent.com/24451091/189823976-8f24dc80-1e5b-4fb4-924e-b329bb4aa0b0.gif)

[2022-09-13 06:18] jokerhzf opened #11903 "[Bug] [Worker Sever] org.apache.dolphinscheduler.plugin.task.api.ProcessUtils:[66] - kill task failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version:2.0.6 release

[code]

### What you expected to happen

When the worker is killing the task, the process ID is incorrectly identified due to the regular expression.
killAllRunningTasks() uses `org.apache.dolphinsched

[2022-09-13 06:22] caishunfeng commented on #11430
I will close this issue because it had fixed.

[2022-09-13 06:22] #11430 closed, assigned to 106umao

[2022-09-13 06:29] caishunfeng commented on #11381
Hi @WholeWorld-Timothy It seems the problem of your network setting.

[2022-09-13 06:31] caishunfeng commented on #11370
Thanks, I will close this issue.

[2022-09-13 06:31] #11370 closed, assigned to ocean-zhc

[2022-09-13 07:04] caishunfeng commented on #11123
close by #11441

[2022-09-13 07:04] #11123 closed, assigned to caishunfeng, edwardhuanghz

[2022-09-13 07:07] jieguangzhou opened #11904 "[Doc][Task Plugin] Fix MLflow task plugin doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Fix the list format
- remove the todo list

### Documentation Links

https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/task/mlflow.html

### Are you willing to submit a PR?

- [X] Yes I am willin

[2022-09-13 07:19] caishunfeng commented on #10809
@yyunlei @pony712 can you check for dev branch? Because I had fix kill flink task in #11350, hope it can help you.

![image](https://user-images.githubusercontent.com/11962619/189836329-3177b2ef-ae02-4efc-8a36-0ee2407ec2b3.png)

![image](https://user-images.githubusercontent.com/11962619/189836486-a1b3cb56-3262-4555-bca9-ae5f720aa8ef.png)

[2022-09-13 07:21] jieguangzhou opened #11906 "[Feature][PyDolphinScheduler] Support more task plugin in PyDolphinScheduler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

DolphinScheduler has recently added a number of task plugins. We have to add more support in pydolphinscheduler.
List of types in DolphinScheduler: https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide

[2022-09-13 07:24] jieguangzhou commented on #11906
@zhongjiajie @SbloodyS @EricGao888 Can we add the tag of Good First Issue?

[2022-09-13 07:26] SbloodyS commented on #11906
Done.

[2022-09-13 07:29] EricGao888 commented on #11906
May I pick those plugins I contributed before? Jupyter, HiveCLI, Zeppelin 🤣 I could handle the corresponding tasks in pyds : )

- [ ] jupyter #11907
- [ ] zeppelin #11908
- [ ] hive cli #11909

[2022-09-13 07:36] jieguangzhou commented on #11906
Of course.

[2022-09-13 07:48] caishunfeng commented on #9921
close by #11232

[2022-09-13 07:48] #9921 closed, assigned to JinyLeeChina

[2022-09-13 07:48] jokerhzf commented on #11903
I think workerServer should use ProcessUtils from `org.apache.dolphinscheduler.server.utils` instead of `org.apache.dolphinscheduler.plugin.task.api`

[2022-09-13 07:50] caishunfeng commented on #11742
close due to same issue.

[2022-09-13 07:50] #11742 closed, assigned to limaiwang

[2022-09-13 07:54] jieguangzhou commented on #11906
I want to pick these plugins
- [x] MLflow #11923
- [x] DVC #11922
- [x] SageMaker #11921
- [x] Pytorch #11924
- [x] OpenMLDB #11944

 If others are interested in contributing, they can comment on this issue

[2022-09-13 08:05] #9905 closed, assigned to qingxing7

[2022-09-13 08:20] #11904 closed, assigned to nobody

[2022-09-13 08:45] DarkAssassinator commented on #11906
May i pick chunjun, Dinky and Java?

- [ ] JAVA #11914
- [ ] chunjun #11915
- [ ] Dlinky #11916

[2022-09-13 08:48] EricGao888 opened #11907 "[Feature][Module Name] Support Jupyter task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of #11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-09-13 08:50] zhoufanglu commented on #11901
i don't know why this,  I tried it and it had nothing to do with computers。
a new component hot update is fast. but  before component is very slow

[2022-09-13 08:50] EricGao888 opened #11908 "[Feature][PyDolphinScheduler] Support Zeppelin task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of #11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-09-13 08:50] EricGao888 opened #11909 "[Feature][PyDolphinScheduler] Support HiveCLI task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of #11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-09-13 09:01] EricGao888 commented on #11906
@DarkAssassinator @jieguangzhou Sure, thanks for the help! Could u plz create related sub-issues like this comment?https://github.com/apache/dolphinscheduler/issues/11906#issuecomment-1245011210 Thanks : )

[2022-09-13 09:36] caishunfeng commented on #11903
Hi  @jokerhzf can you try to process it unified? There should not be two copies of the same code, increasing maintenance costs.

[2022-09-13 10:11] songjianet commented on #10366
This problem will not affect the normal use of users for the time being, so the priority is low.

[2022-09-13 10:38] limaiwang commented on #11902
I want to accept it, please assign to me

[2022-09-13 10:40] SbloodyS commented on #11902
I've assigned to you. Looking forward to your contribution.

[2022-09-13 12:27] fhygh opened #11913 "[Improvement] [Alert] should mask the password of email password"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when create alert instance, email password display in plaintext, should mask password
![image](https://user-images.githubusercontent.com/25889738/189900622-300ebbaf-a8cc-4c9d-b13f-8b02f2620c55.png)

### What you expected to

[2022-09-13 13:27] DarkAssassinator opened #11914 "[Feature][PyDolphinScheduler] Support JAVA task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of #11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-09-13 13:28] DarkAssassinator opened #11915 "[Feature][PyDolphinScheduler] Support ChunJun task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of #11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-09-13 13:29] DarkAssassinator opened #11916 "[Feature][PyDolphinScheduler] Support Dlinky task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of #11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-09-13 14:15] DarkAssassinator commented on #11652
Hi @caishunfeng & @SbloodyS so can i start coding this case?

[2022-09-14 00:25] #11307 closed, assigned to xujian04

[2022-09-14 00:25] #11306 closed, assigned to xujian04

[2022-09-14 00:25] #11302 closed, assigned to nobody

[2022-09-14 02:19] zhongjiajie commented on #11321
@tracehh do you have time to take a look at this issue?

[2022-09-14 02:38] Amy0104 commented on #11786
This workflow is online, while its scheduling state is offline. So the node shows the color of scheduling offline.

[2022-09-14 02:46] tracehh commented on #11321
Currently only support customConfig=1，custome json format

[2022-09-14 03:03] seedscoder commented on #11805
Current, t_ds_task_definition.worker_group stores the name of the worker group
- the name of the worker group will not be modified synchronously. Is it inaccurate to directly verify the name of the worker group?
-  if the worker group ID is stored，How to handle the work group value of historical data

@SbloodyS

[2022-09-14 03:38] SbloodyS commented on #11652
I think it's better not to use userName/passWord in ssh since there are some security risks. Using pam file or authrized_key in ssh is a more secure way.

BTW, I have some different thoughts on the implementation method.

Currently, DS supports S3 and HDFS as the storage mode of the resource center. In the future, it may also support other object storage, such as alibaba cloud oss, tencent cloud c

[2022-09-14 06:13] stalary commented on #11710
https://github.com/apache/dolphinscheduler/pull/11734

[2022-09-14 06:13] #11710 closed, assigned to nobody

[2022-09-14 07:21] jieguangzhou opened #11921 "[Feature][PyDolphinScheduler] Support SageMaker task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of https://github.com/apache/dolphinscheduler/issues/11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-09-14 07:22] jieguangzhou opened #11922 "[Feature][PyDolphinScheduler] Support DVC task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of https://github.com/apache/dolphinscheduler/issues/11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-09-14 07:22] jieguangzhou opened #11923 "[Feature][PyDolphinScheduler] Support MLflow task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of https://github.com/apache/dolphinscheduler/issues/11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-09-14 07:23] jieguangzhou opened #11924 "[Feature][PyDolphinScheduler] Support Pytorch task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of https://github.com/apache/dolphinscheduler/issues/11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-09-14 08:05] hqzh opened #11927 "[Bug] [UI] missing some fields value in edit DataX node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/26128706/190096708-5a2ce0c1-867d-4307-aded-45dfc875201e.png)

### What you expected to happen

fulfill missing fields

### How to reproduce

edit DataX node

### Anything el

[2022-09-14 08:23] stalary opened #11928 "[Bug] [Dependent] Start process instance error when enable dependent mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Start process instance error when enable dependent mode,
I find in `dependentCommand = (Command) BeanUtils.cloneBean(command)` the command id not modified due to Duplicate entry 'xxx' for key 't_ds_command.PRIMARY', I suspec

[2022-09-14 10:03] #11875 closed, assigned to wendongdi

[2022-09-14 10:15] ruanwenjun commented on #11928
This is due to we copy the command to dependentCommand, but didn't set the id to null, I will fix this.

[2022-09-14 10:35] SbloodyS commented on #11824
The `id=1` exists only after the user manually creates the alarm plugin. If the user does not create it, there will be no sending channel to send alarm information.

[2022-09-14 11:10] caishunfeng commented on #11650
Hi @fengjian1129 How is this issue going?

[2022-09-14 11:17] zhuangchong commented on #11650
@fengjian1129  Please submit it to the 3.0.1-prepare branch, thanks.

[2022-09-14 11:17] #11650 closed, assigned to fengjian1129

[2022-09-14 11:18] fengjian1129 commented on #11650
@caishunfeng PR has been merged

[2022-09-14 11:19] fengjian1129 commented on #11650
@zhuangchong ok

[2022-09-14 11:26] ruanwenjun commented on #11824
In my knowledge, we don't need to set the alertGroupId here? we can keep it null?

[2022-09-14 14:33] jessienxx opened #11940 "[Feature][SUB_PROCESS] Child Node Drop -down list support fuzzy match"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/30490834/190182520-198530c2-c7eb-4a19-97c8-31143056b83a.png)
when there are a lot of process ,it's very troublesome to find the sub process I wanted. So I hope th

[2022-09-14 15:17] wendongdi opened #11942 "[Bug] [dolphinscheduler-service] NPE was raised when i open Workflow Definition UI after saving one Workflow Instance without selecting syncDefine"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

As the issue title said，steps as list:
1. Define a Workflow and run it , then i got a Workflow Instance
![图片](https://user-images.githubusercontent.com/49931055/190185414-1e08269f-0196-46f7-937b-fa9a23d46844.png)
![图片](https

[2022-09-14 15:21] wendongdi commented on #11942
This bug should be quite obvious
I'm confused why no one mentioned it, has anyone else meeted this bug???

[2022-09-14 15:24] wendongdi commented on #11942
Maybe , I THINK , this bug only happens with brand new meta-database

[2022-09-14 16:06] gzusgw commented on #11321
But when creating a chunjun task on the Web, customConfig default value is '0'

[2022-09-15 01:07] fuchanghai commented on #11824
@ruanwenjun @SbloodyS if id not exists.The log will report an error，you can see #11753

[2022-09-15 01:41] caishunfeng commented on #11639
![image](https://user-images.githubusercontent.com/11962619/190292810-7af99e35-6bdf-4330-8d87-8bb7df35102d.png)

@MFeng1027 I check 3.0.0-release and 3.0.1-prepare, they can set and schedule normally.

So I will close this issue, feel free to reopen it or reply comment, thanks.

[2022-09-15 01:41] #11639 closed, assigned to Tianqi-Dotes, MFeng1027

[2022-09-15 01:46] #11838 closed, assigned to DarkAssassinator

[2022-09-15 01:49] jieguangzhou opened #11943 "[Feature][PyDolphinScheduler] Support OpenMLDB task in pyds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

part of https://github.com/apache/dolphinscheduler/issues/11906

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-09-15 01:56] danielfree opened #11945 "[Bug] [alert] Fix bug in HTTP alert to include content field in post data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When using HTTP Alert plugin with POST request, the contentField is not actually loaded into POST body.

### What you expected to happen

contentField should be included in POST body

### How to reproduce

Create a HTTP Aler

[2022-09-15 02:00] #11928 closed, assigned to stalary

[2022-09-15 02:08] danielfree commented on #11945
this is already fixed in dev branch

[2022-09-15 02:25] caishunfeng commented on #11796
close by #11864

[2022-09-15 02:25] #11796 closed, assigned to DarkAssassinator

[2022-09-15 02:32] #11687 closed, assigned to EricGao888

[2022-09-15 03:23] jinyanhui2008 opened #11952 "[Bug] [Task Definition] The predecessor task is lost when the task definition function modifies the task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. After creating a new workflow through the workflow definition, modify one of the task nodes in the task definition, and the pre-task node in the open window is lost.

2. When adding a new task through task definition, you

[2022-09-15 04:33] hqzh commented on #11927
please check, I am willing to submit a PR!

[2022-09-15 06:05] Zephyrcf opened #11955 "[Bug] The two [sub_process] tasks are the parent task and the child task. The task cannot be stopped"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The two [sub_process] tasks are the parent task and the child task. The task cannot be stopped.
.

### What you expected to happen

The two [sub_process] tasks are the parent task and the child task. The task can be stopped.

[2022-09-15 06:18] hqzh commented on #11927
@SbloodyS can you help me
![image](https://user-images.githubusercontent.com/26128706/190328725-47b6a382-3312-437c-94b1-0bc6e3990d94.png)

[2022-09-15 06:59] #11609 closed, assigned to nobody

[2022-09-15 07:03] hqzh commented on #11927
please check, i will pr

[2022-09-15 07:05] #10938 closed, assigned to itzhang89

[2022-09-15 07:20] pandong2011 commented on #11913
已经提交了pr，未来应该能fix
![email](https://user-images.githubusercontent.com/100667564/190340342-6f24643a-991d-4efd-83ab-6bc4d2f8e01f.jpg)

[2022-09-15 07:34] hqzh opened #11960 "[Bug] [dolphinscheduler-service] datasource field note length more than 255 response a error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/26128706/190341871-4412871b-4ddc-423c-a6ff-9bb161987ed8.png)
![image](https://user-images.githubusercontent.com/26128706/190341994-12c9555f-8937-477b-bbb5-fa96d8099af7.png)

[2022-09-15 07:58] fhygh commented on #11913
@pandong2011  great, thank you

[2022-09-15 08:08] brave-lee commented on #11903
@jokerhzf Has PR been submitted for this issue ?

[2022-09-15 08:23] brave-lee commented on #11227
I think this has nothing to do with the master failover. Can you provide the logs of the instance id 153 of the worker

[2022-09-15 08:30] brave-lee commented on #10378
Since this issue cannot be reproduced and the issue has survived from the previous version, I close it. If you have other information, please open it or propose another one

[2022-09-15 08:30] #10378 closed, assigned to nobody

[2022-09-15 08:32] brave-lee commented on #10369
@codyyang0 Has PR been submitted for this issue ?

[2022-09-15 09:00] darrkz opened #11964 "[Bug] [Master] task failed when shell node assign a worker group an then change worker group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I run a old and simple workflow, but it hung on a node and status shows submit success and hold the status for minutes.
all new task instance hang.

So I have to stop the workflow to let the ds system workfine

server log sh

[2022-09-15 09:20] darrkz commented on #11964
I had select data from the ds metadata, and the t_ds_task_definition.worker_group column store the name of worker group but not id of the worker group
So afer change the name of worker group , it go wrong...

And I see this bug still in version 2.0.6

[2022-09-15 09:23] yyunlei commented on #10809
请问下载那个版本修复修复上述问题呢？

[2022-09-15 09:31] darrkz commented on #11964
I think the task should faild instead of block all new following task instaces

[2022-09-15 09:40] LiuBodong commented on #11884
I'm not meaning to remove `all` the verification on input, But I think some  unnecessary verification could be removed.
For example: `Envrionment Config`, the verification prevent typing such shell command: `export JAVA_HOME=/usr/lib/jvm/default`.

By the way, should `password` contains whitespace?

[2022-09-15 10:15] fengjian1129 commented on #11960
@hqzh I think this error is actually the maximum allowable field length of 255 in the table structure. You can manually modify the table structure.

For example, the following figure:
<img width="894" alt="image" src="https://user-images.githubusercontent.com/35831367/190378703-267f0a1f-d427-44cb-9d0f-2e99180f92ff.png">

[2022-09-15 10:24] fengjian1129 commented on #11964
@darkz1984 I have also encountered this problem, which may be caused by the deletion of the workgroup used to run the task before. Add this workgroup('测试组-master-138') back manually.

[2022-09-15 11:44] hqzh commented on #11960
@fengjian1129 got it , if table keep it 255, ui need validate.

[2022-09-15 11:47] pandong2011 commented on #11849
when do this, if do , can give this pr to me？define the metrics and dimensions first

[2022-09-15 11:56] brave-lee opened #11970 "[Feature][Dependence] Reform dependence mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Present situation: The current dependency is on a single task and All. In fact, All depends on workflow, not all tasks
Planned reform:
1. The mode of relying on a single task remains unchanged. All is changed to r

[2022-09-15 12:41] davidzollo commented on #11903
this PR can't solve the problem I think

[2022-09-15 12:41] davidzollo commented on #11903
this PR https://github.com/apache/dolphinscheduler/pull/11920 can't solve the problem I think

[2022-09-15 13:40] davidzollo commented on #5689
of course, you can choose an easy issue to complete it

[2022-09-15 13:42] davidzollo commented on #11960
good job, please use the picture in English environment, thx

[2022-09-15 13:48] davidzollo commented on #11952
I have assigned to you, please remember one PR only solve one issue, if you have more than one issue, please split it to different issues

[2022-09-16 00:17] jinyanhui2008 commented on #11952
现在问题是任务定义功能有点复杂，有没有小伙伴能协助讲解一下流程，现在问题修复起来有点头大。

[2022-09-16 01:08] tracehh commented on #11321
I review the code again

[2022-09-16 01:12] #11517 closed, assigned to nobody

[2022-09-16 01:40] danielfree commented on #11834
closed by #11835

[2022-09-16 01:40] #11834 closed, assigned to danielfree

[2022-09-16 01:57] jkhhuse commented on #11321
For the current version, the customConfig value should be set as the default true value.
I can propose a PR to solve this problem.

[2022-09-16 01:59] #10273 closed, assigned to guodongym

[2022-09-16 02:10] devosend opened #11978 "[Bug] [Conditions] conditions can't work properly when two conditions point to the same task component"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

### conditions can't work properly when two conditions point to the same task component
In the following example, node `2` and node `4` point to the same node `6`. I hope execute node `6` when node `111` execute failed but i

[2022-09-16 02:11] hqzh commented on #11960
![image](https://user-images.githubusercontent.com/26128706/190541201-1a0074b7-294e-49d3-9880-3d6cc42819d3.png)
![image](https://user-images.githubusercontent.com/26128706/190541273-a5768c10-fad1-4c22-8efa-c0ca6468e539.png)
@davidzollo plan is fix table or ui？

[2022-09-16 02:20] danielfree commented on #11227
Here's another case with my running installation:

instance id: 211
task instance id: 672
logs from worker:
[code]
Note that at **[INFO] 2022-09-16 07:53:59.196** the task instance 672 is executed again after a SUCCESS run

master logs:

[code]
Note at **[INFO] 2022-09-16 07:50:41.431**  the master somehow starts to failover with running task 672 in worker, and in **[INFO] 2022-09-16 07:53:59.168*

[2022-09-16 02:38] #11434 closed, assigned to rickchengx

[2022-09-16 03:31] DarkAssassinator commented on #11964
dev branch also has this issue. but just will reproduced after master restart and failover. I will check it

[2022-09-16 05:34] #11452 closed, assigned to nobody

[2022-09-16 06:30] welsh-wen commented on #11786
Thanks for the reminder, I closed this issue right away

[2022-09-16 06:30] #11786 closed, assigned to nobody

[2022-09-16 07:20] SbloodyS commented on #11227
The root cause for master failover is encountered NPE. It can be seen that the kill yarn job failed from your log. Please check whether the configuration related to the yarn rest api is correct and whether the yarn service is running normally. @danielfree

[2022-09-16 07:23] danielfree commented on #11227
thx for your reply, but this is running in k8s, there's no yarn env by default

[2022-09-16 07:26] SbloodyS commented on #11227
You can take a look at the `NOTE` part in the document. The unfriendly thing is that there is no switch to control the start and stop of this function.
https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/task/shell.html

[2022-09-16 08:19] danielfree commented on #11227
interesting, I don't have any logs like `application_xxx_xxx`, the error traces back to https://github.com/apache/dolphinscheduler/blob/2.0.6-release/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/utils/ProcessUtils.java#L197

[2022-09-16 09:52] ruanwenjun commented on #11955
Could you please provide more information? e.g. your workflow picture

[2022-09-16 09:56] #10887 closed, assigned to nobody

[2022-09-16 10:33] William-GuoWei opened #11998 "[Improvement][TimeZone] Get Default Time Zone from Server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There are many different TimeZone sets in DolphinScheduler.
And it seems many of them set UTC zone as default.
I think it is easy for users who are not in UTC zone to get the default time zone from the server time

[2022-09-16 11:14] lctlover opened #11999 "[Bug] The version upgrade of [Module Name] caused the workflow to not be offline normally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1.3.5升级到2.0.6版本
其中包含有计划任务的工作流可以正常上线，但无法正常下线，会报错。
删除该工作流的计划任务，可以正常下线上线。

### What you expected to happen

none

### How to reproduce

升级中包含计划任务的工作流，即可重现错误。

### Anything else

_No response_

### Version

2.0.6

### Are you wi

[2022-09-16 11:57] DarkAssassinator opened #12000 "[Bug] [Master] Cannot remove the WorkerGroup from the master service."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

cannot delete the WorkerGroup from the Master service.
When try to repreduce #11964 , i create a worker group named `app01`, then config the a shell task, and save it and run it.
![image](https://user-images.githubuserconten

[2022-09-16 12:11] DarkAssassinator opened #12001 "[Improvement][Master] Process instance will keep running when cannot find the worker group."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

after #12000 , i restart the master service to re-build the worker group cache in master service, then re-run the process instance.
the UI should the process is running:
![image](https://user-images.githubusercont

[2022-09-16 12:22] DarkAssassinator opened #12002 "[Bug] [UI] After we delete the worker group, but this task group still keep in the task setting."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in #12000, after deleted the worker group, then edit the task setting, the `app01` still show in the setting.
![image](https://user-images.githubusercontent.com/20518339/190637476-1605f33e-cae6-4b0e-8eff-0165663a8794.png)

#

[2022-09-16 12:24] #11924 closed, assigned to jieguangzhou

[2022-09-16 12:35] Tianqi-Dotes commented on #11397
![3efb87e7352a06b0c1c895c05ef804e](https://user-images.githubusercontent.com/36755957/190639855-b9f17e27-922c-481e-a5d9-56a949800691.jpg)
![bf42ae9284403480b214019d68b65a7](https://user-images.githubusercontent.com/36755957/190639870-6c19b79e-4499-470e-9545-28f9aead0859.jpg)
![image](https://user-images.githubusercontent.com/36755957/190639937-4a18b07e-0e0d-4e55-bd50-e46abe614986.png)
i tested man

[2022-09-16 15:42] pandong2011 opened #12004 "[Bug] [dolphinscheduler-api] there is not any tenant suitable, please choose a tenant available"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I create the workflow as the admin user, then select the default tenant and execute it, I get the following exception
![admindefault](https://user-images.githubusercontent.com/100667564/190670966-88f8407c-e44c-4988-80e2

[2022-09-16 16:25] EricGao888 opened #12005 "[Doc][Style] Fix the format of all docs once for all"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we fix doc format incrementally, which causes much noise during PR review. Considering part of the doc  format has been fixed already, it is high time that we fix the rest once for all.
* See https://g

[2022-09-17 02:34] #11921 closed, assigned to jieguangzhou

[2022-09-17 03:28] #11773 closed, assigned to guowei-su

[2022-09-17 03:33] #12005 closed, assigned to EricGao888

[2022-09-17 05:11] zhuxt2015 commented on #11652
Please make things simple.
We just only want to execute command in remote server. just like `ssh user@10.10.125.1  "echo 'hello world'"`.

My suggestion is as follows:

1. So we just add a ssh server source, config ip、port、username、 password or select a id_ras.pub file from Resources to use login with key-based authentication.
<img width="591" alt="image" src="https://user-images.githubusercontent

[2022-09-17 05:40] #11473 closed, assigned to Zephyrcf

[2022-09-17 07:24] #11943 closed, assigned to jieguangzhou

[2022-09-17 08:49] DarkAssassinator opened #12016 "[Improvement][Script] Refactor the cli scripts."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

backgroup : #11579
Then i refactor the scripts.
1. Add a main api script named `dsCluster.sh`, remove `start-all.sh`, `stop-all.sh` and `status-all.sh` script.
2. Move all tools script to ./bin/tools path. It make

[2022-09-17 08:53] DarkAssassinator commented on #11652
yes, but many task contain many resources file, cannot just a simply ssh command, and we need handle the stop/kill/timeout/failover

[2022-09-17 08:55] #11922 closed, assigned to jieguangzhou

[2022-09-17 08:59] zhuxt2015 commented on #11652
resource files send to remote server by `scp` command,   stop/kill/timeout/failover handled by the shell task itself.

[2022-09-17 09:10] DarkAssassinator commented on #11652
Hi @SbloodyS thank u so mach for ur suggestions.

u are right from a security point of view, but this increases the cost of use for the user, because user need create and download many host authrized_key files. May we can add password/authrized_key options in the UI that user can select the ssh policy.

Sure, but not all tasks are suitable for running on remote servers. May just Shell/Python/JAVA.

[2022-09-17 09:11] DarkAssassinator commented on #11652
right, this is my initial design, and our test environment is also implemented like this

[2022-09-17 09:27] zhuxt2015 commented on #11652
Good job.  Looking forward to your contribution.

[2022-09-17 09:32] zhuxt2015 commented on #11652
Furthermore, Suggest add server manage page to other menu instead of Security menu. Remote server manage not related to security side.

[2022-09-17 11:15] DarkAssassinator commented on #11652
actually I agree with you, and i think that Cluster/Environment also not related to the security side.

[2022-09-17 12:55] caishunfeng commented on #11531
close by #11424

[2022-09-17 12:56] #11531 closed, assigned to caishunfeng

[2022-09-18 05:49] wendongdi commented on #11942
it have been fixed by Ruan.

[2022-09-18 07:48] wendongdi opened #12027 "[Bug] [dolphinscheduler-service] error was raised when copy processDefinition"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

As bug title said:
![图片](https://user-images.githubusercontent.com/49931055/190891016-3f0c2a1f-b22b-4ad8-8040-2e258980bb64.png)

### What you expected to happen

No error occurred

### How to reproduce

As shown in the figur

[2022-09-18 08:28] #11923 closed, assigned to jieguangzhou

[2022-09-18 13:02] selectbook commented on #11940
I would like to contribute. Can i have a try?

[2022-09-18 14:51] EricGao888 opened #12028 "[Improvement][UI] Notebook task plugins UI optimization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Optimize UI for notebook task plugins, which include `Zeppelin` task plugin and `Jupyter` task plugin for better user experience.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

###

[2022-09-18 15:57] etcZYP commented on #10257
Plz assign me K8sNamespaceController

[2022-09-18 15:58] xushoubao commented on #10257
你好，来件已收到，我会及时回复！

[2022-09-19 00:25] #11456 closed, assigned to nobody

[2022-09-19 00:25] #11449 closed, assigned to xiaohei88

[2022-09-19 00:33] pjfanning opened #12029 "[Dependencies] upgrade to snakeyaml 1.32 due to CVE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

another snakeyaml release v1.32 to fix https://github.com/advisories/GHSA-9w3m-gqgf-c4p9

### What you expected to happen

n/a

### How to reproduce

n/a

### Anything else

_No response_

### Version

dev

### Are you willi

[2022-09-19 01:16] caishunfeng opened #12032 "[Bug] [Task] K8S task select namespace without cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/11962619/190936554-3bc9e73c-8741-4eb0-89af-511a2fe4be04.png)

### What you expected to happen

show namespace with cluster

### How to reproduce

add k8s task and select nam

[2022-09-19 01:19] chengqiZ commented on #3009
Me too. In 1.3.6。

[2022-09-19 02:33] EricGao888 commented on #11652
@zhuxt2015 @DarkAssassinator I'm +1 to this comment. Currently we could only manage connections for `datasource` task plugins instead of all task plugins. From my perspective, we could improve this feature and make it apply to all task plugins. Actually, we have a related issue here: #10283 but we haven't got time to design and implement it. Rather than configure ssh connections in `Security Cente

[2022-09-19 02:35] Amy0104 commented on #12002
It seems that the worker group can not be deleted. @DarkAssassinator

[2022-09-19 06:13] #11942 closed, assigned to wendongdi

[2022-09-19 06:24] GavinGYM opened #12040 "[Feature][api][ui] Add authorization management of read and write permissions for project and resource center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, DolphinScheduler's control of permissions is relatively simple, and it is hoped to increase the control of operation permissions to separate read and write permissions when authorizing projects and ite

[2022-09-19 06:27] GavinGYM opened #12041 "[Feature][api][ui] (Accidentally submitted twice) Add authorization management of read and write permissions for project and resource center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, DolphinScheduler's control of permissions is relatively simple, and it is hoped to increase the control of operation permissions to separate read and write permissions when authorizing projects and ite

[2022-09-19 06:29] zeaper123 opened #12042 "[Bug] [task failed] task of Data_Quality failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler version: 3.0.0
spark version: 2.4.6

After I installed dolphinscheduler，I can submit the normal spark parogram to yarn without any errors，
But task of Data_Quality moudle failed when I try to run

error.log:

[2022-09-19 06:40] CriysHot opened #12043 "[Bug] [sql-plugin] the log prossiblely mislead the users"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

i only got the error is 'SQL task prepareStatementAndBind error' when i exec my sql task,
it's only a part of the complete logs.i'm sorry that i loss my picture on the ds web.
i logined my worker server and get the complete

[2022-09-19 06:47] #12041 closed, assigned to nobody

[2022-09-19 08:11] caishunfeng commented on #10212
I reopen it and put into 3.2.0 milestone.

[2022-09-19 09:14] Leijingwen commented on #11476
我也遇到了相同的情况,一直疯狂写日志,有解决的方案了吗?

[2022-09-19 09:40] woshiwuxiaofei opened #12047 "[Improvement][dolpinschedulrer-ui-next] task component extend with backend config"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When adding a task component type, the status quo is:
1. Add a plug-in to the back-end, and change the form of the code on the front-end
It is hoped that the back-end will configure which plugins the front-end can

[2022-09-19 09:46] woshiwuxiaofei commented on #1306
This component is really practical, no need for a separate platform, it is very good to integrate into scheduling as a quality inspection component

[2022-09-19 09:49] ruanwenjun commented on #12047
Good idea, in fact, the workflow status enum/ task instance status enum, plugin type... are all hard code in the front-end.
But this is not a new feature, it's more like am improvement.

[2022-09-19 09:53] woshiwuxiaofei commented on #1306
OK, I will pay attention to this demand, tentatively arrange it for me first

[2022-09-19 10:06] SbloodyS commented on #1306
This function has been implemented. I'll close this issue.

[2022-09-19 10:06] #1306 closed

[2022-09-19 11:38] davidzollo commented on #12047
this is a big feature, many backend contributors are not familiar with front-end code,  this is a good job if completed

[2022-09-19 13:30] DarkAssassinator commented on #12002
but after i fix this deleted bug, this case still do not resolve.

[2022-09-19 15:11] DarkAssassinator commented on #12047
awesome, this idea is a boon for backend programmers like me...
and it is possible to control the permissions that users can view tasks in the future?
User A can use SHELL/PYTHON/SQL
User B can use Flink/Spark
...

[2022-09-19 15:14] DarkAssassinator commented on #11652
@EricGao888 i agree with u, i think `Configuration Center` should be better

[2022-09-20 01:30] #11291 closed, assigned to rickchengx

[2022-09-20 01:56] ruanwenjun commented on #12047
@woshiwuxiaofei Could you please provide a detail design, in my knowledge, your description in the issue is want to add an interface to control how many plugins will display in the front-end, or you want to refactor the task-plugin, control the UI like alert-plugin?

[2022-09-20 02:22] izualzhy opened #12054 "[Bug] [dolphinscheduler-task-plugin] Built-in parameters replaced failed in sql task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. create SQL task
2. type in `select '$[yyyyMMdd]', '$[yyyyMMdd-1]', '$[HH]', '$[HHmmss]'` as SQL statement
3. start the workflow
4. as the task log just print literal  self, not the replaced built-in parameters. logs examp

[2022-09-20 02:50] tracehh opened #12055 "[Bug] [Master] Construct processInstance may NPE when master handling command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 Construct processInstance may NPE when master handling command

### What you expected to happen

commond content changed

### How to reproduce

commond content changed

### Anything else

_No response_

### Version

dev

##

[2022-09-20 03:12] fengjian1129 opened #12057 "[Bug] [task-plugin] When the sql query result is empty, the email fails to send the attachment, and an exception will be reported"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when the sql query result is empty, dolphinscheduler-alert.log screenshot is as follows:
<img width="1365" alt="image" src="https://user-images.githubusercontent.com/35831367/191156893-f3d9e8c0-317b-4152-93a0-dcef8618dfeb.pn

[2022-09-20 03:56] caishunfeng commented on #11801
Maybe it's not a bug.

[2022-09-20 03:57] caishunfeng commented on #11800
It's not a full feature, just the UI and API, without data.

[2022-09-20 03:58] caishunfeng commented on #11800
It's not a bug, I will close this issue.

[2022-09-20 03:58] #11800 closed, assigned to nobody

[2022-09-20 04:01] caishunfeng commented on #11790
Yes, user can change the config when deploy.

[2022-09-20 04:01] #11790 closed, assigned to nobody

[2022-09-20 06:01] Zephyrcf opened #12061 "[Improvement][UT] Improvement Query dataSource UT"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After pulling the latest code, ut failed to query the data source.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of

[2022-09-20 07:39] Tianqi-Dotes opened #12065 "[Bug] [MASTER] workflow cannot normally start version 3.1.0-prepare"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when i try to start a workflow, the master print exception logs, check pics below:
![69fd6568a306cece326a69f6178dd74](https://user-images.githubusercontent.com/36755957/191196300-b6181a37-ace9-4db3-a11e-69b4c5c6a75a.jpg)
![5

[2022-09-20 07:46] #12061 closed, assigned to Zephyrcf

[2022-09-20 07:49] pandong2011 commented on #12065
@Tianqi-Dotes I have encountered this bug before, can you provide more error information

[2022-09-20 07:59] Tianqi-Dotes commented on #12065
this bug might be fixed by this pr, I will test it after it merge.
https://github.com/apache/dolphinscheduler/pull/12064

[2022-09-20 07:59] #12065 closed, assigned to Tianqi-Dotes

[2022-09-20 08:19] pandong2011 commented on #12065
ok

[2022-09-20 08:20] pandong2011 commented on #12065
ok

[2022-09-20 08:50] wendongdi opened #12066 "[Improvement][UI] Modify the layout of the page of editing/view Task Node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

i would like to Modify the layout ,cause that i cannot see important config items such as node script text at a glance
so i want to change the layout now to Left&right layout
![企业微信截图_16636637699017](https://user-

[2022-09-20 09:40] #12042 closed, assigned to nobody

[2022-09-20 09:43] zeaper123 commented on #12042
I have replaced spark2.4.6 with spark2.4.0

[2022-09-20 09:52] jieguangzhou opened #12070 "[Improvement][Task Plugin] Optimize MLFlow task plugin for ease of use"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- [x] Support for modifying the `dolphinscheduler-mlflow` repository
       We can modify the repository address to the local path if we can not access git
- [x] Remove deploy with `docker compose`, keep deploy wi

[2022-09-20 10:10] lvshaokang commented on #10257
@zhongjiajie Would you assign me `WorkerGroupController` task, I will attempt to finish it, thk! BTW, should I create an issue first?

[2022-09-20 12:35] brave-lee commented on #3009
Can you see the load of the OS at the point of Master Server shutdown? If the OS has a high load for a long time and the master cannot send heartbeat to zk, the master will think that it has lost contact and kill itself.

[2022-09-20 13:26] #12032 closed, assigned to nobody

[2022-09-20 14:15] lvshaokang opened #12072 "[WIP][Feature][Api] Refactor api.controller.WorkerGroupV2Controller"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Suggest refactor the backend api，WorkerGroupController

### Use case

_No response_

### Related issues

#10257

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-20 14:44] #11683 closed, assigned to EricGao888

[2022-09-21 00:29] #11436 closed, assigned to nobody

[2022-09-21 00:57] caishunfeng commented on #12072
Hi @lvshaokang I assign to you now :smile:

[2022-09-21 01:22] SbloodyS commented on #10257
It's recommanded to start from `good first issue`.

[2022-09-21 01:28] #11902 closed, assigned to limaiwang

[2022-09-21 01:51] tracehh opened #12075 "[Feature][Api] Refactor api.controller.EnvironmentV2Controller"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Refactor api.controller.EnvironmentV2Controller

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-21 01:52] tracehh commented on #10257
@SbloodyS  I take EnvironmentV2Controller #12075

[2022-09-21 02:15] #10976 closed, assigned to EricGao888

[2022-09-21 02:43] jieguangzhou opened #12077 "[Improvement][Task Plugin] Remove power mock to all mlops tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Remove power mock to all mlops tasks

part of: https://github.com/apache/dolphinscheduler/issues/11405

examples:
- https://github.com/apache/dolphinscheduler/pull/11588
- https://github.com/apache/dolphinschedule

[2022-09-21 02:45] #12070 closed, assigned to nobody

[2022-09-21 03:31] jieguangzhou opened #12078 "[Bug] [dolphinscheduler-api][3.1.0] workflow import error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/31528124/191407912-63cf53a0-76c4-4b0c-8380-b6018c746bec.png">

### What you expected to happen

empty

### How to reproduce

1. create a shell work

[2022-09-21 03:54] caishunfeng commented on #12055
commond content changed

Hi @tracehh can you show the detail how to reproduce? I can't get your point by `commond content changed`.

[2022-09-21 05:21] rickchengx commented on #12028
Hi, @EricGao888 , I'm interested.

[2022-09-21 05:43] tracehh commented on #12055
Map<String, String> processCmdParam = JSONUtils.toMap(processInstance.getCommandParam());
processInstance.getCommandParam() may be change accroding to update table directory.
processCmdParam may be null. @caishunfeng

[2022-09-21 05:53] EricGao888 commented on #11652
@DarkAssassinator FYI, you could refer to ssh operator in Apache Airflow and see how it is implemented and what we could do for `DS SSH Task Plugin`. https://github.com/apache/airflow/blob/main/airflow/providers/ssh/hooks/ssh.py

[2022-09-21 06:44] SbloodyS commented on #11652
1. Upgrading our current `DataSource Center` to `Configuration Center` sounds good to me.

2. The problem of network IO and disk IO using SCP has not been solved. High IO load will lead to high CPU load. In extreme cases, the server will be suspended and cannot be connected to debug remotely. The problem can only be solved through restart the server. This will become the first time bomb of DS sinc

[2022-09-21 06:47] EricGao888 commented on #11652
@DarkAssassinator Would u like to bring up this issue in community bi-weekly conference for further discussion? Thanks.

[2022-09-21 07:35] #11876 closed, assigned to nobody

[2022-09-21 07:41] Gagepmd opened #12081 "[Bug] [View workflow instance] Error copying workflow instance."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Error copying workflow instance

### What you expected to happen

Copying workflow succeeded

### How to reproduce

Error copying workflow instance

### Anything else

![image](https://user-images.githubusercontent.com/11198

[2022-09-21 07:46] zeaper123 opened #12082 "[Improvement][data_quality] [ui]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

dolphinscheduler version :3.0.0

I found data_quality is inconvenient to use ：

<img width="602" alt="image" src="https://user-images.githubusercontent.com/72915398/191444182-f60a72fa-6dc7-4434-b9ac-e40e9c2af9b1.p

[2022-09-21 07:59] Gagepmd opened #12083 "[Bug] [ Workflow Instance] Sub tasks in a workflow are not executed according to priority"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There are three subtasks in a workflow, and the three subtasks are set as a task group. The priorities in the group are set to 10, 9, and 8 respectively. The workflow is not executed in the order of high priority to low prio

[2022-09-21 08:01] #12083 closed, assigned to nobody

[2022-09-21 08:16] fuchanghai opened #12084 "[Bug] [Master] can't execute workflowThread#startProcess when have more failover processInstance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

- please tag a ``` discussion ```label
- there are some processInstance is fail . when i start another processInstance that has a different processDefinitionCode from other failed process instances.but lastest process instan

[2022-09-21 08:19] Gagepmd commented on #12081
![image](https://user-images.githubusercontent.com/111988192/191452875-156ac967-be6f-46e0-87b9-677c79e39ffb.png)
Similar errors will occur when modifying a workflow

[2022-09-21 08:44] Gagepmd opened #12085 "[Bug] [Workflows] Export the json workflow, and then import the work and report an error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/111988192/191458162-165fa819-bdfb-41ee-9121-732acc08fccf.png)

### What you expected to happen

Import succeeded

### How to reproduce

Export the json workflow, and then im

[2022-09-21 08:52] calvinjiang opened #12086 "[Feature][API] Support to assign permissions of the tenant to users."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently the dolphinscheduler doesn't support to assign one or more tenants to a user. The user can use any tenants to execute their tasks in some workers. But tenants usually own different permissions in a worke

[2022-09-21 09:18] Gagepmd opened #12087 "[Bug] [Alert-server] Alert server initialization failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/111988192/191465992-aeabdf23-222a-4500-b356-4ab68b26a162.png)Alert server initialization failed

### What you expected to happen

Alert server started successfully

### How

[2022-09-21 09:22] BruceMaa opened #12088 "[Bug] [Worker] alert email in sql task in K8S"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduelr deploy in k8s.

1. Create a sql task in workflow definition
     - Datasource types: MYSQL
     - SQL_TYPE: Query
     - Send Email: Enable
2. After start the workflow definition,  no email receive, no ERROR

[2022-09-21 09:22] wendongdi commented on #12027
This bug is too simple. I'm not going to mention a PR to fix it

[2022-09-21 09:22] #12027 closed, assigned to wendongdi

[2022-09-21 09:25] Gagepmd opened #12089 "[Bug] [Workflow Instance] Create two subtasks in a workflow (these two tasks are Python type tasks), select Python 2 and Python 3 as the running environment, run the workflow, and the workflow will always be executed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Create two subtasks in a workflow (these two tasks are Python type tasks), select Python 2 and Python 3 as the running environment, run the workflow, and the workflow will always be executed

### What you expected to happen

[2022-09-21 09:58] zuzuviewer opened #12091 "[Bug][DataQuality] task of data quality run failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[LOG-PATH]: /opt/dolphinscheduler/logs/20220921/6885727510752_21-95-340.log, [HOST]:  Host{address='172.21.0.5:1234', ip='172.21.0.5', port=1234}
[INFO] 2022-09-21 09:45:07.696 +0000 [taskAppId=TASK-20220921-6885727510752_21

[2022-09-21 10:45] pandong2011 commented on #12086
Tenants will be assigned when a common user is created using the admin user

[2022-09-21 12:27] #11857 closed, assigned to rickchengx

[2022-09-22 01:39] #12057 closed, assigned to fengjian1129

[2022-09-22 01:52] #12081 closed, assigned to nobody

[2022-09-22 01:54] caishunfeng commented on #12027
same issue: #12081

[2022-09-22 01:56] Amy0104 commented on #12082
It's better to be filterable.

[2022-09-22 01:56] caishunfeng commented on #12087
Is this issue for branch 3.1.0-prepare?

[2022-09-22 02:06] Gagepmd commented on #12087
alert-server/conf/common.properties configuration file modifies the configuration resource. storage. type=NONE. Restarting the alert server can solve the problem

[2022-09-22 02:06] #12087 closed, assigned to nobody

[2022-09-22 02:09] RUIzg opened #12097 "[Bug] [Master] Master count: 0 is invalid, the current slot: 0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dolphinscheduler 3.0 master  server cann't process normal task
I can see master server log file  always print  this tips :
 Master count: 0 is invalid, the current slot: 0

### What you expected to happen

when I run a task

[2022-09-22 03:08] caishunfeng commented on #12055
You mean update the data in table `t_ds_process_instance` manually?

[2022-09-22 03:12] #11945 closed, assigned to danielfree

[2022-09-22 03:12] tracehh commented on #12055
may be

[2022-09-22 04:12] #12078 closed, assigned to nobody

[2022-09-22 06:08] caishunfeng commented on #12089
Hi @Gagepmd can you provide more information? such as these tasks states, any error log?

[2022-09-22 06:09] caishunfeng commented on #12085
same issue #12078

[2022-09-22 06:09] #12085 closed, assigned to nobody

[2022-09-22 06:19] caishunfeng commented on #12097
It seems the master server doesn't startup successfully, please check the master log.

[2022-09-22 06:44] Gagepmd commented on #12089
![image](https://user-images.githubusercontent.com/111988192/191676359-1fdc5f63-14f6-487a-809a-159ed785f730.png)

[2022-09-22 06:52] Gagepmd commented on #12089
This error is reported repeatedly in the master server log.

[2022-09-22 06:58] jieguangzhou opened #12101 "[Bug] [Backend] Resource Center can not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I configure `Resource Center`, I can't start DolphinScheduler.

[code]

### What you expected to happen

empty

### How to reproduce

<img width="439" alt="image" src="https://user-images.githubusercontent.com/31528124/

[2022-09-22 07:08] ErikXu opened #12102 "[Bug] [Resource] The zombie resources cannot be deleted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I uploaded some resources using a user account named `test`.
Then I deleted the user before deleting the resources by mistake.
The resources become zombie resources and cannot be deleted even using the open api:
[code]

The

[2022-09-22 07:46] boy-xiaozhang commented on #12102
hello,current dolphinscheduler deleting a user does not delete the resource created by the current user, and the user is verified when deleting the resource.

[2022-09-22 07:52] boy-xiaozhang commented on #12101
Your mistake is because you applied HDFS as the base of the resource center, but your resource.hdfs.fs.defaultFs configuration is wrong.

[2022-09-22 08:36] jieguangzhou commented on #12101
I want to use Local File Resource.
<img width="1002" alt="image" src="https://user-images.githubusercontent.com/31528124/191699340-8ca14ee3-b864-455f-b6ea-081c6fdc6055.png">

I thinks we miss something
[code]

[2022-09-22 08:38] boy-xiaozhang commented on #12101
Which version do you use

[2022-09-22 08:41] jieguangzhou commented on #12101
3.1.0

[2022-09-22 08:41] EricGao888 commented on #11814
WIP

[2022-09-22 08:52] boy-xiaozhang commented on #12101
Can you tell me about your Hadoop version? According to your configuration, hdfs is the bottom socket of the resource center.

[2022-09-22 08:54] boy-xiaozhang commented on #12101
And the resource center does not support local

[2022-09-22 09:00] Gagepmd opened #12103 "[Bug] [timing] Workflow configuration is timed, but it is not started regularly as required. View the log and find that the master server reports an error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Workflow configuration is timed, but it is not started regularly as required. View the log and find that the master server reports an error
![image](https://user-images.githubusercontent.com/111988192/191704957-67c9dc3a-8c63

[2022-09-22 09:06] Gagepmd opened #12104 "[Bug] [Module Name] After deploying the new version, the dolphinscheduler server cannot be started"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the new version is deployed, the dolphinscheduler server cannot be started, and the api server, work server, and master server cannot be restarted
![image](https://user-images.githubusercontent.com/111988192/191705776-

[2022-09-22 09:44] jieguangzhou commented on #12101
I didn't install Hadoop, but ds support local, it works fine in 3.0.0

https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/resource/configuration.html

Local File Resource Configuration

[2022-09-22 09:49] boy-xiaozhang commented on #12101
Misread the code version,This mistake of yours is more like dependence not in the classpath.s there hadoop dependency under the dir

[2022-09-22 09:56] boy-xiaozhang opened #12107 "[Bug] [dolphinscheduler-dao] standalone use h2 db engine, data quality paging list get exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

start dolphinscheduler server,use h2 db,Keyword conflict

![image](https://user-images.githubusercontent.com/60912722/191717162-210a52c6-40f5-4500-93ec-73e9315ab72e.png)

<img width="934" alt="image" src="https://user-images

[2022-09-22 10:23] rickchengx opened #12109 "[Bug] [script] Errors when starting 2 times with dolphinscheduler-daemon.sh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

If the user starts DS twice (or more) using `dolphinscheduler-daemon.sh`, the pid file will be overwritten, making it impossible to stop the initially started DS cluster.

### What you expected to happen

The script restrict

[2022-09-22 10:25] Gagepmd commented on #12104
The problem with the version of zookeeper and the configuration of common.properties has been solved

[2022-09-22 10:25] #12104 closed, assigned to nobody

[2022-09-22 10:48] caishunfeng commented on #12103
Maybe it's a failover workflow.

[2022-09-22 10:53] caishunfeng commented on #12103
same issue #12089

[2022-09-22 10:53] #12103 closed, assigned to nobody

[2022-09-22 11:01] Gagepmd opened #12110 "[Bug] [Workflow Instance/Workflow Name] The display is not standard when the workflow name is too long"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/111988192/191729380-4daaf468-594e-4222-b6a7-756aff4e238f.png)
The display is not standard when the workflow name is too long

### What you expected to happen

Replace the pa