[2022-06-29 00:50] Amy0104 commented on #10654
What is the rule? MulTableAccuracy?

[2022-06-29 01:57] #10655 closed, assigned to zhuxt2015

[2022-06-29 02:20] yandong001 commented on #10654
规则：多表准确性&nbsp; &nbsp; &nbsp; &nbsp;我看有新的3.0-beat-2发版，准备试试这个，看是否存在问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月29日(星期三) 上

[2022-06-29 02:22] juanfu1997 opened #10661 "[Bug] [Resource Center] When the local cache causes a multi-tab page to create a file, the obtained value is abnormal"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

环境：window10
容器：chrome 103.0.5060.53
由于dss缓存信息时是使用localstorage实现，导致多个标签页面同时进行一些涉及获取缓存信息新建文件时，会导致关联的信息与实际信息不符合。

### What you expected to happen

由于当前获取文件信息都是从缓存中获取，多tab页面切换时，获取的值不一定与当前标签页的路径一致，希望能解决这个问题

### How to reproduce

[2022-06-29 02:26] Amy0104 commented on #10654
But it works for me.So are you on branch dev? Could you check the console if it reported an error?

[2022-06-29 02:31] yandong001 commented on #10654
没有，我用的是3.0-beta-1

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/dolphinscheduler"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月29日(星期三) 上午10:26
***@***.***&gt;;
抄送:&nbsp;"笗 *^_^* ***@***.

[2022-06-29 02:39] Amy0104 commented on #10654
Got it. This bug has been resolved on 3.0-beta-2. And the 3.0-beta-2 will been released today or tomorrow.

[2022-06-29 02:39] #10654 closed, assigned to Amy0104

[2022-06-29 02:40] Amy0104 commented on #10661
May be you can try version 2.0.5.

[2022-06-29 03:20] #10626 closed, assigned to wjf222

[2022-06-29 03:21] juanfu1997 commented on #10661
Thank you for your suggestion, but I have seen that the version 2.05+ generation still uses the localstorage cache information as the parameter for creating new files. This problem still exists

[2022-06-29 03:21] #10661 closed, assigned to nobody

[2022-06-29 03:22] juanfu1997 commented on #10661
Thank you for your suggestion, but I have seen that the version 2.05+ generation still uses the localstorage cache information as the parameter for creating new files. This problem still exists

[2022-06-29 03:23] caishunfeng commented on #10617
Yes, agree with you, we should add some comments for it.

[2022-06-29 03:27] HomminLee commented on #10603
Is there such a possibility：Some processes represented by these missing commands were not created by the loggin user?

[2022-06-29 03:54] ruanwenjun commented on #10617
Ok, I will keep the slot check in our code, and just add some comment to tell this.

[2022-06-29 04:24] sketchmind opened #10665 "[Bug] [Worker] Tasks with S3 resource files failed incorrectly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The following error is thrown while executing a task, Failed to download S3(MINIO) resource causing task failed
![image](https://user-images.githubusercontent.com/39169452/176363954-4f4265d2-7d52-48ac-b35f-6c934c98041a.png)

[2022-06-29 04:53] kaori-seasons commented on #10387
@EricGao888  Thank you very much for your reply, for the second point after the discussion with @davidzollo, the more demand in the community is based on the git protocol management. Usually this scenario is every time the user modifies the version of the DAG. I will take the time recently. Check out the running process of airflow to generate DAG management for better design version

[2022-06-29 05:06] EricGao888 commented on #10387
@complone Hi complone, thx again for your effort. If you could bring such feature into DS, it will be fantastic. Instead of understanding the running process of airflow, I suggest spending some time on the syntax of airflow DAG. Actually, we may not need to really run such DAGs generated from workflows. The main purpose is to help users review / give suggestions on the changes and python DAGs are

[2022-06-29 05:51] SbloodyS commented on #10665
I don't quite understand your problems. Could you describe it more clearly? @sketchmind

[2022-06-29 06:21] sketchmind commented on #10665
Just like the shell node in the screenshot above, when the task is executed, the task will first download the dependent file getActiveNN.sh from the S3 file system, but for the resource file path with folders like '/common'  above,  since the directory '/common' is not created locally in advance, will cause the fail to download.
The temp dir /tmp/dolphinscheduler/exec/process/4262137237344/5999535

[2022-06-29 06:25] SbloodyS commented on #10665
I got it. Do you have time to take a look at this? @guodongym

[2022-06-29 06:46] EricGao888 commented on #10573
I got blocked by some unit test when developing a new feature and mocking some unusual stuff for nearly a day. I would like to update the UT docs with some examples which may help new developers bypass or overcome some pitfalls in UTs. May I ask whether it is possible to migrate this docs into main repo? @zhongjiajie https://dolphinscheduler.apache.org/en-us/community/development/unit-test.html

T

[2022-06-29 06:47] guodongym commented on #10665
Ok, I will take a look

[2022-06-29 07:14] chinaboyll commented on #9951
Problem solved: because my workflow instance A was deleted. But the SUB_PROCESS component of workflow B(not live) has dependencies on workflow A that have been removed. I can upgrade by deleting the workflows that are not online.

[2022-06-29 07:23] zhuxt2015 commented on #8855
I will submit a pr for this issue

[2022-06-29 07:43] lordk911 commented on #10285
@syncwt go to host: 10.10.100.25 dose the [LOG-PATH] point file exist ？
I'm using 2.0.5 too , and meet this issue more and more. It's only show the [LOG-PATH] line , but can't find log file on the host.

[2022-06-29 07:51] syncwt commented on #10285
It would be more possible reasons. And you can find more details from worker logs.

[2022-06-29 08:32] lordk911 commented on #10517
also , when a task is running with a long time about more than one hour, the dependent nodes that depend on the task are always running and waiting

[2022-06-29 08:34] lordk911 commented on #10443
when a task is running with a long time about more than one hour, the dependent nodes that depend on the task are always running and waiting

[2022-06-29 09:17] ruanwenjun opened #10666 "[Bug] [Master] Workflow submit failed will still in memory and never retry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When we execute a workflow, if the workflow submit failed in MasterServer, the WorkflowRunnable will always stay in memory, and it will not retry.
This is caused we didn't judge the submit status.

### What you expected to h

[2022-06-29 09:21] lyyprean opened #10668 "[Bug] [Master] zookeeper dead-server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Is it correct to note that when master server 3.0 starts only one node, if the master fails a node, it is not added to the /dolphinscheduler/dead-servers directory in ZooKeeper

### What you expected to happen

When there is

[2022-06-29 09:25] EricGao888 commented on #10525
I think there could be a better solution.

We give users ability to choose whether monitor a specific workflow or not on UI. DS will generate related metrics for a specific workflow only if users choose to. This is more reasonable because users definitely do not need to monitor every workflow / task in detail. Furthermore, in this way DS will not waste memory use for useless metrics.

[2022-06-29 09:48] feixiameiruhua commented on #10578
改完之后需要自己打包数据质量模块的jar（dolphinscheduler-data-quality-3.0.1-alpha-SNAPSHOT.jar）,然后上传上去给数据质量模块使用。同时将 hive-site.xml 文件放在spark-2.4.0的conf目录下即可。有问题我们可以一起看下。

[2022-06-29 11:08] lordk911 commented on #10443
the dependent type task is run on master , master.exec.threads default is 100, will increase this value be help ?  thanks. @JinyLeeChina

[2022-06-29 12:25] zhuxt2015 opened #10671 "[Enhancement][API] Suggest support batch copy workflow with scheduler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Should the batch copy workflow support copy scheduler of workflow

### Use case

The workflow and the scheduler of the workflow should be copied together so that the copied workflow does not have to reconfigure th

[2022-06-29 12:36] brave-lee opened #10672 "[Bug] [Server] Dependent task retry bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Dependent node configuration timeout alarm and timeout failure,  the retry will not work

### What you expected to happen

the retry work normal

### How to reproduce

Dependent node configuration timeout alarm and timeout f

[2022-06-29 12:59] brave-lee opened #10673 "[Bug] [Server] Workflow recovery bug with failed tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The workflow with failed tasks is running. Click stop to resume running. The workflow will succeed directly after the stopped task runs successfully

### What you expected to happen

The workflow with failed tasks is running

[2022-06-29 13:04] EricGao888 commented on #10525
![image](https://user-images.githubusercontent.com/34905992/176442655-a58497d5-be2f-4a06-88a4-977f8e08c547.png)
I just got a reply from the author of `Micrometer`. Enabling users to choose several VIP workflows to add extra detailed metrics would definitely be much better than simply generating detailed metrics for all workflows / tasks.

[2022-06-29 13:18] zhuxt2015 opened #10674 "[Bug] [Api] Not refresh workflow list when batch delete workflow failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

batch delete workflow failed, workflow list not refresh
<img width="900" alt="image" src="https://user-images.githubusercontent.com/13765310/176445480-2406a0c9-055d-4810-bad5-e55a48abfec6.png">

### What you expected to happ

[2022-06-29 14:48] lordk911 opened #10679 "[Bug] [dependent node] dependent node blocked when the depend on process have wrong metadata"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

a dependent task node (tA) depend on one scheduled process's (pB) task (tB) . I don't know for what reason, the depend on task(tB) blocked, so I kill the process (pB), then the killed process (pB) didn't have a endTime , aft

[2022-06-29 14:51] lordk911 commented on #10443
when Dependent node blocked , can you see "submit standby task error
java.lang.NullPointerException: null" log message on master-server's log?
https://github.com/apache/dolphinscheduler/issues/10679

[2022-06-29 16:04] 106umao opened #10683 "[Feature][Task Plugin] add java task plugin."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The Java type plugin supports the Jar approach, providing dynamic parameter input for Resources, Libs resource files, and JVM parameters

The Java type plugin supports the WebUI custom Java code approach, providin

[2022-06-30 00:32] stalary commented on #10233
I forgot the issue, now I will deal with it.

[2022-06-30 01:26] weeway commented on #10443
I found the root cause and already submited a [PR](https://github.com/apache/dolphinscheduler/pull/10684)

The reason is that all `WorkflowExecuteThread` share the same `taskRetryCheckList` and dependent task checking rely on the `taskRetryCheckList `. When a workflow run with `failedstrategy:end tasks` and some task failed in the workflow, the  `taskRetryCheckList ` will be clear including the de

[2022-06-30 01:39] brave-lee commented on #10443
I think this is the bug of 2.0.5. It has been solved in #10541  and will be released in 2.0.6

[2022-06-30 01:58] SbloodyS commented on #10443
Close this issue due to fixed.

[2022-06-30 02:03] brave-lee commented on #10443
The reason for this bug is that the dependent node starts earlier than the dependent task. Because there is no internal mechanism to judge the completion of the dependent task, the dependent node waits empty

[2022-06-30 02:09] lordk911 commented on #10443
thanks

[2022-06-30 02:11] remjacob commented on #8975
It's great. We are waiting this feature!

[2022-06-30 02:46] WangJPLeo opened #10686 "[Optimization] Data Permission Module Data Query Interface Optimization."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Data Permission Module Data Query Interface Optimization.

### Use case

worker group、 project 、file or UDF and more.

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to submit

[2022-06-30 03:21] weeway commented on #10443
@JinyLeeChina  I switch to the branch `2.0.6-prepare` and test it. The problem still exists. Please check it again. Thanks.

### The topology
There are three process pA, pB and pC.
- pA has a task pAt1
- pB has a dependent task pBt1 depending on pAt1
- pC has a task pCt1 that is long running task

### How to reproduce it?
- start pB
- start pC
- stop pC
- start pA and pA finished
- finally, In the

[2022-06-30 03:48] brave-lee commented on #10443
OK, let me test by this way

[2022-06-30 05:58] zhuxt2015 opened #10690 "[Feature][Api] Suggest support recommend timing configurations to users"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When the user configuration completes the timing configuration, according to the timing configuration of all the workflows that have been online, estimate  the number of tasks that will be started in minutes,  if

[2022-06-30 06:10] EricGao888 commented on #10690
Sounds pretty cool to me. If DS could provide users with suggestions on scheduled workflows / tasks number, it would definitely help.

May I ask how to calculate the potential workload of all scheduled tasks to make the suggestions? Since the workload caused by different kinds of tasks could vary a lot.

[2022-06-30 06:15] zhuxt2015 commented on #10690
only calculate the number of tasks, can not calculate workload of the task will be started

[2022-06-30 06:22] EricGao888 commented on #10690
For example, if DS could only handle 10 tasks at the same time and some user schedules 15 tasks, most of which take up few resources, it seems okay for the user to do so. How could we calculate the number to trade off between avoiding crashing the system and making the most use of it?

[2022-06-30 06:33] EricGao888 commented on #10690
I think there are two sub-features in this issue:

- Firstly, calculate the number of tasks scheduled at the same time and show the statistics. This could be a good reminder for users.
- Secondly, give suggestions. This part could be a little bit complicated and need further discussions.

WDYT?@zhuxt2015

[2022-06-30 06:36] huanzui opened #10691 "[Bug] [Module Name] S3Utils FlinkTasks download the file isn`t exists"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

3.0版本的也有这个问题，当用minio时能上传，路径自己创建了一个文件夹，如/jars/WordCount.jar，结果下载时全路径 dstFile = /logs/dolphinscheduler/exec/process/6001613416160/6026624232736_7/62/139/jars/WordCount.jar，jars路径无法自动创建，下载就报异常the file isn`t exists，在代码 S3Utils .

[2022-06-30 07:00] zhuxt2015 commented on #10690
This can configure a weight for each type of task, then compare total task weight with the configured threshold

[2022-06-30 07:02] zhuxt2015 commented on #10690
Based on the task weight, I think the second one is also well solved

[2022-06-30 07:43] #10652 closed, assigned to lyleshaw

[2022-06-30 07:45] weeway commented on #10443
### Another situation to reproduce the problem
And there are another situation to reproduce it:
- start pB
- start pC with failedStrategy `End`, containing a always fail task
- pC failed
- start pA and pA finished
- finally, In the UI you can see that the dependent task pBt1 always running

### The Code
`org.apache.dolphinscheduler.server.master.runner.WorkflowExecuteThread#taskFinished`
<img widt

[2022-06-30 07:52] zwZjut opened #10692 "[Bug] [dolphinscheduler-master] Parameter transfer problem when recover failed task and output of subprogress"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

[Bug] [dolphinscheduler-master] Parameter transfer  problem when recover failed task and output of  subprogress

### What you expected to happen

[Bug] [dolphinscheduler-master] Parameter transfer  problem when recover faile

[2022-06-30 07:54] zwZjut commented on #10692
dev && 2.0.6

[2022-06-30 07:58] #10617 closed, assigned to ruanwenjun

[2022-06-30 08:21] devosend opened #10696 "[Bug] [UI] Home page display No Data when I refresh page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Home page display No Data when I refresh page.
<img width="1908" alt="image" src="https://user-images.githubusercontent.com/8847400/176628622-4e24a12d-20f7-473a-959c-12f8a1bb1e1e.png">

### What you expected to happen

<img

[2022-06-30 08:41] litiliu opened #10698 "[Bug] [Alert] fail to send email, when user don't enable smtp auth"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After user creating an email alert instance with mail.smtp.auth not enabled.  Then use that warning group(contain this email warning instance)  to send alert.But,  the email fail to send.
<img width="560" alt="Screen Shot 20

[2022-06-30 09:49] EricGao888 commented on #10295
Seems no one else has started to work on this. Currently I'm working on the auditing feature of another project. Therefore, I would like to take a look on this issue. Could anyone please assign this to me? Thx~

[2022-06-30 10:28] SbloodyS commented on #10691
Dupliated with #10665.

[2022-06-30 10:28] #10691 closed, assigned to nobody

[2022-06-30 10:32] #10696 closed, assigned to devosend

[2022-06-30 10:41] ruanwenjun commented on #10295
cc @caishunfeng Is there anyone working on this?

[2022-06-30 10:44] WangJPLeo opened #10703 "[Optimization] Global parameter and local parameter calculation external expansion."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Global parameter and local parameter calculation external expansion.

### Use case

Create a workflow with global and local parameters.

### Related issues

No.

### Are you willing to submit a PR?

- [X] Yes I am

[2022-06-30 11:28] #10686 closed, assigned to WangJPLeo

[2022-06-30 12:01] #10233 closed, assigned to stalary

[2022-06-30 12:23] fhygh commented on #9289
@caishunfeng what's the reason need to add dispatch state?now we uing dolphinscheduler 3.0, there are many task is DISPATCH state, while when we using dolphinscheduler 2.0.x, it's ok. can you help explain and tell how to resolve this problem? thank you.

[2022-06-30 14:45] #10703 closed, assigned to WangJPLeo

[2022-06-30 20:08] WangJPLeo opened #10717 "[Optimization] Config module resource relation fix."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Config module resource relation fix.

### Use case

Config module resource create.

### Related issues

No

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I

[2022-07-01 00:25] #10210 closed, assigned to EricGao888

[2022-07-01 00:25] #10136 closed, assigned to nobody

[2022-07-01 01:55] devosend opened #10719 "[Bug] [UI] Project Overview page display No Data when I refresh page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="1919" alt="image" src="https://user-images.githubusercontent.com/8847400/176806858-5219b22c-4801-4fe3-8004-e76cbb4b8b95.png">

### What you expected to happen

<img width="1919" alt="image" src="https://user-imag

[2022-07-01 02:35] #10672 closed, assigned to JinyLeeChina

[2022-07-01 03:09] chinaboyll commented on #9686
I ran into the same problem.

[2022-07-01 03:11] EricGao888 opened #10723 "[Feature][UI] Provide users with a button to enable auto-refresh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- If DS could provide users with a button on task instance page or task instance logs page to enable auto-refresh, it would be pretty cool.

![image](https://user-images.githubusercontent.com/34905992/176815657-0d

[2022-07-01 03:18] tracehh opened #10724 "[Feature][Task] Support chunjun (flinkx) task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Process define support chunjun (flinkx) task

### Use case

Use chunjun to sync data

### Related issues

no

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X]

[2022-07-01 03:26] EricGao888 commented on #10723
What about adding `good first issue` label to this?

[2022-07-01 03:30] #8855 closed, assigned to zhuxt2015

[2022-07-01 03:31] SbloodyS commented on #10723
Done.

[2022-07-01 04:20] #9416 closed, assigned to paul8263

[2022-07-01 05:26] hstdream opened #10726 "[Improvement] [Api-Service] Workflow and subworkflow instance does not change after clicking rerun"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1.Complete Data workflow and subworkflow instance does not change after clicking rerun.

### What you expected to happen

Complete Data workflow and subworkflow instance change after clicking rerun.

### How to reproduce

1.

[2022-07-01 05:58] #10673 closed, assigned to JinyLeeChina

[2022-07-01 05:59] #10719 closed, assigned to devosend

[2022-07-01 08:03] brave-lee commented on #10443
@weeway Very good.  I reproduced the bug and reviewed the pr. please have a look

[2022-07-01 08:08] beepupa opened #10728 "[Question] Adding a MySQL data source to the application page reports an error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

在应用页面添加MySQL数据源报错，使用默认的docker-compose.yml文件，并在文件添加了MySQL驱动到work和API的libs里面
![image](https://user-images.githubusercontent.com/36186038/176852798-a822e469-35cc-4601-a542-444936bfae79.png)
配置如下
![Uploading image.png…]()

### W

[2022-07-01 08:33] fuchanghai opened #10729 "[Bug] The request's url given by the test case looks different from the controller layer"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/33984497/176857042-61d7a1fd-f81a-4858-8ccf-a1e40c7ff733.png)
![image](https://user-images.githubusercontent.com/33984497/176857243-eef2f144-53e6-4d79-8696-6a78e61e1615.png)

[2022-07-01 08:38] rockfang opened #10730 "[Bug] [UI] Workflow Definition. default `environment name` showed wrong when changing `worker group`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in the workflow definition. the default `environment name` showed wrong when changing `worker group`
![wrong-env](https://user-images.githubusercontent.com/16065427/176857044-3bba1141-37be-4eb2-9e0a-8e9ab2a99a3e.jpg)

### Wh

[2022-07-01 08:50] SbloodyS commented on #10728
Could you provide the error logs?

[2022-07-01 08:53] beepupa commented on #10728
![image](https://user-images.githubusercontent.com/36186038/176861164-c4f4a288-8e4b-45e2-96c3-61ec88fc9baa.png)

[2022-07-01 08:54] SbloodyS commented on #10729
Hi @fuchanghai , would you like to submit a PR to fix this?

[2022-07-01 08:55] SbloodyS commented on #10728
This is not an error in MySQL.

[2022-07-01 08:56] beepupa commented on #10728
![image](https://user-images.githubusercontent.com/36186038/176861714-0324fc6c-1e86-41f7-9386-2fdaaed9fd57.png)

[2022-07-01 08:57] beepupa commented on #10728
感谢您的回答
这两个问题是因为我的配置方式不对导致的吗

[2022-07-01 09:00] SbloodyS commented on #10728
In order to make everyone understand. Please use English to describe it.

[2022-07-01 09:02] SbloodyS commented on #10728
Could you provide the api-server's docker-compose.yaml?

[2022-07-01 09:04] beepupa commented on #10728
![image](https://user-images.githubusercontent.com/36186038/176863001-af8d26a7-599e-4df6-a2c2-d2062f8d38d1.png)

[2022-07-01 09:13] SbloodyS commented on #10728
@EricGao888 @liqingwang Do you guys have time to take a look at this?

[2022-07-01 09:18] qingwli commented on #10728
Hi @beepupa , do you add Mysql lib in the dolphinscheduler-master image?

[2022-07-01 09:18] zhangxu33 commented on #3829
Me too,the version is 2.0.5 hadoop HA 3.1.3

[2022-07-01 09:21] beepupa commented on #10728
![image](https://user-images.githubusercontent.com/36186038/176866261-0d552e66-f284-4124-8026-aee960cde755.png)
yes

[2022-07-01 09:22] qingwli commented on #10728
Ok, I'll build a 3.0.0-beta1 env and test try to add a MySQL data source

[2022-07-01 09:22] #10443 closed, assigned to weeway

[2022-07-01 09:24] beepupa commented on #10728
Thank you very much

[2022-07-01 09:26] beepupa commented on #10728
I'm using the default docker-compose.YML file, just adding the MySQL JAR in the Work API Master Alert

[2022-07-01 09:58] wangbowen1024 opened #10732 "[Bug] [Server] DS will constantly generate tasks when complement data in 3.0.0-beta-2"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

DS has some problem when when complement data.
1. this is my shell task only `echo "hello"`
![image](https://user-images.githubusercontent.com/48642743/176871902-de5e1bb4-7855-46a5-ab21-d83fdcf66523.png)
2. There are several

[2022-07-01 10:03] WangJPLeo commented on #10257
This is a good refactoring plan for me. The audit log has made an Around aspect to all non-query/statistics APIs, and customized processing based on the current API's local method name and interaction data. After the refactoring, the processing method involving the API will be more convenient and unified, so count me in please  @SbloodyS

[2022-07-01 10:04] xushoubao commented on #10257
你好，来件已收到，我会及时回复！

[2022-07-01 10:07] EricGao888 commented on #10257
Hi @WangJPLeo May I ask whether you are working on the auditing feature currently?

[2022-07-01 10:31] SbloodyS commented on #10257
Sure. Which do you want to take?

[2022-07-01 10:51] #6666 closed, assigned to nobody

[2022-07-01 11:09] fuchanghai commented on #10729
yes，i want.and I found some mistakes not only URL in test unit

---Original---
From: ***@***.***&gt;
Date: Fri, Jul 1, 2022 16:54 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/dolphinscheduler] [Bug] The request's url given by thetest case looks different from the controller layer (Issue #10729)

Hi @fuchanghai , would you like to submit a PR to fix this?

—
Reply to

[2022-07-01 12:49] fuchanghai commented on #10729
@SbloodyS  would you please give me the permission as a contributor ?

[2022-07-01 13:10] SbloodyS commented on #10729
When your first PR is merged, you will automatically become a contributor.

[2022-07-02 00:23] #10232 closed, assigned to 106umao

[2022-07-02 01:19] Flutemr opened #10733 "t_ds_schedules start_time/end_time with the ui start_time/end_time different"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I found that the task was not automatically scheduled. Go to The start time and end time in the t_ ds_ Schedules table are different from those in the UI。
this my  t_ ds_ Schedules table data:
![111](https://user-images.gith

[2022-07-02 01:21] Flutemr commented on #10733
all process instance the  star_time and end_time   One day late

[2022-07-02 01:47] fuchanghai commented on #10729
@SbloodyS i only fix the class DataSourceControllerTest, I'm not sure if the unit method annotated with org.junit.Ignore  in other classes will work. So should this question be closed? (only one of methods which annotated by org.junit.Ignore work well in class DataSourceControllerTest ) 

[2022-07-02 07:09] ruanwenjun opened #10737 "[Improvement][Master] Optimize the workflow instance/task instance status persistent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, once we finished a task instance, the master will update some metadata in the database and memory, like 'status', 'varpool' ....

I find the code is separate at different place, this may cause we need t

[2022-07-02 08:21] jieguangzhou opened #10738 "[Enhancement][Task Plugin] Allows file transfer between tasks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

DolphinScheduler allows parameter transfer between tasks: https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/parameter/context.html

But it can not allows file transfer between tasks. For example

[2022-07-02 08:25] jieguangzhou commented on #10738
I'm not sure if I'll be able to implement it anytime soon. If anyone is interested in implementing it, thank you very much

[2022-07-02 09:50] SbloodyS commented on #10733
It seems that the database time zone is inconsistent with the UI time zone.

[2022-07-02 09:53] SbloodyS commented on #10738
I think this feature depends on configuration center #10283. Otherwise, it is impossible to determine which object to use to store the configuration during uploading and downloading.

[2022-07-02 13:42] jieguangzhou opened #10740 "[Optimization]Optimize some details of MLFlow task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- [x] Add a health check for deploying the model with docker
- [x] Change to health Check implemented in Java instead of shell command
- [x] Modify the test case to improve reading

### Use case

_No response_

##

[2022-07-03 09:20] #9401 closed, assigned to nobody

[2022-07-03 09:22] #9801 closed, assigned to zwZjut

[2022-07-03 09:27] brave-lee commented on #10116
@luoyedeyi How is the progress now

[2022-07-03 09:30] brave-lee commented on #10156
Virtual nodes do not support replication, otherwise tasks will be repeated

[2022-07-03 09:40] brave-lee commented on #10316
This has been solved in #10541

[2022-07-03 09:40] #10316 closed, assigned to nobody

[2022-07-03 09:44] brave-lee commented on #10285
The job running history does not support upgrading. Please clear the job running history when upgrading

[2022-07-03 09:44] #10285 closed, assigned to syncwt

[2022-07-03 11:22] zhuxt2015 opened #10745 "[Feature][SQLTask] Suggest SQL task support variables in anywhere"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Suggest SQL task support variables in anywhere.
<img width="469" alt="image" src="https://user-images.githubusercontent.com/13765310/177037241-8c6e56f5-6fc1-4269-8f58-5e020ec632f7.png">

### Use case

Users can de

[2022-07-03 12:40] ruanwenjun opened #10747 "[Bug] [UI] Cannot back from cron manager in safari"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I click the cron manager, then I cannot go back to other page.
<img width="1724" alt="image" src="https://user-images.githubusercontent.com/22415594/177040098-79e2cd32-e7f3-425f-bc6c-dd2f6030302e.png">

I use safari.
My

[2022-07-03 14:02] vivostar commented on #10747
hi, @ruanwenjun , I find your picture shows that you are in the "**Project**" Dashboard, but actually the "**Task Result**" and "**Rule Management**" under the "**Data Quality**" Dashboard.

[2022-07-03 14:53] ruanwenjun commented on #10747
Yes, but you can see the right window is still in corn manager.

[2022-07-03 17:06] zhuxt2015 opened #10750 "[Feature][Master] Failover workflow instance in priority"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When failing over a workflow instance, it should be based on the priority of the instance

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willin

[2022-07-03 19:37] vivostar opened #10752 "[Feature] [UI] SQL and Python Editor Highlight not Work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When you create a sql node, the sql editor highlight is not work. However, shell editor highlight is work.
![image](https://user-images.githubusercontent.com/49220700/177054450-bf5b4940-57d3-4595-bffd-3278f8ecaa39.png)

So i

[2022-07-04 00:25] #10252 closed, assigned to huangwenjun30000

[2022-07-04 00:25] #10251 closed, assigned to nobody

[2022-07-04 00:25] #10216 closed, assigned to redamancydec

[2022-07-04 00:25] #10179 closed, assigned to MrTangHua

[2022-07-04 01:40] hanfengcan commented on #10156
which are Virtual nodes, except switch and shell @JinyLeeChina

[2022-07-04 01:48] ruanwenjun commented on #10750
Yes, right now, when we do failover we will not set the `process_instance_priority` into command, this can be improved.

[2022-07-04 03:26] ruanwenjun opened #10758 "[Improvement][Master] Remove the spring annotation in un-spring bean."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I find we have use spring annotation in some class which is not a spring bean.
https://github.com/apache/dolphinscheduler/blob/423cc5b9be678a3ea30afadad2667bf7d6330324/dolphinscheduler-master/src/main/java/org/apa

[2022-07-04 03:54] WangJPLeo commented on #10257
yes, an audit log has been implemented in the project now. @EricGao888

[2022-07-04 03:56] EricGao888 commented on #10257
@WangJPLeo Thx for the reply. May I ask whether you are going to take this one? #10295 I haven't worked on it yet.

[2022-07-04 03:57] WangJPLeo commented on #10257
first is ProcessDefinitionController. @SbloodyS

[2022-07-04 03:59] WangJPLeo commented on #10257
oK, I'll follow up on this issue. @EricGao888

[2022-07-04 04:00] EricGao888 commented on #10257
@WangJPLeo Cool, thx

[2022-07-04 04:04] WangJPLeo commented on #10295
We have extended the audit outside DS, using the Around aspect to collect the interactive data information of the API. But it is not based on the 't_ds_audit_log' in DS. @EricGao888

[2022-07-04 05:27] Flutemr commented on #10733
my database time  is now time，so database time zone   no problem

[2022-07-04 05:53] fuchanghai opened #10760 "[Feature][dolphinscheduler-api] Some variables are redundant"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Subclasses that inherit BaseServiceImpl and have the resourcePermissionCheckService attribute should remove this attribute in the subclass. Because this attribute already exists in the BaseServiceImpl  class  (eg:

[2022-07-04 06:00] zhongjiajie opened #10761 "[Feature][CI] CI about add new task type but not add to docsdev.js"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

we have many PR like https://github.com/apache/dolphinscheduler/pull/10640#pullrequestreview-1027041776 , adding a new task type in PR with the document but without adding it to docsdev.js. we should add a checker

[2022-07-04 06:07] brave-lee opened #10762 "[Bug] [Server] Dependent tasks wait for the workflow to end"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Dependent tasks wait for the workflow to end

### What you expected to happen

Dependent tasks should not wait for the workflow to end, but for the task to end

### How to reproduce

Dependent tasks

### Anything else

_No r

[2022-07-04 06:31] qingwli commented on #10728
HI @beepupa , I have a test locally. And I think you have altered the wrong file. It would be right if you changed the `docker-compose.yml`.

The image URL like `${HUB}/dolphinscheduler-xxx:${TAG}` in `docker-compose.yml` is right.
The image URL like `apache/dolphinscheduler-xxx` in `docker-stack.yml` is wrong.

I saw your screenshot and your changes to `Worker` are correct and your changes to `Ap

[2022-07-04 06:31] ruanwenjun opened #10763 "[Feature] The workflow status/task status update is not atomic"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, the most status change is judge and update.
e.g.
[code]

When we do some operation, we need to judge if the current status can support we do the operation, the problem is that the status may changed aft

[2022-07-04 06:53] beepupa commented on #10728
Thank you, I tried your suggestion, re-downloaded the new YML file, only added MySQL JAR, but it still reported errors ,This error is reported by the ZooKeeper node, I don't know why, I see some people say that you can try to expand the memory, but when I run, I don't limit the memory. My server configuration is 16C32GB ,
![image](https://user-images.githubusercontent.com/36186038/177097698-567830

[2022-07-04 07:03] EricGao888 commented on #9324
FYI, [Prometheus Pushgateway](https://github.com/prometheus/pushgateway) is also supported by `Micrometer`:
https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#actuator.metrics.export.prometheus

BTW, the `StatsD registry` eagerly pushes metrics over UDP to a StatsD agent:
https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#actuator.metrics.export.statsd

For so

[2022-07-04 07:19] yandong001 opened #10766 "Data Quality - Timeliness Check - java.lang.NullPointerException: null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/37573052/177101548-5d1e3950-0fa2-4533-b619-a1781f75fd81.png)
![image](https://user-images.githubusercontent.com/37573052/177101608-8adbef66-6226-4fe9-8841-8bf3b0d5836c.png)

[2022-07-04 07:28] qingwli commented on #10728
Is your laptop Macbook M1? The reason why the zookeeper has an error log is the default zookeeper and PostgreSQL from bitnami only have an amd64 arch.

And I have this error log too, but it works.

You could access DolphinScheduler web UI by click http://localhost:12345/dolphinscheduler/ui and use admin and dolphinscheduler123 as default username and password in the login page.

[2022-07-04 07:34] beepupa commented on #10728
Thank you, the application is accessible, but there is always an error when adding MySQL data source
![image](https://user-images.githubusercontent.com/36186038/177104809-c05d8b4b-0bee-413e-9772-be4411d293da.png)

[2022-07-04 07:47] qingwli commented on #10728
Can you share the docker inspect info like below?
![2541656920738_ pic](https://user-images.githubusercontent.com/20885366/177107119-920052e3-f2e1-4898-9899-0a3e4cc9736e.jpg)
![2551656920767_ pic](https://user-images.githubusercontent.com/20885366/177107138-02e0dea1-a643-40ec-9319-ad1cccc6378f.jpg)
![2561656920767_ pic](https://user-images.githubusercontent.com/20885366/177107145-e0f06efa-beda-4b6

[2022-07-04 07:55] beepupa commented on #10728
work
![image](https://user-images.githubusercontent.com/36186038/177108431-6063160b-3986-449e-b5ef-b8e1108faa3e.png)
api
![image](https://user-images.githubusercontent.com/36186038/177108625-f7b64e8f-55f4-4433-9539-a07a627ad4b1.png)

[2022-07-04 08:02] EricGao888 commented on #6619
I just saw this when browsing issues labeled with `good first issue`. Seems this one is no more valid? https://github.com/apache/dolphinscheduler/pull/6674#issuecomment-973657840 Maybe we could close this issue?

[2022-07-04 08:05] qingwli commented on #10728
Can you enter the docker image and see if exist the MySQL jar in libs or not.

[2022-07-04 08:09] beepupa commented on #10728
Yes, the file is here.
work
![image](https://user-images.githubusercontent.com/36186038/177110995-d6278278-72fa-49c3-af99-9d6c2caf9c20.png)
api
![image](https://user-images.githubusercontent.com/36186038/177111256-feb951e5-dc07-4df9-a24c-f3cb9718ee61.png)

[2022-07-04 08:28] #10566 closed, assigned to SbloodyS

[2022-07-04 08:29] #10071 closed, assigned to SbloodyS

[2022-07-04 08:45] #10762 closed, assigned to JinyLeeChina

[2022-07-04 08:45] wanghaizhou commented on #10474
Thanks, the problem is solved in 3.0.0-beta-2.

[2022-07-04 08:45] #10474 closed, assigned to nobody

[2022-07-04 09:06] qingwli commented on #10728
That's weird. Can you post the content about docker-compose.yml? No picture, in words. And I'll try locally. By the way, do you download the source code at https://dolphinscheduler.apache.org/zh-cn/download/download.html or run it with IDE on 3.0.0-beta-1-release branch?

[2022-07-04 09:11] Amy0104 commented on #10747
I didn't not reproduce. Could you provide more details?
![1](https://user-images.githubusercontent.com/97265214/177122760-511d077d-34cf-42f9-8dda-e2626f0a14df.gif)

[2022-07-04 09:14] beepupa commented on #10728
Thank you very much, is it not ok if DB is Mariadb?

[2022-07-04 09:20] qingwli commented on #10728
Yes, looks like we do not support MariaDB now. If you are interested about support Mariadb and contributing to the community, you can follow [this](https://dolphinscheduler.apache.org/zh-cn/development/backend/spi/datasource.html)

[2022-07-04 09:27] ruanwenjun commented on #10747
@Amy0104 Thanks for your reply, you can try to click Timing first and then click cron manager.

Here is the console:
<img width="1726" alt="image" src="https://user-images.githubusercontent.com/22415594/177125754-7e61376f-dff8-4fd0-960d-ff6b997f1f8b.png">

[2022-07-04 10:04] Amy0104 opened #10770 "[Bug] [Project] The language package for 'MB' and '%' are not matched."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when I open the workflow definition detail page, I got those warnings.
<img width="534" alt="image" src="https://user-images.githubusercontent.com/97265214/177132416-11568436-6067-4a2e-9b61-6c5bf14d6c86.png">

### What you e

[2022-07-04 10:11] XuXuClassMate commented on #10770
I will fix

[2022-07-04 14:08] #10666 closed, assigned to ruanwenjun

[2022-07-04 15:35] #10750 closed, assigned to zhuxt2015

[2022-07-04 15:36] mpmiles opened #10777 "[Question] Error calling python script"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

我用ds调服务器上的python程序，一直报错，python_home也配置了，打印的日志也是使用的python_home的路径，但是就是报错，麻烦帮忙看看，谢谢
![8bd9f80f32dcc2b25be57d6931409ab](https://user-images.githubusercontent.com/91513893/177185254-4edacc86-43fe-4a8a-a62c-5a48439f1617.png)

###

[2022-07-04 17:34] SnowMoon-Dev opened #10778 "[Improvement][E2E + API Tests] Refactor UI test and API test modules"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Although the current UI test has completed part of the interface test, the functions covered are not comprehensive, and the use of the page object model is unreasonable. API testing is built using the page object

[2022-07-05 00:20] #9916 closed, assigned to nobody

[2022-07-05 01:22] he4462069 opened #10780 "Run task bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the flink batch task is submitted, the task fails to run, but the workflow instance page shows success.

### What you expected to happen

none

### How to reproduce

none

### Anything else

none

### Version

2.0.5

#

[2022-07-05 02:07] #10444 closed, assigned to aiwenmo

[2022-07-05 02:26] SbloodyS commented on #10777
Version 1.3.8 is no longer in the maintaining list. You can try the latest version.

[2022-07-05 02:28] SbloodyS commented on #10780
Hi @he4462069 , Is your Flink running in Yarn mode?

[2022-07-05 02:36] github-keep opened #10781 "[Bug] [UI] The selection of multi table accuracy in data quality is unsuccessful"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

在使用【DATA_QUALITY】工具时，【规则名称】选择【多表准确性】时，页面加载失败，JavaScript报错。
![image](https://user-images.githubusercontent.com/34233672/177237776-668e3336-ea3a-4c74-b8fd-779fb9a020e0.png)

### What you expected to happen

与官网文档示例不一样

### How

[2022-07-05 02:38] github-keep commented on #10781
version 3.0.0-beta-1

[2022-07-05 02:45] markflows opened #10782 "[Improvement][Module Name] executes a single task node in the workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/108707879/177238973-f5f69293-0f0c-4393-986f-d674c62e6585.png)
如图片所示,现在点击任务流中的单个节点会执行当前节点以及下游节点,希望可以增加只执行当前节点的功能,这个功能在2.X版本是支持的,不知为何在3.X版本不再支持

### Are you willing

[2022-07-05 03:05] #10740 closed, assigned to jieguangzhou

[2022-07-05 03:45] Tianqi-Dotes opened #10784 "[Bug] [ALERT-SERVER] FEISHU Plugin might block the whole alert process loop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

FEISHU Plugin has no timeout, if the feishu alert block , it will block the whole alert process and lock the loop

### What you expected to happen

Feishu alert should have timeout trategy if the server cannot alert the feis

[2022-07-05 04:11] SnowMoon-Dev commented on #10778
I will split this PR, and gradually submit the corresponding PR on the original basis, thank you for your suggestions @SbloodyS @kezhenxu94

[2022-07-05 04:51] ruanwenjun opened #10785 "[Bug] [Master] State event handle error will not retry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Right now, when we deal the state change event, we will not retry in some case, due to we catch the state handle error exception, and don't rethrow it.
e.g.
https://github.com/apache/dolphinscheduler/blob/7d79a2165ee5f0bf1aa

[2022-07-05 05:27] EricGao888 opened #10787 "[Bug] [Script] Remove UseFastAccessorMethods in remove-zk-node.sh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* When deployed in `pseudo-cluster` mode on `macOS Catalina`, `remove-zk-node.sh` throws `Unrecognized VM option 'UseFastAccessorMethods'` and causes failure to remove zk node.
* After removing `-XX:UseFastAccessorMethods`,

[2022-07-05 05:51] he4462069 commented on #10780
Flink run in local cluster

[2022-07-05 05:56] EricGao888 commented on #10787
(base) ➜  bin java -version
java version "11.0.15" 2022-04-19 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.15+8-LTS-149)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.15+8-LTS-149, mixed mode)

[2022-07-05 06:05] EricGao888 opened #10788 "[Improvement] [Alert Server] Datasource url inconsistency in alert server application.yaml"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

* There is no default value for datasource `url` in the application.yaml file of alert server.
* However, in the application.yaml files of other DS components (master, worker, api server), there is a default value.
* This in

[2022-07-05 06:08] ruanwenjun commented on #10788
Good catch, this should be an improvement, not a bug.

[2022-07-05 06:13] EricGao888 commented on #10788
Thx for the reply. BTW, seems we have the same situation in release-beta-2, not sure whether it may cause confusion to users.

https://github.com/apache/dolphinscheduler/blob/7ddaa2f47d90e9302c9ad3400bab31baf424f37a/dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/resources/application.yaml#L61-L69

[2022-07-05 06:15] ruanwenjun commented on #10787
Seems UseFastAccessorMethods has been deprecated

[2022-07-05 06:18] EricGao888 commented on #10787
For `UseFastAccessorMethods` has been deprecated since JDK 9 and may cause trouble, what about simply removing it from the script?

[2022-07-05 06:21] ruanwenjun commented on #10787
I think we can remove it, it seems this is a optional args to optimize the set/get method.

[2022-07-05 06:28] EricGao888 commented on #10787
Sure, I will fix it.

[2022-07-05 06:30] ruanwenjun commented on #10788
Don't worry, this is not a serious problem

[2022-07-05 06:41] EricGao888 commented on #2644
Will be fixed by https://github.com/apache/dolphinscheduler/pull/10789

[2022-07-05 07:02] WangJPLeo opened #10791 "[Transactional][API][Service] Transaction checking and optimization."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1.In recent contributions, it is found that some methods in the API module that require transactions have not been added correctly. These methods are generally found in org/apache/dolphinscheduler/api/service/impl

[2022-07-05 07:26] #10787 closed, assigned to EricGao888

[2022-07-05 07:42] ruanwenjun commented on #10747
I checked in chrome, it can work well, it seems this bug just occurred in safari. I will close the issue hope someone can fix it.

[2022-07-05 07:44] #10747 closed, assigned to nobody

[2022-07-05 07:51] #10717 closed, assigned to WangJPLeo

[2022-07-05 08:30] zhongjiajie opened #10794 "[Bug] [python] Can not run python api definition in dev branch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

currenttly, we can not run our python api code in dev branch because we add premission to create tenant code.

### What you expected to happen

run your python code in terminal

### How to reproduce

ATT

### Anything else

[2022-07-05 08:31] Amy0104 commented on #10730
This is a good issue. Do you still want to fix this issue? If you have any problem, you can concat me. I will try to help you. @rockfang

[2022-07-05 08:46] rockfang commented on #10730
Actually, I didn't find an elegant way to solve it.
here is my logic:
1. When selecting the workGroup just empty the environmentCode.
2. Delete the environmentCode operation in `use-environment-name.ts`. So just pure trigger from workGroup can change the default environmentCode.
3. The `environmentCode ` will not has default. it's ok for me...
@Amy0104

[2022-07-05 08:50] CallMeKingsley97 opened #10795 "[Bug] [plugin] sqoop task query columns config bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

when I submited a sqoop task which use  `All Columns` of the column type, but the sqoop task had the different columns.

Because I used to write those columns into the input box of `Some Columns`, I forgot to clear that.

Fr

[2022-07-05 08:57] Amy0104 commented on #10730
There are three situations.
Firstly, have already created a task with workGroup and environment. WorkGroup and environment should be displayed after data back. For this, we can't set workGroup and environment manually, that is why I use isCreate.
Secondly, just want to create a task, then we need to set the default value for workGroup and environment after getting the environmentList.
Thirdly, cha

[2022-07-05 09:23] #10788 closed, assigned to EricGao888

[2022-07-05 09:27] rockfang commented on #10730
Situation A :
manually changed the workGroup selection

Situation B:
1. I choose a workGroup like `W`
2. I choose  an environment like `W-env`
3. click `save` in this modal. (temp save not submit till now)
4. double click this node to reEdit it (need to redisplay my last choose `W-env)`

What puzzled me is both situation A&B will trigger `watch( () => model.workerGroup...` .
But I can't resolve th

[2022-07-05 09:35] EricGao888 commented on #8543
Could anyone please help add a `discussion` label to this? Thx~

[2022-07-05 09:43] Amy0104 commented on #10730
I try to fix it. pls check later. @rockfang

[2022-07-05 10:22] rockfang commented on #10730
@Amy0104  good!
I read the code and it works well for me

[2022-07-05 11:21] #10422 closed, assigned to zhuangchong

[2022-07-05 13:24] #10730 closed, assigned to rockfang

[2022-07-05 13:26] songjianet commented on #10781
Please provide the name and version of the browser below. @github-keep

[2022-07-05 13:29] songjianet commented on #10752
This can actually be considered an optimization point, because we didn't have to deal with more language highlighting support in a hurry. @vivostar

[2022-07-05 13:54] songjianet opened #10801 "[Feature][UI] Added developer debugging mode."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The developer debugging mode is turned off by default. Users can turn on the developer debugging mode. After turning on, all the tables in the project will display the `code` or `id` fields of each data correspond

[2022-07-05 13:55] songjianet opened #10802 "[Feature][UI] Task components are displayed in groups."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Task components are displayed in groups.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I a

[2022-07-05 14:11] SbloodyS commented on #10257
Please create the associate issue.

[2022-07-05 14:26] songjianet commented on #10257
For this interface refactoring, I recommend replacing `process` in the project with `workflow`, because the word `process` will be gradually eliminated in the front-end display and will also be replaced by `workflow`. @SbloodyS

[2022-07-05 14:30] EricGao888 commented on #10257
+1, the term `process` sometimes a little bit confusing. `Workflow` is more commonly used in scheduler and it is always good to keep front-end and backend naming consistent.

[2022-07-05 22:45] Amy0104 commented on #10730
Thanks for your feedback. @rockfang

[2022-07-06 00:25] #9964 closed, assigned to nobody

[2022-07-06 02:31] zhongjiajie commented on #9604
remove stale

[2022-07-06 02:32] zhongjiajie commented on #9927
remove stale

[2022-07-06 02:55] #10770 closed, assigned to XuXuClassMate

[2022-07-06 03:52] #8201 closed, assigned to zhongjiajie

[2022-07-06 04:08] zhongjiajie commented on #9928
remove stale

[2022-07-06 06:22] #10791 closed, assigned to WangJPLeo

[2022-07-06 06:44] zhongjiajie commented on #9814
sure， agree with that

[2022-07-06 06:48] zhongjiajie commented on #10257
yes, and all of our UI using workflow instead of process. and developers is another kind of users for DolphinScheduler

[2022-07-06 06:49] zhongjiajie commented on #6619
closed due to this

[2022-07-06 06:49] #6619 closed, assigned to nobody

[2022-07-06 06:49] SbloodyS commented on #10257
Agreed.

[2022-07-06 06:53] #10785 closed, assigned to ruanwenjun

[2022-07-06 06:58] zhongjiajie commented on #10582
maybe we can using github container registrrey(ghcr) to store docker images of this demo, and write a `docker-compose.yml` file just like https://github.com/apache/dolphinscheduler/blob/dev/deploy/docker/docker-compose.yml, and we only need to deploy our demo docker image to ghcr, users could fetch the  `docker-compose.yml` and run the latest container from ghcr

[2022-07-06 06:59] zhongjiajie commented on #10582
there is a exsits issue to desc the work of ghcr https://github.com/apache/dolphinscheduler/issues/10024

[2022-07-06 07:06] EricGao888 commented on #10582
Sounds pretty cool! I will take a look at `ghcr`. Thx for the suggestions! @zhongjiajie

[2022-07-06 07:08] zhongjiajie commented on #10573
Of cause, we can, do you interesting in this migration?

[2022-07-06 07:12] SbloodyS commented on #10415
I'll fix it.

[2022-07-06 07:14] EricGao888 commented on #10573
Yes, I'd love to give a shot.

[2022-07-06 07:28] zhongjiajie commented on #10562
@CFlyGoo Yeah, currently that the behavior, and your requests make sense to me, you want to have some like `global env` and `local env`, priority is `local > global` but if the env missing in `local` you want to get them in the global default(if they have). Do you have time to create a PR and correct it?

[2022-07-06 07:36] EricGao888 commented on #9942
Currently, we have supported several python dependency management approaches in `Jupyter Task`, which is a specific type of python task. Some related discussions: https://github.com/apache/dolphinscheduler/pull/10658#issuecomment-1172014440

[2022-07-06 07:43] EricGao888 commented on #9942
There are some points to be discussed here:

- We could abstract python type task, other specific python related task could inherit it, together with its several  dependency management approaches.
- Which one to use? Choose `Anaconda`  or `venv` to manage virtual python environment. Or maybe we could provide both of them for users to choose.

[2022-07-06 07:49] zhongjiajie commented on #9632
It seems already fix in dev branch. do you have time to check it? @chinaboyll

[2022-07-06 07:53] WangJPLeo opened #10806 "[Improvement] Project, Queue, UDF, Tenant module database tables are missing unique indexes."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Project, Queue, UDF, Tenant module database tables are missing unique indexes.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-07-06 07:56] #10648 closed, assigned to EricGao888

[2022-07-06 08:09] zhongjiajie commented on #8866
I assigne to you now

[2022-07-06 08:10] zhongjiajie commented on #10131
remove stale

[2022-07-06 08:19] zhongjiajie commented on #10533
FYI, see https://github.com/apache/dolphinscheduler/issues/10562#issuecomment-1175877731, I think we could improve it

[2022-07-06 09:05] jackfanwan commented on #10782
I want to finish it

[2022-07-06 09:30] lizhongshuai opened #10808 "[Bug] [FlinkSql] flinksql execute error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

使用海豚调度器调度flinksql，建表语句可以正常执行，插入语句会报错
错误信息：
TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.flink.FlinkTask:[63] -  -> [31;1m[ERROR] Could not execute SQL statement. Reason:
 java.lang.IllegalStateException: No E

[2022-07-06 09:45] #10497 closed, assigned to nobody

[2022-07-06 09:59] yyunlei opened #10809 "[Bug] [Flink] Bug Flink on Yarn resource scheduler is still running, can't stop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

使用最新的版本发布Flink on yarn 任务，启动和重启都没问题。就是停止在ds 界面是停止状态，而Yarn 资源调度器中还是running 状态，停不掉，不知道这个算是bug吗？Flink 使用的1.13.6 版本

### What you expected to happen

DS中可以管理Flink On Yarn 任务，启动和停止都可以。DS中停止Flink On Yarn 的时候, yarn资源管理器中也可以停止

###

[2022-07-06 12:18] zhuxt2015 opened #10814 "[Feature][UI] Suggest Timing button move to cron manage page to reduce operations and page switch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

配置定时并上线, 首先需要点击定时按钮, 然后再进入定时管理页面, 点击上线按钮
如果将定时按钮合并到定时管理页面, 那么用户可以在定时管理页面配置定时, 并完成上线, 减少页面切换

另外，将定时表达式加入到工作流列表展示
![image](https://user-images.githubusercontent.com/13765310/177547303-62580605-3a05-49c2-8dfe-881226

[2022-07-06 12:24] zhuxt2015 opened #10815 "[Feature][Datax Task] Suggest support input parameters in datax task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

datax support parameters, but datax task not support parameters now, suggest support it.
![image](https://user-images.githubusercontent.com/13765310/178748357-994ef826-e042-491c-b9ac-263c1b0149f0.png)

### Use cas

[2022-07-06 13:31] #10415 closed, assigned to SbloodyS

[2022-07-07 01:29] lizhongshuai opened #10818 "Scheduling error with flink that does not rely on hadoop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

使用海豚调度器调度flinksql，建表语句可以正常执行，插入语句会报错
错误信息：
TaskLogLogger-class org.apache.dolphinscheduler.plugin.task.flink.FlinkTask:[63] -  -> [31;1m[ERROR] Could not execute SQL statement. Reason:
 java.lang.IllegalStateException: No E

[2022-07-07 01:48] shmilygkd commented on #3850
碰到同样问题+1，全新安装的服务在使用定时服务时就碰到该问题，希望可以帮忙解答一下，tks!

版本是2.0.0，尝试过重启服务，更换项目和工作流，都没有效果。

[2022-07-07 01:51] SbloodyS commented on #10818
Dupliated with #10808.

[2022-07-07 01:51] #10818 closed, assigned to nobody

[2022-07-07 02:25] huangchenguang123 opened #10820 "[Bug] [plugin] spark sql causes npe when parameters are used, and parameters never work."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="568" alt="image" src="https://user-images.githubusercontent.com/37766284/177677218-e22b022e-8938-432d-83ca-ca0e1c4e24b3.png">

![image](https://user-images.githubusercontent.com/37766284/177677444-b85c3be4-5e77-4

[2022-07-07 02:40] hiSandog opened #10822 "[Improvement][Python] Python-gate supports creating or editing resources."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Our company now deploy and manage scripts automatically through Python-gate, but resource files need to be maintained manually.We find it inconvenient.So, I think Python-gate should supports creating or editing re

[2022-07-07 02:57] hzc112233 opened #10824 "[Bug] Version 2.0.5 when create workflow ，search node is not available"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

在工作流定义中，搜索节点功能没有响应，无法定位要搜索的节点

in the process definition, the search node function has no response and cannot locate the node you want to search

### What you expected to happen

可以定位到想要搜索的节点

You can locate the node you wan

[2022-07-07 03:12] jieguangzhou opened #10826 "[Feature][Task Plugin] Add Amazon SageMaker pipeline task plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Similar as [Amazon EMR Task Plugin](https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/guide/task/emr.html).

We can integrate [SageMaker pipeline](https://docs.aws.amazon.com/sagemaker/latest/dg/pipel

[2022-07-07 03:28] yyunlei commented on #10809
![image](https://user-images.githubusercontent.com/7547693/177684184-45595d9b-06db-4aa3-ab15-88a03dc77efd.png)
![image](https://user-images.githubusercontent.com/7547693/177684262-a850dfba-ab49-4764-96b7-9499e66414a0.png)
上图正常重跑，没问题
![image](https://user-images.githubusercontent.com/7547693/177684423-8aa5a4ae-4a59-4646-b3b4-95b5054f3d2c.png)
![image](https://user-images.githubusercontent.com/75476

[2022-07-07 03:29] DSK1997 commented on #5448
Hello, I also encountered the same problem. How did you solve it?

[2022-07-07 03:35] yyunlei commented on #10809
![image](https://user-images.githubusercontent.com/7547693/177685095-80bcb57b-d1e5-48e0-aa54-78d0165d20b3.png)
Flink 任务作业中的版本选择大于1.10，保存成功。但是在打开修改的时候 还是显示小于1.10.这个是bug
![image](https://user-images.githubusercontent.com/7547693/177685249-e50a49ce-166e-473e-82b6-f1d5968d118d.png)

[2022-07-07 04:11] ruanwenjun opened #10827 "[Improvement][RPC] When client send request to server use a separate connection"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, the master and worker will send request/response to each other. And we use async mode, so once the client send a request to the server, he will not block, he just cache the request, and use a daemon thr

[2022-07-07 05:56] lizhongshuai opened #10828 "About scheduling flink deployed by Kubernetes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

请加快上线调度Kubernetes部署flink的功能

### Use case

请加快上线调度Kubernetes部署flink的功能

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I

[2022-07-07 06:06] rockfang opened #10829 "[Bug][UI] `Workflow Relation` not display well when 2 workflows really have relation."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

### about the problem
I created 2 workflows A and B.  B depending on A.
The relation is not showed in `Workflow Relation`
![image](https://user-images.githubusercontent.com/16065427/177702622-49e78686-ce8e-4825-ac

[2022-07-07 06:35] #10806 closed, assigned to WangJPLeo

[2022-07-07 06:43] yaowj2 commented on #10340
从debug springboot报的实际异常是org.eclipse.jetty.io.EofException: Early EOF。原因在前端用axios 提交时设置了超时时间为15s，导致在上传过程中前端超时提前中断了， 见下面在ui service.ts的代码片段部分，修改加大timeout时间后上传大文件通过
`const baseRequestConfig: AxiosRequestConfig = {
  baseURL:
    import.meta.env.MODE === 'development'
      ? '/dolphinscheduler'
      : import.meta.env.VITE_APP_PROD_WEB_URL + '/dolphinscheduler',
  timeout: 15000,`

[2022-07-07 07:55] lukeyan2023 opened #10830 "[Bug][Doc] Change the start or install script command sh in the document to bash"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In Ubuntu 20.04, using sh to execute the startup and installation scripts under the bin directory reports an error, because Ubuntu uses dash instead of bash by default. In order to be compatible with different typ

[2022-07-07 07:57] SbloodyS commented on #9664
We can't start this until this problem is solved #10827.

[2022-07-07 07:59] SbloodyS commented on #10830
Using `bash` instead of `sh` can resolve this problem. Welcome to correct the document.

[2022-07-07 08:05] #10629 closed, assigned to qianli2022

[2022-07-07 09:17] dukeshiny opened #10833 "[Bug] [Quartz] timezone display doesn't match the next_fire_time in ds 3.0.0-beta1 version"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I set the quartz time with UTC timezone first time,the execute time and the next five execute time match right.But the task didn't execute at all.So I went to chekc the dolphinscheduler meta table in mysql.I found three

[2022-07-07 09:50] dukeshiny commented on #10833
Before this bug has been fixed ,this is my solution as follows
<img width="315" alt="84a91d1d39974b575945674f539e8de" src="https://user-images.githubusercontent.com/21135052/177745459-0173238b-2b73-4cea-80c9-f8544558ba0d.png">

[2022-07-07 10:51] shangeyao opened #10837 "[Feature][Task Plugin] Sqoop Task Add --split-by Parameter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When sqoop param -m >1, we should set --split-by.

### Use case

Set sqoop parameter --split-by

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

###

[2022-07-07 15:07] lordk911 opened #10840 "[Improvement][alert] 'Fault tolerance warning' can be specified to send to special group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I try to kill one dolphin mater node to test the alert plugin, I don't know the rule : who will this kind of 'Fault tolerance warning' to be send . I think this kind of message need to send to specified group or a

[2022-07-07 22:43] kaori-seasons commented on #10387
@EricGao888 Thank you for adding. During this time, I will read the data structure of DAG in airflow, so that I can discuss with you later

[2022-07-08 00:25] #9541 closed, assigned to nobody

[2022-07-08 00:26] zengqiyan commented on #9394
已收到，谢谢

[2022-07-08 01:29] SbloodyS commented on #10840
Currently the fault tolerance warning will send to the default warning group. Which is the id=1 alert group.

[2022-07-08 02:35] EricGao888 opened #10841 "[Doc][Resource Center] Remind users not to operate resources directly through storage systems"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* When users manage their resource files in resource center, data related to resources is recorded in database. If they delete / rename the resources directly through the storage system (like HDFS, S3) instead of

[2022-07-08 02:42] zhongjiajie commented on #9029
remove stale

[2022-07-08 02:53] zhongjiajie commented on #9541
remove stale

[2022-07-08 02:54] #10794 closed, assigned to zhongjiajie

[2022-07-08 02:55] ruanwenjun opened #10842 "[Bug] [Master] When worker down, some taskInstance has been dispatched may not be failovered."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I find some taskInstance may not be failovered when the worker down, and the taskInstance's status is DISPATCH.

When we do worker failover, we need to find out which taskInstances belong to the need failover worker, we use

[2022-07-08 03:04] SbloodyS commented on #10841
The reason is that DS and third-party storage system are two different metadata. At present, there is an optimization process in #10495. This problem will no longer exist after the implementation of this feature is done. @EricGao888

[2022-07-08 03:06] EricGao888 commented on #10841
Cool! Thx for the info @SbloodyS

[2022-07-08 05:11] songjianet opened #10843 "[Feature][UI] Front-end optimization for version 3.0.0-alpha."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- [x] #10844
- [x] #10845
- [x] #10802
- [x] #10801
- [x] #11052

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-07-08 05:12] songjianet opened #10844 "[Refactor][UI] Use the `NSpace` component to replace unnecessary layout styles."

[2022-07-08 05:12] songjianet opened #10845 "[Feature][UI] All `NInput` components in the project add the ability to remove spaces before and after."

[2022-07-08 05:19] #10829 closed, assigned to rockfang

[2022-07-08 06:59] EricGao888 opened #10846 "[Doc][Upgrade] Tiny error in upgrade docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Got some feedback from users in DS Slack Channel, `SPRING_DATASOURCE_URL` example value in `upgrade` docs is not quoted, which misleads users.

![image](https://user-images.githubusercontent.com/34905992/1779348

[2022-07-08 08:18] EricGao888 commented on #10841
I will close this issue as soon as #10495 resolved.

[2022-07-08 09:42] hstdream opened #10849 "[Bug][Api] Complete Data workflow remove duplicates."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When complete data, the income date format is `2022-06-01 00:02:10, 2022-06-01 00:02:10, 2022-06-02 00:02:10`, and there are duplicate scheduling dates.

### What you expected to happen

1.When complementing, scheduling does

[2022-07-08 14:37] hezean commented on #9842
Hi, I'd like to try it! Does that means my only target is passing CI?
<img width="581" alt="Screen Shot 2022-07-08 at 22 36 59" src="https://user-images.githubusercontent.com/49837965/178013870-49f5e6f8-9069-4a06-89a3-615e7bb06e56.png">

[2022-07-08 14:41] SbloodyS commented on #9842
Yes. Would you like to take it?

[2022-07-08 14:49] hezean commented on #9842
Many thanks if there's a chance to work on it! If there's any problem I'll update the state back here

[2022-07-08 14:50] ruanwenjun opened #10853 "[Improvement] [Master] Master cannot close gracefully when there are workflowInstance is running"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I find when the master is running workflow instance, and we kill master_pid, the workflowInstance is running will failed due to JDBC error, may be the database is already closed, and we still handle some event.

And when we

[2022-07-08 14:51] SbloodyS commented on #9842
I've assigned to you. Looking forward to your contribution.

[2022-07-08 14:55] ruanwenjun opened #10854 "[Bug] [Master] When database restart or close, the workflow instance status will be incorrect."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I find when there is workflowInstance running, and the database restart. The workflow instance's status will be incorrect, it will be running all the time. This is due to when we receive the worker's response, we will update

[2022-07-08 16:55] hezean commented on #10840
![Screen Shot 2022-07-09 at 00 47 50](https://user-images.githubusercontent.com/49837965/178035650-292aeb63-e798-48cb-8a17-ebf30945b836.png)

Wish I could help. I think we can work around here ⬆️, if possible, plz point me out where could be proper for users to set it? or just give me some time to think about it.

[2022-07-09 01:41] SbloodyS commented on #10840
@HeZean I think we can provide a button on the configuration page of alert-group-manage to allow users to configure whether this group is a fault-tolerant alarm group.

[2022-07-09 03:54] #10842 closed, assigned to ruanwenjun

[2022-07-09 06:41] davidzollo commented on #10683
good job

[2022-07-09 06:50] WangJPLeo opened #10861 "[BUG-BE][Complete Date] Complement numbers will run in a loop under the serial strategy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Complement numbers will run in a loop under the serial strategy

### What you expected to happen

Complement numbers will run in a loop under the serial strategy

### How to reproduce

After creating the workflow, select the

[2022-07-09 06:53] #10846 closed, assigned to EricGao888

[2022-07-09 07:19] #9842 closed, assigned to hezean

[2022-07-09 07:41] #10830 closed, assigned to lukeyan2023

[2022-07-09 08:11] WangJPLeo opened #10863 "[BUG-BE][Statistics Module] The number of failed commands is incorrectly counted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The number of failed commands is incorrectly counted

### What you expected to happen

display correctly

### How to reproduce

The data in the database is inconsistent with the page data display.

### Anything else

No

###

[2022-07-09 08:41] #10861 closed, assigned to nobody

[2022-07-09 10:03] github-keep commented on #10733
![1657360935569](https://user-images.githubusercontent.com/34233672/178101051-97c20e88-615a-4d3d-828d-c09fe94f1f78.jpg)
You need to add a time zone to the JDBC connection

[2022-07-09 13:29] #10849 closed, assigned to hstdream

[2022-07-09 14:28] #10833 closed, assigned to dukeshiny

[2022-07-09 14:29] EricGao888 opened #10867 "[Improvement][Metrics] Use tags to indicate task / workflow execution status for metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, as shown in https://dolphinscheduler.apache.org/en-us/docs/dev/user_doc/guide/metrics/metrics.html, we use metric names to indicate whether the related counter / timer is used for some failures or suc

[2022-07-09 15:11] guodongym commented on #10758
@ruanwenjun
I noticed that after the instantiation of a class, use the AutowireCapableBeanFactory. AutowireBean bean of injection, AutowireCapableBeanFactory is on the basis of the BeanFactory realize the management of the existing examples

![image](https://user-images.githubusercontent.com/20675095/178111566-27b8e2ee-ba6d-40fd-88cb-5f39e709373f.png)

[2022-07-09 16:54] zhuxt2015 opened #10870 "[Improvement][Task] Use default sql segment separator for the SQL task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Most usage scenarios, use `;` as sql separator,  there is no need to enter a delimiter.

Associated issue: #9177

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-07-10 02:12] ruanwenjun commented on #10758
@guodongym In my knowledge, directly return is enough, there is no need to set to the beanFactory?

[2022-07-10 02:15] #10219 closed, assigned to guodongym

[2022-07-10 03:06] #10488 closed, assigned to zhongjiajie

[2022-07-10 03:07] ruanwenjun opened #10871 "[Feature][Master] Add http interface to query workflow instance state queue or some other meta"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, there are some meta we didn't persist them.

e.g. If I want to query a workflow instance's state queue or how many channel it has connect to worker or some other details.

I have no way to query these i

[2022-07-10 03:15] pinkhello commented on #10784
The issue is coving all alert plugins

[2022-07-10 03:23] ruanwenjun opened #10872 "[Feature][UI] Display the total count in all listing page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Sometimes, I want to know how many items are triggered by the query condition, I need count by myself, and for this case, I need to go to the end page, totalCount = 299 * 10 + (itemCount in page 300).

<img width=

[2022-07-10 06:39] caishunfeng commented on #10871
Good idea, I will do it.

[2022-07-10 08:38] zhuxt2015 opened #10874 "[DSIP-9][Feature][Server] Add new registry plugin based on raft"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

## The role of zookeeper
1. Store service-related information of master and worker, host IP, port, cpu load, etc.
1. Master and worker health check
1. master failover
1. Distributed lock
## Problems caused by zook

[2022-07-10 09:12] ruanwenjun commented on #10874
Great feature, this feature has been discussed before, it's needed to give a detailed design, such like how we store the log, how to solve the split-brain..., this is a good begin.

[2022-07-10 09:17] #10863 closed, assigned to WangJPLeo

[2022-07-10 09:26] zhuxt2015 commented on #10874
@ruanwenjun ok, I'll give detail design later

[2022-07-10 10:55] lgcareer commented on #10874
@zhuxt2015 Greate feature,could you please introduce more detail about the leader master and other masters.

[2022-07-10 15:24] ruanwenjun commented on #10473
We can use a single WorkflowEventQueue, and for each TaskInstance we can create a TaskEventQueue, all state changed are at the event handler. we  can control the event handle at event handler.

[2022-07-10 17:04] zhuxt2015 commented on #10874
## leader选举
1. master之间使用raft算法进行选举, 由raft算法保证不会出现脑裂的情况,  [raft算法演示](http://thesecretlivesofdata.com/raft/#election)
1. raft算法需要半数以上的节点存活才能保证集群继续运行。3个master最多宕机1个, 5个master节点最多宕机2个,依次类推。
1. 如果master存活少于半数, 所有剩余master自杀
2. 如果leader master 死掉, 会在剩余的follower中重新选择leader, 并且重新选举的时间控制在几百毫秒以内。
## 监控及信息存储
1. worker和follower将原来写入zookeeper的心跳信息(HeartBeat.class), 通过Netty发送给leader节点, 由leader节点保存在内存中
3. follow

[2022-07-11 00:21] #10270 closed, assigned to caoes

[2022-07-11 01:57] #10854 closed, assigned to ruanwenjun

[2022-07-11 02:09] davidzollo commented on #10157
good suggestion, and has assigned to you @stalary

[2022-07-11 02:36] zhongjiajie opened #10878 "[impv] [dependent] dependent should not dependent on same process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

currently can dependent on the same process' task, it will confuse user for task-dependent support both edge or dependent, also it will fail our dependent test in #10873

### What you expected to happen

we should add incomp

[2022-07-11 02:40] Flutemr commented on #10540
today ，I have this mistake on many tasks。
![1657507161(1)](https://user-images.githubusercontent.com/30035663/178178789-d18e8075-c9d0-49df-9293-7f2dcbbce661.jpg)
![1657506958(1)](https://user-images.githubusercontent.com/30035663/178178729-63b2c571-3c63-46d9-b4c1-6fcc2239caad.jpg)
![1657507114(1)](https://user-images.githubusercontent.com/30035663/178178784-28b05ebc-6441-42b2-9721-18d02c2cc83f.jpg

[2022-07-11 02:44] Flutemr commented on #10540
没有，今天好多个任务又出现了。

[2022-07-11 04:53] TheOldOne-SU commented on #9873
我也有遇见了这个问题，有没有解决方案？

[2022-07-11 05:57] zhongjiajie commented on #10878
some useful discussion in [#10873](https://github.com/apache/dolphinscheduler/pull/10873#discussion_r917517205)

[2022-07-11 07:59] brave-lee commented on #9873
It has been repaired in version 2.0.6. Please see #10517

[2022-07-11 08:09] github-keep commented on #10781
Google Chrome 103.0.5060.114（正式版本）（32 位）and Microsoft Edge 103.0.1264.49 (正式版本) (64 位)

[2022-07-11 08:55] #10871 closed, assigned to caishunfeng

[2022-07-11 09:25] hsnotebook opened #10883 "[Bug] [Process] When I save process without modifying it, t_ds_task_definition keeps growing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1. Open a process
2. add a node
3. save process
4. save process again, the new node will be inserted into t_ds_task_definition again with the same `code`.
5. refresh the page
6. save process, `Duplicate key TaskDefinition` a

[2022-07-11 11:08] gongzh021 opened #10885 "[Bug] [DATAX] datax target data source echo failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

datax目标数据源回显失败
![image](https://user-images.githubusercontent.com/96610911/178251260-d8e33c2e-0d15-4db3-aefb-8c6febd52e0f.png)

### What you expected to happen

1

### How to reproduce

1

### Anything else

_No response_

#

[2022-07-11 12:05] gongzh021 opened #10887 "[Bug] [Timing policy] Time policy setting bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/96610911/178260264-c20abb5d-3abb-4234-98e5-bfba8e187f69.png)

### What you expected to happen

1

### How to reproduce

1

### Anything else

_No response_

### Version

3.0

[2022-07-11 13:38] SbloodyS commented on #10883
It has been fixed in 2.0.6

[2022-07-11 13:38] #10883 closed, assigned to nobody

[2022-07-12 00:22] #10271 closed, assigned to nobody

[2022-07-12 00:22] #9688 closed, assigned to nobody

[2022-07-12 00:33] pinkhello commented on #10887
#10833

[2022-07-12 00:34] pinkhello commented on #10887
click “执行时间“ button

[2022-07-12 01:18] #10436 closed, assigned to devosend

[2022-07-12 01:19] devosend commented on #10885
I will fix it

[2022-07-12 01:19] Flutemr opened #10889 "[Bug] SQL task prepareStatementAndBind error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

some task have thie error ，the logs ：
![1657588032(1)](https://user-images.githubusercontent.com/30035663/178387309-9c677067-7a35-48bc-bea2-683ba5ecefdb.jpg)
![1](https://user-images.githubusercontent.com/30035663/178941380-

[2022-07-12 01:56] SbloodyS commented on #10889
Please check whether hiveserver2 can be connected.

[2022-07-12 02:00] Flutemr commented on #10889
yes, I increased the values of  "hive.server2.thrift.max.worker.threads"  and  "hive.metastore.client.socket.timeout"。
I will continue to observe tomorrow。thx。

[2022-07-12 02:31] EricGao888 commented on #10387
@complone FYI, you may also refer to [airflow-code-editor](https://github.com/andreax79/airflow-code-editor) to see how workflow as code could be integrated with git.
![image](https://user-images.githubusercontent.com/34905992/178395668-71002a0b-14aa-484c-a0ef-daff1684dc31.png)

[2022-07-12 02:41] rockfang opened #10890 "[Bug] [UI] some bugs in the `Resource` page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 some bugs in the `Resource` page
1. click edit a `file` in `UDF Manage - Resource Manage`. modal Text error
![image](https://user-images.githubusercontent.com/16065427/178390953-12c7a2e3-849c-44fd-b29e-f19e17d92a00.png)
2.

[2022-07-12 02:52] caishunfeng commented on #9905
Hi @luoyedeyi do you fix this issue?

[2022-07-12 02:56] kaori-seasons commented on #10387
Thank you very much for your help let me take a look first

[2022-07-12 02:57] caishunfeng commented on #8543
sure, I have added.

[2022-07-12 02:58] EricGao888 commented on #8543
Thx~

[2022-07-12 03:52] ruanwenjun opened #10891 "[Improvement][Module] Add new module dolphinScheduler-bom to manage the third part dependencies"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, we use DependencyManagement in root/pom.xml to manage all third part dependency version.

The problem is that when someone want to rely ds, he cannot manage the third part dependency, he need to do this

[2022-07-12 04:03] Tianqi-Dotes opened #10893 "[Bug] [SWITCH-PLUGIN] Switch task plugin wrong class name and no param validation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

the code use switch task plugin names subprocess which goes wrong.
there is no validation to the default next node, so you can create a switch task without default next node. when conditions not triggered, the switch task fa

[2022-07-12 06:08] #10827 closed, assigned to ruanwenjun

[2022-07-12 06:42] liguotian opened #10895 "[Bug] [standalone] view log with empty content"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

start a dolphinscheduler in standalone mode, then execute shell or http task 。
task execute success,
but I can view any effective log in LogViewWindow .
![image](https://user-images.githubusercontent.com/20315924/178423233-1

[2022-07-12 07:17] CriysHot commented on #10340
Excuse me,i wanna know how to change the conf conveniently？should I compile the code？

[2022-07-12 08:08] JensonZou commented on #10043
I have the same problem, I think the downstream task should be triggered when I click the button for force success, if not, what's the point of force success.

[2022-07-12 08:14] yangjf2019 commented on #10509
"我是上传文件179mb，上传超过15秒后就自动取消了"
目前，我也遇到了相同的问题，大于 10mb，上传 15s 后，就自动取消了。

[2022-07-12 08:17] yangjf2019 commented on #10509
从 faq 里面看见有建议的处理方式：https://dolphinscheduler.apache.org/zh-cn/docs/release/faq.html

但是当前 3.0.0-beta 版本应该没有使用 nginx ，已经使用 jetty 替换了。
![image](https://user-images.githubusercontent.com/54518670/178443672-326aed3d-d0bd-4184-b984-e3f579d67f9a.png)

![image](https://user-images.githubusercontent.com/54518670/178443592-60336ffc-3eeb-41fb-a613-a556cb0a25cb.png)

[2022-07-12 08:22] EricGao888 commented on #10509
related: #10340

[2022-07-12 08:23] EricGao888 commented on #10340
related: #10509

[2022-07-12 08:33] Tianqi-Dotes commented on #10893
add frontend next node  validation

[2022-07-12 08:34] Amy0104 commented on #10893
Got it.

[2022-07-12 08:41] #10893 closed, assigned to Tianqi-Dotes

[2022-07-12 08:53] yangjf2019 commented on #10340
I'm having the same problem, what specific file configuration needs to be changed, please? The service.ts file was not found. @CriysHot @yaowj2

The file url is https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-ui/src/service/service.ts.

[2022-07-12 08:55] yangjf2019 commented on #10509
@EricGao888 Thanks.

[2022-07-12 09:17] gongzh021 commented on #10887
The result after clicking "执行时间" does not match the time zone.

[2022-07-12 09:21] ruanwenjun commented on #10509
Close this issue, since duplicated with #10340

[2022-07-12 09:21] #10509 closed, assigned to nobody

[2022-07-12 09:29] lordk911 opened #10899 "[Bug] [dependent task] dependent task failed when the process to be dependent on that have forbidden to run task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

a process PA contain any forbidden to run task , when process PB have task TB dependent on PA, then TB will fail.
But in dolphin2.0.5 this scenario will work.

### What you expected to happen

work as before

### How to repr

[2022-07-12 09:35] lordk911 opened #10901 "[Bug] [api] admin can't see dependent task's dependent on process name but only code"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

admin can't see dependent task's dependent on process name but only code , if I use a normal user , all is ok.
both in version 2.0.5\2.0.6

![aa](https://user-images.githubusercontent.com/19989300/178459370-44535ac4-cd97-477

[2022-07-12 09:41] jieguangzhou opened #10902 "[Bug] [MLflow plugin] The task running status is incorrect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The task running status is incorrect

### What you expected to happen

After model correct training is complete, the state is set to fail

### How to reproduce

Run MLflow project

### Anything else

_No response_

### Versi

[2022-07-12 09:50] didiaode18 opened #10903 "[Bug][Alert] SXSSFWorkbook bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/22792154/178461062-6a35e588-76cc-47af-b631-2d1d03fb461e.png)
When I set the alarm instance to attach or table attachement mode, I found that the alarm does not trigger

###

[2022-07-12 09:50] ChenpiDog opened #10904 "[Feature][Flink] Flink on kubernetes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I hope the next official version can support the scheduling of Flink on kubernetes.

### Use case

I hope the next official version can support the scheduling of Flink on kubernetes.

### Related issues

_No respo

[2022-07-12 09:50] didiaode18 commented on #10903
@ruanwenjun

[2022-07-12 10:01] Fmyao commented on #8202
2.0.5中也有这个问题

[2022-07-12 10:04] yangjf2019 commented on #10340
Solved, the following 4 files need to be modified.
[code]
and find the following configuration `baseURL:"/dolphinscheduler",timeout:15e3`,then modify 15e3 to 15e5 or greater.

[2022-07-12 10:07] EricGao888 commented on #10340
@yangjf2019 Great job! Would you like to submit a PR to fix this?

[2022-07-12 10:10] yangjf2019 commented on #10340
Thanks, I can try.

[2022-07-12 10:21] ly1ex opened #10905 "[Feature][Python] Python API CLI Enhancement"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Make pydolphinscheduler's CLI more powerful, make it can operate the model of DolphinScheduler, run pydolphinscheduler's code, visualize its DAG graph in the terminal.

## Content

### Project/Tenant/User Side

*

[2022-07-12 10:24] yangjf2019 commented on #10340
Hi, @EricGao888 is it possible to increase the value of this parameter so that it becomes 30 minutes?

[2022-07-12 10:25] yangjf2019 commented on #10340
In general, and frankly, it's not recommended to use dolphinscheduler to upload files that are too big!

[2022-07-12 10:33] zhongjiajie commented on #10905
Tips: if you already have exists sub-issue or sub-PR, you can change it to

[code]

and it will reduce like
![image](https://user-images.githubusercontent.com/15820530/178470596-6fc692b1-2832-45a1-a51d-fb14d56cf6d8.png)

the convenient is when related issue or pr is be closed, you list will be auto-click by github itself

[2022-07-12 10:34] ly1ex commented on #10905
Got it.

[2022-07-12 10:35] lordk911 opened #10906 "[Bug] [LoggerServer] dependent task can't see log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

dependent task run on master node , but LoggerServer start with worker node , if the host only have a master node , so there is no LoggerServer , then when dependent task fail , I can't see the detail. if I start LoggerServe

[2022-07-12 10:41] zhongjiajie commented on #10905
I suggest we separate *Add CURD to the project/tenant/user section of the API and add its tests.* into three PR, and combine the python api code into it. and then add CLI part, just like

* Add CURD to the project for python gateway service and python api side its tests.
* Add CLI for project

Only by completing those jobs, we can say completed a single submodule of this topic, whcih including jav

[2022-07-12 10:56] EricGao888 commented on #10340
May I ask whether it is possible to make it configurable for users?

[2022-07-12 10:58] yangjf2019 commented on #10340
Yes, I think it should be done too, please let me take another look, thanks.

[2022-07-12 11:07] WangJPLeo opened #10909 "[Bug] Stop process instance state is incorrect."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Stop process instance state is incorrect.

### What you expected to happen

process instance state is correct.

### How to reproduce

Execute a process instance and stop it.

### Anything else

No

### Version

dev

### Are

[2022-07-12 11:14] xdu-chenrj opened #10911 "[DSIP-13][Feature][Python] Adding a resource file loading plugin to the DolphinScheduler Python API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* [x] Decorator implementation
  * [x] A simple Resource plugin that supports local files
  * [x] Local Resource Plugin Refinement
* [x] GitHub Resource Plugin
  * [x] Private Repository Authentication
  * [x] Fil

[2022-07-12 11:29] zhongjiajie commented on #10911
Same TIPs from https://github.com/apache/dolphinscheduler/issues/10905#issuecomment-1181596546

[2022-07-12 11:32] zhongjiajie commented on #10911
tests and documents not included in your tasks, it is ok not exists in tasks but I hope you will submit both tests and documents in each task's PR, Specifically how a developer develops a new plugin

[2022-07-12 11:40] xdu-chenrj commented on #10911
ok

[2022-07-12 12:45] #10822 closed, assigned to hiSandog

[2022-07-12 12:58] #10902 closed, assigned to nobody

[2022-07-12 13:23] liguotian commented on #10895
@SbloodyS   I have fix this bug ，and request a PR #10912 。but this is my fisrt time to commit ，and need a maintainer to approve running workflows  ，Please Help it

[2022-07-12 13:29] SbloodyS commented on #10906
LoggerServer has been optimized and embedded into masterServer and workerServer in version 3.0.0.

[2022-07-12 13:32] SbloodyS commented on #10895
LoggerServer has been optimized and embedded into masterServer and workerServer in version 3.0.0.

I'm not sure if we should add this feature in version 2.0.7. PTAL @caishunfeng @zhongjiajie @ruanwenjun

Dupliated with #10906

[2022-07-12 13:37] SbloodyS commented on #10901
This has been fixed in version 3.0.0. #8922

[2022-07-12 13:37] #10901 closed, assigned to nobody

[2022-07-12 14:29] liguotian commented on #10895
#10906 maybe different problem with this。it need  manual startup every severs include loggerServer Or start all server  when  DS  start not by standalone mode , but when start by standalone。 i think it is unnessary to  additional  start logger server 。and  standaloneServer also need a  logback xml ，If not, no log will be generated。

[2022-07-12 14:36] zhuxt2015 opened #10914 "[Bug] [Api Server] cron manager create time not display"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

<img width="996" alt="image" src="https://user-images.githubusercontent.com/13765310/178515469-4ba65d23-daa5-4cc0-9e7f-4eece8fecc2c.png">

### What you expected to happen

display timing record start time

### How to reprodu

[2022-07-12 15:31] pinkhello commented on #10887
this issue is like #10833

[2022-07-12 19:10] WangJPLeo opened #10916 "[BUG-BE][Complete Data] Under the serial strategy, the complement function is abnormal."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Under the serial strategy, the complement function is abnormal.

### What you expected to happen

normal execution

### How to reproduce

1. create shell task (sleep 60s)
2. select serial wait strategy
3. run shell task
4. r

[2022-07-13 00:49] fhygh opened #10918 "[Bug] [DataSource] MySQL Connection number increasing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in dolphin worker-server, mysql connection number increasing always, which lead mysql server cannot work.
![image](https://user-images.githubusercontent.com/25889738/178624684-ca6fa8eb-73e5-4dde-b0f2-d45a73208ca5.png)

while

[2022-07-13 01:19] caishunfeng commented on #10895
In general, 2.0.x version will only do bugfixs, and will not add feature prs.

[2022-07-13 01:23] SbloodyS commented on #10895
Sorry. My mistake. I have remove duplicated label.

[2022-07-13 01:53] #10914 closed, assigned to zhuxt2015

[2022-07-13 01:55] #9993 closed, assigned to devosend

[2022-07-13 02:30] lordk911 commented on #10899
If there are forbidden tasks in workflow A and tasks in workflow B depend on the entire workflow A, then workflow B will fail, even if WORKFLOW A succeeds

如果工作流A里有禁止运行的任务，工作流B里的任务依赖整个工作流A，那么工作流B会失败，即使A成功了

[2022-07-13 02:40] ruanwenjun commented on #10918
I just see the latest code, we didn't use connection pool in SQL task, so the hikari pool config isn't used for SQL task.

Right now, for each task we will create a new connection and will close this connection after finished. I am not clear if we need to use connection pool in SQL task.

cc @caishunfeng @SbloodyS

[2022-07-13 02:49] SbloodyS commented on #10918
I think we can provide an configure option of whether use connection pool to users in the data source center.

But I think using connection pooling in SQL task may cause task blocking since ds is a distributed big data scheduling system. It is common to execute hundreds of tasks in parallel. The maximum number of connection supported in the database of my current production environment is 10000.

[2022-07-13 03:09] Chris-playground opened #10919 "[Bug] [Data Quality] Data Quality Report Display For Admin Role"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Before we switched to LDAP login, everything was fine, but when we use LDAP to login DS, the data quality report page dosen't show properly.
Previously, admin is the only user of administrator role, and his user_id is `1`, w

[2022-07-13 03:23] #10916 closed, assigned to WangJPLeo

[2022-07-13 03:30] JensonZou opened #10920 "[Bug] The downstream task instance is not triggered to execute when I click the button for force success"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When the task retries the maximum number of times and failed, and I click the button for force success, the downstream task instance is not triggered to execute.

### What you expected to happen

I think the downstream task

[2022-07-13 03:39] SbloodyS commented on #10920
@JensonZou Hi, you can try to `Recovery Failed` the workflow after force success the task.

[2022-07-13 03:40] caishunfeng commented on #10904
Hi @ChenpiDog can you add some detail description of it?

[2022-07-13 03:42] caishunfeng commented on #10828
Same issue #10904
So I will close this one.

[2022-07-13 03:42] ruanwenjun commented on #10903
I just test the method `ExcelUtils#genExcelFile`, this can work well,  you can use `ExcelUtilsTest#testGenExcelFile` or write a test to test this method. You may need to provide more information.

[2022-07-13 03:42] #10828 closed, assigned to lizhongshuai

[2022-07-13 03:44] #10820 closed, assigned to huangchenguang123

[2022-07-13 03:48] caishunfeng commented on #10809
Hi @yyunlei please use English on description, which can make more developers understand, thanks.
Are you interested in fixing this bug?

[2022-07-13 03:49] caishunfeng commented on #10809
When user stop the processInstance in ui, it will try to kill yarn job, can you find some error log about it?

[2022-07-13 04:03] JensonZou commented on #10920
Thank you for your reply. I think it's a way, but this requires the whole process to end

[2022-07-13 04:21] ChenpiDog commented on #10904
@caishunfeng For the task type of Flink, the dolphinscheduler supports scheduling Flink deployed in local mode or yarn mode, but it does not seem to support scheduling Flink deployed on kubernetes. I can't find the relevant instructions on the official website.

[2022-07-13 04:25] ChenpiDog commented on #10904
My Flink is deployed with kubernetes, and my ETL is Flink SQL. I expect to use the dolphinscheduler to schedule or manage my Flink SQL.

[2022-07-13 05:32] 704237006 opened #10924 "[Question] worker does not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

After the task is executed, it is always in the state of submit success, and the worker has no new log. In the past, it's good to restart the worker. This time, it's still abnormal. There are no logs in the worker. Why?

任务执

[2022-07-13 05:37] SbloodyS commented on #10920
If you want to bypass the whole workflow you can use dry run.

[2022-07-13 06:27] #10784 closed, assigned to pinkhello

[2022-07-13 06:29] zzzhangqi commented on #10533
I had the same problem. 3.0.0-beta-2 run in docker.
set docker env `PYTHON_HOME=/usr/bin/python3`, running python task does not take effect,Prompt does not have permission.

Successful operation:
set env `PYTHON_HOME=/usr/bin/python3` in environment-manage,python task works normally.

Why didn't `/opt/dolphinscheduler/conf/dolphinscheduler_env.sh` take effect?

[2022-07-13 06:34] caishunfeng commented on #10904
Now ds has k8s task type in dev, I'm not sure it's what you need, but you can have a try.

[2022-07-13 07:10] ruanwenjun commented on #10924
Has the task dispatched to worker?

[2022-07-13 07:18] ruanwenjun opened #10927 "[Improvement][API] Use object rather than json in Controller"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I find we have reverted the `JsonTypeInfo` in #10276, this is not a good practice, use json will make the api lose readable.
We need to revert this, can for taskParameter, we also need to use object rather than js

[2022-07-13 07:18] ruanwenjun commented on #10927
cc @SbloodyS  @caishunfeng

[2022-07-13 07:19] lordk911 opened #10928 "[Feature][API-SERVER] subprocess instance can be query out from web"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

now subprocess instance can't be query out from web, this is hard to debug in some situation

### Use case

I don't know why dolphinscheduler design subprocess instance can't be query out from web side , some time

[2022-07-13 07:29] ikiler commented on #10904
I build the dev , flink still uses yarn by default in application mode ,  I find the k8s task , but  cannot be applied to flink  , you can  look at this  [application mode](https://nightlies.apache.org/flink/flink-docs-release-1.15/zh/docs/deployment/resource-providers/native_kubernetes/#application-mode)   Pod creation, operation, and destruction are all operated by flink itself ,  like this:
[co

[2022-07-13 07:37] gaoyan1998 commented on #10904
I build the dev , flink still uses yarn by default in application mode , I find the k8s task , but cannot be applied to flink , you can look at this [application mode](https://nightlies.apache.org/flink/flink-docs-release-1.15/zh/docs/deployment/resource-providers/native_kubernetes/#application-mode) Pod creation, operation, and destruction are all operated by flink itself , like this:

[code]
fli

[2022-07-13 08:00] caishunfeng commented on #10904
I get your point, they are different way. So it's better to expand flink task to support the k8s deployment modes.
@ikiler Are you interested in expanding flink task? like #9577

[2022-07-13 08:05] didiaode18 commented on #10903
Thank you ruanwenjun, I have tested ExcelUtilsTest#testGenExcelFile in both linux and windows, it can generate EXCEL. But in the officially deployed 2.0.5 environment, I passed the debug code, and when the genExcelFile method finished wb.write(fos), it directly reported an exception and could not go to the next step. @ruanwenjun

[2022-07-13 08:09] Amy0104 opened #10930 "[Bug] [Project] The next node of the switch task should not be required."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The next node is required, and then I can't save a switch task.

### What you expected to happen

The next node of the switch task should not be required.

### How to reproduce

1. create a switch task.

### Anything else

_

[2022-07-13 08:12] shangeyao opened #10931 "[Feature][Task Plugin] Sqoop Task Support SqlServer Source"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Above

### Use case

Above

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Cond

[2022-07-13 08:13] 704237006 commented on #10924
From the first picture, it is distributed, and the table t_ ds_ task_ Instance has a new row.

[2022-07-13 08:14] 704237006 commented on #10924
From the first picture, it is dispatched , and the table t_ ds_ task_ Instance has a new row.

[2022-07-13 08:29] caishunfeng commented on #10918
Another point is that ds has many datasource type, I'm not sure we can use a connection pool to support all the datasource type.

[2022-07-13 08:30] JensonZou opened #10934 "[Feature][Trigger]The downstream task instance can be triggered to execute when I click the button for force success"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When the task retries the maximum number of times and failed, and I click the button for force success, the downstream task is not triggered to execute. I want it to be triggered. It will be a nice feature for dol

[2022-07-13 08:43] gaoyan1998 commented on #10904
I'd love to if I could, but I have no good idea to solve it now.  we are still using  placing the api in the jar and using the history-server api to monitor the app  in ds, which is obviously a bad practice

[2022-07-13 09:02] cxy-java commented on #249
+1

[2022-07-13 09:09] Tandoy opened #10936 "[Bug] [task-plugin] There is an error in the logic of judge depend item finished in the dependent node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

1.a workflow exists manual run and schedule run
2.the scheduled execution end time is later than the manual execution time
3.dependent node detection failed

![微信图片_20220713093652](https://user-images.githubusercontent.com/5

[2022-07-13 09:16] zhouhongyu888 opened #10938 "[Question] [3.0.0-beta-2] /tmp/dolphinscheduler/exec/process.command: /bin/spark-submit: not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I hava deployed ds by docker-compose and mount the spark-client on localhost，when I submit a spark-task(the example task of sparkPi), the error below happends:
[INFO] 2022-07-13 08:30:49.424 +0000 [taskAppId=TASK-20220713-61

[2022-07-13 09:30] weile321 opened #10939 "can't use python3"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

version: 2.0.5
In the **Environment managemen**t, I had set  **PYTHON_HOME=/usr/bin/python3** . But when I exec the python scripts, it still used the **default python2.7**

### What you expected to happen

I want to use pyth

[2022-07-13 09:36] ruanwenjun commented on #10924
In fact, the task will first submit to db and then really dispatch to worker, I guess, the task hadn't been dispatched to worker, you may need to provide more logs.

[2022-07-13 09:39] ruanwenjun commented on #10939
2.0.5 doesn't support set PYTHON_HOME, you need to link your `python3` to `python`

[2022-07-13 09:39] #10939 closed, assigned to nobody

[2022-07-13 09:42] shangeyao opened #10942 "[Improvement][UI][Dependent Task Plugin] The workflow or task name is too long and results in incomplete display"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The workflow or task name is too long and results in incomplete display

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Co

[2022-07-13 09:46] ruanwenjun commented on #10936
Please describe your problem clearly, and AFAIK, we use endTime in dependent node to judge if the dependent node finished is our expected. cc @caishunfeng

[2022-07-13 09:53] Jekong-hao opened #10943 "[Bug] [Module Name] copy task bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

在复制工作流详情页面copy task后，修改数组类型的参数，会导致被复制的任务相应参数也被修改

### What you expected to happen

前端页面浅拷贝的问题

### How to reproduce

在复制工作流详情页面copy task后，修改数组类型的参数，会导致被复制的任务相应参数也被修改,如下图
1. 新建一个task，定义一个前置sql
![image](https://user-images.git

[2022-07-13 09:59] Jekong-hao commented on #10943
#10940 已提交解决办法

[2022-07-13 10:00] weile321 opened #10944 "2.0.6 can't run"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

test@ub18-test-dolphinscheduler:~/apache-dolphinscheduler-2.0.6-src/docker/docker-swarm$ clear
test@ub18-test-dolphinscheduler:~/apache-dolphinscheduler-2.0.6-src/docker/docker-swarm$ sudo docker pull dolphinscheduler.docker

[2022-07-13 10:00] Tandoy commented on #10936
IMO If there are multiple run records in the workflow, it should not be through the start time to obtain the last and latest workflow instance. As I described in what happened. cc @caishunfeng

[2022-07-13 10:02] weile321 commented on #10944
ERROR: manifest for apache/dolphinscheduler:2.0.6 not found: manifest unknown: manifest unknown

[2022-07-13 11:20] EricGao888 commented on #10942
Hi @shangeyao, thanks for submitting this issue. May I ask how you want to improve this? Any specific ideas?

[2022-07-13 12:45] #10909 closed, assigned to WangJPLeo

[2022-07-13 12:49] SbloodyS commented on #10928
You can find subprocess in the workflow instance page.

[2022-07-13 13:22] liguotian commented on #10257
can i participate in this ，such as  ResourcesController  ，but  I'm not sure how  to reactor 。for example  read some reactor PR and ResourcesController code ,what i need to do is

1.   rename ResourcesController to ResourcesV2Controller ,requestmap to  /v2/xxxxx
2.  replace The input and output parameters if map or json to POJO
3.  define  explicit error info or message
4.  supplement Api doc if ha

[2022-07-13 13:28] zhongjiajie opened #10949 "[Feature][python] Should vaildate version in both python api and java gateway equal or not"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Some users use a different version of python gateway service and pydolphinscheduler, and it will cause errors. we should better check the version of them before submit the actual code

### Use case

_No response_

[2022-07-13 15:10] SbloodyS commented on #10938
It seems you lack of spark environment.

[2022-07-13 15:40] jfly0902 opened #10953 "[Bug] [DataQuality] modify param don't save and don't call api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

FiledLengthCheck modify param and save them without calling back-end interface。
<img width="626" alt="image" src="https://user-images.githubusercontent.com/51994771/178774036-fcb4d84b-916a-4f68-812b-e4f75b4eb027.png">

<img

[2022-07-13 16:14] SnowMoon-Dev opened #10954 "[Bug] [TaskGroupOption] Querying the task group list returns empty data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Querying the task group list returns empty data

### What you expected to happen

Querying the task group list returns data

### How to reproduce

see task group option

### Anything else

<img width="1854" alt="image" src="

[2022-07-14 00:25] #10280 closed, assigned to 106umao

[2022-07-14 00:25] #9894 closed, assigned to nobody

[2022-07-14 00:44] Flutemr commented on #10889
I add a other hiveserver2 at  yesterday,now you can close this issues。

[2022-07-14 00:56] weile321 opened #10956 "2.0.6 on docker development, can't run"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

step1: docker pull dolphinscheduler.docker.scarf.sh/apache/dolphinscheduler:latest  --it'ok

step2: docker-compose up -d
           -- Pulling dolphinscheduler-api (apache/dolphinscheduler:2.0.6)...
               **ERROR: m

[2022-07-14 01:16] jfly0902 commented on #10953
数据质量检查，我配置的跟日志看到的字段不一样，上面有对应的截图。还有就是我保存的时候，前端不会调用接口，没有保存成功，3.0的版本

[2022-07-14 02:15] #10930 closed, assigned to Amy0104

[2022-07-14 02:31] ruanwenjun commented on #10936
OK, I understand, I agree with we need to use endTime rather than startTime.

[2022-07-14 03:07] abluson opened #10959 "[Bug] [data quality] check column not display"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![企业微信截图_1657766745319](https://user-images.githubusercontent.com/109258081/178887641-c23e10a4-75f9-4652-bc31-a5cdac269ed2.png)
![企业微信截图_16577670087491](https://user-images.githubusercontent.com/109258081/178887661-ef2357ac-

[2022-07-14 03:16] #10954 closed, assigned to SnowMoon-Dev

[2022-07-14 03:16] abluson opened #10961 "[Bug] [alert service] email alert failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The alert service is running.
![企业微信截图_16577684619245](https://user-images.githubusercontent.com/109258081/178890328-be13c1d4-8830-4407-97bc-6f6471491abc.png)
When running a work flow, see the alert-server log.
![企业微信截图_1657

[2022-07-14 03:21] Tandoy commented on #10936
If there are schedule run and manual run in a workflow during the interval, shouldn't we get the latest run status to judge, not the last? This is my doubt. I look forward to your answer. Thank you

[2022-07-14 03:43] SbloodyS commented on #10961
Hi @abluson , Could you describe the steps to reproduce this problem?

[2022-07-14 05:41] abluson commented on #10961
I created a alarm instance named "alarm_instance1", and created a alarm group named "alarm_group1", then created a work flow named "test_flow1" and used alarm_group1 and runned this work flow.
![企业微信截图_1657776928378](https://user-images.githubusercontent.com/109258081/178908193-51d61b91-614e-465e-8aac-f617c490744f.png)
![企业微信截图_16577769721281](https://user-images.githubusercontent.com/109258081/17

[2022-07-14 05:58] huangchenguang123 opened #10962 "[bug] [master] task can't use [out] type param"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

task can't use [out] type param.
![image](https://user-images.githubusercontent.com/37766284/178894470-795336f9-acfc-4cae-b71f-f7c67030f03a.png)

sqlTask use prepareParamsMap to replace param.
![image](https://user-images.gi

[2022-07-14 06:07] EricGao888 opened #10963 "[Feature][style] Replace checkstyle plugin with spotless to automatically fix formatting errors"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, DS CI checks formatting errors. However, it will be much more conveniently if we could find those style errors and automatically fix them before pushing the code.
* We could introduce `spotless` plugi

[2022-07-14 06:17] zhongjiajie commented on #10956
@weile321 Sometimes, docker images will be pushed to dockerhub a few days later than the binary release. and the good new is, now version 2.0.6  is available in docker hub now https://hub.docker.com/repository/docker/apache/dolphinscheduler/tags?page=1&ordering=last_updated

[2022-07-14 06:17] #10956 closed, assigned to nobody

[2022-07-14 06:18] SnowMoon-Dev opened #10965 "[Bug] [TaskGroupOption] Create a task group to bypass the project name"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Create a task group to bypass the project name

### What you expected to happen

Some required fields are required to successfully create the project

### How to reproduce

1. crate task group option
2. no select project
3.

[2022-07-14 06:19] zhouhongyu888 commented on #10938
This is  a bug，when execute the command, it seems to use  /bin/spark-submit,  not  $SPARK_HOME2/bin/spark-submit。so I copy the scripts in the directory of $SPARK_HOME2/bin to the directory of /bin，the bug disappears

[2022-07-14 06:20] SbloodyS commented on #10938
The reason for the failure is that the source environment variable failed. Please check it.

[2022-07-14 06:22] #10402 closed, assigned to nobody

[2022-07-14 06:45] weile321 commented on #10956
@zhongjiajie hi, does 2.0.6 support python3 ? thx

[2022-07-14 07:08] SbloodyS commented on #10944
Duplicated with #10956.

[2022-07-14 07:08] #10944 closed, assigned to nobody

[2022-07-14 07:24] weile321 opened #10967 "2.0.6 docker-development, environment variable [PYTHON_HOME] doesn't take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

path：apache-dolphinscheduler-2.0.6-src/docker/docker-swarm
the config.env.sh, in this config, I set the python_home to /usr/bin/python;
but It doesn't take effect?

### What you expected to happen

path：apache-dolphinschedul

[2022-07-14 07:35] fhygh commented on #10918
@SbloodyS  in dolphin 1.3.5, no this problem.
![image](https://user-images.githubusercontent.com/25889738/178927567-5dee3433-0494-4fd2-99e2-fe70be61690a.png)

all mysql connection is created by DriverManager and closed in finally

[2022-07-14 07:40] fhygh commented on #10918
@ruanwenjun  hello, we create HikariDataSource pool indeed, and you can test on SQL task with mysql datasource connection, you will see log "Creating HikariDataSource pool for maxActive" in worker-server log which is present in JDBCDataSourceProvider.java file.

[2022-07-14 07:52] fhygh commented on #10540
i think this is not dolphin issue, can you check the yarn logs of this task in yarn application ui?

[2022-07-14 08:17] #10890 closed, assigned to rockfang

[2022-07-14 08:21] SbloodyS opened #10971 "[Improvement][API] Reconstruct JSON defined by workflow's api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Reconstruct JSON defined by workflow's api

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.ap

[2022-07-14 08:36] Flutemr commented on #10540
new logs at #https://github.com/apache/dolphinscheduler/issues/10889。you  can see it。

[2022-07-14 08:37] #10889 closed, assigned to nobody

[2022-07-14 09:16] Flutemr opened #10972 "[Question]How can I get 2019 directly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I want 2019, so I use $[yyyy-4], but it is 2022 after the test。
How can I get 2019 directly。thx。
![1657790139(1)](https://user-images.githubusercontent.com/30035663/178948149-17755d74-e08d-4144-8f00-8bab25b87e01.jpg)
![16577

[2022-07-14 09:32] zhongjiajie opened #10974 "[Feature][python] Add local dev mod runing python integate tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

there is package pytest fixture in
https://github.com/apache/dolphinscheduler/blob/5289b09817396046489b28857ad54a85c5ffddb2/dolphinscheduler-python/pydolphinscheduler/tests/integration/conftest.py, which will crea

[2022-07-14 10:00] #10781 closed, assigned to github-keep

[2022-07-14 10:02] github-keep commented on #10781
Upgrade to 3.0.0-beta-2 and it can be used normally

[2022-07-14 10:29] ruanwenjun opened #10976 "[Improvement][UT] Upgrade junit to 5.+"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now, we still use junit 4.+ in our repo, I hope we can upgrade to [Junit 5.+](https://junit.org/junit5/docs/current/user-guide/#writing-tests), then we can easy to write the UT, JUnit 5 provide some useful f

[2022-07-14 10:30] ruanwenjun commented on #10976
cc #10573

[2022-07-14 11:03] #10595 closed, assigned to shangeyao

[2022-07-14 11:30] devosend commented on #10885
<img width="584" alt="image" src="https://user-images.githubusercontent.com/8847400/178972719-84bef850-ccfa-4b11-9a22-d711ee13033d.png">
I didn't reproduce your question. Can you provide a more detailed description?

[2022-07-14 11:35] fhygh opened #10978 "[Bug] [Resources] Upload Files failed because the GSS authentication failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

i'm using Hadoop FileSystem, after 24+ hours i upload files failed because GSS authentication failed, Failed to find any kerberos tgt.

### What you expected to happen

upload files successfully.

### How to reproduce

using

[2022-07-14 12:13] wjf222 commented on #8975
## Design
### CRUD
Etcd is a distributed key-value storage system which support CRUD originally.
For some temp keys which need to be deleted on discoonect. we can grant leases for keys from etcd cluster.When a key is attached to a lease, its lifetime is bound to the lease's lifetime which in turn is governed by a time-to-live(TTL).Once a lease's TTL elapses, the lease expires and all attached keys

[2022-07-14 12:44] #10845 closed, assigned to labbomb

[2022-07-14 14:53] SbloodyS commented on #10257
Very welcome to participate. The fourth point is to add that not only enumeration values, but also sample data is required for each parameter. You can choose the part you want to participate in and tell me after creating the issue.

[2022-07-15 01:12] yyunlei commented on #10809
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/7547693/179126639-302aea6d-7f6b-41e6-8982-b319f9b0e32d.png">

必须手动kill 或者yarn里边停止掉才可以
日志中发现yarn application -kill application_1655173184123_0031 没有用。但是单独手动执行就可以。

[2022-07-15 01:14] yyunlei commented on #10809
![image](https://user-images.githubusercontent.com/7547693/179127046-2f834dd6-fba4-4dad-a0e6-18e6bf1378cf.png)

[2022-07-15 01:27] #10815 closed, assigned to zhuxt2015

[2022-07-15 01:31] yyunlei commented on #10809
<img width="976" alt="image" src="https://user-images.githubusercontent.com/7547693/179128473-78118751-e616-45a1-bdfc-3a61690db2ac.png">
启动的时候，发现t_ds_task_instance 表中app_link 没有把 yarn运行的PID和applicationID存储进去，只有在执行停止的时候才会
进行写入，不知道是否与这个有关。

[2022-07-15 01:42] caishunfeng commented on #10936
I think use startTime or endTime is ok, since manual is only executed when schedule error or long time running. If schedule one is running for a long time, it will usually be killed first.

[2022-07-15 01:50] zhongjiajie commented on #10427
remove stale

[2022-07-15 01:52] caishunfeng commented on #8975
@ruanwenjun maybe we should take a DSIP of registry, and this issue as the sub issue of it, WDYT?

[2022-07-15 01:59] Tandoy commented on #10936
yes,manual is only executed when schedule error or long time running.However, the scheduled execution end time may be later than the manual execution time due to resources or network reasons.In this case, if we use the end time to judge, we will not get the latest process instance status.As I described in what happened.

[2022-07-15 02:11] ruanwenjun commented on #8975
Agree with you, but I just add DSIP label for this issue, I think we need to  create a ISSUE to collect all DSIP.

[2022-07-15 02:19] liguotian opened #10983 "[Feature][Api] Refactor org.apache.dolphinscheduler.api.controller.ResourcesController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

#10257 Suggest refactor the backend api
Refactor  org.apache.dolphinscheduler.api.controller.ResourcesController

### Use case

* rename ResourcesController to ResourcesV2Controller ,requestmap to /v2/xxxxx
* repl

[2022-07-15 02:21] liguotian commented on #10257
OK , I have create issue #10983 for refactor  api  org.apache.dolphinscheduler.api.controller.ResourcesController. 😁

[2022-07-15 02:23] SbloodyS commented on #10257
I've assigned it to you. Looking forward to your contribution.

[2022-07-15 03:04] xiashiwendao opened #10985 "DS for long-run/ daemon task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I have a long-run task, just like daemon task; which listen a port and handle message received.

I try to manage it by DS, feel a little hard, for I can't quick postion the task(it hide in so many schedule task in

[2022-07-15 03:07] liguotian commented on #10983
@SbloodyS  I see some  ` TODO`  feature like
[code]
Do we already have some request param verification frameworks like  hibernate validator。Or we need to develop a Specialized  for dolphinscheduler ？

[2022-07-15 03:33] jieguangzhou opened #10986 "[Bug] [MLflow Task plugin] Sometimes errors are reported using preset algorithms"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

 Sometimes errors are reported using preset algorithms
[code]

### What you expected to happen

This might solve the problem
[code]

### How to reproduce

Run MLflow Projects (BasicAlgorithm or AutoML)

### Anything else

_N

[2022-07-15 04:08] zhongjiajie opened #10988 "[Feature][python] Combine gateway.entry_point call in python api side"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We use `gateway.entry_point` anywhere when we need to cal some function from pythonGateway service now in our python api. it is may our code ugly and hard to maintain. such as https://github.com/apache/dolphinsche

[2022-07-15 04:26] zhongjiajie opened #10989 "[Feature][Python] Migrate all exists method call in PythonGateway to corresponding service"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In https://github.com/apache/dolphinscheduler/blob/1fcbbb653440106fc5ca94a6a9e2d218dc3be97f/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/python/PythonGateway.java, we will export function to

[2022-07-15 04:33] zhongjiajie opened #10990 "[Feature][python] Remove public call in PythonGateway code"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

after #10989 finishes, all functions in PythonGateway  just look like https://github.com/apache/dolphinscheduler/blob/7196b125d9a6612f2f175c2190d7758a09d7e0b9/dolphinscheduler-api/src/main/java/org/apache/dolphins

[2022-07-15 05:00] weile321 commented on #10967
1

[2022-07-15 05:34] zhuxt2015 commented on #10985
Please search task name in task instance

[2022-07-15 05:51] Chris-playground opened #10993 "[Bug] [Data Quality] Data Quality execute error when SqlServer tableName contains space"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I created a Data Quality workflow using SqlServer datasource, but it thrown a SQLServerException that can't read the table, I execute the sql in navicat, the SQL can't be executed unless the tableName is coverd by a pair of

[2022-07-15 06:17] SbloodyS commented on #10983
Currently, there is no framework. And it is judged in the service layer. @liguotian

[2022-07-15 06:45] finviman commented on #8432
确定这问题解决了吗，我用2.0.6，不行，又退回2.0.5，还是同样问题。

[2022-07-15 06:50] ruanwenjun commented on #10212
Is there any progress update?

[2022-07-15 07:38] #10986 closed, assigned to jieguangzhou

[2022-07-15 07:54] jieguangzhou opened #10995 "[DSIP-11][Feature][python] Use the pydolphinscheduler to dynamically generate workflows from the configuration file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Dynamically generate workflows from YAML configuration files, aka workflows-as-code.

Now we can use python-dolphinscheduler to build workflow easily. Workflows-as-code would be easier to use if we supported confi

[2022-07-15 07:56] zhuxt2015 opened #10996 "[Improvement][Master] Improve task dispatch to batch dispatch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

## 目前的task分发逻辑问题
1、分配时只考虑线程池队列空闲情况, 没有考虑worker的负载过高和可用内存较少的因素
2、一次只分发一个task给worker

## 优化
1、批量分配task
2、超过负载的worker暂时不分发task
3、分发task的数量参考当前worker可用的内存大小

## 流程图
![task批量分发](https://user-images.githubusercontent.co

[2022-07-15 08:43] jieguangzhou commented on #10996
I think we can treat it as a [knapsack problem](https://en.wikipedia.org/wiki/Knapsack_problem), and use the Hungarian algorithm to solve it.

1. Worker available memory as backpack capacity
2. Task memory is used as item weight
3. Task priority as item value (Or other reference values as values)

But there is an assumption:
1. We know the task memory usage

I don't know if that complicates the pr

[2022-07-15 09:11] caishunfeng commented on #10996
Now ds has a `LowerWeightRoundRobin` selector, it will filter the busy and abnormal worker, you can see the logic of `HeartbeatTask`.

[2022-07-15 09:33] zhuxt2015 commented on #10996
@caishunfeng
Yes, but `LowerWeightRoundRobin` only select lowest weight host,  not consider worker overload and low available memory.What if the lowest weight worker node is overload?

[2022-07-15 09:40] zhuxt2015 commented on #10996
@jieguangzhou We can not exactly get task memory usage before execute task,  Can only be estimated.

[2022-07-15 10:46] SbloodyS commented on #10995
@caishunfeng @ruanwenjun @EricGao888 @zhongjiajie PTAL.

[2022-07-15 10:54] hqzh opened #10999 "[Doc][dolphinscheduler-ui] front document"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

hi ,how can i build dolphinscheduler-ui select prod env use public path.
[code]
你好，我想在2.0.5的版本使用yarn build prod之后的路由带上/dolphinscheduler/ui，如果我在build或dev脚本那里加上PUBLIC_PATH=/dolphinscheduler/ui,生产会无法访问后台。开发环境会无法调试，也就

[2022-07-15 11:16] zhuxt2015 commented on #10996
I learned about the backpack algorithm, I think this issue does not fall into the category of backpack algorithms, but is bin packing problem.

[2022-07-15 12:56] EricGao888 commented on #10995
Hi @jieguangzhou, this looks good to me. For some users who are not willing to spend some time picking up python but do have tons of workflows to generate, yaml is a better approach than dragging and connecting tasks through the UI. Just curious, why do you want this feature? Are you a `yaml lover`? 😄

[2022-07-15 13:58] zhuxt2015 opened #11001 "[Improvement][Task Log] Task status log print description instead of code"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Printing status descriptions makes the logs clearer

<img width="1311" alt="image" src="https://user-images.githubusercontent.com/13765310/179237921-64d5aa97-e589-4156-898e-af426f2af3cd.png">
<img width="1297" alt

[2022-07-15 14:02] jieguangzhou commented on #10996
I'm sorry I got it wrong, it's more of a generalized assignment problem.
But on second thought, our scenario might not be so complicated that it might be harder to maintain the project. I think your approach is fine

[2022-07-15 14:09] jieguangzhou commented on #10995
If we can use YAML to manage workflows, it might make it easier for engineers to manage workflows and do version management. Git can be used to manage and share workflows.
In addition, after communicating with some overseas engineers, I found that some engineers prefer to use YAML to manage programs, which I think is also suitable for me.
I think `yaml` is better than `TOML` or `JSON` for this sce

[2022-07-15 15:24] SnowMoon-Dev opened #11003 "[BUG-BE][TaskGroupOption] Task group queue is not updated to final state"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Task group queue is not updated to final state

<img width="1467" alt="image" src="https://user-images.githubusercontent.com/42627702/179254290-b979ab6b-eb80-4fc2-9a1c-3a42e60db60c.png">

### What you expected to happen

Tas

[2022-07-16 03:42] #10972 closed, assigned to nobody

[2022-07-16 08:43] ZYJBigData opened #11006 "[Bug] [install.sh] The install.sh file does not determine whether the user has sudo privileges, and directly uses the sudo command to create the file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The install.sh file is created using the sudo command without determining whether the executing user has sudo permission.
![image](https://user-images.githubusercontent.com/41261112/179348626-1dc5f410-8d42-4e51-bb7d-5cb1bde9

[2022-07-16 09:20] caishunfeng commented on #10809
Yes, the taskInstance application id will be updated when task finish, so it will dothing to kill yarn job if application id is empty.
Maybe it should be improved to get process id or application id early.

[2022-07-16 09:21] brave-lee opened #11007 "[Bug] [Master] Recovery failed and stuck after successful enforcement of failed tasks in sub workflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Recovery failed and stuck after successful enforcement of failed tasks in sub workflow

### What you expected to happen

Sub workflow succeeded

### How to reproduce

1. AA workflow have three tasks A, B and C.  A and B run

[2022-07-16 10:58] zhuxt2015 commented on #10963
I agree to replace CheckStyle with Spotless. Resolve  format problem of the code as soon as possible

[2022-07-17 00:23] #8157 closed, assigned to zhongjiajie, kezhenxu94

[2022-07-17 05:28] ruanwenjun opened #11012 "[Improvement][Server] Remove dolphinscheduler-service in dolphin scheduler-server module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Right now we have `dolphinscheduler-server` and `dolphinscheduler-service` module, these two module  are existing in worker/master/api server, and some object are not needed, we need to move these to master/worker

[2022-07-17 08:53] EricGao888 commented on #10985
+1, I think you could search for it in `task instance` or `workflow instance` page. I will close this issue for now. If you have further questions, you are welcome to join the slack channel: https://join.slack.com/t/asf-dolphinscheduler/shared_invite/zt-1cjrb7im9-Pb8jtuGBLhNrK_GiDRIEbA
@xiashiwendao

[2022-07-17 08:53] #10985 closed, assigned to nobody

[2022-07-17 09:40] liyangyang-12138 opened #11013 "[Improvement][Common] YarnHAAdminUtils#getActiveRMName function can not supported HTTPS Hadoop environment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

HTTP requests are hard-coded in this place, and HTTPS Hadoop environment cannot be supported

![image](https://user-images.githubusercontent.com/27595289/179392569-6b1f58f7-714b-4e8b-bae7-5665bd9bf5d8.png)

### Ar

[2022-07-17 09:57] liyangyang-12138 commented on #11013
I want to get http protocol from this configuration
![image](https://user-images.githubusercontent.com/27595289/179393177-60a6926d-146b-4dd1-bbd4-09888553e8f1.png)

[2022-07-17 10:00] WangJPLeo opened #11014 "[Bug] Bad post handle argument to create token"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Create token failed to associate

### What you expected to happen

Normal

### How to reproduce

No admin user create an access token.

### Anything else

No

### Version

dev

### Are you willing to submit PR?

- [X] Yes I

[2022-07-18 00:22] #10393 closed, assigned to nobody

[2022-07-18 00:22] #9938 closed, assigned to nobody

[2022-07-18 01:27] yyunlei commented on #10809
不知道什么时候可以解决掉 ds 停止flink on  yarn 任务停不掉的bug呢？这样就可以上生产环境了。

[2022-07-18 03:18] liujunfei2230 opened #11021 "[Feature][Module Name] would dolphinscheduler can be supported on mobile?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

sometimes, we want to operator or check on mobile_phone instead of throughing  pc, just for some simple issues or problems. it could be more simpler on mobile than it on pcs. Many thanks!

### Use case

_No respon

[2022-07-18 04:00] zhongjiajie commented on #9473
remove stale

[2022-07-18 06:37] weile321 opened #11023 "[Docker] [2.0.6] Remote ssh can't exec"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

in the dockerswarm-worker can exec remote ssh;
but when copy the ssh cmd into the workflow on the web, the cmd can't exec;
it shows the error: 'Could not create directory '/home/XX/.ssh'.
	                        Host key ve

[2022-07-18 07:07] lugela opened #11024 "[Bug] Workflow stops but task instance does not stop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When I click kill workflow, but the task instance does not stop

workflow
![image](https://user-images.githubusercontent.com/18652779/179459819-6af1c116-c40e-4f11-b660-5fca1fcb3b20.png)
 task instance
<img width="1013" alt="

[2022-07-18 07:13] lugela commented on #11024
In addition, the log in the task instance is actually in the kill state, and the page display is running
![image](https://user-images.githubusercontent.com/18652779/179460988-cb11623a-52c7-45e5-862c-105f5d41bfd2.png)

[2022-07-18 07:48] tracehh opened #11026 "[Improvement][Task] Improve seatunnel task command log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Improve seatunnel task command log

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.or

[2022-07-18 07:49] dadong-13 commented on #2031
请问你的这个问题解决了吗？具体怎么操作呢
 @EricJoy2048 @Aries1314

[2022-07-18 08:16] EricGao888 opened #11028 "[Doc][Task Plugin] Docs needed for sqoop task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently, DS does not have docs about how to use `Sqoop` task plugin. We need docs and examples for it.

![image](https://user-images.githubusercontent.com/34905992/179470661-2f2c27da-601f-4db7-bf9c-9fcf678f1af

[2022-07-18 08:18] EricGao888 commented on #11028
Anyone interested in this issue are welcome to comment here. If no one picks it in a month, I will take it myself : )

[2022-07-18 08:21] EricGao888 commented on #11028
Seems we've already had an issue here: #8030

[2022-07-18 08:21] #11028 closed, assigned to nobody

[2022-07-18 08:23] EricGao888 commented on #8030
@SmallConchs Hi, may I ask whether you are still working on this issue? If there's anything blocking you, I could help. Thx

[2022-07-18 10:19] WangJPLeo opened #11031 "[Feature][AccessToken] AccessToken can only be used by the creator."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

AccessToken can only be used by the creator.

### Use case

use access token request.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Co

[2022-07-18 10:47] jieguangzhou opened #11034 "[Bug] [Task Plugin] Unable to pass parameters"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

workflow:
<img width="742" alt="image" src="https://user-images.githubusercontent.com/31528124/179495220-3fb6f976-7ae8-4abb-b204-9ef4ebc76acf.png">

out task
<img width="500" alt="image" src="https://user-images.githubuserco

[2022-07-18 11:09] jieguangzhou commented on #11034
out task;
[code]

in task:
[code]

[2022-07-18 13:47] stalary commented on #10212
Sorry, I have too much work to do recently. I haven't started yet.

[2022-07-19 00:26] #8469 closed, assigned to nobody

[2022-07-19 01:52] Weipleasure opened #11035 "[Bug] [Master] org.apache.dolphinscheduler.server.master.runner.WorkflowExecuteThread:[264] - state handle error: java.lang.IndexOutOfBoundsException: Index: 1, Size: 1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

版本2.0.5提交一个工作流后，只生成了工作流实例，没有生成task实例，查看master报错日志如下：
[INFO] 2022-07-19 09:29:46.625 org.apache.dolphinscheduler.server.master.runner.WorkflowExecuteThread:[301] - process event: State Event :key: null type: TASK_STATE_CHANGE

[2022-07-19 02:04] ruanwenjun commented on #10212
OK, don't worry.

[2022-07-19 03:26] lynn-builds commented on #10723
Can I take this issue? @EricGao888

[2022-07-19 03:26] EricGao888 commented on #10723
Sure~

[2022-07-19 03:49] leo-lao commented on #10874
Hi @zhuxt2015 I am also interested in implementing this issue.  Maybe I can join the discussion of design and implementation

[2022-07-19 04:12] lynn-builds commented on #10723
Thanks!! @EricGao888. Also, regarding the auto-refresh log feature, do you think it would make sense to add some refreshing time interval options, eg., Refresh after 1 second, 2 seconds, 1 minute?
A similar product feature screenshot is attached here--
![1B4CEEE6-88E9-42A7-A087-4079729CC1D2](https://user-images.githubusercontent.com/101166369/179663076-8d732ccd-e673-47e8-8cc9-774f22e44019.png)

[2022-07-19 04:36] ShawshankLin opened #11037 "[Bug] [UI] View variable display problems"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

View variable display incomplete

### What you expected to happen

Reduce the width of the display

### How to reproduce

Setting multiple variables

### Anything else

![image](https://user-images.githubusercontent.com/1624

[2022-07-19 05:06] EricGao888 commented on #10723
Good point! If the task outputs logs in a low frequency, we could set the auto-refresh interval longer so that it will not waste resource. WDYT? @songjianet @Amy0104

[2022-07-19 05:25] zhuxt2015 commented on #10874
@leo-lao  Great! Thank you for joining, I'm completed most of mostly functions,  I will submit a PR this week, then let's discuss the subsequent division of development work.

[2022-07-19 05:38] EricGao888 opened #11040 "[Improvement][Task Plugin] Refactor JupyterParameters.java with lombok"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Refactor [JupyterParameters.java](https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-task-plugin/dolphinscheduler-task-jupyter/src/main/java/org/apache/dolphinscheduler/plugin/task/jupyter/Jupy

[2022-07-19 06:53] ShawshankLin opened #11043 "[Bug] [flink sql client] ds flink sql client stream job has been aborted, yarn job is not stopped"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

ds flink sql client job  has been aborted, but yarn job is not stopped.
The yarn.application.status.address configuration also does not take effect

### What you expected to happen

yarn job stop

### How to reproduce

run d

[2022-07-19 06:53] ShawshankLin commented on #11043
@Dannila

[2022-07-19 07:48] EricGao888 opened #11046 "[Feature][Worker] Add cache mechanism in worker for resources"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

- Currently in DS, a worker executing tasks downloads related resources to local and cleans them up when tasks completed. We could improve the performance by caching frequently-used resources.

https://github.com/

[2022-07-19 07:52] EricGao888 commented on #11046
@ruanwenjun @zhongjiajie @caishunfeng @SbloodyS WDYT? May I ask what potential risks we may face if implementing such feature?

[2022-07-19 08:00] SbloodyS commented on #11046
If the user modifies the content in different tasks, the cache will cause abnormal task execution.

[2022-07-19 08:23] ahahaooo commented on #10180
i also meet to this question,when i execute a workflow by api,then return data is null,i cannot get the id to monitor the status of workflow instance. if can return the record id of processDefinition,its also ok.

[2022-07-19 08:38] songjianet commented on #10723
This function can be added, allowing users to freely choose an automatic refresh interval is a good method, but considering the 400a version, we may use websocket and other even communication schemes. @SbloodyS @EricGao888 @lynn-illumio

[2022-07-19 09:35] caishunfeng commented on #10995
Good idea, it's better to add some design details.

[2022-07-19 09:48] #11003 closed, assigned to SnowMoon-Dev

[2022-07-19 10:37] zhaoxiaoge commented on #10540
Have you found the cause of this problem? We are in the same situation

[2022-07-19 10:38] ruanwenjun commented on #10995
It's OK for me to define a DSL to create a workflow, some geeks may like this way, but this can not work well in big workflow.

[2022-07-19 11:27] lucas666666 opened #11051 "[Bug][TaskPlugin] datax job is sucess ,but the instance status is failure."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

datax job is sucess ,but the instance status is failure.

### What you expected to happen

[ERROR] 2022-07-19 18:55:40.745 org.apache.dolphinscheduler.server.worker.runner.TaskExecuteThread:[207] - task scheduler failure
jav

[2022-07-19 13:00] songjianet opened #11052 "[Refactor][UI] Use the `tailwindcss` atomic engine to replace some styles in the project."
In order to avoid the existence of multiple styles of `css` styles in the project as much as possible, I want to use the atomization engine to replace some styles.

[2022-07-19 13:30] ruanwenjun commented on #11046
Yes, it's not a good idea to do this cache, we need to make the data consistent with the source.

[2022-07-19 13:37] ruanwenjun commented on #10874
Before submit PR, it's better to provide  a detail design. The current design is not enough, we need to consider how to persistent data in disk, and how to implement the lock, how to maintain the data. Do we need to use some lib or we will implement the raft by ourselves.

[2022-07-19 13:41] jieguangzhou commented on #10995
Can we parse the data directly and store it in the database? or do we have to do it in other ways?

[2022-07-19 13:44] jieguangzhou commented on #10995
Ok, I will add details here in the future

[2022-07-19 13:48] jieguangzhou commented on #10995
Thank you for your suggestions. I will think again about how to handle the large workflow scenario, and if not, let the user use the original way to support the large workflow for the time being

[2022-07-20 00:54] EricGao888 commented on #11046
@SbloodyS @ruanwenjun What about we add a button / checkbox to each resource in resource center to let users choose to enable cache or not?

[2022-07-20 00:55] Flutemr commented on #10540
watch this
#10889

[2022-07-20 01:23] simon824 opened #11055 "[Bug] [UI] Modifying the copied task node's parameters will affect the original task node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I define a sql task `testsql` with custom parameters, and copy this task node to generate another task `testsql_5iv`. At this time, I modify the custom parameters of `testsql_5iv`, and `testsql` will be modified too.

This p

[2022-07-20 02:14] #11034 closed, assigned to jieguangzhou

[2022-07-20 02:21] caishunfeng commented on #10962
Hi @huangchenguang123  #11053 had fixed the out param pass, you can check it again in dev.

[2022-07-20 02:37] #10891 closed, assigned to ruanwenjun

[2022-07-20 02:50] caishunfeng commented on #10809
Sorry, I found that when kill or failover, it will try to get appId from task log, you can see the `TaskKillProcessor` of kill detail.

[2022-07-20 03:02] #11040 closed, assigned to nobody

[2022-07-20 03:06] #11026 closed, assigned to tracehh

[2022-07-20 03:11] zhuxt2015 commented on #11055
This should be a mistake on the canvas of frontend, @songjianet @Amy0104  PTAL

[2022-07-20 03:24] caishunfeng commented on #10144
![image](https://user-images.githubusercontent.com/11962619/179889737-ca96cc58-dfbe-45a2-a1f4-9fdc43e8a47d.png)
I check in dev and it's error.  PTAL @songjianet

[2022-07-20 05:39] liuyongfei1 opened #11066 "Running the Seatunnel 2.x task with flink failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Use Seatunnel 2.x task with flink failed:
1.use Seatunnel 2.x task type
<img width="728" alt="Snipaste_2022-07-20_0" src="https://user-images.githubusercontent.com/4757906/179903253-0c6662d9-8e58-441b-aa40-0a97cbe5a9ed.png">

[2022-07-20 05:48] CalvinKirs commented on #11066
[code]
Could you check it?

[2022-07-20 05:55] tracehh opened #11067 "[Feature][Api] Refactor org.apache.dolphinscheduler.api.controller.QueueController"
[[DSIP-7] [API] Suggest refactor the backend api](https://github.com/apache/dolphinscheduler/issues/10257#) #10257

 ### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Refactor org.apache.dolphinscheduler.api.controller.QueueController

### Use case

_No response

[2022-07-20 06:01] caishunfeng commented on #10366
@songjianet Hi, what's the progress of this issue?

[2022-07-20 06:16] #10584 closed, assigned to EricGao888

[2022-07-20 06:19] caishunfeng commented on #10392
Hi @stalary sorry for reply late, I had assigned to you.

[2022-07-20 06:21] caishunfeng commented on #10594
Hi @shangeyao what's the progress of this issue?

[2022-07-20 06:35] EricGao888 opened #11068 "[Feature][Api Server] Enable DS to use resource center without s3fs file system"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* We got some feedback from users to support a new feature - enable DS to use resource center without s3fs file system. In that case, workers could retrieve resources through api-server and there will be no need t

[2022-07-20 06:45] EricGao888 commented on #11068
<img width="735" alt="IMG_1330" src="https://user-images.githubusercontent.com/34905992/179915487-f7ebbf24-7b0e-433d-b1a9-119d549fb82c.PNG">

Here is a design contributed by @zhzhenqin

[2022-07-20 06:46] #10594 closed, assigned to shangeyao

[2022-07-20 07:07] WangJPLeo commented on #11014
related #11015

[2022-07-20 07:07] #11014 closed, assigned to WangJPLeo

[2022-07-20 07:20] ruanwenjun commented on #11068
According to this picture, I think you just want to implement a facade, right? If so, we already have `StorageOperate` to do this.
If this issue is want to discuss implementing a distributed file system in DS. I am -1 to this.

[2022-07-20 07:42] #10729 closed, assigned to fuchanghai

[2022-07-20 07:46] caishunfeng commented on #10760
PTAL @WangJPLeo

[2022-07-20 07:57] caishunfeng commented on #10808
Hi @lizhongshuai Please check the env config in `dolphinscheduler_env.sh`

[2022-07-20 07:59] caishunfeng commented on #10808
BTW, please add the sql detail of `how to reproduce`

[2022-07-20 08:08] WangJPLeo commented on #10760
Yes, there are methods userOwnedResourceIdsAcquisition and functionDisabled directly used in subclasses. These should be used uniformly in BaseServiceImpl. This is a very standardized transformation, one thing to note is the use of the Logger parameter in the corresponding ut. @caishunfeng @fuchanghai

[2022-07-20 08:22] caishunfeng commented on #10965
I think it's not a bug because TaskGroup can use to controll all the workflows, so the project is not the required field.

[2022-07-20 08:22] #10965 closed, assigned to SnowMoon-Dev

[2022-07-20 08:32] #11031 closed, assigned to WangJPLeo

[2022-07-20 08:38] rickchengx commented on #10571
Hi, @EricGao888 , I am interested in this issue.

[2022-07-20 08:44] EricGao888 commented on #10571
@rickchengx Sure, I've assigned it to u. Thx

[2022-07-20 09:32] zixi0825 opened #11070 "[Bug] [DataQuality] When save "multi-table accuracy" rule, mapping_columns value not saved to db"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When choose "多表准确性" rule， on condition value was not saved to db，
![image](https://user-images.githubusercontent.com/10829956/179947717-6df6c45c-5ce3-4457-93f7-f42302e7c231.png)

when open it again，
![image](https://user-ima

[2022-07-20 09:32] zixi0825 commented on #11070
@songjianet

[2022-07-20 09:49] fforever14 opened #11071 "[Bug] [3.0.0-beta-2] custom parameter does not work in spark plugin sql task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

I create a spark sql task to run a spark sql to insert data to another table.
I add a custom parameter and run the task, it failed, the log showed there was a null pointer exception.

java.lang.NullPointerException: null
	at

[2022-07-20 09:56] liuyongfei1 commented on #11066
2、这个8081端口是flink web服务吗？可是都没有提交到yarn集群上啊。

[2022-07-20 10:48] #10507 closed, assigned to songjianet, qingwli

[2022-07-20 10:59] zhuxt2015 commented on #10874
I will use sofa-jraft lib, here is  [Github Repository](https://github.com/sofastack/sofa-jraft) and [User Guide](https://www.sofastack.tech/en/projects/sofa-jraft/overview/)
## sofa-jraft introduction

SOFAJRAFT is a production-grade java implementation of RAFT consensus algorithm. SOFAJRaft is licensed under the [Apache License 2.0](https://github.com/sofastack/sofa-jraft/blob/master/LICENSE). S

[2022-07-20 11:37] simon824 commented on #11055
Has been fixed by #10611

[2022-07-20 11:37] #11055 closed, assigned to nobody

[2022-07-20 12:16] liyangyang-12138 opened #11072 "[Improvement][Common] DS can not request Https url with Kerberos authentication"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In some production environments, kerberos authentication is enabled for security purposes and HTTP ports are disabled while HTTPS ports are reserved , In this environment, DS cannot obtain information such as the

[2022-07-20 12:41] zhongjiajie commented on #10874
@zhuxt2015 Please follow the dsip https://dolphinscheduler.apache.org/en-us/community/DSIP.html process to create DSIP, thanks

[2022-07-20 13:32] leo-lao commented on #10874
@zhuxt2015  I searched available raft implementations, and found [apache ratis](https://github.com/apache/ratis) may be one better choice?
SOFAJRAFT requires more dependencies, like
[code]
this is not so acceptable for one Apache Project.

On the other hand, I found  [apache ratis](https://github.com/apache/ratis)  used by [apache ozone](https://github.com/apache/ozone) and [alluxio](https://githu

[2022-07-20 13:52] zhuxt2015 commented on #10874
@leo-lao  `com.alipay.sofa.bolt` and `com.alipay.sofa.hessian` use Apache License 2.0, I think they can be used. I also noticed ratis,  it does not implement distributed lock, so not use it.

[2022-07-21 00:23] #10418 closed, assigned to nobody

[2022-07-21 00:23] #10416 closed, assigned to nobody

[2022-07-21 01:15] EricGao888 opened #11074 "[Doc][Development] Add tips about how to use lombok"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Add some tips in docs about how to use `lombok`:

1. Use `lombok` for `setters`, `getters` and `toString` methods in data objects to keep code neat.
2. Avoid using `@Data` annotation because it will generate som

[2022-07-21 01:16] EricGao888 commented on #11074
Anyone interested in this issue are welcome to comment here to take it. If no one picks it up in 2 weeks, I will take this. Thx : )

[2022-07-21 03:09] XuXuClassMate opened #11075 "[Bug-FE] [Workflow Definition] Operation list display questions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The 27 inch display cannot display the complete operation

<img width="1912" alt="image" src="https://user-images.githubusercontent.com/76080484/180121258-6243a307-f49c-4d73-a4a8-3495a8d0dea2.png">

### What you expected to

[2022-07-21 03:19] songjianet commented on #11075
I will fix it.

[2022-07-21 03:40] devosend opened #11076 "[Refactor][UI] Use `render` function of DataTable to render time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Use `render` function of DataTable to render time

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https:/

[2022-07-21 03:51] devosend commented on #11037
I will fix it

[2022-07-21 05:15] lynn-builds opened #11079 "[Improvement][UI] Create a setting page for general UI configuration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Noticed that some users need to set auto-refresh time intervals to retrieve their task's log. However, there is limited space left for additional UI in the "View log" pop-up window. Please check out this issue for

[2022-07-21 05:19] lynn-builds commented on #10723
I'm linking another related issue here: https://github.com/apache/dolphinscheduler/issues/11079

[2022-07-21 05:28] EricGao888 commented on #11079
This is super cool!

[2022-07-21 05:30] songjianet commented on #11079
six six six

[2022-07-21 05:36] EricGao888 commented on #11074
Here is an example: https://github.com/apache/dolphinscheduler/pull/11045

[2022-07-21 05:37] rickchengx commented on #11074
Hi, @EricGao888 , I'm interested in this issue.

[2022-07-21 06:14] XuXuClassMate opened #11080 "[Bug-BE] [Alarm Group Manage ] Dirty data returned from the back end of the alarm group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Dirty data returned from the back end of the alarm group

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/76080484/180141773-c2b2329a-4cf4-4cea-8046-99327a469e1d.png">

<img width="1916" alt="ima

[2022-07-21 06:36] hqzh commented on #10999
如果前端自己部署，存在会去请求服务，所以改成如下
![image](https://user-images.githubusercontent.com/26128706/180145760-68612c3c-40f6-4d93-9478-2a13d4ae8662.png)

[2022-07-21 06:36] #10999 closed, assigned to nobody

[2022-07-21 06:54] tracehh opened #11083 "[Doc][Latest] Improvement bugs in lastest user-doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Improvement bugs in lastest user-doc

### Documentation Links

 Improvement bugs in lastest user-doc

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agre

[2022-07-21 07:57] #11076 closed, assigned to devosend

[2022-07-21 07:57] github-keep opened #11085 "[BUG] [UI] [DataQuality] fieldLengthcheck logic Operator selection unsuccessful"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

When using the data quality node to verify the field length, the logical operator selection fails. When entering the editing page again after confirming the submission, the logical operators are=
![image](https://user-images

[2022-07-21 08:02] xyzhh opened #11087 "[Bug] [Data Source] Can not create oracle data source."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

"Failed to load driver class oracle.jdbc.OracleDriver in either of HikariConfig class loader or Thread context classloader" is prompted when I build a oracle data source  connection. I have already copyed ojdbc6.jar or ojdbc

[2022-07-21 08:14] xyzhh opened #11089 "[Bug] [data quality ] Minio resource center is not supported by data quality task."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Data quality task  worked well when I config data resource center to HDFS，But prompt follow error when I use  Minio instead of HDFS(And now,Data resource was working well.):

[INFO] 2022-07-14 03:14:46.030 +0000 [taskAppId=T

[2022-07-21 08:16] XuXuClassMate opened #11091 "[Bug-FE] [File Manage Module] Create file name input in file details for verification"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Create file name input in file details for verification

<img width="1917" alt="image" src="https://user-images.githubusercontent.com/76080484/180163496-da3f1906-1240-4094-be03-4d316492bdc1.png">

<img width="1913" alt="imag

[2022-07-21 08:33] XuXuClassMate opened #11092 "[Bug-FE] [File Manage Modul] There is no space check for folder creation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

There is no space check for folder creation, which leads to shell task running error. Reason: the file cannot be found

<img width="1917" alt="image" src="https://user-images.githubusercontent.com/76080484/180165440-1041acb0

[2022-07-21 08:36] leo-lao commented on #10874
Is it is a must to implement `distributed lock` in dolphinscheduler?
As far as I know, `distributed lock`  in current version, is used for making sure only one master handling requests or failover event.
Is it ok If we just put above logics in Leader Master?

[2022-07-21 08:44] simon824 opened #11093 "[Question] [Worker] Too many hiveserver2 connctions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened
I configured hive datasource and executed hive sql task.
And then here are a large number of such logs in my worker logs, generated every few seconds, which eventually leads to too many connections to hiveserver2. And i have

[2022-07-21 09:02] SbloodyS commented on #11087
Currently, one task instance of hive data source uses one connection. The maximum number of concurrent connections is equal to the number of worker threads. It's recommended to improve the configuration of hiveserver2 or reduce the concurrency.

[2022-07-21 09:04] SbloodyS commented on #11093
The current maximum number of concurrent connections is equal to the number of worker threads. It's recommended to improve the configuration of hiveserver2 or reduce the concurrency.

[2022-07-21 09:10] XuXuClassMate opened #11094 "[Bug-FE] [SQL component] Incomplete display of SQL component fee query information in Chinese and English"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Incomplete display of SQL component fee query information in Chinese and English

<img width="1912" alt="image" src="https://user-images.githubusercontent.com/76080484/180175916-8dff7c97-9c6f-4c94-acd5-e11102a0ec67.png">

<i

[2022-07-21 09:15] SbloodyS commented on #11087
Due to incompatible license of Oracle. We can only introduce Oracle in a similar way to MySQL. I'll add this to the document.

[2022-07-21 09:30] devosend commented on #11092
I will fix it

[2022-07-21 09:40] litiliu commented on #11092
I wonder if it's necessary to check available space for folder creation. But i think it's necessary to check the available space before file uploading.

[2022-07-21 09:49] devosend commented on #11091
I will fix it

[2022-07-21 10:16] #10826 closed, assigned to jieguangzhou

[2022-07-21 12:54] ruanwenjun commented on #10874
This is not a good idea, you need to import the `leader` role in other registry plugin.

[2022-07-22 00:33] EricGao888 commented on #10274
No stale, I'm coming for ya!🤣

[2022-07-22 01:35] XuXuClassMate opened #11101 "[Bug-BE] [Master Server] Master server reports an error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Error caused by a large number of complement execution

<img width="1736" alt="image" src="https://user-images.githubusercontent.com/76080484/180342547-ed4923d9-b478-4290-86cc-ca570ba6ce22.png">

### What you expected to hap

[2022-07-22 01:43] caishunfeng commented on #11071
Hi @fforever14 can you add detail of the workflow and task define? which can help others to reproduce.

[2022-07-22 01:49] #11087 closed, assigned to SbloodyS

[2022-07-22 02:36] EricGao888 opened #11102 "[Bug] [Task Plugin] Parameter values disappear in UI when editing Zeppelin task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/34905992/180350164-816a3b1b-7813-4bab-85e0-cf6163b30162.png)

* If you define a zeppelin task then edit it again later, values disappear in UI.

### What you expected to hap

[2022-07-22 02:46] ruanwenjun opened #11103 "[Feature][Task] Add a new abstract task-AbstractLoopStateTask"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

# Background
Right now, there exist some tasks, that need to call a third-party platform, and query the task instance status from the third-party platform until the task instance is finished (success/failed).

<im

[2022-07-22 03:02] #11094 closed, assigned to Amy0104

[2022-07-22 03:52] #11037 closed, assigned to devosend

[2022-07-22 03:52] #11075 closed, assigned to songjianet

[2022-07-22 03:56] caishunfeng commented on #11080
I try to set the default alert_plugin_ids to null, but UI error for split, because it's a required field.
![image](https://user-images.githubusercontent.com/11962619/180359228-25c2e650-61d9-49b0-a9b8-4c9e7fd95133.png)

[2022-07-22 03:56] fuchanghai commented on #10760
@caishunfeng I still see the discussion tag. I will change it first and wait for you to confirm before PR

[2022-07-22 05:34] #11001 closed, assigned to zhuxt2015

[2022-07-22 05:53] XuXuClassMate opened #11104 "[Bug-BE] [worker server] The worker server reported an error without corresponding degradation mechanism, resulting in service crash"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The worker server reported an error without corresponding degradation mechanism, resulting in service crash

<img width="1739" alt="image" src="https://user-images.githubusercontent.com/76080484/180371845-38d0ca8a-58e5-47e2-

[2022-07-22 06:21] devosend commented on #11102
I will fix it

[2022-07-22 06:26] EricGao888 commented on #11102
@devosend Thx for help!

[2022-07-22 07:09] zhaoxiaoge commented on #10889
How appropriate are these two parameters? We currently set the maximum number of threads to 1000 and the timeout to 10 minutes @Flutemr

[2022-07-22 07:19] jieguangzhou opened #11108 "[Doc][Pydolphinscheduler Task Sagemaker] fix py sagemaker doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Relate to :https://github.com/apache/dolphinscheduler/pull/11002#discussion_r927248858

### Documentation Links

https://dolphinscheduler.apache.org/python/tasks/sagemaker.html

### Are you willing to submit a PR?

[2022-07-22 07:37] huangchenguang123 commented on #10962
Thanks, this is also a way to solve the issue. I will close my issue and pr.

[2022-07-22 07:37] huangchenguang123 commented on #10962
close by #11053

[2022-07-22 07:37] #10962 closed, assigned to huangchenguang123

[2022-07-22 07:42] Flutemr commented on #10889
yes,you can add anohter  hiveserver2  and  hive matestor , use  hive Ha 。

[2022-07-22 08:11] Chris-playground opened #11110 "[Bug] [Data Quality] Data Quality Oracle can't find driver class"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

At the begining, we put `ojdbc6-11.2.0.1.0.jar` into the api-server and worker-server's libs, and the data quality workflow can't find the tables in oracle, errors as below
#### website error
![image](https://user-images.git

[2022-07-22 09:08] #11092 closed, assigned to devosend

[2022-07-22 09:27] XuXuClassMate opened #11111 "[Bug-BE] [SQL component] Non admin users do not have database permissions, but the workflow can run successfully when it is online"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

Non admin users do not have database permissions, but the workflow can run successfully when it is online

<img width="1901" alt="image" src="https://user-images.githubusercontent.com/76080484/180408611-62831c7b-7370-4cb5-bc

[2022-07-22 09:58] XuXuClassMate opened #11112 "[Bug-FE] [Gantt chart] The Gantt chart does not show the execution status of all components"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The Gantt chart does not show the execution status of all components

<img width="1901" alt="image" src="https://user-images.githubusercontent.com/76080484/180415039-b6329abb-50a5-472a-87f9-ab46ff9d3f95.png">

### What you e

[2022-07-22 11:20] huage1994 commented on #10274
Hi @EricGao888 , I'd like to submit a PR.

[2022-07-22 11:22] EricGao888 commented on #10274
@huage1994 Sure, thx for helping out~

[2022-07-22 13:56] leo-lao commented on #10874
In fact not, with raft introduced, we will introduce leader and followers in this system, no need to rely on other  registry plugins.
[](url)
<table>
<tr>
	<td>method</td>
	<td>details</td>
	<td>pros</td>
	<td>cons</td>
	<td>
<tr>
	<td>raft with distributed lock</td>
	<td>multiple master handling tasks</td>
	<td>no pressure on single master</td>
	<td>extra dependency/implementation of distributed

[2022-07-22 14:30] EricGao888 commented on #9441
Related files:
* https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/controller/DataAnalysisController.java
* https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/DataAnalysisService.java
* https://github.com/apache/dolphinscheduler/blob/dev/dolphinscheduler-

[2022-07-22 14:57] #11108 closed, assigned to jieguangzhou

[2022-07-22 14:59] TangTangGrit commented on #11112
@XuXuClassMate

[2022-07-22 15:00] TangTangGrit commented on #11112
@XuXuClassMate Hello, please describe exactly what happened to you to create this problem.

[2022-07-22 15:09] TangTangGrit opened #11114 "[Bug] [UI] Changed the background color of the task priority drop-down box to overwrite the font"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/77315486/180468336-5a098309-6f26-48e7-a11a-f7bd05ca8147.png)
The value is obscured by the dangling background color of the dropdown box

### What you expected to happen

Cla

[2022-07-22 15:10] ruanwenjun commented on #10874
We need to reach a consensus that we import raft just as a new registry plugin, this will not affect our existing plugin.

[2022-07-22 15:10] zhuxt2015 commented on #10874
@leo-lao  For the time being, backward compatibility should be guaranteed, The user can choose to use raft registry or zookeeper registry.

[2022-07-23 01:35] leo-lao commented on #10874
Gotcha,  then your idea works

[2022-07-23 01:53] TangTangGrit commented on #11114
PR address #11116

[2022-07-23 03:19] abzymeinsjtu commented on #9441
interested in this one, better to be my first issue

[2022-07-23 03:21] EricGao888 commented on #9441
@abzymeinsjtu Thx for helping out~Enjoy contributing!

[2022-07-23 03:44] EricGao888 opened #11117 "[Improvement][Task Plugin] Built-in time parameters not working for zeppelin task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Built-in time parameters not working for zeppelin task, seems the same for spark task.
* We need to support it so that users could pass in formatted dynamic time parameters.
* For more info on Built-in time para

[2022-07-23 03:47] EricGao888 commented on #10976
What about using `TestNG`?

[2022-07-23 03:49] hwb1992 commented on #10918
This is a bug.When guava cache remove datasource,it needs to invoke close functin,which is never call in current version. I use 3.0.0-beta2-release.
I add a removeListiner in guava cache to invoke close function, and in CommonDataSourceClient class, i call dataSource.close function in close method to release db pool. Now the connection will release..
I hope community can fix this problem.

[2022-07-23 03:53] EricGao888 commented on #10963
BTW, we could fix the formatting and style errors incrementally, together with unit tests. See: #10573
One convenient way is when refactoring some UTs, we fix the formatting and style errors of both the testing and tested part. WDYT @ruanwenjun @zhongjiajie @zhuxt2015

[2022-07-23 03:54] EricGao888 commented on #10573
BTW, we could fix the formatting and style errors incrementally, together with unit tests. See: #10963
One convenient way is when refactoring some UTs, we fix the formatting and style errors of both the testing and tested part.

[2022-07-23 05:37] ruanwenjun commented on #10918
OK, I see the latest code, we will create a HikariDataSource for each datasource, it will use the `BaseConnectionParam` to create HikariDataSource, it will use `spring.datasource.maxActive` to set the max pool size, but in application.yml we use `maximum-pool-size` :).
[code]
cc @caishunfeng

[2022-07-23 05:48] ruanwenjun commented on #10918
Good catch, are you willing to submit a PR to fix?

[2022-07-23 06:43] fuchanghai opened #11118 "[Improvement][ExecutorServiceImpl] remove some unnecessary"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/33984497/180593729-9d78514c-c83b-46d4-8e1d-5b549b6f9427.png)
Do you mind if I delete the part marked in red, I don't think these lines of code are necessary

###

[2022-07-23 08:48] ruanwenjun commented on #10918
I submit #11120 to fix this.

[2022-07-23 09:21] bestchenwu commented on #5004
@ZJ577624359  dolphinscheduler_env.sh环境变量，官网文档配置写的不太清晰，导致没有加入自己主机老的$PATH ,请问下这个问题到底是怎么解决的

[2022-07-23 10:01] ruanwenjun commented on #10976
This may need to refactor all test code, if we want to use `TestNG` to replace Junit

[2022-07-23 12:43] #10918 closed, assigned to nobody

[2022-07-23 13:35] EricGao888 commented on #10976
@ruanwenjun  Yes. At this moment, I think we have about 4 people, me and my colleagues who will work on the UT refactoring. It is possible for us to refactor all test code and fix all related style / formatting issues. The question lying between choosing `TestNG` and `jUnit` is whether it is necessary to replace one with another. So far, I've found some advantages of `TestNG` over `jUnit`:

* `Tes

[2022-07-23 13:39] EricGao888 commented on #10976
If we choose not to switch `jUnit` to `TestNG`, I support upgrading `jUnit` to `5.+`

[2022-07-23 14:17] hwb1992 commented on #10918
Nice try bro.

[2022-07-23 14:17] hwb1992 commented on #10918
Nice try bro

[2022-07-23 14:18] hwb1992 commented on #10918
Nice try bro

[2022-07-24 00:25] #10455 closed, assigned to nobody

[2022-07-24 01:59] edwardhuanghz opened #11123 "[Bug] [k8s deploy] configmap-dolphinscheduler-common.yaml does not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

kubectl exec -it dolphinscheduler-worker-0 -n jufund bash
root@dolphinscheduler-worker-0:/opt/dolphinscheduler/conf# ls -atl
_**common.properties configure files not update in the k8s container**_

### What you expected to h

[2022-07-24 02:32] ruanwenjun commented on #10976
AFAIK, Junit5+ can support these features.

[2022-07-24 02:42] EricGao888 commented on #10976
@ruanwenjun Sounds good to me. I will take this issue.

I found a post about differences between `jUnit4` and `jUnit5`, as well as how to migrate: https://blogs.oracle.com/javamagazine/post/migrating-from-junit-4-to-junit-5-important-differences-and-benefits

[2022-07-24 02:50] xyzhh commented on #11087
I can access mysql datasource by copying jdbc driver to libs directories,but can not access oracle datasource in same way.

[2022-07-24 02:57] SbloodyS commented on #11087
Yes. It has been fixed in #11095.

[2022-07-24 02:57] xyzhh commented on #11087
And I tried ojdbc6.jar and ojdbc8.jar

[2022-07-24 03:03] xyzhh commented on #11087
Thank you for replying .But I dont care about the DOC. I just want  Oracle datasource is available.

[2022-07-24 08:16] ShawshankLin opened #11125 "[Bug] [LOG] A large number of useless logs cause the hard disk to overflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/16248686/180638363-0f2c9425-1344-4ceb-8dd0-cc09a2051327.png)

### What you expected to happen

Generating Reasonable Logs

### How to reproduce

Perform a normal workflow ta

[2022-07-24 08:26] ShawshankLin opened #11126 "[Bug] [Mysql] Mysql CPU usage is very high"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

![Uploading 微信图片_20220724162435.jpg…]()

### What you expected to happen

The mysql CPU usage should be normal

### How to reproduce

Perform a normal Datax task

### Anything else

_No response_

### Version

3.0.0-beta-2

[2022-07-24 13:35] MichaelDeSteven opened #11129 "[API] Refactor org.apache.dolphinscheduler.api.controller.ProcessDefinitionController"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

accroding to [DSIP-7] [API] Suggest refactor the backend api https://github.com/apache/dolphinscheduler/issues/10257

**Suggested optimization**
* Content-Type change to `application/json`
* Add more example to ap

[2022-07-24 13:38] MichaelDeSteven commented on #10257
Plz assgin me `Workflow Definition` task.
I have create issue https://github.com/apache/dolphinscheduler/issues/11129 for refactor api org.apache.dolphinscheduler.api.controller.ProcessDefinitionController.

[2022-07-24 15:04] MichaelDeSteven opened #11130 "[Improvement] Refactor dolphinscheduler-alert module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

### Refactor reason
* Make it clean
* Make it elegant and readability
* Make it easy maintain

### Current situation
1. In dolphinscheduler-alert has many bean class which like below pic.
![image](https://user-ima

[2022-07-25 00:22] #10485 closed, assigned to Amy0104

[2022-07-25 00:46] EricGao888 commented on #9324
Looks like some PRs related to metrics has not been cherry-picked to 3.0.0-prepare. What about picks them when #10867 merged? @ruanwenjun @caishunfeng @zhongjiajie Thx~

[2022-07-25 00:53] EricGao888 opened #11131 "[Improvement][Metrics] Add metrics for alert server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

* Currently we don't have any metrics in `alert server`. If `alert server` fails, with metrics, it would be easier to track down the issues.
* Furthermore, metrics enable users to monitor alert server from externa

[2022-07-25 00:56] EricGao888 commented on #10211
Hi @iamliangdi, may I ask whether you have any follow-ups to this issue? I'm working on metrics and will add `alert server` related metrics. see: #11131
However, in K8S scenario, HA ability for alert server is necessary as K8S could bring up a new one once the pod of `alert server` is down. WDYT? @SbloodyS @zhongjiajie @iamliangdi

[2022-07-25 01:15] TangTangGrit commented on #11093
Which database does hive metadata exist in

[2022-07-25 01:26] fhygh commented on #10918
@ruanwenjun  great job, thank you .

[2022-07-25 01:30] SbloodyS commented on #10257
I've assigned it to you. Looking forward to your contribution.

[2022-07-25 01:35] #10919 closed, assigned to nobody

[2022-07-25 02:34] caishunfeng commented on #9324
I think it's better put into next version, because we are about to release 3.0.0-release, during this time, we only hope to cherry-pick the pr of bugfix.

[2022-07-25 02:41] EricGao888 commented on #9324
Sure, make sense to me. Thx~

[2022-07-25 03:07] #11013 closed, assigned to liyangyang-12138

[2022-07-25 03:28] devosend commented on #11112
I will fix it

[2022-07-25 03:32] taoshengyijiua opened #11132 "[Bug] [dolphinscheduler-api] Upload file failed because the file over 50M"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

我在测试3.0.0-beta-2这个版本的时候，上传jar包，超过50M报错，但配置上传大小100M;

When I was testing version 3.0.0-beta-2, I uploaded the jar package and reported an error when it exceeded 50m, but the upload size was configured to be 100m

### What you

[2022-07-25 05:42] ulnit opened #11134 "[Bug] [DataQuality] The data quality task is abnormal"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

The error message is：
【Caused by: java.sql.BatchUpdateException: Batch entry 0 INSERT INTO t_ds_dq_execute_result ("rule_type","rule_name","process_definition_id","process_instance_id","task_instance_id","statistics_value","

[2022-07-25 05:48] taoshengyijiua commented on #11132
![ef2bd8673bb1800f0ead124995ca6b1](https://user-images.githubusercontent.com/45588521/180706624-a0bf6681-887d-4008-83d7-7091330691da.jpg)

![df8015c1a2ed0d91fccbf0d7a5d9834](https://user-images.githubusercontent.com/45588521/180706634-f71884b8-d01d-4415-801f-9af4711aa5c3.jpg)

version :3.0.0-beta2
Upload jar file failed  when it exceeded 50M.  See the above picture for the error log

[2022-07-25 06:16] SbloodyS commented on #11126
Could you describe the steps to reproduce this problem?

[2022-07-25 07:32] MichaelDeSteven commented on #10257
@SbloodyS hi, I got a rename problem.
<img width="492" alt="image" src="https://user-images.githubusercontent.com/51652084/180722010-e0f056f7-f9a8-402c-9c77-e6000ff86d4a.png">
we want rename `process` to `workflow`. So which `RequestMapping` path is best choice?
1. `v2/projects/{projectCode}/process-definition`
2. `projects/{projectCode}/workflow-definition`
3. `v2/projects/{projectCode}/workflow-

[2022-07-25 07:42] SbloodyS commented on #10257
It's better to use `v2/projects/{projectCode}/workflow-definition`.

[2022-07-25 07:53] #11112 closed, assigned to devosend

[2022-07-25 08:12] itWMdeveloping opened #11139 "run DATA_QUALITY job Cannot load main class from JAR file:/home/ds/standalone-server/libs/dolphinscheduler-data-quality-dev-SNAPSHOT.jar"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/dolphinscheduler/issues?q=is%3Aissue) and found no similar issues.

### What happened

run a DATA_QUALITY job
Error: Cannot load main class from JAR file:/home/ds/standalone-server/libs/dolphinscheduler-data-quality-dev-SNAPSHOT.jar

### What you expected to happen

I think  command  of mvn package may be  has

[2022-07-25 08:37] EricGao888 commented on #10573
I've generated test coverage reports for every module of DS using `Intellij`, sorted by `method coverage`. Here are some results:
![image](https://user-images.githubusercontent.com/34905992/180733898-63264c54-8c35-47c2-9930-819e6c1cae5e.png)
![image](https://user-images.githubusercontent.com/34905992/180734123-5edb7a5a-2f3b-4538-8031-9e2c64c6f7e3.png)
![image](https://user-images.githubusercontent