[2021-06-05 17:29] ruanwenjun commented on #5565
1. Can we determine the value of param1 in Task2's varpool ? It may come from Task1 or generate by Task2
![image](https://user-images.githubusercontent.com/22415594/120899415-38626800-c662-11eb-9f73-9d387fbb1812.png)
2. Can we determine the value of param1 in Task4's varpool?
![image](https://user-images.githubusercontent.com/22415594/120899242-4c599a00-c661-11eb-89ae-d2885d869b4a.png)
3. The varp

[2021-06-06 15:15] alayangchao opened #5593 "Failed to create tenant in cluster deployment"
Cluster Deployment:

resource.storage.type=HDFS.

I wrote local path at resource.upload.path.

But I failed to create tenant，logs：
[code]

**In cluster deployment, must HDFS be deployed if resource.storage.type=HDFS?**

[2021-06-06 15:19] alayangchao commented on #5593
resource.storage.type=HDFS
resource.upload.path=/opt/data/dolphinscheduler

Successfully created tenant,in the standalone deployment.But it is failed in cluster deployment.

[2021-06-07 02:54] oryjk commented on #5592
Yeah, I’ve done this before, and many tables have been created, it looks like some fields of some tables are missing

[2021-06-07 03:01] chengshiwen commented on #5592
@oryjk Could you show us more information like ds version and the steps of deployment?

[2021-06-07 03:10] chengshiwen commented on #5593
@alayangchao In cluster deployment, how did you configure the `common.properties` including `fs.defaultFS`? And could you show us your deployment?

[2021-06-07 03:18] oryjk commented on #5592
I re-imported dolphinscheduler_postgre.sql, the problem was solved, I think it should be like this, when I started the docker of ds, I thought that dolphinscheduler_postgre.sql has been compiled into docker and imported automatically, so I suggest that you can indicate it in the document The address of sql, another small problem, the document says dolphinscheduler-postgre.sql, but the actual name

[2021-06-07 03:18] oryjk commented on #5592
solved

[2021-06-07 03:18] #5592 closed, assigned to nobody

[2021-06-07 06:18] oryjk opened #5595 "[Bug][Build] Compile error on Apple Silicon M1"
When I execute mvn clean install -Prelease, an error is reported, as shown below
![image](https://user-images.githubusercontent.com/6252789/120968163-17516280-c79b-11eb-99af-ab2ed124bbda.png)

[2021-06-07 07:41] gaoyu2016 commented on #5585
i know, 了解。为何worker.log 停止滚动呢？

[2021-06-07 08:19] chengshiwen commented on #5595
@oryjk In new mac with apple silicon m1, there are some problems like that the nodejs v12 do not support m1 until v16. So you can modify `node.version` to `v16.3.0` and `npm.version` to `7.15.1` in `dolphinscheduler-ui/pom.xml` and try it again

[2021-06-07 08:50] zhuangchong commented on #5585
@gaoyu2016
The problem you describe has been optimized in version 1.3.5

[2021-06-07 09:03] oryjk commented on #5595
ok, thank you, I'll try it right away

[2021-06-07 09:24] wangxj3 commented on #5565
thanks for you suggestion.
1.The Direct of the params that  generate in the Task2 is OUT,and the Direct the params that get form the Task1 is IN.So we can  determine the source of this value by the Direct of the params.I think this is the same way with your suggestion.
2.When the previous tasks have the same param name,we will use the value which is't null.If more than two values are non-null,we w

[2021-06-07 09:27] flyDragon-Y opened #5596 "[Bug][Python] Conflict between python_home and datax_home configuration in dolphinscheduler_env.sh"
Environment configuration of dataX and python
dolphinscheduler_ Env.sh configuration
To configure dataX python, you need to configure it in the root directory of Python
To execute a python script, you need to configure the python executable file in the python directory

- [dev]
- [1.3.6]

[2021-06-07 09:40] chengshiwen commented on #5596
@flyDragon-Y Which version of ds? And what's your problem?

[2021-06-07 10:01] lordk911 opened #5597 "when create Tenant got nullpoint exception"
ds 1.3.6 , when create Tenant got nullpoint exception

I try to use remote debug , then I found the HadoopUtils's FileSystem fs is null:

![image](https://user-images.githubusercontent.com/19989300/120998149-635fcf80-c7ba-11eb-9531-93c05595eef3.png)

[2021-06-07 10:02] nmz0324 opened #5598 "[Bug][SPARK] Spark Program is running successfully on yarn, but some show success or failure on dolphinscheduler, version 1.3.5"
Spark Program is running successfully on yarn, but some show success or failure on dolphin scheduler, version 1.3.5
SPARK程序在yarn `上运行状态是成功，但在dolphinscheduler上有的显示成功，有的显示失败 dolphin scheduler版本1.3.5
work.log

[code]

yarn

[code]

![微信图片_20210607175004](https://user-images.githubusercontent.com/73994723/120998171-68bd1a00-c7ba-11eb-8e03-d5e9f00cc59c.png)
![微信图片_20210607180117](https://user-images.gi

[2021-06-07 10:15] lordk911 commented on #5597
not bug

[2021-06-07 10:15] #5597 closed, assigned to nobody

[2021-06-07 10:57] geosmart opened #5599 "[Resource] fs.s3a.endpoint not working when change hdfs to minio"
I need to change hdfs to minio , but the endpoint config `fs.s3a.endpoint` not working

## env
[code]

## test case
[code]

## error log
[code]

Any help would be appreciated

[2021-06-07 11:02] flyDragon-Y commented on #5596
用的1.3.6
问题
就是当我的dolphinscheduler_ Env.sh 配置文件的PYTHON_HOME 配置成 /xxxxx/xxx/Python(解压包文件夹) 的时候，datax正常运行但是python运行会报错找不到命令 ，当我配置成/xxxxx/xxx/Python(解压包文件夹)/python 的时候 python正常运行，datax运行会报错找不到命令

[2021-06-07 11:51] geosmart commented on #5599
resolved

hadoop-aws `2.6.0` not support set endpoint outside, it use the default `s3.amazonaws.com` by
setEndpoint(Constants.S3_HOSTNAME);

and in `2.7.2`
[code]
we can overwrite the endpoint with `fs.s3a.endpoint` config

[2021-06-07 11:51] #5599 closed, assigned to nobody

[2021-06-07 11:54] geosmart commented on #5599
related pr [267-support to store resources in s3a(support aws s3 & minio) ](https://github.com/apache/dolphinscheduler/pull/267)

[2021-06-07 14:12] #5468 closed, assigned to chengshiwen

[2021-06-07 14:30] oryjk commented on #5595
I check my node and npm version, the version as you said
![image](https://user-images.githubusercontent.com/6252789/121034715-cfa0fa00-c7df-11eb-9f4b-6fd88521d9e6.png)

[2021-06-08 02:07] chengshiwen commented on #5596
@flyDragon-Y `PYTHON_HOME` is the absolute path of python binary like `/xxxxx/xxx/Python/bin/python`, while `DATAX_HOME` is the absolute path of datax home like `/xxxxx/xxx/datax` (`/xxxxx/xxx/datax/bin/datax.py` is the path of `datax.py`)

[2021-06-08 02:16] geosmart commented on #5596
this `PYTHON_HOME` also confused me when I startup with ds,

as we know `XXX_HOME` should be a path , rather than a file.

shuold we improve this environment variable to a path?

[2021-06-08 02:20] chengshiwen commented on #5596
@geosmart Issues left over from history. We have improved this problem in dev branch, so in the next release the Improvement will be released

[2021-06-08 02:33] EthanZhang1997 opened #5600 "[Improvement][Common] HadoopUtils"
**Describe the question**
I set resourceStorageType="NONE" in the install_config.conf and tried to use resource upload function.

Here is the error occured in web UI.
![api](https://user-images.githubusercontent.com/78401974/121110643-35bd6980-c840-11eb-92be-70f0d80d6afb.png)

I've set defaultFS with my local file system in install_config.conf but it didn't work. After debugging I found the init()

[2021-06-08 02:35] flyDragon-Y commented on #5596
I mean PYTHON_HOME is configured as /xxxx/xxx/python/bin/python, datax.py of dataX will not be able to execute

[2021-06-08 02:48] chengshiwen commented on #5596
There may be a problem, I will troubleshoot and fix it as soon as possible

[2021-06-08 02:53] geosmart commented on #5599
I found that 'data.store2hdfs.basepath' config param  not exist any usage.
and the HadoopUtils is init root path  by `resource.upload.path`

the common.propertiesof resource  config  for minio server
---

[code]

[2021-06-08 02:55] flyDragon-Y commented on #5596
ok，If you have the latest situation，remember tell me，thanks

[2021-06-08 05:51] oryjk commented on #5595
I change the node and npm version, but also
![image](https://user-images.githubusercontent.com/6252789/121130193-a2e0f700-c860-11eb-9b4d-19e3b42ba0fd.png)

[2021-06-08 07:30] NeverLanded opened #5601 "[Bug][conditions component] conditions component go success way but the previous task was failed"
![image](https://user-images.githubusercontent.com/28940909/121142309-6d430a80-c86e-11eb-9d32-d968a262d935.png)

[2021-06-08 07:31] NeverLanded commented on #5601
does the success and failure status in the condition component  refer to the previous task or the task of condition itself?

[2021-06-08 09:25] chengshiwen commented on #5595
@oryjk Modidy `frontend-maven-plugin.version` to `1.11.3` in root `pom.xml` and try it again. Sometimes caused by network problems

[2021-06-08 10:08] oryjk commented on #5595
@chengshiwen
also

![Uploading image.png…]()

[2021-06-08 11:49] pingyuan001 opened #5604 "[Feature][Module Name] Feature title"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
A clear and concise description of what the feature is.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what th

[2021-06-08 11:51] pingyuan001 commented on #5604
select结果达到多少的时候才会继续走下面的流程，否则一直等待，等待超时一定时间，任务就失败
![1111111](https://user-images.githubusercontent.com/26142295/121179945-d89ed380-c892-11eb-8de8-89f6171049b4.png)

[2021-06-08 13:12] oryjk opened #5605 "[Question] Cannot start in custom docker mode"
我参考项目中 docker/build/Dockerfile 自己写了一个dockerfile，但是启动的时候会报all命令找不到，因为我看到官网的docker方式启动的时候，会执行一个all命令，但是在dockerfile中没有找到这个命令或者相关的信息，以下是我的dockerfile文件，我只是需改了基础镜像和基于centos的包管理
[code]

[2021-06-08 13:28] oryjk commented on #5595
I switch to a computer with a non-m1 and it can be compiled successfully

[2021-06-08 13:49] chengshiwen commented on #5605
@oryjk You'd better use the 1.3.6 version of the [Dockerfile](https://github.com/apache/dolphinscheduler/blob/1.3.6/docker/build/Dockerfile) instead of the problematic dev branch. In addition, the all command is in the script [startup.sh](https://github.com/apache/dolphinscheduler/blob/1.3.6/docker/build/startup.sh)

[2021-06-08 13:53] chengshiwen commented on #5605
And please refer to **How to build a Docker image** at https://dolphinscheduler.apache.org/en-us/docs/1.3.6/user_doc/docker-deployment.html

[2021-06-09 01:37] leeseven1211 commented on #5583
I submitted pr, I don’t know if the steps are right or not, what needs to be done, the first time I submit

[2021-06-09 01:38] leeseven1211 commented on #5583
@chengshiwen

[2021-06-09 02:47] wangmingzhiJohn opened #5607 "[Question] Failed to run main method of CreateDolphinScheduler"
**Describe the question**

I cannot start the DS system by following the Developer Guide/Development Environment Setup. Particularly I got stuck when I tried setting up the backend. I didn't import the project to IDEA but just use cmd. When I finally made it run (i mean the main method of CreateDolphinScheduler), it told me that some files do not exist like dolphinscheduler_dml.sql or dolphinsched

[2021-06-09 02:54] chengshiwen commented on #5607
@wangmingzhiJohn Click the run icon, or run `create-dolphinscheduler.sh`

![image](https://user-images.githubusercontent.com/4902714/121285384-e7c46680-c910-11eb-8c3f-7e115947f86a.png)

[2021-06-09 03:37] geosmart commented on #5599
if you want to migration hdfs to minio
don't remember to copy the hdfs data of `resource.upload.path` to minio(the same path)

trick: you can mount both hdfs and minio with `fuse` ,and do copy in local

[2021-06-09 03:45] #5583 closed, assigned to nobody

[2021-06-09 04:39] #5463 closed, assigned to nobody

[2021-06-09 05:00] davidzollo opened #5608 "[Feature] move the Doc of Ambari Integration to official website repository"
Please move the Doc of [Ambari Integration](https://github.com/apache/dolphinscheduler/blob/1.3.6-release/ambari_plugin/README.md)  to here, the position is as follows:
![image](https://user-images.githubusercontent.com/15833811/121296000-860cf800-c922-11eb-912e-12dfd821541f.png)

official website git repository :  https://github.com/apache/dolphinscheduler-website

[2021-06-09 05:21] nmgliangwei commented on #5599
@geosmart  你好,问一下s3怎么配才可以呢,data.store2hdfs.basepath 这个才是桶中路径?  不是resource.upload.path  这个吗?
我现在配置是
  FS_DEFAULT_FS: s3a://桶名称
  FS_S3A_ACCESS_KEY: xxxxx
  FS_S3A_ENDPOINT: http://s3.xxx.com
  FS_S3A_SECRET_KEY: xxxxx
  RESOURCE_STORAGE_TYPE: S3
  RESOURCE_UPLOAD_PATH: /dolphinscheduler
但是创建租户会失败.

[2021-06-09 06:41] wangmingzhiJohn commented on #5607
@chengshiwen I have another question. My code is on the company's server. How to import the project from remote server to intellij idea? I didn't see anything in IDEA like Vscode's remote explorer that can let me develop on remote server directly.

[2021-06-09 08:15] wangmingzhiJohn commented on #5607
![image](https://user-images.githubusercontent.com/84900511/121315943-6504d100-c93b-11eb-90cd-e97fb58422b8.png)
When I ran the CreateDolphinScheduler, I got errors like "lack ddl file". That file should be created in this segment but it wasn't.

[2021-06-09 08:37] chengshiwen commented on #5607
You can consider the script `create-dolphinscheduler.sh` on the server

[2021-06-09 09:56] Tandoy opened #5609 "[Question] Expansion"
**Steps to reproduce the behavior:**
sh start-all.sh

**Expected behavior:**
Add a master/worker node to an existing cluster

**Environment Description::**
 dolphinscheduler：1.3.2
Hadoop version : 2.6.0-cdh5.13.3
Hive version : 1.1.0-cdh5.13.3
Storage (HDFS/S3/GCS..) : HDFS
Running on Docker? (yes/no) :no

**Configuration**
../conf/config/install_config.conf
masters="dxbigdata101,dxbigdata103"
wor

[2021-06-09 10:45] wangmingzhiJohn opened #5610 "[Question] Something wrong with build docker image from source"
**Describe the question**

I tried building a image by clean source code.
![image](https://user-images.githubusercontent.com/84900511/121340374-20386480-c952-11eb-81d8-c201586a47c0.png)
and then setup in this way.
![image](https://user-images.githubusercontent.com/84900511/121340450-3514f800-c952-11eb-8042-4bdd56df2d7b.png)
But when I tried to create a project, it failed.
![image](https://user-ima

[2021-06-09 10:50] chengshiwen commented on #5198
Related issue: #4526. The pr #4524 just solved one of the problems. We need more time to solve all problems systematically

[2021-06-09 11:39] chengshiwen commented on #5610
@wangmingzhiJohn It seems that you are building with the dev branch, in the dev branch the `create project error` does exist, related issue: #5540. It’s not a problem with the docker image. As for the image size, it’s caused by the addition of a plugin to the dev branch

[2021-06-09 12:21] althafpj commented on #5608
I would like to contribute to this.

[2021-06-09 16:21] echohlne commented on #5607
@wangmingzhiJohn,  if you just want to have a local environment for debugging, pls just follow this:
[development-environment-setup](https://dolphinscheduler.apache.org/zh-cn/development/development-environment-setup.html), the official documentation is comprehensive

[2021-06-10 01:39] #5539 closed, assigned to nobody

[2021-06-10 05:05] chengshiwen commented on #5596
@flyDragon-Y The related fixed pr are #5393 (https://github.com/apache/dolphinscheduler/pull/5393/commits/98567b7bc9239011bd951ecd4773633264719977) and #5612
Thanks for your feedback!

[2021-06-10 05:54] davidzollo commented on #5608
glad to see you want to solve this issue, if you need any help, please leave a message.

[2021-06-10 06:04] xingchun-chen commented on #5609
The installation directory of the extension node should be consistent with that of the cluster

[2021-06-10 06:14] xingchun-chen commented on #5601
The Condition node can refer to the figure below. The Custom parameters need to configure whether the front node succeeds or fails

![image](https://user-images.githubusercontent.com/55787491/121474085-27b14980-c9f6-11eb-8bbc-266feaa39132.png)

[2021-06-10 06:31] xingchun-chen commented on #5584
Which version?

I've tried API to create alarm group. It's OK. Please make sure your userids are correct
![image](https://user-images.githubusercontent.com/55787491/121475683-529c9d00-c9f8-11eb-86c3-c8b0d92d9a12.png)
![image](https://user-images.githubusercontent.com/55787491/121475710-5d573200-c9f8-11eb-9e0a-e1a59107c733.png)

[2021-06-10 06:35] Tandoy commented on #5609
Ok thank you!

[2021-06-10 06:35] #5609 closed, assigned to nobody

[2021-06-10 06:37] wangmingzhiJohn commented on #5607
@kyoty But I'd like to debug the remote project with local IDEA, it can't be achieved.

[2021-06-10 06:39] wangmingzhiJohn commented on #5610
@chengshiwen the latest dev branch has solved this issue?

[2021-06-10 06:56] chengshiwen commented on #5610
waiting to merge the pr #5611

[2021-06-10 07:00] wangmingzhiJohn commented on #5610
Fine, I was excited to update and try again, but still failed to create project -_-!!

[2021-06-10 07:28] brave-lee commented on #5498
There should use taskCode instead of taskId and remove name in locations field, and connects field will be deleted, because connects can obtained from relations

[2021-06-10 07:42] #5567 closed, assigned to chengshiwen

[2021-06-10 07:42] #5577 closed, assigned to nobody

[2021-06-10 09:38] chengshiwen opened #5615 "[Improvement][ARM64] Improve development and deployment on arch ARM64"
**Describe the question**

In arm64 especially like Apple Silicon chip, there are many problems that cause development and deployment to not work properly:

- [ ] Compile error for dolphinscheduler-ui, node v16+ required #5595
- [ ] JDK support problem for arm64 with Mac M1 Silicon, not yet sure
- [ ] [Bug] Incompatible big sur system with M1 chip #6031
- [x] Docker image arch doesn't support arm6

[2021-06-10 09:50] chengshiwen commented on #5586
Close by #5588

[2021-06-10 09:50] #5586 closed, assigned to nobody

[2021-06-10 09:51] #5598 closed, assigned to nobody

[2021-06-10 09:52] nmz0324 commented on #5598
Error setting return value. The problem has been solved

[2021-06-10 10:12] wangmingzhiJohn opened #5616 "[Question] About add new plugin from release version source code"
**Describe the question**

I used the release version source code 'apache-dolphinscheduler-1.3.6-src' to build a docker. And when I followed the doc 'Frontend Development' & 'Plugin Development' to add a plugin(also node), it always failed during the building, especially building UI.

So, I have a question, **is it possible to add customized plugin and make it a new node which can be found on tool

[2021-06-10 10:20] github24518 opened #5617 "[Bug][Module Name] DruidDataSource exception: physical connection to pool failed"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2021-06-10 10:26] xyzhh opened #5618 "[Question] Spark task is always successful in cluster mode even if the application exit with code 1."
Spark task would failed with exit code 1 in client mode, but always success in cluster mode,why? Thanks!
DS 1.3.5 ,spark1.6/spark2

[2021-06-10 10:54] chengshiwen opened #5619 "[Bug][Release] tar.gz tarball decompression error and some files are missing on Windows"
**To Reproduce**

1. Go to https://dolphinscheduler.apache.org/en-us/download/download.html
2. Download tar.gz tarball
3. Decompress the tarball by WinRAR or 7-Zip
4. See decompression error and some files are missing

**Expected behavior**
Bug fixed

**Which version of Dolphin Scheduler:**
 -[1.3.x]
 -[dev]

**Additional context**
Add any other context about the problem here.

**Requirement or im

[2021-06-10 13:17] geosmart commented on #5599
s3　now does not support in ds ,the configiguration only support s3a

if you want to use s3, you should change the config like this
[code]
and do some impl in the HadoopUtils class

ref [hadoop-aws](http://hadoop.apache.org/docs/r2.10.1/hadoop-aws/tools/hadoop-aws/index.html)

[2021-06-10 13:18] geosmart commented on #5599
`data.store2hdfs.basepath ` is not working any more
`resource.upload.path` is the bucket root path
bucktname is config in `fs.defaultFS`

[2021-06-10 13:33] lenboo commented on #4355
关于Scheduler模块
这确实是一个比较好的方案,可以很好地去掉zk锁，也可以减少数据库轮询次数，但是同时HA模式也是一个单点工作模式，当cmd的数量很大的情况下，分发cmd将会是瓶颈点，所以我们考虑实现真正的去中心化分布式设计来实现对cmd的处理。

我们考虑另外一种方案： hash分配cmd，去掉scheduler

1. master启动时，根据zk和配置文件（槽位配置）计算出自己的槽位数，可能是多个
2. master根据自己的masterIds从db取cmd,根据cmdId除模取余,只取和槽位匹配的cmd
3. master上下线处理（master1=m1,master2=m2）
    1. m1上线，先计算出自己的masterIds，再开始取任务执行
    2. m2上线，m1收到m2上线的消息以后，获取到一个全局锁，停止取cmd，重新计算自己的masterIds，同步

[2021-06-10 13:38] mengfeiMonica opened #5620 "[Improvement][datax] add hive plus"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
datax节点配置支持的类型缺少HIVE插件.

**What are the current deficiencies and the benefits of improvement**
- 在datax节点配置中，数据源类型中增加hive插件.

**Which version of DolphinScheduler:**

[2021-06-10 13:43] mengfeiMonica opened #5621 "[Improvement][job instance]start-time and end-time"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
工作流实例列表中，如果多个工作流存在依赖关系，最后的工作流任务时长是累计时长，还有，这个排序好像只是按照开始时间排序的，希望能做成开始时间一样，按照结束时间再排一下.

**What are the current deficiencies and the benefits of improvement**
- A clear

[2021-06-10 13:47] mengfeiMonica opened #5622 "[Improvement][project management] Modify the title"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
“项目管理”功能模块中“项目首页”菜单与页面内容关系不大。.

**What are the current deficiencies and the benefits of improvement**
- “项目首页”文字，修改成“工作流监控”.

**Which version of DolphinScheduler:**

[2021-06-11 00:58] xingchun-chen opened #5623 "[Bug][Module Name] Big json splitting progress"
大json拆分进度

[2021-06-11 01:00] #5623 closed, assigned to nobody

[2021-06-11 01:23] zhangb0120 commented on #5494
process instance serialization
流程串行，不知道有没有那个大神实现了，这个版本能加上去吗

[2021-06-11 02:15] wangmingzhiJohn commented on #5616
Sorry, my mistake. I wrote the wrong image name in dag.vue

[2021-06-11 02:15] #5616 closed, assigned to nobody

[2021-06-11 02:29] brave-lee commented on #5521
I will implement the back-end java code logic

[2021-06-11 03:24] xingchun-chen opened #5625 "[Bug][Module Name]What's the progress of splitting big JSON"
拆分大json的进展如何了？

[2021-06-11 03:41] #5625 closed, assigned to nobody

[2021-06-11 03:49] Data-bytes305 opened #5626 "[Question] dev branch master failed"
Just compile dev branch. I found  master failed.

![image](https://user-images.githubusercontent.com/83893570/121627810-a7005500-caaa-11eb-84f0-978e662ac70b.png)

[2021-06-11 03:52] chengshiwen commented on #5494
There are plans for serial tasks, but the amount of changes is large, and the recent version will not be released yet

[2021-06-11 06:50] NeverLanded commented on #5601
that's make sense,thanks for the reply!

[2021-06-11 06:50] #5601 closed, assigned to nobody

[2021-06-11 08:49] 865357384 opened #5629 "The date of overseas AWS scheduled task date issue"
在海外AWS搭建的调度服务的服务器时间和国内相差八个小时的，手动执行的任务的时候，任务执行时间是正常的，但是如果调度时间启动的时间就不一样，这个应该怎么调整？
![image](https://user-images.githubusercontent.com/24928399/121659496-ef346d00-cad4-11eb-830f-8aaac492b3b4.png)

![image](https://user-images.githubusercontent.com/24928399/121659453-e5ab0500-cad4-11eb-98a7-5dca0045aec4.png)

[2021-06-11 10:16] CalvinKirs commented on #5629
hi,Is the time zone setting uniform between servers?

[2021-06-11 17:23] #5596 closed, assigned to chengshiwen

[2021-06-12 09:05] #5477 closed, assigned to nobody

[2021-06-13 16:27] ruanwenjun commented on #5626
@Data-bytes305 Can you provide more error log? Thanks.
Did you start it locally? It seems that the registry center initialize error. You can try to edit the `registry.properties`.
[code]

[2021-06-15 01:23] fb-bigdata commented on #5598
朋友你好，我们在1.3.5也碰到了你这个问题，但是同样的程序在1.3.4就正常，请教一下您的返回值是通过何种方式添加的呢？

[2021-06-15 01:27] xyzhh commented on #5618
It's spark-submit that always return 0 in cluser mode.

[2021-06-15 03:49] CalvinKirs commented on #3961
I have started a discussion about using K8s as a registry and welcome you to join the email discussion.
https://lists.apache.org/thread.html/ra33195a98686be55afd744baf8b735dd2ea5d071adc6458a340fbd03%40%3Cdev.dolphinscheduler.apache.org%3E

[2021-06-15 03:56] CalvinKirs commented on #5617
Can you provide more information about the stack?

[2021-06-15 06:45] #5540 closed, assigned to nobody

[2021-06-15 06:56] #5524 closed, assigned to nobody

[2021-06-15 07:00] chengshiwen commented on #5610
Close by #5611

[2021-06-15 07:00] #5610 closed, assigned to nobody

[2021-06-15 10:45] zhuangchong opened #5634 "[Improvement][registry-plugin] Optimize registry plugin loading and initial installation"
**Describe the question**
Optimize registry plugin loading and initial installation

**What are the current deficiencies and the benefits of improvement**
- Registry Plugin install dir attribute assignment.
- Add registry Plugin to initialize and install related properties

**Which version of DolphinScheduler:**
 -[dev]

[2021-06-15 12:20] wangmingzhiJohn opened #5636 "[Question] How to import third-party module conveniently in a Python task from the perspective of a normal user"
**Describe the question**
If I am a normal user to use this product, I want to create a python task which needs to import like tensorflow or sth else. As there is  not any third-party module in the environment of worker's container, it will fail to import those modules.
So. my question is, how can I achieve my goal in a simple way?

[2021-06-15 12:47] wangmingzhiJohn commented on #5636
One more word, I don't think it is a wise or efficient way to use Resources to provide the needed module. And also, we cannot provide all modules in docker which will make the image too big.

[2021-06-15 12:51] #5634 closed, assigned to nobody

[2021-06-15 14:37] wuhongyuwhy opened #5637 "[Question] Cannot visit the official website https://dolphinscheduler.apache.org/zh-cn/"
不能访问官网 https://dolphinscheduler.apache.org/zh-cn/

[2021-06-15 14:49] CalvinKirs commented on #5637
I checked all is fine, can you check your own network?

[2021-06-15 15:00] zhuangchong commented on #5637
I can access normally.

![Uploading image.png…]()

[2021-06-15 16:17] oryjk commented on #5605
I build my custom image, when exec 'sed -i 's/*.conf$/*.ini/' /etc/supervisor/supervisord.conf', the error msg is 'sed: can't read /etc/supervisor/supervisord.conf: No such file or directory'

[2021-06-15 16:18] oryjk commented on #5605
![image](https://user-images.githubusercontent.com/6252789/122088509-5d13c800-ce38-11eb-9a0c-b8cfe65587d0.png)

[2021-06-15 16:18] oryjk commented on #5605
my dockerfile is
[code]

[2021-06-16 01:40] #5580 closed, assigned to nobody

[2021-06-16 03:18] xianweiY opened #5639 "[Bug][Complement Data] Business time does not correspond to scheduling time"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Program Business time ： $[yyyyMMddHH-1/24]
2. Complement Data ： start time:20210612 17:00, end time: 20210612 17:00
3. Normally, the program output business time is 2021061216
4.But at the end of the day what we get is 2021061316

运行补数，脚本的业务日期和实际日期有差异。

**Expected behavior**
A clear and concise description of what you expected to ha

[2021-06-16 03:22] CalvinKirs opened #5640 "[Feature][WebSite]Create a development version of the documentation on the official website"
Currently, there are many new features in our dev branch (development environment), but there is no specific documentation for them, because currently the only documentation available on the official documentation is for the release version, which leads many contributors to submit the documentation after committing a PR, because there is no place to submit the documentation, so they often choose t

[2021-06-16 04:56] chengshiwen commented on #5605
@oryjk In different image, the path of `/etc/supervisor/supervisord.conf` will be different. In `centos:7`, it's `/etc/supervisord.conf`. So just
- replace `/etc/supervisor/conf.d/` with `/etc/supervisord.d`
- remove `sed -i 's/*.conf$/*.ini/' /etc/supervisor/supervisord.conf && \`

[2021-06-16 05:04] zhuangchong opened #5641 "[Improvement][UI] Some user information is not displayed normally"
**Describe the question**
Some user information is not displayed normally

Click user information

1. Tenant information is not displayed

2. Click the edit button, the status information is not displayed

![image](https://user-images.githubusercontent.com/37063904/122160737-098a9400-cea3-11eb-8a09-3bb2d9dc4f85.png)

![image](https://user-images.githubusercontent.com/37063904/122160778-1ad3a080-ce

[2021-06-16 06:00] #2202 closed

[2021-06-16 06:43] oryjk commented on #5605
ok, thanks, I'll try it next

[2021-06-16 06:51] oryjk commented on #5605
I think it should be possible, because before I saw your reply, I modified it like this and run success

![image](https://user-images.githubusercontent.com/6252789/122171341-2da1a180-ceb2-11eb-93ba-15ad666b3c73.png)

[2021-06-16 06:52] #5605 closed, assigned to nobody

[2021-06-16 06:57] chengshiwen commented on #5636
@wangdazhong001 Please refer to https://dolphinscheduler.apache.org/en-us/docs/1.3.6/user_doc/docker-deployment.html, and you can choose
- Build a new image like **How to support Python 2 pip and custom requirements.txt** or **How to support Python 3**
- Mount and share a volume like **How to support Hadoop, Spark, Flink, Hive or DataX**

[2021-06-16 08:28] aslongasdream commented on #57
- Organization: Bus Steward
- Location: Suzhou, China
- Contact: gaoqiang@chebada.com
- Scenario: Data task and ETL scheduling management
****
- 组织：巴士管家
- 地点：中国苏州
- 联系方式：gaoqiang@chebada.com
- 场景：数据任务及ETL任务调度管理

[2021-06-16 09:58] docming opened #5643 "[Question] Load registry Plugin Failed !"
**According to the official website developer tutorial, it seems that there is a problem with the reference address of registry plugin and POM**

`Exception in thread "Master-Server" org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'masterServer': Unsatisfied dependency expressed through field 'masterRegistryClient'; nested exception is org.springfram

[2021-06-16 10:07] #5639 closed, assigned to nobody

[2021-06-16 10:07] xianweiY commented on #5639
阅读了文档

[2021-06-16 10:26] CalvinKirs commented on #5549
close by #5549

[2021-06-16 10:26] #5549 closed, assigned to nobody

[2021-06-16 10:28] lyn916 opened #5644 "[Question][NetUtils] Registered ip"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. When I use keepalived to bind the virtual ip, the registered ip will be bound to vip

**Which version of Dolphin Scheduler:**
 -[1.3.6-latest]

**Requirement or improvement**
- Specify the interface name and ip when deploying,

[2021-06-16 10:35] CalvinKirs commented on #5644
Maybe you can try to use this parameter to specify the NIC.
dolphin.scheduler.network.interface.preferred

[2021-06-16 10:36] CalvinKirs commented on #5644
Currently this parameter is only supported for jvm startup parameter injection.

[2021-06-16 10:43] CalvinKirs commented on #5643
First point: currently the registry is using a plug-in architecture, if you test locally, you need to mvn install the plug-in package first. Then you can find this directory dolphinscheduler/dolphinscheduler-dist/target/dolphinscheduler-dist-1.3.6-SNAPSHOT/lib/plugin/registry/zookeeper, you need to fill This path information in registry.plugin.dir, please refer to registry.properties for specific

[2021-06-16 10:45] lyn916 commented on #5644
2. solved

[2021-06-16 10:47] xyzhh opened #5645 "[Question] How to access the web without the path "/dolphinscheduler/"?Just only IP and port?"
Everytime ,when I access DS, I need input the full path , e.g. "http://192.168.100.99:12345/dolphinscheduler".It is too long,and hardly to remmeber. How can I modify the access url to "http://192.168.100.99:12345" ? Thanks!
**Which version of DolphinScheduler:**
 -[1.3.5]

[2021-06-16 11:43] chakench opened #5646 "【IMP】[Master Server] Optimization of thread sleep"
The class involved：
1. MasterExecThread.runProcess
2. MasterTaskExecThread.waitTaskQuit
Can Thread.sleep(Constants.SLEEP_TIME_MILLIS) be changed to wait/notify mode in the methods of the above two classes

[2021-06-16 12:40] lyn916 commented on #5230
2021-06-16 20:33:36.095  INFO org.apache.curator.framework.state.ConnectionStateManager:[251] - State change: CONNECTED
2021-06-16 20:33:47.439  ERROR org.apache.dolphinscheduler.remote.handler.NettyServerHandler:[153] - exceptionCaught : java.lang.IllegalArgumentException: illegal packet [magic]71
io.netty.handler.codec.DecoderException: java.lang.IllegalArgumentException: illegal packet [magic]7

[2021-06-16 12:40] lyn916 commented on #5230
1.3.6 version

[2021-06-16 13:20] CalvinKirs commented on #5230
Can you provide steps to reproduce?  At present, I can't determine the problem, it seems that the magic numbers are inconsistent.  But I can't determine the specific problem.

[2021-06-17 02:18] ruanwenjun commented on #5646
@chakench Do you mean using an event-driven model? I think it's  a good idea, and you can provide your detail design.

[2021-06-17 03:00] docming commented on #5643
### the apache maven responsitory only can access by https now so it occurs this exception,how I define it anywhere?

`[ERROR] Non-resolvable import POM: Could not transfer artifact org.springframework.boot:spring-boot-starter-parent:pom:2.1.18.RELEASE from/to central (http://repo.maven.apache.org/maven2): Failed to transfer http://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot-

[2021-06-17 03:05] CalvinKirs commented on #5643
You can try to change the mirror address https://developer.aliyun.com/article/78124

[2021-06-17 03:07] CalvinKirs commented on #5643
Have you solved this problem? If it is solved, I will close it.

[2021-06-17 03:08] geosmart opened #5648 "[Feature][Task] Task can run on kubernetes"
the storage layer we use minio deploy in k8s,

the compute layer now use yarn, we have to ops yarn(cdh) and k8s both.

so we want to run spark or flink task on k8s.

ref: [Kubernetes Apache Spark](https://www.slidestalk.com/AliSpark/KubernetesApacheSpark30159)

[2021-06-17 03:08] oryjk opened #5649 "[docker mode] command question"
[code]

There is such a command in the dockerfile to add the tar package under /opt, but I searched globally and did not find where to unzip it, so I would like to ask how to use it after packaging it into tar

[2021-06-17 03:12] CalvinKirs commented on #5646
In fact, we had several discussions before that, but still don't have a good plan, so if you have a good idea, feel free to share it.

[2021-06-17 03:17] CalvinKirs commented on #5648
Very good idea, I am starting the design of this piece, maybe we can discuss and exchange together. My plan is that the resource scheduling platform and tasks belong to two different plugin modules.
If the task supports it, then it can choose to submit to any resource scheduling platform (which will be in the form of a plugin), such as yarn or k8s.

For us, we really just need to get the task resu

[2021-06-17 03:23] KingdomTaoF opened #5650 "impala：AnalysisException: concat() unknown"
when I use the sql task which connect to impala，then execute a sql ，sometimes it will  cause an error like that
“[ERROR] 2021-06-17 02:50:15.812  - [taskAppId=TASK-191-464735-1050514]:[336] - AnalysisException: concat() unknown

org.apache.hive.service.cli.HiveSQLException: AnalysisException: concat() unknown

	at org.apache.hive.jdbc.Utils.verifySuccess(Utils.java:264)
	at org.apache.hive.jdbc.Ut

[2021-06-17 03:42] #5643 closed, assigned to nobody

[2021-06-17 06:41] chengshiwen commented on #5649
@oryjk Please refer to https://docs.docker.com/engine/reference/builder/#add

[2021-06-17 06:41] #5649 closed, assigned to nobody

[2021-06-17 07:19] #5452 closed, assigned to nobody

[2021-06-17 07:25] oryjk commented on #5649
[code]

[2021-06-17 07:25] oryjk commented on #5649
thank you !

[2021-06-17 07:25] blackberrier commented on #5648
Can I join this discussion? Recently I am working on this part as well.
I have already done some work about submitting tasks to kubernetes. Now I have completed spark and flink tasks, including submitting, killing, and state querying . This part is simple because spark and flink architecture have done a lot for us, we can simply use `spark-submit` or `flink run` to realize. And Java\Python tasks W

[2021-06-17 07:32] CalvinKirs commented on #5648
Of course you can, you are very welcome. I'm currently working on the data source SPI and the resource storage SPI, and when those two are complete we can get started. Currently, the Task plugin and interacts more closely with these two modules. Let me start the email discussion, if you haven't subscribed to the email yet, you can refer to this document to subscribe (https://dolphinscheduler.apach

[2021-06-17 07:35] CalvinKirs commented on #5648
I remember that it is possible, HDFS is just a storage, it is not necessary, but we can still use it (when flink submit task on k8s)

[2021-06-17 08:16] zhuangchong opened #5653 "[Bug][API] Caused by: org.postgresql.util.PSQLException: ERROR: operator does not exist: ` character varying"
**Describe the bug**
Caused by: org.postgresql.util.PSQLException: ERROR: operator does not exist: ` character varying
![image](https://user-images.githubusercontent.com/37063904/122350133-855a0e80-cf7f-11eb-86b3-45a227a11ced.png)

**To Reproduce**
Create a workflow definition

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-06-17 09:30] wordhardqi opened #5655 "[Bug][Master] Task always failed."
Currently, if we have to two tasks A and  in one DAG with A -> B. The execution result of A will always be judged as `Failure` by line 919
![image](https://user-images.githubusercontent.com/13628428/122369780-15548400-cf91-11eb-9888-15a297042a63.png)
since the task id is alway 0. This mistake is releated to this [PR](https://github.com/apache/dolphinscheduler/pull/5572/files?file-filters%5B%5D=.ja

[2021-06-17 10:45] #5655 closed, assigned to nobody

[2021-06-17 13:23] #5653 closed, assigned to nobody

[2021-06-17 13:44] brave-lee commented on #5507
I will implement the back-end java code logic

[2021-06-17 14:08] pingyuan001 opened #5657 "[Bug][UI]condition node NPE"
Operation steps
1、when i has created  condition's node and linked the other nodes, i modify the link nodes name and save the process_definition.

2、excute the process_definition

3、 There is an error message in the log :
      org.apache.dolphinscheduler.server.master.runner.MasterExecThread:[189] - master exec thread exception
java.lang.NullPointerException: null
	at org.apache.dolphinscheduler.d

[2021-06-17 14:22] CalvinKirs commented on #4355
+1 Sounds good to me.

[2021-06-17 14:24] Anilople opened #5658 "[Feature][ui] user can monitor dolphinscheduler's log by Web UI"
**Describe the feature**

User can view dolphinscheduler self's *.log file under folder logs by UI without login to Linux server.

i.e those files
[code]

**Is your feature request related to a problem? Please describe.**

Some company have no ELK platform to analysis log. Everytime if people want to view log, they need to login Linux server.

**Describe the solution you'd like**

User can view lo

[2021-06-17 15:44] echohlne commented on #4355
It seems like a huge challenge, but it's worth focusing on

[2021-06-18 02:25] gaoyu2016 commented on #5585
1.3.5？这个是1个bug？

[2021-06-18 02:25] pengwf1804 opened #5660 "Is flink on yarn running, is it normal that the task is always running? After I click Stop, what is the reason why I am in the Ready to stop state all the time? Into the yarn webUI manual kill, the scheduling display failed"

[2021-06-18 02:30] gaoyu2016 commented on #5585
可以具体说下吗?

[2021-06-18 02:54] gaoyu2016 commented on #5585
我没找到1.3.5里面的milestone

[2021-06-18 03:18] qxiong522 opened #5661 "[Question] email alert using stmp.partnaer.outlook.cn failed to send, help!!!"
**Describe the question**
邮件告警发送失败
1. 以下配置：
[code]
可以发送成功

如果  `MAIL_SMTP_STARTTLS_ENABLE=true` 失败
失败代码：
[code]
2. 更换以下配置
[code]
发送失败
[code]
按照提示开启 tls `MAIL_SMTP_STARTTLS_ENABLE=true` 还是失败
失败原因：
[code]
然后换了个思路测试，用相同的 python 代码以上配置，发现可以发送成功，也就是说邮件服务那边设置是没问题的？
下面为 python 代码（不会 java，不好意思）
[code]

**Which version of DolphinScheduler:**
 -版本：1.3.6

**Additional context**
env:
    kubuntu 21.04 lts

[2021-06-18 06:07] xingchun-chen commented on #5661
modify profile

   MAIL_PROTOCOL=SMTP
   MAIL_SERVER_HOST=smtp.163.com
   MAIL_SERVER_PORT=25
   MAIL_SENDER=147xxxx009@163.com
   MAIL_USER=147xxxx009@163.com
   MAIL_PASSWD=xxxxxx
   MAIL_SMTP_STARTTLS_ENABLE=true
   MAIL_SMTP_SSL_ENABLE=false
   MAIL_SMTP_SSL_TRUST=smtp.163.com

[2021-06-18 06:12] xingchun-chen commented on #5660
Issue is the same as #5550、#5548

[2021-06-18 06:15] xingchun-chen commented on #5658
Good idea, can you contribute a PR

[2021-06-18 07:21] qxiong522 commented on #5661
It's ok, Thank!!!

[2021-06-18 07:22] #5661 closed, assigned to nobody

[2021-06-18 08:12] qulibibg opened #5662 "the dev1.4.0-how to use email alert"
t_ds_alert_plugin_instance，this table have no data，the alert change so much compare to 1.3.6

[2021-06-18 11:08] lyn916 commented on #5644
-Dvip=192.168.168.190
`
package org.apache.dolphinscheduler.common.utils;
public class NetUtils {

    private static Optional<InetAddress> toValidAddress(InetAddress address) {
          String vip = System.getProperty(VIP);
          if (address instanceof Inet6Address) {
              Inet6Address v6Address = (Inet6Address) address;
              if (isPreferIPV6Address()) {
                  r

[2021-06-18 11:13] CalvinKirs commented on #5644
This is usually not recommended (although it is also a solution), if the cluster deployment, the parameters are usually set by the operations staff unified.
For IP issues, it can't just be the framework that is doing the hard work, the user side needs to do the processing as well.

[2021-06-18 11:19] lyn916 commented on #5658
5台40C 256G 物理机做大数据集群，混合部署，数据库使用keeplaived漂移psql，避免不了worker绑定到vip，vip切换后不知道Dolphin有没有问题

[2021-06-18 11:25] CalvinKirs commented on #5658
hi,are you replying to the wrong one? By the way, for better communication, please use English, deeply thanks

[2021-06-18 11:53] CalvinKirs commented on #4355
yup, do you have any ideas about this (design or involvement in the development of the code)?

[2021-06-18 12:57] davidzollo commented on #5658
@lyn916
no problem, worker doesn't communicate with Database, only Master and API server does.
By the way,  you can join our Slack space: https://s.apache.org/dolphinscheduler-slack , any language will be OK in Slack.

[2021-06-18 16:00] davidzollo commented on #5255
greate idea.
Did you have any plan to implement this feature? or do we need to talk about how many metrics should we expose?

[2021-06-18 16:09] CalvinKirs commented on #5164
This feature is already available as a GSoC task and has been contributors accept.

[2021-06-18 16:24] CalvinKirs commented on #5255
Very good advice, if you're going to do it, it's best to wait until #5164  is done.

[2021-06-19 14:02] davidzollo commented on #5255
I think we can talk about which metrics should be exposed first,  it doesn‘t affect the issue #5164

[2021-06-20 09:39] wuhongyuwhy commented on #5637
湖北电信dns解析的问题。 文件解决了。

[2021-06-20 09:40] #5637 closed, assigned to nobody

[2021-06-21 01:40] zhbdesign opened #5667 "DataX achieves incremental synchronization,"
DataX achieves incremental synchronization, there are many kinds of data sources and targets. How to quickly synchronize all data sources of dataX

[2021-06-21 05:46] qulibibg commented on #5662
hi：

First, during the packaging and deployment of the DEV branch, I configured an alarm to be sent by QQ mailbox. This error is sent by WeChat plugin, which is an email alarm. It's hard to understand!

Second: Deployment documentation with no dev alerts.

Thank you very much！

[ERROR] 2021-06-21 11:46:12.376 org.apache.dolphinscheduler.alert.runner.AlertSender:[165] - send alert error alert data

[2021-06-21 07:35] Zzm0809 opened #5668 "[Feature][UI] Data source selection drop-down box optimization"
![图片](https://user-images.githubusercontent.com/58576849/122723939-109c1280-d2a6-11eb-8005-22fe09f3e872.png)

![图片](https://user-images.githubusercontent.com/58576849/122724209-4b9e4600-d2a6-11eb-9d4e-8c8b8a419adf.png)

这个下拉框去修改的时候 没有默认展示当前选中的  每次都是从第一条开始往下滑动
能否优化为 点击下拉框时 就定位在回显的那条数据上

或者

优化修改此类下拉框支持 搜索

[2021-06-21 07:36] Zzm0809 commented on #5668
![图片](https://user-images.githubusercontent.com/58576849/122724322-653f8d80-d2a6-11eb-89ad-09b29b632312.png)

[2021-06-21 08:11] CalvinKirs commented on #5662
you can refer this doc:https://note.youdao.com/s/TC3Q0hDI

[2021-06-21 08:12] CalvinKirs commented on #5668
Are you willing to finish it? BTW, please use english.

[2021-06-21 08:15] CalvinKirs commented on #5667
I'm working on plugin the data source. You can quickly extend it later by customizing the plugin.

[2021-06-21 08:17] CalvinKirs commented on #5660
Is your problem solved?
By the way, please provide the relevant context when asking your question.

[2021-06-21 08:17] zhbdesign commented on #5667
https://github.com/apache/dolphinscheduler/issues/5667#issuecomment-864828218

[2021-06-21 08:21] zhbdesign commented on #5667
Is there a prototype to see? When will the work be finished

[2021-06-21 08:29] ViceneLee opened #5669 "[Bug][Module Name] Bug title"
in install_config.conf
the property is
# run alert machine
# note: list of machine hostnames for deploying alert server
alertServer="node13"

it cant deploy mutil mechine,for example alertServer="node13,node14"
when config alertServer="node13,node14",the alertServer cant start

[2021-06-21 08:36] CalvinKirs commented on #5669
please refer #5538. Focus on #5538 discussions.

Please fill in the issue title correctly.

[2021-06-21 08:36] #5669 closed, assigned to nobody

[2021-06-21 16:15] echohlne commented on #4355
@CalvinKirs sorry for the delay, If there is a chance, I am willing to participate the development.

[2021-06-22 00:31] zhuangchong commented on #5585
@gaoyu2016
https://github.com/apache/dolphinscheduler/pull/4665

[2021-06-22 01:04] Squidyu opened #5671 "[Improvement][Module Name] An English spelling mistake"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
This is an English spelling mistake.

The wrong word is 'WAITTING'. It should have been 'WAITING'
**Which version of DolphinScheduler:**
 -[all]

**Describe alternat

[2021-06-22 01:05] Squidyu commented on #5671
I'm working on it and testing it

[2021-06-22 02:17] jon-qj commented on #249
+1

[2021-06-22 02:35] lyn916 opened #5672 "[Question] Shell failed to call hive to execute DDL"
**Which version of DolphinScheduler:**
 -[1.3.6]

**Additional context**
org.apache.hadoop.hive.ql.exec.DDLTask. No such file or directory

**Requirement or improvement**
- when i use shell merge the hive orc partitions, FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. No such file or directory

[code]

[2021-06-22 02:45] EliuGit opened #5673 "[Feature][Sqoop] Sqoop --null-non-string --null-string extension modification, increase lzop compression"
--null-non-string  会根据情况使用 hive支持的null值 '\\N',APP中常量FIELD_NULL_PLACEHOLDER已写死且添加时无条件判断.
org.apache.dolphinscheduler.server.worker.task.sqoop.SqoopConstants 31行
org.apache.dolphinscheduler.server.worker.task.sqoop.generator.targets.HdfsTargetGenerator 78行

hdfs压缩时建议加入lzop

[2021-06-22 03:18] chengshiwen commented on #5645
@xyzhh Two solutions:
1. You can refer to #4944 by using nginx
2. You need to modify `server.servlet.context-path` to `/` in `application-api.properties`, and modify all `/dolphinscheduler` to `/` in `dolphinscheduler-ui`, but this solution needs professional development experience

[2021-06-22 03:44] lyn916 commented on #5672
i have partiton ，but log say    ‘is partitioned but partition not found‘.
`Logging initialized using configuration in file:/usr/local/apache-hive-2.3.7-bin/conf/hive-log4j2.properties Async: true
FAILED: SemanticException org.apache.hadoop.hive.ql.parse.SemanticException: source table default.monitor_data_1 is partitioned but partition not found.`

[2021-06-22 05:17] k9flame opened #5675 "[Improvement][Module Name] Meta database storage mode recommendations"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
I am in the process of using DS, because the data rectification, I put some data deleted, but the original workflow still use the data source, so I need to each poin

[2021-06-22 05:44] lyn916 commented on #5672
[code]

[2021-06-22 06:11] chengshiwen opened #5678 "[Bug][Registry SPI] Registry SPI Bugs"
**To Reproduce**

1. Use the dev branch (d64e3cb) and build docker image
2. Run 'docker-compose up -d'
3. Go to `ZooKeeper` menu in `Monitor`
4. See loading error
5. Create a workflow and run
6. See exception in worker logs

**Expected behavior**
Bug fixed

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4902714/122872

[2021-06-22 08:01] CalvinKirs opened #5679 "[Feature][SPI-Registry] Registry center supports K8s"
discuss force on email:https://lists.apache.org/thread.html/ra33195a98686be55afd744baf8b735dd2ea5d071adc6458a340fbd03%40%3Cdev.dolphinscheduler.apache.org%3E

[2021-06-22 08:21] CalvinKirs commented on #5678
hi,I want to make sure that the master is not started at this time?

[2021-06-22 08:25] CalvinKirs opened #5680 "[Feature][SPI-DataSource] DataSources SPI"
DataSources SPI

[2021-06-22 08:26] chengshiwen commented on #5678
Started, both process instance and task instance are still running, but the state has not been updated

[2021-06-22 08:32] CalvinKirs commented on #5678
I see that the exception is No Node (dead_server), this node will be set only by master startup. If the master is started after the worker, then there will be this error. So we may need to set these nodes as registry properties, i.e. all nodes that interface to the registry will set this node by default (not just master).

But now I'm not sure if this is the problem.

The monitoring page on the in

[2021-06-22 15:49] oryjk opened #5683 "[Question] execute task"
I use mvn build a dolphinscheduler.tar.gz, and run it in docker container, when I execute a task, the instants log error occur

![Uploading image.png…]()

[2021-06-22 15:51] oryjk commented on #5683
![image](https://user-images.githubusercontent.com/6252789/122957468-8d1d1700-d3b4-11eb-940c-ca1facc0f351.png)

[2021-06-22 15:52] oryjk commented on #5683
I don’t know where this user 1038850000 comes from, I haven’t created him

[2021-06-22 21:14] xied75 commented on #5615
Hi guys,

I contacted @dailidong yesterday via gmail. Sorry that I didn't go the normal channels like mail-list for wanting a quick answer.

Now by following your exchange of emails I found this issue.

1, May I suggest to change the "Label" from "apple silicon" into "arch-arm64", and if you prefer to also create "arch-arm32", this is in line with other popular projects of how best to name/label t

[2021-06-23 02:36] ruanwenjun commented on #5675
@k9flame Yes, some attribute is store in database as JSON string, this is due to the fact that we are not currently using a document-based database. It is difficult to expand all properties to store in database.

According to you, do you need to modify the historical execute instance? It seems pointless to modify the datasource of a historical process instance. If you want to batch change the curr

[2021-06-23 03:19] chengshiwen commented on #5683
@oryjk Could you give us more details? It seems that you are doing secondary development on DS.

[2021-06-23 03:30] #5405 closed, assigned to chengshiwen

[2021-06-23 03:36] wangmingzhiJohn opened #5685 "[Question] Environment of Python Task is different from that of real worker container"
My DS system is setup by Docker.
When I ran like this in a PythonTask, I found that env is different from what i got in the docker container of worker.
![image](https://user-images.githubusercontent.com/84900511/123031551-04839280-d417-11eb-941d-971d9231422c.png)
This is what env showed by the **Python Task.**
![image](https://user-images.githubusercontent.com/84900511/123030919-14e73d80-d416-11eb

[2021-06-23 03:39] chengshiwen commented on #5615
@xied75 Thanks for your feedback.
1, Good suggestion

2 & 3, The reason for using Bitnami's images is that the [Bitnami repository](https://github.com/bitnami/charts) containing PostgreSQL and ZooKeeper is used in K8s. It has richer features, such as standard and unified management and configuration. Therefore, the corresponding images are used in docker compose and swarm. This way reduces mainten

[2021-06-23 03:43] ruanwenjun commented on #5685
@wangmingzhiJohn It is because of the tenant? It seems that you use the tenant `2` to execute the `PythonTask`. You can try to use user `2` to execute os.system("env") or os.environ directly in the container of worker, and then compare the result.

[2021-06-23 03:50] wangmingzhiJohn commented on #5685
@ruanwenjun You are right. But how can I make the ENV settings available when I use tenant to execute the python script. I can't access the hadoop because some Variable not in PATH

[2021-06-23 04:59] ruanwenjun commented on #5685
@wangmingzhiJohn I guess the hadoop is just set up for special users, you can try to add it to your tenant user's PATH.

[2021-06-23 05:10] chengshiwen commented on #5685
@wangdazhong001 Under different user, the result of `env` is different. Regardless of whether it is in the docker container, the same thing happens in linux on the host machine. The richer environment variables directly in the container of worker occur under `roor` user.  While the environment variables from the python task occur under the user whose id is 2.

Since the python script does not exec

[2021-06-23 05:55] Squidyu commented on #5671
#5682 fix

[2021-06-23 05:55] #5671 closed, assigned to Squidyu

[2021-06-23 06:19] wangmingzhiJohn commented on #5685
@chengshiwen  @ruanwenjun Thank for your advise, I will try it.

[2021-06-23 08:38] Tandoy commented on #5672
Does your shell script not rely on dolphinscheduler to execute normally on the cluster?

[2021-06-23 10:39] chengshiwen commented on #5626
Close since node updates for long time

[2021-06-23 10:39] #5626 closed, assigned to nobody

[2021-06-24 02:56] davidzollo opened #5688 "[Bug][Docs] Correct the content for plugin development document"
I found that the package name still start with cn. , the package name was wrong, this doc need to be updated
![image](https://user-images.githubusercontent.com/15833811/123195248-71ac2c00-d4da-11eb-95ed-01cf0cffca45.png)

the website doc repository url:
https://github.com/apache/dolphinscheduler-website/blob/master/development/zh-cn/plugin-development.md

By the way, please check other content in

[2021-06-24 03:12] ji04xiaogang commented on #5608
I would like to contribute to this.

[2021-06-24 03:18] ji04xiaogang commented on #5688
I would like to contribute to this.

[2021-06-24 03:29] davidzollo opened #5689 "[easy to fix list] good first contributor"
The following list is the latest newbie tasks (keep up to date). If you are participating in an open source project for the first time, it is recommended to choose one of the following tasks to practice. The first task is used to familiarize yourself with the submission process and feel the friendliness of the community. If you are interested in a task, Please leave a message, for example, `I am i

[2021-06-24 03:29] #4124 closed

[2021-06-24 04:04] #5688 closed, assigned to ji04xiaogang

[2021-06-24 05:05] davidzollo commented on #4124
this issue has been closed, Please go to the new issue: https://github.com/apache/dolphinscheduler/issues/5689

[2021-06-24 05:09] ji04xiaogang commented on #5469
I would like to contribute to this.

[2021-06-24 06:58] wybaby168 commented on #116
+1

[2021-06-24 07:23] #5678 closed, assigned to nobody

[2021-06-24 08:29] ruanwenjun opened #5690 "[Improvement][MasterServer] Start fail fast"
**Describe the question**
When a master start up, there might some reasons lead the master start up failure.
Such as the netty listen address is already in used, the QuartzExecutors starts failure, the masterRegistryClient starts failure.
Some of these error may cause the master cannot work, so the master need to close.
Currently, the master process will still exist, this is not friendly to ops.

[2021-06-24 11:01] Squidyu commented on #5690
Can we try again several times in the startup script

[2021-06-25 01:13] #5469 closed, assigned to ji04xiaogang

[2021-06-25 03:15] CalvinKirs commented on #5690
Before you start developing, it's best to talk about your solution

[2021-06-25 03:38] CalvinKirs commented on #5565
close by #5603

[2021-06-25 03:38] #5565 closed, assigned to nobody

[2021-06-25 03:59] wordhardqi opened #5692 "[Bug][Spark] When completing data, the time template replacement is not correct."
![image](https://user-images.githubusercontent.com/13628428/123367328-56a9ec80-d5ac-11eb-9e42-b0135f3c8a13.png)

When building the command for spark task, we use  `ParameterUtils.convertParameterPlaceholders` which is
[code]
This function didn't replace $[yyyy-MM-dd] using schedule time as what we did in shell task.
I notice this is a function  `ParameterUtils.convertParameterPlaceholders2` which

[2021-06-25 04:01] wordhardqi commented on #5692
The behavior is that if we completing data for spark job, all instances will use the current date time.

[2021-06-25 06:17] KingdomTaoF opened #5693 "[show the task instance list][task instance list] improve list task instances"
version：1.3.2
question：when doplin run for a long time, there are more and more task instances information store in the mysql. When i click
 the to show task instance list，the api server take a long time to get the information of all task instances (sometimes may take more than 1 minute). How can i improve this?

[2021-06-25 06:35] xingchun-chen commented on #5693
The problem of slow page access of workflow instance in version 1.3.2，which has been solved in version 1.3.3. https://github.com/apache/dolphinscheduler/pull/4201 ,
Are you sure you have slow page access of task instance?

[2021-06-25 08:52] Squidyu commented on #5690
After we execute start all, we check the actual status of the master. If it fails, we start it again and set a number of retries. If the number does not exceed this number, we can continue to restart

我们执行start-all之后检测一下master实际状态，如果失败了，那就再次启动它，设置一个重试次数，未超过这个次数可以继续重启

[2021-06-25 09:04] Squidyu commented on #5693
What is the order of magnitude of your task instance?

If the number of task instances is too large and the task content is very complex, the task list will be a little slow

[2021-06-25 10:27] geosmart commented on #5648
when use spark on k8s(spark 2.4.8 ), I make a list what we need to do:
1. change dolphinscheudler from hdfs to minio;
2. change kill yarn job by applicationId(both in worker and master)  to stop spark-driver-pod.
3. without yarn log aggregate, have to manual aggregate spark executor log by ELK or some other tool.
4. change the spark job monitor way from yarn-rest-api to k8s-api;
5...

@blackberrie

[2021-06-25 11:10] blackberrier commented on #5648
@geosmart You have considered this issue comprehensively, I think maybe we can add the following one?
1. build spark docker images, and when submitting applications let user choose or fill the docker name and version parameters. And other parameters as well?

Ps,  maybe we should consider more about your 3rd and 4th point. In yarn side, we get yarn application id from logs and filter pattern like

[2021-06-25 12:54] chengshiwen commented on #5648
@geosmart @blackberrier
I think the following things should be considered:
1. extend `SparkArgsUtils.java` and `spark.vue`
2. adapt to get the spark job state using `namespace` and `<driver-pod-name>`, instead of calling `isSuccessOfYarnState` and `yarn rest api`
3. adapt to kill spark job using `namespace` and `<driver-pod-name>`, instead of `yarn application -kill`
4. check the spark application

[2021-06-25 13:34] chengshiwen commented on #5648
BTW, only spark is discussed, it seems that the title needs to be updated to remove flink

[2021-06-25 15:48] ruanwenjun commented on #5690
@Squidyu Thanks for your plan, do you mean we check the master state by using a script?
How to check the master's state?

[2021-06-25 15:53] CalvinKirs commented on #5692
good job, we should be consistent.

[2021-06-25 15:55] CalvinKirs commented on #5693
There is a lot of related work being done to optimize the API interface. the possibility of revamping this piece is great. You can check the history of the issue, I have mentioned the relevant optimization.

[2021-06-25 16:09] wordhardqi commented on #5230
I installed 4 workers on 4 machine. I also got this error
[code]
Every worker machine's log has this log.

[2021-06-25 16:52] CalvinKirs commented on #5230
It would be nice to have specific information, at the moment I don't think it's a DS question. The magic number checksum failure indicates that the sender message format does not match. Maybe you should check if another client has tried to send a message to DS.（I'm just stating a possible scenario）

[2021-06-26 03:56] chengshiwen opened #5699 "[Bug][UI] Update user error in user information"
**To Reproduce**

User Infomation Page-> Click Edit Buttom  -> popup Edit User Dalog -> Click Edit Button to finish the edit action.

**Expected behavior**
Bug fixed

**Screenshots**
![image](https://user-images.githubusercontent.com/52202080/121630957-c0a49b00-cab0-11eb-870b-619ecc2f5d4a.png)

**Which version of Dolphin Scheduler:**
 -[1.3.6]
 -[dev]

[2021-06-26 09:52] garyganyang commented on #5528
im running 1.3.6, while i run python with threading, something like below:
[code]
[code]
and i encounter the same exception

[ERROR] 2021-06-26 17:39:28.687  - [taskAppId=TASK-7-112-2132]:[384] - null
java.util.ConcurrentModificationException: null
	at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:909)
	at java.util.ArrayList$Itr.next(ArrayList.java:859)
	at java.lang.String.join(S

[2021-06-26 13:17] echohlne opened #5701 "[Bug][UI][DAO]When deleting a user, the accessToken associated with the user should also be deleted"
When deleting a user, the accessToken associated with the user should be also deleted
1. create a normal user
![image](https://user-images.githubusercontent.com/52202080/123464117-0029c600-d61f-11eb-84ba-bd4717ca5ada.png)

2. add an accesstoken associated with the user created in the step 1.
 ![image (1)](https://user-images.githubusercontent.com/52202080/123464155-0c158800-d61f-11eb-8c4a-f41c58f7

[2021-06-26 14:48] echohlne commented on #5701
PR #5697 try to fix this.

[2021-06-26 14:53] echohlne opened #5702 "[Improvement] [APIServer] When update the existing alarm plug-in instance, the api should use POST instead of GET"
When update the existing alarm plug-in instance, the front-end and back-end interaction should use POST method instead of GET.

![image](https://user-images.githubusercontent.com/52202080/123516818-9bc73f00-d6d0-11eb-9186-4f3b2f8dad00.png)

[2021-06-26 16:28] oryjk commented on #5690
add a probe?

[2021-06-27 07:17] brave-lee commented on #5505
I will implement the back-end java code logic

[2021-06-27 07:18] brave-lee commented on #5502
I will implement the back-end java code logic

[2021-06-27 10:58] #5702 closed, assigned to nobody

[2021-06-27 11:54] Hermesfuxi opened #5704 "[Bug][dev][Root] maven dependency required version information is missing"
**Which version of Dolphin Scheduler:**  [dev]
**Describe the bug**
![image](https://user-images.githubusercontent.com/18678070/123543387-ae00b600-d780-11eb-9b84-af64fd900b31.png)
![image](https://user-images.githubusercontent.com/18678070/123543412-d983a080-d780-11eb-8e61-da4ee24a2c44.png)

[2021-06-27 16:13] ruanwenjun commented on #5704
@Hermesfuxi Can you try to refresh the dependencies? This doesn't seem to be an issue.

[2021-06-28 01:11] Squidyu commented on #5690
In a simpler way, we can directly judge whether the master process exists or not

[2021-06-28 01:59] brave-lee opened #5706 "[Improvement][common] Upgrade the version of fastjson from 1.2.61 to 1.2.75"
To solve known bugs, upgrade fastjson

[2021-06-28 02:51] docming opened #5708 "[Question] the meaning of the table"
##### describe the details of every table in database

[2021-06-28 02:58] wordhardqi commented on #5692
the pr is https://github.com/apache/dolphinscheduler/pull/5695/commits

[2021-06-28 03:01] ruanwenjun commented on #5528
@garyganyang, I have submitted a pr to solve this CME problem. Can you try to cherry-pick my pr and test again? Thanks.

[2021-06-28 04:03] geosmart commented on #5648
@chengshiwen @blackberrier  thanks for your advice, and try  to do a small stage conclusion.

when `provide k8s to run spark app`, we need do:

# environment prepare
* build spark on k8s docker image for special spark version.
* collect spark driver and executor log by `elk` or som other stack
* collect metrics and monitor spark cluster by `promethus`　or som other stack

# ds-frontend
* `deployMod

[2021-06-28 05:09] ruanwenjun commented on #5690
@oryjk Does this way need to expose some additional metrics?

[2021-06-28 05:12] ruanwenjun commented on #5690
This may not work weel, right now when we start MasterServer, if there are some configuration errors, the master process will still start successfully, but cannot work well.

[2021-06-28 05:56] #5706 closed, assigned to nobody

[2021-06-28 06:46] #5708 closed, assigned to nobody

[2021-06-28 09:55] JacobZheng0927 commented on #4283
I have also implemented the data quality management function in my company. The difference is that my work is based on Spark + parquet/avro to complete the data quality calculation. So I can provide some reference for the design of the calculation rules or the implementation of the specific code. I am very interested in participating in the development of this feature.How can I help you?

[2021-06-28 12:26] EtachGu opened #5709 "[Bug][Worker] Sqoop task create file permission denied"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

A sqoop task create file permission denied

**To Reproduce**
log file,   mysql url has been desensitization
[code]

**Expected behav

[2021-06-28 16:34] echohlne opened #5710 "[Improvement][ALERT-LOG] The usage of Preconditions.checkState in Guava is wrong"
The usage of Preconditions.checkState in Guava is wrong, the placeholder should use the form of %s instead of {}
like this: [DolphinPluginLoader.java#L107](https://github.com/apache/dolphinscheduler/blob/3d8d1ebe67cc3331ff5fda649675b5c61a04df5f/dolphinscheduler-spi/src/main/java/org/apache/dolphinscheduler/spi/plugin/DolphinPluginLoader.java#L107)
[code]
we can reproduce this like this simple samp

[2021-06-28 17:03] #5710 closed, assigned to nobody

[2021-06-28 17:28] CalvinKirs commented on #5701
close by #5697

[2021-06-28 17:28] #5701 closed, assigned to nobody

[2021-06-29 02:56] ji04xiaogang commented on #5608
I would like to contribute to this and I will solve this issue in 3days.

[2021-06-29 03:05] QuakeWang commented on #5608
First of all thank you for wanting to participate, but this [task](https://github.com/apache/dolphinscheduler-website/pull/389) has already been done, feel free to pick up a new task, you can refer to this [issue](https://github.com/apache/dolphinscheduler/issues/5689)

[2021-06-29 03:08] ji04xiaogang commented on #5608
OK. I see the issuse has been repopen . I pick up a new task .

[2021-06-29 03:10] ji04xiaogang commented on #5546
I would like to contribute to this.

[2021-06-29 03:11] CalvinKirs commented on #5704
hi,deeply thanks for your contribution, but this is not a problem, you should check if there is a problem with your mvn download (it may need an accelerated download address).

As you can see, we have introduced spring-boot-starter-parent, so there is no need to declare each child dependency.

[2021-06-29 03:11] #5704 closed, assigned to nobody

[2021-06-29 04:50] davidzollo commented on #5608
@ji04xiaogang , please update the content of this picture in English
![image](https://user-images.githubusercontent.com/15833811/123738856-334aae80-d8d8-11eb-8c75-d9da862b7f25.png)
and only keep the last two items, thank you.
the result pic looks like the following pic
![image](https://user-images.githubusercontent.com/15833811/123738944-64c37a00-d8d8-11eb-9481-abdc6e17ad50.png)

talking about the

[2021-06-29 06:55] zhuangchong commented on #5680
+1

[2021-06-29 08:54] davidzollo commented on #4283
When you see the current solution, please give some suggestions and we can discuss

[2021-06-29 09:12] didiaode18 commented on #5680
+1

[2021-06-29 09:22] #5699 closed, assigned to nobody

[2021-06-29 10:07] shuitao commented on #4750
we need this feature also

[2021-06-29 10:17] shuitao opened #5713 "[Feature][Process node] add sql task in flink process node"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
since we have lot of data engineer usually work with sql, and we need to use flink to do data collect and process.
we only have 3 ways(java,scala,python) to submit fl

[2021-06-29 10:21] EtachGu commented on #5709
有没有人看一下，要不用中文说一遍，Sqoop任务出错，提示无权限修改创建文件或修改文件。
定位原因：
`FileUtils.java`
[code]

[2021-06-29 11:45] echohlne opened #5714 "[Improvement][Plugin] When updating the existing alarm instance, the `creation time` should't be updated."
When updating the existing alarm instance, it would cause the `creation time`  to be always same with the `modification time`

+ when create a new alam instance, `creation time` and `update time` is same, it's right.
![image](https://user-images.githubusercontent.com/52202080/123791406-f8fe0300-d911-11eb-8d6d-25e81b6f5deb.png)

+ when I try to update the existing alarm instance, after updating suc

[2021-06-29 14:35] jasonlnk commented on #5675
This is a problem。If the data source of the JSON file changes, a function is needed to change the data source information in the JSON file synchronously when the data source changes.
I have an idea to store the content of the JSON file in the database in the form of text. When running, it will be extracted from the database to generate a JSON file for job. When the data source changes, we just nee

[2021-06-29 14:42] chengshiwen opened #5719 "[Bug][K8s] Ingress ERROR io.k8s.api.networking.v1beta1.IngressSpec.tls: got "map", expected "array" On TLS enabled"
Ingress ERROR io.k8s.api.networking.v1beta1.IngressSpec.tls: got "map", expected "array" On TLS enabled

**Expected behavior**
Bug fixed

**Which version of Dolphin Scheduler:**
 -[dev]
 -[1.3.6]

**Additional context**
Add any other context about the problem here.

**Requirement or improvement**
- Please describe about your requirements or improvement suggestions.

[2021-06-29 16:25] CalvinKirs commented on #5657
hi, which version?

[2021-06-30 00:25] pingyuan001 commented on #5657
the dev and 1.3.6 has the bug ------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年6月30日(星期三) 凌晨0:25
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [apache/dolphinscheduler] condition node bug (#5657)

[2021-06-30 02:03] EtachGu commented on #5709
Finally， I solved this problem，we must change the `supervisor.ini` configuration of Worker server， add umask=002

[code]

and it works,  GOOD

[2021-06-30 02:45] zhanggengengen opened #5720 "[Question] when i specify two worker,just one success"
i create a workflow and specify one wokerGroup,this workerGrroup include two wokers,when i running this instance,just one worker run,another no logs and DB just has one task instance record,what's wrong with it

[2021-06-30 02:49] chengshiwen commented on #5720
@zhanggengengen Once one woker group is specified, only one of workers in the worker group will be chosen to dispatch task. So the description you mentioned is just right

[2021-06-30 02:59] zhanggengengen commented on #5720
it means that no way to make two workers perform together.my nees are like that when i create a workflow and specify two workers,when i execute it, i want two wokers perform together

[2021-06-30 03:02] wangxj3 opened #5721 "[Bug][master-server] Global params parameter missing"
There are four tasks in this DAG ,and the relation like this image。
![图片](https://user-images.githubusercontent.com/26736756/123894671-22aa3f00-d991-11eb-9695-a3b0a3ee4899.png)
The task C has a out param named ParamC. the task B has ParamB.If the task D need ParamC and ParamB,It will lost the value of ParamB.Because the taskInstance D created just in the back of C,is not the back of B.

[2021-06-30 03:06] chengshiwen commented on #5720
As for task in the workflow, you can specify the worker group for the task respectively. But for workflow, at least not currently supported

[2021-06-30 03:58] wengieeee opened #5722 "[Bug][log] java.util.ConcurrentModificationException: null often appear in the log"
**Which version of Dolphin Scheduler:**
 -[1.3.6]

The following errors often appear in the log，It will not affect the success or failure of the task, but will affect the printing of the log

[ERROR] 2021-06-30 07:02:36.924  - [taskAppId=TASK-78-10550712-14319202]:[384] - null
java.util.ConcurrentModificationException: null
	at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:909)
	at

[2021-06-30 04:02] CalvinKirs commented on #5528
close by #5530

[2021-06-30 04:02] #5528 closed, assigned to nobody

[2021-06-30 04:03] CalvinKirs commented on #5722
please see #5528, I will release it in 1.3.7

[2021-06-30 04:04] CalvinKirs commented on #5722
You can test it first.

[2021-06-30 05:01] tinyking commented on #5622
Hi, i will take this issue. Thanks.

[2021-06-30 05:15] CalvinKirs commented on #5225
please refer https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/alert_spi.html

[2021-06-30 05:15] #5225 closed, assigned to nobody

[2021-06-30 05:23] #5622 closed, assigned to tinyking

[2021-06-30 08:41] tinyking opened #5725 "[Bug][CheckStyle] Import checkstyle config file in idea's checkstyle plugin, get a CheckStyleException"
Import checkstyle config file(https://github.com/apache/dolphinscheduler/blob/dev/style/checkstyle.xml), IDEA throw a CheckStyleException. The information is as follows:

**Which version of Dolphin Scheduler:**
 -[dev]

**Idea info:**
![image](https://user-images.githubusercontent.com/4127712/123929326-50a77780-d9c1-11eb-9252-a9ca268bde74.png)

**Exception info:**
![微信截图_20210630141057](https://us

[2021-06-30 08:43] shuitao commented on #3649
+1

[2021-06-30 09:22] ruanwenjun commented on #5725
You can use checkstyle version 8.23 in IDEA, it can work well. https://dolphinscheduler.apache.org/en-us/community/development/pull-request.html
![image](https://user-images.githubusercontent.com/22415594/123933950-6ae35480-d9c5-11eb-81ea-da28abfd7c7d.png)

I think we can fix that, the `LineLength ` is not supported under `TreeWalker`. https://github.com/jshiell/checkstyle-idea/issues/458

https:/

[2021-06-30 12:28] echohlne opened #5726 "[Improvement][UI] When we used the UI page, we found some problems such as parameter validation, parameter update shows success but actually work"
###  1.When editing an existing data source, the data source type does not actually support switching, preferably not editing

![image](https://user-images.githubusercontent.com/52202080/123957653-a3435c80-d9de-11eb-8097-f14fc890586c.png)
![image](https://user-images.githubusercontent.com/52202080/123956430-46937200-d9dd-11eb-8bec-dc394ad0c654.png)

###  2.When editing an existing data source, the

[2021-06-30 13:51] wordhardqi opened #5728 "[Bug][Scheduler] Wrong Schedule Time"
As shown in the following img, the task's scheduling at 01:00 is skipped which is not correct.
![image](https://user-images.githubusercontent.com/13628428/123972149-2e2b5380-d9ed-11eb-9fa7-bace375eee72.png)

[2021-06-30 15:06] ruanwenjun commented on #5728
The cron expression `0 0 3/2 * * ? ` means execute every 2 hours and start from 3, am I right?

[2021-07-01 02:36] wangmingzhiJohn opened #5729 "[Question] Failed to connect to mysql by jdbc"
**Describe the question**
I used the cluster mode to deploy DS.
When I execute `bash script/create-dolphinscheduler.sh` to init the database, errors came out:
[code]
Now I deploy everything on the single machine to test cluster deployment. If everything is ok, then I will add more machines in.
Mysql's username and password is correct. I don't know why this happened

**Which version of DolphinSched

[2021-07-01 02:47] docming opened #5730 "[Bug][dolphin-master] there is no alert"
### when a http send cost a long time the master will not invoke alertDao to alert the result.

[2021-07-01 02:49] wangmingzhiJohn commented on #5729
More information, I am concerned about the mysql status, cause below:
[code]
It seems that mysqld is not available, but I can login in mysql and query about the database:
[code]

[2021-07-01 03:04] ruanwenjun commented on #5729
@wangmingzhiJohn Hi, you mean you can deploy on one machine, but now you can't add more machines, right?
It seems caused by `Connection refused  `, you can check if you can connect to `mysql` by `telnet` on your new machine or check if the firewall is correct on the machine which you deployed `mysql`.

[2021-07-01 03:33] wangmingzhiJohn commented on #5729
@ruanwenjun No. I mean I want to deploy on more machines if I can deploy on one machine successfully by Cluster Deployment Method.
And I just modified the datasource.url in datasource.properties to 127.0.0.1, then it worked.
I am confused about that. The deployed machine's ip is 202.168.126.69. What is different between ip and 127.0.0.1?

[2021-07-01 03:38] wangmingzhiJohn commented on #5729
@ruanwenjun
[code]

[2021-07-01 03:41] tinyking commented on #5729
@wangmingzhiJohn  Are you confirmed your mysql config. Is it support 202.168.126.69 or % for the mysql user.

[2021-07-01 03:50] wangmingzhiJohn commented on #5729
@tinyking
![image](https://user-images.githubusercontent.com/84900511/124061708-f3173780-da61-11eb-92c9-19df6418eea5.png)
I supposed that the bind-address is the cause of problem. Should I changed it to 0.0.0.0?

[2021-07-01 04:00] wangmingzhiJohn commented on #5729
I changed the bind-address to 0.0.0.0 and it worked!

[2021-07-01 04:29] tinyking commented on #5729
@wangmingzhiJohn  bind-address is mean only support it.

[2021-07-01 07:02] Jiezhi opened #5731 "[Feature][service] Submit actions to YARN like Oozie"
**Describe the feature**
DS submit job to YARN like Oozie.

**Describe the solution you'd like**

Besides Sqoop or other MR jobs,  Oozie would start jobs like normal Java program (not MR job) directly to YARN. Oozie supplys a Yarn ApplicationMaster layer to its jobs. In other words, any jobs running on Oozie would be a YARN application.

But DS run jobs just in local way (please correct me if I'm

[2021-07-01 07:11] CalvinKirs commented on #5731
The worker just calls the task client to trigger the task, you can search for AbstractYarnTask, which is usually submitted to yarn. k8s will be supported later.

Or, did I misunderstand what you meant?

[2021-07-01 07:16] CalvinKirs commented on #5722
resolved in #5528

[2021-07-01 07:16] #5722 closed, assigned to nobody

[2021-07-01 07:20] CalvinKirs commented on #5662
please refer https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/alert_spi.html

[2021-07-01 07:20] #5662 closed, assigned to nobody

[2021-07-01 07:21] Jiezhi commented on #5731
Maybe AbstractYarnTask can solve my problem, does that mean I need to develop the plugin myself according to [plugin-development](https://dolphinscheduler.apache.org/en-us/development/plugin-development.html).

If there's no official plugin(which is this issue request), I can spend some time on this plugin development.

[2021-07-01 07:24] CalvinKirs commented on #5731
What type of tasks do you need to submit to yarn?
Can't the existing task types fit?

[2021-07-01 07:32] Jiezhi commented on #5731
Just a normal Java task, say a helloworld program.

Because we used to deploy tasks to oozie, and some of our jobs are pure Java programs. And we are migrating Oozie workflow to DS now, while  awkwardly found DS cannot submit those jobs to YARN directly like Oozie.

[2021-07-01 07:36] CalvinKirs commented on #5731
This you need to implement yourself, there is currently no Java type of task.
Later we will change to SPI form, so that it is easier to extend.

[2021-07-01 07:46] Jiezhi commented on #5731
Ok, thanks.

[2021-07-01 07:46] #5731 closed, assigned to nobody

[2021-07-01 11:44] davidzollo opened #5732 "[Improvement][Doc] update the content of the architecture document"
**Describe the question**
the architecture document is old, please update the content of the architecture document

Architecture introduction: https://dolphinscheduler.apache.org/en-us/development/architecture-design.html

the doc repository: https://github.com/apache/dolphinscheduler-website/blob/master/blog/en-us/architecture-design.md

**Which version of DolphinScheduler:**
 -[1.3.x]

[2021-07-01 12:22] wangmingzhiJohn opened #5733 "[Question] error with /usr/bin/nohup"
**Describe the question**
When I ran a Shell Task on the DS deployed in cluster way, the log of task has below information:
[code]
I create a tenant. And the tenant code is exactly same as my account's name.
So, does anyone know the possible causes of this error?

**Which version of DolphinScheduler:**
 -[1.3.6-release]

[2021-07-01 13:56] jj551 commented on #5732
Describe the question
the architecture document is old, I will update the content of the architecture document

Architecture introduction: https://dolphinscheduler.apache.org/en-us/development/architecture-design.html

the doc repository: https://github.com/apache/dolphinscheduler-website/blob/master/blog/en-us/architecture-design.md

Which version of DolphinScheduler:
-[1.3.x]

[2021-07-01 14:18] flytowns commented on #5500
Hi, I will do it.

[2021-07-01 14:19] flytowns commented on #5501
Hi, I will do it.

[2021-07-01 14:19] flytowns commented on #5514
Hi, I will do it.

[2021-07-01 14:20] flytowns commented on #5516
Hi, I will do it.

[2021-07-01 14:40] darrkz opened #5734 "[Question] Maybe bug in scheduler, run task too slow"
**Which version of DolphinScheduler:**
 -[1.3.6-binary release]

**Additional context**
centos-release-7-6.1810.2.el7  64bit
openjdk version "1.8.0_275"
Zookeeper version: 3.7.0-e3704b390a6697bfdf4b0bef79e3da7a4f6bac4b, built on 2021-03-17 09:46 UTC
postgresql 11
aliyun

**Requirement or improvement**
I start use dolphinscheduler recently, but I found that , some process is too slow.
I add a shell

[2021-07-01 15:33] darrkz commented on #5734
Sorry, I add a rand number generate cost too long time.
but when I use sql node and connect mysql user jdbc, the sql command runnind in shell cli cost 1.9s, in dolphinscheduler cost about 6s...

[2021-07-02 02:11] cpsky commented on #5512
I will do it

[2021-07-02 02:13] cpsky commented on #5513
I will do it

[2021-07-02 03:50] jacobawy opened #5736 "Error from docker images of apache/dolphinscheduler:latest"
[code]

[2021-07-02 05:04] chengshiwen commented on #5736
@jacobawy Please provide the steps to reproduce the error. It seems that you used the `dev` branch

[2021-07-02 05:05] chengshiwen commented on #5685
Close since it has been replied

[2021-07-02 05:05] #5685 closed, assigned to nobody

[2021-07-02 05:06] chengshiwen commented on #5636
Close since it has been replied

[2021-07-02 05:06] #5636 closed, assigned to nobody

[2021-07-02 06:02] geosmart opened #5737 "[Bug][Datasource] datsource other param check error"
when add a mysql datasource, I wan't to set connec param with `serverTimezone=Asia/Shanghai`

so add other param with json format `{"serverTimezone":"Asia/Shanghai"}`

but the check rule make the param not working.

the `Pattern PARAMS_PATTER = Pattern.compile("^[a-zA-Z0-9]+$");` make '/' illegal.

[2021-07-02 06:20] jacobawy commented on #5736
Yes i used `dev` branch. Now use `master` branch  the problem is resolved. Thanks

[2021-07-02 06:20] #5736 closed, assigned to nobody

[2021-07-02 06:36] ruanwenjun commented on #5733
Is the shell correct?

[2021-07-02 06:41] wangmingzhiJohn commented on #5733
@ruanwenjun  what does that mean?
I can run this command correctly on the machine
`sudo -u wangmingzhi sh /tmp/dolphinscheduler/exec/process/2/4/11/12/4_11_12.command`

[2021-07-02 07:13] ruanwenjun commented on #5733
@wangmingzhiJohn Is `/usr/bin/nohup ` the contents of your script? I mean is your script correct?

[2021-07-02 07:27] wangmingzhiJohn commented on #5733
@ruanwenjun
No, I didn't use the `nohup` anywhere. So I don't know where is from. Whatever I write in the script, this fault is always there.

[2021-07-02 09:43] wangmingzhiJohn commented on #5733
It seems like irrelevant to ShellTask, I also met this problem in PythonTask.

[2021-07-02 11:18] echohlne opened #5738 "[Improvement][UI] The cancel button in the pop-up dialog of `batch copy` and `batch move` doesn't work."
The cancel button in the pop-up dialog of `batch copy` and `batch move`  doesn't work.
When we click the cancel button, the dialog can't close.

![image](https://user-images.githubusercontent.com/52202080/124266707-e251e900-db69-11eb-9671-d726995ab699.png)

[2021-07-02 12:09] ruanwenjun commented on #5733
@wangmingzhiJohn Can you share your script? What is your environment? And how to reproduce this issue. It can work well on my machine.

[2021-07-02 12:42] wangmingzhiJohn commented on #5733
@ruanwenjun
I deploy system by this
![image](https://user-images.githubusercontent.com/84900511/124273411-922b5480-db72-11eb-90f0-f1029e3bfc23.png)
in cluster way
But I deploy every service on a single machine, which has environment:
[code]
mysql is serving on the same machine
the deployuser is `wangmingzhi` which is `wangmingzhi ALL=NOPASSWD: ALL
` in /etc/sudoer
And my tenant code is root, which

[2021-07-02 12:55] timlincool commented on #5230
It is possible that use the other monitoring system , and the health check calls the same port. I just encountered this problem, and fix by changing the health check port .

[2021-07-02 13:03] ruanwenjun commented on #5733
@wangmingzhiJohn Can you provide the full log? It seems that the error is coming from your script.

[2021-07-03 01:51] wangmingzhiJohn commented on #5733
@ruanwenjun
![image](https://user-images.githubusercontent.com/84900511/124339810-8461e780-dbe3-11eb-99c6-d9c482e0c36d.png)
It seems that something went wrong when I want to check the log
This is api log:
[code]

And this is worker log:
[code]

This is master log:
[code]
Maybe you want the full worker log, I think.

[2021-07-03 03:42] wangmingzhiJohn commented on #5733
Well, it does not show the log because of another logger process. I kill the extra one and the log became normal. But it is still same as shown in the worker.log

[2021-07-03 03:47] ruanwenjun commented on #5733
@wangmingzhiJohn Sorry, I cannot reproduce this problem, I look up some online information, it shows that it may be due to coding. If you can debug, you can check the content in `/tmp/dolphinscheduler/exec/process/2/5/28/33/5_28_33.command` and run it manual.

[2021-07-03 03:59] wangmingzhiJohn commented on #5733
[code]
From the log, I supposed that `/tmp/dolphinscheduler/exec/process/2/6/32/37/6_32_37.command` is
[code]
And I am curious about what is in `/tmp/dolphinscheduler/exec/process/2/6/32/37/6_32_37_node.sh`

[2021-07-03 04:08] wangmingzhiJohn commented on #5733
@ruanwenjun
Manually execution is all right
[code]

[2021-07-03 06:44] wangmingzhiJohn commented on #5733
@ruanwenjun
From another perspective, what can we get from the error information `/usr/bin/nohup: invalid option -- 'u'`?
My opinion is that `nohup` must be called somewhere as `/usr/bin/nohup: invalid option -- 'u'` is the output from the subprocess.
After search the whole project, only here use `nohup`:
`script/dolphinscheduler-daemon.sh`
[code]

[2021-07-03 08:43] ruanwenjun opened #5741 "[Improvement][Worker] Improve task process status log"
**Describe the question**
In the AbstractCommandExecutor, after the task process executed, it will log the status.
We need to move the log from line 206 to line 227, the `result.getExitStatusCode()` is always 0, because we did not assign value.
https://github.com/apache/dolphinscheduler/blob/2ba569acd028c00c22f4853de7c58251ac72816c/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/

[2021-07-04 15:37] CalvinKirs commented on #5737
Can you submit a PR? The scope of regular filtering can be appropriately relaxed.

[2021-07-04 15:38] CalvinKirs commented on #5734
Can you provide more detailed info?

[2021-07-04 15:42] CalvinKirs commented on #5230
no update.

[2021-07-04 15:42] #5230 closed, assigned to CalvinKirs

[2021-07-04 15:46] #5714 closed, assigned to nobody

[2021-07-05 01:13] darrkz opened #5742 "[Question] Why not sqoop in dolphinscheduler support postgresql"
**Which version of DolphinScheduler:**
 -[1.3.6-binary]

**Additional context**
I use dolphin to scheduler some job,
But I found that sqoop in dolphinscheduler not support export data to postgresql, but support MySQL.
I found someone mention that not support Oracle because it is an commercial software. But postgresql is!
So why? and how to support it ??

[2021-07-05 02:47] wangmingzhiJohn commented on #5733
@ruanwenjun
OMG, I removed the `-u {tenant code}` from execution command and it could run without error

[2021-07-05 02:50] daizc1 opened #5743 "[Improvement]Added confirmation function for re-run and recovery failure"
重跑及恢复失败增加确认功能

[2021-07-05 02:55] ruanwenjun commented on #5733
😄

[2021-07-05 03:19] brave-lee commented on #5503
I will implement the back-end java code logic

[2021-07-05 03:19] brave-lee commented on #5504
I will implement the back-end java code logic

[2021-07-05 03:20] brave-lee commented on #5506
I will implement the back-end java code logic

[2021-07-05 03:31] davidzollo opened #5745 "[Feature][Docs] Add link to go to the corresponding github address"
Please add this feature for DolphinScheduler official website, the repository : [https://github.com/apache/dolphinscheduler-website](https://github.com/apache/dolphinscheduler-website)

This feature is as pointed by the arrow on the [apache dubbo](https://dubbo.apache.org/en/docs/) in the picture below
![image](https://user-images.githubusercontent.com/15833811/124413611-95e1f580-dd83-11eb-8e1f-88

[2021-07-05 05:15] davidzollo commented on #5743
good idea,
Would you like to implement this feature?

[2021-07-05 08:59] darrkz opened #5746 "[Question] datax task not support select hive connection"
**Which version of DolphinScheduler:**
 -[1.3.6-binary]

**Requirement or improvement**
- not support hive in datax?
I know datax itself support hive and hdfs, but when I use it in dolphinscheduler, I found that, it just support normal jdbc database , not include Hive. So why? and how to support??

[2021-07-05 09:04] Patil2099 commented on #5745
I would love to pick this up

[2021-07-05 09:24] latincross opened #5747 "[Question] 条件模块-分支流转-不显示问题"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.
工作流定义中-条件模块-分支流转选项-请选择中无法显示分支。一直是暂无数据。需要连线后才能显示，已经解决。

**Which version of DolphinScheduler:**
 -[1.3.6]

**Additional conte

[2021-07-05 09:36] jon-qj opened #5748 "[Improvement][Monitor] ZookeeperMonitor"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**

![image](https://user-images.githubusercontent.com/39773194/124447042-95f9e980-ddb3-11eb-8a70-b18c9d044c42.png)
I think the judgement of this value is not reasonabl

[2021-07-05 09:49] davidzollo opened #5749 "[Feature][Master] migrate the global priority implementation of version 1.2 to the dev branch"
hi guys,

Is there any contributor who can migrate the global priority implementation of version 1.2 to the dev branch and add the Redis implementation at the same time?

for now, The priority of the implemented workflow 1.3.x is partial priority, which cannot meet business needs.

If you're interested in this task, please let me know.
If you have any questions about this migration, please also le

[2021-07-05 09:56] davidzollo commented on #5749
this feature is mainly related with the following classes in version 1.2.1.
![image](https://user-images.githubusercontent.com/15833811/124453571-16234d80-ddba-11eb-9d5c-19d2311ffc89.png)

[2021-07-05 09:56] brave-lee commented on #5498
The projectCode will be instead of projectName in the method of ProjectService.checkProjectAndAuth

[2021-07-05 10:01] davidzollo commented on #5745
good, looking forward to your PR

[2021-07-05 10:26] darrkz commented on #5734
Just the log above
MySQL cli run the sql just cost 1.9s and I run the sql for times
in dolphinscheduler, cost 5-6s

[2021-07-05 13:03] SuperHeroBigData opened #5751 "udf resources dir error"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
my conf/common.properties is this.
![image](https://user-images.githubusercontent.com/73939396/124475353-34964280-ddd4-11eb-8f94-7170b04a2c0f.png)
![image](https://user-images.githubuse

[2021-07-05 13:05] davidzollo commented on #5748
Will we show a  message like “can't connect to zookeeper server” on the front-end be better?

[2021-07-05 13:47] #5608 closed, assigned to althafpj

[2021-07-05 13:51] #5747 closed, assigned to nobody

[2021-07-05 15:28] mgsky1 opened #5752 "[Feature][Master-Server] Add Blocking Task"
[English](#en) | [中文](#zh-cn)

# <a id="en">About Adding Blocking Task</a>
## Scenarios & Goal

Normally, we execute the whole workflow from start to the end. But sometimes, we want to pause the workflow to check the intermediate result. If correct, execution process continue. If not, pause the workflow and inform someone to solve it. So, I propose blocking task. The aim of blocking task is to pau

[2021-07-05 16:57] echohlne commented on #620
I have implemented this feature.
I will submit a pr  ASAP. Please assign the task to me, Thanks a lot.

[2021-07-06 01:49] jon-qj commented on #5748
That will be great.In my opinion,I don't care if the running state of each node of the zk cluster is 'imok',as long as some nodes don't disconnect from the cluster,I will get to know that all of the monitoring indexes.

[2021-07-06 03:05] jon-qj opened #5753 "[Improvement][TaskKillProcessor] command 'pstree'"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**

when I killed the task,I found some problems.
![image](https://user-images.githubusercontent.com/39773194/124534406-c9d21f00-de46-11eb-912d-2ca9fa92da4a.png)
my cen

[2021-07-06 05:23] #5730 closed, assigned to nobody

[2021-07-06 08:19] wangmingzhiJohn opened #5754 "[Question] Can't upload resource to hdfs"
**Describe the question**
I set resourceStorageType to "HDFS" and copied core-site.xml/hdfs-site.xml to dir /opt/soft/hadoop/etc/hadoop/
And I am not sure If I set the defaultFS variable correctly. I tried `"hdfs://bigo-rt"` or  `"hdfs://bigo-rt:8020"`, but neither worked.
Part of my core-site.xml is:
[code]
And the corresponding part in install_config.conf is:
[code]
I can access this hdfs like:

[2021-07-06 08:20] sunshining93 opened #5755 "[Bug][Master Dispatch] Master Dispatch Task Instance Failed"
After using Dolphin Scheduler to create a simple work flow that contains some tasks, few tasks can not run in time when the timer tasks trigger.
In this case, master node and worker node load avg is very low, it seems like this always happens when the Netty Error occurs.
In the work flow, the task instance is Submit Success status, but can not get any Log Info in execute worker node, this situatio

[2021-07-06 08:23] wangmingzhiJohn commented on #5754
I am confused about the fs.defaultFS `file:///` which I actually set to `hdfs://bigo-rt`

[2021-07-06 10:17] wen-hemin commented on #5509
I will develop it.

[2021-07-06 10:18] wen-hemin commented on #5510
I will develop it

[2021-07-06 10:18] wen-hemin commented on #5511
I will develop it

[2021-07-07 00:13] davidzollo commented on #5748
good, are you interested in trying to implement it?

[2021-07-07 01:40] jon-qj commented on #5748
My pleasure,I try to implement it.

[2021-07-07 02:14] simsicon commented on #5752
The solution 1 looks better to me, because the blocking operation should be general to all type of nodes, extra specific blocking nodes would cause the DAG modifications.

The blocking condition should support pre/post script returning

[2021-07-07 02:23] simsicon commented on #5752
On the disadvantages mentioned about the current task node:

I think the blocking is not a fully workflow controlling as it can only pause and continue the flow, not branching the flow, and the node itself should has rights and domain knowledges to determine if everything as expected.

Maybe just a different icon marking will do that? Sounds it should be just a UI issue.

[2021-07-07 04:34] echohlne opened #5758 "[Improvement][APIDoc] There are some problems in the api documentation that need to be improved"
### 1. Some catagory names are directly displayed as variable names, lacking correct descriptions in Chinese and English

![image](https://user-images.githubusercontent.com/52202080/124699395-4c2d1280-df1d-11eb-8950-6a5b99535af5.png)

 ### 2. Some interface descriptions are directly displayed as variable names, which is not friendly

![image](https://user-images.githubusercontent.com/52202080/1246

[2021-07-07 05:00] echohlne opened #5760 "[Question] The ability to initialize HDFSConfiguration by customizing the path of hdfs-site.xml and core-site.xml?"
I'm not sure does the current configuration file support the initialization of HDFSConfiguration by customizing the path of hdfs-site.xml and core-site.xml?

Currently, Hadoop initialization only supports the configuration prefixed with **fs**. This configuration capability is too narrow. Actually, there has many other configurations like ` dfs.replication`  starts with dfs, how to make this confi

[2021-07-07 05:13] #864 closed

[2021-07-07 05:14] #5760 closed, assigned to nobody

[2021-07-07 05:16] echohlne commented on #5754
hi @wangdazhong001 it seems your hadooop cluster had enabled the HA
try to copy the `hdfs-site.xml` and `core-site.xml` in your hadodop cluster to `/opt/soft/dolphinscheduler/conf`, and restart your dolphinscheduler service.

[2021-07-07 08:21] wangmingzhiJohn commented on #5754
@kyoty Thank you. I thought that I should copy these files to hadoop's conf directory

[2021-07-07 09:33] #5758 closed, assigned to nobody

[2021-07-07 09:35] CalvinKirs commented on #5721
close by #5757

[2021-07-07 09:35] #5721 closed, assigned to wangxj3

[2021-07-07 11:36] QuakeWang opened #5762 "[Question] Failure to configure dev development environment"
Both the local MySQL and Zookeeper can be started normally, but it fails when configuring zookeeper using the plugin.
The configuration information in registry.properties is as follows:
[code]
The error message is as follows:
[code]

[2021-07-07 11:37] wen-hemin opened #5763 "[Feature][JsonSplit-api]schedule online/offline interface"
from #5498
Change the request parameter projectName to projectCode,including the front end and controller interface

[2021-07-07 12:20] davidzollo commented on #5753
if your machine didn't have the pstree command,  you should install `pstree` through the following  ways:
1. on Mac OS:
      brew install pstree
2. on Fedora/Red Hat/CentOS
      yum -y install psmisc
3. on Ubuntu/Debian
     apt-get install psmisc

[2021-07-07 12:30] jon-qj commented on #5753
Ok,I have completed it.Thanks for replying back.

  --

 发自新浪邮箱客户端

  在 7月7日 20:21，dailidong ***@***.***> 写道：

  if your machine didn't have the pstree command, you should install pstree through the following ways:

   on Mac OS:
 brew install pstree
   on Fedora/Red Hat/CentOS
 yum -y install psmisc
   on Ubuntu/Debian
 apt-get install psmisc

  —
You are receiving this because you authored the t

[2021-07-07 13:03] JinyLeeChina commented on #5762
Thank you for your feedback, i  repeated the question, i will fix it

[2021-07-07 13:33] CalvinKirs commented on #5762
1: In IDE development mode, you need to manually set the ds-spi scope.  There is no need to perform mvn install at this time.  Follow-up supplements to related documents.

[2021-07-07 14:26] xied75 commented on #2191
所以请问一下这个issue的后续如何了？目前在1.3.6版本的解决方案是什么？多谢

[2021-07-07 15:56] ruanwenjun commented on #5762
You can try using the following settings, it can work well at my mac environment.
[code]
I am not sure if you need to change the file separator  in windows.

[2021-07-07 17:42] tanvimoharir commented on #5741
Hi,
I would like to work on this.
Thanks

[2021-07-08 01:44] yangshiza opened #5767 "[Question] Sqoop is sucess ,but dolphinscheduler returned failure"
**Describe the question A clear and concise description of what the question is.**when I use  shell  tool  to run the  sqoop ,  the shell log doesn't see  any  failure,but  the   DAG said that   the sqoop   was  failed.
And dolphinscheduler-worker.log   say the yarn job  of  sqoop     is  failed.but  the yarn controller  say   this  job  is   success.
How can I fix  this   problem  ?   THX
![yarnj

[2021-07-08 01:50] yangshiza commented on #5767
dolphinscheduler-worker.log

[2021-07-08 01:50] yangshiza commented on #5767
![Uploading 20210708.png…]()
dolphinscheduler-worker.log

[2021-07-08 01:53] sunshining93 commented on #5755
This situation disappears when open secure group  to all,  close this issue temporarily.

[2021-07-08 01:53] #5755 closed, assigned to nobody

[2021-07-08 03:07] lishiyucn commented on #5491
I add the https://github.com/apache/dolphinscheduler/issues/5491 code to dolphin1.3.6 version ,
and rebuid project and package project,
I get the java.lang.NullPointerException problem when use the new package.

the log is:

Caused by: org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: java.lang.NullPointerException
### The error may exist in class path resourc

[2021-07-08 05:09] echohlne opened #5769 "[Improvement][UI] When we try to delete the existing dag, the console in web browser would shows exception."
version: latest dev

![image](https://user-images.githubusercontent.com/52202080/124861316-e5276080-dfe5-11eb-864b-4e438dcf2c64.png)

![image](https://user-images.githubusercontent.com/52202080/124861614-82829480-dfe6-11eb-9a00-b60cd86633af.png)

[2021-07-08 05:13] echohlne commented on #5754
hi @wangmingzhiJohn  Is there any progress?

[2021-07-08 07:19] zhujian86 opened #5772 "[Question][Process import] import process with resources got some exception"
I imported processes with resources from another DS, but an exception occured.
The exception caused by the differences between the IDs in the table "t_ds_resources" on the two environment.
![图片](https://user-images.githubusercontent.com/57431994/124878675-f29d1480-dffe-11eb-857e-a6c6ed623959.png)

[2021-07-08 08:46] wordhardqi commented on #4134
encountered the same issue on dev branch.
[code]

[2021-07-08 09:17] wordhardqi commented on #5451
@usretyn you can check that whether there is firewall or iptalbe rules to stop you accept the connection on 50051 on ds2.
you can check by this:
1. go the api server's machine
2. telnet ip_of_ds2 50051.

[2021-07-08 10:01] calvinjiang opened #5773 "[Improvement][server] need to support two parameters related to task"
**Describe the question**
When I'm using the shell task ,I need the instance id of task and the absolute path of task.

**What are the current deficiencies and the benefits of improvement**

**Which version of DolphinScheduler:**
 -[dev]

**Describe alternatives you've considered**

[2021-07-08 10:01] xingchun-chen commented on #5772
The resource id referenced by workflow needs to exist in  t_ds_resource table

[2021-07-08 10:03] xingchun-chen commented on #5767
Unable to view your worker log

[2021-07-08 10:06] #5753 closed, assigned to nobody

[2021-07-08 10:16] zhuangchong commented on #5773
+1
good idea

[2021-07-08 10:18] #5738 closed, assigned to nobody

[2021-07-08 10:37] tanvimoharir commented on #5741
Hi @ruanwenjun ,
    I am very new to this, I saw your description above but I don't see any logging done on line 256/257 .
    Could you please elaborate a bit more ?
Thanks

[2021-07-08 11:01] ruanwenjun commented on #5741
@tanvimoharir Sorry, there is something wrong with my description, the log is on line 206.

[2021-07-08 11:09] QuakeWang commented on #5762
I tested it again and then thought maybe the error wasn't in registry.properties. Probably the main cause is due to the information in the pom.xml file in the root directory.
[code]
Because the corresponding version can not be obtained from the Maven, there is an error: ``` [Master-Server] ERROR org.springframework.boot.SpringApplication - Application run failed```.

[2021-07-08 13:49] ruanwenjun opened #5775 "[Improvement][Worker] Task log may be lost"
**Describe the question**
All the code in this issue is at `AbstractCommandExecutor`.
If you have seen the task logging code in DolphinScheduler, you probably know that we currently use the production-consumption model for logging.
We use one thread to write the log to the collection.
https://github.com/apache/dolphinscheduler/blob/b114d330ac1fa7de27e09cc73c0804a7536f3b28/dolphinscheduler-server/s

[2021-07-08 15:14] mgsky1 commented on #5752
[English](#en-1) | [中文](#zh-ch)

## <a id='en-1'>Overview</a>

First of all, I express my deep gratitude to @simsicon, @dailidong, @Jave-Chen and @shaojwu. Thank you for your interest in this feature and your advice!

So for, the feedback received is more in favor of Solution I (modified based on existing nodes), but **I think Solution II (adding new node type) would be more suitable for DS**. I w

[2021-07-08 16:05] tanvimoharir commented on #5741
PR #5776

[2021-07-08 16:11] CalvinKirs commented on #4134
please refer https://github.com/apache/dolphinscheduler/issues/5230

[2021-07-08 16:28] #5741 closed, assigned to nobody

[2021-07-09 00:29] yangshiza commented on #5767
![20210708](https://user-images.githubusercontent.com/85532472/125006035-c1205980-e08f-11eb-98b7-52292df9dfc6.png)

[2021-07-09 00:47] yangshiza commented on #5767
full worker log  ,all the sqoop return   failed
[dolphinscheduler-worker.log](https://github.com/apache/dolphinscheduler/files/6787944/dolphinscheduler-worker.log)

[2021-07-09 01:39] HeChuanXUPT commented on #2597
How to config complex json parameters on HTTP node?

![image](https://user-images.githubusercontent.com/5425689/125010426-0f862600-e099-11eb-93f9-8c4bc28a24f1.png)
Above configurations will be transfer to
[code]

But what I want is:
[code]

[2021-07-09 03:18] zhujian86 commented on #5772
Export / Import does not support by the resource manager, the only method is add new resources manually.
Then, the ids are not same.

[2021-07-09 07:56] chengshiwen commented on #5683
Close the question since no updates for long time

[2021-07-09 07:56] #5683 closed, assigned to nobody

[2021-07-09 08:12] gaoyu2016 opened #5777 "[Bug][SQL] Log missing"
ds 1.3.4版本，
sql节点，操作hive数据源，语句：
insert overwrite table xxx partition(dt='2021-07-08')
select ...

查看task日志，日志缺失，只有开始日志，没有结束日志，且在日志中看不到applicationid，无法在yarn web ui查看。
![image](https://user-images.githubusercontent.com/29685418/125046158-55aaac00-e0d0-11eb-8011-4ee6059c0106.png)

[2021-07-09 08:56] wen-hemin opened #5778 "[Feature][JsonSplit-api]schedule list、preview、delete interface"
from #5498
Change the request parameter projectName to projectCode,including the front end and controller interface

[2021-07-09 09:00] #5773 closed, assigned to nobody

[2021-07-09 10:13] Tandoy commented on #5777
可以看dolphinscheduler-worker.log下这个taskAppId的日志

[2021-07-09 13:03] shink opened #5781 "[CI][UT] Some test coverages are always 0% in sonar"
## Describe the bug

As we all know, dolphinscheduler uses `PowerMock` for unit testing, and uses `Jacoco` to get code coverage which will be stored and managed by `Sonar`.  But in fact, some test conerages are always 0% in sonar. This seems to be caused by Jacoco not getting the coverage of the class marked by `@PrepareForTest`.

## To Reproduce

When using the `@PrepareForTest` annotation only c

[2021-07-09 15:02] Zzm0809 opened #5784 "[Feature][Task Instance List] Add yarn applicationID To list And UI layout optimization"
1. Add the field of applicationid in the list of task instances
example:
![image](https://user-images.githubusercontent.com/58576849/125098247-72afa100-e109-11eb-9f3c-31ccf0b63fac.png)

2.[UI]
 When modifying and selecting datasource, it supports searching and locating keywords quickly
example:
![image](https://user-images.githubusercontent.com/58576849/125098499-a5f23000-e109-11eb-9619-57637af509

[2021-07-09 15:15] ruanwenjun opened #5785 "[Improvement][Code Style] Fix code format"
**Describe the question**
You can find the DolphinScheduler's code style related configuration [here](https://dolphinscheduler.apache.org/en-us/community/development/pull-request.html).
Currently, there is a lot of old code that doesn't follow this rule, you can try to format them.
This is an easy work, you can use IDEA to do this.

**Which version of DolphinScheduler:**
 -[dev]

[2021-07-09 15:32] ruanwenjun commented on #5784
I think the first issue might need some discussion about how we should present if the task is not running on yarn, or if the task might run on another platform.

[2021-07-09 16:44] echohlne opened #5786 "[Improvement][Server] When the Worker turns down, the MasterServer cannot handle the Remove event correctly and throws NPE"
**Describe the question**
When the Worker turns down, the MasterServer cannot handle the Remove event correctly and throws an NPE exception:
[code]

**What are the current deficiencies and the benefits of improvement**
[code]

The `MasterRegistryDataListener` class will be used by `MasterRegistryClient`, as shown below:
[code]
**The @Resource annotation will not take effect in the current case, it

[2021-07-09 17:08] #5786 closed, assigned to nobody

[2021-07-09 17:09] CalvinKirs commented on #5786
thanks for your feedback~

[2021-07-09 17:14] #5775 closed, assigned to nobody

[2021-07-09 17:31] CalvinKirs commented on #5784
Maybe we should specify a field, its meaning is like the applicationId on yarn, which represents the task id of the resource scheduler. In addition, we may need to make relevant distinctions, representing what kind of scheduling platform is submitted to, such as yarn, or it in the future K8s and so on. What do you think?

[2021-07-09 17:32] CalvinKirs commented on #5784
A great topic, but it is best to submit a PR after the discussion. In addition, this task can be split into two PRs.

[2021-07-09 17:41] CalvinKirs commented on #5781
This problem has always existed, and related emails have also been discussed. The inability of Sonar to monitor the CI coverage rate blocked our CI process. Do you intend to accomplish this?
Here is some information that may be helpful to you:
https://github.com/powermock/powermock/wiki/Code-coverage-with-JaCoCo

[2021-07-09 17:48] CalvinKirs commented on #5777
PR #5783 has been submitted so far, we will release it in 1.3.7, you can verify it first.

[2021-07-10 02:40] geosmart opened #5788 "[Improvement][Resource] resource updateResource should check user permission"
in dolphinscheduler api ,we can update resource with 2 way:
1. `updateResource`：replace the file
2. `updateResourceContent`：update the file content

but in the [ResourceService.java](https://github.com/apache/dolphinscheduler/blob/e628e4e8fdc72f0362449a78870493789450b284/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ResourcesServiceImpl.java#L287)

 `updateResourc

[2021-07-10 03:27] ruanwenjun commented on #5784
Agree with you, we can use a compound struct to store.

[2021-07-10 07:41] huyaro opened #5790 "[Improvement][UI experience] Some suggestions for UI experience"
**Describe the question**
A clear and concise description of what the improvement is.

**What are the current deficiencies and the benefits of improvement**
-[Current Node Settings] field "Run ID" is changed to "Node Status", and the option value is changed to ["Enable", "Disable"], which is more intuitive.
-[Current Node Settings] field "Failure Retry Times", "Failure Retry Interval", "Timeout Al

[2021-07-10 08:06] huyaro opened #5791 "[Feature][New task node] Loop node that specifies the sleeping time"
**Describe the feature**
The scenario is as follows: the system automatically runs the batch process, the processing time of each node is not fixed every day, you need to go to the database to query the status of a node regularly, and after the node is completed, it will flow to "successful execution" according to the [condition node] configured by the DAG, and then The DAG instance ends. If the s

[2021-07-10 15:35] mgsky1 commented on #5762
The same problem.
OS: macOS Big Sur 11.3
JDK: 1.8.0_241
Intel chip

It seems that http is no longer support?

registry.properties
[code]

Stacktrace

[code]

[2021-07-10 16:00] CalvinKirs commented on #5762
It is recommended to use plugin.dir to configure plugins.
Do not use registry.plugin.binding. This method requires manual modification of the scope. I will add documents later.

[2021-07-10 16:08] shink commented on #5781
@CalvinKirs Yes, I am willing to fix it.

Further, how is this problem represented in the Jacoco report?

![4](https://user-images.githubusercontent.com/49934421/125169241-db674e00-e1db-11eb-89c4-e7820dead48d.png)

As you can see from the figure below, The `Demo` class is not linked to the corresponding coverage report page. It means there is a class id mismatch between the class used at runtime a

[2021-07-10 16:09] CalvinKirs commented on #5762
Do you have an update code? This block has been modified to https.

[2021-07-10 16:22] CalvinKirs commented on #5748
close by #5766

[2021-07-10 16:22] #5748 closed, assigned to nobody

[2021-07-10 16:31] #5725 closed, assigned to nobody

[2021-07-11 00:49] Data-bytes305 opened #5792 "[dev] Master , worker Can't start"
version: dev

system: Centos 7

config:
 registry.plugin.name=zookeeper
registry.plugin.binding=registry
registry.servers=168.30.16.99:2181
registry.plugin.dir=/home/dolphinscheduler_dev/lib/plugin/registry

mastar can't start:

08:39:47.840 [Master-Server] ERROR org.springframework.boot.SpringApplication - Application run failed
org.springframework.beans.factory.UnsatisfiedDependencyException: Er

[2021-07-11 01:03] Jave-Chen opened #5793 "[Question][service] registry.plugin.dir for local windows development environment"
Since we added Registry SPI feature in dev branch, We need to set `registry.plugin.dir` for local development environment in
`dolphinscheduler-service/src/main/resources/registry.properties`.

On windows platform, I tried two values: `./dolphinscheduler-dist/target/dolphinscheduler-dist-1.3.6-SNAPSHOT/lib/plugin/registry` and `./dolphinscheduler-dist/target/dolphinscheduler-dist-1.3.6-SNAPSHOT/lib

[2021-07-11 01:11] mgsky1 commented on #5762
There is a solution.
In `dolphinscheduler-service/src/main/resources/registry.properties`:
[code]
Notice the configuration in `registry.plugin.dir`

Then in terminal, run `mvn clean install`

This solution works well in my mac.

[2021-07-11 02:34] QuakeWang commented on #5762
Thx, I have solved the problem.

[2021-07-11 04:16] ruanwenjun commented on #5792
Can you try to check if there are zookeeper-registry plugin in this path `/home/dolphinscheduler_dev/lib/plugin/registry `. If not, you can use `mvn install` to install the plugin. https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/registry_spi.html

[2021-07-11 07:49] echohlne opened #5795 "[Improvement][Server] The starttime field in the HttpTask log is not displayed as expected."
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**

![image](https://user-images.githubusercontent.com/52202080/125186281-0e512680-e25c-11eb-8d5c-59d54640709d.png)

[code]
The API `format2Readable` is intended to dis

[2021-07-11 08:03] Tandoy commented on #5621
I want to try to solve this issue

[2021-07-11 09:36] Zzm0809 commented on #5784
Now there is a corresponding field to store appid ,

in table t_ds_task_instance ;   field : app_link

Now it stores, for example :   application_12131_121212

[2021-07-12 01:23] HeChuanXUPT opened #5798 "[Question] one process is always failed when it has multi contabs"
**Describe the question**
A clear and concise description of what the question is.
A process has 2 crontab task, but one is always success, and the other always failed. same process, simple shell command.
任务配置了2个定时任务, 一个总是成功, 一个总是失败. 同一个任务内容, 同一个简答的脚本.

**Which version of DolphinScheduler:**
docker deploy, apache/dolphinscheduler:latest

docker images:
apache/dolphinscheduler

[2021-07-12 02:15] HeChuanXUPT opened #5799 "[Bug][Master] auto create a same process"
**Describe the bug**
find same auto-created processes in system.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. manual create some processes.
2. use API to create schedule with processDefinitionId=5
3. auto create one more process, the same process
4. Click on process(3 and 4) Cron manage, find the same url, display the same infomation.
  http://127.0.0.1:12345/dolphinscheduler

[2021-07-12 02:27] brave-lee commented on #5506
fixed by #5744

[2021-07-12 03:01] wangmingzhiJohn commented on #5754
@kyoty  It's ok now

[2021-07-12 06:31] #5795 closed, assigned to nobody

[2021-07-12 06:36] #5621 closed, assigned to nobody

[2021-07-12 07:43] JoshuaZhuCN commented on #2191
DEV分支有支持了通过全局参数进行传递的功能，还没合并到主线上，据说是至少要等到2.0版本才会并入，1.3系不会支持，其他方案么有，要么通过数据库自己临时实现下

在 2021-07-07 22:26:13，"Dong Xie" ***@***.***> 写道：

所以请问一下这个issue的后续如何了？目前在1.3.6版本的解决方案是什么？多谢

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-12 08:21] wen-hemin opened #5804 "[Improvement][Api Module][Server Module] Remove spring annotation from util class"
**Describe the question**

At present, in some modules, some classes in utils packages are injected into spring beans,
which does not conform to the development specifications of tool classes.
I will refactor the related tool classes. Split into multiple pr.

Api module :
- [x] org.apache.dolphinscheduler.api.utils.RegistryMonitor
- [x] org.apache.dolphinscheduler.api.utils.exportprocess.Dependent

[2021-07-12 09:12] echohlne commented on #5754
@xingchun-chen  @CalvinKirs  please help to close this pr, the problem has been solved, thanks.

[2021-07-12 09:18] #5754 closed, assigned to nobody

[2021-07-12 11:09] Dipsy-chen opened #5806 "[Question] Shell start job shut down after 1 min, but without reason"
The  shell job starts and run normally,but shut down after 1 min without reason, not error log or other msg, just fault .
when I use the same command to execute on Linux, everything is normal ,
Why ?
< java -cp  xxx  xx.jar>

[2021-07-12 13:04] zhuangchong commented on #5806
Is there more detailed exception information in the worker log?
You can issue task log context.

[2021-07-12 13:14] zhuangchong commented on #5751
@SuperHeroBigData

![image](https://user-images.githubusercontent.com/37063904/125293216-c9111f80-e355-11eb-98b0-21012dce1369.png)

Check through the log that there are two dolphinscheduler directories in the hdfs path. Is there any problem in this part?

Try fs.defaultFs=hdfs://hadoop-slave-1:8020

[2021-07-12 13:20] zhuangchong commented on #5767
@yangshiza

Viewing through the log, the worker reports an error when obtaining the task yarn status, please check whether the yarn address configuration is correct in the common.properties file.

[2021-07-12 13:35] zhuangchong commented on #5737
@geosmart
Can you submit a PR?

[2021-07-12 14:56] ruanwenjun opened #5807 "[Improvement][Dao UT] Use h2 in UT"
**Describe the question**
Currently, we use database configured at `datasource.properties`  in unit test.
This is inconvenient and against the principles of unit test, unit test should run successfully at every environment.
We can use h2 datasource in unit test(https://www.linkedin.com/pulse/unit-testing-using-h2-in-memory-db-raghunandan-gupta).

**Which version of DolphinScheduler:**
 -[dev]

[2021-07-12 15:48] echohlne opened #5808 "[Bug][Server] When we try to transfer data using datax between different types of data sources, the worker will exit with ClassCastException"
**Describe the bug**

When we try to transfer data using datax between  different types of data sources, the worker will exit with ClassCastException

![image](https://user-images.githubusercontent.com/52202080/125315605-e0f29e80-e369-11eb-8b9c-a94d8faa9eda.png)

[code]

**Which version of Dolphin Scheduler:**
latest dev
**Additional context**
Add any other context about the problem here.

**Requi

[2021-07-13 04:46] echohlne opened #5811 "[Question] Is the shell task support windows OS?"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
In pr #2842
It supports the ability to execute shell task in windows, but in the latest dev, this feature has been removed diretly and it would throws exception like this, it looks

[2021-07-13 04:51] echohlne commented on #5811
cc @CalvinKirs ,  @dailidong

[2021-07-13 04:51] CalvinKirs commented on #5807
Sounds good to me .

[2021-07-13 04:55] CalvinKirs commented on #5811
The original implementation seems to have license-related issues, so we deleted the relevant code.

[2021-07-13 07:18] wangmingzhiJohn opened #5812 "[Question] How to rolling upgrade the system while not perceptible to task"
**Describe the question**
The DS system is deployed in cluster way. When I update the code and prepare to apply it on the current deployment, I should stop all services and then restart them by using new packages. Although the time gap of update is short, the system is still unavailable during the process.

So, I have two questions. First, if a task is not finished when I start to do stop-restart

[2021-07-13 08:16] echohlne commented on #5811
Thanks @CalvinKirs , if so ,what should we do next?
In windows, the server would try to get `handle` by reflection, but the type of `handle` is long rather than int, the `getProcessId`
woudle always throws an exception.
[code]

[2021-07-13 08:36] CalvinKirs commented on #5811
@dailidong I'm not quite sure of the exact context before, can you elaborate on that? or whether we need to support the shell under windows.

[2021-07-13 09:32] Jonathan-art116 opened #5813 "[Bug][Module Name] run sh install.sh get error"
**Which version of Dolphin Scheduler:**
 -[1.3.6]
![image](https://user-images.githubusercontent.com/17593110/125428629-1ee5187d-b5d9-426f-9219-de1c5a4a996f.png)

[2021-07-13 10:04] Jonathan-art116 commented on #5813
Sorry, This is my mistake, I did not check the environment. thanks.

[2021-07-13 10:04] #5813 closed, assigned to nobody

[2021-07-14 02:02] geosmart commented on #5737
ok,I will fix it in this week

[2021-07-14 03:56] wen-hemin opened #5816 "org.apache.dolphinscheduler.api.utils.RegistryMonitor"

[2021-07-14 03:56] #5816 closed, assigned to nobody

[2021-07-14 04:32] SivaTharun commented on #5807
@CalvinKirs can i work on this issue.

[2021-07-14 04:35] CalvinKirs commented on #5807
Of course you are welcome to contribute. You can design first, and then we discuss and start development

[2021-07-14 08:49] dogloster commented on #4732
I copy the oracle drive ojdbc6.jar to /opt/dolphinscheduler/lib.
then stop-all.sh and start-all.sh.
create a oracle database source still report error:
org.apache.dolphinscheduler.api.service.DataSourceService:[446] - oracle.jdbc.driver.OracleDriver
java.lang.ClassNotFoundException: oracle.jdbc.driver.OracleDriver

I can connect oracle by Dbvisualizer with the oracle oracle drive.
what's wrong wit

[2021-07-14 12:57] chengshiwen commented on #4732
@dogloster You can refer to https://dolphinscheduler.apache.org/en-us/docs/1.3.6/user_doc/docker-deployment.html, and see `How to support Oracle datasource in Datasource manage?`

[2021-07-15 01:54] momomobinx opened #5818 "[Bug][SQL node] RUN PL/pgSQL WITH parameter ERROR"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a SQL node With postgres sql
2. `DO
$do$
BEGIN
IF
(
TRUE
)

[2021-07-15 01:57] #5762 closed, assigned to nobody

[2021-07-15 02:12] wangmingzhiJohn opened #5819 "[Question] Can I change global params while task executing?"
**Describe the question**
There is a demand in my project that I need to add a new global parameter during the task execution so that the successor can get the new global parameter. That demand is in order to make successor be able to obtain the output of pretask as its input. I had a try, but the change of global parameter couldn't influence the successor.
So, how to achieve this goal?

**Which v

[2021-07-15 06:37] yc322 opened #5822 "[Feature][service]add audit fuction"
**[Feature][service]add audit fuction**

**Feature Desciption**
This function records the operations that users successfully perform to change the system or workflow configuration, such as creating queue, creating workflow and so on.  User can determine whether audit function turn on or not through the switch setting. The default implementation mode of the audit data is written to MySQL, and the e

[2021-07-15 06:39] gaoyu2016 commented on #5777
意思是在1.3.7修复了是吗？

[2021-07-15 06:42] wangmingzhiJohn commented on #5819
Emm, I found another way to transmit data between from one to another which does not use global-parameter

[2021-07-15 11:18] calvinjiang commented on #4834
@Yanwenjingcn
I encountered the same error like yours when I was stopping  a task that's the type of shell.

[code]

Cause:
  This error should be caused by missing the command of pstree in your OS.

Solution:
  You need to install it in your OS. Next line maybe useful for you:
  sudo  yum -y install psmisc

[2021-07-15 11:58] szwxw opened #5823 "incompatible decode and encode between 1.3.6 and 1.3.3"
Well, in 1.3.6 version and conext added to NettyEncoder & NettyDecoder class。but i got some proplem when upgrade master to 1.3.6 but left worker server in 1.3.3.

when master-sever and worker-server runs  in different env. we got the fellow error.

[ERROR] 2021-07-14 16:00:22.022 org.apache.dolphinscheduler.remote.handler.NettyServerHandler:[153] - exceptionCaught : java.lang.IllegalArgumentExcept

[2021-07-15 12:04] szwxw commented on #5823
and this is  another error .

[ERROR] 2021-07-14 16:44:32.302 org.apache.dolphinscheduler.remote.handler.NettyServerHandler:[153] - exceptionCaught : java.lang.IllegalArgumentException: illegal protocol [version]10
io.netty.handler.codec.DecoderException: java.lang.IllegalArgumentException: illegal protocol [version]10

[2021-07-15 12:09] ruanwenjun commented on #5823
@szwxw It seems that the protocol between 1.3.3 with 1.3.6 has changed. You can check with the `Command`.

[2021-07-15 14:01] BoYiZhang opened #5824 "[Feature][API] Data import and export [version 2.0]"
In version 2.0, it is recommended to support the import and export of workflow definition / resource file / data source

[data format compatible with Azkaban.]

At present, the data format of import / export is JSON format

If it is JSON format, there is no way to do offline development / modeling

So, can we use Azkaban's workflow definition method / data format

advantage:

1. Compatible with Az

[2021-07-15 16:27] echohlne opened #5825 "[Bug][WEB] the resource tree in the process definition of latest dev branch can't display correctly."
A clear and concise description of what the bug is.

When we add multiple resources to a existed process definition and reopen the edit page, the resource list would't show as expected and throws an undefined exception.

![image](https://user-images.githubusercontent.com/52202080/125821430-b869c06d-dcac-4033-906a-9bf48377c766.png)

**Which version of Dolphin Scheduler:**
latest dev

[2021-07-16 07:23] echohlne opened #5830 "[Improvement][Web] Improve the selection style in dag edit dialog"
*For better global communication, please give priority to using English description, thx! *

**Describe the question**
When we want to select all or part of the text in the input box, because the selected background color is too similar to the original background color, users often think that the text cannot be selected

![db6deb90d479ae54c0a0f89a0c8a1c838bc149d4](https://user-images.githubusercon

[2021-07-16 09:26] #5510 closed, assigned to nobody

[2021-07-16 09:26] #5511 closed, assigned to nobody

[2021-07-16 09:27] #5778 closed, assigned to nobody

[2021-07-16 09:28] #5763 closed, assigned to nobody

[2021-07-16 09:30] #5509 closed, assigned to nobody

[2021-07-16 12:23] Atom-me commented on #4315
@zzq1314zll @CalvinKirs Did you resolve this problem?

[2021-07-16 15:50] davidzollo commented on #4732
if you still have any questions, please
Chat rooms are great for quick questions or discussions on specialized topics. The following chat rooms are officially part of Apache DolphinScheduler; welcome to join the Slack workspace, the workspace URL: http://asf-dolphinscheduler.slack.com/
you can join through invitation url: [https://s.apache.org/dolphinscheduler-slack](https://s.apache.org/dolphinsc

[2021-07-16 16:42] davidzollo commented on #5822
good suggestion,  many users also feedbacked that they need this feature

BTW, which plan do you prefer?

[2021-07-16 16:45] davidzollo commented on #5792
I close this issue temporarily, if you still have questions, please reopen it again

[2021-07-16 16:45] #5792 closed, assigned to nobody

[2021-07-16 16:51] davidzollo commented on #5819
Changing params is not supported , but dev branch has implemented the pretask params been delivered to the next task

[2021-07-16 16:58] davidzollo commented on #5777
yes, you can cherry pick this PR #5783 and test it

[2021-07-16 16:58] #5777 closed, assigned to nobody

[2021-07-16 17:11] davidzollo commented on #5746
no special cause, just because contributors not need to use hive. you can use custom template
![image](https://user-images.githubusercontent.com/15833811/125984333-ac6fe395-78b7-4a8f-8cb9-7c54ce28ab24.png)

if you want to implement and contribute it , please leave a message

[2021-07-16 17:12] #5290 closed, assigned to nobody

[2021-07-16 17:12] #5291 closed, assigned to nobody

[2021-07-16 17:13] davidzollo commented on #5291
good job, thanks for reminder

[2021-07-16 17:15] davidzollo commented on #5350
Yes, weak dependence will be a good choice

[2021-07-16 17:17] davidzollo commented on #5293
is there any contributor who want to upgrade cron utils jar and test it?

[2021-07-16 17:18] davidzollo commented on #5733
it seems this issue has been solved , I will close this issue, and please reopen it if any new question about it

[2021-07-16 17:18] #5733 closed, assigned to nobody

[2021-07-16 17:21] #5709 closed, assigned to nobody

[2021-07-17 03:00] ruanwenjun commented on #5830
Can this be considered as user experience issue?
You can add this issue to #5494

[2021-07-17 15:28] davidzollo commented on #5329
we don't have assigned this feature in the coming 3 months.
would you like to implement it?

[2021-07-18 08:53] yc322 commented on #5822
AOP can be used to get the relevant operation records in the form of log after the end of user operation, but it is not convenient to judge whether the operation is successful.

If use the publish subscribe mode , a message can be sent to the subscriber after the user's operation is successful.

If only need to record the successfully configuration modification, it will be better to use publish an

[2021-07-18 13:46] #5737 closed, assigned to nobody

[2021-07-19 03:11] Lucaszlei commented on #5229
I will fix it.

[2021-07-19 03:37] wangzijian121 opened #5836 "[Feature][server/UI]Add the function of "specify the number of runs" at fixed time"
1. Feature description: When the timed task is executed, the number of running times can be specified, and when the number of running times is reached, it will be offline regularly
![QQ浏览器截图20210719113619](https://user-images.githubusercontent.com/40219314/126099154-53a6fd34-3614-4b72-abcc-c6363c8d6bb7.jpg)
2.Solution: When creating a schedule, specify the number of runs required numberOfRun, the

[2021-07-19 06:52] wangmingzhiJohn commented on #5819
@dailidong Could you show me which commit implements this feature?

[2021-07-19 09:02] zongqiren opened #5842 "Create workflow task and save error report"
**Describe the bug**
Create workflow task and save error report
For the newly created workflow task, an existing workflow error will appear. Go to the table of DS to find it, but there is no error
新建的工作流任务，报错都会出现一个工作流已存在的报错，去ds的表（t_ds_process_definition）里找，是没有的

We are upgrading from 1.3.2 to 1.3.6 on the weekend. Now we have this problem. Please help us
我们是周末升级，从1.3.2 升级到1.3.6版本，现在出现了这个问题，请求大佬们帮忙

[2021-07-19 09:51] lishiyucn commented on #5491
I fixed the code of https://github.com/ruanwenjun/incubator-dolphinscheduler/commit/4290a96bc7785fe7cde092a1c6cad68dbac40748
but still get the error "start process failed:master does not exist"

the master log is :
`[INFO] 2021-07-19 13:15:11.779 org.apache.curator.framework.state.ConnectionStateManager:[251] - State change: RECONNECTED
[INFO] 2021-07-19 13:15:11.779 org.apache.dolphinscheduler.se

[2021-07-19 09:52] lishiyucn commented on #5491
@chengshiwen @ruanwenjun  Please have attention,Thanks!``

[2021-07-19 10:00] ruanwenjun commented on #5491
@lishiyucn Yes, when you reconnected, the master is still down, you can get some detail in #5210

[2021-07-19 13:50] brave-lee commented on #5508
I will implement the back-end java code logic

[2021-07-19 16:16] echohlne opened #5850 "[Bug][API-SERVER] An exception will be thrown directly when exporting workflow definition that includes Mysql Task"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. create a process definition
2. create a mysql query task
3. export

[2021-07-20 01:25] echohlne commented on #5680
+1

[2021-07-20 01:59] calvinjiang opened #5852 "[Improvement][server] Support two parameters related to task for the rest of type of tasks."
**Describe the question**

Next issue is:https://github.com/apache/dolphinscheduler/issues/5773
In that issue ,I've implemented the function for the shell task, but the other type of tasks doesn't still support this function.

Now  need to provide these two system parameters  to support  the rest of type of tasks..

**What are the current deficiencies and the benefits of improvement**

**Which ver

[2021-07-20 02:56] gaohan0524 opened #5855 "[Question] Create Hive data source. Connection failed using HiveServer2 HA ZooKeeper"
I used DolphinScheduler1.3.6 to create a Hive data source. I used HiveServer2 HA ZooKeeper to connect to it and failed

**Which version of DolphinScheduler:**
 -[1.3.6]

**Additional context**
Failure error display：
![image](https://user-images.githubusercontent.com/52993946/126254828-06d60df8-f70a-46ec-8a8c-4ac5e4b60620.png)

error log：
![image](https://user-images.githubusercontent.com/52993946/

[2021-07-20 02:59] Lucaszlei opened #5856 "[Bug][dao] Unreachable logic exists in the code that generates the workflow instance"
**Describe the bug**
org.apache.dolphinscheduler.dao.ProcessDao#constructProcessInstance
Constants.CMDPARAM_SUB_PROCESS、Constants.CMDPARAM_RECOVER_PROCESS_ID_STRING，The two Constants actually represent the same value, so the logical branch of cmdParam.containsKey(Constants.cmdParam_Sub_Process) is not reacheable

**Screenshots**
![图片](https://user-images.githubusercontent.com/56599784/126255109-ff

[2021-07-20 03:02] #5518 closed, assigned to nobody

[2021-07-20 03:10] #5720 closed, assigned to nobody

[2021-07-20 03:11] #5842 closed, assigned to nobody

[2021-07-20 03:21] #5719 closed, assigned to nobody

[2021-07-20 03:21] wangsvip opened #5857 "The query can not echo the content just checked"
1.我经常会查询某个时间点杀掉的一批任务，方便我重跑数据，查完之后，点进去查看某个任务，然后点击浏览器后退按钮，之前的查询记录都没有了，为什么没有回显的功能？？？？现在是1.2的版本，之前1.0的版本是有这个功能的，为什么要做的这么烂？？？我从1.0就开始提bug了。这种基本的交互功能做不好？我按条件查询的是一批任务，每次查看当中的某个任务后，就没了？？？

2.还有分页每次都是默认10条，你为什么一点要限死10条？？？我选了50条之后，点击查看某个任务后，再点击浏览器后退按钮，又还原到了10条，假如我是在第2分页查看的，后退后就变成从第一页了，这什么功能啊？？能不能优化下体验？？起码要做一个用户设置功能，我当前用户设置为50条，最大不超过200条，每次我登陆后都是50条，而不是我还要去选！！！！我选了第2页，为什么后退会变为第一页？？？

3.架构设计上写的如果任务变为”需要容错“后面资

[2021-07-20 05:06] ruanwenjun commented on #5856
@SunnyZ-L The first alphabet of the two constants words should be different, you can check again.

[2021-07-20 05:35] chengshiwen opened #5858 "[Improvement][Docker] Docker image should support multi-arch like arm64 in docker-compose"
**Describe the question**

Docker image should support multi-arch like arm64 in docker-compose

**What are the current deficiencies and the benefits of improvement**

DolphinScheduler can run on multi-arch like linux/arm64

**Which version of DolphinScheduler:**
 -[dev]
 -[1.3.6]

[2021-07-20 06:16] chengshiwen commented on #5615
Now, DolphinScheduler has supported the arm64 arch on dev branch (#5859) and [1.3.7 release](https://github.com/apache/dolphinscheduler/releases/tag/1.3.7).

[2021-07-20 06:41] jon-qj opened #5864 "[Feature][FlinkX Plugin] Add FlinkX plugin (based on flinkx local mode)"
*For better global communication, please give priority to using English description, thx! *

**Describe the feature**
This issue shows the discussion on the feasibility of using flinkx plugin.
I have implemented the basic function up to now.And I'm not sure if it is an effective measure by using DS to manage the real-time task.

**Describe alternatives you've considered**
A clear and concise descr

[2021-07-20 09:50] MonsterChenzhuo commented on #5785
@ruanwenjun Hello, I think I can do the job. Could you please assign it to me

[2021-07-20 10:06] wangmingzhiJohn opened #5866 "[Question] Does DS support dynamic expansion/reduction?"
On the index of DS website, I found this instruction called "Support dynamic expansion and reduction of master and worker".
However, in document of Expansion/Reduction, the method of achieving  the goal needs to restart all services which seems like not dynamic at all.
So, my question is whether DS support dynamic way to expand or reduce nodes?
![image](https://user-images.githubusercontent.com/84

[2021-07-20 10:37] davidzollo commented on #5807
hi, do you have any idea about how to implement it? thx

[2021-07-20 11:44] SivaTharun commented on #5807
@CalvinKirs @dailidong we can use he embedded in memory database for integration tests, we can follow this [document](https://www.baeldung.com/spring-boot-h2-database), which shows on how to setup h2 database integration.

Also we can construct the tables by including the DDL in `schema.sql` in `src/test/resources` folder.
we can preload the data too , inside the h2 tables, by including the `data.

[2021-07-20 12:47] CalvinKirs commented on #5824
At that time, we can discuss the specific design together.

[2021-07-20 12:48] #5825 closed, assigned to nobody

[2021-07-20 12:54] CalvinKirs commented on #5855
Sorry. Here is because of the other parameter verification rules, we have modified this problem. You can refer to #5785. We will release it in 1.3.7.

[2021-07-20 12:55] CalvinKirs commented on #5852
good,looking forward you submit PR.

[2021-07-20 12:58] CalvinKirs commented on #5857
What you said is a point worth optimizing, which is very good. But all functions are constantly iterating. Participating in open source requires everyone's efforts. If you feel that it is not good enough, you are welcome to submit a PR. Not just being a Talker.

[2021-07-20 14:03] ruanwenjun commented on #5866
@wangmingzhiJohn When you add worker or master to the exist cluster, you don't need to restart the cluster.

[2021-07-20 17:59] davidzollo commented on #5807
good job, I have read this document,  I think we don't need the spring-boot-starter-data-jpa dependencies, you can have a try, welcome to join Slack workspace through invitation url: https://s.apache.org/dolphinscheduler-slack,  and you also can send mail to dev@dolphinscheduler.apache.org if you meet any problem.
I'm looking forward to your good news!

[2021-07-20 18:04] davidzollo commented on #5807
BTW, I have tried h2's embedded method some months ago in my local environment and it works, I'm so glad to see you want to implement it, good luck!

[2021-07-20 18:10] davidzollo commented on #5866
Yes, when adding, only need to start the service on the new server, and only need to stop the service of the server to be stopped

[2021-07-20 18:11] #5866 closed, assigned to nobody

[2021-07-20 18:13] davidzollo commented on #5864
I have a question about why only support local mode?
![image](https://user-images.githubusercontent.com/15833811/126374518-6625bdf4-24aa-4d22-a049-79f22893c474.png)

[2021-07-21 01:42] geosmart commented on #5864
flinkx support local mode for debug , just run flinkx in worker node

[2021-07-21 01:50] geosmart commented on #5864
@jon-qj  waiting your flinkx pr!!
I have impl a FlinkXTask in the dolphinscheduler-api, but no front-end impl, we use api to create and run a flinkx task

[2021-07-21 01:59] jon-qj commented on #5864
Because when I start using standalone or other modes,I'm not sure if it is necessary to get the execution logs of Flink cluster's tasks,and it can be shown on the DS's web.Becides,DS can not monitor the status of task we submit when using standalone mode.

[2021-07-21 02:23] jon-qj commented on #5864
My pleasure.

[2021-07-21 02:50] wangmingzhiJohn commented on #5866
@dailidong  @ruanwenjun  So, according to documents, why we need to execute stop-all.sh/start-all.sh which may influence services on other nodes
![image](https://user-images.githubusercontent.com/84900511/126422957-50b0c3f9-2c43-4586-9d6c-467eadb5b7a4.png)

[2021-07-21 03:03] Atom-me opened #5871 "MacOS big sur : run datax task failed"
execute command :
    sudo -u atom sh /tmp/dolphinscheduler/exec/process/1/7/8/21/7_8_21.command

error message :
    /System/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python: can't open file '/bin/datax.py': [Errno 2] No such file or directory

![image](https://user-images.githubusercontent.com/58026677/126427376-090e7a00-2e01-4a9d-b1c3-5e2f9e10c5b8.png)

[2021-07-21 03:44] chengshiwen commented on #5871
@Atom-me Related issue: #5596, pr: #5612

[2021-07-21 05:13] #5871 closed, assigned to nobody

[2021-07-21 05:17] ruanwenjun commented on #5866
@wangmingzhiJohn The docs means you can use the stop-all.sh or start-all.sh to scaled-up or scaled-down the cluster.
In most case, we don't deploy all service on one machine, so you can directly use the shell. If you deploy multiple instances on one machine, you can manual start or stop the instance.

[2021-07-21 05:47] SunnyZ-L commented on #5856
In version 1.2.1 of Branch, the values of the two constants are the same
![图片](https://user-images.githubusercontent.com/56599784/126437513-5b36ccec-6f14-4640-aeb0-a0344d31e253.png)

[2021-07-21 05:49] Lucaszlei commented on #5856
Sorry, I ignored case yesterday

[2021-07-21 05:49] #5856 closed, assigned to nobody

[2021-07-21 05:49] SunnyZ-L commented on #5856
Not a problem

[2021-07-21 06:40] wangmingzhiJohn commented on #5866
@ruanwenjun I can't get the point. You mean these scripts can scaled-up the cluster. For example, there is 2 workers in cluster and I need to add 1. In order to let the system know that a new worker is added, I need to add a new ip to install_config.conf. And the new config file should be consistent with that on other nodes(according to doc).
As I understand it, indeed, you just need to operate on

[2021-07-21 07:16] ruanwenjun commented on #5866
@wangmingzhiJohn When you add a new worker or master, the new instance will register in registry center automatic, and to exist masters will receive the added event. The script just is a normal start, stop script.

[2021-07-21 08:36] lvchongyi opened #5872 "MapReduce failed on kerberos,error:Client cannot authenticate via:[TOKEN, KERBEROS]"
DolphinScheduler version:
1.3.6

common.properties config:
hadoop.security.authentication.startup.state=true
java.security.krb5.conf.path=/etc/krb5.conf
login.user.keytab.username=dolphinscheduler@NEWLAND.COM
login.user.keytab.path=/etc/security/keytabs/dolphinscheduler.keytab

detail:
my mapreduce task failed,
why?

error:
[INFO] 2021-07-21 16:11:35.930  - [taskAppId=TASK-4-14-25]:[115] - create

[2021-07-21 09:05] wangmingzhiJohn commented on #5866
@ruanwenjun  So, actually, the exists node's service don't need to update their install_config.conf as they can know the new node by zookeeper automaticly, is that correct?

[2021-07-21 09:10] yangshiza commented on #5767
I change  the yarn  config   of  common.properties ,but not all sqoop jobs  sucesss,only one  job failed  without  any log
![1626858582(1)](https://user-images.githubusercontent.com/85532472/126463293-7ec04991-695a-47ec-9bb6-51e62fde2e38.png)
![1626858542(1)](https://user-images.githubusercontent.com/85532472/126463304-772b5f0a-6ebb-4102-9031-20bccbabc2b0.png)
![1626858372(1)](https://user-images.

[2021-07-21 09:31] ruanwenjun commented on #5866
@wangmingzhiJohn Yes, and other registry center will be supported in the future, currently only zookeeper.

[2021-07-21 09:50] wangmingzhiJohn commented on #5866
@ruanwenjun  In another way, these specific ips in install_config.conf is not necessary if I setup every service on every node manually by dolphinscheduler-daemon.sh?

[2021-07-21 09:54] wangmingzhiJohn commented on #5866
Or except zookeeper's ip:port which is necessary.

[2021-07-21 10:24] songyuequan commented on #5745
hello ,   It's been two weeks since last comment, Can I  take it ?

[2021-07-21 10:36] #5852 closed, assigned to nobody

[2021-07-21 10:50] #5769 closed, assigned to nobody

[2021-07-21 12:39] Lucaszlei opened #5873 "[bug][server] The worker group selected during workflow execution does not take effect"
**Describe the bug**
Selecting Worker grouping while executing a workflow does not take effect
- case 1
1. Create a worker group where the IP does not actually exist.
2. Create a new process definition and the task specifies the worker group created in the first step.
3. Execute the workflow and select the worker group with the name default.
4. After the porcess is started, observe that the value

[2021-07-21 12:49] ghost opened #5874 "how to config ds when yarn ha cluster modify the default 8088 port"
I'm using emr cluster and I want to deploy ds on the emr cluster,
however, for the safety, the emr modify the default webUI port 8088.

how do I config the yarnHaIps in  DS_HOME/conf/config/install_config.conf，the description for this config is
# if resourceStorageType is S3, the following three configuration is required, otherwise please ignore

I try to set the yarnHaIps = ”master1,master2“，the

[2021-07-21 15:30] CalvinKirs commented on #5874
I'm so sorry,we will suppoort it for 1.3.7 release,if you are anxious，you can refer this #5862  update

[2021-07-21 15:37] CalvinKirs commented on #5873
I'm so sorry, I don't understand what your mean, when the worker group is no valid, the task shouldn't process. you think should we do？ check IP when a user adds a worker group? or another method?Can you describe it in detail？

[2021-07-22 01:25] Lucaszlei commented on #5873
First of all, I agree that tasks should not be processed when worker grouping is invalid.
I mean, selecting worker grouping during execution is invalid in some cases.
The task is not executed on the worker group selected when executing, but on the worker group selected when creating the task

[2021-07-22 01:43] zhuangchong commented on #5767
Your exception is related to the hadoop version;
The task has no logs. Which version of dolphin does the problem occur in?
Fixed the problem of the first version of the task log in version 1.3.5.

[2021-07-22 03:03] yangshiza commented on #5767
The hadoop  version used  CDH 6.3.2;
the dolphinscheduler  version  is 1.3.6;

[2021-07-22 03:09] calvinjiang opened #5875 "[Bug][API] When I saved the task that had the same name task in another flow ,the service would throw DuplicateKeyException."
**Describe the bug**
When I saved the task that had the same name task in another flow ,the service would throw DuplicateKeyException.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a workflow named flow1, and then create a shell task that's called task1 in the flow1.
2. Save the flow1.
3. Create another workflow named flow2, and then create a shell task that's called ta

[2021-07-22 06:00] calvinjiang opened #5876 "[Bug][SQL] Suggest to increase the max length of the field resource_ids in the table t_ds_task_definition."
**Describe the bug**
When I saved a shell task that used many resource files ,the service threw PSQLException.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a shell task and select many resource files.
2. Save the workflow, you would see that again. If you don't , maybe you would do well to pick more resource files.

**Expected behavior**
Expect to increase the max leng

[2021-07-22 09:22] geosmart commented on #5864
related pr  #5870

[2021-07-22 11:48] final-smile opened #5877 "cross-database how to config the datasource and sql"
as the title，how to config the datasource and sql when the sql neet to query from two or more databses

[2021-07-22 11:52] final-smile commented on #5877
version:1.3.6

[2021-07-22 11:56] ruanwenjun commented on #5876
I think this may not be a bug.
It is difficult to give a right length that can suitable for all scenarios, and the data length can be changed in database.
Maybe we can state such kind of attribute that may be out of length in the doc.

[2021-07-22 12:01] ruanwenjun commented on #5877
:joy:

[2021-07-22 12:06] final-smile commented on #5877
"Cross-database support is currently supported!Specify that the database is just a test connection! "，qiaozhanwei closed this on 29 May 2019 ,but I can not found how to config,I must input the database name when add datasource

[2021-07-22 12:08] ruanwenjun commented on #5875
This is caused by DS add a restriction, you can not create two tasks that have the same task name in one project(This might be strange).

[2021-07-22 14:33] davidzollo commented on #5857
@wangsvip, could you submit PRs to solve these issues?

[2021-07-23 01:54] #5877 closed, assigned to nobody

[2021-07-23 03:26] ghost commented on #5874
so it means we can confing customer yarn port for yarn HA cluster in ds's config file?

[2021-07-23 05:43] huanzui commented on #249
+1

[2021-07-23 05:44] Lucaszlei commented on #5873
该问题主要是：
发现在1.2.1版本中，在执行工作流时选择worker分组不生效，直接执行时还是按照创建任务时选择的worker分组在执行。
如果创建任务时选择默认的worker分组，执行时选择其他worker分组，任务执行时会分发到指定的worker上执行，但是如果创建时选择非默认的worker分组，执行时选择默认的worker分组，任务执行时并不在默认的worker分组上。
1.3.x版本未验证

---

The main problems are:
It is found that in version 1.2.1, selecting worker grouping does not take effect when executing the workflow, and it is still executed according to the worker grouping

[2021-07-23 07:32] chengshiwen commented on #5874
In dev branch, the yarn port has been configured in `common.properties`, we'll support this feature in 1.3.7

https://github.com/apache/dolphinscheduler/blob/8571461fe8c0eea9cdb9738be87e43f827f8e00f/dolphinscheduler-common/src/main/resources/common.properties#L61

[2021-07-23 08:54] lvchongyi commented on #5872
version info:
jdk  1.8.0_151
HDFS 3.2.1
YARN 3.2.1
MapReduce2   3.2.1
Kerberos  1.10.3-30
DolphinScheduler 1.3.6

[2021-07-23 13:25] CalvinKirs commented on #5876
To be honest, maybe this method not is a good way.

This is the SQL table design question, I think it is more suitable for one-to-many table design.

[2021-07-25 05:16] zhuangchong opened #5880 "[Improvement][API] Page paging query API result data structure optimization"
**Describe the question**
Activity:
Open source software supply chain lighting plan-summer 2021

Description of Requirement:

The current Page pagination query results need to be converted. The data structure is inconsistent with the returned results and the structure provided by Page pagination. Refactor PageInfo to improve the code specification and interface consistency.

Technology involved: J

[2021-07-26 03:34] CalvinKirs commented on #5875
this design looks not resonable，The probability of name conflict is high, and other fields that have nothing to do with the actual business meaning, such as ID, should usually be selected.

[2021-07-26 05:16] davidzollo commented on #2597
sorry for reply late, you can covert the content of text to json on the back-end or do you have any suggestions?

[2021-07-26 05:37] #5746 closed, assigned to nobody

[2021-07-26 05:44] davidzollo commented on #5822
sorry for reply late, got it,  I agree with what you said,
good job, please send the plan to dev@dolphinscheduler.apache.org, import things need to happen in mailing list, thx
at the same time, I am looking forwarding to your PR to implement it ^_^

[2021-07-26 05:50] davidzollo commented on #5819
you can search through 'global param', not only one PR
https://github.com/apache/dolphinscheduler/pulls?q=is%3Apr+global+param

[2021-07-26 05:54] davidzollo commented on #5807
@SivaTharun hi guys, any progress? or do you meet any problem?

[2021-07-26 06:08] HeChuanXUPT commented on #2597
like Postman ? separate header and body parameters, and support several types for parameters.
![image](https://user-images.githubusercontent.com/5425689/126940871-f2f5d675-4ee9-48fc-9a4f-97dfb6b3ac8c.png)

[2021-07-26 07:26] zhengshubin commented on #4207
问题解决了吗，我也是这个问题

[2021-07-26 08:05] zhengshubin opened #5885 "[Question] sql hive load data inpath '/ods/ods_xx/${db_date}' error"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.
 it happen [ERROR] 2021-07-26 16:00:29.007  - [taskAppId=TASK-8-79-125]:[167] - sql task error: org.apache.hive.service.cli

[2021-07-26 08:13] Tandoy commented on #5885
Can your load data script be executed successfully in the Linux environment? Perhaps the tenant executing the command does not have permission to this directory in HDFS

[2021-07-26 08:15] Squidyu opened #5886 "[Bug][dolphinscheduler-server] There is a problem with the judgment condition for deleting a scheduled job"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
There is a problem with the judgment condition for deleting a scheduled job.
It's not rigorous enough
**To Reproduce**
![image](https://user-images.githubusercontent.com/22636614/126955

[2021-07-26 08:16] Squidyu commented on #5886
If you agree, I will add a PR

[2021-07-26 08:46] SbloodyS opened #5887 "[Bug][master server] Data too long for column 'app_link' in t_ds_task_instance cause job can not finished"
[code]

**Which version of Dolphin Scheduler:**
 -[1.3.5]

It is normal to change the field type to text.

[2021-07-26 09:06] ruanwenjun commented on #5887
It would be better to provide an example of the real app_link, I guess there may be some other problems with extract yarn app Ids. Some others meet this problem, when they submit a hive task.

[2021-07-26 09:14] SbloodyS commented on #5887
after change the field type to text, The status changes to success

[INFO] 2021-07-26 16:37:43.684 org.apache.dolphinscheduler.server.master.processor.TaskResponseProcessor:[71] - received command : TaskExecuteResponseCommand{taskInstanceId=90452, status=7, endTime=Mon Jul 26 16:34:15 CST 2021, processId=433787, appIds='application_1626400747313_10066,application_1626400747313_10070,application_16

[2021-07-26 10:33] lishiyucn commented on #5491
I get the #5210 git pull
https://github.com/apache/dolphinscheduler/pull/5211/files
https://github.com/apache/dolphinscheduler/pull/5879/files

If I fix the code, would the problem be solved? @ruanwenjun

[2021-07-26 13:02] davidzollo opened #5888 "[Feature][Doc] Collect previous shared PPT Slides link to a document"
The download link of the PPT Slides that has been shared below is the following document(md format), and then put it on the download page of the official website
https://github.com/apache/dolphinscheduler-website/tree/master/file

| Time | Download link |
| ---------- | -------------------------------------- ---------------------- |
| 2021-06-26 | [Apache DolphinScheduler Architecture Evolution-Ru

[2021-07-26 13:10] davidzollo commented on #5742
sorry for reply late, do you solve your problem?

[2021-07-26 13:19] chengshiwen commented on #5887
@SbloodyS 1.3.6 release has fixed it
https://github.com/apache/dolphinscheduler/blob/e53d4a24a8984f713efd188c158719b142261285/sql/dolphinscheduler_mysql.sql#L704

[2021-07-26 13:22] #5887 closed, assigned to nobody

[2021-07-26 15:51] CalvinKirs opened #5889 "[WebSite][Doc] add release note to download page"
Add a specific release-note to the page https://dolphinscheduler.apache.org/zh-cn/download/download.html. The English version is available at github/apache/dolphinscheduler/ release-note. note. (You will need to create release-notes for each version.) Chinese version reference (https://www.oschina.net/search?identification=1627314582095&scope=news&q=dolphinscheduler+release)

[2021-07-27 00:53] zhengshubin commented on #5885
I used  '/ods/ods_xx/$[yyyy-MM-dd-1]/'   instead of  /ods/ods_xx/${db_date} ,and it executed successsfully

[2021-07-27 01:05] zhenmm opened #5891 "[SOC 2021][DISCUSS] Build CI/CD pipeline with ds"
The current pipeline for spring-boot-vuejs is below. There are 6 nodes in total, and all of them are shell nodes.
目前的spring-boot-vuejs工作流如下，共有6个节点，全部为shell node.
spring-boot-vuejs：https://github.com/jonashackt/spring-boot-vuejs

![43D8CD4A-0AA5-46DE-A071-FDF62A1E0836](https://user-images.githubusercontent.com/85644941/127075639-74a4e75d-8e12-45db-87bb-36227767247c.jpeg)

**Node 1: check_node**

Ch

[2021-07-27 01:51] calvinjiang commented on #5875
@CalvinKirs Agreed.

[2021-07-27 02:01] git1071440198 opened #5892 "When the process definition starts, you can specify the Worker group 001, but you also specify a different Worker group 002 on the task node configuration. May I ask that the process will be executed under that worker?"
When the process definition starts, you can specify the Worker group 001, but you also specify a different Worker group 002 on the task node configuration. May I ask that the process will be executed under that worker.

---

 流程定义启动的时候可指定Worker分组001，但是在任务节点配置上也指定l不同的Worker分组002，请问流程会在那个worker下执行，启动指定worker分组 和 节点配置worker分组那个优先级高？

[2021-07-27 02:11] calvinjiang commented on #5875
Here, I will provide a real use case to demonstrate. We have over 300 tasks and 50 workflows, and built some common shell tasks like checking prerequisite and monitoring. These common tasks would be used in many different workflows. As current restriction, I need to modify the task's name like check1 ,check2 ,check3 blah blah blah. It's pretty weird.

[2021-07-27 02:51] fs3085 commented on #5888
I want to try to solve this issue

[2021-07-27 03:32] fs3085 commented on #5888
@dailidong
I need to confirm the following questions:
1. Whether to organize the Apache DolphinScheduler architecture evolution document into md files
2. Do you need to organize all pptx in the https://github.com/apache/dolphinscheduler-website/tree/master/file directory into md files
3. Where to put it on the official website

[2021-07-27 04:45] davidzollo commented on #5888
yes

no need to convert these PPTs to md files which are very hard work

the website github repository: https://github.com/apache/dolphinscheduler-website
![image](https://user-images.githubusercontent.com/15833811/127096723-1224db25-7d86-4782-aded-77b29a5b4d9d.png)

[2021-07-27 06:35] lishiyucn opened #5893 "[BUG]application-api.properties config item default value server.port=1.3.6 can't start api server"
[BUG]application-api.properties config item  default value server.port=1.3.6 can't start api server

[2021-07-27 06:41] CalvinKirs commented on #5893
can you provide any detailed informaction?
version? log?

[2021-07-27 06:45] CalvinKirs commented on #5892
We require an English discussion on Github.
Please use English.thx

[2021-07-27 06:49] CalvinKirs commented on #5874
closed. will release on 1.3.7

[2021-07-27 06:49] #5874 closed, assigned to nobody

[2021-07-27 06:51] CalvinKirs commented on #5885
hi,Is your problem solved?

[2021-07-27 07:46] #5808 closed, assigned to nobody

[2021-07-27 10:14] davidzollo commented on #5892
the task will execute on worker group 002, you can have a try

[2021-07-27 10:14] #5892 closed, assigned to nobody

[2021-07-27 10:16] davidzollo commented on #5872
please paste the config of conf/common.properties?

[2021-07-27 10:31] davidzollo commented on #5886
good, please submit a PR, thx

[2021-07-27 11:14] davidzollo commented on #5812
Rolling upgrade is a problem to be considered in the future, and there is no energy to implement it now

[2021-07-27 11:15] davidzollo commented on #5812
this task will re-run

[2021-07-27 11:18] davidzollo commented on #5806
has this issue been solved or not? I will close this issue, please reopen it if not resolved

[2021-07-27 11:18] #5806 closed, assigned to nobody

[2021-07-27 12:13] lishiyucn commented on #5893
dolphinscheduler1.3.6

[2021-07-27 12:58] beeflyme opened #5897 "[Improvement][DataSource] all user have all datasource permission,lead data security issues"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
all user have all datasource permission,lead data security issues.

**What are the current deficiencies and the benefits of improvement**
to slove the data safety pr

[2021-07-27 13:07] zhengshubin commented on #5885
yes, but  I want to use  a global paramater

[2021-07-27 13:14] ruanwenjun commented on #5897
Yes, the permission and security is very important, a common permission model is user to projects and project to resources.
In this model, if a user have the access to one project, then he has the access to the resources belong to the project.

If you have any idea, you can start a discussion, this might be interesting.

[2021-07-27 13:41] davidzollo commented on #5891
good job

[2021-07-27 15:37] CalvinKirs commented on #5897
Great suggestion, can you provide a specific design and complete it?

[2021-07-27 15:39] CalvinKirs commented on #5875
Can you improvement it?

[2021-07-27 15:51] CalvinKirs commented on #5885
This feature will be released in 2.0, and the 1.3.X series will not release this content for the time being, you can view it on the dev branch now. this is doc https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/globalParams.html

[2021-07-27 15:51] #5885 closed, assigned to nobody

[2021-07-27 15:54] #5830 closed, assigned to nobody

[2021-07-27 15:55] chengshiwen commented on #5352
Close by #5829

[2021-07-27 15:55] #5352 closed, assigned to nobody

[2021-07-28 04:14] geosmart commented on #5897
datasource permission is `coarse-grained` .
for `fine-grained` permission we can use dataset which is created by datasource( like sql view)  .

control from db level to table row level

[2021-07-28 04:34] zhuangchong opened #5904 "[Bug][upgrade]dev branch upgrade mysql sql script error"
**Describe the bug**

[code]
Create index type statement error

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-07-28 06:28] SivaTharun commented on #5807
@dailidong i have started working on this issue, and the PR would be ready in a few days.

[2021-07-28 07:12] tonycnlin commented on #1223
可以考慮用呼叫API的方式去觸發另一個獨立的工作流

[2021-07-28 09:22] #5904 closed, assigned to nobody

[2021-07-28 11:52] echohlne opened #5908 "[Bug][MasterServer] When executing an compensation task, the execution thread would have a NPE"
In the latest dev branch, if the task executes the compensation task, after the task is executed successfully, we can found that the Master throws an exception which would cause the process shows failed.
[code]

[2021-07-29 02:54] zhangkun-pass opened #5911 "[Improvement][APi server] complement data The complement can be more flexible"
Now the complement data only supports day granularity ,
I think  if Provide a quartz expression and a time interval
like this
 {"startTime":"2021-07-21 00:00:00","endTime":"2121-07-21 02:00:00","crontab":"0 5 * * * ? *"}

scheduler time  is
1. 2021-07-21 00:05:00
2. 2021-07-21 01:05:00

[2021-07-29 03:12] CalvinKirs commented on #5491
closed. release on 1.3.7

[2021-07-29 03:12] #5491 closed, assigned to nobody

[2021-07-29 03:26] #5911 closed, assigned to nobody

[2021-07-29 03:26] zhangkun-pass commented on #5911
I just looked at the code， It is found that this feature has been implemented

[2021-07-29 03:38] #5804 closed, assigned to nobody

[2021-07-29 06:31] calvinjiang commented on #5875
Yeah, I will be fixing it.

[2021-07-29 07:38] lvchongyi commented on #5872
this is content of conf/common.properties:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance wit

[2021-07-29 09:59] quanzhian opened #5917 "[Bug][master-server] Two master services read the same command data in the command table at the same time, and set up two identical instances to run at the same time"
**bug描述**
前端点击运行一个工作流，2台master服务同时读取到了command表的同一条命令数据，并同时起了2个相同实例去运行这个工作流

**排查原因**
先查看了api-server的日志，发现只有一次请求(怀疑是否连续点击出现的，经过排查排除该原因)

然后查了2个master的日志，发现同一时间(相差2毫秒级别)同一条command数据被2个master都读取到了

以下是第一台master-server的日志
[INFO] 2021-07-29 15:43:15.022 org.apache.dolphinscheduler.server.master.runner.MasterSchedulerService:[145] - find one command: id: 4761, type: START_PROCESS

以下是第二台master-server的日志

[2021-07-29 10:01] didiaode18 commented on #5864
I think the cluster mode is better to hand over to yarn management

[2021-07-29 10:11] zhuangchong opened #5918 "[Improvement][Common] Remove the code logger.isDebugEnabled()"
**Describe the question**
1. When the log is printed using string splicing, when the program judges the level of the print log, it will splice the log information of the string first. If the sentence does not print the string in the end, then this spliced string The process is a meaningless operation, which will increase the loss of system performance. At this time, it is recommended to use logger

[2021-07-29 15:27] shink opened #5921 "[Improvement][CI] Maven connection sometimes times out"
## Describe the question

I notice a lot of connection timeout errors in the CI build.
For example: https://github.com/apache/dolphinscheduler/runs/3192300302?check_suite_focus=true

![image](https://user-images.githubusercontent.com/49934421/127519775-c5a97ba0-1790-4aec-8538-cdaa47af44f7.png)

## Describe alternatives you've considered

Please see: https://github.com/actions/virtual-environments/

[2021-07-30 02:51] chengshiwen commented on #5921
@shink Thanks for your feedback! Welcome to contribute the code!

[2021-07-30 05:17] jon-qj commented on #5864
Yep.The real-time tasks differ from the offline tasks on yarn mode,we can get the running states of offline tasks correctly,even easily,but we can't be sure if the real-time tasks' running states are STOP or RUNNING.

[2021-07-30 16:22] reele opened #5925 "[Improvement][Common template API | Standalone import tool] About migrating to DolphinScheduler"
**About migrating to DolphinScheduler**

It is believed that many users are attracted by the functions of DS, but not everyone can easily migrate the original scheduling configuration to DS, especially the scheduling platform with thousands of jobs such as data warehouse.

Most users really need a tool for easy data migration, and I am one of them, and I need to migrate more than 6000 jobs.

So af

[2021-07-31 03:44] gaoyu2016 opened #5926 "[Feature] Parameter value transfer between tasks"
需要一个feature，可以在task之间进行参数值传递。搜了下，貌似有实现python节点的，但远远不满足需要。需要能满足所有
节点。

[2021-07-31 03:45] gaoyu2016 commented on #5926
有知道的发我下future链接，找了几个没找到。

[2021-07-31 06:54] Tandoy opened #5927 "[Question] [website] [doc] /development/architecture-design.html"
**Describe the question**
Is the zk node in the framework design module distributed_lock.png of the developer guide wrong? The node path in the actual environment[version-1.3.2] is: /dolphinscheduler/lock/masters
![distributed_lock](https://user-images.githubusercontent.com/56899730/127731484-77911c8d-b600-4c33-a7a8-4df183a3123f.png)

[2021-07-31 07:41] robert-guangzhou commented on #5742
I also can't understand dolphi why not support pg, but dolphi almost complete 99% code of sqoop pg  .

I have complete pg support in one day after  read all code of dolphi's sqoop task

[2021-07-31 11:54] ruanwenjun commented on #5927
@Tandoy Yes, this is a typo, you can submit a pr to fix it.
Furthermore, there exist some Chinese words at the picture of the English docs, do you want to fix this together?

[2021-07-31 12:01] ruanwenjun commented on #5926
@gaoyu2016 The related issue about global param is #5565, you can find some docs at https://dolphinscheduler.apache.org/zh-cn/docs/dev/user_doc/globalParams.html. Currently, only Chinese docs is available.

And for better communication, please use English.

[2021-07-31 12:02] Tandoy commented on #5927
@ruanwenjun ok, I will try to fix them.

[2021-07-31 14:02] reele opened #5929 "[Improvement][OSUtils & TaskPriorityQueueConsumer] High frequency logs of CPU overload lead to a vicious circle"
When the DS runs in a low configuration (4 processors) environment and the CPU is overloaded, the OSUtils and TaskPriorityQueueConsumer modules will crazy output logs to dolphinscheduler-master.log, causing the CPU to be overloaded all the time, such as:

<pre><code>
[ERROR] 2021-07-31 21:43:34.624 org.apache.dolphinscheduler.server.master.consumer.TaskPriorityQueueConsumer:[154] - dispatch error:

[2021-07-31 14:21] reele commented on #5929
When the CPU is overloaded, it should wait a little longer, right?

[2021-07-31 14:21] #5929 closed, assigned to nobody

[2021-07-31 16:26] davidzollo commented on #5888
related PR: https://github.com/apache/dolphinscheduler-website/pull/410

[2021-07-31 16:26] #5888 closed, assigned to fs3085

[2021-08-01 08:01] Tandoy commented on #5927
related PR: apache/dolphinscheduler-website#415

[2021-08-01 12:11] allen1128 opened #5930 "[Improvement][Dao] SQL optimization - check exist"
Describe the question
As report by #5061, we need to optimize the sql.  #5069 tried to optimize 'check exist'; however, there are more occurrences that need to be fixed.

What are the current deficiencies and the benefits of improvement
Improve the performance about check some exist with cleaner method

Which version of DolphinScheduler:
-[dev]
-[1.3.6]

[2021-08-01 12:18] allen1128 commented on #5061
created sub-issue #5930 to fix the same. Please review [5931](https://github.com/apache/dolphinscheduler/pull/5931)

[2021-08-01 14:18] #5921 closed, assigned to nobody

[2021-08-01 14:49] huyaro opened #5932 "[Improvement][Scheduler] Scheduler adds calendar configuration options"
**Describe the question**
There are discrepancies between holidays in some industries and national holidays, such as finance. With the scheduling options provided by the current DS, it is necessary to determine whether it is a working day in each task node before performing related operations. Whether to consider adding a customizable calendar configuration, specify it during task configuration.

[2021-08-02 02:36] chengshiwen commented on #5523
Closed by #5898

[2021-08-02 02:36] #5523 closed, assigned to chengshiwen

[2021-08-02 03:30] CalvinKirs commented on #5578
close by #5919

[2021-08-02 03:30] #5578 closed, assigned to nobody

[2021-08-02 06:20] chengshiwen commented on #5467
Closed by #5914

[2021-08-02 06:20] #5467 closed, assigned to chengshiwen

[2021-08-02 06:20] chengshiwen commented on #5858
Closed by #5898

[2021-08-02 06:20] #5858 closed, assigned to chengshiwen

[2021-08-02 06:33] chengshiwen commented on #5619
https://www.apache.org/dyn/closer.lua/dolphinscheduler/1.3.6/apache-dolphinscheduler-1.3.6-src.tar.gz

![image](https://user-images.githubusercontent.com/4902714/127814022-1d26bbc0-5cd4-470e-ab10-2eaeb3df20cd.png)
![image](https://user-images.githubusercontent.com/4902714/127814127-43380ea6-25f1-42a0-985d-37fbe0323278.png)
![image](https://user-images.githubusercontent.com/4902714/127814192-d9eada

[2021-08-02 06:34] chengshiwen commented on #5619
https://www.apache.org/dyn/closer.lua/dolphinscheduler/1.3.4/apache-dolphinscheduler-incubating-1.3.4-dolphinscheduler-bin.tar.gz

![image](https://user-images.githubusercontent.com/4902714/127814309-f5b163ee-a9d1-43b2-9868-042df7a67027.png)
![image](https://user-images.githubusercontent.com/4902714/127814343-fa74078b-bf9d-43de-a730-4618307780c3.png)
![image](https://user-images.githubusercontent.

[2021-08-02 06:36] chengshiwen commented on #5619
While everything goes well in https://github.com/apache/dolphinscheduler/releases: https://github.com/apache/dolphinscheduler/archive/refs/tags/1.3.6.tar.gz

[2021-08-02 12:16] ruanwenjun commented on #5917
@quanzhian Please use English.
Can you reproduce this issue? This should not happen.

[2021-08-03 01:28] reele opened #5935 "[Bug][Dependent Task] The dependent node sometimes fails to pause"
When running a process that contains multi-level sub-processes and a large number of dependent nodes across processes (about 10000 + nodes), there will always be some dependent nodes and sub_process nodes in the running state after clicking Pause, and the process has actually been paused. dolphinschediler-master.log has no log output and the process instance is always in an inoperable state.

And

[2021-08-03 02:47] Squidyu commented on #5886
#5936

[2021-08-03 02:47] #5886 closed, assigned to Squidyu

[2021-08-03 02:58] #5927 closed, assigned to nobody

[2021-08-03 03:03] zhengshubin opened #5938 "[Question]Spark resources file not found"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.
this is  command: spark task command: ${SPARK_HOME2}/bin/spark-submit --master yarn --deploy-mode cluster --class com.zsb.f

[2021-08-03 03:12] #5938 closed, assigned to nobody

[2021-08-03 03:45] linghengzhu opened #5940 "[Bug][server] default worker group nodes may not sync"
**Describe the bug**
This bug is also reported in [https://github.com/apache/dolphinscheduler/issues/5528](https://github.com/apache/dolphinscheduler/issues/5528) which is not resolved yet though already closed. I ran into this bug when I deployed dolphinscheduler on k8s. I may have found the real cause of this bug, and give detailed reproduce steps as followed.
The bug is described as below.
Afte

[2021-08-03 03:55] #5519 closed, assigned to nobody

[2021-08-03 08:18] Yao-MR-zz commented on #5917
@quanzhian 如果是bug的话，能继续看下这两条工作流是否都继续向下执行了？也许时机最终master继续split 的只有一台机器，能再多提供一下下吗的日志么

[2021-08-03 08:36] CalvinKirs commented on #5940
After the Master/Worker is started, it will subscribe to the registry listener, and then pull information from the registry. Can you help me confirm that the current process is like this?

[2021-08-03 08:40] CalvinKirs commented on #5932
good idea,Can you contribute to this feature？

[2021-08-03 08:45] CalvinKirs commented on #5925
General-purpose tools may be better. We can create a new warehouse for this purpose. Does anyone have any suggestions for this?

[2021-08-03 08:54] quanzhian commented on #5917
2条工作流实例都正确执行了，一个ID是 4225，一个ID是 4226

第一个master节点关键日志如下：

[INFO] 2021-07-29 15:43:15.022 org.apache.dolphinscheduler.server.master.runner.MasterSchedulerService:[145] - find one command: id: 4761, type: START_PROCESS
[INFO] 2021-07-29 15:43:15.028 org.apache.dolphinscheduler.server.master.runner.MasterSchedulerService:[153] - start master exec thread , split DAG ...
[INFO] 2021-07-29 15:43:15.030 o

[2021-08-03 09:15] quanzhian commented on #5917
刚重新跟我们的研发人员确认了下，可能是由于我们这边部署的POC环境与测试环境使用了同一个数据库，但是ZK的root目录设置不一致的问题导致。

[2021-08-03 09:15] #5917 closed, assigned to nobody

[2021-08-03 09:21] jon-qj commented on #5925
In my opinion, this function is generally implemented by users themselves. There are too many scheduling platforms (including self-development), complex structures and more uncertainties, which makes it difficult to parse and initialize into DS general format (especially on front-end, how to initialize location to define the coordinates of each task?), we can collect the user's own scripts, summar

[2021-08-03 11:04] luojieio opened #5943 "[Bug] "Tenant does not exist" is reported when adding a directory to the Resource Center"
创建目录命名：test
查看API的日志：
[INFO] 2021-08-03 18:59:22.954 org.apache.dolphinscheduler.api.controller.ResourcesController:[92] - login user admin, create resource, type: FILE, resource alias: test, desc: , file: -1,/

使用的是k8s部署
value配置文件使用minio，配置如下：
 RESOURCE_STORAGE_TYPE: "S3"
    RESOURCE_UPLOAD_PATH: "/dolphinscheduler"
    FS_DEFAULT_FS: "s3a://tmp"
    FS_S3A_ENDPOINT: "http://192.168.0.1:5000"

[2021-08-03 11:45] chengshiwen commented on #5943
@luojieio Make sure the bucket name `tmp` exists, and make sure the upload directory `RESOURCE_UPLOAD_PATH` `/dolphinscheduler` exists

[2021-08-03 12:36] reele commented on #5925
In my understanding, the main reasons for migration difficulties are as follows:
1. Job data structure is complex and difficult to be solved by simple mapping
2. Difficult for non-developer user

Typically, the migration of large numbers of jobs (thousands) is done with little regard for the DAG graphics, and the dependencies are likely to be too complex for the data warehouse user to develop with

[2021-08-03 13:21] brave-lee commented on #5875
When the master module generates a DAG, it will use the name of the task as the key of the nodeMap (See MasterExecThread|buildFlowDag). Using code as the unique key will lead to the loss of the task.

[2021-08-03 13:23] CalvinKirs commented on #5875
please look context.

[2021-08-03 13:24] brave-lee commented on #5875
I think the DagHelper should be refactored

[2021-08-03 13:27] CalvinKirs commented on #5875
This PR #5942  is to solve this problem. Can you help him improve the overall design of this?

[2021-08-03 13:36] brave-lee commented on #5875
Please attention the class of DagHelper. I think here should replace name with code of TaskDefinition, before updating the t_ds_task_definition unique key.

[2021-08-03 14:27] davidzollo commented on #5494
Great job!

[2021-08-04 01:19] linghengzhu commented on #5940
Yes.

[2021-08-04 01:56] calvinjiang commented on #5875
I will dig into the class of DagHelper.

[2021-08-04 02:28] luojieio commented on #5943
![image](https://user-images.githubusercontent.com/25678606/128111922-7f3403de-866a-4e76-9465-db70a032e977.png)

![image](https://user-images.githubusercontent.com/25678606/128111964-a0228b94-2762-419c-8173-8b0dcc8ad5c8.png)

api进程日志：
[INFO] 2021-08-04 10:25:02.444 org.apache.dolphinscheduler.api.controller.ResourcesController:[92] - login user admin, create resource, type: FILE, resource alias: t

[2021-08-04 02:54] Squidyu commented on #5943
You need to switch a non admin user operation and associate this user with an existing tenant. It should be OK
--你需要切换一个非admin用户操作，并且将这个用户关联到一个存在的租户上，应该就可以了

[2021-08-04 03:09] luojieio commented on #5943
换了用户就可以了，为何不能使用admin呢？
最终value配置如下：
 RESOURCE_STORAGE_TYPE: "S3"
    RESOURCE_UPLOAD_PATH: "/dolphinscheduler"
    FS_DEFAULT_FS: "s3a://tmp"
    FS_S3A_ENDPOINT: "http://xxxxxxxx:8888"
    FS_S3A_ACCESS_KEY: "xxxxxxx"
    FS_S3A_SECRET_KEY: "xxxxx"

[2021-08-04 03:45] luojieio opened #5945 "How to add new nodes in worker group"
![image](https://user-images.githubusercontent.com/25678606/128119001-4bc9088e-7b06-44ed-a30c-281114dd3948.png)

我是使用K8s进行部署的，如果增加新的worker节点，比如：我想增加物理机或虚拟机作为工作节点

[2021-08-04 03:45] Squidyu commented on #5943
Admin is not associated with a tenant. If a tenant does not operate when creating a directory, an error will be reported
-- admin没有关联到租户，创建目录的时候没有操作的租户，就会报错

[2021-08-04 05:46] chengshiwen commented on #5945
@luojieio You can deploy a worker-server on a physical machine or virtual machine, and configure the `conf`, especially the `worker.groups` in worker.properties, to support manual configuration of worker groups

[2021-08-04 11:11] echohlne opened #5947 "[Improvement][ApiServer] Add the ability to support moving files/folders in File management."
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
Currently, file management only supports file renaming, deleting, and re-uploading.
If we want to move a file/directory, it can only be done by deleting the existing

[2021-08-04 15:07] CalvinKirs opened #5949 "[Improvement][Service]Optimize the service module"
The service model should only contain specific data, Result is generally the encapsulated carrier of external interaction data, should not be reflected in the service. Related errors can be directly thrown exceptions, API unified exception capture interception.

[2021-08-05 09:39] zhuangchong opened #5951 "[Improvement][UI] When creating an alarm instance, the alarm instance name input box prompts optimization"
**Describe the question**
When creating an alarm instance, the alarm instance name input box prompts optimization.

![image](https://user-images.githubusercontent.com/37063904/128328874-a8da326f-5b05-44e5-b8a0-b5208d02ab18.png)

**Which version of DolphinScheduler:**
 -[dev]

[2021-08-05 17:33] davidzollo commented on #5742
good job, can you submit a PR  to the community as a contributor?

[2021-08-06 07:58] Narcasserun opened #5954 "[Feature] Support metadata management"
### 1. Summary

Metadata provides necessary data support for data governance because supporting metadata is very important. It can not only enable users to understand data more clearly when using DS development, such as table fields and field types. It solves the "data search demand" of retrieving and understanding data, and can provide better services for data quality and data security in the lat

[2021-08-06 08:17] Narcasserun commented on #5083
It seems that I have implemented what you said. Users only need to provide driver and connection. And it already supports hive, mysql, CK, PG, sqlserver, etc. How can I continue to communicate with you

[2021-08-06 08:17] Narcasserun commented on #5083
It seems that I have implemented what you said. Users only need to provide driver and connection. And it already supports hive, mysql, CK, PG, sqlserver, etc. How can I continue to communicate with you

[2021-08-06 08:26] zhuangchong commented on #5083
@Narcasserun

You can open a new issue to express your ideas, design plan.
Finally associated with this issue.

[2021-08-06 08:36] Narcasserun commented on #5083
#5954

#5954 This issue includes the idea of data source creation and metadata. I will give detailed design documents and ideas later

[2021-08-06 08:36] Narcasserun commented on #5083
#5954 This issue includes the idea of data source creation and metadata. I will give detailed design documents and ideas later

[2021-08-06 15:20] wunan1210 opened #5956 "[Feature][Server-UI] add local params in subprocess like other types of task"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
When add a subprocess, we do not know the params of the subprocess, and can't modify the params of the subprocess. May the global params of parent process overwrite i

[2021-08-07 02:56] ruanwenjun commented on #5954
Great, maybe you can provide a detail design plan or some demo code.
And it seems that metadata management is a sub function of datasource SPI.

[2021-08-07 12:20] robert-guangzhou commented on #5742
Ok, I will read the contributing guidelines and try to do it

[2021-08-08 13:42] marin-man opened #5962 "[Improvement] ResultFul API Design documents"
## URI Design
Rest：representative state transfer. It describes the functions of the API by combining URI and Method. Uri is used to represent resources, and method is used to represent operations on resources.  Resources are divided into single and single categories, which are expressed in singular and plural respectively, such as `groups/{groupId}` and `groups`.

## Method Design
### 1. Query
Get

[2021-08-08 13:50] marin-man commented on #5962
In order to more intuitively display the changes, I put the changed interface code on the server. The following is the corresponding swagger document. [change-api](http://121.5.0.60:6543/api/dolphinscheduler/v1/doc.html)

[2021-08-08 17:54] robert-guangzhou commented on #5742
https://github.com/apache/dolphinscheduler/pull/5963 , it is the first commit of me in github. if something is wrong please tell me

[2021-08-09 04:02] brave-lee commented on #5962
Good job. Please put the content into the issue, not external links.

[2021-08-09 05:16] marin-man commented on #5962
Thank you for your correction. I have updated it as required.

[2021-08-09 06:07] #5880 closed, assigned to nobody

[2021-08-09 09:45] Narcasserun commented on #5954
Yes, I updated the design. You can take a look first. The demo code will be updated tomorrow

[2021-08-09 12:04] Narcasserun commented on #5954
I have given the design plan or some demonstration code, and look forward to communicating with you

[2021-08-09 12:20] Narcasserun commented on #5680
#5954 There is a data source SPI in my design, which has been verified in production. I wonder if we can communicate

[2021-08-10 01:33] soreak commented on #5949
I will complete this issue

[2021-08-10 02:37] calvinjiang opened #5964 "[Bug][UI] When I set a previous dependent task for other task , the dag will show two lines between the two tasks."
**Describe the bug**
I have two tasks separately called task1 and task2. The task2 depend upon the task1, so I manually connect the two tasks. And then I set task1 as a previous dependent task for task2 in the settings of the task2. The dag will show two links between
task1 and task2.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a new flow called 'flow_test'
2. open th

[2021-08-10 02:56] jon-qj opened #5965 "[Question] Some dependencies were not found when I started the front-end"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.

I ran the command 'npm install', there was no problem.But it showed some messages when I started it,

Could someone help m

[2021-08-10 03:30] jon-qj commented on #5965
I make element-ui updated to 2.14.1,and this problem doesn't show any more.

[2021-08-10 03:30] #5965 closed, assigned to nobody

[2021-08-10 06:36] gaoyu2016 opened #5967 "[Bug][DATAX] DataX plug-in initialization error, this problem is usually caused by a DataX installation error, please contact your O&M to solve it"
[INFO] 2021-08-10 14:08:57.914  - [taskAppId=TASK-1123-2437672-2651427]:[127] -  ->
        DataX (DATAX-OPENSOURCE-3.0), From Alibaba !
        Copyright (C) 2010-2017, Alibaba Group. All Rights Reserved.

        2021-08-10 14:08:56.904 [main] WARN  ConfigParser - 插件[null,null]加载失败，1s后重试... Exception:Code:[Framework-12], Description:[DataX插件初始化错误, 该问题通常是由于DataX安装错误引起，请联系您的运维解决 .].  - 插件加载失败，未完成指

[2021-08-10 07:17] gaoyu2016 commented on #5967
job配置的json格式有问题。

[2021-08-10 10:45] jon-qj opened #5968 "[Question] Master can not be started"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**

When I set the parameter registry.servers="lcoalhost:2181", Master can be started.
However it cann't when I set the romote server address.
And I find out that Apache Curator Frame

[2021-08-10 10:51] jon-qj commented on #5968
@CalvinKirs

[2021-08-10 13:41] atai-555 opened #5969 "[Question] Why scheduleTime was added by one day when run complement data?"
I created workflow named "dwD_01" with shell node, and the shell is configured with variable [YYYY-MM-DD-1], which is the day before the current scheduleTime. When dwD_01 is executed,ScheduleTime is 2021-08-10 03:01:00, but I find that [YYYY-MM-DD-1] is also 20210810(not 20210809).And then I saw this line in the code ShellTask.java (L147):

if (CommandType.COMPLEMENT_DATA.getCode() == taskExecutio

[2021-08-10 13:54] ruanwenjun commented on #5954
@Narcasserun So we first need to implement the datasource plugin, am I right? Then we can do a lot of functions such like metadata management.

The datasource SPI has been mentioned at #5680, what may need to attention is how to adapt to the front-end. You can refer to the alert-plugin.

[2021-08-10 14:59] afandago opened #5970 "Oracle DataSource Connection Failed"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.

All configuration is done, according to the document of Official Site. But still can't connect to my Oracle data source, v

[2021-08-11 01:48] Narcasserun commented on #5954
You're right. The metadata management I implemented includes data source creation and metadata acquisition, but now there are only restful services. I think metadata services can be called for data quality and workflow development. How to adapt the front end needs to be discussed together. I have updated the document, and the implementation is very similar to alert plugin

[2021-08-11 02:03] Narcasserun commented on #5954
@ruanwenjun This is the result of my local test of hive metadata. Of course, this is one of them obtained through JDBC, and there are more detailed metadata
![image](https://user-images.githubusercontent.com/39329477/128958368-8a80127b-6127-4e1c-a72b-58707bbe3175.png)

[2021-08-11 02:04] jon-qj commented on #5954
how about datahub architecture ( https://github.com/linkedin/datahub)?
![image](https://user-images.githubusercontent.com/39773194/128958490-c837f786-ef86-4c4a-a89f-fb11dd539f1f.png)
or metacat  architecture (https://github.com/Netflix/metacat)
![image](https://user-images.githubusercontent.com/39773194/128960002-88a26d62-1fe8-42a5-b250-469270630122.png)

[2021-08-11 03:14] git1071440198 opened #5972 "[Bug][worker-server Service is down ] Bug title The worker service suddenly stopped，An error: io.grpc.internal.ManagedChannelImpl:[1116] - *~*~*~ Channel io.grpc.internal.ManagedChannelImpl-337 for target 10.8.2.52:50051 was not shutdown properly!!! ~*~*~* Make sure to call shutdown()/shutdownNow() and awaitTermination(). java.lang.RuntimeException: ManagedChannel allocation site"
[INFO] 2021-08-10 16:13:43.221 org.apache.dolphinscheduler.server.worker.runner.TaskScheduleThread:[156] - task instance id : 18363,task final status : SUCCESS
[INFO] 2021-08-10 16:16:44.880 org.apache.dolphinscheduler.server.worker.WorkerServer:[339] - get one kill command from tasks kill queue: 10.8.2.52-18366
[INFO] 2021-08-10 16:16:45.006 org.apache.dolphinscheduler.server.utils.ProcessUtils:[

[2021-08-11 03:22] CalvinKirs commented on #5972
which version?

[2021-08-11 03:24] git1071440198 commented on #5972
version 1.2.0

[2021-08-11 03:26] Tandoy commented on #5969
1. When you choose to supplement the data and run the workflow, dolphinscheduler will default the date +1, you can find the relevant date configuration instructions here：https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/system-manual.html
2. If you are not supplementing data, you can try $[yyyyMMdd-1]

[2021-08-11 03:34] git1071440198 commented on #5972
version 1.2.0

[2021-08-11 03:47] Tandoy commented on #5970
After you put the different OJDBC jars in the lib folder of the Dolphin installation directory, did you restart the dolphin api-server and worker-server? If not, you can try it.

[2021-08-11 04:46] Narcasserun commented on #5954
Hello, both datahub and metacat are very good metadata management frameworks, but their architecture is a little heavy for DS or big data platform, which will increase the external complexity and deployment cost of DS / big data platform. This should not be accepted

[2021-08-11 05:20] jon-qj commented on #5954
Yes,you are right.I mean we can reduce the difficulty of our own implementation by borrowing their ideas or codes.

[2021-08-11 05:30] Narcasserun commented on #5954
@jon-qj Yes, the method is right. You can look at the document above

[2021-08-11 05:34] washyouself opened #5974 "Dolphinscheduler web page create tenant error"
2021-08-11 13:28:48.753 org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[45] - 创建租户错误
java.lang.NullPointerException: null
        at org.apache.dolphinscheduler.common.utils.HadoopUtils.mkdir(HadoopUtils.java:279)
        at org.apache.dolphinscheduler.api.service.BaseService.createTenantDirIfNotExists(BaseService.java:129)
        at org.apache.dolphinscheduler.api.service.TenantS

[2021-08-11 07:12] afandago commented on #5970
I've restart servers, I've also try to restart dockers, but still not work.

[2021-08-11 07:48] atai-555 opened #5975 "[Bug][dolphinscheduler-dao] queryLastRunningProcess sql in ProcessInstanceMapper.xml"
**Describe the bug**
In method queryLastRunningProcess of ProcessInstanceMapper.xml, when judging the start time and the end time, the parentheses should be less.The version is latest.
**Code**
    <select id="queryLastRunningProcess" resultType="org.apache.dolphinscheduler.dao.entity.ProcessInstance">
        select
        <include refid="baseSql"/>
        from t_ds_process_instance
        whe

[2021-08-11 09:26] EliuGit opened #5976 "Introduce the connection information of the data source center in the custom parameters"
Introduce the connection information of the data source center in the custom parameters

When we use python or shell, we can import the connection information of the data source from the data source center to achieve the effect of unified management of the data source

[2021-08-11 11:17] zhuangchong commented on #5975
@atai-555
Can you submit a PR to fix this problem?

[2021-08-12 02:02] Yao-MR-zz commented on #5798
@HeChuanXUPT  can you add some log of the master and worker?

[2021-08-12 02:50] cxin-william opened #5978 "Since DataX is particularly inefficient to write greenplum, how do I switch DataX to addax plugin"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
A clear and concise description of what the feature is.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what th

[2021-08-12 03:07] atai-555 commented on #5969
Thanks for your reply, I found the configuration instructions now after your help.
The configuration instructions said: The day before the scheduled time of the daily scheduling instance, the format is yyyyMMdd, when the data is supplemented, the date is +1.

I have a specific problem, I have two workflows ODS_01 and DWD_01,Dwd_01 depends on ODS_01. Today, ODS_01 was executed through the daily sch