[2021-04-09 09:43] wen-hemin commented on #5235
I think, this should be the responsibility of the gateway component.

[2021-04-09 09:46] BoYiZhang commented on #5235
I don't think it is necessary for the time being.
If the request is very high, you can consider a gateway such as nginx to do the load.

[2021-04-09 09:46] wen-hemin commented on #5241
Please describe the version、operation and exception log

[2021-04-09 09:54] CalvinKirs commented on #5242
taskPriorityQueue.size() <= failedDispatchTasks.size()
It seems that the problem here should be caused by too many tasks of failedDispatchTasks.

[2021-04-09 10:47] glxfeng commented on #5242
日志里确实有很多dispatch error的报错信息，请问这是怎么产生的呢？
There are a lot of error messages about dispatch error in the log. How did this happen?
![image](https://user-images.githubusercontent.com/57620584/114169214-da681b80-9963-11eb-9ea5-3f48fd10dffd.png)

[2021-04-09 14:02] chengshiwen commented on #5237
@gaoyu2016 Could you show us the content of `conf/common.properties`?

[2021-04-09 14:45] shuimuziyang commented on #5241
您好，英文实在拿不出手，请见谅。我用海豚调度器dev分支的源码编译了一个安装包，安装之后执行datax任务时失败。
海豚调度器报错如下：

1. 直接用datax运行自定义的datax job json正常，运行海豚调度器生成的job json文件，报同样的错。
2. 查看海豚调度器生成job json文件，发现生成的reader和writer插件配置是字符串格式，datax无法解析。
3. 查看历史版本和最新版本的海豚调度器生成datax task的源码发现，最新的源码中生成reader和writer直接转成了json字符串。

最新源码：

incubator-dolphinscheduler/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/worker/task/datax/DataxT

[2021-04-09 18:29] ruanwenjun commented on #5241
Yeal, this problem does happen in the dev branch. This may be due to the job.json file created by `dolphinscheduler` can't deserialize by `datax`, but I am not sure if it's because of the version.

The job.json created by ds is look like below:
[code]
format
[code]
The value of reader、writer and setting is a string, this may not be parsed by `datax`. So we may get error such as `ConfigParser-plugi

[2021-04-10 03:42] machimedes opened #5244 "[ds kill taks with no explict reason][ds worker] ds kill taks with no explict reason"
Dolphine Scheduler will kill task by itself with no explicit log info about the cause.
Also some opearation may be potentially daugerous.

As show in below pic, two task killed
![image](https://user-images.githubusercontent.com/49675726/114257092-36788180-99f0-11eb-96bf-e914053eb3e2.png)

There are logs copy from the logs on server, its not very Suggestive and helpful.
task 1149 and 1150 are those

[2021-04-10 04:21] zhuangchong commented on #5244
fix by #4936

[2021-04-10 04:52] zhuangchong commented on #3612
This issue has been resolved

[2021-04-10 04:52] #3612 closed

[2021-04-10 05:04] zhuangchong commented on #3604
This issue has been resolved

![image](https://user-images.githubusercontent.com/37063904/114258986-40ed4800-99fd-11eb-985c-05f5788a3a67.png)

[2021-04-10 05:04] #3604 closed

[2021-04-10 05:38] zhuangchong commented on #3566
This issue has been resolved.

[2021-04-10 05:38] #3566 closed

[2021-04-10 06:51] chengshiwen commented on #402
Close by #5158

[2021-04-10 06:51] #402 closed

[2021-04-10 06:53] chengshiwen commented on #403
Close by #5158 which introduced `MASTER_SERVER_OPTS`, `WORKER_SERVER_OPTS`, `ALERT_SERVER_OPTS`, `API_SERVER_OPTS`, `LOGGER_SERVER_OPTS`

[2021-04-10 06:53] #403 closed

[2021-04-10 06:57] chengshiwen commented on #174
Close by #5104

We can choose whether to send mail in 1.3.6

![image](https://user-images.githubusercontent.com/4902714/114261404-efe55000-9a0c-11eb-9291-0f9bb2f987de.png)

[2021-04-10 06:57] #174 closed

[2021-04-10 06:57] CalvinKirs commented on #5242
When the worker load is too high, the task will not be accepted, so when the master sends the task to the worker, no suitable worker can work.

[2021-04-10 07:02] chengshiwen commented on #196
Close by #4267, since **Force Task Success** has introduced in dev branch.

[2021-04-10 07:02] #196 closed

[2021-04-10 07:12] chengshiwen commented on #448
Close this issue since no updates for long time

[2021-04-10 07:12] #448 closed

[2021-04-10 07:14] chengshiwen commented on #407
Close this issue since no updates for long time

[2021-04-10 07:14] #407 closed

[2021-04-10 07:17] chengshiwen commented on #428
Close this issue since no updates for long time

[2021-04-10 07:17] #428 closed

[2021-04-10 07:20] chengshiwen commented on #426
Close this issue since no updates for long time

[2021-04-10 07:20] #426 closed

[2021-04-10 07:23] chengshiwen commented on #452
Close this issue since the retry mechanism has introduced in latest version

[2021-04-10 07:23] #452 closed

[2021-04-10 07:26] chengshiwen commented on #530
Close this issue since no updates for long time

[2021-04-10 07:26] #530 closed

[2021-04-10 07:28] chengshiwen commented on #547
Close by #5104
![image](https://user-images.githubusercontent.com/4902714/114262243-700db480-9a11-11eb-9413-15e0a03906b9.png)

[2021-04-10 07:28] #547 closed

[2021-04-10 07:32] chengshiwen commented on #5227
Duplicated with #427

[2021-04-10 07:35] chengshiwen commented on #5207
In future, we will consider cloud native based on docker/k8s, so you will see the task level resource isolation through docker or k8s

[2021-04-10 07:38] chengshiwen commented on #5189
Close this issue since no updates for long time

[2021-04-10 07:38] #5189 closed, assigned to nobody

[2021-04-10 07:44] chengshiwen commented on #5161
Close by #5163

[2021-04-10 07:44] #5161 closed, assigned to nobody

[2021-04-10 07:48] chengshiwen commented on #5154
@babogd Thanks for your contribution! If you want to contribute the code, please refer to https://dolphinscheduler.apache.org/en-us/community/development/submit-code.html at first. Looking forward to joining the DolphinScheduler open source community

[2021-04-10 08:03] chengshiwen commented on #5098
@kalencaya Thanks for your reply!
@haydenzhourepo Hi, is there any progress?

[2021-04-10 08:04] chengshiwen commented on #5096
Close this isuue since no updates for long time

[2021-04-10 08:04] #5096 closed, assigned to nobody

[2021-04-10 08:12] chengshiwen commented on #5082
Brief Release Notes:
- Skywalking monitor
- Docker & K8s optimization
- Worker group management on UI
- Spark/Flink/MR name feature
- Master/Worker loopback address bug fixed
- Master fault tolerance bug fixed
- Distributed trace feature
- ZK dead server remove
- Kerberos bug fixed

[2021-04-10 08:13] #5082 closed, assigned to nobody

[2021-04-10 08:35] chengshiwen commented on #4913
Close this issue sine no updates for long time

[2021-04-10 08:35] #4913 closed, assigned to nobody

[2021-04-10 08:36] chengshiwen commented on #4907
Close this issue since no updates for long time

[2021-04-10 08:36] #4907 closed, assigned to nobody

[2021-04-10 08:41] chengshiwen commented on #4848
@execdf Hi, could you give us more logs about this issue? Thanks so much!

[2021-04-10 08:44] chengshiwen commented on #4836
@ruancheng77 Hi, could you give us more details to reproduce this issue? Thanks so much!

[2021-04-10 08:49] chengshiwen commented on #4800
Close this issue since duplicated with #4801

[2021-04-10 08:49] #4800 closed, assigned to nobody

[2021-04-10 08:53] chengshiwen commented on #4712
Close this issue since the question has been replied

[2021-04-10 08:53] #4712 closed, assigned to nobody

[2021-04-10 08:54] chengshiwen commented on #4687
@gaozhenfeng1 Could you show us the worker logs about the issue? Thans so much!

[2021-04-10 08:56] chengshiwen commented on #4667
Close by #5095

[2021-04-10 08:56] #4667 closed

[2021-04-10 08:57] chengshiwen commented on #4657
Close this issue since no updates for long time

[2021-04-10 08:57] #4657 closed

[2021-04-10 08:58] chengshiwen commented on #5218
Related issue: #4653

[2021-04-10 08:59] chengshiwen commented on #4653
Related issue: #5218

[2021-04-10 08:59] chengshiwen commented on #4615
@enoughwell Could you show me the steps to reproduce the issue? Thanks so much

[2021-04-10 09:02] chengshiwen commented on #4580
Close this issue since it can't be reproduced

[2021-04-10 09:02] #4580 closed

[2021-04-10 09:03] chengshiwen commented on #4577
Close this issue since it can't be reproduced due to no updates for long time

[2021-04-10 09:03] #4577 closed

[2021-04-10 09:07] chengshiwen commented on #4560
Close this issue since the issue has been replied

[2021-04-10 09:07] #4560 closed

[2021-04-10 09:08] chengshiwen commented on #4553
Close this question since it has been replied

[2021-04-10 09:08] #4553 closed

[2021-04-10 09:17] chengshiwen commented on #4512
Close by #4595 #4763 #4774

[2021-04-10 09:17] #4512 closed

[2021-04-10 09:20] chengshiwen commented on #4492
Close this question since it has been replied

[2021-04-10 09:20] #4492 closed

[2021-04-10 09:20] chengshiwen commented on #4476
Close this issue since it can't be reproduced

[2021-04-10 09:20] #4476 closed

[2021-04-10 09:32] chengshiwen commented on #4398
Close this issue since no updates for long time

[2021-04-10 09:32] #4398 closed

[2021-04-10 09:32] chengshiwen commented on #4397
Close this question since it has been replied

[2021-04-10 09:32] #4397 closed

[2021-04-10 09:33] chengshiwen commented on #4394
Close this issue since no updates for long time

[2021-04-10 09:33] #4394 closed

[2021-04-10 09:34] chengshiwen commented on #4386
Close this question since it has been resolved

[2021-04-10 09:34] #4386 closed

[2021-04-10 09:34] chengshiwen commented on #4384
Close by #4626

[2021-04-10 09:34] #4384 closed

[2021-04-10 09:39] chengshiwen commented on #4370
@keepmeup The listening port of the master node used for netty port to communicate with workers

[2021-04-10 09:39] #4370 closed

[2021-04-10 09:40] chengshiwen commented on #4357
@xqg1316 Maybe you can consider the `Force Task Success` feature #4267

[2021-04-10 09:40] #4357 closed

[2021-04-10 09:44] chengshiwen commented on #4315
Close this question since no updates for long time

[2021-04-10 09:44] #4315 closed

[2021-04-10 09:45] chengshiwen commented on #4258
Close the question since it has been replied

[2021-04-10 09:45] #4258 closed

[2021-04-10 09:49] chengshiwen commented on #4234
Close by #5104

The switch to send mail has supported in next 1.3.6

![image](https://user-images.githubusercontent.com/4902714/114265730-07303780-9a25-11eb-8d2a-7d75a591d222.png)

[2021-04-10 09:49] #4234 closed

[2021-04-10 09:49] ruancheng77 commented on #4836
Example's response data for interface /dolphinscheduler/projects/{projectName}/process/save.

{
code: 0
data: null
msg: "成功"
}

Data is null.

[2021-04-10 09:50] chengshiwen commented on #4177
Close the question since it has been replied

[2021-04-10 09:50] #4177 closed

[2021-04-10 09:51] chengshiwen commented on #4174
Close the question since it has been replied

[2021-04-10 09:51] #4174 closed

[2021-04-10 09:53] chengshiwen commented on #4132
Close the question since it has been replied

[2021-04-10 09:53] #4132 closed

[2021-04-10 09:57] chengshiwen commented on #4003
Close this issue since no updates for long time

[2021-04-10 09:57] #4003 closed

[2021-04-10 10:00] chengshiwen commented on #4089
The following is the community reply:

java 的kerberos是标准化，和curator没有关系。 启动参数增加jaas配置就行了

找了段hbase的zk建立 secure 连接的
[code]
[code]

[code]

[2021-04-10 10:00] #4089 closed

[2021-04-10 10:03] chengshiwen commented on #4075
Close the question since it has been replied

[2021-04-10 10:03] #4075 closed

[2021-04-10 10:03] chengshiwen commented on #4066
Close the question since it has been replied

[2021-04-10 10:03] #4066 closed

[2021-04-10 10:06] chengshiwen commented on #4062
There is currently no better way to solve this problem

[2021-04-10 10:08] chengshiwen commented on #4060
Close by #4272

[2021-04-10 10:08] #4060 closed

[2021-04-10 10:10] chengshiwen commented on #4014
Close the question since no updates for long time

[2021-04-10 10:14] chengshiwen commented on #3943
Close by #4693, since 1.3.5-release has supported

[2021-04-10 10:14] #3943 closed

[2021-04-10 10:16] chengshiwen commented on #3922
Close the question since no updates for long time

[2021-04-10 10:16] #3922 closed

[2021-04-10 10:18] chengshiwen commented on #3910
Close the question since it has been replied

[2021-04-10 10:18] #3910 closed

[2021-04-10 10:20] chengshiwen commented on #3816
Close the issue since it has been resolved

[2021-04-10 10:20] #3816 closed

[2021-04-10 10:22] chengshiwen commented on #3815
Close by #4149 #5123

[2021-04-10 10:22] #3815 closed

[2021-04-10 10:24] chengshiwen commented on #3813
@shiliquan The unit of `kerberos.expire.time` is `day` under `ds version <= 1.3.5`. You can try to set it to `1`

[2021-04-10 10:24] #3813 closed

[2021-04-10 10:28] chengshiwen commented on #3730
Close by #5122, since the feature has been supported in next 1.3.6

[2021-04-10 10:28] #3730 closed

[2021-04-10 10:32] chengshiwen commented on #3608
Related issue: #4464

[2021-04-10 10:32] chengshiwen commented on #4464
Related issue: #3608

[2021-04-10 10:33] chengshiwen commented on #3475
Close by #5104

The switch to send mail has supported in next 1.3.6

![image](https://user-images.githubusercontent.com/4902714/114265730-07303780-9a25-11eb-8d2a-7d75a591d222.png)

[2021-04-10 10:33] #3475 closed

[2021-04-10 10:35] chengshiwen commented on #3451
Related issue: #4531

[2021-04-10 10:35] chengshiwen commented on #4531
Related issue: #3451

[2021-04-10 10:37] chengshiwen commented on #3426
Close by #3427 #3508 #4812

[2021-04-10 10:37] #3426 closed

[2021-04-10 10:43] chengshiwen commented on #3257
Close this issue, since it has been resolved in 1.3.4 and `data.basedir.path` in master will no longer be used

[2021-04-10 10:43] #3257 closed

[2021-04-10 10:45] chengshiwen commented on #3247
Related issue: #4499

[2021-04-10 10:45] chengshiwen commented on #4499
Related issue: #3247

[2021-04-10 10:46] chengshiwen commented on #3172
Close this issue since it can't be reproduced

[2021-04-10 10:46] #3172 closed

[2021-04-10 10:49] chengshiwen commented on #3092
Related issue: #5201

[2021-04-10 10:49] chengshiwen commented on #5201
Related issue: #2570 #3092

[2021-04-10 10:50] chengshiwen commented on #3071
Close the issue since it has been replied

[2021-04-10 10:50] #3071 closed

[2021-04-10 10:51] chengshiwen commented on #2995
Close by #3201 #3220 #3524

[2021-04-10 10:51] #2995 closed

[2021-04-10 10:52] chengshiwen commented on #2989
Close the issue since no updates for long time

[2021-04-10 10:52] #2989 closed

[2021-04-10 10:53] chengshiwen commented on #2977
Close by #5025 #5027

[2021-04-10 10:53] #2977 closed

[2021-04-10 10:55] chengshiwen commented on #2935
Close since no updates for long time

[2021-04-10 10:55] #2935 closed

[2021-04-10 10:57] chengshiwen commented on #2904
Duplicated issue: #5229
So close

[2021-04-10 10:57] #2904 closed

[2021-04-10 10:58] chengshiwen commented on #2864
Related pr: #3424

[2021-04-10 11:03] chengshiwen commented on #2755
Close since 1.3.x has been supported

[2021-04-10 11:03] #2755 closed

[2021-04-10 11:04] chengshiwen commented on #2694
Close since 1.3.x has been supported, `install.sh` is ok

[2021-04-10 11:04] #2694 closed

[2021-04-10 11:06] chengshiwen commented on #2628
Close since the dev branch has integrated alert plugins

[2021-04-10 11:06] #2628 closed

[2021-04-10 11:06] chengshiwen commented on #2625
Close by #2848

[2021-04-10 11:06] #2625 closed

[2021-04-10 11:07] chengshiwen commented on #2620
Close the question since it has been replied

[2021-04-10 11:07] #2620 closed

[2021-04-10 11:08] chengshiwen commented on #2591
Close by ##2934 #5122

[2021-04-10 11:08] #2591 closed

[2021-04-10 11:09] chengshiwen commented on #2590
Close by #5104

The switch to send mail has supported in next 1.3.6

![image](https://user-images.githubusercontent.com/4902714/114265730-07303780-9a25-11eb-8d2a-7d75a591d222.png)

[2021-04-10 11:09] #2590 closed

[2021-04-10 11:11] chengshiwen commented on #2576
Please try to use and check 1.3.x. Close this since no updates for long time

[2021-04-10 11:11] #2576 closed

[2021-04-10 11:12] chengshiwen commented on #2570
Related issue: #5201

[2021-04-10 11:14] chengshiwen commented on #2562
http://106.75.43.194:8888/dolphinscheduler/doc.html

[2021-04-10 11:14] #2562 closed

[2021-04-10 11:15] chengshiwen commented on #2551
Close the issue since it has been solved

[2021-04-10 11:15] #2551 closed

[2021-04-10 11:17] chengshiwen commented on #2542
Close by #2560, duplicated issue: #2501

[2021-04-10 11:17] #2542 closed

[2021-04-10 11:22] chengshiwen commented on #2509
Close the question since it has been replied

[2021-04-10 11:22] #2509 closed

[2021-04-10 11:23] chengshiwen commented on #2463
Close by #2693

[2021-04-10 11:23] #2463 closed

[2021-04-10 11:24] chengshiwen commented on #2446
Now, spark, flink and mr have supported yarn queue in 1.3.5

[2021-04-10 11:24] #2446 closed

[2021-04-10 11:24] chengshiwen commented on #2425
Close this issue since no updates for long time

[2021-04-10 11:24] #2425 closed

[2021-04-10 11:26] chengshiwen commented on #2411
Close by #4840 #5044

[2021-04-10 11:26] #2411 closed

[2021-04-10 11:28] chengshiwen commented on #2383
Close the issue since no updates for long long time

[2021-04-10 11:28] #2383 closed

[2021-04-10 11:29] chengshiwen commented on #2372
Close the issue since no updates for long time

[2021-04-10 11:29] #2372 closed

[2021-04-10 11:30] chengshiwen commented on #2364
Close by #2354 #2366, pls check new version

[2021-04-10 11:30] #2364 closed

[2021-04-10 11:32] chengshiwen commented on #2361
Close the issue since it has been replied

[2021-04-10 11:32] #2361 closed

[2021-04-10 11:33] chengshiwen commented on #2360
Close by #5122

[2021-04-10 11:33] #2360 closed

[2021-04-10 12:21] chengshiwen commented on #2207
Close this issue since `fetchTaskThread` has removed in 1.3.x

[2021-04-10 12:21] #2207 closed

[2021-04-10 12:30] chengshiwen commented on #2091
Close since the issue has been resolved in 1.3.x

[2021-04-10 12:30] #2091 closed

[2021-04-10 12:34] chengshiwen commented on #1930
Close the issue since no updates for long time

[2021-04-10 12:34] #1930 closed

[2021-04-10 12:38] chengshiwen commented on #1911
Related issue: #3799 #4563 #4465
Related pr: #4879 #4788

[2021-04-10 12:40] chengshiwen commented on #1774
Please refer to http://106.75.43.194:8888/dolphinscheduler/doc.html

[2021-04-10 12:40] #1774 closed

[2021-04-10 12:41] chengshiwen commented on #1762
Close this issue since it has resolved in 1.3.x and dev

[2021-04-10 12:41] #1762 closed

[2021-04-10 12:42] chengshiwen commented on #1761
Close this issue since no updates for long time

[2021-04-10 12:42] #1761 closed

[2021-04-10 12:43] chengshiwen commented on #1547
Close by #1604

[2021-04-10 12:43] #1547 closed

[2021-04-10 12:44] chengshiwen commented on #1512
Close this issue since fetching the task in worker has removed in 1.3.x

[2021-04-10 12:44] #1512 closed

[2021-04-10 12:46] chengshiwen commented on #1455
Close this issue since file folder has supported in 1.3.x

[2021-04-10 12:46] #1455 closed

[2021-04-10 12:46] chengshiwen commented on #1450
Close the issue since it has been resolved

[2021-04-10 12:46] #1450 closed

[2021-04-10 12:47] chengshiwen commented on #1448
Close this issue since DolphinScheduler has supported offline-deployment in 1.3.x

[2021-04-10 12:47] #1448 closed

[2021-04-10 12:54] chengshiwen commented on #1377
Close the question since no updates for long time

[2021-04-10 12:54] #1377 closed

[2021-04-10 12:54] chengshiwen commented on #1376
Close this issue since the deployment of DolphinScheduler has been simplified in 1.3.x

[2021-04-10 12:54] #1376 closed

[2021-04-10 12:56] chengshiwen commented on #1370
Close this issue since no updates for long time

[2021-04-10 12:56] #1370 closed

[2021-04-10 12:56] chengshiwen commented on #1369
Close this issue since nginx has been removed

[2021-04-10 12:56] #1369 closed

[2021-04-10 12:58] chengshiwen commented on #1339
Most problems have been optimized, please check the latest version

[2021-04-10 12:58] #1339 closed

[2021-04-10 13:02] chengshiwen commented on #1152
Close this issue since it has been resolved

[2021-04-10 13:02] #1152 closed

[2021-04-10 13:04] chengshiwen commented on #1111
Close this issue since fetching the task in worker has removed in 1.3.x. So please the latest version

[2021-04-10 13:04] #1111 closed

[2021-04-10 13:07] chengshiwen commented on #1067
Encrypting passwords at the front-end is a difficult thing, involving cryptography, such as symmetric encryption and asymmetric encryption. https is the most considered solution.

[2021-04-10 13:07] #1067 closed

[2021-04-10 13:09] chengshiwen commented on #1066
We will consider the feature in https://github.com/apache/incubator-dolphinscheduler-website, thx!

[2021-04-10 13:09] #1066 closed

[2021-04-10 13:11] chengshiwen commented on #911
Close this issue since it has been resolved

[2021-04-10 13:11] #911 closed

[2021-04-10 13:12] chengshiwen commented on #903
Close since no updates for long time

[2021-04-10 13:12] #903 closed

[2021-04-10 13:12] chengshiwen commented on #899
Close since no updates for long time

[2021-04-10 13:12] #899 closed

[2021-04-10 13:13] chengshiwen commented on #875
Close since it has been resolved

[2021-04-10 13:13] #875 closed

[2021-04-10 13:16] chengshiwen commented on #838
Close since it has been resolved in latest version

[2021-04-10 13:16] #838 closed

[2021-04-10 13:18] chengshiwen commented on #829
Related issue: #5229
So Close this issue

[2021-04-10 13:18] #829 closed

[2021-04-10 13:20] chengshiwen commented on #780
Close the issue since `sshPort` has been supported in 1.3.x

[2021-04-10 13:20] #780 closed

[2021-04-10 13:23] chengshiwen commented on #635
Close this issue since `system.biz.date` has been supported

[2021-04-10 13:23] #635 closed

[2021-04-10 13:27] chengshiwen commented on #5215
@roamerop Hi, could you show us more steps to reproduce this issue? Thanks so much

[2021-04-10 15:46] Jonathan-Wei opened #5250 "[Bug][API] Click to view the data source parameters in the data source list, and the type attribute is null"
**Describe the bug**
Click to view the data source parameters in the data source list, and the type attribute is null

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to 'DataSource Center'
2. Click on 'Create DataSource'
3. Create a data source of type MySQL
4. Return the list of data sources,click to view the data source parameters in the data source list, and the type attri

[2021-04-10 15:52] Jonathan-Wei commented on #5250
![image](https://user-images.githubusercontent.com/3073018/114276021-6dce4900-9a57-11eb-99c6-17842f40e217.png)
From a code point of view, whether type should be displayed here is the corresponding data type. @dailidong

[2021-04-10 15:54] Jonathan-Wei commented on #5250
`public static final String ORACLE_DB_CONNECT_TYPE = "connectType";`

[2021-04-10 15:57] ruanwenjun commented on #5250
@Jonathan-Wei The type is connectType, it is only used by Oracle. This has been mentioned in #5083, this make confusion, and will be solved.

[2021-04-10 16:02] Jonathan-Wei commented on #5250
I know that the type attribute here should be the corresponding data source type, and here the connectType value is assigned to the type attribute @ruanwenjun

[2021-04-10 16:03] Jonathan-Wei commented on #5250
I will fix it. please assign it to me!

[2021-04-10 16:06] ruanwenjun commented on #5250
@Jonathan-Wei No, the type is not data source type there :）

[2021-04-10 16:10] Jonathan-Wei commented on #5250
Type and ConnectType have the same value? @ruanwenjun

[2021-04-10 16:13] ruanwenjun commented on #5250
@Jonathan-Wei Yeah, you are right, we need to distinguish the type and connectType here, and I think the type does not need to be stored in paramMap.

[2021-04-10 16:19] Jonathan-Wei commented on #5250
It's OK not to display the type, except that the buildParameter() method splits the null value into the connectionParams parameter during processing, causing the type to be displayed as null @ruanwenjun

[2021-04-10 16:20] Jonathan-Wei commented on #5250
It's OK not to display the type at all. For now, the buildParameter() method splits the null value into the connectionParams parameter during processing, causing the type to be displayed as null @ruanwenjun

[2021-04-10 16:24] ruanwenjun commented on #5250
@Jonathan-Wei We can remove line 491.

[2021-04-10 16:44] Jonathan-Wei commented on #5250
Yes. Let me change this. I submitted it for the first time; Ha ha。 @ruanwenjun

[2021-04-11 04:49] gaoyu2016 commented on #5237
[code]

[2021-04-11 05:27] zhuangchong commented on #5250
Merged.

[2021-04-11 05:27] #5250 closed, assigned to nobody

[2021-04-11 06:14] zhuangchong commented on #5083
@ruanwenjun @CalvinKirs

Very good idea, I have a little idea, create a data source, the page provides a customizable data source, users do not need to change the code, similar to the idea data source plug-in.

[2021-04-11 06:44] #5170 closed, assigned to nobody

[2021-04-11 09:10] gaoyu2016 commented on #5237
不知道是什么原因？看源码也不好定位。

[2021-04-11 09:27] ruanwenjun commented on #5237
@gaoyu2016 Is your hadoop turned on kerberos? You can try to set `hadoop.security.authentication.startup.state=true`

[2021-04-11 09:53] gaoyu2016 commented on #5237
集群目前没有打开kerberos。

[2021-04-11 11:34] longgegeZHL opened #5254 "dolphinscheduler-1.3.5向CDH6.3.0提交flink on yarn程序，出现Retrying connect to server: 0.0.0.0/0.0.0.0:8032问题"
我把core-site.xml、hdfs-site.xml、yarn-site.xml都放在了conf下面，添加了yarn.resourcemanager.address也没有解决问题，往hdfs上上传文件没有问题，也不是权限的问题，纠结了好久。

flink 参数：

BASEDIR=$(cd `dirname $0`; pwd)
cd $BASEDIR
source /data/software/servers/ds/conf/env/dolphinscheduler_env.sh
flink run -m yarn-cluster -ys 1 -yn 3 -yjm 1G -ytm 4G -yqu default -d -ynm test -c mainClass xxx.jar

[2021-04-11 13:01] #5254 closed, assigned to nobody

[2021-04-11 13:31] ruanwenjun opened #5255 "[Improvement][Common] Use JMX to expose configuration and metrics"
**Describe the question**
In the future the configuration might be coverage as mentioned in #5164, sometimes we need to know the actual configuration at runtime, we can use [JMX](https://docs.oracle.com/javase/tutorial/jmx/overview/index.html.) to expose configuration.
And we also expose some stander metrics like running task number, system load... by JMX, this makes it easy to intergrate with mon

[2021-04-11 14:35] liuziyingbeidou commented on #4124
I want improve test coverage of ProcessService#createCommand

[2021-04-11 14:49] CalvinKirs commented on #4124
looking forward submit your PR

[2021-04-12 01:25] wynn45de commented on #5230
Thank you for your feedback, any progress ?

[2021-04-12 01:52] glxfeng commented on #5242
So is this a bug? Work groups should not influence each other.
所以这算是bug吗？工作组之间不应该互相影响吧。

[2021-04-12 03:23] zhuangchong commented on #5237
@gaoyu2016

The current exception information is related to HDFS, please confirm whether the HDFS related parameter values in common.properties are correct.

[2021-04-12 05:58] ruanwenjun commented on #5230
@wynn45de I can't reproduce this problem on 1.3.4-release, it is better to provide more information, such as what operation was performed, in which module the exception was reported, thanks.

[2021-04-12 06:25] wynn45de commented on #5230
deploy mode : docker
the exception was found in master logs, when a process was triggered, one task of the process was stuck at status "Submit Success" and keep this status all the time

[2021-04-12 07:37] ruanwenjun commented on #5230
@wynn45de What type of the task? :grimacing:

[2021-04-12 07:58] wynn45de commented on #5230
it's not a base task in DS, we do some rebuild and enhancement ,the task is defined by ourself. I don't think the type of task is a key issue

[2021-04-12 09:05] xingchun-chen commented on #5232
English is official and necessary. As it has not been revised for a long time, it will be closed temporarily. If you have any questions, please change the title to English and submit again

[2021-04-12 09:05] #5232 closed, assigned to nobody

[2021-04-12 09:08] #3794 closed

[2021-04-12 09:34] gaoyu2016 commented on #5237
参数正确。

[2021-04-12 10:18] ninyjun commented on #2087
我的也是没有办法选择 主程序包  ，后来怎么解决的？

[2021-04-12 11:27] li-hardy opened #5259 "[Feature][api] schedule add timezone support"
I want to use different timezone in different schedule.
I know quartz have the feature.

code location:
`org.apache.dolphinscheduler.server.quartz.QuartzExecutors#addJob`
timeline:178-180

CronTrigger cronTrigger = newTrigger().withIdentity(triggerKey).startAt(startDate).endAt(endDate)
              .withSchedule(cronSchedule(cronExpression).**inTimeZone()**.withMisfireHandlingInstructionDoNothing

[2021-04-12 11:33] ruanwenjun commented on #5083
@zhuangchong Cool, in fact when a user creates a new datasource, he only needs to provide the `Driver` and tell us how to get the `connection`. But we now have some task coupling with datasource it is difficult to achieve this goal. I think we can try to make some plugin specification on the future.

[2021-04-12 11:40] CalvinKirs commented on #5026
close by #5256

[2021-04-12 11:40] #5026 closed, assigned to nobody

[2021-04-12 12:33] wangxj3 opened #5261 "[Bug][server-api] copy the node ,the preTasks is error"
When we copy a node form process definition,the value preTasks is the source node .when we link the noe previous node ,this value would't change .when start a process instance from fail node ,this error may cause that some copy node which agter the failed node  will not execute.

[2021-04-12 13:31] davidzollo opened #5262 "[Meetup] Apache DolphinScheduler & Apache ShardingSphere Global Online co-Meetup on Saturday, May 15, 2021"
![默认文件1617963344672](https://user-images.githubusercontent.com/15833811/114401051-2372d680-9bd5-11eb-8c00-d3f05f2f12d1.png)

### TIME: Saturday, May 15, 2021 2:00 PM to 5:00 PM PDT

### Details
This is a co-meetup for users of DolphinScheduler and ShardingSphere communities,

Apache DolphinScheduler is a distributed and extensible workflow scheduler platform with powerful DAG visual interfaces, de

[2021-04-12 15:48] ruanwenjun commented on #5261
Yeah, there is a problem, and I will try to fix.

[2021-04-13 01:19] zhuangchong commented on #5259
welcome to submit a PR to realize this function.

[2021-04-13 07:10] dashenstone commented on #249
+1

[2021-04-13 07:22] wangxj3 opened #5266 "[Bug][master-server] If start a process instance form fail node or stop node ,the param will be init."
If start a process instance form fail node or stop node ,the param will be init.
如果从失败节点开始执行，或从暂定节点开始执行，已经执行过的节点处理过的参数会被初始化。

[2021-04-13 08:17] cutiechi commented on #5259
@li-hardy Do you mean you want to configure time zones for each schedule?

[2021-04-13 08:22] wen-hemin opened #5268 "[Improvement][server] optimize task consume priority rule"
**Describe the question**

Currently, view the code implementation of task consumption priority,

Current priority rule:
    processInstancePriority -> processInstanceId -> taskInstancePriority -> taskInstanceId

If the workflow instances have the same priority, the system will execute according to the process instance ID sequence,
It should be executed according to the priority of the task instan

[2021-04-13 09:27] ruanwenjun commented on #5259
Maybe the timezone config should be task-level.

[2021-04-13 10:53] wen-hemin commented on #5241
Yes, there is a problem with the current code.
I look at git change history, it's because of the problem introduced when replacing fastjason with Jackson.

Just remove the ".ToString()" in the process of building JSON
Interested in contributing a PR ?
@ruanwenjun @shuimuziyang

[2021-04-13 10:56] wen-hemin commented on #5262
+1

[2021-04-13 11:07] ruanwenjun commented on #5241
#5243 will solve this issue.

[2021-04-13 13:09] mrproliu opened #5269 "[Question] Useless property in the `Command` and `ErrorCommand` table"
**Useless property in the `Command` and `ErrorCommand` table**
I'm working on adopting the table field to our company database specification: all the fields could not be `null`.
So I found the `Command` and `ErrorCommand` table has `dependence` in the database, but I cannot found [the bean property in java bean](https://github.com/apache/incubator-dolphinscheduler/blob/5d264c9f208a089bc1f23be5f307

[2021-04-13 13:34] li-hardy commented on #5259
@cutiechi yes, I want it

[2021-04-13 16:27] cutiechi commented on #5198
@chengshiwen What is your Java version? When I use the latest image (container support is enabled by default), these results are correct.

![image](https://user-images.githubusercontent.com/27606234/114587318-209ce200-9cb8-11eb-9669-be737853c60e.png)

[2021-04-14 01:25] geosmart commented on #3608
Related PR: #4593

[2021-04-14 01:43] geosmart opened #5271 "[Feature][DAG] dag node can't debug online"
Now dag node can't debug online.
I have to check the yarn log/email/yarn log,or debug the code in ide to make sure the code is right, and it is Very inefficient.

**Describe the feature**
the dag node content(sql,pyspark,shell,python) can interactive execute to test if the code is right.

I wish
* a sql(query) can return a sample result.
* a sql(update) can run change count.
* a shell/python code

[2021-04-14 01:59] BoYiZhang commented on #5269
It cannot be removed .

t_ds_Command is the core table. It is used to trigger tasks

t_ds_error_command is used to record wrong command information
It can be used in the monitoring page of Web UI

[2021-04-14 02:27] mrproliu commented on #5269
Hi, Thanks for the reply.

I mean should remove the `dependence ` field, not remove the table. On my tests,  It running well after remove the `dependence` field.

[2021-04-14 02:32] ruanwenjun commented on #5230
It seems that the task has been submitted to DB success and dispatch to worker failed.
Did you modify the protocol ? Each message sent should start with `MAGIC`, you can check in the `NettyEncoder` and `NettyDecoder`. BTY, Did all tasks fail?

[2021-04-14 03:31] #5180 closed, assigned to nobody

[2021-04-14 03:31] #5241 closed, assigned to nobody

[2021-04-14 03:55] BoYiZhang commented on #5237
There is a problem with the HDFS connection

Check configuration file:

core-site.xml and hdfs-site.xml

[2021-04-14 04:08] gaoyu2016 commented on #5237
目前官方也解决不了，看来是一个严重的bug。

[2021-04-14 04:09] hutao1990 opened #5272 "[Feature][master-server] After the task has been executed in the workflow and retried, it cannot be manually pulled up"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
When a task fails to execute in the process of workflow execution, it can be manually pulled up on the workflow instance page instead of waiting until the workflow is

[2021-04-14 05:19] chengshiwen commented on #5198
[code]

And `these results are correct` you mentioned are **not all correct**.

`UseContainerSupport` is not friendly to memory in Docker/K8s and `Runtime.getRuntime().availableProcessors` in K8s. You will see `Runtime.getRuntime().availableProcessors=1` if `requests.limts.cpu` is not configuredin K8s

[2021-04-14 05:26] BoYiZhang commented on #5237
It's not a bug

1.3.4 has been released for 2 months, and we haven't received any questions like you

You can use remote debug mode to verify what the problem is

[2021-04-14 06:17] xingchun-chen commented on #5272
Good idea， look forward to your contribution

[2021-04-14 06:49] wangxj3 opened #5273 "[Feature][master-server] condition by param"
Determine the nodes that need to be run based on the value of the parameter.

[2021-04-14 07:38] VSMDD opened #5274 "The workflow instance cannot be operated after being suspended. The task is still running"
Unable to operate after the task has been paused，The task is still running
![image](https://user-images.githubusercontent.com/31095506/114671448-b414f800-9d36-11eb-9e0e-63b3bd13d59d.png)
![image](https://user-images.githubusercontent.com/31095506/114671521-c55e0480-9d36-11eb-909d-3a82d4db6a13.png)
![image](https://user-images.githubusercontent.com/31095506/114671577-d3138a00-9d36-11eb-8d4a-0bca824

[2021-04-14 07:44] gaoyu2016 commented on #5237
hfds-site:
<configuration>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>/home/maintain/hadoop/hdfs-data/namenode</value>
        <description>Path on the local filesystem where the NameNode stores the namespace and transaction logs persistently.</description>
    </property>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>
            /disk1/had

[2021-04-14 07:45] gaoyu2016 commented on #5237
core-site:
<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://hadooptest</value>
        <description>NameNode URI</description>
    </property>
    <property>
        <name>hadoop.tmp.dir</name>
        <value>/home/maintain/hadoop/tmp/hadoop/hadoop-${user.name}</value>
        <description>A base for other temporary directorise</description>
    </property>

[2021-04-14 07:45] gaoyu2016 commented on #5237
配置文件没有任何问题。

[2021-04-14 07:45] xingchun-chen commented on #5274
After pausing, you need to wait for the current task to execute successfully before pausing the workflow. Since you have written while (1), the task will be executed all the time. It is recommended that you directly update the database table t_ds_ process_ instance.state=6 ,t_ds_task_instance.state=6

[2021-04-14 08:04] VSMDD commented on #5274
thank you

[2021-04-14 09:34] gaoyu2016 commented on #5237
how to use remote debug mode？

[2021-04-14 10:36] gaoyu2016 commented on #5237
[ERROR] 2021-04-14 18:02:07.078 org.apache.dolphinscheduler.common.utils.HadoopUtils:[102] - null
java.lang.NullPointerException: null
	at org.apache.dolphinscheduler.common.utils.HadoopUtils.initHdfsPath(HadoopUtils.java:98)

[2021-04-14 10:52] gaoyu2016 commented on #5237
[ERROR] 2021-04-14 18:52:09.020 org.apache.dolphinscheduler.common.utils.HadoopUtils:[172] - java.net.UnknownHostException: hadooptest
java.lang.IllegalArgumentException: java.net.UnknownHostException: hadooptest
	at org.apache.hadoop.security.SecurityUtil.buildTokenService(SecurityUtil.java:378)
	at org.apache.hadoop.hdfs.NameNodeProxies.createNonHAProxy(NameNodeProxies.java:310)
	at org.apache.h

[2021-04-14 10:54] gaoyu2016 commented on #5237
[ERROR] 2021-04-14 18:52:09.020 org.apache.dolphinscheduler.common.utils.HadoopUtils:[172] - java.net.UnknownHostException: hadooptest
java.lang.IllegalArgumentException: java.net.UnknownHostException: hadooptest
	at org.apache.hadoop.security.SecurityUtil.buildTokenService(SecurityUtil.java:378)
	at org.apache.hadoop.hdfs.NameNodeProxies.createNonHAProxy(NameNodeProxies.java:310)
	at org.apache.h

[2021-04-14 11:05] #5237 closed, assigned to nobody

[2021-04-14 11:21] chengshiwen opened #5275 "[Improvement][Server] Move `zk/ZKMasterClient` and `registry/ServerNodeManager` into master"
**Describe the question**

Move `zk/ZKMasterClient` and `registry/ServerNodeManager` into master

**What are the current deficiencies and the benefits of improvement**

- `zk/ZKMasterClient` and `registry/ServerNodeManager` should be placed in master directory, and the code will be clearer and easier to understand
- `org.apache.dolphinscheduler.server.zk.ZKMasterClient` and `org.apache.dolphinsche

[2021-04-14 11:37] baisui1981 commented on #4288
awesome !

[2021-04-14 11:56] baisui1981 opened #5277 "[Question] where is the DAG workflow implemention"
**Describe the question**
I'am a freshman here , and be curious about the DS DAG workflow implemention. Althought I have read the reference doc [https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/architecture-design.html](https://dolphinscheduler.apache.org/zh-cn/docs/latest/user_doc/architecture-design.html), have confuse to the DAG execute sequence . thank 's a lot.

**Which version

[2021-04-14 12:44] baisui1981 commented on #5277
tks i have find the [entrypoint](https://github.com/apache/incubator-dolphinscheduler/blob/87ed189ef5a7c23f31bbbbc34ea32e527f25c97c/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/master/runner/MasterExecThread.java)

[2021-04-14 12:47] #5277 closed, assigned to nobody

[2021-04-14 13:39] #5175 closed, assigned to nobody

[2021-04-14 13:39] #5176 closed, assigned to nobody

[2021-04-14 16:38] haydenzhourepo commented on #5098
hello, it's too busy recently, I'll fix this as soon as possible.

[2021-04-15 02:41] share23 opened #5279 "[Question] How to use date parameter in Hive SQL in SQL module"
**Describe the question**
I suppose to use Hive SQL to insert data into table partition by date parameter with SQL module,just like how it works on the Shell module,but it do not work ,

**Which version of DolphinScheduler:**
1.3.5

**Additional context**

the global parameter is :  current_date  ${system.biz.curdate}

my hive sql just like this
`insert overwrite table1 partition(date={current_dat

[2021-04-15 03:02] wen-hemin commented on #5269
Yes, The field "dependence" is not used, can remove it.
Welcome create a PR.

[2021-04-15 03:04] chengshiwen commented on #5231
Close since no updates for long time

[2021-04-15 03:04] #5231 closed, assigned to nobody

[2021-04-15 05:37] praynise opened #5281 "how can i skip a failed task and continue to execute the follow tasks?请问是否有办法在流程某一步报错后跳过该步继续执行后面的步骤呢"
how can i skip a failed task and continue to execute the follow tasks？thanks a lot
请问是否有办法在流程图中某一个任务报错后，手动跳过该任务（或强制该任务为成功），继续执行该任务后面的任务呢？非常感谢
**Which version of DolphinScheduler:**
 -[1.3.5]

[2021-04-15 06:56] Lucaszlei commented on #5011
Has this problem been solved?

[2021-04-15 07:01] chengshiwen commented on #5011
Yes

[2021-04-15 07:24] Lucaszlei commented on #5011
Please remove this item from [4124](https://github.com/apache/incubator-dolphinscheduler/issues/4124)

[2021-04-15 08:13] Lucaszlei commented on #2202
In my opinion that queue_name should not be stored in the T_DS_USER table. queue_id should be stored instead

[2021-04-15 08:44] mrproliu opened #5282 "[Question] The condition node is not working."
**The condition node is not working.**
I have created a condition task but always run the success task. I'm not sure it's a bug or setting problem, please give some help.
![image](https://user-images.githubusercontent.com/3417650/114839236-1e499d80-9e08-11eb-9b0d-3a0461ab3e78.png)
There is a workflow instance, after condition node, it should running `前置处理认定不可以继续执行后的后置处理` node.

Here is the conditi

[2021-04-15 08:52] xingchun-chen commented on #5282
You need to set custom parameters. The Condition node determines which branch to take according to the success or failure status of the front node

![image](https://user-images.githubusercontent.com/55787491/114842006-04f62080-9e0b-11eb-84b3-d7898fc27a1e.png)

[2021-04-15 08:57] mrproliu commented on #5282
Hi, Thanks for your quick response. It's working.

[2021-04-15 08:57] #5282 closed, assigned to nobody

[2021-04-15 09:02] Lucaszlei commented on #4380
Assign it to me so I can familiarize myself with the PR process

[2021-04-15 11:30] wengieeee opened #5283 "can not find log info in package org.apache.dolphinscheduler.server.worker.processor"
Can not find log info in package org.apache.dolphinscheduler.server.worker.processor .

This problem occurs in my macbook and online worker

but log of other package like org.apache.dolphinscheduler.server.worker.runner will be printed to the dolphinscheduler-worker.log.

我的本机和我们线上的worker，org.apache.dolphinscheduler.server.worker.processor 目录下的日志基本都不打印的。这个日志应该是输出到dolphinscheduler-worker.log 这个日志文件

[2021-04-15 12:15] #5269 closed, assigned to nobody

[2021-04-15 16:17] #5275 closed, assigned to nobody

[2021-04-15 23:51] chengshiwen commented on #5281
@praynise Since **Force Task Success** has introduced in dev branch in #4267. So in the near future, we will see this feature in the official release version.

[2021-04-16 02:20] huangwei2013 opened #5288 "[Improvement][ApiServer] Better Entity Restains when Creating"
**Describe the question**

数据上下文约束不足
    - 创建租户：需关联queue，但未对输入的queueId做校验
    - 更新租户：上层无体现，最底层却隐含了对queue所在表的关联查询
        - 触发场景：创建租户-随意选择queue(成功)-->更新租户(失败，提示租户不存在)

As title，
    - When creating a Tenant by API，queue/queueId can be anything input，no check here.
    - While try to update this Tenant,  TenantMapper.xml use  _where t.queue_id = q.id_  , different data restains resulted in _[no tena

[2021-04-16 02:23] xingchun-chen opened #5289 "[Bug][ui] user type display Chinese in English version"
![image](https://user-images.githubusercontent.com/55787491/114962684-bba2e100-9e9d-11eb-8245-d6b946c66bf5.png)

**Which version of Dolphin Scheduler:**
 -[1.13.x]

[2021-04-16 02:23] #5289 closed, assigned to nobody

[2021-04-16 02:54] QiAnXinCodeSafe opened #5290 "There is a vulnerability in hadoop 2.7.3 ,upgrade recommended"
https://github.com/apache/dolphinscheduler/blob/e39409a41227def939dc40215c115bdfe40fdc8d/pom.xml#L67

CVE-2017-15718  CVE-2018-8009  CVE-2020-9492  CVE-2016-6811  CVE-2018-8029

Recommended upgrade version：2.10.1

[2021-04-16 02:59] zhuangchong commented on #5288
@huangwei2013

Welcome to submit a PR to implement this feature.

[2021-04-16 03:03] QiAnXinCodeSafe opened #5291 "There is a vulnerability in hive 2.1.0 ,upgrade recommended"
https://github.com/apache/dolphinscheduler/blob/ac15f45b0b51b115ebd02aa3dd739d53c99523b5/pom.xml#L93

CVE-2018-1282 CVE-2018-11777 CVE-2018-1314 CVE-2020-1926

Recommended upgrade version：2.3.8

[2021-04-16 03:07] zhuangchong commented on #5283
@Yanwenjingcn

Which version? In version 1.3.5, a repair was made to the missing part of the worker log.

[2021-04-16 03:13] QiAnXinCodeSafe opened #5292 "There is a vulnerability in postgresql 42.1.4 ,upgrade recommended"
https://github.com/apache/dolphinscheduler/blob/ac15f45b0b51b115ebd02aa3dd739d53c99523b5/pom.xml#L92

CVE-2020-13692  CVE-2018-10936

Recommended upgrade version：42.2.13

[2021-04-16 03:30] QiAnXinCodeSafe opened #5293 "There is a vulnerability in cron.utils 5.0.5 ,upgrade recommended"
https://github.com/apache/dolphinscheduler/blob/ac15f45b0b51b115ebd02aa3dd739d53c99523b5/pom.xml#L72

CVE-2020-26238

Recommended upgrade version：9.1.3

[2021-04-16 04:57] CalvinKirs opened #5295 "[WebSite]Information correction after graduation"
Since DolphinScheduler has graduated, the warehouse address and other incubation-related information on the official website need to be corrected. Anyone interested in this can choose to complete it.

webiste git address:https://github.com/apache/dolphinscheduler-website

[2021-04-16 05:05] CalvinKirs commented on #5295
- [x] https://dolphinscheduler.apache.org/zh-cn/community/team.html
- [x] https://dolphinscheduler.apache.org/en-us/community/team.html
The mentors was moved to the PMC list, and PPMC was changed to PMC

- [x] https://dolphinscheduler.apache.org/
The bottom disclaimer needs to be deleted

- [x] https://dolphinscheduler.apache.org/en-us/community/release.html
- [x] https://dolphinscheduler.apache.o

[2021-04-16 05:25] QuakeWang commented on #5295
I am glad to try it :)

[2021-04-16 05:26] CalvinKirs commented on #5295
Looking foward you submit PR

[2021-04-16 07:01] KW-night opened #5299 "[Question] PostgreSql reported an error when creating a timed task：value too long for type character varying(95)"
My dolphinscheduler 1.3.5 is deployed via K8S. When I create a timed task, the schedule is not executed.
And the following error was found in the PostgreSql log：

It looks like field ENTRY_ID in table QRTZ_FIRED_TRIGGERS is not long enough. Why did this happen? Could you give me some help?

[2021-04-16 07:42] wangxj3 opened #5301 "[Bug][api-server] delete the user ,the project list of admin will lost the projects of this user"
User create a project .delete this user ,the project list of admin will lost this project of this delete user

[2021-04-16 07:52] fanwq commented on #5301
i will fix it

[2021-04-16 09:11] didiaode18 opened #5304 "[Improvement][dao]When I search for the keyword Modify User, the web UI shows empty"
**Describe the question**
The search function in the project module is currently only fuzzy matching by workflow name

**What are the current deficiencies and the benefits of improvement**
- Keyword query is too single, we can fuzzy query by each column name, similar to yarn web UI interface

**Which version of DolphinScheduler:**
-[1.3.x]
-[dev]
**Describe alternatives you've considered**
We modi

[2021-04-16 09:12] didiaode18 commented on #5304
![Uploading 1618564227(1).png…]()
We can refer to

[2021-04-16 09:22] didiaode18 commented on #5304
We can refer to
<img width="683" alt="1618564227(1)" src="https://user-images.githubusercontent.com/22792154/115003397-53bdbc00-9ed8-11eb-82ae-d4b7eb9a912c.png">

[2021-04-16 09:44] praynise commented on #5281
great news,thanks a lot.I am looking forward it
太棒了，非常感谢，我很期待该功能的上线

[2021-04-16 09:44] #5281 closed, assigned to nobody

[2021-04-16 09:48] KW-night commented on #5299
This problem was solved by changing the field type.

But the field ENTRY_ID is generated by Dolphinscheduler, Why does it exceed the length of the database definition？That's still a problem.

[2021-04-16 09:48] #5299 closed, assigned to nobody

[2021-04-16 09:54] didiaode18 commented on #5292
i will fix it

[2021-04-16 10:28] KW-night opened #5306 "[Feature][kubernetes] yarn resourcemanager address should be flexible in configuration"
In version 1.3.5 of the kubernetes image，The configuration item (_yarn.resourcemanager.ha.rm.ids_ & _yarn.application.status.address_) in _common.properties.tpl_ is a fixed constant.

If the task type is YARN task，Work node will retrieve the execution result of the task based on the above two configurations.
That means I need to manually change it to a valid value in the container, or rebuild the

[2021-04-16 11:00] chengshiwen commented on #5306
@KW-night The configurations has added into `1.3.6-release` which will be released in a few days. Refer to https://github.com/apache/dolphinscheduler/blob/1.3.6-release/docker/kubernetes/dolphinscheduler/values.yaml

![image](https://user-images.githubusercontent.com/4902714/115015476-49a2ba00-9ee6-11eb-9d75-4bb9a7fc0f5f.png)

[2021-04-16 11:58] #5306 closed, assigned to nobody

[2021-04-16 14:33] davidzollo commented on #5295
I have assigned to you, thx

[2021-04-16 14:41] #5235 closed, assigned to nobody

[2021-04-16 14:49] CalvinKirs commented on #5235
At present, what he is doing can be done by Nginx and the like, but this is just the beginning. As the API design is complete later, I believe there will be more users using the API, and they will have more business features. For flow requirements, the gateway level cannot afford too many complex business current limits. Therefore, often the business side will also have its own current limiting co

[2021-04-16 15:14] CalvinKirs commented on #5266
close by #5267

[2021-04-16 15:14] #5266 closed, assigned to nobody

[2021-04-16 15:26] #5301 closed, assigned to nobody

[2021-04-16 15:51] chengshiwen opened #5309 "[Bug][Common] memoryUsage is `-33%`"
**To Reproduce**

`memoryUsage` is `-33%`

**Expected behavior**
Bug fixed

**Screenshots**
![image](https://user-images.githubusercontent.com/4902714/115050583-779bf480-9f0e-11eb-8eed-4abcc8df3fc4.png)

**Which version of Dolphin Scheduler:**
 -[1.3.x]
 -[dev]

[2021-04-16 16:01] chengshiwen opened #5310 "[Improvement][Server] The log "load is too high or availablePhysicalMemorySize(G) is too low" is not clear"
**Describe the question**

The log `load is too high or availablePhysicalMemorySize(G) is too low` is not clear

**What are the current deficiencies and the benefits of improvement**

- The updated log `current cpu load average {} is too high or available memory {}G is too low, under max.cpuload.avg={} and reserved.memory={}G` will be more clear

**Which version of DolphinScheduler:**
 -[1.3.x]
 -

[2021-04-17 03:24] huangwei2013 commented on #5288
提交这个submit很简单，但需要确定一个代码风格：
- 这种隐含的联表操作，是保持在 xml 的 mapper中（对上层隐藏）  or  方法定义的时候表现出这是个联表操作？

This submit is easy，but a consensus  of coding style is required.
- Keeping the implicatio _where t.queue_id = q.id_ in a deafness method， OR ， make it more clarify by better name？

[2021-04-17 09:25] QuakeWang commented on #5295
Hi, I have the following points of doubt when making changes:

-  Is this [page](https://dolphinscheduler.apache.org) a file in md format or index.html?
-  I found that some places in the file use Github while others use github, should it be unified?
- In the [release page](https://dolphinscheduler.apache.org/en-us/community/release.html), should I remove all information about the mentors and incu

[2021-04-17 13:25] zhuangchong commented on #5288
Using the second method, the representation of the association within the method.

[2021-04-18 02:59] ruanwenjun commented on #4257
I suggest giving a more explicit type of data in `Result`. It is difficult to guess the return structure according to the code in the controller package. This affects secondary development. This has been mentioned in #5015.

[2021-04-18 11:44] wangxj3 commented on #5273
i will submit this pr in few days

[2021-04-19 02:10] cyx-code opened #5316 "[Bug][worker] when shell task raw script has $[${day} - 1]，throw java.lang.IllegalArgumentException::Pattern includes reserved character:'{'"
for example, shell task content is
#!/bin/bash
set -x
Yesterday=$(date -d "1 day ago" +"%Y-%m-%d")
Today=$(date +"%Y-%m-%d")
whichday=`date -d $Today +"%w"`
monday=`date -d "$today -$[${whichday}-1] days" +"%Y-%m-%d 00:00:00"`
when execute task ,log is
![image](https://user-images.githubusercontent.com/39180064/115172245-70840a80-a0f7-11eb-9b0b-f5f3247b8946.png)

[2021-04-19 02:14] cyx-code commented on #5316
I think the regular expression need modify.And the pull request is https://github.com/apache/dolphinscheduler/pull/5313

[2021-04-19 02:19] ruanwenjun commented on #5304
I think add the dependency of Elasticsearch is not a good idea, this will increase the cost of deploy and Ops. You can increase the condition column combination query. What do you think?

[2021-04-19 02:24] #5309 closed, assigned to nobody

[2021-04-19 02:29] #5310 closed, assigned to nobody

[2021-04-19 02:31] ruanwenjun commented on #5292
@didiaode18 It seems that this pr cannot be found in the[ pull request list](https://github.com/apache/dolphinscheduler/pulls?q=). And you may also need to update the license dependency file on tools.

[2021-04-19 02:58] wen-hemin opened #5317 "[Discuss][JsonSplit] The problem of digital overflow in JS by the design of "code field""
**Describe the question**
In the design of workflow JSON split, the workflow and task definition table introduce the code and version as the unique identification. The data type of the current code field is 20 integer numbers, and the code algorithm is snowflake algorithm. In the actual development, the number type in JS supports up to 16 bits, and the coding will lose precision in the process of

[2021-04-19 03:01] #4898 closed, assigned to nobody

[2021-04-19 03:15] didiaode18 commented on #5292
Thanks for your code review

[2021-04-19 03:20] chengshiwen commented on #5317
I prefer consistency and disambiguation, and the frontend, backend and openapi are unified. Either all of them are unified `string`, or all are unified `long` type, if there is no difference in performance

[2021-04-19 03:20] didiaode18 commented on #5304
Yes ,I agree.I will try to add this feature

[2021-04-19 03:25] davidzollo commented on #5317
I prefer unified long + primary key unique index

[2021-04-19 04:09] ruanwenjun commented on #5317
I prefer storing the `long` type in the database and using `DTO` to convert to string type required by the front end. This will increase additional costs, but can separate from the storage system.

[2021-04-19 06:34] lenboo commented on #5317
+1
The data of presentation layer and service layer can be inconsistent

[2021-04-19 06:37] wen-hemin commented on #5317
Thank everyone
It is now decided to use option 2.

[2021-04-19 06:37] #5317 closed, assigned to nobody

[2021-04-19 08:32] haydenzhourepo commented on #5317
I prefer storing string type directly so that we can use a uid by combined with a meaningful prefix, which increase the maintainability of the code,  and make it easy to quickly find out the problem by the meaningful prefix.

[2021-04-19 08:37] praynise opened #5320 "How can I force the assignment of tasks to be assigned to workers in turn?"
How can I force the assignment of tasks to be assigned to workers in turn?
嗯…英文是用谷歌翻译的，请问如何使任务分配方式强制为worker轮流分配。在我的使用场景，我不太希望master在分配任务的时候考虑当前资源，因为我的设备运行情况比较复杂，有很多混合部署，非常感谢！
**Which version of DolphinScheduler:**
 -[1.3.5]

[2021-04-19 09:48] #5147 closed, assigned to nobody

[2021-04-19 09:51] zhuangchong commented on #5316
done.

[2021-04-19 09:51] #5316 closed, assigned to nobody

[2021-04-19 10:10] chengshiwen commented on #5320
@praynise In 1.3.x, `RoundRobin` can meet your need, so just configure the following line in `master.properties`:
[code]

[2021-04-19 10:13] ysrotciv opened #5322 "[Bug][worker] Insert into clickhouse table successfully but process status turn to failed and log exception"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append the description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
DATASORUCE: clickhouse
My process only has one SQL like:
`INSERT INTO test
SELECT dt, count(1) as c
  FROM dau
 GROUP BY dt
 ORDER BY dt`
The process failed but the data has been su

[2021-04-19 12:00] ruanwenjun opened #5323 "[Bug][Server] Error creating bean with name 'ZKMasterClient'"
**Describe the bug**
Cann't start Worker and Master
[code]

[code]

**Which version of Dolphin Scheduler:**
- [1.3.6]
- [dev]

[2021-04-19 12:46] ruanwenjun commented on #5323
Due to historical class files, execute `mvn clean` can solve this problem.

[2021-04-19 12:46] #5323 closed, assigned to nobody

[2021-04-19 13:23] ruanwenjun commented on #5322
@ysrotciv Hi, this is not actually a Bug, `INSERT INTO SELECT` is not a select query, so you need to change the sql type to `NO QUERY` in the task config page. But ds really need to add some param check in the future.

[2021-04-20 01:46] ysrotciv commented on #5322
Thanks for the reply, sorry for this stupid issue.

[2021-04-20 01:46] #5322 closed, assigned to nobody

[2021-04-20 03:12] wangxj3 opened #5326 "[Bug][api-server] delete the user ,when query the project by join the table of t_ds_user will return null."
delete the user ,when query the project by join the table of t_ds_user will return null.
Suggested that  [
from t_ds_project p
        join t_ds_user u on p.user_id = u.id
]changed  to  [
from t_ds_project p
       left  join t_ds_user u on p.user_id = u.id
]

[2021-04-20 03:35] fanwq commented on #5326
i have fixed this bug in pr #5327, please review that.

[2021-04-20 03:51] ruanwenjun commented on #5326
I think the best solution is to prevent deleting the user if the user owns a project until the user deletes the project he owns or change the owner. Otherwise, we will find out that a project does not have an owner, this also cause confusion.

[2021-04-20 04:01] ruanwenjun commented on #5322
@ysrotciv This is a good issue, and I have submitted a pr #5324, maybe you can help me review the code.

[2021-04-20 06:07] wanghong1314 opened #5328 "[Bug][MasterServer] process contain depend task is always running"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Will the process scheduling up regularly, and must be "failed poli

[2021-04-20 06:21] lyyprean opened #5329 "[Feature][MASTER-SERVER] Periodic task characteristics"
**Describe the feature**
        A cycle task is executed once every 10 minutes, but it takes more than 10 minutes to execute. I hope it can't be executed next time. Is the community considering adding this feature

[2021-04-20 06:41] tangzhf commented on #4492
where is the folder of driver??

[2021-04-20 07:04] #5292 closed, assigned to nobody

[2021-04-20 07:17] #5261 closed, assigned to nobody

[2021-04-20 07:29] wangxj3 commented on #5326
The user_id of t_ds_project is the create user id. If we want to delete this user which create this project ,we should delete this project first,but this project may be visible and used by other users.May be functions that can be replaced by project owners is a choice.

[2021-04-20 07:57] ruanwenjun commented on #5326
Yeal, currently the `user_id` in `t_ds_project` table represents project creator, but I think it might be better to change its meaning to project owner, so that we can provide a method to update the project owner. Otherwise, once we delete the user, the project creator will be null.

[2021-04-20 07:58] ruanwenjun commented on #5326
@fanwq What do you think?

[2021-04-20 08:58] fanwq commented on #5326
a project can be owned by more than one user, so i think it's better to define user_id as project creator other than owner. Project owners are defined in `t_ds_relation_project_user`.

[2021-04-20 09:15] ruanwenjun commented on #5326
I think the project owner should be only one, others just have the permission for the project, the relation is defined in `t_ds_relation_project_user `, and they should not be defined as owner. Or do you have other ways to solve the problem of user being null if we delete the user in the `t_ds_project`.

[2021-04-20 10:18] zhuangchong commented on #4492
the OJDBC jar is placed in the Dolphin installation directory lib folder, restart the dolphin api-server and worker-server.

[2021-04-20 11:25] chengshiwen commented on #4492
`$DOLPHINSCHEDULER_HOME/lib` like `/opt/dolphinscheduler/lib`

[2021-04-21 00:58] wangxj3 commented on #5326
when delete the user  ,if he is a  the owner,  chose a new owner form the t_ds_relation_project_user .What do you think of this plan?

[2021-04-21 02:50] ruanwenjun commented on #5326
Agree, but I think you should let user choose a new owner from `t_ds_user`, because there may not relation in `t_ds_relation_project_user `. And how to interact if there are multiple project belongs to the delete user.

This kind of problem also exists for `resource` and `processdefinition`, cause by store the `user_id`. This seems to be a large-scale issue.

[2021-04-21 03:05] wqxs opened #5332 "Issues with changing Docker configuration"
I modified the docker-compose.yml file, but it failed to boot
![~MFLB FHII72H TEQAAPBY3](https://user-images.githubusercontent.com/69672009/115490723-38b0ca80-a291-11eb-8d71-270d98ea4c0e.png)
![S~4S1R3 F%(JIRIM%{YQDYA](https://user-images.githubusercontent.com/69672009/115490757-4fefb800-a291-11eb-8979-4974ebb9237e.png)
![8XF$P_U8I(H%Y R4_`LEHUS](https://user-images.githubusercontent.com/69672009/

[2021-04-21 03:06] CalvinKirs commented on #5328
hi, is there any progress?

[2021-04-21 03:46] k9flame opened #5333 "[Question] SQOOP where add Params"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
Can't find a place to add parameters while using SQOOP
Could you please tell me where to add additional parameters when the Dolphin Scheduler uses SQOOP？

**Which version of Dolphi

[2021-04-21 08:42] wengieeee commented on #5283
yes，1.3.5 ，We edit org.apache.dolphinscheduler.server.log.MasterLogFilter ，it ifx

[2021-04-21 09:08] wanghong1314 commented on #5328
Has been resolved, I to submit to the dev branch

[2021-04-21 09:52] djhexe opened #5337 "[Bug][login] Unable to sign in"
1、database:mysql-5.7.28
2、Login report the following error
[dolphinscheduler-api-server.log](https://github.com/apache/dolphinscheduler/files/6349857/dolphinscheduler-api-server.log)
[dolphinscheduler-master.log](https://github.com/apache/dolphinscheduler/files/6349858/dolphinscheduler-master.log)

[2021-04-21 10:00] haydenzhourepo opened #5339 "[Improvement][api] Remove loginUser parameter in Controller's Handler"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
no need inject loginUser in every handler.

**What are the current deficiencies and the benefits of improvement**
- reduce inject loginUser parameter everywhere

**W

[2021-04-21 10:01] wanghong1314 commented on #5328
Fix the bug
merge Link https://github.com/apache/dolphinscheduler/pull/5338/commits

[2021-04-21 10:01] haydenzhourepo commented on #5339
![Uploading image.png…]()

[2021-04-21 10:09] ruanwenjun commented on #5337
@djhexe It seems that the mysql driver is missing, you can check the scope of mysql-connector-java in pom.xml.
https://dolphinscheduler.apache.org/en-us/docs/release/faq.html

[2021-04-21 14:29] #5328 closed, assigned to wanghong1314

[2021-04-22 02:35] BoYiZhang opened #5346 "[Improvement][UI] Resource files support copy path operations"
The current resource file does not support copying paths

When using the path is very easy to output errors. Add copy button. Support copy operation

![image](https://user-images.githubusercontent.com/39816903/115647469-6ca1f380-a356-11eb-9341-30bb2d8257a0.png)

[2021-04-22 03:56] xingchun-chen opened #5349 "[Bug][master] Manually kill the task that fails to be retried. After the parallel task succeeds, the workflow status is always running"
1. The configuration of task 2 fails to be retried. When the failure is retried for the second time, manually kill the process ID of task 2

2. After task 3 is successfully executed, a task will be added to the master, resulting in the workflow status running all the time
![image](https://user-images.githubusercontent.com/55787491/115653438-bf34dd00-a361-11eb-94c2-240df791059c.png)

![image](https

[2021-04-22 04:37] chengshiwen commented on #5332
@wqxs Have the database and zookeeper been started first? Have all the `DATABASE` and `ZOOKEEPER` environment variables been modified in the `docker-compose.yaml` file?

[2021-04-22 05:41] tangzhf commented on #4492
I find it,It's works.  Thanks all.

[2021-04-22 06:15] ruanwenjun opened #5350 "[Improvement][API] Zookeeper dependence"
**Describe the question**
Currently, the `dolphinscheduler-api` module relies on `zookeeper` to do some operations about the worker group. The problem is that if the `api` cannot connect with zookeeper, then `api` will not start successfully, this caused by `ZookeeperOperator` init block.

I think the dependence of `api` to `zookeeper` should be a weak dependence, it shouldn't affect the core func

[2021-04-22 06:34] chengshiwen opened #5351 "[Bug][K8s] Quartz cron task cannot take effect"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Deploy DolphinScheduler in K8s
2. Configure Quartz cron task for a Process Definition
3. See error

**Expected behavior**
Bug fixed

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4902714/115666960-d1217a80-a377-11eb-8d64-a7c3e643e949.png)
![image](http

[2021-04-22 06:35] wangxj3 opened #5352 "[Bug][ui] input field cat't select multiple characters ,cat't copy"
[Bug][ui] input field cat't select multiple characters ,cat't copy
There are two kind of the input field of node definition , distinguish by background. One of them has a white background.When we input something in this One of them has a white background ,we can't select characters use mouse

[2021-04-22 09:08] wqxs commented on #5332
It has been resolved. The postgresql-client in the Dockerfile should be modified to mysql-client, because I am using the mysql library

[2021-04-22 09:08] wqxs commented on #5332
It has been resolved. The postgresql-client in the Dockerfile should be modified to mysql-client, because I am using the mysql library

[2021-04-22 09:46] chengshiwen commented on #5332
Please refer to **How to use MySQL as the DolphinScheduler's database instead of PostgreSQL?**
in **FAQ** in https://dolphinscheduler.apache.org/en-us/docs/1.3.5/user_doc/docker-deployment.html

[2021-04-22 09:46] chengshiwen commented on #5332
Close the issue since it has been resolved

[2021-04-22 09:46] #5332 closed, assigned to nobody

[2021-04-22 11:07] #5351 closed, assigned to nobody

[2021-04-22 11:13] ruanwenjun opened #5357 "[Improvement][DAO] CreateDolphinScheduler"
**Describe the question**
When we run `sh script/create-dolphinscheduler.sh` to init the dolphinscheduler database environment, it will execute the old script in `sql/create` and upgrade to latest. It is better to execute the new sql script.

**Which version of DolphinScheduler:**
 -[1.3.6]
 -[dev]

**Describe alternatives you've considered**
Change the sql init file to `sql/dolphinscheduler_mysql

[2021-04-22 13:05] Guanpx opened #5359 "[Question] Tenant Code set number that will AbstractShell$ExitCodeException"
**Which version of DolphinScheduler:**
 -[1.3.x]

**Additional context**
Tenant Manage > Tenant Code > new Tenant that code was 1
When that Tenant run task , Exception :

[code]

**Requirement or improvement**
- declaration Tenant CODE was not begin with number !!!!

[2021-04-22 13:45] davidzollo commented on #4609
If you want to get faster response, please join slack when you have any question.

Welcome to join DolphinSheduler Slack WorkSpace: https://s.apache.org/dolphinscheduler-slack

[2021-04-22 13:49] davidzollo commented on #5359
good job!

Could you submit a PR to solve this issue? I think it's not difficult,  Please contact me(lidongdai@apache.org) if you have any question

if you want to solve this question , please leave message, I will assign this issue to you, thx

[2021-04-22 13:51] davidzollo commented on #5357
good job

[2021-04-23 01:31] haydenzhourepo commented on #5339
![image](https://user-images.githubusercontent.com/21101605/115805000-a76b6080-a416-11eb-9239-432925d64cc4.png)

[2021-04-23 06:03] chengshiwen commented on #5359
@Guanpx Duplicated with issue #4383, and it has been solved by #5093

[2021-04-23 06:03] #5359 closed, assigned to nobody

[2021-04-23 06:29] #5349 closed, assigned to lenboo

[2021-04-23 06:40] xiashao1980 opened #5364 "[Bug][MasterServer] The Command queue was blocked due to the thread 'MasterSchedulerService' terminated"
**Describe the bug**
When I add thousands of process instances to DS by API, sometimes the newest process could not be found in the process instance list. I had researched the tables in the ds database, and I found that all new instance requests were saved in 'ds_command'. I dumped the stack of the ds master service process, but the information of the 'MasterSchedulerService' thread did not exist

[2021-04-23 07:01] praynise opened #5365 "how can i get log in real time"
A simple example is, i create a shell task,with script as below:
echo "hello"
sleep 60
echo "hello again"
when i run this task,i can not read first "hello" in the log until the whole task finish.is there a way to get log text in real time?

by the way,another question is,can i change the curve in the DAG into straight line?
many thanks
举个栗子，例如我建了一个shell节点，里面是echo "hello";sleep 60;echo "hello again

[2021-04-23 07:04] Guanpx commented on #5359
fine,  thx

[2021-04-23 09:05] lauliu opened #5366 "Toolbox SQL "select result" as a excel error attach file in mail"
**Describe the bug**
Toolbox SQL when I use "select SQL  result" s a excel attach file in mail,but email received,the attach excel file is error，which name is “=UTF-8BRFPosIPluqbmtYvor5XvvJrov5DooYxzcWzmn6Xor6I== =UTF-8B57uT5p6c55u05o6l5a+85Ye66YKu5Lu25Y+R6YCBLnhscw===”

**Which version of Dolphin Scheduler:**
 -[1.3.5-preview]

<img width="497" alt="微信图片_20210423173825" src="https://user-images.g

[2021-04-23 09:20] lauliu opened #5367 "Toolbox SQL use "select SQL result" support excel-2007(xlsx) attach file in mail"
**Feature request describe**
Toolbox SQL when I use "select SQL result" s a excel attach file in mail,but email received,the attach excel file is excel-2003, whicle is xls file format，but the now is 2021,the  excel-2003(xls to early),can dolphinscheduler in furture both to support excel-2003(xls) and above excel-2007(xlsx)? whice add a check buttle in two file format,thanks;

**Which version of Do

[2021-04-23 11:10] 18610028899 opened #5368 "view log no output"
there is nothing when click view output。 ds dockers are running on 2 machine， 1 for api， 1 for worker，master， alert

**Which version of DolphinScheduler:**
 -[1.3.5]

[2021-04-23 11:59] ruanwenjun commented on #5368
You can get more error information from `api`, maybe you need to start the `LoggerServer`.

[2021-04-23 14:03] #5357 closed, assigned to nobody

[2021-04-23 15:11] ruanwenjun commented on #5366
Does this issue appear in other task? It works well on my machine.

[2021-04-23 15:26] ruanwenjun opened #5369 "[Bug][Plugin-Alert-Email] UnsupportedDataTypeException: no object DCH for MIME type multipart/mixed;"
**Describe the bug**
When I send an email with attach file, there will be an error in `alert-server`.
[code]

After set `Thread.currentThread().setContextClassLoader(getClass().getClassLoader());` this problem can be fixed. I'm not sure if this is a common problem.
https://stackoverflow.com/questions/21856211/javax-activation-unsupporteddatatypeexception-no-object-dch-for-mime-type-multi

**To Rep

[2021-04-23 15:56] ruanwenjun opened #5370 "[Improvement][Plugin] Add Permissions check for plugin instance"
**Describe the question**
Currently, there is no permission check for the plugin instance, when I create a plugin instance, it can be used by everyone. Sometimes this is dangerous.

And the front-end displays the security information e.g. password directly is also very dangerous. It is better to encode the security information or return `*****` in the api response.

**Which version of DolphinSched

[2021-04-24 03:30] chengshiwen commented on #5368
@18610028899 How did you start the services by docker on 2 machines? And could you give us more details?

[2021-04-24 03:55] chengshiwen commented on #5320
Close this issue sine no updates for several days

[2021-04-24 03:55] #5320 closed, assigned to nobody

[2021-04-24 07:29] BoYiZhang commented on #5370
Thanks for the feedback, this is a problem.
At present, the security aspect of DS is still very weak, welcome to join us to build together.

[2021-04-24 18:07] Jonathan-Wei commented on #5337
[code]

Modify the POM file in mysql-connector-java's scope for complie and try again. @djhexe

[2021-04-25 02:48] ruanwenjun commented on #5365
I think it can get the log content in real time, have you tried refresh?

[2021-04-25 03:06] lauliu opened #5374 "[Feature][Support Processes Depand dependance] Processes A Must Run before Processes B"
**Describe the feature**
In a Proceess,these nodes DAG is very good,but why not support the DAG or dependance between two Processes ?

**Describe the solution you'd like**
1. We can design a node named `Procees`,whice s suppert quote or link to an exists proceess A,when when we running the  `Procees` node is the same as running A;
2. We also can design an new subject,such as name Job,It‘s function

[2021-04-25 05:51] #5083 closed, assigned to ruanwenjun

[2021-04-25 06:20] zhbdesign opened #5375 "Increase global variables similar to airflow, not in DAG"
Increase global variables similar to airflow, not in DAG

[2021-04-25 06:42] ruanwenjun commented on #5374
At present, the dependence between multiple processes has been supported, you can add a dependent type node to declare the relation. https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/task-structure.html
Have I answered your question?

[2021-04-25 06:50] praynise commented on #5365
@ruanwenjun  i tried,but it does not work.
i found out that when i use a script like echo "hello";sleep 60;echo "hello again",it refreshed after echo "hello again".the first "hello" will not be showed in the log while the script sleeping
我试过刷新，但是不好用。我发现只有在第二个hello again执行完之后，第一个hello才会被展示。当脚本执行sleep 60的时候，第一个echo "hello"的结果是不会被展示在log内容中的

[2021-04-25 07:20] ruanwenjun commented on #5365
@praynise Are you sure your `ds` version is 1.3.5? I can get the first "hello" during the sleep in 1.3.5.

[2021-04-25 07:21] machimedes opened #5376 "[Improvement][api] can set email list for each task"
**Describe the question**
Version1.3.5 is using.
![image](https://user-images.githubusercontent.com/49675726/115984452-b64e4080-a5d9-11eb-86e3-79cad6962865.png)
When editing a task, no place  to set the alert email list.

**What are the current deficiencies and the benefits of improvement**
Can set email alert list for each task.

**Which version of DolphinScheduler:**
 -[1.3.5]

[2021-04-25 09:17] ruanwenjun commented on #5376
At present, the alert group config is process instance level, it is a good idea to implement the task level config.

[2021-04-25 09:39] #5376 closed, assigned to nobody

[2021-04-25 09:39] machimedes commented on #5376
This modification is not necessary. May close it.

[2021-04-25 10:18] praynise commented on #5365
@ruanwenjun i am sure...my bin pkg name is apache-dolphinscheduler-incubating-1.3.5-dolphinscheduler-bin.i am using adoptjdk1.8.0_282-b08，is it possible caused by my jdk?
是的，我的包的确是1.3.5，我是从官网下载的二进制包，我目前用的jdk是adoptjdk1.8.0_282-b08，这个问题有没有可能是我使用的jdk造成的呢

[2021-04-25 11:33] gaozhenfeng1 opened #5378 "Use docker to test big data cluster"
Now,I want to use docker to quickly deploy a dolphinscheduler ,then test whether to schedule my big data platform。
Do you modify this configuration file before starting the ds service, and then log in to the previous page and run the flow task to test the connectivity with the big data component?
/script/env/dolphinscheduler_env.sh

[2021-04-25 13:21] chengshiwen opened #5381 "[Bug][API] Upload file failure with PostgreSQL"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Upload file in `Resource Manage`
2. See error

**Expected behavior**
Bug fixed

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4902714/115995032-28d81400-a60c-11eb-9f4a-4cdeac626d79.png)

**API logs:**
[code]

**Which version of Dolphin Scheduler:**
 -[

[2021-04-25 13:33] chengshiwen commented on #5378
In 1.3.5 release, you need do additional things:
- Prepare the client binary of the big data platform, such as `hadoop-2.8.3`, `spark-2.4.3-bin-hadoop2.7` or `flink-1.11.3`. And put them into the directory like `/host/path/to/bigdata`
- Add volume `- /host/path/to/bigdata:/opt/soft/bigdata` for `dolphinscheduler-worker` in `docker/docker-swarm/docker-compose.yml`
- Modify the environment variables

[2021-04-25 13:38] chengshiwen commented on #5378
In next 1.3.6 release, you can refer to the readme https://github.com/apache/dolphinscheduler/blob/3f47bd8425/docker/build/README.md#how-to-support-hadoop-spark-flink-hive-or-datax. The essential principles of these two methods are the same.

[2021-04-25 14:24] ruanwenjun opened #5382 "[Feature][Alert plugin] Support slack alert"
**Describe the feature**
Support send alert to slack.
https://asf-dolphinscheduler.slack.com/apps/A0F7XDUAZ-incoming-webhooks

[2021-04-25 15:29] #5381 closed, assigned to nobody

[2021-04-25 16:30] chengshiwen opened #5386 "[Bug][Alert] ERROR: relation "t_ds_plugin_define" does not exist"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Run `docker-compose up -d`
2. Run `docker logs -f dolphinscheduler-alert`
3. See error

**Expected behavior**
Bug fixed

**Screenshots**
Alert logs:
[code]

**Which version of Dolphin Scheduler:**
 -[dev]

**Additional context**
Add any other context about the problem here.

**Requirement or improvement**
- Please describe about you

[2021-04-25 17:37] Marcono1234 opened #5388 "[Bug] `ProcessUtils` seems to contain OpenJDK code"
**Describe the bug**
It appears `org.apache.dolphinscheduler.server.utils.ProcessUtils` contains code from the OpenJDK without mentioning it, and without retaining the copyright header.
(It might also be problematic from a security standpoint since the upstream OpenJDK code has received security patches in the meanwhile.)

If you compare the [initial version of `ProcessUtils`](https://github.com/a

[2021-04-26 02:37] jiang-zilong commented on #4124
dophin在使用shell脚本调度的时候，脚本中是占位符传的参数，这要用dophin怎么传呢？ 说了很多方式都没有解决，求解

[2021-04-26 02:45] jiang-zilong opened #5389 "[Question] The custom parameter pass problem"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.

**Which version of DolphinScheduler:**
 -[1.1.0-preview]

**Additional context**
Add any other context about the problem h

[2021-04-26 05:31] #4609 closed

[2021-04-26 06:12] xiashao1980 commented on #5364
Version:
DolphinScheduler 1.3.4

Find follow log in 'dolphinscheduler-master-server-centerserver.out':
Exception in thread "Master-Exec-Thread" java.lang.OutOfMemoryError: unable to create new native thread
	at java.lang.Thread.start0(Native Method)
	at java.lang.Thread.start(Thread.java:714)
	at java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:950)
	at java.util.concurren

[2021-04-26 07:21] #5333 closed, assigned to nobody

[2021-04-26 07:49] wangxj3 commented on #5364
Suggest decrease the master.exec.threads or add master-server.

[2021-04-26 07:59] ruanwenjun opened #5391 "[Improvement][Ui] Add new button to view the definition version snapshot"
**What are the current deficiencies and the benefits of improvement**
The current version control function is very useful. But when we want to see the specific info of a certain version, we can only switch the version first, and then view the current workflow. The problem is that when we click the switch button, the workflow's updateTime will be refresh, because this is an update operation, but we

[2021-04-26 08:01] ruanwenjun commented on #5389
Please describe your operation in detail.

[2021-04-26 09:26] lauliu commented on #5374
It‘s work as your follow，thanks very much！

[2021-04-26 09:26] #5374 closed, assigned to nobody

[2021-04-26 09:36] lauliu commented on #5366
hey,in new project is well!

[2021-04-26 09:36] #5366 closed, assigned to nobody

[2021-04-27 00:24] CalvinKirs opened #5396 "[WebSite][DOC]Where can I get more help?"
Add a user guide in the community column: Where can I get more help?
The methods we recommend are StackOverflow, mailing lists, and our official Slack.

It is best to provide users with detailed questioning steps and templates.

[2021-04-27 02:20] ruanwenjun commented on #5365
@praynise Can you find the log information from the task log file while it is running? The task log file is at logs/xx/yy/zz.log

[2021-04-27 03:08] JacobZheng0927 commented on #5396
I can do this.

[2021-04-27 03:47] Wilson-BT opened #5397 "[Improvement][Alert] Replace HSSFWorkbook"
**Lift the limit on the number of rows in excel files**
When we Lifted the limit of 10,000 lines and dealt with more than 65535 rows of sql data and . HSSFWorkbook is not suitable for this situation. It is recommended to upgrade to SXSSFWorkbook or XSSFWorkbook。It is not recommended to convert ResultSet into a big json，that will waste a lot of memory space。

**Which version of DolphinScheduler:**

[2021-04-27 05:32] gaogao110 opened #5398 "[Bug][Flink] Flink Job can't stop on the web"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
Flink Job can't stop on the web

**To Reproduce**
Steps to reproduce the behavior, for example:
1. start a flink task  and  flink task is running
2. Click on 'stop'
3. But the task did

[2021-04-27 06:35] gaogao110 commented on #5398
I see this fixed in version 1.3.6

[2021-04-27 06:35] #5398 closed, assigned to nobody

[2021-04-27 14:36] yingliwuli opened #5401 "when I run a task using Standalone, Its looger server reports tenantCode: xxx does not exist."
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
A clear and concise description of what the question is.

**Which version of DolphinScheduler:**
 -[1.1.0-preview]

**Additional context**
Add any other context about the problem h

[2021-04-27 15:02] ruanwenjun commented on #5401
Does the tenant user is a linux user?
You can find more detail about tenant at this site. https://dolphinscheduler.apache.org/en-us/docs/release/faq.html

[2021-04-27 15:28] GaoTianDuo opened #5402 "Homepage design of official website"
####Design Ideas
     There are three designs.In the first design, the overall feeling is dark blue, as if exploring
 in the sea, with a sense of mystery.Compared with the first design, the second design adds
 light projection, which means hope.The third design is that the dolphin jumps out of the sea,
 which means success.
      In the three designs, dolphins step by step from the deep sea to sha

[2021-04-27 16:37] chengshiwen commented on #5295
Close this issue since website information correction has finished

[2021-04-27 16:37] #5295 closed, assigned to QuakeWang

[2021-04-28 01:30] xingchun-chen commented on #5402
I think the three concepts are all very good. They represent different stages of dolphin development.
I prefer the second one. I like the feeling of light and The color is brighter

[2021-04-28 03:44] gaozhenfeng1 commented on #5378
Ok thanks!

[2021-04-28 03:44] #5378 closed, assigned to nobody

[2021-04-28 03:50] yingliwuli commented on #5401
Thanks a lot. I didn't use system user as the tenant, but now I get it.

[2021-04-28 03:54] gaozhenfeng1 opened #5403 "Can't get Kerberos realm"
I am using a big data platform with kerberos enabled and downloaded the client to my node，I configured these files according to the official website：common.properties，install_config.conf.
But the problem is:I can use the shell on the node to call my components normally,but using dolphinscheduler can not call.
Keep reporting this error : Can't get Kerberos realm.
How should I do？

[2021-04-28 03:56] gaozhenfeng1 commented on #5403
[INFO] 2021-04-28 11:39:20.031  - [taskAppId=TASK-4-11-11]:[121] -  -> find: ‘/opt/apps/client/’: No such file or directory
	WARNING: Use "yarn jar" to launch YARN applications.
	java.lang.IllegalArgumentException: Can't get Kerberos realm
[INFO] 2021-04-28 11:39:20.074  - [taskAppId=TASK-4-11-11]:[121] -  -> 	at org.apache.hadoop.security.HadoopKerberosName.setConfiguration(HadoopKerberosName.jav

[2021-04-28 03:57] chengshiwen commented on #5118
Close this issue since it has been resolved

[2021-04-28 03:57] #5118 closed, assigned to nobody

[2021-04-28 04:42] 18610028899 commented on #5368
api-server run  on machine a, and the others run  on machine b by docker. I can't find logserver

[2021-04-28 05:42] #5403 closed, assigned to nobody

[2021-04-28 06:07] chengshiwen commented on #5401
@yingliwuli Which version? And has the problem been solved?

[2021-04-28 06:08] chengshiwen commented on #5283
Close this issue since it has been resolved

[2021-04-28 06:08] #5283 closed, assigned to nobody

[2021-04-28 06:11] chengshiwen commented on #5337
Close it since it has replied

[2021-04-28 06:11] #5337 closed, assigned to nobody

[2021-04-28 06:31] chengshiwen commented on #5368
@18610028899 `logger-server` runs in the worker container.

Due to the `bridge` network used by docker by default, containers cannot communicate directly on multiple different hosts. You should use an `overlay` network, please refer to https://docs.docker.com/network/overlay/

I will give the detailed steps about the deployment on multiple hosts in future

Currently, it is recommended to use `dock

[2021-04-28 07:11] ruanwenjun commented on #5402
Cool, I prefer the third one, this picture brings a good feeling.

[2021-04-28 17:01] davidzollo commented on #5402
Wow, I like the second style
good job!

[2021-04-28 17:12] davidzollo commented on #5401
if this issue has been solved, please close this issue, thx

[2021-04-29 01:17] CalvinKirs commented on #5396
done

[2021-04-29 01:17] #5396 closed, assigned to JacobZheng0927

[2021-04-29 04:57] Chaunceyctx opened #5404 "[Question] fail to submit flink Job"
**Which version of DolphinScheduler:**
 -[1.3.4-release]
flink:1.12.0

**Additional context**
![image](https://user-images.githubusercontent.com/29896262/116503789-7f35a300-a8e9-11eb-87ea-fcb6d1467a3f.png)
使用海豚调度器提交flink出现以上问题，之后我修改了海豚的源码重新打包server.jar，把命令改成
flink run **-m yarn-cluster -c 类名 jar包** -ys 1 -yn 2 -yjm 1G -ytm 2G -d --qu default 就能运行，
![image](https://user-images.githubusercontent.com

[2021-04-29 05:01] chengshiwen opened #5405 "Docker & K8s Improvement Plan Round 2"
## dev & 1.3.7-release

- [x] [Docker/K8s] Improve the compatibility of python home
- [x] [Docker] Optimize docker-swarm/check script
- [x] [Docker/DB] Update default username and password of database
- [x] [Docker/K8s] Specify version for all images
- [x] [Docker] Optimize PS1 and WORKDIR
- [x] [Docker/K8s] Reduce heap size in `create-dolphinscheduler.sh/upgrade-dolphinscheduler.sh`
- [x] [Bug][K

[2021-04-29 05:26] chengshiwen commented on #5404
@Chaunceyctx This problem has been resolved in 1.3.5, and the related issue is #3457, so please use 1.3.5 or the latest 1.3.6

[2021-04-29 05:38] chengshiwen opened #5406 "[Feature][Cloud Native] Cloud Native Solution for DolphinScheduler"
**Describe the feature**

Cloud Native Solution for DolphinScheduler

A task should be run directly in one container, not all in one container. Supporting cloud native deployment will have better task isolation and scalability.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe

[2021-04-29 05:39] Chaunceyctx commented on #5404
Thx!

[2021-04-29 05:44] #5404 closed, assigned to nobody

[2021-04-29 06:50] #5326 closed, assigned to nobody

[2021-04-29 07:29] Tandoy opened #5407 "[Question]The master automatically hangs up when there are too many tasks"
**Steps to reproduce the behavior:**
Use the shell node to execute the hive -f command

**Expected behavior:**
Normal ETL

**Environment Description:**
dolphinscheduler：1.3.2
Hadoop version : 2.6.0-cdh5.13.3
Hive version : 1.1.0-cdh5.13.3
Storage (HDFS/S3/GCS..) : HDFS
Running on Docker? (yes/no) :no

**Configuration:**
master.properties
       master.reserved.memory=0.6

**Stacktrace:**
dolphinsc

[2021-04-29 08:17] #5386 closed, assigned to nobody

[2021-04-29 08:29] #5346 closed, assigned to BoYiZhang

[2021-04-29 10:29] #4093 closed

[2021-04-29 14:45] ruanwenjun opened #5408 "[Improvement][Dao] Database add connection check"
**Describe the question**
When the database connects fails, the application should fail quickly and shouldn't start successfully.
At present, if we set the wrong database params, we can still start the application successful, we need to check the log to determine whether the program is normal.

**Which version of DolphinScheduler:**
 -[1.3.6-release]
 -[dev]

**Describe alternatives you've conside

[2021-04-29 15:17] chengshiwen commented on #4804
@mannharleen There is another possible reason for this problem, which is that the memory is too small. To solve this problem, please refer to https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/docker-deployment.html and check **0. Requirements**

[2021-04-30 01:18] roamerop commented on #5215
1 Define a python script, such as `time.sleep(30)`.
2 Define schedule run every 1 second.
3 you will see duplicate instance running on `processInstance` tab.
---
Chinese
1 定义一个python工作流，在里面休眠十秒（为了演示阻塞）
2 为工作流增加定时任务，每秒运行一次
3 在工作流实例看板上，会看到很多重复的工作流，因为上一个工作流没结束，下一个又开始了（我希望这个工作流串行执行）

[2021-04-30 02:11] #5382 closed, assigned to nobody

[2021-04-30 07:51] ghost opened #5410 "[Question] How to deal with such an error in k8s ？"
**init env variables
generate dolphinscheduler config
/root/startup-init-conf.sh: line 150: /opt/dolphinscheduler/conf/env/dolphinscheduler_env.sh: Read-only file system**

[2021-04-30 07:58] zhangb0120 commented on #5082
1.3.7 这个版本会把串行执行功能加上去吗

[2021-04-30 09:52] syb853553110 opened #5411 "[Bug][SQL] The generated attachment suffix name is dat"
**Describe the bug**
The generated attachment suffix name is dat, which should be xls。
The format of the generated attachment name is "ATT_XXXX.dat". It is recommended to be configurable
创建的SQL任务生成的附件后缀名称为dat, 应该为xls，不然无法打开。
另外，生成的附件名称为"ATT_XXXX.dat", 建议附件名称可以通过UI界面修改

**Screenshots**
![image](https://user-images.githubusercontent.com/24668410/116679422-129bd080-a9dd-11eb-90e7-a5f8f4328747.png)
![

[2021-04-30 10:02] roamerop opened #5412 "[Question] Failed to execute script in source center"
**Describe the question**
1. I define a shell file in `source center`, name test.sh.
[code]
2. Then I create a shell process to use the following file in `source center`
[code]
3. But it failed without any log when I run the process.

**Which version of DolphinScheduler:**
 -[1.3.2]

[2021-04-30 11:18] roamerop commented on #5412
@github-actions
I have solved the problem.  I wrong set the `defaultFS` to `file:///` in the file `conf/config/install_config.conf`. That cause the resource file store in the master local file system. The worker can not reach it. After change it to `hdfs://ip:8020`.  All works good.

[2021-04-30 11:18] #5412 closed, assigned to nobody

[2021-04-30 11:40] chengshiwen commented on #5082
@zhangb0120 Not sure. Welcome to contribute code

[2021-04-30 13:26] chengshiwen commented on #5410
@zhangfeng114 It seems that your DolphinScheduler chart's appVersion is 1.3.5, but the used docker image is the latest (1.3.6). So either modify the `image.tag` in values.yaml to `1.3.5` (Or run `helm install dolphinscheduler . --set image.tag=1.3.5`), or just use the latest `1.3.6` DolphinScheduler chart.
There are a lot of optimizations related to docker and k8s in 1.3.6. Please refer to https:/

[2021-05-01 00:52] zainal-abidin-assegaf opened #5414 "[Question] Can not access dolphinscheduler ui"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
Can not access dolphinscheduler ui

![image](https://user-images.githubusercontent.com/22811935/116765881-ca6ac580-aa51-11eb-912f-0a18a18e2814.png)

**Which version of DolphinSched

[2021-05-01 04:29] chengshiwen commented on #5414
@4ss3g4f `user_password` is a field encrypted by md5, and `dolphinscheduler123` is the correct password. Please delete the row where `id=34` and check whether it is entered correctly?  You can copy and paste it and try again.  If the error still exists, please let us know the api log and the more details

[2021-05-01 04:44] CriysHot opened #5415 "How to change email alter plugin to http plugin in version 1.31?"
How to change email alter plugin to http plugin in version 1.31

[2021-05-01 06:10] zainal-abidin-assegaf commented on #5414
API logs:

[code]

Seems like can not connect to postgres,
![image](https://user-images.githubusercontent.com/22811935/116773164-fef47680-aa7d-11eb-9870-c88a4f162a9f.png)

We have delete `id=34` from t_ds_user table, but still same error,
We used crunchydata postgres, should be no issue rught, any postgres implementation shoud work right ??

![image](https://user-images.githubusercontent.com/22811

[2021-05-01 06:43] chengshiwen commented on #5414
It seems that the error is `no such user`, did you created the db and user successfully?

[2021-05-01 07:49] zainal-abidin-assegaf commented on #5414
Yes, we already restored dolphinscheduler postgres sql file, and user admin has been created  and available at t_ds_user table, as you see from above screenshot

[2021-05-01 09:12] chengshiwen commented on #5414
Are all database environment variebles in docker-compose.yaml modified? Could you show us the content of the file?

[2021-05-01 09:13] chengshiwen commented on #5414
It seems that you used 1.3.5 version of docker-compose.yaml, but the 1.3.6 docker image is used. To solve the problem, replace apache/dolphinscheduler:latest with apache/dolphinscheduler:1.3.5 in docker-compose.yaml.
Or just use the latest 1.3.6 of docker-compose.yaml

Please refer to FAQ
1.3.5: https://dolphinscheduler.apache.org/zh-cn/docs/1.3.5/user_doc/docker-deployment.html
1.3.6 : https://do

[2021-05-01 15:24] zainal-abidin-assegaf commented on #5414
here is the compose yaml file:

[code]
dolphinscheduler-alert:
[code]

dolphinscheduler-api logs:
[code]

dolphinscheduler-master logs:
[code]

dolphinscheduler-worker logs:
[code]

[2021-05-01 15:51] zainal-abidin-assegaf commented on #5414
Used 1.3.6:

[code]
api logs:

[code]

[2021-05-02 03:26] chengshiwen commented on #5414
@4ss3g4f Hi, it seems the postgresql connection problem. Could you check the command in Terminal on some host with `psql`?
[code]
eg.
[code]

[2021-05-02 07:20] zainal-abidin-assegaf commented on #5414
We can access now, it's postgres connection issue,

![image](https://user-images.githubusercontent.com/22811935/116805556-7e9f4580-ab51-11eb-8349-8c9977be3160.png)

Thank you

[2021-05-02 07:20] #5414 closed, assigned to nobody

[2021-05-02 07:22] zainal-abidin-assegaf opened #5416 "[Question] How to connect dolphinscheduler to minio"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
How to connect dolphinscheduler to minio

**Which version of DolphinScheduler:**
1.3.6

**Additional context**
How to connect dolphinscheduler to minio

**Requirement or improvemen

[2021-05-02 10:17] chengshiwen commented on #5416
Please refer to FAQ and search minio
1.3.6 : https://dolphinscheduler.apache.org/en-us/docs/1.3.6/user_doc/docker-deployment.html

[2021-05-02 10:22] chengshiwen commented on #1046
Close since no updates for long time

[2021-05-02 10:22] #1046 closed

[2021-05-03 11:24] liuyihan opened #5419 "[Feature][Worker] Add support for Ray"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
Will dolphinscheduler add support for [Ray](https://github.com/ray-project/ray)?

**Is your feature request related to a problem? Please describe.**
A clear and conci

[2021-05-04 04:58] davidzollo commented on #5419
good idea,  Ray is also a good project!  I noticed Ray some time ago.

By the way , would you like to implement this Feature for supporting Ray?

[2021-05-04 09:21] xiashao1980 commented on #5364
After decreased 'master.exec.threads' to 1400, this issue disappeared.

[2021-05-04 09:21] #5364 closed, assigned to nobody

[2021-05-04 14:49] #5098 closed, assigned to nobody

[2021-05-05 07:40] ruanwenjun commented on #5411
What version are you using? This seems already been fixed.

[2021-05-06 01:41] #5408 closed, assigned to nobody

[2021-05-06 03:40] ruanwenjun commented on #5407
@Tandoy Which version are you using? Maybe you need to reduce this value `master.reserved.memory `.

[2021-05-06 04:23] syb853553110 commented on #5411
1.3.6 Release

[2021-05-06 06:27] ruanwenjun commented on #5411
@syb853553110 Are you sure it is 1.3.6-release? Is there a title in your input box?
![image](https://user-images.githubusercontent.com/22415594/117251220-eff33700-ae76-11eb-8a8f-4d7f03cfd801.png)

I just test the 1.3.6-release, it can works well.

![image](https://user-images.githubusercontent.com/22415594/117251323-1022f600-ae77-11eb-8ae5-64375e3d3979.png)

[2021-05-06 06:36] CalvinKirs commented on #5415
1.3.1 not support new alert plug-in. if you need this, you need to do secondary development yourself. You need to implement org.apache.dolphinscheduler.plugin.api.AlertPlugin, and then load the plugin when alert-server starts.

[2021-05-06 07:29] felix-thinkingdata opened #5423 "[Bug][Master] execute ComplementProcess exception"
![image](https://user-images.githubusercontent.com/59079269/117258521-a529ed00-ae7f-11eb-9088-4dab10081e91.png)
![image](https://user-images.githubusercontent.com/59079269/117258601-b70b9000-ae7f-11eb-9ec0-3864f35904b5.png)
This will cause the process definition to be empty，An error is reported later when the process definition is retrieved

[2021-05-06 13:13] blacktea-latte opened #5424 "[Feature][Plugin-Email] Numeric data type support in email attachment"
Status Quo
Dolphinscheduler currently supports executing SQL and send result as email table/attachment, however the .xls attachment is forcing all columns to be "text" type and creates difficulty in data manipulation down the line (not sure this is a bug or expected behavior).

Suggestion
Hoping to see support for automatic data type in .xls, and/or additional support for other attachment format s

[2021-05-07 02:58] ruanwenjun commented on #5424
@blacktea-latte At present, all data is formatted as string before being written in `xls`, I will try to submit a pr to solve the data type issue. `xlsx` will be supported in this pr #5400, and most excel tools have the function of converting to other formats such as `csv`, I am not sure if it is still necessary to provide `csv` format.

[2021-05-07 03:23] blacktea-latte commented on #5424
@ruanwenjun That would be so much appreciated! And yes, there's no obvious use cases for `csv` format, especially given that xlsx will be supported.

[2021-05-07 09:34] AntAndfish opened #5425 "[Question] The sh file uploaded in the Resource Center is always in the loading state"
![1620379913(1)](https://user-images.githubusercontent.com/28626264/117430039-41c0bd80-af5a-11eb-80a0-b52e137a3d5f.jpg)

可以正常上传txt、xml等文件，

但是上传sh文件就一直处于加载状态，当通过shell在hdfs资源目录下存放同名文件，再上传hive.sh会提示“文件已存在，请修改文件名”。

例如上传hive.sh文件内容如下：unitx格式
#!/bin/bash

SQL="select * from analysis limit 5
echo "hive cli--------------"
hive -e "${SQL}"

dolphinscheduler-api-server.log 没有对应日志产生

[2021-05-07 11:56] Tandoy commented on #5407
I am using dolphinscheduler-1.3.2 and tried to reduce `master.reserved.memory` to 0.3, but the master still hangs.Is there an optimal calculation method for the parameter `master.reserved.memory` based on the cluster configuration?

[2021-05-07 15:26] ruanwenjun opened #5427 "[Bug][Service] All tasks that need to send attachment will fail due to chennel idle"
**Describe the bug**
When I execute a `sql` task and set to sent an email, the task will fail. But the email is sent successfully.
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a `sql` task and set send email.
![image](https://user-images.githubusercontent.com/22415594/117470554-84e65500-af89-11eb-8768-70b1f6ef4e04.png)
2. execute
3. See error in work log and see task st

[2021-05-08 09:05] zhuangchong opened #5429 "[Improvement][dist] Cleanup of useless files in the binary package lib directory"
**Describe the question**
There is dolphinscheduler-dist-${version}.tar.gz in the binary package lib directory

![image](https://user-images.githubusercontent.com/37063904/117533124-97aa6980-b01d-11eb-9efc-9b898868a39a.png)

**Which version of DolphinScheduler:**
 -[dev]

[2021-05-08 13:57] cczz12345 opened #5431 "[Bug][K8s] Master and worker cannot get the right address with custom DNS in 1.3.6"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
(I found a bug when I test v1.3.6, which did not happen in v1.3.5.I need to used host network dns policy on k8s, so I add config in templates/statefulset-dolphinscheduler-worker.yaml)
我

[2021-05-08 14:18] chengshiwen commented on #5431
@cczz12345 Thanks for your feedback! This bug will be fixed in next release 1.3.7

[2021-05-08 14:19] chengshiwen commented on #5410
Close since it has been resolved

[2021-05-08 14:19] #5410 closed, assigned to nobody

[2021-05-08 14:19] chengshiwen commented on #5416
Close since it has been resolved

[2021-05-08 14:19] #5416 closed, assigned to nobody

[2021-05-09 13:50] ruanwenjun opened #5436 "[Feature][Alert] Support plug-in hot loading"
**Describe the feature**
When we add a new plugin, we need to restart the application to load the plugin. For example, if we add a new alert plugin, we need to restart the alert service. In many cases, we would like to avoid restarting the service, because restarting the service may affect the tasks currently running.

**Is your feature request related to a problem? Please describe.**
This feature

[2021-05-10 00:18] zainal-abidin-assegaf opened #5437 "[Question] How to use dolphinscheduler ??"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the question**
I can not find any good documentation how to use dolphinscheduler

**Which version of DolphinScheduler:**
 v1.3.6

**Additional context**
I can not find any good documentation how

[2021-05-10 01:44] #5429 closed, assigned to nobody

[2021-05-10 01:56] #5058 closed, assigned to nobody

[2021-05-10 01:57] #5369 closed, assigned to nobody

[2021-05-10 01:57] #5397 closed, assigned to nobody

[2021-05-10 01:57] #5367 closed, assigned to nobody

[2021-05-10 02:52] ZhaoJianchangA opened #5438 "Can data transmission be carried out between nodes in the task flow?"
有个应用场景，需要将上一个节点处理完成的数据，插入到数据库中，需要如何操作？

[2021-05-10 03:59] haydenzhourepo opened #5439 "[Feature][FileSystem] support Tencent COS in hadoopUtils"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
Tencent's COS is widely used among China's cloud users, and Hadoop supports Tencent COS since 3.3.0.
some companies don't have Hadoop hdfs, so use cos or oss as alter

[2021-05-10 05:17] zhuangchong opened #5440 "[Improvement][Maven] Project module maven dependency optimization"
**Describe the question**
Currently, the dolphinscheduler project modules have api, server, service, alert, remote, dao, common, spi, alert-plugin, but there are redundant references for dependencies between projects.

**What are the current deficiencies and the benefits of improvement**
Project module maven dependency optimization

dependency relationship before：

![image](https://user-images.git

[2021-05-10 05:47] ruanwenjun commented on #5437
@4ss3g4f I am not sure what your question is about, maybe you need to provide a more specific description.
For example, did you encounter any problems during deployment or use?

You can find more helpful documents on this website.https://dolphinscheduler.apache.org

[2021-05-10 12:57] mnloveyx commented on #4417
新的设计不支持，修改流程实例（不更新流程定义）后重跑任务 （补数操作）！

[2021-05-10 19:03] #5427 closed, assigned to nobody

[2021-05-10 22:50] 4ss3g4f commented on #5437
![image](https://user-images.githubusercontent.com/22811935/117734055-d8240600-b21c-11eb-9b7b-cd00de46e0e2.png)

[2021-05-11 00:02] zainal-abidin-assegaf commented on #5437
Our quistions:
- How to use dolphinscheduler to do ETL from postgres to apache HIVE ??
- is dolphinscheduler has prebuild driver for mysql,hive/impala,spark,clickhouse,oracle,sqlsever and DB2 ?? (or dolphinscheduler only has default postgres driver only)
- How to add driver for mysql,hive/impala,spark,clickhouse,oracle,sqlsever and DB2 in the docker image, if dolphinscheduler only provide postgres

[2021-05-11 02:08] CalvinKirs commented on #5440
Sounds good, it would be better if it could provide a dependency relationship before and after.

[2021-05-11 03:04] chengshiwen commented on #5437
@4ss3g4f
For 1, I'm not sure.
For 2, it is sure that dolphinscheduler only has the default postgres driver.
For 3, you can refer to FAQ in https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/docker-deployment.html like How to support MySQL datasource in Datasource manage?

[2021-05-11 07:03] shiliquan opened #5443 "In version 1.3.6, Kerbos-related errors were reported when MySQL queries were executed using SQL tasks"
1.3.6版本中通过sql任务去执行mysql查询时会报kerbos相关的错误，如下：
![image](https://user-images.githubusercontent.com/42087586/117772407-b866ff00-b269-11eb-8e3e-dc218b0b9bec.png)
![image](https://user-images.githubusercontent.com/42087586/117772476-cddc2900-b269-11eb-83fd-ef7bf045baa0.png)
请问下该怎么解决？谢谢！

[2021-05-11 08:50] longfeizhou2016 commented on #2543
As far as I know, it should be a new feature requirement, because I didn't find a setting corresponding to ignore failure in dolphinscheduler. By the way, we have implemented this feature based on the open source version of 1.3.4.

[2021-05-11 08:55] ruanwenjun commented on #5443
@shiliquan It seems that you have set the Kerberos open.
You can check if the config value of `hadoop.security.authentication.startup.state` is true. In this version,  if you open the Kerberos, ds will still load KerberosConf even if you just execute a mysql task.

And this problem has been fixed at pr #4593.

BTW, It is suggested you change the question to English.

[2021-05-11 08:57] BackFire commented on #427
这么有价值的特性，2年了，还没支持吗？

[2021-05-11 09:57] gaoyu2016 opened #5444 "[Bug][worker] worker log stops scrolling"
worker log停止滚动。
Apr  3 10:18 dolphinscheduler-worker.2021-04-03_10.0.log
中间缺失。
May 10 18:43 dolphinscheduler-worker.log

[2021-05-11 12:53] #5424 closed, assigned to nobody

[2021-05-11 13:53] davidzollo commented on #5439
considering many users don't use hadoop 3.3 for now, maybe add hadoop-cos jar will be better?

[2021-05-11 16:38] davidzollo commented on #5438
how many data do you need to sync?

[2021-05-12 01:15] haydenzhourepo commented on #5439
ok, I'll submit a pr to add support cos

[2021-05-12 01:54] Tandoy commented on #5407
A worker node has been added to reduce the pressure on the master, and the master has been running stably.

[2021-05-12 01:54] #5407 closed, assigned to nobody

[2021-05-12 02:03] BryantYYDS opened #5445 "[DS running tasks have been ramming to death]"
DS-Version : 1.3.6
    The DS running task has always been in a dead state, showing that no task instance is generated, and there is no log output. There is only one task with a status of 0 when viewing the metadata ,and the resources used are abundant.

[2021-05-12 02:23] Sky-Gu opened #5447 "[Question] In a shell script, use an existing data source"
**Describe the question**
The project is doing content migration, there are a large number of script files, these script files want to use the data source has added data source information, may I ask how to use the content.

项目中有不少的脚本文件，需要使用数据源的账号密码，如何在脚本中用通过参数的方式来使用数据源中的链接信息。

[2021-05-12 05:37] AntAndfish opened #5448 "[Question] an error while upload file 'Caused by: java.io.IOException: Broken pipe'"
**Describe the question**
when i upload shell file to resource center , i get a "net::ERR_CONNECTION_RESET"
Is there something wrong with my configuration；

**Which version of DolphinScheduler:**
 -[1.3.5]

**Additional context**
the api-server log is as follows:

`[ERROR] 2021-05-12 11:57:19.255 org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[41] - null
org.eclipse.jetty.io.EofExc

[2021-05-12 06:11] longfeizhou2016 opened #5450 "[Improvement][server] Time setting optimization of DEPENDENT node"
**Describe the question**
DEPENDENT node automatically recognizes the last scheduling time of the dependent process timing scheduling.

**What are the current deficiencies and the benefits of improvement**
- Manual setting of time is difficult to understand, and certain scenarios cannot be covered by using enumerated setting types.
- The setting of automatic recognition time will be simpler.

**Wh

[2021-05-12 07:40] usretyn opened #5451 "[Question] Cann't get task instance log detail"
**Describe the question**
My cluster has 2 worker nodes named ds1,ds2.
After run process, ds1 can get   the task instance log on UI ，but ds2 cann't get log detail  .
I queried the table t_ds_task_instance by the task instance id ,  the file  path to  field log_path  exists on the host .

**Which version of DolphinScheduler:**
 -[1.3.6]

**Additional context**
Add any other context about the proble

[2021-05-12 07:43] zhuangchong opened #5452 "[Improvement][Task] ds flink task support submit a PyFlink job via the CLI"
**Describe the question**
ds flink task support submit a PyFlink job via the CLI

[code]

**Which version of DolphinScheduler:**
 -[dev]

[2021-05-12 09:46] JunjianS opened #5454 "BindingException:Invalid bound statement(not found)"
version:1.3.2
I try to add a new mapper (sql),  get this exception when call the new api, but others is ok. i checked that interface method name is same as mapper id.
org.apache.ibatis.binding.BindingException:Invalid bound statement(not found)

[2021-05-12 09:46] xingchun-chen commented on #5451
Is the logger service started in ds2?

[2021-05-12 09:53] waconde opened #5455 "[Question] When using the Sqoop tool in the workflow, how to configure the Hive connection information when the Hive type is selected in the "Data Purpose"?"
版本信息：dolphinscheduler 1.3.6 release
问题说明：如图，拖入了 Sqoop 节点，配置“数据目的”时，选择“HIVE”，但没有看到如何配置 Hive 所在服务器的IP、端口等连接信息呀？是写在哪个配置文件里了么？
![微信图片_20210512174838](https://user-images.githubusercontent.com/28390161/117955641-d5273380-b34a-11eb-8046-2c20c06bde81.jpg)

[2021-05-12 09:56] waconde opened #5456 "[Question] When using the Sqoop tool in the workflow, can I only choose MySQL as the "data source"?"
版本信息：dolphinscheduler 1.3.6 release
问题说明：如图，拖入 Sqoop 节点后，“数据来源”只能选择 MySQL，可选项只有这一个值。是需要配置什么文件，才能选择其他数据库类型么？
![微信图片_20210512175602](https://user-images.githubusercontent.com/28390161/117956135-567ec600-b34b-11eb-8550-0bc81c1540d2.jpg)

[2021-05-12 09:57] xingchun-chen commented on #5445
Check whether the master or worker process still exists, or check whether the master or worker logs report errors

[2021-05-12 10:01] xingchun-chen commented on #5456
Currently, sqoop only supports mysql.
If you have other needs, welcome to contribute pr

[2021-05-12 10:03] waconde commented on #5456
OK...

[2021-05-12 10:03] #5456 closed, assigned to nobody

[2021-05-12 10:10] lishiyucn opened #5457 "[Bug][ui] 360 browser version 12.2.1172.0 chromium core version 78.0.3904.108 can't open dolphin ui"
backgroud: dolphin1.3.1 upgrade to dolphin1.3.5
dolphinscheduler 1.3.5
360 browser version 12.2.1172.0 chromium core version 78.0.3904.108

open url http://ip:12345/dolphinscheduler/ui/#/home, all time show loading...

[2021-05-12 10:27] zhuangchong opened #5458 "[Improvement][install] update the yarn application url property value one-click deployment"
**Describe the question**
update the yarn application url property value one-click deployment

[code]

to

[code]

**Which version of DolphinScheduler:**
 -[dev]

[2021-05-12 10:44] #4417 closed

[2021-05-12 10:50] kayJiang opened #5460 "The shell execution is successful, and the status shows failed"
![image](https://user-images.githubusercontent.com/10612212/117963282-be84da80-b352-11eb-96fe-cb910a9a328e.png)

shell 日志

![image](https://user-images.githubusercontent.com/10612212/117963326-d0667d80-b352-11eb-9abe-278cdd0a5c43.png)

实际已经执行成功了

但是状态一直显示失败

![image](https://user-images.githubusercontent.com/10612212/117963442-f8ee7780-b352-11eb-95e3-1f01fcdf29a2.png)

[2021-05-12 11:08] quanzhian opened #5461 "The worker node sometimes fails to get the PID when performing tasks, resulting in an error in the kill -9 command, causing the UI interface task status to display failure, and the actual task job execution is successful"
org.apache.dolphinscheduler.server.utils.ProcessUtil.java 类下

    public static void kill(TaskExecutionContext taskExecutionContext) {
        try {
            int processId = taskExecutionContext.getProcessId();
            if (processId == 0) {
                logger.error("process kill failed, process id :{}, task id:{}",
                    processId, taskExecutionContext.getTaskInstanceId())

[2021-05-12 12:17] chengshiwen commented on #5457
Thanks for your feedback! The pr #4336 has tried to fix the browser compatibility on dev branch. We will try to test on the 360 browser you mentioned.

[2021-05-12 12:27] #5458 closed, assigned to nobody

[2021-05-12 12:28] chengshiwen commented on #5454
@JunjianS It's better to show all your changes about the new mapper

[2021-05-12 12:30] chengshiwen commented on #5437
Close since it has been replied

[2021-05-12 12:33] chengshiwen commented on #5444
@gaoyu2016 Could you give us more information like ds version, deployment way?

[2021-05-12 12:33] zhuangchong commented on #5461
Which version? This problem has been fixed in the dev branch.

![image](https://user-images.githubusercontent.com/37063904/117975484-4eca1c00-b361-11eb-9ff1-394ebca4b247.png)

[2021-05-12 12:39] zhuangchong commented on #5460
Which version? Can you provide more logs to analyze this problem?

[2021-05-12 14:52] ruanwenjun commented on #5455
@waconde You can try to configure in DataSource.
![image](https://user-images.githubusercontent.com/22415594/117996374-b047b600-b374-11eb-9c13-ee5d5fae0033.png)

[2021-05-12 17:23] davidzollo commented on #5262
![co_meetup](https://user-images.githubusercontent.com/15833811/118018039-dcb9fd00-b389-11eb-85f7-5c6026357c0a.png)

[2021-05-13 00:59] JunjianS commented on #5454
@chengshiwen thanks for your reply.
I add a new method in ProcessDefinitionMapper.java, a select in ProcessDefinitionMapper.xml, and corresponding method in service and controller.

    @ApiOperation(value = "queryProcessDefinitionListByState", notes = "QUERY_PROCESS_DEFINITION_LIST_BY_STATE_NOTES")
    @GetMapping(value = "/list-state")
    @ResponseStatus(HttpStatus.OK)
    @ApiException(QUERY_P

[2021-05-13 02:09] kayJiang commented on #5460
![image](https://user-images.githubusercontent.com/10612212/118067380-03505600-b3d3-11eb-96af-fa0097dd1c4d.png)

compete,  but state is failure

[2021-05-13 02:13] zhuangchong commented on #5460
@kayJiang
Please send me the context of the worker-server log here.

[2021-05-13 02:40] quanzhian commented on #5461
version: 1.3.6

[2021-05-13 02:40] #5461 closed, assigned to nobody

[2021-05-13 03:11] ZhaoJianchangA commented on #5438
我想把流程中上一个节点产生的数据，比如通过读取文件，或者读取数据库获取到的数据，在下一个节点插入到指定的数据库中

[2021-05-13 05:04] JunjianS commented on #5454
thanks for you reply, I found the cause of the problem. I made a mistake in config dir.

[2021-05-13 05:04] #5454 closed, assigned to nobody

[2021-05-13 05:30] zhuangchong opened #5463 "[Bug][SQL] Fix table name error in sql upgrade script"
**Describe the bug**
Fix table name error in sql upgrade script

![image](https://user-images.githubusercontent.com/37063904/118082056-17a24c00-b3ef-11eb-89bd-368f34555cb8.png)

**Which version of Dolphin Scheduler:**
 -[dev]

easy to fix

#4124

[2021-05-13 07:33] ruanwenjun commented on #5460
@kayJiang I think you may misunderstand the meaning of `complete` status, this status just mean the task is complete, but not necessarily success.
BYW, the above two logs do not seem to be the same task instance.

[2021-05-13 08:10] usretyn commented on #5451
The logger server is running on ds2  , listen port 50051

[2021-05-14 01:34] dik111 commented on #5401
我在1.3.6版本中(standalone)遇到相同的问题，查找源码后发现是有这么一个判断
`if (!OSUtils.getUserList().contains(taskExecutionContext.getTenantCode())) {
                String errorLog = String.format("tenantCode: %s does not exist", taskExecutionContext.getTenantCode());`
然后我添加了租户对应的os用户，任务可以执行。

----
I encountered the same problem in version 1.3.6 (standalone). After searching the source code, I found that there was such a

[2021-05-14 02:12] SbloodyS opened #5466 "[Improvement][Shell] kill shell command when using shell to run flume would cause flume exit not gracefully"
/usr/local/service/flume/bin/flume-ng agent -c /usr/local/service/flume/conf/ -f /data/dolphinscheduler/data/hadoop/resources/appsflyer/appsflyer_flume.properties -n agent -Dflume.root.logger=INFO,console

![image](https://user-images.githubusercontent.com/17822915/118210194-b46ef300-b49c-11eb-9355-80c3242a370a.png)

Start the Flume agent with above shell command. After it has written a few files

[2021-05-14 02:34] ruanwenjun commented on #5466
I think it would be better to provide the two-way, let users choose the kill way when they need to stop the workflow. Because sometimes we need force kill.

[2021-05-14 04:10] chengshiwen opened #5467 "[Bug][UI] UI cannot be displayed normally in some browsers"
Related issue: #5457 #4335 #4338

**Screenshots**

Browsers:

- IE 10, IE 11
- 360 browser version 12.2.1172.0 chromium core version 78.0.3904.108

![image](https://user-images.githubusercontent.com/4902714/118218622-6cef6380-b4aa-11eb-8b24-fa0fb7566c28.png)
![image](https://user-images.githubusercontent.com/4902714/118218650-7678cb80-b4aa-11eb-9b24-d55ba169cfef.png)
![image](https://user-images.g

[2021-05-14 05:04] chengshiwen opened #5468 "[Bug][Common] Obtaining IP is incorrect"
**To Reproduce**
In some scenarios, obtaining IP is incorrect

**Expected behavior**
Bug fixed

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Scenario 1: IP is null**
![image](https://user-images.githubusercontent.com/4902714/118223662-5f3edb80-b4b4-11eb-9046-3565f6fe1a2c.png)

**Scenario 2: IP incorrect order**
![image](https://user-images.githubusercontent.com/4

[2021-05-14 05:09] zhuangchong opened #5469 "[Improvement][Task] Improved shell task execution result log information"
**Describe the question**
Improved shell task execution result log information, adding process.waitFor() and process.exitValue() information to the original log

[code]

[code]

**Which version of DolphinScheduler:**
 -[dev]

easy to improvement

#4124

[2021-05-14 07:00] BoYiZhang opened #5470 "[Feature][Master] Shut down the cluster gracefully"
At present, when upgrading a DS cluster, if there is a task in progress, the task will become "fault tolerant" after restart. It is suggested that when shutting down the cluster, you can shut down the cluster gracefully

To upgrade / modify the configuration

For example:

When you stop the cluster, you can make the master stop processing new tasks. When all tasks are stopped, you can stop the clu

[2021-05-14 07:59] shubifeng opened #5471 "[Improvement][alert mail] add project name"
**Describe the question**
告警邮件内容信息 无法明确知道是哪个项目告警，当项目非常多的时候，管理员收到告警邮件将无法快速追踪到那个一流程产生异常告警。

**What are the current deficiencies and the benefits of improvement**
能够快速定位对信息进行识别定位。比如需要查询 订单相关工作流时，并不需要关心项目就能查出订单相关的所有项目下的任务或者工作流。对日常运维有帮助，对首页的异常信息可以进一步下钻得到具体工作流信息。

**Which version of DolphinScheduler:**
 1.3

**Describe alternatives you've considered**
解决方案有如下2种备选：
1.可以考虑在邮件中新增字段 项目名称
2.在首页中，点击统计的任务状态，可加

[2021-05-14 16:32] felix-thinkingdata commented on #5447
Can you give an example of a scenario you would like to use ？

[2021-05-14 16:46] davidzollo opened #5473 "Have Questions? Need help?"
### Have Questions?

### 1、Chat Rooms
Chat rooms are great for quick questions or discussions on specialized topics. The following chat rooms are officially part of Apache DolphinScheduler. Welcome to join the Slack workspace, the workspace URL: http://asf-dolphinscheduler.slack.com/
you can join through invitation url: [https://s.apache.org/dolphinscheduler-slack ](https://s.apache.org/dolphinsch

[2021-05-15 01:34] zhujian86 commented on #249
+1

[2021-05-15 02:54] ruanwenjun opened #5474 "[Bug][SQL] Fix symbol error in sql script"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior, for example:
1. execute dolphinscheduler_mysql.sql
2. see error info:
[42000][1064] You have an error in your SQL syntax;

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-05-15 03:21] ruanwenjun opened #5475 "[Improvement][Api] Upload resource to remote failed, the local tmp file need to be cleared"
**Describe the question**
When we upload a resource file, ds will do three thing.
1. create a local tmp file
2. cope the local tmp file to remote and delete the local file
https://github.com/apache/dolphinscheduler/blob/d04f4b60535cd86905e56b0a732f2ec038680eb7/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ResourcesServiceImpl.java#L595-L605

But when the second st

[2021-05-15 16:00] gk0916 opened #5477 "[Bug][Api] Every time you view the local parameter of process instance that references ${system.datetime}, there are different values"
**Describe the bug**
When processinstance is not scheduled to be executed, but manually executed, each time it has a different value, when viewing the local parameters of the processinstance referencing ${system.datatime}

**To Reproduce**
1. Add a local parameter for a task, such as BATCH_TIME=${system.datetime}
2. Manually execute the process, that will generate a new processinstance
3. Multiple

[2021-05-16 00:40] gk0916 commented on #5477
When the process is executed manually, the scheduling time is empty, BusinessTimeUtils
                 .getBusinessTime will always be calculated according to the current time. I will fix it.

https://github.com/apache/dolphinscheduler/blob/d04f4b60535cd86905e56b0a732f2ec038680eb7/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProcessInstanceServiceImpl.java#L624-

[2021-05-16 13:11] haydenzhourepo opened #5479 "[Feature][kubernetes] support ds HA by k8s configMap"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the feature**
DS has a Zookeeper HA service currently, but managing a Zookeeper cluster on Kubernetes for HA would require an additional operational cost that will increase the com

[2021-05-17 03:13] #5475 closed, assigned to nobody

[2021-05-17 04:51] davidzollo commented on #5262
A Cloud native, Smart and Easy Job Scheduler  https://youtu.be/ja451R9_lX0

Sharing from William Guo, apache Member、Apache DolphinScheduler PMC and Analysys CTO

Shared from Apache DolphinScheduler & ShardingSphere  co-meetup

[2021-05-17 05:02] didiaode18 opened #5481 "[Bug][server] The master suddenly hangs but no error is found in the log"
**Describe the bug**
The master suddenly hangs but no error is found in the log,After restarting the master, the task can be run again, and the master will stop again after a while.

**To Reproduce**
Always exist

**Expected behavior**
master don't hang up
**Screenshots**
<img width="845" alt="微信图片_20210517124319" src="https://user-images.githubusercontent.com/22792154/118434349-79c0c100-b70f-11eb

[2021-05-17 05:04] didiaode18 commented on #5481
Only the worker will have an error record
![image](https://user-images.githubusercontent.com/22792154/118434836-577b7300-b710-11eb-8cee-64a58bc25f1d.png)

[2021-05-17 05:05] didiaode18 commented on #5481
I use the container as a physical host

[2021-05-17 05:14] zhbdesign opened #5482 "DAG execution time is longer than the scheduling cycle"
If the DAG execution time is longer than the scheduling cycle, wait for the task to be executed, that is, a DAG can only be executed once at the same time

[2021-05-17 05:38] chengshiwen commented on #5481
@didiaode18 How did you deploy it? And how to reproduce this issue?

[2021-05-17 06:20] didiaode18 commented on #5481
I deployed through a single machine. The scheduler was running steadily before. I don’t know when the master stopped. The problem cannot be reproduced at present.

[2021-05-17 06:24] ruanwenjun opened #5483 "[Bug][Api] Can't view variables"
**Describe the bug**
When I want to view the variables defined in process instance, it will throw an exception.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Create a process definition
2. Add localparams
3. Execute the process definition
4. View params in process instance

**Screenshots**
![image](https://user-images.githubusercontent.com/22415594/118438653-4b46e400-b717-11eb

[2021-05-17 06:32] didiaode18 commented on #5481
![Uploading image.png…]()

[2021-05-17 07:31] mengfeiMonica opened #5484 "[Improvement][timed task] crontab"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
工作流定时设置与定时管理页面，目前执行流程是：先定义工作流定时后，在定时管理页面中进行上线/下线，编辑等相关操作。

**What are the current deficiencies and the benefits of improvement**
目前工作流定时一次即可，没必要单独到定时管理页面中单独管理。
可以将定时

[2021-05-17 07:36] mengfeiMonica opened #5485 "[Improvement][monitor]job monitoring"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**

**What are the current deficiencies and the benefits of improvement**
- 新增任务时长top10
- 新增任务执行状态走势图

**Which version of DolphinScheduler:**
 -[1.3.6]

[2021-05-17 09:15] ji04xiaogang opened #5486 "[Improvement][Api-Server] Remove jetty's low version jar package dependency"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
  In the DolphinScheduler 1.3.6 version:
1.  Api Server is run as a springBoot application , with embedded jetty server (9.4. x )
2.  Api Server depend on dolphinsch

[2021-05-17 09:46] Yao-MR-zz opened #5487 "[Improvement][Task] Remove TaskRecordDao And simply the after() in the AbstractTask class"
Dolphin scheduler 目前已经移除了数据质量检测，
可见在配置文件中也已经移除了对 相关数据质量涉及的db的

但是代码中依旧存在TaskRecordDao对数据质量的query,
并且SELECT * FROM eamp_hive_log_hd WHERE PROC_NAME='%s' and PROC_DATE like '%s'"
中涉及的eamp_hive_log_hd db明显已经不存在于配置的默认数据库中，
但是在重要的抽象类AbstractTask 中依旧存在对
TaskRecordDao的数据质量检测逻辑的判定，建议移除来保持对重要抽象类的纯净

 public void after() {
        if (getExitStatusCode() == Constants.EXIT_CODE_SUCCESS) {
            // task

[2021-05-17 09:48] Yao-MR-zz commented on #5487
如果可以我将会进行相关设计来进行下一步工作

[2021-05-17 11:55] guofeijia opened #5488 "[Bug][Module Name] Bug title"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2021-05-17 11:55] #5488 closed, assigned to nobody

[2021-05-17 12:07] guofeijia opened #5489 "[Bug][api] Querying the task Gantt chart,we find isoStart is greater than isoEnd"
在master分支中，查看taskinstance甘特图时，发现某些taskinstance无法渲染，
![image](https://user-images.githubusercontent.com/13915251/118485533-23717380-b74b-11eb-9d0b-328f3414424f.png)
查询后台数据发现此时isoEnd小于isoStart，而数据库的start_time为null
查看后台代码发现当start_time为null时，会默认赋值为当前时间
![image](https://user-images.githubusercontent.com/13915251/118485891-8bc05500-b74b-11eb-9ea0-b0ec50a10514.png)

[2021-05-17 12:16] geosmart commented on #5186
when worker shutdown, it's yarn task will failover, and the master get the yarn applicationId by the task log file ,and the task log is come from a logServer witch run in the shutdown worker...
so you just can't failover ,if your worker is down

so we realy need to store the applicationId to do failover.

does we already have any this yarn application  failover pr?

[2021-05-17 12:24] geosmart commented on #5186
when worker failover happen why  we have to kill the yarn application?
--

the problem is the worker not the yarn application...

if we query the yarn application and found it exist and the state is running, we should make the  task running  rather than kill it and  submit a new one

[2021-05-17 13:08] #5259 closed, assigned to nobody

[2021-05-18 02:00] zhuangchong commented on #5489
In what scenario is the startTime parameter null?

[2021-05-18 02:06] zhuangchong commented on #5487
good idea, you also need to clean up TaskRecord related files, such as Controller, VUE

[2021-05-18 02:20] #5474 closed, assigned to nobody

[2021-05-18 02:46] lishiyucn opened #5491 "[Bug][Master] Failed to obtain JDBC Connection; nested exception is com.alibaba.druid.pool.DataSourceClosedException: dataSource already closed"
dolphinscheduler1.3.6
[code]

[2021-05-18 03:35] ruanwenjun commented on #5491
@lishiyucn Hi, you'd better format the log, it's hard to find the reason now. Does this exception occur in the master or worker module? Or how can this problem be reproduced?
I think the possible reason is that you only start one node, and before the node receives the `NODE_REMOVED` event to send alert, it has closed the datasource. There are currently two places that will handle the `NODE_REMOVE`

[2021-05-18 05:55] lishiyucn commented on #5491
@ruanwenjun updated log
1. log has print some close in the log before the exception:
[INFO] 2021-05-16 12:27:02.319 com.alibaba.druid.pool.DruidDataSource:[1928] - {dataSource-1} closed
2. The environment is single node dolphinscheduler service;
**How should we solve this problem？**

[2021-05-18 06:29] kayJiang commented on #5460
org.apache.dolphinscheduler.common.utils.HttpUtils:[70] - http get:404 response

[2021-05-18 06:31] kayJiang commented on #5460
org.apache.dolphinscheduler.common.utils.HttpUtils:[70] - http get:404 response

yarn log copy to historyjob

[2021-05-18 06:32] kayJiang commented on #5460
[INFO] 2021-05-17 20:02:05.797 org.apache.dolphinscheduler.common.utils.HadoopUtils:[206] - application url : http://****/ws/v1/cluster/apps/%s
[ERROR] 2021-05-17 20:02:05.800 org.apache.dolphinscheduler.common.utils.HttpUtils:[70] - http get:404 response status code is not 200!

[2021-05-18 06:44] ruanwenjun commented on #5491
@lishiyucn This is an existing problem, I will try to send a pr to solve this problem by code.
The impact of this issue may be that if you only have one instance and the alarm will send failed if the instance is lost.

[2021-05-18 06:51] mengfeiMonica opened #5493 "[Improvement][job setting] sub_process"
*For better global communication, please give priority to using English description, thx! *

*Please review https://dolphinscheduler.apache.org/en-us/community/development/issue.html when describe an issue.*

**Describe the question**
子节点：获取的列表是当前项目中所有的工作流定义（此处不校验工作流状态），在保存该工作流定义之后，执行该工作流定义时，却校验了子节点的状态。

**What are the current deficiencies and the benefits of improvement**
- 建议子节点：获取的列表是当前项目中状态为上线

[2021-05-18 07:07] chengshiwen opened #5494 "[Improvement][UE] Improve the user experience of high-frequency problems, especially for new users"
**Describe the question**

When users deploy DolphinScheduler, especially new users, they will always encounter some common high-frequency problems. They bring a very bad user experience to users. At the same time, we will also spend a lot of time explaining the answers. These issues are as follows:

- [ ] Tenant not exists when uploading resources
- [ ] Home environment variable problem like `/op

[2021-05-18 07:07] guofeijia commented on #5489
是的

[2021-05-18 07:25] lenboo commented on #5487
+1
Agree to delete the code about taskRecord

[2021-05-18 07:31] caoping6 commented on #5494
Verify that the tenant option is better when it's online or saved than when it's running. What do you think？

[2021-05-18 07:32] 597365581 commented on #5494
In the workflow definition list, add a shortcut button, and you can jump directly to the specified workflow instance with one click. When you jump, you can take the workflow name as the search criteria to automatically query the specified list

[2021-05-18 07:35] 597365581 commented on #5494
In the workflow instance list, add a shortcut button, and click to jump directly to the task instance list under the specified workflow instance. When you jump, you can automatically query the specified list with the name or ID of the workflow instance as the search criteria在工作流实例列表中，增加快捷按钮，点击一下就能直接跳转到指定的工作流实例下的任务实例列表中，跳转时，能带上工作流实例名称或者id作为搜索条件自动查询出指定的列表

[2021-05-18 07:36] 597365581 commented on #5494
The user search input box (such as user name) is added to the front page of the project to query the running statistics of their own users项目首页增加用户搜索输入框（比如输入用户名），可以查询自己用户的运行统计数据

[2021-05-18 07:45] 597365581 commented on #5494
In the task dependency view page, add a shortcut button to jump to the dependent workflow instance page and task instance page, which is convenient to click to view the operation of the dependent task.任务依赖查看页面中，增加快捷按钮，可以跳转到依赖的工作流实例页面和任务实例页面，方便点击查看被依赖的任务的运行情况。

[2021-05-18 07:46] 597365581 commented on #5494
In the workflow definition page, you can retrieve the workflow according to its online status and scheduled online status.工作流定义页面中，可以按照工作流上线状态和定时上线状态进行检索。

[2021-05-18 07:47] cpbeast opened #5495 "[1.3.6][dolphinscheduler-api] DataSourceController create mysql version 8.0 fail"
![image](https://user-images.githubusercontent.com/41602866/118612138-0fcc1880-b7f0-11eb-9bcf-8465a43867bf.png)
It is only compatible with MySQL version 5.7, but not version 8.0

[2021-05-18 07:55] 597365581 commented on #5494
complement：

1、In the workflow definition list, add a shortcut button, and you can jump directly to the specified workflow instance with one click. When you jump, you can take the workflow name as the search criteria to automatically query the specified list

2、In the workflow instance list, add a shortcut button, and click to jump directly to the task instance list under the specified workflow in

[2021-05-18 08:08] lishiyucn commented on #5491
@ruanwenjun
Can I solve this problem by backing back the dolphinscheduler version ?
Now is dolphin1.3.6 ,I need dolphin version greater than dolphin1.3.5 for adapt to flink1.11

[2021-05-18 08:35] zhuangchong commented on #5489
@guofeijia

In what scenario is the startTime parameter null?

---
在哪种情况下，startTime参数值是null?

[2021-05-18 09:00] #5487 closed, assigned to nobody

[2021-05-18 09:07] zhuangchong commented on #5460
@kayJiang
Looking at your feedback, it is that the yarn api is called to check the task status. The http request is abnormal, and your task does not execute the yarn task. This is very strange. Is it convenient to send the overall worker-log?

[2021-05-18 09:29] ruanwenjun commented on #5491
@lishiyucn Sorry, it may not be resolved by fallback the version. But I think this should not be a serious problem, the influence of this issue is limited.

[2021-05-18 09:45] caoping6 opened #5496 "[Bug][Master] NPE occurs in complement operation"
java.lang.NullPointerException: null
	at org.apache.dolphinscheduler.server.master.runner.MasterExecThread.executeComplementProcess(MasterExecThread.java:336) ~[classes/:na]
	at org.apache.dolphinscheduler.server.master.runner.MasterExecThread.run(MasterExecThread.java:219) ~[classes/:na]
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149) [na:1.8.0_291]
	at java.ut

[2021-05-18 09:48] ruanwenjun commented on #5496
@caoping6 Could you please provide more information?

[2021-05-18 11:57] guofeijia commented on #5489
出现null的情况，暂时还没有找到原因

[2021-05-18 13:43] brave-lee opened #5498 "[Feature][JsonSplit-api] api module controller design"
continuation of #4417
- [x] 1. processDefinition save/update interface
- [x] 2. processDefinition switch interface
- [x] 3. processDefinition delete interface
- [x] 4. processDefinition copy interface
- [x] 5. processDefinition export interface
- [x] 6. processDefinition list-paging interface
- [x] 7. processDefinition move interface
- [x] 8. processDefinition queryProcessDefinitionAllByProjectId

[2021-05-18 13:48] brave-lee opened #5499 "[Feature][JsonSplit-api]processDefinition save/update interface"
from #5498
![image](https://user-images.githubusercontent.com/42576980/118662342-808c2880-b822-11eb-874f-5f5c1b060db9.png)
taskRelationJson：[{"name":"","pre_task_code":0,"pre_task_version":0,"post_task_code":123456789,"post_task_version":1,"condition_type":0,"condition_params":{}},{"name":"","pre_task_code":123456789,"pre_task_version":1,"post_task_code":123451234,"post_task_version":1,"condition_

[2021-05-18 13:49] brave-lee opened #5500 "[Feature][JsonSplit-api]processDefinition switch interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 13:50] brave-lee opened #5501 "[Feature][JsonSplit-api]processDefinition delete interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 13:51] brave-lee opened #5502 "[Feature][JsonSplit-api]processDefinition copy interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 13:51] brave-lee opened #5503 "[Feature][JsonSplit-api]processDefinition export interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 13:52] brave-lee opened #5504 "[Feature][JsonSplit-api]processDefinition list-paging interface"
from #5498
processDefinition page display processDefinitionCode

[2021-05-18 13:53] brave-lee opened #5505 "[Feature][JsonSplit-api]processDefinition move interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 13:54] brave-lee opened #5506 "[Feature][JsonSplit-api]processDefinition queryProcessDefinitionAllByProjectId interface"
from #5498
Change the request parameter projectId to projectCode,including the front end and controller interface

[2021-05-18 13:55] brave-lee opened #5507 "[Feature][JsonSplit-api]processDefinition select-by-id interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface
taskNode query alone

[2021-05-18 13:55] brave-lee opened #5508 "[Feature][JsonSplit-api]processDefinition view-tree interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 13:56] brave-lee opened #5509 "[Feature][JsonSplit-api]schedule create interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode and remove workerGroupId,including the front end and controller interface

[2021-05-18 13:57] brave-lee opened #5510 "[Feature][JsonSplit-api]schedule list-paging interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 13:58] brave-lee opened #5511 "[Feature][JsonSplit-api]schedule update interface"
from #5498
remove the request parameter workerGroupId,including the front end and controller interface

[2021-05-18 13:59] brave-lee opened #5512 "[Feature][JsonSplit-api]taskDefinition save interface"
from #5498

[2021-05-18 13:59] brave-lee opened #5513 "[Feature][JsonSplit-api]taskDefinition update interface"
from #5498

[2021-05-18 14:00] brave-lee opened #5514 "[Feature][JsonSplit-api]taskDefinition switch interface"
from #5498

[2021-05-18 14:00] brave-lee opened #5515 "[Feature][JsonSplit-api]taskDefinition query interface"
from #5498

[2021-05-18 14:01] brave-lee opened #5516 "[Feature][JsonSplit-api]taskDefinition delete interface"
from #5498

[2021-05-18 14:02] brave-lee opened #5517 "[Feature][JsonSplit-api]WorkFlowLineage interface"
from #5498
Change the request parameter projectId to projectCode,including the front end and controller interface

[2021-05-18 14:02] brave-lee opened #5518 "[Feature][JsonSplit-api]analysis interface"
from #5498
Change the request parameter projectId to projectCode,including the front end and controller interface

[2021-05-18 14:03] brave-lee opened #5519 "[Feature][JsonSplit-api]executors interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 14:03] brave-lee opened #5520 "[Feature][JsonSplit-api]processInstance interface"
from #5498
Change the request parameter processDefinitionId to processDefinitionCode,including the front end and controller interface

[2021-05-18 14:04] brave-lee opened #5521 "[Feature][JsonSplit-api]project interface"
from #5498
Change the request parameter projectId to projectCode,including the front end and controller interface

[2021-05-18 15:10] ruanwenjun commented on #5495
@cpbeast  Can you describe your operation and provide the error log? I think this can work well with MySQL 8.0.
I have tested on MySQL 8.0.22, it will print a warning log, this is caused by ssl, if you also meet this problem, you can try to set  `useSSL=false`
https://github.com/apache/dolphinscheduler/blob/bc22ae7c91c9cbd7c971796ba3a45358c2f11864/dolphinscheduler-common/src/main/java/org/apache/d

[2021-05-19 02:05] #5440 closed, assigned to nobody

[2021-05-19 02:07] lishiyucn commented on #5491
The dolphin master progress is survival

[2021-05-19 02:13] yimaixinchen commented on #249
+1

[2021-05-19 02:40] Irving0689 opened #5522 "START_FAILURE_TASK_PROCESS failed"
[INFO] 2021-05-19 10:06:26.147 org.apache.dolphinscheduler.api.controller.ProcessInstanceController:[101] - query all process instance list, login user:xxxxxx,project name:xxxxx, define id:0,search value:DAG_STG.STG_DMS_ORG,executor name:,state type:null,host:,start time:, end time:,page number:1, page size:50
[INFO] 2021-05-19 10:06:44.835 org.apache.dolphinscheduler.api.controller.ExecutorContro

[2021-05-19 02:42] Irving0689 commented on #5522
Failed to handle the workflow instance。

启动失败的任务失败，提示操作工作流实例失败

[2021-05-19 02:52] CalvinKirs commented on #5522
Which version?

[2021-05-19 02:52] gaomiup20 opened #5523 "Unable to receive enterprise wechat alarm normally"
**Which version of DolphinScheduler:**
-1.3.6

Configure wechat alarm, add the following key, value to
kind: configmap, name:dolphinscheduler-alert In the middle,

  ENTERPRISE_WECHAT_ENABLE: "true"
  ENTERPRISE_WECHAT_CORP_ID: "xxxdfdfde43613c3xxxx"
  ENTERPRISE_WECHAT_SECRET: "xxxxxzpKCWPw-IqDS9daosPRzUHvxxxxxU"
  ENTERPRISE_WECHAT_AGENT_ID: "xxx0046"
  ENTERPRISE_WECHAT_USERS: "G1702949,G170317

[2021-05-19 03:15] gaomiup20 commented on #5523
container exec:
[code]

container of log:
[code]

[2021-05-19 03:18] roamerop commented on #5215
@chengshiwen

[2021-05-19 03:22] Irving0689 commented on #5522
1.3.6

[2021-05-19 03:29] cyx-code opened #5524 "[Bug][worker] shell task can not run java command when develop.mode is false"
**Describe the bug**
When shell task's rawscript is
"nohup java -version > /tmp/a.log &
while read line
do
    echo $line
done < /tmp/a.log"
and development.state=false
the a.log's content is "Error occurred during initialization of VM
	java.lang.Error: Properties init: Could not determine current working directory.
	at java.lang.System.initProperties(Native Method)
	at java.lang.System.initialize

[2021-05-19 03:30] ruanwenjun commented on #5491
@lishiyucn I have submitted a pr #5497, you can help me review.
And furthermore, you need to find out why the instance crashed. I can help you check, but you need to provide more log information.
I guess it may be due to the fluctuation of the zookeeper connection, because currently, the zookeeper connection reconnect will cause instance crashed. #5211

[2021-05-19 03:35] cpbeast commented on #5495
![image](https://user-images.githubusercontent.com/41602866/118751646-3e033400-b894-11eb-9409-a54669ef46c0.png)
I just started to learn. I used docker compose deployment on MAC, and there was no change. From the log, it was the driver problem of connecting to MySQL. Version 8.0 should be com.mysql.cj.jdbc.driver

[2021-05-19 03:42] ruanwenjun commented on #5495
@cpbeast I think this is caused by the driver missing, have you downloaded the MySQL connector lib? Maybe you can follow the tip in `How to support MySQL` https://dolphinscheduler.apache.org/en-us/docs/latest/user_doc/docker-deployment.html

[2021-05-19 03:51] CalvinKirs commented on #5522
Whether the processInstanceId is null in the command_param json outbound in the command table.

[2021-05-19 03:52] CalvinKirs commented on #5522
Whether the processInstanceId is null in the command_param json outbound in the command table.
Whether the processInstanceId is null in the command_param json outbound in the command table.

[2021-05-19 03:59] cpbeast commented on #5495
I understand. After downloading the source code, I should modify < mysql. Connector. Version > 8.0.21 < / MySQL. Connector. Version >. When loading the driver, I should change com.mysql.jdbc.driver to com.mysql.cj.jdbc.driver,then build docker images and deployed using docker compose
![image](https://user-images.githubusercontent.com/41602866/118754421-9db00e00-b899-11eb-9b4a-91609debdcfc.png)
![i

[2021-05-19 04:41] Irving0689 commented on #5522
i'll check it.

[2021-05-19 05:01] ruanwenjun commented on #5495
@cpbeast I think you need to download the connector lib
![image](https://user-images.githubusercontent.com/22415594/118758776-42cee480-b8a2-11eb-8793-536547fb1c5e.png)

Of course, you can choose a higher version of the connector, but what I want to say is that the current version can also work. It may be a good idea to provide version options when adding data sources, because sometimes different v

[2021-05-19 06:02] Irving0689 commented on #5522
How should i to confirm this information？

select id from t_ds_process_definition where name like 'DAG_SPT.SPT_ODS_O_BILL_INFO%';

select * from t_ds_command where id = 226;

ruslut is NULL.

[2021-05-19 06:03] Irving0689 commented on #5522
How should i to check this information？

select id from t_ds_process_definition where name like 'DAG_SPT.SPT_ODS_O_BILL_INFO%';

select * from t_ds_command where id = 226;

ruslut is NULL.

[2021-05-19 06:05] Irving0689 commented on #5522
How should i to check this information？

select id from t_ds_process_definition where name like 'DAG_SPT.SPT_ODS_O_BILL_INFO%';

select * from t_ds_command where id = 226;

the result of the query is NULL.

[2021-05-19 06:08] cpbeast commented on #5495
大哥，你是上海的吗，你刚刚说的项目跑起来使用mysql的数据库吧，我是使用postgresql
![image](https://user-images.githubusercontent.com/41602866/118764134-98f45580-b8ab-11eb-95f1-9ccaac477e05.png)

在页面 创建数据源，添加mysql数据源的时候，报错，看日志说是驱动的问题
如果自己修改了源码，然后build镜像，取个自己的tag，然后使用docker-compose部署，应该可以吧

[2021-05-19 06:41] wangxj3 opened #5525 "server down will send repetitive message"
The master and worker will listen to other master or worker services down from zk, and will send message notifications, but this message  will send one for each monitored service, so repeat.
For example, I have 3 masters and 3 workers, and one of the masters is down. The remaining five services will insert an alert data
 in the database.
I haven't a good plan to fix this issue ,shoule we  consider

[2021-05-19 06:56] cyx-code commented on #5524
I found that delaying the deletion of the execution directory can solve this problem

[2021-05-19 07:13] #5495 closed, assigned to nobody

[2021-05-19 07:38] ruanwenjun commented on #5525
@wangxj3 Yeal, I also noticed this problem, this caused by each instance will listen the node path in zookeeper.
~~One possible solution is to get the lock on zookeeper when insert the instance crash alert.~~
Can we think each instance should save at most one unsent instance alert in database?

[2021-05-19 08:01] gaomiup20 commented on #5523
When the alarm push is triggered, the email can be received normally at this time, but the enterprise wechat alarm is not good, and there is a suspected error log in alter

![Uploading image.png…]()

[code]

[2021-05-19 08:54] ruanwenjun commented on #5496
@caoping6 Are you sure the version is 1.3.6-release?

[2021-05-19 09:42] s348268281 opened #5526 "File path write problem in docker"
想请问下，我是用docker部署的最新版本，要是使用python节点创建一个工作流，内容是新建文件写入helloworld，这个文件路径可以写我部署的服务器的绝对路径吗？这个文件创建后在服务器哪里可以看见呢？我测试了下在可视化下新建了文件，并用python脚本写入，但一直提示IOError: [Errno 13] Permission denied: './test1.txt'，求大佬指教。

[2021-05-19 11:27] wangxj3 commented on #5525
---Can we think each instance should save at most one unsent instance alert in database?
Yes,this we will do something in alert .Do you have a dateil plan?
---And
The solution with lock on zookeeper can resove this issue.How ablut that,if we can get the time of server down ,insert this time to t_ds_alert ,this time is the PRIMARY KEY,so other server will fail to insert database.

[2021-05-19 11:48] ruanwenjun commented on #5525
@wangxj3 I think it is hard to get the exact time when the server down, the time that each instance gets this event may be different.
Use lock on zookeeper does not seem to be a good solution for this issue, because some instances may get this event late.
The best solution may be when we insert to the t_ds_alert table, check whether there is the same content in the database for sending, the SQL li

[2021-05-19 19:17] CalvinKirs commented on #5526
Please use Englis.In addition, I see Permission denied

[2021-05-19 19:23] CalvinKirs commented on #5523
It seems that NPE occurs when the token is obtained. Can you solve this problem. We did not judge the results of the response.

[2021-05-19 19:26] CalvinKirs commented on #5525
This is indeed a question that can be improved. Can anyone submit a PR for this?

[2021-05-20 01:46] s348268281 commented on #5526
I am using the latest version of Docker deployment. If I use Python node to create a workflow, the content is to create a new file and write to HelloWorld, can this file path write the absolute path of the server I deployed?Where can I see this file on the server after it is created?I tested the new file under the visualization and wrote it with Python script.but the error:IOError: [Errno 13] Perm

[2021-05-20 02:00] CalvinKirs commented on #5526
It seems that the executing tenant does not have permission to create files

[2021-05-20 02:10] s348268281 commented on #5526
However, I created the tenant with the admin account and did not see any authorized actions on the create tenant page, so what can I do to successfully execute this Python script, create and write to the file?

[2021-05-20 03:25] linux0x5c commented on #5523
I use 1.3.6 in K8S,have same problem,how to solve it?

[2021-05-20 03:45] chengshiwen commented on #5215
I will try to reproduce it, thanks for your feedback

[2021-05-20 04:09] linux0x5c commented on #5523
@gaomiup20 Hi,how did you solved it?

[2021-05-20 06:22] BoYiZhang commented on #5523
Please check the configuration[alert.properties]:

![image](https://user-images.githubusercontent.com/39816903/118929109-ade9eb00-b976-11eb-93f5-4f9c5397f53c.png)

[2021-05-20 06:44] liuyichaosoftware opened #5527 "[Improvement][api-server] failed find any kerberos"
kerberos.expire.time 已经设置成了1
但是，每隔几天后，资源中心的资源就无法下载了，提示，failed find any kerberos ，重启后才可用。
![1908dee0e78a739c5a20284aa524c27](https://user-images.githubusercontent.com/18589655/118931587-bde1da80-b936-11eb-94a8-1f1f86c7a003.jpg)
建议优化使之能够长期生效，避免重启

[2021-05-20 09:14] yeboo opened #5528 "[Bug][server] task instance can not run."
A task has too much log, and I can run it.  When a new  task instance starting, the console print this:

![image](https://user-images.githubusercontent.com/19387163/118951718-e8ab4d80-b98d-11eb-8555-0c8c5d552d4f.png)

![image](https://user-images.githubusercontent.com/19387163/118952628-ae8e7b80-b98e-11eb-82f6-f8eab143a337.png)

The new task state is submit or not running.

[2021-05-20 09:17] yeboo commented on #5528
version : 1.3.6-release

[2021-05-20 09:25] caoping6 commented on #5496
Sorry,It was discovered in dev

[2021-05-20 10:25] ruanwenjun commented on #5528
@yeboo Can you provide a specific description or how to reproduce this problem? A `ConcurrentModificationException` exception was thrown due to another reason, I will fix the exception.

[2021-05-20 10:27] davidzollo commented on #5479
@chengshiwen What do you think ?

[2021-05-20 10:29] #5473 closed, assigned to nobody

[2021-05-20 11:33] yeboo commented on #5528
1. Launch a task instance that prints a large amount of business exception stack information (non-dolphinscheduler exceptions) at which point the task is running
2. Continue to launch multiple other task instances, which also print a large number of exception stack logs, and the task is committed and cannot enter a running state
3. The console outputs the above error at this time

[2021-05-20 11:48] dailidong commented on #5375
good idea!
Can you describe this feature in more detail? or do you have some docs about this?

[2021-05-20 11:49] davidzollo commented on #5375
Could you describe this feature in more detail? or do you have some docs about this feature?

[2021-05-20 11:51] #5401 closed, assigned to nobody

[2021-05-20 12:52] ruanwenjun commented on #5528
@yeboo Can this problem be reproduced? Do you mean you throw a lot of exceptions yourself in the task? Can you provide more complete error logs? Thanks.

[2021-05-20 16:41] yeboo commented on #5528
@ruanwenjun Yes,  it's a must-see. I'm just using the traceback.print_exc() method to output exceptions in my program. This is my own log information：

Python Language Exception :

`Traceback (most recent call last):
  File "/zzz/formula_math.py", line 467, in mathSocre
    "result": func.custom_eval(node, data)
  File "/zzz/formula_math.py", line 118, in custom_eval
    return _convert(node_or_st

[2021-05-21 02:08] ruanwenjun commented on #5528
@yeboo Yes, I guess there may be a concurrency problem where the log is printed, and I have submitted a pr #5530.
Can you provide more error log about dolphinscheduler, and which version do you use?

[2021-05-21 02:37] syb853553110 commented on #5411
@ruanwenjunAre you sure it is 1.3.6-release? Is there a title in your input box?
Yes, I'm sure.

![image](https://user-images.githubusercontent.com/24668410/119073845-8ea79800-ba20-11eb-8b33-baba74324d37.png)

[2021-05-21 03:13] chengshiwen commented on #5479
@dailidong @haydenzhourepo I will consider this feature and give its feasibility after the docker&k8s Improvement round 2

[2021-05-21 03:29] syb853553110 commented on #5411
![image](https://user-images.githubusercontent.com/24668410/119077898-bf3f0000-ba27-11eb-91c8-0df2747bdf08.png)

[2021-05-21 03:38] yeboo commented on #5528
@ruanwenjun You can see my first screenshot, and that is all. The version is 1.3.6-release.
much error logs like this:
dispatcher  error: fail to execute :Command [type=TASK_EXECUTE_REQUEST]: dolphinscheduler due to no suitable worker. current task needs worker group default to execute.

I see the error from:
dolphinscheduler/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server

[2021-05-21 03:39] syb853553110 commented on #5411
刚试了，主题用英文正常，中文不行

[2021-05-21 03:51] ruanwenjun commented on #5528
@yeboo Does the worker crashed?

[2021-05-21 03:54] syb853553110 commented on #5411
刚试了，主题用英文正常，中文太长不行，短一些可以

[2021-05-21 05:56] yeboo commented on #5528
@ruanwenjun The first task instance is running state and the others are committed in UI page .

[2021-05-21 07:50] didiaode18 commented on #5481
After restarting all services, the scheduling has been normal for the past few days. It is a magical error.

[2021-05-21 07:50] #5481 closed, assigned to nobody

[2021-05-21 09:10] lfyzjck opened #5535 "[Feature][server] Automatic Global Task DAG"
In real world usage, people who is using ds is not only the data developer, but also the having many people is not familiar with data development. when we adding a new task, we really don't know which task we are depend on.

A possible solution is automatic calculate the task dependency and build a global dag.

For example we have two Hive SQL Tasks:

task1:

[code]

task2:

[code]

we can calcula

[2021-05-21 10:12] llmiao opened #5537 "[acquire incorrect task status from yarn for spark note][dolphinscheduler.common] spark task execute fail"
spark node execute fail,but the job on yarn is success.

yarn monitor :
![image](https://user-images.githubusercontent.com/13066003/119120173-8bcb9800-ba5e-11eb-8512-1a4cba4f6127.png)

dolphinscheduler:
the spark task final status is fail.
![image](https://user-images.githubusercontent.com/13066003/119120207-9be37780-ba5e-11eb-8806-f006fce9cad0.png)

and the spark note log is correct:
![image](htt

[2021-05-21 10:22] yeboo commented on #5528
@ruanwenjun  By the way,  sometimes a task instance is submitted in a running state, but the task has not really been executed. Even if there is only one task on the task list.

Please pay attention to it.

[2021-05-21 10:59] #5537 closed, assigned to nobody

[2021-05-21 10:59] llmiao commented on #5537
duplicated issuse.

[2021-05-21 11:47] ruanwenjun commented on #5528
@yeboo I tried to reproduce this issue, but I only reproduce the `ConcurrentModifiedException`.
It may take some time to find the reason, if you have some progress, please sync to this issue, thanks.

[2021-05-22 02:35] davidzollo commented on #5479
good job

Best Regards
---------------
DolphinScheduler PMC
Lidong Dai
***@***.***
---------------

On Fri, May 21, 2021 at 11:13 AM Shiwen Cheng ***@***.***>
wrote:

[2021-05-22 06:19] ruanwenjun opened #5538 "[Improvement][Worker] Simplify the delivery of AlertClientService object and support multiple alert server"
**Describe the question**
This issue want to talk about two things:

1. We don't need to transport the `AlertClientService` by parameter, only `SqlTask` need to send result by `AlertClientService`. We can register the `AlertClientService` to Spring container like other object.

https://github.com/apache/dolphinscheduler/blob/8a1d849701671544327a1d4e7852575af6872017/dolphinscheduler-server/src/main

[2021-05-22 07:08] ruanwenjun opened #5539 "[Improvement][Master] Check status of taskInstance from cache"
**Describe the question**
After the master submit a task, the master will wait for the task execution to end, and it will loop to query the task status from database.
https://github.com/apache/dolphinscheduler/blob/8a1d849701671544327a1d4e7852575af6872017/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/master/runner/MasterTaskExecThread.java#L123-L164

Why doesn't it query

[2021-05-23 10:38] chengshiwen opened #5540 "[Bug][JSON Split] Project created failure and unknown column p.code in field list"
**To Reproduce**

Refer to https://dolphinscheduler.apache.org/zh-cn/development/development-environment-setup.html
And run `org.apache.dolphinscheduler.dao.upgrade.shell.CreateDolphinScheduler`

**Expected behavior**
Bug fixed

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/4902714/119256897-76d53d00-bbf5-11eb-9a1e-

[2021-05-23 11:32] brave-lee commented on #5540
Thank you for your feedback, I checked the code and found no problems，please make sure your database is latest tables

[2021-05-23 11:39] gk0916 commented on #5540
I have the same problem. I think there are loss some ddl in sql/1.4.0_schema/mysql and postgresql when update to version 1.4.0

[2021-05-23 15:43] #5527 closed, assigned to nobody

[2021-05-23 16:03] #5431 closed, assigned to nobody

[2021-05-24 03:50] gaomiup20 commented on #5523
This problem has not been solved. According to the official reply, it should be a bug. Another problem is that there is no wechat alarm related configuration on the interface, only SMS and email

[2021-05-24 05:40] linux0x5c commented on #5523
@gaomiup20 I modified docker build configuration tpl solved it .

[2021-05-24 06:03] CalvinKirs opened #5541 "[Feature][SPI] SPI-UI"
Regarding the SPI module, some components require plug-ins to provide a UI interface for users to access. We used http://www.form-create.com/v2/ to generate the corresponding front-end code

Regarding how to display: the back end displays the UI by drawing JSON, and the front end parses the JSON returned by the back end. You can check the specific usage through the dev branch alert-group (how to u

[2021-05-24 21:03] #5210 closed, assigned to nobody

[2021-05-25 02:26] gaomiup20 commented on #5523
@linux0x5c For the deployment of dolphin-scheduler-alert, there is a path

/The template file of  /opt/dolphinscheduler/conf/alert.properties.tpl  will be rendered into the file of / /opt/dolphinscheduler/conf/alert.properties according to our configured values

Which key of alert.properties.tpl has been changed?

[2021-05-25 03:29] ruanwenjun commented on #5496
@caoping6 If you are sure this is a Bug, I think you can try to submit a pr to resolve 👍

[2021-05-25 04:20] kocham opened #5542 "[Improvement][Project] Project Permission control"
Project Permission control  seems too simple，sugguesting to consider the way azkaban do, eg:
if i create a project ,i can authorizate it to any members, not only admin can do this.
admin user can be any members, not only the "amdin" user

[2021-05-25 05:57] xu-zhijian opened #5543 "[Question] when a sub process not enough thread to to run, it will never be recovered?"
i have  a process A which have a sub-process B。when A started and want to run B，but is no enough thread to to run B, B was setWaitingThreadProcess 。 but B was never  run  when thread  is enough。
**Which version of DolphinScheduler:**
 -[1.3.4]

[2021-05-25 07:14] Yao-MR-zz opened #5544 "[Feature][Data Lineage] Support the Data Lineage in the workflow task, And support the schedule the task according the Data Lineage"
**Describe the feature**
As we all know, the task registered in the dolphinscheduler is trigger by the dag of the workflow,
in other words, the task is triggered by the flow which is defined by the user, and we also can call it as the task Lineage

however, the dolphinscheduler is defined as a big data task scheduler, so the data is a very impotant,
and in other world, we regard the task as the so

[2021-05-25 07:39] linux0x5c commented on #5523
[code]

[2021-05-25 07:52] muzhongjiang opened #5545 "[Feature][api] Quoting the queue list of yarn"
[Feature][api] Quoting the queue list of yarn
**Quoting the queue list of yarn**
1、Get the yarn queue list through the api
2、Specify yarn queue for these components when creating a new workflow: hive, MapReduce, spark, flink

As shown：
![image](https://user-images.githubusercontent.com/7700151/119459481-4bc32880-bd70-11eb-8497-9b5120c9e53a.png)

[2021-05-25 08:27] gaomiup20 commented on #5523
Thank you for your reply. Just add the escape character "\" to the variable

[2021-05-25 08:34] gaomiup20 commented on #5523
@linux0x5c ，
Thank you for your reply！ According to the template you gave, can receive the enterprise wechat alarm by adding the escape character "\" to the variable

[2021-05-25 08:56] ruanwenjun opened #5546 "[Improvement][Api] Adding transaction when update process definition"
**Describe the question**
When we update a process definition, we need to perform multiple DML operations, it is needed to add transaction to ensure the data is consistent when an exception occurs.
https://github.com/apache/dolphinscheduler/blob/842c5400e605a8b8eb0d8fdc78701f10222063fd/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProcessDefinitionServiceImpl.java

[2021-05-25 08:57] gaomiup20 commented on #5523
@linux0x5c ，
Thank you for your reply！ According to the template you gave, can receive the enterprise wechat alarm by adding the escape character "\" to the variable

[2021-05-25 09:48] syb853553110 commented on #5411
I am sure

[2021-05-25 11:24] 865357384 opened #5547 "The waiting thread does not execute"
The test scheduling task exceeds the maximum number of tasks. If there are more than tasks, it will not be executed in the waiting thread state

![image](https://user-images.githubusercontent.com/24928399/119489924-cb5ff000-bd8e-11eb-9433-af73b643c415.png)

version：1.3.2

[2021-05-26 01:41] BoYiZhang commented on #5494
Yarn gets the task status through the URL. If Kerberos is enabled, the URL needs to support Kerberos
-------------------
Yarn 通过 的url 获取任务状态 , 如果开启Kerberos , 该url需要支持kerberos

[2021-05-26 01:44] BoYiZhang commented on #5494
restful api 支持SDK, 通过引用封装好的SDK,就可以远程操作DS[创建,执行工作流等操作.]
-------------
Restful API supports SDK. By referring to the encapsulated SDK, you can remotely operate DS [create, execute workflow, etc.]

[2021-05-26 01:57] BoYiZhang commented on #5494
1. Shut down the cluster gracefully #5470
2. Task execution is completed / hung up, resulting in the task instance or task state being executed all the time (1.3.6 fixed?)
3. Yarn gets the task status through the URL. If Kerberos is enabled, the URL needs to support Kerberos
4. The alarm plug-in of dev branch needs to have an instruction. At present, there is only  (informal version)[https://note.

[2021-05-26 02:57] Dipsy-chen opened #5548 "The flink job is running on yarn, but failed on DS"
When I start  a  flink job on DS,  the task always  fail in a few seconds ,however   It's still running on yarn.
Why?

![image](https://user-images.githubusercontent.com/38179695/119596021-102c6b00-be11-11eb-8d13-cd3578a8bf46.png)

![image](https://user-images.githubusercontent.com/38179695/119595988-030f7c00-be11-11eb-947f-20f9baed074b.png)

[2021-05-26 08:44] syb853553110 commented on #5411
The Chinese in the title cannot be too long，English is Ok.

In addition, it is recommended that the email body be made configurable。

邮件主题中的中文不能太长，大概五六个字就不行了，两三个汉字是正常的。
另外，邮件主题使用全英文，没有问题。

还有一个建议，邮件正文，希望也可以输入。

[2021-05-26 13:10] brave-lee commented on #57
组织：政采云
地点：中国杭州
联系方式：jiny.li@foxmail.com
场景：使用DolphinScheduler，调度数仓ETL任务

[2021-05-27 02:11] ruanwenjun commented on #5548
@Dipsy-chen Which version? dev branch?

[2021-05-27 02:24] Dipsy-chen commented on #5548
V1.3.4  .

[2021-05-27 02:35] Dipsy-chen commented on #5548
I get it.  DS  "yarnHaIps"  parame  is invalid ,because my yarn HA Backup master node  was down .
 After configuring the "singleYarnIp" parameter, DS return to normal

[2021-05-27 02:37] #5548 closed, assigned to nobody

[2021-05-27 03:16] CalvinKirs commented on #5542
Sounds good, is there a specific design?

[2021-05-27 03:21] CalvinKirs commented on #5545
Sounds good, We will complete this function when doing the Task plug-in. BTW, are you interested in joining in and contributing together?

[2021-05-27 03:25] CalvinKirs commented on #5544
@zhuangchong please take a look

[2021-05-27 03:28] #4466 closed

[2021-05-27 03:30] wen-hemin opened #5549 "[Bug][WorkerServer] SqlTask NullPointerException"
**Describe the bug**

The "printReplacedSql" method, before sqlParamsMap iterates, check null,
and sqlParamsMap.get(i) check null.

**Expected behavior**
When sqlParamsMap is null, no NullPointerException should be thrown.

**Which version of Dolphin Scheduler:**
 -[dev]

[2021-05-27 03:34] CalvinKirs commented on #5539
I agree with you, usually, the cache has been able to obtain data to a large extent, so we will reduce a large number of DB queries.

[2021-05-27 03:37] CalvinKirs commented on #5538
This is just a simple implementation, we considered accessing the registry before. But due to time reasons, it is not completed, you can look the previous issue.

[2021-05-27 04:33] geosmart opened #5550 "[wroker tolerance] master can't kill yarn job"
when worker is down, a master trigger worker tolerance,
when handle a yarn task tolerance, it first kill the yarn job by yarn rest api and make the task state to NEED_FAULT_TOLERANCE,
so the task can scheduler by master.

but now when kill the yarn job , the master build a taskExecutionContext and check the `executePath`.
but in my debug session, the `executePath` is always null ,and the yarn job

[2021-05-27 04:35] geosmart commented on #5550
just wan't to know why we have to check the `executePath` not null?

[2021-05-27 06:11] muzhongjiang commented on #5545
Of course, but I can only complete back - end code

[2021-05-27 07:22] SbloodyS opened #5551 "[Bug][Module Name] job state always in final state:RUNNING_EXECUTION when execution engine is tez"
[code]

**Which version of Dolphin Scheduler:**
 -[1.3.6]

[2021-05-27 10:29] geosmart opened #5553 "[Feature][TaskType] surpport flinkx data ingestion node"
[flinkx](https://github.com/DTStack/flinkx) is a data ingestion tool

just like datax or sqoop, but more powerful with tolerance and cdc

I wish dolphinscheduler support flinkx node as a new dag task type

[2021-05-27 10:40] qulibibg commented on #3851
我也出现这个问题，ResourceManager是单节点，最近考hadoop的配置文件的yarn的地址，多了端口号，singleYarnIp不应该出现端口号

[2021-05-27 11:32] 1015zhc commented on #3851
是的，我配置后正常了
![image](https://user-images.githubusercontent.com/47803280/119818783-35f56500-bf22-11eb-8277-0340cf9535eb.png)

[2021-05-28 07:38] qulibibg commented on #34
Greenplum和pg很像啊，可以直接连吗？

[2021-05-28 10:28] CalvinKirs commented on #3512
We still have many UTs that are not good enough. What we expect is to ensure the single and isolation of testing, otherwise, such problems will be exposed： I modified the registry plugin. Because of UT, most of the UTs need to be modified again.

At present, the server module needs to be refactored as soon as possible. Whoever is interested can choose what they like to refactor.

[2021-05-28 10:32] chengshiwen commented on #5457
The pr #4336 has fixed this issue so close

[2021-05-28 10:32] #5457 closed, assigned to chengshiwen

[2021-05-29 18:01] blackberrier commented on #5539
@CalvinKirs Can I try to make this improvement? First time to claim issue here, getting bit of nervous, hah :)
My idea is as follows:
In `MasterTaskExecThread.java` just get status from `taskInstanceCacheManager`.
In case of worker failure and doing worker tolerance, `ZKMasterClient.java` # `failoverWorker()` method set task status to `ExecutionStatus.NEED_FAULT_TOLERANCE`, and then send `CommandT

[2021-05-30 03:03] ruanwenjun commented on #5539
@blackberrier Hi, I get you point.
In your plan, there might be one thing need to consider, when a master do worker tolerance, if it cannot connect to the master that is executing this worker, how to handle this situation.
There may two possible reason for this case:
1. They may be deployed in different network centers, in the current architecture we don't require the masters to be able to communi

[2021-05-30 07:59] blackberrier commented on #5539
@ruanwenjun
Hi, the diagram is great, and I get the point.
It seems that we have to compromise on period of getting the right task status if we want to reduce the access to database.
Then, maybe the possible way is just as you said, In `MasterTaskExecThread.java` get status from `taskInstanceCacheManager` 9 times and then query database using `processService.findTaskInstanceById(taskInstance.getId

[2021-05-30 08:59] blackberrier commented on #5526
@s348268281
it seems that we can't see file on server unless you have mounted the path where the file is in. See volume and mountVolume for detail.
For the permission problem, you should make sure the problem source is inside docker or server. In my opinion, maybe the problem comes from docker directory permission.
Maybe you can specify absolute file name instead relative one ,and docker directory

[2021-05-30 14:39] ruanwenjun commented on #5539
I think in `MasterTaskExecThread ` you can get status from `taskInstanceCacheManager ` directly, and in `taskInstanceCacheManager ` schedule a timing thread to query `NEED_FAULT_TOLERANCE ` task from the database and update the cache, this might be better, the `taskInstanceCacheManager` can be used by many components.

The interval of querying `NEED_FAULT_TOLERANCE` task from database can be longe

[2021-05-30 15:00] blackberrier commented on #5539
ok, I'd like to accomplish this improvement in this way.

[2021-05-31 03:23] Nick-0723 commented on #1040
如果是批量导入任务，那一个一个上线将是灾难 / If it is a batch import task, it will be a disaster to go online one by one

[2021-05-31 04:47] ruanwenjun commented on #5539
@blackberrier Looking forward to your pr.
And one additional thing you may need to be considered here is that there are no indexes of `state`  in the `t_ds_task_instance` table. If you want to filter by state it may scan the whole table, which can be very slow, and I think you can just query the task existing in cache by id 😄

[2021-05-31 07:26] kocham commented on #546
这个需求2年了，还没考虑支持啊，LDAP在大数据验证领域用的还是非常广泛的，大部分组件都支持，感觉还挺重要的

[2021-05-31 07:34] chengshiwen commented on #5550
Close by #5552

[2021-05-31 07:34] #5550 closed, assigned to nobody

[2021-05-31 07:37] chengshiwen commented on #4872
Close since no updates for long time

[2021-05-31 07:37] #4872 closed, assigned to nobody

[2021-05-31 07:39] chengshiwen commented on #4848
Close since the 1.3.6 release has fixed this issue

[2021-05-31 07:39] #4848 closed, assigned to nobody

[2021-05-31 07:42] chengshiwen commented on #5368
Close since no updates for long time

[2021-05-31 07:42] #5368 closed, assigned to nobody

[2021-05-31 09:40] choucmei opened #5559 "[Bug][Master Server] Master Server was shutdown but the process still in system"
Master Server was shutdown  but the process still in system when i restart zookeeper cluster
version:1.3.6
1.stop all the zookeeper servers , then start.
2. use jps command,will find the Master Server process
3. the dolphinscheduler-master log:
scheduler DolphinScheduler_$_slave.. shutdown complete.
Quartz service stopped, and halt all task
Quartz service stopped

[2021-05-31 09:52] ruanwenjun commented on #5559
@choucmei There should be a thread that did not exit, can you find out ?

[2021-05-31 11:25] bo8888 opened #5560 "[Feature][YARN] different job uses different yarn-cluster"
i want config two yarn-cluster, a job use yarn-cluster at USA run the flink pre-job,b job use yarn-cluster at CHINA run the flink pre-job,use a same hdfs

[2021-06-01 01:28] choucmei commented on #5559
I found some thread running,but i think the major promblem is ServerNodeManagerExecutor_1.

[code]

[2021-06-01 02:21] #5525 closed, assigned to nobody

[2021-06-01 02:25] wqxs opened #5563 "Error executing Flink task ( flink: command not found )"
I used the 1.3.6 branch

[test.zip](https://github.com/apache/dolphinscheduler/files/6572941/test.zip)
You can use the JAR in the zip package
mian class ：org.java.wc.StreamWordCount
Deployment way ：local
Command line argument : --host 192.168.5.82 --port 9999 (You can specify any port you want to listen on)
Everything else is the default

Then execute the workflow and you will find the following e

[2021-06-01 02:45] ruanwenjun commented on #5559
@choucmei Great, there are a thread pool `executorService` in `ServerNodeManager` that doesn't close, can you submit a pr to fix it ?

[2021-06-01 02:52] #5563 closed, assigned to nobody

[2021-06-01 03:30] ruanwenjun opened #5564 "[Improvement][Worker] Do not verify the status of yarn in ShellCommandExecutor"
**Describe the question**
Currently, there are multiple task use `ShellCommandExecutor` to run task, such as `DataxTask`、`ShellTask`、`FlinkTask`, `SparkTask` etc.

In the `ShellCommandExecutor`, after executing the task, it will query the task status from yarn(if it can find applicationId from log),  and check the status. It is not reasonable, sometimes this will cause task failure.
https://github

[2021-06-01 05:06] davidzollo commented on #34
@qulibibg, of course

[2021-06-01 06:23] choucmei commented on #5559
yes,i can.
it will be my pleasure.

[2021-06-01 06:41] wangxj3 opened #5565 "[Feature][Master Worker-Server] Global Param passed by sense dependencies"
the param of task requires optimization,Need according to the dependency relationship between the nodes pass a variable's value, different depend on the chain of nodes before there is the same but different meanings, parameters can be distinguished from processInstance. GlobalParam, taskInstance. LocalParam

[2021-06-01 07:12] syb853553110 opened #5566 "[Bug][SQL] Only 10,000 data in the attachment"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
（1）Only 10,000 data in the attachment。
In fact, there are 170,000 records in mysql。
（2）In addition, when the subject of the email is too long, the suffix of the attachment is incorrect.

[2021-06-01 07:25] dddyszy commented on #57
* 组织：Mobtech
* 地点：中国上海
* 联系方式：shizhy@mob.com
* 场景：作为大数据平台分布式调度系统，管理数仓以及业务方的任务

[2021-06-01 07:48] kocham commented on #546
this issue is closed  in #3743

[2021-06-01 08:17] ruanwenjun commented on #5566
@syb853553110 Only 10000 rows of results will be sent 😄
https://github.com/apache/dolphinscheduler/blob/f8ecb536b71d6f33b71c73930832b62890b84ea1/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/worker/task/sql/SqlTask.java#L89-L93

[2021-06-01 09:15] syb853553110 commented on #5566
有参数可以修改嘛

[2021-06-01 09:30] ruanwenjun commented on #5566
@syb853553110 It's hard code, you can submit a pr to improve.

[2021-06-01 09:50] chengshiwen opened #5567 "[Improvement][UI] Add project id in web ui url for sharing"
**Describe the question**

The current web ui url is like `http://dolphinscheduler.org/dolphinscheduler/ui/#/projects/definition/list`, and it's unable to share due to lack of project id.

**What are the current deficiencies and the benefits of improvement**
- Easy to share

**Which version of DolphinScheduler:**
 -[dev]
 -[1.3.x]

**Describe alternatives you've considered**
A clear and concise de

[2021-06-01 10:20] syb853553110 commented on #5566
I looked at the source code and found the attachment name problem。

我看了下源码，找到了附件名称不对的问题，主要是这行代码的问题
org.apache.dolphinscheduler.alert.utils.MailUtils
part2.setFileName(MimeUtility.encodeText(title + Constants.EXCEL_SUFFIX_XLS,Constants.UTF_8,"B"));
改成
part2.setFileName(title + Constants.EXCEL_SUFFIX_XLS);
附件名称就不会出问题

[2021-06-01 10:26] syb853553110 commented on #5566
In addition, I think the way the attachment is generated can be optimized. The current plan is to put all into a JSONArray, and then generate files. I think it is possible to write 10,000 files at a time, which can solve the problem of excessive memory usage caused by putting all the files in the memory at one time. Is the limit of 10,000 also considered the problem of excessive memory usage when

[2021-06-01 11:46] Squidyu opened #5569 "[Bug][dolphinscheduler-api] verify proccess definition name fail"
**For better global communication, Please describe it in English. If you feel the description in English is not clear, then you can append description in Chinese(just for Mandarin(CN)), thx! **
**Describe the bug**
when use spaces in proccess definition name, it will check fail!

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Go to create a process, edit a simple task;
2. Save p

[2021-06-01 11:47] Squidyu commented on #5569
I'm working on it as my first PR

[2021-06-01 13:15] chengshiwen opened #5570 "[Bug][Worker] worker.groups in worker.properties is still commented after installation in 1.3.6"
**To Reproduce**
1. Run `install.sh`
2. See error

**Expected behavior**
Bug fixed

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Which version of Dolphin Scheduler:**
 -[dev]
 -[1.3.6]

**Additional context**
Add any other context about the problem here.

**Requirement or improvement**
- Please describe about your requirements or improvement suggestions.

[2021-06-01 13:28] chengshiwen commented on #5569
@Squidyu Welcome to contribute code and look forward to your pr!

[2021-06-02 02:44] ruanwenjun commented on #5566
Is the title in the database displayed correctly?

Query return number need to have a restriction, but I think it should be configurable, you can submit a pr to improve.

[2021-06-02 03:02] ruanwenjun commented on #5569
In fact, there are problems with concurrent modification in many places.

[2021-06-02 03:04] GaoTianDuo opened #5575 "[Improvement][Process definition] Improvement the Page style"
Improvement the page style when you create Process definition.

The present style is not beautiful and easy to operate，we can improvement that.

These are two designs：
The first one: Simple and clear
![1](https://user-images.githubusercontent.com/19991611/120417789-01eec980-c392-11eb-8556-c6b39943caeb.jpg)

the second：Compact layout, easy to use
![2](https://user-images.githubusercontent.com/19991

[2021-06-02 03:21] #5570 closed, assigned to nobody

[2021-06-02 03:25] zongqiren opened #5576 "Task status is not updated"
Everyone, the DS1.3.2 version we use, we often encounter a problem. In the workflow instance, a certain task shows the recovery waiting thread. In the task instance, it shows that it is running, but if you look at the data in the table, it is Actually it ran successfully, but the task instance status has been kept running. What should I do?

[2021-06-02 03:26] wengieeee opened #5577 "[Improvement][UI] Add Project Name in Project Page"
**Describe the feature**
Add project name in project page
The project page has no obvious place to tell the current project name, and when someone has multiple projects, it's common to configure the process to the wrong project.

**Describe the solution you'd like**
We edited the Module  UI code to change the title “Project Home” to the corresponding project name

The original page
![image](https:

[2021-06-02 03:40] chengshiwen opened #5578 "[Bug][Master] ServerNodeManager WorkerGroupListener capture data change and get data failed"
**To Reproduce**

Both the two master servers have the following logs:

[code]

**Expected behavior**

Bug fixed

**Screenshots**

![image](https://user-images.githubusercontent.com/4902714/120416055-1e3d3700-c38f-11eb-9c5e-813de3e73c65.png)
![image](https://user-images.githubusercontent.com/4902714/120416065-2301eb00-c38f-11eb-90ab-46117fdeaa09.png)
![image](https://user-images.githubusercontent.

[2021-06-02 04:01] #5569 closed, assigned to nobody

[2021-06-02 04:05] syb853553110 commented on #5566
For example, "2021-05月某某公司通话数据明细"

[2021-06-02 04:11] syb853553110 opened #5580 "[Improvement][SQL] Query return number should be configurable"
**Describe the question**
The SQL query result can only return 10,000 records, which are currently hard-coded

**Which version of DolphinScheduler:**
 -[1.3.6-Release]

**Describe alternatives you've considered**
I think it should be configurable.

[2021-06-02 05:08] chengshiwen commented on #5580
@syb853553110 Welcome to contribute code

[2021-06-02 05:43] ruanwenjun commented on #5578
This does happen, if the two master crash at the same time(If there is only one master, it's easier to reproduce).
Because currently we have multiple listeners that will listen the node changes.
https://github.com/apache/dolphinscheduler/blob/cc9e5d5d34fcf2279b267cca7df37a9e80eeba07/dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/master/zk/ZKMasterClient.java#L217-L228
If

[2021-06-02 07:05] chengshiwen commented on #3476
Close since it has been replied

[2021-06-02 07:05] #3476 closed

[2021-06-02 07:26] gaoyu2016 commented on #5444
ds-1.3.4

[2021-06-02 08:04] chengshiwen opened #5581 "[Bug][Mysql] Specific key was too long, max key length is 767 bytes for varchar(256) in some mysql with innodb_large_prefix=OFF"
**To Reproduce**

In some mysql with `innodb_large_prefix=OFF`, `Specific key was too long, max key length is 767 bytes` will occur when installing dolphinscheduler

**Expected behavior**
Bug fixed

**Screenshots**
![image](https://user-images.githubusercontent.com/4902714/120445701-75f19780-c3bb-11eb-9f36-68628724c818.png)

**Which version of Dolphin Scheduler:**
 -[1.3.6]
 -[dev]

**Additional c

[2021-06-02 09:01] chengshiwen opened #5583 "[Bug][SQL] org.postgresql.util.PSQLException: ERROR: column "group_name" named in key does not exist"
**To Reproduce**
Steps to reproduce the behavior, for example:
1. Run DolphinScheduler with PostgreSQL
2. Click on the class 'CreateDolphinScheduler'
3. See error

**Expected behavior**

Bug fixed

**Screenshots**

[code]

**Which version of Dolphin Scheduler:**
 -[dev]

@ruanwenjun

[2021-06-02 09:17] chengshiwen commented on #5183
Close since it has been replied

[2021-06-02 09:17] #5183 closed, assigned to nobody

[2021-06-02 09:28] TobyXi1997 opened #5584 "I encountered a problem here. When using api to authorize grantUser, the parameters are alertgroupId id and userIds"
我在填写api的时候alertgroupId   填写的是这个告警组的ID
id这个选项里面我填写的也是告警组ID
userIds填写的是用户ID
请问为什么我添加了告警组管理成功以后但是我的管理用户里面还没有用户。

[2021-06-02 09:32] ruanwenjun commented on #5583
Sorry, this is my problem, the table name is wrong.
https://github.com/apache/dolphinscheduler/blob/cc9e5d5d34fcf2279b267cca7df37a9e80eeba07/sql/upgrade/1.4.0_schema/postgresql/dolphinscheduler_ddl.sql#L279
t_ds_process_definition should changed to t_ds_alertgroup

https://github.com/apache/dolphinscheduler/blob/cc9e5d5d34fcf2279b267cca7df37a9e80eeba07/sql/upgrade/1.4.0_schema/postgresql/dolphinsc

[2021-06-02 09:42] gaoyu2016 commented on #5444
dolphinscheduler-logger-server-dx-pipe-sata663-pm.out日志提示：
10:04:11.207 [NettyServerWorkerThread_43] WARN org.apache.dolphinscheduler.remote.handler.NettyServerHandler - [id: 0xc7ee97cd, L:/10.11.56.141:50051 - R:/10.11.55.30:46713] is not writable, over high water level : 65536

[2021-06-02 09:51] zhuangchong commented on #5463
# 5583

[2021-06-02 09:51] zhuangchong commented on #5463
https://github.com/apache/dolphinscheduler/issues/5583

[2021-06-02 10:21] gaoyu2016 commented on #5444
先关了，重新建一个。

[2021-06-02 10:21] #5444 closed, assigned to nobody

[2021-06-02 10:26] gaoyu2016 opened #5585 "[Bug][worker] worker log stops scrolling"
一、问题如下
1.master、worker、logger进程都在，测试一个简单的shell任务。任务被调度到了10.11.56.141 这台worker机上。界面上，点击查看日志，可以看到执行 日志。
![image](https://user-images.githubusercontent.com/29685418/120464862-fb7f4280-c3cf-11eb-977c-88024292c783.png)

2.但是登录到10.11.56.141 这台调度机上：查看dolphinscheduler-worker.log，没有看到执行日志。
该调度机上的worker-server和logger-server进程从5.17重启，worker.log 从May 27 23:16之后，就没有滚动产生新的日志。
![image](https://user-images.github

[2021-06-02 10:32] chengshiwen commented on #5444
Redirect #5585

[2021-06-02 10:33] gaoyu2016 commented on #5585
dolphinscheduler-logger-server-dx-pipe-sata663-pm.out 提示：
19:35:33.107 [NettyServerWorkerThread_43] WARN org.apache.dolphinscheduler.remote.handler.NettyServerHandler - [id: 0x1bcc238a, L:/10.11.56.141:50051 - R:/10.11.55.30:31269] is not writable, over high water level : 65536
19:35:33.107 [NettyServerWorkerThread_43] WARN org.apache.dolphinscheduler.remote.handler.NettyServerHandler - [id: 0x1bc

[2021-06-02 11:24] chengshiwen commented on #5585
This debug information `DEBUG io.netty.util.internal.NativeLibraryLoader-Unable to load the library'netty_transport_native_epoll_x86_64' trying other loading mechanism` does not affect

[2021-06-02 11:25] CalvinKirs commented on #5585
3 is not a problem. This is a DEBUG level log. You can search for relevant information in Netty's issue.

[2021-06-02 11:27] CalvinKirs commented on #5585
This is overload protection, but it can also be optimized. What we need to understand is why accumulation occurs. Can you provide a version and more information?

[2021-06-03 01:33] zhbdesign commented on #5375
![image](https://user-images.githubusercontent.com/50901800/120572418-7a1ac500-c44e-11eb-90f5-dfc9880aafa5.png)

Set global variable, independent of DAG, make a global variable module

[2021-06-03 01:37] zhbdesign commented on #5482
#268

[2021-06-03 01:39] zhujian86 opened #5586 "[Question] the cluster hangs up caused by failing to obtain JDBC Connection"
I cannot see any master or worker on the Monitor page when the backend process instance is still alive on the ds server.

[code]

[2021-06-03 02:23] ruanwenjun commented on #5586
@zhujian86 Can you see some close log before this exception. The master or worker has already close, but it doesn't exit, because there is a threadpool doesn't shut down #5559
So you cannot get the master or worker on ui, but can see the process is alive.

[2021-06-03 02:45] zhujian86 commented on #5586
这个文件可以么？

From: ruanwenjun
Date: 2021-06-03 10:23
To: apache/dolphinscheduler
CC: 简单的电脑; Mention
Subject: Re: [apache/dolphinscheduler] [Question] the cluster hangs up caused by failing to obtain JDBC Connection (#5586)
@zhujian86 Can you see some close log before this exception. The master or worker has already close, but it does exit, because there is a threadpool doesn't shut down #5559
So you

[2021-06-03 02:47] wenyuanLv commented on #5494
Click on the histogram of the process definition statistics on the homepage or other places, can you view all the timed tasks currently online or created by the user?
There are more tasks afterwards, and I don't pay attention to which timed tasks I have started, and I need to check them one by one.
azkaban seems to have a similar page, I think this user experience is pretty good

---

在首页流程定义统计的柱状

[2021-06-03 02:48] zhujian86 commented on #5586
[code]

[2021-06-03 02:49] zhujian86 commented on #5586
这些日志够了么
[code]

[2021-06-03 02:54] xucx commented on #4827
same problem, please

[2021-06-03 03:02] chengshiwen commented on #5586
Related issue: #5578 #5491

[2021-06-03 03:08] gaoyu2016 commented on #5585
使用的是ds 1.3.4版本。

[2021-06-03 03:09] gaoyu2016 commented on #5585
重启worker和logger服务进程后，恢复。

[2021-06-03 03:23] CalvinKirs commented on #5585
Sorry, I am a little confused.

Do you mean that the log can be seen on the UI interface? But can’t see it when I log in to the server?

This is somewhat strange. The log on the UI interface is also by viewing the local log.

[2021-06-03 03:28] ruanwenjun commented on #5586
@zhujian86 Yes, the master is dead
[code]

[2021-06-03 03:48] gaoyu2016 commented on #5585
yes。非常奇怪。

[2021-06-03 03:52] CalvinKirs commented on #5585
You are referring to the worker's own running log. do you mean this? What you see on the UI is the task log.

[2021-06-03 04:01] gaoyu2016 commented on #5585
ui看到的：
![image](https://user-images.githubusercontent.com/29685418/120584959-78a7c780-c463-11eb-9af6-7af63f7273e0.png)

[2021-06-03 04:03] gaoyu2016 commented on #5585
![image](https://user-images.githubusercontent.com/29685418/120585037-a1c85800-c463-11eb-9c40-c60c40d7867a.png)

[2021-06-03 04:04] gaoyu2016 commented on #5585
但是，在10.11.56.141这台调度机上是看不到dolphinscheduler-worker.log 2021-06-02 最近几天的日志。

[2021-06-03 04:04] gaoyu2016 commented on #5585
![image](https://user-images.githubusercontent.com/29685418/120585159-da683180-c463-11eb-84e5-9c180f6e0526.png)

[2021-06-03 08:45] gaoyu2016 commented on #5585
谁能解决呢？

[2021-06-03 09:21] chengshiwen commented on #5526
@s348268281 Which version of ds? And please show us the python script. If you want to write the file into the host server, you should use volume

[2021-06-03 09:22] chengshiwen commented on #5207
Close since it has been replied.

[2021-06-03 09:22] #5207 closed, assigned to nobody

[2021-06-03 09:24] chengshiwen commented on #5230
@wynn45de Did you try the latest version 1.3.6 with docker? In 1.3.4 release of docker, there are some problems

[2021-06-03 09:46] chengshiwen commented on #5526
@s348268281 In 1.3.6 of docker, it is best to use a tenant named `root`, otherwise it may cause Permission denied problems.

As for volume, you can add the `    - ${PWD}/data:/opt/data` for `dolphinscheduler-worker volumes` in `docker-compose.yml` like:

[code]

After running `docker-compose up -d`, you can create a python task with the tenant named `root`:
[code]

After the task runs successfully

[2021-06-03 09:47] chengshiwen commented on #5526
Close since it has been replied

[2021-06-03 09:47] #5526 closed, assigned to nobody

[2021-06-03 09:49] #5437 closed, assigned to nobody

[2021-06-03 10:01] chengshiwen opened #5587 "[Bug][API] Tenant validation failure under Windows"
**To Reproduce**

In Windows, there are some characters like uppercase or space in some tenants. And the following code only judges Linux, it will cause tenant validation failure under Windows

https://github.com/apache/dolphinscheduler/blob/cc9e5d5d34fcf2279b267cca7df37a9e80eeba07/dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/TenantServiceImpl.java#L93-L96

**Exp

[2021-06-03 10:51] gaoyu2016 commented on #5585
who can help me ?

[2021-06-04 01:55] #5581 closed, assigned to chengshiwen

[2021-06-04 05:27] #5559 closed, assigned to nobody

[2021-06-04 07:30] didiaode18 commented on #5549
I will fix it

[2021-06-04 08:16] Squidyu commented on #5560
Can you solve your problem by deploying two jobs to different yarn clusters, grouping workers according to yarn clusters, and assigning different tasks to different workers groups

[2021-06-04 08:41] Squidyu commented on #5542
Remove the "isAdmin" of authorization verification, and be more rigorous. You need to add a lot of operation logs

[2021-06-04 11:23] QuakeWang commented on #5587
I will fix it.

[2021-06-04 11:44] zhuangchong commented on #5585
@gaoyu2016

1. Viewed on the UI interface, the log belongs to a specific task log. The log path is in $DOLPHINSCHEDULER_HOME/logs/folder/folder/*.log

2. dolphinscheduler-worker.log can view detailed task logs in version 1.3.5+, it is recommended to upgrade

[2021-06-05 07:42] brave-lee commented on #5499
I will implement the back-end java code logic

[2021-06-05 08:59] oryjk opened #5592 "Create workflow error"
### 通过官网docker创建服务的第二种方式，搭建好环境后，执行创建工作流定义，报错报错，报 t_ds_process_definition 表中没有找到modify_by 字段

### bug日志
A[ERROR] 2021-06-05 16:53:42.921 org.apache.dolphinscheduler.api.exceptions.ApiExceptionHandler:[45] - 创建工作流错误
2021/6/5 下午4:53:42org.springframework.jdbc.BadSqlGrammarException:
2021/6/5 下午4:53:42### Error updating database.  Cause: org.postgresql.util.PSQLException: ERROR: column "modify_by" of

[2021-06-05 09:10] SbloodyS commented on #5551
It seems Constants.ENDED is not in org.apache.dolphinscheduler.common.utils.HadoopUtils#getApplicationStatus.resulting in continuous running state.

[code]

[2021-06-05 11:10] chengshiwen commented on #5592
@oryjk Did you import the `sql/dolphinscheduler_postgre.sql` or `sql/dolphinscheduler_mysql.sql`?